Repository medusajs/medusa, pull requests merged in 2022-09, with the labels that each got.

#2124 feat: import strategy - sales channels support
  integration-tests/api/__tests__/batch-jobs/product/ff-sales-channel.js
  integration-tests/api/__tests__/batch-jobs/product/import.js
  integration-tests/api/__tests__/batch-jobs/product/product-import-ss.csv
  integration-tests/helpers/start-server-with-environment.js
  packages/medusa-file-minio/src/services/minio.js
  packages/medusa/src/repositories/sales-channel.ts
  packages/medusa/src/services/__tests__/sales-channel.ts
  packages/medusa/src/services/csv-parser.ts
  packages/medusa/src/services/sales-channel.ts
  packages/medusa/src/strategies/__tests__/batch-jobs/product/import.ts
  packages/medusa/src/strategies/batch-jobs/product/import.ts
  packages/medusa/src/strategies/batch-jobs/product/types.ts
Labels: automerge

#2136 feat(medusa): cleanup calculate tax amount utils and its usage
  packages/medusa/src/services/pricing.ts
  packages/medusa/src/services/totals.ts
  packages/medusa/src/strategies/__tests__/tax-calculation.js
  packages/medusa/src/strategies/tax-calculation.ts
  packages/medusa/src/utils/calculate-price-tax-amount.ts
Labels: type: feature or enhancement

#2137 feat(medusa): Tax inclusive discounts calculations
  integration-tests/api/__tests__/store/cart/ff-tax-inclusive-pricing.js
  integration-tests/api/factories/simple-discount-condition-factory.ts
  integration-tests/api/factories/simple-discount-factory.ts
  packages/medusa/src/services/__tests__/discount.js
  packages/medusa/src/services/discount.ts
  packages/medusa/src/services/totals.ts
Labels: type: feature or enhancement, automerge

#2000 feat(medusa): Convert SwapService to TypeScript
  .changeset/weak-turtles-behave.md
  integration-tests/plugins/__tests__/medusa-plugin-sendgrid/index.js
  packages/medusa/src/api/routes/admin/orders/create-swap-shipment.ts
  packages/medusa/src/api/routes/admin/orders/fulfill-swap.ts
  packages/medusa/src/api/routes/admin/swaps/list-swaps.ts
  packages/medusa/src/api/routes/store/swaps/index.ts
  packages/medusa/src/migrations/1661863940645-swap_fulfillment_status_requires_action.ts
  packages/medusa/src/models/swap.ts
  packages/medusa/src/services/__tests__/cart.js
  packages/medusa/src/services/__tests__/swap.ts
  packages/medusa/src/services/cart.ts
  packages/medusa/src/services/line-item.ts
  packages/medusa/src/services/swap.ts
  packages/medusa/src/types/fulfillment.ts
Labels: automerge

#2140 fix(medusa-plugin-meilisearch): Update `meilisearch` dependency
  .changeset/gold-trains-sniff.md
  packages/medusa-plugin-meilisearch/package.json
  yarn.lock
Labels: type: bug, type: chore

#2155 fix: make prices optional param when updating a variant
  .changeset/two-cats-stare.md
  integration-tests/api/__tests__/admin/product.js
  packages/medusa/src/api/routes/admin/products/update-variant.ts
Labels: automerge

#2104 Remove unused QueryBuilderService
  docs/content/references/services/classes/QueryBuilderService.md
  docs/content/references/services/index.md
  packages/medusa/src/services/__mocks__/query-builder.js
  packages/medusa/src/services/index.ts
  packages/medusa/src/services/query-builder.js
Labels: automerge

#2160 docs: added batch jobs concept documentation
  docs/content/advanced/backend/batch-jobs/index.md
  docs/content/advanced/backend/subscribers/overview.md
  www/docs/sidebars.js
Labels: type: docs

#2158 docs: adjust font size of sidebar items
  docs/content/contribution-guidelines.md
  www/docs/docusaurus.config.js
  www/docs/sidebars.js
  www/docs/src/css/custom.css
  www/docs/src/theme/DocSidebar/Desktop/styles.module.css
Labels: type: docs

#2161 docs: fixes for sidebar on small devices
  www/docs/src/css/custom.css
Labels: type: docs

#2170 docs: add upgrade guide for 1.3.8
  docs/content/advanced/backend/upgrade-guides/1-3-8.md
  www/docs/docusaurus.config.js
  www/docs/sidebars.js
Labels: type: docs

#2171 fix(medusa-file-spaces): return `fileKey` for Spaces upload
  .changeset/pretty-fishes-perform.md
  packages/medusa-file-minio/src/services/minio.js
  packages/medusa-file-spaces/src/services/digital-ocean.js
Labels: automerge

#2175 docs: added missing info for dry run
  docs/content/advanced/backend/batch-jobs/index.md
Labels: type: docs

#2186 docs: added guide for creating a cron job
  docs/content/advanced/backend/cron-jobs/create.md
  www/docs/sidebars.js
Labels: type: docs

#2189 docs: added edit section in manage regions user guide
  docs/content/user-guide/regions/manage.mdx
Labels: type: docs

#2190 docs: added manage order user guide
  docs/content/user-guide/orders/index.md
  docs/content/user-guide/orders/manage.md
  docs/content/user-guide/orders/manage.mdx
Labels: type: docs

#2176 fix(medusa): allow address updates on carts w/o existing address
  .changeset/young-dodos-tease.md
  packages/medusa/src/services/cart.ts
Labels: automerge

#2193 docs: updated Strapi docs
  docs/content/add-plugins/strapi.md
Labels: type: docs

#2194 docs: added user guide for Manage Order's Payments
  docs/content/user-guide/orders/payments.md
Labels: type: docs

#2198 docs: Added User Guide for Draft Orders
  docs/content/user-guide/orders/drafts.md
  docs/content/user-guide/orders/drafts.mdx
  docs/content/user-guide/orders/fulfillments.mdx
  docs/content/user-guide/orders/index.md
  docs/content/user-guide/orders/manage.mdx
  docs/content/user-guide/orders/payments.md
Labels: type: docs

#2199 docs: Added Returns User Guide
  docs/content/user-guide/orders/drafts.mdx
  docs/content/user-guide/orders/fulfillments.mdx
  docs/content/user-guide/orders/index.md
  docs/content/user-guide/orders/payments.md
  docs/content/user-guide/orders/returns.md
  docs/content/user-guide/orders/returns.mdx
Labels: type: docs

#2184 feat: order editing data model
  packages/medusa/src/loaders/feature-flags/order-editing.ts
  packages/medusa/src/migrations/1663059812399-order_editing.ts
  packages/medusa/src/models/order-edit.ts
  packages/medusa/src/models/order-item-change.ts
  packages/medusa/src/models/order.ts
  packages/medusa/src/repositories/order-edit.ts
  packages/medusa/src/repositories/order-item-change.ts
Labels: automerge

#2197 fix(medusa): cart to be created with a country code
  .changeset/eleven-beds-pretend.md
  packages/medusa/src/api/routes/store/carts/create-cart.ts
Labels: automerge

#2209 docs: added docs for how to Import Products using API
  docs/content/advanced/admin/import-products.mdx
  docs/content/advanced/storefront/how-to-implement-checkout-flow.mdx
  packages/medusa/src/api/routes/admin/uploads/create-upload.ts
  www/docs/sidebars.js
Labels: type: docs

#2211 docs: added claims user guide
  docs/content/user-guide/orders/claims.md
  docs/content/user-guide/orders/claims.mdx
  docs/content/user-guide/orders/index.md
Labels: type: docs

#2183 feat(medusa): Implement premises of order edit retrieval
  integration-tests/api/__tests__/admin/order-edit.js
  integration-tests/api/__tests__/store/order-edit.js
  integration-tests/api/factories/simple-order-edit-factory.ts
  integration-tests/api/factories/simple-order-item-change-factory.ts
  packages/medusa-js/src/index.ts
  packages/medusa-js/src/resources/admin/index.ts
  packages/medusa-js/src/resources/admin/order-edits.ts
  packages/medusa-js/src/resources/order-edits.ts
  packages/medusa-react/mocks/data/fixtures.json
  packages/medusa-react/mocks/handlers/admin.ts
  packages/medusa-react/src/hooks/admin/index.ts
  packages/medusa-react/src/hooks/admin/order-edits/index.ts
  packages/medusa-react/src/hooks/admin/order-edits/queries.ts
  packages/medusa-react/src/hooks/store/index.ts
  packages/medusa-react/src/hooks/store/order-edits/index.ts
  packages/medusa-react/src/hooks/store/order-edits/queries.ts
  packages/medusa-react/test/hooks/admin/order-edits/queries.test.ts
  packages/medusa-react/test/hooks/store/order-edits/queries.test.ts
  packages/medusa/src/api/index.js
  packages/medusa/src/api/routes/admin/index.js
  packages/medusa/src/api/routes/admin/order-edits/__tests__/get-order.ts
  packages/medusa/src/api/routes/admin/order-edits/get-order-edit.ts
  packages/medusa/src/api/routes/admin/order-edits/index.ts
  packages/medusa/src/api/routes/store/index.js
  packages/medusa/src/api/routes/store/order-edits/__tests__/get-order.ts
  packages/medusa/src/api/routes/store/order-edits/get-order-edit.ts
  packages/medusa/src/api/routes/store/order-edits/index.ts
  packages/medusa/src/models/index.ts
  packages/medusa/src/models/order-edit.ts
  packages/medusa/src/repositories/order-edit.ts
  packages/medusa/src/services/__mocks__/order-edit.js
  packages/medusa/src/services/__tests__/order-edit.ts
  packages/medusa/src/services/index.ts
  packages/medusa/src/services/order-edit.ts
  packages/medusa/src/types/order-edit.ts
  packages/medusa/src/utils/get-query-config.ts
Labels: type: feature or enhancement, automerge

#2213 docs: fixed design bug in API reference
  www/docs/docusaurus.config.js
  www/docs/src/css/custom.css
Labels: type: docs

#2215 docs: fixed errors in OAS comments
  packages/medusa/src/api/routes/admin/currencies/update-currency.ts
  packages/medusa/src/api/routes/admin/regions/update-region.ts
  packages/medusa/src/models/custom-shipping-option.ts
  packages/medusa/src/models/order-edit.ts
  packages/medusa/src/models/order.ts
  packages/medusa/src/models/price-list.ts
  scripts/build-openapi.js
Labels: type: docs

#2223 docs: changed announcement version
  www/docs/docusaurus.config.js
Labels: type: docs

#2187 feat(medusa): Implement premises of the creation flow of an order edit
  integration-tests/api/__tests__/admin/order-edit.js
  integration-tests/api/__tests__/store/order-edit.js
  packages/medusa-js/src/resources/admin/order-edits.ts
  packages/medusa-react/mocks/handlers/admin.ts
  packages/medusa-react/src/hooks/admin/order-edits/mutations.ts
  packages/medusa-react/src/hooks/admin/order-edits/queries.ts
  packages/medusa-react/test/hooks/admin/order-edits/mutations.test.ts
  packages/medusa/src/api/routes/admin/order-edits/__tests__/create-order-edit.ts
  packages/medusa/src/api/routes/admin/order-edits/create-order-edit.ts
  packages/medusa/src/api/routes/admin/order-edits/get-order-edit.ts
  packages/medusa/src/api/routes/admin/order-edits/index.ts
  packages/medusa/src/api/routes/store/order-edits/get-order-edit.ts
  packages/medusa/src/models/order-edit.ts
  packages/medusa/src/services/__mocks__/line-item.js
  packages/medusa/src/services/__mocks__/order-edit.js
  packages/medusa/src/services/__tests__/order-edit.ts
  packages/medusa/src/services/order-edit.ts
  packages/medusa/src/services/order.ts
  packages/medusa/src/services/totals.ts
  packages/medusa/src/types/order-edit.ts
Labels: automerge

#2224 fix(medusa): Normalize discount code before querying DB
  .changeset/polite-flowers-fly.md
  integration-tests/api/__tests__/admin/discount.js
  integration-tests/api/__tests__/admin/draft-order.js
  integration-tests/api/factories/simple-discount-factory.ts
  integration-tests/api/helpers/draft-order-seeder.js
  packages/medusa/src/models/discount.ts
  packages/medusa/src/services/discount.ts
Labels: type: bug, automerge

#2226 docs: added manage products user guide
  docs/content/add-plugins/strapi.md
  docs/content/user-guide/products/index.mdx
  docs/content/user-guide/products/manage.md
  docs/content/user-guide/products/manage.mdx
Labels: type: docs

#2227 docs: moved contribution guidelines link
  www/docs/sidebars.js
Labels: type: docs

#2232 fix: infer MA currency on PL create
  integration-tests/api/__tests__/admin/price-list.js
  packages/medusa/src/services/__tests__/price-list.js
  packages/medusa/src/services/price-list.ts
Labels: automerge

#2231 docs: automated announcement bar
  .github/workflows/docs-new-announcement.yml
  .github/workflows/docs-remove-announcement.yml
  package.json
  scripts/doc-change-release.js
  www/docs/announcement.json
  www/docs/docusaurus.config.js
  yarn.lock
Labels: type: docs

#2233 docs: update docusaurus to 2.1.0
  www/docs/.yarn/install-state.gz
  www/docs/yarn.lock
Labels: type: docs

#2159 docs for tax-inclusive pricing
  docs/content/advanced/backend/taxes/inclusive-pricing.md
  docs/content/advanced/backend/taxes/manual-calculation.md
  www/docs/sidebars.js
Labels: type: docs

#2236 docs: added feature flags docs
  docs/content/advanced/backend/feature-flags/toggle.md
  docs/content/advanced/backend/subscribers/events-list.md
  docs/content/advanced/backend/taxes/inclusive-pricing.md
  docs/content/advanced/backend/upgrade-guides/1-3-6.md
  www/docs/sidebars.js
Labels: type: docs

#2237 docs: added documentation necessary for local dev
  CONTRIBUTING.md
  docs/content/usage/local-development.md
  integration-tests/README.md
  www/docs/sidebars.js
Labels: type: docs

#2239 Feat(medusa): request order edit
  integration-tests/api/__tests__/admin/order-edit.js
  integration-tests/api/__tests__/batch-jobs/product/ff-sales-channel.js
  packages/medusa-js/src/resources/admin/order-edits.ts
  packages/medusa-react/mocks/handlers/admin.ts
  packages/medusa-react/src/hooks/admin/order-edits/mutations.ts
  packages/medusa-react/test/hooks/admin/order-edits/mutations.test.ts
  packages/medusa/src/api/routes/admin/order-edits/__tests__/request-confirmation.ts
  packages/medusa/src/api/routes/admin/order-edits/index.ts
  packages/medusa/src/api/routes/admin/order-edits/request-confirmation.ts
  packages/medusa/src/services/__mocks__/order-edit.js
  packages/medusa/src/services/__tests__/order-edit.ts
  packages/medusa/src/services/order-edit.ts
Labels: automerge

#2244 feat(medusa): Improve order edit retrieve active
  integration-tests/api/__tests__/admin/order-edit.js
  packages/medusa/src/services/order-edit.ts
Labels: automerge

#2247 docs: added how to create batch job strategy
  docs/content/advanced/backend/batch-jobs/create.md
  docs/styles/write-good/TooWordy.yml
  www/docs/sidebars.js
Labels: type: docs

#2240 Feat(medusa): cancel order edit
  integration-tests/api/__tests__/admin/order-edit.js
  packages/medusa-js/src/resources/admin/order-edits.ts
  packages/medusa-react/mocks/handlers/admin.ts
  packages/medusa-react/src/hooks/admin/order-edits/mutations.ts
  packages/medusa-react/test/hooks/admin/order-edits/mutations.test.ts
  packages/medusa/src/api/routes/admin/order-edits/__tests__/cancel-order-edit.ts
  packages/medusa/src/api/routes/admin/order-edits/cancel-order-edit.ts
  packages/medusa/src/api/routes/admin/order-edits/create-order-edit.ts
  packages/medusa/src/api/routes/admin/order-edits/index.ts
  packages/medusa/src/services/__mocks__/order-edit.js
  packages/medusa/src/services/__tests__/order-edit.ts
  packages/medusa/src/services/order-edit.ts
Labels: automerge

#2248 docs/Improve Docker Documentation
  docs/content/quickstart/quick-start-docker.md
  www/docs/sidebars.js
Labels: type: docs

#2261 docs: added the "Manage Price Lists" user guide
  docs/content/user-guide/price-lists/create.md
  docs/content/user-guide/price-lists/delete.md
  docs/content/user-guide/price-lists/edit.md
  docs/content/user-guide/price-lists/index.md
  docs/content/user-guide/price-lists/manage.mdx
Labels: type: docs

#2259 docs: conceptual docs for price lists and price selection strategy
  docs/content/advanced/backend/price-lists/index.md
  docs/content/advanced/backend/price-selection-strategy/index.md
  docs/content/advanced/backend/price-selection-strategy/override.md
  www/docs/sidebars.js
Labels: type: docs

#2243 feat: add a line item to an order edit
  integration-tests/api/__tests__/admin/order-edit.js
  packages/medusa-js/src/resources/admin/order-edits.ts
  packages/medusa-react/mocks/handlers/admin.ts
  packages/medusa-react/src/hooks/admin/order-edits/mutations.ts
  packages/medusa-react/test/hooks/admin/order-edits/mutations.test.ts
  packages/medusa/src/api/routes/admin/draft-orders/create-line-item.ts
  packages/medusa/src/api/routes/admin/order-edits/add-line-item.ts
  packages/medusa/src/api/routes/admin/order-edits/delete-order-edit.ts
  packages/medusa/src/api/routes/admin/order-edits/index.ts
  packages/medusa/src/services/__mocks__/order-edit-item-change.js
  packages/medusa/src/services/__tests__/line-item.js
  packages/medusa/src/services/__tests__/order-edit.ts
  packages/medusa/src/services/index.ts
  packages/medusa/src/services/line-item-adjustment.ts
  packages/medusa/src/services/line-item.ts
  packages/medusa/src/services/order-edit-item-change.ts
  packages/medusa/src/services/order-edit.ts
  packages/medusa/src/types/common.ts
  packages/medusa/src/types/order-edit.ts
Labels: automerge

#2265 docs: fixes to plugin documentation
  docs/content/advanced/backend/migrations/index.md
  docs/content/advanced/backend/plugins/create.md
Labels: type: docs

#2260 docs: added how-to documentation for the PriceList API
  docs/content/advanced/admin/import-products.mdx
  docs/content/advanced/backend/price-lists/index.md
  docs/content/advanced/backend/price-lists/use-api.mdx
  www/docs/sidebars.js
Labels: type: docs

#2263 Feat(medusa): add 'edits' to order relations if the feature is enabled
  packages/medusa/src/api/routes/admin/orders/index.ts
Labels: automerge

#2269 docs: fixed formatting issue in Create Batch Job Strategy docs
  docs/content/advanced/backend/batch-jobs/create.md
Labels: type: docs

#2271 feat(medusa): Improve transform middleware
  integration-tests/api/__tests__/store/order-edit.js
  packages/medusa/src/types/common.ts
  packages/medusa/src/types/order-edit.ts
  packages/medusa/src/utils/get-query-config.ts
Labels: automerge

#2278 docs: added note about base branch in docs contribution guidelines
  docs/content/contribution-guidelines.md
Labels: type: docs

#2275 feat(medusa, medusa-js, medusa-react): Implement store complete order…
  integration-tests/api/__tests__/store/order-edit.js
  packages/medusa-js/src/resources/order-edits.ts
  packages/medusa-react/mocks/handlers/store.ts
  packages/medusa-react/src/hooks/store/order-edits/mutations.ts
  packages/medusa-react/test/hooks/store/order-edits/mutations.test.ts
  packages/medusa/src/api/routes/store/order-edits/__tests__/complete-order-edit.ts
  packages/medusa/src/api/routes/store/order-edits/__tests__/decline-order-edit.ts
  packages/medusa/src/api/routes/store/order-edits/complete-order-edit.ts
  packages/medusa/src/api/routes/store/order-edits/index.ts
  packages/medusa/src/services/__mocks__/order-edit.js
  packages/medusa/src/services/__tests__/order-edit.ts
Labels: automerge

#2277 docs: removed deploy to Heroku button
  README.md
Labels: type: docs

#2274 docs: added Feedback component
  docs/content/user-guide/regions/shipping-options.mdx
  www/docs/.yarn/install-state.gz
  www/docs/package.json
  www/docs/src/components/Feedback/index.css
  www/docs/src/components/Feedback/index.js
  www/docs/src/components/Layout/Layout.js
  www/docs/src/components/Layout/index.js
  www/docs/src/components/Tabs/TabItem/TabItem.js
  www/docs/src/components/Tabs/TabItem/index.js
  www/docs/src/components/Tabs/TabItem/tab.module.css
  www/docs/src/components/Tabs/TabsPanel.js
  www/docs/src/components/Tabs/index.js
  www/docs/src/components/Tabs/tabs.module.css
  www/docs/src/theme/DocItem/Footer/index.js
  www/docs/yarn.lock
Labels: type: docs

#2281 fix: fixed remove announcement bar action
  .github/workflows/docs-remove-announcement.yml
  scripts/doc-change-release.js
Labels: type: docs
