Repository medusajs/medusa, pull requests merged in 2022-10, with the labels that each got.

#2330 docs: fixes to quickstart guide
  docs/content/quickstart/quick-start.md
Labels: type: docs

#2254 fix(medusa-payment-manual): Add missing update method
  .changeset/shaggy-needles-raise.md
  packages/medusa-payment-manual/src/services/manual-payment.js
Labels: type: bug

#1790 feat(medusa-payment-stripe): Migrate to the new Abstract payment service
  .changeset/nine-trainers-protect.md
  packages/medusa-payment-stripe/src/__mocks__/cart.js
  packages/medusa-payment-stripe/src/__mocks__/customer.js
  packages/medusa-payment-stripe/src/__mocks__/totals.js
  packages/medusa-payment-stripe/src/api/middlewares/await-middleware.js
  packages/medusa-payment-stripe/src/api/routes/hooks/stripe.js
  packages/medusa-payment-stripe/src/services/__mocks__/stripe-provider.js
  packages/medusa-payment-stripe/src/services/__tests__/stripe-provider.js
  packages/medusa-payment-stripe/src/services/stripe-bancontact.js
  packages/medusa-payment-stripe/src/services/stripe-blik.js
  packages/medusa-payment-stripe/src/services/stripe-giropay.js
  packages/medusa-payment-stripe/src/services/stripe-ideal.js
  packages/medusa-payment-stripe/src/services/stripe-provider.js
  packages/medusa-payment-stripe/src/services/stripe-przelewy24.js
  packages/medusa-payment-stripe/src/subscribers/cart.js
  packages/medusa/src/interfaces/payment-service.ts
  packages/medusa/src/loaders/defaults.ts
  packages/medusa/src/services/cart.ts
  packages/medusa/src/services/payment-provider.ts
Labels: type: feature or enhancement

#2334 docs: changed medusa's readme
  packages/medusa/README.md
Labels: type: docs

#2332 docs: Added pattern usage sections in the API Reference
  docs/api/admin-spec3-base.yaml
  docs/api/store-spec3-base.yaml
Labels: type: docs

#2342 docs: added sales channel conceptual guide
  docs/content/advanced/backend/sales-channels/index.md
  www/docs/sidebars.js
Labels: type: docs

#2347 docs: fix note in quickstart
  docs/content/quickstart/quick-start.md
Labels: type: docs

#2344 docs: added how-to guide for "Mange Sales Channels"
  docs/content/advanced/admin/import-products.mdx
  docs/content/advanced/backend/batch-jobs/create.md
  docs/content/advanced/backend/price-lists/use-api.mdx
  docs/content/advanced/backend/sales-channels/index.md
  docs/content/advanced/backend/sales-channels/manage-admin.mdx
  www/docs/sidebars.js
Labels: type: docs

#2361 docs: added customer group conceptual guide
  docs/content/advanced/backend/customer-groups/index.md
  www/docs/sidebars.js
Labels: type: docs

#2357 docs: added troubleshooting section for cli tool installation
  docs/content/advanced/backend/plugins/create.md
  docs/content/cli/reference.md
  docs/content/quickstart/quick-start.md
  docs/content/troubleshooting/cli-installation-errors.mdx
  docs/content/tutorial/0-set-up-your-development-environment.mdx
  www/docs/sidebars.js
Labels: type: docs

#2364 docs: added user guide for customer groups
  docs/content/user-guide/customers/groups.md
  docs/content/user-guide/customers/groups.mdx
  docs/content/user-guide/customers/index.md
Labels: type: docs

#2362 docs: added a how-to guide for customer groups
  docs/content/advanced/admin/use-customergroups-api.mdx
  docs/content/advanced/backend/customer-groups/index.md
  docs/content/advanced/backend/price-lists/use-api.mdx
  docs/content/advanced/backend/sales-channels/manage-admin.mdx
  www/docs/sidebars.js
Labels: type: docs

#2370 fix(medusa): Add allowed relations to order retrieval
  integration-tests/api/__tests__/admin/order/order.js
  packages/medusa/src/api/routes/admin/orders/index.ts
Labels: automerge

#2374 fix(medusa): Add sales channel to order on creation
  .changeset/nasty-ligers-travel.md
  integration-tests/api/__tests__/store/cart/ff-sales-channels.js
  packages/medusa/src/services/order.ts
Labels: type: bug

#2372 fix(medusa): Optimize Cart totals calculation
  .changeset/heavy-windows-shake.md
  integration-tests/api/__tests__/admin/order/order.js
  integration-tests/api/__tests__/store/cart/ff-tax-inclusive-pricing.js
  integration-tests/api/__tests__/taxes/automatic-taxes.js
  integration-tests/api/__tests__/taxes/cart.js
  integration-tests/api/__tests__/taxes/manual-taxes.js
  integration-tests/plugins/.yarnrc.yml
  integration-tests/plugins/__tests__/medusa-plugin-sendgrid/__snapshots__/index.js.snap
  integration-tests/plugins/package.json
  integration-tests/plugins/yarn.lock
  packages/medusa/src/api/routes/store/carts/__tests__/add-shipping-method.js
  packages/medusa/src/api/routes/store/carts/__tests__/create-cart.js
  packages/medusa/src/api/routes/store/carts/__tests__/create-line-item.js
  packages/medusa/src/api/routes/store/carts/__tests__/create-payment-sessions.js
  packages/medusa/src/api/routes/store/carts/__tests__/get-cart.js
  packages/medusa/src/api/routes/store/carts/__tests__/refresh-payment-session.js
  packages/medusa/src/api/routes/store/carts/__tests__/update-cart.js
  packages/medusa/src/api/routes/store/carts/__tests__/update-line-item.js
  packages/medusa/src/api/routes/store/carts/__tests__/update-payment-session.js
  packages/medusa/src/api/routes/store/carts/add-shipping-method.ts
  packages/medusa/src/api/routes/store/carts/calculate-taxes.ts
  packages/medusa/src/api/routes/store/carts/create-cart.ts
  packages/medusa/src/api/routes/store/carts/create-line-item.ts
  packages/medusa/src/api/routes/store/carts/create-payment-sessions.ts
  packages/medusa/src/api/routes/store/carts/decorate-line-items-with-totals.ts
  packages/medusa/src/api/routes/store/carts/delete-discount.ts
  packages/medusa/src/api/routes/store/carts/delete-line-item.ts
  packages/medusa/src/api/routes/store/carts/delete-payment-session.ts
  packages/medusa/src/api/routes/store/carts/get-cart.ts
  packages/medusa/src/api/routes/store/carts/index.ts
  packages/medusa/src/api/routes/store/carts/refresh-payment-session.ts
  packages/medusa/src/api/routes/store/carts/set-payment-session.ts
  packages/medusa/src/api/routes/store/carts/update-cart.ts
  packages/medusa/src/api/routes/store/carts/update-line-item.ts
  packages/medusa/src/api/routes/store/carts/update-payment-session.ts
  packages/medusa/src/models/cart.ts
  packages/medusa/src/models/shipping-method.ts
  packages/medusa/src/services/__mocks__/cart.js
  packages/medusa/src/services/__tests__/cart.js
  packages/medusa/src/services/__tests__/order.js
  packages/medusa/src/services/cart.ts
  packages/medusa/src/services/order.ts
  packages/medusa/src/services/totals.ts
  packages/medusa/src/strategies/__tests__/cart-completion.js
  packages/medusa/src/strategies/cart-completion.ts
Labels: automerge

#2351 fix(medusa) : Improperly referenced product id in product import strategy
  .changeset/khaki-pets-repeat.md
  integration-tests/api/__tests__/batch-jobs/product/ff-sales-channel.js
  integration-tests/api/__tests__/batch-jobs/product/import.js
  integration-tests/api/__tests__/batch-jobs/product/product-import-ss.csv
  integration-tests/api/__tests__/batch-jobs/product/product-import.csv
  packages/medusa/src/strategies/__tests__/batch-jobs/product/import.ts
  packages/medusa/src/strategies/batch-jobs/product/import.ts
  packages/medusa/src/strategies/batch-jobs/product/types.ts
  packages/medusa/src/strategies/batch-jobs/product/utils.ts
Labels: type: bug, automerge

#2379 docs: updated how-to docs to be more consistent
  docs/content/advanced/storefront/how-to-implement-checkout-flow.mdx
  docs/content/guides/carts-in-medusa.mdx
Labels: type: docs

#2382 docs: added google analytics
  www/docs/docusaurus.config.js
Labels: type: docs

#2391 Docs: added Strapi version
  docs/content/add-plugins/strapi.md
Labels: type: docs

#2396 docs: combine endpoints documentations
  docs/content/advanced/backend/endpoints/add-admin.md
  docs/content/advanced/backend/endpoints/add-storefront.md
  docs/content/advanced/backend/endpoints/add.md
  docs/content/advanced/backend/plugins/create.md
  docs/content/advanced/backend/services/create-service.md
  docs/content/homepage.md
  www/docs/sidebars.js
Labels: type: docs

#2397 docs: fixed search url error
  www/docs/docusaurus.config.js
Labels: type: docs

#2410 chore: generated API Reference
  docs/api/admin-spec3.json
  docs/api/admin-spec3.yaml
  docs/api/admin/code_samples/JavaScript/order-edits/postundefined
  docs/api/admin/code_samples/JavaScript/order-edits_{id}/deleteundefined
  docs/api/admin/code_samples/JavaScript/order-edits_{id}/getundefined
  docs/api/admin/code_samples/JavaScript/order-edits_{id}/postundefined
  docs/api/admin/code_samples/JavaScript/order-edits_{id}_cancel/postundefined
  docs/api/admin/code_samples/JavaScript/order-edits_{id}_changes_{change_id}/deleteundefined
  docs/api/admin/code_samples/JavaScript/order-edits_{id}_confirm/postundefined
  docs/api/admin/code_samples/JavaScript/order-edits_{id}_items/postundefined
  docs/api/admin/code_samples/JavaScript/order-edits_{id}_items_{item_id}/deleteundefined
  docs/api/admin/code_samples/JavaScript/order-edits_{id}_items_{item_id}/postundefined
  docs/api/admin/code_samples/JavaScript/order-edits_{id}_request/postundefined
  docs/api/admin/code_samples/Shell/order-edits/postundefined
  docs/api/admin/code_samples/Shell/order-edits_{id}/deleteundefined
  docs/api/admin/code_samples/Shell/order-edits_{id}/getundefined
  docs/api/admin/code_samples/Shell/order-edits_{id}/postundefined
  docs/api/admin/code_samples/Shell/order-edits_{id}_cancel/postundefined
  docs/api/admin/code_samples/Shell/order-edits_{id}_changes_{change_id}/deleteundefined
  docs/api/admin/code_samples/Shell/order-edits_{id}_confirm/postundefined
  docs/api/admin/code_samples/Shell/order-edits_{id}_items/postundefined
  docs/api/admin/code_samples/Shell/order-edits_{id}_items_{item_id}/deleteundefined
  docs/api/admin/code_samples/Shell/order-edits_{id}_items_{item_id}/postundefined
  docs/api/admin/code_samples/Shell/order-edits_{id}_request/postundefined
  docs/api/admin/components/schemas/line_item.yaml
  docs/api/admin/components/schemas/order_edit.yaml
  docs/api/admin/openapi.yaml
  docs/api/admin/paths/order-edits.yaml
  docs/api/admin/paths/order-edits_{id}.yaml
  docs/api/admin/paths/order-edits_{id}_cancel.yaml
  docs/api/admin/paths/order-edits_{id}_changes_{change_id}.yaml
  docs/api/admin/paths/order-edits_{id}_confirm.yaml
  docs/api/admin/paths/order-edits_{id}_items.yaml
  docs/api/admin/paths/order-edits_{id}_items_{item_id}.yaml
  docs/api/admin/paths/order-edits_{id}_request.yaml
  docs/api/store-spec3.json
  docs/api/store-spec3.yaml
  docs/api/store/code_samples/JavaScript/order-edits_{id}/getundefined
  docs/api/store/code_samples/JavaScript/order-edits_{id}_complete/postundefined
  docs/api/store/code_samples/JavaScript/order-edits_{id}_decline/postundefined
  docs/api/store/code_samples/Shell/order-edits_{id}/getundefined
  docs/api/store/code_samples/Shell/order-edits_{id}_complete/postundefined
  docs/api/store/code_samples/Shell/order-edits_{id}_decline/postundefined
  docs/api/store/components/schemas/line_item.yaml
  docs/api/store/components/schemas/order_edit.yaml
  docs/api/store/openapi.yaml
  docs/api/store/paths/order-edits_{id}.yaml
  docs/api/store/paths/order-edits_{id}_complete.yaml
  docs/api/store/paths/order-edits_{id}_decline.yaml
Labels: type: docs

#2268 docs: added user guide for import prices
  docs/content/user-guide/price-lists/import.mdx
  docs/content/user-guide/price-lists/index.md
  docs/content/user-guide/products/import.mdx
Labels: type: docs

#2345 docs: added how-to use sales channels guide
  docs/content/advanced/storefront/use-sales-channels.mdx
  www/docs/sidebars.js
Labels: type: docs

#2412 Update announcement.json
  www/docs/announcement.json
Labels: type: docs

#2413 docs: fixed some types in oas comments
  packages/medusa/src/api/routes/admin/customer-groups/list-customer-groups.ts
  packages/medusa/src/api/routes/admin/draft-orders/create-draft-order.ts
  packages/medusa/src/api/routes/admin/draft-orders/update-draft-order.ts
  packages/medusa/src/api/routes/admin/orders/update-order.ts
  packages/medusa/src/api/routes/store/customers/create-address.ts
  packages/medusa/src/api/routes/store/customers/update-address.ts
  packages/medusa/src/api/routes/store/customers/update-customer.ts
  packages/medusa/src/api/routes/store/products/get-product.ts
  packages/medusa/src/api/routes/store/products/list-products.ts
  packages/medusa/src/api/routes/store/variants/get-variant.ts
  packages/medusa/src/api/routes/store/variants/list-variants.ts
  packages/medusa/src/models/address.ts
  packages/medusa/src/models/product-variant.ts
Labels: type: docs

#2418 docs: added a note about generate command in migration documentation
  docs/content/advanced/backend/migrations/index.md
Labels: type: docs

#2398 docs: migrated from javascript to typescript
  docs/content/advanced/backend/cron-jobs/create.md
  docs/content/advanced/backend/endpoints/add.md
  docs/content/advanced/backend/notification/how-to-create-notification-provider.md
  docs/content/advanced/backend/payment/how-to-create-payment-provider.md
  docs/content/advanced/backend/services/create-service.md
  docs/content/advanced/backend/shipping/add-fulfillment-provider.md
  docs/content/advanced/backend/subscribers/create-subscriber.md
Labels: type: docs

#2420 fix(medusa): remove changes when deleting order edits
  integration-tests/api/__tests__/admin/order-edit.js
  packages/medusa/src/services/order-edit.ts
Labels: automerge

#2424 fix(medusa): Product import - allow null product type
  .changeset/grumpy-bottles-move.md
  integration-tests/api/__tests__/batch-jobs/product/import.js
  integration-tests/api/__tests__/batch-jobs/product/product-import.csv
  packages/medusa/src/strategies/batch-jobs/product/import.ts
  packages/medusa/src/strategies/batch-jobs/product/types.ts
Labels: automerge

#2427 fix(medusa): List products by `type_id`
  .changeset/afraid-cups-turn.md
  integration-tests/api/__tests__/admin/product.js
  integration-tests/api/__tests__/store/products.js
  packages/medusa/src/api/routes/admin/products/list-products.ts
  packages/medusa/src/api/routes/store/products/list-products.ts
  packages/medusa/src/types/product.ts
Labels: automerge

#2270 fix(medusa, medusa-js): Use price selection strategy for `GET /admin/variants`
  .changeset/few-maps-hammer.md
  integration-tests/api/__tests__/admin/__snapshots__/variant.js.snap
  integration-tests/api/__tests__/admin/variant.js
  integration-tests/api/helpers/admin-variants-seeder.js
  integration-tests/api/helpers/store-product-seeder.js
  integration-tests/api/package.json
  integration-tests/api/yarn.lock
  packages/medusa-js/src/resources/admin/variants.ts
  packages/medusa/src/api/routes/admin/variants/index.ts
  packages/medusa/src/api/routes/admin/variants/list-variants.ts
  packages/medusa/src/api/routes/store/variants/list-variants.ts
  packages/medusa/src/types/price-selection.ts
Labels: automerge

#2439 docs: added Dependency Container documentation
  docs/content/advanced/backend/dependency-container/index.md
  www/docs/sidebars.js
Labels: type: docs

#2440 docs: made additional changes part of migrating from JavaScript to TypeScript in the documentation
  docs/content/advanced/backend/entities/overview.md
  docs/content/advanced/backend/services/overview.md
  docs/content/advanced/backend/subscribers/overview.md
Labels: type: docs

#2441 docs: changed heroku docs based on their plan changes
  docs/content/deployments/server/deploying-on-heroku.mdx
Labels: type: docs

#2446 docs: added missing import in Create Service docs
  docs/content/advanced/backend/services/create-service.md
Labels: type: docs

#2428 Docs: Added automated freshness check
  .github/workflows/docs-freshness-check.yml
  package.json
  scripts/freshness-check.js
  yarn.lock
Labels: type: docs

#2457 feat: list OE by order id
  integration-tests/api/__tests__/admin/order-edit.js
  packages/medusa/src/api/routes/admin/order-edits/list-order-edit.ts
Labels: automerge

#2467 chore(medusa): Move formatException to the errorHandler to be always applied and not have to apply it manually
  packages/medusa/src/api/middlewares/error-handler.ts
  packages/medusa/src/services/customer-group.ts
  packages/medusa/src/services/customer.ts
  packages/medusa/src/services/discount.ts
  packages/medusa/src/services/price-list.ts
  packages/medusa/src/services/product-collection.ts
  packages/medusa/src/services/product.ts
  packages/medusa/src/utils/exception-formatter.ts
Labels: automerge

#2473 docs: added core package to troubleshooting step
  docs/content/advanced/backend/plugins/create.md
Labels: type: docs

#2478 docs: redesigned navigation bar
  www/docs/docusaurus.config.js
  www/docs/src/css/_card.css
  www/docs/src/css/_code.css
  www/docs/src/css/_dark.css
  www/docs/src/css/_docsearch.css
  www/docs/src/css/_docspage.css
  www/docs/src/css/_footer.css
  www/docs/src/css/_navbar.css
  www/docs/src/css/_redocly.css
  www/docs/src/css/_sidebar.css
  www/docs/src/css/_toc.css
  www/docs/src/css/_typography.css
  www/docs/src/css/_variables.css
  www/docs/src/css/custom.css
  www/docs/src/theme/ColorModeToggle/index.js
  www/docs/src/theme/ColorModeToggle/styles.module.css
  www/docs/src/theme/Navbar/Content/index.js
  www/docs/src/theme/Navbar/Content/styles.module.css
  www/docs/src/theme/Navbar/MobileSidebar/Header/index.js
  www/docs/src/theme/Navbar/MobileSidebar/PrimaryMenu/index.js
  www/docs/static/img/logo-dark.svg
  www/docs/static/img/logo.svg
Labels: type: docs

#2471 feat(medusa): Align product import and export
  .changeset/rotten-squids-arrive.md
  integration-tests/api/__tests__/batch-jobs/product/export.js
  integration-tests/api/__tests__/batch-jobs/product/import.js
  integration-tests/api/__tests__/batch-jobs/product/product-import-ss.csv
  integration-tests/api/__tests__/batch-jobs/product/product-import.csv
  packages/medusa/src/interfaces/batch-job-strategy.ts
  packages/medusa/src/interfaces/csv-parser.ts
  packages/medusa/src/loaders/strategies.ts
  packages/medusa/src/strategies/__tests__/batch-jobs/product/__snapshots__/export.ts.snap
  packages/medusa/src/strategies/__tests__/batch-jobs/product/export.ts
  packages/medusa/src/strategies/__tests__/batch-jobs/product/import.ts
  packages/medusa/src/strategies/batch-jobs/product/export.ts
  packages/medusa/src/strategies/batch-jobs/product/import.ts
  packages/medusa/src/strategies/batch-jobs/product/index.ts
  packages/medusa/src/strategies/batch-jobs/product/types.ts
  packages/medusa/src/strategies/batch-jobs/product/types/columns-definition.ts
  packages/medusa/src/strategies/batch-jobs/product/types/index.ts
Labels: automerge

#2480 docs: redesigned homepage
  docs/content/advanced/backend/upgrade-guides/1-3-0.md
  docs/content/advanced/backend/upgrade-guides/1-3-6.md
  docs/content/advanced/backend/upgrade-guides/1-3-8.md
  docs/content/deployments/admin/deploying-on-netlify.md
  docs/content/deployments/server/deploying-on-digital-ocean.md
  docs/content/deployments/server/deploying-on-heroku.mdx
  docs/content/deployments/server/deploying-on-qovery.md
  docs/content/deployments/storefront/deploying-gatsby-on-netlify.md
  docs/content/homepage.md
  docs/content/homepage.mdx
  www/docs/docusaurus.config.js
  www/docs/src/css/_card.css
  www/docs/src/css/_docspage.css
  www/docs/src/css/_typography.css
  www/docs/src/css/_variables.css
  www/docs/src/theme/DocCard/index.js
  www/docs/src/theme/DocCard/index_OLD.js
  www/docs/src/theme/DocCard/styles.module.css
  www/docs/src/theme/DocCardList/index.js
  www/docs/src/theme/DocItem/Footer/index.js
  www/docs/static/img/admin-icon-dark.svg
  www/docs/static/img/admin-icon.svg
  www/docs/static/img/cart-icon-dark.svg
  www/docs/static/img/cart-icon.svg
  www/docs/static/img/dev-env-icon-dark.svg
  www/docs/static/img/dev-env-icon.svg
  www/docs/static/img/fast-delivery-icon-dark.svg
  www/docs/static/img/fast-delivery-icon.svg
  www/docs/static/img/gatsby-icon-dark.svg
  www/docs/static/img/gatsby-icon.svg
  www/docs/static/img/nextjs-icon-dark.svg
  www/docs/static/img/nextjs-icon.svg
  www/docs/static/img/payment-accepted-icon-dark.svg
  www/docs/static/img/payment-accepted-icon.svg
  www/docs/static/img/quickstart-icon.svg
  www/docs/static/img/server-icon-dark.svg
  www/docs/static/img/server-icon.svg
  www/docs/static/img/stripe-icon-dark.svg
  www/docs/static/img/stripe-icon.svg
  www/docs/static/img/tee-icon-dark.svg
  www/docs/static/img/tee-icon.svg
  www/docs/static/img/terminal-icon-dark.svg
  www/docs/static/img/terminal-icon.svg
Labels: type: docs

#2481 docs: fix broken link redis
  docs/content/advanced/backend/notification/how-to-create-notification-provider.md
Labels: type: docs

#2135 Feat/medusa plugin reviews
  .github/workflows/docs-freshness-check.yml
  README.md
  docs/content/advanced/backend/batch-jobs/create.md
  docs/content/advanced/backend/dependency-container/index.md
  docs/content/advanced/backend/entities/overview.md
  docs/content/advanced/backend/notification/how-to-create-notification-provider.md
  docs/content/advanced/backend/plugins/create.md
  docs/content/advanced/backend/services/create-service.md
  docs/content/advanced/backend/services/overview.md
  docs/content/advanced/backend/subscribers/overview.md
  docs/content/deployments/server/deploying-on-heroku.mdx
  docs/content/guides/carts-in-medusa.mdx
  package.json
  scripts/freshness-check.js
  www/docs/announcement.json
  www/docs/sidebars.js
  yarn.lock
Labels: type: feature or enhancement, needs rebase

#2442 feat(medusa): add analytics config
  integration-tests/api/__tests__/admin/__snapshots__/analytics-config.js.snap
  integration-tests/api/__tests__/admin/__snapshots__/user.js.snap
  integration-tests/api/__tests__/admin/analytics-config.js
  integration-tests/api/__tests__/admin/user.js
  integration-tests/api/__tests__/batch-jobs/api.js
  integration-tests/api/__tests__/batch-jobs/price-list/import.js
  integration-tests/api/__tests__/batch-jobs/product/ff-sales-channel.js
  integration-tests/api/__tests__/batch-jobs/product/import.js
  integration-tests/api/__tests__/batch-jobs/product/product-import-ss-template.csv
  integration-tests/api/__tests__/batch-jobs/product/product-import-template.csv
  integration-tests/api/__tests__/claims/index.js
  integration-tests/api/factories/simple-analytics-config-factory.ts
  packages/medusa/src/api/index.js
  packages/medusa/src/api/routes/admin/analytics-configs/create-analytics-config.ts
  packages/medusa/src/api/routes/admin/analytics-configs/delete-analytics-config.ts
  packages/medusa/src/api/routes/admin/analytics-configs/get-analytics-config.ts
  packages/medusa/src/api/routes/admin/analytics-configs/index.ts
  packages/medusa/src/api/routes/admin/analytics-configs/update-analytics-config.ts
  packages/medusa/src/api/routes/admin/index.js
  packages/medusa/src/loaders/feature-flags/analytics.ts
  packages/medusa/src/migrations/1666173221888-add_analytics_config.ts
  packages/medusa/src/models/analytics-config.ts
  packages/medusa/src/models/index.ts
  packages/medusa/src/repositories/analytics-config.ts
  packages/medusa/src/services/analytics-config.ts
  packages/medusa/src/services/index.ts
  packages/medusa/src/services/user.ts
  packages/medusa/src/types/analytics-config.ts
Labels: automerge

#2491 docs: redesigned notes
  www/docs/src/css/_code.css
  www/docs/src/css/_note.css
  www/docs/src/css/_variables.css
  www/docs/src/css/custom.css
  www/docs/src/theme/Admonition/index.js
  www/docs/src/theme/Admonition/styles.module.css
  www/docs/static/img/info.svg
  www/docs/static/img/tip.svg
  www/docs/static/img/warning.svg
Labels: type: docs

#2482 fix(medusa): allow filtering collections by handle
  .changeset/polite-emus-explain.md
  packages/medusa/src/api/routes/store/collections/list-collections.ts
Labels: automerge

#2479 fix(medusa): draft order set payment as captured
  integration-tests/api/__tests__/admin/draft-order.js
  packages/medusa/src/api/routes/admin/draft-orders/register-payment.ts
Labels: automerge

#2516 Docs: Applied Typography redesign rules
  docs/content/deployments/admin/index.mdx
  docs/content/deployments/server/index.mdx
  docs/content/deployments/storefront/index.mdx
  www/docs/.gitignore
  www/docs/src/css/_card.css
  www/docs/src/css/_code.css
  www/docs/src/css/_docspage.css
  www/docs/src/css/_note.css
  www/docs/src/css/_typography.css
  www/docs/src/css/_variables.css
  www/docs/static/img/link-icon.svg
Labels: type: docs
