Repository medusajs/medusa, pull requests merged in 2022-07, with the labels that each got.

#1659 Feat(medusa): Convert fulfillment service to typescript
  packages/medusa/src/services/__tests__/fulfillment.js
  packages/medusa/src/services/fulfillment.ts
  packages/medusa/src/types/fulfillment.ts
Labels: automerge

#1749 fix(webshipper): only add invoices if invoice generator produces a file
  packages/medusa-fulfillment-webshipper/src/services/webshipper-fulfillment.js
Labels: automerge

#1751 fix(meilisearch): remove medusa-interfaces dependency
  packages/medusa-plugin-meilisearch/package.json
Labels: automerge

#1759 fix: add shipping taxes
  integration-tests/api/__tests__/taxes/shipping-options.js
  packages/medusa/src/api/routes/admin/shipping-options/list-shipping-options.ts
  packages/medusa/src/api/routes/store/shipping-options/list-options.ts
  packages/medusa/src/api/routes/store/shipping-options/list-shipping-options.ts
  packages/medusa/src/repositories/tax-rate.ts
  packages/medusa/src/services/__mocks__/pricing.js
  packages/medusa/src/services/pricing.ts
  packages/medusa/src/services/shipping-profile.js
  packages/medusa/src/services/tax-provider.ts
  packages/medusa/src/services/tax-rate.ts
  packages/medusa/src/types/pricing.ts
Labels: automerge

#1667 Feat(medusa): apply transform query usage
  integration-tests/api/__tests__/admin/__snapshots__/colllections.js.snap
  integration-tests/api/__tests__/admin/colllections.js
  packages/medusa/src/api/routes/admin/collections/add-products.ts
  packages/medusa/src/api/routes/admin/collections/create-collection.ts
  packages/medusa/src/api/routes/admin/collections/delete-collection.ts
  packages/medusa/src/api/routes/admin/collections/get-collection.ts
  packages/medusa/src/api/routes/admin/collections/index.ts
  packages/medusa/src/api/routes/admin/collections/list-collections.ts
  packages/medusa/src/api/routes/admin/collections/remove-products.ts
  packages/medusa/src/api/routes/admin/collections/update-collection.ts
  packages/medusa/src/api/routes/admin/customer-groups/add-customers-batch.ts
  packages/medusa/src/api/routes/admin/customer-groups/create-customer-group.ts
  packages/medusa/src/api/routes/admin/customer-groups/delete-customer-group.ts
  packages/medusa/src/api/routes/admin/customer-groups/delete-customers-batch.ts
  packages/medusa/src/api/routes/admin/customer-groups/get-customer-group-customers.ts
  packages/medusa/src/api/routes/admin/customer-groups/get-customer-group.ts
  packages/medusa/src/api/routes/admin/customer-groups/index.ts
  packages/medusa/src/api/routes/admin/customer-groups/list-customer-groups.ts
  packages/medusa/src/api/routes/admin/customer-groups/update-customer-group.ts
  packages/medusa/src/types/global.ts
  packages/medusa/src/utils/get-query-config.ts
Labels: type: feature or enhancement

#1766 fix(medusa-js): Fix `stringifyNullProperties` util
  packages/medusa-js/src/utils.ts
  packages/medusa-js/test/utils/utils.test.ts
Labels: type: bug, automerge

#1680 chore: Add contact links to issue overview
  .github/ISSUE_TEMPLATE/config.yml
Labels: type: chore

#1755 fix(webshipper): allow cancelling WS orders with error status
  packages/medusa-fulfillment-webshipper/README.md
  packages/medusa-fulfillment-webshipper/src/services/webshipper-fulfillment.js
  packages/medusa-fulfillment-webshipper/src/utils/webshipper.js
Labels: automerge

#1771 chore(medusa-react): Move `@medusajs/medusa` to peerDeps in `medusa-react`
  packages/medusa-react/README.md
  packages/medusa-react/package.json
Labels: type: chore

#1772 hotfix(medusa): add line item adjustments for correct calculation in authorizePayment
  packages/medusa/src/services/cart.ts
Labels: automerge

#1782 feat(medusa): Sales Channels model
  packages/medusa/src/loaders/feature-flags/sales-channels.ts
  packages/medusa/src/migrations/1656949291839-sales_channel.ts
  packages/medusa/src/models/batch-job.ts
  packages/medusa/src/models/cart.ts
  packages/medusa/src/models/order.ts
  packages/medusa/src/models/product.ts
  packages/medusa/src/models/sales-channel.ts
  packages/medusa/src/models/store.ts
  packages/medusa/src/repositories/sales-channel.ts
  packages/medusa/src/utils/feature-flag-decorators.ts
Labels: automerge

#1786 docs: update README
  README.md
  docs/content/deployments/server/deploying-on-heroku.mdx
  docs/content/quickstart/quick-start.md
Labels: type: docs, automerge

#1798 docs: update api reference
  docs/api/admin-spec3.json
  docs/api/admin-spec3.yaml
  docs/api/store-spec3.json
  docs/api/store-spec3.yaml
Labels: type: docs

#1791 fix(medusa-payment-klarna): Join adjustments for total calculation
  .changeset/honest-olives-behave.md
  packages/medusa-payment-klarna/src/api/routes/hooks/shipping.js
Labels: automerge

#1793 feat(medusa, medusa-js, medusa-react): Implement Sales Channel retrieval
  integration-tests/api/__tests__/admin/__snapshots__/sales-channels.js.snap
  integration-tests/api/__tests__/admin/sales-channels.js
  integration-tests/api/factories/index.ts
  integration-tests/api/factories/simple-sales-channel-factory.ts
  packages/medusa-js/src/resources/admin/index.ts
  packages/medusa-js/src/resources/admin/sales-channels.ts
  packages/medusa-react/mocks/data/fixtures.json
  packages/medusa-react/mocks/handlers/admin.ts
  packages/medusa-react/src/hooks/admin/index.ts
  packages/medusa-react/src/hooks/admin/sales-channels/index.ts
  packages/medusa-react/src/hooks/admin/sales-channels/mutations.ts
  packages/medusa-react/src/hooks/admin/sales-channels/queries.ts
  packages/medusa-react/test/hooks/admin/sales-channels/queries.test.ts
  packages/medusa/src/api/index.js
  packages/medusa/src/api/routes/admin/index.js
  packages/medusa/src/api/routes/admin/sales-channels/__tests__/get-sales-channel.js
  packages/medusa/src/api/routes/admin/sales-channels/get-sales-channel.ts
  packages/medusa/src/api/routes/admin/sales-channels/index.ts
  packages/medusa/src/loaders/feature-flags/index.ts
  packages/medusa/src/models/index.ts
  packages/medusa/src/repositories/sales-channel.ts
  packages/medusa/src/services/__mocks__/sales-channel.js
  packages/medusa/src/services/__tests__/batch-job.ts
  packages/medusa/src/services/__tests__/sales-channel.ts
  packages/medusa/src/services/sales-channel.ts
  packages/medusa/src/types/global.ts
Labels: type: feature or enhancement, type: chore

#1806 chore: change workflow trigger condition
  .github/workflows/generate-reference.yml
Labels: type: chore

#1809 docs: updated services reference
  docs/content/references/services/classes/AuthService.md
  docs/content/references/services/classes/BatchJobService.md
  docs/content/references/services/classes/CartService.md
  docs/content/references/services/classes/ClaimItemService.md
  docs/content/references/services/classes/ClaimService.md
  docs/content/references/services/classes/CustomShippingOptionService.md
  docs/content/references/services/classes/CustomerGroupService.md
  docs/content/references/services/classes/CustomerService.md
  docs/content/references/services/classes/DiscountService.md
  docs/content/references/services/classes/DraftOrderService.md
  docs/content/references/services/classes/EventBusService.md
  docs/content/references/services/classes/FulfillmentProviderService.md
  docs/content/references/services/classes/FulfillmentService.md
  docs/content/references/services/classes/GiftCardService.md
  docs/content/references/services/classes/IdempotencyKeyService.md
  docs/content/references/services/classes/InventoryService.md
  docs/content/references/services/classes/LineItemService.md
  docs/content/references/services/classes/MiddlewareService.md
  docs/content/references/services/classes/NoteService.md
  docs/content/references/services/classes/NotificationService.md
  docs/content/references/services/classes/OauthService.md
  docs/content/references/services/classes/OrderService.md
  docs/content/references/services/classes/PaymentProviderService.md
  docs/content/references/services/classes/PricingService.md
  docs/content/references/services/classes/ProductCollectionService.md
  docs/content/references/services/classes/ProductService.md
  docs/content/references/services/classes/ProductTypeService.md
  docs/content/references/services/classes/ProductVariantService.md
  docs/content/references/services/classes/QueryBuilderService.md
  docs/content/references/services/classes/RegionService.md
  docs/content/references/services/classes/ReturnReasonService.md
  docs/content/references/services/classes/ReturnService.md
  docs/content/references/services/classes/SearchService.md
  docs/content/references/services/classes/ShippingOptionService.md
  docs/content/references/services/classes/ShippingProfileService.md
  docs/content/references/services/classes/StoreService.md
  docs/content/references/services/classes/StrategyResolverService.md
  docs/content/references/services/classes/SwapService.md
  docs/content/references/services/classes/SystemPaymentProviderService.md
  docs/content/references/services/classes/TaxProviderService.md
  docs/content/references/services/classes/TaxRateService.md
  docs/content/references/services/classes/TotalsService.md
  docs/content/references/services/classes/TransactionService.md
  docs/content/references/services/classes/UserService.md
  docs/content/references/services/index.md
Labels: type: docs

#1808 chore: ignore documentation directory paths in CLI Pipeline
  .github/workflows/test-cli-with-database.yml
Labels: type: chore

#1810 docs: added netlify buttons to Gatsby storefront docmentations
  docs/content/deployments/storefront/deploying-gatsby-on-netlify.md
  docs/content/starters/gatsby-medusa-starter.md
Labels: type: docs

#1812 fix(medusa): calculate orders correctly by adding adjustments
  .changeset/serious-cats-cover.md
  packages/medusa/src/services/order.js
Labels: automerge

#1804 feat(medusa, medusa-js, medusa-react): Implement Sales Channel deletion
  integration-tests/api/__tests__/admin/__snapshots__/sales-channels.js.snap
  integration-tests/api/__tests__/admin/sales-channels.js
  packages/medusa-js/src/resources/admin/sales-channels.ts
  packages/medusa-react/mocks/handlers/admin.ts
  packages/medusa-react/src/hooks/admin/sales-channels/mutations.ts
  packages/medusa-react/test/hooks/admin/sales-channels/mutations.test.ts
  packages/medusa/src/api/routes/admin/sales-channels/__tests__/delete-sales-channel.js
  packages/medusa/src/api/routes/admin/sales-channels/delete-sales-channel.ts
  packages/medusa/src/api/routes/admin/sales-channels/get-sales-channel.ts
  packages/medusa/src/api/routes/admin/sales-channels/index.ts
  packages/medusa/src/services/__mocks__/sales-channel.js
  packages/medusa/src/services/__tests__/sales-channel.ts
  packages/medusa/src/services/sales-channel.ts
Labels: type: feature or enhancement

#1819 feat(medusa): Add feature flags to store response
  .changeset/brave-knives-study.md
  integration-tests/api/__tests__/admin/__snapshots__/store.js.snap
  integration-tests/api/__tests__/admin/store.js
  packages/medusa/src/api/routes/admin/store/get-store.ts
  packages/medusa/src/types/feature-flags.ts
  packages/medusa/src/utils/__tests__/flag-router.ts
  packages/medusa/src/utils/flag-router.ts
Labels: automerge

#1807 fix(medusa): calculates correct taxes and totals on order with gift cards
  .changeset/honest-crabs-study.md
  integration-tests/api/__tests__/totals/orders.js
  integration-tests/api/factories/index.ts
  integration-tests/api/factories/simple-gift-card-factory.ts
  integration-tests/api/factories/simple-product-factory.ts
  integration-tests/api/factories/simple-region-factory.ts
  integration-tests/plugins/__tests__/medusa-plugin-sendgrid/__snapshots__/index.js.snap
  packages/medusa/src/migrations/1657098186554-taxed_gift_card_transactions.ts
  packages/medusa/src/models/cart.ts
  packages/medusa/src/models/gift-card-transaction.ts
  packages/medusa/src/models/order.ts
  packages/medusa/src/services/__mocks__/totals.js
  packages/medusa/src/services/__tests__/order.js
  packages/medusa/src/services/cart.ts
  packages/medusa/src/services/order.js
  packages/medusa/src/services/totals.ts
  packages/medusa/src/strategies/__tests__/tax-calculation.js
  packages/medusa/src/strategies/tax-calculation.ts
  packages/medusa/src/types/common.ts
Labels: automerge

#1816 Feat(medusa, medusa-js, medusa-react): Include sales channels in related queries as an optional expand parameter
  integration-tests/api/__tests__/admin/__snapshots__/sales-channels.js.snap
  integration-tests/api/__tests__/admin/sales-channels.js
  integration-tests/api/factories/simple-cart-factory.ts
  integration-tests/api/factories/simple-order-factory.ts
  integration-tests/api/factories/simple-product-factory.ts
  integration-tests/helpers/start-server-with-environment.js
  packages/medusa/jest.config.js
  packages/medusa/setupTests.js
  packages/medusa/src/api/routes/admin/index.js
  packages/medusa/src/api/routes/admin/orders/get-order.ts
  packages/medusa/src/api/routes/admin/orders/index.ts
  packages/medusa/src/api/routes/admin/orders/list-orders.ts
  packages/medusa/src/api/routes/admin/products/get-product.ts
  packages/medusa/src/api/routes/admin/products/index.ts
  packages/medusa/src/api/routes/admin/products/list-products.ts
  packages/medusa/src/api/routes/store/carts/get-cart.ts
  packages/medusa/src/api/routes/store/carts/index.ts
  packages/medusa/src/controllers/products/admin-list-products.ts
  packages/medusa/src/models/product.ts
  packages/medusa/src/types/common.ts
  packages/medusa/src/utils/feature-flag-decorators.ts
  packages/medusa/src/utils/get-query-config.ts
Labels: automerge

#1830 feat(medusa): Create default sales channel associated to the store
  packages/medusa/src/loaders/__tests__/default.spec.ts
  packages/medusa/src/loaders/defaults.ts
  packages/medusa/src/models/sales-channel.ts
  packages/medusa/src/services/__mocks__/payment-provider.js
  packages/medusa/src/services/__mocks__/sales-channel.js
  packages/medusa/src/services/__mocks__/shipping-profile.js
  packages/medusa/src/services/__mocks__/store.js
  packages/medusa/src/services/__tests__/sales-channel.ts
  packages/medusa/src/services/sales-channel.ts
  packages/medusa/src/types/store.ts
Labels: automerge

#1835 feat(medusa): Prevent default channel from being deleted
  integration-tests/api/__tests__/admin/sales-channels.js
  integration-tests/api/factories/simple-sales-channel-factory.ts
  integration-tests/api/yarn.lock
  packages/medusa/src/api/middlewares/error-handler.ts
  packages/medusa/src/services/__mocks__/store.js
  packages/medusa/src/services/__tests__/sales-channel.ts
  packages/medusa/src/services/sales-channel.ts
  packages/medusa/src/services/store.ts
Labels: automerge

#1815 feat(medusa, medusa-js, medusa-react): Implement Sales Channel list
  integration-tests/api/__tests__/admin/__snapshots__/sales-channels.js.snap
  integration-tests/api/__tests__/admin/order.js
  integration-tests/api/__tests__/admin/sales-channels.js
  packages/medusa-js/src/resources/admin/sales-channels.ts
  packages/medusa-react/mocks/data/fixtures.json
  packages/medusa-react/mocks/handlers/admin.ts
  packages/medusa-react/src/hooks/admin/sales-channels/queries.ts
  packages/medusa-react/test/hooks/admin/sales-channels/queries.test.ts
  packages/medusa/src/api/middlewares/transform-query.ts
  packages/medusa/src/api/routes/admin/price-lists/list-price-lists.ts
  packages/medusa/src/api/routes/admin/sales-channels/__tests__/list-sales-channels.js
  packages/medusa/src/api/routes/admin/sales-channels/create-sales-channel.ts
  packages/medusa/src/api/routes/admin/sales-channels/index.ts
  packages/medusa/src/api/routes/admin/sales-channels/list-sales-channels.ts
  packages/medusa/src/repositories/sales-channel.ts
  packages/medusa/src/services/__mocks__/sales-channel.js
  packages/medusa/src/services/__tests__/sales-channel.ts
  packages/medusa/src/services/sales-channel.ts
  packages/medusa/src/types/common.ts
  packages/medusa/src/types/sales-channels.ts
  packages/medusa/src/utils/__tests__/remove-undefined-properties.spec.ts
  packages/medusa/src/utils/index.ts
  packages/medusa/src/utils/remove-undefined-properties.ts
Labels: type: feature or enhancement, type: chore, automerge

#1842 feat(medusa, medusa-js, medusa-react): Start implementing remove batch products on a sales channel
  integration-tests/api/__tests__/admin/sales-channels.js
  integration-tests/api/package.json
  integration-tests/api/yarn.lock
  packages/medusa-js/src/resources/admin/sales-channels.ts
  packages/medusa-react/mocks/handlers/admin.ts
  packages/medusa-react/src/hooks/admin/sales-channels/mutations.ts
  packages/medusa-react/test/hooks/admin/sales-channels/mutations.test.ts
  packages/medusa/src/api/routes/admin/sales-channels/__tests__/create-sales-channel.ts
  packages/medusa/src/api/routes/admin/sales-channels/__tests__/delete-products-batch.ts
  packages/medusa/src/api/routes/admin/sales-channels/__tests__/delete-sales-channel.ts
  packages/medusa/src/api/routes/admin/sales-channels/__tests__/get-sales-channel.ts
  packages/medusa/src/api/routes/admin/sales-channels/__tests__/update-sales-channel.ts
  packages/medusa/src/api/routes/admin/sales-channels/delete-products-batch.ts
  packages/medusa/src/api/routes/admin/sales-channels/index.ts
  packages/medusa/src/repositories/sales-channel.ts
  packages/medusa/src/services/__mocks__/sales-channel.js
  packages/medusa/src/services/__tests__/sales-channel.ts
  packages/medusa/src/services/sales-channel.ts
  packages/medusa/src/types/sales-channels.ts
Labels: automerge

#1833 feat(medusa, medusa-js, medusa-react): Start implementing add batch products on a sales channel
  integration-tests/api/__tests__/admin/sales-channels.js
  packages/medusa-js/src/resources/admin/sales-channels.ts
  packages/medusa-react/mocks/handlers/admin.ts
  packages/medusa-react/src/hooks/admin/sales-channels/mutations.ts
  packages/medusa-react/test/hooks/admin/sales-channels/mutations.test.ts
  packages/medusa/src/api/routes/admin/sales-channels/__tests__/add-product-batch.js
  packages/medusa/src/api/routes/admin/sales-channels/add-product-batch.ts
  packages/medusa/src/api/routes/admin/sales-channels/index.ts
  packages/medusa/src/repositories/sales-channel.ts
  packages/medusa/src/services/__mocks__/sales-channel.js
  packages/medusa/src/services/__tests__/sales-channel.ts
  packages/medusa/src/services/sales-channel.ts
Labels: type: feature or enhancement, type: chore

#1851 fix(medusa): accept array of region ids in order filter
  .changeset/warm-planes-glow.md
  packages/medusa/src/types/orders.ts
Labels: automerge

#1852 fix(medusa): Create tax lines when marking DO as paid
  .changeset/late-otters-approve.md
  packages/medusa/src/api/routes/admin/draft-orders/register-payment.ts
Labels: type: bug

#1857 chore: fixed commit branch on generate reference action
  .github/workflows/generate-reference.yml
  docs/content/references/services/classes/AuthService.md
  docs/content/references/services/classes/BatchJobService.md
  docs/content/references/services/classes/CartService.md
  docs/content/references/services/classes/ClaimItemService.md
  docs/content/references/services/classes/ClaimService.md
  docs/content/references/services/classes/CustomShippingOptionService.md
  docs/content/references/services/classes/CustomerGroupService.md
  docs/content/references/services/classes/CustomerService.md
  docs/content/references/services/classes/DiscountService.md
  docs/content/references/services/classes/DraftOrderService.md
  docs/content/references/services/classes/EventBusService.md
  docs/content/references/services/classes/FulfillmentProviderService.md
  docs/content/references/services/classes/FulfillmentService.md
  docs/content/references/services/classes/GiftCardService.md
  docs/content/references/services/classes/IdempotencyKeyService.md
  docs/content/references/services/classes/InventoryService.md
  docs/content/references/services/classes/LineItemService.md
  docs/content/references/services/classes/MiddlewareService.md
  docs/content/references/services/classes/NoteService.md
  docs/content/references/services/classes/NotificationService.md
  docs/content/references/services/classes/OauthService.md
  docs/content/references/services/classes/OrderService.md
  docs/content/references/services/classes/PaymentProviderService.md
  docs/content/references/services/classes/PricingService.md
  docs/content/references/services/classes/ProductCollectionService.md
  docs/content/references/services/classes/ProductService.md
  docs/content/references/services/classes/ProductTypeService.md
  docs/content/references/services/classes/ProductVariantService.md
  docs/content/references/services/classes/QueryBuilderService.md
  docs/content/references/services/classes/RegionService.md
  docs/content/references/services/classes/ReturnReasonService.md
  docs/content/references/services/classes/ReturnService.md
  docs/content/references/services/classes/SalesChannelService.md
  docs/content/references/services/classes/SearchService.md
  docs/content/references/services/classes/ShippingOptionService.md
  docs/content/references/services/classes/ShippingProfileService.md
  docs/content/references/services/classes/StoreService.md
  docs/content/references/services/classes/StrategyResolverService.md
  docs/content/references/services/classes/SwapService.md
  docs/content/references/services/classes/SystemPaymentProviderService.md
  docs/content/references/services/classes/TaxProviderService.md
  docs/content/references/services/classes/TaxRateService.md
  docs/content/references/services/classes/TotalsService.md
  docs/content/references/services/classes/UserService.md
  docs/content/references/services/index.md
  www/docs/.gitignore
  www/docs/package.json
  www/docs/yarn.lock
Labels: type: chore

#1836 feat(medusa): Add events for creating, updating, and deleting users to event bus
  packages/medusa/src/services/__tests__/user.js
  packages/medusa/src/services/user.ts
Labels: automerge

#1866 chore: fix docs test error
  .github/workflows/docs-test.yml
  .github/workflows/generate-reference.yml
Labels: type: chore

#1868 docs: added a reference dropdown
  www/docs/docusaurus.config.js
Labels: type: docs

#1875 docs: improved qovery documentation
  docs/content/deployments/server/deploying-on-qovery.md
  www/docs/docusaurus.config.js
  www/docs/sidebars.js
  www/docs/src/css/custom.css
  www/docs/src/theme/DocCard/index.js
  www/docs/src/theme/DocCard/styles.module.css
Labels: type: docs

#1881 docs: update heroku's documentation
  docs/content/deployments/admin/deploying-on-netlify.md
  docs/content/deployments/server/deploying-on-heroku.mdx
  docs/content/deployments/storefront/deploying-gatsby-on-netlify.md
Labels: type: docs

#1889 docs: improved DigitalOcean docs
  docs/content/deployments/server/deploying-on-digital-ocean.md
  docs/content/deployments/server/deploying-on-heroku.mdx
  docs/content/deployments/server/deploying-on-qovery.md
  docs/content/usage/configurations.md
Labels: type: docs

#1890 docs: added missing link
  docs/content/deployments/server/deploying-on-digital-ocean.md
Labels: type: docs

#1891 docs: improved contentful documentation
  docs/content/add-plugins/contentful.md
  docs/content/add-plugins/contentful/customize-contentful.md
  docs/content/add-plugins/contentful/index.md
  docs/content/deployments/storefront/deploying-gatsby-on-netlify.md
  docs/content/how-to/headless-ecommerce-store-with-gatsby-contentful-medusa.md
  docs/content/how-to/making-your-store-more-powerful-with-contentful.md
  docs/content/usage/create-medusa-app.mdx
  www/docs/sidebars.js
Labels: type: docs

#1892 docs: added note about build
  docs/content/advanced/backend/services/create-service.md
Labels: type: docs

#1900 fix(medusa-js): Default data pass should be undefined instead of an empty object
  packages/medusa-js/src/resources/addresses.ts
  packages/medusa-js/src/resources/admin/auth.ts
  packages/medusa-js/src/resources/admin/batch-jobs.ts
  packages/medusa-js/src/resources/admin/collections.ts
  packages/medusa-js/src/resources/admin/customer-groups.ts
  packages/medusa-js/src/resources/admin/customers.ts
  packages/medusa-js/src/resources/admin/discounts.ts
  packages/medusa-js/src/resources/admin/draft-orders.ts
  packages/medusa-js/src/resources/admin/gift-cards.ts
  packages/medusa-js/src/resources/admin/invites.ts
  packages/medusa-js/src/resources/admin/notes.ts
  packages/medusa-js/src/resources/admin/notifications.ts
  packages/medusa-js/src/resources/admin/orders.ts
  packages/medusa-js/src/resources/admin/price-lists.ts
  packages/medusa-js/src/resources/admin/products.ts
  packages/medusa-js/src/resources/admin/regions.ts
  packages/medusa-js/src/resources/admin/return-reasons.ts
  packages/medusa-js/src/resources/admin/returns.ts
  packages/medusa-js/src/resources/admin/sales-channels.ts
  packages/medusa-js/src/resources/admin/shipping-options.ts
  packages/medusa-js/src/resources/admin/shipping-profiles.ts
  packages/medusa-js/src/resources/admin/store.ts
  packages/medusa-js/src/resources/admin/swaps.ts
  packages/medusa-js/src/resources/admin/tax-rates.ts
  packages/medusa-js/src/resources/admin/users.ts
  packages/medusa-js/src/resources/admin/variants.ts
  packages/medusa-js/src/resources/auth.ts
  packages/medusa-js/src/resources/carts.ts
  packages/medusa-js/src/resources/collections.ts
  packages/medusa-js/src/resources/customers.ts
  packages/medusa-js/src/resources/gift-cards.ts
  packages/medusa-js/src/resources/line-items.ts
  packages/medusa-js/src/resources/orders.ts
  packages/medusa-js/src/resources/payment-methods.ts
  packages/medusa-js/src/resources/product-variants.ts
  packages/medusa-js/src/resources/products.ts
  packages/medusa-js/src/resources/regions.ts
  packages/medusa-js/src/resources/return-reasons.ts
  packages/medusa-js/src/resources/shipping-options.ts
  packages/medusa-js/src/resources/swaps.ts
Labels: type: bug

#1899 fix(medusa-payment-stripe): Fix options typo
  .changeset/tame-dryers-double.md
  packages/medusa-payment-stripe/src/services/__tests__/stripe-provider.js
  packages/medusa-payment-stripe/src/services/stripe-bancontact.js
  packages/medusa-payment-stripe/src/services/stripe-giropay.js
  packages/medusa-payment-stripe/src/services/stripe-ideal.js
  packages/medusa-payment-stripe/src/services/stripe-provider.js
Labels: type: bug, automerge

#1884 Feat(medusa): expand store result
  .changeset/selfish-lies-clap.md
  packages/medusa/src/api/routes/admin/store/get-store.ts
Labels: automerge

#1874 feat(medusa): Move search indexing into a separate subscriber to defer the work load
  .changeset/large-bottles-jam.md
  packages/medusa-interfaces/src/search-service.js
  packages/medusa/src/loaders/index.ts
  packages/medusa/src/loaders/search-index.ts
  packages/medusa/src/services/search.js
  packages/medusa/src/subscribers/search-indexing.ts
Labels: type: bug, automerge

#1888 chore: Improve health checks to avoid waiting 10 sec
  .github/workflows/action.yml
Labels: type: bug, automerge

#1873 feat(medusa): Attach or update cart sales channel
  .changeset/lovely-news-attend.md
  integration-tests/api/__tests__/admin/__snapshots__/sales-channels.js.snap
  integration-tests/api/__tests__/admin/sales-channels.js
  integration-tests/api/__tests__/store/__snapshots__/sales-channels.js.snap
  integration-tests/api/__tests__/store/__snapshots__/swaps.js.snap
  integration-tests/api/__tests__/store/orders.js
  integration-tests/api/__tests__/store/sales-channels.js
  integration-tests/api/factories/simple-cart-factory.ts
  integration-tests/api/factories/simple-sales-channel-factory.ts
  packages/medusa/src/api/routes/store/carts/__tests__/create-cart.js
  packages/medusa/src/api/routes/store/carts/create-cart.ts
  packages/medusa/src/api/routes/store/carts/index.ts
  packages/medusa/src/api/routes/store/carts/update-cart.ts
  packages/medusa/src/services/__tests__/cart.js
  packages/medusa/src/services/cart.ts
  packages/medusa/src/services/product.ts
  packages/medusa/src/types/cart.ts
Labels: type: feature or enhancement, automerge

#1882 feat(medusa): Includes Sales channels as part of the product/order export
  packages/medusa/src/strategies/__fixtures__/order-export-data.ts
  packages/medusa/src/strategies/__fixtures__/product-export-data.ts
  packages/medusa/src/strategies/__tests__/batch-jobs/order/__snapshots__/order-export.ts.snap
  packages/medusa/src/strategies/__tests__/batch-jobs/order/order-export.ts
  packages/medusa/src/strategies/__tests__/batch-jobs/product/__snapshots__/export.ts.snap
  packages/medusa/src/strategies/__tests__/batch-jobs/product/export.ts
  packages/medusa/src/strategies/batch-jobs/order/export.ts
  packages/medusa/src/strategies/batch-jobs/product/export.ts
  packages/medusa/src/strategies/batch-jobs/product/index.ts
Labels: type: feature or enhancement, automerge

#1925 feat(medusa): Migrate Note service
  packages/medusa/src/services/note.js
  packages/medusa/src/services/note.ts
Labels: project: typescript, type: feature or enhancement, automerge

#1922 feat(medusa): Migrate the notification service/interface
  packages/medusa/src/api/routes/admin/notifications/list-notifications.ts
  packages/medusa/src/api/routes/admin/notifications/resend-notification.ts
  packages/medusa/src/interfaces/index.ts
  packages/medusa/src/interfaces/notification-service.ts
  packages/medusa/src/loaders/plugins.ts
  packages/medusa/src/models/notification.ts
  packages/medusa/src/services/notification.js
  packages/medusa/src/services/notification.ts
Labels: project: typescript

#1915 feat(medusa): Migrate search service/interface
  packages/medusa/src/interfaces/index.ts
  packages/medusa/src/interfaces/search-service.ts
  packages/medusa/src/loaders/plugins.ts
  packages/medusa/src/loaders/search-index.ts
  packages/medusa/src/services/search.js
  packages/medusa/src/services/search.ts
  packages/medusa/src/subscribers/search-indexing.ts
Labels: type: feature or enhancement

#1858 chore(medusa): Add transaction on mutation actions store
  packages/medusa/src/api/routes/store/auth/create-session.ts
  packages/medusa/src/api/routes/store/carts/calculate-taxes.ts
  packages/medusa/src/api/routes/store/carts/complete-cart.ts
  packages/medusa/src/api/routes/store/carts/create-payment-sessions.ts
  packages/medusa/src/api/routes/store/carts/decorate-line-items-with-totals.ts
  packages/medusa/src/api/routes/store/carts/delete-payment-session.ts
  packages/medusa/src/api/routes/store/carts/refresh-payment-session.ts
  packages/medusa/src/api/routes/store/carts/set-payment-session.ts
  packages/medusa/src/api/routes/store/carts/update-cart.ts
  packages/medusa/src/api/routes/store/carts/update-line-item.ts
  packages/medusa/src/api/routes/store/carts/update-payment-session.ts
  packages/medusa/src/api/routes/store/customers/create-address.ts
  packages/medusa/src/api/routes/store/customers/create-customer.ts
  packages/medusa/src/api/routes/store/customers/delete-address.ts
  packages/medusa/src/api/routes/store/customers/reset-password-token.ts
  packages/medusa/src/api/routes/store/customers/reset-password.ts
  packages/medusa/src/api/routes/store/customers/update-address.ts
  packages/medusa/src/api/routes/store/customers/update-customer.ts
  packages/medusa/src/api/routes/store/returns/create-return.ts
  packages/medusa/src/api/routes/store/swaps/create-swap.ts
  packages/medusa/src/repositories/claim.ts
  packages/medusa/src/services/__tests__/tax-provider.js
  packages/medusa/src/services/idempotency-key.js
  packages/medusa/src/services/swap.js
  packages/medusa/src/services/tax-provider.ts
  packages/medusa/src/services/totals.ts
Labels: type: bug

#1931 feat: invalidate product list hooks
  packages/medusa-react/src/hooks/admin/sales-channels/mutations.ts
Labels: automerge

#1928 add is_disabled to create sales channel
  integration-tests/api/__tests__/admin/__snapshots__/sales-channels.js.snap
  integration-tests/api/__tests__/admin/sales-channels.js
  packages/medusa/src/api/routes/admin/sales-channels/create-sales-channel.ts
Labels: automerge

#1870 feat(medusa): Allow to create/update product sales channels assignment
  integration-tests/api/__tests__/admin/sales-channels.js
  packages/medusa/src/api/middlewares/await-middleware.ts
  packages/medusa/src/api/middlewares/validators/product-existence.ts
  packages/medusa/src/api/middlewares/validators/sales-channel-existence.ts
  packages/medusa/src/api/routes/admin/products/create-product.ts
  packages/medusa/src/api/routes/admin/products/index.ts
  packages/medusa/src/api/routes/admin/products/update-product.ts
  packages/medusa/src/api/routes/admin/sales-channels/__tests__/add-product-batch.ts
  packages/medusa/src/api/routes/admin/sales-channels/index.ts
  packages/medusa/src/repositories/product.ts
  packages/medusa/src/repositories/sales-channel.ts
  packages/medusa/src/services/__mocks__/product.js
  packages/medusa/src/services/__tests__/product.js
  packages/medusa/src/services/__tests__/sales-channel.ts
  packages/medusa/src/services/product.ts
  packages/medusa/src/services/sales-channel.ts
  packages/medusa/src/types/global.ts
  packages/medusa/src/types/product.ts
Labels: type: feature or enhancement
