Repository medusajs/medusa, pull requests merged in 2022-12, with the labels that each got.

#2730 docs: Added Manage Discounts using Admin APIs documentation
  docs/content/advanced/admin/import-products.mdx
  docs/content/advanced/admin/manage-discounts.mdx
  docs/content/advanced/backend/discounts/index.md
  www/docs/sidebars.js
Labels: type: docs

#2590 feat(medusa): PublishableApiKeys SC scopes
  integration-tests/api/__tests__/admin/publishable-api-key.js
  integration-tests/api/__tests__/store/cart/ff-sales-channels.js
  packages/medusa/src/api/middlewares/publishable-api-key/extend-request-params.ts
  packages/medusa/src/api/middlewares/publishable-api-key/validate-product-sales-channel-association.ts
  packages/medusa/src/api/middlewares/publishable-api-key/validate-sales-channel-param.ts
  packages/medusa/src/api/routes/admin/publishable-api-keys/add-channels-batch.ts
  packages/medusa/src/api/routes/admin/publishable-api-keys/delete-channels-batch.ts
  packages/medusa/src/api/routes/admin/publishable-api-keys/index.ts
  packages/medusa/src/api/routes/admin/publishable-api-keys/list-publishable-api-key-sales-channels.ts
  packages/medusa/src/api/routes/admin/sales-channels/list-sales-channels.ts
  packages/medusa/src/api/routes/store/carts/create-cart.ts
  packages/medusa/src/api/routes/store/carts/index.ts
  packages/medusa/src/api/routes/store/index.js
  packages/medusa/src/api/routes/store/products/index.ts
  packages/medusa/src/api/routes/store/products/list-products.ts
  packages/medusa/src/repositories/product.ts
  packages/medusa/src/repositories/publishable-api-key-sales-channel.ts
  packages/medusa/src/repositories/publishable-api-key.ts
  packages/medusa/src/services/__tests__/publishable-api-key.ts
  packages/medusa/src/services/product.ts
  packages/medusa/src/services/publishable-api-key.ts
Labels: automerge

#2727 test: allow integration-tests to leverage workspaces optimizations
  .changeset/heavy-sloths-train.md
  .github/workflows/action.yml
  integration-tests/api/.yarnrc.yml
  integration-tests/api/package.json
  integration-tests/api/yarn.lock
  integration-tests/helpers/bootstrap-app.js
  integration-tests/helpers/use-db.js
  integration-tests/helpers/use-template-db.js
  integration-tests/package-lock.json
  integration-tests/package.json
  integration-tests/plugins/.yarnrc.yml
  integration-tests/plugins/package.json
  integration-tests/plugins/yarn.lock
  integration-tests/yarn.lock
  package.json
  turbo.json
  yarn.lock
Labels: automerge

#2683 fix(medusa): keep country_code when partially updating cart addresses
  .changeset/serious-glasses-impress.md
  integration-tests/api/__tests__/store/cart/cart.js
  integration-tests/plugins/__tests__/medusa-plugin-sendgrid/__snapshots__/index.js.snap
  packages/medusa/src/services/__tests__/cart.js
  packages/medusa/src/services/cart.ts
Labels: automerge

#2741 docs: Use correct publish directory for netlify deploy
  docs/content/deployments/admin/deploying-on-netlify.md
Labels: type: docs

#2748 docs: Update netlify deploy readme for clarity
  docs/content/deployments/admin/deploying-on-netlify.md
Labels: type: docs

#2772 chore(turbo): flip turbo caching glob from allow-list to deny-list
  .changeset/bright-pens-tell.md
  package.json
  packages/medusa/package.json
  turbo.json
  yarn.lock
Labels: automerge

#2793 chore(medusa): Remove unused event from order service
  packages/medusa/src/services/order.ts
Labels: automerge

#2798 docs: :pencil2: Fix typo
  packages/medusa-js/src/resources/carts.ts
Labels: type: docs

#2804 fix(medusa-js): missing devDependency was failing repo build task
  .changeset/giant-insects-tease.md
  packages/medusa-js/package.json
  yarn.lock
Labels: automerge

#2810 feat(medusa): add `q` param to PKs sales channels retrieval
  .changeset/spicy-starfishes-suffer.md
  integration-tests/api/__tests__/admin/publishable-api-key.js
  packages/medusa/src/api/routes/admin/publishable-api-keys/list-publishable-api-key-sales-channels.ts
  packages/medusa/src/repositories/publishable-api-key-sales-channel.ts
  packages/medusa/src/services/publishable-api-key.ts
Labels: automerge

#2828 chore: Ignore integration tests for changesets
  .changeset/config.json
Labels: automerge

#2819 feat(medusa): Allow using a custom database schema
  .changeset/few-tomatoes-tie.md
  packages/medusa/src/commands/migrate.js
  packages/medusa/src/commands/seed.js
  packages/medusa/src/loaders/database.ts
  packages/medusa/src/migrations/1612284947120-claims.ts
  packages/medusa/src/migrations/1613384784316-draft_orders.ts
  packages/medusa/src/migrations/1633512755401-extended_user_api.ts
  packages/medusa/src/migrations/1641636508055-new_tax_system.ts
  packages/medusa/src/migrations/1657267320181-extended_batch_job.ts
  packages/medusa/src/migrations/1666173221888-add_analytics_config.ts
  packages/medusa/src/migrations/1669032280562-update_customer_email_constraint.ts
  packages/medusa/src/types/global.ts
Labels: automerge

#2859 chore: updated roadmap section in README
  README.md
Labels: automerge

#2860 [docs] Update gatsby occurance to vite
  docs/content/admin/quickstart.md
Labels: type: docs, automerge

#2699 docs: add a note about running migrations after changing database type
  docs/content/usage/configurations.md
Labels: type: docs

#2866 Update Set up your development doc for Medusa CLI section
  docs/content/tutorial/0-set-up-your-development-environment.mdx
Labels: type: docs

#2869 fix(medusa): Include `items.variant` relation in order calculation
  .changeset/proud-students-accept.md
  integration-tests/api/__tests__/admin/order/order.js
  packages/medusa/src/repositories/order.ts
  packages/medusa/src/services/new-totals.ts
  packages/medusa/src/services/order.ts
Labels: automerge

#2815 feat(medusa): Ordering products on retrieval
  .changeset/bright-moose-draw.md
  integration-tests/api/__tests__/admin/__snapshots__/product.js.snap
  integration-tests/api/__tests__/admin/price-list.js
  integration-tests/api/__tests__/admin/product.js
  integration-tests/api/__tests__/admin/publishable-api-key.js
  integration-tests/api/__tests__/store/__snapshots__/products.js.snap
  integration-tests/api/__tests__/store/products.js
  integration-tests/api/helpers/store-product-seeder.js
  packages/medusa/src/api/routes/admin/products/list-products.ts
  packages/medusa/src/api/routes/store/products/__tests__/list-products.js
  packages/medusa/src/api/routes/store/products/index.ts
  packages/medusa/src/api/routes/store/products/list-products.ts
  packages/medusa/src/api/routes/store/variants/__tests__/list-variants.js
  packages/medusa/src/repositories/product.ts
  packages/medusa/src/strategies/__tests__/batch-jobs/product/export.ts
  packages/medusa/src/utils/get-query-config.ts
  packages/medusa/src/utils/repository.ts
Labels: automerge

#2864 feat(medusa): Extend Module Resolution configuration
  packages/medusa/src/loaders/__mocks__/@modules/brokenloader.ts
  packages/medusa/src/loaders/__mocks__/@modules/default.ts
  packages/medusa/src/loaders/__mocks__/@modules/no-service.ts
  packages/medusa/src/loaders/__mocks__/medusa-telemetry.ts
  packages/medusa/src/loaders/__tests__/module-definitions.spec.ts
  packages/medusa/src/loaders/__tests__/module.spec.ts
  packages/medusa/src/loaders/index.ts
  packages/medusa/src/loaders/module-definitions/index.ts
  packages/medusa/src/loaders/module.ts
  packages/medusa/src/types/global.ts
  packages/medusa/src/types/modules.ts
Labels: automerge

#2889 hotfix(medusa): Assign jobSchedulerService in EventBus
  .changeset/olive-forks-search.md
  packages/medusa/src/services/event-bus.ts
Labels: automerge

#2892 Docs: add git as in the prerequisites section of the Quickstart Guide
  docs/content/quickstart/quick-start.mdx
Labels: type: docs

#2909 fix(medusa): Add tax inclusive flag to return lines from line item
  .changeset/quiet-lobsters-search.md
  integration-tests/api/__tests__/admin/order/ff-tax-inclusive-pricing.js
  packages/medusa/src/services/line-item.ts
  packages/medusa/src/services/totals.ts
Labels: type: bug
