Repository medusajs/medusa, pull requests merged in 2022-05, with the labels that each got.

#1456 Docs: removed unnecessary links from sidebar
  www/docs/sidebars.js
Labels: type: docs

#1457 Fix: fixed the name in the readme of Twilio SMS
  packages/medusa-plugin-twilio-sms/README.md
Labels: type: docs

#1462 fix(medusa): MoneyAmountRepository#findManyForVariantInRegion
  packages/medusa/src/repositories/money-amount.ts
Labels: type: bug

#1474 fix(medusa-file-spaces): Allow duplicate filenames
  packages/medusa-file-spaces/src/services/digital-ocean.js
Labels: type: feature or enhancement

#1473 fix(medusa): PluginLoaders when loading services should only look for js files and not include .map of .d.ts etc...
  packages/medusa/src/loaders/__tests__/plugins.spec.ts
  packages/medusa/src/loaders/plugins.ts
Labels: type: bug

#1404 feat(medusa-payment-stripe): Enhance stripe payment to handle description and improve status resolution
  packages/medusa-payment-stripe/src/__mocks__/cart.js
  packages/medusa-payment-stripe/src/__mocks__/stripe.js
  packages/medusa-payment-stripe/src/services/__tests__/stripe-provider.js
  packages/medusa-payment-stripe/src/services/stripe-bancontact.js
  packages/medusa-payment-stripe/src/services/stripe-giropay.js
  packages/medusa-payment-stripe/src/services/stripe-ideal.js
  packages/medusa-payment-stripe/src/services/stripe-provider.js
Labels: type: feature or enhancement

#1487 Docs: Migration and Upgrade Guides
  docs/content/advanced/backend/migrations.md
  docs/content/advanced/backend/upgrade-guides/1-3-1.md
  www/docs/sidebars.js
Labels: type: docs

#1472 fix: allow price list `prices` update when `region_id` is provided
  integration-tests/api/__tests__/admin/__snapshots__/price-list.js.snap
  integration-tests/api/__tests__/admin/price-list.js
  integration-tests/api/helpers/price-list-seeder.js
  packages/medusa/src/services/price-list.ts
Labels: type: bug

#1475 fix(medusa): CartService lost shipping address when using the id
  integration-tests/api/__tests__/store/__snapshots__/swaps.js.snap
  integration-tests/api/__tests__/store/swaps.js
  integration-tests/plugins/__tests__/medusa-plugin-sendgrid/__snapshots__/index.js.snap
  packages/medusa/src/services/__tests__/cart.js
  packages/medusa/src/services/cart.ts
Labels: type: bug

#1503 fix: price list products hook - invalidate cache
  packages/medusa-react/src/hooks/admin/price-lists/mutations.ts
Labels: type: bug

#1471 feat(medusa): Add /admin/products/:id/variants end point
  integration-tests/api/__tests__/admin/product.js
  integration-tests/api/package.json
  integration-tests/api/yarn.lock
  packages/medusa/src/api/routes/admin/products/__tests__/list-variants.js
  packages/medusa/src/api/routes/admin/products/get-variants.ts
  packages/medusa/src/api/routes/admin/products/index.ts
  packages/medusa/src/api/routes/admin/products/list-variants.ts
  packages/medusa/src/helpers/test-request.js
  packages/medusa/src/services/__mocks__/product-variant.js
  packages/medusa/src/services/__mocks__/product.js
  packages/medusa/src/services/product.js
  packages/medusa/src/types/global.ts
  packages/medusa/src/utils/get-query-config.ts
Labels: type: bug

#1518 fix(medusa): Include adjustments in cart retrieval in `setPaymentSessions`
  packages/medusa/src/services/cart.ts
Labels: type: bug

#1523 Docs: small fixes to quickstart guide
  docs/content/quickstart/quick-start.md
Labels: type: docs

#1454 Docs: updated development guide
  docs/content/add-plugins/sendgrid.mdx
  docs/content/add-plugins/twilio-sms.md
  docs/content/advanced/backend/migrations.md
  docs/content/tutorial/0-set-up-your-development-environment.md
  docs/content/tutorial/0-set-up-your-development-environment.mdx
  docs/content/tutorial/development.module.css
  www/docs/src/theme/Tabs/index.js
Labels: type: docs

#1536 Docs: small fixes in Stripe documentation
  docs/content/add-plugins/stripe.md
Labels: type: docs

#1538 Docs: fix edit url
  www/docs/docusaurus.config.js
Labels: type: docs

#1470 fix(medusa-payment-paypal): Should not throw when canceling already cancel payment
  packages/medusa-payment-paypal/src/__mocks__/@paypal/checkout-server-sdk.js
  packages/medusa-payment-paypal/src/services/__tests__/paypal-provider.js
  packages/medusa-payment-paypal/src/services/paypal-provider.js
Labels: type: bug

#1540 fix(medusa): Deleting price list should use `remove`
  integration-tests/api/__tests__/admin/price-list.js
  packages/medusa/src/services/price-list.ts
Labels: type: bug

#1543 Docs: added documentation links to packages' readme
  packages/medusa-file-minio/README.md
  packages/medusa-file-s3/README.md
  packages/medusa-file-spaces/README.md
  packages/medusa-payment-paypal/README.md
  packages/medusa-payment-stripe/README.md
  packages/medusa-plugin-algolia/README.md
  packages/medusa-plugin-contentful/README.md
  packages/medusa-plugin-mailchimp/README.md
  packages/medusa-plugin-meilisearch/README.md
  packages/medusa-plugin-sendgrid/README.md
  packages/medusa-plugin-slack-notification/README.md
  packages/medusa-plugin-twilio-sms/README.md
Labels: type: docs

#1490 Docs: Fixed broken link
  docs/content/advanced/backend/payment/overview.md
Labels: type: docs

#1504 Docs: fix for dark mode
  www/reference/src/components/ColorModeToggler/index.js
Labels: type: docs

#1410 Reference/update api reference
  docs/api/admin-spec3.json
  docs/api/admin-spec3.yaml
  docs/api/store-spec3.json
  docs/api/store-spec3.yaml
  docs/api/store/endpoints/products.yaml
  www/reference/gatsby-node.js
  www/reference/src/components/ColorModeToggler/index.js
Labels: type: docs

#1581 Docs: added sitemap to api reference
  www/reference/gatsby-config.js
  www/reference/package.json
  www/reference/yarn.lock
Labels: type: docs

#1578 Docs: remove create your medusa server document
  docs/content/tutorial/1-creating-your-medusa-server.md
  www/docs/sidebars.js
Labels: type: docs

#1524 Docs: improved documentation for MinIO
  docs/content/add-plugins/minio.md
Labels: type: docs

#1590 docs: fix create migration command
  docs/content/advanced/backend/migrations.md
Labels: type: docs

#1591 docs: fix for admin endpoints
  docs/content/advanced/backend/endpoints/add-admin.md
Labels: type: docs

#1592 docs: fix for storefront endpoints
  docs/content/advanced/backend/endpoints/add-storefront.md
Labels: type: docs

#1554 test(medusa): Add few tests on PriceListService#update method
  packages/medusa/src/services/__tests__/price-list.js
Labels: type: bug
