Repository medusajs/medusa, pull requests merged in 2022-06, with the labels that each got.

#1575 docs: Update upgrade guide for 1.3.0
  docs/content/advanced/backend/upgrade-guides/1-3-0.md
  www/docs/sidebars.js
Labels: type: docs

#1287 Refactor: claim service to TS + refactoring
  packages/medusa/src/api/routes/admin/orders/create-claim.ts
  packages/medusa/src/api/routes/admin/orders/fulfill-claim.ts
  packages/medusa/src/api/routes/admin/orders/update-claim.ts
  packages/medusa/src/models/shipping-method.ts
  packages/medusa/src/services/__tests__/claim.js
  packages/medusa/src/services/__tests__/swap.js
  packages/medusa/src/services/claim.js
  packages/medusa/src/services/claim.ts
  packages/medusa/src/types/claim.ts
Labels: project: typescript, type: feature or enhancement, type: bug

#1593 feat(medusa): Support transformQuery/Body middleware
  packages/medusa/src/api/middlewares/index.ts
  packages/medusa/src/api/middlewares/transform-body.ts
  packages/medusa/src/api/middlewares/transform-query.ts
  packages/medusa/src/api/routes/admin/batch/index.ts
  packages/medusa/src/api/routes/admin/batch/list-batch-jobs.ts
  packages/medusa/src/api/routes/admin/price-lists/create-price-list.ts
  packages/medusa/src/api/routes/admin/price-lists/index.ts
  packages/medusa/src/api/routes/admin/price-lists/list-price-list-products.ts
  packages/medusa/src/api/routes/admin/price-lists/list-price-lists.ts
  packages/medusa/src/controllers/products/admin-list-products.ts
  packages/medusa/src/types/common.ts
  packages/medusa/src/types/global.ts
  packages/medusa/src/types/price-list.ts
  packages/medusa/src/utils/get-query-config.ts
Labels: type: feature or enhancement

#1353 feat(cli): Allow to revert migrations from the CLI
  packages/medusa-cli/src/create-cli.js
  packages/medusa/src/commands/migrate.js
Labels: type: feature or enhancement

#1601 fix(medusa): Plugin loader must also check for TransactionBaseService
  packages/medusa/src/loaders/__tests__/plugins.spec.ts
  packages/medusa/src/loaders/plugins.ts
Labels: type: bug

#1259 refactor: Draft-order service to TS + refactoring
  integration-tests/api/__tests__/admin/draft-order.js
  integration-tests/api/helpers/draft-order-seeder.js
  packages/medusa/src/api/routes/admin/draft-orders/index.ts
  packages/medusa/src/api/routes/admin/draft-orders/list-draft-orders.ts
  packages/medusa/src/models/draft-order.ts
  packages/medusa/src/services/__tests__/draft-order.js
  packages/medusa/src/services/cart.ts
  packages/medusa/src/services/draft-order.js
  packages/medusa/src/services/draft-order.ts
  packages/medusa/tsconfig.json
Labels: project: typescript, type: feature or enhancement, type: bug

#1537 Docs: added PayPal documentation
  docs/content/add-plugins/paypal.md
Labels: type: docs

#1579 docs: Improve storefront quickstart documents
  docs/content/how-to/setting-up-a-nextjs-storefront-for-your-medusa-project.md
  docs/content/starters/gatsby-medusa-starter.md
  docs/content/starters/nextjs-medusa-starter.md
  www/docs/sidebars.js
Labels: type: docs

#1676 chore: Add issue template for bug reports
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: type: chore

#1679 chore: Add issue template for feature requests
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: type: chore

#1672 Feat(medusa): buildQuery typings
  packages/medusa/src/types/common.ts
  packages/medusa/src/utils/build-query.ts
Labels: type: feature or enhancement

#1687 docs: updated homepage
  docs/content/homepage.md
  docs/content/homepage.mdx
Labels: type: docs

#1686 docs: improved plugin documentation
  docs/content/add-plugins/mailchimp.md
  docs/content/advanced/backend/notification/how-to-create-notification-provider.md
  docs/content/advanced/backend/notification/overview.md
  docs/content/advanced/backend/payment/overview.md
  docs/content/advanced/backend/plugins/create.md
  docs/content/advanced/backend/plugins/overview.md
  docs/content/advanced/backend/shipping/overview.md
  docs/content/guides/file-plugin.md
  docs/content/guides/fulfillment-api.md
  docs/content/guides/plugins.md
  docs/content/how-to/create-medusa-app.md
  www/docs/docusaurus.config.js
  www/docs/sidebars.js
Labels: type: docs

#1694 docs: fix broken link
  docs/content/add-plugins/twilio-sms.md
Labels: type: docs

#1696 added configurations documentation
  docs/content/add-plugins/slack.md
  docs/content/admin/quickstart.md
  docs/content/homepage.md
  docs/content/quickstart/quick-start.md
  docs/content/starters/gatsby-medusa-starter.md
  docs/content/starters/nextjs-medusa-starter.md
  docs/content/tutorial/0-set-up-your-development-environment.mdx
  docs/content/usage/configurations.md
  www/docs/sidebars.js
Labels: type: docs

#1697 fix(medusa): Include adjustments when authorizing payment
  integration-tests/api/__tests__/store/cart.js
  integration-tests/api/helpers/cart-seeder.js
  packages/medusa/src/api/routes/store/carts/update-cart.ts
  packages/medusa/src/services/__tests__/line-item-adjustment.js
  packages/medusa/src/services/cart.ts
  packages/medusa/src/services/line-item-adjustment.ts
Labels: type: bug

#1704 feat(medusa,medusa-js,medusa-react): Add BatchJob API support in `medusa-js` + `medusa-react`
  packages/medusa-js/src/resources/admin/batch-jobs.ts
  packages/medusa-js/src/resources/admin/index.ts
  packages/medusa-react/mocks/data/fixtures.json
  packages/medusa-react/mocks/handlers/admin.ts
  packages/medusa-react/src/hooks/admin/batch-jobs/index.ts
  packages/medusa-react/src/hooks/admin/batch-jobs/mutations.ts
  packages/medusa-react/src/hooks/admin/batch-jobs/queries.ts
  packages/medusa-react/src/hooks/admin/index.ts
  packages/medusa-react/test/hooks/admin/batch-jobs/mutations.test.ts
  packages/medusa-react/test/hooks/admin/batch-jobs/queries.test.ts
  packages/medusa/src/api/index.js
  packages/medusa/src/api/routes/admin/batch/index.ts
  yarn.lock
Labels: type: feature or enhancement

#1695 chore: added test for docusaurus documentation
  .github/workflows/docs-test.yml
Labels: type: chore

#1701 refactor(medusa): cleanup, fix, migrate baseService and therefore fix errors
  packages/medusa/src/services/__mocks__/customer.js
  packages/medusa/src/services/__mocks__/user.js
  packages/medusa/src/services/__tests__/auth.js
  packages/medusa/src/services/__tests__/discount.js
  packages/medusa/src/services/auth.ts
  packages/medusa/src/services/discount-condition.ts
  packages/medusa/src/services/discount.ts
  packages/medusa/src/services/user.ts
  packages/medusa/src/types/discount.ts
Labels: project: typescript, type: feature or enhancement, type: chore

#1688 feat(medusa/product-export-strategy): Implement the Product export strategy
  .github/workflows/action.yml
  integration-tests/api/__tests__/batch-jobs/__snapshots__/api.js.snap
  integration-tests/api/__tests__/batch-jobs/api.js
  integration-tests/api/__tests__/batch-jobs/product/export.js
  integration-tests/api/factories/simple-batch-job-factory.ts
  integration-tests/api/medusa-config.js
  integration-tests/api/package.json
  integration-tests/api/src/services/local-file-service.js
  integration-tests/api/yarn.lock
  integration-tests/helpers/setup-server.js
  packages/medusa/src/api/routes/admin/batch/create-batch-job.ts
  packages/medusa/src/interfaces/batch-job-strategy.ts
  packages/medusa/src/loaders/__tests__/plugins.spec.ts
  packages/medusa/src/loaders/plugins.ts
  packages/medusa/src/loaders/strategies.ts
  packages/medusa/src/models/batch-job.ts
  packages/medusa/src/services/batch-job.ts
  packages/medusa/src/services/index.ts
  packages/medusa/src/services/strategy-resolver.ts
  packages/medusa/src/strategies/__fixtures__/product-export-data.ts
  packages/medusa/src/strategies/__tests__/batch-jobs/product/__snapshots__/export.ts.snap
  packages/medusa/src/strategies/__tests__/batch-jobs/product/export.ts
  packages/medusa/src/strategies/batch-jobs/product/export.ts
  packages/medusa/src/strategies/batch-jobs/product/index.ts
  packages/medusa/src/subscribers/batch-job.ts
  packages/medusa/src/types/batch-job.ts
Labels: type: feature or enhancement

#1714 fix(medusa-file-spaces,medusa-file-s3,medusa-file-minio): Add options to super call in file plugins
  packages/medusa-file-minio/src/services/minio.js
  packages/medusa-file-s3/src/services/s3.js
  packages/medusa-file-spaces/src/services/digital-ocean.js
Labels: type: bug

#1715 docs: moved Slack in the sidebar to Notifications
  www/docs/sidebars.js
Labels: type: docs

#1727 docs: added cli reference
  docs/content/cli/reference.md
  www/docs/sidebars.js
Labels: type: docs

#1737 docs: improved create-medusa-app doc
  docs/content/admin/quickstart.md
  docs/content/how-to/create-medusa-app.md
  docs/content/how-to/deploying-admin-on-netlify.md
  docs/content/how-to/deploying-gatsby-on-netlify.md
  docs/content/how-to/deploying-on-digital-ocean.md
  docs/content/how-to/deploying-on-qovery.md
  docs/content/usage/create-medusa-app.mdx
  www/docs/sidebars.js
Labels: type: docs

#1739 docs: improve troubleshooting
  docs/content/troubleshooting/cors-issues.md
  docs/content/troubleshooting/documentation-error.md
  docs/content/troubleshooting/missing-payment-providers.md
  docs/content/troubleshooting/redis-events.md
  docs/content/troubleshooting/signing-in-to-admin.md
  docs/content/troubleshooting/transaction-error-in-checkout.md
Labels: type: docs

#1726 feat(medusa): Add file size calculation for the product export
  integration-tests/api/__tests__/batch-jobs/product/export.js
  packages/medusa/src/models/batch-job.ts
  packages/medusa/src/strategies/batch-jobs/product/export.ts
Labels: type: feature or enhancement

#1747 feat(medusa): Allow to filter the batch jobs with nullable date
  integration-tests/api/__tests__/batch-jobs/__snapshots__/api.js.snap
  integration-tests/api/__tests__/batch-jobs/api.js
  packages/medusa/src/api/routes/admin/batch/list-batch-jobs.ts
  packages/medusa/src/utils/build-query.ts
Labels: type: feature or enhancement

#1748 feat(medusa-js): Create utils to stringify null values and respect object types
  packages/medusa-js/src/resources/admin/batch-jobs.ts
  packages/medusa-js/src/utils.ts
Labels: type: feature or enhancement, automerge

#1757 docs: improve Deploy Admin to Netlify documentation
  docs/content/admin/quickstart.md
  docs/content/deployments/admin/deploying-on-netlify.md
  docs/content/deployments/admin/index.mdx
  docs/content/deployments/deployment.module.css
  docs/content/deployments/server/deploying-on-digital-ocean.md
  docs/content/deployments/server/deploying-on-heroku.mdx
  docs/content/deployments/server/deploying-on-qovery.md
  docs/content/deployments/server/index.mdx
  docs/content/deployments/storefront/deploying-gatsby-on-netlify.md
  docs/content/deployments/storefront/index.mdx
  docs/content/homepage.md
  docs/content/how-to/deploying-admin-on-netlify.md
  docs/content/how-to/making-your-store-more-powerful-with-contentful.md
  docs/content/starters/gatsby-medusa-starter.md
  docs/content/usage/configurations.md
  docs/content/usage/create-medusa-app.mdx
  www/docs/sidebars.js
  www/docs/src/css/custom.css
Labels: type: docs

#1758 docs: improved documentation for Deploy Gatsby on Netlify
  docs/content/deployments/storefront/deploying-gatsby-on-netlify.md
  docs/content/starters/gatsby-medusa-starter.md
Labels: type: docs
