Repository medusajs/medusa, pull requests merged in 2022-11, with the labels that each got.

#2518 docs: redesigned table of content
  docs/content/admin/quickstart.md
  docs/content/deployments/admin/deploying-on-netlify.md
  docs/content/deployments/server/deploying-on-heroku.mdx
  docs/content/deployments/storefront/deploying-gatsby-on-netlify.md
  docs/content/starters/gatsby-medusa-starter.md
  docs/content/starters/nextjs-medusa-starter.md
  www/docs/.yarn/install-state.gz
  www/docs/src/css/_docspage.css
  www/docs/src/css/_toc.css
  www/docs/src/css/_typography.css
  www/docs/src/css/_variables.css
  www/docs/src/theme/DocItem/Layout/index.js
  www/docs/src/theme/DocItem/Layout/styles.module.css
  www/docs/static/img/side-menu-dark.svg
  www/docs/static/img/side-menu.svg
Labels: type: docs

#2522 docs: redesigned survey and content footer
  www/docs/src/components/Feedback/index.css
  www/docs/src/css/_code.css
  www/docs/src/css/_docspage.css
  www/docs/src/css/_note.css
  www/docs/src/css/_tooltip.css
  www/docs/src/css/_variables.css
  www/docs/src/theme/CodeBlock/index.js
  www/docs/src/theme/CopyButton/index.js
  www/docs/src/theme/DocItem/Footer/index.js
  www/docs/src/theme/Icon/Edit/index.js
  www/docs/src/theme/Icon/Edit/styles.module.css
  www/docs/src/theme/MDXComponents/InlineCode.js
  www/docs/src/theme/MDXComponents/index.js
  www/docs/src/theme/Tooltip/index.js
  www/docs/static/img/edit-dark.png
  www/docs/static/img/edit.png
Labels: type: docs

#2523 docs: redesign footer
  www/docs/docusaurus.config.js
  www/docs/src/components/Feedback/index.css
  www/docs/src/css/_docspage.css
  www/docs/src/css/_footer.css
  www/docs/src/css/_typography.css
  www/docs/src/css/_variables.css
  www/docs/src/theme/Footer/Layout/index.js
  www/docs/src/theme/Footer/SocialLinks/index.js
  www/docs/src/theme/Icon/Discord/index.js
  www/docs/src/theme/Icon/ExternalLink/index.js
  www/docs/src/theme/Icon/ExternalLink/styles.module.css
  www/docs/src/theme/Icon/GitHub/index.js
  www/docs/src/theme/Icon/Twitter/index.js
  www/docs/static/img/discord-dark.png
  www/docs/static/img/discord.png
  www/docs/static/img/github-dark.png
  www/docs/static/img/github.png
  www/docs/static/img/link-icon-dark.svg
  www/docs/static/img/twitter-dark.png
  www/docs/static/img/twitter.png
Labels: type: docs

#2524 docs: redesigned dark mode
  www/docs/src/css/_code.css
  www/docs/src/css/_variables.css
Labels: type: docs

#2514 Feat(medusa): config error handling in loaders
  .changeset/fresh-dingos-fix.md
  integration-tests/api/__tests__/batch-jobs/api.js
  packages/medusa-core-utils/src/get-config-file.js
  packages/medusa/src/commands/migrate.js
  packages/medusa/src/commands/seed.js
  packages/medusa/src/commands/utils/get-migrations.js
  packages/medusa/src/loaders/config.ts
  packages/medusa/src/loaders/index.ts
  packages/medusa/src/utils/db-aware-column.ts
  packages/medusa/src/utils/manual-auto-increment.ts
Labels: automerge

#2517 fix manual fulfilment package link
  docs/content/advanced/backend/shipping/add-fulfillment-provider.md
Labels: type: docs

#2535 docs: redesigned sidebar
  www/docs/docusaurus.config.js
  www/docs/src/css/_dark.css
  www/docs/src/css/_docsearch.css
  www/docs/src/css/_footer.css
  www/docs/src/css/_navbar.css
  www/docs/src/css/_sidebar.css
  www/docs/src/css/_variables.css
  www/docs/src/theme/DocItem/Layout/styles.module.css
  www/docs/src/theme/DocSidebar/Desktop/index.js
  www/docs/src/theme/DocSidebar/Desktop/styles.module.css
  www/docs/src/theme/Navbar/Content/index.js
  www/docs/static/img/circle-dark-hover.png
  www/docs/static/img/circle-dark.png
  www/docs/static/img/circle-hover.png
  www/docs/static/img/circle.png
  www/docs/static/img/triangle-right-dark-hover.png
  www/docs/static/img/triangle-right-dark.png
  www/docs/static/img/triangle-right-hover.png
  www/docs/static/img/triangle-right.png
Labels: type: docs

#2536 fix(medusa-plugin-brightpearl): account for shipping prices being tax inclusive
  .changeset/chilled-ads-flash.md
  packages/medusa-plugin-brightpearl/src/services/__tests__/brightpearl.js
  packages/medusa-plugin-brightpearl/src/services/brightpearl.js
Labels: automerge

#2537 docs: redesign search modal
  www/docs/src/css/_docsearch.css
  www/docs/src/css/_variables.css
  www/docs/src/theme/SearchPage/index.js
  www/docs/src/theme/SearchPage/styles.module.css
  www/docs/static/img/search-hit.png
Labels: type: docs

#2538 docs: final redesign touch-ups
  www/docs/.yarn/install-state.gz
  www/docs/src/css/_variables.css
  www/docs/static/img/favicon.ico
  www/docs/yarn.lock
Labels: type: docs

#2540 docs: fix main content not centered
  www/docs/src/css/_docspage.css
Labels: type: docs

#2541 docs: fix color mode tabs
  www/docs/src/theme/ColorModeToggle/index.js
Labels: type: docs

#2545 docs: general design fixes
  docs/content/troubleshooting/documentation-error.md
  www/docs/src/css/_sidebar.css
  www/docs/src/theme/CodeBlock/index.js
  www/docs/src/theme/ColorModeToggle/index.js
  www/docs/src/theme/DocSidebar/Desktop/index.js
  www/docs/static/img/info-icon.png
  www/docs/static/img/tip-icon.png
Labels: type: docs

#2532 chore(medusa): Analytics FF enabled by default
  .changeset/wicked-crabs-compete.md
  packages/medusa/src/loaders/feature-flags/analytics.ts
Labels: type: chore

#2547 docs: added opengraph image
  www/docs/.yarn/install-state.gz
  www/docs/docusaurus.config.js
  www/docs/static/img/docs-banner.jpg
Labels: type: docs

#2549 docs: added robots.txt file
  www/docs/static/robots.txt
Labels: type: docs

#2550 docs: added meta image
  www/docs/docusaurus.config.js
Labels: type: docs

#2544 Fix(medusa): make shipping option requirements tax inclusive if the shipping option is
  integration-tests/api/__tests__/store/shipping-options.js
  integration-tests/api/factories/simple-shipping-option-factory.ts
  packages/medusa/src/services/cart.ts
  packages/medusa/src/services/shipping-option.ts
Labels: automerge

#2557 Fix(medusa): Swaps in tax inclusive regions
  integration-tests/api/__tests__/admin/swaps.js
  integration-tests/api/factories/simple-product-variant-factory.ts
  packages/medusa/src/services/__tests__/swap.ts
  packages/medusa/src/services/swap.ts
Labels: automerge

#2559 docs: redesigned announcement bar
  scripts/doc-change-release.js
  www/docs/announcement.json
  www/docs/src/css/_card.css
  www/docs/src/css/_variables.css
  www/docs/src/theme/AnnouncementBar/Content/index.js
  www/docs/src/theme/AnnouncementBar/Content/styles.module.css
  www/docs/src/theme/AnnouncementBar/index.js
  www/docs/src/theme/AnnouncementBar/styles.module.css
  www/docs/src/theme/DocSidebar/Desktop/index.js
  www/docs/src/theme/Layout/index.js
  www/docs/src/theme/Layout/styles.module.css
  www/docs/static/img/bell-dark.png
  www/docs/static/img/bell.png
Labels: type: docs

#2546 fix(medusa): Order/Cart decorate totals should assign the items totals
  integration-tests/api/__tests__/admin/draft-order.js
  integration-tests/api/__tests__/admin/order/order.js
  integration-tests/plugins/__tests__/medusa-plugin-sendgrid/__snapshots__/index.js.snap
  packages/medusa/src/api/routes/admin/draft-orders/get-draft-order.ts
  packages/medusa/src/services/__mocks__/totals.js
  packages/medusa/src/services/__tests__/cart.js
  packages/medusa/src/services/__tests__/order.js
  packages/medusa/src/services/cart.ts
  packages/medusa/src/services/order.ts
Labels: automerge

#2560 docs: added code blocks without headers
  docs/content/add-plugins/mailchimp.md
  docs/content/add-plugins/sendgrid.mdx
  docs/content/admin/quickstart.md
  docs/content/advanced/admin/import-prices.mdx
  docs/content/advanced/admin/import-products.mdx
  docs/content/advanced/backend/batch-jobs/create.md
  docs/content/advanced/backend/cron-jobs/create.md
  docs/content/advanced/backend/customer-groups/index.md
  docs/content/advanced/backend/entities/index.md
  docs/content/advanced/backend/plugins/create.md
  docs/content/advanced/backend/price-lists/use-api.mdx
  docs/content/advanced/backend/price-selection-strategy/override.md
  docs/content/advanced/backend/services/create-service.md
  docs/content/advanced/backend/taxes/inclusive-pricing.md
  docs/content/contribution-guidelines.md
  docs/content/deployments/admin/deploying-on-netlify.md
  docs/content/deployments/storefront/deploying-gatsby-on-netlify.md
  docs/content/quickstart/quick-start-docker.md
  docs/content/quickstart/quick-start.md
  docs/content/troubleshooting/cli-installation-errors.mdx
  docs/content/troubleshooting/documentation-error.md
  docs/content/troubleshooting/s3-acl-error.md
  docs/content/troubleshooting/signing-in-to-admin.md
  docs/content/troubleshooting/transaction-error-in-checkout.md
  docs/content/tutorial/0-set-up-your-development-environment.mdx
  docs/content/tutorial/development.module.css
  docs/content/usage/create-medusa-app.mdx
  www/docs/src/css/_code.css
  www/docs/src/css/_docspage.css
  www/docs/src/css/_note.css
  www/docs/src/css/_variables.css
  www/docs/src/theme/CodeBlock/Content/String.js
  www/docs/src/theme/CodeBlock/Content/styles.module.css
  www/docs/src/theme/CodeBlock/index.js
  www/docs/src/theme/DocCard/styles.module.css
Labels: type: docs

#2565 docs: added "users" user guides
  docs/content/user-guide/users/_category_.json
  docs/content/user-guide/users/index.md
  docs/content/user-guide/users/profile.md
  docs/content/user-guide/users/team.mdx
  www/docs/docusaurus.config.js
Labels: type: docs

#2566 fix(medusa): add support for retrying failed event bus jobs
  .changeset/clever-eels-sit.md
  packages/medusa/src/services/event-bus.ts
Labels: automerge

#2569 docs: migrated images to cloudinary from imgur
  docs/content/add-plugins/algolia.md
  docs/content/add-plugins/contentful/customize-contentful.md
  docs/content/add-plugins/contentful/index.md
  docs/content/add-plugins/mailchimp.md
  docs/content/add-plugins/meilisearch.md
  docs/content/add-plugins/minio.md
  docs/content/add-plugins/paypal.md
  docs/content/add-plugins/s3.md
  docs/content/add-plugins/segment.md
  docs/content/add-plugins/sendgrid.mdx
  docs/content/add-plugins/slack.md
  docs/content/add-plugins/spaces.md
  docs/content/add-plugins/strapi.md
  docs/content/add-plugins/stripe.md
  docs/content/add-plugins/twilio-sms.md
  docs/content/admin/quickstart.md
  docs/content/advanced/backend/batch-jobs/index.md
  docs/content/advanced/backend/notification/how-to-create-notification-provider.md
  docs/content/advanced/backend/payment/how-to-create-payment-provider.md
  docs/content/advanced/backend/shipping/overview.md
  docs/content/deployments/admin/deploying-on-netlify.md
  docs/content/deployments/server/deploying-on-digital-ocean.md
  docs/content/deployments/server/deploying-on-qovery.md
  docs/content/deployments/storefront/deploying-gatsby-on-netlify.md
  docs/content/introduction.md
  docs/content/starters/gatsby-medusa-starter.md
  docs/content/starters/nextjs-medusa-starter.md
  docs/content/troubleshooting/cors-issues.md
  docs/content/troubleshooting/missing-payment-providers.md
  docs/content/user-guide/customers/groups.mdx
  docs/content/user-guide/customers/manage.mdx
  docs/content/user-guide/gift-cards/manage.mdx
  docs/content/user-guide/index.mdx
  docs/content/user-guide/lists.mdx
  docs/content/user-guide/orders/claims.mdx
  docs/content/user-guide/orders/drafts.mdx
  docs/content/user-guide/orders/exchange.mdx
  docs/content/user-guide/orders/export.mdx
  docs/content/user-guide/orders/fulfillments.mdx
  docs/content/user-guide/orders/manage.mdx
  docs/content/user-guide/orders/returns.mdx
  docs/content/user-guide/price-lists/import.mdx
  docs/content/user-guide/price-lists/manage.mdx
  docs/content/user-guide/products/collections.mdx
  docs/content/user-guide/products/export.mdx
  docs/content/user-guide/products/import.mdx
  docs/content/user-guide/products/index.mdx
  docs/content/user-guide/products/manage.mdx
  docs/content/user-guide/regions/manage.mdx
  docs/content/user-guide/regions/providers.mdx
  docs/content/user-guide/regions/shipping-options.mdx
  docs/content/user-guide/sales-channels/manage.mdx
  docs/content/user-guide/sales-channels/products.mdx
  docs/content/user-guide/taxes/tax-overrides.mdx
  docs/content/user-guide/taxes/tax-rates.mdx
  docs/content/user-guide/users/team.mdx
Labels: type: docs

#2574 fix(medusa-telemetry): Fix incorrect import
  .changeset/quiet-falcons-press.md
  packages/medusa-telemetry/src/store.js
Labels: automerge

#2584 docs: temporary fix for memory error that occurs during build
  .github/workflows/docs-test.yml
  docs/content/troubleshooting/documentation-error.md
  www/docs/.yarn/install-state.gz
  www/docs/package.json
  www/docs/src/css/_redocly.css
  www/docs/yarn.lock
Labels: type: docs

#2604 docs: payment and payment collection OAS
  packages/medusa/src/api/routes/admin/payment-collections/delete-payment-collection.ts
  packages/medusa/src/api/routes/admin/payment-collections/get-payment-collection.ts
  packages/medusa/src/api/routes/admin/payment-collections/index.ts
  packages/medusa/src/api/routes/admin/payment-collections/update-payment-collection.ts
  packages/medusa/src/api/routes/admin/payments/capture-payment.ts
  packages/medusa/src/api/routes/admin/payments/get-payment.ts
  packages/medusa/src/api/routes/admin/payments/index.ts
  packages/medusa/src/api/routes/admin/payments/refund-payment.ts
  packages/medusa/src/api/routes/store/payment-collections/authorize-payment-collection.ts
  packages/medusa/src/api/routes/store/payment-collections/get-payment-collection.ts
  packages/medusa/src/api/routes/store/payment-collections/index.ts
  packages/medusa/src/api/routes/store/payment-collections/manage-payment-sessions.ts
  packages/medusa/src/api/routes/store/payment-collections/refresh-payment-session.ts
  packages/medusa/src/models/payment-collection.ts
Labels: automerge

#2582 feat(medusa-js, medusa-react): PublishableApiKeys clients
  packages/medusa-js/src/resources/admin/index.ts
  packages/medusa-js/src/resources/admin/publishable-api-keys.ts
  packages/medusa-react/mocks/data/fixtures.json
  packages/medusa-react/mocks/handlers/admin.ts
  packages/medusa-react/src/hooks/admin/index.ts
  packages/medusa-react/src/hooks/admin/publishable-api-keys/index.ts
  packages/medusa-react/src/hooks/admin/publishable-api-keys/mutations.ts
  packages/medusa-react/src/hooks/admin/publishable-api-keys/queries.ts
  packages/medusa-react/test/hooks/admin/order-edits/mutations.test.ts
  packages/medusa-react/test/hooks/admin/publishable-api-keys/mutations.test.ts
  packages/medusa-react/test/hooks/admin/publishable-api-keys/queries.test.ts
Labels: automerge

#2616 feat(medusa-js): Register `PublishableApiKey`
  packages/medusa-js/src/error.ts
  packages/medusa-js/src/index.ts
  packages/medusa-js/src/key-manager.ts
  packages/medusa-js/src/request.ts
  packages/medusa-react/src/contexts/medusa.tsx
Labels: automerge

#2667 fix(medusa): Order service legacy decorate totals should add totals to items
  .changeset/moody-ravens-wait.md
  integration-tests/plugins/__tests__/medusa-plugin-sendgrid/__snapshots__/index.js.snap
  packages/medusa/src/services/order.ts
Labels: automerge

#2641 fix customer last name typo
  packages/medusa/src/models/customer.ts
Labels: type: docs

#2701 fix: allow passing idempotency key to service layer create
  .changeset/afraid-mugs-kneel.md
  packages/medusa/src/services/draft-order.ts
  packages/medusa/src/types/draft-orders.ts
Labels: automerge
