Repository medusajs/medusa, pull requests merged in 2022-08, with the labels that each got.

#1894 feat(medusa): Migrate and fix order service
  packages/medusa-js/src/resources/admin/orders.ts
  packages/medusa-react/src/hooks/admin/orders/mutations.ts
  packages/medusa-react/test/hooks/admin/orders/mutations.test.ts
  packages/medusa/src/api/routes/admin/orders/__tests__/create-order.js
  packages/medusa/src/api/routes/admin/orders/__tests__/delete-metadata.js
  packages/medusa/src/api/routes/admin/orders/create-fulfillment.ts
  packages/medusa/src/api/routes/admin/orders/create-order.ts
  packages/medusa/src/api/routes/admin/orders/create-shipment.ts
  packages/medusa/src/api/routes/admin/orders/delete-metadata.ts
  packages/medusa/src/api/routes/admin/orders/index.ts
  packages/medusa/src/api/routes/admin/orders/list-orders.ts
  packages/medusa/src/api/routes/admin/orders/update-order.ts
  packages/medusa/src/api/routes/store/customers/list-orders.ts
  packages/medusa/src/api/routes/store/orders/index.ts
  packages/medusa/src/models/index.ts
  packages/medusa/src/models/order.ts
  packages/medusa/src/models/payment-session.ts
  packages/medusa/src/repositories/order.ts
  packages/medusa/src/services/__mocks__/totals.js
  packages/medusa/src/services/__tests__/cart.js
  packages/medusa/src/services/__tests__/order.js
  packages/medusa/src/services/__tests__/shipping-profile.js
  packages/medusa/src/services/__tests__/totals.js
  packages/medusa/src/services/fulfillment.ts
  packages/medusa/src/services/order.ts
  packages/medusa/src/services/pricing.ts
  packages/medusa/src/services/shipping-profile.js
  packages/medusa/src/services/tax-provider.ts
  packages/medusa/src/services/totals.ts
  packages/medusa/src/strategies/batch-jobs/order/export.ts
  packages/medusa/src/strategies/batch-jobs/order/index.ts
  packages/medusa/src/types/cart.ts
  packages/medusa/src/types/gift-card.ts
  packages/medusa/src/types/orders.ts
Labels: project: typescript

#1954 Fix typos for overview on the homepage.md 📕✏️
  docs/content/homepage.md
Labels: type: docs

#1949 docs: last storage plugin is default - minio
  docs/content/add-plugins/minio.md
Labels: type: docs

#1950 docs: last storage plugin is default - s3
  docs/content/add-plugins/s3.md
Labels: type: docs

#1952 docs: add troubleshooting to medusa-file-s3 plugin
  docs/content/add-plugins/s3.md
Labels: type: docs

#1956 docs: improved segment documentation
  docs/content/add-plugins/segment.md
  packages/medusa-plugin-segment/READMD.md
Labels: type: docs

#1953 docs: update create plugin docs
  docs/content/advanced/backend/plugins/create.md
Labels: type: docs

#1937 Feat(medusa): Convert inventory service to ts
  packages/medusa/src/services/inventory.js
  packages/medusa/src/services/inventory.ts
Labels: automerge

#1961 Feat/convert return reason service to typescript
  integration-tests/api/__tests__/admin/return-reason.js
  packages/medusa/src/api/routes/admin/return-reasons/create-reason.ts
  packages/medusa/src/api/routes/admin/return-reasons/index.ts
  packages/medusa/src/api/routes/admin/return-reasons/list-reasons.ts
  packages/medusa/src/api/routes/admin/return-reasons/update-reason.ts
  packages/medusa/src/api/routes/store/return-reasons/index.ts
  packages/medusa/src/models/return-reason.ts
  packages/medusa/src/services/return-reason.ts
  packages/medusa/src/types/return-reason.ts
Labels: automerge

#1936 Feat(medusa): Convert middleware service to typescript
  packages/medusa/src/services/__tests__/middleware.js
  packages/medusa/src/services/middleware.ts
Labels: automerge

#1970 chore: fix for deployment
  .gitignore
  www/.gitignore
  www/.yarn/install-state.gz
  www/docs/.gitignore
  www/docs/.yarn/install-state.gz
  www/package.json
  www/reference/.gitignore
  www/reference/.yarn/install-state.gz
  www/reference/package.json
  www/reference/yarn.lock
  www/yarn.lock
Labels: type: docs, type: chore

#1971 docs: fix search in reference
  www/reference/gatsby-config.js
  www/reference/src/components/search/index.js
Labels: type: docs

#1969 docs: improved meilisearch docs
  docs/content/add-plugins/meilisearch.md
Labels: type: docs

#1972 docs: show last updated time
  www/docs/docusaurus.config.js
  www/reference/gatsby-config.js
Labels: type: docs

#1975 docs: fixes to the digitalocean documentation
  docs/content/deployments/server/deploying-on-digital-ocean.md
Labels: type: docs

#1978 docs: improved spaces documentation
  docs/content/add-plugins/s3.md
  docs/content/add-plugins/spaces.md
Labels: type: docs

#1979 docs: fixes to the meilisearch docs
  docs/content/add-plugins/meilisearch.md
  docs/content/starters/nextjs-medusa-starter.md
  packages/medusa-plugin-meilisearch/README.md
Labels: type: docs

#1984 Docs: Improved Algolia documentation
  docs/content/add-plugins/algolia.md
  docs/content/add-plugins/meilisearch.md
Labels: type: docs

#1985 fix(medusa-js): Client Request method
  .changeset/five-pets-move.md
  packages/medusa-js/src/request.ts
  packages/medusa-react/test/hooks/admin/uploads/mutations.test.ts
Labels: type: bug

#1996 docs: updated event reference
  docs/content/advanced/backend/subscribers/events-list.md
Labels: type: docs

#1998 chore: increase node version for docs test
  .github/workflows/docs-test.yml
Labels: type: chore

#1999 docs: added revert migration command
  docs/content/cli/reference.md
Labels: type: docs

#1992 test(integration): Fix array tests using asymetric matcher
  .changeset/honest-garlics-help.md
  integration-tests/api/__tests__/admin/discount.js
  integration-tests/api/__tests__/admin/order.js
  integration-tests/api/__tests__/admin/price-list.js
  integration-tests/api/__tests__/admin/product.js
  integration-tests/api/__tests__/admin/region.js
  integration-tests/api/__tests__/admin/return-reason.js
  integration-tests/api/__tests__/admin/sales-channels.js
  integration-tests/api/__tests__/returns/index.js
  integration-tests/api/__tests__/store/cart.js
  integration-tests/api/__tests__/store/products.js
  integration-tests/api/__tests__/store/return-reason.js
  integration-tests/api/__tests__/store/returns.js
  integration-tests/api/__tests__/taxes/orders.js
  integration-tests/api/__tests__/taxes/shipping-options.js
  integration-tests/api/__tests__/totals/orders.js
Labels: type: bug

#2010 docs: added video track event
  www/docs/src/theme/Layout/index.js
Labels: type: docs

#2015 docs: Change `:id` to `{id}` in OAS comments
  docs/api/admin-spec3.json
  docs/api/admin-spec3.yaml
  docs/api/admin/openapi.yaml
  docs/api/admin/paths/price-lists_{id}_products.yaml
  docs/api/admin/paths/tax-rates_:id_product-types_batch.yaml
  docs/api/admin/paths/tax-rates_{id}.yaml
  docs/api/admin/paths/tax-rates_{id}_product-types_batch.yaml
  docs/api/admin/paths/tax-rates_{id}_products_batch.yaml
  docs/api/admin/paths/tax-rates_{id}_shipping-options_batch.yaml
  docs/api/store-spec3.json
  docs/api/store-spec3.yaml
  docs/api/store/openapi.yaml
  packages/medusa/src/api/routes/admin/price-lists/list-price-list-products.ts
  packages/medusa/src/api/routes/admin/tax-rates/add-to-product-types.ts
  packages/medusa/src/api/routes/admin/tax-rates/add-to-products.ts
  packages/medusa/src/api/routes/admin/tax-rates/add-to-shipping-options.ts
  packages/medusa/src/api/routes/admin/tax-rates/get-tax-rate.ts
  packages/medusa/src/api/routes/admin/tax-rates/remove-from-product-types.ts
  packages/medusa/src/api/routes/admin/tax-rates/remove-from-products.ts
  packages/medusa/src/api/routes/admin/tax-rates/remove-from-shipping-options.ts
  packages/medusa/src/api/routes/admin/tax-rates/update-tax-rate.ts
Labels: type: docs

#1963 feat(medusa): Convert ShippingProfileService to TypeScript
  .changeset/proud-papayas-enjoy.md
  packages/medusa/src/api/routes/admin/shipping-profiles/index.ts
  packages/medusa/src/services/__tests__/shipping-profile.js
  packages/medusa/src/services/shipping-profile.js
  packages/medusa/src/services/shipping-profile.ts
  packages/medusa/src/types/common.ts
  packages/medusa/src/types/shipping-options.ts
  packages/medusa/src/types/shipping-profile.ts
Labels: needs-merge

#1968 feat(medusa): Use transactions in CartCompletionStrategy
  .changeset/tricky-suns-wink.md
  packages/medusa/src/api/routes/store/carts/complete-cart.ts
  packages/medusa/src/interfaces/cart-completion-strategy.ts
  packages/medusa/src/loaders/plugins.ts
  packages/medusa/src/strategies/__tests__/cart-completion.js
  packages/medusa/src/strategies/cart-completion.ts
Labels: type: feature or enhancement, type: bug

#1995 feat(medusa): Convert IdempotencyKeyService to TypeScript
  .changeset/late-owls-pump.md
  packages/medusa-core-utils/src/errors.ts
  packages/medusa/src/api/middlewares/error-handler.ts
  packages/medusa/src/api/routes/admin/orders/create-swap.ts
  packages/medusa/src/api/routes/store/carts/calculate-taxes.ts
  packages/medusa/src/api/routes/store/returns/create-return.ts
  packages/medusa/src/api/routes/store/swaps/create-swap.ts
  packages/medusa/src/services/idempotency-key.js
  packages/medusa/src/services/idempotency-key.ts
  packages/medusa/src/strategies/cart-completion.ts
  packages/medusa/src/types/idempotency-key.ts
Labels: project: typescript, type: bug

#2025 chore(medusa): Feature flag loader simplify, deduplicate and increase readability
  packages/medusa/src/loaders/feature-flags/index.ts
Labels: type: chore

#2027 docs: improved cart documentation
  docs/content/advanced/storefront/how-to-implement-checkout-flow.mdx
  docs/content/guides/carts-in-medusa.md
  docs/content/guides/carts-in-medusa.mdx
  www/docs/sidebars.js
  www/docs/src/css/custom.css
Labels: type: docs

#2028 docs: added report issue link
  www/docs/docusaurus.config.js
Labels: type: docs

#2029 docs: add export options for MinIO
  docs/content/add-plugins/minio.md
Labels: type: docs

#1773 Feat payment service migration
  docs-util/fixture-gen/src/services/test-pay.js
  docs/content/advanced/backend/payment/how-to-create-payment-provider.md
  integration-tests/api/__tests__/taxes/manual-taxes.js
  integration-tests/api/src/services/test-pay.js
  integration-tests/plugins/src/services/test-pay.js
  packages/medusa-interfaces/src/index.js
  packages/medusa/src/api/routes/store/carts/create-payment-sessions.ts
  packages/medusa/src/api/routes/store/carts/decorate-line-items-with-totals.ts
  packages/medusa/src/api/routes/store/carts/update-payment-session.ts
  packages/medusa/src/interfaces/index.ts
  packages/medusa/src/interfaces/payment-service.ts
  packages/medusa/src/loaders/defaults.ts
  packages/medusa/src/loaders/plugins.ts
  packages/medusa/src/migrations/1660040729000-payment_session_uniq_cartId_providerId.ts
  packages/medusa/src/models/payment-session.ts
  packages/medusa/src/models/payment.ts
  packages/medusa/src/services/__mocks__/test-pay.js
  packages/medusa/src/services/__tests__/cart.js
  packages/medusa/src/services/__tests__/payment-provider.js
  packages/medusa/src/services/__tests__/swap.js
  packages/medusa/src/services/cart.ts
  packages/medusa/src/services/order.ts
  packages/medusa/src/services/payment-provider.js
  packages/medusa/src/services/payment-provider.ts
  packages/medusa/src/services/system-payment-provider.js
  packages/medusa/tsconfig.json
Labels: type: feature or enhancement

#2024 feat(medusa): Refactor undefined check into a single util
  .changeset/tiny-sheep-compare.md
  packages/medusa/src/api/routes/admin/batch/list-batch-jobs.ts
  packages/medusa/src/api/routes/admin/discounts/list-discounts.ts
  packages/medusa/src/api/routes/admin/gift-cards/list-gift-cards.ts
  packages/medusa/src/api/routes/admin/orders/request-return.ts
  packages/medusa/src/api/routes/admin/price-lists/list-price-list-products.ts
  packages/medusa/src/api/routes/admin/product-tags/list-product-tags.ts
  packages/medusa/src/api/routes/admin/product-types/list-product-types.ts
  packages/medusa/src/api/routes/admin/returns/receive-return.ts
  packages/medusa/src/api/routes/admin/tax-rates/create-tax-rate.ts
  packages/medusa/src/api/routes/admin/tax-rates/update-tax-rate.ts
  packages/medusa/src/api/routes/admin/tax-rates/utils/get-query-config.ts
  packages/medusa/src/api/routes/store/carts/create-cart.ts
  packages/medusa/src/api/routes/store/products/list-products.ts
  packages/medusa/src/controllers/customers/list-customers.ts
  packages/medusa/src/loaders/feature-flags/index.ts
  packages/medusa/src/loaders/services.ts
  packages/medusa/src/loaders/strategies.ts
  packages/medusa/src/repositories/tax-rate.ts
  packages/medusa/src/services/cart.ts
  packages/medusa/src/services/claim.ts
  packages/medusa/src/services/customer-group.ts
  packages/medusa/src/services/customer.ts
  packages/medusa/src/services/fulfillment.ts
  packages/medusa/src/services/gift-card.ts
  packages/medusa/src/services/product-variant.ts
  packages/medusa/src/services/product.ts
  packages/medusa/src/services/return.js
  packages/medusa/src/services/shipping-option.ts
  packages/medusa/src/services/swap.js
  packages/medusa/src/services/tax-rate.ts
  packages/medusa/src/services/totals.ts
  packages/medusa/src/strategies/price-selection.ts
  packages/medusa/src/utils/get-query-config.ts
  packages/medusa/src/utils/index.ts
  packages/medusa/src/utils/is-defined.ts
  packages/medusa/src/utils/remove-undefined-properties.ts
Labels: type: chore

#2036 chore(medusa): Remove intepestive services re instanciation in loop
  packages/medusa/src/services/__tests__/order.js
  packages/medusa/src/services/__tests__/price-list.js
  packages/medusa/src/services/cart.ts
  packages/medusa/src/services/claim.ts
  packages/medusa/src/services/draft-order.ts
  packages/medusa/src/services/fulfillment.ts
  packages/medusa/src/services/order.ts
  packages/medusa/src/services/price-list.ts
  packages/medusa/src/services/product.ts
  packages/medusa/src/services/return.js
  packages/medusa/src/services/shipping-profile.ts
  packages/medusa/src/services/swap.js
Labels: type: chore

#2007 feat(medusa): Simplify the transaction base service
  packages/medusa/src/api/routes/admin/uploads/get-download-url.ts
  packages/medusa/src/interfaces/__tests__/transaction-base-service.spec.ts
  packages/medusa/src/interfaces/batch-job-strategy.ts
  packages/medusa/src/interfaces/file-service.ts
  packages/medusa/src/interfaces/notification-service.ts
  packages/medusa/src/interfaces/payment-service.ts
  packages/medusa/src/interfaces/search-service.ts
  packages/medusa/src/interfaces/transaction-base-service.ts
  packages/medusa/src/loaders/search-index.ts
  packages/medusa/src/services/auth.ts
  packages/medusa/src/services/batch-job.ts
  packages/medusa/src/services/cart.ts
  packages/medusa/src/services/claim-item.ts
  packages/medusa/src/services/claim.ts
  packages/medusa/src/services/custom-shipping-option.ts
  packages/medusa/src/services/customer.ts
  packages/medusa/src/services/discount-condition.ts
  packages/medusa/src/services/discount.ts
  packages/medusa/src/services/draft-order.ts
  packages/medusa/src/services/file.ts
  packages/medusa/src/services/fulfillment.ts
  packages/medusa/src/services/gift-card.ts
  packages/medusa/src/services/idempotency-key.ts
  packages/medusa/src/services/inventory.ts
  packages/medusa/src/services/note.ts
  packages/medusa/src/services/notification.ts
  packages/medusa/src/services/oauth.ts
  packages/medusa/src/services/order.ts
  packages/medusa/src/services/payment-provider.ts
  packages/medusa/src/services/price-list.ts
  packages/medusa/src/services/pricing.ts
  packages/medusa/src/services/product-collection.ts
  packages/medusa/src/services/product.ts
  packages/medusa/src/services/return-reason.ts
  packages/medusa/src/services/sales-channel.ts
  packages/medusa/src/services/search.ts
  packages/medusa/src/services/shipping-option.ts
  packages/medusa/src/services/shipping-profile.ts
  packages/medusa/src/services/store.ts
  packages/medusa/src/services/strategy-resolver.ts
  packages/medusa/src/services/tax-provider.ts
  packages/medusa/src/services/totals.ts
  packages/medusa/src/services/user.ts
  packages/medusa/src/strategies/batch-jobs/order/export.ts
  packages/medusa/src/strategies/batch-jobs/product/export.ts
  packages/medusa/src/subscribers/search-indexing.ts
Labels: type: feature or enhancement, automerge

#2046 docs: changed `BaseService` to `TransactionBaseService`
  docs/content/advanced/backend/entities.md
  docs/content/advanced/backend/services/create-service.md
Labels: type: docs

#2045 fix(medusa): join tracking links to all fulfillments in admin/orders
  .changeset/cyan-years-complain.md
  packages/medusa/src/api/routes/admin/orders/__tests__/get-order.js
  packages/medusa/src/api/routes/admin/orders/index.ts
Labels: automerge

#2037 feat(medusa): Implement the SC migration scripts
  packages/medusa/src/scripts/sales-channels-migration.ts
Labels: automerge

#2051 docs: added search track event
  www/docs/src/theme/SearchBar/index.js
Labels: type: docs

#2052 fix(medusa-payment-stripe): Add adjustments relation in CartSubscriber
  packages/medusa-payment-stripe/src/subscribers/cart.js
Labels: type: bug

#1926 feat(medusa): Migrate Return service to ts
  packages/medusa/src/api/routes/admin/orders/request-return.ts
  packages/medusa/src/api/routes/admin/returns/list-returns.ts
  packages/medusa/src/api/routes/store/returns/create-return.ts
  packages/medusa/src/services/claim.ts
  packages/medusa/src/services/line-item.ts
  packages/medusa/src/services/return.ts
  packages/medusa/src/types/return.ts
Labels: project: typescript, type: feature or enhancement, needs-merge

#2075 docs: added introduction to user guide
  docs/content/user-guide/index.mdx
  www/docs/sidebars.js
  www/docs/src/components/UiIcon/index.js
  www/docs/src/css/custom.css
Labels: type: docs

#1988 feat(medusa): Convert SystemPaymentProvider to TypeScript
  .changeset/thick-cows-guess.md
  packages/medusa/src/services/system-payment-provider.js
  packages/medusa/src/services/system-payment-provider.ts
Labels: automerge

#2082 docs: added "Products Overview" user guide
  docs/content/user-guide/orders/index.mdx
  docs/content/user-guide/products/index.mdx
  www/docs/sidebars.js
Labels: type: docs

#2083 docs: added "Customers Overview" user guide
  docs/content/user-guide/customers/index.mdx
  docs/content/user-guide/orders/index.mdx
  docs/content/user-guide/products/index.mdx
  www/docs/sidebars.js
  www/docs/src/components/UiIcon/index.js
Labels: type: docs

#2089 Docs: Added "Manage a Gift Card" user guide
  docs/content/user-guide/customers/index.mdx
  docs/content/user-guide/discounts/index.mdx
  docs/content/user-guide/gift-cards/index.mdx
  docs/content/user-guide/index.mdx
  docs/content/user-guide/orders/index.mdx
  docs/content/user-guide/products/index.mdx
  www/docs/sidebars.js
Labels: type: docs

#2086 fix(medusa): Incorrect swap difference due
  integration-tests/api/__tests__/admin/swaps.js
  integration-tests/api/__tests__/totals/orders.js
  integration-tests/api/factories/simple-shipping-option-factory.ts
  integration-tests/api/package.json
  integration-tests/api/yarn.lock
  packages/medusa/src/services/swap.js
Labels: type: bug, automerge

#2092 docs: added "Price Lists Overview" user guide
  docs/content/user-guide/discounts/index.mdx
  docs/content/user-guide/orders/index.mdx
  docs/content/user-guide/price-lists/index.mdx
  docs/content/user-guide/products/index.mdx
  www/docs/sidebars.js
Labels: type: docs

#1854 fix(medusa): remove unique cart on payments to allow canceled payments to exist
  .changeset/many-pumpkins-enjoy.md
  integration-tests/api/__tests__/store/orders.js
  packages/medusa/src/migrations/1661345741249-multi_payment_cart.ts
  packages/medusa/src/models/payment.ts
Labels: automerge

#2091 chore(integration): throw errors on catch blocks
  .github/workflows/action.yml
  integration-tests/api/__tests__/admin/auth.js
  integration-tests/api/__tests__/admin/colllections.js
  integration-tests/api/__tests__/admin/customer-groups.js
  integration-tests/api/__tests__/admin/customer.js
  integration-tests/api/__tests__/admin/discount.js
  integration-tests/api/__tests__/admin/draft-order.js
  integration-tests/api/__tests__/admin/gift-cards.js
  integration-tests/api/__tests__/admin/note.js
  integration-tests/api/__tests__/admin/order.js
  integration-tests/api/__tests__/admin/price-list.js
  integration-tests/api/__tests__/admin/product-tag.js
  integration-tests/api/__tests__/admin/product-type.js
  integration-tests/api/__tests__/admin/product.js
  integration-tests/api/__tests__/admin/region.js
  integration-tests/api/__tests__/admin/return-reason.js
  integration-tests/api/__tests__/admin/returns.js
  integration-tests/api/__tests__/admin/sales-channels.js
  integration-tests/api/__tests__/admin/shipping-options.js
  integration-tests/api/__tests__/admin/swaps.js
  integration-tests/api/__tests__/admin/variant.js
  integration-tests/api/__tests__/batch-jobs/api.js
  integration-tests/api/__tests__/batch-jobs/order/export.js
  integration-tests/api/__tests__/batch-jobs/product/export.js
  integration-tests/api/__tests__/claims/index.js
  integration-tests/api/__tests__/line-item-adjustments/ff-sales-channel.js
  integration-tests/api/__tests__/line-item-adjustments/index.js
  integration-tests/api/__tests__/price-selection/index.js
  integration-tests/api/__tests__/returns/index.js
  integration-tests/api/__tests__/store/cart.js
  integration-tests/api/__tests__/store/collections.js
  integration-tests/api/__tests__/store/draft-order.js
  integration-tests/api/__tests__/store/product-variants.js
  integration-tests/api/__tests__/store/products.js
  integration-tests/api/__tests__/store/return-reason.js
  integration-tests/api/__tests__/store/sales-channels.js
  integration-tests/api/__tests__/store/swaps.js
  integration-tests/api/__tests__/swaps/index.js
  integration-tests/api/__tests__/taxes/admin-tax-rates.js
  integration-tests/api/__tests__/taxes/automatic-taxes.js
  integration-tests/api/__tests__/taxes/cart.js
  integration-tests/api/__tests__/taxes/manual-taxes.js
  integration-tests/api/__tests__/taxes/orders.js
  integration-tests/api/__tests__/taxes/shipping-options.js
  integration-tests/api/__tests__/totals/orders.js
  integration-tests/api/package.json
  integration-tests/helpers/bootstrap-app.js
  integration-tests/helpers/use-template-db.js
  integration-tests/plugins/__tests__/medusa-plugin-sendgrid/index.js
  package.json
Labels: automerge

#2093 Docs: added Region user guides
  docs/content/user-guide/regions/index.md
  docs/content/user-guide/regions/manage.mdx
  www/docs/sidebars.js
Labels: type: docs

#2056 docs: Add upgrade guide for v1.3.6
  .changeset/eighty-coats-joke.md
  docs/content/advanced/backend/upgrade-guides/1-3-6.md
  www/docs/sidebars.js
Labels: type: docs, automerge

#2057 docs: Update Payment Provider documentation
  .changeset/shiny-badgers-brake.md
  docs/content/advanced/backend/payment/how-to-create-payment-provider.md
  docs/content/advanced/backend/payment/overview.md
Labels: type: docs, automerge

#2099 Fix: incorrect exit status of OAS comments test
  packages/medusa/src/api/routes/store/customers/list-orders.ts
  scripts/build-openapi.js
Labels: type: docs

#2101 docs: added "Sales Channels" user guides
  docs/content/user-guide/sales-channels/index.md
  docs/content/user-guide/sales-channels/manage.mdx
  www/docs/sidebars.js
Labels: type: docs

#1706 feat: product import strategy
  integration-tests/api/__tests__/admin/product.js
  integration-tests/api/__tests__/batch-jobs/product/import.js
  integration-tests/api/__tests__/batch-jobs/product/product-import.csv
  integration-tests/api/helpers/batch-job-seeder.js
  integration-tests/api/src/services/local-file-service.js
  integration-tests/helpers/use-redis.ts
  integration-tests/package.json
  packages/medusa-file-minio/src/services/minio.js
  packages/medusa/package.json
  packages/medusa/src/api/routes/admin/products/create-product.ts
  packages/medusa/src/api/routes/admin/products/update-variant.ts
  packages/medusa/src/loaders/strategies.ts
  packages/medusa/src/services/__tests__/csv-parser.js
  packages/medusa/src/services/__tests__/product-variant.js
  packages/medusa/src/services/batch-job.ts
  packages/medusa/src/services/csv-parser.ts
  packages/medusa/src/services/event-bus.ts
  packages/medusa/src/services/product-variant.ts
  packages/medusa/src/services/product.ts
  packages/medusa/src/services/region.ts
  packages/medusa/src/services/tax-provider.ts
  packages/medusa/src/strategies/__tests__/batch-jobs/product/import.ts
  packages/medusa/src/strategies/batch-jobs/product/import.ts
  packages/medusa/src/strategies/batch-jobs/product/types.ts
  packages/medusa/src/strategies/batch-jobs/product/utils.ts
  packages/medusa/src/subscribers/batch-job.ts
  yarn.lock
Labels: type: feature or enhancement, needs-merge

#2087 Feat/tax inclusive pricing extend price selection strategy
  integration-tests/api/__tests__/price-selection/tax-inclusive-prices.js
  integration-tests/api/factories/simple-price-list-factory.ts
  integration-tests/api/factories/simple-region-factory.ts
  packages/medusa/src/interfaces/price-selection-strategy.ts
  packages/medusa/src/models/money-amount.ts
  packages/medusa/src/repositories/money-amount.ts
  packages/medusa/src/services/pricing.ts
  packages/medusa/src/strategies/__tests__/price-selection.js
  packages/medusa/src/strategies/price-selection.ts
  packages/medusa/src/types/pricing.ts
Labels: automerge

#2118 docs: fixed middleware used in the Storefront endpoint documentation
  docs/content/advanced/backend/endpoints/add-storefront.md
Labels: type: docs

#2119 fix(docs): API reference bugs
  .github/workflows/oas-test.yml
  packages/medusa/src/api/routes/admin/discounts/create-condition.ts
  packages/medusa/src/api/routes/admin/discounts/update-condition.ts
  packages/medusa/src/api/routes/admin/gift-cards/update-gift-card.ts
  packages/medusa/src/models/shipping-method-tax-line.ts
  packages/medusa/src/models/shipping-method.ts
  scripts/build-openapi.js
Labels: type: docs

#2116 chore: Remove `lerna`
  .gitignore
  lerna.json
  package.json
  scripts/generate-fixtures.sh
  yarn.lock
Labels: type: chore, automerge

#1846 fix(medusa): Delete ProductOption on Product without Variants
  .changeset/twelve-pots-kneel.md
  integration-tests/api/__tests__/admin/product.js
  packages/medusa/src/services/product.ts
Labels: automerge

#2128 docs: fix problem in starter URLs
  docs/content/quickstart/quick-start.md
Labels: type: docs

#2127 docs: rearrange user guide
  docs/content/user-guide/customers/_category_.json
  docs/content/user-guide/customers/groups.md
  docs/content/user-guide/customers/index.md
  docs/content/user-guide/customers/index.mdx
  docs/content/user-guide/customers/manage.md
  docs/content/user-guide/discounts/_category_.json
  docs/content/user-guide/discounts/conditions.md
  docs/content/user-guide/discounts/create.md
  docs/content/user-guide/discounts/edit.md
  docs/content/user-guide/discounts/index.md
  docs/content/user-guide/discounts/index.mdx
  docs/content/user-guide/gift-cards/_category_.json
  docs/content/user-guide/gift-cards/custom.md
  docs/content/user-guide/gift-cards/index.md
  docs/content/user-guide/gift-cards/index.mdx
  docs/content/user-guide/gift-cards/manage.mdx
  docs/content/user-guide/index.mdx
  docs/content/user-guide/lists.mdx
  docs/content/user-guide/orders/_category_.json
  docs/content/user-guide/orders/claims.md
  docs/content/user-guide/orders/drafts.md
  docs/content/user-guide/orders/fulfillments.md
  docs/content/user-guide/orders/index.md
  docs/content/user-guide/orders/index.mdx
  docs/content/user-guide/orders/manage.md
  docs/content/user-guide/orders/payments.md
  docs/content/user-guide/orders/returns.md
  docs/content/user-guide/orders/swaps.md
  docs/content/user-guide/price-lists/_category_.json
  docs/content/user-guide/price-lists/create.md
  docs/content/user-guide/price-lists/delete.md
  docs/content/user-guide/price-lists/edit.md
  docs/content/user-guide/price-lists/index.md
  docs/content/user-guide/price-lists/index.mdx
  docs/content/user-guide/products/_category_.json
  docs/content/user-guide/products/collections.md
  docs/content/user-guide/products/export.mdx
  docs/content/user-guide/products/index.mdx
  docs/content/user-guide/products/manage-digital.md
  docs/content/user-guide/products/manage.md
  docs/content/user-guide/regions/_category_.json
  docs/content/user-guide/regions/index.md
  docs/content/user-guide/regions/manage.mdx
  docs/content/user-guide/regions/providers.md
  docs/content/user-guide/regions/shipping-options.md
  docs/content/user-guide/sales-channels/_category_.json
  docs/content/user-guide/sales-channels/index.md
  docs/content/user-guide/sales-channels/manage.mdx
  docs/content/user-guide/sales-channels/products.mdx
  docs/content/user-guide/taxes/_category_.json
  docs/content/user-guide/taxes/index.md
  docs/content/user-guide/taxes/manage.md
  docs/content/user-guide/taxes/manage.mdx
  docs/content/user-guide/taxes/tax-inclusive.md
  docs/content/user-guide/taxes/tax-overrides.mdx
  docs/content/user-guide/taxes/tax-rates.mdx
  www/docs/sidebars.js
Labels: type: docs

#2129 docs: added link to user guide
  www/docs/docusaurus.config.js
Labels: type: docs

#2123 feat(medusa): Line item totals calculations
  integration-tests/api/__tests__/store/cart/ff-tax-inclusive-pricing.js
  packages/medusa/src/services/__tests__/totals.js
  packages/medusa/src/services/cart.ts
  packages/medusa/src/services/claim.ts
  packages/medusa/src/services/discount.ts
  packages/medusa/src/services/order.ts
  packages/medusa/src/services/pricing.ts
  packages/medusa/src/services/return.ts
  packages/medusa/src/services/totals.ts
  packages/medusa/src/strategies/__tests__/tax-calculation.js
  packages/medusa/src/strategies/price-selection.ts
  packages/medusa/src/strategies/tax-calculation.ts
  packages/medusa/src/utils/calculate-price-tax-amount.ts
  packages/medusa/src/utils/index.ts
Labels: type: feature or enhancement
