Repository medusajs/medusa, pull requests merged in 2023-10, with the labels that each got.

#5279 fix(medusa): Accept invite should not require first/last name
  .changeset/seven-snails-live.md
  packages/medusa/src/api/routes/admin/invites/accept-invite.ts
Labels: automerge, version: next

#5213 feat(utils): Utils to create an object select, relation from a string[]
  .changeset/stale-apricots-itch.md
  packages/utils/src/common/__tests__/string-to-select-relation-object.ts
  packages/utils/src/common/index.ts
  packages/utils/src/common/string-to-select-relation-object.ts
Labels: version: next

#5216 feat(utils,modules-sdk): Remote query object to string array
  .changeset/calm-spiders-beg.md
  packages/modules-sdk/package.json
  packages/modules-sdk/src/__tests__/utils/get-fields-and-relations.spec.ts
  packages/modules-sdk/src/__tests__/utils/graphql-schema-to-fields.ts
  packages/modules-sdk/src/utils/get-fields-and-relations.ts
  packages/modules-sdk/src/utils/graphql-schema-to-fields.ts
  packages/modules-sdk/src/utils/index.ts
  packages/utils/src/common/__tests__/remote-query-object-from-string.spec.ts
  packages/utils/src/common/__tests__/remote-query-object-to-string.spec.ts
  packages/utils/src/common/index.ts
  packages/utils/src/common/remote-query-object-from-string.ts
  packages/utils/src/common/remote-query-object-to-string.ts
  yarn.lock
Labels: automerge, version: next

#5242 feat(*): modules export entities and fields
  .changeset/plenty-bugs-push.md
  packages/inventory/src/joiner-config.ts
  packages/link-modules/src/initialize/index.ts
  packages/link-modules/src/utils/generate-schema.ts
  packages/link-modules/src/utils/index.ts
  packages/medusa/src/joiner-config.ts
  packages/medusa/src/joiner-configs/cart-service.ts
  packages/medusa/src/joiner-configs/customer-service.ts
  packages/medusa/src/joiner-configs/index.ts
  packages/medusa/src/joiner-configs/region-service.ts
  packages/medusa/src/joiner-configs/shipping-profile-service.ts
  packages/modules-sdk/src/__mocks__/inventory-module.ts
  packages/modules-sdk/src/__mocks__/product-module.ts
  packages/modules-sdk/src/__mocks__/stock-location-module.ts
  packages/modules-sdk/src/__tests__/clean-graphql-schema.spec.ts
  packages/modules-sdk/src/medusa-app.ts
  packages/modules-sdk/src/medusa-module.ts
  packages/modules-sdk/src/remote-link.ts
  packages/modules-sdk/src/utils/clean-graphql-schema.ts
  packages/modules-sdk/src/utils/index.ts
  packages/pricing/src/joiner-config.ts
  packages/product/src/joiner-config.ts
  packages/product/src/schema/index.ts
  packages/stock-location/src/joiner-config.ts
  packages/types/src/modules-sdk/index.ts
  packages/utils/src/common/camel-to-snake-case.ts
  packages/utils/src/common/index.ts
Labels: version: next

#5264 feat(admin-ui): Add Spanish translations
  packages/admin-ui/ui/public/locales/es/translation.json
  packages/admin-ui/ui/src/i18n/index.ts
Labels: automerge, version: next, i18n

#5282 feat(admin-ui): Add Italian translation
  packages/admin-ui/ui/public/locales/it/translation.json
  packages/admin-ui/ui/src/i18n/index.ts
Labels: automerge, version: next, i18n

#5267 feat(admin-ui): Add German translation
  packages/admin-ui/ui/public/locales/de/translation.json
  packages/admin-ui/ui/src/i18n/index.ts
Labels: automerge, version: next, i18n

#5265 fix(medusa): Send INSUFFICIENT_INVENTORY code with error
  packages/medusa/src/services/cart.ts
Labels: version: next

#5335 chore: added and improved TSDoc of pricing module
  .github/workflows/generate-references.yml
  docs-util/packages/typedoc-config/pricing.js
  docs-util/packages/typedoc-config/tsconfig.json
  docs-util/packages/typedoc-plugin-markdown-medusa/src/render-utils.ts
  docs-util/packages/typedoc-plugin-markdown-medusa/src/resources/helpers/comments.ts
  docs-util/packages/typedoc-plugin-markdown-medusa/src/resources/helpers/debug.ts
  docs-util/packages/typedoc-plugin-markdown-medusa/src/resources/helpers/signature-title.ts
  docs-util/packages/typedoc-plugin-markdown-medusa/src/resources/helpers/title-level.ts
  docs-util/packages/typedoc-plugin-markdown-medusa/src/resources/helpers/type.ts
  docs-util/packages/typedoc-plugin-markdown-medusa/src/resources/partials/member.signature.hbs
  docs-util/packages/typedoc-plugin-markdown-medusa/src/utils/reflection-formatter.ts
  packages/types/src/common/common.ts
  packages/types/src/dal/index.ts
  packages/types/src/pricing/common/currency.ts
  packages/types/src/pricing/common/money-amount.ts
  packages/types/src/pricing/common/price-rule.ts
  packages/types/src/pricing/common/price-set-money-amount-rules.ts
  packages/types/src/pricing/common/price-set-money-amount.ts
  packages/types/src/pricing/common/price-set.ts
  packages/types/src/pricing/common/rule-type.ts
  packages/types/src/pricing/service.ts
  packages/types/src/shared-context.ts
Labels: automerge, proj: pricing-mod

#5294 feat(pricing,types,utils): Move calculate pricing query to a repository + rule type validation
  .changeset/breezy-elephants-talk.md
  packages/pricing/integration-tests/__tests__/services/pricing-module/calculate-price.spec.ts
  packages/pricing/integration-tests/__tests__/services/rule-type/index.spec.ts
  packages/pricing/src/loaders/container.ts
  packages/pricing/src/repositories/index.ts
  packages/pricing/src/repositories/pricing.ts
  packages/pricing/src/repositories/rule-type.ts
  packages/pricing/src/services/pricing-module.ts
  packages/pricing/src/types/index.ts
  packages/pricing/src/types/repositories/index.ts
  packages/pricing/src/types/repositories/pricing.ts
  packages/utils/src/dal/mikro-orm/mikro-orm-repository.ts
  packages/utils/src/index.ts
  packages/utils/src/pricing/__tests__/get-invalid-rule-attributes.spec.ts
  packages/utils/src/pricing/__tests__/validate-rule-attributes.spec.ts
  packages/utils/src/pricing/index.ts
Labels: automerge, proj: pricing-mod

#5301 feat: move create inventory to @medusajs/workflows
  .changeset/tame-queens-cough.md
  integration-tests/plugins/__tests__/inventory/inventory-items/ff-many-to-many.js
  integration-tests/plugins/__tests__/inventory/inventory-items/index.js
  integration-tests/plugins/__tests__/workflows/inventory/create-inventory-items.ts
  integration-tests/plugins/package.json
  packages/inventory/src/utils/build-query.ts
  packages/inventory/src/utils/query.ts
  packages/medusa/src/api/routes/admin/inventory-items/create-inventory-item.ts
  packages/medusa/src/api/routes/admin/inventory-items/transaction/create-inventory-item.ts
  packages/types/src/workflow/index.ts
  packages/types/src/workflow/inventory/create-inventory-items.ts
  packages/types/src/workflow/inventory/index.ts
  packages/utils/src/feature-flags/index.ts
  packages/utils/src/feature-flags/many-to-many-inventory.ts
  packages/workflows/src/definition/index.ts
  packages/workflows/src/definition/inventory/create-inventory-item.ts
  packages/workflows/src/definition/inventory/index.ts
  packages/workflows/src/definition/product/create-products.ts
  packages/workflows/src/definition/product/prepare-create-inventory-items.ts
  packages/workflows/src/definitions.ts
  packages/workflows/src/handlers/inventory/attach-inventory-items.ts
  packages/workflows/src/handlers/inventory/create-inventory-items.ts
  packages/workflows/src/handlers/inventory/detach-inventory-items.ts
  packages/workflows/src/handlers/inventory/remove-inventory-items.ts
  yarn.lock
Labels: automerge

#5339 fix(admin-ui): Price list domain fixes
  .changeset/many-bees-own.md
  packages/admin-ui/package.json
  packages/admin-ui/ui/public/locales/en/translation.json
  packages/admin-ui/ui/src/domain/pricing/edit/details/details-section.tsx
  packages/admin-ui/ui/src/domain/pricing/edit/edit.tsx
  packages/admin-ui/ui/src/domain/pricing/edit/prices/add-products-modal.tsx
  packages/admin-ui/ui/src/domain/pricing/forms/price-list-details-form/price-list-details-form.tsx
  packages/admin-ui/ui/src/domain/pricing/forms/price-list-prices-form/price-list-prices-form.tsx
  packages/admin-ui/ui/src/domain/pricing/forms/price-list-product-prices-form/price-list-product-prices-form.tsx
  packages/admin-ui/ui/src/domain/pricing/new/new.tsx
  packages/admin-ui/ui/src/domain/pricing/overview/overview.tsx
  yarn.lock
Labels: automerge

#5247 fix(medusa): Filter statement in `partitionItems_ method` of Fulfillment Service
  .changeset/gold-emus-relax.md
  packages/medusa/src/services/fulfillment.ts
Labels: automerge

#5287 feat(medusa): add pricing integration feature flag
  packages/medusa/src/loaders/feature-flags/isolate-pricing-domain.ts
Labels: automerge, proj: pricing-mod

#5281 fix(medusa, types): Mark properties as nullable to reflect their correct types
  .changeset/chilly-pugs-doubt.md
  packages/medusa/src/models/product-variant.ts
  packages/types/src/inventory/common.ts
Labels: status: needs more

#5390 fix(medusa-plugin-brightpearl): Missing discounts rule relation
  .changeset/tender-doors-wave.md
  packages/medusa-plugin-brightpearl/src/subscribers/order.js
Labels: automerge

#5404 feat(create-medusa-app): add tracking for selected options
  .changeset/popular-shirts-doubt.md
  packages/create-medusa-app/src/commands/create.ts
Labels: automerge, version: next

#5337 chore(orchestration): prevent throwing on already defined workflow
  .changeset/strong-dragons-flow.md
  packages/orchestration/src/__tests__/workflow/local-workflow.ts
  packages/orchestration/src/workflow/workflow-manager.ts
  packages/utils/src/common/__tests__/deep-equal-obj.spec.ts
  packages/utils/src/common/deep-equal-obj.ts
  packages/utils/src/common/index.ts
Labels: automerge, version: next

#5406 fix(medusa-js): JwtTokenManager.registerJwt for store domain
  .changeset/three-squids-add.md
  packages/medusa-js/src/resources/auth.ts
Labels: automerge, version: next

#5394 fix(admin-ui): Remove t() on product.status update
  .changeset/tidy-games-drum.md
  packages/admin-ui/ui/src/components/templates/product-table/use-product-actions.tsx
  packages/admin-ui/ui/src/hooks/use-edit-product-actions.tsx
  packages/medusa/src/api/routes/admin/products/update-product.ts
Labels: version: next

#5387 chore: fix interfaces for product module
  .changeset/gorgeous-fans-wash.md
  packages/product/integration-tests/__tests__/services/product-module-service/product-collections.spec.ts
  packages/product/integration-tests/__tests__/services/product-module-service/product-options.spec.ts
  packages/product/src/models/product-option.ts
  packages/product/src/repositories/product-collection.ts
  packages/product/src/repositories/product-option.ts
  packages/product/src/services/product-module-service.ts
  packages/types/src/product/common.ts
Labels: automerge

#5385 feat(medusa): Add item and shipping tax totals to order
  .changeset/chilly-suns-impress.md
  integration-tests/api/__tests__/admin/order/order.js
  integration-tests/api/__tests__/store/orders.js
  packages/medusa/src/models/order.ts
  packages/medusa/src/services/__tests__/order.js
  packages/medusa/src/services/order.ts
Labels: version: next

#5375 feat(admin-ui): Correct some German translations
  packages/admin-ui/ui/public/locales/de/translation.json
Labels: version: next, i18n, Hacktoberfest

#5377 feat(admin-ui): Add Croatian translation
  .changeset/old-laws-clap.md
  packages/admin-ui/ui/public/locales/hr/translation.json
  packages/admin-ui/ui/src/i18n/index.ts
Labels: version: next, i18n, Hacktoberfest

#5395 feat(admin-ui): add Bosnian translation
  .changeset/shiny-apples-serve.md
  packages/admin-ui/ui/public/locales/bs/translation.json
  packages/admin-ui/ui/src/i18n/index.ts
Labels: automerge, version: next, i18n, Hacktoberfest

#5409 Feat(medusa, types, pricing): pricing module migration script
  .changeset/dull-dolphins-cover.md
  packages/medusa/src/scripts/create-default-rule-types.ts
  packages/medusa/src/scripts/money-amount-pricing-module-migration.ts
  packages/pricing/src/services/pricing-module.ts
  packages/types/src/pricing/common/money-amount.ts
Labels: proj: pricing-mod

#5412 feat(medusa,workflows,types): update prices on product and variant update
  integration-tests/environment-helpers/setup-server.js
  integration-tests/environment-helpers/test-server.js
  integration-tests/environment-helpers/use-container.js
  integration-tests/plugins/__tests__/product/admin/create-product.ts
  integration-tests/plugins/__tests__/product/admin/update-product-variant.spec.ts
  integration-tests/plugins/__tests__/product/admin/update-product.spec.ts
  integration-tests/plugins/helpers/create-variant-price-set.ts
  packages/medusa/src/api/routes/admin/products/update-product.ts
  packages/medusa/src/api/routes/admin/products/update-variant.ts
  packages/types/src/workflow/product/index.ts
  packages/types/src/workflow/product/update-product-variants.ts
  packages/workflows/src/definition/product/index.ts
  packages/workflows/src/definition/product/update-product-variants.ts
  packages/workflows/src/definition/product/update-products.ts
  packages/workflows/src/definitions.ts
  packages/workflows/src/handlers/product/index.ts
  packages/workflows/src/handlers/product/revert-variant-prices.ts
  packages/workflows/src/handlers/product/update-product-variants-prepare-data.ts
  packages/workflows/src/handlers/product/update-product-variants.ts
  packages/workflows/src/handlers/product/update-products-prepare-data.ts
  packages/workflows/src/handlers/product/upsert-variant-prices.ts
Labels: version: next, proj: pricing-mod

#5075 fix(medusa): totals calculation with gift card
  .changeset/fifty-cooks-occur.md
  packages/medusa/src/services/__mocks__/new-totals.js
  packages/medusa/src/services/__tests__/order.js
  packages/medusa/src/services/cart.ts
  packages/medusa/src/services/new-totals.ts
  packages/medusa/src/services/order.ts
Labels: automerge

#5428 fix(medusa): Revert status type in API
  .changeset/rich-bags-cry.md
  packages/admin-ui/ui/src/hooks/use-edit-product-actions.tsx
  packages/medusa/src/api/routes/admin/products/update-product.ts
Labels: version: next

#5437 Feat(medusa): update migration and initDb to run link-migrations
  integration-tests/environment-helpers/use-db.js
  integration-tests/plugins/__tests__/pricing/get-product.ts
  integration-tests/plugins/__tests__/product/admin/create-product.ts
  integration-tests/plugins/__tests__/product/admin/update-product-variant.spec.ts
  integration-tests/plugins/__tests__/product/admin/update-product.spec.ts
  integration-tests/plugins/helpers/create-variant-price-set.ts
  integration-tests/plugins/package.json
  packages/medusa/src/api/routes/admin/products/update-product.ts
  packages/medusa/src/commands/migrate.js
  packages/medusa/src/index.js
  packages/medusa/src/loaders/index.ts
  packages/medusa/src/loaders/medusa-app.ts
  packages/medusa/src/scripts/money-amount-pricing-module-migration.ts
  packages/medusa/src/utils/merge-modules-config.ts
  packages/modules-sdk/src/medusa-app.ts
  packages/modules-sdk/src/medusa-module.ts
  packages/modules-sdk/src/remote-query.ts
  packages/utils/src/modules-sdk/load-module-database-config.ts
  packages/workflows/src/handlers/product/revert-variant-prices.ts
  packages/workflows/src/handlers/product/update-products-variants-prices.ts
  packages/workflows/src/handlers/product/upsert-variant-prices.ts
  yarn.lock
Labels: version: next

#5463 feat(admin-ui): add Tamil translation
  packages/admin-ui/ui/public/locales/tm/translation.json
  packages/admin-ui/ui/src/i18n/index.ts
Labels: i18n, Hacktoberfest

#5084 feat(admin-ui): Add Ukrainian translation
  packages/admin-ui/ui/public/locales/uk/translation.json
  packages/admin-ui/ui/src/i18n/index.ts
Labels: i18n, Hacktoberfest

#5484 fix(admin-ui): modify webpack config to prevent throwing sourcemap errors
  .changeset/wild-keys-beam.md
  packages/admin-ui/package.json
  packages/admin-ui/src/node/webpack/get-webpack-config.ts
  packages/admin-ui/webpack.config.dev.ts
  yarn.lock
Labels: version: next

#5356 fix(admin-ui): TIP in shipping option creation
  .changeset/six-pigs-return.md
  packages/admin-ui/ui/src/domain/settings/regions/components/shipping-option-form/use-shipping-option-form-data.tsx
  packages/admin-ui/ui/src/domain/settings/regions/edit/return-shipping-options/create-return-shipping-option.modal.tsx
  packages/admin-ui/ui/src/domain/settings/regions/edit/shipping-options/create-shipping-option-modal.tsx
Labels: version: next

#5410 feat(medusa): variant creation with prices in productservice.create
  .changeset/small-eggs-search.md
  integration-tests/plugins/__tests__/services/product.ts
  packages/medusa/src/services/__tests__/product.js
  packages/medusa/src/services/product.ts
Labels: version: next

#5474 feat(create-medusa-app): improve spinner style
  .changeset/silent-swans-jam.md
  packages/create-medusa-app/src/utils/facts.ts
Labels: version: next

#5453 feat(medusa-oas-cli,oas-github-ci): new options + added download of OAS in api reference
  .changeset/yellow-pillows-cry.md
  package.json
  packages/oas/medusa-oas-cli/src/command-docs.ts
  packages/oas/oas-github-ci/scripts/build-openapi.js
  www/apps/api-reference/app/_mdx/client-libraries.mdx
  www/apps/api-reference/app/api/download/[area]/route.ts
  www/apps/api-reference/components/DownloadFull/index.tsx
  www/apps/api-reference/specs/admin/openapi.full.yaml
  www/apps/api-reference/specs/store/openapi.full.yaml
Labels: version: next

#5480 fix(medusa): admin get product should return prices when expected
  .changeset/tough-cheetahs-hunt.md
  integration-tests/api/__tests__/admin/product.js
  packages/medusa-react/src/hooks/admin/products/queries.ts
  packages/medusa/src/api/routes/admin/products/get-product.ts
  packages/medusa/src/api/routes/admin/products/index.ts
Labels: version: next

#5442 feat(admin-ui): add Vietnamese translation
  .changeset/plenty-moles-explode.md
  packages/admin-ui/ui/public/locales/vi/translation.json
  packages/admin-ui/ui/src/i18n/index.ts
Labels: version: next, i18n, Hacktoberfest, hacktoberfest-accepted

#5187 fix(medusa): Add inventory decoration for cart endpoints
  .changeset/friendly-maps-share.md
  integration-tests/plugins/__tests__/inventory/cart/cart.js
  integration-tests/plugins/__tests__/inventory/products/get-product.js
  integration-tests/plugins/__tests__/product/admin/update-product-variant.spec.ts
  packages/medusa/src/api/routes/admin/products/get-product.ts
  packages/medusa/src/api/routes/store/carts/__tests__/create-cart.js
  packages/medusa/src/api/routes/store/carts/add-shipping-method.ts
  packages/medusa/src/api/routes/store/carts/create-cart.ts
  packages/medusa/src/api/routes/store/carts/create-line-item/utils/handler-steps.ts
  packages/medusa/src/api/routes/store/carts/create-payment-sessions.ts
  packages/medusa/src/api/routes/store/carts/delete-discount.ts
  packages/medusa/src/api/routes/store/carts/delete-line-item.ts
  packages/medusa/src/api/routes/store/carts/delete-payment-session.ts
  packages/medusa/src/api/routes/store/carts/get-cart.ts
  packages/medusa/src/api/routes/store/carts/set-payment-session.ts
  packages/medusa/src/api/routes/store/carts/update-cart.ts
  packages/medusa/src/api/routes/store/carts/update-line-item.ts
  packages/medusa/src/api/routes/store/carts/update-payment-session.ts
  packages/medusa/src/services/__mocks__/cart.js
Labels: automerge, version: next

#5288 fix(admin-ui) Custom batch job activity card
  .changeset/nervous-eels-explain.md
  packages/admin-ui/ui/src/components/organisms/batch-jobs-activity-list/index.tsx
  packages/admin-ui/ui/src/components/organisms/batch-jobs-activity-list/utils.ts
Labels: version: next

#5504 chore(integration-tests): skip create product workflow test
  integration-tests/plugins/__tests__/product/admin/create-product.ts
Labels: automerge

#5315 fix(admin-ui): Enhanced 'activity-drawer' visibility with z-index adjustment
  .changeset/yellow-vans-prove.md
  packages/admin-ui/ui/src/components/organisms/activity-drawer/index.tsx
Labels: version: next

#5497 fix(medusa): Make file based routing compatible with Windows pathing
  .changeset/nasty-cats-live.md
  packages/medusa/src/loaders/helpers/routing/index.ts
  packages/medusa/src/loaders/plugins.ts
Labels: version: next

#5452 feat(admin-ui): add Hindi Translation
  packages/admin-ui/ui/public/locales/hi/translation.json
  packages/admin-ui/ui/src/i18n/index.ts
Labels: version: next, i18n, Hacktoberfest, hacktoberfest-accepted
