Repository medusajs/medusa, pull requests merged in 2023-04, with the labels that each got.

#3689 fix(medusa-react): export product-categories store hooks
  .changeset/clever-bobcats-clean.md
  packages/medusa-react/src/hooks/store/index.ts
  packages/medusa-react/src/hooks/store/product-categories/index.ts
Labels: automerge

#3695 feat(tests): harmonize and clean-up yarn test commands convention
  .changeset/fuzzy-cheetahs-approve.md
  integration-tests/api/package.json
  integration-tests/package.json
  integration-tests/plugins/package.json
  integration-tests/repositories/package.json
  package.json
  packages/cache-inmemory/package.json
  packages/cache-redis/package.json
  packages/event-bus-local/package.json
  packages/event-bus-redis/package.json
  packages/inventory/package.json
  packages/medusa/package.json
  packages/modules-sdk/package.json
  packages/oas/medusa-oas-cli/package.json
  packages/oas/oas-github-ci/package.json
  packages/oas/openapi-typescript-codegen/package.json
  packages/stock-location/package.json
  turbo.json
Labels: automerge

#3675 feat(codegen:test): coverage x-expanded-relation + x-codegen.queryParams
  .changeset/eight-tips-act.md
  packages/oas/openapi-typescript-codegen/jest.config.js
  packages/oas/openapi-typescript-codegen/package.json
  packages/oas/openapi-typescript-codegen/src/openApi/v3/interfaces/OpenApiResponses.d.ts
  packages/oas/openapi-typescript-codegen/src/openApi/v3/parser/__tests__/getModel.test.ts
  packages/oas/openapi-typescript-codegen/src/openApi/v3/parser/__tests__/getModels.test.ts
  packages/oas/openapi-typescript-codegen/src/openApi/v3/parser/__tests__/getModelsExpandedRelations.test.ts
  packages/oas/openapi-typescript-codegen/src/openApi/v3/parser/__tests__/getOperation.test.ts
  packages/oas/openapi-typescript-codegen/src/openApi/v3/parser/__tests__/getOperationParameter.test.ts
  packages/oas/openapi-typescript-codegen/src/openApi/v3/parser/__tests__/getOperationRequestBody.test.ts
  packages/oas/openapi-typescript-codegen/src/openApi/v3/parser/__tests__/getOperationResponse.test.ts
  packages/oas/openapi-typescript-codegen/src/openApi/v3/parser/getModelProperties.ts
  packages/oas/openapi-typescript-codegen/src/openApi/v3/parser/getModelsExpandedRelations.ts
  packages/oas/openapi-typescript-codegen/tsconfig.spec.json
  yarn.lock
Labels: automerge

#3732 fix(react): Fix input type on useAdminUpdateReservation mutation hook
  .changeset/strong-points-hammer.md
  packages/medusa-react/src/hooks/admin/reservations/mutations.ts
Labels: automerge

#3780 chore(docs): merge changes from master
  docs/api/admin.oas.json
  docs/api/admin.oas.yaml
  docs/api/admin/code_samples/JavaScript/admin_inventory-items/get.js
  docs/api/admin/code_samples/JavaScript/admin_inventory-items/post.js
  docs/api/admin/code_samples/JavaScript/admin_inventory-items_{id}_location-levels/post.js
  docs/api/admin/code_samples/JavaScript/admin_orders_{id}_reservations/get.js
  docs/api/admin/code_samples/JavaScript/admin_product-categories_{id}/delete.js
  docs/api/admin/code_samples/JavaScript/admin_product-categories_{id}/get.js
  docs/api/admin/code_samples/JavaScript/admin_product-categories_{id}/post.js
  docs/api/admin/code_samples/JavaScript/admin_product-categories_{id}_products_batch/delete.js
  docs/api/admin/code_samples/JavaScript/admin_product-categories_{id}_products_batch/post.js
  docs/api/admin/code_samples/JavaScript/admin_reservations/get.js
  docs/api/admin/code_samples/JavaScript/admin_reservations/post.js
  docs/api/admin/code_samples/JavaScript/admin_reservations_{id}/delete.js
  docs/api/admin/code_samples/JavaScript/admin_reservations_{id}/get.js
  docs/api/admin/code_samples/JavaScript/admin_reservations_{id}/post.js
  docs/api/admin/code_samples/JavaScript/admin_sales-channels_{id}_stock-locations/delete.js
  docs/api/admin/code_samples/JavaScript/admin_sales-channels_{id}_stock-locations/post.js
  docs/api/admin/code_samples/JavaScript/admin_stock-locations/post.js
  docs/api/admin/code_samples/JavaScript/admin_stock-locations_{id}/delete.js
  docs/api/admin/code_samples/JavaScript/admin_stock-locations_{id}/get.js
  docs/api/admin/code_samples/JavaScript/admin_stock-locations_{id}/post.js
  docs/api/admin/code_samples/Shell/admin_inventory-items/get.sh
  docs/api/admin/code_samples/Shell/admin_inventory-items/post.sh
  docs/api/admin/code_samples/Shell/admin_inventory-items_{id}/get.sh
  docs/api/admin/code_samples/Shell/admin_inventory-items_{id}_location-levels/get.sh
  docs/api/admin/code_samples/Shell/admin_inventory-items_{id}_location-levels/post.sh
  docs/api/admin/code_samples/Shell/admin_inventory-items_{id}_location-levels_{location_id}/delete.sh
  docs/api/admin/code_samples/Shell/admin_orders_{id}_line-items_{line_item_id}_reserve/post.sh
  docs/api/admin/code_samples/Shell/admin_product-categories_{id}_products_batch/post.sh
  docs/api/admin/code_samples/Shell/admin_reservations/post.sh
  docs/api/admin/code_samples/Shell/admin_sales-channels_{id}_stock-locations/delete.sh
  docs/api/admin/code_samples/Shell/admin_sales-channels_{id}_stock-locations/post.sh
  docs/api/admin/code_samples/Shell/admin_stock-locations_{id}/post.sh
  docs/api/admin/paths/admin_inventory-items.yaml
  docs/api/admin/paths/admin_inventory-items_{id}.yaml
  docs/api/admin/paths/admin_inventory-items_{id}_location-levels.yaml
  docs/api/admin/paths/admin_inventory-items_{id}_location-levels_{location_id}.yaml
  docs/api/admin/paths/admin_orders_{id}_line-items_{line_item_id}_reserve.yaml
  docs/api/admin/paths/admin_orders_{id}_reservations.yaml
  docs/api/admin/paths/admin_product-categories_{id}.yaml
  docs/api/admin/paths/admin_product-categories_{id}_products_batch.yaml
  docs/api/admin/paths/admin_reservations.yaml
  docs/api/admin/paths/admin_reservations_{id}.yaml
  docs/api/admin/paths/admin_sales-channels_{id}_stock-locations.yaml
  docs/content/modules/overview.mdx
Labels: type: docs

#3745 feat(oas): new `medusa-oas docs` for Redocly and circular references
  .changeset/thin-dolls-dance.md
  packages/oas/medusa-oas-cli/README.md
  packages/oas/medusa-oas-cli/jest.config.js
  packages/oas/medusa-oas-cli/package.json
  packages/oas/medusa-oas-cli/redocly/plugins/medusa/decorators/circular-patch.js
  packages/oas/medusa-oas-cli/redocly/plugins/medusa/index.js
  packages/oas/medusa-oas-cli/redocly/redocly-config.yaml
  packages/oas/medusa-oas-cli/src/__tests__/command-docs.test.ts
  packages/oas/medusa-oas-cli/src/__tests__/command-oas.test.ts
  packages/oas/medusa-oas-cli/src/command-client.ts
  packages/oas/medusa-oas-cli/src/command-docs.ts
  packages/oas/medusa-oas-cli/src/command-oas.ts
  packages/oas/medusa-oas-cli/src/index.ts
  packages/oas/medusa-oas-cli/src/utils/circular-patch-utils.ts
  packages/oas/medusa-oas-cli/src/utils/fs-utils.ts
  packages/oas/medusa-oas-cli/src/utils/json-utils.ts
  packages/oas/medusa-oas-cli/src/utils/yaml-utils.ts
  packages/oas/oas-github-ci/package.json
  packages/oas/oas-github-ci/scripts/build-openapi.js
  yarn.lock
Labels: automerge

#3821 docs: remove unnecessary await
  docs/content/development/endpoints/example-logged-in-user.md
Labels: type: docs

#3825 feat(medusa): allow category list api to be filtered by handle
  .changeset/little-panthers-tell.md
  integration-tests/api/__tests__/admin/product-category.ts
  integration-tests/api/__tests__/store/product-category.ts
  packages/generated/client-types/src/lib/models/AdminGetProductCategoriesParams.ts
  packages/generated/client-types/src/lib/models/StoreGetProductCategoriesParams.ts
  packages/medusa/src/api/routes/admin/product-categories/list-product-categories.ts
  packages/medusa/src/api/routes/store/product-categories/list-product-categories.ts
Labels: automerge

#3875 docs: added how to retrieve a category by its handle
  docs/content/modules/products/storefront/use-categories.mdx
Labels: type: docs

#3192 feat(medusa, medusa-plugin-brightpearl): Inventory management for Brightpearl
  .changeset/wet-teachers-compete.md
  integration-tests/api/__tests__/admin/__snapshots__/sales-channels.js.snap
  integration-tests/api/__tests__/admin/sales-channels.js
  integration-tests/api/__tests__/store/__snapshots__/sales-channels.js.snap
  integration-tests/api/__tests__/store/sales-channels.js
  packages/inventory/src/migrations/index.ts
  packages/inventory/src/migrations/schema-migrations/1665748086258-inventory_setup.ts
  packages/inventory/src/migrations/schema-migrations/1675761451145-add_reservation_external_id.ts
  packages/inventory/src/models/index.ts
  packages/inventory/src/models/reservation-item.ts
  packages/inventory/src/services/reservation-item.ts
  packages/medusa-plugin-brightpearl/src/services/brightpearl.js
  packages/medusa-plugin-brightpearl/src/subscribers/order.js
  packages/medusa-plugin-brightpearl/src/utils/brightpearl.js
  packages/medusa/src/migrations/1656949291839-sales_channel.ts
  packages/medusa/src/migrations/1680714052628-add_sales_channel_metadata.ts
  packages/medusa/src/models/sales-channel.ts
  packages/medusa/src/services/product-variant-inventory.ts
  packages/medusa/src/strategies/cart-completion.ts
  packages/types/src/inventory/common.ts
Labels: version: minor, has: migrations

#3891 docs: added how to manage orders guide
  docs/content/modules/orders/admin/manage-orders.mdx
  docs/content/modules/orders/overview.mdx
  www/docs/sidebars.js
Labels: automerge

#3928 docs: remove note from events documentation
  docs/content/development/events/index.mdx
Labels: type: docs

#3915 docs: 1.9 upgrade guide
  docs/content/upgrade-guides/medusa-core/1-9-0.md
Labels: version: next

#3932 docs: added a note about SC Middleware
  docs/content/development/publishable-api-keys/storefront/use-in-requests.md
Labels: type: docs, version: next
