Repository medusajs/medusa, pull requests merged in 2023-11, with the labels that each got.

#5511 fix(integration): setup
  .changeset/tough-cups-breathe.md
  integration-tests/api/package.json
  integration-tests/environment-helpers/bootstrap-app.js
  integration-tests/environment-helpers/setup-server.js
  integration-tests/environment-helpers/test-server.js
  integration-tests/environment-helpers/use-container.js
  integration-tests/environment-helpers/use-db.js
  integration-tests/environment-helpers/use-template-db.js
  integration-tests/globalTeardown.js
  integration-tests/plugins/__tests__/cart/store/index.ts
  integration-tests/plugins/__tests__/inventory/cart/cart.js
  integration-tests/plugins/__tests__/inventory/inventory-items/ff-many-to-many.js
  integration-tests/plugins/__tests__/inventory/inventory-items/index.js
  integration-tests/plugins/__tests__/inventory/order/draft-order.js
  integration-tests/plugins/__tests__/inventory/order/order.js
  integration-tests/plugins/__tests__/inventory/products/create-variant.js
  integration-tests/plugins/__tests__/inventory/products/delete-variant.js
  integration-tests/plugins/__tests__/inventory/products/get-product.js
  integration-tests/plugins/__tests__/inventory/products/get-variant.js
  integration-tests/plugins/__tests__/inventory/products/list-products.js
  integration-tests/plugins/__tests__/inventory/products/list-variants.js
  integration-tests/plugins/__tests__/inventory/reservation-items/index.js
  integration-tests/plugins/__tests__/inventory/service.js
  integration-tests/plugins/__tests__/inventory/variant-inventory-service.js
  integration-tests/plugins/__tests__/medusa-plugin-sendgrid/index.js
  integration-tests/plugins/__tests__/pricing/get-product.ts
  integration-tests/plugins/__tests__/product/admin/create-product.ts
  integration-tests/plugins/__tests__/product/admin/index.ts
  integration-tests/plugins/__tests__/product/admin/update-product-variant.spec.ts
  integration-tests/plugins/__tests__/product/admin/update-product.spec.ts
  integration-tests/plugins/__tests__/services/product.ts
  integration-tests/plugins/__tests__/stock-location/delete-sales-channels.js
  integration-tests/plugins/__tests__/stock-location/delete-stock-location.js
  integration-tests/plugins/__tests__/stock-location/sales-channels.js
  integration-tests/plugins/__tests__/stock-location/service.js
  integration-tests/plugins/__tests__/workflows/inventory/create-inventory-items.ts
  integration-tests/plugins/__tests__/workflows/product/create-product.ts
  integration-tests/plugins/__tests__/workflows/product/update-product.ts
  integration-tests/plugins/medusa-config.js
  integration-tests/plugins/package.json
  integration-tests/setup-env.js
  integration-tests/setup.js
  packages/cache-inmemory/src/services/inmemory-cache.ts
  packages/cache-redis/src/services/redis-cache.ts
  packages/medusa/src/loaders/index.ts
Labels: has: breaking changes

#5517 chore: Update README.md
  README.md
Labels: automerge

#5532 chore: ignore vercel deployments when automerging
  .github/.kodiak.toml
Labels: automerge

#5525 docs(create-scheduled-job): rewrote sentence
  www/apps/docs/content/development/scheduled-jobs/create.md
Labels: automerge

#5524 docs(create-events-module): fixed typos
  www/apps/docs/content/development/events/create-module.md
Labels: automerge

#5566 fix(admin-ui): Prevent comma decimal separator from converting inputs to NaN
  .changeset/breezy-suns-marry.md
  packages/admin-ui/ui/src/domain/pricing/forms/price-list-product-prices-form/price-list-product-prices-form.tsx
Labels: automerge

#5547 feat(create-medusa-app): print error message for failed db connection
  .changeset/quick-seals-teach.md
  packages/create-medusa-app/src/utils/create-db.ts
Labels: automerge

#5540 docs(create tax provider): tax line code required
  www/apps/docs/content/modules/taxes/backend/create-tax-provider.md
Labels: automerge

#5537 feat(medusa): API routes body parser config
  packages/medusa/src/loaders/helpers/routing/__fixtures__/mocks/index.ts
  packages/medusa/src/loaders/helpers/routing/__fixtures__/routers-error-handler/middlewares.ts
  packages/medusa/src/loaders/helpers/routing/__fixtures__/routers-error-handler/store/route.ts
  packages/medusa/src/loaders/helpers/routing/__fixtures__/routers-middleware/admin/protected/route.ts
  packages/medusa/src/loaders/helpers/routing/__fixtures__/routers-middleware/admin/unprotected/route.ts
  packages/medusa/src/loaders/helpers/routing/__fixtures__/routers-middleware/customers/error/route.ts
  packages/medusa/src/loaders/helpers/routing/__fixtures__/routers-middleware/middlewares.ts
  packages/medusa/src/loaders/helpers/routing/__fixtures__/routers-middleware/store/me/protected/route.ts
  packages/medusa/src/loaders/helpers/routing/__fixtures__/routers-middleware/store/me/unprotected/route.ts
  packages/medusa/src/loaders/helpers/routing/__fixtures__/routers-middleware/webhooks/payment/route.ts
  packages/medusa/src/loaders/helpers/routing/__fixtures__/routers/admin/orders/[id]/route.ts
  packages/medusa/src/loaders/helpers/routing/__fixtures__/server/index.js
  packages/medusa/src/loaders/helpers/routing/__tests__/index.spec.ts
  packages/medusa/src/loaders/helpers/routing/index.ts
  packages/medusa/src/loaders/helpers/routing/types.ts
  packages/medusa/src/loaders/passport.ts
  packages/medusa/src/loaders/plugins.ts
Labels: version: next

#5548 fix(admin-ui): Admin UI: Invalid Request Header
  .changeset/witty-tools-matter.md
  packages/admin-ui/src/node/actions/develop.ts
  packages/admin-ui/src/node/types.ts
  packages/admin-ui/webpack.config.dev.ts
  packages/admin/src/commands/develop.ts
  packages/admin/src/utils/load-config.ts
Labels: automerge

#5595 docs: fix expandable link in ParameterType
  www/apps/docs/src/components/ParameterTypes/Items/index.tsx
Labels: type: docs

#5596 fix(admin-ui, ui): Align @types/react versions across UI packages
  .changeset/lovely-insects-grow.md
  CODEOWNERS
  packages/admin-ui/package.json
  packages/design-system/ui/package.json
  yarn.lock
Labels: version: next

#5594 fix(medusa): Load legacy modules entities
  .changeset/chatty-readers-destroy.md
  packages/medusa/src/loaders/index.ts
Labels: automerge, version: next

#5586 docs: added troubleshooting guide for promise.all
  www/apps/docs/content/troubleshooting/promise-all-rollback.md
  www/apps/docs/sidebars.js
Labels: version: next

#5588 docs: updated API Routes and Middlewares docs
  www/apps/docs/content/development/api-routes/add-middleware.mdx
  www/apps/docs/content/development/api-routes/create.mdx
Labels: type: docs, version: next

#5590 docs: cache-redis breaking changes
  www/apps/docs/content/upgrade-guides/modules/cache-redis/1-9-0.md
  www/apps/docs/content/upgrade-guides/modules/cache-redis/_category_.json
Labels: version: next

#5617 docs: add note about ttl in redis cache module
  www/apps/docs/content/development/cache/modules/redis.md
Labels: type: docs

#5603 feat(workflows,medusa,utils): add medusa v2 feature flag
  .changeset/selfish-planets-repeat.md
  .github/workflows/test-cli-with-database.yml
  integration-tests/environment-helpers/use-db.js
  integration-tests/plugins/__tests__/pricing/get-product.ts
  integration-tests/plugins/__tests__/product/admin/create-product.ts
  integration-tests/plugins/__tests__/product/admin/index.ts
  integration-tests/plugins/__tests__/product/admin/update-product-variant.spec.ts
  integration-tests/plugins/__tests__/product/admin/update-product.spec.ts
  integration-tests/plugins/medusa-config.js
  packages/medusa/src/api/middlewares/with-default-sales-channel.ts
  packages/medusa/src/api/routes/admin/products/create-product.ts
  packages/medusa/src/api/routes/admin/products/get-product.ts
  packages/medusa/src/api/routes/admin/products/list-products.ts
  packages/medusa/src/api/routes/admin/products/update-product.ts
  packages/medusa/src/api/routes/admin/products/update-variant.ts
  packages/medusa/src/api/routes/store/carts/create-cart.ts
  packages/medusa/src/api/routes/store/carts/update-cart.ts
  packages/medusa/src/api/routes/store/products/get-product.ts
  packages/medusa/src/api/routes/store/products/list-products.ts
  packages/medusa/src/api/routes/store/shipping-options/list-options.ts
  packages/medusa/src/commands/migrate.js
  packages/medusa/src/commands/seed.ts
  packages/medusa/src/loaders/feature-flags/isolate-pricing-domain.ts
  packages/medusa/src/loaders/feature-flags/isolate-product-domain.ts
  packages/medusa/src/loaders/feature-flags/medusa-v2.ts
  packages/medusa/src/loaders/feature-flags/workflows.ts
  packages/medusa/src/loaders/medusa-app.ts
  packages/medusa/src/migrations/1692870898424-line-item-product-id.ts
  packages/medusa/src/migrations/1692870898425-add-timestemps-to-product-shipping-profiles.ts
  packages/medusa/src/migrations/1694602553610-drop-fks-isolated-product.ts
  packages/medusa/src/models/line-item.ts
  packages/medusa/src/repositories/discount-condition.ts
  packages/medusa/src/scripts/money-amount-pricing-module-migration.ts
  packages/medusa/src/services/cart.ts
  packages/medusa/src/services/line-item.ts
  packages/medusa/src/services/pricing.ts
  packages/medusa/src/services/shipping-profile.ts
  packages/utils/src/feature-flags/index.ts
  packages/utils/src/feature-flags/medusa-v2.ts
  packages/utils/src/feature-flags/utils/__tests__/flag-router.spec.ts
  packages/workflows/src/handlers/product/revert-variant-prices.ts
  packages/workflows/src/handlers/product/update-product-variants-prepare-data.ts
  packages/workflows/src/handlers/product/update-products-prepare-data.ts
  packages/workflows/src/handlers/product/update-products-variants-prices.ts
  packages/workflows/src/handlers/product/upsert-variant-prices.ts
Labels: has: breaking changes

#5626 chore: change code owners of docs-util directory
  CODEOWNERS
Labels: automerge

#5479 fix(admin-ui): sort supported languages alphabetically
  .changeset/rotten-kids-cough.md
  packages/admin-ui/ui/src/i18n/index.ts
Labels: automerge

#5634 fix(medusa): Error handling middleware should be applied when no config is exported
  .changeset/smooth-baboons-repeat.md
  packages/medusa/src/loaders/helpers/routing/index.ts
  packages/medusa/src/loaders/helpers/routing/types.ts
Labels: automerge

#5631 chore: add TSDocs for IStockLocationService
  packages/types/src/stock-location/common.ts
  packages/types/src/stock-location/service.ts
Labels: automerge

#5636 fix: minor fixes to IconButton and Button documentation
  www/apps/ui/src/content/docs/components/icon-button.mdx
  www/apps/ui/src/props/button.tsx
Labels: automerge

#5641 fix(admin-ui): Preserve decimal numbers when locale uses commas
  .changeset/seven-forks-knock.md
  packages/admin-ui/ui/src/domain/pricing/forms/price-list-product-prices-form/price-list-product-prices-form.tsx
Labels: automerge

#5498 feat(pricing,types): price list API + price calculations with price lists
  .changeset/nervous-berries-sip.md
  packages/medusa/src/api/routes/admin/price-lists/create-price-list.ts
  packages/medusa/src/api/routes/admin/price-lists/update-price-list.ts
  packages/medusa/src/api/routes/store/products/list-products.ts
  packages/medusa/src/models/price-list.ts
  packages/medusa/src/services/pricing.ts
  packages/pricing/integration-tests/__fixtures__/price-list-rules/data.ts
  packages/pricing/integration-tests/__fixtures__/price-list-rules/index.ts
  packages/pricing/integration-tests/__fixtures__/price-list/data.ts
  packages/pricing/integration-tests/__fixtures__/price-list/index.ts
  packages/pricing/integration-tests/__tests__/services/money-amount/index.spec.ts
  packages/pricing/integration-tests/__tests__/services/price-list-rule/index.spec.ts
  packages/pricing/integration-tests/__tests__/services/price-list/index.spec.ts
  packages/pricing/integration-tests/__tests__/services/price-set/index.spec.ts
  packages/pricing/integration-tests/__tests__/services/pricing-module/calculate-price.spec.ts
  packages/pricing/integration-tests/__tests__/services/pricing-module/money-amount.spec.ts
  packages/pricing/integration-tests/__tests__/services/pricing-module/price-list-rule.spec.ts
  packages/pricing/integration-tests/__tests__/services/pricing-module/price-list.spec.ts
  packages/pricing/integration-tests/__tests__/services/pricing-module/price-set.spec.ts
  packages/pricing/src/loaders/container.ts
  packages/pricing/src/migrations/.snapshot-medusa-pricing.json
  packages/pricing/src/migrations/Migration20230929122253.ts
  packages/pricing/src/migrations/Migration20231101232834.ts
  packages/pricing/src/models/index.ts
  packages/pricing/src/models/money-amount.ts
  packages/pricing/src/models/price-list-rule-value.ts
  packages/pricing/src/models/price-list-rule.ts
  packages/pricing/src/models/price-list.ts
  packages/pricing/src/models/price-rule.ts
  packages/pricing/src/models/price-set-money-amount.ts
  packages/pricing/src/models/price-set.ts
  packages/pricing/src/repositories/index.ts
  packages/pricing/src/repositories/price-list-rule-value.ts
  packages/pricing/src/repositories/price-list-rule.ts
  packages/pricing/src/repositories/price-list.ts
  packages/pricing/src/repositories/price-set-money-amount.ts
  packages/pricing/src/repositories/price-set.ts
  packages/pricing/src/repositories/pricing.ts
  packages/pricing/src/services/index.ts
  packages/pricing/src/services/price-list-rule-value.ts
  packages/pricing/src/services/price-list-rule.ts
  packages/pricing/src/services/price-list.ts
  packages/pricing/src/services/pricing-module.ts
  packages/pricing/src/types/repositories/index.ts
  packages/pricing/src/types/repositories/price-list-rule-value.ts
  packages/pricing/src/types/repositories/price-list.ts
  packages/types/src/pricing/common/index.ts
  packages/types/src/pricing/common/money-amount.ts
  packages/types/src/pricing/common/price-list.ts
  packages/types/src/pricing/common/price-rule.ts
  packages/types/src/pricing/common/price-set-money-amount.ts
  packages/types/src/pricing/common/price-set.ts
  packages/types/src/pricing/service.ts
  packages/utils/src/common/array-difference.ts
  packages/utils/src/common/index.ts
  packages/utils/src/pricing/index.ts
  packages/utils/src/pricing/price-list.ts
  packages/utils/src/pricing/rule-type.ts
Labels: automerge, proj: pricing-mod

#5640 fix(ui): Fixed CodeBlock line number width
  .changeset/fast-glasses-grow.md
  packages/design-system/ui/src/components/code-block/code-block.stories.tsx
  packages/design-system/ui/src/components/code-block/code-block.tsx
  www/apps/ui/src/props/code-block.tsx
Labels: automerge

#5652 docs: documentation for v1.18
  www/apps/docs/content/development/entities/repositories.md
  www/apps/docs/content/development/events/create-module.md
  www/apps/docs/content/development/events/create-subscriber-deprecated.md
  www/apps/docs/content/development/events/create-subscriber.md
  www/apps/docs/content/development/events/events-list.md
  www/apps/docs/content/development/events/subscribers.mdx
  www/apps/docs/content/development/fundamentals/architecture-overview.md
  www/apps/docs/content/development/fundamentals/dependency-injection.md
  www/apps/docs/content/development/loaders/create.md
  www/apps/docs/content/development/logging/index.md
  www/apps/docs/content/development/notification/create-notification-provider.md
  www/apps/docs/content/development/scheduled-jobs/create-deprecated.md
  www/apps/docs/content/development/scheduled-jobs/create.md
  www/apps/docs/content/development/services/create-service.mdx
  www/apps/docs/content/modules/customers/backend/send-confirmation.md
  www/apps/docs/content/modules/customers/storefront/implement-customer-profiles.mdx
  www/apps/docs/content/modules/gift-cards/backend/send-gift-card-to-customer.md
  www/apps/docs/content/modules/orders/backend/handle-order-claim-event.md
  www/apps/docs/content/modules/orders/backend/send-order-confirmation.md
  www/apps/docs/content/modules/users/backend/send-invite.md
  www/apps/docs/content/plugins/analytics/segment.md
  www/apps/docs/content/plugins/cms/contentful.mdx
  www/apps/docs/content/plugins/notifications/slack.md
  www/apps/docs/content/plugins/notifications/twilio-sms.md
  www/apps/docs/content/plugins/other/restock-notifications.md
  www/apps/docs/content/recipes/commerce-automation.mdx
  www/apps/docs/content/recipes/digital-products.mdx
  www/apps/docs/content/recipes/marketplace.mdx
  www/apps/docs/content/recipes/oms.mdx
  www/apps/docs/content/recipes/subscriptions.mdx
  www/apps/docs/content/upgrade-guides/medusa-core/1-18.md
  www/apps/docs/sidebars.js
  www/apps/docs/src/theme/DocSidebarItem/Category/index.tsx
  www/apps/docs/src/theme/DocSidebarItem/Html/index.tsx
  www/apps/docs/src/theme/DocSidebarItem/Link/index.tsx
  www/apps/docs/src/types/index.d.ts
Labels: version: next

#5665 Add missing link to admin-guide on translations
  www/apps/docs/content/admin/quickstart.mdx
Labels: automerge

#5669 docs: added migration action to upgrade guide
  www/apps/docs/content/upgrade-guides/medusa-core/1-18.md
Labels: type: docs

#5664 fix(pricing,types): remove is_dynamic from model + types
  .changeset/kind-dolphins-speak.md
  packages/pricing/src/models/price-rule.ts
  packages/types/src/pricing/common/money-amount.ts
  packages/types/src/pricing/common/price-rule.ts
Labels: automerge

#5698 docs: updated medusa develop command
  www/apps/docs/content/admin/widgets.md
Labels: automerge

#5667 docs: added a new document for available languages
  www/apps/docs/content/admin/quickstart.mdx
  www/apps/docs/content/user-guide.mdx
  www/apps/docs/content/user-guide/tips/languages.md
  www/apps/docs/content/user-guide/users/profile.md
Labels: automerge

#5692 fix(ui): code block styles
  .changeset/witty-waves-rhyme.md
  packages/design-system/ui/src/components/code-block/code-block.tsx
Labels: automerge

#5702 docs: update Next.js starter main image
  www/apps/docs/content/starters/nextjs-medusa-starter.mdx
Labels: type: docs

#5737 fix(admin-ui): fix height of Bulk Editor cells to always be 40px
  .changeset/chilled-lions-wash.md
  packages/admin-ui/ui/src/components/organisms/product-variants-section/edit-prices-modal/currency-cell.tsx
  packages/admin-ui/ui/src/components/organisms/product-variants-section/edit-prices-modal/edit-prices-table.tsx
Labels: automerge

#5740 docs: fix back link in Workflows API Reference
  www/apps/docs/content/modules/overview.mdx
  www/apps/docs/sidebars.js
Labels: automerge

#5745 fix(medusa): throw proper error when product doesn't exist w/ key header
  .changeset/tough-wombats-tan.md
  integration-tests/api/__tests__/admin/publishable-api-key.js
  packages/medusa/src/api/middlewares/publishable-api-key/validate-product-sales-channel-association.ts
  packages/medusa/src/api/middlewares/publishable-api-key/validate-variant-sales-channel-association.ts
Labels: automerge
