Repository medusajs/medusa, pull requests merged in 2023-05, with the labels that each got.

#3966 docs: fixed constructor in add fulfillment provider
  docs/content/modules/carts-and-checkout/backend/add-fulfillment-provider.md
Labels: type: docs

#3921 fix(medusa): Performance improvement for variant availability
  .changeset/lazy-seas-wait.md
  integration-tests/plugins/__tests__/inventory/products/list-variants.js
  packages/medusa/src/services/product-variant-inventory.ts
Labels: automerge

#3999 fix(admin-ui): Pin react-router-dom
  .changeset/ten-cameras-arrive.md
  packages/admin-ui/package.json
  yarn.lock
Labels: automerge

#4002 fix(medusa, types, utils, event-bus-local): Revert retrieveSubscribers
  .changeset/calm-eggs-collect.md
  packages/event-bus-local/src/services/event-bus-local.ts
  packages/medusa/src/services/event-bus.ts
  packages/types/src/event-bus/event-bus-module.ts
  packages/utils/src/event-bus/index.ts
Labels: version: next

#4025 fix(medusa-payment-stripe): Catch on idempotency key retrieve if not found
  .changeset/sour-feet-sniff.md
  packages/medusa-payment-stripe/src/api/utils/__fixtures__/container.ts
  packages/medusa-payment-stripe/src/api/utils/utils.ts
Labels: automerge

#4018 fix(medusa): ShippingOptionService.list method param type
  .changeset/good-beans-know.md
  packages/medusa/src/services/shipping-option.ts
Labels: automerge

#3842 feat(medusa): handle product categories in import/export strategies
  .changeset/twenty-fishes-perform.md
  integration-tests/api/__tests__/batch-jobs/product/ff-product-category.js
  integration-tests/api/__tests__/batch-jobs/product/product-import-pc-template.csv
  integration-tests/api/__tests__/store/product-category.ts
  packages/medusa/src/services/product-category.ts
  packages/medusa/src/services/sales-channel.ts
  packages/medusa/src/strategies/batch-jobs/product/export.ts
  packages/medusa/src/strategies/batch-jobs/product/import.ts
  packages/medusa/src/strategies/batch-jobs/product/types/columns-definition.ts
  packages/medusa/src/strategies/batch-jobs/product/types/index.ts
Labels: automerge

#4036 docs: fix events link
  docs/content/development/overview.mdx
Labels: type: docs

#4026 feat(medusa): Remove sqlite support
  .changeset/tall-humans-count.md
  .github/workflows/test-cli-with-database.yml
  integration-tests/helpers/use-db.js
  packages/create-medusa-app/src/new-starter.js
  packages/medusa-cli/package.json
  packages/medusa-cli/src/commands/new.js
  packages/medusa-plugin-contentful/README.md
  packages/medusa/src/commands/seed.ts
  packages/medusa/src/loaders/config.ts
  packages/medusa/src/loaders/database.ts
  packages/medusa/src/models/draft-order.ts
  packages/medusa/src/models/order.ts
  packages/medusa/src/utils/db-aware-column.ts
  packages/medusa/src/utils/manual-auto-increment.ts
  packages/types/src/common/config-module.ts
  packages/utils/src/common/db-aware-column.ts
  yarn.lock
Labels: automerge

#4065 feat(modules-sdk): Module as singleton instances
  .changeset/tough-ears-laugh.md
  packages/modules-sdk/src/loaders/__tests__/medusa-module.ts
  packages/modules-sdk/src/loaders/__tests__/module-loader.ts
  packages/modules-sdk/src/loaders/register-modules.ts
  packages/modules-sdk/src/medusa-module.ts
Labels: automerge

#3991 feat(medusa-plugin-contentful): Initial implementation of inventory module
  .changeset/soft-eyes-vanish.md
  packages/medusa-plugin-contentful/src/services/contentful.js
Labels: automerge

#4118 feat(medusa-file-local): Local file storage plugin
  .changeset/tiny-eagles-nail.md
  packages/medusa-file-local/.gitignore
  packages/medusa-file-local/README.md
  packages/medusa-file-local/package.json
  packages/medusa-file-local/src/api/index.ts
  packages/medusa-file-local/src/services/local-file-service.ts
  packages/medusa-file-local/tsconfig.json
  yarn.lock
Labels: automerge

#3979 feat(medusa,inventory,types): Expand list-reservation capabilities
  .changeset/smooth-numbers-whisper.md
  integration-tests/plugins/__tests__/inventory/reservation-items/index.js
  packages/generated/client-types/src/lib/models/AdminGetReservationsParams.ts
  packages/inventory/src/services/reservation-item.ts
  packages/inventory/src/utils/query.ts
  packages/medusa/src/api/routes/admin/reservations/list-reservations.ts
  packages/medusa/src/types/common.ts
  packages/medusa/src/utils/build-query.ts
  packages/types/src/common/common.ts
  packages/types/src/inventory/common.ts
  packages/utils/src/common/build-query.ts
Labels: automerge, version: minor

#4154 feat(medusa, inventory): Search inventory items by title and description
  .changeset/bright-carrots-look.md
  integration-tests/plugins/__tests__/inventory/inventory-items/index.js
  packages/inventory/src/services/inventory-item.ts
  packages/inventory/src/utils/query.ts
  packages/medusa/src/api/routes/admin/inventory-items/index.ts
Labels: version: minor

#4162 docs: added documentation for local file service
  docs/content/development/backend/install.mdx
  docs/content/plugins/file-service/local.md
  docs/content/plugins/file-service/minio.md
  docs/content/plugins/file-service/s3.md
  docs/content/plugins/overview.mdx
  packages/medusa-file-local/README.md
  www/docs/sidebars.js
Labels: version: minor

#4210 docs: update backend installation steps
  docs/content/development/backend/install.mdx
Labels: type: docs
