Repository medusajs/medusa, pull requests merged in 2023-08, with the labels that each got.

#4636 chore(medusa): Update request-ip dependency version
  .changeset/many-beers-occur.md
  packages/medusa/package.json
  yarn.lock
Labels: automerge

#4662 fix(medusa): Assign metadata when creating a draft order or creating a line item
  .changeset/angry-ways-sell.md
  packages/medusa/src/api/routes/admin/draft-orders/create-line-item.ts
  packages/medusa/src/services/draft-order.ts
Labels: automerge

#4689 feat(workflows): Improve typings
  .changeset/shiny-pets-listen.md
  packages/workflows/src/handlers/attach-inventory-items.ts
  packages/workflows/src/handlers/create-inventory-items.ts
  packages/workflows/src/handlers/create-products.ts
  packages/workflows/src/handlers/middlewares/create-products-prepare-data.ts
  packages/workflows/src/handlers/remove-inventory-items.ts
  packages/workflows/src/handlers/remove-products.ts
  packages/workflows/src/helper/pipe.ts
  packages/workflows/src/helper/workflow-export.ts
Labels: automerge

#4654 feat(product, types, modules-sdk): added event bus events for products
  .changeset/fuzzy-tables-build.md
  .eslintignore
  .eslintrc.js
  packages/modules-sdk/src/definitions.ts
  packages/product/integration-tests/__fixtures__/event-bus/index.ts
  packages/product/integration-tests/__tests__/module.ts
  packages/product/integration-tests/__tests__/services/product-module-service/product-categories.spec.ts
  packages/product/integration-tests/__tests__/services/product-module-service/product-collections.spec.ts
  packages/product/integration-tests/__tests__/services/product-module-service/products.spec.ts
  packages/product/src/services/product-module-service.ts
  packages/product/src/types/index.ts
  packages/product/src/types/services/index.ts
  packages/product/src/types/services/product-category.ts
  packages/product/src/types/services/product-collection.ts
  packages/product/src/types/services/product.ts
  packages/types/src/event-bus/event-bus-module.ts
Labels: automerge

#4701 feat(medusa, utils): Allow object feature flags
  .changeset/loud-wombats-shave.md
  integration-tests/plugins/__tests__/product/admin/index.ts
  integration-tests/plugins/medusa-config.js
  packages/medusa/src/api/routes/admin/products/create-product.ts
  packages/medusa/src/loaders/__tests__/feature-flags.spec.ts
  packages/medusa/src/loaders/feature-flags/index.ts
  packages/medusa/src/loaders/feature-flags/workflows.ts
  packages/medusa/src/types/feature-flags.ts
  packages/medusa/src/utils/flag-router.ts
  packages/types/src/feature-flag/common.ts
  packages/utils/src/common/build-query.ts
  packages/utils/src/common/index.ts
  packages/utils/src/common/object-from-string-path.ts
  packages/utils/src/feature-flags/index.ts
  packages/utils/src/feature-flags/utils/__tests__/flag-router.spec.ts
  packages/utils/src/feature-flags/utils/flag-router.ts
  packages/utils/src/feature-flags/workflows.ts
Labels: automerge

#4703 feat(workflows):product handlers should be reusable in different context
  .changeset/curly-ways-confess.md
  packages/workflows/src/definition/create-products.ts
  packages/workflows/src/handlers/product/attach-sales-channel-to-products.ts
  packages/workflows/src/handlers/product/attach-shipping-profile-to-products.ts
  packages/workflows/src/handlers/product/create-products.ts
  packages/workflows/src/handlers/product/detach-sales-channel-from-products.ts
  packages/workflows/src/handlers/product/detach-shipping-profile-from-products.ts
  packages/workflows/src/handlers/product/list-products.ts
  packages/workflows/src/handlers/product/remove-products.ts
  packages/workflows/src/handlers/product/update-products-variants-prices.ts
Labels: automerge

#4709 chore: scope errors on workflow to invoke
  packages/orchestration/src/transaction/distributed-transaction.ts
  packages/workflows/src/helper/workflow-export.ts
Labels: automerge

#4710 chore: Remove FlagRouter from core
  .changeset/eleven-doors-roll.md
  packages/medusa/src/api/middlewares/feature-flag-enabled.ts
  packages/medusa/src/api/middlewares/with-default-sales-channel.ts
  packages/medusa/src/api/routes/admin/orders/index.ts
  packages/medusa/src/api/routes/admin/price-lists/index.ts
  packages/medusa/src/api/routes/admin/products/index.ts
  packages/medusa/src/api/routes/admin/regions/index.ts
  packages/medusa/src/api/routes/admin/shipping-options/index.ts
  packages/medusa/src/api/routes/admin/store/get-store.ts
  packages/medusa/src/api/routes/store/carts/create-cart.ts
  packages/medusa/src/api/routes/store/carts/create-line-item/utils/handler-steps.ts
  packages/medusa/src/api/routes/store/products/index.ts
  packages/medusa/src/loaders/defaults.ts
  packages/medusa/src/services/__fixtures__/new-totals.ts
  packages/medusa/src/services/__fixtures__/payment-provider.ts
  packages/medusa/src/services/__tests__/cart.js
  packages/medusa/src/services/__tests__/currency.ts
  packages/medusa/src/services/__tests__/discount.js
  packages/medusa/src/services/__tests__/line-item.js
  packages/medusa/src/services/__tests__/new-totals.ts
  packages/medusa/src/services/__tests__/price-list.js
  packages/medusa/src/services/__tests__/product.js
  packages/medusa/src/services/__tests__/region.ts
  packages/medusa/src/services/__tests__/shipping-option.js
  packages/medusa/src/services/__tests__/totals.js
  packages/medusa/src/services/cart.ts
  packages/medusa/src/services/currency.ts
  packages/medusa/src/services/discount.ts
  packages/medusa/src/services/line-item.ts
  packages/medusa/src/services/new-totals.ts
  packages/medusa/src/services/order.ts
  packages/medusa/src/services/payment-provider.ts
  packages/medusa/src/services/price-list.ts
  packages/medusa/src/services/pricing.ts
  packages/medusa/src/services/product.ts
  packages/medusa/src/services/region.ts
  packages/medusa/src/services/shipping-option.ts
  packages/medusa/src/services/totals.ts
  packages/medusa/src/services/user.ts
  packages/medusa/src/strategies/__tests__/batch-jobs/order/order-export.ts
  packages/medusa/src/strategies/__tests__/batch-jobs/product/export.ts
  packages/medusa/src/strategies/__tests__/batch-jobs/product/import.ts
  packages/medusa/src/strategies/__tests__/price-selection.js
  packages/medusa/src/strategies/__tests__/tax-calculation.js
  packages/medusa/src/strategies/batch-jobs/order/export.ts
  packages/medusa/src/strategies/batch-jobs/product/export.ts
  packages/medusa/src/strategies/batch-jobs/product/import.ts
  packages/medusa/src/strategies/batch-jobs/product/types/index.ts
  packages/medusa/src/strategies/price-selection.ts
  packages/medusa/src/strategies/tax-calculation.ts
  packages/medusa/src/subscribers/search-indexing.ts
  packages/medusa/src/utils/__tests__/calculate-price-tax-amount.ts
  packages/medusa/src/utils/__tests__/flag-router.ts
  packages/medusa/src/utils/flag-router.ts
Labels: automerge

#4716 test(): Test the create product workflow compensation
  .changeset/loud-melons-happen.md
  integration-tests/api/package.json
  integration-tests/plugins/__tests__/workflows/product/create-product.ts
  packages/medusa-js/jest.config.js
  packages/medusa-js/tsconfig.spec.json
  packages/medusa/package.json
  packages/medusa/src/api/routes/admin/price-lists/__tests__/create-price-list.ts
  packages/medusa/src/api/routes/admin/products/create-product.ts
  packages/oas/openapi-typescript-codegen/package.json
  packages/orchestration/src/__tests__/transaction/transaction-orchestrator.ts
  packages/orchestration/src/__tests__/workflow/global-workflow.ts
  packages/orchestration/src/__tests__/workflow/local-workflow.ts
  packages/orchestration/src/transaction/distributed-transaction.ts
  packages/orchestration/src/transaction/transaction-orchestrator.ts
  packages/types/src/workflow/product/create-products.ts
  packages/workflows/src/definition/index.ts
  packages/workflows/src/definition/product/create-products.ts
  packages/workflows/src/definition/product/index.ts
  packages/workflows/src/handlers/middlewares/index.ts
  packages/workflows/src/handlers/product/create-products-prepare-data.ts
  packages/workflows/src/handlers/product/index.ts
Labels: automerge

#2454 fix: Spelling medusa in desc of package.json of Stripe and PayPal package
  packages/medusa-payment-stripe/package.json
Labels: automerge

#4734 fix: Update algolia.md
  docs/content/plugins/search/algolia.md
Labels: automerge

#4718 feat(medusa-plugin-restock-notifications): Multi-warehouse support
  .changeset/moody-olives-learn.md
  packages/medusa-plugin-restock-notification/src/api/routes/add-email.js
  packages/medusa-plugin-restock-notification/src/services/restock-notification.js
Labels: automerge

#4733 feat(create-medusa-app): add database options
  .changeset/quiet-seas-occur.md
  packages/create-medusa-app/package.json
  packages/create-medusa-app/src/commands/create.ts
  packages/create-medusa-app/src/index.ts
  packages/create-medusa-app/src/utils/clear-project.ts
  packages/create-medusa-app/src/utils/create-db.ts
  packages/create-medusa-app/src/utils/postgres-client.ts
  packages/create-medusa-app/src/utils/prepare-project.ts
  packages/medusa-cli/package.json
  packages/medusa-cli/src/commands/new.ts
  packages/medusa-cli/src/util/clear-project.ts
  packages/utils/package.json
  packages/utils/src/cli/index.ts
  packages/utils/src/index.ts
  yarn.lock
Labels: automerge

#4794 feat(create-medusa-app): remove `--stable` option and change to clone default branch
  .changeset/olive-readers-fry.md
  packages/create-medusa-app/src/commands/create.ts
  packages/create-medusa-app/src/index.ts
  packages/create-medusa-app/src/utils/clone-repo.ts
Labels: automerge

#4778 docs: update admin extension docs
  www/docs/content/admin/configuration.md
  www/docs/content/admin/onboarding.md
  www/docs/content/admin/quickstart.mdx
  www/docs/content/admin/routes.md
  www/docs/content/admin/setting-pages.md
  www/docs/content/admin/widgets.md
  www/docs/content/deployments/admin/deploying-on-vercel.mdx
  www/docs/content/deployments/server/deploying-on-digital-ocean.md
  www/docs/content/deployments/server/deploying-on-heroku.mdx
  www/docs/content/deployments/server/deploying-on-microtica.md
  www/docs/content/deployments/server/deploying-on-qovery.md
  www/docs/content/deployments/server/deploying-on-railway.md
  www/docs/content/development/backend/directory-structure.md
  www/docs/content/development/plugins/create.mdx
  www/docs/content/development/plugins/overview.mdx
  www/docs/content/medusa-react/overview.mdx
  www/docs/content/troubleshooting/custom-hooks-error.md
  www/docs/content/troubleshooting/eaddrinuse.md
  www/docs/content/upgrade-guides/admin/7-0-0.md
  www/docs/content/upgrade-guides/index.mdx
  www/docs/sidebars.js
Labels: version: minor

#4777 docs: added new database options for create-medusa-app
  www/docs/content/create-medusa-app.mdx
  www/docs/content/troubleshooting/create-medusa-app-errors.mdx
  www/docs/content/troubleshooting/create-medusa-app-errors/_no-browser-token-error.md
Labels: version: minor

#4801 docs: improve create-medusa-app guide structure
  www/docs/content/create-medusa-app.mdx
  www/docs/content/homepage.mdx
Labels: type: docs

#4825 fix(utils,product): mikro orm connection loader
  .changeset/tiny-tomatoes-cheer.md
  integration-tests/plugins/__tests__/modules/load-standalone.ts
  packages/utils/src/modules-sdk/loaders/mikro-orm-connection-loader.ts
Labels: automerge

#4788 feat(medusa-file-local): implement missing streaming methods
  .changeset/cold-chairs-visit.md
  packages/medusa-file-local/src/services/local-file-service.ts
  packages/medusa-file-minio/src/services/minio.ts
  packages/medusa-file-s3/src/services/s3.ts
  packages/medusa/src/interfaces/file-service.ts
  packages/medusa/src/services/file.ts
  packages/medusa/src/strategies/batch-jobs/price-list/import.ts
  packages/medusa/src/strategies/batch-jobs/product/import.ts
  packages/types/src/file-service/index.ts
  packages/types/src/index.ts
Labels: has: breaking changes

#4840 feat(admin-ui): refresh products when a `BatchJob` is completed
  .changeset/ten-steaks-promise.md
  packages/admin-ui/ui/public/temp/price-list-import-template.csv
  packages/admin-ui/ui/src/components/organisms/batch-jobs-activity-list/index.tsx
  packages/admin-ui/ui/src/components/organisms/upload-modal/index.tsx
  packages/admin-ui/ui/src/domain/pricing/batch-job/download-template.ts
  packages/admin-ui/ui/src/domain/pricing/batch-job/import.tsx
  packages/admin-ui/ui/src/domain/products/batch-job/download-template.ts
  packages/admin-ui/ui/src/domain/products/batch-job/import.tsx
  packages/admin-ui/ui/src/domain/products/overview/index.tsx
  packages/admin-ui/ui/src/providers/import-refresh.tsx
  packages/admin-ui/ui/src/providers/polling-provider.tsx
  packages/admin-ui/ui/src/providers/providers.tsx
Labels: automerge

#4854 Fixed: Typo for should in the "Create Region" form
  packages/admin-ui/ui/src/domain/settings/regions/new/index.tsx
Labels: automerge

#4776 chore(tests): add integration test of canceling order with many items
  integration-tests/plugins/__tests__/inventory/order/order.js
Labels: automerge

#4889 fix(medusa): category_id and q params for list products endpoint ld work
  .changeset/tough-baboons-shop.md
  integration-tests/api/__tests__/admin/products/ff-product-categories.js
  integration-tests/api/__tests__/store/products/ff-product-categories.ts
  packages/medusa/src/repositories/product.ts
Labels: automerge

#4896 chore: pipeline node version
  .github/actions/setup-server/action.yml
  .github/workflows/action.yml
  .github/workflows/codegen-test.yml
  .github/workflows/docs-freshness-check.yml
  .github/workflows/docs-new-announcement.yml
  .github/workflows/docs-remove-announcement.yml
  .github/workflows/generate-api-reference.yml
  .github/workflows/generate-entity-reference.yml
  .github/workflows/generate-js-reference.yml
  .github/workflows/generate-reference.yml
  .github/workflows/oas-test.yml
  .github/workflows/release-notifications.yml
Labels: automerge

#4913 fix(medusa): csv parser check `match` prop on column
  .changeset/brown-lions-cross.md
  packages/medusa/src/services/csv-parser.ts
Labels: automerge

#4909 feat(pricing, utils, types): adds money amount to pricing module
  .changeset/odd-coats-learn.md
  packages/link-modules/src/definitions/index.ts
  packages/link-modules/src/definitions/product-variant-money-amount.ts
  packages/link-modules/src/initialize/index.ts
  packages/link-modules/src/links.ts
  packages/pricing/integration-tests/__fixtures__/money-amount/data.ts
  packages/pricing/integration-tests/__fixtures__/money-amount/index.ts
  packages/pricing/integration-tests/__tests__/services/money-amount/index.spec.ts
  packages/pricing/integration-tests/__tests__/services/pricing-module/currency.spec.ts
  packages/pricing/integration-tests/__tests__/services/pricing-module/money-amount.spec.ts
  packages/pricing/src/joiner-config.ts
  packages/pricing/src/loaders/container.ts
  packages/pricing/src/migrations/.snapshot-medusa-pricing-1.json
  packages/pricing/src/migrations/.snapshot-medusa-pricing.json
  packages/pricing/src/migrations/Migration20230828182018.ts
  packages/pricing/src/migrations/Migration20230830085850.ts
  packages/pricing/src/models/index.ts
  packages/pricing/src/models/money-amount.ts
  packages/pricing/src/repositories/index.ts
  packages/pricing/src/repositories/money-amount.ts
  packages/pricing/src/scripts/seed.ts
  packages/pricing/src/services/index.ts
  packages/pricing/src/services/money-amount.ts
  packages/pricing/src/services/pricing-module.ts
  packages/types/src/pricing/common/index.ts
  packages/types/src/pricing/common/money-amount.ts
  packages/types/src/pricing/service.ts
Labels: automerge

#4926 docs: added multi-region recipe
  www/docs/content/plugins/other/index.mdx
  www/docs/content/plugins/other/ip-lookup.md
  www/docs/content/plugins/overview.mdx
  www/docs/content/recipes/index.mdx
  www/docs/content/recipes/multi-region.mdx
  www/docs/sidebars.js
Labels: type: docs
