Repository medusajs/medusa, pull requests merged in 2023-06, with the labels that each got.

#4045 docs: remove mentions of SQLite
  docs/content/admin/quickstart.mdx
  docs/content/cli/reference.md
  docs/content/contribution-guidelines.md
  docs/content/create-medusa-app.mdx
  docs/content/deployments/server/deploying-on-microtica.md
  docs/content/development/backend/configurations.md
  docs/content/development/backend/install.mdx
  docs/content/development/backend/prepare-environment.mdx
  docs/content/development/batch-jobs/create.mdx
  docs/content/development/batch-jobs/customize-import.md
  docs/content/development/entities/migrations/overview.mdx
  docs/content/plugins/cms/contentful/index.md
  docs/content/plugins/cms/strapi.md
  docs/content/troubleshooting/signing-in-to-admin.md
  docs/content/troubleshooting/transaction-error-in-checkout.md
  www/docs/sidebars.js
Labels: version: minor

#4247 fix(create-medusa-app): remove seed command from create-medusa-app and improve success message
  .changeset/warm-olives-compare.md
  packages/create-medusa-app/src/index.ts
  packages/create-medusa-app/src/new-starter.js
Labels: automerge

#4225 Create FUNDING.yml
  .github/FUNDING.yml
Labels: automerge

#4192 feat(medusa,medusa-cli): Added an invite option to the create user command, and allow seeding publishable api keys
  .changeset/tasty-walls-prove.md
  packages/medusa-cli/src/create-cli.js
  packages/medusa/src/commands/seed.ts
  packages/medusa/src/commands/user.js
  packages/medusa/src/services/user.ts
Labels: type: feature

#4304 docs: update paypal configurations
  docs/content/plugins/payment/paypal.md
Labels: type: docs

#4213 fix(medusa): Query parser issues with large array
  .changeset/little-weeks-exercise.md
  integration-tests/api/__tests__/admin/variant.js
  packages/medusa/package.json
  packages/medusa/src/loaders/api.ts
  yarn.lock
Labels: version: next

#4276 chore: Clean up deps, devDeps, and peerDeps across all packages
  .changeset/wild-balloons-push.md
  integration-tests/api/package.json
  integration-tests/plugins/package.json
  integration-tests/repositories/package.json
  package.json
  packages/admin-ui/package.json
  packages/admin/package.json
  packages/cache-inmemory/package.json
  packages/cache-redis/package.json
  packages/event-bus-local/package.json
  packages/event-bus-redis/package.json
  packages/inventory/package.json
  packages/medusa-cli/package.json
  packages/medusa-file-minio/package.json
  packages/medusa-file-s3/package.json
  packages/medusa-file-spaces/package.json
  packages/medusa-fulfillment-webshipper/package.json
  packages/medusa-js/package.json
  packages/medusa-payment-klarna/package.json
  packages/medusa-payment-manual/package.json
  packages/medusa-payment-paypal/package.json
  packages/medusa-payment-stripe/package.json
  packages/medusa-plugin-algolia/package.json
  packages/medusa-plugin-brightpearl/package.json
  packages/medusa-plugin-contentful/package.json
  packages/medusa-plugin-discount-generator/package.json
  packages/medusa-plugin-economic/package.json
  packages/medusa-plugin-ip-lookup/package.json
  packages/medusa-plugin-mailchimp/package.json
  packages/medusa-plugin-meilisearch/package.json
  packages/medusa-plugin-restock-notification/package.json
  packages/medusa-plugin-segment/package.json
  packages/medusa-plugin-sendgrid/package.json
  packages/medusa-plugin-slack-notification/package.json
  packages/medusa-plugin-twilio-sms/package.json
  packages/medusa-plugin-wishlist/package.json
  packages/medusa-react/package.json
  packages/medusa-source-shopify/package.json
  packages/medusa/package.json
  packages/modules-sdk/package.json
  packages/oas/medusa-oas-cli/package.json
  packages/stock-location/package.json
  packages/utils/package.json
  yarn.lock
Labels: version: next

#1860 feat(medusa): Preserve node flags in develop command
  .changeset/five-gorillas-sit.md
  packages/medusa/src/commands/develop.js
Labels: version: next

#4268 feat(medusa): add redis_prefix in configModule.projectConfig
  .changeset/shy-tools-cheat.md
  packages/medusa/src/loaders/express.ts
  packages/medusa/src/services/job-scheduler.ts
  packages/types/src/common/config-module.ts
Labels: version: next

#4267 feat(admin-ui, medusa): Remove feature flag
  .changeset/weak-dots-live.md
  packages/admin-ui/ui/src/domain/inventory/header.tsx
  packages/admin-ui/ui/src/domain/inventory/index.tsx
  packages/admin-ui/ui/src/providers/feature-flag-provider.tsx
  packages/medusa/src/loaders/feature-flags/reservations.ts
Labels: automerge, version: next

#4273 feat(create-medusa-app,medusa-cli): Allow clearing project
  .changeset/clean-pigs-hope.md
  packages/create-medusa-app/package.json
  packages/create-medusa-app/src/commands/create.ts
  packages/create-medusa-app/src/index.ts
  packages/create-medusa-app/src/utils/clone-repo.ts
  packages/create-medusa-app/src/utils/create-abort-controller.ts
  packages/create-medusa-app/src/utils/facts.ts
  packages/create-medusa-app/src/utils/on-process-terminated.ts
  packages/create-medusa-app/src/utils/prepare-project.ts
  packages/create-medusa-app/src/utils/process-manager.ts
  packages/create-medusa-app/src/utils/run-process.ts
  packages/medusa-cli/package.json
  packages/medusa-cli/src/commands/new.js
  packages/utils/package.json
  packages/utils/src/cli/clear-project.ts
  packages/utils/src/cli/index.ts
  packages/utils/src/index.ts
  yarn.lock
Labels: automerge

#4296 fix(product): The bin scripts should include a shebang and import in the body
  .changeset/giant-buttons-unite.md
  integration-tests/api/package.json
  integration-tests/plugins/package.json
  integration-tests/repositories/package.json
  packages/product/package.json
  packages/product/src/scripts/bin/run-migration-down.ts
  packages/product/src/scripts/bin/run-migration-up.ts
  packages/product/src/scripts/bin/run-seed.ts
  packages/product/src/scripts/migration-up.ts
  packages/product/src/utils/create-connection.ts
  yarn.lock
Labels: version: next

#4318 docs: added how to create widget docs
  docs/content/admin/development.md
  docs/content/admin/quickstart.mdx
  docs/content/admin/widgets.md
  www/docs/sidebars.js
  www/docs/vercel.json
Labels: version: beta

#4288 docs: added details about createCustomAdminHooks
  docs/content/medusa-react/overview.md
Labels: version: beta

#4320 docs: added onboarding guide
  docs/content/admin/onboarding.md
  www/docs/sidebars.js
Labels: version: beta

#4327 docs: updated create-medusa-app steps
  docs/content/create-medusa-app.mdx
  docs/content/troubleshooting/create-medusa-app-errors/_eagain-error.md
Labels: version: next

#4358 docs: remove latest tag for yarn
  docs/content/create-medusa-app.mdx
Labels: type: docs

#4339 feat(create-medusa-app): support admin onboarding experience
  .changeset/dirty-rocks-divide.md
  packages/create-medusa-app/src/commands/create.ts
  packages/create-medusa-app/src/utils/clone-repo.ts
  packages/create-medusa-app/src/utils/prepare-project.ts
  packages/create-medusa-app/src/utils/start-medusa.ts
Labels: version: beta

#4397 feat(medusa): Allow to register extended validators seemlesly
  .changeset/happy-points-yawn.md
  packages/medusa/src/utils/__tests__/validator.spec.ts
  packages/medusa/src/utils/index.ts
  packages/medusa/src/utils/validator.ts
Labels: status: needs docs

#4421 chore(medusa-dev-cli): Cleanup plugin setup
  .changeset/twelve-mugs-arrive.md
  packages/medusa-dev-cli/.babelrc.js
  packages/medusa-dev-cli/.npmignore
  packages/medusa-dev-cli/jest.config.js
  packages/medusa-dev-cli/package.json
  packages/medusa-dev-cli/tsconfig.json
  packages/medusa-dev-cli/tsconfig.spec.json
  yarn.lock
Labels: automerge

#4398 feat(medusa, types) Allow developers to easily extend models
  .changeset/proud-ghosts-speak.md
  packages/medusa/jest.config.js
  packages/medusa/src/loaders/__tests__/__fixtures__/customizations/medusa-config.js
  packages/medusa/src/loaders/__tests__/__fixtures__/customizations/models/product.ts
  packages/medusa/src/loaders/__tests__/models.spec.ts
  packages/medusa/src/loaders/__tests__/register-plugin-models.spec.ts
  packages/medusa/src/loaders/helpers/get-model-extension-map.ts
  packages/medusa/src/loaders/index.ts
  packages/medusa/src/loaders/models.ts
  packages/medusa/src/loaders/plugins.ts
  packages/medusa/src/utils/__tests__/format-registration-name.js
  packages/medusa/src/utils/format-registration-name.ts
  packages/utils/src/common/__tests__/to-camel-case.spec.ts
  packages/utils/src/common/__tests__/upper-case-first.spec.ts
  packages/utils/src/common/index.ts
  packages/utils/src/common/to-camel-case.ts
  packages/utils/src/common/upper-case-first.ts
Labels: status: needs docs

#4389 fix(medusa, utils): fix the way selects are consumed alongside the relations
  .changeset/great-panthers-call.md
  integration-tests/api/__tests__/batch-jobs/order/export.js
  integration-tests/api/__tests__/batch-jobs/product/export.js
  integration-tests/api/__tests__/database/index.js
  integration-tests/api/__tests__/store/customer.js
  integration-tests/api/__tests__/store/products.js
  integration-tests/plugins/__tests__/inventory/order/order.js
  packages/admin-ui/ui/src/domain/orders/details/utils/use-admin-expand-paramter.ts
  packages/medusa-plugin-brightpearl/src/services/brightpearl.js
  packages/medusa-plugin-brightpearl/src/subscribers/order.js
  packages/medusa-plugin-segment/src/subscribers/order.js
  packages/medusa-plugin-sendgrid/src/services/sendgrid.js
  packages/medusa-plugin-slack-notification/src/services/slack.js
  packages/medusa/src/api/routes/admin/swaps/__tests__/get-swap.js
  packages/medusa/src/api/routes/admin/swaps/index.ts
  packages/medusa/src/api/routes/store/orders/index.ts
  packages/medusa/src/api/routes/store/products/index.ts
  packages/medusa/src/api/routes/store/swaps/index.ts
  packages/medusa/src/models/shipping-method.ts
  packages/medusa/src/repositories/cart.ts
  packages/medusa/src/repositories/customer-group.ts
  packages/medusa/src/repositories/order.ts
  packages/medusa/src/repositories/product-category.ts
  packages/medusa/src/repositories/product.ts
  packages/medusa/src/repositories/tax-rate.ts
  packages/medusa/src/services/__tests__/cart.js
  packages/medusa/src/services/__tests__/swap.ts
  packages/medusa/src/services/cart.ts
  packages/medusa/src/services/claim.ts
  packages/medusa/src/services/order-edit.ts
  packages/medusa/src/services/return.ts
  packages/medusa/src/services/swap.ts
  packages/medusa/src/strategies/cart-completion.ts
  packages/medusa/src/types/orders.ts
  packages/medusa/src/utils/repository.ts
  packages/utils/src/common/__tests__/build-query.spec.ts
  packages/utils/src/common/__tests__/object-to-string-path.spec.ts
  packages/utils/src/common/object-to-string-path.ts
Labels: automerge
