Repository medusajs/medusa, pull requests merged in 2023-07, with the labels that each got.

#4309 feat(medusa-payment-stripe): Stripe Widget
  .changeset/late-dogs-own.md
  .changeset/selfish-bottles-think.md
  .eslintrc.js
  packages/medusa-payment-stripe/package.json
  packages/medusa-payment-stripe/src/admin/shared/components/badge.tsx
  packages/medusa-payment-stripe/src/admin/shared/components/container.tsx
  packages/medusa-payment-stripe/src/admin/shared/components/dot.tsx
  packages/medusa-payment-stripe/src/admin/shared/components/table.tsx
  packages/medusa-payment-stripe/src/admin/shared/icons/link.tsx
  packages/medusa-payment-stripe/src/admin/shared/icons/stripe-logo.tsx
  packages/medusa-payment-stripe/src/admin/widgets/index.tsx
  packages/medusa-payment-stripe/src/api/index.ts
  packages/medusa-payment-stripe/src/controllers/get-payments.ts
  packages/medusa-payment-stripe/src/core/stripe-base.ts
  packages/medusa-payment-stripe/src/types.ts
  packages/medusa-payment-stripe/tailwind.config.js
  packages/medusa-payment-stripe/tsconfig.admin.json
  packages/medusa-payment-stripe/tsconfig.json
  packages/medusa-payment-stripe/tsconfig.server.json
  yarn.lock
Labels: version: beta

#4498 docs: updated extend entity documentation
  docs/content/development/entities/extend-entity.md
Labels: version: next

#4489 docs: added docs on how to extend a validator
  docs/content/development/endpoints/extend-validator.md
  docs/content/development/entities/extend-entity.md
  www/docs/sidebars.js
Labels: version: next

#4383 fix(medusa-plugin-brightpearl): stacking reservations
  .changeset/purple-plants-cry.md
  packages/medusa-plugin-brightpearl/src/services/brightpearl.js
Labels: automerge

#4572 docs: fix import of authenticate middleware
  docs/content/development/endpoints/create.md
Labels: type: docs

#4596 fix(modules-sdk): remote query get loaded modules
  .changeset/two-geese-check.md
  packages/modules-sdk/src/remote-query.ts
Labels: automerge

#4600 fix(medusa): Allowed properties expand
  .changeset/early-windows-drum.md
  integration-tests/api/__tests__/store/orders.js
  integration-tests/api/__tests__/store/products.js
  packages/medusa/src/api/middlewares/transform-query.ts
  packages/medusa/src/api/routes/admin/orders/__tests__/get-order.js
  packages/medusa/src/api/routes/admin/orders/get-order.ts
  packages/medusa/src/api/routes/admin/products/__tests__/get-product.js
Labels: automerge

#4594 fix(admin-ui): Add missing SO relation
  .changeset/hungry-carrots-bathe.md
  packages/admin-ui/ui/src/domain/orders/details/utils/use-admin-expand-paramter.ts
Labels: version: next

#4602 fix(product): Serialize typings
  .changeset/dirty-pumas-push.md
  packages/product/src/repositories/base.ts
  packages/product/src/services/product-module-service.ts
  packages/types/src/dal/repository-service.ts
Labels: automerge

#4536 fix(admin): Exclude prices from PriceLists overview
  .changeset/polite-vans-hide.md
  packages/admin-ui/ui/src/domain/pricing/pricing-table.tsx
Labels: version: next

#4609 feat(medusa): Expose error handler from middlewares
  .changeset/unlucky-fireants-talk.md
  packages/medusa/src/api/middlewares/index.ts
Labels: version: next
