Repository medusajs/medusa, pull requests merged in 2023-03, with the labels that each got.

#3351 feat(medusa): Use Bull `jobId` option to identify duplicates
  .changeset/pink-emus-drum.md
  packages/medusa/src/services/event-bus.ts
Labels: version: next

#3345 fix(medusa): Plugin repository loader
  .changeset/brave-goats-pay.md
  packages/medusa/src/loaders/plugins.ts
Labels: version: minor, status: needs docs

#3349 feat(medusa): Add Lifetime support on project/plugin services
  .changeset/kind-dogs-argue.md
  packages/medusa/src/loaders/helpers/plugins.ts
  packages/medusa/src/loaders/plugins.ts
Labels: version: minor, status: needs docs

#3368 fix(admin): Add skus to claim menus
  packages/admin-ui/ui/src/components/atoms/copy-to-clipboard/index.tsx
  packages/admin-ui/ui/src/components/molecules/timeline-events/claim-event/index.tsx
  packages/admin-ui/ui/src/domain/orders/components/items-to-receive-form/use-items-to-receive-columns.tsx
  packages/admin-ui/ui/src/domain/orders/components/items-to-return-form/index.tsx
  packages/admin-ui/ui/src/domain/orders/components/items-to-return-form/use-return-item-columns.tsx
  packages/admin-ui/ui/src/domain/orders/components/items-to-send-form/use-additional-items-columns.tsx
  packages/admin-ui/ui/src/domain/orders/components/rma-summaries/claim-summary.tsx
  packages/admin-ui/ui/src/domain/orders/components/rma-summaries/summary-line-item.tsx
  packages/admin-ui/ui/src/domain/orders/details/utils/get-default-values.ts
Labels: automerge

#3341 feat(medusa): categories can be ranked based on position
  .changeset/new-turkeys-impress.md
  integration-tests/api/__tests__/admin/product-category.ts
  integration-tests/api/__tests__/store/product-category.ts
  integration-tests/repositories/__tests__/product-categories/queries.ts
  packages/medusa/src/api/routes/admin/product-categories/index.ts
  packages/medusa/src/api/routes/admin/product-categories/list-product-categories.ts
  packages/medusa/src/api/routes/admin/product-categories/update-product-category.ts
  packages/medusa/src/api/routes/store/product-categories/index.ts
  packages/medusa/src/migrations/1677234878504-product_category_rank.ts
  packages/medusa/src/models/product-category.ts
  packages/medusa/src/repositories/__mocks__/product-category.ts
  packages/medusa/src/repositories/product-category.ts
  packages/medusa/src/services/__tests__/product-category.ts
  packages/medusa/src/services/product-category.ts
  packages/medusa/src/types/product-category.ts
  packages/medusa/src/utils/build-query.ts
Labels: version: minor, has: migrations

#3378 fix(admin-ui): Discount in DraftOrder create flow
  packages/admin-ui/ui/src/domain/orders/new/components/summary.tsx
Labels: automerge

#3396 docs: improved generation details in migrations guide
  docs/content/advanced/backend/migrations/index.md
Labels: type: docs

#3381 chore: Ignore `admin-ui` in core test pipeline
  .github/workflows/action.yml
Labels: automerge

#3395 Fix(admin-ui, medusa): stock location fixes
  .changeset/rich-flowers-decide.md
  packages/admin-ui/ui/src/components/organisms/delete-prompt.tsx
  packages/admin-ui/ui/src/domain/inventory/locations/components/edit-sales-channels/index.tsx
  packages/admin-ui/ui/src/domain/inventory/locations/new/index.tsx
  packages/medusa/src/api/routes/admin/sales-channels/remove-stock-location.ts
Labels: automerge

#3365 add guard to return early
  packages/inventory/src/services/inventory-level.ts
Labels: automerge

#3362 fix(medeusa): Transform query includes options should only be added to allowed props if there is already at least one allowed props
  .changeset/cuddly-seahorses-thank.md
  integration-tests/api/__tests__/admin/order/order.js
  integration-tests/api/__tests__/admin/swaps.js
  packages/medusa/src/api/middlewares/transform-includes-options.ts
  packages/medusa/src/api/middlewares/transform-query.ts
  packages/medusa/src/api/routes/admin/orders/index.ts
Labels: automerge

#3404 fix(admin-ui): Resolve `tailwindcss/nesting` correctly
  packages/admin-ui/ui/postcss.config.js
Labels: automerge

#3406 fix(eslint): remove unused .eslintignore in medusa-react package
  .changeset/tricky-apes-behave.md
  packages/medusa-react/.eslintignore
Labels: automerge

#3383 fix(admin-ui): Fix use of `expand` parameter on order page
  .changeset/cuddly-beers-tease.md
  packages/admin-ui/ui/src/components/molecules/timeline-events/claim-event/index.tsx
  packages/admin-ui/ui/src/components/molecules/timeline-events/exchange.tsx
  packages/admin-ui/ui/src/components/organisms/timeline/index.tsx
  packages/admin-ui/ui/src/domain/orders/components/rma-summaries/receive-return-summary.tsx
  packages/admin-ui/ui/src/domain/orders/details/receive-return/index.tsx
  packages/admin-ui/ui/src/domain/orders/details/utils/create-filtering.ts
  packages/admin-ui/ui/src/domain/orders/details/utils/order-returnable-fields.ts
  packages/admin-ui/ui/src/domain/orders/details/utils/use-admin-expand-paramter.ts
  packages/admin-ui/ui/src/hooks/use-build-timeline.tsx
Labels: automerge

#3374 chore(medusa): Little improvement in draft order creation
  .changeset/clean-carrots-sell.md
  packages/medusa/src/services/draft-order.ts
Labels: automerge

#3385 fix(medusa): Issue when ordering with multiple columns
  .changeset/wicked-toes-fold.md
  integration-tests/api/__tests__/admin/product/without-ff-sales-channel.js
  packages/medusa/src/repositories/order.ts
  packages/medusa/src/repositories/product.ts
Labels: automerge

#3432 docs: added discounts overview
  docs/content/modules/carts-and-checkout/overview.mdx
  docs/content/modules/customers/overview.mdx
  docs/content/modules/discounts/admin/manage-discounts.mdx
  docs/content/modules/discounts/discounts.md
  docs/content/modules/discounts/overview.mdx
  docs/content/modules/discounts/storefront/use-discounts-in-checkout.mdx
  docs/content/modules/products/overview.mdx
  docs/content/modules/taxes/overview.mdx
  www/docs/netlify.toml
  www/docs/sidebars.js
  www/docs/vercel.json
Labels: type: docs

#3420 feat(admin-ui): added breadcrumbs for categories on create/edit modal
  .changeset/calm-bananas-roll.md
  packages/admin-ui/ui/src/domain/product-categories/components/tree-crumbs.tsx
  packages/admin-ui/ui/src/domain/product-categories/modals/add-product-category.tsx
  packages/admin-ui/ui/src/domain/product-categories/modals/edit-product-category.tsx
  packages/admin-ui/ui/src/domain/product-categories/pages/index.tsx
  packages/admin-ui/ui/src/domain/product-categories/utils/index.tsx
Labels: automerge

#3433 docs: added gift cards overview
  docs/content/modules/carts-and-checkout/overview.mdx
  docs/content/modules/gift-cards/admin/manage-gift-cards.mdx
  docs/content/modules/gift-cards/backend/send-gift-card-to-customer.md
  docs/content/modules/gift-cards/gift-cards.md
  docs/content/modules/gift-cards/overview.mdx
  docs/content/modules/gift-cards/storefront/use-gift-cards.mdx
  docs/content/modules/overview.mdx
  docs/content/modules/products/overview.mdx
  www/docs/netlify.toml
  www/docs/sidebars.js
  www/docs/vercel.json
Labels: type: docs

#3419 Fix(medusa, admin-ui): Order allocations
  .changeset/lucky-bikes-end.md
  .changeset/shy-years-attack.md
  .changeset/soft-stingrays-sell.md
  packages/admin-ui/ui/src/domain/orders/details/allocations/allocate-items-modal.tsx
  packages/admin-ui/ui/src/domain/orders/details/allocations/edit-allocation-modal.tsx
  packages/medusa-react/src/hooks/admin/reservations/mutations.ts
  packages/medusa/src/api/routes/admin/reservations/delete-reservation.ts
Labels: automerge

#3438 fix(admin): Show correct reserved/available values when editing stock on variant
  .changeset/kind-seas-roll.md
  packages/admin-ui/ui/src/domain/products/components/variant-inventory-form/variant-stock-form/index.tsx
Labels: automerge

#3437 Fix(admin-ui): border overflow
  .changeset/chilly-impalas-share.md
  packages/admin-ui/ui/src/domain/inventory/locations/components/address-form/index.tsx
Labels: automerge

#3440 docs: added price lists overview page
  docs/content/modules/customers/admin/manage-customer-groups.mdx
  docs/content/modules/customers/customer-groups.md
  docs/content/modules/customers/overview.mdx
  docs/content/modules/overview.mdx
  docs/content/modules/price-lists/admin/import-prices.mdx
  docs/content/modules/price-lists/admin/manage-price-lists.mdx
  docs/content/modules/price-lists/backend/override-price-selection-strategy.md
  docs/content/modules/price-lists/overview.mdx
  docs/content/modules/price-lists/price-lists.md
  docs/content/modules/price-lists/price-selection-strategy.md
  docs/content/modules/products/overview.mdx
  www/docs/netlify.toml
  www/docs/sidebars.js
  www/docs/vercel.json
Labels: type: docs

#3441 docs: added sales channels overview page
  docs/content/homepage.mdx
  docs/content/modules/customers/admin/manage-customer-groups.mdx
  docs/content/modules/gift-cards/overview.mdx
  docs/content/modules/orders/overview.mdx
  docs/content/modules/overview.mdx
  docs/content/modules/products/overview.mdx
  docs/content/modules/sales-channels/admin/manage.mdx
  docs/content/modules/sales-channels/overview.mdx
  docs/content/modules/sales-channels/sales-channels.md
  docs/content/modules/sales-channels/storefront/use-sales-channels.mdx
  www/docs/netlify.toml
  www/docs/sidebars.js
  www/docs/vercel.json
Labels: type: docs

#3436 feat(medusa, medusa-js, medusa-react): Add store queries to react medusa
  .changeset/neat-days-brush.md
  packages/medusa-js/src/resources/product-categories.ts
  packages/medusa-react/src/hooks/store/product-categories/index.ts
  packages/medusa-react/src/hooks/store/product-categories/queries.ts
  packages/medusa/src/api/routes/store/product-categories/get-product-category.ts
  packages/medusa/src/api/routes/store/product-categories/index.ts
  packages/medusa/src/api/routes/store/product-categories/list-product-categories.ts
Labels: automerge

#3187 feat(medusa): cache modules
  .changeset/two-cherries-enjoy.md
  integration-tests/api/medusa-config.js
  integration-tests/api/package.json
  integration-tests/helpers/setup-server.js
  integration-tests/helpers/use-redis.ts
  integration-tests/plugins/medusa-config.js
  integration-tests/plugins/package.json
  packages/cache-inmemory/.gitignore
  packages/cache-inmemory/README.md
  packages/cache-inmemory/jest.config.js
  packages/cache-inmemory/package.json
  packages/cache-inmemory/src/index.ts
  packages/cache-inmemory/src/services/__tests__/inmemory-cache.js
  packages/cache-inmemory/src/services/index.ts
  packages/cache-inmemory/src/services/inmemory-cache.ts
  packages/cache-inmemory/src/types/index.ts
  packages/cache-inmemory/tsconfig.json
  packages/cache-redis/.gitignore
  packages/cache-redis/README.md
  packages/cache-redis/jest.config.js
  packages/cache-redis/package.json
  packages/cache-redis/src/index.ts
  packages/cache-redis/src/loaders/index.ts
  packages/cache-redis/src/services/__tests__/redis-cache.js
  packages/cache-redis/src/services/index.ts
  packages/cache-redis/src/services/redis-cache.ts
  packages/cache-redis/src/types/index.ts
  packages/cache-redis/tsconfig.json
  packages/medusa-plugin-contentful/src/services/__tests__/contentful.js
  packages/medusa-plugin-contentful/src/services/contentful.js
  packages/medusa-source-shopify/src/services/__mocks__/shopify-cache.js
  packages/medusa-source-shopify/src/services/__tests__/shopify-product.js
  packages/medusa-source-shopify/src/services/shopify-cache.js
  packages/medusa-source-shopify/src/services/shopify-client.js
  packages/medusa-source-shopify/src/services/shopify-product.js
  packages/medusa/src/services/cache.ts
  packages/medusa/src/services/index.ts
  packages/medusa/src/services/pricing.ts
  packages/medusa/src/services/product-variant-inventory.ts
  packages/medusa/src/subscribers/pricing.ts
  packages/modules-sdk/src/definitions.ts
  yarn.lock
Labels: version: minor

#3452 feat(types): package scaffolding for generated types
  .changeset/soft-pets-breathe.md
  package.json
  packages/generated/client-types/.gitignore
  packages/generated/client-types/README.md
  packages/generated/client-types/package.json
  packages/generated/client-types/scripts/build.ts
  packages/generated/client-types/scripts/tsconfig.json
  packages/generated/client-types/src/index.ts
  packages/generated/client-types/tsconfig.json
  yarn.lock
Labels: automerge, version: minor

#3447 fix(admin-ui): Edit allocation update
  .changeset/shy-poems-lie.md
  packages/admin-ui/ui/src/domain/orders/details/allocations/edit-allocation-modal.tsx
Labels: automerge, version: minor

#3442 feat(codegen): x-expanded-relations
  .changeset/tame-forks-marry.md
  package.json
  packages/medusa/src/api/routes/store/carts/index.ts
  packages/medusa/src/api/routes/store/regions/index.ts
  packages/oas/medusa-oas-cli/package.json
  packages/oas/medusa-oas-cli/src/__tests__/command-oas.test.ts
  packages/oas/openapi-typescript-codegen/src/client/interfaces/Model.d.ts
  packages/oas/openapi-typescript-codegen/src/openApi/v3/interfaces/Extensions/WithDefaultRelationsExtension.d.ts
  packages/oas/openapi-typescript-codegen/src/openApi/v3/interfaces/OpenApiSchema.d.ts
  packages/oas/openapi-typescript-codegen/src/openApi/v3/parser/getModels.ts
  packages/oas/openapi-typescript-codegen/src/openApi/v3/parser/getModelsExpandedRelations.ts
  packages/oas/openapi-typescript-codegen/src/templates/core/ModelUtils.hbs
  packages/oas/openapi-typescript-codegen/src/templates/exportModel.hbs
  packages/oas/openapi-typescript-codegen/src/templates/partials/exportInterface.hbs
  packages/oas/openapi-typescript-codegen/src/templates/partials/typeWithRelation.hbs
  packages/oas/openapi-typescript-codegen/src/utils/registerHandlebarTemplates.ts
  packages/oas/openapi-typescript-codegen/src/utils/writeClient.ts
Labels: automerge, version: minor

#3407 feat(medusa): Bulk emit events
  .changeset/serious-avocados-rush.md
  integration-tests/plugins/__tests__/inventory/service.js
  packages/inventory/src/services/reservation-item.ts
  packages/medusa-test-utils/src/mock-repository.js
  packages/medusa/src/repositories/staged-job.ts
  packages/medusa/src/services/__tests__/event-bus.js
  packages/medusa/src/services/__tests__/order.js
  packages/medusa/src/services/claim.ts
  packages/medusa/src/services/currency.ts
  packages/medusa/src/services/event-bus.ts
  packages/medusa/src/services/order.ts
  packages/medusa/src/services/user.ts
  packages/medusa/src/utils/index.ts
  packages/medusa/src/utils/row-sql-results-to-entity-transformer.ts
Labels: version: next

#3450 feat(medusa, admin-ui): increase tree depth + scope categories on store + allow categories relation in products API
  .changeset/khaki-plants-bake.md
  integration-tests/api/__tests__/admin/product.js
  integration-tests/api/__tests__/admin/products/ff-product-categories.js
  integration-tests/api/__tests__/store/products.js
  integration-tests/api/__tests__/store/products/ff-product-categories.ts
  packages/admin-ui/ui/src/domain/product-categories/components/product-categories-list.tsx
  packages/medusa/src/api/routes/admin/products/__tests__/get-product.js
  packages/medusa/src/api/routes/admin/products/index.ts
  packages/medusa/src/api/routes/store/index.js
  packages/medusa/src/api/routes/store/product-categories/__tests__/get-product-category.ts
  packages/medusa/src/api/routes/store/product-categories/get-product-category.ts
  packages/medusa/src/api/routes/store/product-categories/index.ts
  packages/medusa/src/api/routes/store/product-categories/list-product-categories.ts
  packages/medusa/src/api/routes/store/products/__tests__/list-products.js
  packages/medusa/src/api/routes/store/products/index.ts
  packages/medusa/src/api/routes/store/products/list-products.ts
  packages/medusa/src/repositories/product-category.ts
  packages/medusa/src/repositories/product.ts
  packages/medusa/src/services/__tests__/product-category.ts
  packages/medusa/src/services/product-category.ts
  packages/medusa/src/utils/index.ts
  packages/medusa/src/utils/product-category/index.ts
Labels: automerge, version: minor

#3376 chore(create-medusa-app): Remove Admin + Gatsby starter from npx
  .changeset/cuddly-keys-hear.md
  packages/create-medusa-app/src/index.ts
Labels: version: minor

#3451 Feat(admin-ui, medusa): request return with location
  .changeset/weak-hats-develop.md
  integration-tests/plugins/__tests__/inventory/order/order.js
  packages/admin-ui/ui/src/components/molecules/select/index.tsx
  packages/admin-ui/ui/src/domain/orders/details/receive-return/index.tsx
  packages/admin-ui/ui/src/domain/orders/details/returns/index.tsx
  packages/medusa/src/api/routes/admin/orders/request-return.ts
  packages/medusa/src/types/return.ts
Labels: version: minor

#3461 fix(admin-ui): Inventory and order UI fixes and tweaks
  .changeset/brown-wombats-jam.md
  packages/admin-ui/ui/src/components/molecules/table/index.tsx
  packages/admin-ui/ui/src/components/templates/inventory-table/index.tsx
  packages/admin-ui/ui/src/domain/orders/details/allocations/edit-allocation-modal.tsx
Labels: automerge

#3462 Fix(medusa): Missing location id on fulfillments
  .changeset/dirty-lions-add.md
  integration-tests/plugins/__tests__/inventory/order/order.js
  integration-tests/plugins/factories/simple-cart-factory.ts
  packages/admin-ui/ui/src/domain/orders/details/create-fulfillment/index.tsx
  packages/inventory/src/services/reservation-item.ts
  packages/medusa/src/api/routes/admin/orders/create-fulfillment.ts
Labels: automerge

#3435 feat(medusa, admin-ui, medusa-react, medusa-js): Allow toggling of manage inventory
  .changeset/fast-buckets-marry.md
  .changeset/slow-beers-train.md
  integration-tests/plugins/__tests__/inventory/inventory-items/index.js
  packages/admin-ui/ui/src/domain/discounts/details/configurations/use-discount-configurations.tsx
  packages/admin-ui/ui/src/domain/orders/details/returns/index.tsx
  packages/admin-ui/ui/src/domain/products/components/variant-inventory-form/edit-flow-variant-form/index.tsx
  packages/admin-ui/ui/src/domain/products/components/variant-inventory-form/variant-stock-form/index.tsx
  packages/admin-ui/ui/src/domain/products/edit/hooks/use-edit-product-actions.tsx
  packages/admin-ui/ui/src/domain/products/edit/sections/variants/edit-variant-inventory-modal.tsx
  packages/admin-ui/ui/src/domain/products/edit/sections/variants/table.tsx
  packages/inventory/src/services/inventory-level.ts
  packages/inventory/src/services/inventory.ts
  packages/medusa-js/src/resources/admin/inventory-item.ts
  packages/medusa-react/src/hooks/admin/inventory-item/mutations.ts
  packages/medusa/src/api/routes/admin/inventory-items/create-inventory-item.ts
  packages/medusa/src/api/routes/admin/inventory-items/index.ts
  packages/medusa/src/api/routes/admin/inventory-items/transaction/create-inventory-item.ts
  packages/medusa/src/services/product-variant.ts
Labels: automerge, version: minor

#3460 Fix(inventory, stock-location): Remove orphaned location levels and reservations
  .changeset/many-papayas-judge.md
  integration-tests/plugins/__tests__/inventory/inventory-items/index.js
  packages/admin-ui/ui/src/domain/inventory/locations/components/location-card/index.tsx
  packages/inventory/src/services/inventory-level.ts
  packages/inventory/src/services/inventory.ts
  packages/inventory/src/services/reservation-item.ts
  packages/medusa/src/api/routes/admin/stock-locations/delete-stock-location.ts
  packages/medusa/src/interfaces/services/inventory.ts
Labels: automerge

#3478 fix(oas,js,react): use AdminExtendedStoresRes instead of AdminStoresRes
  .changeset/stale-mangos-retire.md
  packages/medusa-js/src/resources/admin/store.ts
  packages/medusa-react/src/hooks/admin/store/queries.ts
  packages/medusa/src/api/routes/admin/store/get-store.ts
  packages/medusa/src/api/routes/admin/store/index.ts
Labels: automerge

#3477 feat(codegen,types): SetRelation on expanded types
  .changeset/quiet-spiders-join.md
  packages/generated/client-types/src/index.ts
  packages/oas/openapi-typescript-codegen/src/openApi/v3/interfaces/Extensions/WithDefaultRelationsExtension.d.ts
  packages/oas/openapi-typescript-codegen/src/openApi/v3/parser/getModelsExpandedRelations.ts
  packages/oas/openapi-typescript-codegen/src/templates/core/ModelUtils.hbs
  packages/oas/openapi-typescript-codegen/src/templates/exportModel.hbs
  packages/oas/openapi-typescript-codegen/src/templates/partials/typeWithRelation.hbs
Labels: automerge

#3476 filter possible locations by inventory id
  packages/medusa/src/services/product-variant-inventory.ts
Labels: automerge

#3479 fix(admin-ui): Fix inventory table pagination on location filter change
  .changeset/late-dots-lie.md
  packages/admin-ui/ui/src/components/templates/inventory-table/use-inventory-filters.ts
Labels: automerge

#3486 fix(medusa): fix rank order changing on category update
  .changeset/hungry-papayas-raise.md
  integration-tests/api/__tests__/admin/product-category.ts
  packages/medusa/src/services/product-category.ts
Labels: automerge

#3484 Feat(medusa): handle reservation quantity update for line items
  integration-tests/plugins/__tests__/inventory/reservation-items/index.js
  packages/inventory/src/services/inventory.ts
  packages/medusa/src/api/routes/admin/reservations/create-reservation.ts
  packages/medusa/src/api/routes/admin/reservations/update-reservation.ts
  packages/medusa/src/api/routes/admin/reservations/utils/validate-reservation-quantity.ts
  packages/medusa/src/interfaces/services/inventory.ts
Labels: automerge

#3474 Fix/adjust reservations correctly
  .changeset/ten-steaks-tan.md
  integration-tests/plugins/__tests__/inventory/inventory-items/index.js
  integration-tests/plugins/__tests__/inventory/order/order.js
  packages/inventory/src/services/inventory.ts
  packages/inventory/src/services/reservation-item.ts
  packages/medusa/src/api/routes/admin/products/transaction/create-product-variant.ts
  packages/medusa/src/api/routes/admin/variants/get-inventory.ts
  packages/medusa/src/interfaces/services/inventory.ts
  packages/medusa/src/services/product-variant-inventory.ts
Labels: automerge

#3481 feat(admin-ui): Add location names to fulfilment rows and timeline events
  .changeset/stale-colts-thank.md
  packages/admin-ui/ui/src/components/molecules/timeline-events/event-container.tsx
  packages/admin-ui/ui/src/components/molecules/timeline-events/event-item-container.tsx
  packages/admin-ui/ui/src/components/molecules/timeline-events/items-fulfilled.tsx
  packages/admin-ui/ui/src/components/molecules/timeline-events/items-shipped.tsx
  packages/admin-ui/ui/src/domain/orders/details/templates/fulfillment.tsx
  packages/admin-ui/ui/src/hooks/use-build-timeline.tsx
  packages/admin-ui/ui/src/hooks/use-stock-locations.ts
Labels: automerge

#3497 Feat/show order as allocated
  .changeset/large-bottles-perform.md
  packages/admin-ui/ui/src/domain/orders/details/allocations/edit-allocation-modal.tsx
  packages/admin-ui/ui/src/domain/orders/details/create-fulfillment/index.tsx
  packages/admin-ui/ui/src/domain/orders/details/detail-cards/summary.tsx
  packages/admin-ui/ui/src/domain/orders/details/index.tsx
  packages/admin-ui/ui/src/domain/orders/details/order-line/index.tsx
Labels: automerge

#3418 feat(admin): Improve DX for deploying admin externally
  .changeset/mean-ligers-fry.md
  packages/admin-ui/src/index.ts
  packages/admin-ui/src/types/dev.ts
  packages/admin-ui/src/types/index.ts
  packages/admin-ui/src/utils/format-base.ts
  packages/admin-ui/src/utils/get-custom-vite-config.ts
  packages/admin-ui/src/utils/get-custom-vite-dev-config.ts
  packages/admin-ui/src/utils/index.ts
  packages/admin/README.md
  packages/admin/package.json
  packages/admin/src/api/index.ts
  packages/admin/src/commands/build.ts
  packages/admin/src/commands/create-cli.ts
  packages/admin/src/commands/dev.ts
  packages/admin/src/commands/eject.ts
  packages/admin/src/setup/index.ts
  packages/admin/src/types/index.ts
  packages/admin/src/utils/load-config.ts
  packages/admin/src/utils/validate-path.ts
  yarn.lock
Labels: version: minor

#3521 Fix/minor mw fixes
  integration-tests/plugins/__tests__/inventory/inventory-items/index.js
  packages/admin-ui/ui/src/components/templates/inventory-table/index.tsx
  packages/admin-ui/ui/src/domain/orders/details/detail-cards/summary.tsx
  packages/admin-ui/ui/src/domain/products/components/variant-inventory-form/variant-stock-form/index.tsx
  packages/medusa/src/api/routes/admin/inventory-items/update-location-level.ts
Labels: automerge

#3515 fix(admin-ui): Hide create fulfilment button when nothing left to fulfil
  packages/admin-ui/ui/src/domain/orders/details/index.tsx
  packages/admin-ui/ui/src/domain/orders/details/templates/fulfillment-status.tsx
Labels: automerge

#3512 fix(medusa, admin-ui): Fix edit order variant stock
  .changeset/fair-hats-hammer.md
  packages/admin-ui/package.json
  packages/admin-ui/ui/src/domain/orders/edit/variants-table.tsx
  yarn.lock
Labels: automerge

#3522 Feat(admin, medusa): add locations to claim and swap creation
  .changeset/shaggy-ghosts-crash.md
  integration-tests/plugins/__tests__/inventory/order/order.js
  integration-tests/plugins/factories/simple-shipping-option-factory.ts
  packages/admin-ui/ui/src/domain/orders/details/claim/register-claim-menu.tsx
  packages/admin-ui/ui/src/domain/orders/details/swap/create.tsx
  packages/medusa/src/api/routes/admin/orders/create-claim.ts
  packages/medusa/src/api/routes/admin/orders/create-swap.ts
  packages/medusa/src/services/claim.ts
  packages/medusa/src/services/swap.ts
  packages/medusa/src/types/claim.ts
Labels: automerge

#3525 fix(admin-ui): Fix location address editing form state
  .changeset/heavy-donuts-dress.md
  packages/admin-ui/ui/src/domain/inventory/locations/components/address-form/index.tsx
  packages/admin-ui/ui/src/domain/inventory/locations/edit/index.tsx
Labels: automerge

#3533 feat(admin-ui): Encode location id in URL on location table
  .changeset/wicked-cheetahs-fail.md
  packages/admin-ui/ui/src/components/templates/inventory-table/use-inventory-filters.ts
Labels: automerge

#3535 fix(admin-ui): Try and ensure allocation table checkmarks align better
  .changeset/lemon-cameras-yawn.md
  packages/admin-ui/ui/src/domain/orders/details/order-line/index.tsx
Labels: automerge

#3534 fix(medusa): fix bug with parent not being saved correctly
  .changeset/stupid-chefs-ring.md
  packages/medusa/src/commands/seed.ts
Labels: automerge

#3560 fix(admin-ui): Explicitly add moment dependency
  packages/admin-ui/package.json
  yarn.lock
Labels: version: minor

#3397 docs: updated migration steps
  docs/content/development/entities/migrations/create.md
Labels: version: minor

#3563 docs: updated admin deployment guide
  docs/content/deployments/admin/deploying-on-netlify.md
  docs/content/deployments/admin/deploying-on-vercel.md
  docs/content/deployments/server/deploying-on-digital-ocean.md
  docs/content/deployments/server/deploying-on-qovery.md
  docs/content/deployments/server/deploying-on-railway.md
  www/docs/sidebars.js
  www/docs/vercel.json
Labels: version: minor

#3575 fix(event-bus-local): Error handling
  .changeset/weak-parrots-search.md
  packages/event-bus-local/src/services/event-bus-local.ts
  packages/medusa/src/api/routes/admin/products/__tests__/update-product.js
  yarn.lock
Labels: automerge

#3473 Feat(admin-ui): Request return flow warnings and errors
  .changeset/tricky-grapes-flow.md
  packages/admin-ui/ui/src/components/organisms/product-general-section/general-modal.tsx
  packages/admin-ui/ui/src/domain/orders/details/receive-return/index.tsx
  packages/admin-ui/ui/src/domain/orders/details/returns/index.tsx
  packages/admin-ui/ui/src/domain/orders/details/utils/create-filtering.ts
Labels: automerge

#3540 Fix(admin-ui): multi warehouse minor fixes
  packages/admin-ui/ui/src/components/forms/product/variant-form/variant-stock-form/index.tsx
  packages/admin-ui/ui/src/components/forms/product/variant-inventory-form/variant-stock-form/index.tsx
  packages/admin-ui/ui/src/components/organisms/delete-prompt.tsx
  packages/admin-ui/ui/src/components/organisms/product-variants-section/edit-variant-inventory-modal.tsx
  packages/admin-ui/ui/src/domain/inventory/locations/new/index.tsx
Labels: automerge, version: minor

#3487 fix(admin): OrderEdit display of difference due with refund
  packages/admin-ui/ui/src/components/molecules/timeline-events/order-edit/payment-required.tsx
  packages/admin-ui/ui/src/domain/orders/edit/modal.tsx
  packages/admin-ui/ui/src/hooks/use-build-timeline.tsx
Labels: automerge

#3559 feat(oas:cli): output better error when no command is provided
  .changeset/tender-turkeys-exist.md
  packages/oas/medusa-oas-cli/src/command-client.ts
  packages/oas/medusa-oas-cli/src/command-oas.ts
  packages/oas/medusa-oas-cli/src/index.ts
Labels: version: minor

#3561 docs: update admin dashboard quickstart
  docs/content/admin/quickstart.mdx
  docs/content/homepage.mdx
  docs/content/upgrade-guides/index.mdx
  www/docs/sidebars.js
  www/docs/src/components/Feedback/index.css
Labels: version: minor

#3541 feat(admin-ui, medusa): Improve fulfillment validation
  .changeset/twelve-queens-hug.md
  packages/admin-ui/ui/src/components/organisms/product-variants-section/edit-variant-inventory-modal.tsx
  packages/admin-ui/ui/src/domain/orders/details/allocations/allocate-items-modal.tsx
  packages/admin-ui/ui/src/domain/orders/details/create-fulfillment/index.tsx
  packages/admin-ui/ui/src/domain/orders/details/create-fulfillment/item-table.tsx
  packages/medusa/src/api/routes/admin/orders/create-fulfillment.ts
  packages/medusa/src/services/product-variant-inventory.ts
Labels: status: needs merge, version: minor

#3553 feat(medusa): invalidate price selection caching within update request
  .changeset/tame-pillows-heal.md
  integration-tests/api/__tests__/admin/product.js
  integration-tests/api/medusa-config.js
  packages/medusa/src/api/routes/admin/variants/list-variants.ts
  packages/medusa/src/interfaces/price-selection-strategy.ts
  packages/medusa/src/services/__tests__/product-variant.js
  packages/medusa/src/services/pricing.ts
  packages/medusa/src/services/product-variant.ts
  packages/medusa/src/strategies/price-selection.ts
  packages/medusa/src/subscribers/pricing.ts
Labels: version: minor

#3601 fix(medusa-file-s3): Update key formation to use timestamp
  packages/medusa-file-s3/src/services/s3.js
Labels: version: minor

#3586 fix(medusa): Include inventory quantity when listing products
  .changeset/olive-days-jog.md
  packages/medusa/src/api/routes/admin/products/list-products.ts
  packages/medusa/src/services/product-variant-inventory.ts
Labels: version: minor

#3589 feat(medusa): Categories - Adds indexes + remove soft delete
  .changeset/tall-lions-rescue.md
  packages/generated/client-types/src/lib/models/ProductCategory.ts
  packages/medusa/src/migrations/1679950221063-category-remove-soft-delete.ts
  packages/medusa/src/migrations/1679950645253-category-create-indexes.ts
  packages/medusa/src/models/product-category.ts
  packages/medusa/src/repositories/product-category.ts
Labels: version: minor

#3414 feat(medusa-payment-paypal): Migrate to the new payment processor API
  .changeset/empty-melons-eat.md
  .eslintignore
  .eslintrc.js
  packages/medusa-payment-paypal/.babelrc
  packages/medusa-payment-paypal/.gitignore
  packages/medusa-payment-paypal/.npmignore
  packages/medusa-payment-paypal/README.md
  packages/medusa-payment-paypal/index.js
  packages/medusa-payment-paypal/jest.config.js
  packages/medusa-payment-paypal/package.json
  packages/medusa-payment-paypal/src/__fixtures__/data.ts
  packages/medusa-payment-paypal/src/__mocks__/@paypal/checkout-server-sdk.ts
  packages/medusa-payment-paypal/src/api/index.ts
  packages/medusa-payment-paypal/src/api/middlewares/await-middleware.js
  packages/medusa-payment-paypal/src/api/middlewares/index.js
  packages/medusa-payment-paypal/src/api/routes/hooks/index.js
  packages/medusa-payment-paypal/src/api/routes/hooks/index.ts
  packages/medusa-payment-paypal/src/api/routes/hooks/paypal.ts
  packages/medusa-payment-paypal/src/core/__mocks__/paypal-sdk.ts
  packages/medusa-payment-paypal/src/core/__tests__/paypal-http-client.spec.ts
  packages/medusa-payment-paypal/src/core/index.ts
  packages/medusa-payment-paypal/src/core/paypal-http-client.ts
  packages/medusa-payment-paypal/src/core/paypal-sdk.ts
  packages/medusa-payment-paypal/src/core/types/common.ts
  packages/medusa-payment-paypal/src/core/types/constant.ts
  packages/medusa-payment-paypal/src/core/types/index.ts
  packages/medusa-payment-paypal/src/core/types/order.ts
  packages/medusa-payment-paypal/src/core/types/payment.ts
  packages/medusa-payment-paypal/src/core/types/webhook.ts
  packages/medusa-payment-paypal/src/index.ts
  packages/medusa-payment-paypal/src/services/__fixtures__/data.ts
  packages/medusa-payment-paypal/src/services/__tests__/paypal-provider.js
  packages/medusa-payment-paypal/src/services/__tests__/paypal-provider.spec.ts
  packages/medusa-payment-paypal/src/services/paypal-provider.js
  packages/medusa-payment-paypal/src/services/paypal-provider.ts
  packages/medusa-payment-paypal/src/services/utils/utils.ts
  packages/medusa-payment-paypal/src/types.ts
  packages/medusa-payment-paypal/tsconfig.json
  packages/medusa-payment-paypal/tsconfig.spec.json
  packages/medusa-payment-stripe/src/core/__tests__/stripe-base.spec.ts
  packages/medusa-payment-stripe/src/core/stripe-base.ts
  packages/medusa-payment-stripe/src/index.ts
  packages/medusa/src/api/routes/store/orders/index.ts
  yarn.lock
Labels: version: minor

#3552 fix(medusa, admin-ui): List all inventory levels
  .changeset/empty-comics-call.md
  packages/admin-ui/ui/src/components/organisms/product-variants-section/edit-variant-inventory-modal.tsx
  packages/admin-ui/ui/src/components/templates/inventory-table/index.tsx
  packages/medusa/src/api/routes/admin/inventory-items/utils/join-levels.ts
  packages/medusa/src/api/routes/admin/stock-locations/utils/join-sales-channels.ts
Labels: automerge, version: minor

#3570 chore: Merge master to develop and manage conflict
  integration-tests/api/__tests__/batch-jobs/product/import.js
  packages/inventory/CHANGELOG.md
  packages/medusa-test-utils/CHANGELOG.md
  packages/medusa-test-utils/src/mock-manager.js
  packages/medusa-test-utils/src/mock-repository.js
  packages/medusa/CHANGELOG.md
  packages/medusa/src/api/routes/admin/products/__tests__/update-product.js
  packages/medusa/src/api/routes/admin/products/update-product.ts
  packages/medusa/src/helpers/test-request.js
  packages/medusa/src/loaders/models.ts
  packages/medusa/src/loaders/repositories.ts
  packages/medusa/src/repositories/image.ts
  packages/medusa/src/repositories/money-amount.ts
  packages/medusa/src/repositories/staged-job.ts
  packages/medusa/src/services/__tests__/product-variant.js
  packages/medusa/src/services/discount.ts
  packages/medusa/src/services/event-bus.ts
  packages/medusa/src/services/product-variant.ts
  packages/medusa/src/services/product.ts
  packages/medusa/src/strategies/batch-jobs/product/import.ts
  packages/medusa/src/types/product-variant.ts
  packages/medusa/src/utils/__tests__/has-changes.spec.ts
  packages/medusa/src/utils/has-changes.ts
  packages/medusa/src/utils/index.ts
  packages/medusa/src/utils/row-sql-results-to-entity-transformer.ts
Labels: version: minor

#3585 Fix(admin-ui): delete inventory item when variant is deleted
  .changeset/odd-meals-help.md
  packages/admin-ui/ui/src/components/organisms/product-variants-section/index.tsx
  packages/admin-ui/ui/src/components/organisms/product-variants-section/table.tsx
Labels: version: minor

#3591 Feat(admin-ui): move inventory item fields into manage inventory modal
  .changeset/wise-colts-pretend.md
  packages/admin-ui/ui/src/components/forms/product/variant-form/edit-flow-variant-form/index.tsx
  packages/admin-ui/ui/src/components/forms/product/variant-inventory-form/edit-flow-variant-form/index.tsx
  packages/admin-ui/ui/src/components/forms/product/variant-inventory-form/variant-stock-form/index.tsx
  packages/admin-ui/ui/src/components/organisms/product-variants-section/edit-variant-inventory-modal.tsx
Labels: version: minor

#3554 feat(medusa): remove created reservations on subsequent failure for cart completion
  .changeset/curly-mayflies-sell.md
  integration-tests/api/__tests__/store/cart/__snapshots__/cart.js.snap
  integration-tests/api/__tests__/store/cart/cart.js
  integration-tests/api/__tests__/store/orders.js
  integration-tests/plugins/__tests__/inventory/cart/cart.js
  packages/medusa/src/strategies/cart-completion.ts
  packages/medusa/src/utils/exception-formatter.ts
Labels: automerge, version: minor

#3544 feat(medusa): Remove reservations for all line items when an order edit is accepted
  .changeset/shy-camels-attend.md
  integration-tests/plugins/__tests__/inventory/order/order.js
  integration-tests/plugins/factories/simple-cart-factory.ts
  packages/inventory/src/services/reservation-item.ts
  packages/medusa/src/services/__tests__/order-edit.ts
  packages/medusa/src/services/order-edit.ts
Labels: automerge, version: minor

#3637 fix(admin-ui): Collapse categories by default
  packages/admin-ui/ui/src/domain/product-categories/components/product-categories-list.tsx
Labels: version: minor

#3644 feat(admin-ui, medusa): admin UI metadata
  .changeset/famous-bananas-pay.md
  packages/admin-ui/package.json
  packages/admin-ui/ui/src/components/atoms/date-picker/date-picker.tsx
  packages/admin-ui/ui/src/components/atoms/date-picker/time-picker.tsx
  packages/admin-ui/ui/src/components/atoms/date-picker/types.tsx
  packages/admin-ui/ui/src/components/forms/customer-group/customer-group-general-form/index.tsx
  packages/admin-ui/ui/src/components/forms/discount/discount-conditions-form/index.tsx
  packages/admin-ui/ui/src/components/forms/discount/discount-configuration-form/index.tsx
  packages/admin-ui/ui/src/components/forms/discount/discount-general-form/index.tsx
  packages/admin-ui/ui/src/components/forms/general/address-contact-form/index.tsx
  packages/admin-ui/ui/src/components/forms/general/address-location-form/index.tsx
  packages/admin-ui/ui/src/components/forms/general/metadata-form/index.tsx
  packages/admin-ui/ui/src/components/forms/general/prices-form/price-form-input.tsx
  packages/admin-ui/ui/src/components/forms/gift-card/denomination-form/index.tsx
  packages/admin-ui/ui/src/components/forms/product/organize-form/use-organize-data.tsx
  packages/admin-ui/ui/src/components/forms/product/variant-form/edit-flow-variant-form/index.tsx
  packages/admin-ui/ui/src/components/fundamentals/icons/ellipsis-vertical-icon/index.tsx
  packages/admin-ui/ui/src/components/molecules/input/index.tsx
  packages/admin-ui/ui/src/components/organisms/accordion/index.tsx
  packages/admin-ui/ui/src/components/organisms/body-card.tsx
  packages/admin-ui/ui/src/components/organisms/gift-card-denominations-section/edit-denominations-modal.tsx
  packages/admin-ui/ui/src/components/organisms/product-general-section/general-modal.tsx
  packages/admin-ui/ui/src/components/organisms/product-general-section/index.tsx
  packages/admin-ui/ui/src/components/organisms/product-variants-section/add-variant-modal.tsx
  packages/admin-ui/ui/src/components/organisms/product-variants-section/edit-variant-modal.tsx
  packages/admin-ui/ui/src/components/organisms/product-variants-section/edit-variants-modal/edit-variant-screen.tsx
  packages/admin-ui/ui/src/components/organisms/product-variants-section/edit-variants-modal/index.tsx
  packages/admin-ui/ui/src/components/organisms/raw-json/index.tsx
  packages/admin-ui/ui/src/components/templates/address-form.tsx
  packages/admin-ui/ui/src/components/templates/collection-modal/index.tsx
  packages/admin-ui/ui/src/components/templates/customer-group-table/customer-groups-table.tsx
  packages/admin-ui/ui/src/components/templates/customer-orders-table/use-customer-orders-columns.tsx
  packages/admin-ui/ui/src/domain/customers/details/edit.tsx
  packages/admin-ui/ui/src/domain/customers/details/index.tsx
  packages/admin-ui/ui/src/domain/customers/groups/context/customer-group-context.tsx
  packages/admin-ui/ui/src/domain/customers/groups/customer-group-modal.tsx
  packages/admin-ui/ui/src/domain/customers/groups/details.tsx
  packages/admin-ui/ui/src/domain/customers/groups/index.tsx
  packages/admin-ui/ui/src/domain/discounts/details/configurations/edit-configurations.tsx
  packages/admin-ui/ui/src/domain/discounts/details/configurations/index.tsx
  packages/admin-ui/ui/src/domain/discounts/details/general/edit-general.tsx
  packages/admin-ui/ui/src/domain/discounts/details/general/index.tsx
  packages/admin-ui/ui/src/domain/discounts/new/discount-form/add-conditions-modal.tsx
  packages/admin-ui/ui/src/domain/discounts/new/discount-form/form/discount-form-context.tsx
  packages/admin-ui/ui/src/domain/discounts/new/discount-form/form/mappers.ts
  packages/admin-ui/ui/src/domain/discounts/new/discount-form/index.tsx
  packages/admin-ui/ui/src/domain/orders/details/address-modal.tsx
  packages/admin-ui/ui/src/domain/orders/details/index.tsx
  packages/admin-ui/ui/src/domain/orders/draft-orders/details.tsx
  packages/admin-ui/ui/src/domain/product-categories/modals/add-product-category.tsx
  packages/admin-ui/ui/src/domain/product-categories/modals/edit-product-category.tsx
  packages/admin-ui/ui/src/domain/settings/regions/components/shipping-option-card/edit-modal.tsx
  packages/admin-ui/ui/src/domain/settings/regions/components/shipping-option-form/index.tsx
  packages/admin-ui/ui/src/domain/settings/regions/edit/general-section/edit-region.modal.tsx
  packages/admin-ui/ui/src/domain/settings/regions/edit/return-shipping-options/create-return-shipping-option.modal.tsx
  packages/admin-ui/ui/src/domain/settings/regions/edit/shipping-options/create-shipping-option-modal.tsx
  packages/medusa/src/services/order.ts
  packages/medusa/src/utils/set-metadata.ts
  yarn.lock
Labels: version: minor

#3649 chore: Initialize method for modules
  .changeset/small-swans-hunt.md
  packages/cache-inmemory/src/index.ts
  packages/cache-inmemory/src/initialize/index.ts
  packages/cache-redis/src/index.ts
  packages/cache-redis/src/initialize/index.ts
  packages/event-bus-local/src/index.ts
  packages/event-bus-local/src/initialize/index.ts
  packages/event-bus-redis/src/index.ts
  packages/event-bus-redis/src/initialize/index.ts
  packages/event-bus-redis/src/services/event-bus-redis.ts
  packages/inventory/src/index.ts
  packages/inventory/src/initialize/index.ts
  packages/modules-sdk/src/definitions.ts
  packages/modules-sdk/src/medusa-module.ts
  packages/stock-location/src/index.ts
  packages/stock-location/src/initialize/index.ts
  packages/types/src/modules-sdk/index.ts
Labels: automerge
