Repository medusajs/medusa, pull requests merged in 2023-02, with the labels that each got.

#3144 fix(medusa-react): Fix `production.min.js` causing invalid hook usage error in CJS environments
  .changeset/tricky-starfishes-cough.md
  packages/medusa-react/jest.config.js
  packages/medusa-react/package.json
  packages/medusa-react/src/contexts/session-cart.tsx
  packages/medusa-react/src/helpers/index.ts
  packages/medusa-react/src/utils/index.ts
  packages/medusa-react/tsup.config.ts
  yarn.lock
Labels: automerge

#3155 feat(medusa): Filter products by category params in store/admin
  .changeset/happy-tomatoes-drop.md
  integration-tests/api/__tests__/admin/product.js
  integration-tests/api/__tests__/store/products.js
  packages/medusa/src/api/routes/admin/products/list-products.ts
  packages/medusa/src/api/routes/store/products/list-products.ts
  packages/medusa/src/repositories/product.ts
  packages/medusa/src/types/product.ts
Labels: automerge

#3176 docs: add and use react-tooltip
  www/docs/package.json
  www/docs/src/css/_tooltip.css
  www/docs/src/theme/Tooltip/index.js
  www/docs/yarn.lock
Labels: type: docs

#3161 chore(medusa): refactor service test for product categories
  packages/medusa/src/repositories/__mocks__/product-category.ts
  packages/medusa/src/services/__tests__/product-category.ts
Labels: automerge, version: next

#3160 fix(medusa-payment-stripe): Prevent Stripe events from retrying
  .changeset/wild-ravens-press.md
  packages/medusa-payment-stripe/src/api/routes/hooks/stripe.js
Labels: automerge, version: next

#2040 fix(medusa): ShippingOption type on `listAndCount`
  .changeset/spicy-jokes-protect.md
  packages/medusa/src/services/shipping-option.ts
Labels: type: bug, automerge

#2989 feat(medusa): Option to override existing cron job
  .changeset/old-scissors-develop.md
  packages/medusa/src/services/event-bus.ts
  packages/medusa/src/services/job-scheduler.ts
Labels: version: next

#3184 feat(medusa): Include `rolling` in session options config
  .changeset/rare-buckets-crash.md
  packages/medusa/src/loaders/express.ts
  packages/medusa/src/types/global.ts
Labels: automerge, version: next

#2980 fix(medusa): `fields` params usage in the storefront endpoints
  .changeset/smooth-trees-talk.md
  integration-tests/api/__tests__/store/orders.js
  integration-tests/api/__tests__/store/products.js
  packages/medusa/src/api/middlewares/transform-query.ts
  packages/medusa/src/api/routes/store/gift-cards/get-gift-card.ts
  packages/medusa/src/api/routes/store/orders/get-order.ts
  packages/medusa/src/api/routes/store/orders/index.ts
  packages/medusa/src/api/routes/store/orders/lookup-order.ts
  packages/medusa/src/api/routes/store/payment-collections/index.ts
  packages/medusa/src/api/routes/store/products/__tests__/list-products.js
  packages/medusa/src/api/routes/store/products/get-product.ts
  packages/medusa/src/api/routes/store/products/index.ts
  packages/medusa/src/api/routes/store/products/list-products.ts
  packages/medusa/src/types/global.ts
  packages/medusa/src/utils/clean-response-data.ts
Labels: version: next

#3108 feat(medusa): decorate order edit line items with totals
  .changeset/tame-items-eat.md
  integration-tests/api/__tests__/admin/order-edit/ff-tax-inclusive-pricing.js
  integration-tests/api/__tests__/admin/order-edit/order-edit.js
  packages/medusa/src/api/routes/admin/order-edits/__tests__/request-confirmation.ts
  packages/medusa/src/api/routes/admin/order-edits/request-confirmation.ts
  packages/medusa/src/api/routes/admin/order-edits/update-order-edit-line-item.ts
  packages/medusa/src/services/__mocks__/order-edit.js
  packages/medusa/src/services/__tests__/order-edit.ts
  packages/medusa/src/services/order-edit.ts
  packages/medusa/src/services/totals.ts
Labels: version: next

#3154 fix(medusa): Shipping profile CRUD
  .changeset/mean-ghosts-live.md
  integration-tests/api/__tests__/admin/shipping-profile.js
  integration-tests/api/factories/index.ts
  integration-tests/api/factories/simple-shipping-option-factory.ts
  integration-tests/api/factories/simple-shipping-profile-factory.ts
  packages/medusa/src/api/routes/admin/shipping-profiles/__tests__/create-shipping-profile.js
  packages/medusa/src/api/routes/admin/shipping-profiles/create-shipping-profile.ts
  packages/medusa/src/api/routes/admin/shipping-profiles/update-shipping-profile.ts
  packages/medusa/src/repositories/product.ts
  packages/medusa/src/repositories/shipping-option.ts
  packages/medusa/src/services/__mocks__/product.js
  packages/medusa/src/services/__mocks__/shipping-option.js
  packages/medusa/src/services/__mocks__/shipping-profile.js
  packages/medusa/src/services/__tests__/shipping-profile.js
  packages/medusa/src/services/product.ts
  packages/medusa/src/services/shipping-option.ts
  packages/medusa/src/services/shipping-profile.ts
  packages/medusa/src/types/shipping-profile.ts
Labels: automerge, version: next

#3085 feat(medusa): Preserve custom adjustments when refreshing adjustments
  .changeset/famous-cycles-reply.md
  integration-tests/api/__tests__/admin/order-edit/order-edit.js
  integration-tests/api/__tests__/line-item-adjustments/index.js
  integration-tests/api/__tests__/returns/index.js
  packages/medusa/src/services/__tests__/cart.js
  packages/medusa/src/services/cart.ts
  packages/medusa/src/services/line-item-adjustment.ts
  packages/medusa/src/services/order-edit.ts
  packages/medusa/src/services/totals.ts
  packages/medusa/src/types/totals.ts
Labels: version: next

#3186 feat(medusa): Include `name` in session options
  .changeset/wild-carrots-bow.md
  packages/medusa/src/loaders/express.ts
  packages/medusa/src/types/global.ts
Labels: version: next

#3011 chore(*-payment-*): cleanup payment provider plugins
  .changeset/calm-rats-brake.md
  packages/medusa-payment-adyen/src/services/adyen.js
  packages/medusa-payment-adyen/src/services/mobilepay-adyen.js
  packages/medusa-payment-klarna/src/services/klarna-provider.js
  packages/medusa-payment-manual/src/services/manual-payment.js
  packages/medusa-payment-paypal/src/services/paypal-provider.js
Labels: type: chore, version: next

#3193 docs(restructure): redesigned sidebar
  docs/content/features-and-guides/overview-4.mdx
  www/docs/docusaurus.config.js
  www/docs/sidebars.js.new
  www/docs/src/css/_navbar.css
  www/docs/src/css/_sidebar.css
  www/docs/src/css/_sidebar.css.old
  www/docs/src/css/_variables.css
  www/docs/src/theme/DocPage/Layout/Main/index.js
  www/docs/src/theme/DocPage/Layout/Main/styles.module.css
  www/docs/src/theme/DocSidebar/Desktop/index.js
  www/docs/src/theme/DocSidebar/Desktop/styles.module.css
  www/docs/src/theme/DocSidebarItem/Category/index.js
  www/docs/src/theme/DocSidebarItem/Html/index.js
  www/docs/src/theme/DocSidebarItem/Html/styles.module.css
  www/docs/src/theme/DocSidebarItem/Icon/index.js
  www/docs/src/theme/DocSidebarItem/Link/index.js
  www/docs/src/theme/DocSidebarItem/Link/styles.module.css
  www/docs/src/theme/Layout/index.js
  www/docs/src/theme/Navbar/Content/index.js
  www/docs/static/img/back-arrow.svg
Labels: type: docs

#3199 docs(restructure): redesigned navbar
  www/docs/docusaurus.config.js
  www/docs/src/css/_dark.css
  www/docs/src/css/_docsearch.css
  www/docs/src/css/_medusa.css
  www/docs/src/css/_navbar.css
  www/docs/src/css/_sidebar.css
  www/docs/src/css/_variables.css
  www/docs/src/theme/ColorModeToggle/index.js
  www/docs/src/theme/ColorModeToggle/styles.module.css
  www/docs/src/theme/Icon/DarkMode/index.js
  www/docs/src/theme/Icon/LightMode/index.js
  www/docs/src/theme/Icon/Report/index.js
  www/docs/src/theme/Navbar/Actions/index.js
  www/docs/src/theme/Navbar/Content/index.js
  www/docs/static/img/magnifying-glass.svg
Labels: type: docs

#3185 chore: Patches all dependencies
  .changeset/slimy-penguins-beam.md
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarnrc.yml
  package.json
  packages/create-medusa-app/package.json
  packages/inventory/package.json
  packages/medusa-cli/package.json
  packages/medusa-core-utils/package.json
  packages/medusa-dev-cli/package.json
  packages/medusa-file-minio/package.json
  packages/medusa-file-s3/package.json
  packages/medusa-file-spaces/package.json
  packages/medusa-fulfillment-manual/package.json
  packages/medusa-fulfillment-webshipper/package.json
  packages/medusa-interfaces/package.json
  packages/medusa-js/package.json
  packages/medusa-payment-adyen/package.json
  packages/medusa-payment-klarna/package.json
  packages/medusa-payment-manual/package.json
  packages/medusa-payment-paypal/package.json
  packages/medusa-payment-stripe/package.json
  packages/medusa-plugin-algolia/package.json
  packages/medusa-plugin-brightpearl/package.json
  packages/medusa-plugin-contentful/package.json
  packages/medusa-plugin-discount-generator/package.json
  packages/medusa-plugin-economic/package.json
  packages/medusa-plugin-ip-lookup/package.json
  packages/medusa-plugin-mailchimp/package.json
  packages/medusa-plugin-meilisearch/package.json
  packages/medusa-plugin-restock-notification/package.json
  packages/medusa-plugin-segment/package.json
  packages/medusa-plugin-sendgrid/package.json
  packages/medusa-plugin-slack-notification/package.json
  packages/medusa-plugin-twilio-sms/package.json
  packages/medusa-plugin-wishlist/package.json
  packages/medusa-react/package.json
  packages/medusa-telemetry/package.json
  packages/medusa-test-utils/package.json
  packages/medusa/package.json
  packages/stock-location/package.json
  yarn.lock
Labels: type: chore, version: next

#3205 fix(medusa): Allow `method.data` to be passed when creating/updating ShippingMethods in ClaimService
  .changeset/wise-dodos-clean.md
  integration-tests/api/__tests__/admin/order/order.js
  packages/medusa/src/api/routes/admin/orders/create-claim.ts
  packages/medusa/src/api/routes/admin/orders/update-claim.ts
  packages/medusa/src/services/claim.ts
  packages/medusa/src/types/claim.ts
Labels: type: bug, automerge, version: next

#3198 feat(OAS): sanitize circular reference for Redocly
  .changeset/chilly-cars-itch.md
  docs-util/redocly/config.yaml
  docs-util/redocly/plugins/decorators/circular-patch.js
  docs-util/redocly/plugins/plugin.js
  package.json
  scripts/build-openapi.js
  yarn.lock
Labels: automerge

#3177 feat(oas): Improve OAS by adding missing type object to schemas
  packages/medusa/src/api/routes/admin/customer-groups/add-customers-batch.ts
  packages/medusa/src/api/routes/admin/customer-groups/delete-customers-batch.ts
  packages/medusa/src/api/routes/admin/customers/update-customer.ts
  packages/medusa/src/api/routes/admin/discounts/add-resources-to-condition-batch.ts
  packages/medusa/src/api/routes/admin/discounts/delete-resources-from-condition-batch.ts
  packages/medusa/src/api/routes/admin/orders/create-claim.ts
  packages/medusa/src/api/routes/admin/orders/create-fulfillment.ts
  packages/medusa/src/api/routes/admin/orders/create-swap.ts
  packages/medusa/src/api/routes/admin/orders/request-return.ts
  packages/medusa/src/api/routes/admin/orders/update-claim.ts
  packages/medusa/src/api/routes/admin/price-lists/add-prices-batch.ts
  packages/medusa/src/api/routes/admin/price-lists/create-price-list.ts
  packages/medusa/src/api/routes/admin/price-lists/update-price-list.ts
  packages/medusa/src/api/routes/admin/products/create-product.ts
  packages/medusa/src/api/routes/admin/products/create-variant.ts
  packages/medusa/src/api/routes/admin/products/index.ts
  packages/medusa/src/api/routes/admin/products/update-product.ts
  packages/medusa/src/api/routes/admin/products/update-variant.ts
  packages/medusa/src/api/routes/admin/returns/receive-return.ts
  packages/medusa/src/api/routes/admin/shipping-options/create-shipping-option.ts
  packages/medusa/src/api/routes/admin/shipping-options/update-shipping-option.ts
  packages/medusa/src/api/routes/store/carts/create-cart.ts
  packages/medusa/src/api/routes/store/carts/update-cart.ts
  packages/medusa/src/api/routes/store/payment-collections/manage-batch-payment-sessions.ts
  packages/medusa/src/api/routes/store/returns/create-return.ts
  packages/medusa/src/api/routes/store/swaps/create-swap.ts
Labels: automerge

#3203 feat(oas) - accurate model OAS representation - A to D
  .changeset/young-beers-beg.md
  packages/medusa/src/models/address.ts
  packages/medusa/src/models/batch-job.ts
  packages/medusa/src/models/cart.ts
  packages/medusa/src/models/claim-image.ts
  packages/medusa/src/models/claim-item.ts
  packages/medusa/src/models/claim-order.ts
  packages/medusa/src/models/claim-tag.ts
  packages/medusa/src/models/country.ts
  packages/medusa/src/models/currency.ts
  packages/medusa/src/models/custom-shipping-option.ts
  packages/medusa/src/models/customer-group.ts
  packages/medusa/src/models/customer.ts
  packages/medusa/src/models/discount-condition-customer-group.ts
  packages/medusa/src/models/discount-condition-product-collection.ts
  packages/medusa/src/models/discount-condition-product-tag.ts
  packages/medusa/src/models/discount-condition-product-type.ts
  packages/medusa/src/models/discount-condition-product.ts
  packages/medusa/src/models/discount-condition.ts
  packages/medusa/src/models/discount-rule.ts
  packages/medusa/src/models/discount.ts
  packages/medusa/src/models/draft-order.ts
Labels: automerge

#3209 docs: redesigned footer for restructure
  www/docs/docusaurus.config.js
  www/docs/src/css/_docspage.css
  www/docs/src/css/_footer.css
  www/docs/src/css/_toc.css
  www/docs/src/css/_variables.css
  www/docs/src/theme/DocItem/Layout/index.js
  www/docs/src/theme/DocItem/Layout/styles.module.css
  www/docs/src/theme/DocPage/Layout/Main/index.js
  www/docs/src/theme/Footer/Layout/index.js
  www/docs/src/theme/Footer/SocialLinks/index.js
  www/docs/src/theme/Icon/Discord/index.js
  www/docs/src/theme/Icon/GitHub/index.js
  www/docs/src/theme/Icon/LinkedIn/index.js
  www/docs/src/theme/Icon/Twitter/index.js
Labels: type: docs

#3197 fix(medusa): Applying Discounts (with Conditions) on DraftOrders and Carts
  .changeset/spicy-trainers-smile.md
  integration-tests/api/__tests__/admin/discount.js
  integration-tests/api/__tests__/admin/draft-order/draft-order.js
  integration-tests/api/__tests__/store/cart/cart.js
  integration-tests/api/helpers/cart-seeder.js
  packages/medusa/src/repositories/discount-condition.ts
  packages/medusa/src/services/__mocks__/line-item-adjustment.js
  packages/medusa/src/services/__tests__/cart.js
  packages/medusa/src/services/__tests__/discount.js
  packages/medusa/src/services/__tests__/draft-order.js
  packages/medusa/src/services/cart.ts
  packages/medusa/src/services/discount.ts
  packages/medusa/src/services/draft-order.ts
  packages/medusa/src/services/line-item.ts
Labels: type: bug, version: next

#3210 feat(oas) - accurate model OAS representation - F to O
  .changeset/breezy-squids-lick.md
  packages/medusa/src/models/fulfillment-item.ts
  packages/medusa/src/models/fulfillment-provider.ts
  packages/medusa/src/models/fulfillment.ts
  packages/medusa/src/models/gift-card-transaction.ts
  packages/medusa/src/models/gift-card.ts
  packages/medusa/src/models/idempotency-key.ts
  packages/medusa/src/models/image.ts
  packages/medusa/src/models/invite.ts
  packages/medusa/src/models/line-item-adjustment.ts
  packages/medusa/src/models/line-item-tax-line.ts
  packages/medusa/src/models/line-item.ts
  packages/medusa/src/models/money-amount.ts
  packages/medusa/src/models/note.ts
  packages/medusa/src/models/notification-provider.ts
  packages/medusa/src/models/notification.ts
  packages/medusa/src/models/oauth.ts
  packages/medusa/src/models/order-edit.ts
  packages/medusa/src/models/order-item-change.ts
  packages/medusa/src/models/order.ts
Labels: automerge

#3219 fix(medusa): pass transformer config in storefront controllers
  .changeset/green-socks-attack.md
  integration-tests/api/__tests__/store/orders.js
  packages/medusa/src/api/routes/store/orders/get-order.ts
  packages/medusa/src/api/routes/store/orders/lookup-order.ts
  packages/medusa/src/api/routes/store/products/__tests__/get-product.js
  packages/medusa/src/api/routes/store/products/get-product.ts
Labels: type: bug

#3230 docs: redesigned cards
  www/docs/src/components/BorderedIcon/index.js
  www/docs/src/components/BorderedIcon/styles.module.css
  www/docs/src/css/_card.css
  www/docs/src/css/_medusa.css
  www/docs/src/css/_sidebar.css
  www/docs/src/css/_variables.css
  www/docs/src/theme/DocCard/index.js
  www/docs/src/theme/DocCard/styles.module.css
  www/docs/src/theme/DocSidebarItem/Icon/index.js
  www/docs/static/img/light-beam.png
  www/docs/static/img/stardust.png
Labels: type: docs

#3231 docs: redesigned admonitions
  www/docs/src/css/_medusa.css
  www/docs/src/css/_variables.css
  www/docs/src/theme/Admonition/index.js
  www/docs/src/theme/Admonition/styles.module.css
Labels: type: docs

#3236 docs: redesign announcement bar
  www/docs/src/components/Bordered/index.js
  www/docs/src/components/Bordered/styles.module.css
  www/docs/src/components/BorderedIcon/index.js
  www/docs/src/components/BorderedIcon/styles.module.css
  www/docs/src/css/_medusa.css
  www/docs/src/css/_variables.css
  www/docs/src/theme/AnnouncementBar/CloseButton/index.js
  www/docs/src/theme/AnnouncementBar/CloseButton/styles.module.css
  www/docs/src/theme/AnnouncementBar/Content/styles.module.css
  www/docs/src/theme/AnnouncementBar/index.js
  www/docs/src/theme/AnnouncementBar/styles.module.css
  www/docs/src/theme/Icon/Bell/index.js
  www/docs/src/theme/Icon/Close/index.js
  www/docs/src/theme/Navbar/Content/index.js
  www/docs/src/theme/Navbar/MobileSidebar/Header/index.js
  www/docs/src/theme/Navbar/MobileSidebar/PrimaryMenu/index.js
  www/docs/static/img/announcement-bg.svg
Labels: type: docs

#3223 feat(oas) - accurate model OAS representation - PA to PU
  .changeset/short-jeans-develop.md
  packages/medusa/src/models/payment-collection.ts
  packages/medusa/src/models/payment-provider.ts
  packages/medusa/src/models/payment-session.ts
  packages/medusa/src/models/payment.ts
  packages/medusa/src/models/price-list.ts
  packages/medusa/src/models/product-category.ts
  packages/medusa/src/models/product-collection.ts
  packages/medusa/src/models/product-option-value.ts
  packages/medusa/src/models/product-option.ts
  packages/medusa/src/models/product-tag.ts
  packages/medusa/src/models/product-tax-rate.ts
  packages/medusa/src/models/product-type-tax-rate.ts
  packages/medusa/src/models/product-type.ts
  packages/medusa/src/models/product-variant-inventory-item.ts
  packages/medusa/src/models/product-variant.ts
  packages/medusa/src/models/product.ts
  packages/medusa/src/models/publishable-api-key-sales-channel.ts
  packages/medusa/src/models/publishable-api-key.ts
Labels: automerge

#3239 docs: redesigned large cards
  www/docs/src/components/LargeCard/index.css
  www/docs/src/components/LargeCard/index.js
  www/docs/src/css/_medusa.css
  www/docs/src/css/_typography.css
  www/docs/src/css/_variables.css
  www/docs/static/img/squares-bg-light.svg
  www/docs/static/img/squares-bg.svg
Labels: type: docs

#3247 fix(medusa): Generate adjustment missing transaction on calculateDiscountForLineItem
  .changeset/thin-fans-sneeze.md
  packages/medusa/src/api/routes/store/carts/delete-line-item.ts
  packages/medusa/src/services/line-item-adjustment.ts
Labels: version: next

#3246 fix(medusa): Get cart missing transaction on update
  .changeset/new-spoons-flash.md
  packages/medusa/src/api/routes/store/carts/get-cart.ts
Labels: version: next

#3244 fix(medusa): Discount allocation precision issues
  .changeset/fast-onions-tie.md
  integration-tests/api/__tests__/admin/order-edit/order-edit.js
  integration-tests/api/__tests__/admin/product.js
  integration-tests/api/__tests__/returns/index.js
  integration-tests/api/__tests__/store/cart/cart.js
  integration-tests/api/factories/simple-order-factory.ts
  integration-tests/api/helpers/admin-seeder.js
  packages/medusa/src/services/new-totals.ts
  packages/medusa/src/services/totals.ts
  packages/medusa/src/strategies/tax-calculation.ts
Labels: version: next

#3250 feat(oas) - accurate model OAS representation - R to U
  .changeset/spicy-vans-shave.md
  packages/medusa/src/models/refund.ts
  packages/medusa/src/models/region.ts
  packages/medusa/src/models/return-item.ts
  packages/medusa/src/models/return-reason.ts
  packages/medusa/src/models/return.ts
  packages/medusa/src/models/sales-channel-location.ts
  packages/medusa/src/models/sales-channel.ts
  packages/medusa/src/models/shipping-method-tax-line.ts
  packages/medusa/src/models/shipping-method.ts
  packages/medusa/src/models/shipping-option-requirement.ts
  packages/medusa/src/models/shipping-option.ts
  packages/medusa/src/models/shipping-profile.ts
  packages/medusa/src/models/shipping-tax-rate.ts
  packages/medusa/src/models/staged-job.ts
  packages/medusa/src/models/store.ts
  packages/medusa/src/models/swap.ts
  packages/medusa/src/models/tax-line.ts
  packages/medusa/src/models/tax-provider.ts
  packages/medusa/src/models/tax-rate.ts
  packages/medusa/src/models/tracking-link.ts
  packages/medusa/src/models/user.ts
Labels: automerge

#3249 fix(medusa): Default sales channel on product create
  .changeset/new-shoes-tickle.md
  integration-tests/api/__tests__/admin/__snapshots__/product.js.snap
  integration-tests/api/__tests__/admin/product.js
  integration-tests/api/__tests__/admin/sales-channels.js
  packages/medusa/src/api/routes/admin/products/__tests__/create-product.js
  packages/medusa/src/api/routes/admin/products/create-product.ts
  packages/medusa/src/services/__mocks__/sales-channel.js
  packages/medusa/src/services/sales-channel.ts
Labels: automerge, version: next

#3191 chore(medusa): clean up swap creation to use the new calculation
  integration-tests/api/helpers/swap-seeder.js
  packages/medusa/src/api/routes/admin/orders/create-swap.ts
  packages/medusa/src/services/__tests__/swap.ts
  packages/medusa/src/services/line-item.ts
  packages/medusa/src/services/swap.ts
Labels: version: next

#3237 fix(medusa): Refund amount on returns in claim flow
  .changeset/rotten-hairs-thank.md
  integration-tests/api/__tests__/admin/order/order.js
  integration-tests/api/__tests__/claims/index.js
  packages/medusa/src/services/__tests__/claim.js
  packages/medusa/src/services/claim.ts
  packages/medusa/src/services/order.ts
  packages/medusa/src/services/return.ts
  packages/medusa/src/services/swap.ts
Labels: version: next

#3213 feat(oas): medusa-oas-cli as OAS build tool
  .changeset/dull-forks-juggle.md
  .github/workflows/oas-test.yml
  docs-util/redocly/config.yaml
  docs/api/admin-spec3.json
  docs/api/admin-spec3.yaml
  docs/api/fixtures.json
  docs/api/store-spec3.json
  docs/api/store-spec3.yaml
  package.json
  packages/medusa/oas/admin-spec3-base.yaml
  packages/medusa/oas/store-spec3-base.yaml
  packages/oas/medusa-oas-cli/.gitignore
  packages/oas/medusa-oas-cli/CHANGELOG.md
  packages/oas/medusa-oas-cli/README.md
  packages/oas/medusa-oas-cli/package.json
  packages/oas/medusa-oas-cli/src/command-oas.ts
  packages/oas/medusa-oas-cli/src/index.ts
  packages/oas/medusa-oas-cli/tsconfig.json
  scripts/build-openapi.js
  yarn.lock
Labels: automerge

#3110 feat(medusa-js, medusa-react, medusa): Prepare API for admin implementations
  .changeset/new-cherries-knock.md
  integration-tests/plugins/__tests__/stock-location/delete-sales-channels.js
  integration-tests/plugins/__tests__/stock-location/delete-stock-location.js
  integration-tests/plugins/__tests__/stock-location/sales-channels.js
  packages/medusa-js/src/resources/admin/index.ts
  packages/medusa-js/src/resources/admin/inventory-item.ts
  packages/medusa-js/src/resources/admin/reservations.ts
  packages/medusa-react/mocks/data/fixtures.json
  packages/medusa-react/mocks/handlers/admin.ts
  packages/medusa-react/src/contexts/medusa.tsx
  packages/medusa-react/src/hooks/admin/index.ts
  packages/medusa-react/src/hooks/admin/inventory-item/index.ts
  packages/medusa-react/src/hooks/admin/inventory-item/mutations.ts
  packages/medusa-react/src/hooks/admin/inventory-item/queries.ts
  packages/medusa-react/src/hooks/admin/reservations/index.ts
  packages/medusa-react/src/hooks/admin/reservations/mutations.ts
  packages/medusa-react/src/hooks/admin/reservations/queries.ts
  packages/medusa-react/src/hooks/admin/sales-channels/mutations.ts
  packages/medusa-react/src/hooks/admin/stock-locations/index.ts
  packages/medusa-react/src/hooks/admin/stock-locations/mutations.ts
  packages/medusa-react/src/hooks/admin/stock-locations/queries.ts
  packages/medusa-react/src/hooks/admin/variants/queries.ts
  packages/medusa-react/test/hooks/admin/inventory-items/mutations.test.ts
  packages/medusa-react/test/hooks/admin/inventory-items/queries.test.ts
  packages/medusa-react/test/hooks/admin/reservations/mutations.test.ts
  packages/medusa-react/test/hooks/admin/reservations/queries.test.ts
  packages/medusa-react/test/hooks/admin/sales-channels/mutations.test.ts
  packages/medusa-react/test/hooks/admin/stock-location/mutations.test.ts
  packages/medusa-react/test/hooks/admin/stock-location/queries.test.ts
  packages/medusa-react/test/hooks/admin/variants/queries.test.ts
  packages/medusa/src/api/index.js
  packages/medusa/src/api/routes/admin/reservations/create-reservation.ts
  packages/medusa/src/api/routes/admin/reservations/index.ts
  packages/medusa/src/api/routes/admin/sales-channels/index.ts
  packages/medusa/src/api/routes/admin/stock-locations/get-stock-location.ts
  packages/medusa/src/api/routes/admin/stock-locations/index.ts
  packages/medusa/src/api/routes/admin/stock-locations/list-stock-locations.ts
  packages/medusa/src/api/routes/admin/stock-locations/utils/join-sales-channels.ts
  packages/medusa/src/api/routes/admin/store/get-store.ts
  packages/medusa/src/api/routes/admin/store/index.ts
  packages/medusa/src/api/routes/admin/variants/get-inventory.ts
  packages/medusa/src/services/product-variant-inventory.ts
  packages/medusa/src/services/sales-channel-inventory.ts
  packages/medusa/src/services/sales-channel-location.ts
  packages/medusa/src/types/feature-flags.ts
  packages/medusa/src/types/modules.ts
  packages/medusa/src/types/stock-location.ts
  packages/medusa/src/types/store.ts
Labels: automerge, version: minor

#3267 fix(medusa): Received quantity on return lines
  .changeset/nasty-parents-prove.md
  integration-tests/api/__tests__/admin/returns.js
  integration-tests/api/__tests__/claims/index.js
  integration-tests/plugins/__tests__/medusa-plugin-sendgrid/__snapshots__/index.js.snap
  packages/medusa/src/api/routes/admin/returns/receive-return.ts
  packages/medusa/src/models/return.ts
Labels: automerge, version: next

#3269 feat(docs): OAS circular reference check shall fail openapi:generate
  .github/workflows/oas-test.yml
  scripts/build-openapi.js
Labels: automerge

#3285 fix(oas): patch circular references in docs
  .changeset/brave-crabs-itch.md
  docs-util/redocly/config.yaml
Labels: automerge

#3278 feat(oas): identify required fields in responses - admin
  .changeset/witty-pigs-rescue.md
  packages/medusa/src/api/routes/admin/apps/index.ts
  packages/medusa/src/api/routes/admin/auth/index.ts
  packages/medusa/src/api/routes/admin/batch/index.ts
  packages/medusa/src/api/routes/admin/collections/index.ts
  packages/medusa/src/api/routes/admin/currencies/index.ts
  packages/medusa/src/api/routes/admin/customer-groups/index.ts
  packages/medusa/src/api/routes/admin/customers/index.ts
  packages/medusa/src/api/routes/admin/discounts/index.ts
  packages/medusa/src/api/routes/admin/draft-orders/index.ts
  packages/medusa/src/api/routes/admin/gift-cards/index.ts
  packages/medusa/src/api/routes/admin/inventory-items/index.ts
  packages/medusa/src/api/routes/admin/invites/index.ts
  packages/medusa/src/api/routes/admin/notes/index.ts
  packages/medusa/src/api/routes/admin/notifications/index.ts
  packages/medusa/src/api/routes/admin/order-edits/index.ts
  packages/medusa/src/api/routes/admin/orders/index.ts
  packages/medusa/src/api/routes/admin/payment-collections/index.ts
  packages/medusa/src/api/routes/admin/payments/index.ts
  packages/medusa/src/api/routes/admin/price-lists/index.ts
  packages/medusa/src/api/routes/admin/product-categories/index.ts
  packages/medusa/src/api/routes/admin/product-tags/index.ts
  packages/medusa/src/api/routes/admin/product-types/index.ts
  packages/medusa/src/api/routes/admin/products/index.ts
  packages/medusa/src/api/routes/admin/publishable-api-keys/index.ts
  packages/medusa/src/api/routes/admin/regions/index.ts
  packages/medusa/src/api/routes/admin/reservations/index.ts
  packages/medusa/src/api/routes/admin/return-reasons/index.ts
  packages/medusa/src/api/routes/admin/returns/index.ts
  packages/medusa/src/api/routes/admin/sales-channels/index.ts
  packages/medusa/src/api/routes/admin/shipping-options/index.ts
  packages/medusa/src/api/routes/admin/shipping-profiles/index.ts
  packages/medusa/src/api/routes/admin/stock-locations/index.ts
  packages/medusa/src/api/routes/admin/store/index.ts
  packages/medusa/src/api/routes/admin/swaps/index.ts
  packages/medusa/src/api/routes/admin/tax-rates/index.ts
  packages/medusa/src/api/routes/admin/uploads/index.ts
  packages/medusa/src/api/routes/admin/users/index.ts
  packages/medusa/src/api/routes/admin/variants/index.ts
Labels: automerge

#3282 feat(oas): identify required fields in responses - store
  .changeset/short-plants-work.md
  packages/medusa/src/api/routes/store/auth/index.ts
  packages/medusa/src/api/routes/store/carts/index.ts
  packages/medusa/src/api/routes/store/collections/index.ts
  packages/medusa/src/api/routes/store/customers/index.ts
  packages/medusa/src/api/routes/store/gift-cards/index.ts
  packages/medusa/src/api/routes/store/order-edits/index.ts
  packages/medusa/src/api/routes/store/orders/index.ts
  packages/medusa/src/api/routes/store/payment-collections/index.ts
  packages/medusa/src/api/routes/store/product-categories/index.ts
  packages/medusa/src/api/routes/store/product-tags/index.ts
  packages/medusa/src/api/routes/store/product-tags/list-product-tags.ts
  packages/medusa/src/api/routes/store/product-types/index.ts
  packages/medusa/src/api/routes/store/products/index.ts
  packages/medusa/src/api/routes/store/regions/index.ts
  packages/medusa/src/api/routes/store/return-reasons/index.ts
  packages/medusa/src/api/routes/store/returns/index.ts
  packages/medusa/src/api/routes/store/shipping-options/index.ts
  packages/medusa/src/api/routes/store/swaps/index.ts
  packages/medusa/src/api/routes/store/variants/index.ts
Labels: automerge

#3260 feat(medusa-file-s3): S3 file service reusing a single AWS client
  .changeset/early-ducks-press.md
  packages/medusa-file-s3/src/services/s3.js
Labels: version: minor

#3252 chore(medusa): Improve store list products
  .changeset/tricky-terms-wash.md
  integration-tests/api/__tests__/store/products.js
  packages/medusa/src/api/routes/store/products/list-products.ts
  packages/medusa/src/services/pricing.ts
Labels: version: minor

#3087 chore(medusa): remove PublishableAPIKeys feature flag
  .changeset/eight-wasps-buy.md
  docs/content/advanced/backend/subscribers/events-list.md
  integration-tests/api/__tests__/admin/publishable-api-key.js
  packages/medusa/src/api/middlewares/publishable-api-key/extend-request-params.ts
  packages/medusa/src/api/middlewares/publishable-api-key/validate-product-sales-channel-association.ts
  packages/medusa/src/api/middlewares/publishable-api-key/validate-sales-channel-param.ts
  packages/medusa/src/api/middlewares/publishable-api-key/validate-variant-sales-channel-association.ts
  packages/medusa/src/api/routes/admin/publishable-api-keys/index.ts
  packages/medusa/src/api/routes/store/carts/create-cart.ts
  packages/medusa/src/api/routes/store/carts/index.ts
  packages/medusa/src/api/routes/store/index.js
  packages/medusa/src/api/routes/store/products/get-product.ts
  packages/medusa/src/api/routes/store/products/index.ts
  packages/medusa/src/api/routes/store/products/list-products.ts
  packages/medusa/src/api/routes/store/variants/get-variant.ts
  packages/medusa/src/api/routes/store/variants/index.ts
  packages/medusa/src/api/routes/store/variants/list-variants.ts
  packages/medusa/src/migrations/1667815005070-publishable_api_key.ts
  packages/medusa/src/models/publishable-api-key-sales-channel.ts
  packages/medusa/src/models/publishable-api-key.ts
  packages/medusa/src/services/publishable-api-key.ts
Labels: version: minor

#2978 feat(medusa): Load PaymentProcessors + integrate in PaymentProviderService
  .changeset/purple-sloths-confess.md
  packages/medusa/src/interfaces/index.ts
  packages/medusa/src/interfaces/payment-processor.ts
  packages/medusa/src/interfaces/payment-service.ts
  packages/medusa/src/loaders/__tests__/default.spec.ts
  packages/medusa/src/loaders/defaults.ts
  packages/medusa/src/loaders/helpers/plugins.ts
  packages/medusa/src/loaders/plugins.ts
  packages/medusa/src/services/__fixtures__/payment-provider.ts
  packages/medusa/src/services/__tests__/payment-provider.js
  packages/medusa/src/services/__tests__/payment-provider.ts
  packages/medusa/src/services/payment-provider.ts
  packages/medusa/src/types/payment.ts
Labels: version: minor

#3299 docs: several design fixes after restructure
  www/docs/src/components/Bordered/styles.module.css
  www/docs/src/components/BorderedIcon/index.js
  www/docs/src/components/BorderedIcon/styles.module.css
  www/docs/src/components/LargeCard/index.css
  www/docs/src/components/LargeCard/index.js
  www/docs/src/css/_card.css
  www/docs/src/css/_code.css
  www/docs/src/css/_docsearch.css
  www/docs/src/css/_sidebar.css
  www/docs/src/css/_toc.css
  www/docs/src/css/_typography.css
  www/docs/src/css/_variables.css
  www/docs/src/theme/DocCard/styles.module.css
  www/docs/src/theme/Navbar/Actions/index.js
  www/docs/src/theme/Navbar/Content/index.js
  www/docs/src/theme/Tabs/index.js
Labels: type: docs

#3276 feat(medusa): Configurable returnable_items on order decorate totals
  .changeset/eleven-kids-tan.md
  integration-tests/api/__tests__/admin/__snapshots__/price-list.js.snap
  integration-tests/api/__tests__/admin/price-list.js
  integration-tests/api/__tests__/admin/swaps.js
  packages/medusa/src/api/middlewares/index.ts
  packages/medusa/src/api/middlewares/transform-includes-options.ts
  packages/medusa/src/api/middlewares/transform-query.ts
  packages/medusa/src/api/routes/admin/orders/__tests__/get-order.js
  packages/medusa/src/api/routes/admin/orders/add-shipping-method.ts
  packages/medusa/src/api/routes/admin/orders/archive-order.ts
  packages/medusa/src/api/routes/admin/orders/cancel-claim.ts
  packages/medusa/src/api/routes/admin/orders/cancel-fulfillment-claim.ts
  packages/medusa/src/api/routes/admin/orders/cancel-fulfillment-swap.ts
  packages/medusa/src/api/routes/admin/orders/cancel-fulfillment.ts
  packages/medusa/src/api/routes/admin/orders/cancel-order.ts
  packages/medusa/src/api/routes/admin/orders/cancel-swap.ts
  packages/medusa/src/api/routes/admin/orders/capture-payment.ts
  packages/medusa/src/api/routes/admin/orders/complete-order.ts
  packages/medusa/src/api/routes/admin/orders/create-claim-shipment.ts
  packages/medusa/src/api/routes/admin/orders/create-claim.ts
  packages/medusa/src/api/routes/admin/orders/create-fulfillment.ts
  packages/medusa/src/api/routes/admin/orders/create-shipment.ts
  packages/medusa/src/api/routes/admin/orders/create-swap-shipment.ts
  packages/medusa/src/api/routes/admin/orders/create-swap.ts
  packages/medusa/src/api/routes/admin/orders/fulfill-claim.ts
  packages/medusa/src/api/routes/admin/orders/fulfill-swap.ts
  packages/medusa/src/api/routes/admin/orders/get-order.ts
  packages/medusa/src/api/routes/admin/orders/index.ts
  packages/medusa/src/api/routes/admin/orders/process-swap-payment.ts
  packages/medusa/src/api/routes/admin/orders/refund-payment.ts
  packages/medusa/src/api/routes/admin/orders/request-return.ts
  packages/medusa/src/api/routes/admin/orders/update-claim.ts
  packages/medusa/src/api/routes/admin/orders/update-order.ts
  packages/medusa/src/models/order.ts
  packages/medusa/src/services/order.ts
  packages/medusa/src/types/orders.ts
Labels: version: next

#3293 fix(medusa-dev): include packages/ subdirectories in discovery
  .changeset/eight-wasps-juggle.md
  packages/medusa-dev-cli/package.json
  packages/medusa-dev-cli/src/index.js
  packages/medusa-dev-cli/src/local-npm-registry/install-packages.js
  yarn.lock
Labels: automerge, version: minor

#3298 chore: Revert AbstractPaymentService deprecation
  .changeset/cuddly-hats-obey.md
  packages/medusa/src/interfaces/payment-service.ts
Labels: version: next

#3321 feat(medusa) allow querying category descendants with a param in list endpoint
  .changeset/brown-brooms-cheat.md
  integration-tests/api/__tests__/admin/product-category.ts
  packages/medusa/src/api/routes/admin/product-categories/list-product-categories.ts
  packages/medusa/src/services/__tests__/product-category.ts
  packages/medusa/src/services/product-category.ts
  packages/medusa/src/types/common.ts
Labels: automerge

#3328 fix(medusa): Reservation routes and VariantInventory type
  .changeset/funny-cars-crash.md
  packages/medusa/src/api/routes/admin/index.js
  packages/medusa/src/api/routes/admin/variants/get-inventory.ts
Labels: version: minor

#3335 fix(medusa): Fix regression in job scheduler service
  .changeset/green-crabs-fly.md
  packages/medusa/src/services/__tests__/job-scheduler.js
  packages/medusa/src/services/job-scheduler.ts
Labels: automerge

#3323 fix(medusa): Clean response data usage for admin and store fields/expand
  .changeset/mighty-ads-fold.md
  integration-tests/api/__tests__/admin/order/order.js
  integration-tests/api/__tests__/store/orders.js
  packages/medusa/src/api/middlewares/index.ts
  packages/medusa/src/api/middlewares/transform-includes-options.ts
  packages/medusa/src/api/middlewares/transform-query.ts
  packages/medusa/src/api/routes/admin/orders/get-order.ts
  packages/medusa/src/api/routes/admin/orders/list-orders.ts
  packages/medusa/src/api/routes/store/carts/index.ts
  packages/medusa/src/api/routes/store/collections/index.ts
  packages/medusa/src/api/routes/store/customers/index.ts
  packages/medusa/src/api/routes/store/order-edits/index.ts
  packages/medusa/src/api/routes/store/orders/index.ts
  packages/medusa/src/api/routes/store/orders/lookup-order.ts
  packages/medusa/src/api/routes/store/payment-collections/index.ts
  packages/medusa/src/api/routes/store/product-categories/index.ts
  packages/medusa/src/api/routes/store/product-tags/index.ts
  packages/medusa/src/api/routes/store/product-types/index.ts
  packages/medusa/src/api/routes/store/products/index.ts
  packages/medusa/src/types/global.ts
  packages/medusa/src/utils/clean-response-data.ts
  packages/modules-sdk/package.json
Labels: version: minor, status: needs docs

#3324 feat(medusa, stock-location): Sales channel filtering when listing locations
  .changeset/lucky-boats-invent.md
  integration-tests/plugins/__tests__/stock-location/sales-channels.js
  packages/medusa/src/api/routes/admin/stock-locations/list-stock-locations.ts
  packages/medusa/src/services/sales-channel-location.ts
Labels: version: minor

#3172 fix(medusa): update create fulfillment flow
  .changeset/hip-otters-thank.md
  integration-tests/plugins/__tests__/inventory/order/order.js
  integration-tests/plugins/factories/simple-order-factory.ts
  packages/medusa/src/api/routes/admin/index.js
  packages/medusa/src/api/routes/admin/orders/create-fulfillment.ts
  packages/medusa/src/services/product-variant-inventory.ts
Labels: version: minor

#3094 fix(medusa): Account for multiple inventory items in get-inventory
  .changeset/violet-pans-greet.md
  packages/medusa/src/api/routes/admin/variants/get-inventory.ts
  packages/medusa/src/services/product-variant-inventory.ts
Labels: version: minor

#3257 feat(medusa-payment-stripe-processor): Start implementing the new stripe payment plugins
  .changeset/eleven-cycles-mate.md
  .eslintignore
  .eslintrc.js
  packages/medusa-payment-paypal/package.json
  packages/medusa-payment-stripe/.babelrc
  packages/medusa-payment-stripe/.gitignore
  packages/medusa-payment-stripe/.npmignore
  packages/medusa-payment-stripe/README.md
  packages/medusa-payment-stripe/index.js
  packages/medusa-payment-stripe/jest.config.js
  packages/medusa-payment-stripe/package.json
  packages/medusa-payment-stripe/src/__fixtures__/data.ts
  packages/medusa-payment-stripe/src/__mocks__/cart.js
  packages/medusa-payment-stripe/src/__mocks__/customer.js
  packages/medusa-payment-stripe/src/__mocks__/eventbus.js
  packages/medusa-payment-stripe/src/__mocks__/stripe.js
  packages/medusa-payment-stripe/src/__mocks__/stripe.ts
  packages/medusa-payment-stripe/src/__mocks__/totals.js
  packages/medusa-payment-stripe/src/api/hooks/index.ts
  packages/medusa-payment-stripe/src/api/hooks/stripe.ts
  packages/medusa-payment-stripe/src/api/index.ts
  packages/medusa-payment-stripe/src/api/middlewares/await-middleware.js
  packages/medusa-payment-stripe/src/api/middlewares/index.js
  packages/medusa-payment-stripe/src/api/routes/hooks/stripe.js
  packages/medusa-payment-stripe/src/api/utils/__fixtures__/container.ts
  packages/medusa-payment-stripe/src/api/utils/__fixtures__/data.ts
  packages/medusa-payment-stripe/src/api/utils/__tests__/utils.spec.ts
  packages/medusa-payment-stripe/src/api/utils/utils.ts
  packages/medusa-payment-stripe/src/core/__fixtures__/data.ts
  packages/medusa-payment-stripe/src/core/__fixtures__/stripe-test.ts
  packages/medusa-payment-stripe/src/core/__tests__/stripe-base.spec.ts
  packages/medusa-payment-stripe/src/core/stripe-base.ts
  packages/medusa-payment-stripe/src/helpers/__tests__/stripe-base.js
  packages/medusa-payment-stripe/src/helpers/stripe-base.js
  packages/medusa-payment-stripe/src/services/stripe-bancontact.ts
  packages/medusa-payment-stripe/src/services/stripe-blik.ts
  packages/medusa-payment-stripe/src/services/stripe-giropay.ts
  packages/medusa-payment-stripe/src/services/stripe-ideal.ts
  packages/medusa-payment-stripe/src/services/stripe-provider.js
  packages/medusa-payment-stripe/src/services/stripe-provider.ts
  packages/medusa-payment-stripe/src/services/stripe-przelewy24.ts
  packages/medusa-payment-stripe/src/types.ts
  packages/medusa-payment-stripe/tsconfig.json
  packages/medusa-payment-stripe/tsconfig.spec.json
  packages/medusa/src/api/middlewares/index.ts
  packages/medusa/src/index.js
  packages/medusa/src/interfaces/cart-completion-strategy.ts
  packages/medusa/src/interfaces/payment-processor.ts
  packages/medusa/src/loaders/defaults.ts
  packages/medusa/src/loaders/plugins.ts
  packages/medusa/src/services/idempotency-key.ts
  packages/medusa/src/services/payment-provider.ts
  packages/medusa/src/strategies/cart-completion.ts
  packages/medusa/src/types/idempotency-key.ts
  yarn.lock
Labels: version: minor
