Repository medusajs/medusa, pull requests merged in 2023-09, with the labels that each got.

#4928 fix(medusa-payment-stripe): api endpoint for getStripePayments
  .changeset/warm-worms-wave.md
  packages/medusa-payment-stripe/src/api/index.ts
Labels: automerge

#4899 fix(medusa): Double tax issue on return refund amount
  .changeset/bright-apples-prove.md
  integration-tests/api/__tests__/returns/ff-tax-inclusive-pricing.js
  integration-tests/api/__tests__/returns/index.js
  packages/medusa/src/services/__mocks__/shipping-option.js
  packages/medusa/src/services/__tests__/return.js
  packages/medusa/src/services/return.ts
Labels: automerge

#4930 fix(modules-sdk, orchestration): add missing dependencies + fix default handling in medusa-app & remote query
  .changeset/big-bats-buy.md
  packages/modules-sdk/package.json
  packages/modules-sdk/src/medusa-app.ts
  packages/modules-sdk/src/remote-query.ts
  packages/orchestration/package.json
  yarn.lock
Labels: automerge

#4846 feat(medusa-fulfillment-webshipper): Create webshipper return order
  .changeset/polite-zoos-hammer.md
  packages/medusa-fulfillment-webshipper/src/services/webshipper-fulfillment.js
  packages/medusa-fulfillment-webshipper/src/utils/webshipper.js
Labels: automerge

#4966 fix(medusa-plugin-brightpearl): Inventory sync for OOS items in brightpearl
  packages/medusa-plugin-brightpearl/src/services/brightpearl.js
Labels: automerge

#4944 feat(medusa, admin-ui): Improve gift card application
  integration-tests/api/__tests__/store/gift-cards.js
  integration-tests/factories/simple-gift-card-factory.ts
  packages/admin-ui/ui/src/domain/orders/details/detail-cards/summary.tsx
  packages/medusa/src/services/order.ts
Labels: automerge

#4987 chore(admin, medusa-payment-stripe): Fix deps
  packages/admin/package.json
  packages/medusa-payment-stripe/package.json
  yarn.lock
Labels: automerge

#4981 docs: Add 1.2.0 upgrade guide for Product Module
  www/docs/content/upgrade-guides/modules/_category_.json
  www/docs/content/upgrade-guides/modules/product/1-2-0.md
  www/docs/content/upgrade-guides/modules/product/_category_.json
  www/docs/sidebars.js
Labels: awaiting release

#4986 docs: updated the add fulfillment provider docs
  www/docs/content/modules/carts-and-checkout/backend/add-fulfillment-provider.md
Labels: automerge

#4945 feat(medusa,orchestration): Decouple Product in Cart domain
  integration-tests/api/__tests__/store/cart/cart.js
  integration-tests/factories/simple-line-item-factory.ts
  integration-tests/helpers/cart-seeder.js
  packages/medusa/src/api/routes/admin/draft-orders/create-line-item.ts
  packages/medusa/src/api/routes/store/carts/create-line-item/utils/handler-steps.ts
  packages/medusa/src/api/routes/store/shipping-options/list-options.ts
  packages/medusa/src/migrations/1692870898424-line-item-product-id.ts
  packages/medusa/src/models/line-item.ts
  packages/medusa/src/repositories/discount-condition.ts
  packages/medusa/src/services/__mocks__/shipping-profile.js
  packages/medusa/src/services/__tests__/cart.js
  packages/medusa/src/services/__tests__/shipping-profile.js
  packages/medusa/src/services/cart.ts
  packages/medusa/src/services/discount.ts
  packages/medusa/src/services/line-item-adjustment.ts
  packages/medusa/src/services/line-item.ts
  packages/medusa/src/services/new-totals.ts
  packages/medusa/src/services/shipping-profile.ts
  packages/medusa/src/services/tax-provider.ts
  packages/medusa/src/services/totals.ts
  packages/orchestration/src/joiner/remote-joiner.ts
  turbo.json
Labels: version: minor

#4974 chore(modules-sdk,orchestration): to remote joiner query
  .changeset/bright-colts-rescue.md
  packages/modules-sdk/src/remote-query.ts
  packages/orchestration/src/__tests__/joiner/helpers.ts
  packages/orchestration/src/joiner/helpers.ts
  packages/orchestration/src/joiner/index.ts
Labels: automerge, version: minor

#4990 fix(link-modules): Fix link module initialization
  .changeset/stupid-terms-ring.md
  packages/link-modules/src/definitions/index.ts
  packages/link-modules/src/definitions/product-shipping-profile.ts
  packages/link-modules/src/initialize/index.ts
  packages/types/src/modules-sdk/index.ts
Labels: automerge

#4556 fix(medusa): default sales channel for store variant endpoints
  .changeset/mighty-humans-chew.md
  integration-tests/plugins/__tests__/inventory/products/get-variant.js
  integration-tests/plugins/__tests__/inventory/products/list-variants.js
  packages/medusa/src/api/middlewares/with-default-sales-channel.ts
  packages/medusa/src/api/routes/store/products/index.ts
  packages/medusa/src/api/routes/store/variants/index.ts
  packages/medusa/src/api/routes/store/variants/list-variants.ts
Labels: version: next

#5014 fix(link-modules): fix link configuration for product shipping profile
  .changeset/clever-jokes-pull.md
  packages/link-modules/src/definitions/product-shipping-profile.ts
Labels: automerge

#4978 feat(pricing, types): PriceSets as entry point to pricing module
  .changeset/yellow-queens-jam.md
  packages/link-modules/src/definitions/index.ts
  packages/link-modules/src/definitions/product-variant-price-set.ts
  packages/link-modules/src/links.ts
  packages/pricing/integration-tests/__fixtures__/price-set/data.ts
  packages/pricing/integration-tests/__fixtures__/price-set/index.ts
  packages/pricing/integration-tests/__tests__/services/price-set/index.spec.ts
  packages/pricing/integration-tests/__tests__/services/pricing-module/currency.spec.ts
  packages/pricing/integration-tests/__tests__/services/pricing-module/money-amount.spec.ts
  packages/pricing/integration-tests/__tests__/services/pricing-module/price-set.spec.ts
  packages/pricing/src/joiner-config.ts
  packages/pricing/src/loaders/container.ts
  packages/pricing/src/migrations/.snapshot-medusa-pricing.json
  packages/pricing/src/migrations/Migration20230830085850.ts
  packages/pricing/src/migrations/Migration20230907144224.ts
  packages/pricing/src/models/index.ts
  packages/pricing/src/models/money-amount.ts
  packages/pricing/src/models/price-set-money-amount.ts
  packages/pricing/src/models/price-set.ts
  packages/pricing/src/repositories/index.ts
  packages/pricing/src/repositories/price-set.ts
  packages/pricing/src/scripts/seed.ts
  packages/pricing/src/services/index.ts
  packages/pricing/src/services/price-set.ts
  packages/pricing/src/services/pricing-module.ts
  packages/pricing/tsconfig.spec.json
  packages/types/src/pricing/common/index.ts
  packages/types/src/pricing/common/price-set.ts
  packages/types/src/pricing/service.ts
Labels: automerge

#4969 feat(medusa): List products with Remote Query
  .changeset/nice-otters-run.md
  packages/link-modules/src/definitions/product-shipping-profile.ts
  packages/medusa/src/api/routes/store/products/list-products.ts
  packages/medusa/src/migrations/1692870898425-add-timestemps-to-product-shipping-profiles.ts
  packages/medusa/src/models/line-item.ts
  packages/medusa/src/repositories/sales-channel.ts
  packages/medusa/src/repositories/shipping-profile.ts
  packages/medusa/src/services/sales-channel.ts
  packages/medusa/src/services/shipping-profile.ts
  packages/modules-sdk/src/remote-query.ts
  packages/orchestration/src/joiner/remote-joiner.ts
  packages/pricing/src/services/__tests__/currency.spec.ts
  packages/product/jest.config.js
  packages/product/src/migrations/.snapshot-medusa-products.json
  packages/product/src/migrations/Migration20230908084537.ts
  packages/product/src/models/product-category.ts
  packages/product/src/models/product-collection.ts
  packages/product/src/models/product-image.ts
  packages/product/src/models/product-option-value.ts
  packages/product/src/models/product-option.ts
  packages/product/src/models/product-tag.ts
  packages/product/src/models/product-type.ts
  packages/product/src/models/product-variant.ts
  packages/product/src/models/product.ts
  packages/product/src/repositories/product-category.ts
  packages/product/src/repositories/product.ts
  packages/product/src/services/__tests__/product.spec.ts
  packages/types/src/dal/entity.ts
  packages/types/src/dal/index.ts
  packages/types/src/joiner/index.ts
  packages/types/src/modules-sdk/index.ts
  packages/types/src/product/common.ts
  packages/utils/src/dal/mikro-orm/mikro-orm-repository.ts
  packages/utils/src/modules-sdk/build-query.ts
Labels: automerge, version: minor

#5042 feat(medusa): Drop FKs to isolate products
  .changeset/shiny-foxes-change.md
  packages/medusa/src/migrations/1694602553610-drop-fks-isolated-product.ts
Labels: automerge

#5018 chore(medusa, modules-sdk, types): Refactor modules loading from medusa
  .changeset/bright-steaks-cheer.md
  packages/medusa/src/helpers/test-request.js
  packages/medusa/src/loaders/index.ts
  packages/medusa/src/modules-config.ts
  packages/modules-sdk/src/definitions.ts
  packages/modules-sdk/src/loaders/__tests__/register-modules.ts
  packages/modules-sdk/src/loaders/register-modules.ts
  packages/modules-sdk/src/medusa-app.ts
  packages/types/src/modules-sdk/index.ts
Labels: automerge

#5057 fix(admin,admin-ui): copy public folder as part of admin build
  .changeset/chilly-ants-cross.md
  packages/admin-ui/package.json
  packages/admin-ui/src/node/webpack/get-webpack-config.ts
  packages/admin/package.json
  yarn.lock
Labels: automerge

#5066 feat(admin-ui): pt-BR translations and en version text fixes
  .changeset/quiet-snakes-speak.md
  packages/admin-ui/ui/public/locales/en/translation.json
  packages/admin-ui/ui/public/locales/pt-br/translation.json
Labels: automerge

#5051 docs: Add upgrade guide for 1.16.0
  www/docs/content/upgrade-guides/medusa-core/1-16-0.md
Labels: awaiting release

#5026 docs: added docs for multi-language support
  www/docs/content/admin/quickstart.mdx
  www/docs/content/contribution/admin-translations.md
  www/docs/content/contribution/docs.md
  www/docs/content/user-guide.mdx
  www/docs/content/user-guide/users/profile.md
  www/docs/sidebars.js
  www/docs/vercel.json
Labels: awaiting release

#5103 fix(admin-ui): fix template expression
  .changeset/spicy-spoons-wonder.md
  packages/admin-ui/ui/src/components/organisms/upload-modal/index.tsx
Labels: automerge

#5090 fix(medusa-test-utils): Fixed `count` serialization and incorrect function call
  packages/medusa-test-utils/src/mock-repository.js
Labels: automerge

#5161 feat(utils): Provide an utils that allows to convert an array of fields to a complete remote query object
  .changeset/lemon-spies-double.md
  packages/utils/src/common/__tests__/string-to-remote-query-object.ts
  packages/utils/src/common/string-to-remote-query-object.ts
Labels: automerge

#5176 fix(admin-ui): translation pt
  .changeset/brave-tools-tap.md
  packages/admin-ui/ui/public/locales/pt/translation.json
Labels: automerge

#5168 feat(medusa): Add product isolation FF to update cart
  .changeset/moody-cycles-explain.md
  packages/medusa/src/api/routes/store/carts/update-cart.ts
  packages/medusa/src/services/cart.ts
  packages/modules-sdk/src/medusa-app.ts
Labels: automerge

#5054 feat(medusa): Admin get product with isolated module
  .changeset/pretty-dryers-prove.md
  packages/medusa/src/api/routes/admin/products/get-product.ts
  packages/medusa/src/api/routes/store/products/get-product.ts
  packages/medusa/src/api/routes/store/products/index.ts
  packages/medusa/src/api/routes/store/products/list-products.ts
Labels: proj: isolate-prod-mod

#5046 feat(medusa): Admin list product with product isolated module
  .changeset/gentle-guests-brush.md
  packages/medusa/src/api/routes/admin/products/list-products.ts
  packages/medusa/src/repositories/price-list.ts
  packages/medusa/src/services/price-list.ts
Labels: automerge, proj: isolate-prod-mod

#5032 fix(admin-ui): typos in text
  packages/admin-ui/ui/public/locales/en/translation.json
  packages/admin-ui/ui/src/components/organisms/error-boundary/index.tsx
Labels: automerge

#5196 feat(medusa): Remove create product unnecessary input config workflow
  .changeset/sharp-pets-type.md
  packages/medusa/src/api/routes/admin/products/create-product.ts
Labels: proj: isolate-prod-mod

#5200 fix(medusa): Product model before insert hook
  .changeset/beige-bottles-ring.md
  integration-tests/api/__tests__/admin/__snapshots__/discount.js.snap
  integration-tests/api/__tests__/store/products.js
  integration-tests/plugins/__tests__/inventory/order/order.js
  integration-tests/plugins/__tests__/medusa-plugin-sendgrid/__snapshots__/index.js.snap
  packages/medusa/src/models/product.ts
Labels: automerge

#5208 chore(medusa): link modules as medusa dependency
  packages/medusa/package.json
  yarn.lock
Labels: automerge

#5050 feat(pricing): add price rule entity
  packages/pricing/integration-tests/__fixtures__/price-rule/data.ts
  packages/pricing/integration-tests/__fixtures__/price-rule/index.ts
  packages/pricing/integration-tests/__fixtures__/rule-type/index.ts
  packages/pricing/integration-tests/__tests__/services/price-rule/index.spec.ts
  packages/pricing/integration-tests/__tests__/services/pricing-module/price-rule.spec.ts
  packages/pricing/integration-tests/__tests__/services/pricing-module/rule-type.spec.ts
  packages/pricing/src/loaders/container.ts
  packages/pricing/src/migrations/.snapshot-medusa-pricing.json
  packages/pricing/src/migrations/Migration20230913055746.ts
  packages/pricing/src/models/index.ts
  packages/pricing/src/models/price-rule.ts
  packages/pricing/src/repositories/index.ts
  packages/pricing/src/repositories/price-rule.ts
  packages/pricing/src/services/index.ts
  packages/pricing/src/services/price-rule.ts
  packages/pricing/src/services/pricing-module.ts
  packages/types/src/pricing/common/index.ts
  packages/types/src/pricing/common/price-rule.ts
  packages/types/src/pricing/index.ts
  packages/types/src/pricing/service.ts
Labels: automerge, proj: pricing-mod

#5224 fix(medusa): In product isolation, throw if product not found
  .changeset/tricky-pears-walk.md
  packages/medusa/src/api/routes/admin/products/get-product.ts
  packages/medusa/src/api/routes/store/products/get-product.ts
Labels: automerge

#5140 feat(admin-ui): Add Arabic translations
  .changeset/heavy-buttons-exercise.md
  packages/admin-ui/ui/public/locales/ar/translation.json
  packages/admin-ui/ui/src/i18n/index.ts
Labels: i18n

#5214 feat(pricing, types, utils): Exact match based on context + fallback on rule priority if not
  .changeset/wicked-drinks-think.md
  packages/pricing/integration-tests/__fixtures__/currency/index.ts
  packages/pricing/integration-tests/__fixtures__/money-amount/index.ts
  packages/pricing/integration-tests/__fixtures__/price-rule/data.ts
  packages/pricing/integration-tests/__fixtures__/price-rule/index.ts
  packages/pricing/integration-tests/__fixtures__/price-set-money-amount-rules/data.ts
  packages/pricing/integration-tests/__fixtures__/price-set-money-amount-rules/index.ts
  packages/pricing/integration-tests/__fixtures__/price-set-money-amount/data.ts
  packages/pricing/integration-tests/__fixtures__/price-set-money-amount/index.ts
  packages/pricing/integration-tests/__fixtures__/price-set/index.ts
  packages/pricing/integration-tests/__fixtures__/rule-type/data.ts
  packages/pricing/integration-tests/__fixtures__/rule-type/index.ts
  packages/pricing/integration-tests/__tests__/services/price-rule/index.spec.ts
  packages/pricing/integration-tests/__tests__/services/price-set-money-amonut-rules/index.ts
  packages/pricing/integration-tests/__tests__/services/pricing-module/calculate-price.spec.ts
  packages/pricing/integration-tests/__tests__/services/pricing-module/price-rule.spec.ts
  packages/pricing/integration-tests/__tests__/services/pricing-module/price-set-money-amount-rules.spec.ts
  packages/pricing/integration-tests/__tests__/services/pricing-module/price-set.spec.ts
  packages/pricing/integration-tests/__tests__/services/pricing-module/rule-type.spec.ts
  packages/pricing/integration-tests/__tests__/services/rule-type/index.spec.ts
  packages/pricing/src/loaders/container.ts
  packages/pricing/src/migrations/.snapshot-medusa-pricing-1.json
  packages/pricing/src/migrations/.snapshot-medusa-pricing.json
  packages/pricing/src/migrations/Migration20230913055746.ts
  packages/pricing/src/migrations/Migration20230913123118.ts
  packages/pricing/src/migrations/Migration20230928154931.ts
  packages/pricing/src/models/index.ts
  packages/pricing/src/models/price-rule.ts
  packages/pricing/src/models/price-set-money-amount-rules.ts
  packages/pricing/src/models/price-set-money-amount.ts
  packages/pricing/src/models/price-set.ts
  packages/pricing/src/repositories/index.ts
  packages/pricing/src/repositories/price-rule.ts
  packages/pricing/src/repositories/price-set-money-amount-rules.ts
  packages/pricing/src/services/index.ts
  packages/pricing/src/services/money-amount.ts
  packages/pricing/src/services/price-rule.ts
  packages/pricing/src/services/price-set-money-amount-rules.ts
  packages/pricing/src/services/price-set.ts
  packages/pricing/src/services/pricing-module.ts
  packages/pricing/src/services/rule-type.ts
  packages/types/src/pricing/common/index.ts
  packages/types/src/pricing/common/price-set-money-amount-rules.ts
  packages/types/src/pricing/common/price-set-money-amount.ts
  packages/types/src/pricing/common/price-set.ts
  packages/types/src/pricing/service.ts
  packages/utils/src/common/__tests__/group-by.spec.ts
  packages/utils/src/common/group-by.ts
  packages/utils/src/common/index.ts
Labels: proj: pricing-mod

#5156 docs(medusa): Authentication overhaul
  www/apps/api-reference/app/_mdx/admin.mdx
  www/apps/api-reference/app/_mdx/store.mdx
Labels: automerge
