Repository medusajs/medusa, pull requests merged in 2023-12, with the labels that each got.

#5766 feat(medusa): Respond with order when cart is already completed
  .changeset/heavy-moles-check.md
  integration-tests/api/__tests__/store/cart/__snapshots__/cart.js.snap
  integration-tests/api/__tests__/store/cart/cart.js
  integration-tests/api/__tests__/store/orders.js
  packages/medusa/src/strategies/__tests__/cart-completion.js
  packages/medusa/src/strategies/cart-completion.ts
Labels: version: next, has: breaking changes

#5793 docs: search results template needs the product ids to fetch previews
  www/apps/docs/content/plugins/search/meilisearch.md
Labels: automerge

#5656 feat(medusa): Replace Node Redis with ioredis
  .changeset/wicked-crews-joke.md
  packages/medusa/package.json
  packages/medusa/src/loaders/express.ts
  yarn.lock
Labels: version: next

#5804 docs(plugins): puts local-file plugin into correct category in site
  packages/medusa-file-local/package.json
Labels: automerge

#5781 fix(medusa): Product option values in CSV Export
  .changeset/yellow-games-reflect.md
  packages/medusa/src/strategies/batch-jobs/product/export.ts
  packages/medusa/src/strategies/batch-jobs/product/types/index.ts
Labels: version: next

#5697 feat(admin-ui): metadata for categories in admin ui and refactor to react-hook-form
  packages/admin-ui/ui/src/domain/product-categories/modals/add-product-category.tsx
  packages/admin-ui/ui/src/domain/product-categories/modals/edit-product-category.tsx
  packages/admin-ui/ui/src/domain/product-categories/utils/index.tsx
Labels: version: next

#5725 feat(medusa, core-workflows, product): slightly improve create cart workflow
  .changeset/unlucky-snails-drive.md
  packages/core-flows/src/handlers/address/find-or-create-addresses.ts
  packages/core-flows/src/handlers/cart/create-cart.ts
  packages/core-flows/src/handlers/customer/find-or-create-customer.ts
  packages/core-flows/src/handlers/region/find-region.ts
  packages/medusa/src/services/cart.ts
  packages/medusa/src/types/cart.ts
  packages/product/integration-tests/__tests__/services/product-module-service/products.spec.ts
  packages/types/src/bundles.ts
  packages/types/src/customer/common.ts
  packages/types/src/customer/index.ts
  packages/types/src/index.ts
  packages/types/src/region/common.ts
  packages/types/src/region/index.ts
Labels: version: next

#5818 fix(ui): Bump cva and minor type fixes
  .changeset/shiny-stingrays-shop.md
  .yarn/patches/class-variance-authority-npm-0.6.1-22a468e86e.patch
  package.json
  packages/design-system/ui/package.json
  packages/design-system/ui/src/components/avatar/avatar.tsx
  packages/design-system/ui/src/components/badge/badge.tsx
  packages/design-system/ui/src/components/button/button.tsx
  packages/design-system/ui/src/components/currency-input/currency-input.tsx
  packages/design-system/ui/src/components/date-picker/date-picker.tsx
  packages/design-system/ui/src/components/heading/heading.tsx
  packages/design-system/ui/src/components/hint/hint.tsx
  packages/design-system/ui/src/components/icon-badge/icon-badge.tsx
  packages/design-system/ui/src/components/icon-button/icon-button.tsx
  packages/design-system/ui/src/components/input/input.tsx
  packages/design-system/ui/src/components/label/label.tsx
  packages/design-system/ui/src/components/select/select.tsx
  packages/design-system/ui/src/components/switch/switch.tsx
  packages/design-system/ui/src/components/text/text.tsx
  packages/design-system/ui/src/hooks/use-prompt/render-prompt.tsx
  packages/design-system/ui/src/hooks/use-prompt/use-prompt.tsx
  yarn.lock
Labels: automerge, version: next

#5752 feat(core-flows,pricing,medusa,pricing,types,utils): Price List Prices can have their own rules
  .changeset/chilly-mayflies-melt.md
  integration-tests/plugins/__tests__/price-lists/admin/add-price-list-price-batch.spec.ts
  integration-tests/plugins/__tests__/price-lists/admin/create-price-list.spec.ts
  integration-tests/plugins/__tests__/price-lists/admin/delete-price-list-prices-by-product.ts
  integration-tests/plugins/__tests__/price-lists/admin/delete-price-list-prices-by-variant.ts
  integration-tests/plugins/__tests__/price-lists/admin/delete-price-list-prices.ts
  integration-tests/plugins/__tests__/price-lists/admin/delete-price-list-spec.ts
  integration-tests/plugins/__tests__/price-lists/admin/get-price-list.spec.ts
  integration-tests/plugins/__tests__/price-lists/admin/list-price-list-products.spec.ts
  integration-tests/plugins/__tests__/price-lists/admin/list-price-list.spec.ts
  integration-tests/plugins/__tests__/price-lists/admin/update-price-list.spec.ts
  integration-tests/plugins/__tests__/price-lists/store/get-product.ts
  integration-tests/plugins/__tests__/product/admin/update-product-variant.spec.ts
  integration-tests/plugins/__tests__/product/admin/update-product.spec.ts
  integration-tests/plugins/helpers/create-variant-price-set.ts
  packages/core-flows/src/handlers/price-list/prepare-create-price-list.ts
  packages/core-flows/src/handlers/price-list/prepare-update-price-lists.ts
  packages/core-flows/src/handlers/product/update-products-variants-prices.ts
  packages/medusa/src/api/routes/admin/price-lists/add-prices-batch.ts
  packages/medusa/src/api/routes/admin/price-lists/index.ts
  packages/medusa/src/api/routes/admin/price-lists/modules-queries/list-and-count-price-lists.ts
  packages/pricing/integration-tests/__fixtures__/price-list/data.ts
  packages/pricing/integration-tests/__fixtures__/price-set-money-amount/data.ts
  packages/pricing/integration-tests/__tests__/services/price-set/index.spec.ts
  packages/pricing/integration-tests/__tests__/services/pricing-module/calculate-price.spec.ts
  packages/pricing/integration-tests/__tests__/services/pricing-module/price-list.spec.ts
  packages/pricing/integration-tests/__tests__/services/pricing-module/price-set.spec.ts
  packages/pricing/src/migrations/.snapshot-medusa-pricing.json
  packages/pricing/src/migrations/Migration20230929122253.ts
  packages/pricing/src/migrations/Migration20231101232834.ts
  packages/pricing/src/models/price-list.ts
  packages/pricing/src/models/price-set-money-amount.ts
  packages/pricing/src/repositories/pricing.ts
  packages/pricing/src/services/price-set-money-amount.ts
  packages/pricing/src/services/pricing-module.ts
  packages/pricing/src/types/repositories/price-list.ts
  packages/types/src/pricing/common/price-list.ts
  packages/types/src/pricing/common/price-rule.ts
  packages/types/src/pricing/common/price-set-money-amount.ts
  packages/types/src/pricing/common/price-set.ts
  packages/types/src/workflow/price-list/create-price-list.ts
Labels: automerge

#5811 feat(orchestration,core-flows,medusa,product,types,utils): product import/export uses workflows
  .changeset/dull-apples-tease.md
  integration-tests/plugins/__tests__/product/admin/export-products.spec.ts
  integration-tests/plugins/__tests__/product/admin/import-products.spec.ts
  integration-tests/plugins/__tests__/product/admin/product-import-template.csv
  integration-tests/plugins/src/services/local-file-service.js
  packages/core-flows/src/handlers/product/create-product-variants-prepare-data.ts
  packages/core-flows/src/handlers/product/update-product-variants.ts
  packages/core-flows/src/handlers/product/upsert-variant-prices.ts
  packages/medusa/src/api/routes/admin/price-lists/list-price-list-products.ts
  packages/medusa/src/api/routes/admin/products/create-product.ts
  packages/medusa/src/api/routes/admin/products/create-variant.ts
  packages/medusa/src/api/routes/admin/products/get-product.ts
  packages/medusa/src/api/routes/admin/products/list-products.ts
  packages/medusa/src/api/routes/admin/products/update-product.ts
  packages/medusa/src/strategies/__tests__/batch-jobs/product/export.ts
  packages/medusa/src/strategies/batch-jobs/product/export.ts
  packages/medusa/src/strategies/batch-jobs/product/import.ts
  packages/medusa/src/strategies/batch-jobs/product/types/index.ts
  packages/medusa/src/utils/index.ts
  packages/medusa/src/utils/queries/index.ts
  packages/medusa/src/utils/queries/products/get-variants-from-price-list.ts
  packages/medusa/src/utils/queries/products/index.ts
  packages/medusa/src/utils/queries/products/list-products.ts
  packages/medusa/src/utils/queries/products/retrieve-product.ts
  packages/orchestration/src/workflow/global-workflow.ts
  packages/orchestration/src/workflow/local-workflow.ts
  packages/product/src/services/product-module-service.ts
  packages/types/src/common/medusa-container.ts
  packages/utils/src/common/create-container-like.ts
  packages/utils/src/common/index.ts
Labels: automerge

#5854 Fix multiple typos in medusa docs
  www/apps/docs/content/create-medusa-app.mdx
  www/apps/docs/content/development/api-routes/create.mdx
  www/apps/docs/content/development/backend/install.mdx
  www/apps/docs/content/development/entities/repositories.md
  www/apps/docs/content/development/events/create-subscriber.md
  www/apps/docs/content/development/events/events-list.md
  www/apps/docs/content/development/fundamentals/dependency-injection.md
  www/apps/docs/content/development/logging/index.md
  www/apps/docs/content/development/publishable-api-keys/admin/manage-publishable-api-keys.mdx
  www/apps/docs/content/development/scheduled-jobs/create.md
  www/apps/docs/content/js-client/overview.mdx
  www/apps/docs/content/medusa-react/overview.mdx
  www/apps/docs/content/modules/carts-and-checkout/storefront/implement-cart.mdx
  www/apps/docs/content/modules/gift-cards/backend/send-gift-card-to-customer.md
  www/apps/docs/content/modules/orders/admin/manage-orders.mdx
  www/apps/docs/content/modules/taxes/inclusive-pricing.md
  www/apps/docs/content/plugins/fulfillment/manual.md
  www/apps/docs/content/plugins/fulfillment/webshipper.md
  www/apps/docs/content/plugins/other/restock-notifications.md
  www/apps/docs/content/upgrade-guides/medusa-ui/2-0-0.md
  www/apps/docs/content/user-guide/customers/groups.mdx
  www/apps/docs/src/utils/learning-paths.tsx
Labels: automerge

#5868 docs: updates for v1.19
  www/apps/docs/content/cli/reference.mdx
  www/apps/docs/content/medusa-react/overview.mdx
  www/apps/docs/content/modules/carts-and-checkout/backend/cart-completion-strategy.md
  www/apps/docs/content/upgrade-guides/medusa-core/1-19.mdx
  www/apps/docs/src/theme/Icon/index.tsx
  www/apps/docs/src/theme/MDXComponents/index.tsx
Labels: version: next

#5855 docs: update docs changes for rules_count from number_rules
  www/apps/docs/content/experimental/pricing/concepts.md
  www/apps/docs/content/experimental/pricing/prices-calculation.mdx
Labels: version: next

#5857 feat(medusa): add currency to region responses
  .changeset/pretty-shoes-sing.md
  integration-tests/api/__tests__/admin/__snapshots__/region.js.snap
  integration-tests/api/__tests__/admin/region.js
  integration-tests/api/__tests__/store/regions.js
  packages/medusa/src/api/routes/admin/regions/__tests__/get-region.js
  packages/medusa/src/api/routes/admin/regions/__tests__/list-regions.js
  packages/medusa/src/api/routes/admin/regions/get-region.ts
  packages/medusa/src/api/routes/admin/regions/index.ts
  packages/medusa/src/api/routes/admin/regions/list-regions.ts
  packages/medusa/src/api/routes/store/index.js
  packages/medusa/src/api/routes/store/regions/__tests__/get-region.js
  packages/medusa/src/api/routes/store/regions/__tests__/list-regions.js
  packages/medusa/src/api/routes/store/regions/get-region.ts
  packages/medusa/src/api/routes/store/regions/index.ts
  packages/medusa/src/api/routes/store/regions/list-regions.ts
Labels: automerge

#5895 feat(medusa): Update shipping option price type
  integration-tests/api/__tests__/admin/shipping-options.js
  packages/medusa/src/api/routes/admin/shipping-options/__tests__/create-shipping-option.js
  packages/medusa/src/api/routes/admin/shipping-options/create-shipping-option.ts
  packages/medusa/src/api/routes/admin/shipping-options/update-shipping-option.ts
  packages/medusa/src/models/shipping-option-requirement.ts
  packages/medusa/src/services/shipping-option.ts
  packages/medusa/src/types/shipping-options.ts
Labels: automerge

#5908 docs: update Railway pricing info in deploy guide
  www/apps/docs/content/deployments/server/deploying-on-railway.md
Labels: automerge

#5823 Changed 'duplicate' to 'delete' in "Delete a Variant" Section
  www/apps/docs/content/user-guide/products/manage.mdx
Labels: automerge

#5786 Bulgarian language support
  packages/admin-ui/ui/public/locales/bg/translation.json
  packages/admin-ui/ui/src/i18n/index.ts
Labels: automerge

#5828 Slovenian(sl) translation
  packages/admin-ui/ui/public/locales/sl/translation.json
  packages/admin-ui/ui/src/i18n/index.ts
Labels: automerge

#5907 docs: set rejectUnauthorized based on condition
  www/apps/docs/content/deployments/server/general-guide.md
Labels: automerge

#5728 feat(workflows-sdk): Configurable retries upon step creation
  .changeset/eleven-jokes-tan.md
  integration-tests/plugins/__tests__/workflows/utils/composer/compose.ts
  packages/orchestration/src/transaction/errors.ts
  packages/orchestration/src/transaction/index.ts
  packages/orchestration/src/transaction/transaction-orchestrator.ts
  packages/utils/src/bundles.ts
  packages/utils/src/index.ts
  packages/utils/src/orchestration/index.ts
  packages/utils/src/orchestration/symbol.ts
  packages/workflows-sdk/src/helper/workflow-export.ts
  packages/workflows-sdk/src/utils/composer/create-step.ts
  packages/workflows-sdk/src/utils/composer/create-workflow.ts
  packages/workflows-sdk/src/utils/composer/helpers/index.ts
  packages/workflows-sdk/src/utils/composer/helpers/proxy.ts
  packages/workflows-sdk/src/utils/composer/helpers/resolve-value.ts
  packages/workflows-sdk/src/utils/composer/helpers/step-response.ts
  packages/workflows-sdk/src/utils/composer/hook.ts
  packages/workflows-sdk/src/utils/composer/index.ts
  packages/workflows-sdk/src/utils/composer/parallelize.ts
  packages/workflows-sdk/src/utils/composer/transform.ts
  packages/workflows-sdk/src/utils/composer/type.ts
Labels: automerge

#5869 chore(medusa, interfaces): Uniformise class checks
  .changeset/bright-coins-kneel.md
  packages/medusa-fulfillment-webshipper/src/services/webshipper-fulfillment.js
  packages/medusa-interfaces/src/file-service.js
  packages/medusa-interfaces/src/fulfillment-service.js
  packages/medusa-interfaces/src/notification-service.js
  packages/medusa-interfaces/src/oauth-service.js
  packages/medusa-interfaces/src/payment-service.js
  packages/medusa-interfaces/src/search-service.js
  packages/medusa/src/interfaces/batch-job-strategy.ts
  packages/medusa/src/interfaces/cart-completion-strategy.ts
  packages/medusa/src/interfaces/file-service.ts
  packages/medusa/src/interfaces/fulfillment-service.ts
  packages/medusa/src/interfaces/notification-service.ts
  packages/medusa/src/interfaces/payment-processor.ts
  packages/medusa/src/interfaces/payment-service.ts
  packages/medusa/src/interfaces/price-selection-strategy.ts
  packages/medusa/src/interfaces/tax-calculation-strategy.ts
  packages/medusa/src/interfaces/tax-service.ts
  packages/medusa/src/interfaces/transaction-base-service.ts
  packages/medusa/src/loaders/__tests__/plugins.spec.ts
  packages/medusa/src/loaders/helpers/plugins.ts
  packages/medusa/src/loaders/plugins.ts
  packages/medusa/src/loaders/strategies.ts
  packages/medusa/src/services/system-tax.ts
  packages/utils/src/search/abstract-service.ts
  packages/utils/src/search/index.ts
  packages/utils/src/search/is-search-service.ts
Labels: automerge

#5795 feat(admin): Add Japanese language support
  packages/admin-ui/ui/public/locales/ja/translation.json
  packages/admin-ui/ui/src/i18n/index.ts
Labels: automerge

#5931 Add link to our official Plugin directory
  www/apps/docs/content/development/plugins/overview.mdx
Labels: automerge

#5933 fix: Typo in documentation
  www/packages/docs-ui/src/components/ExpandableNotice/index.tsx
Labels: automerge

#5920 feat(types,modules-sdk): basic module setup for promotions
  .changeset/itchy-knives-stare.md
  packages/modules-sdk/src/definitions.ts
  packages/modules-sdk/src/medusa-module.ts
  packages/promotion/.gitignore
  packages/promotion/CHANGELOG.md
  packages/promotion/README.md
  packages/promotion/integration-tests/__tests__/index.spec.ts
  packages/promotion/integration-tests/setup-env.js
  packages/promotion/integration-tests/setup.js
  packages/promotion/integration-tests/utils/config.ts
  packages/promotion/integration-tests/utils/database.ts
  packages/promotion/integration-tests/utils/index.ts
  packages/promotion/jest.config.js
  packages/promotion/mikro-orm.config.dev.ts
  packages/promotion/package.json
  packages/promotion/src/index.ts
  packages/promotion/src/initialize/index.ts
  packages/promotion/src/joiner-config.ts
  packages/promotion/src/loaders/connection.ts
  packages/promotion/src/loaders/container.ts
  packages/promotion/src/loaders/index.ts
  packages/promotion/src/migrations/.snapshot-medusa-promotions.json
  packages/promotion/src/migrations/Migration20231218142613.ts
  packages/promotion/src/models/index.ts
  packages/promotion/src/models/promotion.ts
  packages/promotion/src/module-definition.ts
  packages/promotion/src/repositories/index.ts
  packages/promotion/src/scripts/bin/run-migration-down.ts
  packages/promotion/src/scripts/bin/run-migration-up.ts
  packages/promotion/src/scripts/bin/run-seed.ts
  packages/promotion/src/scripts/index.ts
  packages/promotion/src/scripts/migration-down.ts
  packages/promotion/src/scripts/migration-up.ts
  packages/promotion/src/scripts/seed.ts
  packages/promotion/src/services/__tests__/index.spec.ts
  packages/promotion/src/services/index.ts
  packages/promotion/src/services/promotion-module.ts
  packages/promotion/src/types/index.ts
  packages/promotion/tsconfig.json
  packages/promotion/tsconfig.spec.json
  packages/types/src/bundles.ts
  packages/types/src/index.ts
  packages/types/src/modules-sdk/index.ts
  packages/types/src/promotion/index.ts
  packages/types/src/promotion/service.ts
  yarn.lock
Labels: automerge

#5943 feat(types,module-sdk): setup authentication module skeleton
  .changeset/angry-pigs-shop.md
  packages/authentication/.gitignore
  packages/authentication/CHANGELOG.md
  packages/authentication/README.md
  packages/authentication/integration-tests/__tests__/index.spec.ts
  packages/authentication/integration-tests/setup-env.js
  packages/authentication/integration-tests/setup.js
  packages/authentication/integration-tests/utils/config.ts
  packages/authentication/integration-tests/utils/database.ts
  packages/authentication/integration-tests/utils/index.ts
  packages/authentication/jest.config.js
  packages/authentication/mikro-orm.config.dev.ts
  packages/authentication/package.json
  packages/authentication/src/index.ts
  packages/authentication/src/initialize/index.ts
  packages/authentication/src/joiner-config.ts
  packages/authentication/src/loaders/connection.ts
  packages/authentication/src/loaders/container.ts
  packages/authentication/src/loaders/index.ts
  packages/authentication/src/migrations/.snapshot-medusa-authentication.json
  packages/authentication/src/migrations/Migration20231220132440.ts
  packages/authentication/src/models/auth-user.ts
  packages/authentication/src/models/index.ts
  packages/authentication/src/module-definition.ts
  packages/authentication/src/repositories/index.ts
  packages/authentication/src/scripts/bin/run-migration-down.ts
  packages/authentication/src/scripts/bin/run-migration-up.ts
  packages/authentication/src/scripts/bin/run-seed.ts
  packages/authentication/src/scripts/index.ts
  packages/authentication/src/scripts/migration-down.ts
  packages/authentication/src/scripts/migration-up.ts
  packages/authentication/src/scripts/seed.ts
  packages/authentication/src/services/__tests__/index.spec.ts
  packages/authentication/src/services/authentication-module.ts
  packages/authentication/src/services/index.ts
  packages/authentication/src/types/index.ts
  packages/authentication/tsconfig.json
  packages/authentication/tsconfig.spec.json
  packages/modules-sdk/src/definitions.ts
  packages/types/src/authentication/index.ts
  packages/types/src/authentication/service.ts
  packages/types/src/bundles.ts
  packages/types/src/index.ts
  yarn.lock
Labels: automerge

#5948 docs: rename `EVENT_REDIS_URL`
  www/apps/docs/content/deployments/server/deploying-on-heroku.mdx
Labels: automerge

#5929 fix(utils): More resilient object from string path
  .changeset/mighty-jokes-prove.md
  packages/utils/src/common/object-from-string-path.ts
Labels: automerge

#5945 feat(types,utils): add promotions create with application method
  .changeset/sour-donuts-fail.md
  packages/promotion/integration-tests/__fixtures__/promotion/data.ts
  packages/promotion/integration-tests/__fixtures__/promotion/index.ts
  packages/promotion/integration-tests/__tests__/services/promotion-module/promotion.spec.ts
  packages/promotion/integration-tests/__tests__/services/promotion/index.spec.ts
  packages/promotion/src/initialize/index.ts
  packages/promotion/src/loaders/connection.ts
  packages/promotion/src/loaders/container.ts
  packages/promotion/src/migrations/.snapshot-medusa-promotion.json
  packages/promotion/src/migrations/.snapshot-medusa-promotions.json
  packages/promotion/src/migrations/Migration20231218142613.ts
  packages/promotion/src/migrations/Migration20231221104256.ts
  packages/promotion/src/models/application-method.ts
  packages/promotion/src/models/index.ts
  packages/promotion/src/models/promotion.ts
  packages/promotion/src/repositories/application-method.ts
  packages/promotion/src/repositories/index.ts
  packages/promotion/src/repositories/promotion.ts
  packages/promotion/src/services/application-method.ts
  packages/promotion/src/services/index.ts
  packages/promotion/src/services/promotion-module.ts
  packages/promotion/src/services/promotion.ts
  packages/promotion/src/types/application-method.ts
  packages/promotion/src/types/index.ts
  packages/promotion/src/types/promotion.ts
  packages/promotion/src/utils/index.ts
  packages/promotion/src/utils/validations/application-method.ts
  packages/promotion/src/utils/validations/index.ts
  packages/promotion/tsconfig.json
  packages/types/src/promotion/common/application-method.ts
  packages/types/src/promotion/common/index.ts
  packages/types/src/promotion/common/promotion.ts
  packages/types/src/promotion/index.ts
  packages/types/src/promotion/service.ts
  packages/types/tsconfig.json
  packages/utils/src/bundles.ts
  packages/utils/src/index.ts
  packages/utils/src/promotion/index.ts
Labels: automerge

#5775 feat(workflows-sdk): Allow a step to not define an expected input
  .changeset/hip-turtles-smell.md
  packages/workflows-sdk/package.json
  packages/workflows-sdk/src/utils/_test.ts
  packages/workflows-sdk/src/utils/composer/create-step.ts
  packages/workflows-sdk/src/utils/composer/type.ts
Labels: automerge

#5941 fix(medusa-js): remove unnecessary `query` field in `AdminInventoryItemsResource.deleteLocationLevel` method
  .changeset/eighty-mails-behave.md
  packages/medusa-js/src/resources/admin/inventory-item.ts
Labels: automerge
