Repository medusajs/medusa, pull requests merged in 2024-03, with the labels that each got.

#6546 feat: Modify api key and sales channel link to use modules and add test
  integration-tests/modules/__tests__/link-modules/publishable-key-sales-channel.spec.ts
  packages/api-key/integration-tests/__tests__/api-key-module-service.spec.ts
  packages/api-key/src/joiner-config.ts
  packages/core-flows/src/api-key/steps/create-api-keys.ts
  packages/core-flows/src/api-key/workflows/create-api-keys.ts
  packages/link-modules/src/definitions/index.ts
  packages/link-modules/src/definitions/publishable-api-key-sales-channel.ts
  packages/link-modules/src/links.ts
  packages/medusa/src/api-v2/admin/api-keys/[id]/route.ts
  packages/medusa/src/api-v2/admin/api-keys/route.ts
  packages/medusa/src/api-v2/admin/api-keys/validators.ts
  packages/types/src/api-key/common/api-key.ts
Labels: automerge, team: medusa

#6558 chore(medusa-test-utils): Add logger by default
  .changeset/dull-keys-search.md
  packages/medusa-test-utils/src/module-test-runner.ts
Labels: automerge, team: medusa

#6559 fix: Move country loading for region to the loader, fix a bug with cascade
  integration-tests/environment-helpers/use-db.js
  integration-tests/modules/__tests__/api-key/admin/api-key.spec.ts
  integration-tests/modules/__tests__/cart/store/cart.workflows.spec.ts
  integration-tests/modules/__tests__/cart/store/carts.spec.ts
  integration-tests/modules/__tests__/link-modules/cart-links.spec.ts
  integration-tests/modules/__tests__/link-modules/cart-region.spec.ts
  integration-tests/modules/__tests__/regions/admin/regions.spec.ts
  integration-tests/modules/__tests__/store/admin/store.spec.ts
  packages/currency/src/loaders/initial-data.ts
  packages/region/integration-tests/__tests__/region-module.spec.ts
  packages/region/src/loaders/defaults.ts
  packages/region/src/migrations/.snapshot-medusa-region.json
  packages/region/src/migrations/RegionModuleSetup20240205173216.ts
  packages/region/src/models/country.ts
  packages/region/src/services/region-module.ts
  packages/types/src/region/service.ts
Labels: team: medusa

#6562 feat: Add supported currencies to store model
  integration-tests/modules/__tests__/store/admin/store.spec.ts
  packages/medusa/src/api-v2/admin/stores/query-config.ts
  packages/medusa/src/api-v2/admin/stores/validators.ts
  packages/store/integration-tests/__fixtures__/index.ts
  packages/store/integration-tests/__tests__/store-module-service.spec.ts
  packages/store/src/migrations/.snapshot-medusa-store.json
  packages/store/src/migrations/InitialSetup20240227075933.ts
  packages/store/src/models/store.ts
  packages/types/src/store/common/store.ts
  packages/types/src/store/mutations/store.ts
Labels: automerge, team: medusa

#6566 wip
  integration-tests/modules/__tests__/tax/admin/tax.spec.ts
  integration-tests/modules/__tests__/tax/workflow/tax.spec.ts
  packages/core-flows/src/tax/steps/create-tax-rate-rules.ts
  packages/core-flows/src/tax/steps/delete-tax-rate-rules.ts
  packages/core-flows/src/tax/steps/index.ts
  packages/core-flows/src/tax/steps/list-tax-rate-ids.ts
  packages/core-flows/src/tax/steps/list-tax-rate-rule-ids.ts
  packages/core-flows/src/tax/workflows/set-tax-rate-rules.ts
  packages/core-flows/src/tax/workflows/update-tax-rates.ts
  packages/medusa/src/api-v2/admin/tax-rates/[id]/route.ts
  packages/medusa/src/api-v2/admin/tax-rates/[id]/rules/batch/set/route.ts
  packages/medusa/src/api-v2/admin/tax-rates/middlewares.ts
  packages/medusa/src/api-v2/admin/tax-rates/validators.ts
  packages/tax/integration-tests/__tests__/index.spec.ts
  packages/tax/src/models/tax-rate-rule.ts
  packages/tax/src/models/tax-rate.ts
  packages/tax/src/services/tax-module-service.ts
  packages/types/src/tax/common.ts
  packages/types/src/tax/mutations.ts
  packages/types/src/tax/service.ts
Labels: team: medusa

#6441 feat(medusa-react,medusa,utils): add users/me endpoint + add missing specs
  .changeset/perfect-geckos-hunt.md
  integration-tests/modules/__tests__/auth/admin/email-password-provider.spec.ts
  integration-tests/modules/__tests__/users/get-me.spec.ts
  integration-tests/modules/medusa-config.js
  packages/admin/package.json
  packages/auth/package.json
  packages/medusa/src/api-v2/admin/users/me/route.ts
  packages/medusa/src/api-v2/admin/users/middlewares.ts
  packages/medusa/src/api-v2/auth/[scope]/[authProvider]/route.ts
  packages/medusa/src/loaders/api.ts
  packages/medusa/src/loaders/helpers/routing/index.ts
  packages/medusa/src/loaders/helpers/routing/types.ts
  packages/medusa/src/loaders/index.ts
  packages/medusa/src/utils/authenticate-middleware.ts
  packages/pricing/package.json
  packages/product/package.json
  packages/promotion/package.json
  packages/types/src/common/config-module.ts
  packages/user/package.json
  yarn.lock
Labels: automerge, team: medusa

#6561 feat(core-flows,link-modules,modules-sdk): add cart <> promotion link as source of truth
  .changeset/silly-clouds-kneel.md
  integration-tests/modules/__tests__/cart/store/add-promotions-to-cart.spec.ts
  integration-tests/modules/__tests__/cart/store/carts.spec.ts
  integration-tests/modules/__tests__/cart/store/remove-promotions-from-cart.spec.ts
  packages/core-flows/src/definition/cart/steps/get-actions-to-compute-from-promotions.ts
  packages/core-flows/src/definition/cart/steps/index.ts
  packages/core-flows/src/definition/cart/steps/update-cart-promotions.ts
  packages/core-flows/src/definition/cart/workflows/add-to-cart.ts
  packages/core-flows/src/definition/cart/workflows/update-cart-promotions.ts
  packages/core-flows/tsconfig.json
  packages/link-modules/src/definitions/cart-promotion.ts
  packages/link-modules/src/definitions/index.ts
  packages/link-modules/src/links.ts
  packages/modules-sdk/src/definitions.ts
Labels: automerge, team: medusa

#6557 feat(tax): add endpoints to manage tax rate rules
  integration-tests/modules/__tests__/tax/admin/tax.spec.ts
  integration-tests/modules/__tests__/tax/workflow/tax.spec.ts
  packages/core-flows/src/tax/steps/create-tax-rate-rules.ts
  packages/core-flows/src/tax/steps/delete-tax-rate-rules.ts
  packages/core-flows/src/tax/steps/index.ts
  packages/core-flows/src/tax/steps/list-tax-rate-ids.ts
  packages/core-flows/src/tax/steps/list-tax-rate-rule-ids.ts
  packages/core-flows/src/tax/workflows/create-tax-rate-rules.ts
  packages/core-flows/src/tax/workflows/delete-tax-rate-rules.ts
  packages/core-flows/src/tax/workflows/index.ts
  packages/core-flows/src/tax/workflows/set-tax-rate-rules.ts
  packages/core-flows/src/tax/workflows/update-tax-rates.ts
  packages/medusa/src/api-v2/admin/tax-rates/[id]/route.ts
  packages/medusa/src/api-v2/admin/tax-rates/[id]/rules/[rule_id]/route.ts
  packages/medusa/src/api-v2/admin/tax-rates/[id]/rules/route.ts
  packages/medusa/src/api-v2/admin/tax-rates/middlewares.ts
  packages/medusa/src/api-v2/admin/tax-rates/validators.ts
  packages/medusa/src/loaders/api.ts
  packages/tax/integration-tests/__tests__/index.spec.ts
  packages/tax/src/models/tax-rate-rule.ts
  packages/tax/src/models/tax-rate.ts
  packages/tax/src/services/tax-module-service.ts
  packages/types/src/tax/common.ts
  packages/types/src/tax/mutations.ts
  packages/types/src/tax/service.ts
Labels: automerge, team: medusa

#6576 chore(): Run packages integrations concurrently and not in band
  package.json
  packages/api-key/package.json
  packages/auth/package.json
  packages/cart/package.json
  packages/currency/package.json
  packages/customer/package.json
  packages/fulfillment/package.json
  packages/order/package.json
  packages/payment/package.json
  packages/pricing/package.json
  packages/product/package.json
  packages/promotion/package.json
  packages/region/package.json
  packages/sales-channel/package.json
  packages/store/package.json
  packages/tax/package.json
  packages/user/package.json
  packages/workflow-engine-inmemory/package.json
  packages/workflow-engine-redis/package.json
Labels: team: medusa

#6563 fix(tax): improve error handling
  packages/tax/integration-tests/__tests__/index.spec.ts
  packages/tax/integration-tests/utils/setup-tax-structure.ts
  packages/tax/src/models/tax-rate-rule.ts
  packages/tax/src/models/tax-rate.ts
  packages/tax/src/models/tax-region.ts
  packages/tax/src/services/tax-module-service.ts
Labels: automerge, team: medusa

#6549 feat: Create payment sessions
  integration-tests/modules/__tests__/payment/payment-session.workflows.spec.ts
  packages/core-flows/src/definition/index.ts
  packages/core-flows/src/definition/payment-collection/index.ts
  packages/core-flows/src/definition/payment-collection/steps/create-payment-session.ts
  packages/core-flows/src/definition/payment-collection/steps/index.ts
  packages/core-flows/src/definition/payment-collection/steps/retrieve-payment-collection.ts
  packages/core-flows/src/definition/payment-collection/workflows/create-payment-session.ts
  packages/core-flows/src/definition/payment-collection/workflows/index.ts
  packages/medusa/src/api-v2/store/carts/route.ts
  packages/medusa/src/api-v2/store/payment-collections/[id]/payment-sessions/middlewares.ts
  packages/medusa/src/api-v2/store/payment-collections/[id]/payment-sessions/query-config.ts
  packages/medusa/src/api-v2/store/payment-collections/[id]/payment-sessions/route.ts
  packages/medusa/src/api-v2/store/payment-collections/[id]/payment-sessions/validators.ts
  packages/payment-stripe/src/core/stripe-base.ts
  packages/payment/integration-tests/__fixtures__/data.ts
  packages/payment/integration-tests/__tests__/services/payment-module/index.spec.ts
  packages/payment/package.json
  packages/payment/src/migrations/Migration20240225134525.ts
  packages/payment/src/models/payment-collection.ts
  packages/payment/src/models/payment-session.ts
  packages/payment/src/models/payment.ts
  packages/payment/src/providers/system.ts
  packages/payment/src/services/payment-module.ts
  packages/payment/src/services/payment-provider.ts
  packages/types/src/payment/common.ts
  packages/types/src/payment/mutations.ts
  packages/types/src/payment/provider.ts
  packages/types/src/payment/service.ts
  packages/utils/src/payment/abstract-payment-provider.ts
  yarn.lock
Labels: automerge, team: medusa

#6578 docs: fix search in api reference
  www/packages/docs-ui/src/hooks/index.tsx
  www/packages/docs-ui/src/hooks/use-is-browser/index.ts
  www/packages/docs-ui/src/providers/Sidebar/index.tsx
Labels: type: docs

#6577 feat: Region PaymentProvider link
  integration-tests/modules/__tests__/link-modules/region-payment-provider.spec.ts
  integration-tests/modules/__tests__/payment/payments.spec.ts
  packages/link-modules/src/definitions/index.ts
  packages/link-modules/src/definitions/region-payment-provider.ts
  packages/link-modules/src/links.ts
  packages/medusa/src/api-v2/middlewares.ts
  packages/medusa/src/api-v2/store/regions/[id]/payment-providers/route.ts
  packages/medusa/src/api-v2/store/regions/middlewares.ts
  packages/payment/src/joiner-config.ts
  packages/payment/src/loaders/defaults.ts
  packages/payment/src/services/payment-module.ts
  packages/payment/src/services/payment-provider.ts
  packages/types/src/payment/common.ts
  packages/types/src/payment/service.ts
Labels: automerge, team: medusa

#6579 feat: add product admin v2 endpoints
  integration-tests/plugins/__tests__/workflows/product/create-product.ts
  integration-tests/plugins/__tests__/workflows/product/update-product.ts
  packages/core-flows/src/index.ts
  packages/core-flows/src/product/index.ts
  packages/core-flows/src/product/steps/create-product-options.ts
  packages/core-flows/src/product/steps/create-product-variants.ts
  packages/core-flows/src/product/steps/create-products.ts
  packages/core-flows/src/product/steps/delete-product-options.ts
  packages/core-flows/src/product/steps/delete-product-variants.ts
  packages/core-flows/src/product/steps/delete-products.ts
  packages/core-flows/src/product/steps/index.ts
  packages/core-flows/src/product/steps/update-product-options.ts
  packages/core-flows/src/product/steps/update-product-variants.ts
  packages/core-flows/src/product/steps/update-products.ts
  packages/core-flows/src/product/workflows/create-product-options.ts
  packages/core-flows/src/product/workflows/create-product-variants.ts
  packages/core-flows/src/product/workflows/create-products.ts
  packages/core-flows/src/product/workflows/delete-product-options.ts
  packages/core-flows/src/product/workflows/delete-product-variants.ts
  packages/core-flows/src/product/workflows/delete-products.ts
  packages/core-flows/src/product/workflows/index.ts
  packages/core-flows/src/product/workflows/update-product-options.ts
  packages/core-flows/src/product/workflows/update-product-variants.ts
  packages/core-flows/src/product/workflows/update-products.ts
  packages/medusa/src/api-v2/admin/products/[id]/options/[option_id]/route.ts
  packages/medusa/src/api-v2/admin/products/[id]/options/route.ts
  packages/medusa/src/api-v2/admin/products/[id]/route.ts
  packages/medusa/src/api-v2/admin/products/[id]/variants/[variant_id]/route.ts
  packages/medusa/src/api-v2/admin/products/[id]/variants/route.ts
  packages/medusa/src/api-v2/admin/products/middlewares.ts
  packages/medusa/src/api-v2/admin/products/query-config.ts
  packages/medusa/src/api-v2/admin/products/route.ts
  packages/medusa/src/api-v2/admin/products/validators.ts
  packages/medusa/src/api-v2/middlewares.ts
  packages/types/src/product/service.ts
Labels: automerge, team: medusa

#6524 Feat(fulfillment): service provider registration + fulfillment management
  .changeset/slimy-kings-eat.md
  .eslintignore
  .eslintrc.js
  packages/fulfillment-manual/.gitignore
  packages/fulfillment-manual/CHANGELOG.md
  packages/fulfillment-manual/README.md
  packages/fulfillment-manual/jest.config.js
  packages/fulfillment-manual/package.json
  packages/fulfillment-manual/src/index.ts
  packages/fulfillment-manual/src/services/manual-fulfillment.ts
  packages/fulfillment-manual/tsconfig.json
  packages/fulfillment-manual/tsconfig.spec.json
  packages/fulfillment/integration-tests/__fixtures__/fulfillment.ts
  packages/fulfillment/integration-tests/__fixtures__/index.ts
  packages/fulfillment/integration-tests/__fixtures__/providers/default-provider.ts
  packages/fulfillment/integration-tests/__fixtures__/providers/index.ts
  packages/fulfillment/integration-tests/__fixtures__/shipping-options.ts
  packages/fulfillment/integration-tests/__tests__/fulfillment-module-service.spec.ts
  packages/fulfillment/integration-tests/__tests__/fulfillment-module-service/fulfillment-set.spec.ts
  packages/fulfillment/integration-tests/__tests__/fulfillment-module-service/fulfillment.spec.ts
  packages/fulfillment/integration-tests/__tests__/fulfillment-module-service/geo-zone.spec.ts
  packages/fulfillment/integration-tests/__tests__/fulfillment-module-service/service-zone.spec.ts
  packages/fulfillment/integration-tests/__tests__/fulfillment-module-service/shipping-option.spec.ts
  packages/fulfillment/integration-tests/__tests__/fulfillment-module-service/shipping-profile.spec.ts
  packages/fulfillment/jest.config.js
  packages/fulfillment/package.json
  packages/fulfillment/src/loaders/providers.ts
  packages/fulfillment/src/migrations/.snapshot-medusa-fulfillment.json
  packages/fulfillment/src/migrations/Migration20240305095931_InitialSetupMigration.ts
  packages/fulfillment/src/models/address.ts
  packages/fulfillment/src/models/fulfillment-item.ts
  packages/fulfillment/src/models/fulfillment-label.ts
  packages/fulfillment/src/models/fulfillment-provider.ts
  packages/fulfillment/src/models/fulfillment.ts
  packages/fulfillment/src/models/index.ts
  packages/fulfillment/src/models/shipping-option.ts
  packages/fulfillment/src/module-definition.ts
  packages/fulfillment/src/services/fulfillment-module-service.ts
  packages/fulfillment/src/services/fulfillment-provider.ts
  packages/fulfillment/src/services/index.ts
  packages/fulfillment/src/types/index.ts
  packages/medusa-test-utils/src/module-test-runner.ts
  packages/types/src/fulfillment/common/fulfillment.ts
  packages/types/src/fulfillment/index.ts
  packages/types/src/fulfillment/mutations/fulfillment-address.ts
  packages/types/src/fulfillment/mutations/fulfillment-item.ts
  packages/types/src/fulfillment/mutations/fulfillment-label.ts
  packages/types/src/fulfillment/mutations/fulfillment.ts
  packages/types/src/fulfillment/mutations/index.ts
  packages/types/src/fulfillment/provider.ts
  packages/types/src/fulfillment/service.ts
  packages/utils/src/dal/mikro-orm/utils.ts
  packages/utils/src/fulfillment/index.ts
  packages/utils/src/fulfillment/provider.ts
  yarn.lock
Labels: automerge, team: medusa

#6538 feat(dashboard): Order details page
  packages/admin-next/dashboard/package.json
  packages/admin-next/dashboard/public/locales/en-US/translation.json
  packages/admin-next/dashboard/src/components/table/table-cells/common/money-amount-cell/money-amount-cell.tsx
  packages/admin-next/dashboard/src/components/table/table-cells/order/country-cell/country-cell.tsx
  packages/admin-next/dashboard/src/components/table/table-cells/order/country-cell/index.ts
  packages/admin-next/dashboard/src/components/table/table-cells/order/customer-cell/customer-cell.tsx
  packages/admin-next/dashboard/src/components/table/table-cells/order/fulfillment-status-cell/fulfillment-status-cell.tsx
  packages/admin-next/dashboard/src/components/table/table-cells/order/items-cell/index.ts
  packages/admin-next/dashboard/src/components/table/table-cells/order/items-cell/items-cell.tsx
  packages/admin-next/dashboard/src/components/table/table-cells/order/payment-status-cell/payment-status-cell.tsx
  packages/admin-next/dashboard/src/hooks/table/columns/use-order-table-columns.tsx
  packages/admin-next/dashboard/src/hooks/table/filters/use-order-table-filters.tsx
  packages/admin-next/dashboard/src/lib/money-amount-helpers.ts
  packages/admin-next/dashboard/src/providers/router-provider/router-provider.tsx
  packages/admin-next/dashboard/src/routes/orders/details/details.tsx
  packages/admin-next/dashboard/src/routes/orders/details/index.ts
  packages/admin-next/dashboard/src/routes/orders/order-detail/components/order-customer-section/index.ts
  packages/admin-next/dashboard/src/routes/orders/order-detail/components/order-customer-section/order-customer-section.tsx
  packages/admin-next/dashboard/src/routes/orders/order-detail/components/order-fulfillment-section/index.ts
  packages/admin-next/dashboard/src/routes/orders/order-detail/components/order-fulfillment-section/order-fulfillment-section.tsx
  packages/admin-next/dashboard/src/routes/orders/order-detail/components/order-general-section/index.ts
  packages/admin-next/dashboard/src/routes/orders/order-detail/components/order-general-section/order-general-section.tsx
  packages/admin-next/dashboard/src/routes/orders/order-detail/components/order-payment-section/index.ts
  packages/admin-next/dashboard/src/routes/orders/order-detail/components/order-payment-section/order-payment-section.tsx
  packages/admin-next/dashboard/src/routes/orders/order-detail/components/order-summary-section/index.ts
  packages/admin-next/dashboard/src/routes/orders/order-detail/components/order-summary-section/order-summary-section.tsx
  packages/admin-next/dashboard/src/routes/orders/order-detail/constants.ts
  packages/admin-next/dashboard/src/routes/orders/order-detail/index.ts
  packages/admin-next/dashboard/src/routes/orders/order-detail/loader.ts
  packages/admin-next/dashboard/src/routes/orders/order-detail/order-detail.tsx
  packages/admin-next/dashboard/src/routes/orders/order-list/components/order-list-table/order-list-table.tsx
  packages/admin-next/dashboard/src/routes/products/product-detail/product-detail.tsx
  yarn.lock
Labels: automerge, team: medusa

#6586 fix: Add some tests and test cleanup for product module
  integration-tests/helpers/product-seeder.js
  integration-tests/modules/__tests__/product/admin/__fixtures__/product-import-template.csv
  integration-tests/modules/__tests__/product/admin/create-product.spec.ts
  integration-tests/modules/__tests__/product/admin/create-product.ts
  integration-tests/modules/__tests__/product/admin/import-products.spec.ts
  integration-tests/modules/__tests__/product/admin/index.ts
  integration-tests/modules/__tests__/product/admin/update-product.spec.ts
  packages/medusa/src/api-v2/admin/products/[id]/options/[option_id]/route.ts
  packages/medusa/src/api-v2/admin/products/[id]/options/route.ts
  packages/medusa/src/api-v2/admin/products/[id]/route.ts
  packages/medusa/src/api-v2/admin/products/[id]/variants/[variant_id]/route.ts
  packages/medusa/src/api-v2/admin/products/[id]/variants/route.ts
  packages/medusa/src/api-v2/admin/products/middlewares.ts
  packages/medusa/src/api-v2/admin/products/query-config.ts
  packages/medusa/src/api-v2/admin/products/route.ts
  packages/product/src/services/product-module-service.ts
Labels: team: medusa

#6599 fix: integration tests modules 2
  integration-tests/modules/__tests__/cart/store/cart.workflows.spec.ts
  integration-tests/modules/__tests__/link-modules/index.ts
  integration-tests/modules/__tests__/modules/load-standalone.ts
  integration-tests/modules/package.json
Labels: automerge, team: medusa

#6598 chore: Revert #6548
  .github/workflows/action.yml
Labels: automerge, team: medusa

#6547 feat(dashboard): Discounts details + edits
  packages/admin-next/dashboard/public/locales/en-US/translation.json
  packages/admin-next/dashboard/src/components/common/empty-table-content/empty-table-content.tsx
  packages/admin-next/dashboard/src/components/common/list-summary/index.ts
  packages/admin-next/dashboard/src/components/common/list-summary/list-summary.tsx
  packages/admin-next/dashboard/src/components/table/table-cells/discount/status-cell/status-cell.tsx
  packages/admin-next/dashboard/src/components/table/table-cells/order/fulfillment-status-cell/fulfillment-status-cell.tsx
  packages/admin-next/dashboard/src/components/table/table-cells/order/payment-status-cell/payment-status-cell.tsx
  packages/admin-next/dashboard/src/hooks/table/filters/use-order-table-filters.tsx
  packages/admin-next/dashboard/src/lib/common.ts
  packages/admin-next/dashboard/src/lib/currencies.ts
  packages/admin-next/dashboard/src/lib/discounts.ts
  packages/admin-next/dashboard/src/providers/router-provider/router-provider.tsx
  packages/admin-next/dashboard/src/routes/discounts/create/components/create-discount-form/create-discount-details.tsx
  packages/admin-next/dashboard/src/routes/discounts/create/components/create-discount-form/create-discount-form.tsx
  packages/admin-next/dashboard/src/routes/discounts/create/components/create-discount-form/index.ts
  packages/admin-next/dashboard/src/routes/discounts/create/discount-create.tsx
  packages/admin-next/dashboard/src/routes/discounts/create/index.ts
  packages/admin-next/dashboard/src/routes/discounts/details/components/details-section/details-section.tsx
  packages/admin-next/dashboard/src/routes/discounts/details/components/details-section/index.ts
  packages/admin-next/dashboard/src/routes/discounts/details/components/discounts-conditions-section/discount-conditions-section.tsx
  packages/admin-next/dashboard/src/routes/discounts/details/components/discounts-conditions-section/index.ts
  packages/admin-next/dashboard/src/routes/discounts/details/components/discounts-configurations-section/discount-configurations-section.tsx
  packages/admin-next/dashboard/src/routes/discounts/details/components/discounts-configurations-section/index.ts
  packages/admin-next/dashboard/src/routes/discounts/details/components/discounts-general-section/discount-general-section.tsx
  packages/admin-next/dashboard/src/routes/discounts/details/components/discounts-general-section/index.ts
  packages/admin-next/dashboard/src/routes/discounts/details/components/redemptions-section/index.ts
  packages/admin-next/dashboard/src/routes/discounts/details/components/redemptions-section/redemptions-section.tsx
  packages/admin-next/dashboard/src/routes/discounts/details/details.tsx
  packages/admin-next/dashboard/src/routes/discounts/details/discount-detail.tsx
  packages/admin-next/dashboard/src/routes/discounts/details/index.ts
  packages/admin-next/dashboard/src/routes/discounts/details/loader.ts
  packages/admin-next/dashboard/src/routes/discounts/edit-configuration/components/edit-discount-form/edit-discount-configuration-form.tsx
  packages/admin-next/dashboard/src/routes/discounts/edit-configuration/components/edit-discount-form/index.ts
  packages/admin-next/dashboard/src/routes/discounts/edit-configuration/discount-edit-configuration.tsx
  packages/admin-next/dashboard/src/routes/discounts/edit-configuration/index.ts
  packages/admin-next/dashboard/src/routes/discounts/edit-details/components/edit-discount-form/edit-discount-details-form.tsx
  packages/admin-next/dashboard/src/routes/discounts/edit-details/components/edit-discount-form/index.ts
  packages/admin-next/dashboard/src/routes/discounts/edit-details/discount-edit-details.tsx
  packages/admin-next/dashboard/src/routes/discounts/edit-details/index.ts
  packages/admin-next/dashboard/src/routes/discounts/list/components/discount-list-table/discount-list-table.tsx
  packages/admin-next/dashboard/src/routes/products/product-detail/components/product-organization-section/product-organization-section.tsx
  packages/medusa-js/src/resources/admin/discounts.ts
  packages/medusa-react/src/hooks/admin/discounts/queries.ts
Labels: automerge, team: medusa

#6600 test ci
  integration-tests/api/__tests__/admin/__snapshots__/store.js.snap
  integration-tests/api/__tests__/admin/store.js
  integration-tests/helpers/admin-seeder.js
  packages/medusa-test-utils/src/medusa-test-runner.ts
  packages/medusa/src/loaders/medusa-app.ts
Labels: team: medusa

#6602 Fix(orchestrator): Joiner field alias
  .changeset/quick-geckos-tie.md
  integration-tests/modules/__tests__/link-modules/cart-links.spec.ts
  packages/orchestration/src/__tests__/joiner/remote-joiner-data.ts
  packages/orchestration/src/joiner/remote-joiner.ts
Labels: team: medusa

#6603 docs: hide admin translations contribution page
  www/apps/docs/content/admin/quickstart.mdx
  www/apps/docs/content/contribution/_admin-translations.md
  www/apps/docs/content/user-guide/tips/languages.md
  www/apps/docs/content/user-guide/users/profile.md
Labels: type: docs, team: medusa

#6592 feat(pricing,medusa,utils): added list + get endpoints for price lists
  .changeset/silent-forks-cough.md
  integration-tests/api/__tests__/admin/order/order.js
  integration-tests/api/__tests__/store/orders.js
  integration-tests/modules/__tests__/price-lists/admin/price-lists.spec.ts
  packages/link-modules/src/definitions/product-variant-price-set.ts
  packages/medusa/src/api-v2/admin/price-lists/[id]/route.ts
  packages/medusa/src/api-v2/admin/price-lists/middlewares.ts
  packages/medusa/src/api-v2/admin/price-lists/query-config.ts
  packages/medusa/src/api-v2/admin/price-lists/route.ts
  packages/medusa/src/api-v2/admin/price-lists/utils/index.ts
  packages/medusa/src/api-v2/admin/price-lists/utils/list-price-lists.ts
  packages/medusa/src/api-v2/admin/price-lists/validators.ts
  packages/medusa/src/api-v2/middlewares.ts
  packages/medusa/src/api/middlewares/transform-query.ts
  packages/medusa/src/api/routes/admin/price-lists/get-price-list.ts
  packages/medusa/src/api/routes/admin/price-lists/list-price-lists.ts
  packages/medusa/src/api/routes/admin/price-lists/modules-queries/get-price-list.ts
  packages/medusa/src/api/routes/admin/price-lists/modules-queries/list-and-count-price-lists.ts
  packages/medusa/src/utils/clean-response-data.ts
  packages/pricing/integration-tests/__tests__/services/pricing-module/price-list.spec.ts
  packages/utils/src/common/index.ts
  packages/utils/src/common/pick-deep.ts
  packages/utils/src/common/prefix-array-items.ts
Labels: automerge, team: medusa

#6601 feat: Capture payment
  integration-tests/modules/__tests__/payment/payments.spec.ts
  packages/core-flows/src/index.ts
  packages/core-flows/src/payment/index.ts
  packages/core-flows/src/payment/steps/capture-payment.ts
  packages/core-flows/src/payment/steps/index.ts
  packages/core-flows/src/payment/workflows/capture-payment.ts
  packages/core-flows/src/payment/workflows/index.ts
  packages/medusa/src/api-v2/admin/payments/[id]/capture/route.ts
  packages/medusa/src/api-v2/admin/payments/[id]/route.ts
  packages/medusa/src/api-v2/admin/payments/middlewares.ts
  packages/medusa/src/api-v2/admin/payments/query-config.ts
  packages/medusa/src/api-v2/admin/payments/route.ts
  packages/medusa/src/api-v2/admin/payments/validators.ts
  packages/medusa/src/api-v2/middlewares.ts
  packages/payment/integration-tests/__tests__/services/payment-module/index.spec.ts
  packages/payment/package.json
  packages/payment/src/migrations/Migration20240225134525.ts
  packages/payment/src/models/payment.ts
  packages/payment/src/services/payment-module.ts
  packages/types/src/payment/common.ts
  packages/types/src/payment/mutations.ts
  packages/types/src/payment/service.ts
  yarn.lock
Labels: team: medusa

#6609 chore: Start using medusa test runner on product API tests
  integration-tests/api/__tests__/admin/product.js
Labels: automerge, team: medusa

#6610 feat: Refund payment
  integration-tests/modules/__tests__/payment/payments.spec.ts
  packages/core-flows/src/payment/steps/index.ts
  packages/core-flows/src/payment/steps/refund-payment.ts
  packages/core-flows/src/payment/workflows/index.ts
  packages/core-flows/src/payment/workflows/refund-payment.ts
  packages/medusa/src/api-v2/admin/payments/[id]/refund/route.ts
  packages/medusa/src/api-v2/admin/payments/middlewares.ts
  packages/payment/integration-tests/__tests__/services/payment-module/index.spec.ts
  packages/payment/src/migrations/Migration20240225134525.ts
  packages/payment/src/services/payment-module.ts
Labels: automerge, team: medusa

#6611 chore: Use new test runner in admin payments API
  integration-tests/api/__tests__/admin/payment.js
Labels: automerge, team: medusa

#6580 feat(medusa,core-flows,types): add cart <> tax integration workflows + steps
  .changeset/clever-bees-argue.md
  integration-tests/modules/__tests__/cart/store/carts.spec.ts
  integration-tests/modules/__tests__/fixtures/index.ts
  integration-tests/modules/__tests__/fixtures/tax/index.ts
  packages/core-flows/src/definition/cart/steps/get-item-tax-lines.ts
  packages/core-flows/src/definition/cart/steps/index.ts
  packages/core-flows/src/definition/cart/steps/retrieve-cart-with-links.ts
  packages/core-flows/src/definition/cart/steps/set-tax-lines-for-items.ts
  packages/core-flows/src/definition/cart/steps/update-carts.ts
  packages/core-flows/src/definition/cart/steps/update-tax-lines.ts
  packages/core-flows/src/definition/cart/steps/validate-variants-existence.ts
  packages/core-flows/src/definition/cart/utils/prepare-line-item-data.ts
  packages/core-flows/src/definition/cart/workflows/add-to-cart.ts
  packages/core-flows/src/definition/cart/workflows/create-carts.ts
  packages/core-flows/src/definition/cart/workflows/index.ts
  packages/core-flows/src/definition/cart/workflows/update-cart.ts
  packages/core-flows/src/definition/cart/workflows/update-tax-lines.ts
  packages/medusa/src/api-v2/store/carts/[id]/line-items/route.ts
  packages/medusa/src/api-v2/store/carts/[id]/route.ts
  packages/medusa/src/api-v2/store/carts/query-config.ts
  packages/medusa/src/api-v2/store/carts/route.ts
  packages/medusa/src/api-v2/store/carts/validators.ts
  packages/tax/src/providers/system.ts
  packages/tax/src/services/tax-module-service.ts
  packages/types/src/cart/workflows.ts
  packages/types/src/tax/common.ts
Labels: automerge, team: medusa

#6622 feat(orchestration,modules-sdk): options autoCreateServiceNameAlias
  .changeset/tricky-ways-join.md
  packages/modules-sdk/src/remote-query.ts
  packages/orchestration/src/__tests__/joiner/remote-joiner-data.ts
  packages/orchestration/src/joiner/remote-joiner.ts
Labels: automerge, team: medusa

#6621 chore(integration-tests): Introduce V2 tests in Admin Payments API test suite
  integration-tests/api/__tests__/admin/payment.js
  packages/medusa/src/api-v2/admin/payments/[id]/capture/route.ts
  packages/medusa/src/api-v2/admin/payments/[id]/refund/route.ts
  packages/medusa/src/api-v2/admin/payments/middlewares.ts
  packages/medusa/src/api-v2/admin/payments/query-config.ts
  packages/medusa/src/api-v2/admin/payments/validators.ts
  packages/payment/src/joiner-config.ts
Labels: team: medusa

#6628 fix(tests): Cart links
  integration-tests/modules/__tests__/link-modules/cart-links.spec.ts
Labels: automerge, team: medusa

#6626 feat: Set withDeleted as true if filtering on deleted_at in modules
  packages/medusa/src/api-v2/admin/products/validators.ts
  packages/product/integration-tests/__tests__/services/product-module-service/products.spec.ts
  packages/types/src/product/common.ts
  packages/utils/src/modules-sdk/build-query.ts
Labels: automerge, team: medusa

#6616 feat(stock-location): Convert module to use mikro-orm
  packages/medusa-test-utils/src/module-test-runner.ts
  packages/stock-location-next/.gitignore
  packages/stock-location-next/CHANGELOG.md
  packages/stock-location-next/integration-tests/__tests__/stock-location-module-service.spec.ts
  packages/stock-location-next/jest.config.js
  packages/stock-location-next/mikro-orm.config.dev.ts
  packages/stock-location-next/package.json
  packages/stock-location-next/src/index.ts
  packages/stock-location-next/src/joiner-config.ts
  packages/stock-location-next/src/migrations/.snapshot-medusa-stock-location.json
  packages/stock-location-next/src/migrations/Migration20240307161216.ts
  packages/stock-location-next/src/models/index.ts
  packages/stock-location-next/src/models/stock-location-address.ts
  packages/stock-location-next/src/models/stock-location.ts
  packages/stock-location-next/src/module-definition.ts
  packages/stock-location-next/src/repositories/index.ts
  packages/stock-location-next/src/schema/index.ts
  packages/stock-location-next/src/services/__tests__/noop.ts
  packages/stock-location-next/src/services/index.ts
  packages/stock-location-next/src/services/stock-location.ts
  packages/stock-location-next/tsconfig.json
  packages/stock-location-next/tsconfig.spec.json
  packages/types/src/stock-location/common.ts
  packages/types/src/stock-location/index.ts
  packages/types/src/stock-location/service-next.ts
  packages/types/src/stock-location/stock-location.ts
  yarn.lock
Labels: team: medusa

#6596 feat(inventory-next, types): inventory module conversion
  packages/inventory-next/.gitignore
  packages/inventory-next/integration-tests/__tests__/inventory-module-service.spec.ts
  packages/inventory-next/jest.config.js
  packages/inventory-next/mikro-orm.config.dev.ts
  packages/inventory-next/package.json
  packages/inventory-next/src/index.ts
  packages/inventory-next/src/joiner-config.ts
  packages/inventory-next/src/migrations/.snapshot-medusa-inventory.json
  packages/inventory-next/src/migrations/Migration20240307132720.ts
  packages/inventory-next/src/models/index.ts
  packages/inventory-next/src/models/inventory-item.ts
  packages/inventory-next/src/models/inventory-level.ts
  packages/inventory-next/src/models/reservation-item.ts
  packages/inventory-next/src/module-definition.ts
  packages/inventory-next/src/repositories/index.ts
  packages/inventory-next/src/repositories/inventory-level.ts
  packages/inventory-next/src/schema/index.ts
  packages/inventory-next/src/services/__tests__/noop.ts
  packages/inventory-next/src/services/index.ts
  packages/inventory-next/src/services/inventory-level.ts
  packages/inventory-next/src/services/inventory.ts
  packages/inventory-next/tsconfig.json
  packages/inventory-next/tsconfig.spec.json
  packages/medusa-test-utils/src/module-test-runner.ts
  packages/types/src/inventory/bundle.ts
  packages/types/src/inventory/common.ts
  packages/types/src/inventory/common/index.ts
  packages/types/src/inventory/common/inventory-item.ts
  packages/types/src/inventory/common/inventory-level.ts
  packages/types/src/inventory/common/reservation-item.ts
  packages/types/src/inventory/index.ts
  packages/types/src/inventory/mutations/index.ts
  packages/types/src/inventory/mutations/inventory-item.ts
  packages/types/src/inventory/mutations/inventory-level.ts
  packages/types/src/inventory/mutations/reservation-item.ts
  packages/types/src/inventory/service-next.ts
  packages/utils/src/bundles.ts
  packages/utils/src/common/__tests__/partition-array.spec.ts
  packages/utils/src/common/index.ts
  packages/utils/src/common/partition-array.ts
  packages/utils/src/event-bus/common-events.ts
  packages/utils/src/index.ts
  packages/utils/src/inventory/events.ts
  packages/utils/src/inventory/index.ts
  packages/utils/src/modules-sdk/loaders/container-loader-factory.ts
  yarn.lock
Labels: team: medusa

#6634 feat: Add Sales Channel Stock Location link
  integration-tests/modules/__tests__/link-modules/sales-channel-location.spec.ts
  integration-tests/modules/medusa-config.js
  integration-tests/modules/package.json
  packages/link-modules/src/definitions/index.ts
  packages/link-modules/src/definitions/sales-channel-location.ts
  packages/link-modules/src/links.ts
  yarn.lock
Labels: team: medusa

#6629 docs: Heroku typo
  www/apps/docs/content/deployments/index.mdx
Labels: type: docs, automerge

#6636 fix: make v2 with modules run
  packages/customer/package.json
  packages/medusa/package.json
  packages/medusa/src/api-v2/admin/campaigns/[id]/route.ts
  packages/medusa/src/api-v2/admin/promotions/[id]/route.ts
  packages/medusa/src/commands/migrate.js
  packages/medusa/src/loaders/index.ts
  packages/payment/package.json
  packages/promotion/package.json
  packages/utils/src/common/deep-copy.ts
  yarn.lock
Labels: automerge, team: medusa

#6564 feat(dashboard): Workflow executions
  .changeset/plenty-bikes-drop.md
  packages/admin-next/dashboard/package.json
  packages/admin-next/dashboard/public/locales/en-US/translation.json
  packages/admin-next/dashboard/src/components/common/json-view-section/json-view-section.tsx
  packages/admin-next/dashboard/src/components/layout/settings-layout/settings-layout.tsx
  packages/admin-next/dashboard/src/index.css
  packages/admin-next/dashboard/src/providers/router-provider/router-provider.tsx
  packages/admin-next/dashboard/src/routes/executions/constants.ts
  packages/admin-next/dashboard/src/routes/executions/execution-detail/components/execution-general-section/execution-general-section.tsx
  packages/admin-next/dashboard/src/routes/executions/execution-detail/components/execution-general-section/index.ts
  packages/admin-next/dashboard/src/routes/executions/execution-detail/components/execution-history-section/execution-history-section.tsx
  packages/admin-next/dashboard/src/routes/executions/execution-detail/components/execution-history-section/index.ts
  packages/admin-next/dashboard/src/routes/executions/execution-detail/components/execution-payload-section/execution-payload-section.tsx
  packages/admin-next/dashboard/src/routes/executions/execution-detail/components/execution-payload-section/index.ts
  packages/admin-next/dashboard/src/routes/executions/execution-detail/components/execution-timeline-section/execution-timeline-section.tsx
  packages/admin-next/dashboard/src/routes/executions/execution-detail/components/execution-timeline-section/index.ts
  packages/admin-next/dashboard/src/routes/executions/execution-detail/execution-detail.tsx
  packages/admin-next/dashboard/src/routes/executions/execution-detail/index.ts
  packages/admin-next/dashboard/src/routes/executions/execution-detail/loader.ts
  packages/admin-next/dashboard/src/routes/executions/execution-list/components/executions-list-table/executions-list-table.tsx
  packages/admin-next/dashboard/src/routes/executions/execution-list/components/executions-list-table/index.ts
  packages/admin-next/dashboard/src/routes/executions/execution-list/components/executions-list-table/use-execution-table-columns.tsx
  packages/admin-next/dashboard/src/routes/executions/execution-list/components/executions-list-table/use-execution-table-query.tsx
  packages/admin-next/dashboard/src/routes/executions/execution-list/execution-list.tsx
  packages/admin-next/dashboard/src/routes/executions/execution-list/index.ts
  packages/admin-next/dashboard/src/routes/executions/types.ts
  packages/admin-next/dashboard/src/routes/executions/utils.ts
  packages/design-system/ui/package.json
  packages/design-system/ui/src/components/code-block/code-block.tsx
  packages/medusa/src/api/routes/admin/workflows-executions/index.ts
  yarn.lock
Labels: automerge, team: medusa

#6590 feat(dashboard) admin 3.0 create discounts form
  packages/admin-next/dashboard/public/locales/en-US/translation.json
  packages/admin-next/dashboard/src/routes/discounts/create/components/create-discount-form/create-discount-details.tsx
  packages/admin-next/dashboard/src/routes/discounts/create/components/create-discount-form/create-discount-form.tsx
  packages/admin-next/dashboard/src/routes/discounts/create/components/create-discount-form/types.ts
  packages/admin-next/dashboard/src/routes/discounts/edit-configuration/components/edit-discount-form/edit-discount-configuration-form.tsx
Labels: team: medusa

#6645 docs: fix migrations path in extend entity docs
  www/apps/docs/content/development/entities/extend-entity.md
Labels: type: docs, team: medusa

#6550 feat(dashboard): Reservations and inventory item list pages
  .changeset/loud-adults-report.md
  packages/admin-next/dashboard/public/locales/en-US/translation.json
  packages/admin-next/dashboard/src/components/common/inline-link/index.ts
  packages/admin-next/dashboard/src/components/common/inline-link/inline-link.tsx
  packages/admin-next/dashboard/src/components/layout/main-layout/main-layout.tsx
  packages/admin-next/dashboard/src/components/table/data-table/data-table-filter/data-table-filter.tsx
  packages/admin-next/dashboard/src/components/table/data-table/data-table-filter/date-filter.tsx
  packages/admin-next/dashboard/src/components/table/data-table/data-table-filter/number-filter.tsx
  packages/admin-next/dashboard/src/components/table/data-table/data-table-filter/select-filter.tsx
  packages/admin-next/dashboard/src/components/table/data-table/data-table-filter/string-filter.tsx
  packages/admin-next/dashboard/src/components/table/data-table/data-table-root/data-table-root.tsx
  packages/admin-next/dashboard/src/components/table/table-cells/common/date-cell/date-cell.tsx
  packages/admin-next/dashboard/src/providers/router-provider/router-provider.tsx
  packages/admin-next/dashboard/src/routes/inventory/inventory-list/components/inventory-list-table/index.ts
  packages/admin-next/dashboard/src/routes/inventory/inventory-list/components/inventory-list-table/inventory-actions.tsx
  packages/admin-next/dashboard/src/routes/inventory/inventory-list/components/inventory-list-table/inventory-list-table.tsx
  packages/admin-next/dashboard/src/routes/inventory/inventory-list/components/inventory-list-table/use-inventory-table-columns.tsx
  packages/admin-next/dashboard/src/routes/inventory/inventory-list/components/inventory-list-table/use-inventory-table-filters.tsx
  packages/admin-next/dashboard/src/routes/inventory/inventory-list/components/inventory-list-table/use-inventory-table-query.tsx
  packages/admin-next/dashboard/src/routes/inventory/inventory-list/index.ts
  packages/admin-next/dashboard/src/routes/inventory/inventory-list/inventory-list.tsx
  packages/admin-next/dashboard/src/routes/inventory/list/index.ts
  packages/admin-next/dashboard/src/routes/inventory/list/list.tsx
  packages/admin-next/dashboard/src/routes/reservations/reservation-detail/components/reservation-general-section/index.ts
  packages/admin-next/dashboard/src/routes/reservations/reservation-detail/components/reservation-general-section/reservation-general-section.tsx
  packages/admin-next/dashboard/src/routes/reservations/reservation-detail/index.ts
  packages/admin-next/dashboard/src/routes/reservations/reservation-detail/reservation-edit.tsx
  packages/admin-next/dashboard/src/routes/reservations/reservation-list/components/reservation-list-table/index.ts
  packages/admin-next/dashboard/src/routes/reservations/reservation-list/components/reservation-list-table/reservation-actions.tsx
  packages/admin-next/dashboard/src/routes/reservations/reservation-list/components/reservation-list-table/reservation-list-table.tsx
  packages/admin-next/dashboard/src/routes/reservations/reservation-list/components/reservation-list-table/use-reservation-table-columns.tsx
  packages/admin-next/dashboard/src/routes/reservations/reservation-list/components/reservation-list-table/use-reservation-table-filters.tsx
  packages/admin-next/dashboard/src/routes/reservations/reservation-list/components/reservation-list-table/use-reservation-table-query.tsx
  packages/admin-next/dashboard/src/routes/reservations/reservation-list/constants.ts
  packages/admin-next/dashboard/src/routes/reservations/reservation-list/index.ts
  packages/admin-next/dashboard/src/routes/reservations/reservation-list/reservation-list.tsx
  packages/generated/client-types/src/lib/models/AdminGetInventoryItemsParams.ts
  packages/medusa/src/api/routes/admin/inventory-items/list-inventory-items.ts
  packages/medusa/src/api/routes/admin/reservations/list-reservations.ts
Labels: automerge, team: medusa

#6657 chore: align version of `dotenv`
  packages/admin/package.json
  packages/api-key/package.json
  packages/auth/package.json
  packages/cart/package.json
  packages/currency/package.json
  packages/design-system/toolbox/package.json
  packages/fulfillment/package.json
  packages/inventory-next/package.json
  packages/medusa-cli/package.json
  packages/order/package.json
  packages/payment/package.json
  packages/pricing/package.json
  packages/product/package.json
  packages/region/package.json
  packages/sales-channel/package.json
  packages/stock-location-next/package.json
  packages/store/package.json
  packages/tax/package.json
  packages/user/package.json
  packages/workflow-engine-inmemory/package.json
  packages/workflow-engine-redis/package.json
  yarn.lock
Labels: team: medusa

#6654 feat: Add payment + promotion refreshing to cart workflows
  packages/core-flows/src/definition/cart/workflows/add-to-cart.ts
  packages/core-flows/src/definition/cart/workflows/create-carts.ts
  packages/core-flows/src/definition/cart/workflows/update-line-item-in-cart.ts
  packages/types/src/cart/workflows.ts
Labels: automerge, team: medusa

#6658 feat(dashboard,medusa): Draft order list page
  .changeset/purple-sloths-pump.md
  packages/admin-next/dashboard/public/locales/en-US/translation.json
  packages/admin-next/dashboard/src/providers/router-provider/router-provider.tsx
  packages/admin-next/dashboard/src/routes/draft-orders/details/details.tsx
  packages/admin-next/dashboard/src/routes/draft-orders/details/index.ts
  packages/admin-next/dashboard/src/routes/draft-orders/draft-order-detail/details.tsx
  packages/admin-next/dashboard/src/routes/draft-orders/draft-order-detail/index.ts
  packages/admin-next/dashboard/src/routes/draft-orders/draft-order-list/components/draft-order-list-table/draft-order-list-table.tsx
  packages/admin-next/dashboard/src/routes/draft-orders/draft-order-list/components/draft-order-list-table/draft-order-table-actions.tsx
  packages/admin-next/dashboard/src/routes/draft-orders/draft-order-list/components/draft-order-list-table/index.ts
  packages/admin-next/dashboard/src/routes/draft-orders/draft-order-list/components/draft-order-list-table/use-draft-order-table-columns.tsx
  packages/admin-next/dashboard/src/routes/draft-orders/draft-order-list/components/draft-order-list-table/use-draft-order-table-filters.tsx
  packages/admin-next/dashboard/src/routes/draft-orders/draft-order-list/components/draft-order-list-table/use-draft-order-table-query.tsx
  packages/admin-next/dashboard/src/routes/draft-orders/draft-order-list/draft-order-list.tsx
  packages/admin-next/dashboard/src/routes/draft-orders/draft-order-list/index.ts
  packages/admin-next/dashboard/src/routes/draft-orders/list/index.ts
  packages/admin-next/dashboard/src/routes/draft-orders/list/list.tsx
  packages/generated/client-types/src/lib/models/AdminGetDraftOrdersParams.ts
  packages/medusa/src/api/routes/admin/draft-orders/index.ts
  packages/medusa/src/api/routes/admin/draft-orders/list-draft-orders.ts
  packages/medusa/src/types/draft-orders.ts
Labels: automerge, team: medusa

#6630 feat(fulfillment): Soft deletes
  .changeset/mean-ways-study.md
  packages/fulfillment/integration-tests/__fixtures__/fulfillment.ts
  packages/fulfillment/integration-tests/__fixtures__/index.ts
  packages/fulfillment/integration-tests/__fixtures__/shipping-options.ts
  packages/fulfillment/integration-tests/__tests__/fulfillment-module-service/fulfillment.spec.ts
  packages/fulfillment/integration-tests/__tests__/fulfillment-module-service/index.spec.ts
  packages/fulfillment/src/joiner-config.ts
  packages/fulfillment/src/loaders/providers.ts
  packages/fulfillment/src/migrations/.snapshot-medusa-fulfillment.json
  packages/fulfillment/src/migrations/Migration20240311145700_InitialSetupMigration.ts
  packages/fulfillment/src/models/fulfillment-provider.ts
  packages/fulfillment/src/models/fulfillment.ts
  packages/fulfillment/src/models/geo-zone.ts
  packages/fulfillment/src/models/service-zone.ts
  packages/fulfillment/src/models/shipping-option-rule.ts
  packages/fulfillment/src/models/shipping-option-type.ts
  packages/fulfillment/src/models/shipping-option.ts
  packages/types/src/fulfillment/common/fulfillment-provider.ts
  packages/types/src/fulfillment/common/fulfillment.ts
  packages/types/src/fulfillment/common/index.ts
  packages/types/src/fulfillment/common/shipping-option.ts
  packages/types/src/fulfillment/mutations/shipping-option.ts
  packages/types/src/fulfillment/service.ts
Labels: automerge, team: medusa

#6617 feat(medusa): added list price list products endpoint
  .changeset/gorgeous-chairs-fetch.md
  integration-tests/modules/__tests__/price-lists/admin/list-price-list-products.spec.ts
  integration-tests/modules/__tests__/price-lists/admin/price-lists.spec.ts
  integration-tests/modules/__tests__/product/admin/products.spec.ts
  packages/medusa/src/api-v2/admin/price-lists/[id]/route.ts
  packages/medusa/src/api-v2/admin/price-lists/middlewares.ts
  packages/medusa/src/api-v2/admin/price-lists/queries/index.ts
  packages/medusa/src/api-v2/admin/price-lists/queries/list-price-lists.ts
  packages/medusa/src/api-v2/admin/price-lists/query-config.ts
  packages/medusa/src/api-v2/admin/price-lists/route.ts
  packages/medusa/src/api-v2/admin/price-lists/types.ts
  packages/medusa/src/api-v2/admin/price-lists/utils/list-price-lists.ts
  packages/medusa/src/api-v2/admin/products/middlewares.ts
  packages/medusa/src/api-v2/admin/products/route.ts
  packages/medusa/src/api-v2/admin/products/validators.ts
Labels: automerge, team: medusa

#6651 chore(order): big number calculations
  packages/order/integration-tests/__tests__/order-edit.ts
  packages/order/src/services/__tests__/util/actions/exchanges.ts
  packages/order/src/services/__tests__/util/actions/returns.ts
  packages/order/src/types/utils/index.ts
  packages/order/src/utils/actions/cancel-return.ts
  packages/order/src/utils/actions/fulfill-item.ts
  packages/order/src/utils/actions/item-add.ts
  packages/order/src/utils/actions/item-remove.ts
  packages/order/src/utils/actions/receive-damaged-return-item.ts
  packages/order/src/utils/actions/receive-return-item.ts
  packages/order/src/utils/actions/return-item.ts
  packages/order/src/utils/actions/ship-item.ts
  packages/order/src/utils/actions/write-off-item.ts
  packages/order/src/utils/calculate-order-change.ts
  packages/types/src/totals/big-number.ts
  packages/utils/src/dal/mikro-orm/big-number-field.ts
  packages/utils/src/dal/mikro-orm/mikro-orm-repository.ts
  packages/utils/src/totals/__tests__/transform-properties-to-bigbumber.spec.ts
  packages/utils/src/totals/big-number.ts
  packages/utils/src/totals/index.ts
  packages/utils/src/totals/math.ts
  packages/utils/src/totals/to-big-number-js.ts
  packages/utils/src/totals/transform-properties-to-bignumber.ts
Labels: automerge, team: medusa

#6671 fix(fulfillment): Fulfillment set file name typo
  packages/fulfillment/src/models/fulfillment-set.ts
  packages/fulfillment/src/models/index.ts
  packages/fulfillment/src/models/service-zone.ts
Labels: team: medusa

#6672 feat(fulfillment): Migration backward compatibility
  integration-tests/modules/__tests__/fixtures/fulfillment/index.ts
  integration-tests/modules/__tests__/fixtures/index.ts
  integration-tests/modules/__tests__/fulfillment/index.spec.ts
  integration-tests/modules/medusa-config.js
  packages/fulfillment/integration-tests/__fixtures__/index.ts
  packages/fulfillment/integration-tests/__fixtures__/shipping-options.ts
  packages/fulfillment/integration-tests/__tests__/fulfillment-module-service/fulfillment.spec.ts
  packages/fulfillment/integration-tests/__tests__/fulfillment-module-service/index.spec.ts
  packages/fulfillment/integration-tests/__tests__/fulfillment-module-service/shipping-option.spec.ts
  packages/fulfillment/src/loaders/providers.ts
  packages/fulfillment/src/migrations/Migration20240311145700_InitialSetupMigration.ts
  packages/fulfillment/src/models/shipping-option.ts
  packages/fulfillment/src/module-definition.ts
  packages/fulfillment/src/services/fulfillment-module-service.ts
  packages/fulfillment/src/types/index.ts
  packages/types/src/fulfillment/common/shipping-option.ts
  packages/types/src/fulfillment/mutations/shipping-option.ts
Labels: automerge, team: medusa

#6667 feat(core-flows,medusa,types): add automatic-taxes to region + generate tax lines endpoint
  .changeset/metal-tomatoes-cheat.md
  integration-tests/modules/__tests__/cart/store/carts.spec.ts
  packages/core-flows/src/definition/cart/steps/get-item-tax-lines.ts
  packages/core-flows/src/definition/cart/steps/update-tax-lines.ts
  packages/core-flows/src/definition/cart/workflows/update-tax-lines.ts
  packages/medusa/src/api-v2/store/carts/[id]/taxes/route.ts
  packages/medusa/src/api-v2/store/carts/query-config.ts
  packages/medusa/src/api-v2/store/carts/validators.ts
  packages/region/integration-tests/__tests__/region-module.spec.ts
  packages/region/src/migrations/RegionModuleSetup20240205173216.ts
  packages/region/src/models/region.ts
  packages/types/src/cart/workflows.ts
  packages/types/src/region/common.ts
  packages/types/src/region/mutations.ts
Labels: automerge, team: medusa

#6661 feat: Add shipping method to cart workflow
  integration-tests/modules/__tests__/cart/store/cart.workflows.spec.ts
  integration-tests/modules/__tests__/fulfillment/index.spec.ts
  integration-tests/modules/__tests__/link-modules/shipping-option-price-set.spec.ts
  packages/core-flows/src/definition/cart/steps/add-shipping-method-to-cart.ts
  packages/core-flows/src/definition/cart/steps/add-to-cart.ts
  packages/core-flows/src/definition/cart/steps/get-shipping-option-price-sets.ts
  packages/core-flows/src/definition/cart/steps/index.ts
  packages/core-flows/src/definition/cart/workflows/add-shipping-method-to-cart.ts
  packages/core-flows/src/definition/cart/workflows/add-to-cart.ts
  packages/core-flows/src/definition/cart/workflows/index.ts
  packages/fulfillment/src/loaders/providers.ts
  packages/fulfillment/src/services/fulfillment-module-service.ts
  packages/link-modules/src/definitions/index.ts
  packages/link-modules/src/definitions/shipping-option-price-set.ts
  packages/link-modules/src/links.ts
  packages/pricing/src/services/pricing-module.ts
  packages/utils/src/dal/mikro-orm/mikro-orm-repository.ts
  packages/utils/src/modules-sdk/decorators/inject-transaction-manager.ts
Labels: team: medusa

#6678 feat(medusa,pricing,types): added get endpoints for pricing rule types
  .changeset/chatty-trainers-grow.md
  integration-tests/modules/__tests__/pricing/admin/rule-types.spec.ts
  packages/medusa/src/api-v2/admin/pricing/middlewares.ts
  packages/medusa/src/api-v2/admin/pricing/query-config.ts
  packages/medusa/src/api-v2/admin/pricing/rule-types/[id]/route.ts
  packages/medusa/src/api-v2/admin/pricing/rule-types/route.ts
  packages/medusa/src/api-v2/admin/pricing/validators.ts
  packages/medusa/src/api-v2/middlewares.ts
  packages/pricing/src/migrations/.snapshot-medusa-pricing.json
  packages/pricing/src/migrations/Migration20230929122253.ts
  packages/pricing/src/models/money-amount.ts
  packages/pricing/src/models/rule-type.ts
  packages/pricing/src/types/services/rule-type.ts
  packages/types/src/pricing/common/rule-type.ts
Labels: automerge, team: medusa

#6679 chore: Use module test runner in Carts API test suite
  integration-tests/api/__tests__/store/cart/__snapshots__/cart.js.snap
  integration-tests/api/__tests__/store/cart/cart.js
  integration-tests/factories/simple-product-factory.ts
Labels: automerge, team: medusa

#6682 chore: Update CODEOWNERS
  CODEOWNERS
Labels: team: medusa

#6684 feat(core-flows,medusa): added api + workflows for rule types CRUD
  .changeset/ninety-rockets-remain.md
  integration-tests/modules/__tests__/pricing/admin/rule-types.spec.ts
  packages/core-flows/src/index.ts
  packages/core-flows/src/pricing/index.ts
  packages/core-flows/src/pricing/steps/create-pricing-rule-types.ts
  packages/core-flows/src/pricing/steps/delete-pricing-rule-types.ts
  packages/core-flows/src/pricing/steps/index.ts
  packages/core-flows/src/pricing/steps/update-pricing-rule-types.ts
  packages/core-flows/src/pricing/workflows/create-pricing-rule-types.ts
  packages/core-flows/src/pricing/workflows/delete-pricing-rule-types.ts
  packages/core-flows/src/pricing/workflows/index.ts
  packages/core-flows/src/pricing/workflows/update-pricing-rule-types.ts
  packages/medusa/src/api-v2/admin/pricing/middlewares.ts
  packages/medusa/src/api-v2/admin/pricing/rule-types/[id]/route.ts
  packages/medusa/src/api-v2/admin/pricing/rule-types/route.ts
  packages/medusa/src/api-v2/admin/pricing/validators.ts
Labels: team: medusa

#6635 feat: Confirm inventory in create cart workflow
  integration-tests/modules/__tests__/cart/store/cart.workflows.spec.ts
  integration-tests/modules/__tests__/cart/store/carts.spec.ts
  packages/core-flows/src/definition/cart/steps/confirm-inventory.ts
  packages/core-flows/src/definition/cart/steps/index.ts
  packages/core-flows/src/definition/cart/utils/prepare-confirm-inventory-input.ts
  packages/core-flows/src/definition/cart/workflows/add-to-cart.ts
  packages/core-flows/src/definition/cart/workflows/create-carts.ts
  packages/core-flows/src/definition/cart/workflows/update-line-item-in-cart.ts
  packages/inventory-next/src/services/inventory.ts
  packages/link-modules/src/definitions/sales-channel-location.ts
  packages/stock-location-next/src/module-definition.ts
Labels: team: medusa

#6692 feat(core-flows,medusa,types,utils): add rules to promotion endpoints + workflow
  .changeset/hot-colts-deliver.md
  integration-tests/modules/__tests__/promotion/admin/list-promotions.spec.ts
  integration-tests/modules/__tests__/promotion/admin/promotion-rules.spec.ts
  integration-tests/modules/__tests__/promotion/admin/retrieve-promotion.spec.ts
  packages/core-flows/src/promotion/steps/add-rules-to-promotions.ts
  packages/core-flows/src/promotion/steps/index.ts
  packages/core-flows/src/promotion/workflows/add-rules-to-promotions.ts
  packages/core-flows/src/promotion/workflows/index.ts
  packages/medusa/src/api-v2/admin/promotions/[id]/buy-rules/route.ts
  packages/medusa/src/api-v2/admin/promotions/[id]/route.ts
  packages/medusa/src/api-v2/admin/promotions/[id]/rules/route.ts
  packages/medusa/src/api-v2/admin/promotions/[id]/target-rules/route.ts
  packages/medusa/src/api-v2/admin/promotions/middlewares.ts
  packages/medusa/src/api-v2/admin/promotions/query-config.ts
  packages/medusa/src/api-v2/admin/promotions/route.ts
  packages/medusa/src/api-v2/admin/promotions/validators.ts
  packages/promotion/integration-tests/__tests__/services/promotion-module/promotion.spec.ts
  packages/promotion/src/services/promotion-module.ts
  packages/types/src/promotion/common/promotion-rule.ts
  packages/types/src/promotion/index.ts
  packages/types/src/promotion/service.ts
  packages/types/src/promotion/workflows.ts
  packages/utils/src/promotion/index.ts
Labels: team: medusa

#6696 feat(core-flows,medusa,types): remove rules from promotion endpoints + workflows
  .changeset/fifty-gorillas-lie.md
  integration-tests/modules/__tests__/promotion/admin/promotion-rules.spec.ts
  packages/core-flows/src/promotion/steps/add-rules-to-promotions.ts
  packages/core-flows/src/promotion/steps/index.ts
  packages/core-flows/src/promotion/steps/remove-rules-from-promotions.ts
  packages/core-flows/src/promotion/workflows/index.ts
  packages/core-flows/src/promotion/workflows/remove-rules-from-promotions.ts
  packages/medusa/src/api-v2/admin/promotions/[id]/buy-rules/route.ts
  packages/medusa/src/api-v2/admin/promotions/[id]/rules/route.ts
  packages/medusa/src/api-v2/admin/promotions/[id]/target-rules/route.ts
  packages/medusa/src/api-v2/admin/promotions/middlewares.ts
  packages/medusa/src/api-v2/admin/promotions/validators.ts
  packages/promotion/integration-tests/__tests__/services/promotion-module/promotion.spec.ts
  packages/promotion/src/services/promotion-module.ts
  packages/types/src/promotion/service.ts
  packages/types/src/promotion/workflows.ts
Labels: team: medusa

#6639 Fix/load medusa proj
  packages/core-flows/src/index.ts
  packages/medusa/src/loaders/index.ts
  packages/medusa/src/loaders/load-medusa-project-apis.ts
  packages/modules-sdk/src/loaders/register-modules.ts
Labels: automerge, team: medusa

#6694 Feat(inventory-next, medusa): Add List inventory items endpoint
  integration-tests/modules/__tests__/inventory/index.spec.ts
  integration-tests/plugins/medusa-config.js
  packages/inventory-next/src/models/inventory-item.ts
  packages/inventory-next/src/models/inventory-level.ts
  packages/inventory-next/src/repositories/index.ts
  packages/inventory-next/src/repositories/inventory-item.ts
  packages/inventory-next/src/services/inventory.ts
  packages/medusa/src/api-v2/admin/inventory-items/middlewares.ts
  packages/medusa/src/api-v2/admin/inventory-items/query-config.ts
  packages/medusa/src/api-v2/admin/inventory-items/route.ts
  packages/medusa/src/api-v2/admin/inventory-items/validators.ts
  packages/medusa/src/api-v2/middlewares.ts
  packages/medusa/src/loaders/medusa-app.ts
  packages/types/src/inventory/common/inventory-level.ts
Labels: team: medusa

#6686 fix(dashboard): fixed some strings
  packages/admin-next/dashboard/public/locales/en-US/translation.json
  packages/admin-next/dashboard/src/components/table/table-cells/discount/code-cell/code-cell.tsx
  packages/admin-next/dashboard/src/routes/regions/region-create-shipping-option/components/create-shipping-option-form/create-shipping-option-form.tsx
Labels: automerge, team: medusa

#6698 feat(core-flows,medusa,types,utils): add/remove fulfillment shipping option rules
  .changeset/violet-deers-cross.md
  integration-tests/modules/__tests__/fulfillment/admin/shipping-option-rules.spec.ts
  packages/core-flows/src/fulfillment/index.ts
  packages/core-flows/src/fulfillment/steps/add-rules-to-fulfillment-shipping-option.ts
  packages/core-flows/src/fulfillment/steps/index.ts
  packages/core-flows/src/fulfillment/steps/remove-rules-from-fulfillment-shipping-option.ts
  packages/core-flows/src/fulfillment/workflows/add-rules-to-fulfillment-shipping-option.ts
  packages/core-flows/src/fulfillment/workflows/index.ts
  packages/core-flows/src/fulfillment/workflows/remove-rules-from-fulfillment-shipping-option.ts
  packages/core-flows/src/index.ts
  packages/fulfillment/src/models/shipping-option-rule.ts
  packages/fulfillment/src/utils/__tests__/utils.spec.ts
  packages/fulfillment/src/utils/utils.ts
  packages/medusa/src/api-v2/admin/fulfillment/middlewares.ts
  packages/medusa/src/api-v2/admin/fulfillment/query-config.ts
  packages/medusa/src/api-v2/admin/fulfillment/shipping-options/[id]/rules/batch/add/route.ts
  packages/medusa/src/api-v2/admin/fulfillment/shipping-options/[id]/rules/batch/remove/route.ts
  packages/medusa/src/api-v2/admin/fulfillment/validators.ts
  packages/medusa/src/api-v2/middlewares.ts
  packages/types/src/fulfillment/index.ts
  packages/types/src/fulfillment/mutations/shipping-option-rule.ts
  packages/types/src/fulfillment/workflows.ts
  packages/utils/src/common/index.ts
  packages/utils/src/common/rules.ts
Labels: automerge, team: medusa

#6691 feat(dashboard): Setup parallel V2 routes
  packages/admin-next/dashboard/src/providers/router-provider/router-provider.tsx
  packages/admin-next/dashboard/src/providers/router-provider/v1.tsx
  packages/admin-next/dashboard/src/providers/router-provider/v2.tsx
  packages/admin-next/dashboard/src/v2-routes/login/index.ts
  packages/admin-next/dashboard/src/v2-routes/login/login.tsx
  packages/admin-next/dashboard/src/vite-env.d.ts
Labels: automerge, team: medusa

#6675 feat(core-flows,medusa,utils): added price list prices upsert and delete workflows + endpoints
  .changeset/blue-taxis-bathe.md
  integration-tests/modules/__tests__/price-lists/admin/price-lists.spec.ts
  packages/core-flows/src/price-list/steps/create-price-lists.ts
  packages/core-flows/src/price-list/steps/index.ts
  packages/core-flows/src/price-list/steps/remove-price-list-prices.ts
  packages/core-flows/src/price-list/steps/update-price-lists.ts
  packages/core-flows/src/price-list/steps/upsert-price-list-prices.ts
  packages/core-flows/src/price-list/steps/validate-price-lists.ts
  packages/core-flows/src/price-list/steps/validate-variant-price-links.ts
  packages/core-flows/src/price-list/workflows/create-price-lists.ts
  packages/core-flows/src/price-list/workflows/index.ts
  packages/core-flows/src/price-list/workflows/remove-price-list-prices.ts
  packages/core-flows/src/price-list/workflows/update-price-lists.ts
  packages/core-flows/src/price-list/workflows/upsert-price-list-prices.ts
  packages/medusa/src/api-v2/admin/price-lists/[id]/prices/route.ts
  packages/medusa/src/api-v2/admin/price-lists/[id]/route.ts
  packages/medusa/src/api-v2/admin/price-lists/middlewares.ts
  packages/medusa/src/api-v2/admin/price-lists/queries/list-price-lists.ts
  packages/medusa/src/api-v2/admin/price-lists/validators.ts
  packages/utils/src/pricing/builders.ts
  packages/workflows-sdk/src/utils/composer/create-step.ts
  packages/workflows-sdk/src/utils/composer/helpers/step-response.ts
Labels: team: medusa

#6702 feat(medusa,core-flows,types): adds update promotion rule endpoint + workflow
  .changeset/shaggy-ties-type.md
  integration-tests/modules/__tests__/promotion/admin/promotion-rules.spec.ts
  packages/core-flows/src/promotion/steps/index.ts
  packages/core-flows/src/promotion/steps/update-promotion-rules.ts
  packages/core-flows/src/promotion/workflows/index.ts
  packages/core-flows/src/promotion/workflows/update-promotion-rules.ts
  packages/medusa/src/api-v2/admin/promotions/[id]/rules/batch/update/route.ts
  packages/medusa/src/api-v2/admin/promotions/middlewares.ts
  packages/medusa/src/api-v2/admin/promotions/validators.ts
  packages/promotion/src/services/promotion-module.ts
  packages/types/src/promotion/common/promotion-rule.ts
  packages/types/src/promotion/service.ts
  packages/types/src/promotion/workflows.ts
Labels: automerge, team: medusa

#6700 chore: Bump all modules
  .changeset/smooth-cougars-float.md
Labels: team: medusa

#6699 chore: Update version bump from minor to patch
  .changeset/four-llamas-accept.md
Labels: team: medusa

#6707 fix(dashboard): Discount condition fixes
  packages/admin-next/dashboard/public/locales/en-US/translation.json
  packages/admin-next/dashboard/src/components/common/list-summary/list-summary.tsx
  packages/admin-next/dashboard/src/providers/router-provider/v1.tsx
  packages/admin-next/dashboard/src/routes/discounts/common/components/conditions-drawer/conditions-drawer.tsx
  packages/admin-next/dashboard/src/routes/discounts/common/components/conditions-drawer/index.ts
  packages/admin-next/dashboard/src/routes/discounts/discount-create/components/create-discount-form/create-discount-details.tsx
  packages/admin-next/dashboard/src/routes/discounts/discount-create/components/create-discount-form/create-discount-form.tsx
  packages/admin-next/dashboard/src/routes/discounts/discount-create/components/create-discount-form/index.ts
  packages/admin-next/dashboard/src/routes/discounts/discount-create/components/create-discount-form/types.ts
  packages/admin-next/dashboard/src/routes/discounts/discount-create/discount-create.tsx
  packages/admin-next/dashboard/src/routes/discounts/discount-create/index.ts
  packages/admin-next/dashboard/src/routes/discounts/discount-detail/components/details-section/details-section.tsx
  packages/admin-next/dashboard/src/routes/discounts/discount-detail/components/details-section/index.ts
  packages/admin-next/dashboard/src/routes/discounts/discount-detail/components/discount-conditions-section/discount-conditions-section.tsx
  packages/admin-next/dashboard/src/routes/discounts/discount-detail/components/discount-conditions-section/index.ts
  packages/admin-next/dashboard/src/routes/discounts/discount-detail/components/discount-configurations-section/discount-configurations-section.tsx
  packages/admin-next/dashboard/src/routes/discounts/discount-detail/components/discount-configurations-section/index.ts
  packages/admin-next/dashboard/src/routes/discounts/discount-detail/components/discount-general-section/discount-general-section.tsx
  packages/admin-next/dashboard/src/routes/discounts/discount-detail/components/discount-general-section/index.ts
  packages/admin-next/dashboard/src/routes/discounts/discount-detail/components/discount-redemptions-section/index.ts
  packages/admin-next/dashboard/src/routes/discounts/discount-detail/components/discount-redemptions-section/redemptions-section.tsx
  packages/admin-next/dashboard/src/routes/discounts/discount-detail/discount-detail.tsx
  packages/admin-next/dashboard/src/routes/discounts/discount-detail/index.ts
  packages/admin-next/dashboard/src/routes/discounts/discount-detail/loader.ts
  packages/admin-next/dashboard/src/routes/discounts/discount-edit-conditions/components/edit-discount-form/edit-discount-conditions-form.tsx
  packages/admin-next/dashboard/src/routes/discounts/discount-edit-conditions/components/edit-discount-form/index.ts
  packages/admin-next/dashboard/src/routes/discounts/discount-edit-conditions/discount-edit-conditions.tsx
  packages/admin-next/dashboard/src/routes/discounts/discount-edit-conditions/index.ts
  packages/admin-next/dashboard/src/routes/discounts/discount-edit-configuration/components/edit-discount-form/edit-discount-configuration-form.tsx
  packages/admin-next/dashboard/src/routes/discounts/discount-edit-configuration/components/edit-discount-form/index.ts
  packages/admin-next/dashboard/src/routes/discounts/discount-edit-configuration/discount-edit-configuration.tsx
  packages/admin-next/dashboard/src/routes/discounts/discount-edit-configuration/index.ts
  packages/admin-next/dashboard/src/routes/discounts/discount-edit-details/components/edit-discount-form/edit-discount-details-form.tsx
  packages/admin-next/dashboard/src/routes/discounts/discount-edit-details/components/edit-discount-form/index.ts
  packages/admin-next/dashboard/src/routes/discounts/discount-edit-details/discount-edit-details.tsx
  packages/admin-next/dashboard/src/routes/discounts/discount-edit-details/index.ts
  packages/admin-next/dashboard/src/routes/discounts/discount-list/components/discount-list-table/discount-list-table.tsx
  packages/admin-next/dashboard/src/routes/discounts/discount-list/components/discount-list-table/index.ts
  packages/admin-next/dashboard/src/routes/discounts/discount-list/discount-list.tsx
  packages/admin-next/dashboard/src/routes/discounts/discount-list/index.ts
  packages/admin-next/dashboard/src/routes/discounts/discount-list/loader.ts
  packages/admin-next/dashboard/src/routes/discounts/list/index.ts
Labels: team: medusa

#6674 feat(fulfillment): Separate list and context rules validation
  integration-tests/modules/__tests__/cart/store/cart.workflows.spec.ts
  packages/core-flows/src/definition/cart/workflows/list-shipping-options-for-cart.ts
  packages/core-flows/src/shipping-options/steps/list-shipping-options-for-context.ts
  packages/fulfillment/integration-tests/__tests__/fulfillment-module-service/fulfillment-set.spec.ts
  packages/fulfillment/integration-tests/__tests__/fulfillment-module-service/geo-zone.spec.ts
  packages/fulfillment/integration-tests/__tests__/fulfillment-module-service/service-zone.spec.ts
  packages/fulfillment/integration-tests/__tests__/fulfillment-module-service/shipping-option.spec.ts
  packages/fulfillment/package.json
  packages/fulfillment/src/services/__tests__/noop.ts
  packages/fulfillment/src/services/fulfillment-module-service.ts
  packages/fulfillment/src/services/fulfillment-provider.ts
  packages/fulfillment/src/utils/utils.ts
  packages/types/src/fulfillment/common/service-zone.ts
  packages/types/src/fulfillment/common/shipping-option.ts
  packages/types/src/fulfillment/mutations/geo-zone.ts
  packages/types/src/fulfillment/service.ts
Labels: automerge, team: medusa

#6704 feat(medusa): Add get inventory item endpoint
  .changeset/spicy-bats-knock.md
  integration-tests/modules/__tests__/inventory/index.spec.ts
  packages/medusa/src/api-v2/admin/inventory-items/[id]/route.ts
  packages/medusa/src/api-v2/admin/inventory-items/middlewares.ts
Labels: team: medusa

#6647 feat(): Update transformer middleware and API
  integration-tests/api/__tests__/admin/product-category.ts
  integration-tests/api/__tests__/admin/product.js
  integration-tests/api/__tests__/store/order-edit.js
  integration-tests/api/__tests__/store/orders.js
  integration-tests/api/__tests__/store/product-category.ts
  integration-tests/api/__tests__/store/products.js
  packages/medusa-test-utils/src/medusa-test-runner.ts
  packages/medusa/src/api-v2/admin/products/query-config.ts
  packages/medusa/src/api-v2/admin/products/route.ts
  packages/medusa/src/api-v2/store/carts/[id]/route.ts
  packages/medusa/src/api-v2/store/carts/query-config.ts
  packages/medusa/src/api/middlewares/__tests__/transform-query.spec.ts
  packages/medusa/src/api/middlewares/transform-query.ts
  packages/medusa/src/api/routes/admin/orders/__tests__/get-order.js
  packages/medusa/src/api/routes/admin/products/__tests__/get-product.js
  packages/medusa/src/api/routes/admin/regions/__tests__/get-region.js
  packages/medusa/src/api/routes/admin/regions/__tests__/list-regions.js
  packages/medusa/src/api/routes/store/carts/get-cart.ts
  packages/medusa/src/api/routes/store/regions/__tests__/get-region.js
  packages/medusa/src/api/routes/store/regions/__tests__/list-regions.js
  packages/medusa/src/strategies/batch-jobs/order/export.ts
  packages/medusa/src/strategies/batch-jobs/product/export.ts
  packages/medusa/src/types/common.ts
  packages/medusa/src/types/global.ts
  packages/medusa/src/types/routing.ts
  packages/medusa/src/utils/get-query-config.ts
  packages/modules-sdk/src/remote-query.ts
  packages/orchestration/src/__tests__/joiner/remote-joiner.ts
  packages/orchestration/src/joiner/remote-joiner.ts
  packages/utils/src/dal/mikro-orm/mikro-orm-create-connection.ts
Labels: automerge, team: medusa

#6712 feat(medusa): rework prices add/remove to batch spec
  .changeset/eight-candles-smoke.md
  integration-tests/modules/__tests__/price-lists/admin/price-lists.spec.ts
  packages/medusa/src/api-v2/admin/price-lists/[id]/prices/batch/add/route.ts
  packages/medusa/src/api-v2/admin/price-lists/[id]/prices/batch/remove/route.ts
  packages/medusa/src/api-v2/admin/price-lists/[id]/prices/route.ts
  packages/medusa/src/api-v2/admin/price-lists/middlewares.ts
  packages/medusa/src/api-v2/admin/price-lists/validators.ts
Labels: team: medusa

#6726 fix(workflows-sdk): Value resolver should resolve non StepResponse
  .changeset/silly-weeks-melt.md
  packages/workflow-engine-inmemory/integration-tests/__fixtures__/workflow_1.ts
  packages/workflow-engine-inmemory/integration-tests/__fixtures__/workflow_2.ts
  packages/workflow-engine-inmemory/integration-tests/__tests__/index.spec.ts
  packages/workflows-sdk/src/utils/composer/helpers/resolve-value.ts
Labels: team: medusa

#6722 feat: Sales Channels API routes + workflows
  integration-tests/api/__tests__/admin/__snapshots__/sales-channels.js.snap
  integration-tests/api/__tests__/admin/sales-channels.js
  packages/core-flows/src/customer/steps/delete-customers.ts
  packages/core-flows/src/index.ts
  packages/core-flows/src/sales-channel/index.ts
  packages/core-flows/src/sales-channel/steps/create-sales-channels.ts
  packages/core-flows/src/sales-channel/steps/delete-sales-channels.ts
  packages/core-flows/src/sales-channel/steps/index.ts
  packages/core-flows/src/sales-channel/steps/update-sales-channels.ts
  packages/core-flows/src/sales-channel/workflows/create-sales-channels.ts
  packages/core-flows/src/sales-channel/workflows/delete-sales-channels.ts
  packages/core-flows/src/sales-channel/workflows/index.ts
  packages/core-flows/src/sales-channel/workflows/update-sales-channels.ts
  packages/medusa/src/api-v2/admin/sales-channels/[id]/route.ts
  packages/medusa/src/api-v2/admin/sales-channels/middlewares.ts
  packages/medusa/src/api-v2/admin/sales-channels/query-config.ts
  packages/medusa/src/api-v2/admin/sales-channels/route.ts
  packages/medusa/src/api-v2/admin/sales-channels/validators.ts
  packages/medusa/src/api-v2/middlewares.ts
  packages/sales-channel/integration-tests/__tests__/services/sales-channel-module.spec.ts
  packages/sales-channel/src/migrations/.snapshot-medusa-sales-channel-tst.json
  packages/sales-channel/src/migrations/Migration20240115152146.ts
  packages/sales-channel/src/models/sales-channel.ts
  packages/sales-channel/src/services/sales-channel-module.ts
  packages/sales-channel/src/types/index.ts
  packages/types/src/sales-channel/common.ts
  packages/types/src/sales-channel/mutations.ts
  packages/types/src/sales-channel/service.ts
Labels: automerge, team: medusa

#6693 Feat(core-flows, inventory-next, medusa, types): Add create inventory item endpoint
  integration-tests/modules/__tests__/inventory/index.spec.ts
  packages/core-flows/src/inventory/steps/attach-inventory-items.ts
  packages/core-flows/src/inventory/steps/create-inventory-items.ts
  packages/core-flows/src/inventory/steps/index.ts
  packages/core-flows/src/inventory/steps/validate-singular-inventory-items-for-tags.ts
  packages/core-flows/src/inventory/workflows/create-inventory-items.ts
  packages/core-flows/src/inventory/workflows/index.ts
  packages/medusa/src/api-v2/admin/inventory-items/middlewares.ts
  packages/medusa/src/api-v2/admin/inventory-items/query-config.ts
  packages/medusa/src/api-v2/admin/inventory-items/route.ts
  packages/medusa/src/api-v2/admin/inventory-items/validators.ts
Labels: team: medusa

#6727 Feat(core-flows, medusa, types): Add delete location level api-v2 endpoint
  .changeset/shaggy-suits-drop.md
  integration-tests/modules/__tests__/inventory/index.spec.ts
  packages/core-flows/src/inventory/steps/delete-inventory-levels.ts
  packages/core-flows/src/inventory/steps/index.ts
  packages/core-flows/src/inventory/workflows/delete-inventory-levels.ts
  packages/core-flows/src/inventory/workflows/index.ts
  packages/medusa/src/api-v2/admin/inventory-items/[id]/location-levels/[location_id]/route.ts
  packages/medusa/src/api-v2/admin/inventory-items/query-config.ts
  packages/types/src/inventory/service-next.ts
Labels: team: medusa

#6725 feat: Add products to sales channel
  integration-tests/api/__tests__/admin/sales-channels.js
  packages/core-flows/src/sales-channel/steps/associate-products-with-channels.ts
  packages/core-flows/src/sales-channel/steps/index.ts
  packages/core-flows/src/sales-channel/workflows/add-products-to-sales-channels.ts
  packages/core-flows/src/sales-channel/workflows/index.ts
  packages/medusa/src/api-v2/admin/sales-channels/[id]/products/batch/add/route.ts
  packages/medusa/src/api-v2/admin/sales-channels/middlewares.ts
  packages/medusa/src/api-v2/admin/sales-channels/validators.ts
Labels: automerge, team: medusa

#6740 feat: Add product and pricing link on create and delete operations
  integration-tests/api/__tests__/admin/product.js
  packages/core-flows/src/definition/cart/steps/get-variant-price-sets.ts
  packages/core-flows/src/pricing/steps/create-price-sets.ts
  packages/core-flows/src/pricing/steps/index.ts
  packages/core-flows/src/pricing/steps/update-price-sets.ts
  packages/core-flows/src/product/steps/create-product-variants.ts
  packages/core-flows/src/product/steps/create-variant-pricing-link.ts
  packages/core-flows/src/product/steps/get-products.ts
  packages/core-flows/src/product/steps/index.ts
  packages/core-flows/src/product/steps/remove-variant-pricing-link.ts
  packages/core-flows/src/product/workflows/create-product-variants.ts
  packages/core-flows/src/product/workflows/create-products.ts
  packages/core-flows/src/product/workflows/delete-product-variants.ts
  packages/core-flows/src/product/workflows/delete-products.ts
  packages/link-modules/src/definitions/product-variant-price-set.ts
  packages/medusa/src/api-v2/admin/products/[id]/options/[option_id]/route.ts
  packages/medusa/src/api-v2/admin/products/[id]/options/route.ts
  packages/medusa/src/api-v2/admin/products/[id]/route.ts
  packages/medusa/src/api-v2/admin/products/[id]/variants/[variant_id]/route.ts
  packages/medusa/src/api-v2/admin/products/[id]/variants/route.ts
  packages/medusa/src/api-v2/admin/products/helpers.ts
  packages/medusa/src/api-v2/admin/products/middlewares.ts
  packages/medusa/src/api-v2/admin/products/query-config.ts
  packages/medusa/src/api-v2/admin/products/route.ts
  packages/medusa/src/api-v2/admin/products/validators.ts
  packages/types/src/pricing/common/price-set.ts
Labels: automerge, team: medusa

#6665 feat(dashboard) admin 3.0 order edit
  packages/admin-next/dashboard/public/locales/en-US/translation.json
  packages/admin-next/dashboard/src/components/table/table-cells/common/money-amount-cell/money-amount-cell.tsx
  packages/admin-next/dashboard/src/providers/router-provider/v1.tsx
  packages/admin-next/dashboard/src/routes/orders/order-detail/components/order-summary-section/order-summary-section.tsx
  packages/admin-next/dashboard/src/routes/orders/order-detail/constants.ts
  packages/admin-next/dashboard/src/routes/orders/order-edit/components/order-edit-form/index.tsx
  packages/admin-next/dashboard/src/routes/orders/order-edit/components/order-edit-form/order-edit-form.tsx
  packages/admin-next/dashboard/src/routes/orders/order-edit/components/order-edit-form/order-edit-item.tsx
  packages/admin-next/dashboard/src/routes/orders/order-edit/components/variant-table/index.tsx
  packages/admin-next/dashboard/src/routes/orders/order-edit/components/variant-table/use-variant-table-columns.tsx
  packages/admin-next/dashboard/src/routes/orders/order-edit/components/variant-table/use-variant-table-filters.tsx
  packages/admin-next/dashboard/src/routes/orders/order-edit/components/variant-table/use-variant-table-query.tsx
  packages/admin-next/dashboard/src/routes/orders/order-edit/components/variant-table/variant-table.tsx
  packages/admin-next/dashboard/src/routes/orders/order-edit/index.ts
  packages/admin-next/dashboard/src/routes/orders/order-edit/loader.ts
  packages/admin-next/dashboard/src/routes/orders/order-edit/order-edit.tsx
Labels: automerge, team: medusa

#6753 docs: Upgrade guide for v1.20.3
  www/apps/docs/content/upgrade-guides/medusa-core/1-20-3.mdx
Labels: automerge, team: medusa

#6748 feat: Update the signatures for variants and options to follow convention
  .changeset/tidy-gifts-talk.md
  packages/core-flows/src/handlers/product/update-product-variants.ts
  packages/core-flows/src/product/steps/update-product-options.ts
  packages/core-flows/src/product/steps/update-product-variants.ts
  packages/product/integration-tests/__tests__/services/product-module-service/product-options.spec.ts
  packages/product/src/services/product-module-service.ts
  packages/product/src/types/index.ts
  packages/types/src/product/common.ts
  packages/types/src/product/service.ts
Labels: automerge, team: medusa

#6730 feat(fulfillment): Events management
  packages/fulfillment/integration-tests/__fixtures__/events.ts
  packages/fulfillment/integration-tests/__fixtures__/index.ts
  packages/fulfillment/integration-tests/__tests__/fulfillment-module-service/fulfillment-set.spec.ts
  packages/fulfillment/src/services/fulfillment-module-service.ts
  packages/types/src/common/common.ts
  packages/utils/src/event-bus/build-event-messages.ts
  packages/utils/src/event-bus/index.ts
  packages/utils/src/event-bus/utils.ts
  packages/utils/src/fulfillment/events.ts
  packages/utils/src/fulfillment/index.ts
  packages/utils/src/modules-sdk/abstract-module-service-factory.ts
  packages/utils/src/modules-sdk/decorators/emit-events.ts
Labels: automerge, team: medusa

#6744 chore(pricing): remove priceSetMoneyAmountRules from pricing module
  packages/pricing/integration-tests/__fixtures__/price-set-money-amount-rules/data.ts
  packages/pricing/integration-tests/__fixtures__/price-set-money-amount-rules/index.ts
  packages/pricing/integration-tests/__fixtures__/seed-price-data.ts
  packages/pricing/integration-tests/__tests__/services/pricing-module/calculate-price.spec.ts
  packages/pricing/integration-tests/__tests__/services/pricing-module/money-amount.spec.ts
  packages/pricing/integration-tests/__tests__/services/pricing-module/price-rule.spec.ts
  packages/pricing/integration-tests/__tests__/services/pricing-module/price-set-money-amount-rules.spec.ts
  packages/pricing/src/migrations/.snapshot-medusa-pricing.json
  packages/pricing/src/migrations/Migration20230929122253.ts
  packages/pricing/src/models/index.ts
  packages/pricing/src/models/price-set-money-amount.ts
  packages/pricing/src/services/pricing-module.ts
  packages/pricing/src/types/repositories/index.ts
  packages/pricing/src/types/repositories/price-set-money-amount-rules.ts
  packages/pricing/src/types/services/index.ts
  packages/pricing/src/types/services/price-set-money-amount-rules.ts
  packages/types/src/pricing/common/index.ts
  packages/types/src/pricing/common/price-set-money-amount-rules.ts
  packages/types/src/pricing/service.ts
Labels: team: medusa

#6735 feat(medusa, core-flows): add Update inventory item endpoint in api-v2
  integration-tests/modules/__tests__/inventory/index.spec.ts
  packages/core-flows/src/inventory/steps/index.ts
  packages/core-flows/src/inventory/steps/update-inventory-items.ts
  packages/core-flows/src/inventory/workflows/index.ts
  packages/core-flows/src/inventory/workflows/update-inventory-items.ts
  packages/medusa/src/api-v2/admin/inventory-items/[id]/route.ts
  packages/medusa/src/api-v2/admin/inventory-items/middlewares.ts
  packages/medusa/src/api-v2/admin/inventory-items/validators.ts
Labels: team: medusa

#6751 feat(utils): autogenerates create and update methods when dto is provided
  .changeset/slow-plants-clean.md
  packages/pricing/src/services/pricing-module.ts
  packages/types/src/pricing/service.ts
  packages/utils/src/modules-sdk/abstract-module-service-factory.ts
Labels: automerge, team: medusa

#6759 feat: Align the product module HTTP API to follow our conventions
  .changeset/calm-spoons-look.md
  integration-tests/api/__tests__/admin/product.js
  packages/core-flows/src/product/steps/remove-variant-pricing-link.ts
  packages/core-flows/src/product/workflows/delete-product-variants.ts
  packages/core-flows/src/product/workflows/delete-products.ts
  packages/medusa/src/api-v2/admin/products/[id]/options/[option_id]/route.ts
  packages/medusa/src/api-v2/admin/products/[id]/options/route.ts
  packages/medusa/src/api-v2/admin/products/[id]/route.ts
  packages/medusa/src/api-v2/admin/products/[id]/variants/[variant_id]/route.ts
  packages/medusa/src/api-v2/admin/products/[id]/variants/route.ts
  packages/medusa/src/api-v2/admin/products/helpers.ts
  packages/medusa/src/api-v2/admin/products/middlewares.ts
  packages/medusa/src/api-v2/admin/products/query-config.ts
  packages/medusa/src/api-v2/admin/products/route.ts
  packages/medusa/src/api-v2/admin/products/validators.ts
Labels: automerge, team: medusa

#6732 feat(pricing): pricing models are made soft deletable
  integration-tests/modules/helpers/create-variant-price-set.ts
  packages/core-flows/src/price-list/steps/delete-price-lists.ts
  packages/core-flows/src/price-list/steps/remove-price-list-prices.ts
  packages/medusa/src/api-v2/admin/products/helpers.ts
  packages/medusa/src/api-v2/admin/products/route.ts
  packages/pricing/integration-tests/__fixtures__/price-set-money-amount-rules/data.ts
  packages/pricing/integration-tests/__fixtures__/price-set-money-amount-rules/index.ts
  packages/pricing/integration-tests/__fixtures__/seed-price-data.ts
  packages/pricing/integration-tests/__tests__/services/pricing-module/calculate-price.spec.ts
  packages/pricing/integration-tests/__tests__/services/pricing-module/money-amount.spec.ts
  packages/pricing/integration-tests/__tests__/services/pricing-module/price-rule.spec.ts
  packages/pricing/integration-tests/__tests__/services/pricing-module/price-set-money-amount-rules.spec.ts
  packages/pricing/integration-tests/__tests__/services/pricing-module/price-set.spec.ts
  packages/pricing/src/migrations/.snapshot-medusa-pricing.json
  packages/pricing/src/migrations/Migration20230929122253.ts
  packages/pricing/src/migrations/Migration20231101232834.ts
  packages/pricing/src/migrations/Migration20240103140327.ts
  packages/pricing/src/models/index.ts
  packages/pricing/src/models/money-amount.ts
  packages/pricing/src/models/price-list-rule-value.ts
  packages/pricing/src/models/price-list-rule.ts
  packages/pricing/src/models/price-list.ts
  packages/pricing/src/models/price-rule.ts
  packages/pricing/src/models/price-set-money-amount-rules.ts
  packages/pricing/src/models/price-set-money-amount.ts
  packages/pricing/src/models/price-set-rule-type.ts
  packages/pricing/src/models/price-set.ts
  packages/pricing/src/models/rule-type.ts
  packages/pricing/src/services/pricing-module.ts
  packages/pricing/src/types/repositories/index.ts
  packages/pricing/src/types/repositories/price-set-money-amount-rules.ts
  packages/pricing/src/types/services/index.ts
  packages/pricing/src/types/services/price-set-money-amount-rules.ts
  packages/types/src/pricing/common/index.ts
  packages/types/src/pricing/common/price-set-money-amount-rules.ts
  packages/types/src/pricing/service.ts
Labels: automerge, team: medusa

#6760 Feat(workflows-sdk): additional properties to context
  .changeset/violet-bikes-develop.md
  packages/workflows-sdk/src/utils/composer/create-step.ts
  packages/workflows-sdk/src/utils/composer/hook.ts
  packages/workflows-sdk/src/utils/composer/type.ts
Labels: automerge, team: medusa

#6763 chore: update naming in abstract service to dto specifics
  packages/utils/src/modules-sdk/abstract-module-service-factory.ts
Labels: automerge, team: medusa

#6764 fix(link-modules): recreate dismissed link
  .changeset/happy-llamas-breathe.md
  integration-tests/modules/__tests__/link-modules/index.ts
  packages/link-modules/src/repositories/link.ts
  packages/link-modules/src/utils/generate-entity.ts
Labels: automerge, team: medusa

#6758 Feat(user): Invite expiration fix
  .changeset/breezy-clocks-applaud.md
  packages/user/src/services/invite.ts
Labels: team: medusa

#6767 chore: pricing models uses standardized relationships attributes
  integration-tests/modules/__tests__/price-lists/admin/price-lists.spec.ts
  packages/pricing/integration-tests/__fixtures__/price-list-rules/data.ts
  packages/pricing/integration-tests/__fixtures__/price-set-money-amount/data.ts
  packages/pricing/integration-tests/__fixtures__/price-set/index.ts
  packages/pricing/integration-tests/__tests__/services/pricing-module/calculate-price.spec.ts
  packages/pricing/integration-tests/__tests__/services/pricing-module/price-rule.spec.ts
  packages/pricing/src/models/price-list-rule-value.ts
  packages/pricing/src/models/price-list-rule.ts
  packages/pricing/src/models/price-rule.ts
  packages/pricing/src/models/price-set-money-amount-rules.ts
  packages/pricing/src/models/price-set-money-amount.ts
  packages/pricing/src/services/index.ts
  packages/pricing/src/services/price-list-rule-value.ts
  packages/pricing/src/services/price-list-rule.ts
  packages/pricing/src/services/price-rule.ts
  packages/pricing/src/services/pricing-module.ts
Labels: automerge, team: medusa

#6771 fix(medusa): migrate with feature flag
  .changeset/small-guests-whisper.md
  packages/medusa/src/commands/migrate.js
Labels: automerge, team: medusa

#6739 feat: v2 - add worker mode
  .changeset/ninety-months-allow.md
  packages/event-bus-redis/src/services/event-bus-redis.ts
  packages/medusa/src/commands/start.js
  packages/medusa/src/loaders/config.ts
  packages/medusa/src/loaders/index.ts
  packages/medusa/src/loaders/load-medusa-project-apis.ts
  packages/medusa/src/loaders/medusa-app.ts
  packages/modules-sdk/src/medusa-app.ts
  packages/modules-sdk/src/medusa-module.ts
  packages/types/src/common/config-module.ts
  packages/types/src/modules-sdk/index.ts
Labels: automerge, team: medusa

#6768 chore: merge money amounts and price set money amounts
  integration-tests/modules/__tests__/product/admin/create-product.spec.ts
  integration-tests/modules/helpers/create-variant-price-set.ts
  packages/medusa/src/api-v2/admin/price-lists/query-config.ts
  packages/medusa/src/api-v2/admin/products/helpers.ts
  packages/medusa/src/services/pricing.ts
  packages/pricing/integration-tests/__fixtures__/money-amount/data.ts
  packages/pricing/integration-tests/__fixtures__/money-amount/index.ts
  packages/pricing/integration-tests/__fixtures__/price-set-money-amount/data.ts
  packages/pricing/integration-tests/__fixtures__/price-set/index.ts
  packages/pricing/integration-tests/__fixtures__/seed-price-data.ts
  packages/pricing/integration-tests/__tests__/services/pricing-module/calculate-price.spec.ts
  packages/pricing/integration-tests/__tests__/services/pricing-module/money-amount.spec.ts
  packages/pricing/integration-tests/__tests__/services/pricing-module/price-list.spec.ts
  packages/pricing/integration-tests/__tests__/services/pricing-module/price-rule.spec.ts
  packages/pricing/integration-tests/__tests__/services/pricing-module/price-set.spec.ts
  packages/pricing/src/joiner-config.ts
  packages/pricing/src/migrations/.snapshot-medusa-pricing.json
  packages/pricing/src/migrations/Migration20230929122253.ts
  packages/pricing/src/models/index.ts
  packages/pricing/src/models/money-amount.ts
  packages/pricing/src/models/price-set-money-amount.ts
  packages/pricing/src/repositories/pricing.ts
  packages/pricing/src/scripts/seed.ts
  packages/pricing/src/services/pricing-module.ts
  packages/pricing/src/types/repositories/index.ts
  packages/pricing/src/types/repositories/money-amount.ts
  packages/types/src/pricing/common/price-set.ts
  packages/types/src/pricing/service.ts
  packages/utils/src/pricing/builders.ts
Labels: automerge, team: medusa

#6780 Update example-logged-in-user.mdx
  www/apps/docs/content/development/api-routes/example-logged-in-user.mdx
Labels: automerge

#6775 feat: shard modules and API integration tests
  .github/workflows/action.yml
  integration-tests/api/__tests__/admin/price-list.js
  integration-tests/api/__tests__/store/cart/cart.js
  integration-tests/api/jest.config.js
  integration-tests/api/package.json
  integration-tests/jest.config.js
  integration-tests/modules/__tests__/cart/store/carts.spec.ts
  integration-tests/modules/jest.config.js
  integration-tests/modules/package.json
  integration-tests/setup-env.js
  package.json
  turbo.json
  yarn.lock
Labels: automerge, team: medusa

#6785 chore: add TSDocs to the API Key Module
  packages/types/src/api-key/common/api-key.ts
  packages/types/src/api-key/mutations/api-key.ts
  packages/types/src/api-key/service.ts
Labels: automerge, team: medusa

#6769 feat: List products middleware
  integration-tests/api/__tests__/admin/product.js
  packages/medusa/src/api-v2/admin/products/middlewares.ts
  packages/medusa/src/api-v2/admin/products/query-config.ts
  packages/medusa/src/api-v2/admin/products/route.ts
  packages/medusa/src/api-v2/admin/products/utils/index.ts
  packages/medusa/src/api-v2/admin/products/utils/maybe-apply-price-lists-filter.ts
  packages/medusa/src/api-v2/admin/products/utils/maybe-apply-sales-channels-filter.ts
  packages/medusa/src/api-v2/admin/products/validators.ts
  packages/medusa/src/api-v2/admin/sales-channels/route.ts
Labels: team: medusa

#6737 feat(core-flows): Use remote link methods to dismiss all links related to inventory item
  packages/core-flows/src/common/steps/remove-remote-links.ts
  packages/core-flows/src/inventory/steps/deatach-inventory-items.ts
  packages/core-flows/src/inventory/steps/index.ts
  packages/core-flows/src/inventory/workflows/delete-inventory-items.ts
Labels: team: medusa

#6790 fix: revert no server start
  packages/medusa/src/commands/start.js
Labels: automerge, team: medusa

#6713 feat(dashboard) admin 3.0 return creation
  packages/admin-next/dashboard/public/locales/en-US/translation.json
  packages/admin-next/dashboard/src/lib/cast-number.ts
  packages/admin-next/dashboard/src/lib/rma.ts
  packages/admin-next/dashboard/src/providers/router-provider/v1.tsx
  packages/admin-next/dashboard/src/routes/orders/order-create-return/components/order-create-return-form/constants.ts
  packages/admin-next/dashboard/src/routes/orders/order-create-return/components/order-create-return-form/index.ts
  packages/admin-next/dashboard/src/routes/orders/order-create-return/components/order-create-return-form/order-create-return-details/index.ts
  packages/admin-next/dashboard/src/routes/orders/order-create-return/components/order-create-return-form/order-create-return-details/order-create-return-details.tsx
  packages/admin-next/dashboard/src/routes/orders/order-create-return/components/order-create-return-form/order-create-return-details/return-item.tsx
  packages/admin-next/dashboard/src/routes/orders/order-create-return/components/order-create-return-form/order-create-return-form.tsx
  packages/admin-next/dashboard/src/routes/orders/order-create-return/components/order-create-return-form/order-create-return-item-table/index.ts
  packages/admin-next/dashboard/src/routes/orders/order-create-return/components/order-create-return-form/order-create-return-item-table/order-create-return-item-table.tsx
  packages/admin-next/dashboard/src/routes/orders/order-create-return/components/order-create-return-form/order-create-return-item-table/use-return-item-table-columns.tsx
  packages/admin-next/dashboard/src/routes/orders/order-create-return/components/order-create-return-form/order-create-return-item-table/use-return-item-table-filters.tsx
  packages/admin-next/dashboard/src/routes/orders/order-create-return/components/order-create-return-form/order-create-return-item-table/use-return-item-table-query.tsx
  packages/admin-next/dashboard/src/routes/orders/order-create-return/index.ts
  packages/admin-next/dashboard/src/routes/orders/order-create-return/order-create-return.tsx
  packages/admin-next/dashboard/src/routes/orders/order-detail/components/order-summary-section/order-summary-section.tsx
  packages/admin-ui/ui/src/domain/orders/details/returns/index.tsx
Labels: automerge, team: medusa

#6803 fix: make module test runner configurable
  .changeset/blue-pumas-promise.md
  packages/medusa-test-utils/src/module-test-runner.ts
Labels: team: medusa

#6743 feat(core-flows, types, medusa): Add Update location level endpoint for api-v2
  integration-tests/modules/__tests__/inventory/index.spec.ts
  packages/core-flows/src/inventory/steps/index.ts
  packages/core-flows/src/inventory/steps/update-inventory-levels.ts
  packages/core-flows/src/inventory/workflows/index.ts
  packages/core-flows/src/inventory/workflows/update-inventory-levels.ts
  packages/medusa/src/api-v2/admin/inventory-items/[id]/location-levels/[location_id]/route.ts
  packages/medusa/src/api-v2/admin/inventory-items/middlewares.ts
  packages/medusa/src/api-v2/admin/inventory-items/query-config.ts
  packages/medusa/src/api-v2/admin/inventory-items/validators.ts
  packages/types/src/inventory/common/inventory-level.ts
  packages/types/src/inventory/mutations/inventory-level.ts
Labels: team: medusa

#6792 feat: Add `successRedirectUrl` to auth options
  integration-tests/api/__tests__/admin/__snapshots__/auth.js.snap
  integration-tests/api/__tests__/admin/auth.js
  integration-tests/api/package.json
  integration-tests/helpers/admin-seeder.js
  integration-tests/helpers/create-admin-user.ts
  packages/auth/src/providers/google.ts
  packages/auth/src/services/auth-user.ts
  packages/medusa/src/api-v2/auth/[scope]/[auth_provider]/callback/route.ts
  packages/medusa/src/api-v2/auth/[scope]/[auth_provider]/route.ts
  packages/medusa/src/api-v2/auth/middlewares.ts
  packages/types/src/auth/common/provider.ts
Labels: team: medusa

#6816 update prefix for inventory-next reservation item
  .changeset/warm-ads-invent.md
  packages/inventory-next/src/models/reservation-item.ts
Labels: team: medusa

#6802 Fix/pricing create missmatch
  packages/pricing/integration-tests/__tests__/services/pricing-module/price-rule.spec.ts
  packages/pricing/integration-tests/__tests__/services/pricing-module/price-set.spec.ts
  packages/pricing/src/models/price-rule.ts
  packages/pricing/src/models/price-set.ts
  packages/pricing/src/models/price.ts
  packages/pricing/src/services/pricing-module.ts
Labels: team: medusa

#6663 feat(dashboard): Price List configurations section
  packages/admin-next/dashboard/public/locales/en-US/translation.json
  packages/admin-next/dashboard/src/routes/discounts/discount-detail/discount-detail.tsx
  packages/admin-next/dashboard/src/routes/orders/order-detail/order-detail.tsx
  packages/admin-next/dashboard/src/routes/pricing/pricing-detail/components/pricing-configuration-section/index.ts
  packages/admin-next/dashboard/src/routes/pricing/pricing-detail/components/pricing-configuration-section/pricing-configuration-section.tsx
  packages/admin-next/dashboard/src/routes/pricing/pricing-detail/components/pricing-general-section/pricing-general-section.tsx
  packages/admin-next/dashboard/src/routes/pricing/pricing-detail/pricing-detail.tsx
  packages/admin-next/dashboard/src/routes/products/product-detail/product-detail.tsx
Labels: automerge, team: medusa

#6779 feat(dashboard, ui): Product image modals
  .changeset/curvy-coins-stare.md
  packages/admin-next/dashboard/public/locales/en-US/translation.json
  packages/admin-next/dashboard/src/components/route-modal/route-form/route-form.tsx
  packages/admin-next/dashboard/src/providers/router-provider/v1.tsx
  packages/admin-next/dashboard/src/providers/theme-provider/theme-context.tsx
  packages/admin-next/dashboard/src/routes/products/product-detail/components/product-media-section/product-media-section.tsx
  packages/admin-next/dashboard/src/routes/products/product-gallery/index.ts
  packages/admin-next/dashboard/src/routes/products/product-gallery/product-gallery.tsx
  packages/admin-next/dashboard/src/routes/products/product-media/components/edit-product-media-form/edit-product-media-form.tsx
  packages/admin-next/dashboard/src/routes/products/product-media/components/edit-product-media-form/index.ts
  packages/admin-next/dashboard/src/routes/products/product-media/components/product-media-gallery/index.ts
  packages/admin-next/dashboard/src/routes/products/product-media/components/product-media-gallery/product-media-gallery.tsx
  packages/admin-next/dashboard/src/routes/products/product-media/components/product-media-view/index.ts
  packages/admin-next/dashboard/src/routes/products/product-media/components/product-media-view/product-media-view-context.tsx
  packages/admin-next/dashboard/src/routes/products/product-media/components/product-media-view/product-media-view.tsx
  packages/admin-next/dashboard/src/routes/products/product-media/components/product-media-view/use-product-media-view.tsx
  packages/admin-next/dashboard/src/routes/products/product-media/index.ts
  packages/admin-next/dashboard/src/routes/products/product-media/product-media.tsx
  packages/design-system/ui/src/components/hint/hint.tsx
Labels: automerge, team: medusa

#6787 feat(core-flows, medusa): add create stock location endpoint for api-v2
  .changeset/six-flies-dress.md
  integration-tests/api/__tests__/admin/stock-location/index.spec.ts
  integration-tests/api/medusa-config.js
  packages/core-flows/src/index.ts
  packages/core-flows/src/stock-location/index.ts
  packages/core-flows/src/stock-location/steps/create-stock-locations.ts
  packages/core-flows/src/stock-location/steps/index.ts
  packages/core-flows/src/stock-location/workflows/create-stock-locations.ts
  packages/core-flows/src/stock-location/workflows/index.ts
  packages/medusa/src/api-v2/admin/stock-locations/middlewares.ts
  packages/medusa/src/api-v2/admin/stock-locations/query-config.ts
  packages/medusa/src/api-v2/admin/stock-locations/route.ts
  packages/medusa/src/api-v2/admin/stock-locations/validators.ts
  packages/medusa/src/api-v2/middlewares.ts
Labels: team: medusa

#6729 feat(create-medusa-app): Added --v2 option
  .changeset/big-kings-trade.md
  packages/create-medusa-app/src/commands/create.ts
  packages/create-medusa-app/src/index.ts
  packages/create-medusa-app/src/utils/clone-repo.ts
  packages/create-medusa-app/src/utils/prepare-project.ts
Labels: automerge, team: medusa

#6815 feat(dashboard): Order timeline
  packages/admin-next/dashboard/public/locales/en-US/translation.json
  packages/admin-next/dashboard/src/hooks/use-date.tsx
  packages/admin-next/dashboard/src/i18n/config.ts
  packages/admin-next/dashboard/src/routes/orders/order-detail/components/order-activity-section/index.ts
  packages/admin-next/dashboard/src/routes/orders/order-detail/components/order-activity-section/order-activity-section.tsx
  packages/admin-next/dashboard/src/routes/orders/order-detail/components/order-activity-section/order-note-form.tsx
  packages/admin-next/dashboard/src/routes/orders/order-detail/components/order-activity-section/order-timeline.tsx
  packages/admin-next/dashboard/src/routes/orders/order-detail/components/order-fulfillment-section/order-fulfillment-section.tsx
  packages/admin-next/dashboard/src/routes/orders/order-detail/constants.ts
  packages/admin-next/dashboard/src/routes/orders/order-detail/order-detail.tsx
Labels: automerge, team: medusa

#6801 feat(types, medusa, core-flows): add delete-stock-location endpoint to api-v2
  .changeset/friendly-planes-kiss.md
  integration-tests/api/__tests__/admin/stock-location/index.spec.ts
  packages/core-flows/src/stock-location/steps/delete-stock-locations.ts
  packages/core-flows/src/stock-location/steps/index.ts
  packages/core-flows/src/stock-location/workflows/delete-stock-locations.ts
  packages/core-flows/src/stock-location/workflows/index.ts
  packages/medusa/src/api-v2/admin/stock-locations/[id]/route.ts
  packages/types/src/stock-location/service-next.ts
Labels: team: medusa

#6791 feat(medusa, core-flows): add retrieve stock location endpoint to api-v2
  .changeset/yellow-moose-laugh.md
  integration-tests/api/__tests__/admin/stock-location/index.spec.ts
  packages/medusa/src/api-v2/admin/stock-locations/[id]/route.ts
  packages/medusa/src/api-v2/admin/stock-locations/middlewares.ts
  packages/medusa/src/api-v2/admin/stock-locations/validators.ts
Labels: team: medusa

#6680 feat(dashboard): Draft orders create
  .changeset/thirty-moons-doubt.md
  packages/admin-next/dashboard/public/locales/en-US/translation.json
  packages/admin-next/dashboard/src/components/common/combobox/combobox.tsx
  packages/admin-next/dashboard/src/components/common/conditional-tooltip/conditional-tooltip.tsx
  packages/admin-next/dashboard/src/components/common/conditional-tooltip/index.ts
  packages/admin-next/dashboard/src/components/common/customer-info/customer-info.tsx
  packages/admin-next/dashboard/src/components/common/divider/divider.tsx
  packages/admin-next/dashboard/src/components/common/divider/index.ts
  packages/admin-next/dashboard/src/components/common/thumbnail/thumbnail.tsx
  packages/admin-next/dashboard/src/components/layout/split-view/split-view.tsx
  packages/admin-next/dashboard/src/lib/addresses.ts
  packages/admin-next/dashboard/src/providers/router-provider/v1.tsx
  packages/admin-next/dashboard/src/routes/draft-orders/draft-order-create/components/create-draft-order-form/constants.ts
  packages/admin-next/dashboard/src/routes/draft-orders/draft-order-create/components/create-draft-order-form/context.ts
  packages/admin-next/dashboard/src/routes/draft-orders/draft-order-create/components/create-draft-order-form/create-draft-order-details/create-draft-order-address-details.tsx
  packages/admin-next/dashboard/src/routes/draft-orders/draft-order-create/components/create-draft-order-form/create-draft-order-details/create-draft-order-customer-details.tsx
  packages/admin-next/dashboard/src/routes/draft-orders/draft-order-create/components/create-draft-order-form/create-draft-order-details/create-draft-order-details.tsx
  packages/admin-next/dashboard/src/routes/draft-orders/draft-order-create/components/create-draft-order-form/create-draft-order-details/create-draft-order-items-details.tsx
  packages/admin-next/dashboard/src/routes/draft-orders/draft-order-create/components/create-draft-order-form/create-draft-order-details/create-draft-order-region-details.tsx
  packages/admin-next/dashboard/src/routes/draft-orders/draft-order-create/components/create-draft-order-form/create-draft-order-details/create-draft-order-shipping-method-details.tsx
  packages/admin-next/dashboard/src/routes/draft-orders/draft-order-create/components/create-draft-order-form/create-draft-order-details/index.ts
  packages/admin-next/dashboard/src/routes/draft-orders/draft-order-create/components/create-draft-order-form/create-draft-order-drawer/add-custom-item-drawer.tsx
  packages/admin-next/dashboard/src/routes/draft-orders/draft-order-create/components/create-draft-order-form/create-draft-order-drawer/add-variant-drawer.tsx
  packages/admin-next/dashboard/src/routes/draft-orders/draft-order-create/components/create-draft-order-form/create-draft-order-drawer/create-draft-order-drawer.tsx
  packages/admin-next/dashboard/src/routes/draft-orders/draft-order-create/components/create-draft-order-form/create-draft-order-drawer/index.ts
  packages/admin-next/dashboard/src/routes/draft-orders/draft-order-create/components/create-draft-order-form/create-draft-order-form.tsx
  packages/admin-next/dashboard/src/routes/draft-orders/draft-order-create/components/create-draft-order-form/create-draft-order-summary/create-draft-order-custom-items-summary.tsx
  packages/admin-next/dashboard/src/routes/draft-orders/draft-order-create/components/create-draft-order-form/create-draft-order-summary/create-draft-order-customer-summary.tsx
  packages/admin-next/dashboard/src/routes/draft-orders/draft-order-create/components/create-draft-order-form/create-draft-order-summary/create-draft-order-fields-summary.tsx
  packages/admin-next/dashboard/src/routes/draft-orders/draft-order-create/components/create-draft-order-form/create-draft-order-summary/create-draft-order-summary.tsx
  packages/admin-next/dashboard/src/routes/draft-orders/draft-order-create/components/create-draft-order-form/create-draft-order-summary/create-draft-order-total-summary.tsx
  packages/admin-next/dashboard/src/routes/draft-orders/draft-order-create/components/create-draft-order-form/create-draft-order-summary/create-draft-order-variant-items-summary.tsx
  packages/admin-next/dashboard/src/routes/draft-orders/draft-order-create/components/create-draft-order-form/create-draft-order-summary/index.ts
  packages/admin-next/dashboard/src/routes/draft-orders/draft-order-create/components/create-draft-order-form/hooks.ts
  packages/admin-next/dashboard/src/routes/draft-orders/draft-order-create/components/create-draft-order-form/index.ts
  packages/admin-next/dashboard/src/routes/draft-orders/draft-order-create/components/create-draft-order-form/types.ts
  packages/admin-next/dashboard/src/routes/draft-orders/draft-order-create/draft-order-create.tsx
  packages/admin-next/dashboard/src/routes/draft-orders/draft-order-create/index.ts
  packages/admin-next/dashboard/src/routes/draft-orders/draft-order-detail/components/draft-order-summary-section/draft-order-summary-section.tsx
  packages/admin-next/dashboard/src/routes/draft-orders/draft-order-list/draft-order-list.tsx
  packages/admin-next/dashboard/src/routes/products/product-detail/components/product-variant-section/use-variant-table-filters.tsx
  packages/admin-next/dashboard/src/routes/products/product-detail/components/product-variant-section/use-variant-table-query.tsx
  packages/admin-next/dashboard/src/routes/regions/region-create-shipping-option/components/create-shipping-option-form/create-shipping-option-form.tsx
  packages/admin-next/dashboard/src/routes/regions/region-edit-shipping-option/components/edit-shipping-option-form/edit-shipping-option-form.tsx
  packages/design-system/ui-preset/src/theme/extension/theme.ts
  packages/design-system/ui-preset/src/theme/tokens/colors.ts
  packages/design-system/ui-preset/src/theme/tokens/components.ts
  packages/design-system/ui-preset/src/theme/tokens/effects.ts
  packages/design-system/ui-preset/src/theme/tokens/typography.ts
  packages/design-system/ui/src/components/select/select.tsx
  packages/generated/client-types/src/lib/models/AdminGetProductsVariantsParams.ts
  packages/generated/client-types/src/lib/models/AdminGetVariantsParams.ts
  packages/medusa/src/api/routes/admin/products/list-variants.ts
  packages/medusa/src/api/routes/admin/variants/list-variants.ts
Labels: automerge, team: medusa

#6812 fix(medusa-oas-cli): fix tool not working in Medusa backends
  .changeset/serious-panthers-allow.md
  packages/generated/client-types/scripts/build.ts
  packages/oas/medusa-oas-cli/src/__tests__/command-oas.test.ts
  packages/oas/medusa-oas-cli/src/command-oas.ts
  packages/oas/oas-github-ci/scripts/build-openapi.js
  www/apps/api-reference/app/api/download/[area]/route.ts
Labels: team: medusa

#6819 feat: Create user account
  .changeset/perfect-pigs-report.md
  integration-tests/api/__tests__/admin/user.js
  packages/core-flows/src/user/workflows/create-user-account.ts
  packages/core-flows/src/user/workflows/index.ts
  packages/medusa/src/api-v2/admin/invites/accept/route.ts
  packages/medusa/src/api-v2/admin/users/middlewares.ts
  packages/medusa/src/api-v2/admin/users/route.ts
  packages/medusa/src/utils/authenticate-middleware.ts
Labels: team: medusa

#6818 Fix/pricing create price lists
  .changeset/spotty-mirrors-thank.md
  packages/pricing/src/models/price-list-rule-value.ts
  packages/pricing/src/models/price-list-rule.ts
  packages/pricing/src/models/price-list.ts
  packages/pricing/src/models/price-set.ts
  packages/pricing/src/services/pricing-module.ts
Labels: team: medusa

#6824 fix(admin-ui, admin): Add missing regions relation
  .changeset/angry-bottles-happen.md
  packages/admin-ui/ui/src/domain/discounts/details/index.tsx
Labels: team: medusa

#6826 chore: Change minor bump to patch in changesets
  .changeset/calm-spoons-look.md
  .changeset/tidy-gifts-talk.md
Labels: team: medusa

#6828 docs: added doc pages for v1.20.4
  packages/types/src/common/config-module.ts
  www/apps/docs/content/deployments/server/deploying-on-railway.md
  www/apps/docs/content/development/worker-mode/index.mdx
  www/apps/docs/content/homepage.mdx
  www/apps/docs/sidebars.js
Labels: automerge, team: medusa

#6798 feat: Support invites in CLI for V2
  integration-tests/modules/__tests__/invites/accept-invite.spec.ts
  integration-tests/modules/__tests__/users/create-user.spec.ts
  packages/core-flows/src/invite/workflows/accept-invite.ts
  packages/fulfillment/integration-tests/__tests__/fulfillment-module-service/service-zone.spec.ts
  packages/medusa/src/api-v2/admin/invites/accept/route.ts
  packages/medusa/src/api-v2/admin/invites/validators.ts
  packages/medusa/src/commands/user.js
  packages/types/src/workflow/invite/accept-invite.ts
Labels: automerge, team: medusa

#6800 feat(core-flows, medusa): add update stock location endpoint to api-v2
  .changeset/silent-files-kiss.md
  integration-tests/api/__tests__/admin/stock-location/index.spec.ts
  packages/core-flows/src/stock-location/steps/index.ts
  packages/core-flows/src/stock-location/steps/update-stock-locations.ts
  packages/core-flows/src/stock-location/workflows/index.ts
  packages/core-flows/src/stock-location/workflows/update-stock-locations.ts
  packages/medusa/src/api-v2/admin/stock-locations/[id]/route.ts
  packages/medusa/src/api-v2/admin/stock-locations/middlewares.ts
  packages/medusa/src/api-v2/admin/stock-locations/validators.ts
  packages/stock-location-next/integration-tests/__tests__/stock-location-module-service.spec.ts
  packages/stock-location-next/src/services/stock-location.ts
  packages/types/src/stock-location/common.ts
  packages/types/src/stock-location/service-next.ts
Labels: team: medusa

#6836 feat(utils): custom serialization that allows for non self ref
  .changeset/fast-teachers-greet.md
  packages/utils/src/dal/index.ts
  packages/utils/src/dal/mikro-orm/__fixtures__/utils.ts
  packages/utils/src/dal/mikro-orm/__tests__/mikro-orm-serializer.spec.ts
  packages/utils/src/dal/mikro-orm/mikro-orm-repository.ts
  packages/utils/src/dal/mikro-orm/mikro-orm-serializer.ts
  packages/utils/src/dal/mikro-orm/utils.ts
Labels: team: medusa

#6842 fix(utils): Mikro orm prop filtering should check existence
  .changeset/light-socks-collect.md
  integration-tests/modules/__tests__/inventory/index.spec.ts
  integration-tests/modules/__tests__/promotion/admin/list-campaigns.spec.ts
  packages/utils/src/dal/mikro-orm/__fixtures__/utils.ts
  packages/utils/src/dal/mikro-orm/__tests__/mikro-orm-serializer.spec.ts
  packages/utils/src/dal/mikro-orm/mikro-orm-serializer.ts
Labels: automerge, team: medusa

#6848 fix: integration tests modules expectations
  integration-tests/modules/__tests__/promotion/admin/list-promotions.spec.ts
  integration-tests/modules/__tests__/promotion/admin/retrieve-campaign.spec.ts
  packages/admin-ui/jest.config.js
  packages/api-key/jest.config.js
  packages/auth/jest.config.js
  packages/cache-inmemory/jest.config.js
  packages/cache-redis/jest.config.js
  packages/cart/jest.config.js
  packages/core-flows/jest.config.js
  packages/currency/jest.config.js
  packages/customer/jest.config.js
  packages/event-bus-local/jest.config.js
  packages/event-bus-redis/jest.config.js
  packages/inventory-next/jest.config.js
  packages/inventory/jest.config.js
  packages/link-modules/jest.config.js
  packages/medusa-cli/jest.config.js
  packages/medusa-core-utils/jest.config.js
  packages/medusa-dev-cli/jest.config.js
  packages/modules-sdk/jest.config.js
  packages/oas/openapi-typescript-codegen/jest.config.js
  packages/orchestration/jest.config.js
  packages/order/jest.config.js
  packages/payment/jest.config.js
  packages/pricing/integration-tests/__tests__/services/pricing-module/price-list.spec.ts
  packages/pricing/integration-tests/__tests__/services/pricing-module/rule-type.spec.ts
  packages/pricing/jest.config.js
  packages/promotion/integration-tests/__tests__/services/promotion-module/campaign.spec.ts
  packages/promotion/integration-tests/__tests__/services/promotion-module/promotion.spec.ts
  packages/promotion/jest.config.js
  packages/region/jest.config.js
  packages/sales-channel/jest.config.js
  packages/stock-location-next/jest.config.js
  packages/stock-location/jest.config.js
  packages/store/jest.config.js
  packages/user/jest.config.js
  packages/utils/jest.config.js
  packages/workflow-engine-inmemory/integration-tests/__tests__/index.spec.ts
  packages/workflow-engine-inmemory/jest.config.js
  packages/workflow-engine-redis/jest.config.js
  packages/workflows-sdk/jest.config.js
Labels: automerge, team: medusa

#6847 fix: bust cache builds
  packages/pricing/integration-tests/__tests__/services/pricing-module/price-list-rule.spec.ts
  turbo.json
Labels: team: medusa

#6843 fix(dashboard): user loading and V2 flag parsing
  packages/admin-next/dashboard/src/components/layout/shell/shell.tsx
  packages/admin-next/dashboard/src/vite-env.d.ts
Labels: team: medusa

#6845 Fix/pricing data manipulation
  .changeset/cool-pigs-rush.md
  packages/pricing/src/services/__tests__/index.spec.ts
  packages/pricing/src/services/pricing-module.ts
Labels: automerge, team: medusa

#6741 Feat(medusa): add list location levels endpoint in api v2
  integration-tests/modules/__tests__/inventory/index.spec.ts
  packages/medusa/src/api-v2/admin/inventory-items/[id]/location-levels/route.ts
  packages/medusa/src/api-v2/admin/inventory-items/middlewares.ts
  packages/medusa/src/api-v2/admin/inventory-items/validators.ts
Labels: team: medusa

#6794 chore: add tsdocs for the Sales Channel Module
  packages/types/src/sales-channel/mutations.ts
  packages/types/src/sales-channel/service.ts
Labels: type: docs, automerge, team: medusa

#6855 chore: remove noop tests
  integration-tests/modules/__tests__/workflow-engine/tests.ts
  packages/auth/package.json
  packages/auth/src/services/__tests__/index.spec.ts
  packages/cart/integration-tests/__tests__/index.spec.ts
  packages/cart/package.json
  packages/cart/src/services/__tests__/index.spec.ts
  packages/customer/package.json
  packages/customer/src/services/__tests__/index.spec.ts
  packages/fulfillment/package.json
  packages/link-modules/package.json
  packages/medusa-dev-cli/package.json
  packages/payment/integration-tests/__tests__/index.spec.ts
  packages/payment/package.json
  packages/payment/src/services/__tests__/index.spec.ts
  packages/promotion/integration-tests/__tests__/index.spec.ts
  packages/promotion/package.json
  packages/promotion/src/services/__tests__/index.spec.ts
  packages/region/package.json
  packages/region/src/services/__tests__/index.spec.ts
  packages/user/package.json
  packages/user/src/services/__tests__/index.spec.ts
  packages/workflow-engine-inmemory/package.json
  packages/workflow-engine-inmemory/src/services/__tests__/index.spec.ts
  packages/workflow-engine-redis/package.json
  packages/workflow-engine-redis/src/services/__tests__/index.spec.ts
Labels: team: medusa

#6857 fix(): medusa test runner
  .changeset/shy-squids-walk.md
  packages/medusa-test-utils/src/medusa-test-runner-utils/use-db.js
  packages/medusa-test-utils/src/medusa-test-runner.ts
Labels: team: medusa

#6851 feat: API key sales channel link
  .changeset/loud-dogs-learn.md
  integration-tests/api/__tests__/admin/api-key.spec.ts
  integration-tests/modules/__tests__/api-key/admin/api-key.spec.ts
  packages/api-key/src/joiner-config.ts
  packages/api-key/src/models/api-key.ts
  packages/core-flows/src/api-key/steps/associate-sales-channels-with-publishable-keys.ts
  packages/core-flows/src/api-key/steps/index.ts
  packages/core-flows/src/api-key/steps/validate-sales-channel-exists.ts
  packages/core-flows/src/api-key/workflows/add-sales-channels-to-publishable-key.ts
  packages/core-flows/src/api-key/workflows/index.ts
  packages/link-modules/src/definitions/publishable-api-key-sales-channel.ts
  packages/medusa/src/api-v2/admin/api-keys/[id]/revoke/route.ts
  packages/medusa/src/api-v2/admin/api-keys/[id]/route.ts
  packages/medusa/src/api-v2/admin/api-keys/[id]/sales-channels/batch/add/route.ts
  packages/medusa/src/api-v2/admin/api-keys/middlewares.ts
  packages/medusa/src/api-v2/admin/api-keys/query-config.ts
  packages/medusa/src/api-v2/admin/api-keys/route.ts
  packages/medusa/src/api-v2/admin/api-keys/validators.ts
  packages/medusa/src/api-v2/admin/stock-locations/[id]/route.ts
  packages/medusa/src/joiner-configs/index.ts
  packages/medusa/src/joiner-configs/publishable-api-key-service.ts
Labels: automerge, team: medusa

#6858 chore(medusa-test-utils): create declaration file
  .changeset/polite-shoes-matter.md
  packages/medusa-test-utils/tsconfig.json
  packages/medusa/package.json
Labels: automerge, team: medusa

#6770 docs-util: added AI generator
  docs-util/packages/docblock-generator/.env.sample
  docs-util/packages/docblock-generator/package.json
  docs-util/packages/docblock-generator/src/classes/generators/docblock.ts
  docs-util/packages/docblock-generator/src/classes/generators/oas.ts
  docs-util/packages/docblock-generator/src/classes/helpers/ai-generator.ts
  docs-util/packages/docblock-generator/src/classes/helpers/knowledge-base-factory.ts
  docs-util/packages/docblock-generator/src/classes/kinds/default.ts
  docs-util/packages/docblock-generator/src/classes/kinds/dto-property.ts
  docs-util/packages/docblock-generator/src/classes/kinds/function.ts
  docs-util/packages/docblock-generator/src/classes/kinds/medusa-react-hooks.ts
  docs-util/packages/docblock-generator/src/classes/kinds/oas.ts
  docs-util/packages/docblock-generator/src/classes/kinds/registry.ts
  docs-util/packages/docblock-generator/src/classes/kinds/source-file.ts
  docs-util/packages/docblock-generator/src/utils/str-formatting.ts
  docs-util/yarn.lock
  packages/types/src/order/service.ts
Labels: automerge, team: medusa

#6813 feat: Modify the abstract repository upsert to handle subresources as per convention
  .changeset/warm-pumas-crash.md
  packages/types/src/dal/index.ts
  packages/types/src/dal/repository-service.ts
  packages/types/src/modules-sdk/internal-module-service.ts
  packages/utils/package.json
  packages/utils/src/dal/mikro-orm/__fixtures__/utils.ts
  packages/utils/src/dal/mikro-orm/integration-tests/__tests__/mikro-orm-repository.spec.ts
  packages/utils/src/dal/mikro-orm/mikro-orm-repository.ts
  packages/utils/src/modules-sdk/internal-module-service-factory.ts
Labels: team: medusa

#6788 feat(medusa, stock-location-next): add list-stock-locations endpoint to api-v2
  .changeset/wild-houses-warn.md
  integration-tests/api/__tests__/admin/stock-location/index.spec.ts
  packages/medusa/src/api-v2/admin/stock-locations/middlewares.ts
  packages/medusa/src/api-v2/admin/stock-locations/route.ts
  packages/medusa/src/api-v2/admin/stock-locations/utils/apply-sales-channel-filter.ts
  packages/medusa/src/api-v2/admin/stock-locations/validators.ts
  packages/stock-location-next/src/repositories/index.ts
  packages/stock-location-next/src/repositories/stock-location.ts
  packages/stock-location-next/src/services/index.ts
  packages/stock-location-next/src/services/stock-location-module.ts
Labels: team: medusa

#6860 chore(workflows-sdk): add idempotencyKey to shared context
  .changeset/olive-cows-do.md
  packages/orchestration/src/workflow/workflow-manager.ts
  packages/types/src/shared-context.ts
  packages/workflows-sdk/src/utils/composer/create-step.ts
  packages/workflows-sdk/src/utils/composer/hook.ts
Labels: automerge, team: medusa

#6869 fix(workflow-engine-*): subscribe response and error
  .changeset/brown-spoons-sparkle.md
  packages/orchestration/src/transaction/transaction-orchestrator.ts
  packages/workflow-engine-inmemory/src/services/workflow-orchestrator.ts
  packages/workflow-engine-redis/src/services/workflow-orchestrator.ts
  packages/workflow-engine-redis/src/utils/workflow-orchestrator-storage.ts
  packages/workflows-sdk/src/utils/composer/helpers/resolve-value.ts
Labels: automerge, team: medusa

#6866 feat: Refactor the product module definitions and implementation
  integration-tests/api/__tests__/admin/product.js
  integration-tests/factories/simple-product-variant-factory.ts
  integration-tests/helpers/product-seeder.js
  packages/core-flows/src/definition/cart/utils/prepare-line-item-data.ts
  packages/core-flows/src/handlers/product/update-product-variants-prepare-data.ts
  packages/core-flows/src/product/steps/update-product-options.ts
  packages/core-flows/src/product/workflows/create-products.ts
  packages/medusa/src/api-v2/admin/products/helpers.ts
  packages/medusa/src/api-v2/admin/products/route.ts
  packages/medusa/src/api-v2/admin/products/validators.ts
  packages/product/integration-tests/__fixtures__/product/data/create-product.ts
  packages/product/integration-tests/__tests__/services/product-collection/index.ts
  packages/product/integration-tests/__tests__/services/product-module-service/product-collections.spec.ts
  packages/product/integration-tests/__tests__/services/product-module-service/product-options.spec.ts
  packages/product/integration-tests/__tests__/services/product-module-service/product-tags.spec.ts
  packages/product/integration-tests/__tests__/services/product-module-service/products.spec.ts
  packages/product/integration-tests/__tests__/services/product-option/index.ts
  packages/product/integration-tests/__tests__/services/product-tag/index.ts
  packages/product/integration-tests/__tests__/services/product/index.ts
  packages/product/src/migrations/.snapshot-medusa-products.json
  packages/product/src/migrations/InitialSetup20240315083440.ts
  packages/product/src/migrations/InitialSetup20240325200756.ts
  packages/product/src/models/product-category.ts
  packages/product/src/models/product-collection.ts
  packages/product/src/models/product-option-value.ts
  packages/product/src/models/product-option.ts
  packages/product/src/models/product-variant-option.ts
  packages/product/src/models/product-variant.ts
  packages/product/src/models/product.ts
  packages/product/src/services/product-module-service.ts
  packages/product/src/services/product.ts
  packages/product/src/types/index.ts
  packages/product/tsconfig.spec.json
  packages/types/src/product/common.ts
  packages/types/src/product/service.ts
Labels: automerge, team: medusa

#6849 feat(modules-sdk): remote query retrieve
  .changeset/young-scissors-shake.md
  integration-tests/modules/__tests__/modules/remote-query.spec.ts
  packages/modules-sdk/src/medusa-app.ts
  packages/modules-sdk/src/remote-query.ts
  packages/orchestration/src/__mocks__/joiner/mock_data.ts
  packages/orchestration/src/__tests__/joiner/remote-joiner-data.ts
  packages/orchestration/src/__tests__/joiner/remote-joiner.ts
  packages/orchestration/src/joiner/remote-joiner.ts
  packages/types/src/joiner/index.ts
  packages/types/src/modules-sdk/index.ts
Labels: automerge, team: medusa

#6872 feat: Implemented price set update with prices and aligned pricing API
  .changeset/fluffy-mugs-sort.md
  packages/core-flows/src/pricing/steps/update-price-sets.ts
  packages/core-flows/src/pricing/steps/update-pricing-rule-types.ts
  packages/pricing/integration-tests/__tests__/services/pricing-module/price-set.spec.ts
  packages/pricing/src/services/pricing-module.ts
  packages/pricing/src/types/services/index.ts
  packages/pricing/src/types/services/price-set.ts
  packages/types/src/pricing/common/price-set.ts
  packages/types/src/pricing/service.ts
Labels: automerge, team: medusa

#6827 feat(medusa-react,medusa,types,dashboard): added empty state + table for promotions list page
  .changeset/angry-fans-collect.md
  packages/admin-next/admin-shared/src/constants.ts
  packages/admin-next/dashboard/public/locales/$schema.json
  packages/admin-next/dashboard/public/locales/en-US/translation.json
  packages/admin-next/dashboard/src/components/layout-v2/main-layout/main-layout.tsx
  packages/admin-next/dashboard/src/components/table/table-cells/common/code-cell/code-cell.tsx
  packages/admin-next/dashboard/src/components/table/table-cells/common/code-cell/index.ts
  packages/admin-next/dashboard/src/components/table/table-cells/common/text-cell/index.ts
  packages/admin-next/dashboard/src/components/table/table-cells/common/text-cell/text-cell.tsx
  packages/admin-next/dashboard/src/components/table/table-cells/promotion/status-cell/index.ts
  packages/admin-next/dashboard/src/components/table/table-cells/promotion/status-cell/status-cell.tsx
  packages/admin-next/dashboard/src/hooks/table/columns-v2/use-promotion-table-columns.tsx
  packages/admin-next/dashboard/src/hooks/table/filters-v2/use-promotion-table-filters.tsx
  packages/admin-next/dashboard/src/hooks/table/query-v2/use-promotion-table-query.tsx
  packages/admin-next/dashboard/src/lib/api-v2/index.ts
  packages/admin-next/dashboard/src/lib/api-v2/promotion.ts
  packages/admin-next/dashboard/src/lib/promotions.ts
  packages/admin-next/dashboard/src/providers/router-provider/v2.tsx
  packages/admin-next/dashboard/src/v2-routes/promotions/promotion-list/components/promotion-list-table/index.ts
  packages/admin-next/dashboard/src/v2-routes/promotions/promotion-list/components/promotion-list-table/promotion-list-table.tsx
  packages/admin-next/dashboard/src/v2-routes/promotions/promotion-list/index.ts
  packages/admin-next/dashboard/src/v2-routes/promotions/promotion-list/loader.ts
  packages/admin-next/dashboard/src/v2-routes/promotions/promotion-list/promotions-list.tsx
  packages/medusa-react/src/hooks/index.ts
  packages/medusa-react/src/index.ts
  packages/medusa/src/api-v2/admin/index.ts
  packages/medusa/src/api-v2/admin/promotions/index.ts
  packages/medusa/src/api-v2/admin/promotions/route.ts
  packages/medusa/src/api-v2/admin/promotions/types.ts
  packages/medusa/src/api-v2/admin/promotions/validators.ts
  packages/medusa/src/api-v2/index.ts
  packages/medusa/src/index.js
  packages/types/src/common/common.ts
Labels: automerge, team: medusa

#6865 chore: medusa shutdown
  .changeset/yellow-apples-attack.md
  packages/cache-redis/src/services/redis-cache.ts
  packages/event-bus-redis/src/services/event-bus-redis.ts
  packages/medusa-test-utils/src/init-modules.ts
  packages/medusa-test-utils/src/medusa-test-runner-utils/bootstrap-app.js
  packages/medusa-test-utils/src/medusa-test-runner.ts
  packages/medusa/src/commands/start-cluster.js
  packages/medusa/src/commands/start.js
  packages/medusa/src/loaders/express.ts
  packages/medusa/src/loaders/index.ts
  packages/medusa/src/loaders/medusa-app.ts
  packages/medusa/src/loaders/redis.ts
  packages/modules-sdk/src/loaders/utils/load-internal.ts
  packages/modules-sdk/src/medusa-app.ts
  packages/modules-sdk/src/medusa-module.ts
  packages/types/src/modules-sdk/index.ts
  packages/workflow-engine-redis/src/loaders/redis.ts
  packages/workflow-engine-redis/src/services/workflow-orchestrator.ts
  packages/workflow-engine-redis/src/services/workflows-module.ts
  packages/workflow-engine-redis/src/utils/workflow-orchestrator-storage.ts
Labels: team: medusa

#6880 feat: Add v2 product types endpoints
  .changeset/fifty-badgers-crash.md
  packages/core-flows/src/product/steps/create-product-types.ts
  packages/core-flows/src/product/steps/delete-product-types.ts
  packages/core-flows/src/product/steps/index.ts
  packages/core-flows/src/product/steps/update-product-types.ts
  packages/core-flows/src/product/workflows/create-product-types.ts
  packages/core-flows/src/product/workflows/delete-product-types.ts
  packages/core-flows/src/product/workflows/index.ts
  packages/core-flows/src/product/workflows/update-product-types.ts
  packages/medusa/src/api-v2/admin/product-types/[id]/route.ts
  packages/medusa/src/api-v2/admin/product-types/helpers.ts
  packages/medusa/src/api-v2/admin/product-types/middlewares.ts
  packages/medusa/src/api-v2/admin/product-types/query-config.ts
  packages/medusa/src/api-v2/admin/product-types/route.ts
  packages/medusa/src/api-v2/admin/product-types/validators.ts
  packages/medusa/src/api-v2/middlewares.ts
  packages/product/integration-tests/__tests__/services/product-module-service/product-types.spec.ts
  packages/product/src/services/product-module-service.ts
  packages/product/src/types/index.ts
  packages/types/src/product/common.ts
  packages/types/src/product/service.ts
Labels: automerge, team: medusa
