Repository medusajs/medusa, pull requests merged in 2024-02, with the labels that each got.

#6288 Feat(auth): Add user scope field
  integration-tests/plugins/__tests__/customer/store/create-customer.spec.ts
  packages/auth/integration-tests/__fixtures__/auth-user/index.ts
  packages/auth/integration-tests/__tests__/services/auth-user/index.spec.ts
  packages/auth/integration-tests/__tests__/services/module/auth-user.spec.ts
  packages/auth/integration-tests/__tests__/services/providers/username-password.spec.ts
  packages/auth/src/migrations/.snapshot-medusa-auth.json
  packages/auth/src/migrations/Migration20240122041959.ts
  packages/auth/src/migrations/Migration20240201023318.ts
  packages/auth/src/models/auth-provider.ts
  packages/auth/src/models/auth-user.ts
  packages/auth/src/providers/email-password.ts
  packages/auth/src/providers/google.ts
  packages/auth/src/types/services/auth-provider.ts
  packages/auth/src/types/services/auth-user.ts
  packages/medusa/src/api-v2/auth/[scope]/[authProvider]/callback/route.ts
  packages/medusa/src/api-v2/auth/[scope]/[authProvider]/route.ts
  packages/medusa/src/api-v2/store/customers/route.ts
  packages/types/src/auth/common/auth-provider.ts
  packages/types/src/auth/common/auth-user.ts
Labels: team: medusa

#6295 feat(customer): manage default address selection
  integration-tests/plugins/__tests__/customer/admin/create-customer-addresses.ts
  integration-tests/plugins/__tests__/customer/admin/update-customer-address.spec.ts
  packages/core-flows/src/customer/steps/index.ts
  packages/core-flows/src/customer/steps/maybe-unset-default-billing-addresses.ts
  packages/core-flows/src/customer/steps/maybe-unset-default-shipping-addresses.ts
  packages/core-flows/src/customer/steps/utils/index.ts
  packages/core-flows/src/customer/steps/utils/unset-address-for-create.ts
  packages/core-flows/src/customer/steps/utils/unset-address-for-update.ts
  packages/core-flows/src/customer/workflows/create-addresses.ts
  packages/core-flows/src/customer/workflows/update-addresses.ts
  packages/customer/integration-tests/__tests__/services/customer-module/index.spec.ts
  packages/customer/src/services/customer-module.ts
  packages/utils/src/exceptions/index.ts
  packages/utils/src/exceptions/is-duplicate-error.ts
  packages/utils/src/exceptions/postgres-error.ts
  packages/utils/src/index.ts
Labels: automerge, team: medusa

#6263 chore: local workflow proxying methods to pass context
  .changeset/loud-kiwis-promise.md
  integration-tests/plugins/__tests__/promotion/admin/create-campaign.spec.ts
  integration-tests/plugins/__tests__/workflows/product/create-product.ts
  packages/auth/src/services/auth-module.ts
  packages/inventory/src/services/inventory-item.ts
  packages/inventory/src/services/inventory-level.ts
  packages/inventory/src/services/inventory.ts
  packages/inventory/src/services/reservation-item.ts
  packages/link-modules/src/services/link-module-service.ts
  packages/medusa/src/api-v2/admin/campaigns/route.ts
  packages/medusa/src/loaders/index.ts
  packages/medusa/src/types/global.ts
  packages/medusa/src/types/routing.ts
  packages/medusa/src/utils/remote-query-fetch-data.ts
  packages/modules-sdk/src/loaders/utils/load-internal.ts
  packages/modules-sdk/src/remote-query.ts
  packages/orchestration/src/__tests__/joiner/helpers.ts
  packages/orchestration/src/joiner/graphql-ast.ts
  packages/orchestration/src/joiner/helpers.ts
  packages/orchestration/src/joiner/remote-joiner.ts
  packages/orchestration/src/workflow/global-workflow.ts
  packages/orchestration/src/workflow/local-workflow.ts
  packages/orchestration/src/workflow/workflow-manager.ts
  packages/pricing/src/services/pricing-module.ts
  packages/product/src/services/product-module-service.ts
  packages/promotion/src/services/promotion-module.ts
  packages/stock-location/src/services/stock-location.ts
  packages/types/src/shared-context.ts
  packages/utils/src/dal/mikro-orm/mikro-orm-repository.ts
  packages/utils/src/dal/repository.ts
  packages/utils/src/decorators/index.ts
  packages/utils/src/decorators/inject-entity-manager.ts
  packages/utils/src/index.ts
  packages/utils/src/modules-sdk/abstract-service-factory.ts
  packages/utils/src/modules-sdk/decorators/context-parameter.ts
  packages/utils/src/modules-sdk/decorators/index.ts
  packages/utils/src/modules-sdk/decorators/inject-manager.ts
  packages/utils/src/modules-sdk/decorators/inject-shared-context.ts
  packages/utils/src/modules-sdk/decorators/inject-transaction-manager.ts
  packages/workflows-sdk/src/helper/workflow-export.ts
Labels: automerge, team: medusa

#6302 [FIX] [Typo] Cart -> Card
  packages/medusa/src/services/new-totals.ts
Labels: automerge

#6300 feat(): added percentage calculations for all cases
  packages/promotion/integration-tests/__tests__/services/promotion-module/compute-actions.spec.ts
  packages/promotion/integration-tests/__tests__/services/promotion-module/promotion.spec.ts
  packages/promotion/src/utils/compute-actions/buy-get.ts
  packages/promotion/src/utils/compute-actions/items.ts
  packages/promotion/src/utils/compute-actions/shipping-methods.ts
  packages/promotion/src/utils/validations/application-method.ts
  packages/types/src/promotion/common/compute-actions.ts
Labels: automerge, team: medusa

#6312 fix: load custom modules by path
  .changeset/gorgeous-pianos-refuse.md
  packages/modules-sdk/src/__mocks__/inventory-module.ts
  packages/modules-sdk/src/__mocks__/inventory-stock-location-link.ts
  packages/modules-sdk/src/__mocks__/product-inventory-link.ts
  packages/modules-sdk/src/__mocks__/product-module.ts
  packages/modules-sdk/src/__mocks__/stock-location-module.ts
  packages/modules-sdk/src/definitions.ts
  packages/modules-sdk/src/loaders/__tests__/register-modules.ts
  packages/modules-sdk/src/loaders/register-modules.ts
  packages/modules-sdk/src/loaders/utils/load-internal.ts
  packages/modules-sdk/src/medusa-app.ts
  packages/modules-sdk/src/medusa-module.ts
  packages/types/src/modules-sdk/index.ts
Labels: automerge, team: medusa

#6305 feat(auth): Make token auth default
  integration-tests/plugins/__tests__/customer/store/create-customer-addresses.ts
  integration-tests/plugins/__tests__/customer/store/create-customer.spec.ts
  integration-tests/plugins/__tests__/customer/store/delete-customer-address.spec.ts
  integration-tests/plugins/__tests__/customer/store/get-me.spec.ts
  integration-tests/plugins/__tests__/customer/store/list-customer-addresses.ts
  integration-tests/plugins/__tests__/customer/store/update-customer-address.spec.ts
  integration-tests/plugins/helpers/create-authenticated-customer.ts
  integration-tests/plugins/medusa-config.js
  packages/auth/src/providers/google.ts
  packages/auth/src/services/auth-module.ts
  packages/medusa/src/api-v2/auth/[scope]/[authProvider]/callback/route.ts
  packages/medusa/src/api-v2/auth/[scope]/[authProvider]/route.ts
  packages/medusa/src/api-v2/auth/middlewares.ts
  packages/medusa/src/api-v2/auth/session/route.ts
  packages/medusa/src/api-v2/middlewares.ts
  packages/medusa/src/services/invite.ts
  packages/medusa/src/types/routing.ts
  packages/medusa/src/utils/authenticate-middleware.ts
  packages/types/src/auth/service.ts
  packages/utils/src/common/index.ts
  packages/utils/src/common/string-or-regex-equals.ts
Labels: automerge, team: medusa

#6310 feat(dashboard): Log in, reset password, and accept invite pages
  .changeset/itchy-goats-juggle.md
  packages/admin-next/dashboard/package.json
  packages/admin-next/dashboard/public/locales/en/translation.json
  packages/admin-next/dashboard/src/components/common/form/form.tsx
  packages/admin-next/dashboard/src/components/common/logo-box/index.ts
  packages/admin-next/dashboard/src/components/common/logo-box/logo-box.tsx
  packages/admin-next/dashboard/src/components/layout/shell/shell.tsx
  packages/admin-next/dashboard/src/providers/router-provider/router-provider.tsx
  packages/admin-next/dashboard/src/routes/invite/index.ts
  packages/admin-next/dashboard/src/routes/invite/invite.tsx
  packages/admin-next/dashboard/src/routes/login/login.tsx
  packages/admin-next/dashboard/src/routes/reset-password/reset-password-request/index.ts
  packages/admin-next/dashboard/src/routes/reset-password/reset-password-request/reset-password.tsx
  packages/admin-next/dashboard/src/routes/reset-password/reset-password-token/index.ts
  packages/admin-next/dashboard/src/routes/reset-password/reset-password-token/reset-password-token.tsx
  packages/design-system/ui/package.json
  packages/design-system/ui/src/components/alert/alert.stories.tsx
  packages/design-system/ui/src/components/alert/alert.tsx
  packages/design-system/ui/src/components/alert/index.ts
  packages/design-system/ui/src/components/hint/hint.tsx
  packages/design-system/ui/src/components/icon-button/icon-button.tsx
  packages/design-system/ui/src/index.ts
  yarn.lock
Labels: team: medusa

#6273 feat(cart): `POST /store/carts`
  integration-tests/plugins/__tests__/cart/store/create-cart.ts
  integration-tests/plugins/__tests__/customer-group/admin/batch-add-customers.ts
  integration-tests/plugins/__tests__/customer-group/admin/batch-remove-customers.ts
  integration-tests/plugins/__tests__/customer-group/admin/list-customer-group-customers.ts
  packages/cart/integration-tests/__tests__/services/cart-module/index.spec.ts
  packages/core-flows/src/definition/cart/index.ts
  packages/core-flows/src/definition/cart/steps/create-carts.ts
  packages/core-flows/src/definition/cart/steps/index.ts
  packages/core-flows/src/definition/cart/workflows/create-carts.ts
  packages/core-flows/src/definition/cart/workflows/index.ts
  packages/medusa/src/api-v2/store/carts/middlewares.ts
  packages/medusa/src/api-v2/store/carts/route.ts
  packages/medusa/src/api-v2/store/carts/validators.ts
Labels: automerge, team: medusa

#6315 feat: Region Module (basic CRUD)
  packages/core-flows/src/handlers/region/find-region.ts
  packages/modules-sdk/src/definitions.ts
  packages/region/.gitignore
  packages/region/README.md
  packages/region/integration-tests/__tests__/region-module.spec.ts
  packages/region/integration-tests/setup-env.js
  packages/region/integration-tests/setup.js
  packages/region/integration-tests/utils/config.ts
  packages/region/integration-tests/utils/database.ts
  packages/region/integration-tests/utils/get-init-module-config.ts
  packages/region/integration-tests/utils/index.ts
  packages/region/jest.config.js
  packages/region/mikro-orm.config.dev.ts
  packages/region/package.json
  packages/region/src/index.ts
  packages/region/src/initialize/index.ts
  packages/region/src/joiner-config.ts
  packages/region/src/loaders/connection.ts
  packages/region/src/loaders/container.ts
  packages/region/src/loaders/defaults.ts
  packages/region/src/loaders/index.ts
  packages/region/src/models/country.ts
  packages/region/src/models/currency.ts
  packages/region/src/models/index.ts
  packages/region/src/models/region.ts
  packages/region/src/module-definition.ts
  packages/region/src/repositories/index.ts
  packages/region/src/scripts/bin/run-seed.ts
  packages/region/src/scripts/seed-utils.ts
  packages/region/src/services/__tests__/index.spec.ts
  packages/region/src/services/index.ts
  packages/region/src/services/region-module.ts
  packages/region/src/types/index.ts
  packages/region/tsconfig.json
  packages/region/tsconfig.spec.json
  packages/types/src/bundles.ts
  packages/types/src/index.ts
  packages/types/src/region/common.ts
  packages/types/src/region/index.ts
  packages/types/src/region/mutations.ts
  packages/types/src/region/service.ts
  packages/types/src/region__legacy/common.ts
  packages/types/src/region__legacy/index.ts
  packages/utils/src/bundles.ts
  packages/utils/src/defaults/countries.ts
  packages/utils/src/defaults/currencies.ts
  packages/utils/src/defaults/index.ts
  packages/utils/src/index.ts
  yarn.lock
Labels: automerge, team: medusa

#6293 feat(user): Init user module
  packages/modules-sdk/src/definitions.ts
  packages/types/src/bundles.ts
  packages/types/src/index.ts
  packages/types/src/user/common.ts
  packages/types/src/user/index.ts
  packages/types/src/user/mutations.ts
  packages/types/src/user/service.ts
  packages/user/.gitignore
  packages/user/README.md
  packages/user/integration-tests/__fixtures__/user.ts
  packages/user/integration-tests/__tests__/services/module/user.spec.ts
  packages/user/integration-tests/setup-env.js
  packages/user/integration-tests/setup.js
  packages/user/integration-tests/utils/config.ts
  packages/user/integration-tests/utils/database.ts
  packages/user/integration-tests/utils/get-init-module-config.ts
  packages/user/integration-tests/utils/index.ts
  packages/user/jest.config.js
  packages/user/mikro-orm.config.dev.ts
  packages/user/package.json
  packages/user/src/index.ts
  packages/user/src/initialize/index.ts
  packages/user/src/joiner-config.ts
  packages/user/src/loaders/connection.ts
  packages/user/src/loaders/container.ts
  packages/user/src/loaders/index.ts
  packages/user/src/migrations/.snapshot-medusa-user.json
  packages/user/src/migrations/Migration20240201081925.ts
  packages/user/src/models/index.ts
  packages/user/src/models/user.ts
  packages/user/src/module-definition.ts
  packages/user/src/repositories/index.ts
  packages/user/src/scripts/bin/run-seed.ts
  packages/user/src/scripts/seed.ts
  packages/user/src/services/__tests__/index.spec.ts
  packages/user/src/services/index.ts
  packages/user/src/services/user-module.ts
  packages/user/src/types/index.ts
  packages/user/src/types/services/index.ts
  packages/user/src/types/services/user.ts
  packages/user/tsconfig.json
  packages/user/tsconfig.spec.json
  yarn.lock
Labels: team: medusa

#6314 Feat(auth): Remove auth provider entity
  .changeset/smooth-penguins-vanish.md
  integration-tests/plugins/__tests__/customer/store/create-customer-addresses.ts
  integration-tests/plugins/__tests__/customer/store/create-customer.spec.ts
  integration-tests/plugins/__tests__/customer/store/delete-customer-address.spec.ts
  integration-tests/plugins/__tests__/customer/store/get-me.spec.ts
  integration-tests/plugins/__tests__/customer/store/list-customer-addresses.ts
  integration-tests/plugins/__tests__/customer/store/update-customer-address.spec.ts
  integration-tests/plugins/helpers/create-authenticated-customer.ts
  packages/auth/integration-tests/__fixtures__/auth-provider/index.ts
  packages/auth/integration-tests/__tests__/services/auth-provider/index.spec.ts
  packages/auth/integration-tests/__tests__/services/auth-user/index.spec.ts
  packages/auth/integration-tests/__tests__/services/module/auth-provider.spec.ts
  packages/auth/integration-tests/__tests__/services/module/auth-user.spec.ts
  packages/auth/integration-tests/__tests__/services/module/providers.spec.ts
  packages/auth/integration-tests/__tests__/services/providers/username-password.spec.ts
  packages/auth/src/migrations/.snapshot-medusa-auth.json
  packages/auth/src/migrations/Migration20240201100135.ts
  packages/auth/src/migrations/Migration20240205025924.ts
  packages/auth/src/models/auth-provider.ts
  packages/auth/src/models/auth-user.ts
  packages/auth/src/models/index.ts
  packages/auth/src/providers/email-password.ts
  packages/auth/src/providers/google.ts
  packages/auth/src/services/auth-module.ts
  packages/auth/src/types/repositories/auth-provider.ts
  packages/auth/src/types/repositories/index.ts
  packages/auth/src/types/services/auth-provider.ts
  packages/auth/src/types/services/auth-user.ts
  packages/auth/src/types/services/index.ts
  packages/core-flows/src/auth/steps/set-auth-app-metadata.ts
  packages/customer/integration-tests/__tests__/services/customer-module/index.spec.ts
  packages/types/src/auth/common/auth-provider.ts
  packages/types/src/auth/common/auth-user.ts
  packages/types/src/auth/common/index.ts
  packages/types/src/auth/service.ts
  packages/utils/src/auth/abstract-auth-provider.ts
  packages/utils/src/modules-sdk/build-query.ts
Labels: automerge, team: medusa

#6321 docs: s3 The "images.domains" configuration is deprecated
  www/apps/docs/content/plugins/file-service/local.md
  www/apps/docs/content/plugins/file-service/minio.md
  www/apps/docs/content/plugins/file-service/s3.mdx
  www/apps/docs/content/plugins/file-service/spaces.md
Labels: automerge

#6319 feat: Fulfillment module basic structure
  .changeset/chilled-dingos-float.md
  .eslintignore
  .eslintrc.js
  packages/fulfillment/.gitignore
  packages/fulfillment/README.md
  packages/fulfillment/integration-tests/__fixtures__/index.ts
  packages/fulfillment/integration-tests/__tests__/index.ts
  packages/fulfillment/integration-tests/setup-env.js
  packages/fulfillment/integration-tests/setup.js
  packages/fulfillment/integration-tests/utils/database.ts
  packages/fulfillment/integration-tests/utils/get-init-module-config.ts
  packages/fulfillment/integration-tests/utils/index.ts
  packages/fulfillment/jest.config.js
  packages/fulfillment/mikro-orm.config.dev.ts
  packages/fulfillment/package.json
  packages/fulfillment/src/index.ts
  packages/fulfillment/src/joiner-config.ts
  packages/fulfillment/src/models/fullfilment-set.ts
  packages/fulfillment/src/models/index.ts
  packages/fulfillment/src/module-definition.ts
  packages/fulfillment/src/repositories/index.ts
  packages/fulfillment/src/scripts/bin/run-seed.ts
  packages/fulfillment/src/services/__tests__/noop.ts
  packages/fulfillment/src/services/fulfillment-module-service.ts
  packages/fulfillment/src/services/index.ts
  packages/fulfillment/src/types/index.ts
  packages/fulfillment/tsconfig.json
  packages/fulfillment/tsconfig.spec.json
  packages/modules-sdk/src/definitions.ts
  packages/modules-sdk/src/index.ts
  packages/modules-sdk/src/utils/index.ts
  packages/modules-sdk/src/utils/initialize-factory.ts
  packages/types/src/bundles.ts
  packages/types/src/fulfillment/common.ts
  packages/types/src/fulfillment/index.ts
  packages/types/src/fulfillment/mutations.ts
  packages/types/src/fulfillment/service.ts
  packages/types/src/index.ts
  packages/utils/src/modules-sdk/index.ts
  packages/utils/src/modules-sdk/loaders/mikro-orm-connection-loader-factory.ts
  packages/utils/src/modules-sdk/loaders/mikro-orm-connection-loader.ts
  yarn.lock
Labels: automerge, team: medusa

#6320 feat(region): Add migration
  packages/region/integration-tests/__tests__/region-module.spec.ts
  packages/region/src/migrations/.snapshot-medusa-region.json
  packages/region/src/migrations/RegionModuleSetup20240205173216.ts
  packages/region/src/models/country.ts
  packages/region/src/models/currency.ts
  packages/region/src/models/region.ts
  packages/region/src/services/region-module.ts
  packages/types/src/region/common.ts
Labels: team: medusa

#6326 Update all curl documentation examples and references with new x-medusa-access-token header
  www/apps/api-reference/app/_mdx/admin.mdx
  www/apps/docs/content/contribution/docs.md
  www/apps/docs/content/development/batch-jobs/create.mdx
  www/apps/docs/content/development/publishable-api-keys/admin/manage-publishable-api-keys.mdx
  www/apps/docs/content/modules/customers/admin/manage-customer-groups.mdx
  www/apps/docs/content/modules/customers/admin/manage-customers.mdx
  www/apps/docs/content/modules/discounts/admin/manage-discounts.mdx
  www/apps/docs/content/modules/gift-cards/admin/manage-gift-cards.mdx
  www/apps/docs/content/modules/multiwarehouse/admin/manage-inventory-items.mdx
  www/apps/docs/content/modules/multiwarehouse/admin/manage-item-allocations-in-orders.mdx
  www/apps/docs/content/modules/multiwarehouse/admin/manage-reservations.mdx
  www/apps/docs/content/modules/multiwarehouse/admin/manage-stock-locations.mdx
  www/apps/docs/content/modules/orders/admin/edit-order.mdx
  www/apps/docs/content/modules/orders/admin/manage-claims.mdx
  www/apps/docs/content/modules/orders/admin/manage-draft-orders.mdx
  www/apps/docs/content/modules/orders/admin/manage-orders.mdx
  www/apps/docs/content/modules/orders/admin/manage-returns.mdx
  www/apps/docs/content/modules/orders/admin/manage-swaps.mdx
  www/apps/docs/content/modules/price-lists/admin/_import-prices.mdx
  www/apps/docs/content/modules/price-lists/admin/manage-price-lists.mdx
  www/apps/docs/content/modules/products/admin/import-products.mdx
  www/apps/docs/content/modules/products/admin/manage-categories.mdx
  www/apps/docs/content/modules/products/admin/manage-products.mdx
  www/apps/docs/content/modules/products/storefront/use-categories.mdx
  www/apps/docs/content/modules/regions-and-currencies/admin/manage-currencies.mdx
  www/apps/docs/content/modules/regions-and-currencies/admin/manage-regions.mdx
  www/apps/docs/content/modules/sales-channels/admin/manage.mdx
  www/apps/docs/content/modules/taxes/admin/manage-tax-rates.mdx
  www/apps/docs/content/modules/taxes/admin/manage-tax-settings.mdx
  www/apps/docs/content/modules/users/admin/manage-invites.mdx
  www/apps/docs/content/modules/users/admin/manage-profile.mdx
  www/apps/docs/content/modules/users/admin/manage-users.mdx
Labels: automerge

#6333 feat(medusa): Allow configuring of staged job polling batch size
  .changeset/odd-keys-retire.md
  packages/medusa/src/services/event-bus.ts
  packages/types/src/common/config-module.ts
Labels: team: medusa

#6259 fix(medusa): fix constructor container type for abstract services
  .changeset/shy-wolves-mix.md
  packages/medusa/src/interfaces/file-service.ts
  packages/medusa/src/interfaces/fulfillment-service.ts
  packages/medusa/src/interfaces/notification-service.ts
  packages/medusa/src/interfaces/payment-processor.ts
  packages/medusa/src/interfaces/price-selection-strategy.ts
  packages/medusa/src/interfaces/tax-calculation-strategy.ts
  packages/medusa/src/interfaces/tax-service.ts
Labels: team: medusa

#6353 docs-util: fix release scripts
  .github/workflows/generate-docblocks.yml
  docs-util/packages/docblock-generator/src/classes/git-manager.ts
  docs-util/packages/docblock-generator/src/commands/run-release.ts
  docs-util/packages/docblock-generator/src/index.ts
  docs-util/packages/scripts/check-release-commit.ts
  docs-util/packages/scripts/package.json
  docs-util/packages/scripts/tsconfig.json
Labels: automerge, team: medusa

#6357 fix(ui,ui-preset): Code component styles
  .changeset/happy-zoos-smile.md
  packages/design-system/ui-preset/src/theme/extension/theme.ts
  packages/design-system/ui-preset/src/theme/tokens/effects.ts
  packages/design-system/ui-preset/src/theme/tokens/typography.ts
  packages/design-system/ui/src/components/code-block/code-block.stories.tsx
  packages/design-system/ui/src/components/code-block/code-block.tsx
  packages/design-system/ui/src/components/command/command.stories.tsx
  packages/design-system/ui/src/components/command/command.tsx
Labels: team: medusa

#6253 feat: Add BigNumber implementation
  packages/cart/integration-tests/__tests__/services/cart-module/index.spec.ts
  packages/cart/src/migrations/CartModuleSetup20240122122952.ts
  packages/cart/src/models/line-item.ts
  packages/cart/src/models/shipping-method.ts
  packages/cart/src/services/cart-module.ts
  packages/cart/src/services/index.ts
  packages/cart/src/types/line-item.ts
  packages/medusa/src/services/new-totals.ts
  packages/payment/src/models/capture.ts
  packages/types/package.json
  packages/types/src/cart/common.ts
  packages/types/src/cart/mutations.ts
  packages/types/src/index.ts
  packages/types/src/totals/big-number.ts
  packages/types/src/totals/index.ts
  packages/utils/package.json
  packages/utils/src/common/index.ts
  packages/utils/src/common/is-big-number.ts
  packages/utils/src/index.ts
  packages/utils/src/totals/__tests__/big-number.spec.ts
  packages/utils/src/totals/big-number.ts
  packages/utils/src/totals/index.ts
  packages/utils/src/totals/to-big-number-js.ts
  yarn.lock
Labels: automerge, team: medusa

#6358 chore: cleanup inspection
  .changeset/calm-countries-exercise.md
  packages/auth/src/initialize/index.ts
  packages/auth/src/models/auth-user.ts
  packages/auth/src/providers/google.ts
  packages/auth/src/services/auth-module.ts
  packages/cart/src/initialize/index.ts
  packages/cart/src/services/cart-module.ts
  packages/customer/src/initialize/index.ts
  packages/customer/src/models/customer.ts
  packages/customer/src/services/customer-module.ts
  packages/pricing/src/models/price-set-money-amount.ts
  packages/pricing/src/services/pricing-module.ts
  packages/pricing/src/types/repositories/price-rule.ts
  packages/pricing/src/types/services/price-rule.ts
  packages/product/src/initialize/index.ts
  packages/promotion/src/services/promotion-module.ts
  packages/promotion/src/utils/compute-actions/buy-get.ts
  packages/promotion/src/utils/validations/application-method.ts
  packages/promotion/src/utils/validations/promotion-rule.ts
Labels: team: medusa

#6322 feat(region): Add admin region get + list endpoints
  integration-tests/environment-helpers/use-db.js
  integration-tests/plugins/__tests__/customer/store/update-customer-address.spec.ts
  integration-tests/plugins/__tests__/regions/admin/get-region.spec.ts
  integration-tests/plugins/__tests__/regions/admin/list-regions.spec.ts
  integration-tests/plugins/medusa-config.js
  integration-tests/plugins/package.json
  packages/medusa/src/api-v2/admin/regions/[id]/route.ts
  packages/medusa/src/api-v2/admin/regions/middlewares.ts
  packages/medusa/src/api-v2/admin/regions/query-config.ts
  packages/medusa/src/api-v2/admin/regions/route.ts
  packages/medusa/src/api-v2/admin/regions/validators.ts
  packages/medusa/src/api-v2/middlewares.ts
  packages/medusa/src/loaders/index.ts
  packages/medusa/src/loaders/medusa-app.ts
  packages/modules-sdk/src/loaders/module-loader.ts
  packages/modules-sdk/src/loaders/utils/load-internal.ts
  packages/modules-sdk/src/medusa-app.ts
  packages/modules-sdk/src/medusa-module.ts
  packages/region/integration-tests/setup-env.js
  packages/region/src/index.ts
  packages/region/src/loaders/defaults.ts
  packages/region/src/migrations/RegionModuleSetup20240205173216.ts
  packages/region/src/module-definition.ts
  packages/region/src/services/region-module.ts
  packages/types/src/region/common.ts
  packages/utils/src/common/alter-columns-helper.ts
  packages/utils/src/common/index.ts
  yarn.lock
Labels: automerge, team: medusa

#6361 docs: clarification in text
  www/apps/docs/content/plugins/payment/index.mdx
Labels: automerge

#6329 feat(fulfillment): Init dtos work
  .changeset/angry-planets-wave.md
  packages/fulfillment/src/models/fulfillment-label.ts
  packages/fulfillment/src/models/shipping-option-type.ts
  packages/fulfillment/src/services/fulfillment-module-service.ts
  packages/types/src/fulfillment/common.ts
  packages/types/src/fulfillment/common/address.ts
  packages/types/src/fulfillment/common/fulfillment-item.ts
  packages/types/src/fulfillment/common/fulfillment-label.ts
  packages/types/src/fulfillment/common/fulfillment-set.ts
  packages/types/src/fulfillment/common/fulfillment.ts
  packages/types/src/fulfillment/common/geo-zone.ts
  packages/types/src/fulfillment/common/index.ts
  packages/types/src/fulfillment/common/service-provider.ts
  packages/types/src/fulfillment/common/service-zone.ts
  packages/types/src/fulfillment/common/shipping-option-rule.ts
  packages/types/src/fulfillment/common/shipping-option-type.ts
  packages/types/src/fulfillment/common/shipping-option.ts
  packages/types/src/fulfillment/common/shipping-profile.ts
  packages/types/src/fulfillment/mutations.ts
  packages/types/src/fulfillment/mutations/fulfillment-set.ts
  packages/types/src/fulfillment/mutations/geo-zone.ts
  packages/types/src/fulfillment/mutations/index.ts
  packages/types/src/fulfillment/mutations/service-zone.ts
  packages/types/src/fulfillment/mutations/shipping-option-rule.ts
  packages/types/src/fulfillment/mutations/shipping-option-type.ts
  packages/types/src/fulfillment/mutations/shipping-option.ts
  packages/types/src/fulfillment/service.ts
Labels: team: medusa

#6378 docs: update next.js starter docs
  .changeset/fair-rocks-wink.md
  www/apps/docs/content/starters/nextjs-medusa-starter.mdx
  www/apps/docs/content/troubleshooting/nextjs/_cma-option.mdx
Labels: team: medusa

#6341 chore: small fixes to tsdocs
  packages/generated/client-types/src/lib/models/AdminGetOrdersParams.ts
  packages/medusa-react/src/contexts/medusa.tsx
  packages/medusa/src/api/routes/admin/orders/list-orders.ts
  packages/types/src/common/config-module.ts
Labels: automerge, team: medusa

#6383 chore(): Fix database test utils and utils
  .changeset/warm-garlics-drive.md
  packages/customer/src/migrations/Migration20240124154000.ts
  packages/medusa-test-utils/src/database.ts
  packages/utils/src/common/__tests__/create-psql-index-helper.ts
  packages/utils/src/common/create-psql-index-helper.ts
Labels: automerge, team: medusa

#6308 feat(payment): provider service
  .changeset/swift-spoons-rescue.md
  packages/payment/integration-tests/__fixtures__/data.ts
  packages/payment/integration-tests/__tests__/services/payment-module/index.spec.ts
  packages/payment/src/loaders/defaults.ts
  packages/payment/src/loaders/index.ts
  packages/payment/src/loaders/providers.ts
  packages/payment/src/models/payment-collection.ts
  packages/payment/src/models/payment-session.ts
  packages/payment/src/module-definition.ts
  packages/payment/src/providers/index.ts
  packages/payment/src/providers/system.ts
  packages/payment/src/services/index.ts
  packages/payment/src/services/payment-module.ts
  packages/payment/src/services/payment-provider.ts
  packages/types/src/payment/common.ts
  packages/types/src/payment/index.ts
  packages/types/src/payment/mutations.ts
  packages/types/src/payment/provider.ts
  packages/types/src/payment/service.ts
  packages/utils/src/payment/abstract-payment-provider.ts
  packages/utils/src/payment/index.ts
Labels: team: medusa

#6363 fix(medusa-react): medusa provider needs a medusa client instance
  packages/medusa-react/src/contexts/medusa.tsx
Labels: automerge

#6386 Feat(utils): psql unique index instead of constraint
  .changeset/hot-coins-itch.md
  packages/utils/src/common/__tests__/create-psql-index-helper.ts
  packages/utils/src/common/create-psql-index-helper.ts
Labels: automerge, team: medusa

#6377 chore(docs): add empty changeset step to actions
  .changeset/great-pens-warn.md
  .github/workflows/docs-new-announcement.yml
  .github/workflows/docs-remove-announcement.yml
  .github/workflows/generate-docblocks-reference.yml
  .github/workflows/generate-docblocks.yml
  .github/workflows/generate-references.yml
  docs-util/packages/scripts/package.json
  docs-util/packages/scripts/run-changeset.ts
Labels: automerge, team: medusa

#6387 docs: new troubleshooting guide + cors fix
  www/apps/docs/content/development/api-routes/create.mdx
  www/apps/docs/content/plugins/notifications/sendgrid.mdx
  www/apps/docs/content/troubleshooting/admin-webpack-build-types.md
  www/apps/docs/sidebars.js
Labels: automerge, team: medusa

#6342 feat(region): Add store region get + list endpoints
  packages/medusa/src/api-v2/middlewares.ts
  packages/medusa/src/api-v2/store/regions/[id]/route.ts
  packages/medusa/src/api-v2/store/regions/middlewares.ts
  packages/medusa/src/api-v2/store/regions/query-config.ts
  packages/medusa/src/api-v2/store/regions/route.ts
  packages/medusa/src/api-v2/store/regions/validators.ts
Labels: team: medusa

#6388 Feat(medusa, core-flows, utils, types, user): add user endpoints to api-v2
  .changeset/tame-kings-battle.md
  integration-tests/plugins/__tests__/users/create-user.spec.ts
  integration-tests/plugins/__tests__/users/delete-user.spec.ts
  integration-tests/plugins/__tests__/users/list-users.spec.ts
  integration-tests/plugins/__tests__/users/retrieve-user.spec.ts
  integration-tests/plugins/__tests__/users/update-user.spec.ts
  integration-tests/plugins/medusa-config.js
  integration-tests/plugins/package.json
  packages/core-flows/src/index.ts
  packages/core-flows/src/user/index.ts
  packages/core-flows/src/user/steps/create-users.ts
  packages/core-flows/src/user/steps/delete-users.ts
  packages/core-flows/src/user/steps/index.ts
  packages/core-flows/src/user/steps/update-users.ts
  packages/core-flows/src/user/workflows/create-users.ts
  packages/core-flows/src/user/workflows/delete-users.ts
  packages/core-flows/src/user/workflows/index.ts
  packages/core-flows/src/user/workflows/update-users.ts
  packages/medusa/src/api-v2/admin/users/[id]/route.ts
  packages/medusa/src/api-v2/admin/users/middlewares.ts
  packages/medusa/src/api-v2/admin/users/query-config.ts
  packages/medusa/src/api-v2/admin/users/route.ts
  packages/medusa/src/api-v2/admin/users/validators.ts
  packages/medusa/src/api-v2/middlewares.ts
  packages/types/src/user/mutations.ts
  packages/types/src/user/service.ts
  packages/user/src/migrations/Migration20240213092656.ts
  packages/user/src/models/user.ts
  yarn.lock
Labels: team: medusa

#6390 docs-util: fix import issues following merge
  .changeset/cuddly-flies-sleep.md
  docs-util/packages/docblock-generator/src/classes/helpers/git-manager.ts
Labels: automerge, team: medusa

#6330 feat(medusa): workflow engine api
  .changeset/fresh-olives-exercise.md
  integration-tests/api/medusa-config.js
  integration-tests/api/package.json
  integration-tests/environment-helpers/use-db.js
  integration-tests/plugins/__tests__/workflow-engine/api.ts
  integration-tests/plugins/__tests__/workflow-engine/api_v2.ts
  integration-tests/plugins/__tests__/workflow-engine/tests.ts
  integration-tests/plugins/medusa-config.js
  integration-tests/plugins/package.json
  packages/medusa/src/api-v2/admin/workflows-executions/[id]/route.ts
  packages/medusa/src/api-v2/admin/workflows-executions/[workflow_id]/[transaction_id]/[step_id]/subscribe/route.ts
  packages/medusa/src/api-v2/admin/workflows-executions/[workflow_id]/[transaction_id]/route.ts
  packages/medusa/src/api-v2/admin/workflows-executions/[workflow_id]/run/route.ts
  packages/medusa/src/api-v2/admin/workflows-executions/[workflow_id]/steps/failure/route.ts
  packages/medusa/src/api-v2/admin/workflows-executions/[workflow_id]/steps/success/route.ts
  packages/medusa/src/api-v2/admin/workflows-executions/[workflow_id]/subscribe/route.ts
  packages/medusa/src/api-v2/admin/workflows-executions/middlewares.ts
  packages/medusa/src/api-v2/admin/workflows-executions/query-config.ts
  packages/medusa/src/api-v2/admin/workflows-executions/route.ts
  packages/medusa/src/api-v2/admin/workflows-executions/validators.ts
  packages/medusa/src/api-v2/middlewares.ts
  packages/medusa/src/api/index.js
  packages/medusa/src/api/routes/admin/index.js
  packages/medusa/src/api/routes/admin/workflows-executions/get-execution.ts
  packages/medusa/src/api/routes/admin/workflows-executions/index.ts
  packages/medusa/src/api/routes/admin/workflows-executions/list-execution.ts
  packages/medusa/src/api/routes/admin/workflows-executions/query-config.ts
  packages/medusa/src/api/routes/admin/workflows-executions/run-workflow.ts
  packages/medusa/src/api/routes/admin/workflows-executions/set-step-failure.ts
  packages/medusa/src/api/routes/admin/workflows-executions/set-step-success.ts
  packages/medusa/src/api/routes/admin/workflows-executions/subscribe.ts
  packages/medusa/src/api/routes/admin/workflows-executions/validators.ts
  packages/workflow-engine-inmemory/integration-tests/__tests__/index.spec.ts
  packages/workflow-engine-inmemory/src/initialize/index.ts
  packages/workflow-engine-inmemory/src/services/workflows-module.ts
  packages/workflow-engine-inmemory/src/utils/workflow-orchestrator-storage.ts
  packages/workflow-engine-redis/integration-tests/__tests__/index.spec.ts
  packages/workflow-engine-redis/src/initialize/index.ts
  packages/workflow-engine-redis/src/services/workflows-module.ts
  packages/workflow-engine-redis/src/utils/workflow-orchestrator-storage.ts
  packages/workflows-sdk/src/index.ts
  packages/workflows-sdk/src/types/common.ts
  packages/workflows-sdk/src/types/service.ts
  yarn.lock
Labels: automerge, team: medusa

#6372 feat(region): Create region with countries
  packages/region/integration-tests/__tests__/region-module.spec.ts
  packages/region/src/models/country.ts
  packages/region/src/services/region-module.ts
  packages/region/src/types/index.ts
  packages/types/src/region/mutations.ts
Labels: team: medusa

#6327 feat(user, types): add invite and user properties + migration
  .changeset/tame-kings-battle.md
  integration-tests/plugins/__tests__/users/create-user.spec.ts
  integration-tests/plugins/__tests__/users/delete-user.spec.ts
  integration-tests/plugins/__tests__/users/list-users.spec.ts
  integration-tests/plugins/__tests__/users/retrieve-user.spec.ts
  integration-tests/plugins/__tests__/users/update-user.spec.ts
  integration-tests/plugins/medusa-config.js
  integration-tests/plugins/package.json
  packages/core-flows/src/index.ts
  packages/core-flows/src/user/index.ts
  packages/core-flows/src/user/steps/create-users.ts
  packages/core-flows/src/user/steps/delete-users.ts
  packages/core-flows/src/user/steps/index.ts
  packages/core-flows/src/user/steps/update-users.ts
  packages/core-flows/src/user/workflows/create-users.ts
  packages/core-flows/src/user/workflows/delete-users.ts
  packages/core-flows/src/user/workflows/index.ts
  packages/core-flows/src/user/workflows/update-users.ts
  packages/medusa/src/api-v2/admin/users/[id]/route.ts
  packages/medusa/src/api-v2/admin/users/middlewares.ts
  packages/medusa/src/api-v2/admin/users/query-config.ts
  packages/medusa/src/api-v2/admin/users/route.ts
  packages/medusa/src/api-v2/admin/users/validators.ts
  packages/medusa/src/api-v2/middlewares.ts
  packages/types/src/user/common.ts
  packages/types/src/user/mutations.ts
  packages/types/src/user/service.ts
  packages/types/src/workflow/index.ts
  packages/types/src/workflow/user/create-user.ts
  packages/types/src/workflow/user/delete-user.ts
  packages/types/src/workflow/user/index.ts
  packages/types/src/workflow/user/update-user.ts
  packages/user/integration-tests/__fixtures__/invite.ts
  packages/user/integration-tests/__fixtures__/user.ts
  packages/user/integration-tests/__tests__/services/module/invite.spec.ts
  packages/user/integration-tests/__tests__/services/module/user.spec.ts
  packages/user/mikro-orm.config.dev.ts
  packages/user/src/migrations/.snapshot-medusa-user.json
  packages/user/src/migrations/Migration20240201081925.ts
  packages/user/src/migrations/Migration20240214033943.ts
  packages/user/src/models/index.ts
  packages/user/src/models/invite.ts
  packages/user/src/models/user.ts
  packages/user/src/services/user-module.ts
  yarn.lock
Labels: automerge, team: medusa

#6396 chore(): Prevent from soft deleting all entities
  .changeset/spicy-scissors-lay.md
  packages/utils/src/modules-sdk/__tests__/abstract-module-service-factory.spec.ts
  packages/utils/src/modules-sdk/__tests__/internal-module-service-factory.spec.ts
  packages/utils/src/modules-sdk/internal-module-service-factory.ts
Labels: automerge, team: medusa

#6274 feat(cart): `POST /store/carts/:id`
  .changeset/rude-shirts-act.md
  integration-tests/plugins/__tests__/cart/store/update-cart.ts
  packages/cart/integration-tests/__tests__/services/cart-module/index.spec.ts
  packages/cart/src/services/cart-module.ts
  packages/cart/src/types/cart.ts
  packages/core-flows/src/definition/cart/steps/index.ts
  packages/core-flows/src/definition/cart/steps/update-carts.ts
  packages/core-flows/src/definition/cart/workflows/index.ts
  packages/core-flows/src/definition/cart/workflows/update-carts.ts
  packages/medusa/src/api-v2/middlewares.ts
  packages/medusa/src/api-v2/store/carts/[id]/route.ts
  packages/medusa/src/api-v2/store/carts/middlewares.ts
  packages/medusa/src/api-v2/store/carts/validators.ts
  packages/medusa/src/services/cart.ts
  packages/medusa/src/types/routing.ts
  packages/types/src/cart/mutations.ts
  packages/types/src/cart/service.ts
Labels: automerge, team: medusa

#6395 feat(medusa, types, core-flows): Add invite endpoints for api-v2
  integration-tests/plugins/__tests__/invites/create-invite.spec.ts
  integration-tests/plugins/__tests__/invites/delete-invite.spec.ts
  integration-tests/plugins/__tests__/invites/list-invites.spec.ts
  integration-tests/plugins/__tests__/invites/retrieve-invite.spec.ts
  packages/core-flows/src/index.ts
  packages/core-flows/src/invite/index.ts
  packages/core-flows/src/invite/steps/create-invites.ts
  packages/core-flows/src/invite/steps/delete-invites.ts
  packages/core-flows/src/invite/steps/index.ts
  packages/core-flows/src/invite/workflows/create-invites.ts
  packages/core-flows/src/invite/workflows/delete-invites.ts
  packages/core-flows/src/invite/workflows/index.ts
  packages/medusa/src/api-v2/admin/invites/[id]/route.ts
  packages/medusa/src/api-v2/admin/invites/middlewares.ts
  packages/medusa/src/api-v2/admin/invites/query-config.ts
  packages/medusa/src/api-v2/admin/invites/route.ts
  packages/medusa/src/api-v2/admin/invites/validators.ts
  packages/medusa/src/api-v2/middlewares.ts
  packages/types/src/user/mutations.ts
  packages/types/src/workflow/index.ts
  packages/types/src/workflow/invite/create-invite.ts
  packages/types/src/workflow/invite/delete-invite.ts
  packages/types/src/workflow/invite/index.ts
  packages/types/src/workflow/invite/update-invite.ts
  packages/user/src/joiner-config.ts
  packages/user/src/services/user-module.ts
Labels: automerge, team: medusa

#6381 feat(fulfillment): Module service implementation first iteration
  .changeset/nine-nails-end.md
  packages/fulfillment/integration-tests/__tests__/fulfillment-module-service.spec.ts
  packages/fulfillment/integration-tests/__tests__/index.ts
  packages/fulfillment/integration-tests/utils/database.ts
  packages/fulfillment/integration-tests/utils/index.ts
  packages/fulfillment/src/migrations/.snapshot-medusa-fulfillment.json
  packages/fulfillment/src/migrations/Migration20240214103108.ts
  packages/fulfillment/src/models/fullfilment-set.ts
  packages/fulfillment/src/models/geo-zone.ts
  packages/fulfillment/src/models/service-zone.ts
  packages/fulfillment/src/repositories/fulfillment-set.ts
  packages/fulfillment/src/services/fulfillment-module-service.ts
  packages/types/src/fulfillment/mutations/fulfillment-set.ts
  packages/types/src/fulfillment/mutations/geo-zone.ts
  packages/types/src/fulfillment/mutations/service-zone.ts
  packages/types/src/fulfillment/service.ts
  packages/utils/src/common/get-set-difference.ts
  packages/utils/src/common/index.ts
Labels: team: medusa

#6403 fix: typo in git checkout command
  www/apps/docs/content/contribution/admin-translations.md
Labels: automerge

#6411 fix: Loading custom modules
  .changeset/honest-peaches-call.md
  packages/link-modules/src/initialize/index.ts
  packages/medusa/src/loaders/medusa-app.ts
  packages/modules-sdk/src/medusa-module.ts
Labels: automerge, team: medusa

#6416 Add sradevski to teams.yml
  .github/teams.yml
Labels: team: medusa

#6410 docs: add ignore tag to isPaymentProcessor
  docs-util/typedoc-json-output/payment.json
  packages/medusa/src/interfaces/payment-processor.ts
  packages/utils/src/payment/abstract-payment-provider.ts
  www/apps/docs/content/references/payment/classes/payment.AbstractPaymentProcessor.mdx
Labels: automerge, team: medusa

#6392 feat: CartRegion link, definition + workflow
  .changeset/violet-masks-do.md
  integration-tests/plugins/__tests__/cart/store/create-cart.spec.ts
  integration-tests/plugins/__tests__/cart/store/create-cart.ts
  integration-tests/plugins/__tests__/link-modules/cart-region.spec.ts
  packages/core-flows/src/definition/cart/steps/find-one-or-any-region.ts
  packages/core-flows/src/definition/cart/steps/index.ts
  packages/core-flows/src/definition/cart/workflows/create-carts.ts
  packages/link-modules/src/definitions/cart-region.ts
  packages/link-modules/src/definitions/index.ts
  packages/medusa/src/api-v2/store/carts/[id]/route.ts
  packages/medusa/src/api-v2/store/carts/query-config.ts
  packages/medusa/src/api-v2/store/carts/route.ts
  packages/medusa/src/api/routes/store/carts/create-cart.ts
  packages/modules-sdk/src/medusa-app.ts
  packages/region/src/module-definition.ts
  packages/types/src/cart/index.ts
  packages/types/src/cart/workflows.ts
Labels: automerge, team: medusa

#6406 docs: add missing steps to enable `medusa_v2` flag
  www/apps/docs/content/experimental/index.md
Labels: automerge, team: medusa

#6419 Update teams.yml
  .github/teams.yml
Labels: team: medusa

#6418 feat: Cart SalesChannel link + clean-up
  .changeset/gentle-hornets-hope.md
  integration-tests/plugins/__tests__/cart/store/carts.spec.ts
  integration-tests/plugins/__tests__/cart/store/get-cart.ts
  integration-tests/plugins/__tests__/cart/store/update-cart.ts
  integration-tests/plugins/__tests__/link-modules/cart-links.spec.ts
  integration-tests/plugins/medusa-config.js
  packages/core-flows/src/definition/cart/create-cart.ts
  packages/core-flows/src/definition/cart/index.ts
  packages/core-flows/src/definition/cart/workflows/create-carts.ts
  packages/core-flows/src/handlers/cart/attach-cart-to-sales-channel.ts
  packages/core-flows/src/handlers/cart/attach-line-items-to-cart.ts
  packages/core-flows/src/handlers/cart/create-cart.ts
  packages/core-flows/src/handlers/cart/detach-cart-from-sales-channel.ts
  packages/core-flows/src/handlers/cart/index.ts
  packages/core-flows/src/handlers/cart/remove-cart.ts
  packages/core-flows/src/handlers/cart/retrieve-cart.ts
  packages/core-flows/src/handlers/index.ts
  packages/link-modules/src/definitions/cart-sales-channel.ts
  packages/link-modules/src/links.ts
  packages/medusa/src/api-v2/store/carts/[id]/route.ts
  packages/medusa/src/api-v2/store/carts/query-config.ts
  packages/medusa/src/api-v2/store/carts/route.ts
  packages/medusa/src/api/routes/store/carts/create-cart.ts
  packages/medusa/src/migrations/1698160215000-cart-sales-channels-link.ts
  packages/medusa/src/models/cart-sales-channel.ts
  packages/medusa/src/services/cart.ts
  packages/region/src/models/region.ts
  packages/sales-channel/src/models/sales-channel.ts
  packages/sales-channel/src/services/sales-channel-module.ts
Labels: team: medusa

#6421 feat(tax): Add TaxRegion
  packages/tax/integration-tests/__tests__/index.ts
  packages/tax/src/models/index.ts
  packages/tax/src/models/tax-rate.ts
  packages/tax/src/models/tax-region.ts
  packages/tax/src/services/tax-module-service.ts
  packages/types/src/tax/common.ts
  packages/types/src/tax/mutations.ts
  packages/types/src/tax/service.ts
Labels: automerge, team: medusa

#6413 Feat(medusa, user, core-flows): User creation with invites
  integration-tests/plugins/__tests__/invites/create-invite.spec.ts
  integration-tests/plugins/__tests__/invites/delete-invite.spec.ts
  integration-tests/plugins/__tests__/invites/list-invites.spec.ts
  integration-tests/plugins/__tests__/invites/retrieve-invite.spec.ts
  integration-tests/plugins/helpers/create-admin-user.ts
  integration-tests/plugins/medusa-config.js
  packages/core-flows/src/invite/steps/validate-token.ts
  packages/core-flows/src/invite/workflows/accept-invite.ts
  packages/core-flows/src/invite/workflows/index.ts
  packages/medusa/src/api-v2/admin/invites/accept/route.ts
  packages/medusa/src/api-v2/admin/invites/middlewares.ts
  packages/medusa/src/api-v2/admin/invites/validators.ts
  packages/types/src/user/mutations.ts
  packages/types/src/user/service.ts
  packages/types/src/workflow/invite/accept-invite.ts
  packages/types/src/workflow/invite/index.ts
  packages/types/src/workflow/invite/update-invite.ts
  packages/user/integration-tests/utils/get-init-module-config.ts
  packages/user/package.json
  packages/user/src/services/index.ts
  packages/user/src/services/invite.ts
  packages/user/src/services/user-module.ts
  packages/user/src/types/index.ts
  packages/user/src/types/services/index.ts
  packages/user/src/types/services/invite.ts
  packages/user/src/types/services/user.ts
  packages/utils/src/auth/abstract-auth-provider.ts
  yarn.lock
Labels: automerge, team: medusa

#6426 feat: Cart Customer link + create cart with customer
  integration-tests/plugins/__tests__/cart/store/carts.spec.ts
  integration-tests/plugins/__tests__/link-modules/cart-links.spec.ts
  integration-tests/plugins/__tests__/workflows/inventory/create-inventory-items.ts
  packages/core-flows/src/definition/cart/steps/find-or-create-customer.ts
  packages/core-flows/src/definition/cart/steps/index.ts
  packages/core-flows/src/definition/cart/workflows/create-carts.ts
  packages/link-modules/src/definitions/cart-customer.ts
  packages/link-modules/src/definitions/index.ts
  packages/medusa/src/api-v2/store/carts/middlewares.ts
  packages/medusa/src/api-v2/store/carts/query-config.ts
  packages/medusa/src/api-v2/store/carts/route.ts
  packages/medusa/src/api-v2/store/carts/validators.ts
  packages/medusa/src/types/common.ts
  packages/types/src/cart/mutations.ts
  packages/types/src/cart/workflows.ts
  packages/types/src/customer/common.ts
Labels: team: medusa

#6427 feat(core-flow, medusa): Create cart with Sales Channel
  integration-tests/plugins/__tests__/cart/store/carts.spec.ts
  packages/core-flows/src/definition/cart/steps/find-sales-channel.ts
  packages/core-flows/src/definition/cart/steps/index.ts
  packages/core-flows/src/definition/cart/workflows/create-carts.ts
  packages/medusa/src/api-v2/middlewares.ts
Labels: team: medusa

#6408 feat(fulfillment): implementation part 2
  .changeset/real-teachers-yawn.md
  packages/auth/integration-tests/utils/database.ts
  packages/cart/integration-tests/utils/database.ts
  packages/customer/integration-tests/utils/database.ts
  packages/fulfillment/integration-tests/__fixtures__/index.ts
  packages/fulfillment/integration-tests/__tests__/fulfillment-module-service.spec.ts
  packages/fulfillment/integration-tests/setup-env.js
  packages/fulfillment/integration-tests/setup.js
  packages/fulfillment/integration-tests/utils/database.ts
  packages/fulfillment/integration-tests/utils/get-init-module-config.ts
  packages/fulfillment/integration-tests/utils/index.ts
  packages/fulfillment/jest.config.js
  packages/fulfillment/package.json
  packages/fulfillment/src/migrations/.snapshot-medusa-fulfillment.json
  packages/fulfillment/src/migrations/Migration20240219115644.ts
  packages/fulfillment/src/models/address.ts
  packages/fulfillment/src/models/fulfillment-item.ts
  packages/fulfillment/src/models/fulfillment-label.ts
  packages/fulfillment/src/models/fulfillment.ts
  packages/fulfillment/src/models/fullfilment-set.ts
  packages/fulfillment/src/models/geo-zone.ts
  packages/fulfillment/src/models/service-provider.ts
  packages/fulfillment/src/models/service-zone.ts
  packages/fulfillment/src/models/shipping-option-rule.ts
  packages/fulfillment/src/models/shipping-option-type.ts
  packages/fulfillment/src/models/shipping-option.ts
  packages/fulfillment/src/models/shipping-profile.ts
  packages/fulfillment/src/module-definition.ts
  packages/fulfillment/src/services/fulfillment-module-service.ts
  packages/medusa-test-utils/src/database.ts
  packages/medusa-test-utils/src/index.ts
  packages/medusa-test-utils/src/init-modules.ts
  packages/medusa-test-utils/src/module-test-runner.ts
  packages/order/integration-tests/utils/database.ts
  packages/payment/integration-tests/utils/database.ts
  packages/pricing/integration-tests/utils/database.ts
  packages/product/integration-tests/__tests__/module.ts
  packages/promotion/integration-tests/utils/database.ts
  packages/region/integration-tests/utils/database.ts
  packages/sales-channel/integration-tests/utils/database.ts
  packages/tax/integration-tests/utils/database.ts
  packages/types/src/dal/index.ts
  packages/types/src/fulfillment/common/service-zone.ts
  packages/types/src/fulfillment/common/shipping-option-rule.ts
  packages/types/src/fulfillment/common/shipping-option-type.ts
  packages/types/src/fulfillment/common/shipping-option.ts
  packages/types/src/fulfillment/common/shipping-profile.ts
  packages/types/src/fulfillment/mutations/geo-zone.ts
  packages/types/src/fulfillment/mutations/index.ts
  packages/types/src/fulfillment/mutations/service-zone.ts
  packages/types/src/fulfillment/mutations/shipping-option.ts
  packages/types/src/fulfillment/mutations/shipping-profile.ts
  packages/types/src/fulfillment/service.ts
  packages/user/integration-tests/utils/database.ts
  packages/utils/src/common/__tests__/create-psql-index-helper.ts
  packages/utils/src/common/create-psql-index-helper.ts
  packages/utils/src/modules-sdk/abstract-module-service-factory.ts
  packages/utils/src/modules-sdk/create-pg-connection.ts
  packages/workflow-engine-redis/integration-tests/__tests__/index.spec.ts
Labels: automerge, team: medusa

#6446 feat(): add auth cors
  packages/admin-next/dashboard/src/components/layout/shell/shell.tsx
  packages/admin-next/dashboard/src/routes/login/login.tsx
  packages/medusa-cli/package.json
  packages/medusa/package.json
  packages/medusa/src/loaders/helpers/routing/index.ts
  packages/medusa/src/loaders/helpers/routing/types.ts
  packages/medusa/src/loaders/index.ts
  packages/medusa/src/loaders/medusa-app.ts
  packages/pricing/package.json
  packages/product/package.json
  packages/promotion/package.json
  packages/types/src/common/config-module.ts
  yarn.lock
Labels: team: medusa

#6445 feat(medusa): Authentication middleware update
  packages/medusa/src/api/middlewares/authenticate-customer.ts
  packages/medusa/src/api/middlewares/authenticate.ts
  packages/medusa/src/utils/authenticate-middleware.ts
  packages/utils/src/common/container.ts
Labels: team: medusa

#6332 feat(region): Region create, delete, update admin endpoints
  integration-tests/plugins/__tests__/regions/admin/get-region.spec.ts
  integration-tests/plugins/__tests__/regions/admin/list-regions.spec.ts
  integration-tests/plugins/__tests__/regions/admin/regions.spec.ts
  packages/core-flows/src/index.ts
  packages/core-flows/src/region/index.ts
  packages/core-flows/src/region/steps/create-regions.ts
  packages/core-flows/src/region/steps/delete-regions.ts
  packages/core-flows/src/region/steps/index.ts
  packages/core-flows/src/region/steps/update-regions.ts
  packages/core-flows/src/region/workflows/create-regions.ts
  packages/core-flows/src/region/workflows/delete-regions.ts
  packages/core-flows/src/region/workflows/index.ts
  packages/core-flows/src/region/workflows/update-regions.ts
  packages/medusa/src/api-v2/admin/regions/[id]/route.ts
  packages/medusa/src/api-v2/admin/regions/middlewares.ts
  packages/medusa/src/api-v2/admin/regions/query-config.ts
  packages/medusa/src/api-v2/admin/regions/route.ts
  packages/medusa/src/api-v2/admin/regions/validators.ts
  packages/medusa/src/models/payment.ts
  packages/region/src/services/region-module.ts
  packages/types/src/region/mutations.ts
  packages/types/src/region/service.ts
Labels: automerge, team: medusa

#6436 chore(utils): Add default ordering to the internal service factory list/listAndCount
  .changeset/giant-berries-rush.md
  packages/auth/integration-tests/__tests__/services/auth-user/index.spec.ts
  packages/auth/integration-tests/__tests__/services/module/auth-user.spec.ts
  packages/fulfillment/integration-tests/__tests__/fulfillment-module-service.spec.ts
  packages/pricing/integration-tests/__tests__/services/currency/index.spec.ts
  packages/pricing/integration-tests/__tests__/services/money-amount/index.spec.ts
  packages/pricing/integration-tests/__tests__/services/pricing-module/currency.spec.ts
  packages/pricing/integration-tests/__tests__/services/pricing-module/money-amount.spec.ts
  packages/pricing/integration-tests/__tests__/services/pricing-module/price-set-money-amount-rules.spec.ts
  packages/pricing/src/services/__tests__/currency.spec.ts
  packages/product/src/services/__tests__/product.spec.ts
  packages/sales-channel/src/services/__tests__/sales-channle.spec.ts
  packages/utils/src/modules-sdk/__tests__/internal-module-service-factory.spec.ts
  packages/utils/src/modules-sdk/internal-module-service-factory.ts
Labels: automerge, team: medusa

#6432 feat(regions): Add support for updating countries in a region
  integration-tests/plugins/__tests__/regions/admin/regions.spec.ts
  packages/core-flows/src/region/steps/update-regions.ts
  packages/medusa/src/api-v2/admin/regions/validators.ts
  packages/region/integration-tests/__tests__/region-module.spec.ts
  packages/region/src/migrations/.snapshot-medusa-region.json
  packages/region/src/migrations/RegionModuleSetup20240205173216.ts
  packages/region/src/models/country.ts
  packages/region/src/services/region-module.ts
  packages/region/src/types/index.ts
  packages/types/src/region/mutations.ts
Labels: automerge, team: medusa

#6451 feat: Add skeleton for api key module
  packages/api-key/.gitignore
  packages/api-key/README.md
  packages/api-key/integration-tests/__fixtures__/index.ts
  packages/api-key/integration-tests/__tests__/api-key-module-service.spec.ts
  packages/api-key/jest.config.js
  packages/api-key/mikro-orm.config.dev.ts
  packages/api-key/package.json
  packages/api-key/src/index.ts
  packages/api-key/src/joiner-config.ts
  packages/api-key/src/models/api-key.ts
  packages/api-key/src/models/index.ts
  packages/api-key/src/module-definition.ts
  packages/api-key/src/repositories/index.ts
  packages/api-key/src/scripts/bin/run-seed.ts
  packages/api-key/src/services/__tests__/noop.ts
  packages/api-key/src/services/api-key-module-service.ts
  packages/api-key/src/services/index.ts
  packages/api-key/src/types/index.ts
  packages/api-key/tsconfig.json
  packages/api-key/tsconfig.spec.json
  packages/modules-sdk/src/definitions.ts
  packages/types/src/api-key/common/api-key.ts
  packages/types/src/api-key/common/index.ts
  packages/types/src/api-key/index.ts
  packages/types/src/api-key/mutations/api-key.ts
  packages/types/src/api-key/mutations/index.ts
  packages/types/src/api-key/service.ts
  packages/types/src/bundles.ts
  packages/types/src/index.ts
  yarn.lock
Labels: automerge, team: medusa

#6456 fix: fix fulfillment spec
  packages/fulfillment/integration-tests/__tests__/fulfillment-module-service.spec.ts
Labels: automerge, team: medusa

#6422 feat(tax): introduce tax override data models
  packages/tax/integration-tests/__tests__/index.ts
  packages/tax/src/models/index.ts
  packages/tax/src/models/tax-rate-rule.ts
  packages/tax/src/services/tax-module-service.ts
  packages/types/src/tax/common.ts
  packages/types/src/tax/mutations.ts
  packages/types/src/tax/service.ts
Labels: automerge, team: medusa

#6435 Feat(order): order changes
  .changeset/unlucky-brooms-provide.md
  packages/order/src/migrations/.snapshot-medusa-order.json
  packages/order/src/migrations/Migration20240219102530.ts
  packages/order/src/models/address.ts
  packages/order/src/models/adjustment-line.ts
  packages/order/src/models/index.ts
  packages/order/src/models/line-item-adjustment.ts
  packages/order/src/models/line-item-tax-line.ts
  packages/order/src/models/line-item.ts
  packages/order/src/models/order-change-action.ts
  packages/order/src/models/order-change.ts
  packages/order/src/models/order-detail.ts
  packages/order/src/models/order.ts
  packages/order/src/models/shipping-method-adjustment.ts
  packages/order/src/models/shipping-method-tax-line.ts
  packages/order/src/models/shipping-method.ts
  packages/order/src/models/tax-line.ts
  packages/order/src/models/transaction.ts
  packages/order/src/services/order-module-service.ts
  packages/order/src/types/UpdateOrderShippingMethodDTO.ts
  packages/order/src/types/address.ts
  packages/order/src/types/common.ts
  packages/order/src/types/index.ts
  packages/order/src/types/line-item-adjustment.ts
  packages/order/src/types/order.ts
  packages/order/src/types/shipping-method-adjustment.ts
  packages/order/src/types/tax-line.ts
  packages/order/src/types/transaction.ts
  packages/types/src/order/common.ts
  packages/types/src/order/mutations.ts
  packages/utils/src/dal/index.ts
  packages/utils/src/dal/mikro-orm/big-number-field.ts
  packages/utils/src/order/status.ts
Labels: automerge, team: medusa

#6454 Update CONTRIBUTING.md to include information on generating a changeset
  CONTRIBUTING.md
Labels: team: medusa

#6452 docs: add missing widget props for collections injection zones
  www/apps/docs/content/admin/widgets.md
Labels: type: docs, team: medusa

#6415 fix(medusa): register logger when running migrations
  .changeset/tasty-cherries-worry.md
  packages/medusa/src/commands/migrate.js
Labels: team: medusa

#6448 Feat(medusa, user): require authentication for invite accept
  integration-tests/plugins/__tests__/invites/accept-invite.spec.ts
  integration-tests/plugins/helpers/create-admin-user.ts
  integration-tests/plugins/medusa-config.js
  packages/medusa/src/api-v2/admin/invites/accept/route.ts
  packages/medusa/src/api-v2/admin/invites/middlewares.ts
  packages/medusa/src/utils/authenticate-middleware.ts
  packages/user/src/services/invite.ts
Labels: team: medusa

#6468 fix(workflows-sdk): Fix StepFunction typings and custom step name
  .changeset/smart-nails-switch.md
  packages/core-flows/src/definition/cart/workflows/create-carts.ts
  packages/workflows-sdk/package.json
  packages/workflows-sdk/src/utils/_playground.ts
  packages/workflows-sdk/src/utils/composer/create-step.ts
  packages/workflows-sdk/src/utils/composer/type.ts
Labels: team: medusa

#6470 docs: typo fix in create event module reference
  www/apps/docs/content/development/events/create-module.md
Labels: team: medusa

#6473 feat(utils): Fix big number decorator and cleanup
  .changeset/fair-panthers-nail.md
  packages/order/src/models/adjustment-line.ts
  packages/order/src/models/line-item.ts
  packages/order/src/models/order-detail.ts
  packages/order/src/models/shipping-method.ts
  packages/order/src/models/tax-line.ts
  packages/order/src/models/transaction.ts
  packages/payment/integration-tests/__tests__/services/payment-module/index.spec.ts
  packages/payment/src/models/payment-session.ts
  packages/utils/jest.config.js
  packages/utils/src/dal/mikro-orm/__tests__/big-number-field.spec.ts
  packages/utils/src/dal/mikro-orm/big-number-field.ts
  packages/utils/src/totals/big-number.ts
  packages/utils/tsconfig.spec.json
Labels: automerge, team: medusa

#6431 feat(modules-sdk, types, user, utils):init user module events
  packages/medusa-test-utils/src/index.ts
  packages/medusa-test-utils/src/mock-event-bus-service.ts
  packages/medusa-test-utils/src/module-test-runner.ts
  packages/modules-sdk/src/definitions.ts
  packages/types/src/shared-context.ts
  packages/types/src/user/mutations.ts
  packages/user/integration-tests/__tests__/services/module/invite.spec.ts
  packages/user/integration-tests/__tests__/services/module/user.spec.ts
  packages/user/integration-tests/utils/get-init-module-config.ts
  packages/user/src/services/user-module.ts
  packages/utils/src/bundles.ts
  packages/utils/src/event-bus/message-aggregator.ts
  packages/utils/src/index.ts
  packages/utils/src/modules-sdk/abstract-module-service-factory.ts
  packages/utils/src/modules-sdk/decorators/emit-events.ts
  packages/utils/src/modules-sdk/decorators/index.ts
  packages/utils/src/modules-sdk/decorators/inject-into-context.ts
  packages/utils/src/user/events.ts
  packages/utils/src/user/index.ts
Labels: team: medusa

#6471 feat(api-key): Add the endpoints and workflows for api key module
  integration-tests/plugins/__tests__/api-key/admin/api-key.spec.ts
  integration-tests/plugins/medusa-config.js
  integration-tests/plugins/package.json
  packages/api-key/integration-tests/__tests__/api-key-module-service.spec.ts
  packages/api-key/src/joiner-config.ts
  packages/api-key/src/services/api-key-module-service.ts
  packages/core-flows/src/api-key/index.ts
  packages/core-flows/src/api-key/steps/create-api-keys.ts
  packages/core-flows/src/api-key/steps/delete-api-keys.ts
  packages/core-flows/src/api-key/steps/index.ts
  packages/core-flows/src/api-key/steps/revoke-api-keys.ts
  packages/core-flows/src/api-key/steps/update-api-keys.ts
  packages/core-flows/src/api-key/workflows/create-api-keys.ts
  packages/core-flows/src/api-key/workflows/delete-api-keys.ts
  packages/core-flows/src/api-key/workflows/index.ts
  packages/core-flows/src/api-key/workflows/revoke-api-keys.ts
  packages/core-flows/src/api-key/workflows/update-api-keys.ts
  packages/core-flows/src/index.ts
  packages/medusa/src/api-v2/admin/api-keys/[id]/revoke/route.ts
  packages/medusa/src/api-v2/admin/api-keys/[id]/route.ts
  packages/medusa/src/api-v2/admin/api-keys/middlewares.ts
  packages/medusa/src/api-v2/admin/api-keys/query-config.ts
  packages/medusa/src/api-v2/admin/api-keys/route.ts
  packages/medusa/src/api-v2/admin/api-keys/validators.ts
  packages/medusa/src/api-v2/middlewares.ts
  packages/types/src/api-key/service.ts
  yarn.lock
Labels: team: medusa

#6455 feat(fulfillment): Shipping options, rules CRUD + rules based context filtering
  packages/fulfillment/integration-tests/__tests__/fulfillment-module-service.spec.ts
  packages/fulfillment/jest.config.js
  packages/fulfillment/package.json
  packages/fulfillment/src/migrations/.snapshot-medusa-fulfillment.json
  packages/fulfillment/src/migrations/Migration20240221164918_InitialSetupMigration.ts
  packages/fulfillment/src/models/geo-zone.ts
  packages/fulfillment/src/models/service-zone.ts
  packages/fulfillment/src/models/shipping-option-rule.ts
  packages/fulfillment/src/models/shipping-option-type.ts
  packages/fulfillment/src/models/shipping-option.ts
  packages/fulfillment/src/services/fulfillment-module-service.ts
  packages/fulfillment/src/utils/__tests__/utils.spec.ts
  packages/fulfillment/src/utils/index.ts
  packages/fulfillment/src/utils/utils.ts
  packages/fulfillment/tsconfig.json
  packages/medusa/src/types/routing.ts
  packages/types/src/fulfillment/mutations/shipping-option-rule.ts
  packages/types/src/fulfillment/service.ts
  packages/utils/src/modules-sdk/internal-module-service-factory.ts
Labels: automerge, team: medusa

#6352 chore: generated tsdocs
  packages/types/src/auth/common/auth-user.ts
  packages/types/src/auth/common/provider.ts
  packages/types/src/auth/service.ts
  packages/types/src/authentication/common/provider.ts
  packages/types/src/common/common.ts
  packages/types/src/customer/common.ts
  packages/types/src/customer/mutations.ts
  packages/types/src/customer/service.ts
  packages/types/src/dal/index.ts
  packages/types/src/inventory/service.ts
  packages/types/src/payment/common.ts
  packages/types/src/payment/mutations.ts
  packages/types/src/payment/service.ts
  packages/types/src/pricing/service.ts
  packages/types/src/product/service.ts
  packages/types/src/region/common.ts
  packages/types/src/region/mutations.ts
  packages/types/src/region/service.ts
  packages/types/src/region__legacy/common.ts
  packages/types/src/sales-channel/common.ts
  packages/types/src/sales-channel/mutations.ts
  packages/types/src/sales-channel/service.ts
  packages/types/src/stock-location/common.ts
  packages/types/src/stock-location/service.ts
  packages/types/src/user/common.ts
  packages/types/src/user/mutations.ts
  packages/types/src/user/service.ts
Labels: automerge, team: medusa

#6489 chore(util): Detect circular dependencies on soft delete
  .changeset/rude-knives-wait.md
  packages/utils/src/dal/mikro-orm/__fixtures__/utils.ts
  packages/utils/src/dal/mikro-orm/__tests__/utils.spec.ts
  packages/utils/src/dal/mikro-orm/mikro-orm-repository.ts
  packages/utils/src/dal/mikro-orm/utils.ts
Labels: team: medusa

#6464 feat(tax): singular creates and deletes of regions, rates, rules
  packages/tax/integration-tests/__tests__/index.spec.ts
  packages/tax/src/services/tax-module-service.ts
  packages/types/src/tax/mutations.ts
  packages/types/src/tax/service.ts
Labels: automerge, team: medusa

#6486 feat(tax): soft deletes
  packages/tax/integration-tests/__tests__/index.spec.ts
  packages/tax/jest.config.js
  packages/tax/src/models/tax-rate-rule.ts
  packages/tax/src/models/tax-rate.ts
  packages/tax/src/models/tax-region.ts
  packages/types/src/tax/service.ts
Labels: automerge, team: medusa

#6504 chore(utils): Soft delete should allow self referencing circular deps
  .changeset/fair-baboons-cry.md
  packages/tax/integration-tests/__tests__/index.spec.ts
  packages/utils/src/dal/mikro-orm/__fixtures__/utils.ts
  packages/utils/src/dal/mikro-orm/__tests__/utils.spec.ts
  packages/utils/src/dal/mikro-orm/utils.ts
Labels: automerge, team: medusa

#6499 fix(utils): bignumber util considers nullable options when setting value
  .changeset/itchy-bags-play.md
  packages/cart/src/models/line-item-adjustment.ts
  packages/cart/src/models/shipping-method-adjustment.ts
  packages/payment/integration-tests/__tests__/services/payment-module/index.spec.ts
  packages/utils/src/common/index.ts
  packages/utils/src/common/trim-zeros.ts
  packages/utils/src/dal/mikro-orm/__tests__/big-number-field.spec.ts
  packages/utils/src/dal/mikro-orm/big-number-field.ts
  packages/utils/src/totals/__tests__/big-number.spec.ts
  packages/utils/src/totals/big-number.ts
Labels: automerge, team: medusa

#6506 feat: Add skeleton for Store module
  packages/modules-sdk/src/definitions.ts
  packages/store/.gitignore
  packages/store/README.md
  packages/store/integration-tests/__fixtures__/index.ts
  packages/store/integration-tests/__tests__/store-module-service.spec.ts
  packages/store/jest.config.js
  packages/store/mikro-orm.config.dev.ts
  packages/store/package.json
  packages/store/src/index.ts
  packages/store/src/joiner-config.ts
  packages/store/src/models/index.ts
  packages/store/src/models/store.ts
  packages/store/src/module-definition.ts
  packages/store/src/repositories/index.ts
  packages/store/src/scripts/bin/run-seed.ts
  packages/store/src/services/__tests__/noop.ts
  packages/store/src/services/index.ts
  packages/store/src/services/store-module-service.ts
  packages/store/src/types/index.ts
  packages/store/tsconfig.json
  packages/store/tsconfig.spec.json
  packages/types/src/bundles.ts
  packages/types/src/index.ts
  packages/types/src/store/common/index.ts
  packages/types/src/store/common/store.ts
  packages/types/src/store/index.ts
  packages/types/src/store/mutations/index.ts
  packages/types/src/store/mutations/store.ts
  packages/types/src/store/service.ts
  yarn.lock
Labels: automerge, team: medusa

#6474 feat(workflows-sdk,core-flows,medusa,types): add workflow to update promotions to cart
  .changeset/clean-llamas-join.md
  integration-tests/plugins/__tests__/cart/store/add-promotions-to-cart.spec.ts
  integration-tests/plugins/__tests__/cart/store/remove-promotions-from-cart.spec.ts
  packages/cart/integration-tests/__tests__/services/cart-module/index.spec.ts
  packages/cart/src/models/line-item.ts
  packages/cart/src/models/shipping-method.ts
  packages/core-flows/src/definition/cart/steps/create-line-item-adjustments.ts
  packages/core-flows/src/definition/cart/steps/create-shipping-method-adjustments.ts
  packages/core-flows/src/definition/cart/steps/get-actions-to-compute-from-promotions.ts
  packages/core-flows/src/definition/cart/steps/index.ts
  packages/core-flows/src/definition/cart/steps/prepare-adjustments-from-promotion-actions.ts
  packages/core-flows/src/definition/cart/steps/remove-line-item-adjustments.ts
  packages/core-flows/src/definition/cart/steps/remove-shipping-method-adjustments.ts
  packages/core-flows/src/definition/cart/steps/retrieve-cart.ts
  packages/core-flows/src/definition/cart/workflows/index.ts
  packages/core-flows/src/definition/cart/workflows/update-cart-promotions.ts
  packages/medusa/src/api-v2/store/carts/[id]/promotions/route.ts
  packages/medusa/src/api-v2/store/carts/middlewares.ts
  packages/medusa/src/api-v2/store/carts/validators.ts
  packages/promotion/src/services/promotion-module.ts
  packages/promotion/src/utils/compute-actions/buy-get.ts
  packages/promotion/src/utils/compute-actions/items.ts
  packages/promotion/src/utils/compute-actions/shipping-methods.ts
  packages/promotion/src/utils/compute-actions/usage.ts
  packages/types/src/cart/common.ts
  packages/types/src/cart/service.ts
  packages/utils/src/modules-sdk/abstract-module-service-factory.ts
  packages/utils/src/modules-sdk/loaders/container-loader-factory.ts
  packages/workflows-sdk/src/utils/composer/create-workflow.ts
  packages/workflows-sdk/src/utils/composer/type.ts
Labels: automerge, team: medusa

#6449 feat: Create cart with line items
  integration-tests/plugins/__tests__/cart/store/cart.workflows.spec.ts
  integration-tests/plugins/__tests__/cart/store/carts.spec.ts
  integration-tests/plugins/__tests__/workflow-engine/tests.ts
  packages/core-flows/src/definition/cart/steps/add-to-cart.ts
  packages/core-flows/src/definition/cart/steps/find-one-or-any-region.ts
  packages/core-flows/src/definition/cart/steps/get-variant-price-sets.ts
  packages/core-flows/src/definition/cart/steps/get-variants.ts
  packages/core-flows/src/definition/cart/steps/index.ts
  packages/core-flows/src/definition/cart/steps/validate-variants-existence.ts
  packages/core-flows/src/definition/cart/utils/prepare-line-item-data.ts
  packages/core-flows/src/definition/cart/workflows/add-to-cart.ts
  packages/core-flows/src/definition/cart/workflows/create-carts.ts
  packages/core-flows/src/definition/cart/workflows/index.ts
  packages/medusa/src/api-v2/store/carts/[id]/line-items/route.ts
  packages/medusa/src/api-v2/store/carts/[id]/line-items/validators.ts
  packages/medusa/src/api-v2/store/carts/middlewares.ts
  packages/medusa/src/api-v2/store/carts/route.ts
  packages/medusa/src/api/middlewares/error-handler.ts
  packages/medusa/src/loaders/database.ts
  packages/medusa/src/services/pricing.ts
  packages/types/src/cart/workflows.ts
  packages/types/src/product/common.ts
  packages/utils/src/orchestration/symbol.ts
  packages/workflow-engine-inmemory/src/utils/workflow-orchestrator-storage.ts
  packages/workflow-engine-redis/src/utils/workflow-orchestrator-storage.ts
  packages/workflows-sdk/src/utils/composer/type.ts
Labels: automerge, team: medusa

#6510 feat: Add basic CRUD functionality to store module
  packages/store/integration-tests/__fixtures__/index.ts
  packages/store/integration-tests/__tests__/store-module-service.spec.ts
  packages/store/src/migrations/.snapshot-medusa-store.json
  packages/store/src/migrations/InitialSetup20240226130829.ts
  packages/store/src/models/store.ts
  packages/store/src/services/store-module-service.ts
  packages/store/src/types/index.ts
  packages/types/src/store/common/store.ts
  packages/types/src/store/mutations/store.ts
  packages/types/src/store/service.ts
Labels: automerge, team: medusa

#6507 feat(fulfillment): List shipping options filtered by context anmd rules
  .changeset/loud-mirrors-perform.md
  packages/fulfillment/integration-tests/__fixtures__/index.ts
  packages/fulfillment/integration-tests/__tests__/fulfillment-module-service.spec.ts
  packages/fulfillment/src/services/fulfillment-module-service.ts
  packages/fulfillment/src/utils/__tests__/utils.spec.ts
  packages/fulfillment/src/utils/utils.ts
  packages/types/src/fulfillment/common/shipping-option.ts
Labels: automerge, team: medusa

#6311 feat(payment, payment-stripe): Add Stripe module provider
  .changeset/swift-frogs-collect.md
  packages/auth/src/providers/google.ts
  packages/medusa-payment-stripe/src/api/utils/utils.ts
  packages/medusa/src/api-v2/hooks/middlewares.ts
  packages/medusa/src/api-v2/hooks/payment/[provider]/route.ts
  packages/medusa/src/api-v2/middlewares.ts
  packages/medusa/src/loaders/api.ts
  packages/medusa/src/loaders/helpers/routing/index.ts
  packages/medusa/src/loaders/helpers/routing/types.ts
  packages/medusa/src/subscribers/payment-webhook.ts
  packages/medusa/src/types/routing.ts
  packages/payment-stripe/.gitignore
  packages/payment-stripe/CHANGELOG.md
  packages/payment-stripe/README.md
  packages/payment-stripe/jest.config.js
  packages/payment-stripe/package.json
  packages/payment-stripe/src/core/stripe-base.ts
  packages/payment-stripe/src/index.ts
  packages/payment-stripe/src/services/index.ts
  packages/payment-stripe/src/services/stripe-bancontact.ts
  packages/payment-stripe/src/services/stripe-blik.ts
  packages/payment-stripe/src/services/stripe-giropay.ts
  packages/payment-stripe/src/services/stripe-ideal.ts
  packages/payment-stripe/src/services/stripe-provider.ts
  packages/payment-stripe/src/services/stripe-przelewy24.ts
  packages/payment-stripe/src/types/index.ts
  packages/payment-stripe/tsconfig.json
  packages/payment-stripe/tsconfig.spec.json
  packages/payment/integration-tests/__fixtures__/data.ts
  packages/payment/integration-tests/__tests__/loaders/providers.spec.ts
  packages/payment/integration-tests/__tests__/services/payment-module/index.spec.ts
  packages/payment/integration-tests/utils/get-init-module-config.ts
  packages/payment/src/initialize/index.ts
  packages/payment/src/loaders/providers.ts
  packages/payment/src/models/payment.ts
  packages/payment/src/providers/system.ts
  packages/payment/src/services/index.ts
  packages/payment/src/services/payment-module.ts
  packages/payment/src/services/payment-provider.ts
  packages/types/src/modules-sdk/index.ts
  packages/types/src/modules-sdk/module-provider.ts
  packages/types/src/payment/common.ts
  packages/types/src/payment/mutations.ts
  packages/types/src/payment/provider.ts
  packages/types/src/payment/service.ts
  packages/utils/src/payment/abstract-payment-provider.ts
  packages/utils/src/payment/index.ts
  packages/utils/src/payment/webhook.ts
  yarn.lock
Labels: team: medusa

#6469 feat: Refresh invite
  integration-tests/plugins/__tests__/invites/resend-invite.spec.ts
  packages/core-flows/src/invite/steps/index.ts
  packages/core-flows/src/invite/steps/refresh-invite-tokens.ts
  packages/core-flows/src/invite/workflows/index.ts
  packages/core-flows/src/invite/workflows/refresh-invite-tokens.ts
  packages/medusa/src/api-v2/admin/invites/[id]/resend/route.ts
  packages/types/src/user/service.ts
  packages/types/src/workflow/invite/index.ts
  packages/types/src/workflow/invite/resend-invite.ts
  packages/user/integration-tests/__tests__/services/module/invite.spec.ts
  packages/user/src/services/invite.ts
  packages/user/src/services/user-module.ts
  packages/utils/src/user/events.ts
Labels: automerge, team: medusa

#6519 Update redis.md
  www/apps/docs/content/development/events/modules/redis.md
Labels: automerge

#6513 feat(tax): normalize country and province code
  packages/tax/integration-tests/__tests__/index.spec.ts
  packages/tax/src/services/tax-module-service.ts
  packages/types/src/tax/mutations.ts
Labels: automerge, team: medusa

#6516 feat(tax): add support for updating tax rates
  packages/tax/integration-tests/__tests__/index.spec.ts
  packages/tax/src/services/tax-module-service.ts
  packages/types/src/tax/mutations.ts
  packages/types/src/tax/service.ts
Labels: automerge, team: medusa

#6484 feat(api-key): Allow revoking in the future, and enforce the secret key
  integration-tests/plugins/__tests__/api-key/admin/api-key.spec.ts
  packages/api-key/integration-tests/__tests__/api-key-module-service.spec.ts
  packages/api-key/src/services/api-key-module-service.ts
  packages/api-key/src/types/index.ts
  packages/core-flows/src/api-key/steps/revoke-api-keys.ts
  packages/core-flows/src/api-key/steps/update-api-keys.ts
  packages/core-flows/src/api-key/workflows/revoke-api-keys.ts
  packages/core-flows/src/api-key/workflows/update-api-keys.ts
  packages/medusa/src/api-v2/admin/api-keys/[id]/revoke/route.ts
  packages/medusa/src/api-v2/admin/api-keys/[id]/route.ts
  packages/medusa/src/api-v2/admin/api-keys/validators.ts
  packages/types/src/api-key/mutations/api-key.ts
  packages/types/src/api-key/service.ts
Labels: automerge, team: medusa

#6520 feat(user): standardize events emitted for token generation
  packages/user/integration-tests/__tests__/services/module/invite.spec.ts
  packages/user/src/services/user-module.ts
Labels: team: medusa

#6490 feat(admin-next) discounts list page
  .changeset/polite-papayas-exercise.md
  packages/admin-next/dashboard/public/locales/en-US/translation.json
  packages/admin-next/dashboard/src/components/table/table-cells/discount/code-cell/code-cell.tsx
  packages/admin-next/dashboard/src/components/table/table-cells/discount/code-cell/index.ts
  packages/admin-next/dashboard/src/components/table/table-cells/discount/description-cell/description-cell.tsx
  packages/admin-next/dashboard/src/components/table/table-cells/discount/description-cell/index.ts
  packages/admin-next/dashboard/src/components/table/table-cells/discount/redemption-cell/index.ts
  packages/admin-next/dashboard/src/components/table/table-cells/discount/redemption-cell/redemption-cell.tsx
  packages/admin-next/dashboard/src/components/table/table-cells/discount/status-cell/index.ts
  packages/admin-next/dashboard/src/components/table/table-cells/discount/status-cell/status-cell.tsx
  packages/admin-next/dashboard/src/components/table/table-cells/discount/value-cell/index.ts
  packages/admin-next/dashboard/src/components/table/table-cells/discount/value-cell/value-cell.tsx
  packages/admin-next/dashboard/src/hooks/table/columns/use-discount-table-columns.tsx
  packages/admin-next/dashboard/src/hooks/table/filters/use-discount-table-filters.tsx
  packages/admin-next/dashboard/src/hooks/table/query/use-discount-table-query.tsx
  packages/admin-next/dashboard/src/routes/discounts/list/components/discount-list-table/discount-list-table.tsx
  packages/admin-next/dashboard/src/routes/discounts/list/components/discount-list-table/index.ts
  packages/admin-next/dashboard/src/routes/discounts/list/index.ts
  packages/admin-next/dashboard/src/routes/discounts/list/list.tsx
  packages/admin-next/dashboard/src/routes/discounts/list/loader.ts
  packages/generated/client-types/src/lib/models/AdminGetDiscountsParams.ts
  packages/medusa/src/api/routes/admin/discounts/list-discounts.ts
  packages/medusa/src/types/discount.ts
Labels: team: medusa

#6514 feat(core-flows,medusa,types,utils): adds update cart API with promotions
  .changeset/shiny-avocados-give.md
  integration-tests/plugins/__tests__/cart/store/carts.spec.ts
  packages/cart/src/types/cart.ts
  packages/core-flows/src/definition/cart/steps/find-or-create-customer.ts
  packages/core-flows/src/definition/cart/steps/find-sales-channel.ts
  packages/core-flows/src/definition/cart/steps/get-actions-to-compute-from-promotions.ts
  packages/core-flows/src/definition/cart/steps/retrieve-cart.ts
  packages/core-flows/src/definition/cart/steps/update-carts.ts
  packages/core-flows/src/definition/cart/workflows/index.ts
  packages/core-flows/src/definition/cart/workflows/update-cart-promotions.ts
  packages/core-flows/src/definition/cart/workflows/update-cart.ts
  packages/core-flows/src/definition/cart/workflows/update-carts.ts
  packages/medusa/src/api-v2/store/carts/[id]/promotions/route.ts
  packages/medusa/src/api-v2/store/carts/[id]/route.ts
  packages/medusa/src/api-v2/store/carts/query-config.ts
  packages/medusa/src/api-v2/store/carts/validators.ts
  packages/types/src/cart/mutations.ts
  packages/types/src/cart/workflows.ts
  packages/types/src/index.ts
  packages/utils/src/promotion/index.ts
Labels: automerge, team: medusa

#6478 feat: Line Items API Routes
  integration-tests/plugins/__tests__/cart/store/cart.workflows.spec.ts
  packages/cart/src/migrations/.snapshot-medusa-cart.json
  packages/cart/src/migrations/Migration20240222170223.ts
  packages/cart/src/models/adjustment-line.ts
  packages/cart/src/models/cart.ts
  packages/cart/src/models/line-item-adjustment.ts
  packages/cart/src/models/line-item-tax-line.ts
  packages/cart/src/models/line-item.ts
  packages/cart/src/models/shipping-method-adjustment.ts
  packages/cart/src/models/shipping-method-tax-line.ts
  packages/cart/src/models/shipping-method.ts
  packages/cart/src/models/tax-line.ts
  packages/cart/src/services/cart-module.ts
  packages/core-flows/src/definition/cart/workflows/index.ts
  packages/core-flows/src/definition/cart/workflows/update-line-item-in-cart.ts
  packages/core-flows/src/definition/index.ts
  packages/core-flows/src/definition/line-item/index.ts
  packages/core-flows/src/definition/line-item/steps/delete-line-items.ts
  packages/core-flows/src/definition/line-item/steps/index.ts
  packages/core-flows/src/definition/line-item/steps/list-line-items.ts
  packages/core-flows/src/definition/line-item/steps/update-line-items.ts
  packages/core-flows/src/definition/line-item/workflows/delete-line-items.ts
  packages/core-flows/src/definition/line-item/workflows/index.ts
  packages/medusa/src/api-v2/store/carts/[id]/line-items/[line_id]/route.ts
  packages/medusa/src/api-v2/store/carts/[id]/line-items/[line_id]/validators.ts
  packages/medusa/src/api-v2/store/carts/middlewares.ts
  packages/types/src/cart/common.ts
  packages/types/src/cart/mutations.ts
  packages/types/src/cart/workflows.ts
  packages/utils/src/modules-sdk/internal-module-service-factory.ts
Labels: automerge, team: medusa

#6521 feat(api-key): Add api-key authentication to middleware
  integration-tests/plugins/__tests__/api-key/admin/api-key.spec.ts
  packages/medusa/src/api-v2/admin/regions/middlewares.ts
  packages/medusa/src/utils/authenticate-middleware.ts
Labels: automerge, team: medusa

#6525 chore(utils): Improve big number decorator
  .changeset/honest-poets-sniff.md
  packages/utils/src/dal/mikro-orm/__tests__/big-number-field.spec.ts
  packages/utils/src/dal/mikro-orm/big-number-field.ts
Labels: automerge, team: medusa

#6509 feat(payment): Add migration
  packages/payment/integration-tests/__tests__/services/payment-module/index.spec.ts
  packages/payment/src/migrations/Migration20240225134525.ts
  packages/payment/src/models/capture.ts
  packages/payment/src/models/payment-collection.ts
  packages/payment/src/models/payment-method-token.ts
  packages/payment/src/models/payment-session.ts
  packages/payment/src/models/payment.ts
  packages/payment/src/models/refund.ts
Labels: team: medusa

#6515 feat: Add basic endpoints and workflows for Store module
  integration-tests/plugins/__tests__/store/admin/store.spec.ts
  integration-tests/plugins/medusa-config.js
  integration-tests/plugins/package.json
  packages/core-flows/src/index.ts
  packages/core-flows/src/store/index.ts
  packages/core-flows/src/store/steps/create-stores.ts
  packages/core-flows/src/store/steps/delete-stores.ts
  packages/core-flows/src/store/steps/index.ts
  packages/core-flows/src/store/steps/update-stores.ts
  packages/core-flows/src/store/workflows/create-stores.ts
  packages/core-flows/src/store/workflows/delete-stores.ts
  packages/core-flows/src/store/workflows/index.ts
  packages/core-flows/src/store/workflows/update-stores.ts
  packages/medusa/src/api-v2/admin/stores/[id]/route.ts
  packages/medusa/src/api-v2/admin/stores/middlewares.ts
  packages/medusa/src/api-v2/admin/stores/query-config.ts
  packages/medusa/src/api-v2/admin/stores/route.ts
  packages/medusa/src/api-v2/admin/stores/validators.ts
  packages/medusa/src/api-v2/middlewares.ts
  packages/store/src/migrations/.snapshot-medusa-store.json
  packages/store/src/migrations/InitialSetup20240226130829.ts
  packages/store/src/migrations/InitialSetup20240227075933.ts
  packages/store/src/models/store.ts
  packages/types/src/store/mutations/store.ts
  packages/types/src/store/service.ts
  yarn.lock
Labels: automerge, team: medusa

#6491 chore(cart): Use module native soft-delete/delete methods
  integration-tests/plugins/__tests__/cart/store/cart.workflows.spec.ts
  packages/cart/integration-tests/__tests__/services/cart-module/index.spec.ts
  packages/cart/src/services/cart-module.ts
  packages/core-flows/src/definition/cart/steps/add-to-cart.ts
  packages/core-flows/src/definition/line-item/steps/delete-line-items.ts
  packages/medusa/src/api-v2/store/carts/route.ts
  packages/types/src/cart/service.ts
Labels: automerge, team: medusa

#6289 feat(types): add util to transform get response to an update request
  .changeset/real-peas-look.md
  packages/core-flows/src/promotion/steps/update-campaigns.ts
  packages/core-flows/src/promotion/steps/update-promotions.ts
  packages/utils/src/common/__tests__/convert-item-response-to-update-request.ts
  packages/utils/src/common/convert-item-response-to-update-request.ts
  packages/utils/src/common/index.ts
Labels: automerge, team: medusa

#6522 feat(types): promotion module uses big number
  .changeset/new-baboons-wash.md
  integration-tests/plugins/__tests__/promotion/admin/list-campaigns.spec.ts
  integration-tests/plugins/__tests__/promotion/admin/retrieve-campaign.spec.ts
  packages/promotion/integration-tests/__tests__/services/promotion-module/campaign.spec.ts
  packages/promotion/integration-tests/__tests__/services/promotion-module/compute-actions.spec.ts
  packages/promotion/src/migrations/.snapshot-medusa-promotion.json
  packages/promotion/src/migrations/Migration20240122084316.ts
  packages/promotion/src/migrations/Migration20240227120221.ts
  packages/promotion/src/models/application-method.ts
  packages/promotion/src/models/campaign-budget.ts
  packages/promotion/src/models/campaign.ts
  packages/promotion/src/services/promotion-module.ts
  packages/promotion/src/types/application-method.ts
  packages/promotion/src/utils/compute-actions/items.ts
  packages/promotion/src/utils/compute-actions/shipping-methods.ts
  packages/promotion/src/utils/validations/application-method.ts
  packages/types/src/promotion/common/application-method.ts
Labels: automerge, team: medusa

#6523 feat(tax): migration file
  integration-tests/plugins/__tests__/tax/admin/tax.spec.ts
  integration-tests/plugins/medusa-config.js
  integration-tests/plugins/package.json
  packages/medusa/src/api-v2/admin/tax-rates/[id]/route.ts
  packages/medusa/src/api-v2/admin/tax-rates/middlewares.ts
  packages/medusa/src/api-v2/admin/tax-rates/query-config.ts
  packages/medusa/src/api-v2/admin/tax-rates/validators.ts
  packages/medusa/src/api-v2/middlewares.ts
  packages/tax/src/joiner-config.ts
  packages/tax/src/migrations/.snapshot-medusa-tax.json
  packages/tax/src/migrations/Migration20240227090331.ts
  packages/tax/src/models/index.ts
  packages/tax/src/services/tax-module-service.ts
  packages/types/src/tax/common.ts
  yarn.lock
Labels: automerge, team: medusa

#6483 feat(dashboard,medusa): Update Pub. API key table and add query params to endpoint
  .changeset/shaggy-fishes-sit.md
  packages/admin-next/dashboard/public/locales/en-US/translation.json
  packages/admin-next/dashboard/src/routes/api-key-management/api-key-management-detail/components/api-key-general-section/api-key-general-section.tsx
  packages/admin-next/dashboard/src/routes/api-key-management/api-key-management-list/api-key-management-list.tsx
  packages/admin-next/dashboard/src/routes/api-key-management/api-key-management-list/components/api-key-management-list-table/api-key-management-list-table.tsx
  packages/admin-next/dashboard/src/routes/api-key-management/api-key-management-list/components/api-key-management-list-table/use-api-key-management-table-columns.tsx
  packages/admin-next/dashboard/src/routes/api-key-management/api-key-management-list/components/api-key-management-list-table/use-api-key-management-table-filters.tsx
  packages/admin-next/dashboard/src/routes/api-key-management/api-key-management-list/components/api-key-management-list-table/use-api-key-management-table-query.tsx
  packages/generated/client-types/src/lib/models/GetPublishableApiKeysParams.ts
  packages/medusa/src/api/routes/admin/publishable-api-keys/list-publishable-api-keys.ts
  packages/medusa/src/services/publishable-api-key.ts
Labels: automerge, team: medusa

#6537 feat(tax): add support for updating tax rates
  integration-tests/plugins/__tests__/tax/admin/tax.spec.ts
  packages/core-flows/src/tax/steps/index.ts
  packages/core-flows/src/tax/steps/update-tax-rates.ts
  packages/core-flows/src/tax/workflows/index.ts
  packages/core-flows/src/tax/workflows/update-tax-rates.ts
  packages/medusa/src/api-v2/admin/tax-rates/[id]/route.ts
  packages/medusa/src/api-v2/admin/tax-rates/middlewares.ts
  packages/medusa/src/api-v2/admin/tax-rates/validators.ts
  packages/tax/src/services/tax-module-service.ts
  packages/types/src/tax/mutations.ts
  packages/types/src/tax/service.ts
Labels: automerge, team: medusa

#6541 feat(tax): v2 api tax rates and regions deletes
  integration-tests/plugins/__tests__/tax/admin/tax.spec.ts
  packages/core-flows/src/tax/steps/delete-tax-rates.ts
  packages/core-flows/src/tax/steps/delete-tax-regions.ts
  packages/core-flows/src/tax/steps/index.ts
  packages/core-flows/src/tax/workflows/delete-tax-rates.ts
  packages/core-flows/src/tax/workflows/delete-tax-regions.ts
  packages/core-flows/src/tax/workflows/index.ts
  packages/medusa/src/api-v2/admin/tax-rates/[id]/route.ts
  packages/medusa/src/api-v2/admin/tax-regions/[id]/route.ts
  packages/types/src/tax/common.ts
  packages/types/src/tax/service.ts
Labels: automerge, team: medusa

#6530 docs: fixes to CLI reference
  www/apps/docs/content/cli/reference.mdx
Labels: type: docs, team: medusa

#6531 feat(utils): consolidate promotion utils + refactor + fixes
  .changeset/happy-starfishes-grab.md
  packages/promotion/integration-tests/__tests__/services/promotion-module/compute-actions.spec.ts
  packages/promotion/src/services/promotion-module.ts
  packages/promotion/src/utils/compute-actions/index.ts
  packages/promotion/src/utils/compute-actions/items.ts
  packages/promotion/src/utils/compute-actions/line-items.ts
  packages/promotion/src/utils/compute-actions/order.ts
  packages/utils/src/totals/index.ts
  packages/utils/src/totals/promotion/index.ts
  packages/utils/src/totals/promotion/totals.ts
Labels: automerge, team: medusa

#6534 feat(dashboard): Regions domain
  .changeset/red-donkeys-speak.md
  packages/admin-next/dashboard/package.json
  packages/admin-next/dashboard/public/locales/en-US/translation.json
  packages/admin-next/dashboard/src/components/common/combobox/combobox.tsx
  packages/admin-next/dashboard/src/components/common/combobox/index.ts
  packages/admin-next/dashboard/src/components/common/form/form.tsx
  packages/admin-next/dashboard/src/components/common/tax-badge/tax-badge.tsx
  packages/admin-next/dashboard/src/components/layout/split-view/index.ts
  packages/admin-next/dashboard/src/components/layout/split-view/split-view.tsx
  packages/admin-next/dashboard/src/components/table/data-table/data-table-root/data-table-root.tsx
  packages/admin-next/dashboard/src/components/table/table-cells/region/countries-cell/countries-cell.tsx
  packages/admin-next/dashboard/src/components/table/table-cells/region/fulfillment-providers-cell/fulfillment-providers-cell.tsx
  packages/admin-next/dashboard/src/components/table/table-cells/region/payment-providers-cell/payment-providers-cell.tsx
  packages/admin-next/dashboard/src/hooks/use-media-query.tsx
  packages/admin-next/dashboard/src/lib/format-provider.ts
  packages/admin-next/dashboard/src/providers/router-provider/router-provider.tsx
  packages/admin-next/dashboard/src/routes/regions/region-add-countries/components/add-countries-form/add-countries-form.tsx
  packages/admin-next/dashboard/src/routes/regions/region-add-countries/components/add-countries-form/index.ts
  packages/admin-next/dashboard/src/routes/regions/region-add-countries/index.ts
  packages/admin-next/dashboard/src/routes/regions/region-add-countries/region-add-countries.tsx
  packages/admin-next/dashboard/src/routes/regions/region-create-shipping-option/components/create-shipping-option-form/create-shipping-option-form.tsx
  packages/admin-next/dashboard/src/routes/regions/region-create-shipping-option/components/create-shipping-option-form/index.ts
  packages/admin-next/dashboard/src/routes/regions/region-create-shipping-option/index.ts
  packages/admin-next/dashboard/src/routes/regions/region-create-shipping-option/region-create-shipping-option.tsx
  packages/admin-next/dashboard/src/routes/regions/region-create/components/create-region-form/create-region-form.tsx
  packages/admin-next/dashboard/src/routes/regions/region-create/region-create.tsx
  packages/admin-next/dashboard/src/routes/regions/region-detail/components/region-country-section/index.ts
  packages/admin-next/dashboard/src/routes/regions/region-detail/components/region-country-section/region-country-section.tsx
  packages/admin-next/dashboard/src/routes/regions/region-detail/components/region-general-section/region-general-section.tsx
  packages/admin-next/dashboard/src/routes/regions/region-detail/components/region-shipping-option-section/region-shipping-option-section.tsx
  packages/admin-next/dashboard/src/routes/regions/region-detail/components/region-shipping-option-section/use-shipping-option-table-columns.tsx
  packages/admin-next/dashboard/src/routes/regions/region-detail/region-detail.tsx
  packages/admin-next/dashboard/src/routes/regions/region-edit-shipping-option/components/edit-shipping-option-form/edit-shipping-option-form.tsx
  packages/admin-next/dashboard/src/routes/regions/region-edit-shipping-option/components/edit-shipping-option-form/index.ts
  packages/admin-next/dashboard/src/routes/regions/region-edit-shipping-option/index.ts
  packages/admin-next/dashboard/src/routes/regions/region-edit-shipping-option/region-edit-shipping-option.tsx
  packages/admin-next/dashboard/src/routes/regions/region-edit/components/edit-region-form/edit-region-form.tsx
  packages/admin-next/dashboard/src/routes/regions/region-edit/region-edit.tsx
  packages/admin-next/dashboard/src/routes/regions/region-list/components/region-list-table/region-list-table.tsx
  packages/admin-next/dashboard/src/routes/regions/shared/constants.ts
  packages/admin-next/dashboard/src/routes/regions/shared/hooks/use-countries.tsx
  packages/admin-next/dashboard/src/routes/regions/shared/hooks/use-country-table-columns.tsx
  packages/admin-next/dashboard/src/routes/regions/shared/hooks/use-country-table-query.tsx
  packages/admin-next/dashboard/tailwind.config.cjs
  packages/design-system/ui/src/components/radio-group/radio-group.tsx
  yarn.lock
Labels: automerge, team: medusa

#6543 chore: Use default countries and currencies from utils
  .changeset/stupid-parents-push.md
  packages/medusa/src/utils/countries.ts
  packages/medusa/src/utils/currencies.ts
Labels: team: medusa

#6508 feat(link-modules): Cart, Payment Collection link definition
  integration-tests/modules/__tests__/link-modules/cart-links.spec.ts
  integration-tests/modules/__tests__/product/admin/create-product-variant.spec.ts
  integration-tests/modules/__tests__/services/product.ts
  integration-tests/modules/medusa-config.js
  packages/link-modules/src/definitions/cart-payment-collection.ts
  packages/link-modules/src/definitions/index.ts
  packages/link-modules/src/links.ts
  packages/payment/src/migrations/Migration20240225134525.ts
Labels: team: medusa

#6548 chore(actions): Use PG pass secret
  .github/workflows/action.yml
Labels: team: medusa
