Repository medusajs/medusa, pull requests merged in 2024-08, with the labels that each got.

#8368 feat(dashboard,js-sdk,types): add ability to capture payment from order page
  packages/admin-next/dashboard/src/hooks/api/payments.tsx
  packages/admin-next/dashboard/src/i18n/translations/en.json
  packages/admin-next/dashboard/src/lib/format-currency.ts
  packages/admin-next/dashboard/src/routes/orders/order-detail/components/order-payment-section/order-payment-section.tsx
  packages/admin-next/dashboard/src/routes/orders/order-detail/constants.ts
  packages/admin-next/dashboard/src/routes/orders/order-detail/order-detail.tsx
  packages/core/js-sdk/src/admin/index.ts
  packages/core/js-sdk/src/admin/payment.ts
  packages/core/types/src/http/order/admin.ts
  packages/core/types/src/http/payment/admin.ts
Labels: automerge, type: feature, team: medusa

#8380 chore(workflows-sdk): add TSDocs related to createHook
  packages/core/workflows-sdk/src/helper/type.ts
  packages/core/workflows-sdk/src/utils/composer/create-hook.ts
  packages/core/workflows-sdk/src/utils/composer/type.ts
Labels: team: medusa

#8375 feat: Add support for categories in product import and export
  integration-tests/http/__tests__/product/admin/__fixtures__/product-with-categories.csv
  integration-tests/http/__tests__/product/admin/product-export.spec.ts
  integration-tests/http/__tests__/product/admin/product-import.spec.ts
  integration-tests/http/__tests__/product/store/product.spec.ts
  packages/core/core-flows/src/product/helpers/normalize-for-export.ts
  packages/core/core-flows/src/product/helpers/normalize-for-import.ts
  packages/core/core-flows/src/product/workflows/import-products.ts
Labels: team: medusa

#8388 fix: Updating product prices removed existing prices
  packages/admin-next/dashboard/src/routes/products/common/variant-pricing-form.tsx
  packages/admin-next/dashboard/src/routes/products/product-prices/pricing-edit.tsx
Labels: automerge, team: medusa

#8386 feat: Add support for sorting export headers
  integration-tests/http/__tests__/product/admin/__fixtures__/exported-products-comma.csv
  integration-tests/http/__tests__/product/admin/__fixtures__/exported-products-semicolon.csv
  integration-tests/http/__tests__/product/admin/__fixtures__/filtered-products.csv
  integration-tests/http/__tests__/product/admin/__fixtures__/prices-with-region.csv
  integration-tests/http/__tests__/product/admin/__fixtures__/product-with-categories.csv
  integration-tests/http/__tests__/product/admin/product-export.spec.ts
  integration-tests/http/__tests__/product/admin/product-import.spec.ts
  packages/core/core-flows/src/product/helpers/normalize-for-import.ts
  packages/core/core-flows/src/product/helpers/normalize-v1-import.ts
  packages/core/core-flows/src/product/steps/generate-product-csv.ts
  packages/core/utils/src/csv/jsontocsv.ts
Labels: type: feature, team: medusa

#8391 feat: Add `requested_at` + `open` status to return
  integration-tests/http/__tests__/returns/returns.spec.ts
  integration-tests/modules/__tests__/order/workflows/begin-order-return.spec.ts
  packages/core/core-flows/src/order/workflows/claim/confirm-claim-request.ts
  packages/core/core-flows/src/order/workflows/return/begin-receive-return.ts
  packages/core/core-flows/src/order/workflows/return/begin-return.ts
  packages/core/core-flows/src/order/workflows/return/confirm-return-request.ts
  packages/core/types/src/order/mutations.ts
  packages/core/utils/src/order/order-change.ts
  packages/core/utils/src/order/status.ts
  packages/medusa/src/api/admin/returns/query-config.ts
  packages/modules/order/src/migrations/.snapshot-medusa-order.json
  packages/modules/order/src/migrations/Migration20240801085921.ts
  packages/modules/order/src/models/order-change.ts
  packages/modules/order/src/models/return.ts
  packages/modules/order/src/services/actions/create-return.ts
  packages/modules/order/src/services/actions/receive-return.ts
  packages/modules/order/src/types/order-change.ts
Labels: team: medusa

#8390 feat: Show notice on new notifications
  packages/admin-next/dashboard/src/components/layout/notifications/notifications.tsx
  packages/core/types/src/http/notification/admin/entities.ts
Labels: team: medusa

#8320 docs-util: mark type parameters as optional
  www/utils/packages/typedoc-plugin-markdown-medusa/src/resources/helpers/type-parameter-component.ts
  www/utils/packages/typedoc-plugin-markdown-medusa/src/utils/reflection-formatter.ts
Labels: type: docs, automerge, team: medusa

#8335 chore(utils, types): updated TSDocs of AbstractPaymentProvider
  packages/core/types/src/payment/provider.ts
  packages/core/utils/src/payment/abstract-payment-provider.ts
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/auth-provider.ts
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/file.ts
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/fulfillment-provider.ts
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/notification.ts
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/payment-provider.ts
Labels: type: docs, automerge, team: medusa

#8389 feat: add hooks to product module's workflows
  packages/core/core-flows/src/product/workflows/batch-link-products-collection.ts
  packages/core/core-flows/src/product/workflows/create-collections.ts
  packages/core/core-flows/src/product/workflows/create-product-options.ts
  packages/core/core-flows/src/product/workflows/create-product-tags.ts
  packages/core/core-flows/src/product/workflows/create-product-types.ts
  packages/core/core-flows/src/product/workflows/create-product-variants.ts
  packages/core/core-flows/src/product/workflows/create-products.ts
  packages/core/core-flows/src/product/workflows/delete-collections.ts
  packages/core/core-flows/src/product/workflows/delete-product-options.ts
  packages/core/core-flows/src/product/workflows/delete-product-tags.ts
  packages/core/core-flows/src/product/workflows/delete-product-types.ts
  packages/core/core-flows/src/product/workflows/delete-product-variants.ts
  packages/core/core-flows/src/product/workflows/delete-products.ts
  packages/core/core-flows/src/product/workflows/update-collections.ts
  packages/core/core-flows/src/product/workflows/update-product-options.ts
  packages/core/core-flows/src/product/workflows/update-product-tags.ts
  packages/core/core-flows/src/product/workflows/update-product-types.ts
  packages/core/core-flows/src/product/workflows/update-product-variants.ts
  packages/core/core-flows/src/product/workflows/update-products.ts
Labels: team: medusa

#8385 feat(dashboard,types,js-sdk,payment): ability to refund payment in order page
  packages/admin-next/dashboard/src/hooks/api/payments.tsx
  packages/admin-next/dashboard/src/i18n/translations/en.json
  packages/admin-next/dashboard/src/lib/client/payments.ts
  packages/admin-next/dashboard/src/providers/router-provider/route-map.tsx
  packages/admin-next/dashboard/src/routes/orders/order-create-refund/components/create-refund-form/create-refund-form.tsx
  packages/admin-next/dashboard/src/routes/orders/order-create-refund/components/create-refund-form/index.ts
  packages/admin-next/dashboard/src/routes/orders/order-create-refund/index.ts
  packages/admin-next/dashboard/src/routes/orders/order-create-refund/order-create-refund.tsx
  packages/admin-next/dashboard/src/routes/orders/order-detail/components/order-payment-section/order-payment-section.tsx
  packages/core/js-sdk/src/admin/payment.ts
  packages/core/types/src/http/payment/admin.ts
  packages/core/types/src/http/payment/common.ts
  packages/medusa/src/api/admin/payments/query-config.ts
  packages/modules/payment/src/models/refund.ts
Labels: type: feature, team: medusa

#8305 feat(dashboard, js-sdk, types): receive return e2e
  packages/admin-next/dashboard/src/components/common/button-menu/button-menu.tsx
  packages/admin-next/dashboard/src/components/common/button-menu/index.ts
  packages/admin-next/dashboard/src/components/modals/route-modal-form/route-modal-form.tsx
  packages/admin-next/dashboard/src/hooks/api/returns.tsx
  packages/admin-next/dashboard/src/i18n/translations/en.json
  packages/admin-next/dashboard/src/lib/rma.ts
  packages/admin-next/dashboard/src/providers/router-provider/route-map.tsx
  packages/admin-next/dashboard/src/routes/orders/order-create-return/components/return-create-form/return-create-form.tsx
  packages/admin-next/dashboard/src/routes/orders/order-create-return/return-create.tsx
  packages/admin-next/dashboard/src/routes/orders/order-detail/components/order-activity-section/order-timeline.tsx
  packages/admin-next/dashboard/src/routes/orders/order-detail/components/order-summary-section/order-summary-section.tsx
  packages/admin-next/dashboard/src/routes/orders/order-receive-return/components/order-receive-return-form/constants.ts
  packages/admin-next/dashboard/src/routes/orders/order-receive-return/components/order-receive-return-form/index.ts
  packages/admin-next/dashboard/src/routes/orders/order-receive-return/components/order-receive-return-form/order-receive-return-form.tsx
  packages/admin-next/dashboard/src/routes/orders/order-receive-return/components/order-receive-return-form/written-off-quantity.tsx
  packages/admin-next/dashboard/src/routes/orders/order-receive-return/index.ts
  packages/admin-next/dashboard/src/routes/orders/order-receive-return/order-receive-return.tsx
  packages/core/js-sdk/src/admin/return.ts
  packages/core/types/src/http/return/admin.ts
  packages/design-system/icons/src/components/heart-broken.tsx
  packages/design-system/icons/src/components/index.ts
Labels: automerge, type: feature, team: medusa

#8402 Pass updatedCollections to the hook and not the step
  packages/core/core-flows/src/product/workflows/update-collections.ts
Labels: team: medusa

#8394 feat: Use tag ids instead of values wherever possible
  integration-tests/helpers/fixtures.ts
  integration-tests/http/__tests__/product/admin/product-export.spec.ts
  integration-tests/http/__tests__/product/admin/product-import.spec.ts
  integration-tests/http/__tests__/product/admin/product.spec.ts
  integration-tests/http/__tests__/product/store/product.spec.ts
  integration-tests/modules/__tests__/cart/store/carts.spec.ts
  integration-tests/modules/__tests__/shipping-options/store/shipping-options.spec.ts
  packages/admin-next/dashboard/src/components/layout/notifications/notifications.tsx
  packages/admin-next/dashboard/src/hooks/table/filters/use-product-table-filters.tsx
  packages/admin-next/dashboard/src/hooks/table/query/use-product-table-query.tsx
  packages/admin-next/dashboard/src/routes/product-tags/product-tag-detail/components/product-tag-product-section/product-tag-product-section.tsx
  packages/admin-next/dashboard/src/routes/products/product-create/utils.ts
  packages/admin-next/dashboard/src/routes/products/product-detail/components/product-organization-section/product-organization-section.tsx
  packages/admin-next/dashboard/src/routes/products/product-organization/components/product-organization-form/product-organization-form.tsx
  packages/core/core-flows/src/product/helpers/normalize-for-import.ts
  packages/core/core-flows/src/product/steps/group-products-for-batch.ts
  packages/core/core-flows/src/product/steps/parse-product-csv.ts
  packages/core/types/src/http/product/admin/payloads.ts
  packages/core/types/src/product/common.ts
  packages/medusa/src/api/admin/products/validators.ts
  packages/medusa/src/api/store/products/validators.ts
  packages/medusa/src/api/utils/common-validators/products/index.ts
  packages/modules/product/integration-tests/__tests__/product-module-service/products.spec.ts
  packages/modules/product/src/services/index.ts
  packages/modules/product/src/services/product-module-service.ts
  packages/modules/product/src/services/product.ts
Labels: team: medusa

#8401 fix(core-flows,utils,medusa): fix bug where payment collection across orders were getting updated
  integration-tests/http/__tests__/fixtures/order.ts
  integration-tests/http/__tests__/payment/admin/payment.spec.ts
  integration-tests/http/jest.config.js
  packages/admin-next/dashboard/src/routes/orders/order-detail/components/order-payment-section/order-payment-section.tsx
  packages/core/core-flows/src/definition/cart/workflows/refresh-payment-collection.ts
  packages/core/core-flows/src/payment-collection/steps/update-payment-collection.ts
  packages/medusa/src/api/admin/orders/query-config.ts
Labels: automerge, team: medusa

#8406 fix: Check for existence of modules when seeding default data
  packages/core/core-flows/src/defaults/steps/create-default-store.ts
  packages/core/core-flows/src/sales-channel/steps/create-default-sales-channel.ts
Labels: automerge, team: medusa

#8397 chore(core-flows): use create order step on complete cart
  packages/core/core-flows/src/definition/cart/steps/create-order-from-cart.ts
  packages/core/core-flows/src/definition/cart/steps/index.ts
  packages/core/core-flows/src/definition/cart/workflows/complete-cart.ts
Labels: team: medusa

#8148 docs: added subscription recipe example
  www/apps/resources/app/recipes/subscriptions/examples/standard/page.mdx
  www/apps/resources/app/recipes/subscriptions/page.mdx
  www/apps/resources/generated/files-map.mjs
  www/apps/resources/generated/sidebar.mjs
  www/apps/resources/sidebar.mjs
Labels: type: docs, team: medusa

#8393 chore(framework): medusa app loaders
  packages/core/medusa-test-utils/src/medusa-test-runner-utils/use-db.ts
  packages/core/medusa-test-utils/src/medusa-test-runner.ts
  packages/framework/framework/src/index.ts
  packages/framework/framework/src/medusa-app-loader.ts
  packages/medusa/src/commands/links.ts
  packages/medusa/src/commands/migrate.ts
  packages/medusa/src/loaders/index.ts
  packages/medusa/src/loaders/medusa-app.ts
Labels: type: chore, automerge, team: medusa

#8410 chore: Update labeler to add type labels automatically
  .github/labeler.yml
Labels: type: chore, team: medusa

#8407 chore(framework): Allow multiple source dir for subcribers loader
  packages/framework/framework/src/jobs/job-loader.ts
  packages/framework/framework/src/links/link-loader.ts
  packages/framework/framework/src/subscribers/subscriber-loader.ts
  packages/framework/framework/src/workflows/workflow-loader.ts
  packages/medusa/src/loaders/index.ts
Labels: type: chore, team: medusa

#8415 docs: fix recipes sidebar + homepage cards
  www/apps/resources/app/page.mdx
  www/apps/resources/sidebar.mjs
Labels: type: docs, team: medusa

#8411 fix(framework/config): Properly resolve env variables
  packages/framework/framework/src/config/__tests__/index.spec.ts
  packages/framework/framework/src/config/config.ts
Labels: type: bug, team: medusa

#8416 fix: Don't remove pricing if no variant is passed to update
  integration-tests/http/__tests__/product/admin/product-import.spec.ts
  integration-tests/http/__tests__/product/admin/product.spec.ts
  packages/core/core-flows/src/product/steps/get-variant-ids-for-products.ts
  packages/core/core-flows/src/product/workflows/update-products.ts
  packages/core/core-flows/src/product/workflows/upsert-variant-prices.ts
Labels: type: bug, team: medusa

#8437 fix(payment): validate total amount when refunding payment
  packages/modules/payment/integration-tests/__tests__/services/payment-module/index.spec.ts
  packages/modules/payment/src/services/payment-module.ts
Labels: type: bug, automerge, team: medusa

#8405 feature: introduce additional_data to the product endpoints
  packages/core/core-flows/src/product/workflows/create-collections.ts
  packages/core/core-flows/src/product/workflows/create-product-options.ts
  packages/core/core-flows/src/product/workflows/create-product-tags.ts
  packages/core/core-flows/src/product/workflows/create-product-types.ts
  packages/core/core-flows/src/product/workflows/create-product-variants.ts
  packages/core/core-flows/src/product/workflows/create-products.ts
  packages/core/core-flows/src/product/workflows/update-collections.ts
  packages/core/core-flows/src/product/workflows/update-product-options.ts
  packages/core/core-flows/src/product/workflows/update-product-tags.ts
  packages/core/core-flows/src/product/workflows/update-product-types.ts
  packages/core/core-flows/src/product/workflows/update-product-variants.ts
  packages/core/core-flows/src/product/workflows/update-products.ts
  packages/core/types/src/http/common/additional_data.ts
  packages/core/types/src/http/common/index.ts
  packages/framework/framework/src/http/types.ts
  packages/framework/framework/src/http/utils/define-middlewares.ts
  packages/medusa/src/api/admin/products/[id]/options/[option_id]/route.ts
  packages/medusa/src/api/admin/products/[id]/options/route.ts
  packages/medusa/src/api/admin/products/[id]/route.ts
  packages/medusa/src/api/admin/products/[id]/variants/[variant_id]/route.ts
  packages/medusa/src/api/admin/products/[id]/variants/route.ts
  packages/medusa/src/api/admin/products/middlewares.ts
  packages/medusa/src/api/admin/products/route.ts
  packages/medusa/src/api/admin/products/validators.ts
  packages/medusa/src/api/utils/__tests__/validate-body.spec.ts
  packages/medusa/src/api/utils/__tests__/validate-query.spec.ts
  packages/medusa/src/api/utils/validate-body.ts
  packages/medusa/src/api/utils/validate-query.ts
  packages/medusa/src/types/routing.ts
  packages/medusa/src/utils/__tests__/define-routes-config.spec.ts
Labels: type: feature, team: medusa

#8425 Update page.mdx
  www/apps/resources/app/architectural-modules/notification/sendgrid/page.mdx
Labels: type: docs, automerge

#8429 docs: fix helloWorldLoader function definition
  www/apps/book/app/advanced-development/modules/container/page.mdx
  www/apps/book/app/advanced-development/modules/options/page.mdx
  www/apps/book/app/basics/loaders/page.mdx
Labels: type: docs, automerge

#8434 docs: fix ModuleRegistrationName import
  www/apps/book/app/basics/commerce-modules/page.mdx
  www/apps/book/app/basics/events-and-subscribers/page.mdx
  www/apps/book/app/basics/medusa-container/page.mdx
  www/apps/book/app/basics/scheduled-jobs/page.mdx
  www/apps/book/app/basics/workflows/page.mdx
  www/apps/resources/app/commerce-modules/api-key/page.mdx
  www/apps/resources/app/commerce-modules/auth/page.mdx
  www/apps/resources/app/commerce-modules/cart/page.mdx
  www/apps/resources/app/commerce-modules/currency/page.mdx
  www/apps/resources/app/commerce-modules/customer/page.mdx
  www/apps/resources/app/commerce-modules/fulfillment/page.mdx
  www/apps/resources/app/commerce-modules/inventory/page.mdx
  www/apps/resources/app/commerce-modules/order/page.mdx
  www/apps/resources/app/commerce-modules/payment/page.mdx
  www/apps/resources/app/commerce-modules/pricing/page.mdx
  www/apps/resources/app/commerce-modules/product/page.mdx
  www/apps/resources/app/commerce-modules/promotion/page.mdx
  www/apps/resources/app/commerce-modules/region/page.mdx
  www/apps/resources/app/commerce-modules/sales-channel/page.mdx
  www/apps/resources/app/commerce-modules/stock-location/page.mdx
  www/apps/resources/app/commerce-modules/store/page.mdx
  www/apps/resources/app/commerce-modules/tax/page.mdx
  www/apps/resources/app/commerce-modules/user/page.mdx
  www/apps/resources/app/medusa-container-resources/page.mdx
  www/apps/resources/app/recipes/commerce-automation/page.mdx
  www/apps/resources/app/recipes/integrate-ecommerce-stack/page.mdx
Labels: type: docs, automerge

#8439 docs: fix service crud example
  www/apps/docs/content/development/services/create-service.mdx
Labels: type: docs, automerge

#8443 docs: fix node version in create-medusa-app reference
  www/apps/resources/app/create-medusa-app/page.mdx
  www/apps/resources/app/medusa-cli/page.mdx
Labels: type: docs, team: medusa

#8414 docs: added a chapter on how to emit an event
  www/apps/book/app/advanced-development/events-and-subscribers/emit-event/page.mdx
  www/apps/book/sidebar.mjs
Labels: type: docs, team: medusa

#8442 feature: add hooks to customers modules workflows
  packages/core/core-flows/src/customer/workflows/create-addresses.ts
  packages/core/core-flows/src/customer/workflows/create-customers.ts
  packages/core/core-flows/src/customer/workflows/delete-addresses.ts
  packages/core/core-flows/src/customer/workflows/delete-customers.ts
  packages/core/core-flows/src/customer/workflows/update-addresses.ts
  packages/core/core-flows/src/customer/workflows/update-customers.ts
  packages/medusa/src/api/admin/customers/[id]/addresses/[address_id]/route.ts
  packages/medusa/src/api/admin/customers/[id]/addresses/route.ts
  packages/medusa/src/api/admin/customers/[id]/route.ts
  packages/medusa/src/api/admin/customers/route.ts
  packages/medusa/src/api/admin/customers/validators.ts
Labels: type: feature, team: medusa

#8413 chore(core-flows): add TSDocs to the emitEventStep
  packages/core/core-flows/src/common/steps/emit-event.ts
Labels: type: chore, team: medusa

#8412 docs: added a section on sending requests to api routes in admin
  www/apps/book/app/advanced-development/admin/tips/page.mdx
Labels: type: docs, team: medusa

#8409 docs: fix sidebar not updating when api reference path changes
  www/apps/api-reference/components/Tags/index.tsx
  www/apps/api-reference/providers/area.tsx
  www/apps/api-reference/providers/base-specs.tsx
  www/apps/api-reference/providers/sidebar.tsx
  www/packages/docs-ui/src/providers/Sidebar/index.tsx
Labels: type: docs, team: medusa

#8446 fix: Upgrade bullmq and adjust to breaking changes in repeatable jobs
  packages/modules/event-bus-redis/package.json
  packages/modules/workflow-engine-redis/package.json
  packages/modules/workflow-engine-redis/src/utils/workflow-orchestrator-storage.ts
  yarn.lock
Labels: type: bug, team: medusa

#8447 chore(utils): add missing imports in notification TSDocs
  packages/core/utils/src/notification/abstract-notification-provider.ts
Labels: type: chore, automerge, team: medusa

#8449 fix(order): return migration enum
  packages/modules/order/src/migrations/Migration20240801085921.ts
Labels: type: bug, automerge, team: medusa

#8454 fix(medusa): plus sign to space
  integration-tests/http/__tests__/product/admin/product.spec.ts
  integration-tests/modules/__tests__/order/order.spec.ts
  packages/medusa/src/utils/get-query-config.ts
Labels: type: bug, team: medusa

#8453 docs: merge allOf in OAS to show all object types
  www/apps/api-reference/components/Tags/Operation/Parameters/Types/Union/index.tsx
  www/apps/api-reference/utils/merge-all-of-types.ts
Labels: type: docs, team: medusa

#8451 docs: fixes to notification and file module guides
  www/apps/resources/app/architectural-modules/file/s3/page.mdx
  www/apps/resources/app/architectural-modules/notification/send-notification/page.mdx
  www/apps/resources/app/troubleshooting/_sections/s3/aws-bucket-acl.mdx
  www/apps/resources/app/troubleshooting/s3/page.mdx
  www/apps/resources/generated/files-map.mjs
  www/apps/resources/generated/sidebar.mjs
  www/apps/resources/sidebar.mjs
Labels: type: docs, team: medusa

#8452 feat(create-medusa-app, medusa): check Node.js version before installation.
  packages/cli/create-medusa-app/package.json
  packages/cli/create-medusa-app/src/commands/create.ts
  packages/cli/medusa-cli/src/commands/new.ts
  packages/core/utils/src/common/get-node-version.ts
  packages/core/utils/src/common/index.ts
  yarn.lock
Labels: automerge, type: feature, team: medusa

#8246 chore: added and updated TSDocs of order module service
  packages/core/types/src/order/common.ts
  packages/core/types/src/order/mutations.ts
  packages/core/types/src/order/service.ts
Labels: type: chore, automerge, team: medusa

#8387 docs: added a note about admin customizations as arrow functions
  www/apps/book/app/advanced-development/admin/ui-routes/page.mdx
  www/apps/book/app/advanced-development/admin/widgets/page.mdx
Labels: type: docs, team: medusa

#8457 chore(medusa,core-flows): cart payment collection link
  integration-tests/http/__tests__/fixtures/order.ts
  integration-tests/http/__tests__/payment-collection/admin/payment-sessions.spec.ts
  integration-tests/http/__tests__/payment/admin/payment.spec.ts
  integration-tests/modules/__tests__/cart/store/cart.workflows.spec.ts
  integration-tests/modules/__tests__/cart/store/carts.spec.ts
  packages/core/core-flows/src/definition/cart/steps/link-cart-payment-collection.ts
  packages/core/core-flows/src/definition/cart/workflows/add-shipping-method-to-cart.ts
  packages/core/core-flows/src/definition/cart/workflows/add-to-cart.ts
  packages/core/core-flows/src/definition/cart/workflows/create-carts.ts
  packages/core/core-flows/src/definition/cart/workflows/create-payment-collection-for-cart.ts
  packages/core/core-flows/src/definition/cart/workflows/refresh-payment-collection.ts
  packages/core/core-flows/src/definition/cart/workflows/update-cart.ts
  packages/core/core-flows/src/definition/cart/workflows/update-line-item-in-cart.ts
  packages/core/js-sdk/src/store/index.ts
  packages/core/types/src/cart/workflows.ts
  packages/medusa/src/api/store/payment-collections/validators.ts
Labels: type: chore, team: medusa

#8450 feature: add hooks to campaigns
  packages/core/core-flows/src/promotion/workflows/create-campaigns.ts
  packages/core/core-flows/src/promotion/workflows/create-promotions.ts
  packages/core/core-flows/src/promotion/workflows/delete-campaigns.ts
  packages/core/core-flows/src/promotion/workflows/delete-promotions.ts
  packages/core/core-flows/src/promotion/workflows/update-campaigns.ts
  packages/core/core-flows/src/promotion/workflows/update-promotions.ts
  packages/medusa/src/api/admin/campaigns/[id]/route.ts
  packages/medusa/src/api/admin/campaigns/route.ts
  packages/medusa/src/api/admin/campaigns/validators.ts
  packages/medusa/src/api/admin/promotions/[id]/route.ts
  packages/medusa/src/api/admin/promotions/route.ts
  packages/medusa/src/api/admin/promotions/validators.ts
Labels: type: feature, team: medusa

#8463 docs-util: added workflows typedoc plugin
  www/utils/packages/typedoc-generate-references/package.json
  www/utils/packages/typedoc-generate-references/src/commands/generate.ts
  www/utils/packages/typedoc-generate-references/src/constants/custom-options.ts
  www/utils/packages/typedoc-generate-references/src/constants/references.ts
  www/utils/packages/typedoc-plugin-markdown-medusa/src/resources/helpers/example.ts
  www/utils/packages/typedoc-plugin-markdown-medusa/src/resources/helpers/if-workflow-step.ts
  www/utils/packages/typedoc-plugin-markdown-medusa/src/resources/helpers/step-input.ts
  www/utils/packages/typedoc-plugin-markdown-medusa/src/resources/helpers/step-output.ts
  www/utils/packages/typedoc-plugin-workflows/.gitignore
  www/utils/packages/typedoc-plugin-workflows/package.json
  www/utils/packages/typedoc-plugin-workflows/src/index.ts
  www/utils/packages/typedoc-plugin-workflows/src/plugin.ts
  www/utils/packages/typedoc-plugin-workflows/src/types.ts
  www/utils/packages/typedoc-plugin-workflows/src/utils/helper.ts
  www/utils/packages/typedoc-plugin-workflows/tsconfig.json
  www/utils/packages/types/lib/index.d.ts
  www/utils/packages/utils/package.json
  www/utils/packages/utils/src/index.ts
  www/utils/packages/utils/src/step-utils.ts
  www/utils/packages/utils/src/workflow-utils.ts
  www/utils/yarn.lock
Labels: type: docs, team: medusa

#8462 fix: Use a global reference to distributed transaction and scheduler
  packages/core/orchestration/src/__tests__/transaction/transaction-orchestrator.ts
  packages/core/orchestration/src/transaction/datastore/abstract-storage.ts
  packages/core/orchestration/src/transaction/distributed-transaction.ts
  packages/core/orchestration/src/transaction/transaction-orchestrator.ts
  packages/core/orchestration/src/transaction/transaction-step.ts
  packages/core/orchestration/src/transaction/types.ts
  packages/core/orchestration/src/workflow/global-workflow.ts
  packages/core/orchestration/src/workflow/local-workflow.ts
  packages/core/orchestration/src/workflow/scheduler.ts
  packages/core/orchestration/src/workflow/workflow-manager.ts
  packages/core/workflows-sdk/src/helper/type.ts
  packages/core/workflows-sdk/src/helper/workflow-export.ts
  packages/modules/workflow-engine-inmemory/src/services/workflow-orchestrator.ts
  packages/modules/workflow-engine-inmemory/src/utils/workflow-orchestrator-storage.ts
  packages/modules/workflow-engine-redis/src/services/workflow-orchestrator.ts
  packages/modules/workflow-engine-redis/src/utils/workflow-orchestrator-storage.ts
Labels: type: bug, team: medusa

#8465 feat: add claims/:id endpoint to admin api
  integration-tests/http/__tests__/claims/claims.spec.ts
  packages/medusa/src/api/admin/claims/[id]/route.ts
Labels: type: feature

#8469 chore: update notifcations drawer design
  packages/admin-next/dashboard/src/components/layout/notifications/notifications.tsx
Labels: type: chore

#8471 fix(core-flows): copy line items attribute
  integration-tests/modules/__tests__/cart/store/carts.spec.ts
  packages/core/core-flows/src/definition/cart/utils/fields.ts
  packages/core/core-flows/src/definition/cart/utils/prepare-line-item-data.ts
  packages/core/core-flows/src/definition/cart/workflows/complete-cart.ts
  packages/core/types/src/product/common.ts
  packages/medusa/src/api/admin/orders/query-config.ts
Labels: type: bug, automerge, team: medusa

#8470 fix(core-flows): Unsetting reason on return items
  integration-tests/http/__tests__/returns/returns.spec.ts
  packages/admin-next/dashboard/src/routes/orders/order-create-return/components/return-create-form/return-create-form.tsx
  packages/admin-next/dashboard/src/routes/orders/order-create-return/components/return-create-form/return-item.tsx
  packages/core/core-flows/src/order/workflows/return/update-request-item-return.ts
Labels: type: bug, team: medusa

#8472 fix(core-flows): Allow return requests with no shipping
  integration-tests/http/__tests__/returns/returns.spec.ts
  packages/core/core-flows/src/order/workflows/return/confirm-return-request.ts
  packages/modules/order/src/services/actions/receive-return.ts
Labels: type: bug, automerge, team: medusa

#8481 feature: add create and update cart hooks
  packages/core/core-flows/src/definition/cart/workflows/create-carts.ts
  packages/core/core-flows/src/definition/cart/workflows/update-cart.ts
  packages/medusa/src/api/store/carts/[id]/route.ts
  packages/medusa/src/api/store/carts/route.ts
  packages/medusa/src/api/store/carts/validators.ts
  packages/medusa/src/api/utils/validators.ts
Labels: type: feature, team: medusa

#8448 feat(core-flows): manage inventory reservation of claims and exchanges
  integration-tests/http/__tests__/claims/claims.spec.ts
  integration-tests/http/__tests__/exchanges/exchanges.spec.ts
  integration-tests/modules/__tests__/order/workflows/begin-order-claim.spec.ts
  packages/core/core-flows/src/definition/cart/steps/reserve-inventory.ts
  packages/core/core-flows/src/definition/cart/workflows/complete-cart.ts
  packages/core/core-flows/src/definition/cart/workflows/confirm-variant-inventory.ts
  packages/core/core-flows/src/fulfillment/steps/validate-fulfillment-providers.ts
  packages/core/core-flows/src/order/steps/claim/cancel-claim.ts
  packages/core/core-flows/src/order/steps/exchange/cancel-exchange.ts
  packages/core/core-flows/src/order/steps/return/cancel-return.ts
  packages/core/core-flows/src/order/workflows/claim/cancel-claim.ts
  packages/core/core-flows/src/order/workflows/claim/confirm-claim-request.ts
  packages/core/core-flows/src/order/workflows/create-fulfillment.ts
  packages/core/core-flows/src/order/workflows/exchange/cancel-exchange.ts
  packages/core/core-flows/src/order/workflows/exchange/confirm-exchange-request.ts
  packages/core/core-flows/src/order/workflows/return/cancel-return.ts
  packages/core/core-flows/src/order/workflows/return/confirm-receive-return-request.ts
  packages/core/types/src/cart/workflows.ts
  packages/core/types/src/order/mutations.ts
  packages/core/types/src/workflow/order/create-fulfillment.ts
  packages/modules/inventory-next/src/services/inventory-module.ts
  packages/modules/order/src/utils/base-repository-find.ts
Labels: type: feature, team: medusa

#8468 feat(dashboard): claims first implementation
  packages/admin-next/dashboard/src/hooks/api/claims.tsx
  packages/admin-next/dashboard/src/i18n/translations/en.json
  packages/admin-next/dashboard/src/providers/router-provider/route-map.tsx
  packages/admin-next/dashboard/src/routes/orders/order-create-claim/claim-create.tsx
  packages/admin-next/dashboard/src/routes/orders/order-create-claim/components/add-claim-items-table/add-claim-items-table.tsx
  packages/admin-next/dashboard/src/routes/orders/order-create-claim/components/add-claim-items-table/index.ts
  packages/admin-next/dashboard/src/routes/orders/order-create-claim/components/add-claim-items-table/use-claim-item-table-columns.tsx
  packages/admin-next/dashboard/src/routes/orders/order-create-claim/components/add-claim-items-table/use-claim-item-table-filters.tsx
  packages/admin-next/dashboard/src/routes/orders/order-create-claim/components/add-claim-items-table/use-claim-item-table-query.tsx
  packages/admin-next/dashboard/src/routes/orders/order-create-claim/components/claim-create-form/claim-create-form.tsx
  packages/admin-next/dashboard/src/routes/orders/order-create-claim/components/claim-create-form/claim-inbound-item.tsx
  packages/admin-next/dashboard/src/routes/orders/order-create-claim/components/claim-create-form/index.ts
  packages/admin-next/dashboard/src/routes/orders/order-create-claim/components/claim-create-form/schema.ts
  packages/admin-next/dashboard/src/routes/orders/order-create-claim/index.ts
  packages/admin-next/dashboard/src/routes/orders/order-detail/components/order-summary-section/order-summary-section.tsx
Labels: type: feature, team: medusa, Do not merge

#8480 feat(core-flows,dashboard,medusa): ability to add and remove items to claim inbound
  packages/admin-next/dashboard/src/hooks/api/claims.tsx
  packages/admin-next/dashboard/src/routes/orders/order-create-claim/claim-create.tsx
  packages/admin-next/dashboard/src/routes/orders/order-create-claim/components/add-claim-items-table/add-claim-items-table.tsx
  packages/admin-next/dashboard/src/routes/orders/order-create-claim/components/claim-create-form/claim-create-form.tsx
  packages/admin-next/dashboard/src/routes/orders/order-detail/constants.ts
  packages/core/core-flows/src/order/workflows/claim/claim-request-item-return.ts
  packages/core/core-flows/src/order/workflows/claim/create-claim-shipping-method.ts
  packages/core/core-flows/src/order/workflows/return/remove-item-return-action.ts
  packages/core/types/src/http/claim/common.ts
  packages/medusa/src/api/admin/claims/[id]/inbound/items/[action_id]/route.ts
  packages/medusa/src/api/admin/claims/[id]/inbound/shipping-method/[action_id]/route.ts
Labels: type: feature, team: medusa

#8487 chore(utils): improve to handle util
  packages/core/utils/src/common/__tests__/to-handle.spec.ts
  packages/core/utils/src/common/to-handle.ts
  packages/core/utils/src/common/validate-handle.ts
Labels: type: chore, team: medusa

#8488 feat(adshboard,types,medusa): enable adding notes/return reason to inbound claims
  packages/admin-next/dashboard/src/hooks/api/orders.tsx
  packages/admin-next/dashboard/src/i18n/translations/en.json
  packages/admin-next/dashboard/src/routes/orders/order-create-claim/components/claim-create-form/claim-create-form.tsx
  packages/admin-next/dashboard/src/routes/orders/order-create-claim/components/claim-create-form/claim-inbound-item.tsx
  packages/admin-next/dashboard/src/routes/orders/order-create-claim/components/claim-create-form/schema.ts
  packages/core/js-sdk/src/admin/order.ts
  packages/core/types/src/http/claim/admin/payloads.ts
  packages/core/types/src/http/fulfillment-set/admin/entities.ts
  packages/core/types/src/http/order/admin.ts
  packages/core/types/src/http/order/common.ts
  packages/core/types/src/http/return/admin.ts
  packages/core/types/src/workflow/order/items.ts
  packages/medusa/src/api/admin/claims/validators.ts
Labels: type: feature, team: medusa

#8483 chore(core-flows): util to format inventory input
  packages/core/core-flows/src/definition/cart/utils/prepare-confirm-inventory-input.ts
  packages/core/core-flows/src/definition/cart/workflows/complete-cart.ts
  packages/core/core-flows/src/definition/cart/workflows/confirm-variant-inventory.ts
  packages/core/core-flows/src/order/workflows/claim/confirm-claim-request.ts
  packages/core/core-flows/src/order/workflows/exchange/confirm-exchange-request.ts
  packages/core/types/src/cart/workflows.ts
Labels: type: chore, team: medusa

#8486 chore: fix actions generating docs
  .github/workflows/docs-test.yml
  .github/workflows/generate-docblocks.yml
Labels: type: chore, team: medusa

#8445 docs: add table of content
  www/apps/api-reference/app/layout.tsx
  www/packages/docs-ui/src/components/Sidebar/index.tsx
  www/packages/docs-ui/src/components/Toc/Item/index.tsx
  www/packages/docs-ui/src/components/Toc/List/index.tsx
  www/packages/docs-ui/src/components/Toc/Menu/index.tsx
  www/packages/docs-ui/src/components/Toc/index.tsx
  www/packages/docs-ui/src/layouts/root.tsx
  www/packages/tailwind/base.tailwind.config.js
  www/packages/types/src/index.ts
  www/packages/types/src/toc.ts
Labels: type: docs, team: medusa

#8496 feature: add workflows hooks to the order module
  packages/core/core-flows/src/order/workflows/cancel-order-fulfillment.ts
  packages/core/core-flows/src/order/workflows/cancel-order.ts
  packages/core/core-flows/src/order/workflows/complete-orders.ts
  packages/core/core-flows/src/order/workflows/create-fulfillment.ts
  packages/core/core-flows/src/order/workflows/create-orders.ts
  packages/core/core-flows/src/order/workflows/create-shipment.ts
  packages/medusa/src/api/admin/draft-orders/route.ts
  packages/medusa/src/api/admin/draft-orders/validators.ts
  packages/medusa/src/api/admin/orders/[id]/complete/route.ts
  packages/medusa/src/api/admin/orders/[id]/fulfillments/[fulfillment_id]/cancel/route.ts
  packages/medusa/src/api/admin/orders/[id]/fulfillments/[fulfillment_id]/shipments/route.ts
  packages/medusa/src/api/admin/orders/[id]/fulfillments/route.ts
  packages/medusa/src/api/admin/orders/validators.ts
  packages/medusa/src/api/utils/validators.ts
Labels: type: feature, team: medusa

#8499 cleanup: use WithAdditionalData helper everywhere
  packages/medusa/src/api/admin/campaigns/validators.ts
  packages/medusa/src/api/admin/customers/validators.ts
  packages/medusa/src/api/admin/products/validators.ts
  packages/medusa/src/api/admin/promotions/validators.ts
Labels: team: medusa

#8501 feature: share execution context with hook handlers
  packages/core/workflows-sdk/src/utils/_playground.ts
  packages/core/workflows-sdk/src/utils/composer/create-hook.ts
  packages/core/workflows-sdk/src/utils/composer/type.ts
Labels: type: feature, team: medusa

#8502 feat(dashboard,js-sdk,medusa): add ability to add outbound items to claim
  packages/admin-next/dashboard/src/hooks/api/index.ts
  packages/admin-next/dashboard/src/hooks/api/product-variants.tsx
  packages/admin-next/dashboard/src/i18n/translations/en.json
  packages/admin-next/dashboard/src/routes/orders/order-create-claim/components/add-claim-outbound-items-table/add-claim-outbound-items-table.tsx
  packages/admin-next/dashboard/src/routes/orders/order-create-claim/components/add-claim-outbound-items-table/index.ts
  packages/admin-next/dashboard/src/routes/orders/order-create-claim/components/add-claim-outbound-items-table/use-claim-outbound-item-table-columns.tsx
  packages/admin-next/dashboard/src/routes/orders/order-create-claim/components/add-claim-outbound-items-table/use-claim-outbound-item-table-filters.tsx
  packages/admin-next/dashboard/src/routes/orders/order-create-claim/components/add-claim-outbound-items-table/use-claim-outbound-item-table-query.tsx
  packages/admin-next/dashboard/src/routes/orders/order-create-claim/components/claim-create-form/claim-create-form.tsx
  packages/admin-next/dashboard/src/routes/orders/order-create-claim/components/claim-create-form/claim-outbound-item.tsx
  packages/admin-next/dashboard/src/routes/orders/order-create-claim/components/claim-create-form/claim-outbound-section.tsx
  packages/admin-next/dashboard/src/routes/orders/order-create-claim/components/claim-create-form/item-placeholder.tsx
  packages/admin-next/dashboard/src/routes/orders/order-create-claim/components/claim-create-form/schema.ts
  packages/core/js-sdk/src/admin/index.ts
  packages/core/js-sdk/src/admin/product-variant.ts
  packages/medusa/src/api/admin/product-variants/middlewares.ts
  packages/medusa/src/api/admin/product-variants/query-config.ts
  packages/medusa/src/api/admin/product-variants/route.ts
  packages/medusa/src/api/admin/product-variants/validators.ts
  packages/medusa/src/api/middlewares.ts
Labels: automerge, type: feature, team: medusa

#8444 fix(event-bus-redis): Consume job correct in worker
  packages/modules/event-bus-redis/src/services/__tests__/event-bus.ts
  packages/modules/event-bus-redis/src/services/event-bus-redis.ts
  packages/modules/product/src/services/product-module-service.ts
Labels: type: bug, team: medusa

#8500 docs-util: added a namespaces plugin
  www/utils/packages/typedoc-generate-references/src/constants/custom-options.ts
  www/utils/packages/typedoc-plugin-custom/package.json
  www/utils/packages/typedoc-plugin-custom/src/generate-namespace.ts
  www/utils/packages/typedoc-plugin-custom/src/index.ts
  www/utils/packages/types/lib/index.d.ts
  www/utils/packages/utils/src/workflow-utils.ts
  www/utils/yarn.lock
Labels: type: docs, automerge, team: medusa

#8504 chore(core-flows): [1] export types and types, add basic TSDocs
  packages/core/core-flows/src/api-key/steps/create-api-keys.ts
  packages/core/core-flows/src/api-key/steps/delete-api-keys.ts
  packages/core/core-flows/src/api-key/steps/link-sales-channels-to-publishable-key.ts
  packages/core/core-flows/src/api-key/steps/revoke-api-keys.ts
  packages/core/core-flows/src/api-key/steps/update-api-keys.ts
  packages/core/core-flows/src/api-key/steps/validate-sales-channel-exists.ts
  packages/core/core-flows/src/api-key/workflows/create-api-keys.ts
  packages/core/core-flows/src/api-key/workflows/delete-api-keys.ts
  packages/core/core-flows/src/api-key/workflows/link-sales-channels-to-publishable-key.ts
  packages/core/core-flows/src/api-key/workflows/revoke-api-keys.ts
  packages/core/core-flows/src/api-key/workflows/update-api-keys.ts
  packages/core/core-flows/src/auth/steps/set-auth-app-metadata.ts
  packages/core/core-flows/src/common/workflows/batch-links.ts
  packages/core/core-flows/src/common/workflows/create-links.ts
  packages/core/core-flows/src/common/workflows/dismiss-links.ts
  packages/core/core-flows/src/common/workflows/update-links.ts
  packages/core/core-flows/src/customer/steps/create-addresses.ts
  packages/core/core-flows/src/customer/steps/create-customers.ts
  packages/core/core-flows/src/customer/steps/delete-addresses.ts
  packages/core/core-flows/src/customer/steps/delete-customers.ts
  packages/core/core-flows/src/customer/steps/maybe-unset-default-billing-addresses.ts
  packages/core/core-flows/src/customer/steps/maybe-unset-default-shipping-addresses.ts
  packages/core/core-flows/src/customer/steps/update-addresses.ts
  packages/core/core-flows/src/customer/steps/update-customers.ts
  packages/core/core-flows/src/customer/workflows/create-addresses.ts
  packages/core/core-flows/src/customer/workflows/create-customer-account.ts
  packages/core/core-flows/src/customer/workflows/create-customers.ts
  packages/core/core-flows/src/customer/workflows/delete-addresses.ts
  packages/core/core-flows/src/customer/workflows/delete-customers.ts
  packages/core/core-flows/src/customer/workflows/update-addresses.ts
  packages/core/core-flows/src/customer/workflows/update-customers.ts
Labels: type: chore, automerge, team: medusa

#8509 chore(core-flows): [4] export types and types, add basic TSDocs
  packages/core/core-flows/src/definition/line-item/steps/delete-line-items.ts
  packages/core/core-flows/src/definition/line-item/steps/list-line-items.ts
  packages/core/core-flows/src/definition/line-item/steps/update-line-items.ts
  packages/core/core-flows/src/definition/line-item/workflows/delete-line-items.ts
  packages/core/core-flows/src/file/steps/delete-files.ts
  packages/core/core-flows/src/file/steps/upload-files.ts
  packages/core/core-flows/src/file/workflows/delete-files.ts
  packages/core/core-flows/src/file/workflows/upload-files.ts
  packages/core/core-flows/src/fulfillment/workflows/batch-shipping-option-rules.ts
  packages/core/core-flows/src/fulfillment/workflows/cancel-fulfillment.ts
  packages/core/core-flows/src/fulfillment/workflows/create-fulfillment.ts
  packages/core/core-flows/src/fulfillment/workflows/create-return-fulfillment.ts
  packages/core/core-flows/src/fulfillment/workflows/create-service-zones.ts
  packages/core/core-flows/src/fulfillment/workflows/create-shipment.ts
  packages/core/core-flows/src/fulfillment/workflows/create-shipping-options.ts
  packages/core/core-flows/src/fulfillment/workflows/create-shipping-profiles.ts
  packages/core/core-flows/src/fulfillment/workflows/delete-fulfillment-sets.ts
  packages/core/core-flows/src/fulfillment/workflows/delete-service-zones.ts
  packages/core/core-flows/src/fulfillment/workflows/delete-shipping-options.ts
  packages/core/core-flows/src/fulfillment/workflows/update-fulfillment.ts
  packages/core/core-flows/src/fulfillment/workflows/update-service-zones.ts
  packages/core/core-flows/src/fulfillment/workflows/update-shipping-options.ts
  packages/core/core-flows/src/fulfillment/workflows/update-shipping-profiles.ts
Labels: type: chore, automerge, team: medusa

#8507 chore(core-flows): [3] export types and types, add basic TSDocs
  packages/core/core-flows/src/definition/cart/steps/find-one-or-any-region.ts
  packages/core/core-flows/src/definition/cart/steps/find-or-create-customer.ts
  packages/core/core-flows/src/definition/cart/steps/find-sales-channel.ts
  packages/core/core-flows/src/definition/cart/steps/get-actions-to-compute-from-promotions.ts
  packages/core/core-flows/src/definition/cart/steps/get-item-tax-lines.ts
  packages/core/core-flows/src/definition/cart/steps/get-line-item-actions.ts
  packages/core/core-flows/src/definition/cart/steps/get-promotion-codes-to-apply.ts
  packages/core/core-flows/src/definition/cart/steps/get-variant-price-sets.ts
  packages/core/core-flows/src/definition/cart/steps/get-variants.ts
  packages/core/core-flows/src/definition/cart/steps/prepare-adjustments-from-promotion-actions.ts
  packages/core/core-flows/src/definition/cart/steps/refresh-cart-promotions.ts
  packages/core/core-flows/src/definition/cart/steps/refresh-cart-shipping-methods.ts
  packages/core/core-flows/src/definition/cart/steps/remove-line-item-adjustments.ts
  packages/core/core-flows/src/definition/cart/steps/remove-shipping-method-adjustments.ts
  packages/core/core-flows/src/definition/cart/steps/remove-shipping-method-from-cart.ts
  packages/core/core-flows/src/definition/cart/steps/reserve-inventory.ts
  packages/core/core-flows/src/definition/cart/steps/retrieve-cart-with-links.ts
  packages/core/core-flows/src/definition/cart/steps/retrieve-cart.ts
  packages/core/core-flows/src/definition/cart/steps/set-tax-lines-for-items.ts
  packages/core/core-flows/src/definition/cart/steps/update-cart-promotions.ts
  packages/core/core-flows/src/definition/cart/steps/update-carts.ts
  packages/core/core-flows/src/definition/cart/steps/update-line-items.ts
  packages/core/core-flows/src/definition/cart/steps/update-tax-lines.ts
  packages/core/core-flows/src/definition/cart/steps/validate-cart-payments.ts
  packages/core/core-flows/src/definition/cart/steps/validate-cart-shipping-options.ts
  packages/core/core-flows/src/definition/cart/steps/validate-variant-prices.ts
Labels: type: chore, automerge, team: medusa

#8505 chore(core-flows): [2] export types and types, add basic TSDocs
  packages/core/core-flows/src/customer-group/steps/create-customer-groups.ts
  packages/core/core-flows/src/customer-group/steps/delete-customer-group-customers.ts
  packages/core/core-flows/src/customer-group/steps/delete-customer-groups.ts
  packages/core/core-flows/src/customer-group/steps/link-customers-customer-group.ts
  packages/core/core-flows/src/customer-group/steps/update-customer-groups.ts
  packages/core/core-flows/src/customer-group/workflows/create-customer-groups.ts
  packages/core/core-flows/src/customer-group/workflows/delete-customer-groups.ts
  packages/core/core-flows/src/customer-group/workflows/link-customers-customer-group.ts
  packages/core/core-flows/src/customer-group/workflows/update-customer-groups.ts
  packages/core/core-flows/src/defaults/steps/create-default-store.ts
  packages/core/core-flows/src/defaults/workflows/create-defaults.ts
  packages/core/core-flows/src/definition/cart/steps/add-shipping-method-to-cart.ts
  packages/core/core-flows/src/definition/cart/steps/confirm-inventory.ts
  packages/core/core-flows/src/definition/cart/steps/create-carts.ts
  packages/core/core-flows/src/definition/cart/steps/create-line-item-adjustments.ts
  packages/core/core-flows/src/definition/cart/steps/create-line-items.ts
  packages/core/core-flows/src/definition/cart/steps/create-payment-collection.ts
  packages/core/core-flows/src/definition/cart/steps/create-shipping-method-adjustments.ts
  packages/core/core-flows/src/definition/cart/workflows/add-shipping-method-to-cart.ts
  packages/core/core-flows/src/definition/cart/workflows/add-to-cart.ts
  packages/core/core-flows/src/definition/cart/workflows/complete-cart.ts
  packages/core/core-flows/src/definition/cart/workflows/confirm-variant-inventory.ts
  packages/core/core-flows/src/definition/cart/workflows/create-carts.ts
  packages/core/core-flows/src/definition/cart/workflows/create-payment-collection-for-cart.ts
  packages/core/core-flows/src/definition/cart/workflows/list-shipping-options-for-cart.ts
  packages/core/core-flows/src/definition/cart/workflows/refresh-payment-collection.ts
  packages/core/core-flows/src/definition/cart/workflows/update-cart-promotions.ts
  packages/core/core-flows/src/definition/cart/workflows/update-cart.ts
  packages/core/core-flows/src/definition/cart/workflows/update-line-item-in-cart.ts
  packages/core/core-flows/src/definition/cart/workflows/update-tax-lines.ts
Labels: type: chore, automerge, team: medusa

#8510 chore(core-flows): [5] export types and types, add basic TSDocs
  packages/core/core-flows/src/fulfillment/steps/add-shipping-options-prices.ts
  packages/core/core-flows/src/fulfillment/steps/cancel-fulfillment.ts
  packages/core/core-flows/src/fulfillment/steps/create-fulfillment-set.ts
  packages/core/core-flows/src/fulfillment/steps/create-fulfillment.ts
  packages/core/core-flows/src/fulfillment/steps/create-return-fulfillment.ts
  packages/core/core-flows/src/fulfillment/steps/create-service-zones.ts
  packages/core/core-flows/src/fulfillment/steps/create-shipping-option-rules.ts
  packages/core/core-flows/src/fulfillment/steps/create-shipping-profiles.ts
  packages/core/core-flows/src/fulfillment/steps/delete-fulfillment-sets.ts
  packages/core/core-flows/src/fulfillment/steps/delete-service-zones.ts
  packages/core/core-flows/src/fulfillment/steps/delete-shipping-option-rules.ts
  packages/core/core-flows/src/fulfillment/steps/delete-shipping-options.ts
  packages/core/core-flows/src/fulfillment/steps/set-shipping-options-price-sets.ts
  packages/core/core-flows/src/fulfillment/steps/set-shipping-options-prices.ts
  packages/core/core-flows/src/fulfillment/steps/update-fulfillment.ts
  packages/core/core-flows/src/fulfillment/steps/update-service-zones.ts
  packages/core/core-flows/src/fulfillment/steps/update-shipping-option-rules.ts
  packages/core/core-flows/src/fulfillment/steps/update-shipping-profiles.ts
  packages/core/core-flows/src/fulfillment/steps/upsert-shipping-options.ts
  packages/core/core-flows/src/fulfillment/steps/validate-fulfillment-providers.ts
  packages/core/core-flows/src/fulfillment/steps/validate-shipment.ts
  packages/core/core-flows/src/inventory/workflows/bulk-create-delete-levels.ts
  packages/core/core-flows/src/inventory/workflows/create-inventory-items.ts
  packages/core/core-flows/src/inventory/workflows/create-inventory-levels.ts
  packages/core/core-flows/src/inventory/workflows/delete-inventory-items.ts
  packages/core/core-flows/src/inventory/workflows/delete-inventory-levels.ts
  packages/core/core-flows/src/inventory/workflows/update-inventory-items.ts
  packages/core/core-flows/src/inventory/workflows/update-inventory-levels.ts
Labels: type: chore, automerge, team: medusa

#8511 feat(medusa): filter shipping options by location
  integration-tests/http/__tests__/shipping-option/admin/shipping-option.spec.ts
  packages/medusa/src/api/admin/shipping-options/middlewares.ts
  packages/medusa/src/api/admin/shipping-options/validators.ts
  packages/medusa/src/api/utils/maybe-apply-link-filter.ts
Labels: automerge, type: feature, team: medusa

#8506 fix(dashboard): Delete product media
  packages/admin-next/dashboard/src/routes/products/product-detail/components/product-media-section/product-media-section.tsx
Labels: type: bug, team: medusa

#8518 fix: Use local notification provider for feed channel by default
  packages/core/utils/src/common/__tests__/define-config.spec.ts
  packages/core/utils/src/common/define-config.ts
Labels: type: bug, team: medusa

#8512 chore(core-flows): [6] export types and types, add basic TSDocs
  packages/core/core-flows/src/inventory/steps/adjust-inventory-levels.ts
  packages/core/core-flows/src/inventory/steps/attach-inventory-items.ts
  packages/core/core-flows/src/inventory/steps/create-inventory-items.ts
  packages/core/core-flows/src/inventory/steps/create-inventory-levels.ts
  packages/core/core-flows/src/inventory/steps/delete-inventory-items.ts
  packages/core/core-flows/src/inventory/steps/delete-inventory-levels.ts
  packages/core/core-flows/src/inventory/steps/delete-levels-by-item-and-location.ts
  packages/core/core-flows/src/inventory/steps/update-inventory-items.ts
  packages/core/core-flows/src/inventory/steps/update-inventory-levels.ts
  packages/core/core-flows/src/inventory/steps/validate-inventory-items.ts
  packages/core/core-flows/src/inventory/steps/validate-inventory-locations.ts
  packages/core/core-flows/src/inventory/steps/validate-singular-inventory-items-for-tags.ts
  packages/core/core-flows/src/invite/steps/create-invites.ts
  packages/core/core-flows/src/invite/steps/delete-invites.ts
  packages/core/core-flows/src/invite/steps/refresh-invite-tokens.ts
  packages/core/core-flows/src/invite/steps/validate-token.ts
  packages/core/core-flows/src/invite/workflows/accept-invite.ts
  packages/core/core-flows/src/invite/workflows/create-invites.ts
  packages/core/core-flows/src/invite/workflows/delete-invites.ts
  packages/core/core-flows/src/invite/workflows/refresh-invite-tokens.ts
  packages/core/core-flows/src/notification/steps/notify-on-failure.ts
  packages/core/core-flows/src/notification/steps/send-notifications.ts
Labels: type: chore, automerge, team: medusa

#8514 chore(core-flows): [7] export types and types, add basic TSDocs
  packages/core/core-flows/src/order/workflows/claim/begin-order-claim.ts
  packages/core/core-flows/src/order/workflows/claim/cancel-begin-order-claim.ts
  packages/core/core-flows/src/order/workflows/claim/cancel-claim.ts
  packages/core/core-flows/src/order/workflows/claim/claim-add-new-item.ts
  packages/core/core-flows/src/order/workflows/claim/claim-item.ts
  packages/core/core-flows/src/order/workflows/claim/claim-request-item-return.ts
  packages/core/core-flows/src/order/workflows/claim/confirm-claim-request.ts
  packages/core/core-flows/src/order/workflows/claim/create-claim-shipping-method.ts
  packages/core/core-flows/src/order/workflows/claim/remove-claim-add-item-action.ts
  packages/core/core-flows/src/order/workflows/claim/remove-claim-item-action.ts
  packages/core/core-flows/src/order/workflows/claim/remove-claim-shipping-method.ts
  packages/core/core-flows/src/order/workflows/claim/update-claim-add-item.ts
  packages/core/core-flows/src/order/workflows/claim/update-claim-item.ts
  packages/core/core-flows/src/order/workflows/claim/update-claim-shipping-method.ts
  packages/core/core-flows/src/order/workflows/exchange/begin-order-exchange.ts
  packages/core/core-flows/src/order/workflows/exchange/cancel-begin-order-exchange.ts
  packages/core/core-flows/src/order/workflows/exchange/cancel-exchange.ts
  packages/core/core-flows/src/order/workflows/exchange/confirm-exchange-request.ts
  packages/core/core-flows/src/order/workflows/exchange/create-exchange-shipping-method.ts
  packages/core/core-flows/src/order/workflows/exchange/exchange-add-new-item.ts
  packages/core/core-flows/src/order/workflows/exchange/exchange-request-item-return.ts
  packages/core/core-flows/src/order/workflows/exchange/remove-exchange-item-action.ts
  packages/core/core-flows/src/order/workflows/exchange/remove-exchange-shipping-method.ts
  packages/core/core-flows/src/order/workflows/exchange/update-exchange-add-item.ts
  packages/core/core-flows/src/order/workflows/exchange/update-exchange-shipping-method.ts
Labels: type: chore, automerge, team: medusa

#8517 chore(core-flows): [8] export types and types, add basic TSDocs
  packages/core/core-flows/src/order/workflows/add-line-items.ts
  packages/core/core-flows/src/order/workflows/archive-orders.ts
  packages/core/core-flows/src/order/workflows/cancel-order-change.ts
  packages/core/core-flows/src/order/workflows/cancel-order-fulfillment.ts
  packages/core/core-flows/src/order/workflows/cancel-order.ts
  packages/core/core-flows/src/order/workflows/complete-orders.ts
  packages/core/core-flows/src/order/workflows/create-fulfillment.ts
  packages/core/core-flows/src/order/workflows/create-order-change-actions.ts
  packages/core/core-flows/src/order/workflows/create-order-change.ts
  packages/core/core-flows/src/order/workflows/create-orders.ts
  packages/core/core-flows/src/order/workflows/create-shipment.ts
  packages/core/core-flows/src/order/workflows/return/begin-receive-return.ts
  packages/core/core-flows/src/order/workflows/return/begin-return.ts
  packages/core/core-flows/src/order/workflows/return/cancel-receive-return.ts
  packages/core/core-flows/src/order/workflows/return/cancel-request-return.ts
  packages/core/core-flows/src/order/workflows/return/cancel-return.ts
  packages/core/core-flows/src/order/workflows/return/confirm-receive-return-request.ts
  packages/core/core-flows/src/order/workflows/return/confirm-return-request.ts
  packages/core/core-flows/src/order/workflows/return/create-complete-return.ts
  packages/core/core-flows/src/order/workflows/return/create-return-shipping-method.ts
  packages/core/core-flows/src/order/workflows/return/dismiss-item-return-request.ts
  packages/core/core-flows/src/order/workflows/return/receive-complete-return.ts
  packages/core/core-flows/src/order/workflows/return/receive-item-return-request.ts
  packages/core/core-flows/src/order/workflows/return/remove-item-receive-return-action.ts
  packages/core/core-flows/src/order/workflows/return/remove-item-return-action.ts
  packages/core/core-flows/src/order/workflows/return/remove-return-shipping-method.ts
  packages/core/core-flows/src/order/workflows/return/request-item-return.ts
  packages/core/core-flows/src/order/workflows/return/update-receive-item-return-request.ts
  packages/core/core-flows/src/order/workflows/return/update-request-item-return.ts
  packages/core/core-flows/src/order/workflows/return/update-return-shipping-method.ts
  packages/core/core-flows/src/order/workflows/return/update-return.ts
Labels: type: chore, automerge, team: medusa

#8519 chore(core-flows): [9] export types and types, add basic TSDocs
  packages/core/core-flows/src/order/steps/claim/cancel-claim.ts
  packages/core/core-flows/src/order/steps/claim/create-claim-items-from-actions.ts
  packages/core/core-flows/src/order/steps/claim/create-claims.ts
  packages/core/core-flows/src/order/steps/claim/delete-claims.ts
  packages/core/core-flows/src/order/steps/claim/update-order-claims.ts
  packages/core/core-flows/src/order/steps/exchange/cancel-exchange.ts
  packages/core/core-flows/src/order/steps/exchange/create-exchange-items-from-actions.ts
  packages/core/core-flows/src/order/steps/exchange/create-exchange.ts
  packages/core/core-flows/src/order/steps/exchange/delete-exchanges.ts
  packages/core/core-flows/src/order/steps/exchange/update-order-exchanges.ts
  packages/core/core-flows/src/order/steps/return/cancel-return.ts
  packages/core/core-flows/src/order/steps/return/create-complete-return.ts
  packages/core/core-flows/src/order/steps/return/create-return-items-from-actions.ts
  packages/core/core-flows/src/order/steps/return/create-returns.ts
  packages/core/core-flows/src/order/steps/return/delete-returns.ts
  packages/core/core-flows/src/order/steps/return/receive-return.ts
  packages/core/core-flows/src/order/steps/return/update-return-items.ts
  packages/core/core-flows/src/order/steps/return/update-returns.ts
  packages/core/core-flows/src/order/workflows/decline-order-change.ts
  packages/core/core-flows/src/order/workflows/delete-order-change-actions.ts
  packages/core/core-flows/src/order/workflows/delete-order-change.ts
  packages/core/core-flows/src/order/workflows/get-order-detail.ts
  packages/core/core-flows/src/order/workflows/get-orders-list.ts
  packages/core/core-flows/src/order/workflows/update-order-change-actions.ts
  packages/core/core-flows/src/order/workflows/update-tax-lines.ts
Labels: type: chore, automerge, team: medusa

#8521 chore(core-flows): [11] export types and types, add basic TSDocs
  packages/core/core-flows/src/payment-collection/steps/create-payment-session.ts
  packages/core/core-flows/src/payment-collection/steps/create-refund-reasons.ts
  packages/core/core-flows/src/payment-collection/steps/delete-payment-sessions.ts
  packages/core/core-flows/src/payment-collection/steps/delete-refund-reasons.ts
  packages/core/core-flows/src/payment-collection/steps/update-payment-collection.ts
  packages/core/core-flows/src/payment-collection/steps/update-refund-reasons.ts
  packages/core/core-flows/src/payment-collection/steps/validate-deleted-payment-sessions.ts
  packages/core/core-flows/src/payment-collection/workflows/create-payment-session.ts
  packages/core/core-flows/src/payment-collection/workflows/create-refund-reasons.ts
  packages/core/core-flows/src/payment-collection/workflows/delete-payment-sessions.ts
  packages/core/core-flows/src/payment-collection/workflows/delete-refund-reasons.ts
  packages/core/core-flows/src/payment-collection/workflows/update-refund-reasons.ts
  packages/core/core-flows/src/payment/steps/authorize-payment-session.ts
  packages/core/core-flows/src/payment/steps/cancel-payment.ts
  packages/core/core-flows/src/payment/steps/capture-payment.ts
  packages/core/core-flows/src/payment/steps/refund-payment.ts
  packages/core/core-flows/src/payment/workflows/capture-payment.ts
  packages/core/core-flows/src/payment/workflows/refund-payment.ts
  packages/core/core-flows/src/price-list/workflows/batch-price-list-prices.ts
  packages/core/core-flows/src/price-list/workflows/create-price-list-prices.ts
  packages/core/core-flows/src/price-list/workflows/create-price-lists.ts
  packages/core/core-flows/src/price-list/workflows/delete-price-lists.ts
  packages/core/core-flows/src/price-list/workflows/remove-price-list-prices.ts
  packages/core/core-flows/src/price-list/workflows/update-price-list-prices.ts
  packages/core/core-flows/src/price-list/workflows/update-price-lists.ts
Labels: type: chore, team: medusa

#8522 chore(core-flows): [12] export types and types, add basic TSDocs
  packages/core/core-flows/src/price-list/steps/create-price-list-prices-workflow.ts
  packages/core/core-flows/src/price-list/steps/create-price-list-prices.ts
  packages/core/core-flows/src/price-list/steps/create-price-lists.ts
  packages/core/core-flows/src/price-list/steps/delete-price-lists.ts
  packages/core/core-flows/src/price-list/steps/get-existing-price-lists-price-ids.ts
  packages/core/core-flows/src/price-list/steps/remove-price-list-prices-workflow.ts
  packages/core/core-flows/src/price-list/steps/remove-price-list-prices.ts
  packages/core/core-flows/src/price-list/steps/update-price-list-prices-workflow.ts
  packages/core/core-flows/src/price-list/steps/update-price-list-prices.ts
  packages/core/core-flows/src/price-list/steps/update-price-lists.ts
  packages/core/core-flows/src/price-list/steps/validate-price-lists.ts
  packages/core/core-flows/src/price-list/steps/validate-variant-price-links.ts
  packages/core/core-flows/src/pricing/steps/create-price-preferences.ts
  packages/core/core-flows/src/pricing/steps/create-price-sets.ts
  packages/core/core-flows/src/pricing/steps/delete-price-preferences.ts
  packages/core/core-flows/src/pricing/steps/update-price-preferences-as-array.ts
  packages/core/core-flows/src/pricing/steps/update-price-preferences.ts
  packages/core/core-flows/src/pricing/steps/update-price-sets.ts
  packages/core/core-flows/src/pricing/workflows/create-price-preferences.ts
  packages/core/core-flows/src/pricing/workflows/delete-price-preferences.ts
  packages/core/core-flows/src/pricing/workflows/update-price-preferences.ts
Labels: type: chore, team: medusa

#8524 chore(core-flows): [14] export types and steps, add basic TSDocs
  packages/core/core-flows/src/product/steps/batch-link-products-collection.ts
  packages/core/core-flows/src/product/steps/batch-link-products-in-category.ts
  packages/core/core-flows/src/product/steps/create-collections.ts
  packages/core/core-flows/src/product/steps/create-product-options.ts
  packages/core/core-flows/src/product/steps/create-product-tags.ts
  packages/core/core-flows/src/product/steps/create-product-types.ts
  packages/core/core-flows/src/product/steps/create-product-variants.ts
  packages/core/core-flows/src/product/steps/create-products.ts
  packages/core/core-flows/src/product/steps/create-variant-pricing-link.ts
  packages/core/core-flows/src/product/steps/delete-collections.ts
  packages/core/core-flows/src/product/steps/delete-product-options.ts
  packages/core/core-flows/src/product/steps/delete-product-tags.ts
  packages/core/core-flows/src/product/steps/delete-product-types.ts
  packages/core/core-flows/src/product/steps/delete-product-variants.ts
  packages/core/core-flows/src/product/steps/delete-products.ts
  packages/core/core-flows/src/product/steps/generate-product-csv.ts
  packages/core/core-flows/src/product/steps/get-all-products.ts
  packages/core/core-flows/src/product/steps/get-products.ts
  packages/core/core-flows/src/product/steps/get-variant-pricing-link.ts
  packages/core/core-flows/src/product/steps/group-products-for-batch.ts
  packages/core/core-flows/src/product/steps/parse-product-csv.ts
  packages/core/core-flows/src/product/steps/update-collections.ts
  packages/core/core-flows/src/product/steps/update-product-options.ts
  packages/core/core-flows/src/product/steps/update-product-tags.ts
  packages/core/core-flows/src/product/steps/update-product-types.ts
  packages/core/core-flows/src/product/steps/update-product-variants.ts
  packages/core/core-flows/src/product/steps/update-products.ts
  packages/core/core-flows/src/product/steps/wait-confirmation-product-import.ts
Labels: type: chore, team: medusa

#8528 chore(core-flows): [17] export types and steps, add basic TSDocs
  packages/core/core-flows/src/shipping-options/steps/list-shipping-options-for-context.ts
  packages/core/core-flows/src/shipping-profile/steps/delete-shipping-profile.ts
  packages/core/core-flows/src/shipping-profile/workflows/delete-shipping-profile.ts
  packages/core/core-flows/src/stock-location/steps/associate-locations-with-fulfillment-sets.ts
  packages/core/core-flows/src/stock-location/steps/create-stock-locations.ts
  packages/core/core-flows/src/stock-location/steps/delete-stock-locations.ts
  packages/core/core-flows/src/stock-location/steps/update-stock-locations.ts
  packages/core/core-flows/src/stock-location/workflows/create-location-fulfillment-set.ts
  packages/core/core-flows/src/stock-location/workflows/create-stock-locations.ts
  packages/core/core-flows/src/stock-location/workflows/delete-stock-locations.ts
  packages/core/core-flows/src/stock-location/workflows/link-sales-channels-to-stock-location.ts
  packages/core/core-flows/src/stock-location/workflows/update-stock-locations.ts
  packages/core/core-flows/src/store/steps/create-stores.ts
  packages/core/core-flows/src/store/steps/delete-stores.ts
  packages/core/core-flows/src/store/steps/update-stores.ts
  packages/core/core-flows/src/store/workflows/create-stores.ts
  packages/core/core-flows/src/store/workflows/delete-stores.ts
  packages/core/core-flows/src/store/workflows/update-stores.ts
  packages/core/core-flows/src/user/steps/create-users.ts
  packages/core/core-flows/src/user/steps/delete-users.ts
  packages/core/core-flows/src/user/steps/update-users.ts
  packages/core/core-flows/src/user/workflows/create-user-account.ts
  packages/core/core-flows/src/user/workflows/create-users.ts
  packages/core/core-flows/src/user/workflows/delete-users.ts
  packages/core/core-flows/src/user/workflows/update-users.ts
Labels: type: chore, team: medusa

#8529 chore(core-flows): [18/18] export types and types, add basic TSDocs
  packages/core/core-flows/src/tax/steps/create-tax-rate-rules.ts
  packages/core/core-flows/src/tax/steps/create-tax-rates.ts
  packages/core/core-flows/src/tax/steps/create-tax-regions.ts
  packages/core/core-flows/src/tax/steps/delete-tax-rate-rules.ts
  packages/core/core-flows/src/tax/steps/delete-tax-rates.ts
  packages/core/core-flows/src/tax/steps/delete-tax-regions.ts
  packages/core/core-flows/src/tax/steps/list-tax-rate-ids.ts
  packages/core/core-flows/src/tax/steps/list-tax-rate-rule-ids.ts
  packages/core/core-flows/src/tax/steps/update-tax-rates.ts
  packages/core/core-flows/src/tax/workflows/create-tax-rate-rules.ts
  packages/core/core-flows/src/tax/workflows/create-tax-rates.ts
  packages/core/core-flows/src/tax/workflows/create-tax-regions.ts
  packages/core/core-flows/src/tax/workflows/delete-tax-rate-rules.ts
  packages/core/core-flows/src/tax/workflows/delete-tax-rates.ts
  packages/core/core-flows/src/tax/workflows/delete-tax-regions.ts
  packages/core/core-flows/src/tax/workflows/set-tax-rate-rules.ts
  packages/core/core-flows/src/tax/workflows/update-tax-rates.ts
Labels: type: chore, team: medusa

#8513 chore(order): item update quantity
  packages/core/types/src/order/common.ts
  packages/core/utils/src/order/order-change-action.ts
  packages/core/utils/src/totals/big-number.ts
  packages/modules/order/integration-tests/__tests__/order-edit.ts
  packages/modules/order/src/utils/actions/index.ts
  packages/modules/order/src/utils/actions/item-update.ts
Labels: type: chore, team: medusa

#8526 chore: rm pg dependency
  integration-tests/api/package.json
  integration-tests/http/package.json
  integration-tests/modules/package.json
  package.json
  packages/cli/create-medusa-app/package.json
  packages/cli/medusa-cli/package.json
  packages/core/modules-sdk/package.json
  packages/core/utils/src/modules-sdk/create-pg-connection.ts
  packages/medusa/package.json
  yarn.lock
Labels: type: chore, automerge, team: medusa

#8525 chore(core-flows): [15] export types and steps, add basic TSDocs
  packages/core/core-flows/src/product-category/steps/create-product-categories.ts
  packages/core/core-flows/src/product-category/steps/delete-product-categories.ts
  packages/core/core-flows/src/product-category/steps/update-product-categories.ts
  packages/core/core-flows/src/product-category/workflows/create-product-categories.ts
  packages/core/core-flows/src/product-category/workflows/delete-product-categories.ts
  packages/core/core-flows/src/product-category/workflows/update-product-categories.ts
  packages/core/core-flows/src/promotion/steps/add-campaign-promotions.ts
  packages/core/core-flows/src/promotion/steps/add-or-remove-campaign-promotions.ts
  packages/core/core-flows/src/promotion/steps/add-rules-to-promotions.ts
  packages/core/core-flows/src/promotion/steps/create-campaigns.ts
  packages/core/core-flows/src/promotion/steps/create-promotion-rules-workflow.ts
  packages/core/core-flows/src/promotion/steps/create-promotions.ts
  packages/core/core-flows/src/promotion/steps/delete-campaigns.ts
  packages/core/core-flows/src/promotion/steps/delete-promotion-rules-workflow.ts
  packages/core/core-flows/src/promotion/steps/delete-promotions.ts
  packages/core/core-flows/src/promotion/steps/remove-campaign-promotions.ts
  packages/core/core-flows/src/promotion/steps/remove-rules-from-promotions.ts
  packages/core/core-flows/src/promotion/steps/update-campaigns.ts
  packages/core/core-flows/src/promotion/steps/update-promotion-rules-workflow.ts
  packages/core/core-flows/src/promotion/steps/update-promotion-rules.ts
  packages/core/core-flows/src/promotion/steps/update-promotions.ts
  packages/core/core-flows/src/promotion/workflows/add-or-remove-campaign-promotions.ts
  packages/core/core-flows/src/promotion/workflows/batch-promotion-rules.ts
  packages/core/core-flows/src/promotion/workflows/create-campaigns.ts
  packages/core/core-flows/src/promotion/workflows/create-promotion-rules.ts
  packages/core/core-flows/src/promotion/workflows/create-promotions.ts
  packages/core/core-flows/src/promotion/workflows/delete-campaigns.ts
  packages/core/core-flows/src/promotion/workflows/delete-promotion-rules.ts
  packages/core/core-flows/src/promotion/workflows/delete-promotions.ts
  packages/core/core-flows/src/promotion/workflows/update-campaigns.ts
  packages/core/core-flows/src/promotion/workflows/update-promotion-rules.ts
  packages/core/core-flows/src/promotion/workflows/update-promotions.ts
Labels: type: chore, team: medusa

#8523 chore(core-flows): [13] export types and steps, add basic TSDocs
  packages/core/core-flows/src/product/workflows/batch-link-products-collection.ts
  packages/core/core-flows/src/product/workflows/batch-product-variants.ts
  packages/core/core-flows/src/product/workflows/batch-products-in-category.ts
  packages/core/core-flows/src/product/workflows/batch-products.ts
  packages/core/core-flows/src/product/workflows/create-collections.ts
  packages/core/core-flows/src/product/workflows/create-product-options.ts
  packages/core/core-flows/src/product/workflows/create-product-tags.ts
  packages/core/core-flows/src/product/workflows/create-product-types.ts
  packages/core/core-flows/src/product/workflows/create-product-variants.ts
  packages/core/core-flows/src/product/workflows/create-products.ts
  packages/core/core-flows/src/product/workflows/delete-collections.ts
  packages/core/core-flows/src/product/workflows/delete-product-options.ts
  packages/core/core-flows/src/product/workflows/delete-product-tags.ts
  packages/core/core-flows/src/product/workflows/delete-product-types.ts
  packages/core/core-flows/src/product/workflows/delete-product-variants.ts
  packages/core/core-flows/src/product/workflows/delete-products.ts
  packages/core/core-flows/src/product/workflows/export-products.ts
  packages/core/core-flows/src/product/workflows/import-products.ts
  packages/core/core-flows/src/product/workflows/update-collections.ts
  packages/core/core-flows/src/product/workflows/update-product-options.ts
  packages/core/core-flows/src/product/workflows/update-product-tags.ts
  packages/core/core-flows/src/product/workflows/update-product-types.ts
  packages/core/core-flows/src/product/workflows/update-product-variants.ts
  packages/core/core-flows/src/product/workflows/update-products.ts
  packages/core/core-flows/src/product/workflows/upsert-variant-prices.ts
Labels: type: chore, team: medusa

#8466 feat(dashboard,js-sdk,types): ability to add refund reason and note
  packages/admin-next/dashboard/src/hooks/api/index.ts
  packages/admin-next/dashboard/src/hooks/api/refund-reasons.tsx
  packages/admin-next/dashboard/src/i18n/translations/en.json
  packages/admin-next/dashboard/src/routes/orders/order-create-refund/components/create-refund-form/create-refund-form.tsx
  packages/admin-next/dashboard/src/routes/orders/order-create-refund/order-create-refund.tsx
  packages/admin-next/dashboard/src/routes/orders/order-detail/components/order-payment-section/order-payment-section.tsx
  packages/admin-next/dashboard/src/routes/orders/order-detail/constants.ts
  packages/core/js-sdk/src/admin/index.ts
  packages/core/js-sdk/src/admin/refund-reasons.ts
  packages/core/types/src/http/payment/admin.ts
Labels: automerge, type: feature, team: medusa

#8520 chore(core-flows): [10] export types and types, add basic TSDocs
  packages/core/core-flows/src/order/steps/archive-orders.ts
  packages/core/core-flows/src/order/steps/cancel-fulfillment.ts
  packages/core/core-flows/src/order/steps/cancel-order-change.ts
  packages/core/core-flows/src/order/steps/cancel-orders.ts
  packages/core/core-flows/src/order/steps/complete-orders.ts
  packages/core/core-flows/src/order/steps/confirm-order-changes.ts
  packages/core/core-flows/src/order/steps/create-line-items.ts
  packages/core/core-flows/src/order/steps/create-order-change-actions.ts
  packages/core/core-flows/src/order/steps/create-order-change.ts
  packages/core/core-flows/src/order/steps/create-order-shipping-methods.ts
  packages/core/core-flows/src/order/steps/create-orders.ts
  packages/core/core-flows/src/order/steps/decline-order-change.ts
  packages/core/core-flows/src/order/steps/delete-line-items.ts
  packages/core/core-flows/src/order/steps/delete-order-change-actions.ts
  packages/core/core-flows/src/order/steps/delete-order-changes.ts
  packages/core/core-flows/src/order/steps/delete-order-shipping-methods.ts
  packages/core/core-flows/src/order/steps/get-item-tax-lines.ts
  packages/core/core-flows/src/order/steps/preview-order-change.ts
  packages/core/core-flows/src/order/steps/register-fulfillment.ts
  packages/core/core-flows/src/order/steps/register-shipment.ts
  packages/core/core-flows/src/order/steps/set-tax-lines-for-items.ts
  packages/core/core-flows/src/order/steps/update-order-change-actions.ts
  packages/core/core-flows/src/order/steps/update-order-exchanges.ts
  packages/core/core-flows/src/order/steps/update-shipping-methods.ts
  packages/core/core-flows/src/order/steps/update-tax-lines.ts
Labels: type: chore, team: medusa

#8533 feat(types,dashboard): ability to set shipping methods for claim
  packages/admin-next/dashboard/src/i18n/translations/en.json
  packages/admin-next/dashboard/src/routes/orders/order-create-claim/claim-create.tsx
  packages/admin-next/dashboard/src/routes/orders/order-create-claim/components/claim-create-form/claim-create-form.tsx
  packages/admin-next/dashboard/src/routes/orders/order-create-claim/components/claim-create-form/claim-outbound-section.tsx
  packages/core/types/src/http/return/admin.ts
  packages/core/types/src/http/shipping-option/admin/queries.ts
Labels: type: feature, team: medusa

#8534 chore(core-flows): export used steps / workflows
  packages/core/core-flows/src/common/index.ts
  packages/core/core-flows/src/definition/cart/steps/index.ts
  packages/core/core-flows/src/definition/cart/steps/refresh-cart-promotions.ts
  packages/core/core-flows/src/definition/cart/steps/update-tax-lines.ts
  packages/core/core-flows/src/definition/cart/workflows/create-payment-collection-for-cart.ts
  packages/core/core-flows/src/definition/cart/workflows/index.ts
  packages/core/core-flows/src/order/steps/index.ts
  packages/core/core-flows/src/payment-collection/workflows/index.ts
  packages/core/core-flows/src/payment/steps/index.ts
Labels: type: chore, automerge, team: medusa

#8485 docs-util: add support for workflows in markdown theme
  www/apps/resources/app/references/[...slug]/page.tsx
  www/apps/resources/components/MDXComponents/index.tsx
  www/apps/resources/next.config.mjs
  www/apps/resources/sidebar.mjs
  www/packages/build-scripts/src/generate-sidebar.ts
  www/packages/build-scripts/src/index.ts
  www/packages/build-scripts/src/utils/get-core-flows-ref-sidebar-children.ts
  www/packages/build-scripts/src/utils/get-sidebar-item-link.ts
  www/packages/docs-ui/package.json
  www/packages/docs-ui/src/components/Navbar/MobileMenu/Button/index.tsx
  www/packages/docs-ui/src/components/WorkflowDiagram/Arrow/End/index.tsx
  www/packages/docs-ui/src/components/WorkflowDiagram/Arrow/Horizontal/index.tsx
  www/packages/docs-ui/src/components/WorkflowDiagram/Arrow/Middle/index.tsx
  www/packages/docs-ui/src/components/WorkflowDiagram/Arrow/index.tsx
  www/packages/docs-ui/src/components/WorkflowDiagram/Depth/index.tsx
  www/packages/docs-ui/src/components/WorkflowDiagram/Line/index.tsx
  www/packages/docs-ui/src/components/WorkflowDiagram/Node/index.tsx
  www/packages/docs-ui/src/components/WorkflowDiagram/index.tsx
  www/packages/docs-ui/src/components/index.ts
  www/packages/docs-ui/src/utils/index.ts
  www/packages/docs-ui/src/utils/workflow-diagram-utils.ts
  www/packages/remark-rehype-plugins/src/index.ts
  www/packages/remark-rehype-plugins/src/type-list-link-fixer.ts
  www/packages/remark-rehype-plugins/src/types/index.ts
  www/packages/remark-rehype-plugins/src/utils/component-link-fixer.ts
  www/packages/remark-rehype-plugins/src/workflow-diagram-link-fixer.ts
  www/packages/types/src/index.ts
  www/packages/types/src/sidebar.ts
  www/packages/types/src/workflow.ts
  www/utils/packages/typedoc-generate-references/src/constants/custom-options.ts
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/core-flows.ts
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/index.ts
  www/utils/packages/typedoc-generate-references/src/constants/merger-options.ts
  www/utils/packages/typedoc-generate-references/src/utils/get-namespaces.ts
  www/utils/packages/typedoc-plugin-custom/src/generate-namespace.ts
  www/utils/packages/typedoc-plugin-markdown-medusa/src/render-utils.ts
  www/utils/packages/typedoc-plugin-markdown-medusa/src/resources/helpers/example.ts
  www/utils/packages/typedoc-plugin-markdown-medusa/src/resources/helpers/if-workflow.ts
  www/utils/packages/typedoc-plugin-markdown-medusa/src/resources/helpers/step-input.ts
  www/utils/packages/typedoc-plugin-markdown-medusa/src/resources/helpers/step-output.ts
  www/utils/packages/typedoc-plugin-markdown-medusa/src/resources/helpers/toc.ts
  www/utils/packages/typedoc-plugin-markdown-medusa/src/resources/helpers/workflow-diagram.ts
  www/utils/packages/typedoc-plugin-markdown-medusa/src/resources/helpers/workflow-hooks.ts
  www/utils/packages/typedoc-plugin-markdown-medusa/src/resources/helpers/workflow-input.ts
  www/utils/packages/typedoc-plugin-markdown-medusa/src/resources/helpers/workflow-output.ts
  www/utils/packages/typedoc-plugin-markdown-medusa/src/resources/partials/member.signature-wrapper.hbs
  www/utils/packages/typedoc-plugin-markdown-medusa/src/resources/partials/member.workflow.hbs
  www/utils/packages/typedoc-plugin-markdown-medusa/src/utils/format-workflow-diagram-component.ts
  www/utils/packages/typedoc-plugin-markdown-medusa/src/utils/workflow-utils.ts
  www/utils/packages/typedoc-plugin-workflows/src/plugin.ts
  www/utils/packages/typedoc-plugin-workflows/src/types.ts
  www/utils/packages/typedoc-plugin-workflows/src/utils/helper.ts
  www/utils/packages/types/lib/index.d.ts
  www/utils/packages/utils/src/hooks-util.ts
  www/utils/packages/utils/src/index.ts
  www/utils/packages/utils/src/step-utils.ts
  www/utils/packages/utils/src/workflow-utils.ts
  www/yarn.lock
Labels: type: docs, team: medusa

#8516 feat: create return reason
  .github/teams.yml
  packages/admin-next/dashboard/src/components/table/data-table/data-table-root/data-table-root.tsx
  packages/admin-next/dashboard/src/components/table/data-table/data-table.tsx
  packages/admin-next/dashboard/src/hooks/table/columns/use-return-reason-table-columns.tsx
  packages/admin-next/dashboard/src/i18n/translations/en.json
  packages/admin-next/dashboard/src/providers/keybind-provider/hooks.tsx
  packages/admin-next/dashboard/src/providers/router-provider/route-map.tsx
  packages/admin-next/dashboard/src/routes/return-reasons/return-reason-create/components/return-reason-create-form/index.ts
  packages/admin-next/dashboard/src/routes/return-reasons/return-reason-create/components/return-reason-create-form/return-reason-create-form.tsx
  packages/admin-next/dashboard/src/routes/return-reasons/return-reason-create/index.ts
  packages/admin-next/dashboard/src/routes/return-reasons/return-reason-create/return-reason-create.tsx
  packages/admin-next/dashboard/src/routes/return-reasons/return-reason-edit/components/return-reason-edit-form/index.ts
  packages/admin-next/dashboard/src/routes/return-reasons/return-reason-edit/components/return-reason-edit-form/return-reason-edit-form.tsx
  packages/admin-next/dashboard/src/routes/return-reasons/return-reason-edit/index.ts
  packages/admin-next/dashboard/src/routes/return-reasons/return-reason-edit/return-reason-edit.tsx
  packages/admin-next/dashboard/src/routes/return-reasons/return-reason-list/components/return-reason-list-table/return-reason-list-table.tsx
  packages/core/types/src/order/common.ts
  packages/modules/order/src/models/return-reason.ts
Labels: type: feature, team: medusa

#8552 feat(create-medusa-app): prompt for database name with credentials
  packages/cli/create-medusa-app/src/utils/create-db.ts
  packages/cli/create-medusa-app/src/utils/prepare-project.ts
Labels: type: feature, team: medusa

#8540 chore(core-flows): favor runAsStep
  packages/core/core-flows/src/definition/cart/steps/refresh-cart-promotions.ts
  packages/core/core-flows/src/definition/cart/steps/update-tax-lines.ts
  packages/core/core-flows/src/definition/cart/workflows/add-shipping-method-to-cart.ts
  packages/core/core-flows/src/definition/cart/workflows/add-to-cart.ts
  packages/core/core-flows/src/definition/cart/workflows/create-carts.ts
  packages/core/core-flows/src/definition/cart/workflows/update-cart-promotions.ts
  packages/core/core-flows/src/definition/cart/workflows/update-cart.ts
  packages/core/core-flows/src/definition/cart/workflows/update-line-item-in-cart.ts
  packages/core/core-flows/src/definition/line-item/workflows/delete-line-items.ts
  packages/core/core-flows/src/order/steps/index.ts
  packages/core/core-flows/src/order/steps/update-tax-lines.ts
  packages/core/core-flows/src/order/workflows/create-orders.ts
  packages/core/core-flows/src/price-list/steps/create-price-list-prices-workflow.ts
  packages/core/core-flows/src/price-list/steps/index.ts
  packages/core/core-flows/src/price-list/steps/remove-price-list-prices-workflow.ts
  packages/core/core-flows/src/price-list/steps/update-price-list-prices-workflow.ts
  packages/core/core-flows/src/price-list/workflows/batch-price-list-prices.ts
  packages/core/core-flows/src/promotion/steps/create-promotion-rules-workflow.ts
  packages/core/core-flows/src/promotion/steps/update-promotion-rules-workflow.ts
  packages/core/core-flows/src/promotion/workflows/batch-promotion-rules.ts
  packages/core/types/src/workflow/order/index.ts
  packages/core/types/src/workflow/order/items.ts
  packages/medusa/src/api/store/carts/[id]/promotions/route.ts
Labels: type: chore, team: medusa

#8558 chore(medusa,types): [1] Add request types to API routes
  packages/core/types/src/http/cart/store/entities.ts
  packages/core/types/src/http/cart/store/index.ts
  packages/core/types/src/http/cart/store/payloads.ts
  packages/core/types/src/http/cart/store/responses.ts
  packages/core/types/src/http/collection/store.ts
  packages/core/types/src/http/collection/store/entities.ts
  packages/core/types/src/http/collection/store/index.ts
  packages/core/types/src/http/collection/store/queries.ts
  packages/core/types/src/http/collection/store/responses.ts
  packages/medusa/src/api/store/carts/[id]/complete/route.ts
  packages/medusa/src/api/store/carts/[id]/line-items/[line_id]/route.ts
  packages/medusa/src/api/store/carts/[id]/line-items/route.ts
  packages/medusa/src/api/store/carts/[id]/promotions/route.ts
  packages/medusa/src/api/store/carts/[id]/route.ts
  packages/medusa/src/api/store/carts/[id]/shipping-methods/route.ts
  packages/medusa/src/api/store/carts/[id]/taxes/route.ts
  packages/medusa/src/api/store/carts/route.ts
  packages/medusa/src/api/store/collections/[id]/route.ts
  packages/medusa/src/api/store/collections/route.ts
Labels: type: chore, automerge, team: medusa

#8568 chore(core-flows): order transactions
  .changeset/five-spies-ring.md
  integration-tests/modules/__tests__/order/order.spec.ts
  packages/cli/create-medusa-app/package.json
  packages/core/core-flows/src/definition/cart/workflows/complete-cart.ts
  packages/core/core-flows/src/order/steps/add-order-transaction.ts
  packages/core/core-flows/src/order/steps/index.ts
  packages/core/core-flows/src/payment/workflows/refund-payment.ts
  packages/core/medusa-test-utils/package.json
  packages/core/types/src/order/mutations.ts
  packages/core/types/src/payment/common.ts
  packages/core/utils/src/totals/__tests__/totals.ts
  packages/core/utils/src/totals/cart/index.ts
  packages/modules/cart/integration-tests/__tests__/services/cart-module/index.spec.ts
  packages/modules/order/src/services/actions/receive-return.ts
  yarn.lock
Labels: automerge, team: medusa

#8560 chore(medusa,types): [3] Add request types to API routes
  packages/core/types/src/http/order/store/entities.ts
  packages/core/types/src/http/order/store/index.ts
  packages/core/types/src/http/order/store/queries.ts
  packages/core/types/src/http/order/store/responses.ts
  packages/core/types/src/http/payment/common.ts
  packages/core/types/src/http/payment/store/entities.ts
  packages/core/types/src/http/payment/store/index.ts
  packages/core/types/src/http/payment/store/queries.ts
  packages/core/types/src/http/payment/store/responses.ts
  packages/medusa/src/api/store/orders/[id]/route.ts
  packages/medusa/src/api/store/orders/route.ts
  packages/medusa/src/api/store/payment-collections/[id]/payment-sessions/route.ts
  packages/medusa/src/api/store/payment-collections/route.ts
  packages/medusa/src/api/store/payment-providers/route.ts
Labels: type: chore, team: medusa

#8561 chore(medusa,types): [4] Add request types to API routes
  packages/core/types/src/http/fulfillment-provider/admin/entities.ts
  packages/core/types/src/http/fulfillment-provider/common.ts
  packages/core/types/src/http/region/store/entities.ts
  packages/core/types/src/http/region/store/index.ts
  packages/core/types/src/http/region/store/queries.ts
  packages/core/types/src/http/region/store/responses.ts
  packages/core/types/src/http/return-reason/index.ts
  packages/core/types/src/http/return-reason/store/entities.ts
  packages/core/types/src/http/return-reason/store/index.ts
  packages/core/types/src/http/return-reason/store/responses.ts
  packages/core/types/src/http/return/common.ts
  packages/core/types/src/http/return/index.ts
  packages/core/types/src/http/return/store/entities.ts
  packages/core/types/src/http/return/store/index.ts
  packages/core/types/src/http/return/store/responses.ts
  packages/core/types/src/http/shipping-option/index.ts
  packages/core/types/src/http/shipping-option/store/entities.ts
  packages/core/types/src/http/shipping-option/store/index.ts
  packages/core/types/src/http/shipping-option/store/responses.ts
  packages/medusa/src/api/store/products/[id]/route.ts
  packages/medusa/src/api/store/products/route.ts
  packages/medusa/src/api/store/regions/[id]/route.ts
  packages/medusa/src/api/store/regions/route.ts
  packages/medusa/src/api/store/return-reasons/[id]/route.ts
  packages/medusa/src/api/store/return-reasons/route.ts
  packages/medusa/src/api/store/return/route.ts
  packages/medusa/src/api/store/shipping-options/route.ts
Labels: type: chore, team: medusa

#8562 chore(medusa,types): [5] Add request types to API routes
  packages/core/types/src/http/claim/admin/responses.ts
  packages/medusa/src/api/admin/api-keys/[id]/revoke/route.ts
  packages/medusa/src/api/admin/api-keys/[id]/route.ts
  packages/medusa/src/api/admin/api-keys/[id]/sales-channels/route.ts
  packages/medusa/src/api/admin/api-keys/route.ts
  packages/medusa/src/api/admin/campaigns/[id]/promotions/route.ts
  packages/medusa/src/api/admin/campaigns/[id]/route.ts
  packages/medusa/src/api/admin/campaigns/route.ts
  packages/medusa/src/api/admin/claims/[id]/cancel/route.ts
  packages/medusa/src/api/admin/claims/[id]/claim-items/[action_id]/route.ts
  packages/medusa/src/api/admin/claims/[id]/claim-items/route.ts
  packages/medusa/src/api/admin/claims/[id]/inbound/items/[action_id]/route.ts
  packages/medusa/src/api/admin/claims/[id]/inbound/items/route.ts
  packages/medusa/src/api/admin/claims/[id]/inbound/shipping-method/[action_id]/route.ts
  packages/medusa/src/api/admin/claims/[id]/inbound/shipping-method/route.ts
  packages/medusa/src/api/admin/claims/[id]/outbound/items/[action_id]/route.ts
  packages/medusa/src/api/admin/claims/[id]/outbound/items/route.ts
  packages/medusa/src/api/admin/claims/[id]/outbound/shipping-method/[action_id]/route.ts
  packages/medusa/src/api/admin/claims/[id]/outbound/shipping-method/route.ts
  packages/medusa/src/api/admin/claims/[id]/request/route.ts
  packages/medusa/src/api/admin/claims/route.ts
Labels: type: chore, team: medusa

#8563 chore(medusa,types): [6] Add request types to API routes
  packages/core/types/src/http/customer/admin.ts
  packages/core/types/src/http/customer/admin/entities.ts
  packages/core/types/src/http/customer/admin/index.ts
  packages/core/types/src/http/customer/admin/payloads.ts
  packages/core/types/src/http/customer/admin/queries.ts
  packages/core/types/src/http/customer/admin/responses.ts
  packages/medusa/src/api/admin/collections/[id]/products/route.ts
  packages/medusa/src/api/admin/collections/[id]/route.ts
  packages/medusa/src/api/admin/collections/route.ts
  packages/medusa/src/api/admin/currencies/[code]/route.ts
  packages/medusa/src/api/admin/currencies/route.ts
  packages/medusa/src/api/admin/customer-groups/[id]/customers/route.ts
  packages/medusa/src/api/admin/customer-groups/[id]/route.ts
  packages/medusa/src/api/admin/customer-groups/route.ts
  packages/medusa/src/api/admin/customers/[id]/addresses/[address_id]/route.ts
  packages/medusa/src/api/admin/customers/[id]/addresses/route.ts
  packages/medusa/src/api/admin/customers/[id]/route.ts
  packages/medusa/src/api/admin/customers/route.ts
Labels: type: chore, team: medusa

#8567 chore(medusa,types): [10] Add request types to API routes
  packages/core/types/src/http/price-list/admin/responses.ts
  packages/core/types/src/http/product/admin/entitites.ts
  packages/core/types/src/http/product/admin/responses.ts
  packages/medusa/src/api/admin/price-lists/[id]/prices/batch/route.ts
  packages/medusa/src/api/admin/price-lists/[id]/products/route.ts
  packages/medusa/src/api/admin/price-lists/[id]/route.ts
  packages/medusa/src/api/admin/price-lists/route.ts
  packages/medusa/src/api/admin/price-preferences/[id]/route.ts
  packages/medusa/src/api/admin/price-preferences/route.ts
  packages/medusa/src/api/admin/product-categories/[id]/route.ts
  packages/medusa/src/api/admin/product-tags/[id]/route.ts
  packages/medusa/src/api/admin/product-tags/route.ts
  packages/medusa/src/api/admin/product-types/[id]/route.ts
  packages/medusa/src/api/admin/product-types/route.ts
  packages/medusa/src/api/admin/products/[id]/variants/[variant_id]/inventory-items/[inventory_item_id]/route.ts
  packages/medusa/src/api/admin/products/[id]/variants/[variant_id]/inventory-items/route.ts
  packages/medusa/src/api/admin/products/[id]/variants/inventory-items/batch/route.ts
Labels: type: chore, team: medusa

#8550 docs: fix build errors + update medusa docs link
  www/apps/api-reference/package.json
  www/apps/resources/app/page.mdx
  www/apps/resources/package.json
  www/apps/user-guide/app/page.mdx
  www/apps/user-guide/package.json
  www/packages/docs-ui/package.json
  www/yarn.lock
Labels: type: docs, team: medusa

#8537 docs: added troubleshooting for using pnpm
  www/apps/resources/app/troubleshooting/pnpm-errors/page.mdx
  www/apps/resources/sidebar.mjs
Labels: type: docs, team: medusa

#8538 docs: improve the workflow hooks guide
  www/apps/book/app/advanced-development/workflows/add-workflow-hook/page.mdx
  www/apps/book/app/advanced-development/workflows/workflow-hooks/page.mdx
  www/apps/book/sidebar.mjs
Labels: type: docs, team: medusa

#8554 docs-util: associate an API route with the workflow it uses
  www/utils/packages/docs-generator/src/classes/kinds/oas.ts
  www/utils/packages/docs-generator/src/types/index.d.ts
Labels: type: docs, team: medusa

#8564 chore(medusa,types): [7] Add request types to API routes
  packages/core/types/src/http/exchange/admin/entities.ts
  packages/core/types/src/http/exchange/admin/index.ts
  packages/core/types/src/http/exchange/admin/responses.ts
  packages/core/types/src/http/exchange/common.ts
  packages/core/types/src/http/exchange/index.ts
  packages/core/types/src/http/index.ts
  packages/core/types/src/http/order/admin/responses.ts
  packages/medusa/src/api/admin/draft-orders/[id]/route.ts
  packages/medusa/src/api/admin/draft-orders/route.ts
  packages/medusa/src/api/admin/exchanges/[id]/cancel/route.ts
  packages/medusa/src/api/admin/exchanges/[id]/inbound/items/[action_id]/route.ts
  packages/medusa/src/api/admin/exchanges/[id]/inbound/items/route.ts
  packages/medusa/src/api/admin/exchanges/[id]/inbound/shipping-method/[action_id]/route.ts
  packages/medusa/src/api/admin/exchanges/[id]/inbound/shipping-method/route.ts
  packages/medusa/src/api/admin/exchanges/[id]/outbound/items/[action_id]/route.ts
  packages/medusa/src/api/admin/exchanges/[id]/outbound/items/route.ts
  packages/medusa/src/api/admin/exchanges/[id]/outbound/shipping-method/[action_id]/route.ts
  packages/medusa/src/api/admin/exchanges/[id]/outbound/shipping-method/route.ts
  packages/medusa/src/api/admin/exchanges/[id]/request/route.ts
  packages/medusa/src/api/admin/exchanges/route.ts
Labels: type: chore, automerge, team: medusa

#8565 chore(medusa,types): [8] Add request types to API routes
  packages/core/types/src/http/invite/admin.ts
  packages/core/types/src/http/invite/admin/entities.ts
  packages/core/types/src/http/invite/admin/index.ts
  packages/core/types/src/http/invite/admin/payloads.ts
  packages/core/types/src/http/invite/admin/responses.ts
  packages/medusa/src/api/admin/fulfillment-providers/route.ts
  packages/medusa/src/api/admin/fulfillment-sets/[id]/service-zones/[zone_id]/route.ts
  packages/medusa/src/api/admin/fulfillment-sets/[id]/service-zones/route.ts
  packages/medusa/src/api/admin/fulfillments/[id]/cancel/route.ts
  packages/medusa/src/api/admin/fulfillments/[id]/shipment/route.ts
  packages/medusa/src/api/admin/fulfillments/route.ts
  packages/medusa/src/api/admin/inventory-items/[id]/location-levels/[location_id]/route.ts
  packages/medusa/src/api/admin/inventory-items/[id]/location-levels/batch/route.ts
  packages/medusa/src/api/admin/inventory-items/[id]/location-levels/route.ts
  packages/medusa/src/api/admin/inventory-items/[id]/route.ts
  packages/medusa/src/api/admin/inventory-items/route.ts
  packages/medusa/src/api/admin/invites/[id]/resend/route.ts
  packages/medusa/src/api/admin/invites/[id]/route.ts
  packages/medusa/src/api/admin/invites/accept/route.ts
  packages/medusa/src/api/admin/invites/route.ts
Labels: type: chore, team: medusa

#8557 feat: Move userpass default definition to defineConfig instead of a hard-coded value
  .changeset/thick-carpets-battle.md
  integration-tests/modules/medusa-config.js
  packages/core/utils/src/common/__tests__/define-config.spec.ts
  packages/core/utils/src/common/define-config.ts
  packages/modules/auth/package.json
  packages/modules/auth/src/loaders/providers.ts
  yarn.lock
Labels: type: feature, team: medusa

#8572 chore(medusa,types): [11] Add request types to API routes
  packages/core/types/src/http/promotion/admin/entities.ts
  packages/core/types/src/http/promotion/admin/index.ts
  packages/core/types/src/http/promotion/admin/promotion-rule.ts
  packages/core/types/src/http/promotion/admin/responses.ts
  packages/core/types/src/http/promotion/admin/rule-attribute-options.ts
  packages/core/types/src/http/promotion/admin/rule-operator-options.ts
  packages/core/types/src/http/promotion/admin/rule-value-options.ts
  packages/core/types/src/http/promotion/common.ts
  packages/medusa/src/api/admin/promotions/[id]/[rule_type]/route.ts
  packages/medusa/src/api/admin/promotions/[id]/buy-rules/batch/route.ts
  packages/medusa/src/api/admin/promotions/[id]/route.ts
  packages/medusa/src/api/admin/promotions/[id]/rules/batch/route.ts
  packages/medusa/src/api/admin/promotions/[id]/target-rules/batch/route.ts
  packages/medusa/src/api/admin/promotions/route.ts
  packages/medusa/src/api/admin/promotions/rule-attribute-options/[rule_type]/route.ts
  packages/medusa/src/api/admin/promotions/rule-value-options/[rule_type]/[rule_attribute_id]/route.ts
  packages/medusa/src/api/admin/refund-reasons/[id]/route.ts
Labels: type: chore, team: medusa

#8574 chore(medusa,types): [12] Add request types to API routes
  packages/core/types/src/http/exchange/common.ts
  packages/core/types/src/http/region/admin/entities.ts
  packages/core/types/src/http/region/admin/index.ts
  packages/core/types/src/http/region/admin/payloads.ts
  packages/core/types/src/http/region/admin/queries.ts
  packages/core/types/src/http/region/admin/responses.ts
  packages/core/types/src/http/reservation/admin/entities.ts
  packages/core/types/src/http/reservation/admin/index.ts
  packages/core/types/src/http/reservation/admin/responses.ts
  packages/core/types/src/http/return/admin/entities.ts
  packages/core/types/src/http/return/admin/index.ts
  packages/core/types/src/http/return/admin/payloads.ts
  packages/core/types/src/http/return/admin/queries.ts
  packages/core/types/src/http/return/admin/responses.ts
  packages/medusa/src/api/admin/regions/[id]/route.ts
  packages/medusa/src/api/admin/regions/route.ts
  packages/medusa/src/api/admin/reservations/[id]/route.ts
  packages/medusa/src/api/admin/reservations/route.ts
  packages/medusa/src/api/admin/return-reasons/[id]/route.ts
  packages/medusa/src/api/admin/return-reasons/route.ts
  packages/medusa/src/api/admin/returns/[id]/cancel/route.ts
  packages/medusa/src/api/admin/returns/[id]/dismiss-items/[action_id]/route.ts
  packages/medusa/src/api/admin/returns/[id]/dismiss-items/route.ts
  packages/medusa/src/api/admin/returns/[id]/receive-items/[action_id]/route.ts
  packages/medusa/src/api/admin/returns/[id]/receive-items/route.ts
  packages/medusa/src/api/admin/returns/[id]/receive/confirm/route.ts
  packages/medusa/src/api/admin/returns/[id]/receive/route.ts
  packages/medusa/src/api/admin/returns/[id]/request-items/[action_id]/route.ts
  packages/medusa/src/api/admin/returns/[id]/request-items/route.ts
  packages/medusa/src/api/admin/returns/[id]/request/route.ts
  packages/medusa/src/api/admin/returns/[id]/route.ts
  packages/medusa/src/api/admin/returns/[id]/shipping-method/[action_id]/route.ts
  packages/medusa/src/api/admin/returns/[id]/shipping-method/route.ts
  packages/medusa/src/api/admin/returns/route.ts
Labels: type: chore, team: medusa

#8575 chore(medusa,types): [13] Add request types to API routes
  packages/core/types/src/http/sales-channel/admin/responses.ts
  packages/core/types/src/http/shipping-option/admin/responses.ts
  packages/medusa/src/api/admin/sales-channels/[id]/products/route.ts
  packages/medusa/src/api/admin/sales-channels/[id]/route.ts
  packages/medusa/src/api/admin/sales-channels/route.ts
  packages/medusa/src/api/admin/shipping-options/[id]/rules/batch/route.ts
  packages/medusa/src/api/admin/stock-locations/[id]/fulfillment-providers/route.ts
  packages/medusa/src/api/admin/stock-locations/[id]/fulfillment-sets/route.ts
  packages/medusa/src/api/admin/stock-locations/[id]/route.ts
  packages/medusa/src/api/admin/stock-locations/[id]/sales-channels/route.ts
  packages/medusa/src/api/admin/stock-locations/route.ts
  packages/medusa/src/api/admin/stores/[id]/route.ts
  packages/medusa/src/api/admin/stores/route.ts
  packages/medusa/src/api/admin/tax-rates/[id]/route.ts
  packages/medusa/src/api/admin/tax-rates/[id]/rules/[rule_id]/route.ts
  packages/medusa/src/api/admin/tax-rates/[id]/rules/route.ts
  packages/medusa/src/api/admin/tax-rates/route.ts
Labels: type: chore, team: medusa

#8576 chore(medusa,types): [14/14] Add request types to API routes
  packages/core/types/src/http/file/admin.ts
  packages/core/types/src/http/file/admin/entities.ts
  packages/core/types/src/http/file/admin/index.ts
  packages/core/types/src/http/file/admin/payloads.ts
  packages/core/types/src/http/file/admin/responses.ts
  packages/core/types/src/http/index.ts
  packages/core/types/src/http/workflow-execution/admin/entities.ts
  packages/core/types/src/http/workflow-execution/admin/index.ts
  packages/core/types/src/http/workflow-execution/admin/responses.ts
  packages/core/types/src/http/workflow-execution/index.ts
  packages/medusa/src/api/admin/tax-regions/[id]/route.ts
  packages/medusa/src/api/admin/tax-regions/route.ts
  packages/medusa/src/api/admin/uploads/[id]/route.ts
  packages/medusa/src/api/admin/uploads/route.ts
  packages/medusa/src/api/admin/users/[id]/route.ts
  packages/medusa/src/api/admin/users/me/route.ts
  packages/medusa/src/api/admin/users/route.ts
  packages/medusa/src/api/admin/workflows-executions/[id]/route.ts
  packages/medusa/src/api/admin/workflows-executions/[workflow_id]/[transaction_id]/route.ts
  packages/medusa/src/api/admin/workflows-executions/[workflow_id]/run/route.ts
  packages/medusa/src/api/admin/workflows-executions/[workflow_id]/steps/failure/route.ts
  packages/medusa/src/api/admin/workflows-executions/[workflow_id]/steps/success/route.ts
  packages/medusa/src/api/admin/workflows-executions/route.ts
Labels: type: chore, team: medusa

#8581 fix(core-flows): fixes duplicate fulfillment issue
  integration-tests/http/__tests__/claims/claims.spec.ts
  packages/core/core-flows/src/order/workflows/create-fulfillment.ts
  packages/core/core-flows/src/order/workflows/create-shipment.ts
Labels: type: bug, automerge, team: medusa

#8579 docs: fixes and preparations for workflows reference
  www/apps/resources/app/medusa-workflows-reference/page.mdx
  www/apps/resources/generated/files-map.mjs
  www/apps/resources/package.json
  www/packages/build-scripts/src/utils/get-core-flows-ref-sidebar-children.ts
  www/packages/docs-ui/src/components/Card/index.tsx
  www/packages/docs-ui/src/components/ChildDocs/index.tsx
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/core-flows.ts
Labels: type: docs, automerge, team: medusa

#8553 feat(core-flows): introduce a generic create entities step
  packages/core/core-flows/src/common/steps/create-entities.ts
  packages/core/core-flows/src/order/steps/create-order-change-actions.ts
  packages/core/core-flows/src/order/steps/index.ts
  packages/core/core-flows/src/order/workflows/claim/claim-add-new-item.ts
  packages/core/core-flows/src/order/workflows/claim/claim-item.ts
  packages/core/core-flows/src/order/workflows/claim/claim-request-item-return.ts
  packages/core/core-flows/src/order/workflows/claim/create-claim-shipping-method.ts
  packages/core/core-flows/src/order/workflows/create-order-change-actions.ts
  packages/core/core-flows/src/order/workflows/exchange/create-exchange-shipping-method.ts
  packages/core/core-flows/src/order/workflows/exchange/exchange-add-new-item.ts
  packages/core/core-flows/src/order/workflows/exchange/exchange-request-item-return.ts
  packages/core/core-flows/src/order/workflows/return/create-return-shipping-method.ts
  packages/core/core-flows/src/order/workflows/return/dismiss-item-return-request.ts
  packages/core/core-flows/src/order/workflows/return/receive-item-return-request.ts
  packages/core/core-flows/src/order/workflows/return/request-item-return.ts
Labels: type: feature, team: medusa

#8584 fix(core-flows): fixes build fails
  packages/core/core-flows/src/order/workflows/order-edit/create-order-edit-shipping-method.ts
  packages/core/core-flows/src/order/workflows/order-edit/order-edit-add-new-item.ts
Labels: type: bug, automerge, team: medusa

#8577 docs-util: fix OAS generation error
  packages/cli/oas/medusa-oas-cli/redocly/redocly-config.yaml
  www/utils/generated/oas-output/base/admin.oas.base.yaml
  www/utils/generated/oas-output/base/store.oas.base.yaml
  www/utils/packages/docs-generator/src/classes/helpers/schema-factory.ts
  www/utils/packages/docs-generator/src/classes/kinds/oas.ts
Labels: type: docs, team: medusa

#8582 Run migrations and links sync after loading the app
  packages/core/medusa-test-utils/src/medusa-test-runner-utils/bootstrap-app.ts
  packages/core/medusa-test-utils/src/medusa-test-runner-utils/clear-instances.ts
  packages/core/medusa-test-utils/src/medusa-test-runner-utils/use-db.ts
  packages/core/medusa-test-utils/src/medusa-test-runner-utils/utils.ts
  packages/core/medusa-test-utils/src/medusa-test-runner.ts
  packages/modules/workflow-engine-redis/src/utils/workflow-orchestrator-storage.ts
Labels: team: medusa

#8591 fix(core-flows): add order transaction on capture
  packages/core/core-flows/src/definition/cart/workflows/complete-cart.ts
  packages/core/core-flows/src/payment/workflows/capture-payment.ts
  packages/core/core-flows/src/payment/workflows/refund-payment.ts
Labels: type: bug, automerge, team: medusa

#8590 feat(core-flows,dashboard): add fixes to allow only outbound or inbound claims
  integration-tests/http/__tests__/claims/claims.spec.ts
  packages/admin-next/dashboard/src/i18n/translations/en.json
  packages/admin-next/dashboard/src/lib/payment.ts
  packages/admin-next/dashboard/src/routes/orders/order-create-claim/components/claim-create-form/claim-create-form.tsx
  packages/admin-next/dashboard/src/routes/orders/order-create-claim/components/claim-create-form/claim-outbound-section.tsx
  packages/admin-next/dashboard/src/routes/orders/order-detail/components/order-payment-section/order-payment-section.tsx
  packages/admin-next/dashboard/src/routes/orders/order-detail/components/order-summary-section/order-summary-section.tsx
  packages/admin-next/dashboard/src/routes/orders/order-detail/constants.ts
  packages/core/core-flows/src/order/workflows/claim/confirm-claim-request.ts
  packages/core/types/src/http/payment/common.ts
  packages/core/types/src/http/return/common.ts
  packages/medusa/src/api/admin/returns/query-config.ts
Labels: type: bug, automerge, team: medusa

#8600 feat(medusa-oas-cli): automatically fix missing circular references
  packages/cli/oas/medusa-oas-cli/src/command-docs.ts
  packages/cli/oas/medusa-oas-cli/src/types.ts
  packages/cli/oas/medusa-oas-cli/src/utils/circular-patch-utils.ts
Labels: type: feature, team: medusa

#8607 fix(notification): Disable notification providers
  packages/modules/notification/src/loaders/providers.ts
  packages/modules/notification/src/services/notification-module-service.ts
Labels: type: bug, team: medusa

#8593 docs: change from showing required to showing optional in types references
  www/packages/docs-ui/src/components/TypeList/Items/index.tsx
Labels: type: docs, team: medusa

#8580 docs: fix $lt and $gt in api reference
  www/apps/api-reference/app/_mdx/admin.mdx
  www/apps/api-reference/app/_mdx/store.mdx
Labels: type: docs, team: medusa

#8602 docs: change workflow diagram to list
  www/packages/docs-ui/src/components/WorkflowDiagram/Canvas/Depth/index.tsx
  www/packages/docs-ui/src/components/WorkflowDiagram/Canvas/index.tsx
  www/packages/docs-ui/src/components/WorkflowDiagram/Common/Arrow/End/index.tsx
  www/packages/docs-ui/src/components/WorkflowDiagram/Common/Arrow/Horizontal/index.tsx
  www/packages/docs-ui/src/components/WorkflowDiagram/Common/Arrow/Middle/index.tsx
  www/packages/docs-ui/src/components/WorkflowDiagram/Common/Arrow/index.tsx
  www/packages/docs-ui/src/components/WorkflowDiagram/Common/Depth/index.tsx
  www/packages/docs-ui/src/components/WorkflowDiagram/Common/Line/index.tsx
  www/packages/docs-ui/src/components/WorkflowDiagram/Common/Node/index.tsx
  www/packages/docs-ui/src/components/WorkflowDiagram/List/Depth/index.tsx
  www/packages/docs-ui/src/components/WorkflowDiagram/List/index.tsx
  www/packages/docs-ui/src/components/WorkflowDiagram/index.tsx
  www/utils/packages/typedoc-plugin-markdown-medusa/src/resources/helpers/workflow-diagram.ts
Labels: type: docs, team: medusa

#8603 fix(payment): Partial refunds
  integration-tests/http/__tests__/payment/admin/payment.spec.ts
  packages/modules/payment/integration-tests/__tests__/services/payment-module/index.spec.ts
  packages/modules/payment/src/services/payment-module.ts
Labels: type: bug, team: medusa

#8616 fix(order): summary original_total
  packages/modules/order/src/services/actions/cancel-claim.ts
  packages/modules/order/src/services/actions/cancel-exchange.ts
  packages/modules/order/src/services/actions/cancel-return.ts
  packages/modules/order/src/services/order-module-service.ts
Labels: type: bug, team: medusa

#8614 docs: redesign pagination
  www/packages/docs-ui/src/components/MainNav/index.tsx
  www/packages/docs-ui/src/components/Pagination/Card/index.tsx
  www/packages/docs-ui/src/components/Pagination/index.tsx
Labels: type: docs, team: medusa

#8613 docs: add associated workflow badge in api reference
  www/apps/api-reference/components/Tags/Operation/DescriptionSection/WorkflowBadge/index.tsx
  www/apps/api-reference/components/Tags/Operation/DescriptionSection/index.tsx
  www/apps/api-reference/types/openapi.ts
  www/packages/docs-ui/src/components/Badge/index.tsx
  www/packages/docs-ui/src/components/Icons/DecisionProcess/index.tsx
  www/packages/docs-ui/src/components/Icons/index.tsx
Labels: type: docs, team: medusa

#8611 docs: fix expand badge
  www/packages/docs-ui/src/components/ExpandableNotice/index.tsx
  www/packages/docs-ui/src/components/TypeList/Items/index.tsx
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/medusa.ts
  www/utils/packages/typedoc-generate-references/src/constants/merger-options.ts
Labels: type: docs, team: medusa

#8605 docs: fix scroll top margin
  www/apps/api-reference/app/admin/page.tsx
  www/apps/api-reference/app/store/page.tsx
  www/apps/api-reference/config/index.ts
  www/packages/docs-ui/src/components/MDXComponents/index.tsx
  www/packages/docs-ui/src/layouts/wide.tsx
  www/packages/tailwind/base.tailwind.config.js
Labels: type: docs, team: medusa

#8604 docs: update colors and typography
  www/apps/api-reference/components/MDXComponents/Security/Description/index.tsx
  www/apps/api-reference/components/Tags/Operation/Parameters/Nested/index.tsx
  www/apps/ui/src/components/component-example.tsx
  www/packages/docs-ui/src/components/Bordered/index.tsx
  www/packages/docs-ui/src/components/LearningPath/index.tsx
  www/packages/tailwind/base.tailwind.config.js
  www/packages/tailwind/theme-presets.js
Labels: type: docs, team: medusa

#8601 docs: fix usage of AdminCreateProduct in validation of digital product recipe
  www/apps/resources/app/recipes/digital-products/examples/standard/page.mdx
Labels: type: docs, team: medusa

#8608 docs: collapse sidebar by default in main docs + persist state
  www/apps/api-reference/providers/sidebar.tsx
  www/apps/book/providers/sidebar.tsx
  www/apps/book/utils/number-sidebar-items.mjs
  www/apps/resources/providers/sidebar.tsx
  www/apps/ui/src/providers/sidebar.tsx
  www/apps/user-guide/providers/sidebar.tsx
  www/packages/docs-ui/src/components/Sidebar/Item/Category/index.tsx
  www/packages/docs-ui/src/providers/Sidebar/index.tsx
  www/packages/types/src/sidebar.ts
Labels: type: docs, team: medusa

#8610 docs: redesign help button
  www/apps/book/providers/index.tsx
  www/apps/resources/providers/index.tsx
  www/packages/docs-ui/src/components/HelpButton/Actions/index.tsx
  www/packages/docs-ui/src/components/HelpButton/index.tsx
  www/packages/docs-ui/src/components/Icons/Github/index.tsx
  www/packages/docs-ui/src/components/MainNav/HelpButton/index.tsx
  www/packages/docs-ui/src/components/MainNav/index.tsx
  www/packages/docs-ui/src/components/Menu/Action/index.tsx
  www/packages/docs-ui/src/components/Menu/Item/index.tsx
  www/packages/docs-ui/src/components/index.ts
  www/packages/docs-ui/src/constants.tsx
Labels: type: docs, automerge, team: medusa

#8617 feat(medusa,core-flows,types): API to create payment collections for order
  integration-tests/http/__tests__/claims/claims.spec.ts
  packages/core/core-flows/src/order/workflows/create-order-payment-collection.ts
  packages/core/core-flows/src/order/workflows/index.ts
  packages/core/types/src/http/payment/admin/responses.ts
  packages/medusa/src/api/admin/payment-collections/middlewares.ts
  packages/medusa/src/api/admin/payment-collections/query-config.ts
  packages/medusa/src/api/admin/payment-collections/route.ts
  packages/medusa/src/api/admin/payment-collections/validators.ts
  packages/medusa/src/api/middlewares.ts
Labels: automerge, type: feature, team: medusa

#8556 docs-util: fix update OAS schema
  www/utils/packages/docs-generator/src/classes/helpers/knowledge-base-factory.ts
  www/utils/packages/docs-generator/src/classes/kinds/oas.ts
Labels: type: docs, team: medusa

#8595 docs: remove steps from workflows reference overview
  www/apps/resources/app/medusa-workflows-reference/page.mdx
  www/packages/docs-ui/src/components/ChildDocs/index.tsx
  www/packages/docs-ui/src/components/TypeList/Items/index.tsx
Labels: type: docs, team: medusa

#8622 fix(pricing): Calculate price sets with amount 0
  packages/modules/pricing/integration-tests/__tests__/services/pricing-module/calculate-price.spec.ts
  packages/modules/pricing/src/services/pricing-module.ts
Labels: type: bug, team: medusa

#8624 fix(order): order summary on order creation
  integration-tests/http/__tests__/claims/claims.spec.ts
  packages/modules/order/src/services/order-module-service.ts
Labels: type: bug, team: medusa

#8629 fix: Remove the endpoint to create a user
  integration-tests/http/__tests__/auth/admin/auth.spec.ts
  packages/medusa/src/api/admin/users/middlewares.ts
  packages/medusa/src/api/admin/users/route.ts
Labels: type: bug, team: medusa

#8633 fix(order): update order summary when transactions change
  integration-tests/http/__tests__/user/admin/user.spec.ts
  packages/modules/order/integration-tests/__tests__/create-order.ts
  packages/modules/order/src/services/order-module-service.ts
Labels: type: bug, automerge, team: medusa

#8638 chore: Remove create user tests that are no longer relevant
  integration-tests/http/__tests__/user/admin/user.spec.ts
Labels: type: bug, team: medusa

#8626 docs: bug fixes for copy and color mode
  www/packages/docs-ui/package.json
  www/packages/docs-ui/src/components/Sidebar/index.tsx
  www/packages/docs-ui/src/hooks/use-copy/index.tsx
  www/packages/docs-ui/src/providers/ColorMode/index.tsx
  www/yarn.lock
Labels: type: docs, team: medusa

#8599 fix(dashboard): Replace `react-nestable` with new SortableTree component
  packages/admin-next/dashboard/package.json
  packages/admin-next/dashboard/src/components/common/sortable-tree/index.ts
  packages/admin-next/dashboard/src/components/common/sortable-tree/keyboard-coordinates.ts
  packages/admin-next/dashboard/src/components/common/sortable-tree/sortable-tree-item.tsx
  packages/admin-next/dashboard/src/components/common/sortable-tree/sortable-tree.tsx
  packages/admin-next/dashboard/src/components/common/sortable-tree/tree-item.tsx
  packages/admin-next/dashboard/src/components/common/sortable-tree/types.ts
  packages/admin-next/dashboard/src/components/common/sortable-tree/utils.ts
  packages/admin-next/dashboard/src/components/data-grid/data-grid-root/data-grid-root.tsx
  packages/admin-next/dashboard/src/routes/categories/category-create/components/create-category-form/create-category-form.tsx
  packages/admin-next/dashboard/src/routes/categories/category-create/components/create-category-form/create-category-nesting.tsx
  packages/admin-next/dashboard/src/routes/categories/category-organize/components/organize-category-form/organize-category-form.tsx
  packages/admin-next/dashboard/src/routes/categories/common/components/category-tree/category-tree.tsx
  packages/admin-next/dashboard/src/routes/categories/common/components/category-tree/styles.css
  yarn.lock
Labels: type: bug, automerge, team: medusa

#8623 docs: added edit date
  www/apps/book/.eslintrc.js
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/package.json
  www/apps/book/providers/main-nav.tsx
  www/apps/book/scripts/prepare.mjs
  www/apps/resources/generated/edit-dates.mjs
  www/apps/resources/providers/main-nav.tsx
  www/apps/resources/scripts/prepare.mjs
  www/packages/build-scripts/src/generate-edited-dates.ts
  www/packages/build-scripts/src/index.ts
  www/packages/docs-ui/src/components/MainNav/Divider/index.tsx
  www/packages/docs-ui/src/components/MainNav/EditDate/index.tsx
  www/packages/docs-ui/src/components/MainNav/index.tsx
  www/packages/docs-ui/src/providers/MainNav/index.tsx
  www/packages/docs-ui/tsconfig.json
  www/yarn.lock
Labels: type: docs, team: medusa
