Repository medusajs/medusa, pull requests merged in 2024-11, with the labels that each got.

#9859 fix(dashboard): Allow float values for product prices
  packages/admin/dashboard/src/lib/validation.ts
  packages/admin/dashboard/src/routes/products/product-create/components/product-create-form/product-create-form.tsx
  packages/admin/dashboard/src/routes/products/product-create/constants.ts
Labels: type: bug, team: medusa

#9736 fix(core-flows, dashboard): adjust stock levels when doing partial fulfilments
  integration-tests/http/__tests__/fixtures/order.ts
  integration-tests/http/__tests__/order/admin/order.spec.ts
  packages/admin/dashboard/src/hooks/api/orders.tsx
  packages/admin/dashboard/src/routes/orders/order-create-fulfillment/components/order-create-fulfillment-form/order-create-fulfillment-form.tsx
  packages/admin/dashboard/src/routes/orders/order-create-fulfillment/components/order-create-fulfillment-form/order-create-fulfillment-item.tsx
  packages/core/core-flows/src/order/workflows/create-fulfillment.ts
Labels: type: bug, team: medusa

#9796 fix(dashboard): tax override reference
  packages/admin/dashboard/src/routes/tax-regions/common/constants.ts
  packages/admin/dashboard/src/routes/tax-regions/tax-region-tax-override-create/components/tax-region-override-create-form/tax-region-tax-override-create.tsx
  packages/admin/dashboard/src/routes/tax-regions/tax-region-tax-override-edit/components/tax-region-tax-override-edit-form/tax-region-tax-override-edit-form.tsx
Labels: type: bug, team: medusa

#9799 chore(dashboard): Setup test and script for validating i18n
  packages/admin/dashboard/package.json
  packages/admin/dashboard/scripts/i18n/generate-schema.js
  packages/admin/dashboard/scripts/i18n/validate-translation.js
  packages/admin/dashboard/src/i18n/translations/$schema.json
  packages/admin/dashboard/src/i18n/translations/__tests__/validate-translations.spec.ts
  packages/admin/dashboard/tsconfig.build.json
  yarn.lock
Labels: automerge, type: feature, team: medusa

#9915 fix: disable admin when running integration tests
  packages/medusa-test-utils/src/medusa-test-runner-utils/config.ts
Labels: type: bug, team: medusa

#9715 fix(dashboard): truncate price cell titles
  packages/admin/dashboard/src/components/common/tax-badge/tax-badge.tsx
  packages/admin/dashboard/src/components/data-grid/helpers/create-data-grid-price-columns.tsx
  packages/admin/dashboard/src/routes/regions/region-edit/components/edit-region-form/edit-region-form.tsx
Labels: type: bug, automerge, team: medusa

#9917 fix(utils): Mikro orm repository update many to many should detach all items by default
  .changeset/shiny-spiders-raise.md
  packages/core/utils/src/dal/mikro-orm/integration-tests/__tests__/mikro-orm-repository.spec.ts
  packages/core/utils/src/dal/mikro-orm/mikro-orm-repository.ts
Labels: type: bug, team: medusa

#9921 fix(workflows-sdk): Paralellize steps rollback issue with config
  .changeset/tall-starfishes-travel.md
  packages/core/workflows-sdk/src/utils/composer/__tests__/compose.ts
  packages/core/workflows-sdk/src/utils/composer/create-step.ts
Labels: type: bug, team: medusa

#9913 fix(dashboard): Allow using enter key to create newline in Textarea
  packages/admin/dashboard/src/components/utilities/keybound-form/keybound-form.tsx
  packages/admin/dashboard/src/i18n/translations/$schema.json
  packages/admin/dashboard/src/i18n/translations/en.json
  packages/admin/dashboard/src/routes/products/product-edit/components/edit-product-form/edit-product-form.tsx
  packages/admin/dashboard/src/routes/products/product-edit/product-edit.tsx
Labels: type: bug, team: medusa

#9930 refactor: move to a form based bug report template
  .github/ISSUE_TEMPLATE/bug_report_v2.md
  .github/ISSUE_TEMPLATE/bug_report_v2.yml
Labels: type: feature, team: medusa

#9938 chore: Sync PR and Discussions to Linear
  .github/workflows/create-linear-issue-on-discussion.yml
  .github/workflows/create-linear-issue-on-pr.yml
Labels: type: chore, team: medusa

#9935 fix(types): Prev limit wrong values
  .changeset/early-queens-prove.md
  packages/core/types/src/dal/utils.ts
Labels: type: bug, automerge, team: medusa

#9932 fix(utils/dml): set-relationship graphql generator from DML wrong managed belongsTo
  .changeset/tame-sloths-pump.md
  packages/core/utils/src/dml/__tests__/create-graphql.spec.ts
  packages/core/utils/src/dml/helpers/graphql-builder/set-relationship.ts
Labels: type: bug, automerge, team: medusa

#9940 chore: Use PR author name
  .github/workflows/create-linear-issue-on-pr.yml
Labels: type: chore, team: medusa

#9939 fix(telemetry): Pointing and resolving packages wrongly
  .changeset/eleven-students-cover.md
  packages/medusa-telemetry/src/telemeter.js
  packages/medusa/package.json
Labels: type: bug, automerge, team: medusa

#9942 fix: Support relative path in SDK
  .changeset/cool-buckets-remember.md
  packages/core/js-sdk/src/__tests__/client.spec.ts
  packages/core/js-sdk/src/client.ts
Labels: type: bug, team: medusa

#9843 docs: small improvement to first customization guide
  www/apps/book/app/learn/first-customizations/page.mdx
Labels: type: docs, automerge, team: medusa

#9914 fix(medusa): POST carts/[id]/complete missing early return
  packages/medusa/src/api/store/carts/[id]/complete/route.ts
Labels: type: bug

#9947 fix: Default to a relative path for the admin backend URL
  .changeset/tough-spiders-admire.md
  packages/admin/dashboard/src/lib/client/client.ts
  packages/admin/dashboard/src/lib/query-client.ts
  packages/core/framework/src/config/types.ts
  packages/core/types/src/common/config-module.ts
  packages/core/utils/src/common/__tests__/define-config.spec.ts
  packages/core/utils/src/common/define-config.ts
Labels: type: bug, team: medusa

#9944 fix: log cause property from the error
  .changeset/cold-shirts-wonder.md
  packages/cli/medusa-cli/src/reporter/__tests__/__snapshots__/index.js.snap
  packages/cli/medusa-cli/src/reporter/__tests__/index.js
  packages/cli/medusa-cli/src/reporter/index.ts
Labels: type: bug, automerge, team: medusa

#9929 fix(core-flows,medusa): Include region_id in shipping option retrieval
  .changeset/heavy-pears-mix.md
  integration-tests/modules/__tests__/shipping-options/store/shipping-options.spec.ts
  packages/core/core-flows/src/cart/workflows/list-shipping-options-for-cart.ts
  packages/core/types/src/cart/workflows.ts
  packages/medusa/src/api/store/shipping-options/route.ts
Labels: type: bug, automerge, team: medusa

#9957 fix: do not set default host to localhost
  packages/cli/medusa-cli/src/create-cli.ts
  packages/medusa/src/commands/start.ts
Labels: type: bug, automerge, team: medusa

#9956 chore(locking): disable default provider warning
  .changeset/strange-deers-invite.md
  packages/modules/locking/src/loaders/providers.ts
Labels: type: chore, team: medusa

#9953 fix(types): add `display_id` to `OrderDTO`
  packages/core/types/src/order/common.ts
Labels: type: bug, automerge, team: medusa

#9951 fix: Product type tax overrides
  integration-tests/modules/__tests__/cart/store/carts.spec.ts
  integration-tests/modules/__tests__/order/draft-order.spec.ts
  integration-tests/modules/__tests__/order/order.spec.ts
  packages/core/core-flows/src/cart/steps/get-item-tax-lines.ts
  packages/core/core-flows/src/cart/steps/index.ts
  packages/core/core-flows/src/cart/utils/fields.ts
  packages/core/core-flows/src/cart/utils/prepare-line-item-data.ts
  packages/core/core-flows/src/cart/workflows/update-tax-lines.ts
  packages/core/core-flows/src/order/steps/index.ts
  packages/core/core-flows/src/order/workflows/update-tax-lines.ts
  packages/core/core-flows/src/tax/steps/get-item-tax-lines.ts
  packages/core/types/src/cart/common.ts
  packages/core/types/src/cart/mutations.ts
  packages/core/types/src/http/order/common.ts
  packages/core/types/src/order/common.ts
  packages/core/types/src/tax/common.ts
  packages/medusa/src/api/store/carts/[id]/taxes/route.ts
  packages/medusa/src/api/store/carts/query-config.ts
  packages/medusa/src/api/store/products/helpers.ts
  packages/modules/cart/integration-tests/__tests__/services/cart-module/index.spec.ts
  packages/modules/cart/package.json
  packages/modules/cart/src/migrations/.snapshot-medusa-cart.json
  packages/modules/cart/src/migrations/Migration20241106085918.ts
  packages/modules/cart/src/models/line-item.ts
  packages/modules/order/integration-tests/__tests__/create-order.ts
  packages/modules/order/integration-tests/__tests__/order-claim.ts
  packages/modules/order/integration-tests/__tests__/order-edit.ts
  packages/modules/order/integration-tests/__tests__/order-exchange.ts
  packages/modules/order/integration-tests/__tests__/order-return.ts
  packages/modules/order/src/migrations/.snapshot-medusa-order.json
  packages/modules/order/src/migrations/Migration20241106085223.ts
  packages/modules/order/src/models/line-item.ts
  packages/modules/order/src/schema/index.ts
  packages/modules/tax/src/services/tax-module-service.ts
  yarn.lock
Labels: type: bug, team: medusa

#9959 chore: Update flow
  integration-tests/http/__tests__/auth/admin/auth.spec.ts
  packages/core/core-flows/src/auth/workflows/generate-reset-password-token.ts
  packages/medusa/src/api/auth/utils/validate-token.ts
Labels: type: chore, team: medusa

#9967 chore: remove husky
  .husky/pre-commit
  package.json
  yarn.lock
Labels: type: chore, automerge, team: medusa

#9973 fix(dashboard): user invite search
  packages/admin/dashboard/src/routes/users/user-invite/components/invite-user-form/invite-user-form.tsx
  packages/core/js-sdk/src/store/index.ts
Labels: type: bug, automerge, team: medusa

#9974 fix(core-flows): pass metadata on order fulfillment create
  integration-tests/modules/__tests__/order/workflows/create-fulfillment.spec.ts
  packages/core/core-flows/src/order/workflows/create-fulfillment.ts
Labels: type: bug, automerge, team: medusa

#9979 fix(framework): exclude nested fields when excluding requested field
  .changeset/gentle-baboons-camp.md
  integration-tests/http/__tests__/product/store/product.spec.ts
  packages/core/framework/src/http/utils/get-query-config.ts
Labels: type: bug, team: medusa

#9955 fix(link-modules): generate graphql type of read only links
  .changeset/lucky-pets-glow.md
  integration-tests/modules/__tests__/link-modules/define-link.spec.ts
  packages/core/types/src/joiner/index.ts
  packages/core/types/src/modules-sdk/index.ts
  packages/core/utils/src/modules-sdk/define-link.ts
  packages/modules/link-modules/src/definitions/cart-payment-collection.ts
  packages/modules/link-modules/src/definitions/cart-promotion.ts
  packages/modules/link-modules/src/definitions/fulfillment-provider-location.ts
  packages/modules/link-modules/src/definitions/fulfillment-set-location.ts
  packages/modules/link-modules/src/definitions/order-cart.ts
  packages/modules/link-modules/src/definitions/order-claim-payment-collection.ts
  packages/modules/link-modules/src/definitions/order-exchange-payment-collection.ts
  packages/modules/link-modules/src/definitions/order-fulfillment.ts
  packages/modules/link-modules/src/definitions/order-payment-collection.ts
  packages/modules/link-modules/src/definitions/order-promotion.ts
  packages/modules/link-modules/src/definitions/order-return-fulfillment.ts
  packages/modules/link-modules/src/definitions/product-sales-channel.ts
  packages/modules/link-modules/src/definitions/product-variant-inventory-item.ts
  packages/modules/link-modules/src/definitions/product-variant-price-set.ts
  packages/modules/link-modules/src/definitions/publishable-api-key-sales-channel.ts
  packages/modules/link-modules/src/definitions/readonly/cart-customer.ts
  packages/modules/link-modules/src/definitions/readonly/cart-product.ts
  packages/modules/link-modules/src/definitions/readonly/cart-region.ts
  packages/modules/link-modules/src/definitions/readonly/cart-sales-channel.ts
  packages/modules/link-modules/src/definitions/readonly/inventory-level-stock-location.ts
  packages/modules/link-modules/src/definitions/readonly/line-item-adjustment-promotion.ts
  packages/modules/link-modules/src/definitions/readonly/order-customer.ts
  packages/modules/link-modules/src/definitions/readonly/order-product.ts
  packages/modules/link-modules/src/definitions/readonly/order-region.ts
  packages/modules/link-modules/src/definitions/readonly/order-sales-channel.ts
  packages/modules/link-modules/src/definitions/readonly/store-currency.ts
  packages/modules/link-modules/src/definitions/region-payment-provider.ts
  packages/modules/link-modules/src/definitions/sales-channel-location.ts
  packages/modules/link-modules/src/definitions/shipping-option-price-set.ts
  packages/modules/link-modules/src/utils/generate-schema.ts
Labels: type: bug, team: medusa

#9992 fix: define ssl options when specified in the connection string
  packages/medusa/src/commands/db/create.ts
Labels: type: bug, team: medusa

#9948 chore: Add new i18n validation workflows for the admin
  .github/workflows/admin-i18n-validation.yml
Labels: type: chore, automerge, team: medusa

#9832 docs: add common redirects to v1 docs
  www/apps/book/next.config.mjs
Labels: type: docs, automerge, team: medusa

#9840 docs: fix resolve of custom file module guide
  www/apps/resources/references/file/classes/file.AbstractFileProviderService/page.mdx
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/file.ts
Labels: type: docs, automerge, team: medusa

#9991 fix(dashboard): Reduce data loaded by product details page
  packages/admin/dashboard/src/components/common/section/section-row.tsx
  packages/admin/dashboard/src/components/layout/pages/two-column-page/two-column-page.tsx
  packages/admin/dashboard/src/routes/products/product-detail/constants.ts
Labels: type: bug, team: medusa

#9860 chore: update doc links in README
  README.md
Labels: type: chore, team: medusa

#9977 fix(core-flows): keep same customer on cart update
  .changeset/bright-bees-decide.md
  integration-tests/modules/__tests__/cart/store/carts.spec.ts
  packages/core/core-flows/src/cart/steps/find-or-create-customer.ts
  packages/core/core-flows/src/cart/workflows/update-cart.ts
Labels: type: bug, team: medusa

#9845 docs: remove upgrade guides doc
  www/apps/resources/app/upgrade-guides/page.mdx
  www/apps/resources/generated/edit-dates.mjs
  www/apps/resources/generated/files-map.mjs
  www/apps/resources/generated/sidebar.mjs
  www/apps/resources/sidebar.mjs
Labels: type: docs, team: medusa

#10005 chore: Add actor type check + more tests
  integration-tests/http/__tests__/auth/admin/auth.spec.ts
  packages/core/core-flows/src/auth/workflows/generate-reset-password-token.ts
  packages/medusa/src/api/auth/[actor_type]/[auth_provider]/update/route.ts
  packages/medusa/src/api/auth/utils/validate-token.ts
  packages/modules/providers/auth-emailpass/src/services/emailpass.ts
Labels: type: chore, automerge, team: medusa

#9870 docs: add instructions on how to roll back a migration
  www/apps/book/app/learn/advanced-development/data-models/write-migration/page.mdx
Labels: type: docs, team: medusa

#9861 docs: add more context and description to recipe steps
  www/apps/resources/app/recipes/digital-products/examples/standard/page.mdx
  www/apps/resources/app/recipes/marketplace/examples/restaurant-delivery/page.mdx
  www/apps/resources/app/recipes/marketplace/examples/vendors/page.mdx
  www/apps/resources/app/recipes/subscriptions/examples/standard/page.mdx
Labels: type: docs, team: medusa

#9898 Enhance Documentation for authenticate Middleware Function
  www/apps/book/app/learn/advanced-development/api-routes/protected-routes/page.mdx
Labels: type: docs, automerge

#9770 feat: add Polish language support
  .changeset/wet-cows-share.md
  packages/admin/dashboard/src/i18n/languages.ts
  packages/admin/dashboard/src/i18n/translations/index.ts
  packages/admin/dashboard/src/i18n/translations/pl.json
Labels: automerge

#10011 breaking: pluralize type helper to account for uncountable nouns and special rules
  packages/core/types/src/common/__tests__/pluralize.spec.ts
  packages/core/types/src/common/common.ts
Labels: type: bug, has: breaking changes, team: medusa

#10018 docs: add changeset for #10011
  .changeset/silly-spiders-draw.md
Labels: automerge, team: medusa

#10027 chore(medusa): show success message after user is created
  .changeset/calm-bats-tell.md
  packages/medusa/src/commands/user.ts
Labels: type: chore, team: medusa

#10023 docs: improve transform docs
  www/apps/book/app/learn/advanced-development/workflows/variable-manipulation/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/sidebar.mjs
Labels: type: docs, team: medusa

#10030 docs: fix link to testing tools
  www/apps/book/app/learn/debugging-and-testing/testing-tools/integration-tests/page.mdx
Labels: type: docs, automerge, team: medusa

#10009 fix(types): Add AdminBatchUpdateProductVariant type
  .changeset/real-gifts-grow.md
  packages/core/types/src/http/product/admin/payloads.ts
Labels: type: bug, team: medusa

#10010 fix(medusa, types): filter product by external_id
  packages/core/types/src/product/common.ts
  packages/medusa/src/api/utils/common-validators/products/index.ts
Labels: type: bug, team: medusa

#10014 docs: improve getting started chapters
  www/apps/book/app/learn/installation/page.mdx
  www/apps/book/app/learn/page.mdx
  www/apps/book/components/Feedback/index.tsx
  www/apps/book/components/Homepage/LinksSection/index.tsx
  www/apps/book/components/MDXComponents/index.tsx
  www/apps/book/sidebar.mjs
  www/apps/resources/app/deployment/admin/vercel/page.mdx
  www/apps/resources/app/deployment/medusa-application/railway/page.mdx
  www/apps/resources/app/page.mdx
  www/apps/resources/app/recipes/ecommerce/page.mdx
  www/apps/resources/app/troubleshooting/_sections/other/cors-errors.mdx
Labels: type: docs, team: medusa

#10021 docs: fix cart completion in subscriptions recipe
  www/apps/resources/app/recipes/subscriptions/examples/standard/page.mdx
Labels: type: docs, team: medusa

#9841 fix(dashboard): handle deleted products/variants in the order domain
  packages/admin/dashboard/src/components/table/table-cells/product/product-cell/product-cell.tsx
  packages/admin/dashboard/src/routes/orders/order-allocate-items/components/order-create-fulfillment-form/order-allocate-items-form.tsx
  packages/admin/dashboard/src/routes/orders/order-allocate-items/components/order-create-fulfillment-form/order-allocate-items-item.tsx
  packages/admin/dashboard/src/routes/orders/order-create-claim/components/add-claim-items-table/add-claim-items-table.tsx
  packages/admin/dashboard/src/routes/orders/order-create-claim/components/add-claim-items-table/use-claim-item-table-columns.tsx
  packages/admin/dashboard/src/routes/orders/order-create-claim/components/claim-create-form/claim-create-form.tsx
  packages/admin/dashboard/src/routes/orders/order-create-claim/components/claim-create-form/claim-inbound-item.tsx
  packages/admin/dashboard/src/routes/orders/order-create-claim/components/claim-create-form/claim-outbound-section.tsx
  packages/admin/dashboard/src/routes/orders/order-create-exchange/components/add-exchange-inbound-items-table/add-exchange-inbound-items-table.tsx
  packages/admin/dashboard/src/routes/orders/order-create-exchange/components/add-exchange-inbound-items-table/use-exchange-item-table-columns.tsx
  packages/admin/dashboard/src/routes/orders/order-create-exchange/components/exchange-create-form/exchange-inbound-item.tsx
  packages/admin/dashboard/src/routes/orders/order-create-exchange/components/exchange-create-form/exchange-inbound-section.tsx
  packages/admin/dashboard/src/routes/orders/order-create-exchange/components/exchange-create-form/exchange-outbound-section.tsx
  packages/admin/dashboard/src/routes/orders/order-create-fulfillment/components/order-create-fulfillment-form/order-create-fulfillment-form.tsx
  packages/admin/dashboard/src/routes/orders/order-create-fulfillment/components/order-create-fulfillment-form/order-create-fulfillment-item.tsx
  packages/admin/dashboard/src/routes/orders/order-create-return/components/add-return-items-table/add-return-items-table.tsx
  packages/admin/dashboard/src/routes/orders/order-create-return/components/add-return-items-table/use-return-item-table-columns.tsx
  packages/admin/dashboard/src/routes/orders/order-create-return/components/return-create-form/return-create-form.tsx
  packages/admin/dashboard/src/routes/orders/order-create-return/components/return-create-form/return-item.tsx
  packages/admin/dashboard/src/routes/orders/order-detail/components/order-activity-section/order-timeline.tsx
  packages/admin/dashboard/src/routes/orders/order-detail/components/order-fulfillment-section/order-fulfillment-section.tsx
  packages/admin/dashboard/src/routes/orders/order-detail/components/order-summary-section/order-summary-section.tsx
  packages/admin/dashboard/src/routes/orders/order-receive-return/components/order-receive-return-form/order-receive-return-form.tsx
Labels: type: bug, team: medusa

#10029 fix(dashboard): Load product variant edit page and fix product detail query key
  .changeset/modern-walls-appear.md
  packages/admin/dashboard/src/hooks/api/products.tsx
  packages/admin/dashboard/src/lib/query-key-factory.ts
  packages/admin/dashboard/src/routes/product-variants/product-variant-detail/components/variant-general-section/variant-general-section.tsx
  packages/admin/dashboard/src/routes/product-variants/product-variant-detail/components/variant-prices-section/variant-prices-section.tsx
  packages/admin/dashboard/src/routes/product-variants/product-variant-detail/loader.ts
  packages/admin/dashboard/src/routes/product-variants/product-variant-detail/product-variant-detail.tsx
  packages/admin/dashboard/src/routes/product-variants/product-variant-edit/components/product-edit-variant-form/product-edit-variant-form.tsx
  packages/admin/dashboard/src/routes/product-variants/product-variant-edit/loader.ts
  packages/admin/dashboard/src/routes/product-variants/product-variant-edit/product-variant-edit.tsx
  packages/admin/dashboard/src/routes/products/product-prices/pricing-edit.tsx
  packages/admin/dashboard/src/routes/products/product-prices/product-prices.tsx
Labels: type: bug, automerge, team: medusa

#10008 docs: fix missing hooks property
  www/apps/book/app/learn/advanced-development/workflows/workflow-hooks/page.mdx
Labels: type: docs, team: medusa

#10031 fix(orchestration): fix set step failure
  .changeset/spotty-cups-accept.md
  packages/core/orchestration/src/transaction/distributed-transaction.ts
  packages/core/workflows-sdk/src/helper/__tests__/workflow-export.spec.ts
  packages/core/workflows-sdk/src/helper/workflow-export.ts
  packages/core/workflows-sdk/src/utils/composer/create-workflow.ts
  packages/modules/workflow-engine-inmemory/integration-tests/__fixtures__/workflow_transaction_timeout.ts
  packages/modules/workflow-engine-inmemory/src/services/workflow-orchestrator.ts
  packages/modules/workflow-engine-redis/integration-tests/__fixtures__/workflow_2.ts
  packages/modules/workflow-engine-redis/integration-tests/__tests__/index.spec.ts
  packages/modules/workflow-engine-redis/src/services/workflow-orchestrator.ts
Labels: type: bug, automerge, team: medusa

#9980 fix(core-flows): capture before order created
  .changeset/thirty-lamps-collect.md
  packages/core/core-flows/src/cart/workflows/complete-cart.ts
  packages/core/core-flows/src/order/steps/add-order-transaction.ts
  packages/core/core-flows/src/payment/steps/authorize-payment-session.ts
  packages/core/core-flows/src/payment/workflows/capture-payment.ts
  packages/core/core-flows/src/payment/workflows/index.ts
  packages/core/core-flows/src/payment/workflows/on-payment-processed.ts
  packages/core/core-flows/src/payment/workflows/process-payment.ts
  packages/core/types/src/payment/common.ts
  packages/medusa/src/subscribers/payment-webhook.ts
  packages/modules/event-bus-local/src/services/__tests__/event-bus-local.ts
  packages/modules/event-bus-local/src/services/event-bus-local.ts
Labels: type: bug, automerge, team: medusa

#9892 Feat: add german language support
  packages/admin/dashboard/src/i18n/languages.ts
  packages/admin/dashboard/src/i18n/translations/de.json
  packages/admin/dashboard/src/i18n/translations/index.ts
Labels: automerge

#10065 feat(core-flows): order add quantity diff
  .changeset/honest-chefs-attend.md
  integration-tests/http/__tests__/order-edits/order-edits.spec.ts
  packages/core/core-flows/src/order/workflows/order-edit/order-edit-update-item-quantity.ts
Labels: type: feature, team: medusa

#10064 Fix grammar issue in the doc
  www/apps/book/app/learn/advanced-development/modules/service-constraints/page.mdx
Labels: type: docs, automerge

#9989 Fix Typo in Documentation
  www/apps/resources/app/deployment/storefront/vercel/page.mdx
Labels: type: docs, automerge

#10063 docs: fix slugs pointing to admin rather than store routes
  www/apps/resources/generated/edit-dates.mjs
  www/apps/resources/generated/sidebar.mjs
  www/apps/resources/generated/slug-changes.mjs
  www/apps/resources/references/helper_steps/functions/helper_steps.createRemoteLinkStep/page.mdx
  www/apps/resources/references/helper_steps/functions/helper_steps.dismissRemoteLinkStep/page.mdx
  www/apps/resources/references/helper_steps/functions/helper_steps.emitEventStep/page.mdx
  www/apps/resources/references/helper_steps/functions/helper_steps.removeRemoteLinkStep/page.mdx
  www/apps/resources/references/helper_steps/functions/helper_steps.useRemoteQueryStep/page.mdx
  www/apps/resources/references/js_sdk/store/Store/properties/js_sdk.store.Store.cart/page.mdx
  www/apps/resources/references/js_sdk/store/Store/properties/js_sdk.store.Store.category/page.mdx
  www/apps/resources/references/js_sdk/store/Store/properties/js_sdk.store.Store.collection/page.mdx
  www/apps/resources/references/js_sdk/store/Store/properties/js_sdk.store.Store.customer/page.mdx
  www/apps/resources/references/js_sdk/store/Store/properties/js_sdk.store.Store.fulfillment/page.mdx
  www/apps/resources/references/js_sdk/store/Store/properties/js_sdk.store.Store.order/page.mdx
  www/apps/resources/references/js_sdk/store/Store/properties/js_sdk.store.Store.payment/page.mdx
  www/apps/resources/references/js_sdk/store/Store/properties/js_sdk.store.Store.product/page.mdx
  www/apps/resources/references/js_sdk/store/Store/properties/js_sdk.store.Store.region/page.mdx
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/js-sdk.ts
Labels: type: docs, team: medusa

#10061 docs: remove duplicate buttons in code actions
  www/packages/docs-ui/src/components/CodeBlock/Header/index.tsx
  www/packages/docs-ui/src/components/CodeBlock/index.tsx
Labels: type: docs, team: medusa

#10060 docs: add documentation on validateAndTransformQuery
  www/apps/book/app/learn/advanced-development/api-routes/parameters/page.mdx
  www/apps/book/app/learn/advanced-development/api-routes/validation/page.mdx
  www/apps/book/app/learn/advanced-development/module-links/query/page.mdx
  www/apps/book/generated/edit-dates.mjs
Labels: type: docs, team: medusa

#10059 docs: fix error to medusa configuration guide
  www/apps/book/app/learn/installation/page.mdx
Labels: type: docs, team: medusa

#10056 docs: update event module guide
  www/apps/resources/app/architectural-modules/event/create/page.mdx
  www/apps/resources/app/architectural-modules/page.mdx
  www/apps/resources/generated/edit-dates.mjs
Labels: type: docs, team: medusa

#10053 docs: document multiple steps usage in a workflow
  www/apps/book/app/learn/advanced-development/workflows/multiple-step-usage/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/sidebar.mjs
Labels: type: docs, team: medusa

#10051 docs: change useRemoteQueryStep to useQueryGraphStep
  www/apps/book/app/learn/advanced-development/admin/tips/page.mdx
  www/apps/book/app/learn/advanced-development/modules/container/page.mdx
  www/apps/book/app/learn/advanced-development/modules/options/page.mdx
  www/apps/book/app/learn/advanced-development/workflows/constructor-constraints/page.mdx
  www/apps/book/app/learn/advanced-development/workflows/variable-manipulation/page.mdx
  www/apps/book/app/learn/basics/modules/page.mdx
  www/apps/book/app/learn/customization/custom-features/module/page.mdx
  www/apps/book/app/learn/customization/integrate-systems/service/page.mdx
  www/apps/resources/app/commerce-modules/auth/create-actor-type/page.mdx
  www/apps/resources/app/commerce-modules/cart/extend/page.mdx
  www/apps/resources/app/commerce-modules/customer/extend/page.mdx
  www/apps/resources/app/commerce-modules/product/extend/page.mdx
  www/apps/resources/app/commerce-modules/promotion/extend/page.mdx
  www/apps/resources/app/recipes/digital-products/examples/standard/page.mdx
  www/apps/resources/app/recipes/marketplace/examples/restaurant-delivery/page.mdx
  www/apps/resources/app/recipes/marketplace/examples/vendors/page.mdx
  www/apps/resources/app/recipes/subscriptions/examples/standard/page.mdx
Labels: type: docs, team: medusa

#10045 docs-util: fix helper step settings
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/helper-steps.ts
  www/utils/packages/typedoc-plugin-markdown-medusa/src/render-utils.ts
  www/utils/packages/typedoc-plugin-markdown-medusa/src/resources/helpers/signature-comment.ts
  www/utils/packages/typedoc-plugin-markdown-medusa/src/resources/partials/member.step.hbs
  www/utils/packages/utils/src/step-utils.ts
Labels: type: docs, team: medusa

#10041 docs: added note about test timeout
  www/apps/book/app/learn/debugging-and-testing/testing-tools/integration-tests/api-routes/page.mdx
  www/apps/book/app/learn/debugging-and-testing/testing-tools/integration-tests/page.mdx
  www/apps/book/app/learn/debugging-and-testing/testing-tools/integration-tests/workflows/page.mdx
Labels: type: docs, team: medusa

#10040 docs: fix outdated links
  www/apps/book/app/_not-found.mdx
  www/apps/book/app/learn/customization/custom-features/api-route/page.mdx
  www/apps/book/app/learn/customization/custom-features/workflow/page.mdx
  www/apps/book/app/learn/customization/customize-admin/route/page.mdx
  www/apps/book/app/learn/customization/customize-admin/widget/page.mdx
  www/apps/book/app/learn/customization/extend-models/define-link/page.mdx
  www/apps/book/app/learn/customization/extend-models/extend-create-product/page.mdx
  www/apps/book/app/learn/customization/extend-models/query-linked-records/page.mdx
  www/apps/book/app/learn/customization/integrate-systems/handle-event/page.mdx
  www/apps/book/app/learn/customization/integrate-systems/schedule-task/page.mdx
  www/apps/book/app/learn/customization/integrate-systems/service/page.mdx
  www/apps/book/app/learn/debugging-and-testing/testing-tools/integration-tests/api-routes/page.mdx
  www/apps/book/app/learn/debugging-and-testing/testing-tools/integration-tests/workflows/page.mdx
  www/apps/book/app/learn/debugging-and-testing/testing-tools/modules-tests/module-example/page.mdx
  www/apps/book/app/learn/debugging-and-testing/testing-tools/modules-tests/page.mdx
Labels: type: docs, team: medusa

#10026 docs: add emit events + types documentation
  www/apps/book/app/learn/advanced-development/events-and-subscribers/emit-event/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/sidebar.mjs
Labels: type: docs, team: medusa

#10073 fix: do not update the .env.template file with the database name
  .changeset/gentle-dancers-count.md
  packages/medusa/src/commands/db/create.ts
Labels: type: bug, automerge, team: medusa

#10074 docs: fix types of injection zone props
  www/apps/resources/app/admin-widget-injection-zones/page.mdx
Labels: type: docs, team: medusa

#10019 docs: added + updated build and deployment guides
  www/apps/book/.gitignore
  www/apps/book/app/learn/build/page.mdx
  www/apps/book/app/learn/deployment/general/page.mdx
  www/apps/book/app/learn/deployment/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/sidebar.mjs
  www/apps/resources/app/deployment/medusa-application/railway/page.mdx
  www/apps/resources/app/medusa-cli/commands/build/page.mdx
  www/apps/resources/generated/edit-dates.mjs
  www/apps/resources/generated/sidebar.mjs
  www/apps/resources/sidebar.mjs
Labels: type: docs, team: medusa

#10080 docs(v1): remove AI assistant
  www/apps/api-reference/providers/search.tsx
  www/apps/docs/docusaurus.config.js
  www/apps/docs/src/providers/Search/index.tsx
Labels: team: medusa

#10077 docs: fix oneOf design hiding more than three items
  www/apps/api-reference/components/Tags/Operation/Parameters/Types/OneOf/index.tsx
  www/eslint.config.mjs
  www/packages/docs-ui/src/components/CodeBlock/Header/index.tsx
Labels: type: docs, team: medusa

#10084 docs-utils: make reference table of content in alphabetical order
  www/utils/packages/typedoc-plugin-markdown-medusa/src/resources/helpers/toc.ts
Labels: type: docs, team: medusa

#10083 docs: improv version detection + fix breadcrumbs
  www/apps/book/sidebar.mjs
  www/apps/book/types/index.d.ts
  www/packages/docs-ui/src/components/Breadcrumbs/index.tsx
  www/packages/docs-ui/src/components/MainNav/Version/index.tsx
  www/packages/docs-ui/src/global-config.ts
  www/packages/types/src/sidebar.ts
Labels: type: docs, team: medusa

#10071 test: add tests for self relationships
  packages/core/utils/src/dml/__tests__/entity-builder.spec.ts
Labels: automerge, team: medusa

#10094 docs: add missing import in digital product recipe
  www/apps/resources/app/recipes/digital-products/examples/standard/page.mdx
Labels: type: docs, team: medusa

#10100 fix(core-flows): Fix date usage accross workflows
  packages/core/core-flows/src/order/workflows/claim/confirm-claim-request.ts
  packages/core/core-flows/src/order/workflows/exchange/confirm-exchange-request.ts
  packages/core/core-flows/src/order/workflows/order-edit/request-order-edit.ts
  packages/core/core-flows/src/order/workflows/return/confirm-return-request.ts
Labels: type: bug, automerge, team: medusa

#10102 docs: fix client error for learning path
  www/apps/book/components/Homepage/LinksSection/index.tsx
  www/apps/book/providers/index.tsx
  www/packages/docs-ui/src/components/Card/Layout/Default/index.tsx
  www/packages/docs-ui/src/components/Card/Layout/Large/index.tsx
  www/packages/docs-ui/src/components/Card/Layout/Mini/index.tsx
  www/packages/docs-ui/src/components/Notification/Item/index.tsx
  www/packages/docs-ui/src/components/Notification/index.tsx
Labels: type: docs, team: medusa

#10087 chore(local-file): throw error if file exist
  .changeset/rich-pumpkins-lie.md
  packages/modules/providers/file-local/src/services/local-file.ts
Labels: type: chore, team: medusa

#10095 docs: add guide on how to translate admin
  www/apps/book/app/learn/advanced-development/admin/tips/page.mdx
  www/apps/resources/app/contribution-guidelines/_admin-translations/page.mdx
  www/apps/resources/app/contribution-guidelines/admin-translations/page.mdx
  www/apps/resources/generated/edit-dates.mjs
  www/apps/resources/generated/files-map.mjs
  www/apps/resources/generated/sidebar.mjs
  www/apps/resources/sidebar.mjs
Labels: type: docs, team: medusa

#10103 docs: update admin injection zones list
  www/apps/resources/app/admin-widget-injection-zones/page.mdx
  www/apps/resources/generated/edit-dates.mjs
  www/apps/resources/providers/index.tsx
Labels: type: docs, team: medusa

#10098 fix(admin-shared,dashboard): Add missing injection zones
  .changeset/mean-rice-cough.md
  packages/admin/admin-shared/src/extensions/widgets/constants.ts
  packages/admin/dashboard/src/routes/product-variants/product-variant-detail/product-variant-detail.tsx
Labels: type: bug, automerge, team: medusa

#10082 fix(dashboard): Fix active nav link styling for built-in routes
  .changeset/rude-cooks-knock.md
  packages/admin/dashboard/src/components/layout/nav-item/nav-item.tsx
Labels: type: bug, automerge, team: medusa

#10116 feat(product): Make product option value linkable
  packages/modules/product/integration-tests/__tests__/product.ts
  packages/modules/product/src/joiner-config.ts
Labels: automerge, type: feature, team: medusa

#10117 fix(dashboard): Add missing inventory list zones
  .changeset/beige-rockets-scream.md
  packages/admin/dashboard/src/routes/inventory/inventory-list/inventory-list.tsx
Labels: type: bug, automerge, team: medusa

#10119 fix(product): wrong snapshot name and inexistent script
  .changeset/proud-pigs-deny.md
  packages/modules/api-key/package.json
  packages/modules/auth/package.json
  packages/modules/cart/package.json
  packages/modules/currency/package.json
  packages/modules/file/package.json
  packages/modules/fulfillment/package.json
  packages/modules/index/package.json
  packages/modules/inventory/package.json
  packages/modules/locking/package.json
  packages/modules/notification/package.json
  packages/modules/order/package.json
  packages/modules/payment/package.json
  packages/modules/pricing/package.json
  packages/modules/product/package.json
  packages/modules/product/src/migrations/.snapshot-medusa-product.json
  packages/modules/promotion/package.json
  packages/modules/providers/locking-postgres/package.json
  packages/modules/region/package.json
  packages/modules/sales-channel/package.json
  packages/modules/stock-location/package.json
  packages/modules/store/package.json
  packages/modules/tax/package.json
  packages/modules/user/package.json
  packages/modules/workflow-engine-inmemory/package.json
  packages/modules/workflow-engine-redis/package.json
Labels: type: bug, team: medusa

#10107 docs: add note about using dates in workflows
  www/apps/book/app/learn/advanced-development/workflows/constructor-constraints/page.mdx
  www/apps/book/app/learn/advanced-development/workflows/variable-manipulation/page.mdx
  www/apps/book/generated/edit-dates.mjs
Labels: type: docs, team: medusa

#10123 docs: fix copy in code blocks with tabs
  www/packages/docs-ui/src/components/CodeTabs/index.tsx
  www/packages/docs-ui/src/components/Npm2YarnCode/index.tsx
Labels: type: docs, team: medusa

#10109 feat: Add Turkish Language
  packages/admin/dashboard/src/i18n/languages.ts
  packages/admin/dashboard/src/i18n/translations/index.ts
  packages/admin/dashboard/src/i18n/translations/tr.json
Labels: automerge

#10097 docs: add missing prerequisite in stripe's storefront integration
  www/apps/resources/app/storefront-development/checkout/payment/stripe/page.mdx
Labels: type: docs, team: medusa

#10134 refactor: rename workflow to singular
  packages/core/core-flows/src/order/workflows/create-order.ts
  packages/core/core-flows/src/order/workflows/index.ts
Labels: team: medusa

#10136 Refactor/finish rename order
  .changeset/neat-geese-allow.md
  packages/medusa/src/api/admin/draft-orders/route.ts
Labels: team: medusa

#10139 fix(inventory): update reservation quantity
  .changeset/curvy-spies-design.md
  packages/modules/inventory/integration-tests/__tests__/inventory-module-service.spec.ts
  packages/modules/inventory/src/services/inventory-module.ts
Labels: type: bug, team: medusa

#10135 fix(payment): Idempotent cancellation and proper creationg fail handling
  .changeset/selfish-poems-jog.md
  packages/modules/payment/integration-tests/__tests__/services/payment-module/index.spec.ts
  packages/modules/payment/src/services/payment-module.ts
  packages/modules/providers/payment-stripe/src/core/stripe-base.ts
Labels: type: bug, type: chore, automerge, team: medusa

#10106 feat(medusa, types, utils, core-flows, order) request & accept order transfer
  integration-tests/http/__tests__/order/admin/transfer-flow.spec.ts
  packages/core/core-flows/src/order/workflows/index.ts
  packages/core/core-flows/src/order/workflows/transfer/accept-order-transfer.ts
  packages/core/core-flows/src/order/workflows/transfer/request-order-transfer.ts
  packages/core/types/src/order/common.ts
  packages/core/types/src/order/mutations.ts
  packages/core/types/src/workflow/order/accept-transfer.ts
  packages/core/types/src/workflow/order/index.ts
  packages/core/types/src/workflow/order/request-transfer.ts
  packages/core/utils/src/core-flows/events.ts
  packages/core/utils/src/order/order-change-action.ts
  packages/medusa/src/api/admin/orders/[id]/transfer/route.ts
  packages/medusa/src/api/admin/orders/middlewares.ts
  packages/medusa/src/api/admin/orders/validators.ts
  packages/medusa/src/api/store/orders/[id]/transfer/accept/route.ts
  packages/medusa/src/api/store/orders/middlewares.ts
  packages/medusa/src/api/store/orders/validators.ts
  packages/modules/order/src/types/utils/index.ts
  packages/modules/order/src/utils/actions/index.ts
  packages/modules/order/src/utils/actions/transfer-customer.ts
  packages/modules/order/src/utils/apply-order-changes.ts
Labels: automerge, type: feature, team: medusa

#10145 docs: S3 providers - add example for DigitalOcean Spaces endpoint
  www/apps/resources/app/architectural-modules/file/s3/page.mdx
Labels: type: docs, automerge

#10138 chore(): Update module provider retrieval error message and type
  .changeset/wet-ears-wonder.md
  packages/modules/auth/integration-tests/__tests__/auth-module-service/index.spec.ts
  packages/modules/auth/src/services/auth-module.ts
  packages/modules/auth/src/services/auth-provider.ts
  packages/modules/fulfillment/src/services/fulfillment-module-service.ts
  packages/modules/fulfillment/src/services/fulfillment-provider.ts
  packages/modules/locking/src/services/locking-module.ts
  packages/modules/locking/src/services/locking-provider.ts
  packages/modules/notification/src/services/notification-module-service.ts
  packages/modules/notification/src/services/notification-provider.ts
  packages/modules/payment/src/services/payment-module.ts
  packages/modules/payment/src/services/payment-provider.ts
Labels: type: chore, automerge, team: medusa

#10078 fix(dashboard): order edit - display item quantity change correctly
  packages/admin/dashboard/src/routes/orders/order-detail/components/order-activity-section/order-timeline.tsx
Labels: automerge, type: feature, team: medusa

#10153 docs: fix error on collapsing prerequisites
  www/packages/docs-ui/src/components/Prerequisites/index.tsx
  www/packages/docs-ui/src/hooks/use-collapsible/index.tsx
Labels: type: docs, team: medusa

#10151 feat(core-flows,medusa): Add API to update cart's customer
  integration-tests/http/__tests__/cart/store/cart.spec.ts
  integration-tests/modules/__tests__/cart/store/carts.spec.ts
  integration-tests/modules/__tests__/customer/store/create-customer-addresses.ts
  integration-tests/modules/__tests__/customer/store/delete-customer-address.spec.ts
  integration-tests/modules/__tests__/customer/store/get-me.spec.ts
  integration-tests/modules/__tests__/customer/store/list-customer-addresses.ts
  integration-tests/modules/__tests__/customer/store/update-customer-address.spec.ts
  integration-tests/modules/helpers/create-authenticated-customer.ts
  packages/core/core-flows/src/cart/workflows/index.ts
  packages/core/core-flows/src/cart/workflows/update-cart-customer.ts
  packages/medusa/src/api/store/carts/[id]/customer/route.ts
  packages/medusa/src/api/store/carts/middlewares.ts
  packages/medusa/src/api/store/carts/validators.ts
Labels: automerge, type: feature, team: medusa

#10142 fix(core-flows): Add missing cart sales channel id fields to be part of the application context
  packages/core/core-flows/src/cart/utils/fields.ts
Labels: type: bug, automerge, team: medusa

#10144 fix(product): Update full descendant tree mpath when updating parent category id
  .changeset/mighty-years-crash.md
  packages/modules/product/integration-tests/__tests__/product-category.ts
  packages/modules/product/src/repositories/product-category.ts
Labels: type: bug, automerge, team: medusa

#10154 docs: remove section on updating cart's customer
  www/apps/resources/app/storefront-development/cart/create/page.mdx
  www/apps/resources/app/storefront-development/cart/update/page.mdx
Labels: type: docs, team: medusa

#10159 Revert "feat: add optional fields"
  .changeset/clean-readers-share.md
  packages/core/types/src/dml/index.ts
  packages/core/utils/src/dml/__tests__/array-property.spec.ts
  packages/core/utils/src/dml/__tests__/base-property.spec.ts
  packages/core/utils/src/dml/__tests__/big-number-property.spec.ts
  packages/core/utils/src/dml/__tests__/boolean-property.spec.ts
  packages/core/utils/src/dml/__tests__/date-time-property.spec.ts
  packages/core/utils/src/dml/__tests__/entity-builder.spec.ts
  packages/core/utils/src/dml/__tests__/enum-schema.spec.ts
  packages/core/utils/src/dml/__tests__/id-property.spec.ts
  packages/core/utils/src/dml/__tests__/json-property.spec.ts
  packages/core/utils/src/dml/__tests__/number-property.spec.ts
  packages/core/utils/src/dml/__tests__/text-property.spec.ts
  packages/core/utils/src/dml/properties/base.ts
  packages/core/utils/src/dml/properties/index.ts
  packages/core/utils/src/dml/properties/nullable.ts
  packages/core/utils/src/dml/properties/optional.ts
Labels: automerge, team: medusa

#10157 docs: fix provider ID in payment's webhook URL
  www/apps/resources/app/commerce-modules/payment/payment-provider/stripe/page.mdx
  www/apps/resources/app/commerce-modules/payment/webhook-events/page.mdx
  www/apps/resources/generated/edit-dates.mjs
Labels: type: docs, team: medusa

#10160 docs: change report issue link
  www/apps/api-reference/components/Tags/Operation/DescriptionSection/index.tsx
  www/apps/api-reference/components/Tags/Section/index.tsx
  www/apps/api-reference/markdown/admin.mdx
  www/apps/api-reference/markdown/store.mdx
  www/apps/api-reference/providers/main-nav.tsx
  www/apps/api-reference/utils/format-report-link.ts
  www/apps/book/components/Feedback/index.tsx
  www/apps/book/providers/main-nav.tsx
  www/apps/resources/components/Feedback/index.tsx
  www/apps/resources/providers/main-nav.tsx
  www/apps/ui/src/components/feedback.tsx
  www/apps/ui/src/providers/main-nav.tsx
  www/apps/user-guide/components/Feedback/index.tsx
  www/apps/user-guide/providers/main-nav.tsx
  www/packages/docs-ui/src/components/CodeBlock/Actions/index.tsx
  www/packages/docs-ui/src/components/Feedback/index.tsx
  www/packages/docs-ui/src/components/MainNav/index.tsx
  www/packages/docs-ui/src/constants.tsx
  www/packages/docs-ui/src/providers/MainNav/index.tsx
  www/packages/docs-ui/src/providers/SiteConifg/index.tsx
  www/packages/docs-ui/src/utils/format-report-link.ts
  www/packages/docs-ui/src/utils/index.ts
  www/packages/types/src/config.ts
Labels: type: docs, team: medusa

#10155 fix(dashboard): updated variant title is used when creating product
  packages/admin/dashboard/src/routes/products/product-create/constants.ts
  packages/admin/dashboard/src/routes/products/product-create/utils.ts
Labels: type: bug, team: medusa

#10161 docs-util: remove duplicate methods from JS SDK reference
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/js-sdk.ts
  www/utils/packages/typedoc-plugin-markdown-medusa/src/resources/partials/member.declaration.hbs
Labels: type: docs, team: medusa

#10042 chore(core-flows,types): add TSDocs for useQueryGraphStep
  packages/core/core-flows/src/common/steps/use-query-graph.ts
  packages/core/core-flows/src/common/steps/use-remote-query.ts
  packages/core/types/src/modules-sdk/remote-query-object-from-string.ts
Labels: type: chore, team: medusa

#10167 docs: fix heading import in ui route docs
  www/apps/book/app/learn/advanced-development/admin/ui-routes/page.mdx
  www/packages/docs-ui/src/components/Heading/H2/index.tsx
Labels: type: docs, team: medusa

#10028 chore(js-sdk,types): add tsdocs for admin JS SDK methods [6/n]
  packages/core/js-sdk/src/admin/product-tag.ts
  packages/core/js-sdk/src/admin/product-type.ts
  packages/core/js-sdk/src/admin/product-variant.ts
  packages/core/js-sdk/src/admin/product.ts
  packages/core/types/src/http/product-tag/admin/payloads.ts
  packages/core/types/src/http/product-tag/admin/queries.ts
  packages/core/types/src/http/product-tag/admin/responses.ts
  packages/core/types/src/http/product-tag/common.ts
  packages/core/types/src/http/product-type/admin/payloads.ts
  packages/core/types/src/http/product-type/admin/queries.ts
  packages/core/types/src/http/product-type/admin/responses.ts
  packages/core/types/src/http/product-type/common.ts
  packages/core/types/src/http/product/admin/entitites.ts
  packages/core/types/src/http/product/admin/payloads.ts
  packages/core/types/src/http/product/admin/queries.ts
  packages/core/types/src/http/product/admin/responses.ts
  packages/core/types/src/http/product/common.ts
  www/utils/generated/oas-output/operations/admin/post_admin_products_[id]_variants_inventory-items_batch.ts
Labels: type: docs, type: chore, team: medusa

#10156 feat(medusa): request order transfer storefront API
  integration-tests/http/__tests__/order/admin/transfer-flow.spec.ts
  packages/core/core-flows/src/order/workflows/transfer/request-order-transfer.ts
  packages/medusa/src/api/store/orders/[id]/transfer/request/route.ts
  packages/medusa/src/api/store/orders/middlewares.ts
  packages/medusa/src/api/store/orders/validators.ts
Labels: automerge, type: feature, team: medusa

#10158 feat(types, js-sdk): add updateCustomer to js-sdk
  packages/core/js-sdk/src/store/index.ts
  packages/core/types/src/http/cart/store/payloads.ts
Labels: automerge, type: feature, team: medusa

#10172 feat: add support for making relationships searchable
  .changeset/tough-news-guess.md
  packages/core/types/src/dml/index.ts
  packages/core/utils/src/dml/__tests__/base-relationship.spec.ts
  packages/core/utils/src/dml/__tests__/entity-builder.spec.ts
  packages/core/utils/src/dml/__tests__/has-many-relationship.spec.ts
  packages/core/utils/src/dml/__tests__/has-one-relationship.spec.ts
  packages/core/utils/src/dml/__tests__/many-to-many.spec.ts
  packages/core/utils/src/dml/helpers/create-mikro-orm-entity.ts
  packages/core/utils/src/dml/helpers/entity-builder/apply-searchable.ts
  packages/core/utils/src/dml/relations/base.ts
Labels: automerge, type: feature, team: medusa

#10170 fix: Remove undefined from events in update
  packages/core/utils/src/modules-sdk/medusa-service.ts
  packages/modules/region/integration-tests/__tests__/region-module.spec.ts
Labels: type: bug, team: medusa

#10168 fix(types): fix AdminBatchProductRequest to have product ID
  .changeset/tough-lamps-sell.md
  packages/core/types/src/http/product/admin/payloads.ts
Labels: type: bug, team: medusa

#10173 fix: incorrect changeset breaks preview builds
  .changeset/tough-news-guess.md
  .github/workflows/trigger-release.yml
Labels: type: bug, automerge, team: medusa

#10175 fix: move transfer cart under cart
  .changeset/gorgeous-knives-march.md
  packages/core/js-sdk/src/store/index.ts
Labels: type: bug, automerge, team: medusa

#10181 chore: optimize sanity opengraph image
  www/apps/resources/app/integrations/guides/sanity/opengraph-image.jpg
  www/apps/resources/app/integrations/guides/sanity/twitter-image.jpg
Labels: type: docs, type: chore, team: medusa

#10183 docs: fix font smoothing across projects
  www/apps/api-reference/app/globals.css
  www/apps/book/app/globals.css
  www/apps/resources/app/globals.css
  www/apps/ui/src/styles/globals.css
  www/apps/user-guide/app/globals.css
Labels: type: docs, team: medusa

#10185 docs: add default value if PAK environment variable isn't set
  www/apps/resources/app/storefront-development/cart/context/page.mdx
  www/apps/resources/app/storefront-development/cart/create/page.mdx
  www/apps/resources/app/storefront-development/cart/manage-items/page.mdx
  www/apps/resources/app/storefront-development/cart/retrieve/page.mdx
  www/apps/resources/app/storefront-development/cart/update/page.mdx
  www/apps/resources/app/storefront-development/checkout/address/page.mdx
  www/apps/resources/app/storefront-development/checkout/complete-cart/page.mdx
  www/apps/resources/app/storefront-development/checkout/email/page.mdx
  www/apps/resources/app/storefront-development/checkout/payment/page.mdx
  www/apps/resources/app/storefront-development/checkout/payment/stripe/page.mdx
  www/apps/resources/app/storefront-development/checkout/shipping/page.mdx
  www/apps/resources/app/storefront-development/customers/addresses/page.mdx
  www/apps/resources/app/storefront-development/customers/context/page.mdx
  www/apps/resources/app/storefront-development/customers/login/page.mdx
  www/apps/resources/app/storefront-development/customers/profile/page.mdx
  www/apps/resources/app/storefront-development/customers/register/page.mdx
  www/apps/resources/app/storefront-development/customers/retrieve/page.mdx
  www/apps/resources/app/storefront-development/customers/third-party-login/page.mdx
  www/apps/resources/app/storefront-development/products/categories/list/page.mdx
  www/apps/resources/app/storefront-development/products/categories/nested-categories/page.mdx
  www/apps/resources/app/storefront-development/products/categories/products/page.mdx
  www/apps/resources/app/storefront-development/products/categories/retrieve/page.mdx
  www/apps/resources/app/storefront-development/products/collections/list/page.mdx
  www/apps/resources/app/storefront-development/products/collections/products/page.mdx
  www/apps/resources/app/storefront-development/products/collections/retrieve/page.mdx
  www/apps/resources/app/storefront-development/products/inventory/page.mdx
  www/apps/resources/app/storefront-development/products/list/page.mdx
  www/apps/resources/app/storefront-development/products/price/examples/sale-price/page.mdx
  www/apps/resources/app/storefront-development/products/price/examples/show-price/page.mdx
  www/apps/resources/app/storefront-development/products/price/examples/tax-price/page.mdx
  www/apps/resources/app/storefront-development/products/price/page.mdx
  www/apps/resources/app/storefront-development/products/retrieve/page.mdx
  www/apps/resources/app/storefront-development/products/variants/page.mdx
  www/apps/resources/app/storefront-development/publishable-api-keys/page.mdx
  www/apps/resources/app/storefront-development/regions/context/page.mdx
  www/apps/resources/app/storefront-development/regions/list/page.mdx
  www/apps/resources/app/storefront-development/regions/store-retrieve-region/page.mdx
Labels: type: docs, team: medusa

#10179 fix(framework): handle deprecated Dirent path
  .changeset/new-eels-drop.md
  packages/core/framework/src/feature-flags/feature-flag-loader.ts
  packages/core/framework/src/http/router.ts
  packages/core/framework/src/jobs/job-loader.ts
  packages/core/framework/src/links/link-loader.ts
  packages/core/framework/src/subscribers/subscriber-loader.ts
  packages/core/framework/src/workflows/workflow-loader.ts
  packages/core/utils/src/common/__tests__/read-dir-recursive.spec.ts
  packages/core/utils/src/common/file-system.ts
  packages/core/utils/src/common/index.ts
  packages/core/utils/src/common/read-dir-recursive.ts
Labels: type: bug, automerge, team: medusa

#10177 feat(workflows-sdk): add response to permanent failure
  .changeset/chilled-dingos-learn.md
  packages/core/orchestration/src/transaction/errors.ts
  packages/core/orchestration/src/transaction/transaction-orchestrator.ts
  packages/core/workflows-sdk/src/utils/composer/__tests__/compose.ts
  packages/core/workflows-sdk/src/utils/composer/helpers/step-response.ts
Labels: type: feature, team: medusa

#10111 docs: fix fulfillment module container name
  www/apps/resources/app/commerce-modules/fulfillment/page.mdx
Labels: automerge

#10198 docs: migrate Kapa
  www/apps/api-reference/app/globals.css
  www/apps/book/app/globals.css
  www/apps/resources/app/globals.css
  www/apps/ui/src/styles/globals.css
  www/apps/user-guide/app/globals.css
  www/packages/docs-ui/package.json
  www/packages/docs-ui/src/components/AiAssistant/index.tsx
  www/packages/docs-ui/src/hooks/use-recaptcha/index.tsx
  www/packages/docs-ui/src/providers/AiAssistant/index.tsx
  www/yarn.lock
Labels: type: docs, team: medusa

#10197 feat(medusa): enable price list prices for product endpoints
  integration-tests/http/__tests__/product/store/product.spec.ts
  packages/medusa/src/api/store/products/middlewares.ts
  packages/medusa/src/api/utils/middlewares/products/set-pricing-context.ts
Labels: type: bug, team: medusa

#10195 feat(medusa): skip draft orders on order list
  integration-tests/http/__tests__/fixtures/order.ts
  integration-tests/http/__tests__/order/store/order.spec.ts
  packages/core/core-flows/src/order/workflows/get-order-detail.ts
  packages/medusa/src/api/store/orders/[id]/route.ts
  packages/medusa/src/api/store/orders/middlewares.ts
  packages/medusa/src/api/store/orders/route.ts
Labels: type: feature, team: medusa

#9612 Fix typo in db error message
  packages/core/utils/src/common/__tests__/handle-postgres-database-error.spec.ts
  packages/core/utils/src/common/handle-postgres-database-error.ts
Labels: automerge

#9716 Set proper name for the steps in the schedule-task page
  www/apps/book/app/learn/customization/integrate-systems/schedule-task/page.mdx
Labels: type: docs, automerge

#10205 docs: fix og image for sanity guide
  www/apps/resources/app/integrations/guides/sanity/opengraph-image.jpg
  www/apps/resources/app/integrations/guides/sanity/page.mdx
  www/apps/resources/app/integrations/guides/sanity/twitter-image.jpg
Labels: type: docs, team: medusa

#10206 docs: update og images
  www/apps/api-reference/app/layout.tsx
  www/apps/api-reference/app/opengraph-image.jpg
  www/apps/api-reference/app/twitter-image.jpg
  www/apps/book/app/layout.tsx
  www/apps/book/app/opengraph-image.jpg
  www/apps/book/app/twitter-image.jpg
  www/apps/resources/app/integrations/guides/sanity/page.mdx
  www/apps/resources/app/layout.tsx
  www/apps/resources/app/opengraph-image.jpg
  www/apps/resources/app/twitter-image.jpg
  www/apps/ui/src/app/layout.tsx
  www/apps/ui/src/app/opengraph-image.jpg
  www/apps/ui/src/app/twitter-image.jpg
  www/apps/user-guide/app/layout.tsx
  www/apps/user-guide/app/opengraph-image.jpg
  www/apps/user-guide/app/twitter-image.jpg
Labels: type: docs, team: medusa

#10208 docs: change logo
  www/apps/api-reference/config/index.ts
  www/apps/api-reference/public/images/logo.png
  www/apps/book/config/index.ts
  www/apps/book/public/images/logo.png
  www/apps/resources/config/index.ts
  www/apps/resources/public/images/logo.png
  www/apps/ui/public/images/logo.png
  www/apps/ui/src/config/site.ts
  www/apps/user-guide/config/index.ts
  www/apps/user-guide/public/images/logo.png
  www/packages/docs-ui/src/components/BorderedIcon/index.tsx
  www/packages/docs-ui/src/components/Icons/MedusaLogo/index.tsx
  www/packages/docs-ui/src/components/MainNav/index.tsx
  www/packages/docs-ui/src/components/Sidebar/Top/MedusaMenu/index.tsx
  www/packages/docs-ui/src/providers/SiteConifg/index.tsx
  www/packages/types/src/config.ts
Labels: type: docs, team: medusa

#10204 docs: revise modules
  www/apps/book/app/learn/basics/modules/page.mdx
  www/apps/book/generated/edit-dates.mjs
Labels: type: docs, team: medusa

#10189 feat(dashboard): transfer order admin
  packages/admin/dashboard/src/hooks/api/orders.tsx
  packages/admin/dashboard/src/i18n/translations/$schema.json
  packages/admin/dashboard/src/i18n/translations/en.json
  packages/admin/dashboard/src/providers/router-provider/route-map.tsx
  packages/admin/dashboard/src/routes/customers/customer-detail/components/customer-order-section/customer-order-section.tsx
  packages/admin/dashboard/src/routes/orders/order-detail/components/order-activity-section/order-timeline.tsx
  packages/admin/dashboard/src/routes/orders/order-detail/components/order-customer-section/order-customer-section.tsx
  packages/admin/dashboard/src/routes/orders/order-detail/components/order-general-section/order-general-section.tsx
  packages/admin/dashboard/src/routes/orders/order-request-transfer/components/create-order-transfer-form/create-order-transfer-form.tsx
  packages/admin/dashboard/src/routes/orders/order-request-transfer/components/create-order-transfer-form/index.ts
  packages/admin/dashboard/src/routes/orders/order-request-transfer/components/create-order-transfer-form/transfer-header.tsx
  packages/admin/dashboard/src/routes/orders/order-request-transfer/index.ts
  packages/admin/dashboard/src/routes/orders/order-request-transfer/order-request-transfer.tsx
  packages/core/js-sdk/src/admin/order.ts
  packages/core/types/src/http/order/admin/payload.ts
  packages/core/types/src/http/order/common.ts
Labels: automerge, type: feature, team: medusa

#10211 fix: Update js-sdk with token
  packages/admin/dashboard/src/hooks/api/auth.tsx
  packages/admin/dashboard/src/routes/reset-password/reset-password.tsx
  packages/core/js-sdk/src/auth/index.ts
Labels: type: bug, team: medusa

#10220 fix(types): Graph types fixes
  packages/core/types/src/modules-sdk/to-remote-query.ts
Labels: type: bug, automerge, team: medusa

#10223 fix(stripe): Wrong container type
  packages/core/utils/src/event-bus/index.ts
  packages/core/utils/src/payment/abstract-payment-provider.ts
  packages/core/utils/src/search/abstract-service.ts
  packages/modules/providers/payment-stripe/src/core/stripe-base.ts
Labels: type: chore, automerge, team: medusa

#10224 docs: revise loaders documentation
  www/apps/book/app/learn/basics/loaders/page.mdx
  www/apps/book/generated/edit-dates.mjs
Labels: type: docs, team: medusa

#10219 chore: fix cURL example in create payment collection route
  www/apps/api-reference/specs/admin/openapi.full.yaml
  www/apps/api-reference/specs/admin/paths/admin_products_{id}_variants_inventory-items_batch.yaml
  www/apps/api-reference/specs/store/code_samples/Shell/store_payment-collections/post.sh
  www/apps/api-reference/specs/store/openapi.full.yaml
  www/utils/generated/oas-output/operations/store/post_store_payment-collections.ts
Labels: type: docs, type: chore, team: medusa

#10227 docs: revise events and subscribers
  www/apps/book/app/learn/basics/events-and-subscribers/page.mdx
  www/apps/book/generated/edit-dates.mjs
Labels: type: docs, team: medusa

#10213 Support spanish translation
  .changeset/six-cougars-hear.md
  packages/admin/dashboard/src/i18n/languages.ts
  packages/admin/dashboard/src/i18n/translations/es.json
  packages/admin/dashboard/src/i18n/translations/index.ts
Labels: automerge

#10222 fix(js-sdk): Preserve `path` in `baseUrl`
  .changeset/proud-horses-add.md
  packages/core/js-sdk/src/__tests__/client.spec.ts
  packages/core/js-sdk/src/client.ts
Labels: type: bug, automerge, team: medusa

#10231 fix: correct ID used for refetching after updating customer
  integration-tests/http/__tests__/customer/store/customer.spec.ts
  packages/medusa/src/api/store/customers/me/route.ts
Labels: automerge

#10235 docs: fix base path not added to hash links
  www/packages/docs-ui/src/components/Heading/H2/index.tsx
  www/packages/docs-ui/src/components/Heading/H3/index.tsx
  www/packages/docs-ui/src/hooks/index.ts
  www/packages/docs-ui/src/hooks/use-heading-url/index.tsx
Labels: type: docs, team: medusa
