Repository medusajs/medusa, pull requests merged in 2024-10, with the labels that each got.

#9393 fix(dashboard): reservations quantity validations
  packages/admin/dashboard/src/i18n/translations/en.json
  packages/admin/dashboard/src/routes/reservations/reservation-create/components/reservation-create-from/reservation-create-from.tsx
Labels: type: bug, automerge, team: medusa

#9380 fix(dashboard): categories add products
  packages/admin/dashboard/src/hooks/api/categories.tsx
  packages/admin/dashboard/src/routes/categories/category-products/category-products.tsx
  packages/admin/dashboard/src/routes/categories/category-products/components/edit-category-products-form/edit-category-products-form.tsx
Labels: type: bug, automerge, team: medusa

#9396 fix: Correctly reference job hander in loader
  packages/core/framework/src/jobs/job-loader.ts
Labels: type: bug, team: medusa

#9281 fix(dashboard): use svg component instead of static png for logo
  packages/admin/dashboard/public/medusa-avatar.png
  packages/admin/dashboard/src/components/common/logo-box/avatar-box.tsx
Labels: type: bug, automerge, team: medusa

#9308 fix(pricing): price set update deletes price list prices
  packages/modules/pricing/integration-tests/__tests__/services/pricing-module/price-set.spec.ts
  packages/modules/pricing/src/services/pricing-module.ts
Labels: type: bug, automerge, team: medusa

#9312 fix(dashboard): allow to unset currency cell value
  packages/admin/dashboard/src/components/data-grid/hooks/use-data-grid-form-handlers.tsx
  packages/admin/dashboard/src/routes/locations/location-service-zone-shipping-option-create/components/create-shipping-options-form/create-shipping-options-form.tsx
  packages/admin/dashboard/src/routes/price-lists/common/schemas.ts
  packages/admin/dashboard/src/routes/price-lists/price-list-prices-edit/components/price-list-prices-edit-form/price-list-prices-edit-form.tsx
  packages/admin/dashboard/src/routes/products/product-create-variant/components/create-product-variant-form/create-product-variant-form.tsx
  packages/admin/dashboard/src/routes/products/product-create/utils.ts
  packages/admin/dashboard/src/routes/products/product-prices/pricing-edit.tsx
Labels: type: bug, automerge, team: medusa

#9379 chore: update imports in tsdocs
  packages/core/core-flows/src/common/steps/create-remote-links.ts
  packages/core/core-flows/src/common/steps/dismiss-remote-links.ts
  packages/core/core-flows/src/common/steps/emit-event.ts
  packages/core/core-flows/src/common/steps/remove-remote-links.ts
  packages/core/core-flows/src/common/steps/use-remote-query.ts
  packages/core/framework/src/config/types.ts
  packages/core/types/src/tax/provider.ts
  packages/core/utils/src/auth/abstract-auth-provider.ts
  packages/core/utils/src/dml/entity-builder.ts
  packages/core/utils/src/dml/entity.ts
  packages/core/utils/src/dml/properties/base.ts
  packages/core/utils/src/dml/properties/id.ts
  packages/core/utils/src/dml/properties/number.ts
  packages/core/utils/src/dml/properties/text.ts
  packages/core/utils/src/file/abstract-file-provider.ts
  packages/core/utils/src/notification/abstract-notification-provider.ts
  packages/core/utils/src/payment/abstract-payment-provider.ts
  packages/core/workflows-sdk/src/utils/composer/create-hook.ts
  packages/core/workflows-sdk/src/utils/composer/create-step.ts
  packages/core/workflows-sdk/src/utils/composer/create-workflow.ts
  packages/core/workflows-sdk/src/utils/composer/parallelize.ts
  packages/core/workflows-sdk/src/utils/composer/transform.ts
Labels: type: chore, team: medusa

#9366 Update page.mdx
  www/apps/book/app/customization/integrate-systems/schedule-task/page.mdx
Labels: type: docs, automerge

#9401 docs: fix imports from dist
  www/apps/book/app/advanced-development/api-routes/validation/page.mdx
  www/apps/resources/app/recipes/digital-products/examples/standard/page.mdx
  www/apps/resources/app/recipes/marketplace/examples/restaurant-delivery/page.mdx
  www/apps/resources/app/recipes/marketplace/examples/vendors/page.mdx
  www/apps/resources/app/recipes/subscriptions/examples/standard/page.mdx
Labels: type: docs, automerge, team: medusa

#9152 docs: improvements + additions to module docs
  www/apps/book/app/advanced-development/module-links/custom-columns/page.mdx
  www/apps/book/app/advanced-development/module-links/directions/page.mdx
  www/apps/book/app/advanced-development/module-links/page.mdx
  www/apps/book/app/advanced-development/module-links/query/page.mdx
  www/apps/book/app/advanced-development/module-links/remote-link/page.mdx
  www/apps/book/app/advanced-development/modules/container/page.mdx
  www/apps/book/app/advanced-development/modules/db-operations/page.mdx
  www/apps/book/app/advanced-development/modules/isolation/page.mdx
  www/apps/book/app/advanced-development/modules/multiple-services/page.mdx
  www/apps/book/app/advanced-development/modules/options/page.mdx
  www/apps/book/app/advanced-development/modules/page.mdx
  www/apps/book/app/advanced-development/modules/service-constraints/page.mdx
  www/apps/book/app/advanced-development/modules/service-factory/page.mdx
  www/apps/book/app/basics/modules-and-services/page.mdx
  www/apps/book/app/more-resources/examples/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/next.config.mjs
  www/apps/book/sidebar.mjs
  www/apps/resources/app/commerce-modules/product/guides/price/page.mdx
  www/apps/resources/app/medusa-container-resources/page.mdx
  www/apps/resources/app/recipes/digital-products/examples/standard/page.mdx
  www/apps/resources/app/recipes/digital-products/page.mdx
  www/apps/resources/app/recipes/marketplace/examples/restaurant-delivery/page.mdx
  www/apps/resources/app/recipes/marketplace/examples/vendors/page.mdx
  www/apps/resources/app/recipes/marketplace/page.mdx
  www/apps/resources/app/recipes/subscriptions/examples/standard/page.mdx
  www/apps/resources/app/recipes/subscriptions/page.mdx
  www/apps/resources/app/service-factory-reference/methods/list/page.mdx
  www/apps/resources/app/service-factory-reference/methods/listAndCount/page.mdx
  www/apps/resources/app/service-factory-reference/methods/retrieve/page.mdx
  www/apps/resources/generated/sidebar.mjs
  www/apps/resources/sidebar.mjs
Labels: type: docs, automerge, team: medusa

#9302 fix: Validate `identifier` payload for reset password
  integration-tests/http/__tests__/auth/admin/auth.spec.ts
  packages/medusa/src/api/auth/[actor_type]/[auth_provider]/reset-password/route.ts
  packages/medusa/src/api/auth/middlewares.ts
  packages/medusa/src/api/auth/validators.ts
Labels: type: bug, automerge, team: medusa

#9408 fix(utils): knex import
  packages/core/utils/src/modules-sdk/create-pg-connection.ts
Labels: type: bug, team: medusa

#9340 docs: fix how api reference shows any type
  www/apps/api-reference/components/Tags/Operation/Parameters/Description/index.tsx
Labels: type: docs, team: medusa

#9347 docs: updates and fixes in utils + fulfillment provider changes
  www/apps/book/app/more-resources/examples/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/resources/generated/sidebar.mjs
  www/apps/resources/sidebar.mjs
  www/utils/packages/react-docs-generator/package.json
  www/utils/packages/typedoc-config/api-key.json
  www/utils/packages/typedoc-config/auth.json
  www/utils/packages/typedoc-config/cart.json
  www/utils/packages/typedoc-config/core-flows.json
  www/utils/packages/typedoc-config/currency.json
  www/utils/packages/typedoc-config/customer.json
  www/utils/packages/typedoc-config/framework.json
  www/utils/packages/typedoc-config/fulfillment.json
  www/utils/packages/typedoc-config/inventory-next.json
  www/utils/packages/typedoc-config/js-client.json
  www/utils/packages/typedoc-config/medusa-react.json
  www/utils/packages/typedoc-config/medusa.json
  www/utils/packages/typedoc-config/modules-sdk.json
  www/utils/packages/typedoc-config/order.json
  www/utils/packages/typedoc-config/package.json
  www/utils/packages/typedoc-config/payment.json
  www/utils/packages/typedoc-config/pricing.json
  www/utils/packages/typedoc-config/product.json
  www/utils/packages/typedoc-config/promotion.json
  www/utils/packages/typedoc-config/region.json
  www/utils/packages/typedoc-config/sales-channel.json
  www/utils/packages/typedoc-config/stock-location-next.json
  www/utils/packages/typedoc-config/store.json
  www/utils/packages/typedoc-config/tax.json
  www/utils/packages/typedoc-config/types.json
  www/utils/packages/typedoc-config/ui.json
  www/utils/packages/typedoc-config/user.json
  www/utils/packages/typedoc-config/utils.json
  www/utils/packages/typedoc-config/workflows.json
  www/utils/packages/typedoc-generate-references/package.json
  www/utils/packages/typedoc-plugin-markdown-medusa/package.json
  www/utils/yarn.lock
Labels: type: docs, team: medusa

#9334 fix(types, medusa): http types fixes
  packages/core/types/src/http/cart/store/entities.ts
  packages/core/types/src/http/cart/store/payloads.ts
  packages/core/types/src/http/collection/store/entities.ts
  packages/core/types/src/http/customer-group/admin/entities.ts
  packages/core/types/src/http/customer/admin/entities.ts
  packages/core/types/src/http/customer/store/entities.ts
  packages/core/types/src/http/order/admin/responses.ts
  packages/core/types/src/http/order/store/entities.ts
  packages/core/types/src/http/product/common.ts
  packages/core/types/src/http/product/store/entitites.ts
  packages/core/types/src/http/product/store/queries.ts
  packages/core/types/src/http/return/store/entities.ts
  packages/core/types/src/http/shipping-option/admin/payloads.ts
  packages/medusa/src/api/admin/orders/[id]/fulfillments/[fulfillment_id]/mark-as-delivered/route.ts
  packages/medusa/src/api/admin/products/export/route.ts
  packages/medusa/src/api/admin/promotions/[id]/buy-rules/batch/route.ts
  packages/medusa/src/api/admin/promotions/[id]/rules/batch/route.ts
  packages/medusa/src/api/admin/promotions/[id]/target-rules/batch/route.ts
  packages/medusa/src/api/admin/shipping-options/[id]/rules/batch/route.ts
  packages/medusa/src/api/store/customers/query-config.ts
  packages/medusa/src/api/store/orders/query-config.ts
  packages/medusa/src/api/store/products/validators.ts
Labels: type: bug, team: medusa

#9404 fix(medusa-oas-cli): Fix incorrect import
  packages/cli/oas/medusa-oas-cli/redocly/redocly-config.yaml
  packages/cli/oas/medusa-oas-cli/src/command-oas.ts
Labels: type: bug, team: medusa

#9395 docs: fix query option in instrumentation
  www/apps/book/app/debugging-and-testing/instrumentation/page.mdx
Labels: type: docs, team: medusa

#9422 fix: Export all classes and types from the SDK
  packages/core/js-sdk/src/index.ts
Labels: type: bug, team: medusa

#9349 chore(types, utils): update the TSDocs of AbstractFulfillmentProviderService
  packages/core/types/src/fulfillment/provider.ts
  packages/core/utils/src/fulfillment/provider.ts
  packages/modules/providers/fulfillment-manual/src/services/manual-fulfillment.ts
Labels: type: chore, automerge, team: medusa

#9400 feat(orchestration): Provide hint in workflows error
  packages/core/orchestration/src/transaction/transaction-orchestrator.ts
  packages/core/orchestration/src/transaction/types.ts
  packages/core/workflows-sdk/src/helper/workflow-export.ts
  packages/core/workflows-sdk/src/utils/composer/__tests__/compose.ts
  packages/core/workflows-sdk/src/utils/composer/create-workflow.ts
Labels: type: feature, team: medusa

#9405 fix(create-medusa-app): remove warnings on installation
  packages/cli/create-medusa-app/package.json
  packages/cli/create-medusa-app/src/commands/create.ts
  packages/cli/create-medusa-app/src/utils/node-version.ts
  yarn.lock
Labels: type: bug, team: medusa

#9427 fix(workflows-sdk): when then return value
  packages/core/orchestration/src/transaction/orchestrator-builder.ts
  packages/core/workflows-sdk/src/utils/composer/__tests__/index.spec.ts
  packages/core/workflows-sdk/src/utils/composer/when.ts
Labels: type: bug, team: medusa

#9398 fix(dashboard): allocation label condition
  packages/admin/dashboard/src/routes/orders/order-detail/components/order-summary-section/order-summary-section.tsx
Labels: type: bug, automerge, team: medusa

#9415 fix(dashboard, fulfilment): fulfilment providers enabled check
  packages/admin/dashboard/src/routes/locations/location-detail/components/location-fulfillment-providers-section/location-fulfillment-providers-section.tsx
  packages/admin/dashboard/src/routes/locations/location-fulfillment-providers/components/edit-fulfillment-providers-form/edit-fulfillment-providers-form.tsx
  packages/admin/dashboard/src/routes/locations/location-fulfillment-providers/location-fulfillment-providers.tsx
  packages/admin/dashboard/src/routes/regions/region-create/region-create.tsx
  packages/admin/dashboard/src/routes/regions/region-edit/region-edit.tsx
  packages/modules/fulfillment/src/services/fulfillment-provider.ts
  packages/modules/payment/src/loaders/providers.ts
Labels: type: bug, automerge, team: medusa

#9412 fix(dashboard): location details loader
  packages/admin/dashboard/src/routes/locations/location-detail/loader.ts
Labels: type: bug, automerge, team: medusa

#9413 chore(oas): general fixes to OAS
  www/utils/generated/oas-output/operations/admin/post_auth_[actor_type]_[auth_provider].ts
  www/utils/generated/oas-output/operations/admin/post_auth_[actor_type]_[auth_provider]_callback.ts
  www/utils/generated/oas-output/operations/store/post_auth_[actor_type]_[auth_provider].ts
  www/utils/generated/oas-output/operations/store/post_auth_[actor_type]_[auth_provider]_callback.ts
  www/utils/generated/oas-output/operations/store/post_store_carts_[id]_complete.ts
  www/utils/generated/oas-output/operations/store/post_store_carts_[id]_shipping-methods.ts
  www/utils/generated/oas-output/schemas/AuthCallbackResponse.ts
  www/utils/generated/oas-output/schemas/BaseRegion.ts
  www/utils/packages/docs-generator/src/classes/helpers/schema-factory.ts
Labels: type: docs, automerge, team: medusa

#9430 docs: DX and performance improvements in API reference
  www/apps/api-reference/components/Section/index.tsx
  www/apps/api-reference/components/Tags/Operation/index.tsx
  www/apps/api-reference/components/Tags/Section/Schema/index.tsx
  www/apps/api-reference/components/Tags/Section/index.tsx
  www/apps/api-reference/components/Tags/index.tsx
  www/apps/api-reference/providers/index.tsx
  www/apps/api-reference/providers/main-nav.tsx
  www/apps/api-reference/providers/page-title.tsx
  www/apps/api-reference/utils/check-element-in-viewport.ts
  www/apps/book/components/Feedback/index.tsx
  www/apps/book/providers/index.tsx
  www/apps/book/providers/main-nav.tsx
  www/apps/resources/components/Feedback/index.tsx
  www/apps/resources/providers/index.tsx
  www/apps/resources/providers/main-nav.tsx
  www/apps/ui/src/providers/index.tsx
  www/apps/ui/src/providers/main-nav.tsx
  www/apps/user-guide/components/Feedback/index.tsx
  www/apps/user-guide/providers/main-nav.tsx
  www/packages/docs-ui/src/components/Bannerv2/index.tsx
  www/packages/docs-ui/src/components/ChildDocs/index.tsx
  www/packages/docs-ui/src/components/MainNav/Breadcrumb/index.tsx
  www/packages/docs-ui/src/components/RootProviders/index.tsx
  www/packages/docs-ui/src/components/Sidebar/Item/Link/index.tsx
  www/packages/docs-ui/src/components/Toc/index.tsx
  www/packages/docs-ui/src/components/TypeList/Items/index.tsx
  www/packages/docs-ui/src/components/index.ts
  www/packages/docs-ui/src/hooks/index.ts
  www/packages/docs-ui/src/hooks/use-active-on-scroll/index.tsx
  www/packages/docs-ui/src/hooks/use-click-outside/index.tsx
  www/packages/docs-ui/src/hooks/use-is-browser/index.ts
  www/packages/docs-ui/src/layouts/main-content.tsx
  www/packages/docs-ui/src/layouts/root.tsx
  www/packages/docs-ui/src/providers/BrowserProvider/index.tsx
  www/packages/docs-ui/src/providers/LearningPath/index.tsx
  www/packages/docs-ui/src/providers/Sidebar/index.tsx
  www/packages/docs-ui/src/providers/index.ts
  www/yarn.lock
Labels: type: docs, automerge, team: medusa

#9431 docs: Fix typo. Use instead yuse
  packages/core/utils/src/auth/abstract-auth-provider.ts
  www/apps/resources/references/auth_provider/classes/auth_provider.AbstractAuthModuleProvider/page.mdx
Labels: type: docs, automerge

#9429 feat(framework,medusa): Ensure publishable key middleware is set for all store endpoints
  _tsconfig.base.json
  integration-tests/http/__tests__/customer/store/customer.spec.ts
  packages/core/framework/src/http/__tests__/index.spec.ts
  packages/core/framework/src/http/middlewares/ensure-publishable-api-key.ts
  packages/core/framework/src/http/router.ts
  packages/medusa/src/api/store/middlewares.ts
  packages/medusa/src/utils/middlewares/ensure-publishable-api-key.ts
Labels: type: feature, team: medusa

#9426 feature: Add MikroORM CLI wrapper to bypass hardcoded module system
  packages/core/framework/package.json
  packages/core/framework/src/mikro-orm-cli/bin.ts
  packages/modules/api-key/package.json
  packages/modules/auth/package.json
  packages/modules/cart/package.json
  packages/modules/currency/package.json
  packages/modules/customer/package.json
  packages/modules/file/package.json
  packages/modules/fulfillment/package.json
  packages/modules/index/package.json
  packages/modules/inventory-next/package.json
  packages/modules/notification/package.json
  packages/modules/order/package.json
  packages/modules/payment/package.json
  packages/modules/pricing/package.json
  packages/modules/product/package.json
  packages/modules/promotion/package.json
  packages/modules/region/package.json
  packages/modules/sales-channel/package.json
  packages/modules/stock-location-next/package.json
  packages/modules/store/package.json
  packages/modules/tax/package.json
  packages/modules/user/package.json
  packages/modules/workflow-engine-inmemory/package.json
  packages/modules/workflow-engine-redis/package.json
  yarn.lock
Labels: automerge, team: medusa

#9411 chore: improve mikro orm serializer circular ref and link serialization
  integration-tests/http/__tests__/product/admin/product.spec.ts
  packages/core/core-flows/src/product/helpers/normalize-for-export.ts
  packages/core/core-flows/src/product/steps/get-all-products.ts
  packages/core/utils/src/dal/mikro-orm/mikro-orm-serializer.ts
  packages/core/utils/src/dml/integration-tests/__tests__/enum.spec.ts
  packages/core/utils/src/dml/integration-tests/__tests__/has-one-belongs-to.spec.ts
  packages/core/utils/src/dml/integration-tests/__tests__/many-to-many.spec.ts
  packages/core/utils/src/dml/integration-tests/__tests__/many-to-one.spec.ts
  packages/medusa/src/commands/start.ts
  packages/modules/link-modules/src/services/dynamic-service-class.ts
  packages/modules/link-modules/src/services/link-module-service.ts
  packages/modules/payment/integration-tests/__tests__/services/payment-module/index.spec.ts
Labels: type: chore, team: medusa

#9385 chore: add action to update starter dependencies + update reference actions
  .github/workflows/generate-public-references.yml
  .github/workflows/generate-rc-references.yml
  .github/workflows/generate-resources-reference.yml
  .github/workflows/update-on-rc.yml
Labels: type: chore, team: medusa

#9439 fix: Use the default admin port in create medusa app env definition
  packages/cli/create-medusa-app/src/utils/prepare-project.ts
Labels: type: bug, team: medusa

#9438 fix(core-flows): Remove concurrent steps that rely on the same data update
  packages/core/core-flows/src/cart/workflows/add-to-cart.ts
Labels: type: bug, automerge, team: medusa

#9441 docs: fix infinite scroll, update next.js, other fixes
  www/README.md
  www/apps/api-reference/app/globals.css
  www/apps/api-reference/package.json
  www/apps/book/app/globals.css
  www/apps/book/package.json
  www/apps/resources/app/globals.css
  www/apps/resources/package.json
  www/apps/ui/package.json
  www/apps/ui/src/styles/globals.css
  www/apps/user-guide/app/globals.css
  www/apps/user-guide/package.json
  www/packages/docs-ui/package.json
  www/packages/docs-ui/src/components/Icons/ShadedBg/index.tsx
  www/packages/eslint-config-docs/docusaurus.js
  www/packages/eslint-config-docs/package.json
  www/packages/tailwind/base.tailwind.config.js
  www/packages/tsconfig/docusaurus.json
  www/packages/tsconfig/package.json
  www/turbo.json
  www/yarn.lock
Labels: type: docs, team: medusa

#9442 docs: add a troubleshooting guide for dist imports
  www/apps/resources/app/troubleshooting/dist-imports/page.mdx
  www/apps/resources/app/troubleshooting/pnpm-errors/page.mdx
  www/apps/resources/generated/edit-dates.mjs
  www/apps/resources/generated/files-map.mjs
  www/apps/resources/generated/sidebar.mjs
  www/apps/resources/sidebar.mjs
Labels: type: docs, team: medusa

#9443 feature: allow using typescript path aliases when using ts-node
  packages/cli/medusa-cli/cli.js
Labels: type: feature, team: medusa

#9450 fix: Get backend URL from environment variable if available
  packages/core/utils/src/common/define-config.ts
Labels: type: bug, automerge, team: medusa

#9456 fix(core-flows): update cart promotion data usage
  packages/core/core-flows/src/cart/workflows/update-cart-promotions.ts
Labels: type: bug, automerge, team: medusa

#9463 chore: fix action name in update on rc release action
  .github/workflows/update-on-rc.yml
Labels: type: chore, team: medusa

#9453 docs: add section on testing providers
  www/apps/resources/generated/edit-dates.mjs
  www/apps/resources/references/auth_provider/classes/auth_provider.AbstractAuthModuleProvider/page.mdx
  www/apps/resources/references/file/classes/file.AbstractFileProviderService/page.mdx
  www/apps/resources/references/fulfillment_provider/classes/fulfillment_provider.AbstractFulfillmentProviderService/page.mdx
  www/apps/resources/references/notification/classes/notification.AbstractNotificationProviderService/page.mdx
  www/apps/resources/references/payment_provider/classes/payment_provider.AbstractPaymentProvider/page.mdx
  www/utils/generated/typedoc-json-output/auth-provider.json
  www/utils/generated/typedoc-json-output/file.json
  www/utils/generated/typedoc-json-output/fulfillment-provider.json
  www/utils/generated/typedoc-json-output/notification.json
  www/utils/generated/typedoc-json-output/payment-provider.json
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/auth-provider.ts
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/file.ts
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/fulfillment-provider.ts
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/notification.ts
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/payment-provider.ts
Labels: type: docs, team: medusa

#9276 fix(dashboard): allow to unset PL rule
  packages/admin/dashboard/src/routes/price-lists/price-list-configuration/components/price-list-configuration-form/price-list-configuration-form.tsx
Labels: type: bug, automerge, team: medusa

#9451 feat(dashboard, js-sdk): reset password UI
  packages/admin/dashboard/src/hooks/api/auth.tsx
  packages/admin/dashboard/src/i18n/translations/en.json
  packages/admin/dashboard/src/providers/router-provider/route-map.tsx
  packages/admin/dashboard/src/routes/login/login.tsx
  packages/admin/dashboard/src/routes/reset-password/index.ts
  packages/admin/dashboard/src/routes/reset-password/reset-password.tsx
  packages/core/js-sdk/src/auth/index.ts
Labels: automerge, type: feature, team: medusa

#9467 Feat: Move container bindings declaration merging within the framework
  packages/core/framework/src/config/index.ts
  packages/core/framework/src/container.ts
  packages/core/framework/src/database/index.ts
  packages/core/framework/src/feature-flags/index.ts
  packages/core/framework/src/http/index.ts
  packages/core/framework/src/types/container.ts
  packages/core/framework/src/utils/index.ts
  packages/core/framework/src/workflows-sdk/index.ts
  packages/core/framework/src/workflows/index.ts
  packages/core/modules-sdk/src/medusa-app.ts
  packages/core/utils/src/modules-sdk/definition.ts
  packages/core/workflows-sdk/src/helper/workflow-export.ts
  packages/core/workflows-sdk/src/utils/composer/__tests__/compose.ts
Labels: team: medusa

#9452 docs: update modules chapter in basics
  www/apps/book/app/basics/data-models/page.mdx
  www/apps/book/app/basics/modules-and-services/page.mdx
  www/apps/book/app/basics/modules-directory-structure/page.mdx
  www/apps/book/app/basics/modules/page.mdx
  www/apps/book/app/basics/project-directories-files/page.mdx
  www/apps/book/app/customization/custom-features/module/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/next.config.mjs
  www/apps/book/sidebar.mjs
  www/apps/resources/app/recipes/b2b/page.mdx
  www/apps/resources/app/recipes/commerce-automation/page.mdx
  www/apps/resources/app/recipes/digital-products/examples/standard/page.mdx
  www/apps/resources/app/recipes/digital-products/page.mdx
  www/apps/resources/app/recipes/integrate-ecommerce-stack/page.mdx
  www/apps/resources/app/recipes/marketplace/examples/restaurant-delivery/page.mdx
  www/apps/resources/app/recipes/marketplace/examples/vendors/page.mdx
  www/apps/resources/app/recipes/marketplace/page.mdx
  www/apps/resources/app/recipes/multi-region-store/page.mdx
  www/apps/resources/app/recipes/omnichannel/page.mdx
  www/apps/resources/app/recipes/personalized-products/page.mdx
  www/apps/resources/app/recipes/pos/page.mdx
  www/apps/resources/app/recipes/subscriptions/examples/standard/page.mdx
  www/apps/resources/app/recipes/subscriptions/page.mdx
  www/apps/resources/generated/edit-dates.mjs
Labels: type: docs, team: medusa

#9369 fix: Handle region updates on cart (1/n)
  integration-tests/modules/__tests__/cart/store/carts.spec.ts
  packages/core/core-flows/src/cart/steps/find-one-or-any-region.ts
  packages/core/core-flows/src/cart/workflows/create-carts.ts
  packages/core/core-flows/src/cart/workflows/update-cart.ts
  packages/core/types/src/cart/workflows.ts
Labels: type: bug, automerge, team: medusa

#9231 fix: Idempotent cart completion
  integration-tests/modules/__tests__/cart/store/carts.spec.ts
  packages/core/core-flows/src/cart/steps/validate-cart-payments.ts
  packages/core/core-flows/src/cart/workflows/complete-cart.ts
  packages/core/core-flows/src/common/steps/use-query.ts
  packages/core/core-flows/src/payment/workflows/index.ts
  packages/core/core-flows/src/payment/workflows/on-payment-processed.ts
  packages/core/core-flows/src/payment/workflows/process-payment.ts
  packages/core/orchestration/src/transaction/transaction-orchestrator.ts
  packages/core/types/src/payment/provider.ts
  packages/core/types/src/payment/service.ts
  packages/medusa/src/api/store/carts/[id]/complete/route.ts
  packages/medusa/src/subscribers/payment-webhook.ts
  packages/modules/payment/src/services/payment-module.ts
  yarn.lock
Labels: type: bug, automerge, team: medusa

#9471 fix: add order to pagination types
  packages/core/modules-sdk/src/remote-query/to-remote-query.ts
  packages/core/types/src/modules-sdk/remote-query-object-from-string.ts
Labels: type: bug, automerge, team: medusa

#9448 chore(cli): Update start description
  packages/cli/medusa-cli/src/create-cli.ts
Labels: type: bug, automerge, team: medusa

#9469 fix(payment): Capture payment
  integration-tests/http/__tests__/payment/admin/payment.spec.ts
  packages/modules/payment/integration-tests/__tests__/services/payment-module/index.spec.ts
  packages/modules/payment/src/services/payment-module.ts
Labels: type: bug, automerge, team: medusa

#9473 chore(types): index module type
  packages/core/modules-sdk/src/remote-query/to-remote-query.ts
  packages/core/types/src/bundles.ts
  packages/core/types/src/index-data/__fixtures__/index-service-entry-points.ts
  packages/core/types/src/index-data/__tests__/index.spec.ts
  packages/core/types/src/index-data/common.ts
  packages/core/types/src/index-data/index-operator-map.ts
  packages/core/types/src/index-data/index-service-entry-points.ts
  packages/core/types/src/index-data/index.ts
  packages/core/types/src/index-data/query-config/common.ts
  packages/core/types/src/index-data/query-config/index.ts
  packages/core/types/src/index-data/query-config/query-input-config-fields.ts
  packages/core/types/src/index-data/query-config/query-input-config-filters.ts
  packages/core/types/src/index-data/query-config/query-input-config-order-by.ts
  packages/core/types/src/index-data/query-config/query-input-config.ts
  packages/core/types/src/index-data/service.ts
  packages/core/types/src/index-data/sotrage-provider.ts
  packages/core/types/src/index.ts
  packages/core/types/src/modules-sdk/remote-query-object-from-string.ts
Labels: type: chore, automerge, team: medusa

#9465 fix: Remove extra saving on serialization which breaks the chain
  packages/core/utils/src/dal/mikro-orm/__fixtures__/utils.ts
  packages/core/utils/src/dal/mikro-orm/__tests__/mikro-orm-serializer.spec.ts
  packages/core/utils/src/dal/mikro-orm/mikro-orm-serializer.ts
Labels: type: bug, automerge, team: medusa

#9433 feat(dashboard, medusa) add metadata to pages
  packages/admin/dashboard/src/providers/router-provider/route-map.tsx
  packages/admin/dashboard/src/routes/categories/categories-metadata/categories-metadata.tsx
  packages/admin/dashboard/src/routes/categories/categories-metadata/index.ts
  packages/admin/dashboard/src/routes/categories/category-detail/category-detail.tsx
  packages/admin/dashboard/src/routes/inventory/inventory-detail/components/inventory-item-general-section.tsx
  packages/admin/dashboard/src/routes/inventory/inventory-metadata/index.ts
  packages/admin/dashboard/src/routes/inventory/inventory-metadata/inventory-metadata.tsx
  packages/admin/dashboard/src/routes/regions/region-detail/region-detail.tsx
  packages/admin/dashboard/src/routes/regions/region-metadata/index.ts
  packages/admin/dashboard/src/routes/regions/region-metadata/region-metadata.tsx
  packages/admin/dashboard/src/routes/reservations/reservation-detail/reservation-detail.tsx
  packages/admin/dashboard/src/routes/reservations/reservation-metadata/index.ts
  packages/admin/dashboard/src/routes/reservations/reservation-metadata/reservation-metadata.tsx
  packages/admin/dashboard/src/routes/sales-channels/sales-channel-detail/sales-channel-detail.tsx
  packages/admin/dashboard/src/routes/sales-channels/sales-channel-metadata/index.ts
  packages/admin/dashboard/src/routes/sales-channels/sales-channel-metadata/sales-channel-metadata.tsx
  packages/admin/dashboard/src/routes/tax-regions/tax-region-detail/tax-region-detail.tsx
  packages/admin/dashboard/src/routes/tax-regions/tax-region-metadata/index.ts
  packages/admin/dashboard/src/routes/tax-regions/tax-region-metadata/tax-region-metadata.tsx
  packages/admin/dashboard/src/routes/users/user-detail/user-detail.tsx
  packages/admin/dashboard/src/routes/users/user-metadata/index.ts
  packages/admin/dashboard/src/routes/users/user-metadata/user-metadata.tsx
  packages/core/types/src/http/user/admin/payloads.ts
  packages/medusa/src/api/admin/sales-channels/query-config.ts
  packages/medusa/src/api/admin/users/validators.ts
Labels: automerge, type: feature, team: medusa

#9397 docs: improvements to API reference intro sections
  www/apps/api-reference/app/_mdx/admin.mdx
  www/apps/api-reference/app/_mdx/client-libraries.mdx
  www/apps/api-reference/app/_mdx/store.mdx
  www/apps/api-reference/app/admin/page.tsx
  www/apps/api-reference/app/store/page.tsx
  www/apps/api-reference/components/MDXComponents/H2/index.tsx
  www/apps/api-reference/components/Section/Container/index.tsx
  www/apps/api-reference/components/Section/index.tsx
  www/apps/api-reference/components/Tags/index.tsx
  www/apps/api-reference/layouts/Divided/index.tsx
  www/apps/api-reference/layouts/DividedMarkdown/Sections/index.tsx
  www/apps/api-reference/layouts/DividedMarkdown/index.tsx
  www/apps/api-reference/next.config.mjs
  www/apps/api-reference/package.json
  www/packages/docs-ui/src/components/Heading/H1/index.tsx
  www/packages/docs-ui/src/components/Heading/H2/index.tsx
  www/packages/docs-ui/src/components/Heading/H3/index.tsx
  www/packages/docs-ui/src/components/Heading/H4/index.tsx
  www/packages/docs-ui/src/components/Heading/index.tsx
  www/packages/docs-ui/src/components/MDXComponents/index.tsx
  www/packages/docs-ui/src/components/Sidebar/Item/Category/index.tsx
  www/packages/docs-ui/src/components/index.ts
  www/packages/docs-ui/src/hooks/use-active-on-scroll/index.tsx
  www/packages/docs-ui/src/layouts/main-content.tsx
  www/packages/docs-ui/src/layouts/wide.tsx
  www/packages/types/src/sidebar.ts
  www/yarn.lock
Labels: type: docs, automerge, team: medusa

#9481 docs: fix import path in the workflow basic documentation
  www/apps/book/app/basics/workflows/page.mdx
Labels: type: docs, automerge

#9476 feat(dashboard,core-flows,types,order): change order accepts price updates
  packages/admin/dashboard/src/i18n/translations/en.json
  packages/core/core-flows/src/order/workflows/order-edit/confirm-order-edit-request.ts
  packages/core/core-flows/src/order/workflows/order-edit/order-edit-update-item-quantity.ts
  packages/core/core-flows/src/order/workflows/order-edit/update-order-edit-add-item.ts
  packages/core/types/src/workflow/order/items.ts
  packages/core/utils/src/modules-sdk/mikro-orm-cli-config-builder.ts
  packages/medusa/src/api/admin/order-edits/validators.ts
  packages/modules/order/src/migrations/.snapshot-medusa-order.json
  packages/modules/order/src/migrations/Migration20240930122627.ts
  packages/modules/order/src/models/order-item.ts
  packages/modules/order/src/services/order-module-service.ts
  packages/modules/order/src/types/utils/index.ts
  packages/modules/order/src/utils/actions/item-update.ts
  packages/modules/order/src/utils/apply-order-changes.ts
  packages/modules/order/src/utils/transform-order.ts
Labels: type: feature, team: medusa

#9384 feat: Add `useQueryStep`
  packages/core/core-flows/package.json
  packages/core/core-flows/src/cart/steps/get-variant-price-sets.ts
  packages/core/core-flows/src/common/index.ts
  packages/core/core-flows/src/common/steps/use-query-graph.ts
  packages/core/core-flows/tsconfig.spec.json
  packages/core/workflows-sdk/src/utils/composer/create-step.ts
  packages/core/workflows-sdk/src/utils/composer/type.ts
  yarn.lock
Labels: type: feature, team: medusa

#9477 fix(core-flows): remove reservations on order edit confirm
  packages/core/core-flows/src/order/workflows/order-edit/confirm-order-edit-request.ts
Labels: type: bug, automerge, team: medusa

#9493 fix(order): searchable fields
  integration-tests/http/__tests__/order/admin/order.spec.ts
  packages/core/utils/src/dal/mikro-orm/__fixtures__/utils.ts
  packages/core/utils/src/dal/mikro-orm/mikro-orm-free-text-search-filter.ts
  packages/modules/order/src/models/address.ts
  packages/modules/order/src/models/order.ts
  packages/modules/order/src/models/return-reason.ts
Labels: type: bug, automerge, team: medusa

#9487 fix(dashboard): manage inventory flags
  packages/admin/dashboard/src/routes/products/product-create/utils.ts
Labels: type: bug, automerge, team: medusa

#9464 docs: document using conditional operators in workflows
  www/apps/book/app/advanced-development/workflows/constructor-constraints/page.mdx
  www/apps/book/generated/edit-dates.mjs
Labels: type: docs, automerge, team: medusa

#9472 docs: updates in recipes
  www/apps/resources/app/recipes/digital-products/examples/standard/page.mdx
  www/apps/resources/app/recipes/marketplace/examples/restaurant-delivery/page.mdx
  www/apps/resources/app/recipes/subscriptions/examples/standard/page.mdx
  www/apps/resources/generated/edit-dates.mjs
Labels: type: docs, automerge, team: medusa

#9505 fix(product): Always add q if defined in product category search
  integration-tests/http/__tests__/product-category/admin/product-category.spec.ts
  packages/modules/product/src/services/product-category.ts
Labels: type: bug, team: medusa

#9501 docs: improved commerce module docs [2/n]
  www/apps/resources/app/commerce-modules/currency/examples/page.mdx
  www/apps/resources/app/commerce-modules/currency/page.mdx
  www/apps/resources/app/commerce-modules/currency/relations-to-other-modules/page.mdx
  www/apps/resources/app/commerce-modules/customer/customer-accounts/page.mdx
  www/apps/resources/app/commerce-modules/customer/examples/page.mdx
  www/apps/resources/app/commerce-modules/customer/extend/page.mdx
  www/apps/resources/app/commerce-modules/customer/page.mdx
  www/apps/resources/app/commerce-modules/customer/relations-to-other-modules/page.mdx
  www/apps/resources/app/commerce-modules/fulfillment/fulfillment-provider/page.mdx
  www/apps/resources/app/commerce-modules/fulfillment/item-fulfillment/page.mdx
  www/apps/resources/app/commerce-modules/fulfillment/links-to-other-modules/page.mdx
  www/apps/resources/app/commerce-modules/fulfillment/page.mdx
  www/apps/resources/app/commerce-modules/fulfillment/relations-to-other-modules/page.mdx
  www/apps/resources/app/commerce-modules/fulfillment/shipping-option/page.mdx
  www/apps/resources/app/commerce-modules/inventory/concepts/page.mdx
  www/apps/resources/app/commerce-modules/inventory/examples/page.mdx
  www/apps/resources/app/commerce-modules/inventory/inventory-in-flows/page.mdx
  www/apps/resources/app/commerce-modules/inventory/links-to-other-modules/page.mdx
  www/apps/resources/app/commerce-modules/inventory/page.mdx
  www/apps/resources/app/commerce-modules/inventory/relations-to-other-modules/page.mdx
  www/apps/resources/generated/edit-dates.mjs
  www/apps/resources/generated/files-map.mjs
  www/apps/resources/generated/sidebar.mjs
  www/apps/resources/next.config.mjs
  www/apps/resources/sidebar.mjs
Labels: type: docs, automerge, team: medusa

#9508 fix(dashboard): Remove token copy from badge
  packages/admin/dashboard/src/routes/api-key-management/api-key-management-detail/components/api-key-general-section/api-key-general-section.tsx
  packages/admin/dashboard/src/routes/api-key-management/api-key-management-list/components/api-key-management-list-table/use-api-key-management-table-columns.tsx
Labels: type: bug, automerge, team: medusa

#9497 fix(order): undo order change
  packages/core/core-flows/src/order/steps/confirm-order-changes.ts
  packages/core/core-flows/src/order/workflows/claim/confirm-claim-request.ts
  packages/core/core-flows/src/order/workflows/exchange/confirm-exchange-request.ts
  packages/core/core-flows/src/order/workflows/order-edit/confirm-order-edit-request.ts
  packages/core/core-flows/src/order/workflows/return/confirm-receive-return-request.ts
  packages/core/core-flows/src/order/workflows/return/confirm-return-request.ts
  packages/core/types/src/order/service.ts
  packages/modules/order/src/services/order-module-service.ts
Labels: type: bug, automerge, team: medusa

#9515 fix: add metadata to product type resp
  integration-tests/http/__tests__/product-type/admin/product-type.spec.ts
  packages/medusa/src/api/admin/product-types/query-config.ts
Labels: type: bug, team: medusa

#9514 fix: add metadata to collection resp
  integration-tests/http/__tests__/collection/admin/colllection.spec.ts
  packages/medusa/src/api/admin/collections/query-config.ts
Labels: type: bug, automerge, team: medusa

#9512 fix(dashboard): undeclared var
  packages/admin/dashboard/src/hooks/api/order-edits.tsx
Labels: type: bug, team: medusa

#9496 breaking: Standalone builds
  integration-tests/modules/__tests__/event-bus/index.spec.ts
  integration-tests/modules/medusa-config.js
  integration-tests/modules/tsconfig.json
  integration-tests/tsconfig.json
  packages/core/framework/src/config/__tests__/index.spec.ts
  packages/core/framework/src/config/loader.ts
  packages/core/framework/src/http/__fixtures__/mocks/index.ts
  packages/core/modules-sdk/package.json
  packages/core/modules-sdk/src/loaders/__fixtures__/test-service-resolved/index.ts
  packages/core/modules-sdk/src/loaders/__fixtures__/test-service/index.ts
  packages/core/modules-sdk/src/loaders/__tests__/register-modules.ts
  packages/core/modules-sdk/src/loaders/register-modules.ts
  packages/core/types/src/common/config-module.ts
  packages/core/utils/src/common/__tests__/define-config.spec.ts
  packages/core/utils/src/common/define-config.ts
  packages/core/utils/src/common/get-config-file.ts
  packages/core/utils/src/common/normalize-import-path-with-source.ts
  packages/core/utils/src/graphql/graphql-to-ts-types.ts
  packages/medusa-test-utils/src/medusa-test-runner-utils/config.ts
  packages/medusa/src/commands/build.ts
  packages/medusa/src/commands/start.ts
  packages/medusa/src/loaders/admin.ts
  packages/medusa/src/loaders/helpers/resolve-plugins.ts
  packages/medusa/src/loaders/index.ts
  packages/modules/index/integration-tests/__tests__/index-engine-module.spec.ts
  packages/modules/index/integration-tests/__tests__/query-builder.spec.ts
  yarn.lock
Labels: automerge, type: feature, has: breaking changes, team: medusa

#9518 fix: provide outDir to typescript compiler
  packages/medusa/src/commands/build.ts
Labels: type: bug, automerge, team: medusa

#9410 docs: improvements and fixes to components in API reference
  www/apps/api-reference/components/Tags/Operation/DescriptionSection/index.tsx
  www/apps/api-reference/components/Tags/Operation/Parameters/Description/index.tsx
  www/apps/api-reference/components/Tags/Operation/Parameters/Name/index.tsx
  www/apps/api-reference/components/Tags/Operation/Parameters/Types/Default/index.tsx
  www/apps/api-reference/components/Tags/Operation/Parameters/Types/Object/index.tsx
  www/apps/api-reference/components/Tags/Section/Schema/index.tsx
  www/apps/api-reference/components/Tags/Section/index.tsx
  www/apps/api-reference/package.json
  www/packages/docs-ui/src/components/CodeBlock/Actions/index.tsx
  www/packages/docs-ui/src/components/CodeBlock/Header/Wrapper/index.tsx
  www/packages/docs-ui/src/components/CodeBlock/Header/index.tsx
  www/packages/docs-ui/src/components/CodeBlock/index.tsx
  www/packages/docs-ui/src/components/CodeTabs/index.tsx
  www/yarn.lock
Labels: type: docs, automerge, team: medusa

#9502 fix(core-flows, dashboard): inventory kit reservations
  packages/admin/dashboard/src/hooks/api/order-edits.tsx
  packages/core/core-flows/src/cart/steps/confirm-inventory.ts
  packages/core/core-flows/src/cart/steps/reserve-inventory.ts
  packages/core/core-flows/src/cart/utils/prepare-confirm-inventory-input.ts
  packages/core/core-flows/src/cart/workflows/confirm-variant-inventory.ts
  packages/core/core-flows/src/order/workflows/order-edit/confirm-order-edit-request.ts
Labels: type: bug, automerge, team: medusa

#9455 chore: workflow internals improvementss
  integration-tests/modules/__tests__/cart/store/cart.workflows.spec.ts
  integration-tests/modules/__tests__/cart/store/carts.spec.ts
  packages/core/core-flows/src/cart/workflows/add-shipping-method-to-cart.ts
  packages/core/core-flows/src/cart/workflows/complete-cart.ts
  packages/core/core-flows/src/cart/workflows/create-carts.ts
  packages/core/core-flows/src/cart/workflows/create-payment-collection-for-cart.ts
  packages/core/core-flows/src/cart/workflows/update-cart.ts
  packages/core/core-flows/src/payment-collection/steps/delete-payment-sessions.ts
  packages/core/orchestration/src/transaction/distributed-transaction.ts
  packages/core/orchestration/src/workflow/local-workflow.ts
  packages/core/utils/src/common/deep-copy.ts
  packages/core/utils/src/event-bus/index.ts
  packages/core/workflows-sdk/src/helper/workflow-export.ts
  packages/core/workflows-sdk/src/utils/composer/create-step.ts
  packages/core/workflows-sdk/src/utils/composer/helpers/create-step-handler.ts
  packages/core/workflows-sdk/src/utils/composer/helpers/proxy.ts
  packages/core/workflows-sdk/src/utils/composer/helpers/resolve-value.ts
  packages/core/workflows-sdk/src/utils/composer/transform.ts
  packages/core/workflows-sdk/src/utils/composer/when.ts
  packages/medusa/src/api/store/carts/[id]/line-items/route.ts
  packages/medusa/src/api/store/carts/query-config.ts
  packages/modules/event-bus-local/src/services/__tests__/event-bus-local.ts
  packages/modules/event-bus-local/src/services/event-bus-local.ts
  packages/modules/event-bus-redis/src/services/event-bus-redis.ts
  packages/modules/workflow-engine-inmemory/src/utils/workflow-orchestrator-storage.ts
  packages/modules/workflow-engine-redis/src/utils/workflow-orchestrator-storage.ts
Labels: type: chore, team: medusa

#9513 fix(types): fix parameter types for the order module's service
  packages/core/types/src/order/service.ts
Labels: type: bug, automerge, team: medusa

#9519 docs: Fix link to the correct AuthIdentity model's page
  www/apps/resources/app/commerce-modules/auth/auth-identity-and-actor-types/page.mdx
Labels: type: docs, automerge

#9507 fix(workflows-sdk):transaction id inheritence
  packages/core/workflows-sdk/src/utils/composer/__tests__/index.spec.ts
  packages/core/workflows-sdk/src/utils/composer/create-workflow.ts
  packages/modules/workflow-engine-redis/integration-tests/__tests__/index.spec.ts
Labels: type: bug, team: medusa

#9504 feat(dashboard): Add global search
  packages/admin/dashboard/src/components/common/thumbnail/thumbnail.tsx
  packages/admin/dashboard/src/components/search/constants.ts
  packages/admin/dashboard/src/components/search/search.tsx
  packages/admin/dashboard/src/components/search/types.ts
  packages/admin/dashboard/src/components/search/use-search-results.tsx
  packages/admin/dashboard/src/hooks/api/orders.tsx
  packages/admin/dashboard/src/i18n/translations/en.json
  packages/admin/dashboard/src/index.css
  packages/core/types/src/http/customer/admin/responses.ts
Labels: automerge, type: feature, team: medusa

#9531 chore: swc/jest source maps config to inline instead of true
  define_jest_config.js
Labels: type: chore, team: medusa

#9522 chore(): Allow to register modules through array
  integration-tests/modules/__tests__/cart/store/carts.spec.ts
  integration-tests/modules/__tests__/link-modules/define-link.spec.ts
  packages/core/core-flows/src/inventory/steps/attach-inventory-items.ts
  packages/core/modules-sdk/src/definitions.ts
  packages/core/modules-sdk/src/medusa-app.ts
  packages/core/utils/src/common/__fixtures__/define-config/github/index.ts
  packages/core/utils/src/common/__tests__/define-config.spec.ts
  packages/core/utils/src/common/define-config.ts
  packages/core/utils/src/event-bus/__tests__/message-aggregator.spec.ts
  packages/core/utils/src/modules-sdk/definition.ts
  packages/modules/api-key/integration-tests/__tests__/api-key-module-service.spec.ts
  packages/modules/auth/integration-tests/__tests__/auth-module-service/index.spec.ts
  packages/modules/cart/integration-tests/__tests__/services/cart-module/index.spec.ts
  packages/modules/currency/integration-tests/__tests__/currency-module-service.spec.ts
  packages/modules/customer/integration-tests/__tests__/services/customer-module/index.spec.ts
  packages/modules/fulfillment/integration-tests/__fixtures__/events.ts
  packages/modules/fulfillment/integration-tests/__tests__/fulfillment-module-service/index.spec.ts
  packages/modules/index/src/utils/default-schema.ts
  packages/modules/inventory-next/integration-tests/__tests__/inventory-module-service.spec.ts
  packages/modules/notification/integration-tests/__tests__/notification-module-service/index.spec.ts
  packages/modules/order/integration-tests/__tests__/index.spec.ts
  packages/modules/payment/integration-tests/__tests__/services/payment-module/index.spec.ts
  packages/modules/pricing/integration-tests/__tests__/services/pricing-module/index.spec.ts
  packages/modules/product/integration-tests/__tests__/product-module-service/product-categories.spec.ts
  packages/modules/product/integration-tests/__tests__/product-module-service/product-collections.spec.ts
  packages/modules/product/integration-tests/__tests__/product.ts
  packages/modules/promotion/integration-tests/__tests__/services/promotion-module/promotion.spec.ts
  packages/modules/region/integration-tests/__tests__/region-module.spec.ts
  packages/modules/sales-channel/integration-tests/__tests__/services/sales-channel-module.spec.ts
  packages/modules/stock-location-next/integration-tests/__tests__/stock-location-module-service.spec.ts
  packages/modules/store/integration-tests/__tests__/store-module-service.spec.ts
  packages/modules/tax/integration-tests/__tests__/index.spec.ts
  packages/modules/user/integration-tests/__tests__/user.spec.ts
  packages/modules/workflow-engine-inmemory/integration-tests/__tests__/index.spec.ts
  packages/modules/workflow-engine-redis/integration-tests/__tests__/index.spec.ts
Labels: type: chore, has: breaking changes, team: medusa

#9498 docs: improve commerce modules [1/n]
  www/apps/resources/app/commerce-modules/api-key/concepts/page.mdx
  www/apps/resources/app/commerce-modules/api-key/examples/page.mdx
  www/apps/resources/app/commerce-modules/api-key/links-to-other-modules/page.mdx
  www/apps/resources/app/commerce-modules/api-key/page.mdx
  www/apps/resources/app/commerce-modules/auth/auth-identity-and-actor-types/page.mdx
  www/apps/resources/app/commerce-modules/auth/auth-providers/emailpass/page.mdx
  www/apps/resources/app/commerce-modules/auth/auth-providers/github/page.mdx
  www/apps/resources/app/commerce-modules/auth/auth-providers/google/page.mdx
  www/apps/resources/app/commerce-modules/auth/auth-providers/page.mdx
  www/apps/resources/app/commerce-modules/auth/create-actor-type/page.mdx
  www/apps/resources/app/commerce-modules/auth/examples/page.mdx
  www/apps/resources/app/commerce-modules/auth/module-options/page.mdx
  www/apps/resources/app/commerce-modules/auth/page.mdx
  www/apps/resources/app/commerce-modules/auth/reset-password/page.mdx
  www/apps/resources/app/commerce-modules/cart/concepts/page.mdx
  www/apps/resources/app/commerce-modules/cart/examples/page.mdx
  www/apps/resources/app/commerce-modules/cart/extend/page.mdx
  www/apps/resources/app/commerce-modules/cart/links-to-other-modules/page.mdx
  www/apps/resources/app/commerce-modules/cart/page.mdx
  www/apps/resources/app/commerce-modules/cart/promotions/page.mdx
  www/apps/resources/app/commerce-modules/cart/relations-to-other-modules/page.mdx
  www/apps/resources/app/commerce-modules/cart/tax-lines/page.mdx
  www/apps/resources/app/commerce-modules/page.mdx
  www/apps/resources/app/troubleshooting/dist-imports/page.mdx
  www/apps/resources/generated/edit-dates.mjs
  www/apps/resources/generated/files-map.mjs
  www/apps/resources/generated/sidebar.mjs
  www/apps/resources/next.config.mjs
  www/apps/resources/sidebar.mjs
Labels: type: docs, automerge, team: medusa

#9524 feat(locking): Locking module
  .changeset/little-books-reply.md
  .eslintignore
  .eslintrc.js
  .gitignore
  packages/core/framework/src/types/container.ts
  packages/core/modules-sdk/src/definitions.ts
  packages/core/modules-sdk/src/medusa-app.ts
  packages/core/types/src/index.ts
  packages/core/types/src/locking/index.ts
  packages/core/types/src/modules-sdk/module-provider.ts
  packages/core/utils/src/modules-sdk/definition.ts
  packages/core/utils/src/modules-sdk/medusa-internal-service.ts
  packages/medusa/package.json
  packages/medusa/src/modules/locking.ts
  packages/modules/locking/.gitignore
  packages/modules/locking/integration-tests/__tests__/index.spec.ts
  packages/modules/locking/jest.config.js
  packages/modules/locking/mikro-orm.config.dev.ts
  packages/modules/locking/package.json
  packages/modules/locking/src/index.ts
  packages/modules/locking/src/loaders/providers.ts
  packages/modules/locking/src/providers/in-memory.ts
  packages/modules/locking/src/services/index.ts
  packages/modules/locking/src/services/locking-module.ts
  packages/modules/locking/src/services/locking-provider.ts
  packages/modules/locking/src/types/index.ts
  packages/modules/locking/tsconfig.json
  yarn.lock
Labels: automerge, type: feature, team: medusa

#9532 fix: do not pass additional_data to service
  packages/core/core-flows/src/cart/workflows/update-cart.ts
Labels: type: bug, automerge, team: medusa

#9537 fix(dashboard,ui): Fixes to Combobox and CategoryCombobox
  packages/admin/dashboard/src/components/inputs/combobox/combobox.tsx
  packages/admin/dashboard/src/hooks/use-combobox-data.tsx
  packages/admin/dashboard/src/routes/products/common/components/category-combobox/category-combobox.tsx
  packages/admin/dashboard/src/routes/products/product-organization/components/product-organization-form/product-organization-form.tsx
  packages/design-system/ui/package.json
  packages/design-system/ui/src/components/drawer/drawer.tsx
  packages/design-system/ui/src/components/text/text.tsx
  yarn.lock
Labels: type: bug, automerge, team: medusa

#9446 docs: small structure fixed to db command reference
  www/apps/resources/app/medusa-cli/commands/db/page.mdx
Labels: type: docs, automerge, team: medusa

#9449 docs: add guide on how to seed data
  www/apps/book/app/advanced-development/custom-cli-scripts/seed-data/page.mdx
  www/apps/book/app/advanced-development/module-links/custom-columns/page.mdx
  www/apps/book/app/advanced-development/modules/db-operations/page.mdx
  www/apps/book/app/more-resources/examples/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/sidebar.mjs
Labels: type: docs, automerge, team: medusa

#9491 docs: added documentation for admin components
  www/apps/book/app/advanced-development/admin/page.mdx
  www/apps/book/app/advanced-development/admin/tips/page.mdx
  www/apps/book/app/advanced-development/admin/ui-routes/page.mdx
  www/apps/book/app/advanced-development/admin/widgets/page.mdx
  www/apps/book/app/basics/admin-customizations/page.mdx
  www/apps/book/app/customization/customize-admin/route/page.mdx
  www/apps/book/app/customization/customize-admin/widget/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/resources/app/admin-components/components/action-menu/page.mdx
  www/apps/resources/app/admin-components/components/container/page.mdx
  www/apps/resources/app/admin-components/components/forms/page.mdx
  www/apps/resources/app/admin-components/components/header/page.mdx
  www/apps/resources/app/admin-components/components/json-view-section/page.mdx
  www/apps/resources/app/admin-components/components/section-row/page.mdx
  www/apps/resources/app/admin-components/components/table/page.mdx
  www/apps/resources/app/admin-components/layouts/single-column/page.mdx
  www/apps/resources/app/admin-components/layouts/two-column/page.mdx
  www/apps/resources/app/admin-components/page.mdx
  www/apps/resources/generated/edit-dates.mjs
  www/apps/resources/generated/files-map.mjs
  www/apps/resources/generated/sidebar.mjs
  www/apps/resources/sidebar.mjs
Labels: type: docs, automerge, team: medusa

#9510 docs: improve commerce modules [3/n]
  www/apps/resources/app/commerce-modules/order/claim/page.mdx
  www/apps/resources/app/commerce-modules/order/concepts/page.mdx
  www/apps/resources/app/commerce-modules/order/edit/page.mdx
  www/apps/resources/app/commerce-modules/order/exchange/page.mdx
  www/apps/resources/app/commerce-modules/order/links-to-other-modules/page.mdx
  www/apps/resources/app/commerce-modules/order/order-change/page.mdx
  www/apps/resources/app/commerce-modules/order/order-versioning/page.mdx
  www/apps/resources/app/commerce-modules/order/page.mdx
  www/apps/resources/app/commerce-modules/order/promotion-adjustments/page.mdx
  www/apps/resources/app/commerce-modules/order/relations-to-other-modules/page.mdx
  www/apps/resources/app/commerce-modules/order/return/page.mdx
  www/apps/resources/app/commerce-modules/order/tax-lines/page.mdx
  www/apps/resources/app/commerce-modules/order/transactions/page.mdx
  www/apps/resources/app/commerce-modules/payment/examples/page.mdx
  www/apps/resources/app/commerce-modules/payment/links-to-other-modules/page.mdx
  www/apps/resources/app/commerce-modules/payment/module-options/page.mdx
  www/apps/resources/app/commerce-modules/payment/page.mdx
  www/apps/resources/app/commerce-modules/payment/payment-collection/page.mdx
  www/apps/resources/app/commerce-modules/payment/payment-flow/page.mdx
  www/apps/resources/app/commerce-modules/payment/payment-provider/page.mdx
  www/apps/resources/app/commerce-modules/payment/payment-provider/stripe/page.mdx
  www/apps/resources/app/commerce-modules/payment/payment-session/page.mdx
  www/apps/resources/app/commerce-modules/payment/payment/page.mdx
  www/apps/resources/app/commerce-modules/payment/relations-to-other-modules/page.mdx
  www/apps/resources/app/commerce-modules/payment/webhook-events/page.mdx
  www/apps/resources/generated/edit-dates.mjs
  www/apps/resources/generated/files-map.mjs
  www/apps/resources/generated/sidebar.mjs
  www/apps/resources/next.config.mjs
  www/apps/resources/sidebar.mjs
Labels: type: docs, automerge, team: medusa

#9549 fix(dashboard): Adds routes for handling tax overrides for provinces
  packages/admin/dashboard/src/index.css
  packages/admin/dashboard/src/providers/router-provider/route-map.tsx
  packages/admin/dashboard/src/providers/theme-provider/theme-provider.tsx
  packages/admin/dashboard/src/routes/tax-regions/tax-region-tax-override-create/tax-region-tax-override-create.tsx
Labels: type: bug, team: medusa

#9534 fix(utils): Cascade soft deletion management
  packages/core/utils/src/dal/mikro-orm/utils.ts
  packages/core/utils/src/dml/integration-tests/__tests__/many-to-one.spec.ts
Labels: type: bug, team: medusa

#9554 fix(dashboard): Show SO name in DataGrid
  packages/admin/dashboard/src/routes/locations/common/hooks/use-shipping-option-price-columns.tsx
  packages/admin/dashboard/src/routes/locations/location-service-zone-shipping-option-pricing/components/create-shipping-options-form/edit-shipping-options-pricing-form.tsx
Labels: type: bug, automerge, team: medusa

#9555 fix(dashboard): Hide note input on orders
  packages/admin/dashboard/src/routes/orders/order-detail/components/order-activity-section/order-activity-section.tsx
Labels: type: bug, automerge, team: medusa

#9553 fix(dashboard): Show progress on tabs in create form
  packages/admin/dashboard/src/i18n/translations/en.json
  packages/admin/dashboard/src/routes/promotions/promotion-create/components/create-promotion-form/create-promotion-form.tsx
  packages/admin/dashboard/src/routes/promotions/promotion-edit-details/components/edit-promotion-form/edit-promotion-details-form.tsx
Labels: type: bug, automerge, team: medusa

#9558 docs: updates for breaking changes
  www/apps/book/app/advanced-development/api-routes/cors/page.mdx
  www/apps/book/app/advanced-development/modules/container/page.mdx
  www/apps/book/app/advanced-development/modules/multiple-services/page.mdx
  www/apps/book/app/advanced-development/modules/options/page.mdx
  www/apps/book/app/basics/modules/page.mdx
  www/apps/book/app/basics/project-directories-files/page.mdx
  www/apps/book/app/customization/custom-features/module/page.mdx
  www/apps/book/app/customization/integrate-systems/service/page.mdx
  www/apps/book/app/debugging-and-testing/instrumentation/page.mdx
  www/apps/book/app/debugging-and-testing/logging/page.mdx
  www/apps/resources/app/architectural-modules/cache/create/page.mdx
  www/apps/resources/app/architectural-modules/cache/in-memory/page.mdx
  www/apps/resources/app/architectural-modules/cache/redis/page.mdx
  www/apps/resources/app/architectural-modules/event/create/page.mdx
  www/apps/resources/app/architectural-modules/event/local/page.mdx
  www/apps/resources/app/architectural-modules/event/redis/page.mdx
  www/apps/resources/app/architectural-modules/file/local/page.mdx
  www/apps/resources/app/architectural-modules/file/s3/page.mdx
  www/apps/resources/app/architectural-modules/notification/local/page.mdx
  www/apps/resources/app/architectural-modules/notification/page.mdx
  www/apps/resources/app/architectural-modules/notification/sendgrid/page.mdx
  www/apps/resources/app/architectural-modules/workflow-engine/in-memory/page.mdx
  www/apps/resources/app/architectural-modules/workflow-engine/redis/page.mdx
  www/apps/resources/app/commerce-modules/auth/auth-providers/emailpass/page.mdx
  www/apps/resources/app/commerce-modules/auth/auth-providers/github/page.mdx
  www/apps/resources/app/commerce-modules/auth/auth-providers/google/page.mdx
  www/apps/resources/app/commerce-modules/auth/auth-providers/page.mdx
  www/apps/resources/app/commerce-modules/auth/module-options/page.mdx
  www/apps/resources/app/commerce-modules/cart/extend/page.mdx
  www/apps/resources/app/commerce-modules/customer/extend/page.mdx
  www/apps/resources/app/commerce-modules/fulfillment/module-options/page.mdx
  www/apps/resources/app/commerce-modules/payment/module-options/page.mdx
  www/apps/resources/app/commerce-modules/payment/payment-provider/stripe/page.mdx
  www/apps/resources/app/commerce-modules/tax/module-options/page.mdx
  www/apps/resources/app/commerce-modules/user/module-options/page.mdx
  www/apps/resources/app/deployment/admin/vercel/page.mdx
  www/apps/resources/app/deployment/medusa-application/railway/page.mdx
  www/apps/resources/app/medusa-container-resources/page.mdx
  www/apps/resources/app/recipes/commerce-automation/page.mdx
  www/apps/resources/app/recipes/digital-products/examples/standard/page.mdx
  www/apps/resources/app/recipes/integrate-ecommerce-stack/page.mdx
  www/apps/resources/app/recipes/marketplace/examples/restaurant-delivery/page.mdx
  www/apps/resources/app/recipes/marketplace/examples/vendors/page.mdx
  www/apps/resources/app/recipes/subscriptions/examples/standard/page.mdx
  www/apps/resources/app/storefront-development/tips/page.mdx
  www/apps/resources/app/troubleshooting/_sections/other/cors-errors.mdx
  www/apps/resources/app/troubleshooting/medusa-admin/no-widget-route/page.mdx
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/auth-provider.ts
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/file.ts
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/fulfillment-provider.ts
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/medusa-config.ts
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/notification.ts
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/payment-provider.ts
Labels: type: docs, automerge, team: medusa

#9559 chore(framework): update TSDocs for medusa config
  packages/core/framework/src/config/types.ts
Labels: type: chore, team: medusa

#9542 fix: Add shipping method data validation
  integration-tests/modules/__tests__/cart/store/cart.workflows.spec.ts
  packages/core/core-flows/src/cart/steps/validate-shipping-methods-data.ts
  packages/core/core-flows/src/cart/workflows/add-shipping-method-to-cart.ts
  packages/core/types/src/fulfillment/service.ts
  packages/core/utils/src/fulfillment/provider.ts
  packages/medusa/src/api/store/carts/[id]/shipping-methods/route.ts
  packages/modules/fulfillment/src/services/fulfillment-module-service.ts
Labels: type: bug, team: medusa

#9557 chore(product): Update the events emitted from the product module
  packages/core/utils/src/product/events.ts
  packages/modules/product/integration-tests/__tests__/product-module-service/product-collections.spec.ts
  packages/modules/product/integration-tests/__tests__/product-module-service/products.spec.ts
  packages/modules/product/src/services/product-module-service.ts
  packages/modules/product/src/types/index.ts
  packages/modules/product/src/utils/events.ts
Labels: type: chore, team: medusa

#9563 fix(dashboard): Change icon of Shipping Profiles card
  packages/admin/dashboard/src/routes/locations/location-list/location-list.tsx
Labels: type: bug, automerge, team: medusa

#9562 fix(dashboard): Prevent category names from overflowing in organize section
  packages/admin/dashboard/src/routes/categories/category-detail/components/category-organize-section/category-organize-section.tsx
Labels: type: bug, automerge, team: medusa

#9560 fix: Link migration descriptor case changes and hash computation
  packages/core/utils/src/dal/mikro-orm/mikro-orm-create-connection.ts
  packages/core/utils/src/dal/utils.ts
  packages/modules/link-modules/integration-tests/__fixtures__/migrations.ts
  packages/modules/link-modules/integration-tests/__tests__/migrations.spec.ts
  packages/modules/link-modules/src/migration/index.ts
  packages/modules/link-modules/src/utils/generate-entity.ts
Labels: type: bug, automerge, team: medusa

#9561 fix(dashboard): Translate breadcrumbs
  packages/admin/dashboard/src/i18n/translations/en.json
  packages/admin/dashboard/src/i18n/translations/index.ts
  packages/admin/dashboard/src/providers/router-provider/route-map.tsx
Labels: type: bug, automerge, team: medusa

#9565 fix(create-medusa-app): use db:migrate to run migrations
  .github/workflows/test-cli-with-database.yml
  packages/cli/create-medusa-app/src/utils/prepare-project.ts
Labels: type: bug, automerge, team: medusa

#9528 fix(core-flows, link-module): product <> inventory delete cascades
  integration-tests/http/__tests__/inventory/admin/inventory.spec.ts
  integration-tests/http/__tests__/product/admin/product.spec.ts
  packages/core/core-flows/src/inventory/steps/delete-inventory-items.ts
  packages/core/core-flows/src/inventory/workflows/delete-inventory-items.ts
  packages/core/core-flows/src/product/workflows/delete-product-variants.ts
  packages/core/core-flows/src/product/workflows/delete-products.ts
  packages/modules/link-modules/src/definitions/product-variant-inventory-item.ts
Labels: type: bug, automerge, team: medusa

#9535 fix(dashboard): reservation inventory details
  packages/admin/dashboard/src/routes/reservations/reservation-detail/reservation-detail.tsx
Labels: type: bug, automerge, team: medusa

#9290 chore: update slack message
  .github/workflows/trigger-release.yml
Labels: type: chore, automerge, team: medusa

#9171 feat(core-flows, product): options checks on product create/update
  integration-tests/http/__tests__/claims/claims.spec.ts
  integration-tests/http/__tests__/collection/admin/colllection.spec.ts
  integration-tests/http/__tests__/exchanges/exchanges.spec.ts
  integration-tests/http/__tests__/inventory/admin/inventory.spec.ts
  integration-tests/http/__tests__/order-edits/order-edits.spec.ts
  integration-tests/http/__tests__/product-category/admin/product-category.spec.ts
  integration-tests/http/__tests__/product/admin/product.spec.ts
  integration-tests/http/__tests__/product/admin/variant.spec.ts
  integration-tests/http/__tests__/product/store/product.spec.ts
  integration-tests/http/__tests__/promotions/admin/promotions.spec.ts
  integration-tests/http/__tests__/returns/returns.spec.ts
  integration-tests/http/__tests__/sales-channel/admin/sales-channel.spec.ts
  integration-tests/modules/__tests__/common/workflows.spec.ts
  integration-tests/modules/__tests__/product/workflows/batch-products.spec.ts
  packages/admin/dashboard/src/routes/product-variants/product-variant-edit/components/product-edit-variant-form/product-edit-variant-form.tsx
  packages/admin/dashboard/src/routes/products/product-create-variant/components/create-product-variant-form/create-product-variant-form.tsx
  packages/core/core-flows/src/product/workflows/create-products.ts
  packages/modules/product/integration-tests/__fixtures__/product/data/create-product.ts
  packages/modules/product/integration-tests/__tests__/product-module-service/product-variants.spec.ts
  packages/modules/product/integration-tests/__tests__/product-module-service/products.spec.ts
  packages/modules/product/src/services/product-module-service.ts
Labels: type: bug, automerge, team: medusa

#9403 chore: Remove Query Filter
  packages/core/modules-sdk/src/remote-query/to-remote-query.ts
  packages/core/types/src/modules-sdk/index.ts
  packages/core/types/src/modules-sdk/query-filter.ts
  packages/core/utils/src/modules-sdk/index.ts
  packages/core/utils/src/modules-sdk/query-filter.ts
Labels: type: chore, automerge, team: medusa

#9591 fix(utils): update medusa config resolution for consistency
  packages/cli/medusa-dev-cli/src/index.js
  packages/core/framework/src/config/__tests__/index.spec.ts
  packages/core/framework/src/config/loader.ts
  packages/core/utils/src/common/get-config-file.ts
  packages/medusa-test-utils/src/medusa-test-runner-utils/config.ts
  packages/medusa/src/commands/build.ts
  packages/medusa/src/loaders/index.ts
  packages/modules/index/integration-tests/__tests__/index-engine-module.spec.ts
  packages/modules/index/integration-tests/__tests__/query-builder.spec.ts
Labels: type: bug, team: medusa

#9589 fix(utils): Reversed module package missing references
  packages/core/utils/src/modules-sdk/definition.ts
Labels: type: bug, automerge, team: medusa

#9584 chore: Update admin build/serve configuration
  packages/admin/admin-bundler/src/types.ts
  packages/cli/medusa-cli/src/create-cli.ts
  packages/core/types/src/common/config-module.ts
  packages/core/utils/src/common/__tests__/define-config.spec.ts
  packages/core/utils/src/common/define-config.ts
  packages/medusa/src/commands/build.ts
  packages/medusa/src/loaders/admin.ts
  packages/medusa/src/utils/admin-consts.ts
  packages/medusa/src/utils/index.ts
Labels: type: chore, automerge, has: breaking changes, team: medusa

#9595 fix(admin-vite-plugin): Normalize file paths and add tests
  packages/admin/admin-vite-plugin/package.json
  packages/admin/admin-vite-plugin/src/custom-fields/generate-custom-field-displays.ts
  packages/admin/admin-vite-plugin/src/custom-fields/generate-custom-field-forms.ts
  packages/admin/admin-vite-plugin/src/custom-fields/generate-custom-field-links.ts
  packages/admin/admin-vite-plugin/src/routes/__tests__/generate-menu-items.spec.ts
  packages/admin/admin-vite-plugin/src/routes/__tests__/generate-routes.spec.ts
  packages/admin/admin-vite-plugin/src/routes/generate-menu-items.ts
  packages/admin/admin-vite-plugin/src/utils.ts
  packages/admin/admin-vite-plugin/src/widgets/__tests__/generate-widgets.spec.ts
  packages/admin/admin-vite-plugin/src/widgets/generate-widgets.ts
  packages/admin/admin-vite-plugin/tsconfig.build.json
  packages/admin/admin-vite-plugin/tsconfig.json
  packages/admin/admin-vite-plugin/tsup.config.ts
  packages/admin/admin-vite-plugin/vitest.config.ts
  yarn.lock
Labels: type: bug, automerge, team: medusa

#9590 docs: fix package names in module registration
  www/apps/resources/app/architectural-modules/cache/in-memory/page.mdx
  www/apps/resources/app/architectural-modules/cache/redis/page.mdx
  www/apps/resources/app/architectural-modules/event/local/page.mdx
  www/apps/resources/app/architectural-modules/event/redis/page.mdx
  www/apps/resources/app/architectural-modules/file/local/page.mdx
  www/apps/resources/app/architectural-modules/file/s3/page.mdx
  www/apps/resources/app/architectural-modules/notification/local/page.mdx
  www/apps/resources/app/architectural-modules/notification/page.mdx
  www/apps/resources/app/architectural-modules/notification/sendgrid/page.mdx
  www/apps/resources/app/architectural-modules/workflow-engine/in-memory/page.mdx
  www/apps/resources/app/architectural-modules/workflow-engine/redis/page.mdx
  www/apps/resources/app/commerce-modules/auth/module-options/page.mdx
  www/apps/resources/app/commerce-modules/fulfillment/module-options/page.mdx
  www/apps/resources/app/commerce-modules/payment/module-options/page.mdx
  www/apps/resources/app/commerce-modules/payment/payment-provider/stripe/page.mdx
  www/apps/resources/app/deployment/medusa-application/railway/page.mdx
  www/apps/resources/app/recipes/digital-products/examples/standard/page.mdx
  www/apps/resources/generated/edit-dates.mjs
  www/apps/resources/references/auth_provider/classes/auth_provider.AbstractAuthModuleProvider/page.mdx
  www/apps/resources/references/file/classes/file.AbstractFileProviderService/page.mdx
  www/apps/resources/references/fulfillment_provider/classes/fulfillment_provider.AbstractFulfillmentProviderService/page.mdx
  www/apps/resources/references/notification/classes/notification.AbstractNotificationProviderService/page.mdx
  www/apps/resources/references/payment_provider/classes/payment_provider.AbstractPaymentProvider/page.mdx
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/auth-provider.ts
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/fulfillment-provider.ts
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/notification.ts
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/payment-provider.ts
Labels: type: docs, automerge, team: medusa

#9602 fix(admin-vite-plugin): Replace slashes for Windows
  packages/admin/admin-vite-plugin/src/utils.ts
Labels: type: bug, automerge, team: medusa

#9601 fix: resolve provider path before requiring it
  packages/core/modules-sdk/src/loaders/register-modules.ts
  packages/core/modules-sdk/src/loaders/utils/load-internal.ts
Labels: type: bug, team: medusa

#9605 docs: update resolve path to use src
  www/apps/book/app/advanced-development/modules/options/page.mdx
  www/apps/book/app/basics/modules/page.mdx
  www/apps/book/app/customization/custom-features/module/page.mdx
  www/apps/book/app/customization/integrate-systems/service/page.mdx
  www/apps/book/app/debugging-and-testing/testing-tools/modules-tests/module-example/page.mdx
  www/apps/book/app/debugging-and-testing/testing-tools/modules-tests/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/resources/app/architectural-modules/cache/create/page.mdx
  www/apps/resources/app/architectural-modules/event/create/page.mdx
  www/apps/resources/app/commerce-modules/tax/module-options/page.mdx
  www/apps/resources/app/recipes/commerce-automation/page.mdx
  www/apps/resources/app/recipes/digital-products/examples/standard/page.mdx
  www/apps/resources/app/recipes/integrate-ecommerce-stack/page.mdx
  www/apps/resources/app/recipes/marketplace/examples/restaurant-delivery/page.mdx
  www/apps/resources/app/recipes/marketplace/examples/vendors/page.mdx
  www/apps/resources/app/recipes/subscriptions/examples/standard/page.mdx
  www/apps/resources/app/test-tools-reference/moduleIntegrationTestRunner/page.mdx
  www/apps/resources/generated/edit-dates.mjs
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/auth-provider.ts
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/file.ts
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/fulfillment-provider.ts
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/notification.ts
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/payment-provider.ts
Labels: type: docs, automerge, team: medusa

#9603 docs-util: fixes for OAS docs generator + framework typedoc config
  www/utils/packages/docs-generator/src/classes/helpers/oas-schema.ts
  www/utils/packages/docs-generator/src/classes/helpers/schema-factory.ts
  www/utils/packages/docs-generator/src/classes/kinds/oas.ts
  www/utils/packages/typedoc-config/framework.json
Labels: type: docs, team: medusa

#9581 fix(types): logger
  packages/core/types/src/logger/index.ts
  packages/medusa/src/types/global.ts
Labels: type: bug, team: medusa

#9604 docs: added documentation for build command
  www/apps/resources/.gitignore
  www/apps/resources/app/deployment/admin/vercel/page.mdx
  www/apps/resources/app/medusa-cli/commands/build/page.mdx
  www/apps/resources/generated/edit-dates.mjs
  www/apps/resources/generated/files-map.mjs
  www/apps/resources/generated/sidebar.mjs
Labels: type: docs, automerge, team: medusa

#9587 docs: added examples page
  www/apps/book/app/advanced-development/modules/container/page.mdx
  www/apps/book/app/advanced-development/modules/db-operations/page.mdx
  www/apps/book/app/advanced-development/modules/options/page.mdx
  www/apps/book/app/basics/modules/page.mdx
  www/apps/book/app/more-resources/examples/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/next.config.mjs
  www/apps/resources/app/commerce-modules/payment/payment-provider/page.mdx
  www/apps/resources/app/examples/page.mdx
  www/apps/resources/app/integrations/page.mdx
  www/apps/resources/generated/edit-dates.mjs
  www/apps/resources/generated/files-map.mjs
  www/apps/resources/generated/sidebar.mjs
  www/apps/resources/sidebar.mjs
  www/packages/docs-ui/src/constants.tsx
Labels: type: docs, automerge, team: medusa

#9382 docs: fix heroku typo
  www/apps/book/app/deployment/page.mdx
Labels: type: docs, automerge, team: medusa

#9383 docs(v1.x): fix incorrect display of route path
  www/apps/api-reference/utils/get-paths-of-tag.ts
  www/apps/docs/content/development/entities/repositories.md
  www/apps/docs/content/plugins/search/meilisearch.md
Labels: type: docs, automerge, team: medusa

#9579 docs: update providers to use ModuleProvider
  www/utils/packages/typedoc-generate-references/src/constants/custom-options.ts
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/auth-provider.ts
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/file.ts
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/fulfillment-provider.ts
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/notification.ts
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/payment-provider.ts
Labels: type: docs, automerge, team: medusa

#9610 fix(dashboard): Set correct method value on promotion
  packages/admin/dashboard/src/hooks/table/columns/use-promotion-table-columns.tsx
  packages/admin/dashboard/src/i18n/translations/en.json
  packages/admin/dashboard/src/routes/promotions/promotion-detail/components/promotion-general-section/promotion-general-section.tsx
Labels: type: bug, automerge, team: medusa

#9615 fix(utils): Mikro orm joined selection issue when select-in strategy
  packages/core/types/src/dal/index.ts
  packages/core/utils/src/dal/mikro-orm/mikro-orm-repository.ts
Labels: type: bug, team: medusa

#9608 fix(modules-sdk): Add missing paths to require.resolve in load resources
  packages/core/modules-sdk/src/loaders/__tests__/module-loader.ts
  packages/core/modules-sdk/src/loaders/utils/load-internal.ts
Labels: type: bug, automerge, team: medusa

#9616 chore(medusa): default endpoints size limit
  packages/medusa/src/api/admin/inventory-items/middlewares.ts
  packages/medusa/src/api/admin/price-lists/middlewares.ts
  packages/medusa/src/api/admin/products/middlewares.ts
  packages/medusa/src/api/admin/promotions/middlewares.ts
  packages/medusa/src/api/admin/shipping-options/middlewares.ts
  packages/medusa/src/utils/middlewares/index.ts
Labels: type: chore, team: medusa

#9585 feat(core-flows): cart events
  packages/core/core-flows/src/cart/workflows/add-shipping-method-to-cart.ts
  packages/core/core-flows/src/cart/workflows/add-to-cart.ts
  packages/core/core-flows/src/cart/workflows/create-carts.ts
  packages/core/core-flows/src/cart/workflows/update-cart.ts
  packages/core/core-flows/src/cart/workflows/update-line-item-in-cart.ts
  packages/core/utils/src/core-flows/events.ts
Labels: type: feature, team: medusa

#9619 Switch the headings to match the content
  www/apps/resources/app/integrations/page.mdx
Labels: type: docs, automerge

#9622 fix(product): options validation if ids are same
  packages/modules/product/integration-tests/__tests__/product-module-service/products.spec.ts
  packages/modules/product/src/services/product-module-service.ts
Labels: type: bug, automerge, team: medusa

#9624 fix(dashboard,ui): Fix outline flash on FocusModal
  packages/admin/dashboard/src/components/inputs/combobox/combobox.tsx
  packages/design-system/ui/src/components/focus-modal/focus-modal.tsx
Labels: type: bug, automerge, team: medusa

#9631 chore: Prepare changeset for 2.0 release
  .changeset/cold-bikes-build.md
  .changeset/early-badgers-complain.md
  .changeset/five-spies-ring.md
  .changeset/flat-timers-report.md
  .changeset/gentle-zebras-poke.md
  .changeset/gorgeous-fireants-share.md
  .changeset/happy-mirrors-decide.md
  .changeset/healthy-shirts-lick.md
  .changeset/honest-zoos-play.md
  .changeset/itchy-forks-relate.md
  .changeset/large-dots-beg.md
  .changeset/little-books-reply.md
  .changeset/long-islands-press.md
  .changeset/long-waves-itch.md
  .changeset/moody-days-drive.md
  .changeset/nine-brooms-try.md
  .changeset/old-candles-cough.md
  .changeset/olive-tigers-mate.md
  .changeset/perfect-fishes-listen.md
  .changeset/pink-dolls-kiss.md
  .changeset/quick-beans-share.md
  .changeset/real-rabbits-press.md
  .changeset/seven-suits-dream.md
  .changeset/shiny-apples-serve.md
  .changeset/shiny-pianos-hammer.md
  .changeset/silver-coats-learn.md
  .changeset/silver-lemons-fly.md
  .changeset/slimy-cobras-search.md
  .changeset/soft-elephants-switch.md
  .changeset/spicy-panthers-exist.md
  .changeset/strong-rabbits-exercise.md
  .changeset/thick-carpets-battle.md
  .changeset/weak-cherries-lie.md
  .changeset/wise-zebras-shave.md
  .changeset/witty-waves-wink.md
Labels: type: chore, team: medusa

#9621 fix: Add free text search on reservations
  integration-tests/http/__tests__/reservations/admin/reservations.spec.ts
  packages/medusa/src/api/admin/reservations/validators.ts
  packages/modules/inventory/src/models/reservation-item.ts
Labels: type: bug, team: medusa

#9520 fix(dashboard): cleanup Payments section
  packages/admin/dashboard/src/components/common/display-id/display-id.tsx
  packages/admin/dashboard/src/components/common/display-id/index.ts
  packages/admin/dashboard/src/i18n/translations/en.json
  packages/admin/dashboard/src/routes/orders/order-detail/components/copy-payment-link/copy-payment-link.tsx
  packages/admin/dashboard/src/routes/orders/order-detail/components/order-payment-section/order-payment-section.tsx
Labels: type: bug, automerge, team: medusa

#9634 feat(core-flows,types,medusa): Add tax region update API
  integration-tests/http/__tests__/tax-region/admin/tax-region.spec.ts
  packages/core/core-flows/src/tax/steps/update-tax-regions.ts
  packages/core/core-flows/src/tax/workflows/index.ts
  packages/core/core-flows/src/tax/workflows/update-tax-regions.ts
  packages/core/types/src/tax/mutations.ts
  packages/core/types/src/tax/service.ts
  packages/medusa/src/api/admin/tax-regions/[id]/route.ts
  packages/medusa/src/api/admin/tax-regions/middlewares.ts
  packages/medusa/src/api/admin/tax-regions/validators.ts
Labels: type: feature, team: medusa

#9545 fea(providers): locking postgres
  .changeset/tiny-coins-approve.md
  .eslintignore
  .eslintrc.js
  packages/medusa/package.json
  packages/medusa/src/modules/locking-postgres.ts
  packages/modules/providers/locking-postgres/.gitignore
  packages/modules/providers/locking-postgres/integration-tests/__tests__/index.spec.ts
  packages/modules/providers/locking-postgres/jest.config.js
  packages/modules/providers/locking-postgres/mikro-orm.config.dev.ts
  packages/modules/providers/locking-postgres/package.json
  packages/modules/providers/locking-postgres/src/index.ts
  packages/modules/providers/locking-postgres/src/migrations/.snapshot-medusa-locking-postgres.json
  packages/modules/providers/locking-postgres/src/migrations/Migration20241009222919_InitialSetupMigration.ts
  packages/modules/providers/locking-postgres/src/models/index.ts
  packages/modules/providers/locking-postgres/src/models/locking.ts
  packages/modules/providers/locking-postgres/src/services/advisory-lock.ts
  packages/modules/providers/locking-postgres/tsconfig.json
  yarn.lock
Labels: automerge, type: feature, team: medusa

#9637 fix(dashboard): Fix styling of nested NavLinks
  packages/admin/dashboard/src/components/layout/nav-item/nav-item.tsx
  packages/admin/dashboard/src/extensions/dashboard-extension-manager/dashboard-extension-manager.tsx
Labels: type: bug, automerge, team: medusa

#9640 fix(docs): update workflow API example to include query parameter
  www/apps/book/app/basics/workflows/page.mdx
Labels: type: docs, automerge

#9645 fix(ui): Fix Avatar styling
  packages/design-system/ui/src/components/avatar/avatar.stories.tsx
  packages/design-system/ui/src/components/avatar/avatar.tsx
Labels: type: bug, automerge, team: medusa

#9633 fix(core-flows, types): general fixes to types and tsdocs
  packages/core/core-flows/src/common/steps/use-query-graph.ts
  packages/core/types/src/index-data/common.ts
  packages/core/types/src/inventory/service.ts
  packages/core/types/src/order/common.ts
Labels: type: bug, automerge, team: medusa

#9641 docs: update curl request to /admin/products
  www/apps/book/app/advanced-development/api-routes/additional-data/page.mdx
  www/apps/book/app/customization/extend-models/extend-create-product/page.mdx
  www/apps/resources/app/commerce-modules/product/extend/page.mdx
  www/utils/generated/oas-output/operations/admin/post_admin_products.ts
  www/utils/generated/oas-output/schemas/AdminCreateProduct.ts
Labels: type: docs, automerge, team: medusa

#9635 chore(js-sdk): add ignore tsdoc tag to client and constructor of inner classes
  packages/core/js-sdk/src/admin/api-key.ts
  packages/core/js-sdk/src/admin/campaign.ts
  packages/core/js-sdk/src/admin/claim.ts
  packages/core/js-sdk/src/admin/currency.ts
  packages/core/js-sdk/src/admin/customer-group.ts
  packages/core/js-sdk/src/admin/customer.ts
  packages/core/js-sdk/src/admin/exchange.ts
  packages/core/js-sdk/src/admin/fulfillment-provider.ts
  packages/core/js-sdk/src/admin/fulfillment-set.ts
  packages/core/js-sdk/src/admin/fulfillment.ts
  packages/core/js-sdk/src/admin/inventory-item.ts
  packages/core/js-sdk/src/admin/invite.ts
  packages/core/js-sdk/src/admin/notification.ts
  packages/core/js-sdk/src/admin/order-edit.ts
  packages/core/js-sdk/src/admin/order.ts
  packages/core/js-sdk/src/admin/payment-collection.ts
  packages/core/js-sdk/src/admin/payment.ts
  packages/core/js-sdk/src/admin/price-list.ts
  packages/core/js-sdk/src/admin/price-preference.ts
  packages/core/js-sdk/src/admin/product-category.ts
  packages/core/js-sdk/src/admin/product-collection.ts
  packages/core/js-sdk/src/admin/product-tag.ts
  packages/core/js-sdk/src/admin/product-type.ts
  packages/core/js-sdk/src/admin/product-variant.ts
  packages/core/js-sdk/src/admin/product.ts
  packages/core/js-sdk/src/admin/promotion.ts
  packages/core/js-sdk/src/admin/refund-reasons.ts
  packages/core/js-sdk/src/admin/region.ts
  packages/core/js-sdk/src/admin/reservation.ts
  packages/core/js-sdk/src/admin/return-reason.ts
  packages/core/js-sdk/src/admin/return.ts
  packages/core/js-sdk/src/admin/sales-channel.ts
  packages/core/js-sdk/src/admin/shipping-option.ts
  packages/core/js-sdk/src/admin/shipping-profile.ts
  packages/core/js-sdk/src/admin/stock-location.ts
  packages/core/js-sdk/src/admin/store.ts
  packages/core/js-sdk/src/admin/tax-rate.ts
  packages/core/js-sdk/src/admin/tax-region.ts
  packages/core/js-sdk/src/admin/upload.ts
  packages/core/js-sdk/src/admin/user.ts
  packages/core/js-sdk/src/admin/workflow-execution.ts
Labels: type: chore, team: medusa

#9630 docs-util: add configuration to generate js-sdk reference
  www/utils/packages/typedoc-config/js-sdk.json
  www/utils/packages/typedoc-generate-references/src/constants/base-options.ts
  www/utils/packages/typedoc-generate-references/src/constants/custom-options.ts
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/index.ts
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/js-sdk.ts
  www/utils/packages/typedoc-generate-references/src/constants/merger-options.ts
  www/utils/packages/typedoc-generate-references/src/constants/references.ts
  www/utils/packages/typedoc-plugin-markdown-medusa/src/index.ts
  www/utils/packages/typedoc-plugin-markdown-medusa/src/resources/partials/member.declaration.hbs
  www/utils/packages/typedoc-plugin-markdown-medusa/src/theme.ts
  www/utils/packages/typedoc-plugin-workflows/src/plugin.ts
  www/utils/packages/typedoc-plugin-workflows/src/utils/helper.ts
  www/utils/packages/types/lib/index.d.ts
  www/utils/packages/utils/src/get-type-children.ts
Labels: type: docs, team: medusa

#9582 chore: remove internal module resources option
  integration-tests/api/medusa-config.js
  integration-tests/modules/medusa-config.js
  packages/core/modules-sdk/src/__mocks__/inventory-module.ts
  packages/core/modules-sdk/src/__mocks__/inventory-stock-location-link.ts
  packages/core/modules-sdk/src/__mocks__/product-inventory-link.ts
  packages/core/modules-sdk/src/__mocks__/product-module.ts
  packages/core/modules-sdk/src/__mocks__/stock-location-module.ts
  packages/core/modules-sdk/src/definitions.ts
  packages/core/modules-sdk/src/loaders/__tests__/medusa-module.ts
  packages/core/modules-sdk/src/loaders/__tests__/module-loader.ts
  packages/core/modules-sdk/src/loaders/__tests__/register-modules.ts
  packages/core/modules-sdk/src/loaders/module-loader.ts
  packages/core/modules-sdk/src/loaders/register-modules.ts
  packages/core/modules-sdk/src/loaders/utils/__tests__/load-internal.spec.ts
  packages/core/modules-sdk/src/loaders/utils/load-internal.ts
  packages/core/modules-sdk/src/medusa-app.ts
  packages/core/modules-sdk/src/medusa-module.ts
  packages/core/modules-sdk/src/types/index.ts
  packages/core/types/src/common/index.ts
  packages/core/types/src/modules-sdk/index.ts
  packages/core/utils/src/common/index.ts
  packages/core/utils/src/common/transaction/do-not-force-transaction.ts
  packages/core/utils/src/common/transaction/index.ts
  packages/core/utils/src/common/transaction/should-force-transaction.ts
  packages/core/utils/src/modules-sdk/create-pg-connection.ts
  packages/core/utils/src/modules-sdk/decorators/inject-transaction-manager.ts
  packages/core/utils/src/modules-sdk/loaders/mikro-orm-connection-loader.ts
  packages/core/utils/src/modules-sdk/medusa-internal-service.ts
  packages/medusa-test-utils/src/module-test-runner.ts
  packages/modules/event-bus-redis/src/services/__tests__/event-bus.ts
  packages/modules/fulfillment/integration-tests/__tests__/fulfillment-module-service/index.spec.ts
  packages/modules/index/src/services/postgres-provider.ts
  packages/modules/link-modules/src/initialize/index.ts
  packages/modules/link-modules/src/services/link-module-service.ts
  packages/modules/link-modules/src/services/link.ts
  packages/modules/link-modules/src/utils/index.ts
Labels: type: chore, automerge, team: medusa

#9636 chore: Update modules providers configuration with 'identifier' and 'PROVIDER'
  packages/core/modules-sdk/src/loaders/utils/__fixtures__/module-with-providers/provider-2/services/provider-service.ts
  packages/core/modules-sdk/src/loaders/utils/__tests__/load-internal.spec.ts
  packages/core/modules-sdk/src/loaders/utils/load-internal.ts
  packages/core/types/src/modules-sdk/module-provider.ts
  packages/core/utils/src/auth/abstract-auth-provider.ts
  packages/core/utils/src/modules-sdk/index.ts
  packages/core/utils/src/modules-sdk/module-provider-registration-key.ts
  packages/modules/auth/integration-tests/__fixtures__/providers/default-provider.ts
  packages/modules/locking/src/loaders/providers.ts
  packages/modules/payment/src/loaders/providers.ts
  packages/modules/payment/src/providers/system.ts
  packages/modules/providers/auth-emailpass/src/services/emailpass.ts
  packages/modules/providers/auth-github/src/services/github.ts
  packages/modules/providers/auth-google/src/services/google.ts
  packages/modules/providers/notification-local/src/services/local.ts
  packages/modules/providers/notification-sendgrid/src/services/sendgrid.ts
  packages/modules/providers/payment-stripe/src/services/stripe-bancontact.ts
  packages/modules/providers/payment-stripe/src/services/stripe-blik.ts
  packages/modules/providers/payment-stripe/src/services/stripe-giropay.ts
  packages/modules/providers/payment-stripe/src/services/stripe-ideal.ts
  packages/modules/providers/payment-stripe/src/services/stripe-provider.ts
  packages/modules/providers/payment-stripe/src/services/stripe-przelewy24.ts
Labels: type: chore, has: breaking changes, team: medusa

#9651 fix(dashboard): Hide usage insights
  packages/admin/dashboard/src/routes/profile/profile-detail/components/profile-general-section/profile-general-section.tsx
  packages/admin/dashboard/src/routes/profile/profile-edit/components/edit-profile-form/edit-profile-form.tsx
Labels: type: bug, automerge, team: medusa

#9646 feat(medusa): ordem items endpoint
  integration-tests/http/__tests__/claims/claims.spec.ts
  packages/core/core-flows/src/order/workflows/get-order-detail.ts
  packages/core/framework/src/http/types.ts
  packages/core/framework/src/http/utils/refetch-entities.ts
  packages/core/framework/src/http/utils/validate-query.ts
  packages/core/types/src/http/order/admin/entities.ts
  packages/core/types/src/http/order/admin/queries.ts
  packages/core/types/src/http/order/admin/responses.ts
  packages/medusa/src/api/admin/orders/[id]/line-items/route.ts
  packages/medusa/src/api/admin/orders/[id]/route.ts
  packages/medusa/src/api/admin/orders/middlewares.ts
  packages/medusa/src/api/admin/orders/query-config.ts
  packages/medusa/src/api/admin/orders/validators.ts
  packages/medusa/src/types/global.ts
  packages/modules/order/integration-tests/__tests__/index.spec.ts
  packages/modules/order/src/joiner-config.ts
Labels: type: feature, team: medusa

#9613 feat: allow html content for notifications
  integration-tests/modules/__tests__/notification/admin/notification.spec.ts
  packages/core/types/src/notification/common.ts
  packages/core/types/src/notification/mutations.ts
  packages/core/types/src/notification/provider.ts
  packages/modules/notification/integration-tests/__tests__/notification-module-service/index.spec.ts
  packages/modules/providers/notification-sendgrid/integration-tests/__tests__/services.spec.ts
  packages/modules/providers/notification-sendgrid/src/services/sendgrid.ts
Labels: type: feature, team: medusa

#9647 test(admin-vite-plugin): React Invalid hook call on Windows
  packages/admin/admin-bundler/src/lib/config.ts
  packages/admin/admin-vite-plugin/src/routes/__tests__/generate-routes.spec.ts
  packages/admin/admin-vite-plugin/src/routes/generate-routes.ts
  packages/admin/admin-vite-plugin/src/vmod.ts
  packages/admin/dashboard/src/extensions/routes/utils.ts
Labels: type: bug, automerge, team: medusa

#9655 feature: use application logger to log HTTP requests
  packages/cli/medusa-cli/src/reporter/index.ts
  packages/core/framework/src/http/express-loader.ts
Labels: type: feature, team: medusa

#9586 feat(dashboard) taxes + discount breakdown
  packages/admin/dashboard/src/i18n/translations/en.json
  packages/admin/dashboard/src/routes/orders/order-detail/components/order-summary-section/order-summary-section.tsx
  packages/admin/dashboard/src/routes/orders/order-detail/constants.ts
Labels: automerge, type: feature, team: medusa
