Repository medusajs/medusa, pull requests merged in 2024-07, with the labels that each got.

#7870 fix(order): set correct change type for exchanges
  packages/modules/order/src/services/actions/create-exchange.ts
Labels: type: bug, team: medusa

#7869 docs: rename provider module to module provider
  www/apps/resources/app/architectural-modules/file/local/page.mdx
  www/apps/resources/app/architectural-modules/file/page.mdx
  www/apps/resources/app/architectural-modules/file/s3/page.mdx
  www/apps/resources/app/architectural-modules/notification/local/page.mdx
  www/apps/resources/app/architectural-modules/notification/page.mdx
  www/apps/resources/app/architectural-modules/notification/send-notification/page.mdx
  www/apps/resources/app/architectural-modules/notification/sendgrid/page.mdx
  www/apps/resources/app/commerce-modules/auth/auth-providers/_google/page.mdx
  www/apps/resources/app/commerce-modules/auth/auth-providers/emailpass/page.mdx
  www/apps/resources/app/commerce-modules/auth/auth-providers/page.mdx
  www/apps/resources/app/commerce-modules/auth/module-options/page.mdx
  www/apps/resources/app/commerce-modules/fulfillment/fulfillment-provider/page.mdx
  www/apps/resources/app/commerce-modules/fulfillment/module-options/page.mdx
  www/apps/resources/app/commerce-modules/payment/module-options/page.mdx
  www/apps/resources/app/commerce-modules/payment/payment-provider/page.mdx
  www/apps/resources/app/commerce-modules/payment/payment-provider/stripe/page.mdx
  www/apps/resources/app/commerce-modules/tax/module-options/page.mdx
  www/apps/resources/app/commerce-modules/tax/tax-calculation-with-provider/page.mdx
  www/apps/resources/app/nextjs-starter/page.mdx
  www/apps/resources/app/recipes/commerce-automation/page.mdx
  www/apps/resources/app/recipes/digital-products/page.mdx
  www/apps/resources/app/recipes/multi-region-store/page.mdx
  www/apps/resources/app/recipes/oms/page.mdx
  www/apps/resources/app/recipes/personalized-products/page.mdx
  www/apps/resources/app/recipes/pos/page.mdx
  www/apps/resources/app/recipes/subscriptions/page.mdx
  www/apps/resources/app/storefront-development/checkout/payment/stripe/page.mdx
  www/vale/styles/docs/ModuleNames.yml
Labels: type: docs, team: medusa

#7864 chore: OAS and TSDoc fixes
  packages/cli/oas/medusa-oas-cli/redocly/redocly-config.yaml
  packages/cli/oas/medusa-oas-cli/src/__tests__/command-oas.test.ts
  packages/core/types/src/inventory/common/reservation-item.ts
  packages/design-system/ui/src/components/date-picker/date-picker.tsx
Labels: type: chore, team: medusa

#7863 chore(docs): DML API Reference
  packages/core/types/src/dml/index.ts
  packages/core/utils/src/dml/entity-builder.ts
  packages/core/utils/src/dml/entity.ts
  packages/core/utils/src/dml/properties/base.ts
  packages/core/utils/src/dml/properties/id.ts
  packages/core/utils/src/dml/properties/text.ts
  packages/core/utils/tsconfig.json
  www/apps/resources/sidebar.mjs
  www/utils/packages/typedoc-generate-references/src/constants/custom-options.ts
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/dml.ts
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/index.ts
  www/utils/packages/typedoc-generate-references/src/constants/merger-options.ts
  www/utils/packages/typedoc-generate-references/src/constants/references.ts
  www/utils/packages/typedoc-plugin-custom/src/generate-namespace.ts
  www/utils/packages/typedoc-plugin-markdown-medusa/src/resources/helpers/if-show-returns.ts
  www/utils/packages/typedoc-plugin-markdown-medusa/src/resources/helpers/parameter-component.ts
  www/utils/packages/typedoc-plugin-markdown-medusa/src/resources/helpers/toc.ts
  www/utils/packages/typedoc-plugin-markdown-medusa/src/utils/reflection-formatter.ts
  www/utils/packages/types/lib/index.d.ts
  www/utils/packages/utils/src/get-type-children.ts
Labels: type: docs, type: chore, team: medusa

#7835 chore: Migrate notification module to DML
  integration-tests/modules/__tests__/notification/admin/notification.spec.ts
  packages/core/utils/src/modules-sdk/medusa-internal-service.ts
  packages/modules/notification/mikro-orm.config.dev.ts
  packages/modules/notification/src/loaders/providers.ts
  packages/modules/notification/src/migrations/.snapshot-medusa-notification.json
  packages/modules/notification/src/migrations/Migration20240628075401.ts
  packages/modules/notification/src/models/index.ts
  packages/modules/notification/src/models/notification-provider.ts
  packages/modules/notification/src/models/notification.ts
  packages/modules/notification/src/services/notification-module-service.ts
  packages/modules/notification/src/services/notification-provider.ts
Labels: automerge, team: medusa

#7884 fix(create-medusa-app): remove preview links
  packages/cli/create-medusa-app/src/utils/prepare-project.ts
Labels: type: chore, automerge, team: medusa

#7886 fix: Return null for calculated price if no prices are defined
  packages/modules/pricing/integration-tests/__tests__/services/pricing-module/calculate-price.spec.ts
  packages/modules/pricing/src/services/pricing-module.ts
Labels: team: medusa

#7888 chore: action to generate documentation references
  .github/workflows/generate-preview-references.yml
  .github/workflows/generate-public-references.yml
  .github/workflows/generate-resources-reference.yml
Labels: type: chore, automerge, team: medusa

#7889 fix: Only list price set prices when calling the price set methods
  packages/core/types/src/pricing/common/price-set.ts
  packages/modules/pricing/integration-tests/__tests__/services/pricing-module/price-set.spec.ts
  packages/modules/pricing/src/services/pricing-module.ts
Labels: automerge, team: medusa

#7890 chore(oas): fix inventory level titles in OAS
  packages/generated/client-types/src/lib/models/AdminPostInventoryItemsItemLocationLevelsLevelParams.ts
  packages/generated/client-types/src/lib/models/AdminPostInventoryItemsItemLocationLevelsLevelReq.ts
  packages/generated/client-types/src/lib/models/AdminPostInventoryItemsItemLocationLevelsReq.ts
  packages/medusa/src/api/routes/admin/inventory-items/create-location-level.ts
  packages/medusa/src/api/routes/admin/inventory-items/delete-location-level.ts
  packages/medusa/src/api/routes/admin/inventory-items/update-location-level.ts
Labels: automerge, team: medusa

#7892 fix(promotion): tabs + resetting rules logic
  packages/admin-next/dashboard/src/i18n/translations/en.json
  packages/admin-next/dashboard/src/routes/campaigns/campaign-create/components/create-campaign-form/create-campaign-form.tsx
  packages/admin-next/dashboard/src/routes/campaigns/common/components/create-campaign-form-fields/create-campaign-form-fields.tsx
  packages/admin-next/dashboard/src/routes/promotions/common/edit-rules/components/rules-form-field/rules-form-field.tsx
  packages/admin-next/dashboard/src/routes/promotions/promotion-create/components/create-promotion-form/create-promotion-form.tsx
  packages/core/types/src/promotion/mutations.ts
  packages/medusa/src/api/admin/campaigns/validators.ts
  packages/modules/promotion/src/models/promotion.ts
Labels: team: medusa

#7894 fix: Correctly choose the existing price ID when editing variant prices
  packages/admin-next/dashboard/src/routes/products/product-prices/pricing-edit.tsx
Labels: team: medusa

#7895 docs: update pricing docs
  www/apps/resources/app/commerce-modules/pricing/concepts/page.mdx
  www/apps/resources/app/commerce-modules/pricing/examples/page.mdx
  www/apps/resources/app/commerce-modules/pricing/page.mdx
  www/apps/resources/app/commerce-modules/pricing/price-calculation/page.mdx
  www/apps/resources/app/commerce-modules/pricing/price-rules/page.mdx
Labels: type: docs, automerge, team: medusa

#7896 fix(utils): joiner config from medusa project
  packages/core/utils/src/modules-sdk/joiner-config-builder.ts
  packages/core/utils/src/modules-sdk/migration-scripts/migration-down.ts
  packages/core/utils/src/modules-sdk/migration-scripts/migration-up.ts
  packages/modules/link-modules/src/migration/index.ts
Labels: team: medusa

#7897 chore(promotion): toast error messages on promotion errors
  packages/admin-next/dashboard/src/i18n/translations/en.json
  packages/admin-next/dashboard/src/routes/promotions/promotion-create/components/create-promotion-form/create-promotion-form.tsx
Labels: team: medusa

#7900 Mark keys as primary with explicit method call
  packages/core/types/src/dml/index.ts
  packages/core/utils/src/dml/__tests__/entity-builder.spec.ts
  packages/core/utils/src/dml/__tests__/id-property.spec.ts
  packages/core/utils/src/dml/__tests__/text-property.spec.ts
  packages/core/utils/src/dml/entity-builder.ts
  packages/core/utils/src/dml/entity.ts
  packages/core/utils/src/dml/helpers/create-mikro-orm-entity.ts
  packages/core/utils/src/dml/helpers/entity-builder/infer-primary-key-properties.ts
  packages/core/utils/src/dml/properties/id.ts
  packages/core/utils/src/dml/properties/text.ts
  packages/modules/notification/src/models/notification-provider.ts
  packages/modules/notification/src/models/notification.ts
  packages/modules/region/src/models/region.ts
Labels: team: medusa

#7891 fix(ui,dashboard): Revamp DatePicker component
  packages/admin-next/dashboard/package.json
  packages/admin-next/dashboard/src/app.tsx
  packages/admin-next/dashboard/src/components/common/date-range-display/date-range-display.tsx
  packages/admin-next/dashboard/src/components/common/form/form.tsx
  packages/admin-next/dashboard/src/components/localization/localized-date-picker/index.ts
  packages/admin-next/dashboard/src/components/localization/localized-date-picker/localized-date-picker.tsx
  packages/admin-next/dashboard/src/components/modals/stacked-focus-modal/index.ts
  packages/admin-next/dashboard/src/components/modals/stacked-focus-modal/stacked-focus-modal.tsx
  packages/admin-next/dashboard/src/components/table/data-table/data-table-filter/date-filter.tsx
  packages/admin-next/dashboard/src/hooks/use-date.tsx
  packages/admin-next/dashboard/src/providers/i18n-provider/i18n-provider.tsx
  packages/admin-next/dashboard/src/providers/i18n-provider/index.ts
  packages/admin-next/dashboard/src/routes/campaigns/campaign-edit/components/edit-campaign-form/edit-campaign-form.tsx
  packages/admin-next/dashboard/src/routes/campaigns/common/components/create-campaign-form-fields/create-campaign-form-fields.tsx
  packages/admin-next/dashboard/src/routes/price-lists/price-list-configuration/components/price-list-configuration-form/price-list-configuration-form.tsx
  packages/admin-next/dashboard/src/routes/price-lists/price-list-create/components/price-list-create-form/price-list-create-form.tsx
  packages/admin-next/dashboard/src/routes/price-lists/price-list-create/components/price-list-create-form/price-list-details-form.tsx
  packages/admin-next/dashboard/src/routes/price-lists/price-list-detail/price-list-detail.tsx
  packages/design-system/ui/package.json
  packages/design-system/ui/src/components/calendar/calendar.stories.tsx
  packages/design-system/ui/src/components/calendar/calendar.tsx
  packages/design-system/ui/src/components/calendar/index.ts
  packages/design-system/ui/src/components/calender/_internal-calendar.tsx
  packages/design-system/ui/src/components/calender/calendar-button.tsx
  packages/design-system/ui/src/components/calender/calendar-cell.tsx
  packages/design-system/ui/src/components/calender/calendar-grid.tsx
  packages/design-system/ui/src/components/calender/calendar.stories.tsx
  packages/design-system/ui/src/components/calender/calendar.tsx
  packages/design-system/ui/src/components/calender/index.ts
  packages/design-system/ui/src/components/date-picker/date-picker-button.tsx
  packages/design-system/ui/src/components/date-picker/date-picker-clear-button.tsx
  packages/design-system/ui/src/components/date-picker/date-picker-field.tsx
  packages/design-system/ui/src/components/date-picker/date-picker.spec.tsx
  packages/design-system/ui/src/components/date-picker/date-picker.stories.tsx
  packages/design-system/ui/src/components/date-picker/date-picker.tsx
  packages/design-system/ui/src/components/date-segment/date-segment.tsx
  packages/design-system/ui/src/components/date-segment/index.ts
  packages/design-system/ui/src/components/i18n-provider/i18n-provider.tsx
  packages/design-system/ui/src/components/i18n-provider/index.ts
  packages/design-system/ui/src/components/popover/popover.tsx
  packages/design-system/ui/src/components/prompt/prompt.tsx
  packages/design-system/ui/src/components/time-input/time-input.stories.tsx
  packages/design-system/ui/src/components/time-input/time-input.tsx
  packages/design-system/ui/src/index.ts
  packages/design-system/ui/src/types.ts
  packages/design-system/ui/src/utils/calendar.ts
  yarn.lock
Labels: automerge, team: medusa

#7902 docs: document composite indices + primary key changes
  www/apps/book/app/advanced-development/data-models/default-properties/page.mdx
  www/apps/book/app/advanced-development/data-models/index/page.mdx
  www/apps/book/app/advanced-development/data-models/indexes/page.mdx
  www/apps/book/app/advanced-development/data-models/primary-key/page.mdx
  www/apps/book/app/advanced-development/data-models/relationships/page.mdx
  www/apps/book/app/advanced-development/data-models/soft-deletable/page.mdx
  www/apps/book/app/basics/data-models/page.mdx
  www/apps/book/sidebar.mjs
  www/apps/resources/app/commerce-modules/auth/create-actor-type/page.mdx
  www/apps/resources/app/recipes/b2b/page.mdx
  www/apps/resources/app/recipes/commerce-automation/page.mdx
  www/apps/resources/app/recipes/digital-products/page.mdx
  www/apps/resources/app/recipes/marketplace/page.mdx
Labels: type: docs, team: medusa

#7905 docs: update scheduled jobs docs
  www/apps/book/app/advanced-development/scheduled-jobs/execution-number/page.mdx
  www/apps/book/app/basics/scheduled-jobs/page.mdx
  www/apps/book/app/basics/workflows/page.mdx
  www/apps/book/sidebar.mjs
  www/apps/resources/app/commerce-modules/pricing/examples/page.mdx
  www/apps/resources/app/recipes/commerce-automation/page.mdx
  www/apps/resources/app/recipes/subscriptions/page.mdx
Labels: type: docs, automerge, team: medusa

#7903 Add support for native enums
  packages/core/utils/src/dml/__tests__/enum-schema.spec.ts
  packages/core/utils/src/dml/entity-builder.ts
  packages/core/utils/src/dml/properties/enum.ts
Labels: team: medusa

#7875 fix: Delete before upsert in upsertWithReplace to handle relations with unique constraint
  packages/core/utils/src/dal/mikro-orm/integration-tests/__tests__/mikro-orm-repository.spec.ts
  packages/core/utils/src/dal/mikro-orm/mikro-orm-repository.ts
Labels: team: medusa

#7906 fix: Several fixes based on preview testing
  packages/admin-next/dashboard/src/components/common/section/section-row.tsx
  packages/admin-next/dashboard/src/i18n/translations/en.json
  packages/admin-next/dashboard/src/routes/inventory/inventory-detail/components/inventory-item-general-section.tsx
  packages/admin-next/dashboard/src/routes/product-types/product-type-list/components/product-type-list-table/use-product-type-table-columns.tsx
  packages/admin-next/dashboard/src/routes/product-variants/product-variant-detail/components/variant-prices-section/variant-prices-section.tsx
  packages/admin-next/dashboard/src/routes/products/product-create/components/product-create-form/product-create-form.tsx
  packages/core/js-sdk/src/admin/product.ts
  packages/modules/currency/src/models/currency.ts
Labels: team: medusa

#7908 fix: Prefix the job workflow names with `job`
  packages/medusa/src/loaders/__fixtures__/plugin/jobs/order-summary.ts
  packages/medusa/src/loaders/__tests__/register-jobs.spec.ts
  packages/medusa/src/loaders/helpers/register-jobs.ts
Labels: automerge, team: medusa

#7843 Update currencies.md
  www/apps/docs/content/modules/regions-and-currencies/currencies.md
Labels: type: docs, automerge

#7898 feat(dashboard): create shipment flow
  packages/admin-next/dashboard/src/hooks/api/fulfillment.tsx
  packages/admin-next/dashboard/src/i18n/translations/en.json
  packages/admin-next/dashboard/src/providers/router-provider/route-map.tsx
  packages/admin-next/dashboard/src/routes/orders/order-create-shipment/components/order-create-shipment-form/constants.ts
  packages/admin-next/dashboard/src/routes/orders/order-create-shipment/components/order-create-shipment-form/index.ts
  packages/admin-next/dashboard/src/routes/orders/order-create-shipment/components/order-create-shipment-form/order-create-shipment-form.tsx
  packages/admin-next/dashboard/src/routes/orders/order-create-shipment/index.ts
  packages/admin-next/dashboard/src/routes/orders/order-create-shipment/order-create-shipment.tsx
  packages/admin-next/dashboard/src/routes/orders/order-detail/components/order-fulfillment-section/order-fulfillment-section.tsx
  packages/admin-next/dashboard/src/routes/orders/order-detail/constants.ts
  packages/core/js-sdk/src/admin/fulfillment.ts
  packages/core/js-sdk/src/admin/order.ts
Labels: automerge, team: medusa

#7866 fix: Disallow creating duplicate prices
  integration-tests/http/__tests__/price-list/admin/price-list.spec.ts
  packages/core/core-flows/src/price-list/steps/create-price-list-prices.ts
  packages/core/core-flows/src/price-list/steps/update-price-list-prices.ts
  packages/core/utils/src/dal/mikro-orm/mikro-orm-repository.ts
  packages/modules/pricing/integration-tests/__tests__/services/pricing-module/calculate-price.spec.ts
  packages/modules/pricing/integration-tests/__tests__/services/pricing-module/price-list.spec.ts
  packages/modules/pricing/integration-tests/__tests__/services/pricing-module/price-set.spec.ts
  packages/modules/pricing/src/repositories/pricing.ts
  packages/modules/pricing/src/services/pricing-module.ts
  packages/modules/pricing/src/types/services/index.ts
  packages/modules/pricing/src/types/services/price.ts
  packages/modules/pricing/src/utils/events.ts
Labels: team: medusa

#7909 fix: Select region and email by default for order
  packages/medusa/src/api/store/orders/query-config.ts
Labels: automerge, team: medusa

#7904 fix(dashboard): add delete action to table
  packages/admin-next/dashboard/src/routes/categories/category-detail/components/category-general-section/category-general-section.tsx
  packages/admin-next/dashboard/src/routes/categories/category-list/components/category-list-table/category-list-table.tsx
  packages/admin-next/dashboard/src/routes/categories/common/hooks/use-delete-product-category-action.tsx
Labels: team: medusa

#7910 fix(dashboard): few fixes
  packages/admin-next/dashboard/src/routes/inventory/inventory-create/components/create-inventory-item-form/create-inventory-availability-form.tsx
  packages/admin-next/dashboard/src/routes/inventory/inventory-detail/components/inventory-item-general-section.tsx
  packages/admin-next/dashboard/src/routes/locations/location-detail/components/location-general-section/location-general-section.tsx
  packages/admin-next/dashboard/src/routes/product-variants/product-variant-manage-inventory-items/components/manage-variant-inventory-items-form/manage-variant-inventory-items-form.tsx
  packages/admin-next/dashboard/src/routes/products/common/variant-pricing-form.tsx
  packages/admin-next/dashboard/src/routes/products/product-detail/components/product-variant-section/use-variant-table-columns.tsx
  packages/admin-next/dashboard/src/routes/products/product-prices/pricing-edit.tsx
Labels: team: medusa

#7913 Fix infer helper to properly infer relationships
  packages/core/types/src/dml/index.ts
  packages/core/utils/src/dml/__tests__/entity-builder.spec.ts
  packages/core/utils/src/dml/helpers/create-mikro-orm-entity.ts
  packages/core/utils/src/dml/relations/nullable.ts
Labels: team: medusa

#7917 fix(user): user email is set to a unique index
  packages/modules/user/src/migrations/.snapshot-medusa-user.json
  packages/modules/user/src/migrations/Migration20240703095850.ts
  packages/modules/user/src/models/user.ts
Labels: team: medusa

#7916 fix(dashboard): reset table scroll on page change
  packages/admin-next/dashboard/src/components/table/data-table/data-table-root/data-table-root.tsx
Labels: team: medusa

#7901 chore: fix generate preview references action
  .github/workflows/generate-preview-references.yml
  .github/workflows/generate-public-references.yml
  .github/workflows/generate-resources-reference.yml
Labels: type: chore

#7920 fix: only showcase tooltip when currency is not set
  packages/admin-next/dashboard/src/routes/campaigns/common/components/create-campaign-form-fields/create-campaign-form-fields.tsx
Labels: team: medusa

#7922 fix(promotion): fixes issue with id not a valid param in campaign update
  packages/admin-next/dashboard/src/hooks/api/campaigns.tsx
  packages/admin-next/dashboard/src/lib/client/campaigns.ts
  packages/admin-next/dashboard/src/routes/campaigns/campaign-budget-edit/components/edit-campaign-budget-form/edit-campaign-budget-form.tsx
  packages/admin-next/dashboard/src/routes/campaigns/campaign-edit/components/edit-campaign-form/edit-campaign-form.tsx
  packages/core/types/src/http/campaign/admin/index.ts
  packages/core/types/src/http/campaign/admin/payloads.ts
  packages/core/types/src/http/campaign/admin/responses.ts
Labels: team: medusa

#7921 fix: Minor fixes to the inventory pages
  packages/admin-next/dashboard/src/routes/inventory/inventory-detail/components/inventory-item-general-section.tsx
  packages/admin-next/dashboard/src/routes/reservations/reservation-detail/components/edit-reservation/components/edit-reservation-form.tsx
  packages/admin-next/dashboard/src/routes/reservations/reservation-detail/components/reservation-general-section/reservation-general-section.tsx
Labels: team: medusa

#7924 chore: cleanup migrations logs
  packages/core/utils/src/modules-sdk/migration-scripts/migration-up.ts
  packages/modules/link-modules/src/migration/index.ts
Labels: automerge, team: medusa

#7930 feat: Flatten the provider config for all modules
  integration-tests/api/medusa-config.js
  integration-tests/http/medusa-config.js
  integration-tests/modules/medusa-config.js
  packages/core/modules-sdk/src/loaders/__tests__/module-provider-loader.ts
  packages/core/modules-sdk/src/loaders/module-provider-loader.ts
  packages/core/types/src/modules-sdk/module-provider.ts
  packages/core/utils/src/common/__tests__/define-config.spec.ts
  packages/core/utils/src/common/define-config.ts
  packages/modules/auth/integration-tests/__tests__/auth-module-service/index.spec.ts
  packages/modules/auth/src/loaders/providers.ts
  packages/modules/auth/src/types/index.ts
  packages/modules/file/integration-tests/__tests__/module.spec.ts
  packages/modules/file/src/loaders/providers.ts
  packages/modules/file/src/types/index.ts
  packages/modules/fulfillment/integration-tests/__tests__/fulfillment-module-service/fulfillment.spec.ts
  packages/modules/fulfillment/integration-tests/__tests__/fulfillment-module-service/index.spec.ts
  packages/modules/fulfillment/integration-tests/__tests__/fulfillment-module-service/shipping-option.spec.ts
  packages/modules/fulfillment/src/loaders/providers.ts
  packages/modules/fulfillment/src/types/index.ts
  packages/modules/notification/integration-tests/__tests__/notification-module-service/index.spec.ts
  packages/modules/notification/src/loaders/providers.ts
  packages/modules/notification/src/types/index.ts
  packages/modules/payment/src/loaders/providers.ts
  packages/modules/payment/src/types/index.ts
Labels: team: medusa

#7877 docs: prepare configuration
  www/apps/api-reference/components/Navbar/index.tsx
  www/apps/api-reference/next.config.mjs
  www/apps/book/app/advanced-development/data-models/index/page.mdx
  www/apps/book/app/basics/events-and-subscribers/page.mdx
  www/apps/book/components/Navbar/index.tsx
  www/apps/book/next.config.mjs
  www/apps/resources/app/_events-reference/page.mdx
  www/apps/resources/app/architectural-modules/notification/send-notification/page.mdx
  www/apps/resources/app/commerce-modules/api-key/_events/_events-table/page.mdx
  www/apps/resources/app/commerce-modules/api-key/_events/page.mdx
  www/apps/resources/app/commerce-modules/auth/_events/_events-table/page.mdx
  www/apps/resources/app/commerce-modules/auth/_events/page.mdx
  www/apps/resources/app/commerce-modules/cart/_events/_events-table/page.mdx
  www/apps/resources/app/commerce-modules/cart/_events/page.mdx
  www/apps/resources/app/commerce-modules/currency/_events/_events-table/page.mdx
  www/apps/resources/app/commerce-modules/currency/_events/page.mdx
  www/apps/resources/app/commerce-modules/customer/_events/_events-table/page.mdx
  www/apps/resources/app/commerce-modules/customer/_events/page.mdx
  www/apps/resources/app/commerce-modules/fulfillment/_events/_events-table/page.mdx
  www/apps/resources/app/commerce-modules/fulfillment/_events/page.mdx
  www/apps/resources/app/commerce-modules/inventory/_events/_events-table/page.mdx
  www/apps/resources/app/commerce-modules/inventory/_events/page.mdx
  www/apps/resources/app/commerce-modules/order/_events/_events-table/page.mdx
  www/apps/resources/app/commerce-modules/order/_events/page.mdx
  www/apps/resources/app/commerce-modules/payment/_events/_events-table/page.mdx
  www/apps/resources/app/commerce-modules/payment/_events/page.mdx
  www/apps/resources/app/commerce-modules/pricing/_events/_events-table/page.mdx
  www/apps/resources/app/commerce-modules/pricing/_events/page.mdx
  www/apps/resources/app/commerce-modules/product/_events/_events-table/page.mdx
  www/apps/resources/app/commerce-modules/product/_events/page.mdx
  www/apps/resources/app/commerce-modules/promotion/_events/_events-table/page.mdx
  www/apps/resources/app/commerce-modules/promotion/_events/page.mdx
  www/apps/resources/app/commerce-modules/region/_events/_events-table/page.mdx
  www/apps/resources/app/commerce-modules/region/_events/page.mdx
  www/apps/resources/app/commerce-modules/sales-channel/_events/_events-table/page.mdx
  www/apps/resources/app/commerce-modules/sales-channel/_events/page.mdx
  www/apps/resources/app/commerce-modules/stock-location/_events/_events-table/page.mdx
  www/apps/resources/app/commerce-modules/stock-location/_events/page.mdx
  www/apps/resources/app/commerce-modules/store/_events/_events-table/page.mdx
  www/apps/resources/app/commerce-modules/store/_events/page.mdx
  www/apps/resources/app/commerce-modules/tax/_events/_events-table/page.mdx
  www/apps/resources/app/commerce-modules/tax/_events/page.mdx
  www/apps/resources/app/commerce-modules/user/_events/_events-table/page.mdx
  www/apps/resources/app/commerce-modules/user/_events/page.mdx
  www/apps/resources/app/recipes/b2b/page.mdx
  www/apps/resources/app/recipes/commerce-automation/page.mdx
  www/apps/resources/app/recipes/digital-products/page.mdx
  www/apps/resources/app/recipes/integrate-ecommerce-stack/page.mdx
  www/apps/resources/app/recipes/marketplace/page.mdx
  www/apps/resources/components/Navbar/index.tsx
  www/apps/resources/generated/files-map.mjs
  www/apps/resources/generated/sidebar.mjs
  www/apps/resources/sidebar.mjs
  www/apps/ui/.env.example
  www/apps/ui/src/config/docs.tsx
  www/packages/docs-ui/src/constants.tsx
  www/packages/docs-ui/src/utils/get-navbar-items.ts
Labels: type: docs, team: medusa

#7929 feat(dashboard): activity section events
  packages/admin-next/dashboard/src/i18n/translations/en.json
  packages/admin-next/dashboard/src/routes/orders/order-detail/components/order-activity-section/order-timeline.tsx
  packages/admin-next/dashboard/src/routes/orders/order-detail/components/order-summary-section/order-summary-section.tsx
  packages/admin-next/dashboard/src/routes/orders/order-detail/constants.ts
Labels: team: medusa

#7937 Prettify DML properties when inferred
  packages/core/types/src/common/common.ts
  packages/core/types/src/dml/index.ts
Labels: team: medusa

#7915 fix(dashboard): breaking store page due to default currency
  packages/admin-next/dashboard/src/routes/store/store-detail/components/store-general-section/store-general-section.tsx
  packages/core/modules-sdk/src/remote-query.ts
Labels: team: medusa

#7938 Omit Mikro ORM entities values from the config
  packages/core/utils/src/modules-sdk/mikro-orm-cli-config-builder.ts
Labels: team: medusa

#7939 fix: fix docs link in payment provider tsdocs
  packages/core/utils/src/payment/abstract-payment-provider.ts
Labels: team: medusa

#7931 feat: define link util
  integration-tests/modules/__tests__/link-modules/define-link.spec.ts
  packages/core/medusa-test-utils/src/init-modules.ts
  packages/core/modules-sdk/src/index.ts
  packages/core/modules-sdk/src/utils/define-link.ts
  packages/core/modules-sdk/src/utils/index.ts
  packages/core/types/src/dml/index.ts
  packages/core/utils/src/common/define-config.ts
  packages/core/utils/src/common/index.ts
  packages/core/utils/src/dml/__tests__/entity-builder.spec.ts
  packages/core/utils/src/dml/entity-builder.ts
  packages/core/utils/src/dml/entity.ts
  packages/core/utils/src/index.ts
  packages/core/utils/src/modules-sdk/__tests__/joiner-config-builder.spec.ts
  packages/core/utils/src/modules-sdk/define-link.ts
  packages/core/utils/src/modules-sdk/index.ts
  packages/core/utils/src/modules-sdk/joiner-config-builder.ts
  packages/core/utils/src/modules-sdk/medusa-service.ts
  packages/core/utils/src/modules-sdk/module.ts
  packages/core/utils/src/modules-sdk/types/links-config.ts
  packages/core/utils/src/modules-sdk/types/medusa-service.ts
  packages/modules/region/src/index.ts
  packages/modules/region/src/loaders/defaults.ts
  packages/modules/region/src/models/country.ts
  packages/modules/region/src/models/index.ts
  packages/modules/region/src/models/region.ts
  packages/modules/region/src/services/region-module.ts
Labels: team: medusa

#7934 fix(order): order list payment and fulfillment status
  packages/core/core-flows/src/order/workflows/get-order-detail.ts
  packages/core/core-flows/src/order/workflows/get-orders-list.ts
  packages/core/core-flows/src/order/workflows/index.ts
  packages/medusa/src/api/admin/orders/route.ts
  packages/modules/order/integration-tests/__tests__/order-claim.ts
  packages/modules/order/integration-tests/__tests__/order-return.ts
  packages/modules/order/src/utils/base-repository-find.ts
  packages/modules/order/src/utils/transform-order.ts
Labels: team: medusa

#7940 chore: Update defineMikroOrmCliConfig api
  packages/core/utils/src/modules-sdk/__tests__/mikro-orm-cli-config-builder.spec.ts
  packages/core/utils/src/modules-sdk/mikro-orm-cli-config-builder.ts
  packages/modules/fulfillment/mikro-orm.config.dev.ts
  packages/modules/notification/mikro-orm.config.dev.ts
Labels: team: medusa

#7942 fix(dashboard): order item details alignment
  packages/admin-next/dashboard/src/routes/orders/order-detail/components/order-summary-section/order-summary-section.tsx
Labels: team: medusa

#7944 Feat/mikro orm based linkable
  integration-tests/modules/__tests__/link-modules/define-link.spec.ts
  packages/core/modules-sdk/src/medusa-app.ts
  packages/core/utils/src/modules-sdk/__tests__/joiner-config-builder.spec.ts
  packages/core/utils/src/modules-sdk/define-link.ts
  packages/core/utils/src/modules-sdk/joiner-config-builder.ts
  packages/core/utils/src/modules-sdk/module.ts
  packages/core/utils/src/modules-sdk/types/links-config.ts
  packages/medusa/src/commands/migrate.ts
  packages/medusa/src/loaders/medusa-app.ts
  packages/modules/link-modules/src/services/dynamic-service-class.ts
Labels: type: chore, automerge, team: medusa

#7949 fix: The table existence check should quote the table name
  packages/modules/link-modules/src/migration/index.ts
Labels: team: medusa

#7948 fix(dashboard): order list statuses
  packages/admin-next/dashboard/src/components/table/table-cells/order/payment-status-cell/payment-status-cell.tsx
  packages/admin-next/dashboard/src/i18n/translations/en.json
  packages/admin-next/dashboard/src/lib/order-helpers.ts
  packages/admin-next/dashboard/src/routes/orders/order-detail/constants.ts
  packages/admin-next/dashboard/src/routes/orders/order-list/const.ts
Labels: team: medusa

#7951 docs: fixes to data models + link guides
  www/apps/book/app/basics/data-models/page.mdx
  www/apps/book/app/basics/modules-and-services/page.mdx
Labels: type: docs, team: medusa

#7941 docs-util: normalize primary key types in DML
  www/utils/packages/typedoc-plugin-custom/src/dml-types-normalizer.ts
Labels: type: docs, team: medusa

#7943 feat: Add support for managing tax inclusivity
  integration-tests/http/__tests__/product/store/product.spec.ts
  packages/core/types/src/pricing/common/index.ts
  packages/core/types/src/pricing/common/price-preference.ts
  packages/core/types/src/pricing/common/price-set.ts
  packages/core/types/src/pricing/service.ts
  packages/modules/pricing/integration-tests/__tests__/services/pricing-module/calculate-price.spec.ts
  packages/modules/pricing/src/joiner-config.ts
  packages/modules/pricing/src/migrations/.snapshot-medusa-pricing.json
  packages/modules/pricing/src/migrations/Migration20240704094505.ts
  packages/modules/pricing/src/models/index.ts
  packages/modules/pricing/src/models/price-preference.ts
  packages/modules/pricing/src/repositories/pricing.ts
  packages/modules/pricing/src/services/pricing-module.ts
  packages/modules/pricing/src/types/services/index.ts
  packages/modules/pricing/src/types/services/price-list.ts
  packages/modules/pricing/src/types/services/price-set.ts
  packages/modules/pricing/src/types/services/price.ts
Labels: automerge, team: medusa

#7950 fix custom link resolution in medusa app
  packages/core/modules-sdk/src/medusa-app.ts
  packages/core/utils/src/modules-sdk/define-link.ts
  packages/medusa/src/loaders/helpers/resolve-plugins-links.ts
Labels: team: medusa

#7947 fix(product): category tree breaks due to pagination limit
  packages/modules/product/integration-tests/__tests__/product-module-service/product-categories.spec.ts
  packages/modules/product/src/repositories/product-category.ts
Labels: automerge, team: medusa

#7878 docs: prepare for v2 docs
  www/apps/api-reference/.env.sample
  www/apps/api-reference/components/Navbar/index.tsx
  www/apps/api-reference/next.config.mjs
  www/apps/docs/docusaurus.config.js
Labels: team: medusa

#7952 docs: fix api-reference with proxy
  www/apps/api-reference/app/v2/api/[area]/layout.tsx
  www/apps/api-reference/app/v2/api/[area]/opengraph-image.jpg
  www/apps/api-reference/app/v2/api/[area]/page.tsx
  www/apps/api-reference/app/v2/api/[area]/twitter-image.jpg
  www/apps/api-reference/app/v2/api/algolia/route.ts
  www/apps/api-reference/app/v2/api/base-specs/route.ts
  www/apps/api-reference/app/v2/api/download/[area]/route.ts
  www/apps/api-reference/app/v2/api/schema/route.ts
  www/apps/api-reference/app/v2/api/tag/route.ts
  www/apps/api-reference/components/DownloadFull/index.tsx
  www/apps/api-reference/components/Navbar/index.tsx
  www/apps/api-reference/components/Tags/Paths/index.tsx
  www/apps/api-reference/components/Tags/Section/index.tsx
  www/apps/api-reference/components/Tags/index.tsx
  www/apps/api-reference/next.config.mjs
  www/apps/api-reference/providers/search.tsx
  www/apps/api-reference/utils/get-url.ts
Labels: type: docs, team: medusa

#7953 docs: fix rewrite to main docs
  www/apps/book/next.config.mjs
Labels: type: docs, team: medusa

#7954 docs: restructure api-reference to allow base path
  www/apps/api-reference/app/admin/page.tsx
  www/apps/api-reference/app/api/algolia/route.ts
  www/apps/api-reference/app/api/base-specs/route.ts
  www/apps/api-reference/app/api/download/[area]/route.ts
  www/apps/api-reference/app/api/schema/route.ts
  www/apps/api-reference/app/api/tag/route.ts
  www/apps/api-reference/app/layout.tsx
  www/apps/api-reference/app/opengraph-image.jpg
  www/apps/api-reference/app/store/page.tsx
  www/apps/api-reference/app/twitter-image.jpg
  www/apps/api-reference/app/v2/api/[area]/page.tsx
  www/apps/api-reference/components/Navbar/index.tsx
  www/apps/api-reference/components/Tags/Paths/index.tsx
  www/apps/api-reference/components/Tags/Section/index.tsx
  www/apps/api-reference/components/Tags/index.tsx
  www/apps/api-reference/next.config.mjs
Labels: type: docs, automerge, team: medusa

#7958 docs: remove limitation on arrow functions in workflows
  www/apps/book/app/advanced-development/workflows/constructor-constraints/page.mdx
Labels: type: docs, automerge, team: medusa

#7957 docs: fix URL of Algolia cron job
  www/apps/api-reference/vercel.json
Labels: type: docs, automerge, team: medusa

#7963 chore: rm database extra
  packages/core/types/src/common/config-module.ts
Labels: team: medusa

#7965 docs: fix payment processor reference
  docs-util/packages/scripts/package.json
  docs-util/typedoc-json-output/payment.json
  packages/medusa/src/interfaces/payment-processor.ts
  www/apps/docs/content/references/fulfillment/classes/fulfillment.AbstractFulfillmentService.mdx
  www/apps/docs/content/references/medusa_config/interfaces/medusa_config.ConfigModule.mdx
  www/apps/docs/content/references/medusa_config/interfaces/medusa_config.HttpCompressionOptions.mdx
  www/apps/docs/content/references/medusa_config/interfaces/medusa_config.ProjectConfigOptions.mdx
  www/apps/docs/content/references/payment/classes/payment.AbstractPaymentProcessor.mdx
  www/apps/docs/content/references/payment/interfaces/payment.PaymentProcessor.mdx
Labels: team: medusa

#7967 docs: fix edit button on resources homepage
  www/apps/resources/generated/files-map.mjs
  www/apps/resources/scripts/generate-files-map.mjs
Labels: type: docs, team: medusa

#7912 Feat(workflows-sdk): step conditional
  packages/core/utils/src/orchestration/symbol.ts
  packages/core/workflows-sdk/src/helper/__tests__/merge-data.spec.ts
  packages/core/workflows-sdk/src/helper/__tests__/pipe.spec.ts
  packages/core/workflows-sdk/src/helper/index.ts
  packages/core/workflows-sdk/src/helper/merge-data.ts
  packages/core/workflows-sdk/src/helper/pipe.ts
  packages/core/workflows-sdk/src/utils/composer/__tests__/index.spec.ts
  packages/core/workflows-sdk/src/utils/composer/create-step.ts
  packages/core/workflows-sdk/src/utils/composer/index.ts
  packages/core/workflows-sdk/src/utils/composer/when.ts
  packages/modules/workflow-engine-inmemory/integration-tests/__fixtures__/index.ts
  packages/modules/workflow-engine-inmemory/integration-tests/__fixtures__/workflow_conditional_step.ts
  packages/modules/workflow-engine-inmemory/integration-tests/__tests__/index.spec.ts
Labels: type: docs, team: medusa

#7966 docs: cancel building new docs on v1.x branch
  www/ignore-build-script.sh
Labels: team: medusa

#7969 fix(notification): fix notification loader error
  packages/modules/notification/src/loaders/providers.ts
Labels: team: medusa

#7970 docs: fix build:server command in plugin documentation
  www/apps/docs/content/development/plugins/create.mdx
Labels: team: medusa

#7968 docs: fix pagination on mobile devices
  www/apps/api-reference/vercel.json
  www/packages/docs-ui/src/components/Pagination/index.tsx
  www/packages/docs-ui/src/layouts/tight.tsx
Labels: type: docs, team: medusa

#7974 fix: Improve get caller file path util
  packages/core/utils/src/common/get-caller-file-path.ts
  packages/core/utils/src/modules-sdk/joiner-config-builder.ts
Labels: team: medusa

#7975 chore: Apply defineMikroOrmCliConfig
  packages/modules/api-key/mikro-orm.config.dev.ts
  packages/modules/auth/mikro-orm.config.dev.ts
  packages/modules/cart/mikro-orm.config.dev.ts
  packages/modules/currency/mikro-orm.config.dev.ts
  packages/modules/customer/mikro-orm.config.dev.ts
  packages/modules/fulfillment/mikro-orm.config.dev.ts
  packages/modules/inventory-next/mikro-orm.config.dev.ts
  packages/modules/notification/mikro-orm.config.dev.ts
  packages/modules/order/mikro-orm.config.dev.ts
  packages/modules/payment/mikro-orm.config.dev.ts
  packages/modules/pricing/mikro-orm.config.dev.ts
  packages/modules/product/mikro-orm.config.dev.ts
  packages/modules/promotion/mikro-orm.config.dev.ts
  packages/modules/region/mikro-orm.config.dev.ts
  packages/modules/sales-channel/mikro-orm.config.dev.ts
  packages/modules/stock-location-next/mikro-orm.config.dev.ts
  packages/modules/store/mikro-orm.config.dev.ts
  packages/modules/tax/mikro-orm.config.dev.ts
  packages/modules/user/mikro-orm.config.dev.ts
  packages/modules/workflow-engine-inmemory/mikro-orm.config.dev.ts
  packages/modules/workflow-engine-redis/mikro-orm.config.dev.ts
Labels: type: chore, automerge, team: medusa

#7925 chore(dashboard): text changes and fixes
  packages/admin-next/dashboard/src/components/common/empty-table-content/empty-table-content.tsx
  packages/admin-next/dashboard/src/components/layout/shell/shell.tsx
  packages/admin-next/dashboard/src/components/table/data-table/data-table.tsx
  packages/admin-next/dashboard/src/hooks/table/columns-v2/use-promotion-table-columns.tsx
  packages/admin-next/dashboard/src/i18n/translations/en.json
  packages/admin-next/dashboard/src/routes/api-key-management/api-key-management-detail/components/api-key-sales-channel-section/api-key-sales-channel-section.tsx
  packages/admin-next/dashboard/src/routes/api-key-management/api-key-management-list/components/api-key-management-list-table/api-key-management-list-table.tsx
  packages/admin-next/dashboard/src/routes/api-key-management/api-key-management-sales-channels/components/api-key-sales-channels-form/api-key-sales-channels-form.tsx
  packages/admin-next/dashboard/src/routes/campaigns/add-campaign-promotions/components/add-campaign-promotions-form.tsx
  packages/admin-next/dashboard/src/routes/campaigns/campaign-budget-edit/campaign-budget-edit.tsx
  packages/admin-next/dashboard/src/routes/campaigns/campaign-detail/components/campaign-promotion-section/campaign-promotion-section.tsx
  packages/admin-next/dashboard/src/routes/categories/category-detail/components/category-product-section/category-product-section.tsx
  packages/admin-next/dashboard/src/routes/categories/category-list/components/category-list-table/category-list-table.tsx
  packages/admin-next/dashboard/src/routes/collections/collection-detail/components/collection-product-section/collection-product-section.tsx
  packages/admin-next/dashboard/src/routes/collections/collection-list/components/collection-list-table/collection-list-table.tsx
  packages/admin-next/dashboard/src/routes/customer-groups/customer-group-add-customers/components/add-customers-form/add-customers-form.tsx
  packages/admin-next/dashboard/src/routes/customer-groups/customer-group-detail/components/customer-group-customer-section/customer-group-customer-section.tsx
  packages/admin-next/dashboard/src/routes/customer-groups/customer-group-list/components/customer-group-list-table/customer-group-list-table.tsx
  packages/admin-next/dashboard/src/routes/customers/customer-detail/components/customer-group-section/customer-group-section.tsx
  packages/admin-next/dashboard/src/routes/customers/customer-list/components/customer-list-table/customer-list-table.tsx
  packages/admin-next/dashboard/src/routes/customers/customers-add-customer-group/components/add-customers-form/add-customer-groups-form.tsx
  packages/admin-next/dashboard/src/routes/inventory/inventory-list/components/inventory-list-table.tsx
  packages/admin-next/dashboard/src/routes/orders/order-list/components/order-list-table/order-list-table.tsx
  packages/admin-next/dashboard/src/routes/price-lists/price-list-create/components/price-list-create-form/price-list-products-form.tsx
  packages/admin-next/dashboard/src/routes/price-lists/price-list-list/components/price-list-list-table/price-list-list-table.tsx
  packages/admin-next/dashboard/src/routes/product-types/product-type-list/components/product-type-list-table/product-type-list-table.tsx
  packages/admin-next/dashboard/src/routes/products/common/components/category-combobox/category-combobox.tsx
  packages/admin-next/dashboard/src/routes/products/product-create-variant/components/create-product-variant-form/create-product-variant-form.tsx
  packages/admin-next/dashboard/src/routes/products/product-list/components/product-list-table/product-list-table.tsx
  packages/admin-next/dashboard/src/routes/promotions/promotion-add-campaign/components/add-campaign-promotion-form/add-campaign-promotion-form.tsx
  packages/admin-next/dashboard/src/routes/promotions/promotion-create/components/create-promotion-form/create-promotion-form.tsx
  packages/admin-next/dashboard/src/routes/promotions/promotion-detail/components/promotion-conditions-section/promotion-conditions-section.tsx
  packages/admin-next/dashboard/src/routes/promotions/promotion-detail/components/promotion-general-section/promotion-general-section.tsx
  packages/admin-next/dashboard/src/routes/regions/region-list/components/region-list-table/region-list-table.tsx
  packages/admin-next/dashboard/src/routes/reservations/reservation-list/components/reservation-list-table/reservation-list-table.tsx
  packages/admin-next/dashboard/src/routes/sales-channels/sales-channel-add-products/components/add-products-to-sales-channel-form.tsx
  packages/admin-next/dashboard/src/routes/sales-channels/sales-channel-detail/components/sales-channel-product-section/sales-channel-product-section.tsx
  packages/admin-next/dashboard/src/routes/sales-channels/sales-channel-list/components/sales-channel-list-table.tsx
  packages/admin-next/dashboard/src/routes/shipping-profiles/shipping-profiles-list/components/shipping-profile-list-table/shipping-profile-list-table.tsx
  packages/admin-next/dashboard/src/routes/taxes/tax-region-list/components/region-list-table/tax-region-list-table.tsx
  packages/admin-next/dashboard/src/routes/workflow-executions/workflow-execution-list/components/workflow-execution-list-table/workflow-execution-list-table.tsx
Labels: automerge, team: medusa

#6937 chore(utils): added declarationMap option to tsconfig
  packages/utils/tsconfig.json
Labels: automerge, team: medusa

#7979 feat: Add types to the workflow conditional
  packages/core/workflows-sdk/package.json
  packages/core/workflows-sdk/src/utils/_playground.ts
  packages/core/workflows-sdk/src/utils/composer/__tests__/index.spec.ts
  packages/core/workflows-sdk/src/utils/composer/create-step.ts
  packages/core/workflows-sdk/src/utils/composer/when.ts
Labels: automerge, team: medusa

#6195 docs(development): update typescript code examples
  www/apps/docs/content/development/api-routes/create-express-route.mdx
  www/apps/docs/content/development/entities/repositories.md
  www/apps/docs/content/development/modules/create.mdx
  www/apps/docs/content/development/services/create-service.mdx
Labels: type: docs, automerge

#7982 fix(vite-plugin-admin): Ensure UI Routes are HMR
  packages/admin-next/admin-vite-plugin/src/plugin.ts
  packages/admin-next/dashboard/src/components/layout/main-layout/main-layout.tsx
  packages/admin-next/dashboard/src/routes/price-lists/price-list-create/components/price-list-create-form/price-list-details-form.tsx
Labels: automerge, team: medusa

#7986 fix(dashboard): Hide edit rank button when no categories exist
  packages/admin-next/dashboard/src/routes/categories/category-list/components/category-list-table/category-list-table.tsx
Labels: automerge, team: medusa

#6186 docs(development): fix yarn version
  www/apps/docs/content/development/fundamentals/local-development.md
Labels: type: docs, automerge

#7977 chore: Rename entity to model
  packages/core/types/src/dal/entity.ts
  packages/core/utils/src/modules-sdk/joiner-config-builder.ts
  packages/core/utils/src/modules-sdk/medusa-service.ts
  packages/core/utils/src/modules-sdk/types/medusa-service.ts
  packages/modules/cart/src/models/address.ts
  packages/modules/cart/src/models/adjustment-line.ts
  packages/modules/cart/src/models/cart.ts
  packages/modules/cart/src/models/line-item.ts
  packages/modules/cart/src/models/shipping-method.ts
  packages/modules/cart/src/models/tax-line.ts
  packages/modules/customer/src/models/address.ts
  packages/modules/customer/src/models/customer-group-customer.ts
  packages/modules/customer/src/models/customer-group.ts
  packages/modules/customer/src/models/customer.ts
  packages/modules/fulfillment/src/models/address.ts
  packages/modules/fulfillment/src/models/fulfillment-item.ts
  packages/modules/fulfillment/src/models/fulfillment-label.ts
  packages/modules/fulfillment/src/models/fulfillment-set.ts
  packages/modules/fulfillment/src/models/fulfillment.ts
  packages/modules/fulfillment/src/models/geo-zone.ts
  packages/modules/fulfillment/src/models/service-zone.ts
  packages/modules/fulfillment/src/models/shipping-option-rule.ts
  packages/modules/fulfillment/src/models/shipping-option-type.ts
  packages/modules/fulfillment/src/models/shipping-option.ts
  packages/modules/fulfillment/src/models/shipping-profile.ts
  packages/modules/inventory-next/src/models/inventory-item.ts
  packages/modules/order/src/models/address.ts
  packages/modules/order/src/models/adjustment-line.ts
  packages/modules/order/src/models/claim-item-image.ts
  packages/modules/order/src/models/claim-item.ts
  packages/modules/order/src/models/claim.ts
  packages/modules/order/src/models/exchange-item.ts
  packages/modules/order/src/models/exchange.ts
  packages/modules/order/src/models/line-item.ts
  packages/modules/order/src/models/order-change-action.ts
  packages/modules/order/src/models/order-change.ts
  packages/modules/order/src/models/order-item.ts
  packages/modules/order/src/models/order-shipping-method.ts
  packages/modules/order/src/models/order.ts
  packages/modules/order/src/models/return-item.ts
  packages/modules/order/src/models/return-reason.ts
  packages/modules/order/src/models/return.ts
  packages/modules/order/src/models/transaction.ts
  packages/modules/payment/src/models/payment-collection.ts
  packages/modules/payment/src/models/payment.ts
  packages/modules/pricing/src/models/price-list-rule.ts
  packages/modules/pricing/src/models/price-list.ts
  packages/modules/pricing/src/models/price-rule.ts
  packages/modules/pricing/src/models/price.ts
  packages/modules/promotion/src/models/campaign-budget.ts
  packages/modules/promotion/src/models/campaign.ts
  packages/modules/promotion/src/models/promotion-rule.ts
  packages/modules/promotion/src/models/promotion.ts
  packages/modules/sales-channel/src/models/sales-channel.ts
  packages/modules/store/src/models/store.ts
  packages/modules/tax/src/models/tax-rate-rule.ts
  packages/modules/tax/src/models/tax-rate.ts
  packages/modules/tax/src/models/tax-region.ts
  packages/modules/user/src/models/invite.ts
  packages/modules/user/src/models/user.ts
Labels: type: chore, automerge, team: medusa

#7984 fix(dashboard): StockLocations overview sidebar
  packages/admin-next/dashboard/src/components/common/icon-avatar/icon-avatar.tsx
  packages/admin-next/dashboard/src/i18n/translations/en.json
  packages/admin-next/dashboard/src/routes/locations/location-list/location-list.tsx
Labels: team: medusa

#7985 fix(create-medusa-app): remove glob-related warnings
  packages/cli/create-medusa-app/package.json
  packages/cli/create-medusa-app/src/commands/create.ts
  packages/cli/create-medusa-app/src/index.ts
  packages/cli/create-medusa-app/src/utils/clear-project.ts
  packages/cli/create-medusa-app/src/utils/prepare-project.ts
  www/apps/resources/app/create-medusa-app/page.mdx
  yarn.lock
Labels: type: docs, automerge, team: medusa

#8009 docs: fix page crashing when using google translate
  www/packages/docs-ui/src/components/Tooltip/index.tsx
Labels: type: docs, team: medusa

#8012 chore: update docs issue template
  .github/ISSUE_TEMPLATE/docs.yml
Labels: type: chore, automerge, team: medusa

#8015 fix: Modules providers loading mechanism to infer the source dir
  packages/core/modules-sdk/src/loaders/module-provider-loader.ts
  packages/core/modules-sdk/src/loaders/register-modules.ts
  packages/core/utils/src/common/index.ts
  packages/core/utils/src/common/normalize-import-path-with-source.ts
  packages/medusa/src/loaders/helpers/resolve-plugins.ts
Labels: team: medusa

#8016 chore: rename source to linkable in defineLink options
  integration-tests/modules/__tests__/link-modules/define-link.spec.ts
  packages/core/utils/src/modules-sdk/define-link.ts
Labels: type: chore, team: medusa

#8011 docs: fix type in module path
  www/apps/book/app/basics/modules-and-services/page.mdx
Labels: type: docs, team: medusa

#8017 docs: rename property when defining a list link
  www/apps/book/app/advanced-development/modules/module-links/page.mdx
Labels: type: docs, team: medusa

#8019 feat: Add static server and adjust file local to work out of the box
  packages/medusa/src/commands/develop.ts
  packages/medusa/src/loaders/express.ts
  packages/medusa/src/loaders/index.ts
  packages/modules/providers/file-local/src/services/local-file.ts
Labels: automerge, team: medusa

#7971 docs: fixes to deployments of new docs on v1.x branch
  www/apps/api-reference/vercel.json
  www/apps/book/README.md
  www/apps/resources/README.md
Labels: type: docs, team: medusa

#7973 Initial implementation with just the generate method
  packages/core/utils/src/migrations/index.ts
  packages/core/utils/src/migrations/integration-tests/__tests__/migrations-generate.spec.ts
  packages/core/utils/src/migrations/integration-tests/__tests__/migrations-revert.spec.ts
  packages/core/utils/src/migrations/integration-tests/__tests__/migrations-run.spec.ts
  packages/core/utils/src/modules-sdk/__tests__/mikro-orm-cli-config-builder.spec.ts
  packages/core/utils/src/modules-sdk/mikro-orm-cli-config-builder.ts
Labels: team: medusa

#8003 Feat: Add tax inclusivity to admin
  integration-tests/http/__tests__/region/admin/region.spec.ts
  packages/admin-next/dashboard/src/components/common/tax-badge/tax-badge.tsx
  packages/admin-next/dashboard/src/components/data-grid/data-grid-columns/price-columns.tsx
  packages/admin-next/dashboard/src/hooks/api/price-preferences.tsx
  packages/admin-next/dashboard/src/i18n/translations/en.json
  packages/admin-next/dashboard/src/routes/locations/common/hooks/use-shipping-option-price-columns.tsx
  packages/admin-next/dashboard/src/routes/locations/location-service-zone-shipping-option-create/components/create-shipping-options-form/create-shipping-options-prices-form.tsx
  packages/admin-next/dashboard/src/routes/locations/location-service-zone-shipping-option-pricing/components/create-shipping-options-form/edit-shipping-options-pricing-form.tsx
  packages/admin-next/dashboard/src/routes/price-lists/common/hooks/use-price-list-currency-data.tsx
  packages/admin-next/dashboard/src/routes/price-lists/common/hooks/use-price-list-grid-columns.tsx
  packages/admin-next/dashboard/src/routes/price-lists/price-list-create/components/price-list-create-form/price-list-create-form.tsx
  packages/admin-next/dashboard/src/routes/price-lists/price-list-create/components/price-list-create-form/price-list-prices-form.tsx
  packages/admin-next/dashboard/src/routes/price-lists/price-list-create/price-list-create.tsx
  packages/admin-next/dashboard/src/routes/price-lists/price-list-prices-add/components/price-list-prices-add-form/price-list-prices-add-form.tsx
  packages/admin-next/dashboard/src/routes/price-lists/price-list-prices-add/components/price-list-prices-add-form/price-list-prices-add-prices-form.tsx
  packages/admin-next/dashboard/src/routes/price-lists/price-list-prices-add/price-list-prices-add.tsx
  packages/admin-next/dashboard/src/routes/price-lists/price-list-prices-edit/components/price-list-prices-edit-form/price-list-prices-edit-form.tsx
  packages/admin-next/dashboard/src/routes/price-lists/price-list-prices-edit/price-list-prices-edit.tsx
  packages/admin-next/dashboard/src/routes/products/common/variant-pricing-form.tsx
  packages/admin-next/dashboard/src/routes/products/product-create/components/product-create-variants-form/product-create-variants-form.tsx
  packages/admin-next/dashboard/src/routes/regions/region-create/components/create-region-form/create-region-form.tsx
  packages/admin-next/dashboard/src/routes/regions/region-detail/components/region-general-section/region-general-section.tsx
  packages/admin-next/dashboard/src/routes/regions/region-detail/region-detail.tsx
  packages/admin-next/dashboard/src/routes/regions/region-edit/components/edit-region-form/edit-region-form.tsx
  packages/admin-next/dashboard/src/routes/regions/region-edit/region-edit.tsx
  packages/core/core-flows/src/region/workflows/create-regions.ts
  packages/core/core-flows/src/region/workflows/update-regions.ts
  packages/core/js-sdk/src/admin/index.ts
  packages/core/js-sdk/src/admin/price-preference.ts
  packages/core/types/src/http/region/admin.ts
  packages/core/types/src/workflow/region/create-regions.ts
  packages/core/types/src/workflow/region/update-regions.ts
  packages/medusa/src/api/admin/price-preferences/validators.ts
  packages/medusa/src/api/admin/regions/validators.ts
Labels: team: medusa

#8031 fix: Test failing after recent changes
  integration-tests/http/__tests__/upload/admin/upload.spec.ts
Labels: team: medusa

#8013 feat: Plug tax inclusivity in cart and order workflows
  integration-tests/modules/__tests__/cart/store/cart.workflows.spec.ts
  integration-tests/modules/__tests__/cart/store/carts.spec.ts
  integration-tests/modules/__tests__/order/draft-order.spec.ts
  integration-tests/modules/__tests__/order/workflows/create-return.spec.ts
  packages/core/core-flows/src/definition/cart/utils/fields.ts
  packages/core/core-flows/src/definition/cart/utils/prepare-line-item-data.ts
  packages/core/core-flows/src/definition/cart/workflows/add-shipping-method-to-cart.ts
  packages/core/core-flows/src/definition/cart/workflows/add-to-cart.ts
  packages/core/core-flows/src/definition/cart/workflows/create-carts.ts
  packages/core/core-flows/src/definition/cart/workflows/list-shipping-options-for-cart.ts
  packages/core/core-flows/src/definition/cart/workflows/update-line-item-in-cart.ts
  packages/core/core-flows/src/order/utils/prepare-custom-line-item-data.ts
  packages/core/core-flows/src/order/workflows/create-orders.ts
  packages/core/core-flows/src/order/workflows/create-return.ts
  packages/core/types/src/common/with-calculated.ts
  packages/core/types/src/order/mutations.ts
  packages/core/utils/src/totals/cart/index.ts
  packages/medusa/src/api/store/carts/query-config.ts
Labels: team: medusa

#7827 feat: Add necessary middlewares for tax inclusive pricing
  integration-tests/helpers/fixtures.ts
  integration-tests/http/__tests__/product/store/product.spec.ts
  packages/core/types/src/http/pricing/common.ts
  packages/core/types/src/http/product/admin/payloads.ts
  packages/core/types/src/http/product/common.ts
  packages/core/types/src/product/common.ts
  packages/core/types/src/tax/common.ts
  packages/core/utils/src/totals/index.ts
  packages/core/utils/src/totals/tax/index.ts
  packages/medusa/src/api/store/products/[id]/route.ts
  packages/medusa/src/api/store/products/helpers.ts
  packages/medusa/src/api/store/products/middlewares.ts
  packages/medusa/src/api/store/products/route.ts
  packages/medusa/src/api/store/products/validators.ts
  packages/medusa/src/api/utils/middlewares/common/clear-filters-by-key.ts
  packages/medusa/src/api/utils/middlewares/common/index.ts
  packages/medusa/src/api/utils/middlewares/products/index.ts
  packages/medusa/src/api/utils/middlewares/products/normalize-data-for-context.ts
  packages/medusa/src/api/utils/middlewares/products/set-pricing-context.ts
  packages/medusa/src/api/utils/middlewares/products/set-tax-context.ts
  packages/modules/pricing/integration-tests/__tests__/services/pricing-module/calculate-price.spec.ts
  packages/modules/pricing/src/services/pricing-module.ts
Labels: automerge, team: medusa

#8029 chore: fix CLI test by adding resolution for glob
  package.json
  packages/design-system/ui/package.json
  yarn.lock
Labels: team: medusa

#8034 Attempt to fix flaky migration tests
  packages/core/utils/src/migrations/integration-tests/__tests__/migrations-generate.spec.ts
  packages/core/utils/src/migrations/integration-tests/__tests__/migrations-revert.spec.ts
  packages/core/utils/src/migrations/integration-tests/__tests__/migrations-run.spec.ts
Labels: team: medusa

#7976 docs: regenerate OAS + references to fix products in product collection
  docs-util/typedoc-json-output/entities.json
  docs-util/typedoc-json-output/js-client.json
  docs-util/typedoc-json-output/medusa-react.json
  www/apps/api-reference/specs/admin/components/schemas/AdminPostInventoryItemsItemLocationLevelsLevelReq.yaml
  www/apps/api-reference/specs/admin/components/schemas/AdminPostInventoryItemsItemLocationLevelsReq.yaml
  www/apps/api-reference/specs/admin/components/schemas/ProductCollection.yaml
  www/apps/api-reference/specs/admin/openapi.full.yaml
  www/apps/api-reference/specs/admin/paths/admin_inventory-items_{id}_location-levels.yaml
  www/apps/api-reference/specs/admin/paths/admin_inventory-items_{id}_location-levels_{location_id}.yaml
  www/apps/api-reference/specs/store/components/schemas/ProductCollection.yaml
  www/apps/api-reference/specs/store/openapi.full.yaml
  www/apps/docs/content/references/entities/classes/entities.DiscountCondition.mdx
  www/apps/docs/content/references/entities/classes/entities.DiscountConditionProductCollection.mdx
  www/apps/docs/content/references/entities/classes/entities.Product.mdx
  www/apps/docs/content/references/entities/classes/entities.ProductCollection.mdx
  www/apps/docs/content/references/js_client/classes/js_client.AdminAuthResource.mdx
  www/apps/docs/content/references/js_client/classes/js_client.AdminCollectionsResource.mdx
  www/apps/docs/content/references/js_client/classes/js_client.AdminDiscountsResource.mdx
  www/apps/docs/content/references/js_client/classes/js_client.AdminPriceListResource.mdx
  www/apps/docs/content/references/js_client/classes/js_client.AdminProductsResource.mdx
  www/apps/docs/content/references/js_client/classes/js_client.AdminRegionsResource.mdx
  www/apps/docs/content/references/js_client/classes/js_client.AdminStockLocationsResource.mdx
  www/apps/docs/content/references/js_client/classes/js_client.CollectionsResource.mdx
  www/apps/docs/content/references/medusa/types/medusa.AdminCollectionsRes.mdx
  www/apps/docs/content/references/medusa/types/medusa.StoreCollectionsRes.mdx
  www/apps/docs/content/references/medusa_react/Hooks/Admin/medusa_react.Hooks.Admin.Discounts.mdx
  www/apps/docs/content/references/medusa_react/Hooks/Admin/medusa_react.Hooks.Admin.Product_Collections.mdx
  www/apps/docs/content/references/medusa_react/Hooks/Admin/medusa_react.Hooks.Admin.Products.mdx
  www/apps/docs/content/references/medusa_react/Hooks/Admin/medusa_react.Hooks.Admin.Stock_Locations.mdx
  www/apps/docs/content/references/medusa_react/Hooks/Store/medusa_react.Hooks.Store.Product_Collections.mdx
  www/apps/docs/content/references/medusa_react/Providers/medusa_react.Providers.Medusa.mdx
  www/apps/docs/content/references/medusa_react/Utilities/functions/medusa_react.Utilities.computeVariantPrice.mdx
  www/apps/docs/content/references/medusa_react/Utilities/functions/medusa_react.Utilities.formatVariantPrice.mdx
  www/apps/docs/content/references/medusa_react/Utilities/functions/medusa_react.Utilities.getVariantPrice.mdx
  www/apps/docs/content/references/medusa_react/interfaces/medusa_react.ComputeVariantPriceParams.mdx
  www/apps/docs/content/references/medusa_react/interfaces/medusa_react.FormatVariantPriceParams.mdx
  www/apps/docs/content/references/medusa_react/interfaces/medusa_react.MedusaProviderProps.mdx
  www/apps/docs/content/references/medusa_react/types/medusa_react.Cart.mdx
  www/apps/docs/content/references/medusa_react/types/medusa_react.ProductVariant.mdx
  www/apps/docs/content/references/medusa_react/types/medusa_react.ProductVariantInfo.mdx
  www/apps/docs/content/references/medusa_react/types/medusa_react.TQueryKey.mdx
  www/apps/docs/content/references/medusa_react/types/medusa_react.UseQueryOptionsWrapper.mdx
  www/apps/docs/content/references/modules/medusa_react.mdx
Labels: type: docs, automerge, team: medusa

#8033 feat(order,core-flows): added order change create workflow
  integration-tests/modules/__tests__/order/workflows/__fixtures__/index.ts
  integration-tests/modules/__tests__/order/workflows/cancel-order.spec.ts
  integration-tests/modules/__tests__/order/workflows/create-order-change.spec.ts
  integration-tests/modules/jest.config.js
  packages/core/core-flows/src/order/steps/create-order-change.ts
  packages/core/core-flows/src/order/steps/index.ts
  packages/core/core-flows/src/order/workflows/create-order-change.ts
  packages/core/core-flows/src/order/workflows/index.ts
  packages/core/types/src/order/service.ts
  packages/modules/order/integration-tests/__tests__/order-edit.ts
  packages/modules/order/src/services/index.ts
  packages/modules/order/src/services/order-change-service.ts
  packages/modules/order/src/services/order-module-service.ts
Labels: automerge, team: medusa

#8032 docs: fix download button + other fixes
  www/apps/api-reference/app/admin/page.tsx
  www/apps/api-reference/app/store/page.tsx
  www/apps/api-reference/components/DownloadFull/index.tsx
  www/apps/api-reference/config/index.ts
  www/apps/book/components/Navbar/index.tsx
  www/apps/book/config/index.ts
  www/apps/book/config/sidebar.tsx
  www/apps/resources/config/index.ts
  www/apps/ui/src/config/docs.tsx
  www/apps/user-guide/config/index.ts
  www/packages/docs-ui/src/constants.tsx
  www/packages/docs-ui/src/utils/get-mobile-sidebar-items.ts
  www/packages/docs-ui/src/utils/index.ts
Labels: type: docs, automerge, team: medusa

#7978 docs: added a note about retrieving the cart using Medusa React
  www/apps/api-reference/vercel.json
  www/apps/docs/content/modules/carts-and-checkout/storefront/implement-cart.mdx
  www/apps/docs/content/modules/carts-and-checkout/storefront/implement-checkout-flow.mdx
  www/apps/docs/content/modules/orders/orders.md
  www/apps/docs/content/modules/overview.mdx
Labels: type: docs, automerge, team: medusa

#8037 feat: Add support in BE for setting tax inclusivity on currency
  integration-tests/http/__tests__/product/store/product.spec.ts
  packages/admin-next/dashboard/src/routes/store/store-add-currencies/components/add-currencies-form/add-currencies-form.tsx
  packages/core/core-flows/src/pricing/steps/index.ts
  packages/core/core-flows/src/pricing/steps/update-price-preferences-as-array.ts
  packages/core/core-flows/src/store/steps/create-stores.ts
  packages/core/core-flows/src/store/steps/update-stores.ts
  packages/core/core-flows/src/store/workflows/create-stores.ts
  packages/core/core-flows/src/store/workflows/update-stores.ts
  packages/core/types/src/http/store/admin/payloads.ts
  packages/core/types/src/store/mutations/store.ts
  packages/core/types/src/workflow/index.ts
  packages/core/types/src/workflow/store/index.ts
  packages/medusa/src/api/admin/stores/[id]/route.ts
  packages/medusa/src/api/admin/stores/validators.ts
  packages/modules/store/src/services/store-module-service.ts
Labels: team: medusa

#8039 feat(core-flows,types): added order change workflow delete workflow
  integration-tests/modules/__tests__/order/workflows/order-change.spec.ts
  packages/core/core-flows/src/order/steps/delete-order-change.ts
  packages/core/core-flows/src/order/steps/index.ts
  packages/core/core-flows/src/order/workflows/delete-order-change.ts
  packages/core/core-flows/src/order/workflows/index.ts
  packages/core/types/src/order/service.ts
Labels: team: medusa

#8041 feat(core-flows): added decline order change workflow
  integration-tests/modules/__tests__/order/workflows/order-change.spec.ts
  packages/core/core-flows/src/order/steps/decline-order-change.ts
  packages/core/core-flows/src/order/steps/index.ts
  packages/core/core-flows/src/order/workflows/decline-order-change.ts
  packages/core/core-flows/src/order/workflows/index.ts
Labels: team: medusa

#8040 fix: Have shipping options open by default
  integration-tests/http/__tests__/product/store/product.spec.ts
  packages/admin-next/dashboard/src/routes/locations/location-detail/components/location-general-section/location-general-section.tsx
  packages/core/utils/src/migrations/integration-tests/__tests__/migrations-generate.spec.ts
  packages/core/utils/src/migrations/integration-tests/__tests__/migrations-revert.spec.ts
  packages/core/utils/src/migrations/integration-tests/__tests__/migrations-run.spec.ts
Labels: automerge, team: medusa

#8035 feat(core-flows,types): cancel order changes workflow
  integration-tests/modules/__tests__/order/workflows/order-change.spec.ts
  packages/core/core-flows/src/order/steps/cancel-order-change.ts
  packages/core/core-flows/src/order/steps/decline-order-change.ts
  packages/core/core-flows/src/order/steps/delete-order-change.ts
  packages/core/core-flows/src/order/steps/index.ts
  packages/core/core-flows/src/order/workflows/cancel-order-change.ts
  packages/core/core-flows/src/order/workflows/decline-order-change.ts
  packages/core/core-flows/src/order/workflows/delete-order-change.ts
  packages/core/core-flows/src/order/workflows/index.ts
  packages/core/types/src/order/mutations.ts
  packages/core/types/src/order/service.ts
  packages/modules/order/src/models/order-change.ts
Labels: automerge, team: medusa

#8038 fix(dashboard): JSON view
  packages/admin-next/dashboard/src/components/common/json-view-section/json-view-section.tsx
  packages/admin-next/dashboard/src/i18n/translations/en.json
  packages/admin-next/dashboard/src/routes/products/product-detail/product-detail.tsx
  packages/admin-next/dashboard/src/routes/workflow-executions/workflow-execution-detail/components/workflow-execution-payload-section/workflow-execution-payload-section.tsx
  packages/design-system/ui-preset/src/theme/extension/theme.ts
  packages/design-system/ui-preset/src/theme/tokens/colors.ts
  packages/design-system/ui-preset/src/theme/tokens/effects.ts
  packages/design-system/ui/package.json
  yarn.lock
Labels: team: medusa

#8025 chore(order): preview order change
  packages/core/types/src/order/common.ts
  packages/core/types/src/order/service.ts
  packages/core/utils/src/totals/create-raw-properties-from-bignumber.ts
  packages/modules/order/integration-tests/__tests__/order-exchange.ts
  packages/modules/order/src/services/__tests__/util/actions/exchanges.ts
  packages/modules/order/src/services/actions/create-claim.ts
  packages/modules/order/src/services/actions/create-exchange.ts
  packages/modules/order/src/services/order-module-service.ts
  packages/modules/order/src/types/utils/index.ts
  packages/modules/order/src/utils/actions/cancel-item-fulfillment.ts
  packages/modules/order/src/utils/actions/cancel-return.ts
  packages/modules/order/src/utils/actions/fulfill-item.ts
  packages/modules/order/src/utils/actions/item-add.ts
  packages/modules/order/src/utils/actions/item-remove.ts
  packages/modules/order/src/utils/actions/receive-damaged-return-item.ts
  packages/modules/order/src/utils/actions/receive-return-item.ts
  packages/modules/order/src/utils/actions/reinstate-item.ts
  packages/modules/order/src/utils/actions/return-item.ts
  packages/modules/order/src/utils/actions/ship-item.ts
  packages/modules/order/src/utils/actions/shipping-add.ts
  packages/modules/order/src/utils/actions/shipping-remove.ts
  packages/modules/order/src/utils/actions/write-off-item.ts
  packages/modules/order/src/utils/apply-order-changes.ts
  packages/modules/order/src/utils/calculate-order-change.ts
  packages/modules/order/src/utils/set-action-reference.ts
Labels: automerge, team: medusa

#8042 fix(dashboard): Shipping Type tooltip
  packages/admin-next/dashboard/src/i18n/translations/en.json
  packages/admin-next/dashboard/src/routes/products/product-list/components/product-list-table/product-list-table.tsx
Labels: team: medusa

#8043 docs: added chapter on managing relationships
  www/apps/book/app/advanced-development/data-models/manage-relationships/page.mdx
  www/apps/book/sidebar.mjs
Labels: type: docs, team: medusa

#8023 fix(admin-vite-plugin): ensure forward slashes are used for paths
  packages/admin-next/admin-vite-plugin/src/plugin.ts
Labels: team: medusa

#7893 docs: update order module's conceptual guides
  www/apps/resources/app/commerce-modules/order/claim/page.mdx
  www/apps/resources/app/commerce-modules/order/concepts/page.mdx
  www/apps/resources/app/commerce-modules/order/exchange/page.mdx
  www/apps/resources/app/commerce-modules/order/order-change/page.mdx
  www/apps/resources/app/commerce-modules/order/order-versioning/page.mdx
  www/apps/resources/app/commerce-modules/order/page.mdx
  www/apps/resources/app/commerce-modules/order/promotion-adjustments/page.mdx
  www/apps/resources/app/commerce-modules/order/return/page.mdx
  www/apps/resources/app/commerce-modules/order/tax-lines/page.mdx
  www/apps/resources/app/commerce-modules/order/transactions/page.mdx
  www/apps/resources/generated/files-map.mjs
  www/apps/resources/generated/sidebar.mjs
  www/apps/resources/sidebar.mjs
Labels: type: docs, team: medusa

#8030 docs: updates to local file module provider documentation
  www/apps/resources/app/architectural-modules/file/local/page.mdx
Labels: type: docs, automerge, team: medusa

#8045 fix(dashboard): Allow cmd+click on table rows
  packages/admin-next/dashboard/src/components/table/data-table/data-table-root/data-table-root.tsx
Labels: team: medusa

#8047 fix(core-flows): order partial fulfillment
  packages/core/core-flows/src/order/workflows/create-fulfillment.ts
Labels: team: medusa

#8010 docs(v1.x): fix page crashing when using google translate
  www/packages/docs-ui/src/components/Tooltip/index.tsx
Labels: type: docs, automerge, team: medusa

#8057 chore(order,utils): move util from order package to utils package
  packages/modules/order/integration-tests/__tests__/order-edit.ts
  packages/modules/order/src/services/__tests__/util/actions/exchanges.ts
  packages/modules/order/src/services/__tests__/util/actions/returns.ts
  packages/modules/order/src/services/actions/cancel-claim.ts
  packages/modules/order/src/services/actions/cancel-exchange.ts
  packages/modules/order/src/services/actions/cancel-fulfillment.ts
  packages/modules/order/src/services/actions/cancel-return.ts
  packages/modules/order/src/services/actions/create-claim.ts
  packages/modules/order/src/services/actions/create-exchange.ts
  packages/modules/order/src/services/actions/create-return.ts
  packages/modules/order/src/services/actions/receive-return.ts
  packages/modules/order/src/services/actions/register-fulfillment.ts
  packages/modules/order/src/services/actions/register-shipment.ts
  packages/modules/order/src/utils/action-key.ts
  packages/modules/order/src/utils/actions/cancel-item-fulfillment.ts
  packages/modules/order/src/utils/actions/cancel-return.ts
  packages/modules/order/src/utils/actions/cancel.ts
  packages/modules/order/src/utils/actions/fulfill-item.ts
  packages/modules/order/src/utils/actions/item-add.ts
  packages/modules/order/src/utils/actions/item-remove.ts
  packages/modules/order/src/utils/actions/receive-damaged-return-item.ts
  packages/modules/order/src/utils/actions/receive-return-item.ts
  packages/modules/order/src/utils/actions/reinstate-item.ts
  packages/modules/order/src/utils/actions/return-item.ts
  packages/modules/order/src/utils/actions/ship-item.ts
  packages/modules/order/src/utils/actions/shipping-add.ts
  packages/modules/order/src/utils/actions/shipping-remove.ts
  packages/modules/order/src/utils/actions/write-off-item.ts
  packages/modules/order/src/utils/index.ts
Labels: team: medusa

#8058 fix(dashboard): Add safe zone around link Table rows
  packages/admin-next/dashboard/src/components/table/data-table/data-table-root/data-table-root.tsx
Labels: automerge, team: medusa

#8056 feat(core-flows, order): add workflow to create change order actions
  integration-tests/modules/__tests__/order/workflows/order-change-actions.ts
  packages/core/core-flows/src/order/steps/create-order-change-actions.ts
  packages/core/core-flows/src/order/steps/index.ts
  packages/core/core-flows/src/order/workflows/create-order-change-actions.ts
  packages/core/core-flows/src/order/workflows/index.ts
  packages/core/types/src/order/service.ts
  packages/core/utils/src/order/index.ts
  packages/core/utils/src/order/order-change-action.ts
  packages/modules/order/integration-tests/__tests__/order-edit.ts
  packages/modules/order/src/services/__tests__/util/actions/exchanges.ts
  packages/modules/order/src/services/__tests__/util/actions/returns.ts
  packages/modules/order/src/services/actions/cancel-claim.ts
  packages/modules/order/src/services/actions/cancel-exchange.ts
  packages/modules/order/src/services/actions/cancel-fulfillment.ts
  packages/modules/order/src/services/actions/cancel-return.ts
  packages/modules/order/src/services/actions/create-claim.ts
  packages/modules/order/src/services/actions/create-exchange.ts
  packages/modules/order/src/services/actions/create-return.ts
  packages/modules/order/src/services/actions/receive-return.ts
  packages/modules/order/src/services/actions/register-fulfillment.ts
  packages/modules/order/src/services/actions/register-shipment.ts
  packages/modules/order/src/services/order-module-service.ts
  packages/modules/order/src/utils/actions/cancel-item-fulfillment.ts
  packages/modules/order/src/utils/actions/cancel-return.ts
  packages/modules/order/src/utils/actions/cancel.ts
  packages/modules/order/src/utils/actions/fulfill-item.ts
  packages/modules/order/src/utils/actions/item-add.ts
  packages/modules/order/src/utils/actions/item-remove.ts
  packages/modules/order/src/utils/actions/receive-damaged-return-item.ts
  packages/modules/order/src/utils/actions/receive-return-item.ts
  packages/modules/order/src/utils/actions/reinstate-item.ts
  packages/modules/order/src/utils/actions/return-item.ts
  packages/modules/order/src/utils/actions/ship-item.ts
  packages/modules/order/src/utils/actions/shipping-add.ts
  packages/modules/order/src/utils/actions/shipping-remove.ts
  packages/modules/order/src/utils/actions/write-off-item.ts
  packages/modules/order/src/utils/index.ts
Labels: automerge, team: medusa

#8050 chore: rename return flow
  .gitignore
  integration-tests/modules/__tests__/order/workflows/create-complete-return.spec.ts
  integration-tests/tsconfig.json
  packages/admin-next/admin-sdk/tsconfig.json
  packages/admin-next/admin-shared/tsconfig.json
  packages/admin-next/admin-vite-plugin/tsconfig.json
  packages/cli/medusa-cli/tsconfig.json
  packages/cli/medusa-dev-cli/tsconfig.json
  packages/cli/oas/medusa-oas-cli/tsconfig.json
  packages/core/core-flows/src/order/workflows/create-complete-return.ts
  packages/core/core-flows/src/order/workflows/index.ts
  packages/core/core-flows/tsconfig.json
  packages/core/js-sdk/tsconfig.json
  packages/core/medusa-test-utils/tsconfig.json
  packages/core/modules-sdk/tsconfig.json
  packages/core/orchestration/tsconfig.json
  packages/core/workflows-sdk/tsconfig.json
  packages/design-system/ui/tsconfig.json
  packages/medusa-telemetry/tsconfig.json
  packages/medusa/src/api/admin/returns/route.ts
  packages/medusa/src/api/store/return/route.ts
  packages/medusa/tsconfig.json
  packages/modules/api-key/tsconfig.json
  packages/modules/auth/tsconfig.json
  packages/modules/cache-inmemory/tsconfig.json
  packages/modules/cache-redis/tsconfig.json
  packages/modules/cart/tsconfig.json
  packages/modules/currency/tsconfig.json
  packages/modules/customer/tsconfig.json
  packages/modules/event-bus-local/tsconfig.json
  packages/modules/event-bus-redis/tsconfig.json
  packages/modules/file/tsconfig.json
  packages/modules/fulfillment/tsconfig.json
  packages/modules/inventory-next/tsconfig.json
  packages/modules/link-modules/tsconfig.json
  packages/modules/notification/tsconfig.json
  packages/modules/order/tsconfig.json
  packages/modules/payment/tsconfig.json
  packages/modules/pricing/tsconfig.json
  packages/modules/product/tsconfig.json
  packages/modules/providers/auth-emailpass/tsconfig.json
  packages/modules/providers/auth-google/tsconfig.json
  packages/modules/providers/file-local/tsconfig.json
  packages/modules/providers/file-s3/tsconfig.json
  packages/modules/providers/fulfillment-manual/tsconfig.json
  packages/modules/providers/notification-local/tsconfig.json
  packages/modules/providers/notification-sendgrid/tsconfig.json
  packages/modules/providers/payment-stripe/tsconfig.json
  packages/modules/region/tsconfig.json
  packages/modules/sales-channel/tsconfig.json
  packages/modules/stock-location-next/tsconfig.json
  packages/modules/store/tsconfig.json
  packages/modules/tax/tsconfig.json
  packages/modules/user/tsconfig.json
  www/packages/build-scripts/tsconfig.json
  www/packages/docs-ui/tsconfig.json
  www/packages/remark-rehype-plugins/tsconfig.json
  www/packages/types/tsconfig.json
  www/utils/packages/utils/tsconfig.json
Labels: type: docs, team: medusa

#8059 fix(ui): Use correct text style for primary button
  packages/design-system/ui/src/components/button/button.tsx
Labels: automerge, team: medusa

#8036 docs: add a section about constraints on step return value
  www/apps/book/app/advanced-development/workflows/constructor-constraints/page.mdx
  www/apps/book/sidebar.mjs
Labels: type: docs, automerge, team: medusa

#8064 feat(core-flows, types): workflow to delete order change actions
  integration-tests/modules/__tests__/order/workflows/create-order-change.spec.ts
  integration-tests/modules/__tests__/order/workflows/order-change-actions.ts
  packages/core/core-flows/src/order/steps/delete-order-change-actions.ts
  packages/core/core-flows/src/order/steps/index.ts
  packages/core/core-flows/src/order/workflows/delete-order-change-actions.ts
  packages/core/core-flows/src/order/workflows/index.ts
  packages/core/types/src/order/service.ts
Labels: team: medusa

#8063 chore: Ensure the events are emitted with the same shape all accross
  packages/core/types/src/event-bus/common.ts
  packages/core/utils/src/modules-sdk/medusa-service.ts
  packages/medusa/src/loaders/helpers/subscribers/index.ts
  packages/medusa/src/types/subscribers.ts
  packages/modules/event-bus-local/src/services/__tests__/event-bus-local.ts
  packages/modules/event-bus-local/src/services/event-bus-local.ts
  packages/modules/event-bus-redis/src/services/event-bus-redis.ts
  packages/modules/product/integration-tests/__tests__/product-module-service/product-categories.spec.ts
  packages/modules/product/integration-tests/__tests__/product-module-service/product-collections.spec.ts
Labels: type: chore, team: medusa

#8065 fix(dashboard, medusa): mark shipped flow
  packages/admin-next/dashboard/src/hooks/api/fulfillment.tsx
  packages/admin-next/dashboard/src/hooks/api/orders.tsx
  packages/admin-next/dashboard/src/routes/orders/order-create-shipment/components/order-create-shipment-form/constants.ts
  packages/admin-next/dashboard/src/routes/orders/order-create-shipment/components/order-create-shipment-form/order-create-shipment-form.tsx
  packages/admin-next/dashboard/src/routes/orders/order-create-shipment/order-create-shipment.tsx
  packages/core/js-sdk/src/admin/order.ts
  packages/core/types/src/http/order/admin.ts
  packages/medusa/src/api/admin/orders/[id]/fulfillments/[fulfillment_id]/shipments/route.ts
  packages/medusa/src/api/admin/orders/middlewares.ts
  packages/medusa/src/api/admin/returns/middlewares.ts
  packages/medusa/src/api/middlewares.ts
Labels: team: medusa

#8049 fix(dashboard): stock location hook cache invalidation
  packages/admin-next/dashboard/src/hooks/api/fulfillment-sets.tsx
  packages/admin-next/dashboard/src/hooks/api/stock-locations.tsx
  packages/admin-next/dashboard/src/routes/locations/location-service-zone-create/index.ts
  packages/admin-next/dashboard/src/routes/locations/location-service-zone-create/loader.ts
  packages/admin-next/dashboard/src/routes/locations/location-service-zone-create/location-service-zone-create.tsx
  packages/admin-next/dashboard/src/routes/locations/location-service-zone-shipping-option-create/index.ts
  packages/admin-next/dashboard/src/routes/locations/location-service-zone-shipping-option-create/loader.ts
  packages/admin-next/dashboard/src/routes/locations/location-service-zone-shipping-option-create/location-service-zone-shipping-option-create.tsx
Labels: team: medusa

#8067 fix(tax): Add indexes to enforce unique constraint on tax region
  packages/modules/tax/integration-tests/__tests__/index.spec.ts
  packages/modules/tax/src/migrations/.snapshot-medusa-tax.json
  packages/modules/tax/src/migrations/Migration20240710135844.ts
  packages/modules/tax/src/models/tax-region.ts
Labels: team: medusa

#8070 fix(utils): define link alias + pluralize
  integration-tests/modules/__tests__/link-modules/define-link.spec.ts
  packages/core/types/src/common/common.ts
  packages/core/utils/package.json
  packages/core/utils/src/common/plurailze.ts
  packages/core/utils/src/modules-sdk/define-link.ts
  yarn.lock
Labels: automerge, team: medusa

#8069 docs: add a need help button
  www/apps/book/providers/index.tsx
  www/apps/resources/app/troubleshooting/_s3-plugin-acl-error/page.mdx
  www/apps/resources/app/troubleshooting/_sections/create-medusa-app-errors/forwarding.mdx
  www/apps/resources/app/troubleshooting/_sections/create-medusa-app-errors/typeerror.mdx
  www/apps/resources/app/troubleshooting/_sections/database-errors/connection-error.mdx
  www/apps/resources/app/troubleshooting/_sections/database-errors/docker.mdx
  www/apps/resources/app/troubleshooting/_sections/other/cors-errors.mdx
  www/apps/resources/app/troubleshooting/_sections/other/eaddrinuse.mdx
  www/apps/resources/app/troubleshooting/_sections/other/s3-acl.mdx
  www/apps/resources/app/troubleshooting/_transaction-promise-all/page.mdx
  www/apps/resources/app/troubleshooting/create-medusa-app-errors/page.mdx
  www/apps/resources/app/troubleshooting/errors-after-upgrading/page.mdx
  www/apps/resources/app/troubleshooting/page.mdx
  www/apps/resources/generated/files-map.mjs
  www/apps/resources/generated/sidebar.mjs
  www/apps/resources/providers/index.tsx
  www/apps/resources/sidebar.mjs
  www/packages/docs-ui/src/components/HelpButton/Actions/index.tsx
  www/packages/docs-ui/src/components/HelpButton/index.tsx
  www/packages/docs-ui/src/components/Notification/index.tsx
  www/packages/docs-ui/src/components/index.ts
  www/packages/docs-ui/src/constants.tsx
  www/packages/docs-ui/src/providers/Notification/index.tsx
Labels: type: docs, team: medusa

#8071 docs: fix typo in curl command example
  www/apps/book/app/basics/modules-and-services/page.mdx
Labels: type: docs, automerge

#8079 chore: properly infer return type from model config
  packages/core/utils/src/modules-sdk/types/medusa-service.ts
Labels: team: medusa

#8080 feat(core-flows, types): add workflow to update order change actions
  integration-tests/modules/__tests__/order/workflows/order-change-actions.ts
  packages/core/core-flows/src/order/steps/index.ts
  packages/core/core-flows/src/order/steps/update-order-change-actions.ts
  packages/core/core-flows/src/order/workflows/index.ts
  packages/core/core-flows/src/order/workflows/update-order-change-actions.ts
  packages/core/types/src/order/service.ts
Labels: team: medusa

#8066 fix: Investigate geo zones with address checks
  packages/modules/fulfillment/integration-tests/__tests__/fulfillment-module-service/shipping-option.spec.ts
  packages/modules/fulfillment/src/services/fulfillment-module-service.ts
Labels: team: medusa

#8078 docs: change event payload handling in subscribers
  www/apps/book/app/advanced-development/events-and-subscribers/data-payload/page.mdx
  www/apps/book/app/basics/events-and-subscribers/page.mdx
  www/apps/book/app/basics/workflows/page.mdx
  www/apps/resources/app/architectural-modules/notification/send-notification/page.mdx
  www/apps/resources/app/architectural-modules/notification/sendgrid/page.mdx
  www/apps/resources/app/recipes/commerce-automation/page.mdx
  www/apps/resources/app/recipes/digital-products/page.mdx
  www/apps/resources/app/recipes/integrate-ecommerce-stack/page.mdx
Labels: type: docs, team: medusa

#8060 Feat: First iteration of commands implementation
  packages/cli/medusa-cli/src/create-cli.ts
  packages/core/modules-sdk/src/loaders/utils/load-internal.ts
  packages/core/modules-sdk/src/medusa-app.ts
  packages/core/modules-sdk/src/medusa-module.ts
  packages/core/utils/src/common/errors.ts
  packages/core/utils/src/migrations/index.ts
  packages/core/utils/src/modules-sdk/migration-scripts/migration-down.ts
  packages/core/utils/src/modules-sdk/migration-scripts/migration-up.ts
  packages/medusa/src/commands/migrate.ts
  packages/medusa/src/loaders/medusa-app.ts
Labels: has: breaking changes, team: medusa

#8087 fix: Gracefully handle migrations that cannot be reverted
  packages/core/utils/src/migrations/index.ts
  packages/core/utils/src/modules-sdk/migration-scripts/migration-down.ts
Labels: team: medusa

#8088 feat(core-flows): begin returns, claims and exchanges
  integration-tests/modules/__tests__/order/workflows/begin-order-claim.spec.ts
  integration-tests/modules/__tests__/order/workflows/begin-order-exchange.spec.ts
  integration-tests/modules/__tests__/order/workflows/begin-order-return.spec.ts
  packages/core/core-flows/src/order/steps/create-claims.ts
  packages/core/core-flows/src/order/steps/create-complete-return.ts
  packages/core/core-flows/src/order/steps/create-exchanges.ts
  packages/core/core-flows/src/order/steps/create-returns.ts
  packages/core/core-flows/src/order/steps/index.ts
  packages/core/core-flows/src/order/utils/order-validation.ts
  packages/core/core-flows/src/order/workflows/begin-order-claim.ts
  packages/core/core-flows/src/order/workflows/begin-order-exchange.ts
  packages/core/core-flows/src/order/workflows/begin-return.ts
  packages/core/core-flows/src/order/workflows/create-complete-return.ts
  packages/core/core-flows/src/order/workflows/index.ts
  packages/core/types/src/order/common.ts
  packages/core/types/src/order/mutations.ts
  packages/core/types/src/order/service.ts
  packages/core/types/src/workflow/order/begin-claim-order.ts
  packages/core/types/src/workflow/order/begin-exchange-order.ts
  packages/core/types/src/workflow/order/begin-return-order.ts
  packages/core/types/src/workflow/order/index.ts
  packages/medusa/src/api/admin/returns/route.ts
  packages/medusa/src/api/admin/returns/validators.ts
  packages/modules/order/src/services/actions/register-shipment.ts
  packages/modules/order/src/services/order-module-service.ts
Labels: team: medusa

#8091 fix(migrations): small fix to the text
  packages/core/utils/src/modules-sdk/migration-scripts/migration-up.ts
Labels: type: chore, automerge, team: medusa

#8084 feat(dashboard,medusa): Add updated Metadata Form
  packages/admin-next/dashboard/src/components/common/json-view-section/json-view-section.tsx
  packages/admin-next/dashboard/src/components/common/metadata-section/index.ts
  packages/admin-next/dashboard/src/components/common/metadata-section/metadata-section.tsx
  packages/admin-next/dashboard/src/components/common/skeleton/skeleton.tsx
  packages/admin-next/dashboard/src/components/forms/metadata-form/index.ts
  packages/admin-next/dashboard/src/components/forms/metadata-form/metadata-form.tsx
  packages/admin-next/dashboard/src/components/forms/metadata/index.ts
  packages/admin-next/dashboard/src/components/forms/metadata/metadata.tsx
  packages/admin-next/dashboard/src/components/layout/pages/single-column-page/single-column-page.tsx
  packages/admin-next/dashboard/src/components/layout/pages/two-column-page/two-column-page.tsx
  packages/admin-next/dashboard/src/components/layout/pages/types.ts
  packages/admin-next/dashboard/src/hooks/api/customers.tsx
  packages/admin-next/dashboard/src/hooks/api/products.tsx
  packages/admin-next/dashboard/src/i18n/translations/en.json
  packages/admin-next/dashboard/src/lib/metadata.ts
  packages/admin-next/dashboard/src/providers/router-provider/route-map.tsx
  packages/admin-next/dashboard/src/routes/customer-groups/customer-group-detail/customer-group-detail.tsx
  packages/admin-next/dashboard/src/routes/customer-groups/customer-group-metadata/customer-metadata.tsx
  packages/admin-next/dashboard/src/routes/customer-groups/customer-group-metadata/index.ts
  packages/admin-next/dashboard/src/routes/customers/customer-detail/customer-detail.tsx
  packages/admin-next/dashboard/src/routes/customers/customer-edit/components/edit-customer-form/edit-customer-form.tsx
  packages/admin-next/dashboard/src/routes/customers/customer-metadata/customer-metadata.tsx
  packages/admin-next/dashboard/src/routes/customers/customer-metadata/index.ts
  packages/admin-next/dashboard/src/routes/products/product-detail/components/product-variant-section/use-variant-table-columns.tsx
  packages/admin-next/dashboard/src/routes/products/product-detail/product-detail.tsx
  packages/admin-next/dashboard/src/routes/products/product-metadata/index.ts
  packages/admin-next/dashboard/src/routes/products/product-metadata/product-metadata.tsx
  packages/medusa/src/api/admin/customer-groups/validators.ts
Labels: automerge, team: medusa

#8061 docs: updated marketplace recipe + added example
  www/apps/resources/app/recipes/marketplace/examples/vendors/page.mdx
  www/apps/resources/app/recipes/marketplace/page.mdx
  www/apps/resources/app/recipes/page.mdx
  www/apps/resources/generated/files-map.mjs
  www/apps/resources/generated/sidebar.mjs
  www/apps/resources/sidebar.mjs
Labels: type: docs, automerge, team: medusa

#8095 fix(dashboard): product create input focus
  packages/admin-next/dashboard/src/routes/products/product-create/components/product-create-variants-form/product-create-variants-form.tsx
Labels: team: medusa

#8094 docs: highlight fixes
  www/apps/book/app/basics/data-models/page.mdx
  www/apps/book/app/basics/modules-and-services/page.mdx
Labels: type: docs, team: medusa

#8054 chore: add generated OAS and Typedoc output to automated PRs
  .github/workflows/generate-public-references.yml
  .github/workflows/generate-resources-reference.yml
Labels: type: chore, team: medusa

#8090 fix: Migration generator and generated migrations
  packages/core/utils/src/dal/mikro-orm/__tests__/ts-migration-generator.spec.ts
  packages/core/utils/src/dal/mikro-orm/mikro-orm-create-connection.ts
  packages/core/utils/src/dml/integration-tests/many-to-many.spec.ts
  packages/core/utils/src/modules-sdk/mikro-orm-cli-config-builder.ts
  packages/modules/auth/src/migrations/Migration20240529080336.ts
Labels: type: bug, team: medusa

#8096 fix(utils): error message when isQueryable is possibly not enabled.
  packages/core/utils/src/modules-sdk/define-link.ts
Labels: team: medusa

#8098 feat(core-flows,types): adds workflow to request item return
  integration-tests/modules/__tests__/order/workflows/return/items.spec.ts
  packages/core/core-flows/src/order/utils/order-validation.ts
  packages/core/core-flows/src/order/workflows/index.ts
  packages/core/core-flows/src/order/workflows/request-item-return.ts
  packages/core/orchestration/src/joiner/remote-joiner.ts
  packages/core/types/src/order/common.ts
  packages/core/types/src/workflow/order/create-return-order.ts
  packages/core/types/src/workflow/order/index.ts
  packages/core/types/src/workflow/order/request-item-return.ts
Labels: team: medusa

#8021 feat(dashboard): allocate items
  packages/admin-next/dashboard/src/i18n/translations/en.json
  packages/admin-next/dashboard/src/providers/router-provider/route-map.tsx
  packages/admin-next/dashboard/src/routes/inventory/inventory-detail/components/inventory-item-general-section.tsx
  packages/admin-next/dashboard/src/routes/orders/order-allocate-items/components/order-create-fulfillment-form/constants.ts
  packages/admin-next/dashboard/src/routes/orders/order-allocate-items/components/order-create-fulfillment-form/index.ts
  packages/admin-next/dashboard/src/routes/orders/order-allocate-items/components/order-create-fulfillment-form/order-allocate-items-form.tsx
  packages/admin-next/dashboard/src/routes/orders/order-allocate-items/components/order-create-fulfillment-form/order-allocate-items-item.tsx
  packages/admin-next/dashboard/src/routes/orders/order-allocate-items/index.ts
  packages/admin-next/dashboard/src/routes/orders/order-allocate-items/order-allocate-items.tsx
  packages/admin-next/dashboard/src/routes/orders/order-detail/components/order-summary-section/order-summary-section.tsx
  packages/admin-next/dashboard/src/routes/orders/order-detail/constants.ts
  packages/admin-next/dashboard/src/routes/reservations/reservation-detail/components/reservation-general-section/reservation-general-section.tsx
Labels: automerge, team: medusa

#8103 feat(migrations): CLI generate command
  integration-tests/environment-helpers/use-db.js
  packages/cli/medusa-cli/src/create-cli.ts
  packages/core/medusa-test-utils/src/medusa-test-runner-utils/use-db.ts
  packages/core/modules-sdk/src/loaders/utils/load-internal.ts
  packages/core/modules-sdk/src/medusa-app.ts
  packages/core/modules-sdk/src/medusa-module.ts
  packages/core/types/src/modules-sdk/index.ts
  packages/core/utils/src/migrations/index.ts
  packages/core/utils/src/migrations/integration-tests/__tests__/migrations-generate.spec.ts
  packages/core/utils/src/modules-sdk/migration-scripts/index.ts
  packages/core/utils/src/modules-sdk/migration-scripts/migration-generate.ts
  packages/medusa/src/commands/migrate.ts
  packages/medusa/src/commands/utils/get-migrations.js
  packages/medusa/src/loaders/medusa-app.ts
Labels: team: medusa

#8105 chore: temporarely disabling link revert
  packages/core/modules-sdk/src/medusa-app.ts
Labels: team: medusa

#8104 fix(dashboard): promotions disable conditions
  packages/admin-next/dashboard/src/routes/products/common/variant-pricing-form.tsx
  packages/admin-next/dashboard/src/routes/promotions/common/edit-rules/components/rule-value-form-field/rule-value-form-field.tsx
  packages/admin-next/dashboard/src/routes/promotions/common/edit-rules/components/rules-form-field/rules-form-field.tsx
Labels: team: medusa
