Repository medusajs/medusa, pull requests merged in 2024-09, with the labels that each got.

#8905 chore(framework): add a note for admin path configuration + add troubleshooting guide
  packages/framework/framework/src/config/types.ts
  www/apps/resources/app/troubleshooting/medusa-admin/no-widget-route/page.mdx
Labels: type: docs, type: chore, automerge, team: medusa

#8899 feat(dashboard): order edits in timeline
  packages/admin-next/dashboard/src/hooks/api/order-edits.tsx
  packages/admin-next/dashboard/src/hooks/api/orders.tsx
  packages/admin-next/dashboard/src/i18n/translations/en.json
  packages/admin-next/dashboard/src/routes/orders/order-detail/components/order-active-edit-section/order-active-edit-section.tsx
  packages/admin-next/dashboard/src/routes/orders/order-detail/components/order-activity-section/order-timeline.tsx
  packages/admin-next/dashboard/src/routes/orders/order-detail/components/order-summary-section/order-summary-section.tsx
  packages/core/js-sdk/src/admin/order.ts
  packages/core/types/src/http/order/admin/entities.ts
  packages/core/types/src/http/order/admin/queries.ts
  packages/core/types/src/http/order/common.ts
Labels: automerge, type: feature, team: medusa

#8900 feat(notification): Handle long running transaction and add status support
  integration-tests/modules/__tests__/notification/admin/notification.spec.ts
  packages/core/types/src/notification/common.ts
  packages/core/utils/src/notification/common.ts
  packages/core/utils/src/notification/index.ts
  packages/modules/notification/integration-tests/__fixtures__/providers/default-provider.ts
  packages/modules/notification/integration-tests/__tests__/notification-module-service/index.spec.ts
  packages/modules/notification/src/migrations/.snapshot-medusa-notification.json
  packages/modules/notification/src/migrations/Migration20240830094712.ts
  packages/modules/notification/src/models/notification.ts
  packages/modules/notification/src/services/notification-module-service.ts
  packages/modules/notification/src/services/notification-provider.ts
Labels: type: bug, automerge, type: feature, team: medusa

#8896 fix: Customer registration
  integration-tests/http/__tests__/customer/store/customer.spec.ts
  packages/core/core-flows/src/customer/steps/validate-customer-account-creation.ts
  packages/core/core-flows/src/customer/workflows/create-customer-account.ts
  packages/core/types/src/customer/mutations.ts
  packages/medusa/src/api/admin/fulfillment-providers/route.ts
  packages/medusa/src/api/store/customers/query-config.ts
  packages/medusa/src/api/store/customers/route.ts
Labels: type: bug, team: medusa

#8903 docs: fix missing auth tag in api reference
  www/apps/api-reference/specs/admin/openapi.full.yaml
  www/apps/api-reference/specs/admin/openapi.yaml
  www/apps/api-reference/specs/store/openapi.full.yaml
  www/apps/api-reference/specs/store/openapi.yaml
  www/utils/generated/oas-output/base/admin.oas.base.yaml
  www/utils/generated/oas-output/base/store.oas.base.yaml
Labels: type: docs, automerge, team: medusa

#8902 oas: [7/n] Improve admin OAS
  www/utils/generated/oas-output/operations/admin/get_admin_sales-channels.ts
  www/utils/generated/oas-output/operations/admin/get_admin_shipping-options.ts
  www/utils/generated/oas-output/operations/admin/get_admin_shipping-profiles.ts
  www/utils/generated/oas-output/operations/admin/get_admin_stock-locations.ts
  www/utils/generated/oas-output/operations/admin/get_admin_stores.ts
  www/utils/generated/oas-output/operations/admin/get_admin_tax-rates.ts
  www/utils/generated/oas-output/operations/admin/get_admin_tax-regions.ts
  www/utils/generated/oas-output/operations/admin/get_admin_uploads_[id].ts
  www/utils/generated/oas-output/operations/admin/get_admin_users.ts
  www/utils/generated/oas-output/operations/admin/get_admin_users_me.ts
  www/utils/generated/oas-output/operations/admin/get_admin_workflows-executions.ts
  www/utils/generated/oas-output/operations/admin/get_admin_workflows-executions_[workflow_id]_[transaction_id].ts
  www/utils/generated/oas-output/operations/admin/get_admin_workflows-executions_[workflow_id]_[transaction_id]_[step_id]_subscribe.ts
  www/utils/generated/oas-output/operations/admin/get_admin_workflows-executions_[workflow_id]_subscribe.ts
  www/utils/generated/oas-output/schemas/AdminTaxRateListParams.ts
  www/utils/generated/oas-output/schemas/AdminUserListParams.ts
Labels: type: docs, team: medusa

#8901 oas: [6/n] Improve admin OAS
  www/utils/generated/oas-output/operations/admin/get_admin_products.ts
  www/utils/generated/oas-output/operations/admin/get_admin_products_[id]_options.ts
  www/utils/generated/oas-output/operations/admin/get_admin_products_[id]_options_[option_id].ts
  www/utils/generated/oas-output/operations/admin/get_admin_products_[id]_variants.ts
  www/utils/generated/oas-output/operations/admin/get_admin_products_[id]_variants_[variant_id].ts
  www/utils/generated/oas-output/operations/admin/get_admin_promotions.ts
  www/utils/generated/oas-output/operations/admin/get_admin_promotions_[id]_[rule_type].ts
  www/utils/generated/oas-output/operations/admin/get_admin_promotions_rule-attribute-options_[rule_type].ts
  www/utils/generated/oas-output/operations/admin/get_admin_promotions_rule-value-options_[rule_type]_[rule_attribute_id].ts
  www/utils/generated/oas-output/operations/admin/get_admin_refund-reasons.ts
  www/utils/generated/oas-output/operations/admin/get_admin_regions.ts
  www/utils/generated/oas-output/operations/admin/get_admin_reservations.ts
  www/utils/generated/oas-output/operations/admin/get_admin_return-reasons.ts
  www/utils/generated/oas-output/operations/admin/get_admin_returns.ts
  www/utils/generated/oas-output/schemas/AdminCreateRefundReason.ts
  www/utils/generated/oas-output/schemas/AdminGetPromotionRuleParams.ts
  www/utils/generated/oas-output/schemas/AdminOrderFilters.ts
  www/utils/generated/oas-output/schemas/OrderLineItem.ts
  www/utils/generated/oas-output/schemas/OrderShippingMethod.ts
  www/utils/generated/oas-output/schemas/RefundReasonFilters.ts
Labels: type: docs, team: medusa

#8893 oas: [4/n] Improve admin OAS
  www/utils/generated/oas-output/operations/admin/get_admin_customer-groups.ts
  www/utils/generated/oas-output/operations/admin/get_admin_customers.ts
  www/utils/generated/oas-output/operations/admin/get_admin_customers_[id]_addresses.ts
  www/utils/generated/oas-output/operations/admin/get_admin_customers_[id]_addresses_[address_id].ts
  www/utils/generated/oas-output/operations/admin/get_admin_draft-orders.ts
  www/utils/generated/oas-output/operations/admin/get_admin_draft-orders_[id].ts
  www/utils/generated/oas-output/operations/admin/get_admin_exchanges.ts
  www/utils/generated/oas-output/operations/admin/get_admin_exchanges_[id].ts
  www/utils/generated/oas-output/operations/admin/get_admin_fulfillment-providers.ts
  www/utils/generated/oas-output/operations/admin/get_admin_fulfillment-sets_[id]_service-zones_[zone_id].ts
  www/utils/generated/oas-output/operations/admin/get_admin_inventory-items_[id]_location-levels.ts
  www/utils/generated/oas-output/schemas/AdminCustomerAddressFilters.ts
  www/utils/generated/oas-output/schemas/AdminCustomerFilters.ts
  www/utils/generated/oas-output/schemas/AdminCustomerInGroupFilters.ts
  www/utils/generated/oas-output/schemas/AdminExchangeListParams.ts
  www/utils/generated/oas-output/schemas/AdminGetCustomerGroupsParams.ts
  www/utils/generated/oas-output/schemas/CustomerGroupInCustomerFilters.ts
Labels: type: docs, automerge, team: medusa

#8898 oas: [5/n] Improve admin OAS
  www/utils/generated/oas-output/operations/admin/get_admin_inventory-items.ts
  www/utils/generated/oas-output/operations/admin/get_admin_invites.ts
  www/utils/generated/oas-output/operations/admin/get_admin_invites_[id].ts
  www/utils/generated/oas-output/operations/admin/get_admin_notifications.ts
  www/utils/generated/oas-output/operations/admin/get_admin_orders.ts
  www/utils/generated/oas-output/operations/admin/get_admin_orders_[id].ts
  www/utils/generated/oas-output/operations/admin/get_admin_orders_[id]_changes.ts
  www/utils/generated/oas-output/operations/admin/get_admin_orders_[id]_preview.ts
  www/utils/generated/oas-output/operations/admin/get_admin_payments.ts
  www/utils/generated/oas-output/operations/admin/get_admin_payments_payment-providers.ts
  www/utils/generated/oas-output/operations/admin/get_admin_price-lists.ts
  www/utils/generated/oas-output/operations/admin/get_admin_price-preferences.ts
  www/utils/generated/oas-output/operations/admin/get_admin_product-categories.ts
  www/utils/generated/oas-output/operations/admin/get_admin_product-categories_[id].ts
  www/utils/generated/oas-output/operations/admin/get_admin_product-tags.ts
  www/utils/generated/oas-output/operations/admin/get_admin_product-types.ts
  www/utils/generated/oas-output/operations/admin/get_admin_product-variants.ts
  www/utils/generated/oas-output/schemas/AdminPriceListListParams.ts
  www/utils/generated/oas-output/schemas/AdminPricePreferenceListParams.ts
Labels: type: docs, automerge, team: medusa

#8907 fix(medusa, types): fix more query types
  packages/core/types/src/http/payment/admin/queries.ts
  packages/core/types/src/http/product/admin/queries.ts
  packages/core/types/src/http/tax-rate/admin/queries.ts
  packages/medusa/src/api/admin/orders/validators.ts
  packages/medusa/src/api/admin/payments/payment-providers/route.ts
  packages/medusa/src/api/admin/products/[id]/variants/route.ts
  packages/medusa/src/api/admin/promotions/rule-attribute-options/[rule_type]/route.ts
  packages/medusa/src/api/admin/shipping-profiles/route.ts
Labels: type: bug, automerge, team: medusa

#8933 fix(dashboard): Fix copy invite link
  packages/admin-next/dashboard/src/routes/users/user-invite/components/invite-user-form/invite-user-form.tsx
Labels: type: bug, team: medusa

#8935 fix(dashboard): fix campaign end date
  packages/admin-next/dashboard/src/routes/campaigns/campaign-detail/components/campaign-general-section/campaign-general-section.tsx
Labels: type: bug, automerge, team: medusa

#8897 fix: handle case where product to be updated does not exist
  packages/medusa/src/api/admin/campaigns/[id]/route.ts
  packages/medusa/src/api/admin/collections/[id]/route.ts
  packages/medusa/src/api/admin/customer-groups/[id]/route.ts
  packages/medusa/src/api/admin/customers/[id]/route.ts
  packages/medusa/src/api/admin/product-tags/[id]/route.ts
  packages/medusa/src/api/admin/product-types/[id]/route.ts
  packages/medusa/src/api/admin/products/[id]/route.ts
  packages/medusa/src/api/admin/regions/[id]/route.ts
  packages/medusa/src/api/admin/sales-channels/[id]/route.ts
  packages/medusa/src/api/admin/stores/[id]/route.ts
  packages/medusa/src/api/admin/tax-rates/[id]/route.ts
Labels: type: bug, team: medusa

#8934 fix(dashboard): product option delete message
  packages/admin-next/dashboard/src/i18n/translations/en.json
  packages/admin-next/dashboard/src/routes/products/product-detail/components/product-option-section/product-option-section.tsx
Labels: type: bug, automerge, team: medusa

#8936 fix(dashboard): format currency sign
  packages/admin-next/dashboard/src/lib/format-currency.ts
  packages/admin-next/dashboard/src/routes/orders/order-detail/components/order-payment-section/order-payment-section.tsx
Labels: type: bug, automerge, team: medusa

#8938 fix: move get-port to main dependencies list
  packages/core/medusa-test-utils/package.json
  yarn.lock
Labels: team: medusa

#8947 fix(medusa): Allow filtering customers by `has_account`
  packages/medusa/src/api/admin/customers/validators.ts
Labels: type: bug, team: medusa

#8943 fix(dashboard): Product create price columns race condition
  packages/admin-next/dashboard/src/routes/products/product-create/components/product-create-form/product-create-form.tsx
  packages/admin-next/dashboard/src/routes/products/product-create/components/product-create-variants-form/product-create-variants-form.tsx
  packages/admin-next/dashboard/src/routes/products/product-create/product-create.tsx
Labels: type: bug, team: medusa

#8931 docs(v1.x): update PostgreSQL plan in heroku deployment guide
  www/apps/docs/content/deployments/server/deploying-on-heroku.mdx
Labels: automerge, team: medusa

#8949 fix(types, medusa): fixes to draft order request types
  packages/core/types/src/http/order/admin/queries.ts
  packages/medusa/src/api/admin/draft-orders/validators.ts
Labels: type: bug, automerge, team: medusa

#8941 fix(dashboard,admin-shared): Fixes to inventory page
  packages/admin-next/admin-shared/src/extensions/widgets/constants.ts
  packages/admin-next/dashboard/src/components/table/table-cells/common/text-cell/text-cell.tsx
  packages/admin-next/dashboard/src/routes/inventory/inventory-detail/components/inventory-item-variants/variants-section.tsx
  packages/admin-next/dashboard/src/routes/inventory/inventory-detail/components/reservations-table/use-reservation-list-table-columns.tsx
  packages/admin-next/dashboard/src/routes/inventory/inventory-detail/inventory-detail.tsx
Labels: type: bug, automerge, team: medusa

#8948 oas: [9/n] improve admin OAS
  www/utils/generated/oas-output/operations/admin/get_admin_draft-orders.ts
  www/utils/generated/oas-output/operations/admin/post_admin_customer-groups_[id]_customers.ts
  www/utils/generated/oas-output/operations/admin/post_admin_customers.ts
  www/utils/generated/oas-output/operations/admin/post_admin_customers_[id].ts
  www/utils/generated/oas-output/operations/admin/post_admin_customers_[id]_addresses.ts
  www/utils/generated/oas-output/operations/admin/post_admin_customers_[id]_addresses_[address_id].ts
  www/utils/generated/oas-output/operations/admin/post_admin_draft-orders.ts
  www/utils/generated/oas-output/operations/admin/post_admin_exchanges.ts
  www/utils/generated/oas-output/operations/admin/post_admin_exchanges_[id]_cancel.ts
  www/utils/generated/oas-output/operations/admin/post_admin_exchanges_[id]_inbound_items.ts
  www/utils/generated/oas-output/operations/admin/post_admin_exchanges_[id]_inbound_items_[action_id].ts
  www/utils/generated/oas-output/operations/admin/post_admin_exchanges_[id]_inbound_shipping-method.ts
  www/utils/generated/oas-output/operations/admin/post_admin_exchanges_[id]_inbound_shipping-method_[action_id].ts
  www/utils/generated/oas-output/operations/admin/post_admin_exchanges_[id]_outbound_items.ts
  www/utils/generated/oas-output/operations/admin/post_admin_exchanges_[id]_outbound_items_[action_id].ts
  www/utils/generated/oas-output/operations/admin/post_admin_exchanges_[id]_outbound_shipping-method.ts
  www/utils/generated/oas-output/operations/admin/post_admin_exchanges_[id]_outbound_shipping-method_[action_id].ts
  www/utils/generated/oas-output/operations/admin/post_admin_exchanges_[id]_request.ts
  www/utils/generated/oas-output/operations/admin/post_admin_fulfillment-sets_[id]_service-zones.ts
  www/utils/generated/oas-output/operations/admin/post_admin_fulfillment-sets_[id]_service-zones_[zone_id].ts
Labels: type: docs, team: medusa

#8945 oas: [8/n] improve admin OAS
  www/utils/generated/oas-output/operations/admin/get_admin_draft-orders.ts
  www/utils/generated/oas-output/operations/admin/post_admin_api-keys.ts
  www/utils/generated/oas-output/operations/admin/post_admin_api-keys_[id].ts
  www/utils/generated/oas-output/operations/admin/post_admin_api-keys_[id]_revoke.ts
  www/utils/generated/oas-output/operations/admin/post_admin_api-keys_[id]_sales-channels.ts
  www/utils/generated/oas-output/operations/admin/post_admin_campaigns.ts
  www/utils/generated/oas-output/operations/admin/post_admin_campaigns_[id].ts
  www/utils/generated/oas-output/operations/admin/post_admin_campaigns_[id]_promotions.ts
  www/utils/generated/oas-output/operations/admin/post_admin_claims.ts
  www/utils/generated/oas-output/operations/admin/post_admin_claims_[id]_cancel.ts
  www/utils/generated/oas-output/operations/admin/post_admin_claims_[id]_claim-items.ts
  www/utils/generated/oas-output/operations/admin/post_admin_claims_[id]_claim-items_[action_id].ts
  www/utils/generated/oas-output/operations/admin/post_admin_claims_[id]_inbound_items.ts
  www/utils/generated/oas-output/operations/admin/post_admin_claims_[id]_inbound_items_[action_id].ts
  www/utils/generated/oas-output/operations/admin/post_admin_claims_[id]_inbound_shipping-method.ts
  www/utils/generated/oas-output/operations/admin/post_admin_claims_[id]_inbound_shipping-method_[action_id].ts
  www/utils/generated/oas-output/operations/admin/post_admin_claims_[id]_outbound_items.ts
  www/utils/generated/oas-output/operations/admin/post_admin_claims_[id]_outbound_items_[action_id].ts
  www/utils/generated/oas-output/operations/admin/post_admin_claims_[id]_outbound_shipping-method.ts
  www/utils/generated/oas-output/operations/admin/post_admin_claims_[id]_outbound_shipping-method_[action_id].ts
  www/utils/generated/oas-output/operations/admin/post_admin_claims_[id]_request.ts
  www/utils/generated/oas-output/operations/admin/post_admin_collections_[id]_products.ts
  www/utils/generated/oas-output/operations/admin/post_admin_customer-groups_[id]_customers.ts
  www/utils/generated/oas-output/operations/admin/post_admin_customers.ts
  www/utils/generated/oas-output/operations/admin/post_admin_customers_[id].ts
  www/utils/generated/oas-output/operations/admin/post_admin_customers_[id]_addresses.ts
  www/utils/generated/oas-output/operations/admin/post_admin_customers_[id]_addresses_[address_id].ts
  www/utils/generated/oas-output/operations/admin/post_admin_draft-orders.ts
  www/utils/generated/oas-output/operations/admin/post_admin_exchanges.ts
  www/utils/generated/oas-output/operations/admin/post_admin_exchanges_[id]_cancel.ts
  www/utils/generated/oas-output/operations/admin/post_admin_exchanges_[id]_inbound_items.ts
  www/utils/generated/oas-output/operations/admin/post_admin_exchanges_[id]_inbound_items_[action_id].ts
  www/utils/generated/oas-output/operations/admin/post_admin_exchanges_[id]_inbound_shipping-method.ts
  www/utils/generated/oas-output/operations/admin/post_admin_exchanges_[id]_inbound_shipping-method_[action_id].ts
  www/utils/generated/oas-output/operations/admin/post_admin_exchanges_[id]_outbound_items.ts
  www/utils/generated/oas-output/operations/admin/post_admin_exchanges_[id]_outbound_items_[action_id].ts
  www/utils/generated/oas-output/operations/admin/post_admin_exchanges_[id]_outbound_shipping-method.ts
  www/utils/generated/oas-output/operations/admin/post_admin_exchanges_[id]_outbound_shipping-method_[action_id].ts
  www/utils/generated/oas-output/operations/admin/post_admin_exchanges_[id]_request.ts
  www/utils/generated/oas-output/operations/admin/post_admin_fulfillment-sets_[id]_service-zones.ts
  www/utils/generated/oas-output/operations/admin/post_admin_fulfillment-sets_[id]_service-zones_[zone_id].ts
Labels: type: docs, automerge, team: medusa

#8912 feat(dashboard): allow custom shopping prices for claims/exchanges
  packages/admin-next/dashboard/src/routes/orders/order-create-claim/components/claim-create-form/claim-create-form.tsx
  packages/admin-next/dashboard/src/routes/orders/order-create-claim/components/claim-create-form/schema.ts
  packages/admin-next/dashboard/src/routes/orders/order-create-exchange/components/exchange-create-form/exchange-create-form.tsx
  packages/admin-next/dashboard/src/routes/orders/order-create-exchange/components/exchange-create-form/schema.ts
Labels: automerge, type: feature, team: medusa

#8955 fix(dashboard): receive return form
  packages/admin-next/dashboard/src/routes/orders/order-receive-return/components/order-receive-return-form/constants.ts
  packages/admin-next/dashboard/src/routes/orders/order-receive-return/order-receive-return.tsx
Labels: type: bug, team: medusa

#8959 oas: [10/n] improve admin oas
  www/utils/generated/oas-output/operations/admin/post_admin_fulfillments.ts
  www/utils/generated/oas-output/operations/admin/post_admin_fulfillments_[id]_cancel.ts
  www/utils/generated/oas-output/operations/admin/post_admin_fulfillments_[id]_shipment.ts
  www/utils/generated/oas-output/operations/admin/post_admin_inventory-items.ts
  www/utils/generated/oas-output/operations/admin/post_admin_inventory-items_[id].ts
  www/utils/generated/oas-output/operations/admin/post_admin_inventory-items_[id]_location-levels.ts
  www/utils/generated/oas-output/operations/admin/post_admin_inventory-items_[id]_location-levels_[location_id].ts
  www/utils/generated/oas-output/operations/admin/post_admin_inventory-items_[id]_location-levels_batch.ts
  www/utils/generated/oas-output/operations/admin/post_admin_invites.ts
  www/utils/generated/oas-output/operations/admin/post_admin_invites_[id]_resend.ts
  www/utils/generated/oas-output/operations/admin/post_admin_invites_accept.ts
  www/utils/generated/oas-output/operations/admin/post_admin_order-edits.ts
  www/utils/generated/oas-output/operations/admin/post_admin_order-edits_[id]_confirm.ts
  www/utils/generated/oas-output/operations/admin/post_admin_order-edits_[id]_items.ts
  www/utils/generated/oas-output/operations/admin/post_admin_order-edits_[id]_items_[action_id].ts
  www/utils/generated/oas-output/operations/admin/post_admin_order-edits_[id]_items_item_[item_id].ts
  www/utils/generated/oas-output/operations/admin/post_admin_order-edits_[id]_request.ts
  www/utils/generated/oas-output/operations/admin/post_admin_order-edits_[id]_shipping-method.ts
  www/utils/generated/oas-output/operations/admin/post_admin_order-edits_[id]_shipping-method_[action_id].ts
  www/utils/generated/oas-output/operations/admin/post_admin_orders_[id]_archive.ts
Labels: type: docs, team: medusa

#8957 docs: generate sitemaps + change search filters
  www/apps/book/app/sitemap.ts
  www/apps/book/providers/search.tsx
  www/apps/resources/app/sitemap.ts
  www/apps/resources/providers/search.tsx
  www/packages/build-scripts/src/index.ts
  www/packages/build-scripts/src/retrieve-mdx-pages.ts
  www/packages/build-scripts/src/utils/get-core-flows-ref-sidebar-children.ts
  www/packages/docs-ui/src/constants.tsx
Labels: type: docs, automerge, team: medusa

#8960 fix(js-sdk): fix invite resend request being sent as GET instead of POST
  packages/core/js-sdk/src/admin/invite.ts
Labels: type: bug, automerge, team: medusa

#8961 fix(medusa): fix complete order API route to remove duplicate params
  packages/medusa/src/api/admin/orders/[id]/complete/route.ts
  packages/medusa/src/api/admin/orders/validators.ts
Labels: type: bug, automerge, team: medusa

#8944 feat(core-flows,types): Refunds can only be performed when order is imbalanced
  integration-tests/http/__tests__/fixtures/order.ts
  integration-tests/http/__tests__/payment/admin/payment.spec.ts
  integration-tests/http/__tests__/region/admin/region.spec.ts
  integration-tests/modules/__tests__/order/order.spec.ts
  integration-tests/modules/__tests__/payment/payments.spec.ts
  packages/core/core-flows/src/payment/workflows/refund-payment.ts
  packages/core/types/src/order/common.ts
  packages/medusa/src/api/admin/orders/query-config.ts
Labels: type: feature, team: medusa

#8965 chore(medusa): remove promotions in campaign validators + move tests to http
  integration-tests/http/__tests__/campaigns/admin/campaigns.spec.ts
  integration-tests/http/__tests__/promotions/admin/promotions.spec.ts
  integration-tests/modules/__tests__/promotion/admin/create-promotion.spec.ts
  integration-tests/modules/__tests__/promotion/admin/delete-promotion.spec.ts
  integration-tests/modules/__tests__/promotion/admin/list-promotions.spec.ts
  integration-tests/modules/__tests__/promotion/admin/retrieve-promotion.spec.ts
  integration-tests/modules/__tests__/promotion/admin/update-promotion.spec.ts
  packages/medusa/src/api/admin/campaigns/validators.ts
Labels: type: feature, team: medusa

#8958 feat(dashboard): Cancel claims and exchanges
  packages/admin-next/dashboard/src/i18n/translations/en.json
  packages/admin-next/dashboard/src/routes/orders/order-create-claim/components/claim-create-form/claim-create-form.tsx
  packages/admin-next/dashboard/src/routes/orders/order-create-exchange/components/exchange-create-form/exchange-create-form.tsx
  packages/admin-next/dashboard/src/routes/orders/order-detail/components/active-order-claim-section/active-order-claim-section.tsx
  packages/admin-next/dashboard/src/routes/orders/order-detail/components/active-order-exchange-section/active-order-exchange-section.tsx
  packages/admin-next/dashboard/src/routes/orders/order-detail/components/order-activity-section/order-timeline.tsx
Labels: automerge, type: feature, team: medusa

#8964 fix(medusa): change the request type of removing products from price list
  packages/medusa/src/api/admin/price-lists/[id]/products/route.ts
  packages/medusa/src/api/admin/price-lists/middlewares.ts
  packages/medusa/src/api/admin/price-lists/validators.ts
Labels: type: bug, team: medusa

#8942 docs: added a section on middlewares and trailing backslashes
  www/apps/book/app/advanced-development/api-routes/middlewares/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/resources/app/recipes/marketplace/examples/vendors/page.mdx
  www/apps/resources/generated/edit-dates.mjs
Labels: type: docs, team: medusa

#8967 oas: [12/n] improve admin oas
  www/utils/generated/oas-output/operations/admin/post_admin_products.ts
  www/utils/generated/oas-output/operations/admin/post_admin_products_[id].ts
  www/utils/generated/oas-output/operations/admin/post_admin_products_[id]_variants.ts
  www/utils/generated/oas-output/operations/admin/post_admin_products_[id]_variants_[variant_id].ts
  www/utils/generated/oas-output/operations/admin/post_admin_products_[id]_variants_batch.ts
  www/utils/generated/oas-output/operations/admin/post_admin_products_[id]_variants_inventory-items_batch.ts
  www/utils/generated/oas-output/operations/admin/post_admin_products_batch.ts
  www/utils/generated/oas-output/operations/admin/post_admin_products_export.ts
  www/utils/generated/oas-output/operations/admin/post_admin_products_import.ts
  www/utils/generated/oas-output/operations/admin/post_admin_products_import_[transaction_id]_confirm.ts
  www/utils/generated/oas-output/operations/admin/post_admin_promotions.ts
  www/utils/generated/oas-output/operations/admin/post_admin_promotions_[id].ts
  www/utils/generated/oas-output/operations/admin/post_admin_promotions_[id]_buy-rules_batch.ts
  www/utils/generated/oas-output/operations/admin/post_admin_promotions_[id]_rules_batch.ts
  www/utils/generated/oas-output/operations/admin/post_admin_promotions_[id]_target-rules_batch.ts
  www/utils/generated/oas-output/operations/admin/post_admin_refund-reasons_[id].ts
  www/utils/generated/oas-output/operations/admin/post_admin_regions_[id].ts
  www/utils/generated/oas-output/operations/admin/post_admin_reservations_[id].ts
  www/utils/generated/oas-output/operations/admin/post_admin_returns_[id]_cancel.ts
Labels: type: docs, team: medusa

#8963 oas: [11/n] improve admin OAS
  www/utils/generated/oas-output/operations/admin/post_admin_orders_[id].ts
  www/utils/generated/oas-output/operations/admin/post_admin_orders_[id]_cancel.ts
  www/utils/generated/oas-output/operations/admin/post_admin_orders_[id]_complete.ts
  www/utils/generated/oas-output/operations/admin/post_admin_orders_[id]_fulfillments.ts
  www/utils/generated/oas-output/operations/admin/post_admin_orders_[id]_fulfillments_[fulfillment_id]_cancel.ts
  www/utils/generated/oas-output/operations/admin/post_admin_orders_[id]_fulfillments_[fulfillment_id]_shipments.ts
  www/utils/generated/oas-output/operations/admin/post_admin_payment-collections.ts
  www/utils/generated/oas-output/operations/admin/post_admin_payment-collections_[id]_mark-as-paid.ts
  www/utils/generated/oas-output/operations/admin/post_admin_payments_[id]_capture.ts
  www/utils/generated/oas-output/operations/admin/post_admin_payments_[id]_refund.ts
  www/utils/generated/oas-output/operations/admin/post_admin_price-lists_[id]_prices_batch.ts
  www/utils/generated/oas-output/operations/admin/post_admin_price-lists_[id]_products.ts
  www/utils/generated/oas-output/operations/admin/post_admin_product-categories_[id].ts
  www/utils/generated/oas-output/operations/admin/post_admin_product-categories_[id]_products.ts
  www/utils/generated/oas-output/operations/admin/post_admin_product-tags_[id].ts
  www/utils/generated/oas-output/operations/admin/post_admin_product-types_[id].ts
  www/utils/generated/oas-output/operations/admin/post_admin_products_[id]_options.ts
  www/utils/generated/oas-output/operations/admin/post_admin_products_[id]_options_[option_id].ts
  www/utils/generated/oas-output/operations/admin/post_admin_products_[id]_variants_[variant_id]_inventory-items.ts
  www/utils/generated/oas-output/operations/admin/post_admin_products_[id]_variants_[variant_id]_inventory-items_[inventory_item_id].ts
Labels: type: docs, team: medusa

#8956 docs: improvements to intro and basics chapters
  www/apps/book/app/basics/admin-customizations/page.mdx
  www/apps/book/app/basics/commerce-modules/page.mdx
  www/apps/book/app/basics/data-models/page.mdx
  www/apps/book/app/basics/events-and-subscribers/page.mdx
  www/apps/book/app/basics/loaders/page.mdx
  www/apps/book/app/basics/medusa-container/page.mdx
  www/apps/book/app/basics/modules-and-services/page.mdx
  www/apps/book/app/basics/page.mdx
  www/apps/book/app/basics/workflows/page.mdx
  www/apps/book/app/page.mdx
  www/apps/book/generated/edit-dates.mjs
Labels: type: docs, team: medusa

#8939 docs: added documentation on testing tools
  www/apps/book/app/debugging-and-testing/page.mdx
  www/apps/book/app/debugging-and-testing/testing-tools/integration-tests/api-routes/page.mdx
  www/apps/book/app/debugging-and-testing/testing-tools/integration-tests/page.mdx
  www/apps/book/app/debugging-and-testing/testing-tools/integration-tests/workflows/page.mdx
  www/apps/book/app/debugging-and-testing/testing-tools/modules-tests/module-example/page.mdx
  www/apps/book/app/debugging-and-testing/testing-tools/modules-tests/page.mdx
  www/apps/book/app/debugging-and-testing/testing-tools/page.mdx
  www/apps/book/app/debugging-and-testing/tools/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/sidebar.mjs
  www/apps/resources/app/test-tools-reference/medusaIntegrationTestRunner/page.mdx
  www/apps/resources/app/test-tools-reference/moduleIntegrationTestRunner/page.mdx
  www/apps/resources/app/test-tools-reference/page.mdx
  www/apps/resources/generated/edit-dates.mjs
  www/apps/resources/generated/files-map.mjs
  www/apps/resources/generated/sidebar.mjs
  www/apps/resources/sidebar.mjs
  www/vale/styles/docs/ModuleNames.yml
Labels: type: docs, automerge, team: medusa

#8966 fix(medusa): fix update promotion's request type
  integration-tests/http/__tests__/promotions/admin/promotions.spec.ts
  packages/core/types/src/promotion/common/promotion.ts
  packages/medusa/src/api/admin/promotions/validators.ts
Labels: type: bug, automerge, team: medusa

#8968 fix(order,utils): fix outstanding amount stuck on long orders
  packages/core/utils/src/modules-sdk/medusa-internal-service.ts
  packages/modules/order/src/services/order-module-service.ts
Labels: type: bug, team: medusa

#8971 oas: [13/n] improve admin oas
  www/utils/generated/oas-output/operations/admin/delete_admin_returns_[id]_receive-items_[action_id].ts
  www/utils/generated/oas-output/operations/admin/delete_admin_returns_[id]_request-items_[action_id].ts
  www/utils/generated/oas-output/operations/admin/post_admin_returns.ts
  www/utils/generated/oas-output/operations/admin/post_admin_returns_[id]_dismiss-items.ts
  www/utils/generated/oas-output/operations/admin/post_admin_returns_[id]_dismiss-items_[action_id].ts
  www/utils/generated/oas-output/operations/admin/post_admin_returns_[id]_receive-items.ts
  www/utils/generated/oas-output/operations/admin/post_admin_returns_[id]_receive-items_[action_id].ts
  www/utils/generated/oas-output/operations/admin/post_admin_returns_[id]_receive.ts
  www/utils/generated/oas-output/operations/admin/post_admin_returns_[id]_receive_confirm.ts
  www/utils/generated/oas-output/operations/admin/post_admin_returns_[id]_request-items.ts
  www/utils/generated/oas-output/operations/admin/post_admin_returns_[id]_request-items_[action_id].ts
  www/utils/generated/oas-output/operations/admin/post_admin_returns_[id]_request.ts
  www/utils/generated/oas-output/operations/admin/post_admin_returns_[id]_shipping-method.ts
  www/utils/generated/oas-output/operations/admin/post_admin_returns_[id]_shipping-method_[action_id].ts
  www/utils/generated/oas-output/operations/admin/post_admin_sales-channels_[id]_products.ts
  www/utils/generated/oas-output/operations/admin/post_admin_shipping-options_[id].ts
  www/utils/generated/oas-output/operations/admin/post_admin_shipping-options_[id]_rules_batch.ts
  www/utils/generated/oas-output/operations/admin/post_admin_shipping-profiles_[id].ts
  www/utils/generated/oas-output/operations/admin/post_admin_stock-locations_[id]_fulfillment-providers.ts
  www/utils/generated/oas-output/operations/admin/post_admin_stock-locations_[id]_fulfillment-sets.ts
Labels: type: docs, automerge, team: medusa

#8973 fix(dashboard): Tab behaviour in DataGrid
  packages/admin-next/dashboard/package.json
  packages/admin-next/dashboard/src/components/data-grid/components/data-grid-keyboard-shortcut-modal.tsx
  packages/admin-next/dashboard/src/components/data-grid/components/data-grid-root.tsx
  packages/admin-next/dashboard/src/components/data-grid/context/data-grid-context.tsx
  packages/admin-next/dashboard/src/components/data-grid/hooks/use-data-grid-cell.tsx
  packages/admin-next/dashboard/src/components/data-grid/hooks/use-data-grid-keydown-event.tsx
  packages/admin-next/dashboard/src/components/data-grid/utils.ts
  packages/admin-next/dashboard/src/i18n/translations/en.json
  yarn.lock
Labels: type: bug, team: medusa

#8972 feat(dashboard): update create fulfillment UI part 1
  packages/admin-next/dashboard/src/i18n/translations/en.json
  packages/admin-next/dashboard/src/routes/orders/order-create-fulfillment/components/order-create-fulfillment-form/constants.ts
  packages/admin-next/dashboard/src/routes/orders/order-create-fulfillment/components/order-create-fulfillment-form/order-create-fulfillment-form.tsx
  packages/admin-next/dashboard/src/routes/orders/order-create-fulfillment/components/order-create-fulfillment-form/order-create-fulfillment-item.tsx
Labels: automerge, type: feature, team: medusa

#8975 fix(dashboard): Align product organization badges with design
  packages/admin-next/dashboard/src/routes/products/product-detail/components/product-organization-section/product-organization-section.tsx
Labels: type: bug, automerge, team: medusa

#8951 feat(utils): dml to graphql
  packages/core/modules-sdk/src/loaders/utils/__tests__/load-internal.spec.ts
  packages/core/utils/src/dml/__tests__/create-graphql.spec.ts
  packages/core/utils/src/dml/__tests__/entity-builder.spec.ts
  packages/core/utils/src/dml/helpers/create-graphql.ts
  packages/core/utils/src/dml/helpers/create-mikro-orm-entity.ts
  packages/core/utils/src/dml/helpers/entity-builder/define-relationship.ts
  packages/core/utils/src/dml/helpers/graphql-builder/get-attribute.ts
  packages/core/utils/src/dml/helpers/graphql-builder/set-relationship.ts
  packages/core/utils/src/modules-sdk/__tests__/joiner-config-builder.spec.ts
  packages/core/utils/src/modules-sdk/joiner-config-builder.ts
  packages/modules/inventory-next/src/joiner-config.ts
Labels: type: feature, team: medusa

#8983 fix(dashboard): Display breadcrumbs for variant route
  packages/admin-next/dashboard/src/providers/router-provider/route-map.tsx
Labels: type: bug, automerge, team: medusa

#8985 fix(utils): graphql enum options
  packages/core/utils/src/dml/__tests__/create-graphql.spec.ts
  packages/core/utils/src/dml/helpers/graphql-builder/get-attribute.ts
Labels: type: bug, automerge, team: medusa

#8978 fix: Workflow always print "error:" even if there are none
  packages/core/workflows-sdk/src/helper/workflow-export.ts
Labels: automerge

#8906 feat: added totals tests for end 2 end RMA flow
  integration-tests/http/__tests__/claims/claims.spec.ts
  integration-tests/http/__tests__/fixtures/order.ts
  integration-tests/http/__tests__/order/admin/rma-flows.spec.ts
  integration-tests/http/__tests__/payment/admin/payment.spec.ts
  packages/modules/order/src/services/__tests__/util/actions/exchanges.ts
  packages/modules/order/src/types/utils/index.ts
  packages/modules/order/src/utils/actions/return-item.ts
  packages/modules/order/src/utils/calculate-order-change.ts
Labels: automerge, type: feature, team: medusa

#8996 fix: Check actor type on account creation, fix github entity id
  packages/core/js-sdk/src/auth/index.ts
  packages/framework/framework/src/http/middlewares/authenticate-middleware.ts
  packages/modules/providers/auth-github/src/services/github.ts
Labels: type: bug, team: medusa

#8998 fix: Remove deprecated method, generalize typings in auth
  packages/core/js-sdk/src/auth/index.ts
Labels: type: bug, automerge, team: medusa

#9001 fix(dashboard): import products labels
  packages/admin-next/dashboard/src/i18n/translations/en.json
  packages/admin-next/dashboard/src/routes/products/product-import/components/upload-import.tsx
Labels: type: bug, automerge, team: medusa

#8997 docs-utils: fix auth detection + added query params
  www/utils/packages/docs-generator/src/classes/kinds/oas.ts
Labels: type: docs, team: medusa

#8989 oas: [14/14] improve admin oas
  www/utils/generated/oas-output/operations/admin/post_admin_stock-locations_[id]_sales-channels.ts
  www/utils/generated/oas-output/operations/admin/post_admin_tax-rates_[id]_rules.ts
  www/utils/generated/oas-output/operations/admin/post_admin_uploads.ts
  www/utils/generated/oas-output/operations/admin/post_admin_workflows-executions_[workflow_id]_run.ts
  www/utils/generated/oas-output/operations/admin/post_admin_workflows-executions_[workflow_id]_steps_failure.ts
  www/utils/generated/oas-output/operations/admin/post_admin_workflows-executions_[workflow_id]_steps_success.ts
Labels: type: docs, team: medusa

#8994 fix(types,medusa): fix query types for some store routes
  packages/core/types/src/http/order/store/queries.ts
  packages/core/types/src/http/payment/store/queries.ts
  packages/core/types/src/http/product-category/store/queries.ts
  packages/core/types/src/http/product/store/queries.ts
  packages/core/types/src/http/region/admin/queries.ts
  packages/core/types/src/http/region/common.ts
  packages/core/types/src/http/region/store/queries.ts
  packages/core/types/src/order/common.ts
  packages/medusa/src/api/admin/regions/validators.ts
  packages/medusa/src/api/store/customers/validators.ts
  packages/medusa/src/api/store/orders/[id]/route.ts
  packages/medusa/src/api/store/payment-providers/validators.ts
  packages/medusa/src/api/store/product-categories/[id]/route.ts
  packages/medusa/src/api/store/product-categories/validators.ts
  packages/medusa/src/api/store/regions/validators.ts
Labels: type: bug, team: medusa

#8986 chore(core-flows): Add invite resent event
  packages/core/core-flows/src/invite/workflows/refresh-invite-tokens.ts
  packages/core/utils/src/core-flows/events.ts
Labels: type: bug, team: medusa

#8974 fix(core-flows, types, medusa): fix batch delete types in workflows and routes
  packages/core/core-flows/src/fulfillment/steps/delete-shipping-option-rules.ts
  packages/core/core-flows/src/product/workflows/batch-product-variants.ts
  packages/core/core-flows/src/product/workflows/batch-products.ts
  packages/core/core-flows/src/promotion/steps/delete-promotion-rules-workflow.ts
  packages/core/types/src/common/batch.ts
  packages/core/types/src/http/common/response.ts
  packages/core/types/src/http/product/admin/responses.ts
  packages/core/types/src/http/promotion/admin/responses.ts
  packages/core/types/src/http/shipping-option/admin/responses.ts
  packages/medusa/src/api/admin/products/helpers.ts
  packages/medusa/src/api/admin/promotions/helpers.ts
  packages/medusa/src/api/admin/shipping-options/helpers.ts
Labels: type: bug, automerge, team: medusa

#8987 docs: add new API route guides + fixes and improvements to existing ones
  www/apps/book/app/advanced-development/api-routes/cors/page.mdx
  www/apps/book/app/advanced-development/api-routes/errors/page.mdx
  www/apps/book/app/advanced-development/api-routes/http-methods/page.mdx
  www/apps/book/app/advanced-development/api-routes/middlewares/page.mdx
  www/apps/book/app/advanced-development/api-routes/page.mdx
  www/apps/book/app/advanced-development/api-routes/parameters/page.mdx
  www/apps/book/app/advanced-development/api-routes/protected-routes/page.mdx
  www/apps/book/app/advanced-development/api-routes/responses/page.mdx
  www/apps/book/app/advanced-development/api-routes/validation/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/sidebar.mjs
Labels: type: docs, automerge, team: medusa

#8981 docs: fixes to testing tool guides
  www/apps/book/app/debugging-and-testing/testing-tools/modules-tests/page.mdx
  www/apps/book/app/debugging-and-testing/testing-tools/page.mdx
Labels: type: docs, automerge, team: medusa

#8991 feat(types,medusa): add acknowledgement typing
  packages/core/types/src/http/workflow-execution/admin/responses.ts
  packages/core/types/src/workflows-sdk/service.ts
  packages/medusa/src/api/admin/workflows-executions/[workflow_id]/run/route.ts
Labels: type: feature, team: medusa

#8950 docs-util: fix to enum type + optional
  www/utils/packages/docs-generator/src/classes/kinds/oas.ts
Labels: type: docs, automerge, team: medusa

#8969 feat(core-flows): custom price flag for order line items and shipping methods
  integration-tests/http/__tests__/claims/claims.spec.ts
  integration-tests/http/__tests__/returns/returns.spec.ts
  integration-tests/modules/__tests__/order/order.spec.ts
  integration-tests/modules/__tests__/order/workflows/return/create-return-shipping.spec.ts
  packages/admin/dashboard/src/routes/orders/order-create-claim/components/claim-create-form/claim-create-form.tsx
  packages/admin/dashboard/src/routes/orders/order-create-exchange/components/exchange-create-form/exchange-create-form.tsx
  packages/admin/dashboard/src/routes/orders/order-create-return/components/return-create-form/return-create-form.tsx
  packages/core/core-flows/src/order/utils/prepare-shipping-method.ts
  packages/core/core-flows/src/order/workflows/claim/create-claim-shipping-method.ts
  packages/core/core-flows/src/order/workflows/claim/update-claim-shipping-method.ts
  packages/core/core-flows/src/order/workflows/exchange/create-exchange-shipping-method.ts
  packages/core/core-flows/src/order/workflows/exchange/update-exchange-shipping-method.ts
  packages/core/core-flows/src/order/workflows/order-edit/create-order-edit-shipping-method.ts
  packages/core/core-flows/src/order/workflows/order-edit/update-order-edit-shipping-method.ts
  packages/core/core-flows/src/order/workflows/return/create-return-shipping-method.ts
  packages/core/core-flows/src/order/workflows/return/update-return-shipping-method.ts
  packages/core/types/src/http/claim/admin/payloads.ts
  packages/core/types/src/http/exchange/admin/payloads.ts
  packages/core/types/src/http/return/admin/payloads.ts
  packages/core/types/src/workflow/order/shipping-method.ts
  packages/medusa/src/api/admin/claims/validators.ts
  packages/medusa/src/api/admin/exchanges/validators.ts
  packages/medusa/src/api/admin/order-edits/validators.ts
  packages/medusa/src/api/admin/returns/validators.ts
  packages/modules/order/src/migrations/.snapshot-medusa-order.json
  packages/modules/order/src/migrations/Migration20240902195921.ts
  packages/modules/order/src/models/line-item.ts
  packages/modules/order/src/models/shipping-method.ts
Labels: automerge, type: feature, team: medusa

#9004 feat(product): product option value methods
  packages/core/types/src/product/common.ts
  packages/core/types/src/product/service.ts
  packages/modules/product/src/services/product-module-service.ts
Labels: automerge, type: feature, team: medusa

#8990 feat(dashboard): add inventory kit info in order summary
  packages/admin/dashboard/src/i18n/translations/en.json
  packages/admin/dashboard/src/routes/orders/order-detail/components/order-summary-section/order-summary-section.tsx
  packages/admin/dashboard/src/routes/orders/order-detail/constants.ts
Labels: automerge, type: feature, team: medusa

#9017 chore: add graphql schema from dtos
  packages/modules/fulfillment/src/joiner-config.ts
  packages/modules/fulfillment/src/schema/index.ts
  packages/modules/order/src/index.ts
  packages/modules/order/src/joiner-config.ts
  packages/modules/order/src/schema/index.ts
  packages/modules/order/src/services/order-module-service.ts
  packages/modules/payment/src/joiner-config.ts
  packages/modules/payment/src/schema/index.ts
  packages/modules/pricing/src/joiner-config.ts
  packages/modules/pricing/src/schema/index.ts
  packages/modules/product/src/joiner-config.ts
  packages/modules/product/src/schema/index.ts
  packages/modules/promotion/src/joiner-config.ts
  packages/modules/promotion/src/schema/index.ts
  packages/modules/stock-location-next/src/joiner-config.ts
  packages/modules/stock-location-next/src/schema/index.ts
Labels: type: chore, team: medusa

#9022 fix(dashboard): Fixes to campaign and promotions domains
  packages/admin/dashboard/src/components/table/table-cells/common/code-cell/code-cell.tsx
  packages/admin/dashboard/src/hooks/table/columns/use-promotion-table-columns.tsx
  packages/admin/dashboard/src/hooks/table/filters-v2/use-promotion-table-filters.tsx
  packages/admin/dashboard/src/hooks/table/query/use-promotion-table-query.tsx
  packages/admin/dashboard/src/i18n/translations/en.json
  packages/admin/dashboard/src/lib/promotions.ts
  packages/admin/dashboard/src/providers/router-provider/route-map.tsx
  packages/admin/dashboard/src/routes/campaigns/add-campaign-promotions/components/add-campaign-promotions-form.tsx
  packages/admin/dashboard/src/routes/campaigns/campaign-configuration/campaign-configuration.tsx
  packages/admin/dashboard/src/routes/campaigns/campaign-configuration/components/campaign-configuration-form/campaign-configuration-form.tsx
  packages/admin/dashboard/src/routes/campaigns/campaign-configuration/components/campaign-configuration-form/index.ts
  packages/admin/dashboard/src/routes/campaigns/campaign-configuration/index.ts
  packages/admin/dashboard/src/routes/campaigns/campaign-create/components/create-campaign-form/create-campaign-form.tsx
  packages/admin/dashboard/src/routes/campaigns/campaign-detail/campaign-detail.tsx
  packages/admin/dashboard/src/routes/campaigns/campaign-detail/components/campaign-configuration-section/campaign-configuration-section.tsx
  packages/admin/dashboard/src/routes/campaigns/campaign-detail/components/campaign-configuration-section/index.ts
  packages/admin/dashboard/src/routes/campaigns/campaign-detail/components/campaign-general-section/campaign-general-section.tsx
  packages/admin/dashboard/src/routes/campaigns/campaign-detail/components/campaign-promotion-section/campaign-promotion-section.tsx
  packages/admin/dashboard/src/routes/products/product-create/components/product-create-form/product-create-form.tsx
  packages/admin/dashboard/src/routes/promotions/promotion-add-campaign/components/add-campaign-promotion-form/add-campaign-promotion-form.tsx
  packages/admin/dashboard/src/routes/promotions/promotion-add-campaign/promotion-add-campaign.tsx
  packages/admin/dashboard/src/routes/promotions/promotion-create/components/create-promotion-form/create-promotion-form.tsx
  packages/admin/dashboard/src/routes/promotions/promotion-create/promotion-create.tsx
  packages/admin/dashboard/src/routes/promotions/promotion-detail/components/campaign-section/campaign-section.tsx
  packages/admin/dashboard/src/routes/promotions/promotion-detail/components/promotion-conditions-section/promotion-conditions-section.tsx
  packages/admin/dashboard/src/routes/promotions/promotion-detail/components/promotion-general-section/promotion-general-section.tsx
  packages/admin/dashboard/src/routes/promotions/promotion-detail/promotion-detail.tsx
  packages/admin/dashboard/src/routes/promotions/promotion-edit-details/components/edit-promotion-form/edit-promotion-details-form.tsx
  packages/admin/dashboard/src/routes/promotions/promotion-list/components/promotion-list-table/promotion-list-table.tsx
Labels: type: bug, team: medusa

#9008 docs: rename admin-shared -> admin-sdk
  www/apps/book/app/advanced-development/admin/tips/page.mdx
  www/apps/book/app/advanced-development/admin/ui-routes/page.mdx
  www/apps/book/app/advanced-development/admin/widgets/page.mdx
  www/apps/book/app/basics/admin-customizations/page.mdx
  www/apps/resources/app/recipes/digital-products/examples/standard/page.mdx
  www/apps/resources/app/recipes/subscriptions/examples/standard/page.mdx
Labels: type: docs, team: medusa

#9029 feat(create-medusa-app): add publishable API key environment variable to Next.js storefront
  packages/cli/create-medusa-app/src/utils/prepare-project.ts
Labels: automerge, type: feature, team: medusa

#8962 feat: Reset password
  integration-tests/http/__tests__/auth/admin/auth.spec.ts
  packages/core/core-flows/src/auth/index.ts
  packages/core/core-flows/src/auth/steps/set-auth-app-metadata.ts
  packages/core/core-flows/src/auth/workflows/generate-reset-password-token.ts
  packages/core/core-flows/src/auth/workflows/index.ts
  packages/core/types/src/auth/common/auth-identity.ts
  packages/core/types/src/auth/provider.ts
  packages/core/types/src/auth/service.ts
  packages/core/utils/src/auth/abstract-auth-provider.ts
  packages/core/utils/src/core-flows/events.ts
  packages/core/utils/src/user/events.ts
  packages/medusa/src/api/admin/users/middlewares.ts
  packages/medusa/src/api/admin/users/validators.ts
  packages/medusa/src/api/auth/[actor_type]/[auth_provider]/callback/route.ts
  packages/medusa/src/api/auth/[actor_type]/[auth_provider]/register/route.ts
  packages/medusa/src/api/auth/[actor_type]/[auth_provider]/reset-password/route.ts
  packages/medusa/src/api/auth/[actor_type]/[auth_provider]/route.ts
  packages/medusa/src/api/auth/[actor_type]/[auth_provider]/update/route.ts
  packages/medusa/src/api/auth/middlewares.ts
  packages/medusa/src/api/auth/utils/validate-scope-provider-association.ts
  packages/medusa/src/api/auth/utils/validate-token.ts
  packages/medusa/src/api/utils/unless-path.ts
  packages/medusa/src/commands/user.ts
  packages/modules/auth/integration-tests/__tests__/auth-module-service/auth-identity.spec.ts
  packages/modules/auth/integration-tests/__tests__/auth-module-service/index.spec.ts
  packages/modules/auth/src/joiner-config.ts
  packages/modules/auth/src/services/auth-module.ts
  packages/modules/auth/src/services/auth-provider.ts
  packages/modules/providers/auth-emailpass/src/services/emailpass.ts
Labels: type: feature, team: medusa

#9030 fix(types): add inventory_quantity to http variant type
  packages/core/types/src/http/product/common.ts
Labels: type: bug, team: medusa

#9013 feat: Add support for refreshing JWT tokens
  integration-tests/helpers/create-admin-user.ts
  integration-tests/http/__tests__/auth/admin/auth.spec.ts
  packages/core/js-sdk/src/auth/index.ts
  packages/core/utils/src/auth/token.ts
  packages/medusa/src/api/auth/[actor_type]/[auth_provider]/callback/route.ts
  packages/medusa/src/api/auth/[actor_type]/[auth_provider]/register/route.ts
  packages/medusa/src/api/auth/[actor_type]/[auth_provider]/route.ts
  packages/medusa/src/api/auth/middlewares.ts
  packages/medusa/src/api/auth/token/refresh/route.ts
  packages/medusa/src/api/auth/utils/generate-jwt-token.ts
Labels: type: feature, team: medusa

#9009 chore: fix incorrect oas property name
  www/utils/generated/oas-output/operations/admin/post_admin_workflows-executions_[workflow_id]_run.ts
Labels: type: docs, type: chore, team: medusa

#9037 fix: Check for star actor types when allowing unregistered access
  packages/framework/framework/src/http/middlewares/authenticate-middleware.ts
Labels: type: bug, team: medusa

#9028 docs: fix admin actor type -> user
  www/apps/resources/app/recipes/marketplace/examples/restaurant-delivery/page.mdx
Labels: type: docs, team: medusa

#9044 docs: document star actor types
  www/apps/book/app/advanced-development/api-routes/protected-routes/page.mdx
Labels: type: docs, team: medusa

#9035 oas: [2/2] improve store OAS
  www/utils/generated/oas-output/operations/store/post_store_carts.ts
  www/utils/generated/oas-output/operations/store/post_store_carts_[id].ts
  www/utils/generated/oas-output/operations/store/post_store_carts_[id]_complete.ts
  www/utils/generated/oas-output/operations/store/post_store_carts_[id]_line-items.ts
  www/utils/generated/oas-output/operations/store/post_store_carts_[id]_line-items_[line_id].ts
  www/utils/generated/oas-output/operations/store/post_store_carts_[id]_promotions.ts
  www/utils/generated/oas-output/operations/store/post_store_carts_[id]_shipping-methods.ts
  www/utils/generated/oas-output/operations/store/post_store_carts_[id]_taxes.ts
  www/utils/generated/oas-output/operations/store/post_store_customers.ts
  www/utils/generated/oas-output/operations/store/post_store_customers_me.ts
  www/utils/generated/oas-output/operations/store/post_store_customers_me_addresses.ts
  www/utils/generated/oas-output/operations/store/post_store_customers_me_addresses_[address_id].ts
  www/utils/generated/oas-output/operations/store/post_store_payment-collections.ts
  www/utils/generated/oas-output/operations/store/post_store_payment-collections_[id]_payment-sessions.ts
  www/utils/generated/oas-output/operations/store/post_store_return.ts
  www/utils/generated/oas-output/schemas/StoreCreateCart.ts
  www/utils/packages/docs-generator/src/classes/kinds/oas.ts
Labels: type: docs, team: medusa

#9039 oas: [1/n] improve oas schemas
  www/utils/generated/oas-output/operations/admin/post_admin_fulfillments_[id]_cancel.ts
  www/utils/generated/oas-output/schemas/AdminApiKey.ts
  www/utils/generated/oas-output/schemas/AdminApiKeyResponse.ts
  www/utils/generated/oas-output/schemas/AdminBatchProductRequest.ts
  www/utils/generated/oas-output/schemas/AdminBatchProductResponse.ts
  www/utils/generated/oas-output/schemas/AdminBatchProductVariantRequest.ts
  www/utils/generated/oas-output/schemas/AdminBatchProductVariantResponse.ts
  www/utils/generated/oas-output/schemas/AdminCampaign.ts
  www/utils/generated/oas-output/schemas/AdminCampaignResponse.ts
  www/utils/generated/oas-output/schemas/AdminCancelFulfillment.ts
  www/utils/generated/oas-output/schemas/AdminClaim.ts
  www/utils/generated/oas-output/schemas/AdminClaimDeleteResponse.ts
  www/utils/generated/oas-output/schemas/AdminClaimListResponse.ts
  www/utils/generated/oas-output/schemas/AdminClaimOrderResponse.ts
  www/utils/generated/oas-output/schemas/AdminClaimPreviewResponse.ts
  www/utils/generated/oas-output/schemas/AdminClaimRequestResponse.ts
  www/utils/generated/oas-output/schemas/AdminClaimResponse.ts
  www/utils/generated/oas-output/schemas/AdminClaimReturnPreviewResponse.ts
  www/utils/generated/oas-output/schemas/AdminCollection.ts
  www/utils/generated/oas-output/schemas/AdminCollectionDeleteResponse.ts
  www/utils/generated/oas-output/schemas/AdminCollectionListResponse.ts
Labels: type: docs, team: medusa

#9040 oas: [2/n] improve schema oas
  www/utils/generated/oas-output/schemas/AdminCollectionResponse.ts
  www/utils/generated/oas-output/schemas/AdminCreateApiKey.ts
  www/utils/generated/oas-output/schemas/AdminCreateApplicationMethod.ts
  www/utils/generated/oas-output/schemas/AdminCreateCampaign.ts
  www/utils/generated/oas-output/schemas/AdminCreateCollection.ts
  www/utils/generated/oas-output/schemas/AdminCreateCustomerGroup.ts
  www/utils/generated/oas-output/schemas/AdminCreateFulfillment.ts
  www/utils/generated/oas-output/schemas/AdminCreateInventoryItem.ts
  www/utils/generated/oas-output/schemas/AdminCreatePriceList.ts
  www/utils/generated/oas-output/schemas/AdminCreatePricePreference.ts
  www/utils/generated/oas-output/schemas/AdminCreateProduct.ts
  www/utils/generated/oas-output/schemas/AdminCreateProductCategory.ts
  www/utils/generated/oas-output/schemas/AdminCreateProductOption.ts
  www/utils/generated/oas-output/schemas/AdminCreateProductTag.ts
  www/utils/generated/oas-output/schemas/AdminCreateProductVariant.ts
  www/utils/generated/oas-output/schemas/AdminCreateProductVariantPrice.ts
  www/utils/generated/oas-output/schemas/AdminCreatePromotionRule.ts
  www/utils/generated/oas-output/schemas/AdminCreateRefundReason.ts
  www/utils/generated/oas-output/schemas/AdminCreateRegion.ts
  www/utils/generated/oas-output/schemas/AdminCreateReservation.ts
Labels: type: docs, team: medusa

#9036 chore: re-add oas tests for generated OAS
  .github/workflows/oas-test.yml
  packages/cli/oas/medusa-oas-cli/src/__tests__/command-docs.test.ts
  packages/cli/oas/medusa-oas-cli/src/command-docs.ts
Labels: type: chore, team: medusa

#8993 oas: [1/n] improve store oas
  www/utils/generated/oas-output/operations/store/delete_store_carts_[id]_line-items_[line_id].ts
  www/utils/generated/oas-output/operations/store/delete_store_carts_[id]_promotions.ts
  www/utils/generated/oas-output/operations/store/delete_store_customers_me_addresses_[address_id].ts
  www/utils/generated/oas-output/operations/store/get_store_collections.ts
  www/utils/generated/oas-output/operations/store/get_store_collections_[id].ts
  www/utils/generated/oas-output/operations/store/get_store_currencies.ts
  www/utils/generated/oas-output/operations/store/get_store_currencies_[code].ts
  www/utils/generated/oas-output/operations/store/get_store_customers_me.ts
  www/utils/generated/oas-output/operations/store/get_store_customers_me_addresses.ts
  www/utils/generated/oas-output/operations/store/get_store_customers_me_addresses_[address_id].ts
  www/utils/generated/oas-output/operations/store/get_store_orders.ts
  www/utils/generated/oas-output/operations/store/get_store_orders_[id].ts
  www/utils/generated/oas-output/operations/store/get_store_payment-providers.ts
  www/utils/generated/oas-output/operations/store/get_store_product-categories.ts
  www/utils/generated/oas-output/operations/store/get_store_product-categories_[id].ts
  www/utils/generated/oas-output/operations/store/get_store_products.ts
  www/utils/generated/oas-output/operations/store/get_store_products_[id].ts
  www/utils/generated/oas-output/operations/store/get_store_regions.ts
  www/utils/generated/oas-output/operations/store/get_store_return-reasons.ts
  www/utils/generated/oas-output/operations/store/get_store_shipping-options.ts
Labels: type: docs, team: medusa

#9046 fix(orchestration): filter out undefined items
  packages/core/orchestration/src/joiner/remote-joiner.ts
Labels: type: bug, team: medusa

#9021 docs: fix pricing query params in storefront guide + modules restructure
  www/apps/resources/app/commerce-modules/api-key/page.mdx
  www/apps/resources/app/commerce-modules/auth/page.mdx
  www/apps/resources/app/commerce-modules/cart/page.mdx
  www/apps/resources/app/commerce-modules/currency/page.mdx
  www/apps/resources/app/commerce-modules/customer/page.mdx
  www/apps/resources/app/commerce-modules/fulfillment/page.mdx
  www/apps/resources/app/commerce-modules/inventory/page.mdx
  www/apps/resources/app/commerce-modules/order/page.mdx
  www/apps/resources/app/commerce-modules/payment/page.mdx
  www/apps/resources/app/commerce-modules/pricing/page.mdx
  www/apps/resources/app/commerce-modules/product/page.mdx
  www/apps/resources/app/commerce-modules/promotion/page.mdx
  www/apps/resources/app/commerce-modules/region/page.mdx
  www/apps/resources/app/commerce-modules/sales-channel/page.mdx
  www/apps/resources/app/commerce-modules/stock-location/page.mdx
  www/apps/resources/app/commerce-modules/store/page.mdx
  www/apps/resources/app/commerce-modules/tax/page.mdx
  www/apps/resources/app/commerce-modules/user/page.mdx
  www/apps/resources/app/storefront-development/products/price/page.mdx
  www/apps/resources/generated/edit-dates.mjs
Labels: type: docs, automerge, team: medusa

#9043 fix(types, medusa): request / response types clean-up
  integration-tests/modules/__tests__/fixtures/fulfillment/index.ts
  packages/core/types/src/http/claim/common.ts
  packages/core/types/src/http/currency/common.ts
  packages/core/types/src/tax/common.ts
  packages/core/types/src/tax/mutations.ts
  packages/medusa/src/api/admin/fulfillments/[id]/cancel/route.ts
  packages/medusa/src/api/admin/fulfillments/middlewares.ts
  packages/medusa/src/api/admin/fulfillments/validators.ts
  packages/medusa/src/api/admin/orders/[id]/archive/route.ts
  packages/medusa/src/api/admin/orders/middlewares.ts
  packages/medusa/src/api/admin/orders/validators.ts
  packages/medusa/src/api/store/carts/[id]/complete/route.ts
  packages/medusa/src/api/store/carts/middlewares.ts
  packages/medusa/src/api/store/carts/validators.ts
Labels: type: bug, automerge, team: medusa

#9031 feat: introduce types for query.graph method
  packages/core/modules-sdk/src/medusa-app.ts
  packages/core/types/src/modules-sdk/__tests__/query.spec.ts
  packages/core/types/src/modules-sdk/remote-query.ts
  packages/core/utils/src/common/container.ts
Labels: type: feature, team: medusa

#9051 fix(admin-ui): product category state in edit modal
  packages/admin-ui/ui/src/domain/product-categories/utils/index.tsx
Labels: automerge

#9055 fix: Allow specifying PORT for tests through environment
  packages/core/medusa-test-utils/src/medusa-test-runner-utils/bootstrap-app.ts
Labels: type: bug, team: medusa

#9054 chore(modules-sdk): Move Query and cleanup
  packages/core/modules-sdk/src/medusa-app.ts
  packages/core/modules-sdk/src/remote-query/index.ts
  packages/core/modules-sdk/src/remote-query/query.ts
  packages/core/modules-sdk/src/remote-query/remote-query.ts
Labels: type: chore, team: medusa

#9023 chore(utils): update auth provider TSDocs + fix errors stopping references build
  packages/core/utils/src/auth/abstract-auth-provider.ts
  packages/core/utils/src/modules-sdk/joiner-config-builder.ts
  www/utils/packages/docs-generator/package.json
  www/utils/packages/react-docs-generator/package.json
  www/utils/packages/scripts/package.json
  www/utils/packages/typedoc-generate-references/package.json
  www/utils/packages/typedoc-plugin-custom/package.json
  www/utils/packages/typedoc-plugin-markdown-medusa/package.json
  www/utils/packages/typedoc-plugin-workflows/package.json
  www/utils/packages/utils/package.json
  www/utils/packages/workflows-diagrams-generator/package.json
  www/utils/yarn.lock
Labels: type: docs, type: chore, automerge, team: medusa

#9059 chore: fix build errors in OAS
  www/utils/generated/oas-output/operations/admin/post_auth_token_refresh.ts
  www/utils/generated/oas-output/operations/store/delete_store_carts_[id]_line-items_[line_id].ts
  www/utils/generated/oas-output/operations/store/delete_store_customers_me_addresses_[address_id].ts
  www/utils/generated/oas-output/operations/store/get_store_collections.ts
  www/utils/generated/oas-output/operations/store/get_store_collections_[id].ts
  www/utils/generated/oas-output/operations/store/get_store_customers_me.ts
  www/utils/generated/oas-output/operations/store/get_store_customers_me_addresses.ts
  www/utils/generated/oas-output/operations/store/get_store_payment-providers.ts
  www/utils/generated/oas-output/operations/store/get_store_product-categories.ts
  www/utils/generated/oas-output/operations/store/get_store_product-categories_[id].ts
  www/utils/generated/oas-output/operations/store/get_store_products.ts
  www/utils/generated/oas-output/operations/store/get_store_products_[id].ts
  www/utils/generated/oas-output/operations/store/get_store_regions.ts
  www/utils/generated/oas-output/operations/store/get_store_shipping-options.ts
  www/utils/generated/oas-output/operations/store/post_auth_token_refresh.ts
  www/utils/generated/oas-output/operations/store/post_store_carts_[id]_complete.ts
  www/utils/generated/oas-output/operations/store/post_store_carts_[id]_line-items.ts
  www/utils/generated/oas-output/operations/store/post_store_carts_[id]_line-items_[line_id].ts
  www/utils/generated/oas-output/operations/store/post_store_carts_[id]_shipping-methods.ts
  www/utils/generated/oas-output/operations/store/post_store_customers.ts
  www/utils/generated/oas-output/operations/store/post_store_customers_me.ts
  www/utils/generated/oas-output/operations/store/post_store_customers_me_addresses.ts
  www/utils/generated/oas-output/operations/store/post_store_customers_me_addresses_[address_id].ts
  www/utils/generated/oas-output/operations/store/post_store_payment-collections.ts
  www/utils/generated/oas-output/operations/store/post_store_payment-collections_[id]_payment-sessions.ts
Labels: type: docs, automerge, team: medusa

#9057 docs: add prerequisites link for test guides
  www/apps/book/app/debugging-and-testing/testing-tools/integration-tests/api-routes/page.mdx
  www/apps/book/app/debugging-and-testing/testing-tools/integration-tests/page.mdx
  www/apps/book/app/debugging-and-testing/testing-tools/integration-tests/workflows/page.mdx
  www/apps/book/app/debugging-and-testing/testing-tools/modules-tests/module-example/page.mdx
  www/apps/book/app/debugging-and-testing/testing-tools/modules-tests/page.mdx
Labels: type: docs, automerge, team: medusa

#9058 breaking: turn off Mikro-ORM casing change with DML properties
  packages/core/utils/src/dml/__tests__/entity-builder.spec.ts
  packages/core/utils/src/dml/helpers/entity-builder/define-property.ts
Labels: type: bug, has: breaking changes, team: medusa

#9067 chore(types, medusa): clean up to request / response types
  packages/core/types/src/http/inventory/admin/entities.ts
  packages/medusa/src/api/admin/products/middlewares.ts
  packages/medusa/src/api/admin/products/validators.ts
Labels: type: chore, automerge, team: medusa

#9064 oas: [4/n] improve oas schemas
  www/utils/generated/oas-output/operations/admin/post_admin_products_export.ts
  www/utils/generated/oas-output/schemas/AdminCustomerInGroupFilters.ts
  www/utils/generated/oas-output/schemas/AdminDeletePaymentCollectionResponse.ts
  www/utils/generated/oas-output/schemas/AdminDraftOrderResponse.ts
  www/utils/generated/oas-output/schemas/AdminExchange.ts
  www/utils/generated/oas-output/schemas/AdminExchangeDeleteResponse.ts
  www/utils/generated/oas-output/schemas/AdminExchangeOrderResponse.ts
  www/utils/generated/oas-output/schemas/AdminExchangePreviewResponse.ts
  www/utils/generated/oas-output/schemas/AdminExchangeRequestResponse.ts
  www/utils/generated/oas-output/schemas/AdminExchangeResponse.ts
  www/utils/generated/oas-output/schemas/AdminExchangeReturnResponse.ts
  www/utils/generated/oas-output/schemas/AdminExportProductRequest.ts
  www/utils/generated/oas-output/schemas/AdminExportProductResponse.ts
  www/utils/generated/oas-output/schemas/AdminFile.ts
  www/utils/generated/oas-output/schemas/AdminFileListResponse.ts
  www/utils/generated/oas-output/schemas/AdminFileResponse.ts
  www/utils/generated/oas-output/schemas/AdminFulfillment.ts
  www/utils/generated/oas-output/schemas/AdminFulfillmentAddress.ts
  www/utils/generated/oas-output/schemas/AdminFulfillmentItem.ts
  www/utils/generated/oas-output/schemas/AdminFulfillmentLabel.ts
Labels: type: docs, automerge, team: medusa

#9060 docs-util: fix generated hooks example
  www/utils/packages/typedoc-plugin-workflows/src/utils/helper.ts
Labels: type: docs, automerge, team: medusa

#9063 fix(dashboard): rq cache and pending flag
  packages/admin/dashboard/src/hooks/api/fulfillment-sets.tsx
  packages/admin/dashboard/src/hooks/api/returns.tsx
  packages/admin/dashboard/src/hooks/api/stock-locations.tsx
  packages/admin/dashboard/src/routes/locations/location-service-zone-create/location-service-zone-create.tsx
  packages/admin/dashboard/src/routes/locations/location-service-zone-edit/location-service-zone-edit.tsx
  packages/admin/dashboard/src/routes/locations/location-service-zone-manage-areas/location-service-zone-manage-areas.tsx
  packages/admin/dashboard/src/routes/locations/location-service-zone-shipping-option-create/location-service-zone-shipping-option-create.tsx
  packages/admin/dashboard/src/routes/locations/location-service-zone-shipping-option-edit/location-service-zone-shipping-option-edit.tsx
  packages/admin/dashboard/src/routes/locations/location-service-zone-shipping-option-pricing/location-service-zone-shipping-option-pricing.tsx
  packages/admin/dashboard/src/routes/product-variants/product-variant-edit/product-variant-edit.tsx
  packages/admin/dashboard/src/routes/products/product-edit-option/product-edit-option.tsx
Labels: type: bug, automerge, team: medusa

#9014 fix(utils,medusa,order,cart): fix totals when promotions are included
  integration-tests/modules/__tests__/cart/store/carts.spec.ts
  integration-tests/modules/__tests__/order/order.spec.ts
  packages/core/utils/src/totals/__tests__/totals.ts
  packages/core/utils/src/totals/adjustment/index.ts
  packages/core/utils/src/totals/cart/index.ts
  packages/core/utils/src/totals/line-item/index.ts
  packages/core/utils/src/totals/shipping-method/index.ts
  packages/core/utils/src/totals/tax/index.ts
  packages/medusa/src/api/store/carts/query-config.ts
  packages/medusa/src/api/store/orders/query-config.ts
  packages/modules/cart/integration-tests/__tests__/services/cart-module/index.spec.ts
  packages/modules/order/integration-tests/__tests__/create-order.ts
Labels: type: feature, team: medusa

#9074 fix: JSON stringify DML json property default value
  packages/core/utils/src/dml/__tests__/entity-builder.spec.ts
  packages/core/utils/src/dml/__tests__/json-property.spec.ts
  packages/core/utils/src/dml/helpers/entity-builder/define-property.ts
Labels: type: bug, team: medusa

#9066 oas: [5/n] improve oas schemas
  www/utils/generated/oas-output/schemas/AdminFulfillmentProvider.ts
  www/utils/generated/oas-output/schemas/AdminFulfillmentProviderListResponse.ts
  www/utils/generated/oas-output/schemas/AdminFulfillmentResponse.ts
  www/utils/generated/oas-output/schemas/AdminFulfillmentSetDeleteResponse.ts
  www/utils/generated/oas-output/schemas/AdminGeoZone.ts
  www/utils/generated/oas-output/schemas/AdminImportProductRequest.ts
  www/utils/generated/oas-output/schemas/AdminImportProductResponse.ts
  www/utils/generated/oas-output/schemas/AdminInventoryItem.ts
  www/utils/generated/oas-output/schemas/AdminInventoryItemResponse.ts
  www/utils/generated/oas-output/schemas/AdminInventoryLevel.ts
  www/utils/generated/oas-output/schemas/AdminInvite.ts
  www/utils/generated/oas-output/schemas/AdminInviteResponse.ts
  www/utils/generated/oas-output/schemas/AdminLinkPriceListProducts.ts
  www/utils/generated/oas-output/schemas/AdminNotification.ts
  www/utils/packages/docs-generator/src/classes/kinds/oas.ts
Labels: type: docs, automerge, team: medusa

#9072 docs-util: fix after updating node version
  www/utils/packages/docs-generator/src/classes/helpers/ai-generator.ts
Labels: type: docs, automerge, team: medusa

#9080 docs: document events reference
  www/apps/book/app/basics/events-and-subscribers/page.mdx
  www/apps/resources/app/_events-reference/page.mdx
  www/apps/resources/app/commerce-modules/api-key/_events/_events-table/page.mdx
  www/apps/resources/app/commerce-modules/api-key/_events/page.mdx
  www/apps/resources/app/commerce-modules/auth/_events/_events-table/page.mdx
  www/apps/resources/app/commerce-modules/auth/_events/page.mdx
  www/apps/resources/app/commerce-modules/cart/_events/_events-table/page.mdx
  www/apps/resources/app/commerce-modules/cart/_events/page.mdx
  www/apps/resources/app/commerce-modules/currency/_events/_events-table/page.mdx
  www/apps/resources/app/commerce-modules/currency/_events/page.mdx
  www/apps/resources/app/commerce-modules/customer/_events/_events-table/page.mdx
  www/apps/resources/app/commerce-modules/customer/_events/page.mdx
  www/apps/resources/app/commerce-modules/fulfillment/_events/_events-table/page.mdx
  www/apps/resources/app/commerce-modules/fulfillment/_events/page.mdx
  www/apps/resources/app/commerce-modules/inventory/_events/_events-table/page.mdx
  www/apps/resources/app/commerce-modules/inventory/_events/page.mdx
  www/apps/resources/app/commerce-modules/order/_events/_events-table/page.mdx
  www/apps/resources/app/commerce-modules/order/_events/page.mdx
  www/apps/resources/app/commerce-modules/payment/_events/_events-table/page.mdx
  www/apps/resources/app/commerce-modules/payment/_events/page.mdx
  www/apps/resources/app/commerce-modules/pricing/_events/_events-table/page.mdx
  www/apps/resources/app/commerce-modules/pricing/_events/page.mdx
  www/apps/resources/app/commerce-modules/product/_events/_events-table/page.mdx
  www/apps/resources/app/commerce-modules/product/_events/page.mdx
  www/apps/resources/app/commerce-modules/promotion/_events/_events-table/page.mdx
  www/apps/resources/app/commerce-modules/promotion/_events/page.mdx
  www/apps/resources/app/commerce-modules/region/_events/_events-table/page.mdx
  www/apps/resources/app/commerce-modules/region/_events/page.mdx
  www/apps/resources/app/commerce-modules/sales-channel/_events/_events-table/page.mdx
  www/apps/resources/app/commerce-modules/sales-channel/_events/page.mdx
  www/apps/resources/app/commerce-modules/stock-location/_events/_events-table/page.mdx
  www/apps/resources/app/commerce-modules/stock-location/_events/page.mdx
  www/apps/resources/app/commerce-modules/store/_events/_events-table/page.mdx
  www/apps/resources/app/commerce-modules/store/_events/page.mdx
  www/apps/resources/app/commerce-modules/tax/_events/_events-table/page.mdx
  www/apps/resources/app/commerce-modules/tax/_events/page.mdx
  www/apps/resources/app/commerce-modules/user/_events/_events-table/page.mdx
  www/apps/resources/app/commerce-modules/user/_events/page.mdx
  www/apps/resources/app/events-reference/page.mdx
  www/apps/resources/generated/files-map.mjs
  www/apps/resources/generated/sidebar.mjs
  www/apps/resources/sidebar.mjs
Labels: type: docs, automerge, team: medusa

#9076 fix(dashboard): refresh order list when fulfilment status changes
  packages/admin/dashboard/src/hooks/api/fulfillment.tsx
  packages/admin/dashboard/src/hooks/api/orders.tsx
Labels: type: bug, automerge, team: medusa

#9062 fix(medusa-test-utils): Run with modules without models
  packages/core/medusa-test-utils/package.json
  packages/core/medusa-test-utils/src/medusa-test-runner-utils/use-db.ts
  packages/core/medusa-test-utils/src/medusa-test-runner.ts
  packages/core/medusa-test-utils/src/module-test-runner.ts
  packages/modules/file/integration-tests/__tests__/module.spec.ts
  yarn.lock
Labels: type: bug, team: medusa

#9002 fix(promotion): handle promotion buy X get X scenario
  packages/modules/promotion/integration-tests/__tests__/services/promotion-module/compute-actions.spec.ts
  packages/modules/promotion/src/services/promotion-module.ts
  packages/modules/promotion/src/utils/compute-actions/buy-get.ts
Labels: type: bug, team: medusa

#9082 fix(dashboard): campaign fixes
  packages/admin/dashboard/src/i18n/translations/en.json
  packages/admin/dashboard/src/routes/campaigns/campaign-create/components/create-campaign-form/create-campaign-form.tsx
  packages/admin/dashboard/src/routes/promotions/promotion-add-campaign/components/add-campaign-promotion-form/add-campaign-promotion-form.tsx
Labels: type: bug, automerge, team: medusa

#9083 fix: broken order page due to missing inventory
  packages/admin/dashboard/src/routes/orders/order-detail/components/order-summary-section/order-summary-section.tsx
Labels: type: bug, automerge, team: medusa

#9041 fix: Update auth `app_metadata` when deleting users + customers
  integration-tests/helpers/create-admin-user.ts
  integration-tests/http/__tests__/auth/admin/auth.spec.ts
  integration-tests/http/__tests__/customer/admin/customer.spec.ts
  integration-tests/http/__tests__/user/admin/user.spec.ts
  integration-tests/modules/__tests__/users/delete-user.spec.ts
  integration-tests/modules/__tests__/users/list-users.spec.ts
  integration-tests/modules/__tests__/users/retrieve-user.spec.ts
  packages/core/core-flows/src/auth/steps/set-auth-app-metadata.ts
  packages/core/core-flows/src/customer/workflows/index.ts
  packages/core/core-flows/src/customer/workflows/remove-customer-account.ts
  packages/core/core-flows/src/user/workflows/index.ts
  packages/core/core-flows/src/user/workflows/remove-user-account.ts
  packages/medusa/src/api/admin/customers/[id]/route.ts
  packages/medusa/src/api/admin/users/[id]/route.ts
Labels: type: bug, team: medusa

#9086 feat(core-flows,types,medusa): validate deleting location level when quantities exist
  integration-tests/http/__tests__/inventory/admin/inventory.spec.ts
  packages/admin/dashboard/src/routes/inventory/inventory-detail/components/location-levels-table/location-actions.tsx
  packages/core/core-flows/src/inventory/steps/delete-levels-by-item-and-location.ts
  packages/core/core-flows/src/inventory/steps/index.ts
  packages/core/core-flows/src/inventory/workflows/bulk-create-delete-levels.ts
  packages/core/core-flows/src/inventory/workflows/delete-inventory-levels.ts
  packages/core/types/src/inventory/common/inventory-level.ts
  packages/medusa/src/api/admin/inventory-items/[id]/location-levels/[location_id]/route.ts
Labels: type: bug, automerge, team: medusa

#8999 docs: added a services constraint document
  www/apps/book/app/advanced-development/modules/service-constraints/page.mdx
  www/apps/book/app/basics/modules-and-services/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/sidebar.mjs
Labels: type: docs, automerge, team: medusa

#9090 feat(payment): Payment providers are upserted upon loading
  integration-tests/modules/__tests__/payment/payment-providers.spec.ts
  packages/modules/payment/src/loaders/providers.ts
  packages/modules/payment/src/services/payment-provider.ts
Labels: type: feature, team: medusa

#9038 feat(dashboard) modal search autofocus
  packages/admin/dashboard/src/components/table/data-table/data-table-query/data-table-query.tsx
  packages/admin/dashboard/src/components/table/data-table/data-table-search/data-table-search.tsx
  packages/admin/dashboard/src/components/table/data-table/data-table.tsx
  packages/admin/dashboard/src/routes/api-key-management/api-key-management-sales-channels/components/api-key-sales-channels-form/api-key-sales-channels-form.tsx
  packages/admin/dashboard/src/routes/campaigns/add-campaign-promotions/components/add-campaign-promotions-form.tsx
  packages/admin/dashboard/src/routes/categories/category-products/components/edit-category-products-form/edit-category-products-form.tsx
  packages/admin/dashboard/src/routes/collections/collection-add-products/components/add-products-to-collection-form/add-products-to-collection-form.tsx
  packages/admin/dashboard/src/routes/customer-groups/customer-group-add-customers/components/add-customers-form/add-customers-form.tsx
  packages/admin/dashboard/src/routes/customers/customers-add-customer-group/components/add-customers-form/add-customer-groups-form.tsx
  packages/admin/dashboard/src/routes/locations/location-fulfillment-providers/components/edit-fulfillment-providers-form/edit-fulfillment-providers-form.tsx
  packages/admin/dashboard/src/routes/locations/location-sales-channels/components/edit-sales-channels-form/edit-sales-channels-form.tsx
  packages/admin/dashboard/src/routes/products/product-sales-channels/components/edit-sales-channels-form/edit-sales-channels-form.tsx
  packages/admin/dashboard/src/routes/regions/region-add-countries/components/add-countries-form/add-countries-form.tsx
  packages/admin/dashboard/src/routes/regions/region-create/components/create-region-form/create-region-form.tsx
  packages/admin/dashboard/src/routes/sales-channels/sales-channel-add-products/components/add-products-to-sales-channel-form.tsx
  packages/admin/dashboard/src/routes/store/store-add-currencies/components/add-currencies-form/add-currencies-form.tsx
  packages/admin/dashboard/src/routes/users/user-invite/components/invite-user-form/invite-user-form.tsx
Labels: automerge, type: feature, team: medusa

#9068 feat(utils,types,framework,medusa): store endpoints should require publishable key
  integration-tests/helpers/create-admin-user.ts
  integration-tests/http/__tests__/collection/store/collection.spec.ts
  integration-tests/http/__tests__/customer/admin/customer.spec.ts
  integration-tests/http/__tests__/customer/store/customer.spec.ts
  integration-tests/http/__tests__/fixtures/order.ts
  integration-tests/http/__tests__/order/admin/rma-flows.spec.ts
  integration-tests/http/__tests__/payment-collection/admin/payment-sessions.spec.ts
  integration-tests/http/__tests__/payment/admin/payment.spec.ts
  integration-tests/http/__tests__/product/store/product.spec.ts
  integration-tests/http/__tests__/region/admin/region.spec.ts
  integration-tests/modules/__tests__/cart/store/add-promotions-to-cart.spec.ts
  integration-tests/modules/__tests__/cart/store/carts.spec.ts
  integration-tests/modules/__tests__/cart/store/remove-promotions-from-cart.spec.ts
  integration-tests/modules/__tests__/currency/store/currency.spec.ts
  integration-tests/modules/__tests__/customer/store/create-customer-addresses.ts
  integration-tests/modules/__tests__/customer/store/create-customer.spec.ts
  integration-tests/modules/__tests__/customer/store/delete-customer-address.spec.ts
  integration-tests/modules/__tests__/customer/store/get-me.spec.ts
  integration-tests/modules/__tests__/customer/store/list-customer-addresses.ts
  integration-tests/modules/__tests__/customer/store/update-customer-address.spec.ts
  integration-tests/modules/__tests__/price-lists/store/get-product.ts
  integration-tests/modules/__tests__/shipping-options/store/shipping-options.spec.ts
  packages/core/types/src/api-key/common/api-key.ts
  packages/core/utils/src/api-key/api-key-type.ts
  packages/framework/framework/src/http/types.ts
  packages/medusa/src/api/middlewares.ts
  packages/medusa/src/api/store/middlewares.ts
  packages/medusa/src/api/utils/middlewares/products/filter-by-valid-sales-channels.ts
  packages/medusa/src/utils/middlewares/ensure-publishable-api-key.ts
Labels: type: feature, team: medusa

#9103 chore: Register Query in container
  packages/core/modules-sdk/src/medusa-app.ts
  packages/core/modules-sdk/src/remote-query/query.ts
  packages/core/types/src/modules-sdk/remote-query.ts
  packages/framework/framework/src/medusa-app-loader.ts
Labels: type: chore, team: medusa

#9108 fix: product options event names
  packages/core/utils/src/core-flows/events.ts
Labels: type: bug, automerge, team: medusa

#9106 feat(core-flows,dashboard,types,medusa): delete shipping methods when all inbound/outbound items are deleted
  integration-tests/http/__tests__/claims/claims.spec.ts
  integration-tests/http/__tests__/exchanges/exchanges.spec.ts
  packages/admin/dashboard/src/hooks/api/claims.tsx
  packages/admin/dashboard/src/hooks/api/exchanges.tsx
  packages/admin/dashboard/src/hooks/api/returns.tsx
  packages/admin/dashboard/src/routes/orders/order-create-claim/components/claim-create-form/claim-create-form.tsx
  packages/admin/dashboard/src/routes/orders/order-create-claim/components/claim-create-form/claim-outbound-section.tsx
  packages/admin/dashboard/src/routes/orders/order-create-exchange/components/exchange-create-form/exchange-inbound-section.tsx
  packages/admin/dashboard/src/routes/orders/order-create-exchange/components/exchange-create-form/exchange-outbound-section.tsx
  packages/admin/dashboard/src/routes/orders/order-create-return/components/return-create-form/return-create-form.tsx
  packages/core/core-flows/src/order/workflows/claim/remove-claim-add-item-action.ts
  packages/core/core-flows/src/order/workflows/exchange/remove-exchange-item-action.ts
  packages/core/core-flows/src/order/workflows/return/remove-item-return-action.ts
  packages/core/types/src/order/mutations.ts
  packages/core/types/src/workflow/order/update-return.ts
  packages/medusa/src/api/admin/claims/[id]/outbound/items/[action_id]/route.ts
  packages/medusa/src/api/admin/exchanges/[id]/inbound/items/[action_id]/route.ts
Labels: type: feature, team: medusa

#9087 fix(dashboard): product create - ignored variants in datagrid
  packages/admin/dashboard/src/routes/products/product-create/components/product-create-variants-form/product-create-variants-form.tsx
Labels: type: bug, team: medusa

#9101 docs: fixes to long-running workflows + relationship docs
  www/apps/book/app/advanced-development/data-models/relationships/page.mdx
  www/apps/book/app/advanced-development/workflows/long-running-workflow/page.mdx
  www/apps/book/generated/edit-dates.mjs
Labels: type: docs, team: medusa

#9085 fix(dml): Throw when many to many are not configured properly
  packages/core/types/src/dml/index.ts
  packages/core/utils/src/dml/__tests__/entity-builder.spec.ts
  packages/core/utils/src/dml/helpers/entity-builder/define-relationship.ts
  packages/core/utils/src/dml/integration-tests/__tests__/many-to-many.spec.ts
Labels: type: bug, automerge, team: medusa

#9109 feat: introduce a thin wrapper on top of OpenTelemetry
  packages/framework/framework/package.json
  packages/framework/framework/src/index.ts
  packages/framework/framework/src/telemetry/index.ts
  yarn.lock
Labels: type: feature, team: medusa

#9115 fix: Remove test listeners after the event has happened
  packages/core/medusa-test-utils/src/events.ts
Labels: type: bug, team: medusa

#9107 fix: `instanceof MedusaError` does not work
  .changeset/tender-oranges-clean.md
  packages/utils/src/common/errors.ts
Labels: automerge

#9123 fix(types, medusa): fix http type of exchanges and claims
  packages/core/types/src/http/claim/common.ts
  packages/core/types/src/http/exchange/common.ts
  packages/medusa/src/api/admin/exchanges/query-config.ts
Labels: type: bug, team: medusa

#9116 feature: add telemetry to the HTTP layer
  packages/framework/framework/src/http/middlewares/authenticate-middleware.ts
  packages/framework/framework/src/http/router.ts
  packages/framework/framework/src/http/types.ts
  packages/medusa/package.json
  packages/medusa/src/api/admin/products/utils/maybe-apply-price-lists-filter.ts
  packages/medusa/src/api/utils/maybe-apply-link-filter.ts
  packages/medusa/src/api/utils/validate-body.ts
  packages/medusa/src/api/utils/validate-query.ts
  packages/medusa/src/commands/start.ts
  packages/medusa/src/index.js
  packages/medusa/src/instrumentation/index.ts
  yarn.lock
Labels: type: feature, team: medusa

#9117 chore(workflows-sdk): Update hook functions type
  packages/core/workflows-sdk/src/utils/composer/type.ts
Labels: type: chore, automerge, team: medusa

#9104 docs: added docs for deleting user of actor type
  www/apps/resources/app/commerce-modules/auth/create-actor-type/page.mdx
  www/apps/resources/app/recipes/marketplace/examples/restaurant-delivery/page.mdx
  www/apps/resources/generated/edit-dates.mjs
Labels: type: docs, automerge, team: medusa

#9121 docs: add new events to reference
  www/apps/resources/app/events-reference/page.mdx
Labels: type: docs, team: medusa

#9122 oas: [6/n] improve oas schemas
  www/utils/generated/oas-output/schemas/AdminNotificationListResponse.ts
  www/utils/generated/oas-output/schemas/AdminNotificationResponse.ts
  www/utils/generated/oas-output/schemas/AdminOrder.ts
  www/utils/generated/oas-output/schemas/AdminOrderAddress.ts
  www/utils/generated/oas-output/schemas/AdminOrderChangesResponse.ts
  www/utils/generated/oas-output/schemas/AdminOrderEditPreviewResponse.ts
  www/utils/generated/oas-output/schemas/AdminOrderEditResponse.ts
  www/utils/generated/oas-output/schemas/AdminOrderPreview.ts
Labels: type: docs, automerge, team: medusa

#9128 feature: add tracing to remote query
  packages/core/modules-sdk/src/remote-query/query.ts
  packages/core/modules-sdk/src/remote-query/remote-query.ts
  packages/framework/framework/src/index.ts
  packages/medusa/src/instrumentation/index.ts
Labels: type: feature, team: medusa

#9131 fix(): Query Missing bindings
  packages/core/modules-sdk/src/remote-query/query.ts
Labels: type: bug, team: medusa

#9139 Fixed misleading LinkDefinition import from the wrong package
  www/apps/resources/app/recipes/marketplace/examples/vendors/page.mdx
Labels: automerge

#9097 fix(core-flows): item id in reservations
  integration-tests/modules/__tests__/cart/store/carts.spec.ts
  packages/core/core-flows/src/cart/utils/prepare-confirm-inventory-input.ts
  packages/core/core-flows/src/cart/workflows/complete-cart.ts
  packages/core/types/src/cart/workflows.ts
Labels: type: bug, automerge, team: medusa

#9141 fix(dashboard): max call error onKeyDown handler
  packages/admin/dashboard/src/components/data-grid/hooks/use-data-grid-cell.tsx
Labels: type: bug, team: medusa

#9143 docs: fix import of LinkDefinition
  www/apps/resources/app/recipes/subscriptions/examples/standard/page.mdx
Labels: type: docs, team: medusa

#9130 feat(core-flows,medusa,utils,types): adds delivered_quantity to order
  integration-tests/http/__tests__/fixtures/order.ts
  integration-tests/http/__tests__/order/admin/order.spec.ts
  integration-tests/http/__tests__/order/admin/rma-flows.spec.ts
  integration-tests/http/__tests__/payment/admin/payment.spec.ts
  packages/admin/dashboard/src/hooks/api/orders.tsx
  packages/admin/dashboard/src/i18n/translations/en.json
  packages/admin/dashboard/src/lib/order-helpers.ts
  packages/admin/dashboard/src/routes/orders/order-detail/components/order-activity-section/order-timeline.tsx
  packages/admin/dashboard/src/routes/orders/order-detail/components/order-fulfillment-section/order-fulfillment-section.tsx
  packages/core/core-flows/src/fulfillment/steps/update-fulfillment.ts
  packages/core/core-flows/src/fulfillment/workflows/index.ts
  packages/core/core-flows/src/fulfillment/workflows/mark-fulfillment-as-delivered.ts
  packages/core/core-flows/src/order/steps/register-delivery.ts
  packages/core/core-flows/src/order/workflows/index.ts
  packages/core/core-flows/src/order/workflows/mark-order-fulfillment-as-delivered.ts
  packages/core/js-sdk/src/admin/order.ts
  packages/core/types/src/http/order/admin/payload.ts
  packages/core/types/src/http/order/common.ts
  packages/core/types/src/order/common.ts
  packages/core/types/src/order/mutations.ts
  packages/core/types/src/order/service.ts
  packages/core/types/src/workflow/order/create-shipment.ts
  packages/core/utils/src/fulfillment/events.ts
  packages/core/utils/src/order/order-change-action.ts
  packages/core/utils/src/totals/line-item/index.ts
  packages/medusa/src/api/admin/orders/[id]/fulfillments/[fulfillment_id]/mark-as-delivered/route.ts
  packages/medusa/src/api/admin/orders/middlewares.ts
  packages/medusa/src/api/admin/orders/validators.ts
  packages/modules/inventory-next/src/services/inventory-module.ts
  packages/modules/order/integration-tests/__tests__/order-edit.ts
  packages/modules/order/src/migrations/.snapshot-medusa-order.json
  packages/modules/order/src/migrations/Migration20240913092514.ts
  packages/modules/order/src/models/order-item.ts
  packages/modules/order/src/services/actions/index.ts
  packages/modules/order/src/services/actions/register-delivery.ts
  packages/modules/order/src/services/order-module-service.ts
  packages/modules/order/src/types/utils/index.ts
  packages/modules/order/src/utils/actions/deliver-item.ts
  packages/modules/order/src/utils/actions/index.ts
  packages/modules/order/src/utils/apply-order-changes.ts
  packages/modules/order/src/utils/calculate-order-change.ts
Labels: automerge, type: feature, team: medusa

#9142 docs: replace ModuleRegistrationName with Modules
  www/apps/book/app/advanced-development/api-routes/protected-routes/page.mdx
  www/apps/book/app/advanced-development/custom-cli-scripts/page.mdx
  www/apps/book/app/advanced-development/workflows/advanced-example/page.mdx
  www/apps/book/app/advanced-development/workflows/long-running-workflow/page.mdx
  www/apps/book/app/basics/commerce-modules/page.mdx
  www/apps/book/app/basics/events-and-subscribers/page.mdx
  www/apps/book/app/basics/medusa-container/page.mdx
  www/apps/book/app/basics/scheduled-jobs/page.mdx
  www/apps/book/app/basics/workflows/page.mdx
  www/apps/resources/app/architectural-modules/notification/send-notification/page.mdx
  www/apps/resources/app/architectural-modules/notification/sendgrid/page.mdx
  www/apps/resources/app/commerce-modules/api-key/examples/page.mdx
  www/apps/resources/app/commerce-modules/api-key/page.mdx
  www/apps/resources/app/commerce-modules/auth/examples/page.mdx
  www/apps/resources/app/commerce-modules/auth/page.mdx
  www/apps/resources/app/commerce-modules/cart/examples/page.mdx
  www/apps/resources/app/commerce-modules/cart/page.mdx
  www/apps/resources/app/commerce-modules/currency/examples/page.mdx
  www/apps/resources/app/commerce-modules/currency/page.mdx
  www/apps/resources/app/commerce-modules/customer/examples/page.mdx
  www/apps/resources/app/commerce-modules/customer/page.mdx
  www/apps/resources/app/commerce-modules/fulfillment/page.mdx
  www/apps/resources/app/commerce-modules/inventory/examples/page.mdx
  www/apps/resources/app/commerce-modules/inventory/page.mdx
  www/apps/resources/app/commerce-modules/order/page.mdx
  www/apps/resources/app/commerce-modules/payment/examples/page.mdx
  www/apps/resources/app/commerce-modules/payment/page.mdx
  www/apps/resources/app/commerce-modules/pricing/examples/page.mdx
  www/apps/resources/app/commerce-modules/pricing/page.mdx
  www/apps/resources/app/commerce-modules/product/examples/page.mdx
  www/apps/resources/app/commerce-modules/product/guides/price-with-taxes/page.mdx
  www/apps/resources/app/commerce-modules/product/page.mdx
  www/apps/resources/app/commerce-modules/promotion/examples/page.mdx
  www/apps/resources/app/commerce-modules/promotion/page.mdx
  www/apps/resources/app/commerce-modules/region/examples/page.mdx
  www/apps/resources/app/commerce-modules/region/page.mdx
  www/apps/resources/app/commerce-modules/sales-channel/examples/page.mdx
  www/apps/resources/app/commerce-modules/sales-channel/page.mdx
  www/apps/resources/app/commerce-modules/stock-location/examples/page.mdx
  www/apps/resources/app/commerce-modules/stock-location/page.mdx
  www/apps/resources/app/commerce-modules/store/examples/page.mdx
  www/apps/resources/app/commerce-modules/store/page.mdx
  www/apps/resources/app/commerce-modules/tax/examples/page.mdx
  www/apps/resources/app/commerce-modules/tax/page.mdx
  www/apps/resources/app/commerce-modules/user/examples/page.mdx
  www/apps/resources/app/commerce-modules/user/page.mdx
  www/apps/resources/app/medusa-container-resources/page.mdx
  www/apps/resources/app/recipes/b2b/page.mdx
  www/apps/resources/app/recipes/commerce-automation/page.mdx
  www/apps/resources/app/recipes/digital-products/examples/standard/page.mdx
  www/apps/resources/app/recipes/integrate-ecommerce-stack/page.mdx
  www/apps/resources/app/recipes/marketplace/examples/restaurant-delivery/page.mdx
  www/apps/resources/app/recipes/marketplace/examples/vendors/page.mdx
  www/apps/resources/app/recipes/pos/page.mdx
  www/apps/resources/app/recipes/subscriptions/examples/standard/page.mdx
Labels: type: docs, team: medusa

#9120 docs: update query usage across docs
  www/apps/book/app/advanced-development/modules/query/page.mdx
  www/apps/resources/app/commerce-modules/product/guides/price-with-taxes/page.mdx
  www/apps/resources/app/commerce-modules/product/guides/price/page.mdx
  www/apps/resources/app/recipes/digital-products/examples/standard/page.mdx
  www/apps/resources/app/recipes/marketplace/examples/restaurant-delivery/page.mdx
  www/apps/resources/app/recipes/marketplace/examples/vendors/page.mdx
  www/apps/resources/app/recipes/subscriptions/examples/standard/page.mdx
Labels: type: docs, automerge, team: medusa

#9119 feat: run nested async workflows
  integration-tests/modules/__tests__/workflow-engine/tests.ts
  packages/core/core-flows/src/product/workflows/create-product-variants.ts
  packages/core/orchestration/src/transaction/transaction-orchestrator.ts
  packages/core/orchestration/src/transaction/types.ts
  packages/core/types/src/shared-context.ts
  packages/core/types/src/workflows-sdk/service.ts
  packages/core/workflows-sdk/src/helper/workflow-export.ts
  packages/core/workflows-sdk/src/medusa-workflow.ts
  packages/core/workflows-sdk/src/utils/composer/__tests__/index.spec.ts
  packages/core/workflows-sdk/src/utils/composer/create-step.ts
  packages/core/workflows-sdk/src/utils/composer/create-workflow.ts
  packages/core/workflows-sdk/src/utils/composer/helpers/create-step-handler.ts
  packages/core/workflows-sdk/src/utils/composer/type.ts
  packages/modules/event-bus-redis/package.json
  packages/modules/workflow-engine-inmemory/integration-tests/__fixtures__/workflow_async.ts
  packages/modules/workflow-engine-inmemory/package.json
  packages/modules/workflow-engine-inmemory/src/services/workflow-orchestrator.ts
  packages/modules/workflow-engine-redis/integration-tests/__fixtures__/workflow_async.ts
  packages/modules/workflow-engine-redis/integration-tests/__tests__/index.spec.ts
  packages/modules/workflow-engine-redis/package.json
  packages/modules/workflow-engine-redis/src/services/workflow-orchestrator.ts
  packages/modules/workflow-engine-redis/src/utils/workflow-orchestrator-storage.ts
  yarn.lock
Labels: automerge, type: feature, team: medusa

#9102 docs: use require instead of import in medusa-config.js
  www/apps/resources/app/architectural-modules/cache/create/page.mdx
  www/apps/resources/app/architectural-modules/cache/in-memory/page.mdx
  www/apps/resources/app/architectural-modules/cache/redis/page.mdx
  www/apps/resources/app/architectural-modules/event/create/page.mdx
  www/apps/resources/app/architectural-modules/event/local/page.mdx
  www/apps/resources/app/architectural-modules/event/redis/page.mdx
  www/apps/resources/app/architectural-modules/file/local/page.mdx
  www/apps/resources/app/architectural-modules/file/s3/page.mdx
  www/apps/resources/app/architectural-modules/notification/local/page.mdx
  www/apps/resources/app/architectural-modules/notification/page.mdx
  www/apps/resources/app/architectural-modules/notification/sendgrid/page.mdx
  www/apps/resources/app/architectural-modules/workflow-engine/in-memory/page.mdx
  www/apps/resources/app/architectural-modules/workflow-engine/redis/page.mdx
  www/apps/resources/app/commerce-modules/auth/auth-providers/emailpass/page.mdx
  www/apps/resources/app/commerce-modules/auth/auth-providers/github/page.mdx
  www/apps/resources/app/commerce-modules/auth/auth-providers/google/page.mdx
  www/apps/resources/app/commerce-modules/auth/module-options/page.mdx
  www/apps/resources/app/commerce-modules/fulfillment/module-options/page.mdx
  www/apps/resources/app/commerce-modules/payment/module-options/page.mdx
  www/apps/resources/app/commerce-modules/payment/payment-provider/stripe/page.mdx
  www/apps/resources/app/commerce-modules/tax/module-options/page.mdx
  www/apps/resources/app/commerce-modules/user/module-options/page.mdx
  www/apps/resources/app/deployment/medusa-application/railway/page.mdx
  www/apps/resources/app/recipes/digital-products/examples/standard/page.mdx
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/auth-provider.ts
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/file.ts
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/fulfillment-provider.ts
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/notification.ts
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/payment-provider.ts
Labels: type: docs, automerge, team: medusa

#9091 docs-util: fixes for circular references, PAK in examples, namespaces
  www/utils/packages/docs-generator/src/classes/examples/oas.ts
  www/utils/packages/docs-generator/src/classes/helpers/oas-schema.ts
  www/utils/packages/docs-generator/src/classes/helpers/schema-factory.ts
  www/utils/packages/docs-generator/src/classes/kinds/oas.ts
  www/utils/packages/typedoc-generate-references/src/constants/custom-options.ts
  www/utils/packages/typedoc-plugin-custom/README.md
  www/utils/packages/typedoc-plugin-custom/src/generate-custom-namespaces.ts
  www/utils/packages/typedoc-plugin-custom/src/generate-path-namespaces.ts
  www/utils/packages/typedoc-plugin-custom/src/index.ts
  www/utils/packages/types/lib/index.d.ts
Labels: type: docs, automerge, team: medusa

#9151 fix(link-modules): table name
  package.json
  packages/modules/link-modules/integration-tests/__fixtures__/migrations.ts
  packages/modules/link-modules/integration-tests/__tests__/migrations.spec.ts
  packages/modules/link-modules/src/migration/index.ts
  packages/modules/link-modules/src/utils/__tests__/compress-name.spec.ts
  packages/modules/link-modules/src/utils/compress-name.ts
  packages/modules/link-modules/src/utils/generate-entity.ts
  packages/modules/workflow-engine-inmemory/integration-tests/__tests__/index.spec.ts
  packages/modules/workflow-engine-redis/integration-tests/__tests__/index.spec.ts
Labels: type: bug, automerge, team: medusa

#9150 feat(dashboard,types): added inbound shipping placeholder + shipping summary details
  packages/admin/dashboard/src/components/inputs/combobox/combobox.tsx
  packages/admin/dashboard/src/i18n/translations/en.json
  packages/admin/dashboard/src/routes/orders/common/placeholders.tsx
  packages/admin/dashboard/src/routes/orders/order-create-claim/components/claim-create-form/claim-create-form.tsx
  packages/admin/dashboard/src/routes/orders/order-create-claim/components/claim-create-form/claim-outbound-section.tsx
  packages/admin/dashboard/src/routes/orders/order-create-exchange/components/exchange-create-form/exchange-inbound-section.tsx
  packages/admin/dashboard/src/routes/orders/order-create-exchange/components/exchange-create-form/exchange-outbound-section.tsx
  packages/admin/dashboard/src/routes/orders/order-create-return/components/return-create-form/return-create-form.tsx
  packages/admin/dashboard/src/routes/orders/order-detail/components/order-summary-section/order-summary-section.tsx
  packages/admin/dashboard/src/routes/orders/order-detail/components/order-summary-section/shipping-info-popover.tsx
  packages/core/types/src/http/order/common.ts
Labels: automerge, type: feature, team: medusa

#9140 feat: add tracing to workflow steps
  packages/core/orchestration/src/transaction/transaction-orchestrator.ts
  packages/core/workflows-sdk/src/utils/composer/create-step.ts
  packages/medusa/src/instrumentation/index.ts
  packages/medusa/src/loaders/index.ts
Labels: type: feature, team: medusa

#9156 fix(core-flows): fixes case where inventory attempts delete when input is empty
  integration-tests/http/__tests__/inventory/admin/inventory.spec.ts
  packages/core/core-flows/src/inventory/workflows/bulk-create-delete-levels.ts
Labels: type: bug, automerge, team: medusa

#9159 Rename remoteQuery to query and add db instrumentation flag
  packages/medusa/src/instrumentation/index.ts
Labels: team: medusa

#9161 fix: import open telemetry dependencies lazily
  packages/medusa/src/instrumentation/index.ts
Labels: team: medusa

#9164 fix: migrate old links tables before performing a sync
  packages/modules/link-modules/src/migration/index.ts
Labels: type: bug, team: medusa

#9160 docs: added documentation on instrumentation
  www/apps/book/app/debugging-and-testing/instrumentation/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/sidebar.mjs
Labels: type: docs, automerge, team: medusa

#9163 chore(oas): [8/n] improve oas schemas
  www/utils/generated/oas-output/schemas/AdminPostExchangesShippingActionReqSchema.ts
  www/utils/generated/oas-output/schemas/AdminPostExchangesShippingReqSchema.ts
  www/utils/generated/oas-output/schemas/AdminPostOrderClaimsReqSchema.ts
  www/utils/generated/oas-output/schemas/AdminPostOrderEditsAddItemsReqSchema.ts
  www/utils/generated/oas-output/schemas/AdminPostOrderEditsItemsActionReqSchema.ts
  www/utils/generated/oas-output/schemas/AdminPostOrderEditsReqSchema.ts
  www/utils/generated/oas-output/schemas/AdminPostOrderEditsShippingActionReqSchema.ts
  www/utils/generated/oas-output/schemas/AdminPostOrderEditsShippingReqSchema.ts
  www/utils/generated/oas-output/schemas/AdminPostOrderEditsUpdateItemQuantityReqSchema.ts
  www/utils/generated/oas-output/schemas/AdminPostOrderExchangesReqSchema.ts
  www/utils/generated/oas-output/schemas/AdminPostReceiveReturnsReqSchema.ts
  www/utils/generated/oas-output/schemas/AdminPostReturnsConfirmRequestReqSchema.ts
  www/utils/generated/oas-output/schemas/AdminPostReturnsDismissItemsActionReqSchema.ts
  www/utils/generated/oas-output/schemas/AdminPostReturnsReceiveItemsActionReqSchema.ts
  www/utils/generated/oas-output/schemas/AdminPostReturnsReceiveItemsReqSchema.ts
  www/utils/generated/oas-output/schemas/AdminPostReturnsReqSchema.ts
  www/utils/generated/oas-output/schemas/AdminPostReturnsRequestItemsActionReqSchema.ts
  www/utils/generated/oas-output/schemas/AdminPostReturnsRequestItemsReqSchema.ts
  www/utils/packages/docs-generator/src/classes/helpers/schema-factory.ts
  www/utils/packages/docs-generator/src/classes/kinds/oas.ts
Labels: type: docs, automerge, team: medusa

#9162 chore(oas): [7/n] improve oas schemas
  www/utils/generated/oas-output/schemas/AdminOrderPreviewResponse.ts
  www/utils/generated/oas-output/schemas/AdminOrderResponse.ts
  www/utils/generated/oas-output/schemas/AdminOrderReturnResponse.ts
  www/utils/generated/oas-output/schemas/AdminPayment.ts
  www/utils/generated/oas-output/schemas/AdminPaymentCollection.ts
  www/utils/generated/oas-output/schemas/AdminPaymentCollectionResponse.ts
  www/utils/generated/oas-output/schemas/AdminPaymentProvider.ts
  www/utils/generated/oas-output/schemas/AdminPaymentResponse.ts
  www/utils/generated/oas-output/schemas/AdminPostCancelClaimReqSchema.ts
  www/utils/generated/oas-output/schemas/AdminPostCancelExchangeReqSchema.ts
  www/utils/generated/oas-output/schemas/AdminPostCancelReturnReqSchema.ts
  www/utils/generated/oas-output/schemas/AdminPostClaimItemsReqSchema.ts
  www/utils/generated/oas-output/schemas/AdminPostClaimsAddItemsReqSchema.ts
  www/utils/generated/oas-output/schemas/AdminPostClaimsItemsActionReqSchema.ts
  www/utils/generated/oas-output/schemas/AdminPostClaimsShippingActionReqSchema.ts
  www/utils/generated/oas-output/schemas/AdminPostClaimsShippingReqSchema.ts
  www/utils/generated/oas-output/schemas/AdminPostExchangesAddItemsReqSchema.ts
  www/utils/generated/oas-output/schemas/AdminPostExchangesItemsActionReqSchema.ts
  www/utils/generated/oas-output/schemas/AdminPostExchangesRequestItemsReturnActionReqSchema.ts
  www/utils/generated/oas-output/schemas/AdminPostExchangesReturnRequestItemsReqSchema.ts
Labels: type: docs, automerge, team: medusa

#9166 chore(oas): [9/n] improve oas schemas
  www/utils/generated/oas-output/schemas/AdminPostReturnsReturnReqSchema.ts
  www/utils/generated/oas-output/schemas/AdminPostReturnsShippingActionReqSchema.ts
  www/utils/generated/oas-output/schemas/AdminPostReturnsShippingReqSchema.ts
  www/utils/generated/oas-output/schemas/AdminPrice.ts
  www/utils/generated/oas-output/schemas/AdminPriceList.ts
  www/utils/generated/oas-output/schemas/AdminPriceListBatchResponse.ts
  www/utils/generated/oas-output/schemas/AdminPriceListDeleteResponse.ts
  www/utils/generated/oas-output/schemas/AdminPriceListListResponse.ts
  www/utils/generated/oas-output/schemas/AdminPriceListPrice.ts
  www/utils/generated/oas-output/schemas/AdminPriceListResponse.ts
  www/utils/generated/oas-output/schemas/AdminPricePreference.ts
  www/utils/generated/oas-output/schemas/AdminPricePreferenceDeleteResponse.ts
  www/utils/generated/oas-output/schemas/AdminPricePreferenceListResponse.ts
  www/utils/generated/oas-output/schemas/AdminPricePreferenceResponse.ts
  www/utils/generated/oas-output/schemas/AdminProduct.ts
  www/utils/generated/oas-output/schemas/AdminProductCategory.ts
  www/utils/generated/oas-output/schemas/AdminProductCategoryDeleteResponse.ts
  www/utils/generated/oas-output/schemas/AdminProductCategoryListResponse.ts
  www/utils/generated/oas-output/schemas/AdminProductCategoryResponse.ts
  www/utils/generated/oas-output/schemas/AdminProductDeleteResponse.ts
Labels: type: docs, team: medusa

#9132 feat(dashboard): rework create variant flow
  packages/admin/dashboard/src/i18n/translations/en.json
  packages/admin/dashboard/src/lib/validation.ts
  packages/admin/dashboard/src/routes/products/product-create-variant/components/create-product-variant-form/constants.ts
  packages/admin/dashboard/src/routes/products/product-create-variant/components/create-product-variant-form/create-product-variant-form.tsx
  packages/admin/dashboard/src/routes/products/product-create-variant/components/create-product-variant-form/details-tab.tsx
  packages/admin/dashboard/src/routes/products/product-create-variant/components/create-product-variant-form/inventory-kit-tab.tsx
  packages/admin/dashboard/src/routes/products/product-create-variant/components/create-product-variant-form/pricing-tab.tsx
  packages/admin/dashboard/src/routes/products/product-create-variant/product-create-variant.tsx
  packages/core/types/src/http/product/admin/payloads.ts
Labels: automerge, type: feature, team: medusa
