Repository medusajs/medusa, pull requests merged in 2024-06, with the labels that each got.

#7572 fix: Use integer for variant and category ranks
  packages/modules/product/integration-tests/__tests__/services/product-category/index.ts
  packages/modules/product/integration-tests/__tests__/services/product-module-service/product-categories.spec.ts
  packages/modules/product/src/migrations/.snapshot-medusa-products.json
  packages/modules/product/src/migrations/Migration20240601111544.ts
  packages/modules/product/src/models/product-category.ts
  packages/modules/product/src/models/product-variant.ts
Labels: team: medusa

#7569 chore: Move product category integration tests
  integration-tests/api/__tests__/admin/product-category.ts
  integration-tests/http/__tests__/product-category/admin/product-category.spec.ts
Labels: team: medusa

#7573 feat(order): cancel fulfillment
  integration-tests/modules/__tests__/order/workflows/create-fulfillment.spec.ts
  packages/core/core-flows/src/common/steps/create-remote-links.ts
  packages/core/core-flows/src/order/steps/cancel-fulfillment.ts
  packages/core/core-flows/src/order/workflows/cancel-order-fulfillment.ts
  packages/core/core-flows/src/order/workflows/create-fulfillment.ts
  packages/core/core-flows/src/order/workflows/create-return.ts
  packages/core/core-flows/src/order/workflows/index.ts
  packages/core/core-flows/src/product/workflows/update-products.ts
  packages/core/types/src/order/common.ts
  packages/core/types/src/order/mutations.ts
  packages/core/types/src/order/service.ts
  packages/core/types/src/workflow/order/cancel-fulfillment.ts
  packages/core/types/src/workflow/order/index.ts
  packages/medusa/src/api/admin/orders/[id]/fulfillments/[fulfillment_id]/cancel/route.ts
  packages/medusa/src/api/admin/orders/validators.ts
  packages/modules/order/integration-tests/__tests__/create-order.ts
  packages/modules/order/integration-tests/__tests__/order-return.ts
  packages/modules/order/src/services/__tests__/util/actions/returns.ts
  packages/modules/order/src/services/order-module-service.ts
  packages/modules/order/src/utils/action-key.ts
  packages/modules/order/src/utils/actions/cancel-item-fulfillment.ts
  packages/modules/order/src/utils/actions/cancel-return.ts
  packages/modules/order/src/utils/actions/fulfill-item.ts
  packages/modules/order/src/utils/actions/index.ts
  packages/modules/order/src/utils/actions/item-remove.ts
  packages/modules/order/src/utils/actions/receive-damaged-return-item.ts
  packages/modules/order/src/utils/actions/receive-return-item.ts
  packages/modules/order/src/utils/actions/return-item.ts
  packages/modules/order/src/utils/actions/ship-item.ts
  packages/modules/order/src/utils/actions/write-off-item.ts
Labels: team: medusa

#7550 chore(utils): added TSDocs to AbstractAuthModuleProvider
  packages/core/utils/src/auth/abstract-auth-provider.ts
Labels: type: docs, automerge, team: medusa

#7539 docs: change module paths in resolve
  www/apps/book/app/basics/data-models/page.mdx
  www/apps/book/app/basics/modules-and-services/page.mdx
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/fulfillment-provider.ts
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/notification.ts
Labels: type: docs, automerge, team: medusa

#7391 feat: Event emitting part 1/N (Fulfillment)
  packages/admin-next/dashboard/src/types/api-payloads.ts
  packages/core/medusa-test-utils/src/module-test-runner.ts
  packages/core/types/src/event-bus/common.ts
  packages/core/types/src/fulfillment/mutations/fulfillment.ts
  packages/core/types/src/fulfillment/mutations/service-zone.ts
  packages/core/types/src/fulfillment/mutations/shipping-option.ts
  packages/core/types/src/shared-context.ts
  packages/core/utils/src/event-bus/build-event-messages.ts
  packages/core/utils/src/event-bus/message-aggregator.ts
  packages/core/utils/src/event-bus/utils.ts
  packages/core/utils/src/fulfillment/events.ts
  packages/core/utils/src/inventory/events.ts
  packages/core/utils/src/modules-sdk/decorators/emit-events.ts
  packages/core/utils/src/modules-sdk/decorators/inject-into-context.ts
  packages/core/utils/src/modules-sdk/event-builder-factory.ts
  packages/core/utils/src/modules-sdk/index.ts
  packages/core/utils/src/user/events.ts
  packages/modules/fulfillment/integration-tests/__tests__/fulfillment-module-service/fulfillment-set.spec.ts
  packages/modules/fulfillment/integration-tests/__tests__/fulfillment-module-service/fulfillment.spec.ts
  packages/modules/fulfillment/integration-tests/__tests__/fulfillment-module-service/geo-zone.spec.ts
  packages/modules/fulfillment/integration-tests/__tests__/fulfillment-module-service/service-zone.spec.ts
  packages/modules/fulfillment/integration-tests/__tests__/fulfillment-module-service/shipping-option.spec.ts
  packages/modules/fulfillment/integration-tests/__tests__/fulfillment-module-service/shipping-profile.spec.ts
  packages/modules/fulfillment/src/models/geo-zone.ts
  packages/modules/fulfillment/src/services/fulfillment-module-service.ts
  packages/modules/fulfillment/src/utils/events.ts
  packages/modules/fulfillment/src/utils/index.ts
  packages/modules/inventory-next/src/services/inventory.ts
  packages/modules/user/src/services/user-module.ts
Labels: type: chore, automerge, team: medusa

#7577 chore: Move customer + customer group integration tests and fixes issues
  integration-tests/api/__tests__/admin/customer-groups.js
  integration-tests/api/__tests__/admin/customer.js
  integration-tests/http/__tests__/customer-group/admin/customer-group.spec.ts
  integration-tests/http/__tests__/customer/admin/customer.spec.ts
  packages/medusa/src/api/admin/customer-groups/[id]/route.ts
  packages/medusa/src/api/admin/customer-groups/middlewares.ts
  packages/medusa/src/api/admin/customer-groups/query-config.ts
  packages/medusa/src/api/admin/customer-groups/validators.ts
  packages/medusa/src/api/admin/customers/[id]/route.ts
  packages/medusa/src/api/admin/customers/query-config.ts
  packages/medusa/src/api/admin/customers/route.ts
  packages/modules/customer/src/migrations/.snapshot-medusa-customer.json
  packages/modules/customer/src/migrations/Migration20240602110946.ts
  packages/modules/customer/src/models/customer-group.ts
Labels: team: medusa

#7579 chore: Move sales channel tests
  integration-tests/api/__tests__/admin/sales-channels.js
  integration-tests/http/__tests__/sales-channel/admin/sales-channel.spec.ts
  packages/medusa/src/api/admin/sales-channels/[id]/route.ts
Labels: automerge, team: medusa

#7581 chore: Move currency, collection, and auth tests to http folder
  integration-tests/api/__tests__/admin/__snapshots__/currency.js.snap
  integration-tests/api/__tests__/admin/auth.js
  integration-tests/api/__tests__/admin/colllections.js
  integration-tests/api/__tests__/admin/currency.js
  integration-tests/http/__tests__/auth/admin/auth.spec.ts
  integration-tests/http/__tests__/collection/admin/colllection.spec.ts
  integration-tests/http/__tests__/collection/store/collection.spec.ts
  integration-tests/http/__tests__/currency/admin/currency.spec.ts
  packages/medusa/src/api/admin/currencies/query-config.ts
  packages/medusa/src/api/admin/currencies/validators.ts
  packages/medusa/src/api/auth/[actor_type]/[auth_provider]/route.ts
Labels: team: medusa

#7518 fix(dashboard): Fix the color of name field
  packages/admin-next/dashboard/src/routes/users/user-detail/components/user-general-section/user-general-section.tsx
Labels: automerge, team: medusa

#7582 chore: Move admin region tests
  integration-tests/api/__tests__/admin/region.js
  integration-tests/http/__tests__/region/admin/region.spec.ts
  packages/medusa/src/api/admin/regions/[id]/route.ts
  packages/modules/region/src/services/region-module.ts
Labels: team: medusa

#7588 chore: Move payment tests to http folder
  integration-tests/api/__tests__/admin/payment-collection.js
  integration-tests/api/__tests__/admin/payment.js
  integration-tests/http/__tests__/payment-collection/admin/payment-collection.spec.ts
  integration-tests/http/__tests__/payment/admin/payment.spec.ts
  packages/core/types/src/payment/common.ts
  packages/medusa/src/api/admin/payments/validators.ts
Labels: automerge, team: medusa

#7590 fix(workflows-sdk): workflow registration
  .changeset/sharp-ducks-wash.md
  packages/workflows-sdk/src/medusa-workflow.ts
Labels: team: medusa

#7576 feat(core-flows,modules-sdk,types,medusa,link-modules): adds variant <> inventory item link endpoints
  integration-tests/http/__tests__/product/admin/product.spec.ts
  integration-tests/modules/__tests__/common/workflows.spec.ts
  packages/core/core-flows/src/common/index.ts
  packages/core/core-flows/src/common/steps/create-remote-links.ts
  packages/core/core-flows/src/common/steps/dismiss-remote-links.ts
  packages/core/core-flows/src/common/steps/update-remote-links.ts
  packages/core/core-flows/src/common/workflows/batch-links.ts
  packages/core/core-flows/src/common/workflows/create-links.ts
  packages/core/core-flows/src/common/workflows/dismiss-links.ts
  packages/core/core-flows/src/common/workflows/update-links.ts
  packages/core/modules-sdk/src/remote-link.ts
  packages/core/modules-sdk/src/utils/convert-data-to-link-definition.ts
  packages/core/types/src/common/batch.ts
  packages/core/types/src/modules-sdk/index.ts
  packages/medusa/src/api/admin/products/[id]/variants/[variant_id]/inventory-items/[inventory_item_id]/route.ts
  packages/medusa/src/api/admin/products/[id]/variants/[variant_id]/inventory-items/route.ts
  packages/medusa/src/api/admin/products/[id]/variants/inventory-items/batch/route.ts
  packages/medusa/src/api/admin/products/helpers.ts
  packages/medusa/src/api/admin/products/middlewares.ts
  packages/medusa/src/api/admin/products/validators.ts
  packages/medusa/src/api/utils/validators.ts
  packages/modules/link-modules/src/initialize/index.ts
  packages/modules/link-modules/src/services/dynamic-service-class.ts
Labels: automerge, team: medusa

#7593 docs: update design + colors
  www/apps/api-reference/app/globals.css
  www/apps/api-reference/components/Tags/Operation/CodeSection/RequestSamples/index.tsx
  www/apps/ui/src/components/package-install.tsx
  www/apps/ui/src/providers/search.tsx
  www/apps/ui/src/styles/globals.css
  www/packages/docs-ui/src/components/AiAssistant/CommandIcon/index.tsx
  www/packages/docs-ui/src/components/AiAssistant/ThreadItem/Actions/index.tsx
  www/packages/docs-ui/src/components/AiAssistant/index.tsx
  www/packages/docs-ui/src/components/Badge/index.tsx
  www/packages/docs-ui/src/components/Button/index.tsx
  www/packages/docs-ui/src/components/Card/index.tsx
  www/packages/docs-ui/src/components/CodeBlock/Actions/Copy/index.tsx
  www/packages/docs-ui/src/components/CodeBlock/Actions/index.tsx
  www/packages/docs-ui/src/components/CodeBlock/Header/index.tsx
  www/packages/docs-ui/src/components/CodeBlock/Line/index.tsx
  www/packages/docs-ui/src/components/CodeBlock/index.tsx
  www/packages/docs-ui/src/components/CodeTabs/Item/index.tsx
  www/packages/docs-ui/src/components/CodeTabs/index.tsx
  www/packages/docs-ui/src/components/Icons/AiAssistant/index.tsx
  www/packages/docs-ui/src/components/Icons/ShadedBg/index.tsx
  www/packages/docs-ui/src/components/Icons/index.tsx
  www/packages/docs-ui/src/components/Input/Text/index.tsx
  www/packages/docs-ui/src/components/Kbd/index.tsx
  www/packages/docs-ui/src/components/LearningPath/Icon/index.tsx
  www/packages/docs-ui/src/components/LearningPath/Steps/index.tsx
  www/packages/docs-ui/src/components/LearningPath/index.tsx
  www/packages/docs-ui/src/components/LegacyCodeTabs/index.tsx
  www/packages/docs-ui/src/components/Modal/Header/index.tsx
  www/packages/docs-ui/src/components/Modal/index.tsx
  www/packages/docs-ui/src/components/Navbar/MobileMenu/index.tsx
  www/packages/docs-ui/src/components/Note/Layout/index.tsx
  www/packages/docs-ui/src/components/Notification/Item/Layout/Default/index.tsx
  www/packages/docs-ui/src/components/Npm2YarnCode/index.tsx
  www/packages/docs-ui/src/components/Rating/index.tsx
  www/packages/docs-ui/src/components/Search/ModalOpener/index.tsx
  www/packages/docs-ui/src/components/Search/Suggestions/index.tsx
  www/packages/docs-ui/src/components/Search/index.tsx
  www/packages/docs-ui/src/components/Select/Dropdown/index.tsx
  www/packages/docs-ui/src/components/Sidebar/Item/index.tsx
  www/packages/docs-ui/src/components/TextArea/index.tsx
  www/packages/docs-ui/src/components/Tooltip/index.tsx
  www/packages/docs-ui/src/components/TypeList/index.tsx
  www/packages/docs-ui/src/components/index.ts
  www/packages/tailwind/base.tailwind.config.js
  www/packages/tailwind/theme-presets.js
Labels: type: docs, automerge, team: medusa

#7596 chore: Move admin invites + user tests to HTTP
  integration-tests/api/__tests__/admin/invite.js
  integration-tests/helpers/create-admin-user.ts
  integration-tests/http/__tests__/invite/admin/invite.spec.ts
  integration-tests/http/__tests__/user/admin/user.spec.ts
  packages/medusa/src/api/admin/invites/accept/route.ts
  packages/medusa/src/utils/middlewares/authenticate-middleware.ts
Labels: team: medusa

#7591 Feat: Add product tag endpoints, move tests to HTTP folder
  integration-tests/api/__tests__/admin/product-tag.js
  integration-tests/api/__tests__/admin/product-type.js
  integration-tests/http/__tests__/product-tag/admin/product-tag.spec.ts
  integration-tests/http/__tests__/product-type/admin/product-type.spec.ts
  packages/core/core-flows/src/product/steps/create-product-tags.ts
  packages/core/core-flows/src/product/steps/delete-product-tags.ts
  packages/core/core-flows/src/product/steps/index.ts
  packages/core/core-flows/src/product/steps/update-product-tags.ts
  packages/core/core-flows/src/product/workflows/create-product-tags.ts
  packages/core/core-flows/src/product/workflows/delete-product-tags.ts
  packages/core/core-flows/src/product/workflows/index.ts
  packages/core/core-flows/src/product/workflows/update-product-tags.ts
  packages/core/types/src/product/service.ts
  packages/medusa/src/api/admin/product-tags/[id]/route.ts
  packages/medusa/src/api/admin/product-tags/middlewares.ts
  packages/medusa/src/api/admin/product-tags/query-config.ts
  packages/medusa/src/api/admin/product-tags/route.ts
  packages/medusa/src/api/admin/product-tags/validators.ts
  packages/medusa/src/api/middlewares.ts
  packages/medusa/src/api/utils/refetch-entity.ts
  packages/modules/product/integration-tests/__tests__/services/product-module-service/product-tags.spec.ts
  packages/modules/product/integration-tests/__tests__/services/product-tag/index.ts
  packages/modules/product/src/services/product-module-service.ts
  packages/modules/product/src/types/index.ts
Labels: type: feature, team: medusa

#7594 fix(order): ignore reservation when manage_inventory is false
  integration-tests/modules/__tests__/order/workflows/create-fulfillment.spec.ts
  packages/core/core-flows/src/order/workflows/create-fulfillment.ts
Labels: team: medusa

#7592 chore(workflows-sdk): check exported workflow
  packages/core/orchestration/src/__tests__/workflow/local-workflow.ts
  packages/core/orchestration/src/workflow/workflow-manager.ts
  packages/core/workflows-sdk/src/helper/__tests__/compose.ts
  packages/core/workflows-sdk/src/medusa-workflow.ts
  packages/core/workflows-sdk/src/utils/composer/create-workflow.ts
Labels: team: medusa

#7597 Remove redundant methods from pricing module
  integration-tests/http/__tests__/product/admin/product.spec.ts
  packages/core/types/src/pricing/service.ts
  packages/modules/pricing/integration-tests/__tests__/services/pricing-module/price-list-rule.spec.ts
  packages/modules/pricing/src/services/pricing-module.ts
Labels: team: medusa

#7600 fix(dashboard): styling of shipping profiles domain
  packages/admin-next/dashboard/src/routes/shipping-profiles/shipping-profile-detail/shipping-profile-detail.tsx
  packages/admin-next/dashboard/src/routes/shipping-profiles/shipping-profiles-list/components/shipping-profile-list-table/shipping-profile-list-table.tsx
  packages/admin-next/dashboard/src/routes/shipping-profiles/shipping-profiles-list/shipping-profile-list.tsx
Labels: automerge, team: medusa

#7556 chore(types, utils): add TSDocs for AbstractNotificationProviderService
  packages/core/types/src/notification/provider.ts
  packages/core/utils/src/notification/abstract-notification-provider.ts
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/notification.ts
Labels: type: docs, automerge, team: medusa

#7599 feat(core-flows,medusa): adds inventory kit creation to variants endpoint
  integration-tests/http/__tests__/product/admin/product.spec.ts
  integration-tests/modules/__tests__/cart/store/carts.spec.ts
  integration-tests/modules/__tests__/common/workflows.spec.ts
  integration-tests/modules/__tests__/product/store/index.spec.ts
  packages/core/core-flows/src/inventory/steps/validate-inventory-items.ts
  packages/core/core-flows/src/product/workflows/create-product-variants.ts
  packages/medusa/src/api/admin/products/route.ts
  packages/medusa/src/api/admin/products/validators.ts
  packages/medusa/src/api/store/products/helpers.ts
Labels: automerge, team: medusa

#7605 chore: parallelize steps
  packages/core/core-flows/src/definition/cart/workflows/add-shipping-method-to-cart.ts
  packages/core/core-flows/src/definition/cart/workflows/add-to-cart.ts
  packages/core/core-flows/src/definition/cart/workflows/complete-cart.ts
  packages/core/core-flows/src/definition/cart/workflows/create-carts.ts
  packages/core/core-flows/src/definition/cart/workflows/refresh-payment-collection.ts
  packages/core/core-flows/src/definition/cart/workflows/update-cart-promotions.ts
  packages/core/core-flows/src/definition/cart/workflows/update-cart.ts
  packages/core/core-flows/src/definition/cart/workflows/update-line-item-in-cart.ts
  packages/core/core-flows/src/order/workflows/cancel-order-fulfillment.ts
  packages/core/core-flows/src/order/workflows/cancel-order.ts
  packages/core/core-flows/src/order/workflows/create-fulfillment.ts
  packages/core/core-flows/src/order/workflows/create-return.ts
  packages/core/core-flows/src/order/workflows/create-shipment.ts
  packages/core/core-flows/src/product/workflows/delete-products.ts
  packages/core/core-flows/src/product/workflows/update-products.ts
  packages/core/core-flows/src/promotion/workflows/add-or-remove-campaign-promotions.ts
Labels: team: medusa

#7603 fix(dashboard): Use ChipInput for option forms
  packages/admin-next/dashboard/src/components/inputs/chip-input/chip-input.tsx
  packages/admin-next/dashboard/src/i18n/translations/en.json
  packages/admin-next/dashboard/src/routes/products/product-create-option/components/create-product-option-form/create-product-option-form.tsx
  packages/admin-next/dashboard/src/routes/products/product-create/components/product-create-details-form/components/product-create-details-variant-section/product-create-details-variant-section.tsx
  packages/admin-next/dashboard/src/routes/products/product-edit-option/components/edit-product-option-form/edit-product-option-form.tsx
Labels: automerge, team: medusa

#7602 fix(dashboard): Paginate Comboboxes in create and edit organization forms
  packages/admin-next/dashboard/src/i18n/translations/en.json
  packages/admin-next/dashboard/src/lib/client/client.ts
  packages/admin-next/dashboard/src/lib/client/tags.ts
  packages/admin-next/dashboard/src/routes/products/common/components/category-combobox/category-combobox.tsx
  packages/admin-next/dashboard/src/routes/products/product-create/components/product-create-organize-form/components/product-create-organize-section/product-create-details-organize-section.tsx
  packages/admin-next/dashboard/src/routes/products/product-detail/components/product-organization-section/product-organization-section.tsx
  packages/admin-next/dashboard/src/routes/products/product-detail/constants.ts
  packages/admin-next/dashboard/src/routes/products/product-detail/loader.ts
  packages/admin-next/dashboard/src/routes/products/product-detail/product-detail.tsx
  packages/admin-next/dashboard/src/routes/products/product-organization/components/product-organization-form/product-organization-form.tsx
  packages/admin-next/dashboard/src/routes/products/product-organization/product-organization.tsx
Labels: automerge, team: medusa

#7608 fix(dashboard): Fix styling of ChipGroup
  packages/admin-next/dashboard/src/components/common/chip-group/chip-group.tsx
Labels: team: medusa

#7601 fix: Several fixes to store product endpoints, moved several test suites to HTTP
  integration-tests/api/__tests__/admin/publishable-api-key.js
  integration-tests/api/__tests__/admin/store.js
  integration-tests/api/__tests__/admin/variant.js
  integration-tests/helpers/fixtures.ts
  integration-tests/http/__tests__/api-key/admin/publishable-key.spec.ts
  integration-tests/http/__tests__/cart/store/cart.spec.ts
  integration-tests/http/__tests__/product/admin/product.spec.ts
  integration-tests/http/__tests__/product/admin/variant.spec.ts
  integration-tests/http/__tests__/product/store/product.spec.ts
  integration-tests/http/__tests__/sales-channel/admin/sales-channel.spec.ts
  integration-tests/http/__tests__/store/admin/store.spec.ts
  integration-tests/modules/__tests__/product/store/index.spec.ts
  packages/core/medusa-test-utils/src/medusa-test-runner.ts
  packages/medusa/src/api/admin/api-keys/[id]/route.ts
  packages/medusa/src/api/admin/api-keys/query-config.ts
  packages/medusa/src/api/admin/api-keys/validators.ts
  packages/medusa/src/api/admin/products/[id]/route.ts
  packages/medusa/src/api/store/products/[id]/route.ts
  packages/medusa/src/api/store/products/middlewares.ts
  packages/medusa/src/api/utils/middlewares/common/apply-params-as-filters.ts
  packages/medusa/src/api/utils/middlewares/products/filter-by-valid-sales-channels.ts
  packages/modules/api-key/src/migrations/.snapshot-medusa-api-key.json
  packages/modules/api-key/src/migrations/Migration20240604080145.ts
  packages/modules/api-key/src/models/api-key.ts
Labels: team: medusa

#7609 feat: Move shipping option + profile tests and support updating profiles
  integration-tests/api/__tests__/admin/shipping-options.js
  integration-tests/api/__tests__/admin/shipping-profile.spec.ts
  integration-tests/http/__tests__/shipping-option/admin/shipping-option.spec.ts
  integration-tests/http/__tests__/shipping-profile/admin/shipping-profile.spec.ts
  integration-tests/http/medusa-config.js
  integration-tests/modules/__tests__/shipping-options/admin/shipping-option-rules.spec.ts
  packages/core/core-flows/src/fulfillment/steps/index.ts
  packages/core/core-flows/src/fulfillment/steps/update-shipping-profiles.ts
  packages/core/core-flows/src/fulfillment/workflows/index.ts
  packages/core/core-flows/src/fulfillment/workflows/update-shipping-profiles.ts
  packages/core/types/src/fulfillment/mutations/shipping-profile.ts
  packages/core/types/src/fulfillment/service.ts
  packages/medusa/src/api/admin/shipping-profiles/[id]/route.ts
  packages/medusa/src/api/admin/shipping-profiles/middlewares.ts
  packages/medusa/src/api/admin/shipping-profiles/validators.ts
  packages/modules/fulfillment/src/services/fulfillment-module-service.ts
Labels: team: medusa

#7606 docs: make code blocks collapsible
  www/apps/book/app/advanced-development/api-routes/cors/page.mdx
  www/apps/book/app/advanced-development/api-routes/protected-routes/page.mdx
  www/apps/book/app/advanced-development/data-models/common-definitions/page.mdx
  www/apps/book/app/advanced-development/data-models/soft-deletable/page.mdx
  www/apps/book/app/advanced-development/events-and-subscribers/data-payload/page.mdx
  www/apps/book/app/advanced-development/loaders/outside-modules/page.mdx
  www/apps/book/app/advanced-development/modules/module-relationships/page.mdx
  www/apps/book/app/advanced-development/modules/remote-link/page.mdx
  www/apps/book/app/advanced-development/modules/remote-query/page.mdx
  www/apps/book/app/advanced-development/modules/service-factory/page.mdx
  www/apps/book/app/advanced-development/workflows/access-workflow-errors/page.mdx
  www/apps/book/app/advanced-development/workflows/advanced-example/page.mdx
  www/apps/book/app/advanced-development/workflows/compensation-function/page.mdx
  www/apps/book/app/advanced-development/workflows/long-running-workflow/page.mdx
  www/apps/book/app/advanced-development/workflows/parallel-steps/page.mdx
  www/apps/book/app/advanced-development/workflows/retry-failed-steps/page.mdx
  www/apps/book/app/advanced-development/workflows/workflow-timeout/page.mdx
  www/apps/book/app/basics/_services/page.mdx
  www/apps/resources/app/architectural-modules/notification/send-notification/page.mdx
  www/apps/resources/app/architectural-modules/notification/sendgrid/page.mdx
  www/apps/resources/app/commerce-modules/api-key/examples/page.mdx
  www/apps/resources/app/commerce-modules/auth/examples/page.mdx
  www/apps/resources/app/commerce-modules/cart/promotions/page.mdx
  www/apps/resources/app/commerce-modules/order/promotion-adjustments/page.mdx
  www/apps/resources/app/commerce-modules/pricing/examples/page.mdx
  www/apps/resources/app/js-client/page.mdx
  www/apps/resources/app/medusa-react/page.mdx
  www/apps/resources/app/troubleshooting/_sections/cli-installation-errors/yarn-error.mdx
  www/apps/resources/app/troubleshooting/_sections/common-installation-errors/module-x-error.mdx
  www/apps/resources/generated/files-map.mjs
  www/apps/resources/generated/sidebar.mjs
  www/apps/user-guide/providers/search.tsx
  www/packages/docs-ui/src/components/CodeBlock/Actions/index.tsx
  www/packages/docs-ui/src/components/CodeBlock/Collapsible/Button/index.tsx
  www/packages/docs-ui/src/components/CodeBlock/Collapsible/Fade/index.tsx
  www/packages/docs-ui/src/components/CodeBlock/Collapsible/Lines/index.tsx
  www/packages/docs-ui/src/components/CodeBlock/Line/index.tsx
  www/packages/docs-ui/src/components/CodeBlock/index.tsx
  www/packages/docs-ui/src/components/Details/index.tsx
  www/packages/docs-ui/src/hooks/index.ts
  www/packages/docs-ui/src/hooks/use-collapsible-code-lines/index.tsx
  www/packages/docs-ui/src/hooks/use-collapsible/index.tsx
  www/packages/tailwind/base.tailwind.config.js
  www/packages/tailwind/theme-presets.js
Labels: type: docs, team: medusa

#7612 chore: Split up admin domain in js-sdk
  packages/core/js-sdk/src/admin/customer.ts
  packages/core/js-sdk/src/admin/index.ts
  packages/core/js-sdk/src/admin/invite.ts
  packages/core/js-sdk/src/admin/product-collection.ts
  packages/core/js-sdk/src/admin/product.ts
  packages/core/js-sdk/src/admin/region.ts
  packages/core/js-sdk/src/admin/upload.ts
Labels: team: medusa

#7584 WIP: Implementing events to the pricing module
  packages/core/modules-sdk/src/definitions.ts
  packages/core/utils/src/pricing/events.ts
  packages/core/utils/src/pricing/index.ts
  packages/modules/pricing/integration-tests/__tests__/services/pricing-module/price-list.spec.ts
  packages/modules/pricing/integration-tests/__tests__/services/pricing-module/price-set.spec.ts
  packages/modules/pricing/src/services/pricing-module.ts
  packages/modules/pricing/src/utils/events.ts
  packages/modules/pricing/src/utils/index.ts
Labels: team: medusa

#7610 chore: Move upload tests to HTTP layer
  integration-tests/http/__tests__/upload/admin/upload.spec.ts
  integration-tests/http/medusa-config.js
  packages/modules/providers/file-local/src/services/local-file.ts
Labels: automerge, team: medusa

#7620 chore: fix inventory items + reservations specs
  integration-tests/http/__tests__/inventory/admin/inventory.spec.ts
  integration-tests/http/__tests__/reservations/admin/reservations.spec.ts
  packages/medusa/src/api/admin/inventory-items/validators.ts
Labels: team: medusa

#7622 fix(modules-sdk): dependencies
  packages/core/modules-sdk/src/medusa-module.ts
Labels: team: medusa

#7618 chore: Move fulfillment set tests to http folder
  integration-tests/http/__tests__/fulfillment/admin/fulfillment-sets.spec.ts
Labels: team: medusa

#7624 fix: Apply strict schema for all body and query parameters
  integration-tests/http/__tests__/customer/admin/customer.spec.ts
  integration-tests/http/__tests__/sales-channel/admin/sales-channel.spec.ts
  integration-tests/modules/__tests__/promotion/admin/retrieve-promotion.spec.ts
  packages/medusa/src/api/admin/fulfillments/validators.ts
  packages/medusa/src/api/utils/__tests__/zod-helper.spec.ts
  packages/medusa/src/api/utils/zod-helper.ts
Labels: automerge, team: medusa

#7614 fix(dashboard): Add empty state for media section
  packages/admin-next/dashboard/src/i18n/translations/en.json
  packages/admin-next/dashboard/src/routes/products/product-detail/components/product-media-section/product-media-section.tsx
  packages/admin-next/dashboard/src/routes/products/product-media/components/product-media-gallery/product-media-gallery.tsx
Labels: team: medusa

#7616 chore: return meta information on created/updated/deleted object from upsertWithReplace
  packages/core/types/src/dal/repository-service.ts
  packages/core/types/src/modules-sdk/internal-module-service.ts
  packages/core/utils/src/dal/mikro-orm/integration-tests/__tests__/mikro-orm-repository.spec.ts
  packages/core/utils/src/dal/mikro-orm/mikro-orm-repository.ts
  packages/core/utils/src/modules-sdk/internal-module-service-factory.ts
  packages/modules/pricing/src/services/pricing-module.ts
  packages/modules/product/src/services/product-module-service.ts
Labels: type: chore, automerge, team: medusa

#7589 feat(dashboard,core-flows,medusa): update fulfillment flows
  packages/admin-next/dashboard/src/components/table/table-cells/order/fulfillment-status-cell/fulfillment-status-cell.tsx
  packages/admin-next/dashboard/src/hooks/api/orders.ts
  packages/admin-next/dashboard/src/hooks/api/orders.tsx
  packages/admin-next/dashboard/src/hooks/api/payments.tsx
  packages/admin-next/dashboard/src/hooks/api/shipping-options.tsx
  packages/admin-next/dashboard/src/i18n/translations/en.json
  packages/admin-next/dashboard/src/lib/client/client.ts
  packages/admin-next/dashboard/src/lib/client/fulfillments.ts
  packages/admin-next/dashboard/src/lib/client/orders.ts
  packages/admin-next/dashboard/src/routes/locations/shipping-options-edit-pricing/components/create-shipping-options-form/edit-shipping-options-pricing-form.tsx
  packages/admin-next/dashboard/src/routes/orders/order-create-fulfillment/components/order-create-fulfillment-form/order-create-fulfillment-form.tsx
  packages/admin-next/dashboard/src/routes/orders/order-detail/components/order-fulfillment-section/order-fulfillment-section.tsx
  packages/admin-next/dashboard/src/routes/orders/order-detail/components/order-general-section/order-general-section.tsx
  packages/admin-next/dashboard/src/routes/orders/order-detail/constants.ts
  packages/admin-next/dashboard/src/routes/orders/order-list/const.ts
  packages/core/core-flows/src/order/steps/cancel-fulfillment.ts
  packages/core/core-flows/src/order/workflows/cancel-order-fulfillment.ts
  packages/core/js-sdk/src/admin/index.ts
  packages/core/js-sdk/src/admin/order.ts
  packages/core/types/src/http/order/admin.ts
  packages/core/types/src/order/common.ts
  packages/medusa/src/api/admin/orders/[id]/cancel/route.ts
  packages/medusa/src/api/admin/orders/[id]/fulfillments/[fulfillment_id]/cancel/route.ts
  packages/medusa/src/api/admin/orders/[id]/route.ts
  packages/medusa/src/api/admin/orders/middlewares.ts
  packages/medusa/src/api/admin/orders/validators.ts
Labels: type: bug, type: feature, team: medusa

#7627 fix(dashboard): sdk domains
  packages/admin-next/dashboard/src/hooks/api/collections.tsx
  packages/admin-next/dashboard/src/hooks/api/invites.tsx
Labels: type: bug, automerge, team: medusa

#7607 feat(dashboard): SwitchBox component
  packages/admin-next/dashboard/src/components/common/switch-box/index.ts
  packages/admin-next/dashboard/src/components/common/switch-box/switch-box.tsx
  packages/admin-next/dashboard/src/routes/products/product-create/components/product-create-details-form/components/product-create-details-variant-section/product-create-details-variant-section.tsx
  packages/admin-next/dashboard/src/routes/products/product-create/components/product-create-organize-form/components/product-create-organize-section/product-create-details-organize-section.tsx
  packages/admin-next/dashboard/src/routes/products/product-create/components/product-create-organize-form/product-create-organize-form.tsx
  packages/admin-next/dashboard/src/routes/products/product-edit/components/edit-product-form/edit-product-form.tsx
Labels: automerge, team: medusa

#7628 fix(dashboard): import in client
  packages/admin-next/dashboard/src/lib/client/client.ts
Labels: type: bug, automerge, team: medusa

#7630 fix(dashboard): stale params
  packages/admin-next/dashboard/src/hooks/table/filters/use-customer-table-filters.tsx
  packages/admin-next/dashboard/src/hooks/table/filters/use-order-table-filters.tsx
  packages/admin-next/dashboard/src/routes/customers/customer-detail/components/customer-order-section/customer-order-section.tsx
  packages/admin-next/dashboard/src/routes/orders/order-detail/components/order-activity-section/order-timeline.tsx
  packages/admin-next/dashboard/src/routes/orders/order-detail/components/order-fulfillment-section/order-fulfillment-section.tsx
  packages/admin-next/dashboard/src/routes/orders/order-detail/loader.ts
  packages/admin-next/dashboard/src/routes/sales-channels/sales-channel-add-products/components/add-products-to-sales-channel-form.tsx
Labels: type: bug, automerge, team: medusa

#7631 fix(dashboard): rest of sdk client renames
  packages/admin-next/dashboard/src/hooks/api/products.tsx
  packages/admin-next/dashboard/src/routes/collections/collection-detail/loader.ts
  packages/admin-next/dashboard/src/routes/products/product-create/components/product-create-form/product-create-form.tsx
  packages/admin-next/dashboard/src/routes/products/product-create/components/product-create-organize-form/components/product-create-organize-section/product-create-details-organize-section.tsx
  packages/admin-next/dashboard/src/routes/products/product-media/components/edit-product-media-form/edit-product-media-form.tsx
  packages/admin-next/dashboard/src/routes/products/product-organization/components/product-organization-form/product-organization-form.tsx
Labels: team: medusa

#7598 feat: Product module events
  packages/core/utils/src/product/events.ts
  packages/core/utils/src/product/index.ts
  packages/modules/product/integration-tests/__tests__/product-category.ts
  packages/modules/product/integration-tests/__tests__/product-module-service/product-categories.spec.ts
  packages/modules/product/integration-tests/__tests__/product-module-service/product-collections.spec.ts
  packages/modules/product/integration-tests/__tests__/product-module-service/product-options.spec.ts
  packages/modules/product/integration-tests/__tests__/product-module-service/product-tags.spec.ts
  packages/modules/product/integration-tests/__tests__/product-module-service/product-types.spec.ts
  packages/modules/product/integration-tests/__tests__/product-module-service/product-variants.spec.ts
  packages/modules/product/integration-tests/__tests__/product-module-service/products.spec.ts
  packages/modules/product/integration-tests/__tests__/product.ts
  packages/modules/product/integration-tests/__tests__/services/product-collection/index.ts
  packages/modules/product/integration-tests/__tests__/services/product-option/index.ts
  packages/modules/product/integration-tests/__tests__/services/product-tag/index.ts
  packages/modules/product/integration-tests/__tests__/services/product-type/index.ts
  packages/modules/product/integration-tests/__tests__/services/product-variant/index.ts
  packages/modules/product/src/services/product-module-service.ts
  packages/modules/product/src/types/index.ts
  packages/modules/product/src/utils/events.ts
  packages/modules/product/src/utils/index.ts
Labels: type: chore, automerge, team: medusa

#7632 chore: Move price list tests to HTTP folder
  integration-tests/api/__tests__/admin/price-list.js
  integration-tests/helpers/admin-variants-seeder.js
  integration-tests/helpers/customer-seeder.js
  integration-tests/helpers/fixtures.ts
  integration-tests/helpers/price-list-seeder.js
  integration-tests/helpers/shipping-option-seeder.js
  integration-tests/http/__tests__/price-list/admin/price-list.spec.ts
  packages/medusa/src/api/admin/price-lists/validators.ts
Labels: team: medusa

#7637 fix(create-medusa-app): set the database host and port explicitely
  packages/cli/create-medusa-app/src/utils/create-db.ts
  packages/cli/create-medusa-app/src/utils/postgres-client.ts
  packages/cli/create-medusa-app/src/utils/prepare-project.ts
Labels: team: medusa

#7557 docs(v1.x): fix link to stripe plugin
  www/apps/docs/content/recipes/subscriptions.mdx
Labels: type: docs, team: medusa

#7640 docs-util: fix path to packages in mermaid plugin
  www/utils/packages/typedoc-plugin-custom/src/mermaid-diagram-generator.ts
Labels: type: docs, team: medusa

#7639 fix(medusa-oas-cli): add circular dependency
  packages/cli/oas/medusa-oas-cli/redocly/redocly-config.yaml
Labels: type: bug, team: medusa

#7638 fix(medusa): return a single category instead of an array in retrieve category route
  packages/medusa/src/api/store/product-categories/[id]/route.ts
Labels: type: bug, automerge, team: medusa

#7500 chore: buyget templates add default target + buy rules
  packages/admin-next/dashboard/src/hooks/api/promotions.tsx
  packages/admin-next/dashboard/src/i18n/translations/en.json
  packages/admin-next/dashboard/src/lib/client/promotions.ts
  packages/admin-next/dashboard/src/routes/promotions/common/edit-rules/components/edit-rules-form/edit-rules-form.tsx
  packages/admin-next/dashboard/src/routes/promotions/common/edit-rules/components/edit-rules-form/utils.ts
  packages/admin-next/dashboard/src/routes/promotions/common/edit-rules/components/edit-rules-wrapper/edit-rules-wrapper.tsx
  packages/admin-next/dashboard/src/routes/promotions/common/edit-rules/components/edit-rules-wrapper/utils.ts
  packages/admin-next/dashboard/src/routes/promotions/common/edit-rules/components/rules-form-field/constants.ts
  packages/admin-next/dashboard/src/routes/promotions/common/edit-rules/components/rules-form-field/rules-form-field.tsx
  packages/admin-next/dashboard/src/routes/promotions/promotion-create/components/create-promotion-form/create-promotion-form.tsx
  packages/admin-next/dashboard/src/routes/promotions/promotion-create/components/create-promotion-form/form-schema.ts
  packages/admin-next/dashboard/src/routes/promotions/promotion-create/promotion-create.tsx
  packages/admin-next/dashboard/src/routes/promotions/promotion-detail/components/promotion-conditions-section/promotion-conditions-section.tsx
  packages/admin-next/dashboard/src/routes/promotions/promotion-detail/promotion-detail.tsx
  packages/core/types/src/http/promotion/admin/promotion-rule.ts
  packages/core/types/src/promotion/common/promotion.ts
  packages/medusa/src/api/admin/promotions/[id]/[rule_type]/route.ts
  packages/medusa/src/api/admin/promotions/middlewares.ts
  packages/medusa/src/api/admin/promotions/rule-attribute-options/[rule_type]/route.ts
  packages/medusa/src/api/admin/promotions/rule-value-options/[rule_type]/[rule_attribute_id]/route.ts
  packages/medusa/src/api/admin/promotions/utils/rule-attributes-map.ts
  packages/medusa/src/api/admin/promotions/utils/validate-rule-attribute.ts
  packages/medusa/src/api/admin/promotions/validators.ts
Labels: team: medusa

#7534 fix(dashboard) editor columns
  packages/admin-next/dashboard/src/components/data-grid/utils.ts
  packages/admin-next/dashboard/src/i18n/translations/en.json
  packages/admin-next/dashboard/src/routes/campaigns/campaign-detail/campaign-detail.tsx
  packages/admin-next/dashboard/src/routes/categories/category-detail/category-detail.tsx
  packages/admin-next/dashboard/src/routes/inventory/inventory-detail/inventory-detail.tsx
  packages/admin-next/dashboard/src/routes/locations/location-details/location-details.tsx
  packages/admin-next/dashboard/src/routes/orders/order-detail/components/order-fulfillment-section/order-fulfillment-section.tsx
  packages/admin-next/dashboard/src/routes/orders/order-detail/order-detail.tsx
  packages/admin-next/dashboard/src/routes/orders/order-list/order-list.tsx
  packages/admin-next/dashboard/src/routes/pricing/pricing-detail/pricing-detail.tsx
  packages/admin-next/dashboard/src/routes/products/product-create/components/product-create-form/product-create-form.tsx
  packages/admin-next/dashboard/src/routes/products/product-create/components/product-create-variants-form/product-create-variants-form.tsx
  packages/admin-next/dashboard/src/routes/products/product-create/product-create.tsx
  packages/admin-next/dashboard/src/routes/products/product-create/utils.ts
  packages/admin-next/dashboard/src/routes/products/product-detail/product-detail.tsx
  packages/admin-next/dashboard/src/routes/promotions/promotion-detail/promotion-detail.tsx
  packages/admin-next/dashboard/src/routes/reservations/reservation-detail/reservation-detail.tsx
  packages/design-system/ui/src/components/container/container.stories.tsx
Labels: type: feature, team: medusa

#7646 feat: Ensure the event group id is either generated or picked up from the context
  packages/core/workflows-sdk/src/helper/__tests__/compose.ts
  packages/core/workflows-sdk/src/helper/workflow-export.ts
Labels: type: chore, automerge, team: medusa

#7643 feat: Add emitEvent step + cleanup
  packages/core/core-flows/src/common/index.ts
  packages/core/core-flows/src/common/steps/emit-event.ts
  packages/core/core-flows/src/common/steps/release-event.ts
  packages/core/types/src/event-bus/common.ts
  packages/core/utils/src/event-bus/__tests__/message-aggregator.spec.ts
  packages/core/utils/src/event-bus/build-event-messages.ts
  packages/core/utils/src/event-bus/message-aggregator.ts
  packages/core/utils/src/modules-sdk/event-builder-factory.ts
  packages/modules/fulfillment/integration-tests/__fixtures__/events.ts
  packages/modules/fulfillment/src/utils/events.ts
  packages/modules/inventory-next/src/services/inventory-module.ts
  packages/modules/link-modules/src/services/link-module-service.ts
  packages/modules/pricing/integration-tests/__tests__/services/pricing-module/price-list.spec.ts
  packages/modules/pricing/integration-tests/__tests__/services/pricing-module/price-set.spec.ts
  packages/modules/pricing/src/utils/events.ts
  packages/modules/product/integration-tests/__tests__/product-module-service/product-tags.spec.ts
  packages/modules/product/integration-tests/__tests__/product-module-service/product-variants.spec.ts
  packages/modules/product/src/utils/events.ts
  packages/modules/user/src/services/user-module.ts
Labels: type: feature, team: medusa

#7649 chore: group & release events for local eventbus
  packages/core/utils/src/event-bus/index.ts
  packages/modules/event-bus-local/src/services/__tests__/event-bus-local.js
  packages/modules/event-bus-local/src/services/__tests__/event-bus-local.ts
  packages/modules/event-bus-local/src/services/event-bus-local.ts
  packages/modules/event-bus-redis/src/services/event-bus-redis.ts
Labels: team: medusa

#7617 feat: Fix subscribers loading + add order <> cart link
  packages/core/core-flows/src/definition/cart/workflows/complete-cart.ts
  packages/core/core-flows/src/order/steps/index.ts
  packages/core/core-flows/src/order/steps/link-order-payment-collection.ts
  packages/core/utils/src/link/links.ts
  packages/medusa/src/api/store/carts/[id]/complete/route.ts
  packages/medusa/src/loaders/helpers/subscribers/index.ts
  packages/medusa/src/loaders/index.ts
  packages/modules/link-modules/src/definitions/index.ts
  packages/modules/link-modules/src/definitions/order-cart.ts
  packages/modules/workflow-engine-inmemory/src/services/workflow-orchestrator.ts
Labels: team: medusa

#7529 docs: new + improved auth documentation pages
  .github/workflows/generate-resources-reference.yml
  www/apps/resources/app/commerce-modules/auth/auth-flows/page.mdx
  www/apps/resources/app/commerce-modules/auth/auth-identity-and-actor-types/page.mdx
  www/apps/resources/app/commerce-modules/auth/auth-providers/_google/page.mdx
  www/apps/resources/app/commerce-modules/auth/auth-providers/emailpass/page.mdx
  www/apps/resources/app/commerce-modules/auth/auth-providers/page.mdx
  www/apps/resources/app/commerce-modules/auth/authentication-route/page.mdx
  www/apps/resources/app/commerce-modules/auth/create-actor-type/page.mdx
  www/apps/resources/app/commerce-modules/auth/module-options/page.mdx
  www/apps/resources/app/commerce-modules/auth/page.mdx
  www/apps/resources/app/commerce-modules/auth/user-creation/page.mdx
  www/apps/resources/app/commerce-modules/customer/register-customer-email/page.mdx
  www/apps/resources/app/commerce-modules/payment/module-options/page.mdx
  www/apps/resources/app/commerce-modules/user/user-creation-flows/page.mdx
  www/apps/resources/generated/files-map.mjs
  www/apps/resources/generated/sidebar.mjs
  www/apps/resources/sidebar.mjs
Labels: type: docs, team: medusa

#7623 docs: added storefront regions guides
  www/apps/book/app/storefront-development/page.mdx
  www/apps/book/sidebar.mjs
  www/apps/resources/app/storefront-development/page.mdx
  www/apps/resources/app/storefront-development/regions/list/page.mdx
  www/apps/resources/app/storefront-development/regions/page.mdx
  www/apps/resources/app/storefront-development/regions/store-retrieve-region/page.mdx
  www/apps/resources/app/storefront-development/tips/page.mdx
  www/apps/resources/generated/files-map.mjs
  www/apps/resources/generated/sidebar.mjs
  www/apps/resources/sidebar.mjs
Labels: type: docs, team: medusa

#7642 docs: fix details of selecting fields and relationships in api reference
  www/apps/api-reference/app/_mdx/admin.mdx
  www/apps/api-reference/app/_mdx/store.mdx
Labels: type: docs, team: medusa

#7644 Initial implementation of data types and base schema
  packages/core/utils/package.json
  packages/core/utils/src/dml/__tests__/base_relationship.spec.ts
  packages/core/utils/src/dml/__tests__/base_schema.spec.ts
  packages/core/utils/src/dml/__tests__/boolean_schema.spec.ts
  packages/core/utils/src/dml/__tests__/date_time_schema.spec.ts
  packages/core/utils/src/dml/__tests__/entity_builder.spec.ts
  packages/core/utils/src/dml/__tests__/enum_schema.spec.ts
  packages/core/utils/src/dml/__tests__/has_many_relationship.spec.ts
  packages/core/utils/src/dml/__tests__/has_one_relationship.spec.ts
  packages/core/utils/src/dml/__tests__/json_schema.spec.ts
  packages/core/utils/src/dml/__tests__/many_to_many.spec.ts
  packages/core/utils/src/dml/__tests__/number_schema.spec.ts
  packages/core/utils/src/dml/__tests__/text_schema.spec.ts
  packages/core/utils/src/dml/entity.ts
  packages/core/utils/src/dml/entity_builder.ts
  packages/core/utils/src/dml/modifiers/nullable.ts
  packages/core/utils/src/dml/modifiers/optional.ts
  packages/core/utils/src/dml/relations/base.ts
  packages/core/utils/src/dml/relations/has_many.ts
  packages/core/utils/src/dml/relations/has_one.ts
  packages/core/utils/src/dml/relations/many_to_many.ts
  packages/core/utils/src/dml/schema/base.ts
  packages/core/utils/src/dml/schema/boolean.ts
  packages/core/utils/src/dml/schema/date_time.ts
  packages/core/utils/src/dml/schema/enum.ts
  packages/core/utils/src/dml/schema/json.ts
  packages/core/utils/src/dml/schema/number.ts
  packages/core/utils/src/dml/schema/text.ts
  packages/core/utils/src/dml/symbols.ts
  packages/core/utils/src/dml/types.ts
  yarn.lock
Labels: team: medusa

#7651 feat: Add support for scheduled workflows
  packages/core/orchestration/src/__fixtures__/mock-scheduler-storage.ts
  packages/core/orchestration/src/__tests__/workflow/global-workflow.ts
  packages/core/orchestration/src/__tests__/workflow/local-workflow.ts
  packages/core/orchestration/src/transaction/datastore/abstract-storage.ts
  packages/core/orchestration/src/transaction/distributed-transaction.ts
  packages/core/orchestration/src/transaction/types.ts
  packages/core/orchestration/src/workflow/index.ts
  packages/core/orchestration/src/workflow/scheduler.ts
  packages/core/orchestration/src/workflow/workflow-manager.ts
  packages/core/workflows-sdk/src/helper/__tests__/compose.ts
  packages/modules/workflow-engine-inmemory/integration-tests/__fixtures__/workflow_scheduled.ts
  packages/modules/workflow-engine-inmemory/integration-tests/__tests__/index.spec.ts
  packages/modules/workflow-engine-inmemory/package.json
  packages/modules/workflow-engine-inmemory/src/services/workflow-orchestrator.ts
  packages/modules/workflow-engine-inmemory/src/utils/workflow-orchestrator-storage.ts
  packages/modules/workflow-engine-redis/integration-tests/__fixtures__/workflow_scheduled.ts
  packages/modules/workflow-engine-redis/integration-tests/__tests__/index.spec.ts
  packages/modules/workflow-engine-redis/src/services/workflow-orchestrator.ts
  packages/modules/workflow-engine-redis/src/utils/workflow-orchestrator-storage.ts
  yarn.lock
Labels: automerge, type: feature, team: medusa

#7665 chore(dashboard): remove pricing conversions on admin
  packages/admin-next/dashboard/src/lib/money-amount-helpers.ts
  packages/admin-next/dashboard/src/routes/locations/shipping-options-create/components/create-shipping-options-form/create-shipping-options-form.tsx
  packages/admin-next/dashboard/src/routes/locations/shipping-options-edit-pricing/components/create-shipping-options-form/edit-shipping-options-pricing-form.tsx
  packages/admin-next/dashboard/src/routes/pricing/pricing-create/components/pricing-create-form/pricing-create-form.tsx
  packages/admin-next/dashboard/src/routes/pricing/pricing-products-prices/components/pricing-products-prices-form/pricing-products-prices-form.tsx
  packages/admin-next/dashboard/src/routes/products/product-create/utils.ts
  packages/admin-next/dashboard/src/routes/products/product-prices/pricing-edit.tsx
Labels: team: medusa

#7655 chore: ability to group events on redis event bus
  integration-tests/modules/__tests__/notification/admin/notification.spec.ts
  packages/core/core-flows/src/common/steps/emit-event.ts
  packages/core/medusa-test-utils/src/mock-event-bus-service.ts
  packages/core/medusa-test-utils/src/module-test-runner.ts
  packages/core/types/src/event-bus/common.ts
  packages/core/types/src/event-bus/event-bus-module.ts
  packages/core/types/src/event-bus/event-bus.ts
  packages/core/utils/src/event-bus/__tests__/message-aggregator.spec.ts
  packages/core/utils/src/event-bus/build-event-messages.ts
  packages/core/utils/src/event-bus/index.ts
  packages/core/utils/src/modules-sdk/abstract-module-service-factory.ts
  packages/medusa/src/api/hooks/payment/[provider]/route.ts
  packages/modules/event-bus-local/src/services/__tests__/event-bus-local.ts
  packages/modules/event-bus-local/src/services/event-bus-local.ts
  packages/modules/event-bus-redis/src/services/__tests__/event-bus.js
  packages/modules/event-bus-redis/src/services/__tests__/event-bus.ts
  packages/modules/event-bus-redis/src/services/event-bus-redis.ts
  packages/modules/fulfillment/integration-tests/__fixtures__/events.ts
  packages/modules/link-modules/src/services/link-module-service.ts
  packages/modules/product/integration-tests/__tests__/product-module-service/product-categories.spec.ts
  packages/modules/product/integration-tests/__tests__/product-module-service/product-collections.spec.ts
  packages/modules/product/src/services/product-module-service.ts
  packages/modules/user/integration-tests/__tests__/services/module/invite.spec.ts
  packages/modules/user/integration-tests/__tests__/services/module/user.spec.ts
Labels: team: medusa

#7666 Feat(order): post purchase support
  integration-tests/modules/__tests__/order/order.spec.ts
  packages/core/types/src/order/common.ts
  packages/core/types/src/order/mutations.ts
  packages/core/types/src/order/service.ts
  packages/core/utils/src/order/status.ts
  packages/modules/order/integration-tests/__tests__/order-return.ts
  packages/modules/order/src/migrations/Migration20240604100512.ts
  packages/modules/order/src/models/index.ts
  packages/modules/order/src/models/order-change-action.ts
  packages/modules/order/src/models/order-change.ts
  packages/modules/order/src/models/order-item.ts
  packages/modules/order/src/models/order-shipping-method.ts
  packages/modules/order/src/models/return.ts
  packages/modules/order/src/models/transaction.ts
  packages/modules/order/src/repositories/index.ts
  packages/modules/order/src/repositories/order.ts
  packages/modules/order/src/repositories/return.ts
  packages/modules/order/src/services/actions/cancel-fulfillment.ts
  packages/modules/order/src/services/actions/create-return.ts
  packages/modules/order/src/services/actions/index.ts
  packages/modules/order/src/services/actions/receive-return.ts
  packages/modules/order/src/services/actions/register-fulfillment.ts
  packages/modules/order/src/services/actions/register-shipment.ts
  packages/modules/order/src/services/order-change-service.ts
  packages/modules/order/src/services/order-module-service.ts
  packages/modules/order/src/types/index.ts
  packages/modules/order/src/types/order-change.ts
  packages/modules/order/src/types/utils/index.ts
  packages/modules/order/src/utils/actions/cancel-item-fulfillment.ts
  packages/modules/order/src/utils/actions/cancel-return.ts
  packages/modules/order/src/utils/actions/fulfill-item.ts
  packages/modules/order/src/utils/actions/item-add.ts
  packages/modules/order/src/utils/actions/item-remove.ts
  packages/modules/order/src/utils/actions/receive-damaged-return-item.ts
  packages/modules/order/src/utils/actions/receive-return-item.ts
  packages/modules/order/src/utils/actions/return-item.ts
  packages/modules/order/src/utils/actions/ship-item.ts
  packages/modules/order/src/utils/actions/shipping-add.ts
  packages/modules/order/src/utils/actions/write-off-item.ts
  packages/modules/order/src/utils/apply-order-changes.ts
  packages/modules/order/src/utils/base-repository-find.ts
  packages/modules/order/src/utils/index.ts
  packages/modules/order/src/utils/set-action-reference.ts
Labels: team: medusa

#7662 docs: added cart storefront guides
  www/apps/resources/app/storefront-development/cart/context/page.mdx
  www/apps/resources/app/storefront-development/cart/create/page.mdx
  www/apps/resources/app/storefront-development/cart/manage-items/page.mdx
  www/apps/resources/app/storefront-development/cart/page.mdx
  www/apps/resources/app/storefront-development/cart/retrieve/page.mdx
  www/apps/resources/app/storefront-development/cart/update/page.mdx
  www/apps/resources/app/storefront-development/regions/context/page.mdx
  www/apps/resources/app/storefront-development/regions/store-retrieve-region/page.mdx
  www/apps/resources/generated/files-map.mjs
  www/apps/resources/generated/sidebar.mjs
  www/apps/resources/sidebar.mjs
Labels: type: docs, team: medusa

#7673 fix: Remove scheduled workflows if they no longer exist when executed
  packages/core/orchestration/src/workflow/local-workflow.ts
  packages/core/orchestration/src/workflow/workflow-manager.ts
  packages/modules/workflow-engine-inmemory/integration-tests/__tests__/index.spec.ts
  packages/modules/workflow-engine-inmemory/src/services/workflow-orchestrator.ts
  packages/modules/workflow-engine-inmemory/src/utils/workflow-orchestrator-storage.ts
  packages/modules/workflow-engine-redis/integration-tests/__tests__/index.spec.ts
  packages/modules/workflow-engine-redis/src/utils/workflow-orchestrator-storage.ts
Labels: team: medusa

#7668 chore: ensure the event group id is kept for async workflow
  packages/core/orchestration/src/transaction/transaction-orchestrator.ts
  packages/core/orchestration/src/workflow/local-workflow.ts
  packages/core/workflows-sdk/src/helper/workflow-export.ts
  packages/core/workflows-sdk/src/utils/composer/create-step.ts
  packages/modules/workflow-engine-inmemory/integration-tests/__fixtures__/workflow_event_group_id.ts
  packages/modules/workflow-engine-inmemory/integration-tests/__tests__/index.spec.ts
Labels: type: chore, team: medusa

#7674 feat: Add support for scheduled jobs
  packages/medusa/src/jobs/.gitkeep
  packages/medusa/src/loaders/__fixtures__/mock-scheduler-storage.ts
  packages/medusa/src/loaders/__fixtures__/plugin/jobs/order-summary.ts
  packages/medusa/src/loaders/__tests__/register-jobs.spec.ts
  packages/medusa/src/loaders/helpers/register-jobs.ts
  packages/medusa/src/loaders/index.ts
Labels: automerge, team: medusa

#7664 feat: workflows release events
  packages/core/core-flows/src/common/steps/release-event.ts
  packages/core/medusa-test-utils/src/mock-event-bus-service.ts
  packages/core/orchestration/src/workflow/local-workflow.ts
  packages/core/types/src/event-bus/event-bus-module.ts
  packages/core/workflows-sdk/src/helper/workflow-export.ts
  packages/core/workflows-sdk/src/utils/composer/__tests__/compose.ts
Labels: type: feature, team: medusa

#7679 feat: Add support for category deletion
  integration-tests/http/__tests__/product-category/admin/product-category.spec.ts
  packages/core/core-flows/src/product-category/steps/delete-product-category.ts
  packages/core/core-flows/src/product-category/steps/index.ts
  packages/core/core-flows/src/product-category/workflows/delete-product-category.ts
  packages/core/core-flows/src/product-category/workflows/index.ts
  packages/core/core-flows/src/product-category/workflows/update-product-category.ts
  packages/medusa/src/api/admin/product-categories/[id]/route.ts
  packages/medusa/src/api/admin/product-categories/middlewares.ts
Labels: team: medusa

#7667 Initial implementation of DML to Mikro ORM entity generation
  packages/core/utils/src/dml/__tests__/entity_builder.spec.ts
  packages/core/utils/src/dml/entity.ts
  packages/core/utils/src/dml/entity_builder.ts
  packages/core/utils/src/dml/helpers/create_mikro_orm_entity.ts
  packages/core/utils/src/dml/relations/has_one_through_many.ts
  packages/core/utils/src/dml/types.ts
Labels: team: medusa

#7677 fix(core-flows): variant pricing batch update
  packages/admin-next/dashboard/src/hooks/api/products.tsx
  packages/admin-next/dashboard/src/routes/products/product-prices/pricing-edit.tsx
  packages/core/core-flows/src/product/workflows/batch-product-variants.ts
  packages/core/core-flows/src/product/workflows/update-product-variants.ts
Labels: team: medusa

#7645 docs: add products storefront guides
  www/apps/resources/app/storefront-development/products/categories/list/page.mdx
  www/apps/resources/app/storefront-development/products/categories/nested-categories/page.mdx
  www/apps/resources/app/storefront-development/products/categories/page.mdx
  www/apps/resources/app/storefront-development/products/categories/products/page.mdx
  www/apps/resources/app/storefront-development/products/categories/retrieve/page.mdx
  www/apps/resources/app/storefront-development/products/collections/list/page.mdx
  www/apps/resources/app/storefront-development/products/collections/page.mdx
  www/apps/resources/app/storefront-development/products/collections/products/page.mdx
  www/apps/resources/app/storefront-development/products/collections/retrieve/page.mdx
  www/apps/resources/app/storefront-development/products/list/page.mdx
  www/apps/resources/app/storefront-development/products/page.mdx
  www/apps/resources/app/storefront-development/products/price/page.mdx
  www/apps/resources/app/storefront-development/products/retrieve/page.mdx
  www/apps/resources/app/storefront-development/products/variants/page.mdx
  www/apps/resources/generated/files-map.mjs
  www/apps/resources/generated/sidebar.mjs
  www/apps/resources/sidebar.mjs
Labels: type: docs, team: medusa

#7687 Code cleanup and add support for default values and nullable relationships
  packages/core/utils/src/dml/__tests__/base_relationship.spec.ts
  packages/core/utils/src/dml/__tests__/base_schema.spec.ts
  packages/core/utils/src/dml/__tests__/boolean_schema.spec.ts
  packages/core/utils/src/dml/__tests__/date_time_schema.spec.ts
  packages/core/utils/src/dml/__tests__/entity_builder.spec.ts
  packages/core/utils/src/dml/__tests__/enum_schema.spec.ts
  packages/core/utils/src/dml/__tests__/has_many_relationship.spec.ts
  packages/core/utils/src/dml/__tests__/has_one_relationship.spec.ts
  packages/core/utils/src/dml/__tests__/json_schema.spec.ts
  packages/core/utils/src/dml/__tests__/many_to_many.spec.ts
  packages/core/utils/src/dml/__tests__/number_schema.spec.ts
  packages/core/utils/src/dml/__tests__/text_schema.spec.ts
  packages/core/utils/src/dml/entity.ts
  packages/core/utils/src/dml/entity_builder.ts
  packages/core/utils/src/dml/helpers/create_mikro_orm_entity.ts
  packages/core/utils/src/dml/modifiers/nullable.ts
  packages/core/utils/src/dml/modifiers/optional.ts
  packages/core/utils/src/dml/relations/base.ts
  packages/core/utils/src/dml/relations/has_many.ts
  packages/core/utils/src/dml/relations/has_one.ts
  packages/core/utils/src/dml/relations/many_to_many.ts
  packages/core/utils/src/dml/schema/base.ts
  packages/core/utils/src/dml/schema/boolean.ts
  packages/core/utils/src/dml/schema/date_time.ts
  packages/core/utils/src/dml/schema/enum.ts
  packages/core/utils/src/dml/schema/json.ts
  packages/core/utils/src/dml/schema/number.ts
  packages/core/utils/src/dml/schema/text.ts
  packages/core/utils/src/dml/symbols.ts
  packages/core/utils/src/dml/types.ts
Labels: team: medusa

#7682 feat: `order.placed` event + simplify `emitEventStep`
  packages/core/core-flows/src/common/steps/emit-event.ts
  packages/core/core-flows/src/definition/cart/workflows/complete-cart.ts
  packages/core/utils/src/order/events.ts
  packages/core/utils/src/order/index.ts
Labels: team: medusa

#7692 feat(dashboard): finalise inventory kit creation
  packages/admin-next/dashboard/src/hooks/use-combobox-data.tsx
  packages/admin-next/dashboard/src/i18n/translations/en.json
  packages/admin-next/dashboard/src/routes/products/product-create-variant/components/create-product-variant-form/create-product-variant-form.tsx
  packages/admin-next/dashboard/src/routes/products/product-create/components/product-create-details-form/components/product-create-details-variant-section/product-create-details-variant-section.tsx
  packages/admin-next/dashboard/src/routes/products/product-create/components/product-create-inventory-kit-form/components/product-create-inventory-kit-section/product-create-inventory-kit-section.tsx
  packages/admin-next/dashboard/src/routes/products/product-create/constants.ts
  packages/admin-next/dashboard/src/routes/products/product-create/utils.ts
Labels: type: feature, team: medusa

#7693 chore: fix OAS circular dependencies
  .github/workflows/generate-docblocks.yml
  .github/workflows/generate-resources-reference.yml
  packages/cli/oas/medusa-oas-cli/redocly/redocly-config.yaml
  www/utils/package.json
  www/utils/packages/docblock-generator/package.json
  www/utils/packages/typedoc-generate-references/package.json
  www/utils/turbo.json
Labels: type: docs, type: chore, team: medusa

#7678 docs: added checkout storefront guides
  www/apps/resources/app/storefront-development/cart/context/page.mdx
  www/apps/resources/app/storefront-development/checkout/address/page.mdx
  www/apps/resources/app/storefront-development/checkout/complete-cart/page.mdx
  www/apps/resources/app/storefront-development/checkout/email/page.mdx
  www/apps/resources/app/storefront-development/checkout/page.mdx
  www/apps/resources/app/storefront-development/checkout/payment/page.mdx
  www/apps/resources/app/storefront-development/checkout/payment/stripe/page.mdx
  www/apps/resources/app/storefront-development/checkout/shipping/page.mdx
  www/apps/resources/generated/files-map.mjs
  www/apps/resources/generated/sidebar.mjs
  www/apps/resources/sidebar.mjs
  www/packages/docs-ui/src/components/CodeBlock/Line/index.tsx
  www/packages/docs-ui/src/components/Tooltip/index.tsx
Labels: type: docs, team: medusa

#7686 chore(v1.x): remove docs actions no longer relevant
  .github/workflows/docs-freshness-check.yml
  .github/workflows/generate-docblocks.yml
  .github/workflows/generate-references.yml
Labels: type: chore, team: medusa

#7691 fix(medusa): allow calculating prices without explicit fields
  integration-tests/http/__tests__/product/store/product.spec.ts
  integration-tests/modules/__tests__/product/store/index.spec.ts
  packages/medusa/src/api/utils/middlewares/products/set-pricing-context.ts
Labels: team: medusa

#7695 feat: Revamp of product categories
  integration-tests/http/__tests__/product-category/admin/product-category.spec.ts
  packages/core/core-flows/src/product-category/steps/create-product-categories.ts
  packages/core/core-flows/src/product-category/steps/create-product-category.ts
  packages/core/core-flows/src/product-category/steps/delete-product-categories.ts
  packages/core/core-flows/src/product-category/steps/delete-product-category.ts
  packages/core/core-flows/src/product-category/steps/index.ts
  packages/core/core-flows/src/product-category/steps/update-product-categories.ts
  packages/core/core-flows/src/product-category/steps/update-product-category.ts
  packages/core/core-flows/src/product-category/workflows/create-product-categories.ts
  packages/core/core-flows/src/product-category/workflows/create-product-category.ts
  packages/core/core-flows/src/product-category/workflows/delete-product-categories.ts
  packages/core/core-flows/src/product-category/workflows/delete-product-category.ts
  packages/core/core-flows/src/product-category/workflows/index.ts
  packages/core/core-flows/src/product-category/workflows/update-product-categories.ts
  packages/core/core-flows/src/product-category/workflows/update-product-category.ts
  packages/core/types/src/dal/repository-service.ts
  packages/core/types/src/product/common.ts
  packages/core/types/src/product/service.ts
  packages/core/types/src/workflow/product-category/index.ts
  packages/core/utils/src/dal/mikro-orm/mikro-orm-repository.ts
  packages/core/utils/src/product/events.ts
  packages/medusa/src/api/admin/product-categories/[id]/route.ts
  packages/medusa/src/api/admin/product-categories/route.ts
  packages/modules/product/integration-tests/__fixtures__/product-category/data/index.ts
  packages/modules/product/integration-tests/__fixtures__/product-category/index.ts
  packages/modules/product/integration-tests/__tests__/product-category.ts
  packages/modules/product/integration-tests/__tests__/product-module-service/product-categories.spec.ts
  packages/modules/product/integration-tests/__tests__/product-module-service/products.spec.ts
  packages/modules/product/integration-tests/__tests__/product.ts
  packages/modules/product/src/models/product-category.ts
  packages/modules/product/src/repositories/product-category.ts
  packages/modules/product/src/services/product-category.ts
  packages/modules/product/src/services/product-module-service.ts
  packages/modules/product/src/types/index.ts
  packages/modules/product/src/utils/events.ts
Labels: team: medusa

#7700 feat(dashboard,js-sdk,types): prices of a product can be deleted in a price list
  packages/admin-next/dashboard/src/hooks/api/price-lists.tsx
  packages/admin-next/dashboard/src/i18n/translations/en.json
  packages/admin-next/dashboard/src/routes/pricing/pricing-detail/components/pricing-product-section/pricing-product-section.tsx
  packages/core/js-sdk/src/admin/index.ts
  packages/core/js-sdk/src/admin/price-list.ts
  packages/core/types/src/http/index.ts
  packages/core/types/src/http/pricing/admin/entities.ts
  packages/core/types/src/http/pricing/admin/index.ts
  packages/core/types/src/http/pricing/admin/payloads.ts
  packages/core/types/src/http/pricing/admin/queries.ts
  packages/core/types/src/http/pricing/admin/responses.ts
Labels: team: medusa

#7701 feat: Variant inventory quantity in GET requests
  integration-tests/http/__tests__/product/admin/product.spec.ts
  packages/admin-next/dashboard/src/routes/products/product-detail/components/product-variant-section/product-variant-section.tsx
  packages/medusa/src/api/admin/products/[id]/variants/route.ts
  packages/medusa/src/api/admin/products/helpers.ts
  packages/medusa/src/api/store/products/[id]/route.ts
  packages/medusa/src/api/store/products/helpers.ts
  packages/medusa/src/api/store/products/route.ts
  packages/medusa/src/api/utils/middlewares/products/index.ts
  packages/medusa/src/api/utils/middlewares/products/variant-inventory-quantity.ts
Labels: team: medusa

#7702 fix: Sort product categories based on rank
  integration-tests/http/__tests__/product-category/admin/product-category.spec.ts
  packages/modules/product/integration-tests/__tests__/product-category.ts
  packages/modules/product/src/repositories/product-category.ts
Labels: automerge, team: medusa

#7711 Chore: Remove main model concept from currency domain
  packages/core/types/src/currency/service.ts
  packages/modules/currency/integration-tests/__tests__/currency-module-service.spec.ts
  packages/modules/currency/src/services/currency-module-service.ts
Labels: team: medusa

#7699 fix(dashboard, types): ability to update price list status on admin
  packages/admin-next/dashboard/src/i18n/translations/en.json
  packages/admin-next/dashboard/src/routes/pricing/common/constants.ts
  packages/admin-next/dashboard/src/routes/pricing/common/utils.ts
  packages/admin-next/dashboard/src/routes/pricing/pricing-edit/components/edit-price-list-form/edit-price-list-form.tsx
  packages/admin-next/dashboard/src/types/api-payloads.ts
  packages/core/types/src/pricing/common/price-list.ts
Labels: team: medusa

#7706 fix: Sort orders by `display_id` desc by default
  packages/admin-next/dashboard/src/hooks/table/query/use-order-table-query.tsx
Labels: team: medusa

#7719 chore: Remove main entity from auth
  integration-tests/helpers/create-admin-user.ts
  integration-tests/modules/__tests__/auth/admin/email-password-provider.spec.ts
  integration-tests/modules/__tests__/customer/store/create-customer.spec.ts
  integration-tests/modules/helpers/create-authenticated-customer.ts
  packages/core/core-flows/src/auth/steps/set-auth-app-metadata.ts
  packages/core/types/src/auth/service.ts
  packages/medusa/src/commands/user.ts
  packages/modules/auth/integration-tests/__fixtures__/auth-identity/index.ts
  packages/modules/auth/integration-tests/__tests__/auth-module-service/auth-identity.spec.ts
  packages/modules/auth/integration-tests/__tests__/auth-module-service/index.spec.ts
  packages/modules/auth/package.json
  packages/modules/auth/src/index.ts
  packages/modules/auth/src/module-definition.ts
  packages/modules/auth/src/repositories/index.ts
  packages/modules/auth/src/services/auth-module.ts
Labels: team: medusa

#7718 chore: Remove main entity concept from regions
  integration-tests/helpers/seed-storefront-defaults.ts
  integration-tests/modules/__tests__/cart/store/cart.workflows.spec.ts
  integration-tests/modules/__tests__/cart/store/carts.spec.ts
  integration-tests/modules/__tests__/link-modules/cart-links.spec.ts
  integration-tests/modules/__tests__/link-modules/cart-region.spec.ts
  integration-tests/modules/__tests__/link-modules/region-payment-provider.spec.ts
  integration-tests/modules/__tests__/modules/remote-query.spec.ts
  integration-tests/modules/__tests__/order/draft-order.spec.ts
  integration-tests/modules/__tests__/order/workflows/cancel-order.spec.ts
  integration-tests/modules/__tests__/order/workflows/create-fulfillment.spec.ts
  integration-tests/modules/__tests__/order/workflows/create-return.spec.ts
  integration-tests/modules/__tests__/order/workflows/create-shipment.spec.ts
  integration-tests/modules/__tests__/payment/payment-session.workflows.spec.ts
  integration-tests/modules/__tests__/payment/payments.spec.ts
  integration-tests/modules/__tests__/price-lists/admin/price-lists.spec.ts
  integration-tests/modules/__tests__/promotion/admin/promotion-rules.spec.ts
  integration-tests/modules/__tests__/regions/admin/regions.spec.ts
  integration-tests/modules/__tests__/shipping-options/store/shipping-options.spec.ts
  integration-tests/modules/__tests__/shipping-options/workflows/batch-shipping-options-rules.ts
  integration-tests/modules/__tests__/shipping-options/workflows/create-shipping-options.ts
  integration-tests/modules/__tests__/shipping-options/workflows/delete-shipping-options.ts
  integration-tests/modules/__tests__/shipping-options/workflows/update-shipping-options.ts
  packages/core/core-flows/src/definition/cart/steps/find-one-or-any-region.ts
  packages/core/core-flows/src/fulfillment/steps/add-shipping-options-prices.ts
  packages/core/core-flows/src/fulfillment/steps/set-shipping-options-prices.ts
  packages/core/core-flows/src/region/steps/create-regions.ts
  packages/core/core-flows/src/region/steps/delete-regions.ts
  packages/core/core-flows/src/region/steps/update-regions.ts
  packages/core/types/src/region/service.ts
  packages/modules/region/integration-tests/__tests__/region-module.spec.ts
  packages/modules/region/package.json
  packages/modules/region/src/index.ts
  packages/modules/region/src/module-definition.ts
  packages/modules/region/src/repositories/index.ts
  packages/modules/region/src/scripts/bin/run-seed.ts
  packages/modules/region/src/scripts/seed-utils.ts
  packages/modules/region/src/services/region-module.ts
  packages/modules/region/src/types/index.ts
Labels: team: medusa

#7717 feat: Remove main concept from the notification module
  integration-tests/modules/__tests__/notification/admin/notification.spec.ts
  packages/core/types/src/notification/service.ts
  packages/medusa/src/subscribers/configurable-notifications.ts
  packages/modules/notification/integration-tests/__tests__/notification-module-service/index.spec.ts
  packages/modules/notification/package.json
  packages/modules/notification/src/index.ts
  packages/modules/notification/src/module-definition.ts
  packages/modules/notification/src/services/notification-module-service.ts
  packages/modules/notification/src/utils/index.ts
Labels: team: medusa

#7716 feat: Update the api key module to follow latest conventions
  integration-tests/modules/__tests__/cart/store/carts.spec.ts
  integration-tests/modules/__tests__/link-modules/publishable-key-sales-channel.spec.ts
  packages/core/core-flows/src/api-key/steps/create-api-keys.ts
  packages/core/core-flows/src/api-key/steps/delete-api-keys.ts
  packages/core/core-flows/src/api-key/steps/update-api-keys.ts
  packages/core/types/src/api-key/service.ts
  packages/core/types/src/common/common.ts
  packages/modules/api-key/integration-tests/__tests__/api-key-module-service.spec.ts
  packages/modules/api-key/package.json
  packages/modules/api-key/src/index.ts
  packages/modules/api-key/src/module-definition.ts
  packages/modules/api-key/src/repositories/index.ts
  packages/modules/api-key/src/scripts/bin/run-seed.ts
  packages/modules/api-key/src/services/api-key-module-service.ts
Labels: team: medusa

#7721 Add support for cascades to DML
  packages/core/utils/src/dml/__tests__/base-relationship.spec.ts
  packages/core/utils/src/dml/__tests__/entity-builder.spec.ts
  packages/core/utils/src/dml/entity.ts
  packages/core/utils/src/dml/helpers/create-mikro-orm-entity.ts
  packages/core/utils/src/dml/relations/base.ts
  packages/core/utils/src/dml/relations/belongs-to.ts
  packages/core/utils/src/dml/relations/has-many.ts
  packages/core/utils/src/dml/relations/has-one.ts
  packages/core/utils/src/dml/relations/many-to-many.ts
  packages/core/utils/src/dml/relations/nullable.ts
  packages/core/utils/src/dml/schema/base.ts
  packages/core/utils/src/dml/schema/nullable.ts
  packages/core/utils/src/dml/types.ts
Labels: team: medusa

#7705 feat(dashboard): inventory details variants section
  packages/admin-next/dashboard/src/routes/inventory/inventory-detail/components/inventory-item-variants/variants-section.tsx
  packages/admin-next/dashboard/src/routes/inventory/inventory-detail/inventory-detail.tsx
  packages/admin-next/dashboard/src/routes/inventory/inventory-detail/loader.ts
  packages/modules/link-modules/src/definitions/product-variant-inventory-item.ts
Labels: team: medusa

#7722 chore: Remove main entity from sales channel
  integration-tests/modules/__tests__/cart/store/cart.workflows.spec.ts
  integration-tests/modules/__tests__/cart/store/carts.spec.ts
  integration-tests/modules/__tests__/link-modules/cart-links.spec.ts
  integration-tests/modules/__tests__/link-modules/fulfillment-set-location.spec.ts
  integration-tests/modules/__tests__/link-modules/publishable-key-sales-channel.spec.ts
  integration-tests/modules/__tests__/link-modules/sales-channel-location.spec.ts
  integration-tests/modules/__tests__/order/draft-order.spec.ts
  integration-tests/modules/__tests__/order/order.spec.ts
  integration-tests/modules/__tests__/order/workflows/cancel-order.spec.ts
  integration-tests/modules/__tests__/order/workflows/create-fulfillment.spec.ts
  integration-tests/modules/__tests__/order/workflows/create-return.spec.ts
  integration-tests/modules/__tests__/order/workflows/create-shipment.spec.ts
  integration-tests/modules/__tests__/promotion/admin/promotion-rules.spec.ts
  packages/core/core-flows/src/api-key/steps/validate-sales-channel-exists.ts
  packages/core/core-flows/src/definition/cart/steps/find-sales-channel.ts
  packages/core/core-flows/src/sales-channel/steps/create-default-sales-channel.ts
  packages/core/core-flows/src/sales-channel/steps/create-sales-channels.ts
  packages/core/core-flows/src/sales-channel/steps/delete-sales-channels.ts
  packages/core/core-flows/src/sales-channel/steps/update-sales-channels.ts
  packages/core/types/src/sales-channel/service.ts
  packages/modules/sales-channel/integration-tests/__fixtures__/index.ts
  packages/modules/sales-channel/integration-tests/__tests__/services/sales-channel-module.spec.ts
  packages/modules/sales-channel/integration-tests/setup-env.js
  packages/modules/sales-channel/integration-tests/setup.js
  packages/modules/sales-channel/integration-tests/utils/config.ts
  packages/modules/sales-channel/integration-tests/utils/database.ts
  packages/modules/sales-channel/integration-tests/utils/index.ts
  packages/modules/sales-channel/jest.config.js
  packages/modules/sales-channel/package.json
  packages/modules/sales-channel/src/index.ts
  packages/modules/sales-channel/src/module-definition.ts
  packages/modules/sales-channel/src/scripts/bin/run-seed.ts
  packages/modules/sales-channel/src/scripts/seed-utils.ts
  packages/modules/sales-channel/src/services/sales-channel-module.ts
  yarn.lock
Labels: team: medusa

#7720 chore: Remove main entity from user
  integration-tests/helpers/create-admin-user.ts
  integration-tests/modules/__tests__/users/delete-user.spec.ts
  integration-tests/modules/__tests__/users/list-users.spec.ts
  integration-tests/modules/__tests__/users/retrieve-user.spec.ts
  integration-tests/modules/__tests__/users/update-user.spec.ts
  packages/core/core-flows/src/user/steps/create-users.ts
  packages/core/core-flows/src/user/steps/delete-users.ts
  packages/core/core-flows/src/user/steps/update-users.ts
  packages/core/types/src/user/service.ts
  packages/medusa/src/commands/user.ts
  packages/modules/user/integration-tests/__fixtures__/invite.ts
  packages/modules/user/integration-tests/__fixtures__/user.ts
  packages/modules/user/integration-tests/__tests__/invite.spec.ts
  packages/modules/user/integration-tests/__tests__/user.spec.ts
  packages/modules/user/package.json
  packages/modules/user/src/index.ts
  packages/modules/user/src/module-definition.ts
  packages/modules/user/src/repositories/index.ts
  packages/modules/user/src/scripts/bin/run-seed.ts
  packages/modules/user/src/scripts/seed.ts
  packages/modules/user/src/services/index.ts
  packages/modules/user/src/services/invite.ts
  packages/modules/user/src/services/user-module.ts
  yarn.lock
Labels: team: medusa

#7713 chore: Migrate store module to no main model concept
  integration-tests/helpers/seed-storefront-defaults.ts
  integration-tests/http/__tests__/store/admin/store.spec.ts
  integration-tests/modules/__tests__/cart/store/carts.spec.ts
  integration-tests/modules/__tests__/link-modules/store-currency.spec.ts
  packages/core/core-flows/src/defaults/steps/create-default-store.ts
  packages/core/types/src/store/service.ts
  packages/modules/store/integration-tests/__tests__/store-module-service.spec.ts
  packages/modules/store/package.json
  packages/modules/store/src/index.ts
  packages/modules/store/src/joiner-config.ts
  packages/modules/store/src/module-definition.ts
  packages/modules/store/src/repositories/index.ts
  packages/modules/store/src/scripts/bin/run-seed.ts
  packages/modules/store/src/services/store-module-service.ts
Labels: team: medusa

#7724 Chore/migrate file module service
  packages/core/types/src/file/mutations.ts
  packages/core/types/src/file/provider.ts
  packages/core/types/src/file/service.ts
  packages/modules/file/integration-tests/__tests__/module.spec.ts
  packages/modules/file/package.json
  packages/modules/file/src/index.ts
  packages/modules/file/src/module-definition.ts
  packages/modules/file/src/services/file-module-service.ts
Labels: team: medusa

#7723 chore: Remove main entity from customer
  integration-tests/modules/__tests__/auth/admin/email-password-provider.spec.ts
  integration-tests/modules/__tests__/cart/store/cart.workflows.spec.ts
  integration-tests/modules/__tests__/cart/store/carts.spec.ts
  integration-tests/modules/__tests__/customer-group/admin/batch-add-customers.ts
  integration-tests/modules/__tests__/customer-group/admin/batch-remove-customers.ts
  integration-tests/modules/__tests__/customer-group/admin/create-customer-group.ts
  integration-tests/modules/__tests__/customer-group/admin/delete-customer-group.ts
  integration-tests/modules/__tests__/customer-group/admin/list-customer-group-customers.ts
  integration-tests/modules/__tests__/customer-group/admin/list-customer-groups.spec.ts
  integration-tests/modules/__tests__/customer-group/admin/retrieve-customer-group.ts
  integration-tests/modules/__tests__/customer-group/admin/update-customer-group.ts
  integration-tests/modules/__tests__/customer/admin/create-customer-addresses.ts
  integration-tests/modules/__tests__/customer/admin/create-customer.ts
  integration-tests/modules/__tests__/customer/admin/delete-customer-address.spec.ts
  integration-tests/modules/__tests__/customer/admin/delete-customer.ts
  integration-tests/modules/__tests__/customer/admin/list-customer-addresses.ts
  integration-tests/modules/__tests__/customer/admin/list-customers.spec.ts
  integration-tests/modules/__tests__/customer/admin/update-customer-address.spec.ts
  integration-tests/modules/__tests__/customer/admin/update-customer.ts
  integration-tests/modules/__tests__/customer/store/create-customer-addresses.ts
  integration-tests/modules/__tests__/customer/store/delete-customer-address.spec.ts
  integration-tests/modules/__tests__/customer/store/get-me.spec.ts
  integration-tests/modules/__tests__/customer/store/list-customer-addresses.ts
  integration-tests/modules/__tests__/customer/store/update-customer-address.spec.ts
  integration-tests/modules/__tests__/link-modules/cart-links.spec.ts
  integration-tests/modules/__tests__/order/draft-order.spec.ts
  integration-tests/modules/__tests__/order/order.spec.ts
  integration-tests/modules/__tests__/price-lists/admin/price-lists.spec.ts
  integration-tests/modules/__tests__/promotion/admin/promotion-rules.spec.ts
  integration-tests/modules/helpers/create-authenticated-customer.ts
  packages/core/core-flows/src/customer-group/steps/create-customer-groups.ts
  packages/core/core-flows/src/customer/steps/create-addresses.ts
  packages/core/core-flows/src/customer/steps/create-customers.ts
  packages/core/core-flows/src/customer/steps/delete-addresses.ts
  packages/core/core-flows/src/customer/steps/delete-customers.ts
  packages/core/core-flows/src/customer/steps/update-customers.ts
  packages/core/core-flows/src/definition/cart/steps/find-or-create-customer.ts
  packages/core/types/src/customer/service.ts
  packages/modules/customer/integration-tests/__tests__/services/customer-module/index.spec.ts
  packages/modules/customer/package.json
  packages/modules/customer/src/index.ts
  packages/modules/customer/src/module-definition.ts
  packages/modules/customer/src/scripts/bin/run-seed.ts
  packages/modules/customer/src/scripts/seed.ts
  packages/modules/customer/src/services/customer-module.ts
  yarn.lock
Labels: team: medusa

#7726 chore: Remove main entity from SL, cleanup missed store and file updates
  integration-tests/http/__tests__/product/store/product.spec.ts
  integration-tests/modules/__tests__/cart/store/cart.workflows.spec.ts
  integration-tests/modules/__tests__/link-modules/fulfillment-set-location.spec.ts
  integration-tests/modules/__tests__/link-modules/sales-channel-location.spec.ts
  integration-tests/modules/__tests__/order/draft-order.spec.ts
  integration-tests/modules/__tests__/order/order.spec.ts
  integration-tests/modules/__tests__/order/workflows/cancel-order.spec.ts
  integration-tests/modules/__tests__/order/workflows/create-fulfillment.spec.ts
  integration-tests/modules/__tests__/order/workflows/create-return.spec.ts
  integration-tests/modules/__tests__/order/workflows/create-shipment.spec.ts
  integration-tests/modules/__tests__/store/admin/store.spec.ts
  packages/core/core-flows/src/defaults/steps/create-default-store.ts
  packages/core/core-flows/src/definition/cart/steps/find-one-or-any-region.ts
  packages/core/core-flows/src/definition/cart/steps/find-sales-channel.ts
  packages/core/core-flows/src/file/steps/delete-files.ts
  packages/core/core-flows/src/file/steps/upload-files.ts
  packages/core/core-flows/src/stock-location/steps/create-stock-locations.ts
  packages/core/core-flows/src/stock-location/steps/delete-stock-locations.ts
  packages/core/core-flows/src/stock-location/steps/update-stock-locations.ts
  packages/core/core-flows/src/stock-location/workflows/update-stock-locations.ts
  packages/core/core-flows/src/store/steps/create-stores.ts
  packages/core/core-flows/src/store/steps/delete-stores.ts
  packages/core/core-flows/src/store/steps/update-stores.ts
  packages/core/types/src/stock-location/common.ts
  packages/core/types/src/stock-location/index.ts
  packages/core/types/src/stock-location/service-next.ts
  packages/core/types/src/stock-location/service.ts
  packages/core/utils/src/modules-sdk/definition.ts
  packages/modules/stock-location-next/integration-tests/__tests__/stock-location-module-service.spec.ts
  packages/modules/stock-location-next/package.json
  packages/modules/stock-location-next/src/index.ts
  packages/modules/stock-location-next/src/joiner-config.ts
  packages/modules/stock-location-next/src/module-definition.ts
  packages/modules/stock-location-next/src/repositories/index.ts
  packages/modules/stock-location-next/src/schema/index.ts
  packages/modules/stock-location-next/src/services/stock-location-module.ts
Labels: team: medusa

#7725 chore: Remove main entity from inventory, typings cleanup
  integration-tests/modules/__tests__/cart/store/cart.workflows.spec.ts
  integration-tests/modules/__tests__/order/draft-order.spec.ts
  integration-tests/modules/__tests__/order/order.spec.ts
  integration-tests/modules/__tests__/order/workflows/cancel-order.spec.ts
  integration-tests/modules/__tests__/order/workflows/create-fulfillment.spec.ts
  integration-tests/modules/__tests__/order/workflows/create-return.spec.ts
  integration-tests/modules/__tests__/order/workflows/create-shipment.spec.ts
  packages/admin-next/dashboard/src/hooks/api/reservations.tsx
  packages/admin-next/dashboard/src/lib/client/reservations.ts
  packages/admin-next/dashboard/src/routes/inventory/inventory-detail/components/adjust-inventory/adjust-inventory-drawer.tsx
  packages/admin-next/dashboard/src/routes/inventory/inventory-detail/components/edit-inventory-item-attributes/components/edit-item-attributes-form.tsx
  packages/admin-next/dashboard/src/routes/inventory/inventory-detail/components/edit-inventory-item/components/edit-item-form.tsx
  packages/admin-next/dashboard/src/routes/inventory/inventory-detail/components/inventory-item-attributes/attributes-section.tsx
  packages/admin-next/dashboard/src/routes/inventory/inventory-detail/components/location-levels-table/location-actions.tsx
  packages/admin-next/dashboard/src/routes/inventory/inventory-detail/components/location-levels-table/use-location-list-table-columns.tsx
  packages/admin-next/dashboard/src/routes/inventory/inventory-detail/components/reservations-table/reservation-actions.tsx
  packages/admin-next/dashboard/src/routes/inventory/inventory-detail/components/reservations-table/reservation-list-table.tsx
  packages/admin-next/dashboard/src/routes/inventory/inventory-detail/components/reservations-table/use-reservation-list-table-columns.tsx
  packages/admin-next/dashboard/src/routes/inventory/inventory-list/components/inventory-list-table.tsx
  packages/admin-next/dashboard/src/routes/inventory/inventory-list/components/use-inventory-table-columns.tsx
  packages/admin-next/dashboard/src/routes/reservations/reservation-detail/components/edit-reservation/components/edit-reservation-form.tsx
  packages/admin-next/dashboard/src/routes/reservations/reservation-detail/components/edit-reservation/edit-reservation-modal.tsx
  packages/admin-next/dashboard/src/routes/reservations/reservation-detail/components/reservation-general-section/reservation-general-section.tsx
  packages/admin-next/dashboard/src/routes/reservations/reservation-list/create-reservation/components/create-reservation-form/create-reservation-form.tsx
  packages/admin-next/dashboard/src/types/api-payloads.ts
  packages/admin-next/dashboard/src/types/api-responses.ts
  packages/core/core-flows/src/definition/cart/steps/confirm-inventory.ts
  packages/core/core-flows/src/definition/cart/steps/reserve-inventory.ts
  packages/core/core-flows/src/inventory/steps/adjust-inventory-levels.ts
  packages/core/core-flows/src/inventory/steps/create-inventory-items.ts
  packages/core/core-flows/src/inventory/steps/create-inventory-levels.ts
  packages/core/core-flows/src/inventory/steps/delete-inventory-items.ts
  packages/core/core-flows/src/inventory/steps/delete-inventory-levels.ts
  packages/core/core-flows/src/inventory/steps/delete-levels-by-item-and-location.ts
  packages/core/core-flows/src/inventory/steps/update-inventory-items.ts
  packages/core/core-flows/src/inventory/steps/update-inventory-levels.ts
  packages/core/core-flows/src/inventory/steps/validate-inventory-locations.ts
  packages/core/core-flows/src/inventory/workflows/bulk-create-delete-levels.ts
  packages/core/core-flows/src/inventory/workflows/create-inventory-items.ts
  packages/core/core-flows/src/inventory/workflows/create-inventory-levels.ts
  packages/core/core-flows/src/inventory/workflows/update-inventory-items.ts
  packages/core/core-flows/src/inventory/workflows/update-inventory-levels.ts
  packages/core/core-flows/src/product/workflows/create-product-variants.ts
  packages/core/core-flows/src/reservation/steps/create-reservations.ts
  packages/core/core-flows/src/reservation/steps/delete-reservations-by-line-items.ts
  packages/core/core-flows/src/reservation/steps/delete-reservations.ts
  packages/core/core-flows/src/reservation/steps/update-reservations.ts
  packages/core/types/src/inventory/bundle.ts
  packages/core/types/src/inventory/common.ts
  packages/core/types/src/inventory/index.ts
  packages/core/types/src/inventory/service-next.ts
  packages/core/types/src/inventory/service.ts
  packages/core/types/src/workflow/reservation/create-reservations.ts
  packages/core/types/src/workflow/reservation/update-reservations.ts
  packages/core/utils/src/modules-sdk/definition.ts
  packages/modules/inventory-next/integration-tests/__tests__/inventory-module-service.spec.ts
  packages/modules/inventory-next/package.json
  packages/modules/inventory-next/src/index.ts
  packages/modules/inventory-next/src/module-definition.ts
  packages/modules/inventory-next/src/services/inventory-module.ts
Labels: type: docs, team: medusa

#7727 Chore/migrate fulfillment module main entity
  integration-tests/modules/__tests__/order/workflows/cancel-order.spec.ts
  integration-tests/modules/__tests__/order/workflows/create-fulfillment.spec.ts
  integration-tests/modules/__tests__/order/workflows/create-return.spec.ts
  integration-tests/modules/__tests__/order/workflows/create-shipment.spec.ts
  packages/core/core-flows/src/fulfillment/steps/create-fulfillment-set.ts
  packages/core/core-flows/src/fulfillment/steps/delete-fulfillment-sets.ts
  packages/core/types/src/fulfillment/service.ts
  packages/medusa/src/api/admin/fulfillment-sets/[id]/service-zones/[zone_id]/route.ts
  packages/modules/currency/src/index.ts
  packages/modules/file/src/index.ts
  packages/modules/fulfillment/integration-tests/__fixtures__/index.ts
  packages/modules/fulfillment/integration-tests/__tests__/fulfillment-module-service/fulfillment-set.spec.ts
  packages/modules/fulfillment/integration-tests/__tests__/fulfillment-module-service/fulfillment.spec.ts
  packages/modules/fulfillment/integration-tests/__tests__/fulfillment-module-service/geo-zone.spec.ts
  packages/modules/fulfillment/integration-tests/__tests__/fulfillment-module-service/index.spec.ts
  packages/modules/fulfillment/integration-tests/__tests__/fulfillment-module-service/service-zone.spec.ts
  packages/modules/fulfillment/integration-tests/__tests__/fulfillment-module-service/shipping-option.spec.ts
  packages/modules/fulfillment/package.json
  packages/modules/fulfillment/src/index.ts
  packages/modules/fulfillment/src/module-definition.ts
  packages/modules/fulfillment/src/scripts/bin/run-seed.ts
  packages/modules/fulfillment/src/services/fulfillment-module-service.ts
  packages/modules/store/src/index.ts
  www/apps/resources/app/commerce-modules/fulfillment/concepts/page.mdx
  www/apps/resources/app/commerce-modules/fulfillment/page.mdx
  www/apps/resources/references/fulfillment/IFulfillmentModuleService/methods/fulfillment.IFulfillmentModuleService.create/page.mdx
  yarn.lock
Labels: type: docs, type: chore, team: medusa

#7729 chore: Migrate tax module main entity
  integration-tests/modules/__tests__/fixtures/tax/index.ts
  integration-tests/modules/__tests__/order/order.spec.ts
  integration-tests/modules/__tests__/tax/admin/tax.spec.ts
  integration-tests/modules/__tests__/tax/workflow/tax.spec.ts
  packages/core/core-flows/src/tax/steps/create-tax-rates.ts
  packages/core/core-flows/src/tax/steps/create-tax-regions.ts
  packages/core/core-flows/src/tax/steps/delete-tax-rates.ts
  packages/core/core-flows/src/tax/steps/list-tax-rate-ids.ts
  packages/core/core-flows/src/tax/steps/update-tax-rates.ts
  packages/core/types/src/tax/service.ts
  packages/modules/tax/integration-tests/__tests__/index.spec.ts
  packages/modules/tax/integration-tests/utils/setup-tax-structure.ts
  packages/modules/tax/package.json
  packages/modules/tax/src/index.ts
  packages/modules/tax/src/module-definition.ts
  packages/modules/tax/src/scripts/bin/run-seed.ts
  packages/modules/tax/src/services/tax-module-service.ts
Labels: team: medusa

#7728 chore: Migrate payment module main entity
  integration-tests/modules/__tests__/link-modules/region-payment-provider.spec.ts
  integration-tests/modules/__tests__/modules/remote-query.spec.ts
  integration-tests/modules/__tests__/order/draft-order.spec.ts
  integration-tests/modules/__tests__/order/order.spec.ts
  packages/modules/payment/integration-tests/__tests__/loaders/providers.spec.ts
  packages/modules/payment/integration-tests/__tests__/services/payment-module/index.spec.ts
  packages/modules/payment/integration-tests/setup-env.js
  packages/modules/payment/integration-tests/setup.js
  packages/modules/payment/integration-tests/utils/config.ts
  packages/modules/payment/integration-tests/utils/database.ts
  packages/modules/payment/integration-tests/utils/get-init-module-config.ts
  packages/modules/payment/integration-tests/utils/index.ts
  packages/modules/payment/jest.config.js
  packages/modules/payment/package.json
  packages/modules/payment/src/index.ts
  packages/modules/payment/src/module-definition.ts
  packages/modules/payment/src/repositories/index.ts
  packages/modules/payment/src/scripts/bin/run-seed.ts
  packages/modules/payment/src/scripts/seed-utils.ts
  packages/modules/payment/src/services/payment-module.ts
Labels: team: medusa

#7741 Identify the owner when both sides defines a many to many relationship
  packages/core/utils/src/dml/__tests__/entity-builder.spec.ts
  packages/core/utils/src/dml/helpers/create-mikro-orm-entity.ts
Labels: team: medusa

#7694 feat(dashboard): display inventory levels in variants table
  packages/admin-next/dashboard/src/hooks/api/products.tsx
  packages/admin-next/dashboard/src/i18n/translations/en.json
  packages/admin-next/dashboard/src/routes/inventory/inventory-list/components/use-inventory-table-query.tsx
  packages/admin-next/dashboard/src/routes/products/product-detail/components/product-variant-section/product-variant-section.tsx
  packages/admin-next/dashboard/src/routes/products/product-detail/components/product-variant-section/use-variant-table-columns.tsx
  packages/core/types/src/http/inventory/admin/queries.ts
Labels: type: feature, team: medusa

#7742 chore: Migrate pricing module main entity
  integration-tests/modules/__tests__/cart/store/cart.workflows.spec.ts
  integration-tests/modules/__tests__/cart/store/carts.spec.ts
  integration-tests/modules/__tests__/link-modules/product-variant-price-set.spec.ts
  integration-tests/modules/__tests__/link-modules/shipping-option-price-set.spec.ts
  integration-tests/modules/__tests__/order/draft-order.spec.ts
  integration-tests/modules/__tests__/order/order.spec.ts
  integration-tests/modules/__tests__/price-lists/store/get-product.ts
  integration-tests/modules/__tests__/pricing/get-product.ts
  integration-tests/modules/helpers/create-default-rule-types.ts
  integration-tests/modules/helpers/create-variant-price-set.ts
  packages/core/core-flows/src/fulfillment/steps/add-shipping-options-prices.ts
  packages/core/core-flows/src/fulfillment/steps/set-shipping-options-prices.ts
  packages/core/core-flows/src/pricing/steps/create-price-sets.ts
  packages/core/core-flows/src/pricing/steps/create-pricing-rule-types.ts
  packages/core/core-flows/src/pricing/steps/update-price-sets.ts
  packages/core/types/src/pricing/service.ts
  packages/modules/pricing/integration-tests/__tests__/services/pricing-module/calculate-price.spec.ts
  packages/modules/pricing/integration-tests/__tests__/services/pricing-module/price-list-rule.spec.ts
  packages/modules/pricing/integration-tests/__tests__/services/pricing-module/price-list.spec.ts
  packages/modules/pricing/integration-tests/__tests__/services/pricing-module/price-rule.spec.ts
  packages/modules/pricing/integration-tests/__tests__/services/pricing-module/price-set.spec.ts
  packages/modules/pricing/integration-tests/__tests__/services/pricing-module/rule-type.spec.ts
  packages/modules/pricing/package.json
  packages/modules/pricing/src/index.ts
  packages/modules/pricing/src/module-definition.ts
  packages/modules/pricing/src/scripts/bin/run-seed.ts
  packages/modules/pricing/src/scripts/seed.ts
  packages/modules/pricing/src/services/pricing-module.ts
Labels: team: medusa

#7744 Mark all DML entities as soft delete-able by default
  packages/core/utils/src/dml/__tests__/entity-builder.spec.ts
  packages/core/utils/src/dml/entity-builder.ts
  packages/core/utils/src/dml/helpers/create-mikro-orm-entity.ts
Labels: team: medusa

#7743 feat(modules-sdk): define link
  .changeset/long-waves-itch.md
  packages/core/modules-sdk/src/index.ts
  packages/core/modules-sdk/src/medusa-app.ts
  packages/core/modules-sdk/src/medusa-module.ts
  packages/core/modules-sdk/src/utils/define-link.ts
  packages/core/modules-sdk/src/utils/index.ts
  packages/core/types/src/modules-sdk/index.ts
Labels: team: medusa

#7749 feat(core-flows,utils): add payment + shipment workflow events
  packages/core/core-flows/src/fulfillment/steps/update-fulfillment.ts
  packages/core/core-flows/src/fulfillment/workflows/create-shipment.ts
  packages/core/core-flows/src/fulfillment/workflows/update-fulfillment.ts
  packages/core/core-flows/src/order/workflows/create-shipment.ts
  packages/core/core-flows/src/payment/workflows/capture-payment.ts
  packages/core/core-flows/src/payment/workflows/refund-payment.ts
  packages/core/utils/src/fulfillment/events.ts
  packages/core/utils/src/payment/events.ts
  packages/core/utils/src/payment/index.ts
Labels: team: medusa

#7748 chore(payment-stripe): smallest unit
  packages/modules/providers/payment-stripe/src/core/stripe-base.ts
  packages/modules/providers/payment-stripe/src/utils/get-smallest-unit.ts
Labels: team: medusa

#7732 feat(dashboard,js-sdk,types,admin-shared): Add Product Types domain
  packages/admin-next/admin-shared/src/extensions/widgets/constants.ts
  packages/admin-next/dashboard/src/components/layout/settings-layout/settings-layout.tsx
  packages/admin-next/dashboard/src/hooks/api/product-types.tsx
  packages/admin-next/dashboard/src/hooks/api/products.tsx
  packages/admin-next/dashboard/src/hooks/table/filters/use-date-table-filters.tsx
  packages/admin-next/dashboard/src/hooks/table/filters/use-product-table-filters.tsx
  packages/admin-next/dashboard/src/hooks/table/query/use-product-table-query.tsx
  packages/admin-next/dashboard/src/i18n/translations/en.json
  packages/admin-next/dashboard/src/providers/router-provider/route-map.tsx
  packages/admin-next/dashboard/src/routes/product-types/common/hooks/use-delete-product-type-action.tsx
  packages/admin-next/dashboard/src/routes/product-types/product-type-create/components/create-product-type-form/create-product-type-form.tsx
  packages/admin-next/dashboard/src/routes/product-types/product-type-create/components/create-product-type-form/index.ts
  packages/admin-next/dashboard/src/routes/product-types/product-type-create/index.ts
  packages/admin-next/dashboard/src/routes/product-types/product-type-create/product-type-create.tsx
  packages/admin-next/dashboard/src/routes/product-types/product-type-detail/components/product-type-general-section/index.ts
  packages/admin-next/dashboard/src/routes/product-types/product-type-detail/components/product-type-general-section/product-type-general-section.tsx
  packages/admin-next/dashboard/src/routes/product-types/product-type-detail/components/product-type-product-section/index.ts
  packages/admin-next/dashboard/src/routes/product-types/product-type-detail/components/product-type-product-section/product-type-product-section.tsx
  packages/admin-next/dashboard/src/routes/product-types/product-type-detail/index.ts
  packages/admin-next/dashboard/src/routes/product-types/product-type-detail/loader.ts
  packages/admin-next/dashboard/src/routes/product-types/product-type-detail/product-type-detail.tsx
  packages/admin-next/dashboard/src/routes/product-types/product-type-edit/components/edit-product-type-form/edit-product-type-form.tsx
  packages/admin-next/dashboard/src/routes/product-types/product-type-edit/components/edit-product-type-form/index.ts
  packages/admin-next/dashboard/src/routes/product-types/product-type-edit/index.ts
  packages/admin-next/dashboard/src/routes/product-types/product-type-edit/product-type-edit.tsx
  packages/admin-next/dashboard/src/routes/product-types/product-type-list/components/product-type-list-table/index.ts
  packages/admin-next/dashboard/src/routes/product-types/product-type-list/components/product-type-list-table/product-table-row-actions.tsx
  packages/admin-next/dashboard/src/routes/product-types/product-type-list/components/product-type-list-table/product-type-list-table.tsx
  packages/admin-next/dashboard/src/routes/product-types/product-type-list/components/product-type-list-table/use-product-type-table-columns.tsx
  packages/admin-next/dashboard/src/routes/product-types/product-type-list/components/product-type-list-table/use-product-type-table-filters.tsx
  packages/admin-next/dashboard/src/routes/product-types/product-type-list/components/product-type-list-table/use-product-type-table-query.tsx
  packages/admin-next/dashboard/src/routes/product-types/product-type-list/index.ts
  packages/admin-next/dashboard/src/routes/product-types/product-type-list/product-type-list.tsx
  packages/core/js-sdk/src/admin/index.ts
  packages/core/js-sdk/src/admin/product-type.ts
  packages/core/js-sdk/src/admin/product.ts
  packages/core/types/src/http/index.ts
  packages/core/types/src/http/product-type/admin/entities.ts
  packages/core/types/src/http/product-type/admin/index.ts
  packages/core/types/src/http/product-type/admin/payloads.ts
  packages/core/types/src/http/product-type/admin/queries.ts
  packages/core/types/src/http/product-type/admin/responses.ts
  packages/core/types/src/http/product-type/common.ts
  packages/core/types/src/http/product-type/index.ts
  packages/core/types/src/http/product-type/store/entities.ts
  packages/core/types/src/http/product-type/store/index.ts
  packages/core/types/src/http/product/admin/entitites.ts
  packages/core/types/src/http/product/admin/queries.ts
  packages/core/types/src/http/product/common.ts
  packages/core/types/src/http/product/store/entitites.ts
  packages/core/types/src/http/product/store/queries.ts
  packages/medusa/src/api/admin/products/route.ts
  packages/medusa/src/api/admin/products/utils/maybe-apply-price-lists-filter.ts
Labels: automerge, team: medusa

#7753 fix(pricing): Only get prices from active price list
  packages/modules/pricing/integration-tests/__tests__/services/pricing-module/calculate-price.spec.ts
  packages/modules/pricing/src/repositories/pricing.ts
Labels: team: medusa

#7733 chore: Remove main entity from promotions
  integration-tests/modules/__tests__/cart/store/add-promotions-to-cart.spec.ts
  integration-tests/modules/__tests__/cart/store/carts.spec.ts
  integration-tests/modules/__tests__/cart/store/remove-promotions-from-cart.spec.ts
  integration-tests/modules/__tests__/promotion/admin/create-promotion.spec.ts
  integration-tests/modules/__tests__/promotion/admin/delete-promotion.spec.ts
  integration-tests/modules/__tests__/promotion/admin/list-promotions.spec.ts
  integration-tests/modules/__tests__/promotion/admin/promotion-rules.spec.ts
  integration-tests/modules/__tests__/promotion/admin/retrieve-promotion.spec.ts
  integration-tests/modules/__tests__/promotion/admin/update-promotion.spec.ts
  packages/core/core-flows/src/definition/cart/steps/get-promotion-codes-to-apply.ts
  packages/core/core-flows/src/definition/cart/steps/prepare-adjustments-from-promotion-actions.ts
  packages/core/core-flows/src/definition/cart/steps/update-cart-promotions.ts
  packages/core/core-flows/src/promotion/steps/create-campaigns.ts
  packages/core/core-flows/src/promotion/steps/create-promotions.ts
  packages/core/core-flows/src/promotion/steps/delete-promotions.ts
  packages/core/core-flows/src/promotion/steps/remove-rules-from-promotions.ts
  packages/core/core-flows/src/promotion/steps/update-promotions.ts
  packages/core/types/src/promotion/service.ts
  packages/modules/promotion/integration-tests/__fixtures__/promotion/index.ts
  packages/modules/promotion/integration-tests/__tests__/services/promotion-module/campaign.spec.ts
  packages/modules/promotion/integration-tests/__tests__/services/promotion-module/promotion.spec.ts
  packages/modules/promotion/package.json
  packages/modules/promotion/src/index.ts
  packages/modules/promotion/src/module-definition.ts
  packages/modules/promotion/src/services/promotion-module.ts
Labels: team: medusa

#7752 chore(orchestration): remote joiner - relationships as map
  packages/core/orchestration/src/joiner/remote-joiner.ts
  packages/core/types/src/joiner/index.ts
Labels: team: medusa

#7745 chore: Migrate cart module main entity
  integration-tests/modules/__tests__/cart/store/cart.workflows.spec.ts
  packages/core/core-flows/src/definition/cart/steps/create-carts.ts
  packages/core/core-flows/src/definition/cart/steps/retrieve-cart.ts
  packages/core/core-flows/src/definition/cart/steps/update-carts.ts
  packages/core/types/src/cart/mutations.ts
  packages/core/types/src/cart/service.ts
  packages/modules/cart/integration-tests/__tests__/services/cart-module/index.spec.ts
  packages/modules/cart/package.json
  packages/modules/cart/src/index.ts
  packages/modules/cart/src/module-definition.ts
  packages/modules/cart/src/repositories/index.ts
  packages/modules/cart/src/scripts/bin/run-seed.ts
  packages/modules/cart/src/scripts/seed.ts
  packages/modules/cart/src/services/cart-module.ts
Labels: team: medusa

#7756 Add support for indexes
  packages/core/utils/src/dml/__tests__/entity-builder.spec.ts
  packages/core/utils/src/dml/helpers/create-mikro-orm-entity.ts
  packages/core/utils/src/dml/schema/base.ts
  packages/core/utils/src/dml/types.ts
Labels: team: medusa

#7759 feat: defineJoinerConfig
  packages/core/types/src/file/mutations.ts
  packages/core/types/src/file/provider.ts
  packages/core/utils/src/common/get-caller-file-path.ts
  packages/core/utils/src/common/index.ts
  packages/core/utils/src/modules-sdk/__tests__/joiner-config-builder.spec.ts
  packages/core/utils/src/modules-sdk/index.ts
  packages/core/utils/src/modules-sdk/joiner-config-builder.ts
  packages/modules/api-key/src/joiner-config.ts
  packages/modules/auth/src/joiner-config.ts
  packages/modules/cart/src/joiner-config.ts
  packages/modules/currency/src/joiner-config.ts
  packages/modules/customer/src/joiner-config.ts
  packages/modules/file/src/joiner-config.ts
  packages/modules/fulfillment/src/joiner-config.ts
  packages/modules/inventory-next/src/joiner-config.ts
  packages/modules/notification/src/joiner-config.ts
  packages/modules/order/src/index.ts
  packages/modules/order/src/joiner-config.ts
  packages/modules/order/src/module-definition.ts
  packages/modules/payment/src/joiner-config.ts
  packages/modules/pricing/src/joiner-config.ts
  packages/modules/product/src/joiner-config.ts
  packages/modules/promotion/src/joiner-config.ts
  packages/modules/promotion/src/repositories/index.ts
  packages/modules/providers/file-local/src/services/local-file.ts
  packages/modules/region/src/joiner-config.ts
  packages/modules/sales-channel/src/joiner-config.ts
  packages/modules/stock-location-next/src/joiner-config.ts
  packages/modules/store/src/joiner-config.ts
  packages/modules/tax/src/joiner-config.ts
  packages/modules/user/src/joiner-config.ts
  packages/modules/workflow-engine-inmemory/src/joiner-config.ts
  packages/modules/workflow-engine-redis/src/joiner-config.ts
  yarn.lock
Labels: team: medusa

#7760 fix: extend timeout on flaky spec
  packages/modules/workflow-engine-redis/integration-tests/__tests__/index.spec.ts
Labels: team: medusa

#7761 Rename schema to property
  packages/core/utils/src/dml/__tests__/base-property.spec.ts
  packages/core/utils/src/dml/__tests__/base-relationship.spec.ts
  packages/core/utils/src/dml/__tests__/base-schema.spec.ts
  packages/core/utils/src/dml/__tests__/boolean-property.spec.ts
  packages/core/utils/src/dml/__tests__/boolean-schema.spec.ts
  packages/core/utils/src/dml/__tests__/date-time-property.spec.ts
  packages/core/utils/src/dml/__tests__/date-time-schema.spec.ts
  packages/core/utils/src/dml/__tests__/enum-schema.spec.ts
  packages/core/utils/src/dml/__tests__/has-many-relationship.spec.ts
  packages/core/utils/src/dml/__tests__/has-one-relationship.spec.ts
  packages/core/utils/src/dml/__tests__/json-property.spec.ts
  packages/core/utils/src/dml/__tests__/json-schema.spec.ts
  packages/core/utils/src/dml/__tests__/many-to-many.spec.ts
  packages/core/utils/src/dml/__tests__/number-property.spec.ts
  packages/core/utils/src/dml/__tests__/number-schema.spec.ts
  packages/core/utils/src/dml/__tests__/text-property.spec.ts
  packages/core/utils/src/dml/__tests__/text-schema.spec.ts
  packages/core/utils/src/dml/entity-builder.ts
  packages/core/utils/src/dml/entity.ts
  packages/core/utils/src/dml/helpers/create-mikro-orm-entity.ts
  packages/core/utils/src/dml/properties/base.ts
  packages/core/utils/src/dml/properties/boolean.ts
  packages/core/utils/src/dml/properties/date-time.ts
  packages/core/utils/src/dml/properties/enum.ts
  packages/core/utils/src/dml/properties/json.ts
  packages/core/utils/src/dml/properties/nullable.ts
  packages/core/utils/src/dml/properties/number.ts
  packages/core/utils/src/dml/properties/text.ts
  packages/core/utils/src/dml/relations/nullable.ts
  packages/core/utils/src/dml/schema/boolean.ts
  packages/core/utils/src/dml/schema/date-time.ts
  packages/core/utils/src/dml/schema/enum.ts
  packages/core/utils/src/dml/schema/json.ts
  packages/core/utils/src/dml/schema/number.ts
  packages/core/utils/src/dml/schema/text.ts
  packages/core/utils/src/dml/types.ts
Labels: team: medusa

#7758 fix: Medusa service base method transaction
  packages/core/utils/src/modules-sdk/__tests__/medusa-service.spec.ts
  packages/core/utils/src/modules-sdk/medusa-service.ts
  packages/modules/product/integration-tests/__tests__/product-category.ts
  packages/modules/product/integration-tests/__tests__/product-module-service/product-categories.spec.ts
  packages/modules/product/src/repositories/product-category.ts
  packages/modules/product/src/services/product-category.ts
  packages/modules/workflow-engine-inmemory/integration-tests/__tests__/index.spec.ts
  packages/modules/workflow-engine-redis/integration-tests/__tests__/index.spec.ts
Labels: type: bug, automerge, team: medusa

#7751 fix(core-flows): delete existing payment session before creating new
  integration-tests/http/__tests__/payment-collection/admin/payment-sessions.spec.ts
  integration-tests/modules/__tests__/payment/payment-session.workflows.spec.ts
  packages/core/core-flows/src/definition/cart/workflows/refresh-payment-collection.ts
  packages/core/core-flows/src/definition/index.ts
  packages/core/core-flows/src/definition/payment-collection/steps/delete-payment-session.ts
  packages/core/core-flows/src/definition/payment-collection/steps/index.ts
  packages/core/core-flows/src/definition/payment-collection/steps/retrieve-payment-collection.ts
  packages/core/core-flows/src/definition/payment-collection/workflows/create-payment-session.ts
  packages/core/core-flows/src/index.ts
  packages/core/core-flows/src/payment-collection/index.ts
  packages/core/core-flows/src/payment-collection/steps/create-payment-session.ts
  packages/core/core-flows/src/payment-collection/steps/delete-payment-sessions.ts
  packages/core/core-flows/src/payment-collection/steps/index.ts
  packages/core/core-flows/src/payment-collection/steps/update-payment-collection.ts
  packages/core/core-flows/src/payment-collection/steps/validate-deleted-payment-sessions.ts
  packages/core/core-flows/src/payment-collection/workflows/create-payment-session.ts
  packages/core/core-flows/src/payment-collection/workflows/delete-payment-sessions.ts
  packages/core/core-flows/src/payment-collection/workflows/index.ts
Labels: automerge, team: medusa

#7766 Chore/migrate order module main entity 3
  integration-tests/modules/__tests__/order/order.spec.ts
  integration-tests/modules/__tests__/order/workflows/cancel-order.spec.ts
  integration-tests/modules/__tests__/order/workflows/create-fulfillment.spec.ts
  integration-tests/modules/__tests__/order/workflows/create-return.spec.ts
  integration-tests/modules/__tests__/order/workflows/create-shipment.spec.ts
  packages/core/core-flows/src/order/steps/cancel-orders.ts
  packages/core/core-flows/src/order/steps/complete-orders.ts
  packages/core/core-flows/src/order/steps/create-orders.ts
  packages/core/types/src/order/service.ts
  packages/modules/order/integration-tests/__tests__/create-order.ts
  packages/modules/order/integration-tests/__tests__/order-edit.ts
  packages/modules/order/integration-tests/__tests__/order-items-shipping.spec.ts
  packages/modules/order/integration-tests/__tests__/order-return.ts
  packages/modules/order/integration-tests/__tests__/returns.ts
  packages/modules/order/integration-tests/setup-env.js
  packages/modules/order/integration-tests/setup.js
  packages/modules/order/jest.config.js
  packages/modules/order/package.json
  packages/modules/order/src/scripts/bin/run-seed.ts
  packages/modules/order/src/services/order-module-service.ts
Labels: team: medusa

#7747 feat(dashboard): Add Optimistic UI to category rank form + style updates
  packages/admin-next/dashboard/src/routes/categories/category-create/components/create-category-form/create-category-form.tsx
  packages/admin-next/dashboard/src/routes/categories/category-create/components/create-category-form/create-category-nesting.tsx
  packages/admin-next/dashboard/src/routes/categories/category-organize/category-organize.tsx
  packages/admin-next/dashboard/src/routes/categories/category-organize/components/organize-category-form/organize-category-form.tsx
  packages/admin-next/dashboard/src/routes/categories/common/components/category-tree/category-tree.tsx
  packages/admin-next/dashboard/src/routes/categories/common/components/category-tree/index.ts
  packages/admin-next/dashboard/src/routes/categories/common/components/category-tree/styles.css
  packages/admin-next/dashboard/src/routes/categories/common/types.ts
  packages/admin-next/dashboard/src/routes/categories/common/utils.ts
Labels: automerge, team: medusa

#7764 chore: Add back the db utils to the test runner for specific cases
  packages/core/medusa-test-utils/src/medusa-test-runner.ts
Labels: type: chore, team: medusa

#7765 Add support for created and updated at timestamps
  packages/core/utils/src/dml/__tests__/entity-builder.spec.ts
  packages/core/utils/src/dml/entity-builder.ts
  packages/core/utils/src/dml/helpers/create-mikro-orm-entity.ts
Labels: team: medusa

#7746 feat(dashboard,types,promotion,medusa): hide fields on promotions depending on templates
  packages/admin-next/dashboard/src/hooks/api/promotions.tsx
  packages/admin-next/dashboard/src/i18n/translations/en.json
  packages/admin-next/dashboard/src/lib/client/promotions.ts
  packages/admin-next/dashboard/src/routes/promotions/common/edit-rules/components/edit-rules-form/edit-rules-form.tsx
  packages/admin-next/dashboard/src/routes/promotions/common/edit-rules/components/edit-rules-form/form-schema.ts
  packages/admin-next/dashboard/src/routes/promotions/common/edit-rules/components/edit-rules-form/utils.ts
  packages/admin-next/dashboard/src/routes/promotions/common/edit-rules/components/edit-rules-wrapper/edit-rules-wrapper.tsx
  packages/admin-next/dashboard/src/routes/promotions/common/edit-rules/components/edit-rules-wrapper/utils.ts
  packages/admin-next/dashboard/src/routes/promotions/common/edit-rules/components/rules-form-field/rules-form-field.tsx
  packages/admin-next/dashboard/src/routes/promotions/promotion-create/components/create-promotion-form/create-promotion-form.tsx
  packages/admin-next/dashboard/src/routes/promotions/promotion-create/components/create-promotion-form/form-schema.ts
  packages/admin-next/dashboard/src/routes/promotions/promotion-create/components/create-promotion-form/templates.ts
  packages/admin-next/dashboard/src/routes/promotions/promotion-detail/components/promotion-conditions-section/promotion-conditions-section.tsx
  packages/core/types/src/http/promotion/admin/rule-attribute-options.ts
  packages/core/types/src/promotion/common/application-method.ts
  packages/medusa/src/api/admin/promotions/[id]/[rule_type]/route.ts
  packages/medusa/src/api/admin/promotions/rule-attribute-options/[rule_type]/route.ts
  packages/medusa/src/api/admin/promotions/rule-operator-options/route.ts
  packages/medusa/src/api/admin/promotions/rule-value-options/[rule_type]/[rule_attribute_id]/route.ts
  packages/medusa/src/api/admin/promotions/utils/rule-attributes-map.ts
  packages/medusa/src/api/admin/promotions/utils/validate-rule-attribute.ts
  packages/medusa/src/api/admin/promotions/validators.ts
  packages/modules/promotion/src/migrations/Migration20240617102917.ts
  packages/modules/promotion/src/types/application-method.ts
Labels: automerge, team: medusa

#7774 Handle embedded pg schema name inside the table name when generating indexes
  packages/core/utils/src/common/__tests__/create-psql-index-helper.spec.ts
  packages/core/utils/src/common/create-psql-index-helper.ts
  packages/core/utils/src/dml/__tests__/entity-builder.spec.ts
  packages/core/utils/src/dml/helpers/create-mikro-orm-entity.ts
Labels: team: medusa

#7767 feat(dashboard): variant details page
  packages/admin-next/dashboard/src/hooks/api/products.tsx
  packages/admin-next/dashboard/src/i18n/translations/en.json
  packages/admin-next/dashboard/src/providers/router-provider/route-map.tsx
  packages/admin-next/dashboard/src/routes/product-variants/product-variant-detail/components/variant-general-section/index.ts
  packages/admin-next/dashboard/src/routes/product-variants/product-variant-detail/components/variant-general-section/variant-general-section.tsx
  packages/admin-next/dashboard/src/routes/product-variants/product-variant-detail/components/variant-inventory-section/index.ts
  packages/admin-next/dashboard/src/routes/product-variants/product-variant-detail/components/variant-inventory-section/inventory-actions.tsx
  packages/admin-next/dashboard/src/routes/product-variants/product-variant-detail/components/variant-inventory-section/use-inventory-table-columns.tsx
  packages/admin-next/dashboard/src/routes/product-variants/product-variant-detail/components/variant-inventory-section/variant-inventory-section.tsx
  packages/admin-next/dashboard/src/routes/product-variants/product-variant-detail/components/variant-prices-section/index.ts
  packages/admin-next/dashboard/src/routes/product-variants/product-variant-detail/components/variant-prices-section/variant-prices-section.tsx
  packages/admin-next/dashboard/src/routes/product-variants/product-variant-detail/constants.ts
  packages/admin-next/dashboard/src/routes/product-variants/product-variant-detail/index.ts
  packages/admin-next/dashboard/src/routes/product-variants/product-variant-detail/loader.ts
  packages/admin-next/dashboard/src/routes/product-variants/product-variant-detail/product-variant-detail.tsx
  packages/admin-next/dashboard/src/routes/product-variants/product-variant-edit/components/product-edit-variant-form/index.ts
  packages/admin-next/dashboard/src/routes/product-variants/product-variant-edit/components/product-edit-variant-form/product-edit-variant-form.tsx
  packages/admin-next/dashboard/src/routes/product-variants/product-variant-edit/index.ts
  packages/admin-next/dashboard/src/routes/product-variants/product-variant-edit/loader.ts
  packages/admin-next/dashboard/src/routes/product-variants/product-variant-edit/product-variant-edit.tsx
  packages/admin-next/dashboard/src/routes/products/product-detail/components/product-variant-section/product-variant-section.tsx
  packages/admin-next/dashboard/src/routes/products/product-edit-variant/index.ts
  packages/admin-next/dashboard/src/routes/products/product-prices/pricing-edit.tsx
  packages/admin-next/dashboard/src/routes/products/product-prices/product-prices.tsx
Labels: team: medusa

#7775 Add support for id property type
  packages/core/utils/src/dml/__tests__/entity-builder.spec.ts
  packages/core/utils/src/dml/__tests__/id-property.spec.ts
  packages/core/utils/src/dml/entity-builder.ts
  packages/core/utils/src/dml/helpers/create-mikro-orm-entity.ts
  packages/core/utils/src/dml/properties/id.ts
  packages/core/utils/src/dml/types.ts
Labels: team: medusa

#7777 feat(dashboard): move shipping profile to locations
  packages/admin-next/dashboard/src/components/layout/settings-layout/settings-layout.tsx
  packages/admin-next/dashboard/src/i18n/translations/en.json
  packages/admin-next/dashboard/src/providers/router-provider/route-map.tsx
  packages/admin-next/dashboard/src/routes/inventory/inventory-detail/components/inventory-item-variants/variants-section.tsx
  packages/admin-next/dashboard/src/routes/locations/location-list/location-list.tsx
  packages/admin-next/dashboard/src/routes/product-variants/product-variant-detail/components/variant-prices-section/variant-prices-section.tsx
  packages/admin-next/dashboard/src/routes/shipping-profiles/shipping-profile-create/components/create-shipping-profile-form/create-shipping-profile-form.tsx
  packages/admin-next/dashboard/src/routes/shipping-profiles/shipping-profile-detail/components/shipping-profile-general-section/shipping-profile-general-section.tsx
  packages/admin-next/dashboard/src/routes/shipping-profiles/shipping-profile-detail/index.ts
  packages/admin-next/dashboard/src/routes/shipping-profiles/shipping-profile-detail/loader.ts
Labels: automerge, team: medusa

#7779 Add support for pivot table and entity in manyToMany relationships
  packages/core/utils/src/dml/__tests__/base-relationship.spec.ts
  packages/core/utils/src/dml/__tests__/entity-builder.spec.ts
  packages/core/utils/src/dml/__tests__/has-many-relationship.spec.ts
  packages/core/utils/src/dml/__tests__/has-one-relationship.spec.ts
  packages/core/utils/src/dml/__tests__/many-to-many.spec.ts
  packages/core/utils/src/dml/entity-builder.ts
  packages/core/utils/src/dml/helpers/create-mikro-orm-entity.ts
  packages/core/utils/src/dml/relations/base.ts
  packages/core/utils/src/dml/types.ts
Labels: team: medusa

#7776 chore: export DML builders + fix default undefined values in SQL
  integration-tests/api/package.json
  integration-tests/http/package.json
  integration-tests/modules/package.json
  packages/cli/medusa-cli/package.json
  packages/cli/medusa-dev-cli/package.json
  packages/core/utils/src/bundles.ts
  packages/core/utils/src/dml/helpers/create-mikro-orm-entity.ts
  packages/core/utils/src/dml/index.ts
  packages/core/utils/src/index.ts
  packages/medusa/package.json
  packages/modules/providers/auth-emailpass/package.json
  packages/modules/providers/file-local/package.json
  packages/modules/providers/file-s3/package.json
  packages/modules/providers/fulfillment-manual/package.json
  packages/modules/providers/notification-local/package.json
  packages/modules/providers/notification-sendgrid/package.json
  packages/modules/providers/payment-stripe/package.json
  yarn.lock
Labels: team: medusa

#7787 chore: Rename all event keys to uppercase
  packages/core/core-flows/src/definition/cart/workflows/complete-cart.ts
  packages/core/utils/src/event-bus/utils.ts
  packages/core/utils/src/modules-sdk/event-builder-factory.ts
  packages/core/utils/src/order/events.ts
  packages/core/utils/src/user/events.ts
  packages/modules/fulfillment/integration-tests/__tests__/fulfillment-module-service/fulfillment-set.spec.ts
  packages/modules/fulfillment/integration-tests/__tests__/fulfillment-module-service/fulfillment.spec.ts
  packages/modules/fulfillment/integration-tests/__tests__/fulfillment-module-service/geo-zone.spec.ts
  packages/modules/fulfillment/integration-tests/__tests__/fulfillment-module-service/service-zone.spec.ts
  packages/modules/fulfillment/integration-tests/__tests__/fulfillment-module-service/shipping-option.spec.ts
  packages/modules/fulfillment/integration-tests/__tests__/fulfillment-module-service/shipping-profile.spec.ts
  packages/modules/fulfillment/src/utils/events.ts
  packages/modules/inventory-next/src/services/inventory-module.ts
  packages/modules/pricing/integration-tests/__tests__/services/pricing-module/price-list.spec.ts
  packages/modules/pricing/integration-tests/__tests__/services/pricing-module/price-set.spec.ts
  packages/modules/product/integration-tests/__tests__/product-module-service/product-categories.spec.ts
  packages/modules/product/integration-tests/__tests__/product-module-service/product-tags.spec.ts
  packages/modules/product/integration-tests/__tests__/product-module-service/product-variants.spec.ts
  packages/modules/product/src/utils/events.ts
  packages/modules/user/integration-tests/__tests__/invite.spec.ts
  packages/modules/user/integration-tests/__tests__/user.spec.ts
  packages/modules/user/src/services/user-module.ts
Labels: team: medusa

#7784 fix: Allow filtering products by variant options in store
  integration-tests/api/__tests__/store/products.js
  integration-tests/http/__tests__/product/store/product.spec.ts
  packages/core/types/src/product/common.ts
  packages/medusa/src/api/store/products/validators.ts
  packages/medusa/src/api/utils/validate-query.ts
  packages/modules/product/integration-tests/__tests__/product-module-service/products.spec.ts
Labels: team: medusa

#7792 chore: Internal medusa service proper typings with DML
  packages/core/types/src/bundles.ts
  packages/core/types/src/dml/index.ts
  packages/core/types/src/index.ts
  packages/core/types/src/modules-sdk/medusa-internal-service.ts
  packages/core/utils/package.json
  packages/core/utils/src/dml/__tests__/base-property.spec.ts
  packages/core/utils/src/dml/entity-builder.ts
  packages/core/utils/src/dml/entity.ts
  packages/core/utils/src/dml/helpers/create-mikro-orm-entity.ts
  packages/core/utils/src/dml/properties/base.ts
  packages/core/utils/src/dml/properties/nullable.ts
  packages/core/utils/src/dml/relations/base.ts
  packages/core/utils/src/dml/relations/belongs-to.ts
  packages/core/utils/src/dml/relations/has-many.ts
  packages/core/utils/src/dml/relations/has-one.ts
  packages/core/utils/src/dml/relations/many-to-many.ts
  packages/core/utils/src/dml/relations/nullable.ts
  packages/core/utils/src/modules-sdk/medusa-internal-service.ts
  packages/modules/inventory-next/src/services/inventory-level.ts
  packages/modules/inventory-next/src/services/inventory-module.ts
  packages/modules/order/src/services/order-change-service.ts
  packages/modules/order/src/services/order-module-service.ts
  packages/modules/order/src/services/order-service.ts
  packages/modules/pricing/src/services/price-list.ts
  packages/modules/pricing/src/services/pricing-module.ts
  packages/modules/pricing/src/services/rule-type.ts
  packages/modules/product/src/services/product-category.ts
  packages/modules/product/src/services/product-module-service.ts
  packages/modules/product/src/services/product.ts
Labels: team: medusa

#7795 feat: initialize nullable properties with null value
  packages/core/utils/src/dml/__tests__/entity-builder.spec.ts
  packages/core/utils/src/dml/helpers/create-mikro-orm-entity.ts
Labels: team: medusa

#7791 fix(dashboard): Fix CSS in Safari
  packages/admin-next/dashboard/src/components/data-grid/data-grid-cells/data-grid-currency-cell.tsx
Labels: team: medusa

#7794 fix(dashboard): manage locations for item location levels
  packages/admin-next/dashboard/src/i18n/translations/en.json
  packages/admin-next/dashboard/src/routes/inventory/inventory-detail/components/manage-locations/components/location-item.tsx
  packages/admin-next/dashboard/src/routes/inventory/inventory-detail/components/manage-locations/components/manage-locations-form.tsx
Labels: team: medusa

#7796 feat(core-flows,types,pricing,medusa): Products API can create prices with rules
  integration-tests/http/__tests__/product/admin/product.spec.ts
  integration-tests/http/__tests__/product/admin/variant.spec.ts
  packages/core/core-flows/src/pricing/steps/update-price-sets.ts
  packages/core/types/src/pricing/service.ts
  packages/medusa/src/api/admin/products/[id]/variants/[variant_id]/route.ts
  packages/medusa/src/api/admin/products/helpers.ts
  packages/medusa/src/api/admin/products/query-config.ts
  packages/medusa/src/api/admin/products/validators.ts
  packages/modules/pricing/integration-tests/__tests__/services/pricing-module/price-list.spec.ts
  packages/modules/pricing/integration-tests/__tests__/services/pricing-module/price-set.spec.ts
  packages/modules/pricing/src/services/pricing-module.ts
Labels: team: medusa

#7798 Feat/define mikro orm configuration dev
  packages/core/utils/src/dml/helpers/create-mikro-orm-entity.ts
  packages/core/utils/src/modules-sdk/__tests__/mikro-orm-cli-config-builder.spec.ts
  packages/core/utils/src/modules-sdk/migration-scripts/migration-down.ts
  packages/core/utils/src/modules-sdk/migration-scripts/migration-up.ts
  packages/core/utils/src/modules-sdk/mikro-orm-cli-config-builder.ts
Labels: type: feature, team: medusa

#7799 chore: Update module test runner to support DmlEntities when needed
  integration-tests/api/jest.config.js
  integration-tests/http/jest.config.js
  integration-tests/jest.config.js
  integration-tests/modules/jest.config.js
  integration-tests/tsconfig.json
  packages/core/core-flows/jest.config.js
  packages/core/medusa-test-utils/src/module-test-runner.ts
  packages/core/medusa-test-utils/tsconfig.json
  packages/core/utils/src/dml/helpers/create-mikro-orm-entity.ts
  packages/core/utils/src/modules-sdk/index.ts
  packages/core/utils/src/modules-sdk/joiner-config-builder.ts
  packages/core/utils/src/modules-sdk/loaders/load-models.ts
  packages/modules/cache-inmemory/jest.config.js
  packages/modules/cache-redis/jest.config.js
  packages/modules/event-bus-local/jest.config.js
  packages/modules/event-bus-redis/jest.config.js
  packages/modules/providers/file-s3/jest.config.js
  packages/modules/providers/fulfillment-manual/jest.config.js
  packages/modules/providers/notification-sendgrid/jest.config.js
  packages/modules/providers/payment-stripe/jest.config.js
Labels: type: chore, team: medusa

#7801 feat(types,utils): DML can create a bigNumber property
  packages/core/types/src/dml/index.ts
  packages/core/utils/src/dal/mikro-orm/big-number-field.ts
  packages/core/utils/src/dml/__tests__/big-number-property.spec.ts
  packages/core/utils/src/dml/__tests__/entity-builder.spec.ts
  packages/core/utils/src/dml/entity-builder.ts
  packages/core/utils/src/dml/entity.ts
  packages/core/utils/src/dml/helpers/create-mikro-orm-entity.ts
  packages/core/utils/src/dml/helpers/entity-builder/create-big-number-properties.ts
  packages/core/utils/src/dml/helpers/entity-builder/create-default-properties.ts
  packages/core/utils/src/dml/properties/big-number.ts
  packages/core/utils/src/dml/properties/json.ts
Labels: automerge, team: medusa

#7710 docs: update admin auth api
  packages/medusa-js/src/resources/admin/auth.ts
Labels: type: docs, automerge

#7772 Update create.mdx
  www/apps/docs/content/development/plugins/create.mdx
Labels: type: docs, automerge

#7809 chore: Fix export and option of mikro orm define config util
  packages/core/utils/src/modules-sdk/index.ts
  packages/core/utils/src/modules-sdk/medusa-internal-service.ts
  packages/core/utils/src/modules-sdk/mikro-orm-cli-config-builder.ts
Labels: type: chore, automerge, team: medusa

#7814 feat(utils): configure notification module by default
  packages/core/utils/src/common/__tests__/define-config.spec.ts
  packages/core/utils/src/common/define-config.ts
Labels: automerge, type: feature, team: medusa

#7808 Add support for tax inclusivity to region and store
  integration-tests/helpers/seed-storefront-defaults.ts
  integration-tests/http/__tests__/product/store/product.spec.ts
  integration-tests/http/__tests__/store/admin/store.spec.ts
  integration-tests/modules/__tests__/link-modules/store-currency.spec.ts
  integration-tests/modules/__tests__/store/admin/store.spec.ts
  packages/admin-next/dashboard/src/i18n/translations/en.json
  packages/admin-next/dashboard/src/routes/campaigns/common/components/create-campaign-form-fields/create-campaign-form-fields.tsx
  packages/admin-next/dashboard/src/routes/locations/location-service-zone-shipping-option-create/components/create-shipping-options-form/create-shipping-options-prices-form.tsx
  packages/admin-next/dashboard/src/routes/locations/location-service-zone-shipping-option-pricing/components/create-shipping-options-form/edit-shipping-options-pricing-form.tsx
  packages/admin-next/dashboard/src/routes/pricing/pricing-create/components/pricing-create-form/pricing-prices-form.tsx
  packages/admin-next/dashboard/src/routes/pricing/pricing-products-prices/components/pricing-products-prices-form/pricing-products-prices-form.tsx
  packages/admin-next/dashboard/src/routes/products/common/variant-pricing-form.tsx
  packages/admin-next/dashboard/src/routes/products/product-create/components/product-create-variants-form/product-create-variants-form.tsx
  packages/admin-next/dashboard/src/routes/promotions/common/edit-rules/components/rule-value-form-field/rule-value-form-field.tsx
  packages/admin-next/dashboard/src/routes/regions/region-create/components/create-region-form/create-region-form.tsx
  packages/admin-next/dashboard/src/routes/regions/region-create/region-create.tsx
  packages/admin-next/dashboard/src/routes/regions/region-edit/region-edit.tsx
  packages/admin-next/dashboard/src/routes/store/store-add-currencies/components/add-currencies-form/add-currencies-form.tsx
  packages/admin-next/dashboard/src/routes/store/store-detail/components/store-currency-section/store-currencies-section.tsx/store-currency-section.tsx
  packages/admin-next/dashboard/src/routes/store/store-detail/components/store-general-section/store-general-section.tsx
  packages/admin-next/dashboard/src/routes/store/store-edit/components/edit-store-form/edit-store-form.tsx
  packages/admin-next/dashboard/src/types/api-responses.ts
  packages/core/core-flows/src/defaults/steps/create-default-store.ts
  packages/core/types/src/bundles.ts
  packages/core/types/src/index.ts
  packages/core/types/src/region/common.ts
  packages/core/types/src/region__legacy/common.ts
  packages/core/types/src/region__legacy/index.ts
  packages/core/types/src/store/common/store.ts
  packages/core/types/src/store/mutations/store.ts
  packages/core/types/src/store/service.ts
  packages/medusa/src/api/admin/stores/query-config.ts
  packages/medusa/src/api/admin/stores/validators.ts
  packages/modules/link-modules/src/definitions/readonly/index.ts
  packages/modules/link-modules/src/definitions/readonly/store-currency.ts
  packages/modules/region/src/migrations/.snapshot-medusa-region.json
  packages/modules/region/src/migrations/Migration20240205173216.ts
  packages/modules/store/integration-tests/__fixtures__/index.ts
  packages/modules/store/integration-tests/__tests__/store-module-service.spec.ts
  packages/modules/store/src/migrations/.snapshot-medusa-store.json
  packages/modules/store/src/migrations/Migration20240621145944.ts
  packages/modules/store/src/models/currency.ts
  packages/modules/store/src/models/index.ts
  packages/modules/store/src/models/store.ts
  packages/modules/store/src/services/store-module-service.ts
Labels: automerge, team: medusa

#7821 fix(promotion): scope campaign identifier index with deleted at
  packages/modules/promotion/integration-tests/__tests__/services/promotion-module/campaign.spec.ts
  packages/modules/promotion/src/migrations/.snapshot-medusa-promotion.json
  packages/modules/promotion/src/migrations/Migration20240624153824.ts
  packages/modules/promotion/src/models/campaign.ts
Labels: team: medusa
