Repository medusajs/medusa, pull requests merged in 2024-01, with the labels that each got.

#5978 Update create.md
  www/apps/docs/content/development/scheduled-jobs/create.md
Labels: automerge

#5838 feat(medusa-payment-stripe): Add delay to Stripe webhook
  .changeset/metal-pans-beg.md
  packages/medusa-payment-stripe/package.json
  packages/medusa-payment-stripe/src/api/admin/orders/stripe-payments/[order_id]/route.ts
  packages/medusa-payment-stripe/src/api/hooks/index.ts
  packages/medusa-payment-stripe/src/api/hooks/stripe.ts
  packages/medusa-payment-stripe/src/api/index.ts
  packages/medusa-payment-stripe/src/api/middlewares.ts
  packages/medusa-payment-stripe/src/api/stripe/hooks/route.ts
  packages/medusa-payment-stripe/src/api/utils/__tests__/utils.spec.ts
  packages/medusa-payment-stripe/src/api/utils/utils.ts
  packages/medusa-payment-stripe/src/core/stripe-base.ts
  packages/medusa-payment-stripe/src/index.ts
  packages/medusa-payment-stripe/src/subscribers/stripe.ts
  packages/medusa-payment-stripe/src/types/index.ts
  packages/medusa/src/api/routes/store/auth/create-session.ts
  yarn.lock
Labels: automerge, has: breaking changes

#5986 feat(cart): Data models
  packages/cart/src/models/address.ts
  packages/cart/src/models/adjustment-line.ts
  packages/cart/src/models/cart.ts
  packages/cart/src/models/index.ts
  packages/cart/src/models/line-item-adjustment-line.ts
  packages/cart/src/models/line-item-tax-line.ts
  packages/cart/src/models/line-item.ts
  packages/cart/src/models/shipping-method-adjustment-line.ts
  packages/cart/src/models/shipping-method-tax-line.ts
  packages/cart/src/models/shipping-method.ts
  packages/cart/src/models/tax-line.ts
Labels: automerge

#5990 fix(medusa): Ordering management using joins and pagination
  .changeset/sour-birds-build.md
  integration-tests/api/__tests__/admin/sales-channels.js
  packages/medusa/src/repositories/product.ts
  packages/medusa/src/utils/repository.ts
Labels: automerge

#6026 Update meilisearch.md
  www/apps/docs/content/plugins/search/meilisearch.md
Labels: automerge

#6031 docs: documentation updates for v1.20
  packages/types/src/pricing/service.ts
  www/apps/docs/content/plugins/payment/stripe.mdx
  www/apps/docs/content/upgrade-guides/medusa-core/1-20.mdx
  www/apps/docs/content/upgrade-guides/plugins/stripe/6-0-7.md
  www/apps/docs/content/upgrade-guides/plugins/stripe/_category.json
  www/apps/docs/content/user-guide/tips/languages.md
Labels: version: next

#6035 chore: abstract the modules repository
  .changeset/swift-mice-leave.md
  packages/authentication/src/repositories/auth-provider.ts
  packages/authentication/src/repositories/auth-user.ts
  packages/link-modules/src/repositories/link.ts
  packages/pricing/integration-tests/__tests__/services/price-list-rule/index.spec.ts
  packages/pricing/integration-tests/__tests__/services/price-rule/index.spec.ts
  packages/pricing/integration-tests/__tests__/services/price-set/index.spec.ts
  packages/pricing/integration-tests/__tests__/services/pricing-module/price-list-rule.spec.ts
  packages/pricing/integration-tests/__tests__/services/pricing-module/price-rule.spec.ts
  packages/pricing/src/repositories/currency.ts
  packages/pricing/src/repositories/money-amount.ts
  packages/pricing/src/repositories/price-list-rule-value.ts
  packages/pricing/src/repositories/price-list-rule.ts
  packages/pricing/src/repositories/price-list.ts
  packages/pricing/src/repositories/price-rule.ts
  packages/pricing/src/repositories/price-set-money-amount-rules.ts
  packages/pricing/src/repositories/price-set-money-amount.ts
  packages/pricing/src/repositories/price-set-rule-type.ts
  packages/pricing/src/repositories/price-set.ts
  packages/pricing/src/repositories/pricing.ts
  packages/pricing/src/repositories/rule-type.ts
  packages/pricing/src/services/rule-type.ts
  packages/product/src/repositories/product-category.ts
  packages/product/src/repositories/product-collection.ts
  packages/product/src/repositories/product-image.ts
  packages/product/src/repositories/product-option-value.ts
  packages/product/src/repositories/product-option.ts
  packages/product/src/repositories/product-tag.ts
  packages/product/src/repositories/product-type.ts
  packages/product/src/repositories/product-variant.ts
  packages/product/src/repositories/product.ts
  packages/promotion/integration-tests/__tests__/services/promotion-module/promotion.spec.ts
  packages/promotion/src/repositories/application-method.ts
  packages/promotion/src/repositories/promotion-rule-value.ts
  packages/promotion/src/repositories/promotion-rule.ts
  packages/promotion/src/repositories/promotion.ts
  packages/utils/src/dal/mikro-orm/mikro-orm-repository.ts
  packages/utils/src/pricing/rule-type.ts
Labels: automerge

#6055 feat(cart): Cart + Address services
  .changeset/red-mirrors-tap.md
  packages/cart/integration-tests/__fixtures__/cart/data.ts
  packages/cart/integration-tests/__fixtures__/cart/index.ts
  packages/cart/integration-tests/__tests__/services/address/index.spec.ts
  packages/cart/integration-tests/__tests__/services/cart/index.spec.ts
  packages/cart/src/models/cart.ts
  packages/cart/src/repositories/address.ts
  packages/cart/src/repositories/cart.ts
  packages/cart/src/repositories/index.ts
  packages/cart/src/services/address.ts
  packages/cart/src/services/cart-module.ts
  packages/cart/src/services/cart.ts
  packages/cart/src/services/index.ts
  packages/cart/src/types/address.ts
  packages/cart/src/types/cart.ts
  packages/cart/src/types/index.ts
  packages/cart/tsconfig.json
  packages/types/src/cart/common.ts
  packages/types/src/cart/service.ts
  packages/utils/src/dal/mikro-orm/mikro-orm-repository.ts
Labels: automerge

#6012 feat(cart): Partial module service implementation
  .changeset/soft-papayas-switch.md
  packages/cart/integration-tests/__fixtures__/cart/data.ts
  packages/cart/integration-tests/__tests__/services/address/index.spec.ts
  packages/cart/integration-tests/__tests__/services/cart-module/index.spec.ts
  packages/cart/integration-tests/__tests__/services/cart/index.spec.ts
  packages/cart/package.json
  packages/cart/src/initialize/index.ts
  packages/cart/src/loaders/container.ts
  packages/cart/src/models/cart.ts
  packages/cart/src/models/index.ts
  packages/cart/src/services/cart-module.ts
  packages/inventory/package.json
  packages/stock-location/package.json
  packages/types/src/cart/mutations.ts
  packages/types/src/cart/service.ts
  yarn.lock
Labels: automerge

#6050 feat(utils,types): added item/shipping adjustments for order/items/shipping_methods
  .changeset/lucky-ducks-chew.md
  packages/promotion/integration-tests/__tests__/services/promotion-module/compute-actions.spec.ts
  packages/promotion/integration-tests/__tests__/services/promotion-module/promotion.spec.ts
  packages/promotion/src/services/promotion-module.ts
  packages/promotion/src/types/promotion-rule-value.ts
  packages/promotion/src/types/promotion-rule.ts
  packages/promotion/src/utils/compute-actions/index.ts
  packages/promotion/src/utils/compute-actions/items.ts
  packages/promotion/src/utils/compute-actions/order.ts
  packages/promotion/src/utils/compute-actions/shipping-methods.ts
  packages/promotion/src/utils/index.ts
  packages/promotion/src/utils/validations/application-method.ts
  packages/promotion/src/utils/validations/promotion-rule.ts
  packages/types/src/promotion/common/application-method.ts
  packages/types/src/promotion/common/compute-actions.ts
  packages/types/src/promotion/common/index.ts
  packages/types/src/promotion/common/promotion-rule-value.ts
  packages/types/src/promotion/common/promotion-rule.ts
  packages/types/src/promotion/common/promotion.ts
  packages/types/src/promotion/service.ts
  packages/utils/src/common/__tests__/pick-value-from-object.spec.ts
  packages/utils/src/common/index.ts
  packages/utils/src/common/pick-value-from-object.ts
  packages/utils/src/promotion/index.ts
Labels: automerge

#6073 docs: typo backendUrl default url
  www/apps/docs/content/admin/onboarding.mdx
Labels: automerge

#6049 fix: eslint configurations in the root
  .eslintrc.js
Labels: type: chore, automerge

#6094 feat(utils,types): add registerUsages for promotions + computeActions consider usage
  .changeset/cool-rockets-wash.md
  packages/promotion/integration-tests/__tests__/services/promotion-module/compute-actions.spec.ts
  packages/promotion/integration-tests/__tests__/services/promotion-module/register-usage.spec.ts
  packages/promotion/src/repositories/campaign.ts
  packages/promotion/src/services/promotion-module.ts
  packages/promotion/src/utils/compute-actions/index.ts
  packages/promotion/src/utils/compute-actions/items.ts
  packages/promotion/src/utils/compute-actions/shipping-methods.ts
  packages/promotion/src/utils/compute-actions/usage.ts
  packages/promotion/src/utils/validations/application-method.ts
  packages/types/src/promotion/common/campaign-budget.ts
  packages/types/src/promotion/common/compute-actions.ts
  packages/types/src/promotion/common/promotion.ts
  packages/types/src/promotion/service.ts
  packages/utils/src/promotion/index.ts
Labels: automerge

#6108 docs: added link to next.js starter demo
  www/apps/docs/content/starters/nextjs-medusa-starter.mdx
Labels: type: docs, automerge

#6111 Feat(modules-sdk): Run hooks on application start
  .changeset/neat-seals-help.md
  packages/modules-sdk/src/medusa-app.ts
  packages/modules-sdk/src/medusa-module.ts
Labels: automerge

#6098 feat(dashboard): Customer groups domain
  packages/admin-next/dashboard/public/locales/en/translation.json
  packages/admin-next/dashboard/src/components/common/empty-table-content/empty-table-content.tsx
  packages/admin-next/dashboard/src/components/common/table-row-actions/index.ts
  packages/admin-next/dashboard/src/components/common/table-row-actions/table-row-actions.tsx
  packages/admin-next/dashboard/src/providers/router-provider/router-provider.tsx
  packages/admin-next/dashboard/src/routes/customer-groups/customer-group-add-customers/components/add-customers-form/add-customers-form.tsx
  packages/admin-next/dashboard/src/routes/customer-groups/customer-group-add-customers/components/add-customers-form/index.ts
  packages/admin-next/dashboard/src/routes/customer-groups/customer-group-add-customers/customer-group-add-customers.tsx
  packages/admin-next/dashboard/src/routes/customer-groups/customer-group-add-customers/index.ts
  packages/admin-next/dashboard/src/routes/customer-groups/customer-group-create/components/create-customer-group-form/create-customer-group-form.tsx
  packages/admin-next/dashboard/src/routes/customer-groups/customer-group-create/components/create-customer-group-form/index.ts
  packages/admin-next/dashboard/src/routes/customer-groups/customer-group-create/customer-group-create.tsx
  packages/admin-next/dashboard/src/routes/customer-groups/customer-group-create/index.ts
  packages/admin-next/dashboard/src/routes/customer-groups/customer-group-detail/components/customer-group-customer-section/customer-group-customer-section.tsx
  packages/admin-next/dashboard/src/routes/customer-groups/customer-group-detail/components/customer-group-customer-section/index.ts
  packages/admin-next/dashboard/src/routes/customer-groups/customer-group-detail/components/customer-group-general-section/customer-group-general-section.tsx
  packages/admin-next/dashboard/src/routes/customer-groups/customer-group-detail/components/customer-group-general-section/index.ts
  packages/admin-next/dashboard/src/routes/customer-groups/customer-group-detail/customer-group-detail.tsx
  packages/admin-next/dashboard/src/routes/customer-groups/customer-group-detail/index.ts
  packages/admin-next/dashboard/src/routes/customer-groups/customer-group-detail/loader.ts
  packages/admin-next/dashboard/src/routes/customer-groups/customer-group-edit/components/edit-customer-group-form/edit-customer-group-form.tsx
  packages/admin-next/dashboard/src/routes/customer-groups/customer-group-edit/components/edit-customer-group-form/index.ts
  packages/admin-next/dashboard/src/routes/customer-groups/customer-group-edit/customer-group-edit.tsx
  packages/admin-next/dashboard/src/routes/customer-groups/customer-group-edit/index.ts
  packages/admin-next/dashboard/src/routes/customer-groups/customer-group-list/components/customer-group-list-table/customer-group-list-table.tsx
  packages/admin-next/dashboard/src/routes/customer-groups/customer-group-list/components/customer-group-list-table/index.ts
  packages/admin-next/dashboard/src/routes/customer-groups/customer-group-list/customer-group-list.tsx
  packages/admin-next/dashboard/src/routes/customer-groups/customer-group-list/index.ts
  packages/admin-next/dashboard/src/routes/customer-groups/details/details.tsx
  packages/admin-next/dashboard/src/routes/customer-groups/details/index.ts
  packages/admin-next/dashboard/src/routes/customer-groups/list/index.ts
  packages/admin-next/dashboard/src/routes/customer-groups/list/list.tsx
  packages/admin-next/dashboard/src/routes/customers/customer-list/components/customer-list-table/customer-list-table.tsx
Labels: automerge

#5904 fix: migrate segment subscribers + typescript support
  packages/medusa-plugin-segment/.babelrc
  packages/medusa-plugin-segment/package.json
  packages/medusa-plugin-segment/src/services/segment.js
  packages/medusa-plugin-segment/src/subscribers/claim-created.ts
  packages/medusa-plugin-segment/src/subscribers/order-canceled.ts
  packages/medusa-plugin-segment/src/subscribers/order-items-returned.ts
  packages/medusa-plugin-segment/src/subscribers/order-placed.ts
  packages/medusa-plugin-segment/src/subscribers/order-shipment-created.ts
  packages/medusa-plugin-segment/src/subscribers/order.js
  packages/medusa-plugin-segment/src/subscribers/swap-created.ts
  packages/medusa-plugin-segment/src/subscribers/swap-payment-completed.ts
  packages/medusa-plugin-segment/src/subscribers/swap-shipment-created.ts
  packages/medusa-plugin-segment/src/subscribers/swap.js
  packages/medusa-plugin-segment/src/utils/gather-swap-report.ts
  packages/medusa-plugin-segment/tsconfig.admin.json
  packages/medusa-plugin-segment/tsconfig.json
  packages/medusa-plugin-segment/tsconfig.server.json
  packages/medusa-plugin-segment/tsconfig.spec.json
  yarn.lock
Labels: automerge

#6101 feat(cart): Shipping methods
  .changeset/olive-ads-brake.md
  packages/cart/integration-tests/__tests__/services/cart-module/index.spec.ts
  packages/cart/src/loaders/container.ts
  packages/cart/src/models/line-item.ts
  packages/cart/src/models/shipping-method.ts
  packages/cart/src/repositories/address.ts
  packages/cart/src/repositories/index.ts
  packages/cart/src/repositories/line-item.ts
  packages/cart/src/repositories/shipping-method.ts
  packages/cart/src/services/cart-module.ts
  packages/cart/src/services/cart.ts
  packages/cart/src/services/index.ts
  packages/cart/src/services/line-item.ts
  packages/cart/src/services/shipping-method.ts
  packages/cart/src/types/index.ts
  packages/cart/src/types/shipping-method.ts
  packages/types/src/cart/common.ts
  packages/types/src/cart/mutations.ts
  packages/types/src/cart/service.ts
Labels: automerge

#6107 fix(admin-ui->Collections): add key for map fn. resolve #6106
  packages/admin-ui/ui/src/components/molecules/table/index.tsx
  packages/admin-ui/ui/src/components/templates/collections-table/index.tsx
Labels: automerge

#6126 feat: customer module skeleton
  packages/customer/.gitignore
  packages/customer/CHANGELOG.md
  packages/customer/README.md
  packages/customer/integration-tests/__tests__/services/customer-module/index.spec.ts
  packages/customer/integration-tests/setup-env.js
  packages/customer/integration-tests/setup.js
  packages/customer/integration-tests/utils/config.ts
  packages/customer/integration-tests/utils/database.ts
  packages/customer/integration-tests/utils/index.ts
  packages/customer/jest.config.js
  packages/customer/mikro-orm.config.dev.ts
  packages/customer/package.json
  packages/customer/src/index.ts
  packages/customer/src/initialize/index.ts
  packages/customer/src/joiner-config.ts
  packages/customer/src/loaders/connection.ts
  packages/customer/src/loaders/container.ts
  packages/customer/src/loaders/index.ts
  packages/customer/src/models/address.ts
  packages/customer/src/models/customer-group-customer.ts
  packages/customer/src/models/customer-group.ts
  packages/customer/src/models/customer.ts
  packages/customer/src/models/index.ts
  packages/customer/src/module-definition.ts
  packages/customer/src/repositories/address.ts
  packages/customer/src/repositories/customer-group.ts
  packages/customer/src/repositories/customer.ts
  packages/customer/src/repositories/index.ts
  packages/customer/src/scripts/bin/run-seed.ts
  packages/customer/src/scripts/seed.ts
  packages/customer/src/services/__tests__/index.spec.ts
  packages/customer/src/services/address.ts
  packages/customer/src/services/customer-group.ts
  packages/customer/src/services/customer-module.ts
  packages/customer/src/services/customer.ts
  packages/customer/src/services/index.ts
  packages/customer/src/types/address.ts
  packages/customer/src/types/customer-group.ts
  packages/customer/src/types/index.ts
  packages/customer/tsconfig.json
  packages/customer/tsconfig.spec.json
  packages/modules-sdk/src/definitions.ts
  packages/types/src/customer/common.ts
  packages/types/src/customer/index.ts
  packages/types/src/customer/mutations.ts
  packages/types/src/customer/service.ts
  yarn.lock
Labels: automerge

#6089 fix(medusa): ensure transaction is reused when service calls itself
  packages/medusa/src/services/product.ts
Labels: automerge

#6134 docs: change sidebar title for Event
  www/apps/docs/sidebars.js
Labels: automerge

#6125 feat(medusa,utils): added campaign get endpoints
  .changeset/empty-cherries-battle.md
  integration-tests/plugins/__tests__/promotion/admin/list-campaigns.spec.ts
  integration-tests/plugins/__tests__/promotion/admin/retrieve-campaign.spec.ts
  packages/medusa/src/api-v2/admin/campaigns/[id]/route.ts
  packages/medusa/src/api-v2/admin/campaigns/middlewares.ts
  packages/medusa/src/api-v2/admin/campaigns/query-config.ts
  packages/medusa/src/api-v2/admin/campaigns/route.ts
  packages/medusa/src/api-v2/admin/campaigns/validators.ts
  packages/medusa/src/api-v2/middlewares.ts
  packages/promotion/integration-tests/__tests__/services/promotion-module/campaign.spec.ts
  packages/promotion/src/services/promotion-module.ts
  packages/types/src/promotion/service.ts
Labels: automerge

#6154 chore(admin-ui): add key for gift-cards table cells map fn
  packages/admin-ui/ui/src/components/templates/gift-card-table/index.tsx
Labels: automerge

#6137 feat(customer): Introduce customer group
  packages/customer/integration-tests/__tests__/services/customer-module/index.spec.ts
  packages/customer/src/loaders/container.ts
  packages/customer/src/models/customer-group-customer.ts
  packages/customer/src/models/customer-group.ts
  packages/customer/src/models/customer.ts
  packages/customer/src/repositories/address.ts
  packages/customer/src/repositories/customer-group.ts
  packages/customer/src/repositories/customer.ts
  packages/customer/src/repositories/index.ts
  packages/customer/src/services/customer-group-customer.ts
  packages/customer/src/services/customer-group.ts
  packages/customer/src/services/customer-module.ts
  packages/customer/src/services/index.ts
  packages/customer/src/types/customer-group.ts
  packages/customer/src/types/index.ts
  packages/types/src/customer/common.ts
  packages/types/src/customer/mutations.ts
  packages/types/src/customer/service.ts
Labels: automerge

#6130 feat(core-flows,medusa,utils): promotion and campaign create/update endpoint
  .changeset/plenty-seahorses-boil.md
  integration-tests/plugins/__tests__/promotion/admin/create-campaign.spec.ts
  integration-tests/plugins/__tests__/promotion/admin/create-promotion.spec.ts
  integration-tests/plugins/__tests__/promotion/admin/list-campaigns.spec.ts
  integration-tests/plugins/__tests__/promotion/admin/update-campaign.spec.ts
  integration-tests/plugins/__tests__/promotion/admin/update-promotion.spec.ts
  packages/core-flows/src/definition/index.ts
  packages/core-flows/src/definition/promotion/create-campaigns.ts
  packages/core-flows/src/definition/promotion/create-promotions.ts
  packages/core-flows/src/definition/promotion/index.ts
  packages/core-flows/src/definition/promotion/update-campaigns.ts
  packages/core-flows/src/definition/promotion/update-promotions.ts
  packages/core-flows/src/handlers/promotion/create-campaigns.ts
  packages/core-flows/src/handlers/promotion/create-promotions.ts
  packages/core-flows/src/handlers/promotion/index.ts
  packages/core-flows/src/handlers/promotion/update-campaigns.ts
  packages/core-flows/src/handlers/promotion/update-promotions.ts
  packages/medusa/src/api-v2/admin/campaigns/[id]/route.ts
  packages/medusa/src/api-v2/admin/campaigns/middlewares.ts
  packages/medusa/src/api-v2/admin/campaigns/route.ts
  packages/medusa/src/api-v2/admin/campaigns/validators.ts
  packages/medusa/src/api-v2/admin/promotions/[id]/route.ts
  packages/medusa/src/api-v2/admin/promotions/middlewares.ts
  packages/medusa/src/api-v2/admin/promotions/route.ts
  packages/medusa/src/api-v2/admin/promotions/validators.ts
  packages/medusa/src/api/routes/admin/product-categories/update-product-category.ts
  packages/promotion/src/services/promotion-module.ts
  packages/utils/src/common/__tests__/get-selects-and-relations-from-object-array.spec.ts
  packages/utils/src/common/get-selects-and-relations-from-object-array.ts
  packages/utils/src/common/index.ts
Labels: automerge

#6148 feat(customers): add delete and update
  packages/customer/integration-tests/__tests__/services/customer-module/index.spec.ts
  packages/customer/src/services/customer-module.ts
  packages/customer/src/services/customer.ts
  packages/types/src/customer/mutations.ts
  packages/types/src/customer/service.ts
Labels: automerge

#6152 feat(medusa,types,core-flows,utils): added delete endpoints for campaigns and promotions
  .changeset/early-meals-brake.md
  integration-tests/plugins/__tests__/promotion/admin/delete-campaign.spec.ts
  integration-tests/plugins/__tests__/promotion/admin/delete-promotion.spec.ts
  packages/core-flows/src/definition/promotion/create-promotions.ts
  packages/core-flows/src/definition/promotion/delete-campaigns.ts
  packages/core-flows/src/definition/promotion/delete-promotions.ts
  packages/core-flows/src/definition/promotion/index.ts
  packages/core-flows/src/handlers/promotion/delete-campaigns.ts
  packages/core-flows/src/handlers/promotion/delete-promotions.ts
  packages/core-flows/src/handlers/promotion/index.ts
  packages/medusa/src/api-v2/admin/campaigns/[id]/route.ts
  packages/medusa/src/api-v2/admin/promotions/[id]/route.ts
  packages/promotion/integration-tests/__tests__/services/promotion-module/campaign.spec.ts
  packages/promotion/integration-tests/__tests__/services/promotion-module/promotion.spec.ts
  packages/promotion/src/migrations/.snapshot-medusa-promotion.json
  packages/promotion/src/migrations/Migration20240122070028.ts
  packages/promotion/src/models/application-method.ts
  packages/promotion/src/models/campaign-budget.ts
  packages/promotion/src/models/campaign.ts
  packages/promotion/src/models/promotion-rule-value.ts
  packages/promotion/src/models/promotion-rule.ts
  packages/promotion/src/models/promotion.ts
  packages/promotion/src/services/promotion-module.ts
  packages/types/src/promotion/service.ts
  packages/utils/src/dal/mikro-orm/mikro-orm-repository.ts
Labels: automerge

#6149 feat(customer): add remove from group, update group
  packages/customer/integration-tests/__tests__/services/customer-module/index.spec.ts
  packages/customer/src/services/customer-module.ts
  packages/types/src/customer/service.ts
Labels: automerge

#6158 feat(customer): add remove from group, update group
  packages/customer/integration-tests/__tests__/services/customer-module/index.spec.ts
  packages/customer/src/services/customer-module.ts
  packages/types/src/customer/service.ts
Labels: automerge

#6140 fix(docs): update extend repository
  www/apps/docs/content/development/entities/extend-repository.md
Labels: automerge

#6117 docs: improve admin documentation
  www/apps/docs/content/admin/configuration.md
  www/apps/docs/content/admin/configuration.mdx
  www/apps/docs/content/admin/quickstart.mdx
  www/apps/docs/content/create-medusa-app.mdx
  www/apps/docs/content/deployments/server/deploying-on-digital-ocean.md
  www/apps/docs/content/deployments/server/deploying-on-heroku.mdx
  www/apps/docs/content/deployments/server/deploying-on-microtica.md
  www/apps/docs/content/deployments/server/deploying-on-railway.md
  www/apps/docs/content/development/entities/extend-repository.md
  www/apps/docs/content/troubleshooting/cors-issues.md
  www/apps/docs/content/troubleshooting/create-medusa-app-errors.mdx
  www/apps/docs/content/troubleshooting/create-medusa-app-errors/_forwarding.md
  www/apps/docs/content/troubleshooting/create-medusa-app-errors/_port.md
  www/apps/docs/content/troubleshooting/eaddrinuse.md
  www/apps/docs/sidebars.js
Labels: automerge

#6122 chore(docs-util): change freshness check threshold
  docs-util/packages/scripts/freshness-check.ts
Labels: automerge

#6164 feat(workflows-sdk): run, registerStepSuccess and registerStepFailure shortcut
  .changeset/red-emus-carry.md
  packages/workflows-sdk/src/helper/__tests__/workflow-export.spec.ts
  packages/workflows-sdk/src/helper/workflow-export.ts
Labels: automerge

#6161 feat(utils): update joiner config for campaigns
  .changeset/quiet-cycles-doubt.md
  packages/promotion/src/joiner-config.ts
  packages/utils/src/common/generate-linkable-keys-map.ts
  packages/utils/src/common/index.ts
Labels: automerge

#6155 fix(medusa-js): correct invites resend path in js client
  .changeset/fast-mirrors-sell.md
  packages/medusa-js/src/resources/admin/invites.ts
Labels: automerge

#6170 docs: fix production build error
  www/apps/docs/content/troubleshooting/create-medusa-app-errors/_forwarding.md
Labels: automerge

#6165 docs: rearrange sections in SendGrid guide
  www/apps/docs/content/plugins/notifications/sendgrid.mdx
Labels: automerge

#6052 Feat(authentication): username password provider
  packages/authentication/integration-tests/__fixtures__/auth-user/index.ts
  packages/authentication/integration-tests/__tests__/services/auth-user/index.spec.ts
  packages/authentication/integration-tests/__tests__/services/module/auth-user.spec.ts
  packages/authentication/integration-tests/__tests__/services/module/providers.spec.ts
  packages/authentication/integration-tests/__tests__/services/providers/username-password.spec.ts
  packages/authentication/package.json
  packages/authentication/src/initialize/index.ts
  packages/authentication/src/loaders/providers.ts
  packages/authentication/src/migrations/.snapshot-medusa-authentication.json
  packages/authentication/src/migrations/Migration20240115092929.ts
  packages/authentication/src/models/auth-user.ts
  packages/authentication/src/providers/username-password.ts
  packages/authentication/src/services/auth-user.ts
  packages/authentication/src/services/authentication-module.ts
  packages/authentication/src/types/repositories/auth-user.ts
  packages/authentication/src/types/services/auth-user.ts
  packages/types/src/authentication/common/auth-user.ts
  packages/types/src/authentication/provider.ts
  packages/types/src/authentication/service.ts
  yarn.lock
Labels: automerge

#6163 docs: update strapi guide
  www/apps/docs/content/plugins/cms/strapi.md
Labels: automerge

#6162 feat(dashboard): Pub Api Key domain
  .changeset/gentle-pots-enjoy.md
  packages/admin-next/dashboard/public/locales/en/translation.json
  packages/admin-next/dashboard/src/components/common/user-link/index.ts
  packages/admin-next/dashboard/src/components/common/user-link/user-link.tsx
  packages/admin-next/dashboard/src/providers/router-provider/router-provider.tsx
  packages/admin-next/dashboard/src/routes/api-key-management/api-key-management-add-sales-channels/api-key-management-add-sales-channels.tsx
  packages/admin-next/dashboard/src/routes/api-key-management/api-key-management-add-sales-channels/components/add-sales-channels-to-api-key-form.tsx
  packages/admin-next/dashboard/src/routes/api-key-management/api-key-management-add-sales-channels/components/index.ts
  packages/admin-next/dashboard/src/routes/api-key-management/api-key-management-add-sales-channels/index.ts
  packages/admin-next/dashboard/src/routes/api-key-management/api-key-management-create/api-key-management-create.tsx
  packages/admin-next/dashboard/src/routes/api-key-management/api-key-management-create/components/create-publishable-api-key-form/create-publishable-api-key-form.tsx
  packages/admin-next/dashboard/src/routes/api-key-management/api-key-management-detail/api-key-management-detail.tsx
  packages/admin-next/dashboard/src/routes/api-key-management/api-key-management-detail/components/api-key-general-section/api-key-general-section.tsx
  packages/admin-next/dashboard/src/routes/api-key-management/api-key-management-detail/components/api-key-general-section/index.ts
  packages/admin-next/dashboard/src/routes/api-key-management/api-key-management-detail/components/api-key-sales-channel-section/api-key-sales-channel-section.tsx
  packages/admin-next/dashboard/src/routes/api-key-management/api-key-management-detail/components/api-key-sales-channel-section/index.ts
  packages/admin-next/dashboard/src/routes/api-key-management/api-key-management-detail/index.ts
  packages/admin-next/dashboard/src/routes/api-key-management/api-key-management-detail/loader.ts
  packages/admin-next/dashboard/src/routes/api-key-management/api-key-management-edit/api-key-management-edit.tsx
  packages/admin-next/dashboard/src/routes/api-key-management/api-key-management-edit/components/edit-api-key-form/edit-api-key-form.tsx
  packages/admin-next/dashboard/src/routes/api-key-management/api-key-management-edit/components/edit-api-key-form/index.ts
  packages/admin-next/dashboard/src/routes/api-key-management/api-key-management-list/components/api-key-management-list-table/api-key-management-list-table.tsx
  packages/admin-next/dashboard/src/routes/locations/location-detail/components/location-sales-channel-section/location-sales-channel-section.tsx
  packages/admin-next/dashboard/src/routes/sales-channels/sales-channel-detail/index.ts
  packages/admin-next/dashboard/src/routes/sales-channels/sales-channel-detail/loader.ts
  packages/admin-next/dashboard/src/routes/sales-channels/sales-channel-detail/sales-channel-detail.tsx
  packages/admin-next/dashboard/src/routes/store/store-detail/components/store-general-section/store-general-section.tsx
  packages/design-system/ui/src/components/avatar/avatar.tsx
  packages/design-system/ui/src/components/copy/copy.tsx
  packages/design-system/ui/src/components/status-badge/status-badge.tsx
Labels: automerge

#6183 docs: improvements to deployment guides
  www/apps/docs/content/deployments/admin/general-guide.mdx
  www/apps/docs/content/deployments/admin/index.mdx
  www/apps/docs/content/deployments/index.mdx
  www/apps/docs/content/deployments/server/deploying-on-digital-ocean.md
  www/apps/docs/content/deployments/server/deploying-on-heroku.mdx
  www/apps/docs/content/deployments/server/deploying-on-microtica.md
  www/apps/docs/content/deployments/server/deploying-on-railway.md
  www/apps/docs/content/deployments/server/general-guide.md
  www/apps/docs/content/deployments/server/index.mdx
  www/apps/docs/content/deployments/storefront/general-guide.mdx
  www/apps/docs/content/deployments/storefront/index.mdx
  www/apps/docs/content/upgrade-guides/index.mdx
  www/apps/docs/sidebars.js
  www/apps/docs/src/types/index.d.ts
  www/apps/docs/src/utils/get-first-category-item.ts
Labels: automerge

#6194 docs: add anchor link to reference parameters
  docs-util/packages/typedoc-plugin-markdown-medusa/src/resources/helpers/parameter-component.ts
  docs-util/packages/typedoc-plugin-markdown-medusa/src/resources/helpers/parameter.ts
  docs-util/packages/typedoc-plugin-markdown-medusa/src/resources/helpers/react-query-hook-params.ts
  docs-util/packages/typedoc-plugin-markdown-medusa/src/resources/helpers/react-query-mutation-params.ts
  docs-util/packages/typedoc-plugin-markdown-medusa/src/resources/helpers/react-query-mutation-return.ts
  docs-util/packages/typedoc-plugin-markdown-medusa/src/resources/helpers/react-query-query-return.ts
  docs-util/packages/typedoc-plugin-markdown-medusa/src/resources/helpers/returns.ts
  docs-util/packages/typedoc-plugin-markdown-medusa/src/resources/helpers/type-declaration-members.ts
  docs-util/packages/typedoc-plugin-markdown-medusa/src/resources/helpers/type-parameter-component.ts
  docs-util/packages/typedoc-plugin-markdown-medusa/src/resources/helpers/type-parameter.ts
  docs-util/packages/typedoc-plugin-markdown-medusa/src/resources/partials/member.declaration.hbs
  docs-util/packages/typedoc-plugin-markdown-medusa/src/resources/partials/member.react-query.signature.hbs
  docs-util/packages/typedoc-plugin-markdown-medusa/src/resources/partials/member.signature.hbs
  docs-util/packages/typedoc-plugin-markdown-medusa/src/resources/partials/members.group.hbs
  docs-util/packages/typedoc-plugin-markdown-medusa/src/resources/templates/reflection.hbs
  docs-util/packages/typedoc-plugin-markdown-medusa/src/utils/format-parameter-component.ts
  www/apps/docs/src/components/ParameterTypes/Items/index.tsx
  www/apps/docs/src/components/ParameterTypes/index.tsx
  www/apps/docs/src/utils/is-in-view.ts
  www/packages/docs-ui/src/components/CopyButton/index.tsx
  www/packages/docs-ui/src/components/Details/Summary/index.tsx
  www/packages/tailwind/base.tailwind.config.js
Labels: automerge

#6096 docs-util: created docblock-generator tool
  .eslintignore
  .eslintrc.js
  .github/workflows/release.yml
  docs-util/packages/docblock-generator/.env.sample
  docs-util/packages/docblock-generator/README.md
  docs-util/packages/docblock-generator/package.json
  docs-util/packages/docblock-generator/src/classes/docblock-generator.ts
  docs-util/packages/docblock-generator/src/classes/formatter.ts
  docs-util/packages/docblock-generator/src/classes/kinds/default.ts
  docs-util/packages/docblock-generator/src/classes/kinds/dto-property.ts
  docs-util/packages/docblock-generator/src/classes/kinds/function.ts
  docs-util/packages/docblock-generator/src/classes/kinds/medusa-react-hooks.ts
  docs-util/packages/docblock-generator/src/classes/kinds/registry.ts
  docs-util/packages/docblock-generator/src/classes/kinds/source-file.ts
  docs-util/packages/docblock-generator/src/classes/knowledge-base-factory.ts
  docs-util/packages/docblock-generator/src/commands/run-git-changes.ts
  docs-util/packages/docblock-generator/src/commands/run-git-commit.ts
  docs-util/packages/docblock-generator/src/commands/run.ts
  docs-util/packages/docblock-generator/src/constants.ts
  docs-util/packages/docblock-generator/src/index.ts
  docs-util/packages/docblock-generator/src/utils/dirname.ts
  docs-util/packages/docblock-generator/src/utils/filter-files.ts
  docs-util/packages/docblock-generator/src/utils/get-monorepo-root.ts
  docs-util/packages/docblock-generator/src/utils/get-relative-paths.ts
  docs-util/packages/docblock-generator/src/utils/get-symbol.ts
  docs-util/packages/docblock-generator/src/utils/medusa-react-utils.ts
  docs-util/packages/docblock-generator/src/utils/node-has-comments.ts
  docs-util/packages/docblock-generator/src/utils/promise-exec.ts
  docs-util/packages/docblock-generator/src/utils/str-formatting.ts
  docs-util/packages/docblock-generator/tsconfig.json
  docs-util/yarn.lock
  package.json
  packages/create-medusa-app/package.json
  packages/medusa-react/src/hooks/admin/auth/mutations.ts
  packages/medusa-react/src/hooks/admin/batch-jobs/mutations.ts
  packages/types/src/shared-context.ts
  yarn.lock
Labels: automerge

#6136 feat(cart): Item tax lines + shipping method tax lines
  packages/cart/integration-tests/__tests__/services/cart-module/index.spec.ts
  packages/cart/src/models/line-item-tax-line.ts
  packages/cart/src/models/line-item.ts
  packages/cart/src/models/shipping-method-tax-line.ts
  packages/cart/src/models/tax-line.ts
  packages/cart/src/services/cart-module.ts
  packages/cart/src/services/index.ts
  packages/cart/src/services/line-item-tax-line.ts
  packages/cart/src/services/shipping-method-tax-line.ts
  packages/cart/src/types/index.ts
  packages/cart/src/types/line-item-tax-line.ts
  packages/cart/src/types/repositories.ts
  packages/cart/src/types/shipping-method-tax-line.ts
  packages/cart/src/types/tax-line.ts
  packages/types/src/cart/common.ts
  packages/types/src/cart/mutations.ts
  packages/types/src/cart/service.ts
Labels: automerge

#6201 fix(medusa): Support q search in currencies
  .changeset/dry-meals-love.md
  integration-tests/api/__tests__/admin/currency.js
  packages/generated/client-types/src/lib/models/AdminGetCurrenciesParams.ts
  packages/medusa/src/api/routes/admin/currencies/list-currencies.ts
  packages/medusa/src/services/currency.ts
Labels: automerge

#6211 feat(medusa-oas-cli): updated redocly-cli to v1.7
  .changeset/strong-walls-juggle.md
  packages/oas/medusa-oas-cli/README.md
  packages/oas/medusa-oas-cli/package.json
  packages/oas/medusa-oas-cli/src/command-docs.ts
  packages/oas/medusa-oas-cli/src/utils/yaml-utils.ts
  yarn.lock
Labels: automerge

#6214 feat(medusa-js): add axios adapter to config
  packages/medusa-js/src/request.ts
Labels: automerge

#6213 chore: move v2 api behind ff
  integration-tests/plugins/__tests__/cart/store/ff-medusa-v2.ts
  integration-tests/plugins/__tests__/price-lists/admin/add-price-list-price-batch.spec.ts
  integration-tests/plugins/__tests__/price-lists/admin/create-price-list.spec.ts
  integration-tests/plugins/__tests__/price-lists/admin/delete-price-list-prices-by-product.ts
  integration-tests/plugins/__tests__/price-lists/admin/delete-price-list-prices-by-variant.ts
  integration-tests/plugins/__tests__/price-lists/admin/delete-price-list-prices.ts
  integration-tests/plugins/__tests__/price-lists/admin/delete-price-list-spec.ts
  integration-tests/plugins/__tests__/price-lists/admin/get-price-list.spec.ts
  integration-tests/plugins/__tests__/price-lists/admin/list-price-list-products.spec.ts
  integration-tests/plugins/__tests__/price-lists/admin/list-price-list.spec.ts
  integration-tests/plugins/__tests__/price-lists/admin/update-price-list.spec.ts
  integration-tests/plugins/__tests__/price-lists/store/get-product.ts
  integration-tests/plugins/__tests__/pricing/get-product.ts
  integration-tests/plugins/__tests__/product/admin/create-product-variant.spec.ts
  integration-tests/plugins/__tests__/product/admin/create-product.ts
  integration-tests/plugins/__tests__/product/admin/export-products.spec.ts
  integration-tests/plugins/__tests__/product/admin/import-products.spec.ts
  integration-tests/plugins/__tests__/product/admin/index.ts
  integration-tests/plugins/__tests__/product/admin/update-product-variant.spec.ts
  integration-tests/plugins/__tests__/product/admin/update-product.spec.ts
  integration-tests/plugins/__tests__/promotion/admin/create-campaign.spec.ts
  integration-tests/plugins/__tests__/promotion/admin/create-promotion.spec.ts
  integration-tests/plugins/__tests__/promotion/admin/list-campaigns.spec.ts
  integration-tests/plugins/__tests__/promotion/admin/list-promotions.spec.ts
  integration-tests/plugins/__tests__/promotion/admin/retrieve-campaign.spec.ts
  integration-tests/plugins/__tests__/promotion/admin/retrieve-promotion.spec.ts
  integration-tests/plugins/__tests__/promotion/admin/update-campaign.spec.ts
  integration-tests/plugins/__tests__/promotion/admin/update-promotion.spec.ts
  packages/medusa/src/loaders/api.ts
  packages/medusa/src/loaders/helpers/routing/__fixtures__/server/index.js
  packages/medusa/src/loaders/index.ts
Labels: automerge

#6215 docs: add a section on custom templates in SendGrid guide
  www/apps/docs/content/plugins/notifications/sendgrid.mdx
Labels: version: next

#6205 feat(customer): add migration file
  packages/customer/src/migrations/.snapshot-medusa-customer.json
  packages/customer/src/migrations/Migration20240124154000.ts
  packages/customer/src/models/address.ts
  packages/customer/src/models/customer-group-customer.ts
  packages/customer/src/models/customer.ts
Labels: automerge

#6224 feat(customer): add customer addresses
  packages/customer/integration-tests/__tests__/services/customer-module/index.spec.ts
  packages/customer/src/migrations/.snapshot-medusa-customer.json
  packages/customer/src/migrations/Migration20240124154000.ts
  packages/customer/src/models/address.ts
  packages/customer/src/models/customer.ts
  packages/customer/src/services/customer-module.ts
  packages/types/src/customer/common.ts
  packages/types/src/customer/mutations.ts
  packages/types/src/customer/service.ts
Labels: automerge

#6240 fix: improve error message on incorrect service export
  .changeset/smart-ants-compete.md
  packages/medusa/src/loaders/plugins.ts
Labels: automerge

#6249 chore: PR team labeler
  .github/teams.yml
  .github/workflows/team-labeler.yml
Labels: team: medusa

#6237 docs: change process for generating docblocks through actions
  .github/workflows/generate-docblocks-reference.yml
  .github/workflows/generate-docblocks.yml
  .github/workflows/generate-references.yml
  .github/workflows/release.yml
  docs-util/packages/docblock-generator/package.json
  docs-util/packages/docblock-generator/src/classes/git-manager.ts
  docs-util/packages/docblock-generator/src/commands/run-release.ts
  docs-util/packages/docblock-generator/src/index.ts
  docs-util/packages/utils/package.json
  docs-util/yarn.lock
Labels: automerge, team: medusa

#6197 feat(medusa, stock-location, types): Add q and order params to list-stock-locations
  .changeset/shy-cars-turn.md
  integration-tests/plugins/__tests__/stock-location/list-stock-locations.spec.ts
  integration-tests/plugins/__tests__/stock-location/service/delete-sales-channels.js
  integration-tests/plugins/__tests__/stock-location/service/delete-stock-location.js
  integration-tests/plugins/__tests__/stock-location/service/sales-channels.js
  integration-tests/plugins/__tests__/stock-location/service/service.js
  packages/medusa/src/api/routes/admin/stock-locations/list-stock-locations.ts
  packages/stock-location/src/services/stock-location.ts
  packages/types/src/stock-location/common.ts
Labels: automerge, team: medusa

#6228 feat(authentication, types, utils): Add Authentication provider scopes
  packages/authentication/integration-tests/__tests__/services/module/providers.spec.ts
  packages/authentication/integration-tests/__tests__/services/providers/username-password.spec.ts
  packages/authentication/integration-tests/utils/get-init-module-config.ts
  packages/authentication/src/loaders/providers.ts
  packages/authentication/src/providers/google.ts
  packages/authentication/src/providers/username-password.ts
  packages/authentication/src/services/authentication-module.ts
  packages/types/src/authentication/common/provider.ts
  packages/types/src/authentication/service.ts
  packages/utils/src/authentication/abstract-authentication-provider.ts
Labels: team: medusa

#6243 chore(core-flows): reorganize folder structure for promotion workflows
  packages/core-flows/src/definition/index.ts
  packages/core-flows/src/index.ts
  packages/core-flows/src/promotion/index.ts
  packages/core-flows/src/promotion/steps/create-campaigns.ts
  packages/core-flows/src/promotion/steps/create-promotions.ts
  packages/core-flows/src/promotion/steps/delete-campaigns.ts
  packages/core-flows/src/promotion/steps/delete-promotions.ts
  packages/core-flows/src/promotion/steps/index.ts
  packages/core-flows/src/promotion/steps/update-campaigns.ts
  packages/core-flows/src/promotion/steps/update-promotions.ts
  packages/core-flows/src/promotion/workflows/create-campaigns.ts
  packages/core-flows/src/promotion/workflows/create-promotions.ts
  packages/core-flows/src/promotion/workflows/delete-campaigns.ts
  packages/core-flows/src/promotion/workflows/delete-promotions.ts
  packages/core-flows/src/promotion/workflows/index.ts
  packages/core-flows/src/promotion/workflows/update-campaigns.ts
  packages/core-flows/src/promotion/workflows/update-promotions.ts
Labels: automerge, team: medusa

#6257 fix(authentication): remove providers loader
  packages/authentication/src/loaders/providers.ts
Labels: automerge, team: medusa

#6255 feat(): added compute actions for buyget promotions
  packages/promotion/integration-tests/__tests__/services/promotion-module/compute-actions.spec.ts
  packages/promotion/src/services/promotion-module.ts
  packages/promotion/src/utils/compute-actions/buy-get.ts
  packages/promotion/src/utils/compute-actions/index.ts
Labels: automerge, team: medusa

#6232 feat(customer): admin CRUD endpoints
  integration-tests/plugins/__tests__/customer/admin/create-customer.ts
  integration-tests/plugins/__tests__/customer/admin/delete-customer.ts
  integration-tests/plugins/__tests__/customer/admin/update-customer.ts
  packages/core-flows/src/customer/index.ts
  packages/core-flows/src/customer/steps/create-customers.ts
  packages/core-flows/src/customer/steps/delete-customers.ts
  packages/core-flows/src/customer/steps/index.ts
  packages/core-flows/src/customer/steps/update-customers.ts
  packages/core-flows/src/customer/workflows/create-customers.ts
  packages/core-flows/src/customer/workflows/delete-customers.ts
  packages/core-flows/src/customer/workflows/index.ts
  packages/core-flows/src/customer/workflows/update-customers.ts
  packages/core-flows/src/index.ts
  packages/customer/src/migrations/Migration20240124154000.ts
  packages/customer/src/services/customer-module.ts
  packages/medusa/src/api-v2/admin/customers/[id]/route.ts
  packages/medusa/src/api-v2/admin/customers/middlewares.ts
  packages/medusa/src/api-v2/admin/customers/route.ts
  packages/medusa/src/api-v2/admin/customers/validators.ts
  packages/types/src/customer/mutations.ts
  packages/types/src/customer/service.ts
Labels: automerge, team: medusa

#6262 feat(cart): `GET /store/carts/:id`
  integration-tests/plugins/__tests__/cart/store/get-cart.ts
  integration-tests/plugins/medusa-config.js
  packages/cart/src/migrations/CartModuleSetup20240122122952.ts
  packages/medusa/src/api-v2/middlewares.ts
  packages/medusa/src/api-v2/store/carts/[id]/route.ts
  packages/medusa/src/api-v2/store/carts/middlewares.ts
  packages/medusa/src/api-v2/store/carts/query-config.ts
  packages/medusa/src/api-v2/store/carts/validators.ts
  packages/medusa/src/joiner-configs/cart-service.ts
  packages/medusa/src/joiner-configs/index.ts
Labels: team: medusa

#6271 feat(auth, medusa): Initial auth module middleware
  packages/auth/src/services/auth-module.ts
  packages/medusa/src/types/routing.ts
  packages/medusa/src/utils/authenticate-middleware.ts
  packages/types/src/auth/service.ts
Labels: automerge, team: medusa

#6212 feat(dashboard): Users domain
  packages/admin-next/dashboard/public/locales/en/translation.json
  packages/admin-next/dashboard/src/components/common/action-menu/action-menu.tsx
  packages/admin-next/dashboard/src/components/common/empty-table-content/empty-table-content.tsx
  packages/admin-next/dashboard/src/providers/router-provider/router-provider.tsx
  packages/admin-next/dashboard/src/routes/profile/profile-detail/components/profile-general-section/profile-general-section.tsx
  packages/admin-next/dashboard/src/routes/users/user-detail/components/user-general-section/user-general-section.tsx
  packages/admin-next/dashboard/src/routes/users/user-detail/index.ts
  packages/admin-next/dashboard/src/routes/users/user-detail/loader.ts
  packages/admin-next/dashboard/src/routes/users/user-detail/user-detail.tsx
  packages/admin-next/dashboard/src/routes/users/user-edit/components/edit-user-form/edit-user-form.tsx
  packages/admin-next/dashboard/src/routes/users/user-edit/components/edit-user-form/index.ts
  packages/admin-next/dashboard/src/routes/users/user-edit/user-edit.tsx
  packages/admin-next/dashboard/src/routes/users/user-invite/components/invite-user-form/invite-user-form.tsx
  packages/admin-next/dashboard/src/routes/users/user-invite/user-invite.tsx
  packages/admin-next/dashboard/src/routes/users/user-list/components/user-list-table/user-list-table.tsx
  packages/admin-next/dashboard/src/routes/users/user-list/user-list.tsx
Labels: team: medusa

#6261 docs: refactoring of docblock generator tool
  docs-util/packages/docblock-generator/src/classes/git-manager.ts
  docs-util/packages/docblock-generator/src/commands/run-git-changes.ts
  docs-util/packages/docblock-generator/src/commands/run-git-commit.ts
Labels: automerge, team: medusa

#6233 feat(customer): add customer group management apis
  integration-tests/plugins/__tests__/customer-group/admin/create-customer-group.ts
  integration-tests/plugins/__tests__/customer-group/admin/delete-customer-group.ts
  integration-tests/plugins/__tests__/customer-group/admin/list-customer-groups.spec.ts
  integration-tests/plugins/__tests__/customer-group/admin/retrieve-customer-group.ts
  integration-tests/plugins/__tests__/customer-group/admin/update-customer-group.ts
  packages/core-flows/src/customer-group/index.ts
  packages/core-flows/src/customer-group/steps/create-customer-groups.ts
  packages/core-flows/src/customer-group/steps/delete-customer-groups.ts
  packages/core-flows/src/customer-group/steps/index.ts
  packages/core-flows/src/customer-group/steps/update-customer-groups.ts
  packages/core-flows/src/customer-group/workflows/create-customer-groups.ts
  packages/core-flows/src/customer-group/workflows/delete-customer-groups.ts
  packages/core-flows/src/customer-group/workflows/index.ts
  packages/core-flows/src/customer-group/workflows/update-customer-groups.ts
  packages/core-flows/src/index.ts
  packages/customer/src/services/customer-module.ts
  packages/medusa/src/api-v2/admin/customer-groups/[id]/route.ts
  packages/medusa/src/api-v2/admin/customer-groups/route.ts
  packages/types/src/customer/mutations.ts
  packages/types/src/customer/service.ts
Labels: automerge, team: medusa

#6235 feat(customer): admin addresses
  integration-tests/plugins/__tests__/customer/admin/create-customer-addresses.ts
  integration-tests/plugins/__tests__/customer/admin/delete-customer-address.spec.ts
  integration-tests/plugins/__tests__/customer/admin/list-customer-addresses.ts
  integration-tests/plugins/__tests__/customer/admin/update-customer-address.spec.ts
  packages/core-flows/src/customer/steps/create-addresses.ts
  packages/core-flows/src/customer/steps/delete-addresses.ts
  packages/core-flows/src/customer/steps/index.ts
  packages/core-flows/src/customer/steps/update-addresses.ts
  packages/core-flows/src/customer/workflows/create-addresses.ts
  packages/core-flows/src/customer/workflows/delete-addresses.ts
  packages/core-flows/src/customer/workflows/index.ts
  packages/core-flows/src/customer/workflows/update-addresses.ts
  packages/customer/integration-tests/__tests__/services/customer-module/index.spec.ts
  packages/customer/src/services/customer-module.ts
  packages/medusa/src/api-v2/admin/customers/[id]/addresses/[address_id]/route.ts
  packages/medusa/src/api-v2/admin/customers/[id]/addresses/route.ts
  packages/medusa/src/api-v2/admin/customers/middlewares.ts
  packages/medusa/src/api-v2/admin/customers/query-config.ts
  packages/medusa/src/api-v2/admin/customers/validators.ts
  packages/types/src/customer/service.ts
Labels: automerge, team: medusa

#6276 feat(customer): add customer group customer management
  integration-tests/plugins/__tests__/customer-group/admin/batch-add-customers.ts
  integration-tests/plugins/__tests__/customer-group/admin/batch-remove-customers.ts
  integration-tests/plugins/__tests__/customer-group/admin/list-customer-group-customers.ts
  packages/core-flows/src/customer-group/steps/create-customer-group-customers.ts
  packages/core-flows/src/customer-group/steps/delete-customer-group-customers.ts
  packages/core-flows/src/customer-group/steps/index.ts
  packages/core-flows/src/customer-group/workflows/create-customer-group-customers.ts
  packages/core-flows/src/customer-group/workflows/delete-customer-group-customers.ts
  packages/core-flows/src/customer-group/workflows/index.ts
  packages/medusa/src/api-v2/admin/customer-groups/[id]/customers/batch/route.ts
  packages/medusa/src/api-v2/admin/customer-groups/[id]/customers/remove/route.ts
  packages/medusa/src/api-v2/admin/customer-groups/[id]/customers/route.ts
  packages/medusa/src/api-v2/admin/customer-groups/middlewares.ts
  packages/medusa/src/api-v2/admin/customer-groups/validators.ts
Labels: automerge, team: medusa

#6272 feat(types): added computed actions for automatic promotions
  .changeset/perfect-spies-hug.md
  packages/promotion/integration-tests/__tests__/services/promotion-module/compute-actions.spec.ts
  packages/promotion/src/services/promotion-module.ts
  packages/types/src/promotion/common/compute-actions.ts
Labels: automerge, team: medusa

#6268 docs: fix title of the configuration page
  docs-util/packages/typedoc-config/_merger.js
  www/apps/docs/content/references/medusa_config/interfaces/medusa_config.ConfigModule.mdx
Labels: automerge, team: medusa

#6285 feat(medusa): Use remote query in get cart API route
  packages/link-modules/src/definitions/cart-sales-channel.ts
  packages/medusa/src/api-v2/store/carts/[id]/route.ts
  packages/medusa/src/api-v2/store/carts/query-config.ts
  packages/medusa/src/joiner-configs/cart-service.ts
  packages/medusa/src/joiner-configs/customer-service.ts
  packages/medusa/src/joiner-configs/index.ts
  packages/medusa/src/joiner-configs/order-service.ts
  packages/medusa/src/joiner-configs/region-service.ts
Labels: team: medusa
