Repository medusajs/medusa, pull requests merged in 2024-04, with the labels that each got.

#6027 feat(create-medusa-app): Add a `--verbose` option.
  .changeset/three-mice-jump.md
  packages/create-medusa-app/src/commands/create.ts
  packages/create-medusa-app/src/index.ts
  packages/create-medusa-app/src/utils/clone-repo.ts
  packages/create-medusa-app/src/utils/create-abort-controller.ts
  packages/create-medusa-app/src/utils/create-db.ts
  packages/create-medusa-app/src/utils/execute.ts
  packages/create-medusa-app/src/utils/facts.ts
  packages/create-medusa-app/src/utils/log-message.ts
  packages/create-medusa-app/src/utils/nextjs-utils.ts
  packages/create-medusa-app/src/utils/prepare-project.ts
  packages/create-medusa-app/src/utils/promise-exec.ts
  packages/create-medusa-app/src/utils/start-medusa.ts
Labels: automerge, team: medusa

#6892 feat: Pricing update and refactor product API tests to not rely on internals
  integration-tests/api/__tests__/admin/product.js
  packages/core-flows/src/pricing/steps/update-price-sets.ts
  packages/core-flows/src/product/steps/get-variant-pricing-link.ts
  packages/core-flows/src/product/workflows/create-product-variants.ts
  packages/core-flows/src/product/workflows/create-products.ts
  packages/core-flows/src/product/workflows/update-product-variants.ts
  packages/medusa/src/api-v2/admin/products/helpers.ts
  packages/medusa/src/api-v2/admin/products/validators.ts
  packages/product/src/services/product-module-service.ts
  packages/types/src/product/common.ts
Labels: automerge, team: medusa

#6893 fix: ensure that shutdown works in loaderOnly mode
  packages/event-bus-redis/src/services/event-bus-redis.ts
  packages/modules-sdk/src/medusa-module.ts
Labels: automerge, team: medusa

#6895 chore: added TSDocs to auth_cors configuration
  packages/types/src/common/config-module.ts
Labels: type: docs, automerge, team: medusa

#6897 chore: update TSDocs of the Product Module
  packages/types/src/product/common.ts
  packages/types/src/product/service.ts
Labels: type: docs, automerge, team: medusa

#6870 feat(dashboard): Variant edit form
  packages/admin-next/dashboard/public/locales/en-US/translation.json
  packages/admin-next/dashboard/src/lib/validation.ts
  packages/admin-next/dashboard/src/providers/router-provider/v1.tsx
  packages/admin-next/dashboard/src/routes/products/product-detail/components/product-variant-section/product-variant-section.tsx
  packages/admin-next/dashboard/src/routes/products/product-detail/components/product-variant-section/use-variant-table-columns.tsx
  packages/admin-next/dashboard/src/routes/products/product-edit-variant/components/product-edit-variant-form/index.ts
  packages/admin-next/dashboard/src/routes/products/product-edit-variant/components/product-edit-variant-form/product-edit-variant-form.tsx
  packages/admin-next/dashboard/src/routes/products/product-edit-variant/index.ts
  packages/admin-next/dashboard/src/routes/products/product-edit-variant/loader.ts
  packages/admin-next/dashboard/src/routes/products/product-edit-variant/product-edit-variant.tsx
Labels: automerge, team: medusa

#6898 fix: Fixes to product module and improving tests
  integration-tests/api/__tests__/admin/product.js
  packages/core-flows/src/product/workflows/update-product-variants.ts
  packages/core-flows/src/product/workflows/update-products.ts
  packages/product/integration-tests/__tests__/services/product-module-service/product-variants.spec.ts
  packages/product/integration-tests/__tests__/services/product-module-service/products.spec.ts
  packages/product/src/services/product-module-service.ts
  packages/types/src/product/common.ts
  packages/types/src/product/service.ts
Labels: automerge, team: medusa

#6401 docs(plugin): paypal integration missing createOrder callback
  www/apps/docs/content/plugins/payment/paypal.md
Labels: automerge

#6901 chore(medusa-test-utils):Handle errors gracefully
  .changeset/khaki-birds-tickle.md
  integration-tests/environment-helpers/bootstrap-app.js
  packages/medusa-test-utils/package.json
  packages/medusa-test-utils/src/init-modules.ts
  packages/medusa-test-utils/src/medusa-test-runner.ts
  packages/medusa-test-utils/src/module-test-runner.ts
  packages/modules-sdk/src/loaders/utils/load-internal.ts
  packages/modules-sdk/src/medusa-module.ts
  packages/types/src/modules-sdk/index.ts
  packages/workflow-engine-redis/src/loaders/redis.ts
  packages/workflow-engine-redis/src/loaders/utils.ts
  packages/workflow-engine-redis/src/services/workflow-orchestrator.ts
  yarn.lock
Labels: automerge, team: medusa

#6909 fix(dashboard): Combobox should not disable body after being closed
  packages/admin-next/dashboard/src/components/common/combobox/combobox.tsx
Labels: automerge, team: medusa

#6914 fix(fulfillment): Wrong type usage
  .changeset/eleven-owls-relate.md
  packages/types/src/fulfillment/service.ts
Labels: automerge, team: medusa

#6905 Feat(link-module, core-flows, medusa): Add sales channel location management
  .changeset/shaggy-bobcats-camp.md
  integration-tests/api/__tests__/admin/sales-channels.js
  integration-tests/api/__tests__/admin/stock-location/index.spec.ts
  packages/core-flows/src/sales-channel/steps/associate-locations-with-channel.ts
  packages/core-flows/src/sales-channel/steps/index.ts
  packages/core-flows/src/sales-channel/steps/remove-locations-from-channels.ts
  packages/core-flows/src/sales-channel/workflows/add-locations-to-sales-channel.ts
  packages/core-flows/src/sales-channel/workflows/delete-sales-channels.ts
  packages/core-flows/src/sales-channel/workflows/index.ts
  packages/core-flows/src/sales-channel/workflows/remove-locations-from-sales-channel.ts
  packages/link-modules/src/services/link-module-service.ts
  packages/link-modules/src/services/link.ts
  packages/medusa/src/api-v2/admin/promotions/[id]/rules/batch/remove/route.ts
  packages/medusa/src/api-v2/admin/sales-channels/[id]/route.ts
  packages/medusa/src/api-v2/admin/stock-locations/[id]/sales-channels/batch/add/route.ts
  packages/medusa/src/api-v2/admin/stock-locations/[id]/sales-channels/batch/remove/route.ts
  packages/medusa/src/api-v2/admin/stock-locations/middlewares.ts
  packages/medusa/src/api-v2/admin/stock-locations/query-config.ts
  packages/medusa/src/api-v2/admin/stock-locations/validators.ts
Labels: team: medusa

#6908 chore: updated TSDocs of the Currency Module
  packages/types/src/currency/common/currency.ts
  packages/types/src/currency/service.ts
Labels: type: docs, automerge, team: medusa

#6886 feat(workflows-sdk,orchestration): async step as background task
  .changeset/eighty-dodos-peel.md
  packages/orchestration/src/transaction/transaction-orchestrator.ts
  packages/orchestration/src/transaction/transaction-step.ts
  packages/orchestration/src/transaction/types.ts
  packages/orchestration/src/workflow/workflow-manager.ts
  packages/workflow-engine-inmemory/integration-tests/__fixtures__/index.ts
  packages/workflow-engine-inmemory/integration-tests/__fixtures__/workflow_async.ts
  packages/workflow-engine-inmemory/integration-tests/__tests__/index.spec.ts
  packages/workflow-engine-redis/integration-tests/__fixtures__/index.ts
  packages/workflow-engine-redis/integration-tests/__fixtures__/workflow_1.ts
  packages/workflow-engine-redis/integration-tests/__fixtures__/workflow_2.ts
  packages/workflow-engine-redis/integration-tests/__fixtures__/workflow_async.ts
  packages/workflow-engine-redis/integration-tests/__fixtures__/workflow_step_timeout.ts
  packages/workflow-engine-redis/integration-tests/__tests__/index.spec.ts
  packages/workflow-engine-redis/src/services/workflows-module.ts
  packages/workflow-engine-redis/src/utils/workflow-orchestrator-storage.ts
  packages/workflows-sdk/src/utils/composer/create-step.ts
Labels: team: medusa

#6917 fix(medusa-test-utils): recompute driver options
  .changeset/seven-bears-reply.md
  packages/medusa-test-utils/src/medusa-test-runner.ts
Labels: team: medusa

#6928 fix(dashboard): Promotions loader
  packages/admin-next/dashboard/src/lib/api-v2/promotion.ts
  packages/admin-next/dashboard/src/v2-routes/promotions/promotion-list/loader.ts
Labels: team: medusa

#6927 feat(dashboard): Update v2 store domain to follow conventions, and abstract some logic
  packages/admin-next/dashboard/public/locales/en-US/translation.json
  packages/admin-next/dashboard/src/hooks/use-combobox-data.tsx
  packages/admin-next/dashboard/src/lib/api-v2/currencies.ts
  packages/admin-next/dashboard/src/lib/api-v2/region.ts
  packages/admin-next/dashboard/src/lib/api-v2/store.ts
  packages/admin-next/dashboard/src/lib/api-v2/types/common.ts
  packages/admin-next/dashboard/src/lib/api-v2/types/store.ts
  packages/admin-next/dashboard/src/providers/router-provider/v2.tsx
  packages/admin-next/dashboard/src/v2-routes/store/common/hooks/use-currencies-table-columns.tsx
  packages/admin-next/dashboard/src/v2-routes/store/common/hooks/use-currencies-table-query.tsx
  packages/admin-next/dashboard/src/v2-routes/store/store-add-currencies/components/add-currencies-form/add-currencies-form.tsx
  packages/admin-next/dashboard/src/v2-routes/store/store-detail/components/store-currency-section/store-currencies-section.tsx/store-currency-section.tsx
  packages/admin-next/dashboard/src/v2-routes/store/store-detail/components/store-general-section/store-general-section.tsx
  packages/admin-next/dashboard/src/v2-routes/store/store-detail/loader.ts
  packages/admin-next/dashboard/src/v2-routes/store/store-detail/store-detail.tsx
  packages/admin-next/dashboard/src/v2-routes/store/store-edit/components/edit-store-form/edit-store-form.tsx
  packages/admin-next/dashboard/src/v2-routes/store/store-edit/store-edit.tsx
Labels: automerge, team: medusa

#6936 docs: Update fulfillment.AbstractFulfillmentService.mdx
  www/apps/docs/content/references/fulfillment/classes/fulfillment.AbstractFulfillmentService.mdx
Labels: type: docs, automerge

#6911 feat(medusa): added endpoints for rule attribute/operator/values options
  .changeset/fifty-gifts-search.md
  integration-tests/modules/__tests__/promotion/admin/promotion-rules.spec.ts
  packages/customer/src/joiner-config.ts
  packages/medusa/src/api-v2/admin/promotions/middlewares.ts
  packages/medusa/src/api-v2/admin/promotions/query-config.ts
  packages/medusa/src/api-v2/admin/promotions/rule-attribute-options/[rule_type]/route.ts
  packages/medusa/src/api-v2/admin/promotions/rule-operator-options/route.ts
  packages/medusa/src/api-v2/admin/promotions/rule-value-options/[rule_type]/[rule_attribute_id]/route.ts
  packages/medusa/src/api-v2/admin/promotions/utils/index.ts
  packages/medusa/src/api-v2/admin/promotions/utils/rule-attributes-map.ts
  packages/medusa/src/api-v2/admin/promotions/utils/validate-rule-attribute.ts
  packages/medusa/src/api-v2/admin/promotions/utils/validate-rule-type.ts
  packages/medusa/src/api-v2/admin/promotions/validators.ts
  packages/region/src/joiner-config.ts
  packages/types/src/region/service.ts
Labels: automerge, team: medusa

#6918 feat: Add some of the missing pieces in the create product form
  packages/admin-next/dashboard/public/locales/en-US/translation.json
  packages/admin-next/dashboard/src/components/common/file-upload/file-upload.tsx
  packages/admin-next/dashboard/src/components/common/file-upload/index.ts
  packages/admin-next/dashboard/src/providers/router-provider/router-provider.tsx
  packages/admin-next/dashboard/src/routes/products/product-create/components/create-product-form/create-product-details.tsx
  packages/admin-next/dashboard/src/routes/products/product-create/components/create-product-form/create-product-form.tsx
  packages/admin-next/dashboard/src/routes/products/product-edit/components/edit-product-form/edit-product-form.tsx
  packages/admin-next/dashboard/src/routes/products/product-media/components/edit-product-media-form/edit-product-media-form.tsx
Labels: automerge, team: medusa

#6935 feat(dashboard): Setup V2 Collections domain
  packages/admin-next/dashboard/src/providers/router-provider/v1.tsx
  packages/admin-next/dashboard/src/providers/router-provider/v2.tsx
  packages/admin-next/dashboard/src/v2-routes/collections/collection-add-products/collection-add-products.tsx
  packages/admin-next/dashboard/src/v2-routes/collections/collection-add-products/components/add-products-to-collection-form/add-products-to-collection-form.tsx
  packages/admin-next/dashboard/src/v2-routes/collections/collection-add-products/components/add-products-to-collection-form/index.ts
  packages/admin-next/dashboard/src/v2-routes/collections/collection-add-products/index.ts
  packages/admin-next/dashboard/src/v2-routes/collections/collection-create/collection-create.tsx
  packages/admin-next/dashboard/src/v2-routes/collections/collection-create/components/create-collection-form/create-collection-form.tsx
  packages/admin-next/dashboard/src/v2-routes/collections/collection-create/components/create-collection-form/index.ts
  packages/admin-next/dashboard/src/v2-routes/collections/collection-create/index.ts
  packages/admin-next/dashboard/src/v2-routes/collections/collection-detail/collection-detail.tsx
  packages/admin-next/dashboard/src/v2-routes/collections/collection-detail/components/collection-general-section/collection-general-section.tsx
  packages/admin-next/dashboard/src/v2-routes/collections/collection-detail/components/collection-general-section/index.ts
  packages/admin-next/dashboard/src/v2-routes/collections/collection-detail/components/collection-product-section/collection-product-section.tsx
  packages/admin-next/dashboard/src/v2-routes/collections/collection-detail/components/collection-product-section/index.ts
  packages/admin-next/dashboard/src/v2-routes/collections/collection-detail/index.ts
  packages/admin-next/dashboard/src/v2-routes/collections/collection-detail/loader.ts
  packages/admin-next/dashboard/src/v2-routes/collections/collection-edit/collection-add-edit.tsx
  packages/admin-next/dashboard/src/v2-routes/collections/collection-edit/components/edit-collection-form/edit-collection-form.tsx
  packages/admin-next/dashboard/src/v2-routes/collections/collection-edit/components/edit-collection-form/index.ts
  packages/admin-next/dashboard/src/v2-routes/collections/collection-edit/index.ts
  packages/admin-next/dashboard/src/v2-routes/collections/collection-list/collection-list.tsx
  packages/admin-next/dashboard/src/v2-routes/collections/collection-list/components/collection-list-table/collection-list-table.tsx
  packages/admin-next/dashboard/src/v2-routes/collections/collection-list/components/collection-list-table/index.ts
  packages/admin-next/dashboard/src/v2-routes/collections/collection-list/components/collection-list-table/use-collection-table-columns.tsx
  packages/admin-next/dashboard/src/v2-routes/collections/collection-list/components/collection-list-table/use-collection-table-filters.tsx
  packages/admin-next/dashboard/src/v2-routes/collections/collection-list/components/collection-list-table/use-collection-table-query.tsx
  packages/admin-next/dashboard/src/v2-routes/collections/collection-list/index.ts
Labels: team: medusa

#6907 feat(dashboard): Add forms for edit and create product options
  packages/admin-next/dashboard/public/locales/en-US/translation.json
  packages/admin-next/dashboard/src/providers/router-provider/v1.tsx
  packages/admin-next/dashboard/src/routes/products/product-create-option/components/create-product-option-form/create-product-option-form.tsx
  packages/admin-next/dashboard/src/routes/products/product-create-option/components/create-product-option-form/index.ts
  packages/admin-next/dashboard/src/routes/products/product-create-option/index.ts
  packages/admin-next/dashboard/src/routes/products/product-create-option/product-create-option.tsx
  packages/admin-next/dashboard/src/routes/products/product-detail/components/product-option-section/product-option-section.tsx
  packages/admin-next/dashboard/src/routes/products/product-edit-option/components/edit-product-option-form/edit-product-option-form.tsx
  packages/admin-next/dashboard/src/routes/products/product-edit-option/components/edit-product-option-form/index.ts
  packages/admin-next/dashboard/src/routes/products/product-edit-option/index.ts
  packages/admin-next/dashboard/src/routes/products/product-edit-option/product-edit-option.tsx
  packages/admin-next/dashboard/src/routes/products/product-options/components/edit-product-options-form/edit-product-options-form.tsx
  packages/admin-next/dashboard/src/routes/products/product-options/components/edit-product-options-form/index.ts
  packages/admin-next/dashboard/src/routes/products/product-options/index.ts
Labels: team: medusa

#6924 chore: Ensure Redis connection is ready with callback
  .changeset/early-rice-marry.md
  packages/event-bus-redis/src/loaders/index.ts
  packages/workflow-engine-redis/src/loaders/redis.ts
Labels: team: medusa

#6864 feat: region payment providers management workflows/api
  .changeset/few-plants-float.md
  integration-tests/modules/__tests__/link-modules/region-payment-provider.spec.ts
  integration-tests/modules/__tests__/regions/admin/regions.spec.ts
  integration-tests/modules/__tests__/regions/workflows/create-region.spec.ts
  integration-tests/modules/__tests__/regions/workflows/update-region.spec.ts
  integration-tests/modules/medusa-config.js
  packages/core-flows/src/region/steps/set-regions-payment-providers.ts
  packages/core-flows/src/region/steps/update-regions.ts
  packages/core-flows/src/region/workflows/create-regions.ts
  packages/core-flows/src/region/workflows/update-regions.ts
  packages/link-modules/src/definitions/cart-payment-collection.ts
  packages/link-modules/src/definitions/cart-promotion.ts
  packages/link-modules/src/definitions/fulfillment-set-location.ts
  packages/link-modules/src/definitions/order-sales-channel.ts
  packages/link-modules/src/definitions/product-sales-channel.ts
  packages/link-modules/src/definitions/product-shipping-profile.ts
  packages/link-modules/src/definitions/product-variant-inventory-item.ts
  packages/link-modules/src/definitions/product-variant-price-set.ts
  packages/link-modules/src/definitions/publishable-api-key-sales-channel.ts
  packages/link-modules/src/definitions/region-payment-provider.ts
  packages/link-modules/src/definitions/sales-channel-location.ts
  packages/link-modules/src/definitions/shipping-option-price-set.ts
  packages/medusa-test-utils/src/medusa-test-runner.ts
  packages/medusa-test-utils/src/module-test-runner.ts
  packages/medusa/src/api-v2/admin/regions/[id]/route.ts
  packages/medusa/src/api-v2/admin/regions/middlewares.ts
  packages/medusa/src/api-v2/admin/regions/query-config.ts
  packages/medusa/src/api-v2/admin/regions/route.ts
  packages/medusa/src/api-v2/admin/regions/validators.ts
  packages/modules-sdk/src/definitions.ts
  packages/orchestration/src/joiner/helpers.ts
  packages/payment/src/index.ts
  packages/payment/src/types/index.ts
  packages/types/src/payment/common.ts
  packages/types/src/region/common.ts
  packages/types/src/workflow/index.ts
  packages/types/src/workflow/region/create-regions.ts
  packages/types/src/workflow/region/index.ts
  packages/types/src/workflow/region/update-regions.ts
  packages/utils/src/bundles.ts
  packages/utils/src/common/__tests__/remote-query-object-from-string.spec.ts
  packages/utils/src/common/remote-query-object-from-string.ts
  packages/utils/src/index.ts
  packages/utils/src/link/compose-link-name.ts
  packages/utils/src/link/index.ts
  packages/utils/src/link/links.ts
  packages/utils/src/modules-sdk/definition.ts
  packages/utils/src/modules-sdk/index.ts
Labels: team: medusa

#6939 feat(dashboard): Setup workflows in V2 routes
  packages/admin-next/dashboard/public/locales/en-US/translation.json
  packages/admin-next/dashboard/src/components/layout/settings-layout/settings-layout.tsx
  packages/admin-next/dashboard/src/providers/router-provider/v1.tsx
  packages/admin-next/dashboard/src/providers/router-provider/v2.tsx
  packages/admin-next/dashboard/src/routes/executions/execution-detail/components/execution-general-section/index.ts
  packages/admin-next/dashboard/src/routes/executions/execution-detail/components/execution-history-section/index.ts
  packages/admin-next/dashboard/src/routes/executions/execution-detail/components/execution-payload-section/index.ts
  packages/admin-next/dashboard/src/routes/executions/execution-detail/components/execution-timeline-section/index.ts
  packages/admin-next/dashboard/src/routes/executions/execution-detail/execution-detail.tsx
  packages/admin-next/dashboard/src/routes/executions/execution-detail/index.ts
  packages/admin-next/dashboard/src/routes/executions/execution-list/components/executions-list-table/index.ts
  packages/admin-next/dashboard/src/routes/executions/execution-list/execution-list.tsx
  packages/admin-next/dashboard/src/routes/executions/execution-list/index.ts
  packages/admin-next/dashboard/src/v2-routes/workflow-executions/constants.ts
  packages/admin-next/dashboard/src/v2-routes/workflow-executions/types.ts
  packages/admin-next/dashboard/src/v2-routes/workflow-executions/utils.ts
  packages/admin-next/dashboard/src/v2-routes/workflow-executions/workflow-execution-detail/components/workflow-execution-general-section/index.ts
  packages/admin-next/dashboard/src/v2-routes/workflow-executions/workflow-execution-detail/components/workflow-execution-general-section/workflow-execution-general-section.tsx
  packages/admin-next/dashboard/src/v2-routes/workflow-executions/workflow-execution-detail/components/workflow-execution-history-section/index.ts
  packages/admin-next/dashboard/src/v2-routes/workflow-executions/workflow-execution-detail/components/workflow-execution-history-section/workflow-execution-history-section.tsx
  packages/admin-next/dashboard/src/v2-routes/workflow-executions/workflow-execution-detail/components/workflow-execution-payload-section/index.ts
  packages/admin-next/dashboard/src/v2-routes/workflow-executions/workflow-execution-detail/components/workflow-execution-payload-section/workflow-execution-payload-section.tsx
  packages/admin-next/dashboard/src/v2-routes/workflow-executions/workflow-execution-detail/components/workflow-execution-timeline-section/index.ts
  packages/admin-next/dashboard/src/v2-routes/workflow-executions/workflow-execution-detail/components/workflow-execution-timeline-section/workflow-execution-timeline-section.tsx
  packages/admin-next/dashboard/src/v2-routes/workflow-executions/workflow-execution-detail/index.ts
  packages/admin-next/dashboard/src/v2-routes/workflow-executions/workflow-execution-detail/loader.ts
  packages/admin-next/dashboard/src/v2-routes/workflow-executions/workflow-execution-detail/workflow-detail.tsx
  packages/admin-next/dashboard/src/v2-routes/workflow-executions/workflow-execution-list/components/workflow-execution-list-table/index.ts
  packages/admin-next/dashboard/src/v2-routes/workflow-executions/workflow-execution-list/components/workflow-execution-list-table/use-workflow-execution-table-columns.tsx
  packages/admin-next/dashboard/src/v2-routes/workflow-executions/workflow-execution-list/components/workflow-execution-list-table/use-workflow-execution-table-query.tsx
  packages/admin-next/dashboard/src/v2-routes/workflow-executions/workflow-execution-list/components/workflow-execution-list-table/workflow-execution-list-table.tsx
  packages/admin-next/dashboard/src/v2-routes/workflow-executions/workflow-execution-list/index.ts
  packages/admin-next/dashboard/src/v2-routes/workflow-executions/workflow-execution-list/workflow-execution-list.tsx
Labels: team: medusa

#6951 fix(workflows-sdk): Handle result from a trasnformer after a step fail
  .changeset/plenty-ravens-lay.md
  packages/workflows-sdk/src/helper/workflow-export.ts
  packages/workflows-sdk/src/utils/composer/__tests__/index.spec.ts
  packages/workflows-sdk/src/utils/composer/create-workflow.ts
Labels: team: medusa

#6952 fix(admin-ui): Resolve `node-gyp` error during installation with npm
  .changeset/friendly-readers-begin.md
  packages/admin-ui/package.json
  yarn.lock
Labels: automerge, team: medusa

#6883 feat: Admin V2 API keys
  .changeset/purple-bats-clap.md
  packages/admin-next/dashboard/public/locales/en-US/translation.json
  packages/admin-next/dashboard/src/components/layout/settings-layout/settings-layout.tsx
  packages/admin-next/dashboard/src/components/search/search.tsx
  packages/admin-next/dashboard/src/lib/uppercase-first.ts
  packages/admin-next/dashboard/src/providers/router-provider/v1.tsx
  packages/admin-next/dashboard/src/providers/router-provider/v2.tsx
  packages/admin-next/dashboard/src/routes/api-key-management/api-key-management-add-sales-channels/api-key-management-add-sales-channels.tsx
  packages/admin-next/dashboard/src/v2-routes/api-key-management/api-key-management-add-sales-channels/api-key-management-add-sales-channels.tsx
  packages/admin-next/dashboard/src/v2-routes/api-key-management/api-key-management-add-sales-channels/components/add-sales-channels-to-api-key-form.tsx
  packages/admin-next/dashboard/src/v2-routes/api-key-management/api-key-management-add-sales-channels/components/index.ts
  packages/admin-next/dashboard/src/v2-routes/api-key-management/api-key-management-add-sales-channels/index.ts
  packages/admin-next/dashboard/src/v2-routes/api-key-management/api-key-management-create/api-key-management-create.tsx
  packages/admin-next/dashboard/src/v2-routes/api-key-management/api-key-management-create/components/create-publishable-api-key-form/create-publishable-api-key-form.tsx
  packages/admin-next/dashboard/src/v2-routes/api-key-management/api-key-management-create/components/create-publishable-api-key-form/index.ts
  packages/admin-next/dashboard/src/v2-routes/api-key-management/api-key-management-create/index.ts
  packages/admin-next/dashboard/src/v2-routes/api-key-management/api-key-management-detail/api-key-management-detail.tsx
  packages/admin-next/dashboard/src/v2-routes/api-key-management/api-key-management-detail/components/api-key-general-section/api-key-general-section.tsx
  packages/admin-next/dashboard/src/v2-routes/api-key-management/api-key-management-detail/components/api-key-general-section/index.ts
  packages/admin-next/dashboard/src/v2-routes/api-key-management/api-key-management-detail/components/api-key-sales-channel-section/api-key-sales-channel-section.tsx
  packages/admin-next/dashboard/src/v2-routes/api-key-management/api-key-management-detail/components/api-key-sales-channel-section/index.ts
  packages/admin-next/dashboard/src/v2-routes/api-key-management/api-key-management-detail/index.ts
  packages/admin-next/dashboard/src/v2-routes/api-key-management/api-key-management-detail/loader.ts
  packages/admin-next/dashboard/src/v2-routes/api-key-management/api-key-management-edit/api-key-management-edit.tsx
  packages/admin-next/dashboard/src/v2-routes/api-key-management/api-key-management-edit/components/edit-api-key-form/edit-api-key-form.tsx
  packages/admin-next/dashboard/src/v2-routes/api-key-management/api-key-management-edit/components/edit-api-key-form/index.ts
  packages/admin-next/dashboard/src/v2-routes/api-key-management/api-key-management-edit/index.ts
  packages/admin-next/dashboard/src/v2-routes/api-key-management/api-key-management-list/api-key-management-list.tsx
  packages/admin-next/dashboard/src/v2-routes/api-key-management/api-key-management-list/components/api-key-management-list-table/api-key-management-list-table.tsx
  packages/admin-next/dashboard/src/v2-routes/api-key-management/api-key-management-list/components/api-key-management-list-table/index.ts
  packages/admin-next/dashboard/src/v2-routes/api-key-management/api-key-management-list/components/api-key-management-list-table/use-api-key-management-table-columns.tsx
  packages/admin-next/dashboard/src/v2-routes/api-key-management/api-key-management-list/components/api-key-management-list-table/use-api-key-management-table-filters.tsx
  packages/admin-next/dashboard/src/v2-routes/api-key-management/api-key-management-list/components/api-key-management-list-table/use-api-key-management-table-query.tsx
  packages/admin-next/dashboard/src/v2-routes/api-key-management/api-key-management-list/index.ts
  packages/medusa-react/src/hooks/index.ts
  packages/medusa/src/api-v2/admin/api-keys/[id]/route.ts
Labels: automerge, team: medusa

#6795 chore: add tsdocs for the Store Module resources
  packages/types/src/store/common/store.ts
  packages/types/src/store/mutations/store.ts
  packages/types/src/store/service.ts
Labels: type: docs, team: medusa

#6784 chore: add tsdocs for the Customer Module
  packages/types/src/customer/service.ts
Labels: type: docs, team: medusa

#6817 chore: added tsdocs for Stock Location Next Module
  packages/types/src/stock-location/common.ts
  packages/types/src/stock-location/service-next.ts
Labels: type: docs, team: medusa

#6863 chore: added tsdocs for the Auth Module
  packages/types/src/auth/common/auth-user.ts
  packages/types/src/auth/common/provider.ts
  packages/types/src/auth/service.ts
Labels: type: docs, team: medusa

#6885 chore: add TSDocs to the Payment Module
  packages/medusa/src/interfaces/payment-processor.ts
  packages/types/src/payment/common.ts
  packages/types/src/payment/mutations.ts
  packages/types/src/payment/provider.ts
  packages/types/src/payment/service.ts
  packages/utils/src/payment/abstract-payment-provider.ts
Labels: type: docs, team: medusa

#6894 chore: updated TSDocs of the Pricing Module
  packages/types/src/pricing/common/price-list.ts
  packages/types/src/pricing/common/price-set.ts
  packages/types/src/pricing/service.ts
Labels: type: docs, team: medusa

#6902 chore: added tsdocs for the Tax Module
  packages/types/src/tax/common.ts
  packages/types/src/tax/mutations.ts
  packages/types/src/tax/provider.ts
  packages/types/src/tax/service.ts
Labels: type: docs, team: medusa

#6881 chore: added tsdocs to Cart Module
  packages/types/src/cart/common.ts
  packages/types/src/cart/mutations.ts
  packages/types/src/cart/service.ts
Labels: type: docs, team: medusa

#6793 chore: add TSDocs to the Promotion Module
  packages/types/src/promotion/common/application-method.ts
  packages/types/src/promotion/common/campaign-budget.ts
  packages/types/src/promotion/common/campaign.ts
  packages/types/src/promotion/common/compute-actions.ts
  packages/types/src/promotion/common/promotion-rule-value.ts
  packages/types/src/promotion/common/promotion-rule.ts
  packages/types/src/promotion/common/promotion.ts
  packages/types/src/promotion/mutations.ts
  packages/types/src/promotion/service.ts
Labels: type: docs, team: medusa

#6955 chore: rename rule endpoints validators
  packages/medusa/src/api-v2/admin/promotions/[id]/buy-rules/batch/add/route.ts
  packages/medusa/src/api-v2/admin/promotions/[id]/buy-rules/batch/remove/route.ts
  packages/medusa/src/api-v2/admin/promotions/[id]/rules/batch/add/route.ts
  packages/medusa/src/api-v2/admin/promotions/[id]/rules/batch/remove/route.ts
  packages/medusa/src/api-v2/admin/promotions/[id]/rules/batch/update/route.ts
  packages/medusa/src/api-v2/admin/promotions/[id]/target-rules/batch/add/route.ts
  packages/medusa/src/api-v2/admin/promotions/[id]/target-rules/batch/remove/route.ts
  packages/medusa/src/api-v2/admin/promotions/middlewares.ts
  packages/medusa/src/api-v2/admin/promotions/validators.ts
Labels: automerge, team: medusa

#6956 feat: Add boilerplate for the file module
  packages/core-flows/src/file/index.ts
  packages/core-flows/src/file/steps/delete-files.ts
  packages/core-flows/src/file/steps/index.ts
  packages/core-flows/src/file/steps/upload-files.ts
  packages/core-flows/src/file/workflows/delete-files.ts
  packages/core-flows/src/file/workflows/index.ts
  packages/core-flows/src/file/workflows/upload-files.ts
  packages/core-flows/src/index.ts
  packages/file/.gitignore
  packages/file/CHANGELOG.md
  packages/file/README.md
  packages/file/integration-tests/__tests__/module.spec.ts
  packages/file/jest.config.js
  packages/file/package.json
  packages/file/src/index.ts
  packages/file/src/joiner-config.ts
  packages/file/src/loaders/index.ts
  packages/file/src/module-definition.ts
  packages/file/src/services/__tests__/file.spec.ts
  packages/file/src/services/file-module-service.ts
  packages/file/src/services/index.ts
  packages/file/tsconfig.json
  packages/file/tsconfig.spec.json
  packages/medusa/src/api-v2/admin/uploads/[id]/route.ts
  packages/medusa/src/api-v2/admin/uploads/middlewares.ts
  packages/medusa/src/api-v2/admin/uploads/query-config.ts
  packages/medusa/src/api-v2/admin/uploads/route.ts
  packages/medusa/src/api-v2/middlewares.ts
  packages/modules-sdk/src/definitions.ts
  packages/types/src/bundles.ts
  packages/types/src/file/common.ts
  packages/types/src/file/index.ts
  packages/types/src/file/mutations.ts
  packages/types/src/file/service.ts
  packages/types/src/index.ts
  yarn.lock
Labels: automerge, team: medusa

#6960 fix: upsertWithReplace should delete non-persist relationship fields …
  packages/utils/src/dal/mikro-orm/integration-tests/__tests__/mikro-orm-repository.spec.ts
  packages/utils/src/dal/mikro-orm/mikro-orm-repository.ts
Labels: automerge, team: medusa

#6942 feat(utils): Support free text configuration
  packages/inventory-next/src/models/inventory-item.ts
  packages/inventory-next/src/repositories/index.ts
  packages/inventory-next/src/repositories/inventory-item.ts
  packages/product/integration-tests/__tests__/services/product/index.ts
  packages/product/src/models/product-collection.ts
  packages/product/src/models/product-variant.ts
  packages/product/src/models/product.ts
  packages/product/src/repositories/product.ts
  packages/stock-location-next/src/models/stock-location.ts
  packages/stock-location-next/src/repositories/index.ts
  packages/stock-location-next/src/repositories/stock-location.ts
  packages/utils/src/dal/index.ts
  packages/utils/src/dal/mikro-orm/__fixtures__/utils.ts
  packages/utils/src/dal/mikro-orm/__tests__/mikro-orm-free-text-search-filter.spec.ts
  packages/utils/src/dal/mikro-orm/decorators/searchable.ts
  packages/utils/src/dal/mikro-orm/mikro-orm-create-connection.ts
  packages/utils/src/dal/mikro-orm/mikro-orm-free-text-search-filter.ts
  packages/utils/src/modules-sdk/internal-module-service-factory.ts
  packages/utils/src/modules-sdk/loaders/mikro-orm-connection-loader.ts
Labels: automerge, team: medusa

#6957 feat: Shipping options API
  packages/core-flows/src/fulfillment/steps/remove-rules-from-fulfillment-shipping-option.ts
  packages/types/src/bundles.ts
  packages/types/src/common/index.ts
  packages/types/src/common/rule.ts
  packages/types/src/fulfillment/mutations/shipping-option-rule.ts
  packages/types/src/http/fulfillment/admin/fulfillment-address.ts
  packages/types/src/http/fulfillment/admin/fulfillment-item.ts
  packages/types/src/http/fulfillment/admin/fulfillment-label.ts
  packages/types/src/http/fulfillment/admin/fulfillment-provider.ts
  packages/types/src/http/fulfillment/admin/fulfillment-set.ts
  packages/types/src/http/fulfillment/admin/fulfillment.ts
  packages/types/src/http/fulfillment/admin/geo-zone.ts
  packages/types/src/http/fulfillment/admin/index.ts
  packages/types/src/http/fulfillment/admin/service-zone.ts
  packages/types/src/http/fulfillment/admin/shipping-option-rule.ts
  packages/types/src/http/fulfillment/admin/shipping-option-type.ts
  packages/types/src/http/fulfillment/admin/shipping-option.ts
  packages/types/src/http/fulfillment/admin/shipping-profile.ts
  packages/types/src/http/fulfillment/index.ts
  packages/types/src/http/index.ts
  packages/types/src/index.ts
Labels: automerge, team: medusa

#6961 feat: Add zod middleware
  packages/medusa/package.json
  packages/medusa/src/api-v2/utils/__tests__/validate-body.ts
  packages/medusa/src/api-v2/utils/validate-body.ts
  yarn.lock
Labels: team: medusa

#6965 fix: Add count to stock-locations response
  packages/medusa/src/api-v2/admin/stock-locations/route.ts
Labels: team: medusa

#6944 feat(product): return parents tree
  .changeset/forty-lamps-admire.md
  packages/product/integration-tests/__fixtures__/product-category/data/index.ts
  packages/product/integration-tests/__tests__/services/product-category/index.ts
  packages/product/src/repositories/product-category.ts
  packages/product/src/services/product-category.ts
  packages/types/src/product-category/repository.ts
  packages/types/src/product/common.ts
Labels: automerge, team: medusa

#6972 chore:(product): renaming vars
  packages/product/src/repositories/product-category.ts
  packages/product/src/services/product-category.ts
  packages/types/src/product-category/repository.ts
Labels: team: medusa

#6799 chore: added tsdocs to Region Module resources
  packages/types/src/region/common.ts
  packages/types/src/region/mutations.ts
  packages/types/src/region/service.ts
Labels: team: medusa

#6970 fix(region): update regions countries
  packages/region/integration-tests/__tests__/region-module.spec.ts
  packages/region/src/services/region-module.ts
Labels: team: medusa

#6954 chore: Trigger pipeline on merge to develop
  .github/workflows/action.yml
Labels: team: medusa

#6969 feat: Add generic link filter middleware
  packages/medusa/src/api-v2/admin/products/middlewares.ts
  packages/medusa/src/api-v2/admin/products/utils/index.ts
  packages/medusa/src/api-v2/admin/products/utils/maybe-apply-sales-channels-filter.ts
  packages/medusa/src/api-v2/admin/sales-channels/middlewares.ts
  packages/medusa/src/api-v2/admin/sales-channels/validators.ts
  packages/medusa/src/api-v2/admin/stock-locations/middlewares.ts
  packages/medusa/src/api-v2/admin/stock-locations/utils/apply-sales-channel-filter.ts
  packages/medusa/src/api-v2/utils/maybe-apply-link-filter.ts
Labels: team: medusa

#6973 Chores: Do not disable foreign keys by default
  .changeset/nice-hounds-accept.md
  packages/utils/src/dal/mikro-orm/mikro-orm-create-connection.ts
Labels: team: medusa

#6967 chore(orchestration): serialize error
  .changeset/clever-countries-guess.md
  integration-tests/modules/__tests__/cart/store/cart.workflows.spec.ts
  integration-tests/modules/__tests__/payment/payment-session.workflows.spec.ts
  integration-tests/plugins/__tests__/workflows/inventory/create-inventory-items.ts
  integration-tests/plugins/__tests__/workflows/product/create-product.ts
  integration-tests/plugins/__tests__/workflows/product/update-product.ts
  packages/orchestration/src/transaction/errors.ts
  packages/orchestration/src/transaction/transaction-orchestrator.ts
  packages/workflows-sdk/src/utils/composer/__tests__/index.spec.ts
Labels: team: medusa

#6882 feat(dashboard): added details page for promotions + edit sliders
  .changeset/quick-jeans-push.md
  integration-tests/modules/__tests__/pricing/admin/rule-types.spec.ts
  packages/admin-next/dashboard/public/locales/$schema.json
  packages/admin-next/dashboard/public/locales/en-US/translation.json
  packages/admin-next/dashboard/src/components/common/badge-list-summary/badge-list-summary.tsx
  packages/admin-next/dashboard/src/components/common/badge-list-summary/index.ts
  packages/admin-next/dashboard/src/components/common/empty-table-content/empty-table-content.tsx
  packages/admin-next/dashboard/src/hooks/api/campaigns.tsx
  packages/admin-next/dashboard/src/hooks/api/promotions.tsx
  packages/admin-next/dashboard/src/lib/api-v2/campaign.ts
  packages/admin-next/dashboard/src/lib/api-v2/index.ts
  packages/admin-next/dashboard/src/lib/api-v2/promotion.ts
  packages/admin-next/dashboard/src/lib/client/campaigns.ts
  packages/admin-next/dashboard/src/lib/client/client.ts
  packages/admin-next/dashboard/src/lib/client/promotions.ts
  packages/admin-next/dashboard/src/providers/router-provider/v2.tsx
  packages/admin-next/dashboard/src/types/api-payloads.ts
  packages/admin-next/dashboard/src/types/api-responses.ts
  packages/admin-next/dashboard/src/v2-routes/promotions/edit-rules/components/edit-rules-form/edit-rules-form.tsx
  packages/admin-next/dashboard/src/v2-routes/promotions/edit-rules/components/edit-rules-form/index.ts
  packages/admin-next/dashboard/src/v2-routes/promotions/edit-rules/components/edit-rules-form/utils.ts
  packages/admin-next/dashboard/src/v2-routes/promotions/edit-rules/edit-rules.tsx
  packages/admin-next/dashboard/src/v2-routes/promotions/edit-rules/index.ts
  packages/admin-next/dashboard/src/v2-routes/promotions/promotion-add-campaign/components/add-campaign-promotion-form/add-campaign-promotion-form.tsx
  packages/admin-next/dashboard/src/v2-routes/promotions/promotion-add-campaign/components/add-campaign-promotion-form/campaign-details.tsx
  packages/admin-next/dashboard/src/v2-routes/promotions/promotion-add-campaign/components/add-campaign-promotion-form/index.ts
  packages/admin-next/dashboard/src/v2-routes/promotions/promotion-add-campaign/index.ts
  packages/admin-next/dashboard/src/v2-routes/promotions/promotion-add-campaign/promotion-add-campaign.tsx
  packages/admin-next/dashboard/src/v2-routes/promotions/promotion-detail/components/campaign-section/campaign-section.tsx
  packages/admin-next/dashboard/src/v2-routes/promotions/promotion-detail/components/campaign-section/index.ts
  packages/admin-next/dashboard/src/v2-routes/promotions/promotion-detail/components/promotion-conditions-section/index.ts
  packages/admin-next/dashboard/src/v2-routes/promotions/promotion-detail/components/promotion-conditions-section/promotion-conditions-section.tsx
  packages/admin-next/dashboard/src/v2-routes/promotions/promotion-detail/components/promotion-general-section/index.ts
  packages/admin-next/dashboard/src/v2-routes/promotions/promotion-detail/components/promotion-general-section/promotion-general-section.tsx
  packages/admin-next/dashboard/src/v2-routes/promotions/promotion-detail/index.ts
  packages/admin-next/dashboard/src/v2-routes/promotions/promotion-detail/loader.ts
  packages/admin-next/dashboard/src/v2-routes/promotions/promotion-detail/promotion-detail.tsx
  packages/admin-next/dashboard/src/v2-routes/promotions/promotion-edit-details/components/edit-promotion-form/edit-promotion-details-form.tsx
  packages/admin-next/dashboard/src/v2-routes/promotions/promotion-edit-details/components/edit-promotion-form/index.ts
  packages/admin-next/dashboard/src/v2-routes/promotions/promotion-edit-details/index.ts
  packages/admin-next/dashboard/src/v2-routes/promotions/promotion-edit-details/promotion-edit-details.tsx
  packages/admin-next/dashboard/src/v2-routes/promotions/promotion-list/components/promotion-list-table/promotion-list-table.tsx
  packages/admin-next/dashboard/src/v2-routes/promotions/promotion-list/loader.ts
  packages/medusa-react/src/hooks/admin/custom/queries.ts
  packages/medusa/src/api-v2/admin/campaigns/index.ts
  packages/medusa/src/api-v2/admin/campaigns/types.ts
  packages/medusa/src/api-v2/admin/index.ts
  packages/medusa/src/api-v2/admin/promotions/[id]/[rule_type]/route.ts
  packages/medusa/src/api-v2/admin/promotions/middlewares.ts
  packages/medusa/src/api-v2/admin/promotions/query-config.ts
  packages/medusa/src/api-v2/admin/promotions/rule-operator-options/route.ts
  packages/medusa/src/api-v2/admin/promotions/rule-value-options/[rule_type]/[rule_attribute_id]/route.ts
  packages/medusa/src/api-v2/admin/promotions/types.ts
  packages/medusa/src/api-v2/admin/promotions/utils/index.ts
  packages/medusa/src/api-v2/admin/promotions/utils/operators-map.ts
  packages/medusa/src/api-v2/admin/promotions/utils/rule-attributes-map.ts
  packages/medusa/src/api-v2/admin/promotions/utils/rule-query-configuration.ts
  packages/medusa/src/api-v2/admin/promotions/validators.ts
  packages/types/src/promotion/http.ts
  packages/types/src/promotion/index.ts
Labels: team: medusa

#6962 feat: Create shipping options workflow
  .changeset/rude-garlics-hang.md
  integration-tests/modules/__tests__/fulfillment/workflows/create-shipping-options.ts
  integration-tests/modules/__tests__/link-modules/shipping-option-price-set.spec.ts
  integration-tests/modules/medusa-config.js
  integration-tests/modules/package.json
  packages/core-flows/src/fulfillment/steps/add-shipping-options-prices.ts
  packages/core-flows/src/fulfillment/steps/create-shipping-options.ts
  packages/core-flows/src/fulfillment/steps/index.ts
  packages/core-flows/src/fulfillment/steps/set-shipping-options-price-sets.ts
  packages/core-flows/src/fulfillment/workflows/create-shipping-options.ts
  packages/core-flows/src/fulfillment/workflows/index.ts
  packages/core-flows/src/pricing/steps/create-pricing-rule-types.ts
  packages/link-modules/src/definitions/shipping-option-price-set.ts
  packages/medusa-test-utils/src/medusa-test-runner.ts
  packages/orchestration/src/joiner/remote-joiner.ts
  packages/types/src/modules-sdk/index.ts
  packages/types/src/workflow/fulfillment/create-shipping-options.ts
  packages/types/src/workflow/fulfillment/index.ts
  packages/types/src/workflow/index.ts
  yarn.lock
Labels: automerge, team: medusa

#6978 feat: Switch to zod for the product API and implement missing primitives
  integration-tests/api/__tests__/admin/product.js
  packages/core-flows/src/product/workflows/update-product-variants.ts
  packages/medusa/src/api-v2/admin/products/[id]/options/[option_id]/route.ts
  packages/medusa/src/api-v2/admin/products/[id]/options/route.ts
  packages/medusa/src/api-v2/admin/products/[id]/route.ts
  packages/medusa/src/api-v2/admin/products/[id]/variants/[variant_id]/route.ts
  packages/medusa/src/api-v2/admin/products/[id]/variants/route.ts
  packages/medusa/src/api-v2/admin/products/helpers.ts
  packages/medusa/src/api-v2/admin/products/middlewares.ts
  packages/medusa/src/api-v2/admin/products/query-config.ts
  packages/medusa/src/api-v2/admin/products/route.ts
  packages/medusa/src/api-v2/admin/products/utils/maybe-apply-price-lists-filter.ts
  packages/medusa/src/api-v2/admin/products/validators.ts
  packages/medusa/src/api-v2/admin/uploads/middlewares.ts
  packages/medusa/src/api-v2/utils/validate-query.ts
  packages/medusa/src/api-v2/utils/validators.ts
Labels: automerge, team: medusa

#6976 feat: Bring back API key sales channel management
  packages/admin-next/dashboard/src/hooks/api/api-keys.tsx
  packages/admin-next/dashboard/src/hooks/api/sales-channels.tsx
  packages/admin-next/dashboard/src/lib/client/api-keys.ts
  packages/admin-next/dashboard/src/lib/client/sales-channels.ts
  packages/admin-next/dashboard/src/providers/router-provider/v2.tsx
  packages/admin-next/dashboard/src/types/api-responses.ts
  packages/admin-next/dashboard/src/v2-routes/api-key-management/api-key-management-add-sales-channels/api-key-management-add-sales-channels.tsx
  packages/admin-next/dashboard/src/v2-routes/api-key-management/api-key-management-add-sales-channels/components/add-sales-channels-to-api-key-form.tsx
  packages/admin-next/dashboard/src/v2-routes/api-key-management/api-key-management-detail/api-key-management-detail.tsx
  packages/admin-next/dashboard/src/v2-routes/api-key-management/api-key-management-detail/components/api-key-sales-channel-section/api-key-sales-channel-section.tsx
  packages/admin-next/dashboard/src/v2-routes/api-key-management/api-key-management-detail/loader.ts
  packages/admin-next/dashboard/src/v2-routes/api-key-management/api-key-management-list/components/api-key-management-list-table/use-api-key-management-table-columns.tsx
  packages/admin-next/dashboard/src/v2-routes/sales-channels/sales-channel-detail/loader.ts
  packages/types/src/http/api-key/admin/api-key.ts
  packages/types/src/http/api-key/admin/index.ts
  packages/types/src/http/api-key/index.ts
  packages/types/src/http/common/index.ts
  packages/types/src/http/common/paginated-response.ts
  packages/types/src/http/index.ts
  packages/types/src/http/sales-channel/admin/index.ts
  packages/types/src/http/sales-channel/admin/sales-channel.ts
  packages/types/src/http/sales-channel/index.ts
Labels: automerge, team: medusa

#6977 feat: Clean up shipping options management
  .changeset/nervous-plants-watch.md
  integration-tests/modules/__tests__/fulfillment/admin/shipping-option-rules.spec.ts
  integration-tests/modules/__tests__/fulfillment/admin/shipping-options.spec.ts
  packages/medusa/src/api-v2/admin/fulfillment/middlewares.ts
  packages/medusa/src/api-v2/admin/fulfillment/query-config.ts
  packages/medusa/src/api-v2/admin/fulfillment/shipping-options/[id]/rules/batch/add/route.ts
  packages/medusa/src/api-v2/admin/fulfillment/shipping-options/[id]/rules/batch/remove/route.ts
  packages/medusa/src/api-v2/admin/fulfillment/validators.ts
  packages/medusa/src/api-v2/admin/inventory-items/route.ts
  packages/medusa/src/api-v2/admin/shipping-options/[id]/rules/batch/add/route.ts
  packages/medusa/src/api-v2/admin/shipping-options/[id]/rules/batch/remove/route.ts
  packages/medusa/src/api-v2/admin/shipping-options/middlewares.ts
  packages/medusa/src/api-v2/admin/shipping-options/query-config.ts
  packages/medusa/src/api-v2/admin/shipping-options/route.ts
  packages/medusa/src/api-v2/admin/shipping-options/validators.ts
  packages/medusa/src/api-v2/middlewares.ts
  packages/medusa/src/api-v2/store/payment-collections/[id]/payment-sessions/route.ts
  packages/medusa/src/types/routing.ts
  packages/types/src/http/fulfillment/admin/shipping-option.ts
  packages/types/src/http/index.ts
  packages/types/src/http/pricing/index.ts
  packages/types/src/http/pricing/price.ts
Labels: automerge, team: medusa

#6981 feat: Add support for defining options when creating product
  packages/admin-next/dashboard/public/locales/en-US/translation.json
  packages/admin-next/dashboard/src/components/common/keypair/index.tsx
  packages/admin-next/dashboard/src/components/common/keypair/keypair.tsx
  packages/admin-next/dashboard/src/components/common/list/list.tsx
  packages/admin-next/dashboard/src/hooks/api/products.tsx
  packages/admin-next/dashboard/src/lib/client/products.ts
  packages/admin-next/dashboard/src/v2-routes/products/product-create/components/create-product-form/create-product-details.tsx
  packages/admin-next/dashboard/src/v2-routes/products/product-detail/components/product-sales-channel-section/product-sales-channel-section.tsx
  packages/admin-next/dashboard/src/v2-routes/products/product-detail/components/product-variant-section/product-variant-section.tsx
  packages/admin-next/dashboard/src/v2-routes/products/product-detail/components/product-variant-section/use-variant-table-columns.tsx
Labels: team: medusa

#6979 feat(medusa, core-flows): Create service zones
  integration-tests/api/__tests__/admin/fulfillment-sets.spec.ts
  packages/core-flows/src/fulfillment/steps/create-service-zones.ts
  packages/core-flows/src/fulfillment/steps/index.ts
  packages/core-flows/src/fulfillment/workflows/create-service-zones.ts
  packages/core-flows/src/fulfillment/workflows/index.ts
  packages/core-flows/src/stock-location/steps/associate-locations-with-fulfillment-sets.ts
  packages/medusa/src/api-v2/admin/fulfillment-sets/[id]/service-zones/route.ts
  packages/medusa/src/api-v2/admin/fulfillment-sets/middlewares.ts
  packages/medusa/src/api-v2/admin/fulfillment-sets/query-config.ts
  packages/medusa/src/api-v2/admin/fulfillment-sets/validators.ts
  packages/medusa/src/api-v2/admin/stock-locations/middlewares.ts
  packages/medusa/src/api-v2/middlewares.ts
  packages/types/src/workflow/fulfillment/create-service-zones.ts
  packages/types/src/workflow/fulfillment/index.ts
Labels: team: medusa

#6982 fix(modules-sdk): Select all should send undefined instead of an empty array
  .changeset/rare-owls-try.md
  packages/modules-sdk/src/__tests__/remote-quer.spec.ts
  packages/modules-sdk/src/remote-query.ts
  packages/orchestration/src/joiner/remote-joiner.ts
  packages/types/src/joiner/index.ts
Labels: team: medusa

#6984 feat: Delete service zone
  integration-tests/api/__tests__/admin/fulfillment-sets.spec.ts
  packages/core-flows/src/fulfillment/steps/delete-service-zones.ts
  packages/core-flows/src/fulfillment/steps/index.ts
  packages/core-flows/src/fulfillment/workflows/delete-service-zones.ts
  packages/core-flows/src/fulfillment/workflows/index.ts
  packages/medusa/src/api-v2/admin/fulfillment-sets/[id]/service-zones/[zone_id]/route.ts
  packages/medusa/src/api-v2/admin/fulfillment-sets/middlewares.ts
Labels: team: medusa

#6986 feat: Add support for setting sales channel when creating a product
  integration-tests/api/__tests__/admin/product.js
  packages/core-flows/src/common/steps/remove-remote-links.ts
  packages/core-flows/src/product/steps/index.ts
  packages/core-flows/src/product/steps/remove-variant-pricing-link.ts
  packages/core-flows/src/product/workflows/create-products.ts
  packages/core-flows/src/product/workflows/delete-product-variants.ts
  packages/core-flows/src/product/workflows/delete-products.ts
  packages/core-flows/src/product/workflows/update-products.ts
  packages/core-flows/src/sales-channel/steps/associate-products-with-channels.ts
  packages/core-flows/src/sales-channel/steps/detach-products-from-sales-channels.ts
  packages/core-flows/src/sales-channel/workflows/add-products-to-sales-channels.ts
  packages/core-flows/src/sales-channel/workflows/remove-products-from-sales-channels.ts
  packages/medusa/src/api-v2/admin/products/validators.ts
Labels: team: medusa

#6988 feat: Revamp product details page and several product fixes and cleanups
  packages/admin-next/dashboard/src/components/common/section/index.ts
  packages/admin-next/dashboard/src/components/common/section/section-row.tsx
  packages/admin-next/dashboard/src/hooks/api/products.tsx
  packages/admin-next/dashboard/src/lib/addresses.ts
  packages/admin-next/dashboard/src/lib/client/products.ts
  packages/admin-next/dashboard/src/v2-routes/products/product-create-option/components/create-product-option-form/create-product-option-form.tsx
  packages/admin-next/dashboard/src/v2-routes/products/product-create/components/create-product-form/create-product-details.tsx
  packages/admin-next/dashboard/src/v2-routes/products/product-create/components/create-product-form/create-product-form.tsx
  packages/admin-next/dashboard/src/v2-routes/products/product-detail/components/product-attribute-section/product-attribute-section.tsx
  packages/admin-next/dashboard/src/v2-routes/products/product-detail/components/product-general-section/product-general-section.tsx
  packages/admin-next/dashboard/src/v2-routes/products/product-detail/components/product-option-section/product-option-section.tsx
  packages/admin-next/dashboard/src/v2-routes/products/product-detail/components/product-organization-section/product-organization-section.tsx
  packages/admin-next/dashboard/src/v2-routes/products/product-detail/components/product-sales-channel-section/product-sales-channel-section.tsx
  packages/admin-next/dashboard/src/v2-routes/products/product-detail/components/product-variant-section/product-variant-section.tsx
  packages/admin-next/dashboard/src/v2-routes/products/product-detail/components/product-variant-section/use-variant-table-columns.tsx
  packages/admin-next/dashboard/src/v2-routes/products/product-detail/loader.ts
  packages/admin-next/dashboard/src/v2-routes/products/product-detail/product-detail.tsx
  packages/admin-next/dashboard/src/v2-routes/products/product-edit-option/components/edit-product-option-form/edit-product-option-form.tsx
  packages/admin-next/dashboard/src/v2-routes/products/product-edit-variant/components/product-edit-variant-form/product-edit-variant-form.tsx
  packages/admin-next/dashboard/src/v2-routes/products/product-edit-variant/loader.ts
  packages/admin-next/dashboard/src/v2-routes/products/product-list/loader.ts
  packages/admin-next/dashboard/src/v2-routes/products/product-media/components/edit-product-media-form/edit-product-media-form.tsx
  packages/admin-next/dashboard/src/v2-routes/products/product-sales-channels/components/edit-sales-channels-form/edit-sales-channels-form.tsx
  packages/medusa/src/api-v2/admin/products/query-config.ts
Labels: team: medusa

#6989 fix(modules-sdk): Fix remote query selection
  .changeset/tender-timers-compete.md
  packages/modules-sdk/src/__tests__/remote-quer.spec.ts
  packages/modules-sdk/src/__tests__/remote-query.spec.ts
  packages/modules-sdk/src/remote-query.ts
Labels: automerge, team: medusa

#6991 feat: Add decimal digits and rounding info to currencies
  packages/currency/integration-tests/__tests__/currency-module-service.spec.ts
  packages/currency/src/migrations/.snapshot-medusa-currency.json
  packages/currency/src/migrations/InitialSetup20240228133303.ts
  packages/currency/src/models/currency.ts
  packages/medusa/src/api-v2/admin/currencies/[code]/route.ts
  packages/medusa/src/api-v2/admin/currencies/middlewares.ts
  packages/medusa/src/api-v2/admin/currencies/query-config.ts
  packages/medusa/src/api-v2/admin/currencies/route.ts
  packages/medusa/src/api-v2/admin/currencies/validators.ts
Labels: team: medusa

#6980 feat: Totals calculation
  packages/cart/src/types/line-item-adjustment.ts
  packages/cart/src/types/line-item.ts
  packages/cart/src/types/shipping-method-adjustment.ts
  packages/cart/src/types/shipping-method.ts
  packages/core-flows/src/definition/cart/steps/create-payment-collection.ts
  packages/core-flows/src/definition/payment-collection/steps/create-payment-session.ts
  packages/core-flows/src/handlers/product/create-product-variants-prepare-data.ts
  packages/core-flows/src/handlers/product/create-product-variants.ts
  packages/core-flows/src/handlers/product/create-products-prepare-data.ts
  packages/core-flows/src/handlers/product/update-product-variants-prepare-data.ts
  packages/core-flows/src/handlers/product/update-products-prepare-data.ts
  packages/core-flows/src/handlers/product/upsert-variant-prices.ts
  packages/core-flows/src/payment/steps/capture-payment.ts
  packages/core-flows/src/payment/steps/refund-payment.ts
  packages/core-flows/src/payment/workflows/capture-payment.ts
  packages/core-flows/src/payment/workflows/refund-payment.ts
  packages/order/integration-tests/__tests__/create-order.ts
  packages/order/integration-tests/__tests__/order-edit.ts
  packages/order/integration-tests/__tests__/order-items-shipping.spec.ts
  packages/order/src/services/order-module-service.ts
  packages/order/src/utils/transform-order.ts
  packages/payment-stripe/src/core/stripe-base.ts
  packages/payment/src/services/payment-module.ts
  packages/types/src/cart/common.ts
  packages/types/src/cart/mutations.ts
  packages/types/src/cart/workflows.ts
  packages/types/src/order/common.ts
  packages/types/src/order/mutations.ts
  packages/types/src/payment/common.ts
  packages/types/src/payment/mutations.ts
  packages/types/src/payment/provider.ts
  packages/types/src/pricing/common/money-amount.ts
  packages/types/src/pricing/common/price-set.ts
  packages/types/src/pricing/common/price.ts
  packages/types/src/totals/big-number.ts
  packages/types/src/totals/index.ts
  packages/utils/src/totals/__tests__/totals.ts
  packages/utils/src/totals/adjustment/index.ts
  packages/utils/src/totals/big-number.ts
  packages/utils/src/totals/cart/index.ts
  packages/utils/src/totals/index.ts
  packages/utils/src/totals/line-item/index.ts
  packages/utils/src/totals/math.ts
  packages/utils/src/totals/promotion/index.ts
  packages/utils/src/totals/promotion/totals.ts
  packages/utils/src/totals/shipping-method/index.ts
  packages/utils/src/totals/tax/index.ts
  packages/utils/src/totals/to-big-number-js.ts
Labels: team: medusa

#6990 feat: Update service zone
  integration-tests/api/__tests__/admin/fulfillment-sets.spec.ts
  packages/core-flows/src/fulfillment/steps/update-service-zones.ts
  packages/core-flows/src/fulfillment/workflows/index.ts
  packages/core-flows/src/fulfillment/workflows/update-service-zones.ts
  packages/fulfillment/integration-tests/__tests__/fulfillment-module-service/service-zone.spec.ts
  packages/fulfillment/src/services/fulfillment-module-service.ts
  packages/medusa/src/api-v2/admin/fulfillment-sets/[id]/service-zones/[zone_id]/route.ts
  packages/medusa/src/api-v2/admin/fulfillment-sets/middlewares.ts
  packages/medusa/src/api-v2/admin/fulfillment-sets/validators.ts
  packages/medusa/src/api-v2/admin/fulfillment-sets/validators/geo-zone.ts
  packages/types/src/fulfillment/mutations/service-zone.ts
  packages/types/src/fulfillment/service.ts
  packages/types/src/http/fulfillment/admin/fulfillment-set.ts
  packages/types/src/http/fulfillment/admin/service-zone.ts
  packages/types/src/workflow/fulfillment/index.ts
  packages/types/src/workflow/fulfillment/service-zones.ts
Labels: team: medusa

#6998 feat: Admin V2 Customers
  .changeset/warm-mayflies-deny.md
  integration-tests/modules/__tests__/customer/admin/list-customers.spec.ts
  packages/admin-next/dashboard/src/hooks/api/customer-groups.tsx
  packages/admin-next/dashboard/src/hooks/api/customers.tsx
  packages/admin-next/dashboard/src/hooks/table/filters/use-customer-table-filters.tsx
  packages/admin-next/dashboard/src/lib/client/client.ts
  packages/admin-next/dashboard/src/lib/client/customer-groups.ts
  packages/admin-next/dashboard/src/lib/client/customers.ts
  packages/admin-next/dashboard/src/providers/router-provider/v1.tsx
  packages/admin-next/dashboard/src/providers/router-provider/v2.tsx
  packages/admin-next/dashboard/src/routes/customers/customer-detail/components/customer-group-section/customer-group-section.tsx
  packages/admin-next/dashboard/src/types/api-responses.ts
  packages/admin-next/dashboard/src/v2-routes/customers/customer-create/components/create-customer-form/create-customer-form.tsx
  packages/admin-next/dashboard/src/v2-routes/customers/customer-create/components/create-customer-form/index.ts
  packages/admin-next/dashboard/src/v2-routes/customers/customer-create/customer-create.tsx
  packages/admin-next/dashboard/src/v2-routes/customers/customer-create/index.ts
  packages/admin-next/dashboard/src/v2-routes/customers/customer-detail/components/customer-general-section/customer-general-section.tsx
  packages/admin-next/dashboard/src/v2-routes/customers/customer-detail/components/customer-general-section/index.ts
  packages/admin-next/dashboard/src/v2-routes/customers/customer-detail/components/customer-group-section/customer-group-section.tsx
  packages/admin-next/dashboard/src/v2-routes/customers/customer-detail/components/customer-group-section/index.ts
  packages/admin-next/dashboard/src/v2-routes/customers/customer-detail/components/customer-order-section/customer-order-section.tsx
  packages/admin-next/dashboard/src/v2-routes/customers/customer-detail/components/customer-order-section/index.ts
  packages/admin-next/dashboard/src/v2-routes/customers/customer-detail/customer-detail.tsx
  packages/admin-next/dashboard/src/v2-routes/customers/customer-detail/index.ts
  packages/admin-next/dashboard/src/v2-routes/customers/customer-detail/loader.ts
  packages/admin-next/dashboard/src/v2-routes/customers/customer-edit/components/edit-customer-form/edit-customer-form.tsx
  packages/admin-next/dashboard/src/v2-routes/customers/customer-edit/components/edit-customer-form/index.ts
  packages/admin-next/dashboard/src/v2-routes/customers/customer-edit/customer-edit.tsx
  packages/admin-next/dashboard/src/v2-routes/customers/customer-edit/index.ts
  packages/admin-next/dashboard/src/v2-routes/customers/customer-list/components/customer-list-table/customer-list-table.tsx
  packages/admin-next/dashboard/src/v2-routes/customers/customer-list/components/customer-list-table/index.ts
  packages/admin-next/dashboard/src/v2-routes/customers/customer-list/customer-list.tsx
  packages/admin-next/dashboard/src/v2-routes/customers/customer-list/index.ts
  packages/admin-next/dashboard/src/v2-routes/customers/customer-transfer-ownership/components/transfer-customer-order-ownership-form/index.ts
  packages/admin-next/dashboard/src/v2-routes/customers/customer-transfer-ownership/components/transfer-customer-order-ownership-form/transfer-customer-order-ownership-form.tsx
  packages/admin-next/dashboard/src/v2-routes/customers/customer-transfer-ownership/customer-transfer-ownership.tsx
  packages/admin-next/dashboard/src/v2-routes/customers/customer-transfer-ownership/index.ts
  packages/core-flows/src/customer/steps/delete-addresses.ts
  packages/customer/src/loaders/container.ts
  packages/customer/src/models/customer.ts
  packages/customer/src/repositories/index.ts
  packages/medusa/src/api-v2/admin/customers/[id]/addresses/route.ts
  packages/medusa/src/api-v2/admin/customers/[id]/route.ts
  packages/medusa/src/api-v2/admin/customers/middlewares.ts
  packages/medusa/src/api-v2/admin/customers/route.ts
  packages/medusa/src/api-v2/admin/customers/validators.ts
  packages/medusa/src/api-v2/admin/products/route.ts
  packages/types/src/customer/common.ts
  packages/types/src/customer/mutations.ts
  packages/types/src/http/customer/admin/customer.ts
  packages/types/src/http/customer/admin/index.ts
  packages/types/src/http/customer/index.ts
  packages/types/src/http/index.ts
Labels: team: medusa

#6925 fix(modules-sdk): Remote Query "order" as config options
  .changeset/healthy-ads-share.md
  integration-tests/modules/__tests__/currency/admin/currency.spec.ts
  integration-tests/modules/__tests__/promotion/admin/promotion-rules.spec.ts
  packages/currency/src/migrations/.snapshot-medusa-currency.json
  packages/currency/src/migrations/InitialSetup20240228133303.ts
  packages/currency/src/models/currency.ts
  packages/medusa/src/utils/get-query-config.ts
  packages/modules-sdk/src/remote-query.ts
Labels: team: medusa

#6999 chore: add batch update prices for price lists
  integration-tests/modules/__tests__/price-lists/admin/price-lists.spec.ts
  packages/core-flows/src/price-list/steps/index.ts
  packages/core-flows/src/price-list/steps/upsert-price-list-prices.ts
  packages/core-flows/src/price-list/steps/validate-variant-price-links.ts
  packages/core-flows/src/price-list/workflows/index.ts
  packages/core-flows/src/price-list/workflows/update-price-list-prices.ts
  packages/core-flows/src/price-list/workflows/update-price-lists.ts
  packages/core-flows/src/price-list/workflows/upsert-price-list-prices.ts
  packages/medusa/src/api-v2/admin/price-lists/[id]/prices/batch/update/route.ts
  packages/medusa/src/api-v2/admin/price-lists/middlewares.ts
  packages/medusa/src/api-v2/admin/price-lists/validators.ts
  packages/types/src/pricing/workflows.ts
Labels: team: medusa

#6997 feat: Add variant creation and editing in the products UI
  packages/admin-next/dashboard/src/v2-routes/products/product-create-variant/components/create-product-variant-form/create-product-variant-form.tsx
  packages/admin-next/dashboard/src/v2-routes/products/product-edit-variant/components/product-edit-variant-form/product-edit-variant-form.tsx
  packages/admin-next/dashboard/src/v2-routes/products/product-edit-variant/index.ts
  packages/admin-next/dashboard/src/v2-routes/products/product-edit-variant/loader.ts
  packages/product/integration-tests/__tests__/services/product-module-service/product-variants.spec.ts
  packages/product/src/services/product-module-service.ts
Labels: team: medusa

#6912 chore: Added TSDocs for the Fulfillment Module
  packages/types/src/common/rule.ts
  packages/types/src/fulfillment/common/address.ts
  packages/types/src/fulfillment/common/fulfillment-item.ts
  packages/types/src/fulfillment/common/fulfillment-label.ts
  packages/types/src/fulfillment/common/fulfillment-provider.ts
  packages/types/src/fulfillment/common/fulfillment-set.ts
  packages/types/src/fulfillment/common/fulfillment.ts
  packages/types/src/fulfillment/common/geo-zone.ts
  packages/types/src/fulfillment/common/service-zone.ts
  packages/types/src/fulfillment/common/shipping-option-rule.ts
  packages/types/src/fulfillment/common/shipping-option-type.ts
  packages/types/src/fulfillment/common/shipping-option.ts
  packages/types/src/fulfillment/common/shipping-profile.ts
  packages/types/src/fulfillment/mutations/fulfillment-address.ts
  packages/types/src/fulfillment/mutations/fulfillment-item.ts
  packages/types/src/fulfillment/mutations/fulfillment-label.ts
  packages/types/src/fulfillment/mutations/fulfillment-set.ts
  packages/types/src/fulfillment/mutations/fulfillment.ts
  packages/types/src/fulfillment/mutations/geo-zone.ts
  packages/types/src/fulfillment/mutations/service-zone.ts
  packages/types/src/fulfillment/mutations/shipping-option-rule.ts
  packages/types/src/fulfillment/mutations/shipping-option-type.ts
  packages/types/src/fulfillment/mutations/shipping-option.ts
  packages/types/src/fulfillment/mutations/shipping-profile.ts
  packages/types/src/fulfillment/service.ts
Labels: type: docs, automerge, team: medusa

#7007 feat: Improve how options are defined and handled for product
  integration-tests/api/__tests__/admin/product.js
  packages/admin-next/dashboard/src/v2-routes/products/product-detail/components/product-variant-section/use-variant-table-columns.tsx
  packages/admin-next/dashboard/src/v2-routes/products/product-edit-variant/components/product-edit-variant-form/product-edit-variant-form.tsx
  packages/admin-next/dashboard/src/v2-routes/products/product-edit-variant/loader.ts
  packages/medusa/src/api-v2/admin/products/query-config.ts
  packages/product/integration-tests/__tests__/services/product-module-service/product-variants.spec.ts
  packages/product/integration-tests/__tests__/services/product-module-service/products.spec.ts
  packages/product/src/migrations/.snapshot-medusa-products.json
  packages/product/src/migrations/InitialSetup20240401153642.ts
  packages/product/src/models/index.ts
  packages/product/src/models/product-option-value.ts
  packages/product/src/models/product-variant-option.ts
  packages/product/src/models/product-variant.ts
  packages/product/src/services/product-module-service.ts
  packages/types/src/product/common.ts
  packages/utils/src/dal/mikro-orm/db-error-mapper.ts
  packages/utils/src/dal/mikro-orm/integration-tests/__tests__/mikro-orm-repository.spec.ts
  packages/utils/src/dal/mikro-orm/mikro-orm-repository.ts
Labels: team: medusa

#7011 fix(dashboard): close locations create form on success
  packages/admin-next/dashboard/src/v2-routes/locations/location-create/components/create-location-form/create-location-form.tsx
Labels: team: medusa

#7014 feat: Make tags unique, clean up searchability of product entities
  integration-tests/api/__tests__/admin/product.js
  packages/medusa/src/api-v2/admin/products/validators.ts
  packages/product/integration-tests/__fixtures__/product/data/products.ts
  packages/product/integration-tests/__tests__/services/product-module-service/products.spec.ts
  packages/product/integration-tests/__tests__/services/product-option/index.ts
  packages/product/integration-tests/__tests__/services/product-tag/index.ts
  packages/product/integration-tests/__tests__/services/product/index.ts
  packages/product/src/migrations/InitialSetup20240401153642.ts
  packages/product/src/models/product-option.ts
  packages/product/src/models/product-tag.ts
  packages/product/src/models/product-type.ts
  packages/product/src/models/product-variant.ts
  packages/product/src/models/product.ts
  packages/product/src/services/index.ts
  packages/product/src/services/product-collection.ts
  packages/product/src/services/product-module-service.ts
  packages/product/src/services/product-option.ts
  packages/product/src/services/product-tag.ts
  packages/product/src/services/product-type.ts
  packages/types/src/product/common.ts
  packages/utils/src/dal/mikro-orm/db-error-mapper.ts
Labels: team: medusa

#7015 feat(dashboard): Setup initial Categories UI
  packages/admin-next/dashboard/public/locales/en-US/translation.json
  packages/admin-next/dashboard/src/components/table/data-table/data-table-root/data-table-root.tsx
  packages/admin-next/dashboard/src/hooks/api/categories.tsx
  packages/admin-next/dashboard/src/hooks/table/filters/use-product-table-filters.tsx
  packages/admin-next/dashboard/src/hooks/use-data-table.tsx
  packages/admin-next/dashboard/src/lib/client/categories.ts
  packages/admin-next/dashboard/src/lib/query-key-factory.ts
  packages/admin-next/dashboard/src/providers/router-provider/v2.tsx
  packages/admin-next/dashboard/src/v2-routes/categories/category-detail/category-detail.tsx
  packages/admin-next/dashboard/src/v2-routes/categories/category-detail/components/category-general-section/category-general-section.tsx
  packages/admin-next/dashboard/src/v2-routes/categories/category-detail/components/category-general-section/index.ts
  packages/admin-next/dashboard/src/v2-routes/categories/category-detail/components/category-organization-section/category-organization-section.tsx
  packages/admin-next/dashboard/src/v2-routes/categories/category-detail/components/category-organization-section/index.ts
  packages/admin-next/dashboard/src/v2-routes/categories/category-detail/components/category-product-section/category-product-section.tsx
  packages/admin-next/dashboard/src/v2-routes/categories/category-detail/components/category-product-section/index.ts
  packages/admin-next/dashboard/src/v2-routes/categories/category-detail/index.ts
  packages/admin-next/dashboard/src/v2-routes/categories/category-detail/loader.ts
  packages/admin-next/dashboard/src/v2-routes/categories/category-list/category-list.tsx
  packages/admin-next/dashboard/src/v2-routes/categories/category-list/components/category-list-table/category-list-table.tsx
  packages/admin-next/dashboard/src/v2-routes/categories/category-list/components/category-list-table/index.ts
  packages/admin-next/dashboard/src/v2-routes/categories/category-list/index.ts
  packages/admin-next/dashboard/src/v2-routes/categories/common/hooks/use-category-table-query.tsx
  packages/admin-next/dashboard/src/v2-routes/categories/common/utils.ts
  packages/medusa/src/api-v2/admin/product-categories/validators.ts
  packages/medusa/src/api-v2/admin/products/validators.ts
Labels: team: medusa

#7009 feat: Categories retrieve + list API
  integration-tests/api/__tests__/admin/product-category.spec.ts
  packages/admin-next/dashboard/public/locales/en-US/translation.json
  packages/admin-next/dashboard/src/components/table/data-table/data-table-root/data-table-root.tsx
  packages/admin-next/dashboard/src/hooks/api/categories.tsx
  packages/admin-next/dashboard/src/hooks/table/filters/use-product-table-filters.tsx
  packages/admin-next/dashboard/src/hooks/use-data-table.tsx
  packages/admin-next/dashboard/src/lib/client/categories.ts
  packages/admin-next/dashboard/src/lib/query-key-factory.ts
  packages/admin-next/dashboard/src/providers/router-provider/v2.tsx
  packages/admin-next/dashboard/src/v2-routes/categories/category-detail/category-detail.tsx
  packages/admin-next/dashboard/src/v2-routes/categories/category-detail/components/category-general-section/category-general-section.tsx
  packages/admin-next/dashboard/src/v2-routes/categories/category-detail/components/category-general-section/index.ts
  packages/admin-next/dashboard/src/v2-routes/categories/category-detail/components/category-organization-section/category-organization-section.tsx
  packages/admin-next/dashboard/src/v2-routes/categories/category-detail/components/category-organization-section/index.ts
  packages/admin-next/dashboard/src/v2-routes/categories/category-detail/components/category-product-section/category-product-section.tsx
  packages/admin-next/dashboard/src/v2-routes/categories/category-detail/components/category-product-section/index.ts
  packages/admin-next/dashboard/src/v2-routes/categories/category-detail/index.ts
  packages/admin-next/dashboard/src/v2-routes/categories/category-detail/loader.ts
  packages/admin-next/dashboard/src/v2-routes/categories/category-list/category-list.tsx
  packages/admin-next/dashboard/src/v2-routes/categories/category-list/components/category-list-table/category-list-table.tsx
  packages/admin-next/dashboard/src/v2-routes/categories/category-list/components/category-list-table/index.ts
  packages/admin-next/dashboard/src/v2-routes/categories/category-list/index.ts
  packages/admin-next/dashboard/src/v2-routes/categories/common/hooks/use-category-table-query.tsx
  packages/admin-next/dashboard/src/v2-routes/categories/common/utils.ts
  packages/medusa/src/api-v2/admin/product-categories/[id]/route.ts
  packages/medusa/src/api-v2/admin/product-categories/middlewares.ts
  packages/medusa/src/api-v2/admin/product-categories/query-config.ts
  packages/medusa/src/api-v2/admin/product-categories/route.ts
  packages/medusa/src/api-v2/admin/product-categories/validators.ts
  packages/medusa/src/api-v2/admin/products/validators.ts
  packages/medusa/src/api-v2/middlewares.ts
  packages/medusa/src/api-v2/utils/validate-query.ts
  packages/product/src/models/product-category.ts
  packages/product/src/repositories/product-category.ts
  packages/product/src/services/product-category.ts
  packages/types/src/dal/repository-service.ts
  packages/types/src/http/index.ts
  packages/types/src/http/product-category/admin/index.ts
  packages/types/src/http/product-category/admin/product-category.ts
  packages/types/src/http/product-category/index.ts
  packages/types/src/product/common.ts
Labels: team: medusa

#7017 fix(medusa, core-flows): Delete service zone
  integration-tests/api/__tests__/admin/fulfillment-sets.spec.ts
  packages/core-flows/src/fulfillment/steps/delete-service-zones.ts
  packages/medusa/src/api-v2/admin/fulfillment-sets/[id]/service-zones/[zone_id]/route.ts
  packages/medusa/src/api-v2/admin/fulfillment-sets/middlewares.ts
  packages/medusa/src/api-v2/admin/fulfillment-sets/query-config.ts
  packages/medusa/src/api-v2/admin/fulfillment-sets/validators.ts
  packages/types/src/http/fulfillment/admin/fulfillment-set.ts
  packages/types/src/http/fulfillment/admin/service-zone.ts
Labels: team: medusa

#7016 feat: Add support for loading file providers to file module
  packages/file/src/loaders/index.ts
  packages/file/src/loaders/providers.ts
  packages/file/src/module-definition.ts
  packages/file/src/services/file-module-service.ts
  packages/file/src/services/file-provider-service.ts
  packages/file/src/services/index.ts
  packages/file/src/types/index.ts
  packages/types/src/file/index.ts
  packages/types/src/file/provider.ts
Labels: team: medusa

#7019 feat: Admin Shipping Profiles API
  integration-tests/api/__tests__/admin/shipping-profile.js
  integration-tests/api/__tests__/admin/shipping-profile.spec.ts
  packages/core-flows/src/fulfillment/steps/create-shipping-profiles.ts
  packages/core-flows/src/fulfillment/steps/index.ts
  packages/core-flows/src/fulfillment/workflows/create-shipping-profiles.ts
  packages/core-flows/src/fulfillment/workflows/index.ts
  packages/medusa/src/api-v2/admin/fulfillment-sets/[id]/service-zones/[zone_id]/route.ts
  packages/medusa/src/api-v2/admin/shipping-profiles/[id]/route.ts
  packages/medusa/src/api-v2/admin/shipping-profiles/middlewares.ts
  packages/medusa/src/api-v2/admin/shipping-profiles/query-config.ts
  packages/medusa/src/api-v2/admin/shipping-profiles/route.ts
  packages/medusa/src/api-v2/admin/shipping-profiles/validators.ts
  packages/medusa/src/api-v2/middlewares.ts
  packages/medusa/src/index.js
  packages/medusa/src/joiner-config.ts
  packages/medusa/src/joiner-configs/index.ts
  packages/medusa/src/joiner-configs/shipping-profile-service.ts
  packages/medusa/src/loaders/medusa-app.ts
  packages/types/src/http/fulfillment/admin/shipping-profile.ts
  packages/types/src/workflow/fulfillment/index.ts
  packages/types/src/workflow/fulfillment/shipping-profiles.ts
Labels: team: medusa

#7024 chore: disable turbo and jest cache
  .github/workflows/codegen-test.yml
  integration-tests/api/package.json
  integration-tests/modules/package.json
  package.json
Labels: team: medusa

#7035 chore(dashboard): Cleanup Pricing domain
  packages/admin-next/dashboard/public/locales/en-US/translation.json
  packages/admin-next/dashboard/src/hooks/table/columns/use-customer-group-table-columns.tsx
  packages/admin-next/dashboard/src/providers/router-provider/v2.tsx
  packages/admin-next/dashboard/src/v2-routes/pricing/pricing-configuration/components/price-list-configuration-form/price-list-configuration-form.tsx
  packages/admin-next/dashboard/src/v2-routes/pricing/pricing-configuration/pricing-configuration.tsx
  packages/admin-next/dashboard/src/v2-routes/pricing/pricing-create/components/pricing-create-form/pricing-create-form.tsx
  packages/admin-next/dashboard/src/v2-routes/pricing/pricing-create/components/pricing-create-form/pricing-details-form.tsx
  packages/admin-next/dashboard/src/v2-routes/pricing/pricing-create/components/pricing-create-form/pricing-products-form.tsx
  packages/admin-next/dashboard/src/v2-routes/pricing/pricing-detail/components/pricing-configuration-section/pricing-configuration-section.tsx
  packages/admin-next/dashboard/src/v2-routes/pricing/pricing-detail/components/pricing-general-section/pricing-general-section.tsx
  packages/admin-next/dashboard/src/v2-routes/pricing/pricing-detail/components/pricing-product-section/pricing-product-section.tsx
  packages/admin-next/dashboard/src/v2-routes/pricing/pricing-edit/components/edit-price-list-form/edit-price-list-form.tsx
  packages/admin-next/dashboard/src/v2-routes/pricing/pricing-edit/pricing-edit.tsx
  packages/admin-next/dashboard/src/v2-routes/pricing/pricing-list/components/pricing-list-table/pricing-list-table.tsx
  packages/admin-next/dashboard/src/v2-routes/pricing/pricing-list/components/pricing-list-table/use-pricing-table-columns.tsx
  packages/admin-next/dashboard/src/v2-routes/pricing/pricing-list/components/pricing-list-table/use-pricing-table-filters.tsx
  packages/admin-next/dashboard/src/v2-routes/pricing/pricing-products-add/index.ts
  packages/admin-next/dashboard/src/v2-routes/pricing/pricing-products-add/pricing-products-add.tsx
  packages/admin-next/dashboard/src/v2-routes/pricing/pricing-products/index.ts
  packages/admin-next/dashboard/src/v2-routes/pricing/pricing-products/pricing-products.tsx
  packages/types/src/http/customer/admin/customer.ts
Labels: automerge, team: medusa

#7006 docs: fix typedoc errors and warnings
  .changeset/four-beds-smile.md
  packages/medusa/src/interfaces/fulfillment-service.ts
  packages/types/src/api-key/common/api-key.ts
  packages/types/src/customer/mutations.ts
  packages/types/src/fulfillment/mutations/geo-zone.ts
  packages/types/src/promotion/common/application-method.ts
  packages/types/src/promotion/common/campaign-budget.ts
  packages/types/src/promotion/common/compute-actions.ts
  packages/types/src/promotion/common/promotion-rule.ts
  packages/types/src/promotion/common/promotion.ts
  packages/types/src/tax/provider.ts
Labels: team: medusa

#7018 Feat(medusa, core-flows, types): add reservation endpoints
  .changeset/tiny-onions-watch.md
  integration-tests/api/__tests__/admin/reservations/index.spec.ts
  integration-tests/api/medusa-config.js
  packages/core-flows/src/index.ts
  packages/core-flows/src/reservation/index.ts
  packages/core-flows/src/reservation/steps/create-reservations.ts
  packages/core-flows/src/reservation/steps/delete-reservations.ts
  packages/core-flows/src/reservation/steps/index.ts
  packages/core-flows/src/reservation/steps/update-reservations.ts
  packages/core-flows/src/reservation/workflows/create-reservations.ts
  packages/core-flows/src/reservation/workflows/delete-reservations.ts
  packages/core-flows/src/reservation/workflows/index.ts
  packages/core-flows/src/reservation/workflows/update-reservations.ts
  packages/medusa/src/api-v2/admin/reservations/[id]/route.ts
  packages/medusa/src/api-v2/admin/reservations/middlewares.ts
  packages/medusa/src/api-v2/admin/reservations/query-config.ts
  packages/medusa/src/api-v2/admin/reservations/route.ts
  packages/medusa/src/api-v2/admin/reservations/validators.ts
  packages/medusa/src/api-v2/middlewares.ts
  packages/types/src/inventory/service-next.ts
  packages/types/src/workflow/index.ts
  packages/types/src/workflow/reservation/create-reservations.ts
  packages/types/src/workflow/reservation/index.ts
  packages/types/src/workflow/reservation/update-reservations.ts
Labels: team: medusa

#7047 fix(): workflow sdk step return function type infer
  packages/workflows-sdk/src/utils/_playground.ts
  packages/workflows-sdk/src/utils/composer/type.ts
Labels: team: medusa

#7046 fix(dashboard): Minor fixes to Profile domain
  packages/admin-next/dashboard/public/locales/en-US/translation.json
  packages/admin-next/dashboard/src/v2-routes/profile/profile-detail/components/profile-general-section/profile-general-section.tsx
  packages/admin-next/dashboard/src/v2-routes/profile/profile-edit/components/edit-profile-form/edit-profile-form.tsx
  packages/admin-next/dashboard/src/v2-routes/profile/profile-edit/profile-edit.tsx
Labels: team: medusa

#7028 feat(): Add support for shipping options prices update
  .changeset/stale-spiders-applaud.md
  integration-tests/modules/__tests__/promotion/admin/promotion-rules.spec.ts
  integration-tests/modules/__tests__/shipping-options/admin/shipping-options.spec.ts
  integration-tests/modules/__tests__/shipping-options/workflows/update-shipping-options.ts
  packages/core-flows/src/fulfillment/steps/index.ts
  packages/core-flows/src/fulfillment/steps/set-shipping-options-prices.ts
  packages/core-flows/src/fulfillment/workflows/create-shipping-options.ts
  packages/core-flows/src/fulfillment/workflows/update-shipping-options.ts
  packages/medusa/src/api-v2/admin/shipping-options/validators.ts
  packages/medusa/src/utils/get-query-config.ts
  packages/pricing/src/services/pricing-module.ts
  packages/types/src/workflow/fulfillment/update-shipping-options.ts
  packages/utils/src/modules-sdk/internal-module-service-factory.ts
Labels: team: medusa

#7037 feat: Add support for price setting and updates for products
  packages/admin-next/dashboard/public/locales/en-US/translation.json
  packages/admin-next/dashboard/src/components/grid/data-grid/data-grid-root/data-grid-root.tsx
  packages/admin-next/dashboard/src/providers/router-provider/v2.tsx
  packages/admin-next/dashboard/src/v2-routes/pricing/pricing-create/components/pricing-create-form/pricing-create-form.tsx
  packages/admin-next/dashboard/src/v2-routes/products/common/variant-pricing-form.tsx
  packages/admin-next/dashboard/src/v2-routes/products/product-create/components/create-product-form/create-product-form.tsx
  packages/admin-next/dashboard/src/v2-routes/products/product-create/components/create-product-form/index.ts
  packages/admin-next/dashboard/src/v2-routes/products/product-create/components/create-product.tsx
  packages/admin-next/dashboard/src/v2-routes/products/product-create/components/product-attributes-form.tsx
  packages/admin-next/dashboard/src/v2-routes/products/product-create/product-create.tsx
  packages/admin-next/dashboard/src/v2-routes/products/product-create/schema.ts
  packages/admin-next/dashboard/src/v2-routes/products/product-detail/components/product-variant-section/product-variant-section.tsx
  packages/admin-next/dashboard/src/v2-routes/products/product-prices/index.ts
  packages/admin-next/dashboard/src/v2-routes/products/product-prices/pricing-edit.tsx
  packages/admin-next/dashboard/src/v2-routes/products/product-prices/product-prices.tsx
Labels: automerge, area: admin, team: medusa

#7013 docs: add a section about missing migration name
  www/apps/docs/content/development/entities/migrations/create.md
Labels: team: medusa

#7025 docs: fixes to Digital Product recipe
  www/apps/docs/content/recipes/digital-products.mdx
Labels: team: medusa

#7008 docs: explain expanding nested relations
  www/apps/api-reference/app/_mdx/admin.mdx
  www/apps/api-reference/app/_mdx/store.mdx
  www/apps/api-reference/components/Tags/Operation/Parameters/Name/index.tsx
  www/apps/docs/content/development/entities/repositories.md
Labels: team: medusa

#7036 docs: change supabase database url format
  www/apps/docs/content/create-medusa-app.mdx
Labels: type: docs, team: medusa

#7039 docs: fix download button in API reference
  www/apps/api-reference/app/api/tag/route.ts
Labels: team: medusa

#7003 fix(medusa-core-utils): add missing awilix dependency
  .changeset/proud-crabs-marry.md
  packages/medusa-core-utils/package.json
  yarn.lock
Labels: automerge, team: medusa

#7038 feat: Add support for batch method for products and product variants
  integration-tests/api/__tests__/admin/product.js
  packages/core-flows/src/pricing/steps/update-price-sets.ts
  packages/core-flows/src/product/steps/batch-product-variants.ts
  packages/core-flows/src/product/steps/batch-products.ts
  packages/core-flows/src/product/steps/index.ts
  packages/core-flows/src/product/steps/update-product-variants.ts
  packages/core-flows/src/product/steps/update-products.ts
  packages/core-flows/src/product/workflows/batch-product-variants.ts
  packages/core-flows/src/product/workflows/batch-products.ts
  packages/core-flows/src/product/workflows/create-products.ts
  packages/core-flows/src/product/workflows/delete-products.ts
  packages/core-flows/src/product/workflows/index.ts
  packages/core-flows/src/product/workflows/update-product-variants.ts
  packages/core-flows/src/product/workflows/update-products.ts
  packages/medusa/src/api-v2/admin/products/[id]/variants/[variant_id]/route.ts
  packages/medusa/src/api-v2/admin/products/[id]/variants/op/batch/route.ts
  packages/medusa/src/api-v2/admin/products/[id]/variants/route.ts
  packages/medusa/src/api-v2/admin/products/helpers.ts
  packages/medusa/src/api-v2/admin/products/middlewares.ts
  packages/medusa/src/api-v2/admin/products/op/batch/route.ts
  packages/medusa/src/api-v2/admin/products/validators.ts
  packages/medusa/src/api-v2/utils/validators.ts
  packages/types/src/common/batch.ts
  packages/types/src/common/index.ts
  packages/workflows-sdk/src/utils/composer/type.ts
Labels: team: medusa

#7034 feat: Create product category flow
  integration-tests/api/__tests__/admin/product-category.ts
  packages/core-flows/src/index.ts
  packages/core-flows/src/product-category/index.ts
  packages/core-flows/src/product-category/steps/create-product-category.ts
  packages/core-flows/src/product-category/steps/index.ts
  packages/core-flows/src/product-category/workflows/create-product-category.ts
  packages/core-flows/src/product-category/workflows/index.ts
  packages/medusa/src/api-v2/admin/product-categories/middlewares.ts
  packages/medusa/src/api-v2/admin/product-categories/query-config.ts
  packages/medusa/src/api-v2/admin/product-categories/route.ts
  packages/medusa/src/api-v2/admin/product-categories/validators.ts
  packages/product/integration-tests/__tests__/services/product-module-service/product-categories.spec.ts
  packages/product/src/repositories/product-category.ts
  packages/product/src/services/product-module-service.ts
  packages/types/src/product/common.ts
  packages/types/src/workflow/index.ts
  packages/types/src/workflow/product-category/index.ts
Labels: team: medusa

#7074 fix: Switch some modules to using zod for validation, and fix some bugs
  packages/medusa/src/api-v2/admin/products/helpers.ts
  packages/medusa/src/api-v2/admin/products/route.ts
  packages/medusa/src/api-v2/admin/stores/[id]/route.ts
  packages/medusa/src/api-v2/admin/stores/helpers.ts
  packages/medusa/src/api-v2/admin/stores/middlewares.ts
  packages/medusa/src/api-v2/admin/stores/query-config.ts
  packages/medusa/src/api-v2/admin/stores/route.ts
  packages/medusa/src/api-v2/admin/stores/validators.ts
  packages/medusa/src/api-v2/admin/tax-rates/[id]/route.ts
  packages/medusa/src/api-v2/admin/tax-rates/[id]/rules/[rule_id]/route.ts
  packages/medusa/src/api-v2/admin/tax-rates/[id]/rules/route.ts
  packages/medusa/src/api-v2/admin/tax-rates/helpers.ts
  packages/medusa/src/api-v2/admin/tax-rates/middlewares.ts
  packages/medusa/src/api-v2/admin/tax-rates/query-config.ts
  packages/medusa/src/api-v2/admin/tax-rates/route.ts
  packages/medusa/src/api-v2/admin/tax-rates/validators.ts
  packages/medusa/src/api-v2/admin/tax-regions/helpers.ts
  packages/medusa/src/api-v2/admin/tax-regions/route.ts
  packages/medusa/src/api-v2/admin/tax-regions/validators.ts
  packages/medusa/src/api-v2/admin/users/[id]/route.ts
  packages/medusa/src/api-v2/admin/users/helpers.ts
  packages/medusa/src/api-v2/admin/users/me/route.ts
  packages/medusa/src/api-v2/admin/users/middlewares.ts
  packages/medusa/src/api-v2/admin/users/query-config.ts
  packages/medusa/src/api-v2/admin/users/route.ts
  packages/medusa/src/api-v2/admin/users/validators.ts
  packages/medusa/src/api-v2/admin/workflows-executions/[id]/route.ts
  packages/medusa/src/api-v2/admin/workflows-executions/[workflow_id]/[transaction_id]/route.ts
  packages/medusa/src/api-v2/admin/workflows-executions/[workflow_id]/run/route.ts
  packages/medusa/src/api-v2/admin/workflows-executions/[workflow_id]/steps/failure/route.ts
  packages/medusa/src/api-v2/admin/workflows-executions/[workflow_id]/steps/success/route.ts
  packages/medusa/src/api-v2/admin/workflows-executions/middlewares.ts
  packages/medusa/src/api-v2/admin/workflows-executions/query-config.ts
  packages/medusa/src/api-v2/admin/workflows-executions/route.ts
  packages/medusa/src/api-v2/admin/workflows-executions/validators.ts
Labels: automerge, team: medusa

#7078 fix(dashboard): Wrong hook usage in /collections/create
  packages/admin-next/dashboard/src/v2-routes/collections/collection-create/components/create-collection-form/create-collection-form.tsx
Labels: automerge, team: medusa

#7076 feat(ui, dashboard): Toast rework
  .changeset/little-buttons-sort.md
  packages/admin-next/dashboard/public/locales/en-US/translation.json
  packages/admin-next/dashboard/src/v2-routes/products/product-list/components/product-list-table/product-list-table.tsx
  packages/design-system/ui/package.json
  packages/design-system/ui/src/components/toast/toast.stories.tsx
  packages/design-system/ui/src/components/toast/toast.tsx
  packages/design-system/ui/src/components/toaster/toaster.stories.tsx
  packages/design-system/ui/src/components/toaster/toaster.tsx
  packages/design-system/ui/src/hooks/use-toast/index.ts
  packages/design-system/ui/src/hooks/use-toast/use-toast.stories.tsx
  packages/design-system/ui/src/hooks/use-toast/use-toast.tsx
  packages/design-system/ui/src/index.ts
  packages/design-system/ui/src/types.ts
  packages/design-system/ui/src/utils/toast.tsx
  yarn.lock
Labels: automerge, team: medusa

#7079 chore: Move several modules to use zod for validation and cleanup routes
  integration-tests/modules/__tests__/regions/admin/regions.spec.ts
  packages/medusa/src/api-v2/admin/product-types/[id]/route.ts
  packages/medusa/src/api-v2/admin/product-types/middlewares.ts
  packages/medusa/src/api-v2/admin/product-types/route.ts
  packages/medusa/src/api-v2/admin/product-types/validators.ts
  packages/medusa/src/api-v2/admin/products/[id]/options/[option_id]/route.ts
  packages/medusa/src/api-v2/admin/products/[id]/options/route.ts
  packages/medusa/src/api-v2/admin/products/[id]/route.ts
  packages/medusa/src/api-v2/admin/products/[id]/variants/[variant_id]/route.ts
  packages/medusa/src/api-v2/admin/regions/[id]/route.ts
  packages/medusa/src/api-v2/admin/regions/helpers.ts
  packages/medusa/src/api-v2/admin/regions/middlewares.ts
  packages/medusa/src/api-v2/admin/regions/route.ts
  packages/medusa/src/api-v2/admin/regions/validators.ts
  packages/medusa/src/api-v2/admin/reservations/[id]/route.ts
  packages/medusa/src/api-v2/admin/reservations/helpers.ts
  packages/medusa/src/api-v2/admin/reservations/middlewares.ts
  packages/medusa/src/api-v2/admin/reservations/route.ts
  packages/medusa/src/api-v2/admin/reservations/validators.ts
  packages/medusa/src/api-v2/admin/sales-channels/[id]/products/batch/add/route.ts
  packages/medusa/src/api-v2/admin/sales-channels/[id]/products/batch/remove/route.ts
  packages/medusa/src/api-v2/admin/sales-channels/[id]/route.ts
  packages/medusa/src/api-v2/admin/sales-channels/helpers.ts
  packages/medusa/src/api-v2/admin/sales-channels/middlewares.ts
  packages/medusa/src/api-v2/admin/sales-channels/route.ts
  packages/medusa/src/api-v2/admin/sales-channels/validators.ts
  packages/medusa/src/api-v2/admin/shipping-options/[id]/route.ts
  packages/medusa/src/api-v2/admin/shipping-options/[id]/rules/batch/add/route.ts
  packages/medusa/src/api-v2/admin/shipping-options/[id]/rules/batch/remove/route.ts
  packages/medusa/src/api-v2/admin/shipping-options/helpers.ts
  packages/medusa/src/api-v2/admin/shipping-options/middlewares.ts
  packages/medusa/src/api-v2/admin/shipping-options/route.ts
  packages/medusa/src/api-v2/admin/shipping-options/validators.ts
  packages/medusa/src/api-v2/admin/shipping-profiles/[id]/route.ts
  packages/medusa/src/api-v2/admin/shipping-profiles/helpers.ts
  packages/medusa/src/api-v2/admin/shipping-profiles/middlewares.ts
  packages/medusa/src/api-v2/admin/shipping-profiles/route.ts
  packages/medusa/src/api-v2/admin/shipping-profiles/validators.ts
  packages/medusa/src/api-v2/admin/stock-locations/[id]/fulfillment-sets/route.ts
  packages/medusa/src/api-v2/admin/stock-locations/[id]/route.ts
  packages/medusa/src/api-v2/admin/stock-locations/[id]/sales-channels/batch/add/route.ts
  packages/medusa/src/api-v2/admin/stock-locations/[id]/sales-channels/batch/remove/route.ts
  packages/medusa/src/api-v2/admin/stock-locations/helpers.ts
  packages/medusa/src/api-v2/admin/stock-locations/middlewares.ts
  packages/medusa/src/api-v2/admin/stock-locations/route.ts
  packages/medusa/src/api-v2/admin/stock-locations/validators.ts
  packages/medusa/src/api-v2/utils/validate-query.ts
  packages/medusa/src/api-v2/utils/validators.ts
Labels: team: medusa

#7084 fix: Support bigNumber in upsertWithReplace
  packages/utils/src/dal/mikro-orm/big-number-field.ts
  packages/utils/src/dal/mikro-orm/integration-tests/__tests__/mikro-orm-repository.spec.ts
  packages/utils/src/dal/mikro-orm/mikro-orm-repository.ts
Labels: team: medusa

#7094 fix: Switch to zod for customer endpoints, fix inconsistencies
  integration-tests/modules/__tests__/customer-group/admin/batch-add-customers.ts
  integration-tests/modules/__tests__/customer-group/admin/batch-remove-customers.ts
  integration-tests/modules/__tests__/customer-group/admin/list-customer-group-customers.ts
  integration-tests/modules/__tests__/customer/admin/create-customer-addresses.ts
  integration-tests/modules/__tests__/customer/admin/update-customer-address.spec.ts
  packages/customer/src/joiner-config.ts
  packages/customer/src/services/customer-module.ts
  packages/medusa/src/api-v2/admin/customer-groups/[id]/customers/batch/add/route.ts
  packages/medusa/src/api-v2/admin/customer-groups/[id]/customers/batch/remove/route.ts
  packages/medusa/src/api-v2/admin/customer-groups/[id]/customers/batch/route.ts
  packages/medusa/src/api-v2/admin/customer-groups/[id]/customers/route.ts
  packages/medusa/src/api-v2/admin/customer-groups/[id]/route.ts
  packages/medusa/src/api-v2/admin/customer-groups/helpers.ts
  packages/medusa/src/api-v2/admin/customer-groups/middlewares.ts
  packages/medusa/src/api-v2/admin/customer-groups/query-config.ts
  packages/medusa/src/api-v2/admin/customer-groups/route.ts
  packages/medusa/src/api-v2/admin/customer-groups/validators.ts
  packages/medusa/src/api-v2/admin/customers/[id]/addresses/[address_id]/route.ts
  packages/medusa/src/api-v2/admin/customers/[id]/addresses/route.ts
  packages/medusa/src/api-v2/admin/customers/[id]/route.ts
  packages/medusa/src/api-v2/admin/customers/helpers.ts
  packages/medusa/src/api-v2/admin/customers/middlewares.ts
  packages/medusa/src/api-v2/admin/customers/query-config.ts
  packages/medusa/src/api-v2/admin/customers/route.ts
  packages/medusa/src/api-v2/admin/customers/validators.ts
Labels: team: medusa

#7095 feat(core-flows,medusa,types): cancel fulfillments API
  .changeset/large-rockets-hug.md
  integration-tests/modules/__tests__/fulfillment/index.spec.ts
  packages/core-flows/src/fulfillment/steps/cancel-fulfillment.ts
  packages/core-flows/src/fulfillment/steps/index.ts
  packages/core-flows/src/fulfillment/workflows/cancel-fulfillment.ts
  packages/core-flows/src/fulfillment/workflows/index.ts
  packages/medusa/src/api-v2/admin/fulfillments/[id]/cancel/route.ts
  packages/medusa/src/api-v2/admin/fulfillments/helpers.ts
  packages/medusa/src/api-v2/admin/fulfillments/middlewares.ts
  packages/medusa/src/api-v2/admin/fulfillments/query-config.ts
  packages/medusa/src/api-v2/admin/fulfillments/validators.ts
  packages/medusa/src/api-v2/middlewares.ts
  packages/types/src/http/fulfillment/admin/fulfillment.ts
Labels: automerge, team: medusa

#7096 chore: Move most of the remaining endpoints to zod
  integration-tests/api/__tests__/admin/api-key.spec.ts
  integration-tests/modules/__tests__/promotion/admin/create-campaign.spec.ts
  integration-tests/modules/__tests__/promotion/admin/retrieve-campaign.spec.ts
  integration-tests/modules/__tests__/promotion/admin/update-campaign.spec.ts
  packages/medusa/src/api-v2/admin/api-keys/[id]/revoke/route.ts
  packages/medusa/src/api-v2/admin/api-keys/[id]/route.ts
  packages/medusa/src/api-v2/admin/api-keys/[id]/sales-channels/batch/add/route.ts
  packages/medusa/src/api-v2/admin/api-keys/[id]/sales-channels/batch/remove/route.ts
  packages/medusa/src/api-v2/admin/api-keys/[id]/sales-channels/batch/route.ts
  packages/medusa/src/api-v2/admin/api-keys/helpers.ts
  packages/medusa/src/api-v2/admin/api-keys/middlewares.ts
  packages/medusa/src/api-v2/admin/api-keys/route.ts
  packages/medusa/src/api-v2/admin/api-keys/validators.ts
  packages/medusa/src/api-v2/admin/campaigns/[id]/route.ts
  packages/medusa/src/api-v2/admin/campaigns/helpers.ts
  packages/medusa/src/api-v2/admin/campaigns/index.ts
  packages/medusa/src/api-v2/admin/campaigns/middlewares.ts
  packages/medusa/src/api-v2/admin/campaigns/query-config.ts
  packages/medusa/src/api-v2/admin/campaigns/route.ts
  packages/medusa/src/api-v2/admin/campaigns/types.ts
  packages/medusa/src/api-v2/admin/campaigns/validators.ts
  packages/medusa/src/api-v2/admin/collections/[id]/route.ts
  packages/medusa/src/api-v2/admin/collections/helpers.ts
  packages/medusa/src/api-v2/admin/collections/middlewares.ts
  packages/medusa/src/api-v2/admin/collections/query-config.ts
  packages/medusa/src/api-v2/admin/collections/route.ts
  packages/medusa/src/api-v2/admin/collections/validators.ts
  packages/medusa/src/api-v2/admin/currencies/[code]/route.ts
  packages/medusa/src/api-v2/admin/currencies/route.ts
  packages/medusa/src/api-v2/admin/index.ts
  packages/medusa/src/api-v2/admin/promotions/validators.ts
Labels: team: medusa

#7098 Chore/finish migration zod
  integration-tests/modules/__tests__/order/draft-order.spec.ts
  integration-tests/modules/__tests__/pricing/admin/rule-types.spec.ts
  integration-tests/modules/__tests__/promotion/admin/create-promotion.spec.ts
  integration-tests/modules/__tests__/promotion/admin/list-promotions.spec.ts
  integration-tests/modules/__tests__/promotion/admin/promotion-rules.spec.ts
  integration-tests/modules/__tests__/promotion/admin/update-promotion.spec.ts
  packages/medusa/src/api-v2/admin/api-keys/[id]/sales-channels/batch/route.ts
  packages/medusa/src/api-v2/admin/customer-groups/[id]/customers/batch/route.ts
  packages/medusa/src/api-v2/admin/draft-orders/[id]/route.ts
  packages/medusa/src/api-v2/admin/draft-orders/helpers.ts
  packages/medusa/src/api-v2/admin/draft-orders/middlewares.ts
  packages/medusa/src/api-v2/admin/draft-orders/query-config.ts
  packages/medusa/src/api-v2/admin/draft-orders/route.ts
  packages/medusa/src/api-v2/admin/draft-orders/validators.ts
  packages/medusa/src/api-v2/admin/index.ts
  packages/medusa/src/api-v2/admin/price-lists/route.ts
  packages/medusa/src/api-v2/admin/pricing/helpers.ts
  packages/medusa/src/api-v2/admin/pricing/middlewares.ts
  packages/medusa/src/api-v2/admin/pricing/query-config.ts
  packages/medusa/src/api-v2/admin/pricing/rule-types/[id]/route.ts
  packages/medusa/src/api-v2/admin/pricing/rule-types/route.ts
  packages/medusa/src/api-v2/admin/pricing/validators.ts
  packages/medusa/src/api-v2/admin/product-categories/[id]/route.ts
  packages/medusa/src/api-v2/admin/product-categories/helpers.ts
  packages/medusa/src/api-v2/admin/product-categories/query-config.ts
  packages/medusa/src/api-v2/admin/product-categories/route.ts
  packages/medusa/src/api-v2/admin/promotions/[id]/buy-rules/batch/add/route.ts
  packages/medusa/src/api-v2/admin/promotions/[id]/buy-rules/batch/remove/route.ts
  packages/medusa/src/api-v2/admin/promotions/[id]/route.ts
  packages/medusa/src/api-v2/admin/promotions/[id]/rules/batch/add/route.ts
  packages/medusa/src/api-v2/admin/promotions/[id]/rules/batch/remove/route.ts
  packages/medusa/src/api-v2/admin/promotions/[id]/rules/batch/update/route.ts
  packages/medusa/src/api-v2/admin/promotions/[id]/target-rules/batch/add/route.ts
  packages/medusa/src/api-v2/admin/promotions/[id]/target-rules/batch/remove/route.ts
  packages/medusa/src/api-v2/admin/promotions/helpers.ts
  packages/medusa/src/api-v2/admin/promotions/index.ts
  packages/medusa/src/api-v2/admin/promotions/middlewares.ts
  packages/medusa/src/api-v2/admin/promotions/query-config.ts
  packages/medusa/src/api-v2/admin/promotions/route.ts
  packages/medusa/src/api-v2/admin/promotions/types.ts
  packages/medusa/src/api-v2/admin/promotions/validators.ts
  packages/medusa/src/api-v2/admin/uploads/[id]/route.ts
  packages/medusa/src/api-v2/index.ts
  packages/medusa/src/api-v2/utils/common-validators.ts
  packages/medusa/src/api-v2/utils/validate-body.ts
  packages/medusa/src/api-v2/utils/validate-query.ts
  packages/medusa/src/index.js
  packages/pricing/src/joiner-config.ts
Labels: team: medusa

#7090 fix(dashboard,medusa,fulfillment): Move Shipping Profiles to settings
  packages/admin-next/dashboard/public/locales/en-US/translation.json
  packages/admin-next/dashboard/src/components/common/section/section-row.tsx
  packages/admin-next/dashboard/src/components/common/skeleton/skeleton.tsx
  packages/admin-next/dashboard/src/components/layout/main-layout/main-layout.tsx
  packages/admin-next/dashboard/src/components/layout/settings-layout/settings-layout.tsx
  packages/admin-next/dashboard/src/components/table/data-table/data-table-filter/date-filter.tsx
  packages/admin-next/dashboard/src/hooks/api/shipping-profiles.tsx
  packages/admin-next/dashboard/src/lib/client/shipping-profiles.ts
  packages/admin-next/dashboard/src/providers/router-provider/v1.tsx
  packages/admin-next/dashboard/src/providers/router-provider/v2.tsx
  packages/admin-next/dashboard/src/v2-routes/regions/region-detail/components/region-general-section/region-general-section.tsx
  packages/admin-next/dashboard/src/v2-routes/shipping-profiles/shipping-profile-create/components/create-shipping-profile-form/create-shipping-profile-form.tsx
  packages/admin-next/dashboard/src/v2-routes/shipping-profiles/shipping-profile-create/components/create-shipping-profile-form/index.ts
  packages/admin-next/dashboard/src/v2-routes/shipping-profiles/shipping-profile-create/index.ts
  packages/admin-next/dashboard/src/v2-routes/shipping-profiles/shipping-profile-create/shipping-profile-create.tsx
  packages/admin-next/dashboard/src/v2-routes/shipping-profiles/shipping-profile-detail/components/shipping-profile-general-section/index.ts
  packages/admin-next/dashboard/src/v2-routes/shipping-profiles/shipping-profile-detail/components/shipping-profile-general-section/shipping-profile-general-section.tsx
  packages/admin-next/dashboard/src/v2-routes/shipping-profiles/shipping-profile-detail/index.ts
  packages/admin-next/dashboard/src/v2-routes/shipping-profiles/shipping-profile-detail/shipping-profile-detail.tsx
  packages/admin-next/dashboard/src/v2-routes/shipping-profiles/shipping-profiles-list/components/shipping-profile-list-table/index.ts
  packages/admin-next/dashboard/src/v2-routes/shipping-profiles/shipping-profiles-list/components/shipping-profile-list-table/shipping-options-row-actions.tsx
  packages/admin-next/dashboard/src/v2-routes/shipping-profiles/shipping-profiles-list/components/shipping-profile-list-table/shipping-profile-list-table.tsx
  packages/admin-next/dashboard/src/v2-routes/shipping-profiles/shipping-profiles-list/components/shipping-profile-list-table/use-shipping-profile-table-columns.tsx
  packages/admin-next/dashboard/src/v2-routes/shipping-profiles/shipping-profiles-list/components/shipping-profile-list-table/use-shipping-profile-table-filters.tsx
  packages/admin-next/dashboard/src/v2-routes/shipping-profiles/shipping-profiles-list/components/shipping-profile-list-table/use-shipping-profile-table-query.tsx
  packages/admin-next/dashboard/src/v2-routes/shipping-profiles/shipping-profiles-list/index.ts
  packages/admin-next/dashboard/src/v2-routes/shipping-profiles/shipping-profiles-list/shipping-profile-list.tsx
  packages/admin-next/dashboard/src/v2-routes/shipping/const.ts
  packages/admin-next/dashboard/src/v2-routes/shipping/shipping-profiles-list/components/shipping-profile-list-table/use-shipping-profiles-table-query.tsx
  packages/fulfillment/src/models/shipping-profile.ts
  packages/medusa/src/api-v2/admin/shipping-profiles/validators.ts
Labels: automerge, team: medusa

#7083 feat(dashboard): Region refactor
  packages/admin-next/dashboard/public/locales/en-US/translation.json
  packages/admin-next/dashboard/src/hooks/api/regions.tsx
  packages/admin-next/dashboard/src/v2-routes/regions/common/hooks/use-countries.tsx
  packages/admin-next/dashboard/src/v2-routes/regions/region-add-countries/components/add-countries-form/add-countries-form.tsx
  packages/admin-next/dashboard/src/v2-routes/regions/region-add-countries/region-add-countries.tsx
  packages/admin-next/dashboard/src/v2-routes/regions/region-create/components/create-region-form/create-region-form.tsx
  packages/admin-next/dashboard/src/v2-routes/regions/region-create/region-create.tsx
  packages/admin-next/dashboard/src/v2-routes/regions/region-detail/components/region-country-section/region-country-section.tsx
  packages/admin-next/dashboard/src/v2-routes/regions/region-detail/components/region-general-section/region-general-section.tsx
  packages/admin-next/dashboard/src/v2-routes/regions/region-detail/region-detail.tsx
  packages/admin-next/dashboard/src/v2-routes/regions/region-edit/components/edit-region-form/edit-region-form.tsx
  packages/admin-next/dashboard/src/v2-routes/regions/region-edit/region-edit.tsx
  packages/admin-next/dashboard/src/v2-routes/regions/region-list/components/region-list-table/region-list-table.tsx
Labels: team: medusa

#7102 feat: Add batch method to collection and clean up some batch implementations
  integration-tests/api/__tests__/admin/product.js
  integration-tests/modules/__tests__/inventory/index.spec.ts
  integration-tests/modules/__tests__/price-lists/admin/price-lists.spec.ts
  packages/core-flows/src/product/steps/batch-link-products-collection.ts
  packages/core-flows/src/product/steps/index.ts
  packages/core-flows/src/product/workflows/batch-link-products-collection.ts
  packages/core-flows/src/product/workflows/index.ts
  packages/medusa/src/api-v2/admin/collections/[id]/products/route.ts
  packages/medusa/src/api-v2/admin/collections/middlewares.ts
  packages/medusa/src/api-v2/admin/inventory-items/[id]/location-levels/batch/route.ts
  packages/medusa/src/api-v2/admin/inventory-items/middlewares.ts
  packages/medusa/src/api-v2/admin/payments/middlewares.ts
  packages/medusa/src/api-v2/admin/price-lists/[id]/prices/batch/route.ts
  packages/medusa/src/api-v2/admin/price-lists/[id]/products/route.ts
  packages/medusa/src/api-v2/admin/price-lists/middlewares.ts
  packages/medusa/src/api-v2/admin/price-lists/validators.ts
  packages/medusa/src/api-v2/admin/products/[id]/variants/batch/route.ts
  packages/medusa/src/api-v2/admin/products/batch/route.ts
  packages/medusa/src/api-v2/admin/products/middlewares.ts
  packages/medusa/src/api-v2/utils/validate-body.ts
  packages/medusa/src/api-v2/utils/validators.ts
  packages/product/src/services/product-module-service.ts
  packages/types/src/common/batch.ts
  packages/types/src/workflows/index.ts
  packages/types/src/workflows/products/index.ts
  packages/types/src/workflows/products/mutations.ts
Labels: automerge, team: medusa

#7092 feat: Update product category
  integration-tests/api/__tests__/admin/product-category.ts
  packages/core-flows/src/product-category/steps/update-product-category.ts
  packages/core-flows/src/product-category/workflows/index.ts
  packages/core-flows/src/product-category/workflows/update-product-category.ts
  packages/medusa/src/api-v2/admin/product-categories/[id]/route.ts
  packages/medusa/src/api-v2/admin/product-categories/helpers.ts
  packages/medusa/src/api-v2/admin/product-categories/middlewares.ts
  packages/medusa/src/api-v2/admin/product-categories/route.ts
  packages/medusa/src/api-v2/admin/product-categories/validators.ts
  packages/medusa/src/api-v2/admin/products/[id]/route.ts
  packages/medusa/src/services/product-category.ts
  packages/product/src/migrations/InitialSetup20240401153642.ts
  packages/product/src/repositories/product-category.ts
  packages/types/src/product/common.ts
  packages/types/src/workflow/product-category/index.ts
Labels: team: medusa

#7103 fix: Resume workflow execution
  integration-tests/modules/__tests__/shipping-options/workflows/update-shipping-options.ts
  packages/event-bus-redis/src/services/event-bus-redis.ts
  packages/medusa/src/commands/start-cluster.js
  packages/medusa/src/commands/start.js
  packages/medusa/src/loaders/helpers/register-workflows.ts
  packages/medusa/src/loaders/helpers/resolve-plugins.ts
  packages/medusa/src/loaders/index.ts
  packages/medusa/src/loaders/load-medusa-project-apis.ts
  packages/medusa/src/loaders/plugins.ts
  packages/modules-sdk/src/loaders/utils/load-internal.ts
  packages/modules-sdk/src/medusa-app.ts
  packages/modules-sdk/src/medusa-module.ts
  packages/orchestration/src/transaction/transaction-orchestrator.ts
  packages/orchestration/src/transaction/types.ts
  packages/orchestration/src/workflow/global-workflow.ts
  packages/orchestration/src/workflow/local-workflow.ts
  packages/types/src/common/config-module.ts
  packages/types/src/modules-sdk/index.ts
  packages/workflow-engine-inmemory/src/services/workflow-orchestrator.ts
  packages/workflow-engine-redis/package.json
  packages/workflow-engine-redis/src/services/workflow-orchestrator.ts
  packages/workflow-engine-redis/src/services/workflows-module.ts
  packages/workflow-engine-redis/src/utils/workflow-orchestrator-storage.ts
  yarn.lock
Labels: automerge, team: medusa

#7124 feat(medusa,types): add fulfillment provider list api
  .changeset/old-plums-cough.md
  integration-tests/modules/__tests__/fulfillment-providers/index.spec.ts
  packages/fulfillment/src/joiner-config.ts
  packages/fulfillment/src/services/fulfillment-module-service.ts
  packages/medusa/src/api-v2/admin/fulfillment-providers/middlewares.ts
  packages/medusa/src/api-v2/admin/fulfillment-providers/query-config.ts
  packages/medusa/src/api-v2/admin/fulfillment-providers/route.ts
  packages/medusa/src/api-v2/admin/fulfillment-providers/validators.ts
  packages/medusa/src/api-v2/middlewares.ts
  packages/types/src/fulfillment/common/fulfillment-provider.ts
  packages/types/src/fulfillment/service.ts
Labels: team: medusa

#7123 fix(dashboard): Update API keys domains with new design
  packages/admin-next/dashboard/public/locales/en-US/translation.json
  packages/admin-next/dashboard/src/components/common/skeleton/skeleton.tsx
  packages/admin-next/dashboard/src/components/layout/settings-layout/settings-layout.tsx
  packages/admin-next/dashboard/src/components/table/data-table/data-table-skeleton/data-table-skeleton.tsx
  packages/admin-next/dashboard/src/components/table/data-table/data-table-skeleton/index.ts
  packages/admin-next/dashboard/src/components/table/data-table/data-table.tsx
  packages/admin-next/dashboard/src/providers/router-provider/v2.tsx
  packages/admin-next/dashboard/src/v2-routes/api-key-management/api-key-management-create/api-key-management-create.tsx
  packages/admin-next/dashboard/src/v2-routes/api-key-management/api-key-management-create/components/api-key-create-form/api-key-create-form.tsx
  packages/admin-next/dashboard/src/v2-routes/api-key-management/api-key-management-create/components/api-key-create-form/index.ts
  packages/admin-next/dashboard/src/v2-routes/api-key-management/api-key-management-create/components/create-publishable-api-key-form/index.ts
  packages/admin-next/dashboard/src/v2-routes/api-key-management/api-key-management-detail/api-key-management-detail.tsx
  packages/admin-next/dashboard/src/v2-routes/api-key-management/api-key-management-detail/components/api-key-general-section/api-key-general-section.tsx
  packages/admin-next/dashboard/src/v2-routes/api-key-management/api-key-management-detail/components/api-key-sales-channel-section/api-key-sales-channel-section.tsx
  packages/admin-next/dashboard/src/v2-routes/api-key-management/api-key-management-edit/components/edit-api-key-form/edit-api-key-form.tsx
  packages/admin-next/dashboard/src/v2-routes/api-key-management/api-key-management-list/api-key-management-list.tsx
  packages/admin-next/dashboard/src/v2-routes/api-key-management/api-key-management-list/components/api-key-management-list-table/api-key-management-list-table.tsx
  packages/admin-next/dashboard/src/v2-routes/api-key-management/api-key-management-list/components/api-key-management-list-table/api-key-row-actions.tsx
  packages/admin-next/dashboard/src/v2-routes/api-key-management/api-key-management-list/components/api-key-management-list-table/use-api-key-management-table-columns.tsx
  packages/admin-next/dashboard/src/v2-routes/api-key-management/api-key-management-sales-channels/api-key-management-sales-channels.tsx
  packages/admin-next/dashboard/src/v2-routes/api-key-management/api-key-management-sales-channels/components/api-key-sales-channels-fallback/api-key-sales-channels-fallback.tsx
  packages/admin-next/dashboard/src/v2-routes/api-key-management/api-key-management-sales-channels/components/api-key-sales-channels-fallback/index.ts
  packages/admin-next/dashboard/src/v2-routes/api-key-management/api-key-management-sales-channels/components/api-key-sales-channels-form/api-key-sales-channels-form.tsx
  packages/admin-next/dashboard/src/v2-routes/api-key-management/common/utils.ts
Labels: automerge, team: medusa

#7118 feat(core-flows,medusa,types): add create shipment api for fulfillments
  .changeset/new-dingos-impress.md
  integration-tests/modules/__tests__/fixtures/fulfillment/index.ts
  integration-tests/modules/__tests__/fulfillment/fulfillment.workflows.spec.ts
  integration-tests/modules/__tests__/fulfillment/index.spec.ts
  packages/core-flows/src/fulfillment/steps/index.ts
  packages/core-flows/src/fulfillment/steps/update-fulfillment-workflow.ts
  packages/core-flows/src/fulfillment/steps/update-fulfillment.ts
  packages/core-flows/src/fulfillment/steps/validate-shipment.ts
  packages/core-flows/src/fulfillment/workflows/create-shipment.ts
  packages/core-flows/src/fulfillment/workflows/index.ts
  packages/core-flows/src/fulfillment/workflows/update-fulfillment.ts
  packages/fulfillment/src/models/fulfillment.ts
  packages/medusa/src/api-v2/admin/fulfillments/[id]/shipment/route.ts
  packages/medusa/src/api-v2/admin/fulfillments/middlewares.ts
  packages/medusa/src/api-v2/admin/fulfillments/validators.ts
  packages/medusa/src/api-v2/utils/common-validators.ts
  packages/types/src/fulfillment/mutations/fulfillment.ts
  packages/types/src/workflow/fulfillment/create-shipment.ts
  packages/types/src/workflow/fulfillment/index.ts
  packages/types/src/workflow/fulfillment/update-fulfillment.ts
Labels: team: medusa

#7073 fix-docs: TS error when importing a function as a type only (example logged in user middleware)
  www/apps/docs/content/development/api-routes/example-logged-in-user.mdx
Labels: automerge

#7040 chore: add action to generate v2 oas
  .github/workflows/generate-references.yml
Labels: team: medusa

#7126 fix(medusa): Add to default admin customer fields
  packages/medusa/src/api-v2/admin/customers/query-config.ts
Labels: automerge, team: medusa

#7122 fix: Standardize remaining batch methods and update FE calls
  integration-tests/modules/__tests__/promotion/admin/promotion-rules.spec.ts
  integration-tests/modules/__tests__/shipping-options/admin/shipping-option-rules.spec.ts
  packages/admin-next/dashboard/src/lib/client/api-keys.ts
  packages/admin-next/dashboard/src/lib/client/customer-groups.ts
  packages/admin-next/dashboard/src/lib/client/inventory.ts
  packages/admin-next/dashboard/src/lib/client/price-lists.ts
  packages/admin-next/dashboard/src/lib/client/promotions.ts
  packages/admin-next/dashboard/src/lib/client/sales-channels.ts
  packages/core-flows/src/fulfillment/steps/create-shipping-option-rules.ts
  packages/core-flows/src/fulfillment/steps/delete-shipping-option-rules.ts
  packages/core-flows/src/fulfillment/steps/index.ts
  packages/core-flows/src/fulfillment/workflows/add-rules-to-fulfillment-shipping-option.ts
  packages/core-flows/src/fulfillment/workflows/batch-shipping-option-rules.ts
  packages/core-flows/src/fulfillment/workflows/index.ts
  packages/core-flows/src/fulfillment/workflows/remove-rules-from-fulfillment-shipping-option.ts
  packages/core-flows/src/product/steps/batch-product-variants.ts
  packages/core-flows/src/product/steps/batch-products.ts
  packages/core-flows/src/promotion/steps/create-promotion-rules-workflow.ts
  packages/core-flows/src/promotion/steps/delete-promotion-rules-workflow.ts
  packages/core-flows/src/promotion/steps/update-promotion-rules-workflow.ts
  packages/core-flows/src/promotion/workflows/add-rules-to-promotions.ts
  packages/core-flows/src/promotion/workflows/batch-promotion-rules.ts
  packages/core-flows/src/promotion/workflows/create-promotion-rules.ts
  packages/core-flows/src/promotion/workflows/delete-promotion-rules.ts
  packages/core-flows/src/promotion/workflows/index.ts
  packages/core-flows/src/promotion/workflows/update-promotion-rules.ts
  packages/fulfillment/src/joiner-config.ts
  packages/medusa/src/api-v2/admin/promotions/[id]/buy-rules/batch/add/route.ts
  packages/medusa/src/api-v2/admin/promotions/[id]/buy-rules/batch/remove/route.ts
  packages/medusa/src/api-v2/admin/promotions/[id]/buy-rules/batch/route.ts
  packages/medusa/src/api-v2/admin/promotions/[id]/rules/batch/add/route.ts
  packages/medusa/src/api-v2/admin/promotions/[id]/rules/batch/remove/route.ts
  packages/medusa/src/api-v2/admin/promotions/[id]/rules/batch/route.ts
  packages/medusa/src/api-v2/admin/promotions/[id]/rules/batch/update/route.ts
  packages/medusa/src/api-v2/admin/promotions/[id]/target-rules/batch/add/route.ts
  packages/medusa/src/api-v2/admin/promotions/[id]/target-rules/batch/remove/route.ts
  packages/medusa/src/api-v2/admin/promotions/[id]/target-rules/batch/route.ts
  packages/medusa/src/api-v2/admin/promotions/helpers.ts
  packages/medusa/src/api-v2/admin/promotions/middlewares.ts
  packages/medusa/src/api-v2/admin/promotions/query-config.ts
  packages/medusa/src/api-v2/admin/promotions/validators.ts
  packages/medusa/src/api-v2/admin/shipping-options/[id]/rules/batch/add/route.ts
  packages/medusa/src/api-v2/admin/shipping-options/[id]/rules/batch/remove/route.ts
  packages/medusa/src/api-v2/admin/shipping-options/[id]/rules/batch/route.ts
  packages/medusa/src/api-v2/admin/shipping-options/helpers.ts
  packages/medusa/src/api-v2/admin/shipping-options/middlewares.ts
  packages/medusa/src/api-v2/admin/shipping-options/query-config.ts
  packages/medusa/src/api-v2/admin/shipping-options/validators.ts
  packages/promotion/src/joiner-config.ts
Labels: automerge, team: medusa

#7119 chore: Update CODEOWNERS
  CODEOWNERS
Labels: team: medusa

#7029 feat(medusa,types): create promotion flows
  .changeset/seven-files-begin.md
  integration-tests/modules/__tests__/promotion/admin/create-promotion.spec.ts
  integration-tests/modules/__tests__/promotion/admin/promotion-rules.spec.ts
  packages/admin-next/dashboard/public/locales/en-US/translation.json
  packages/admin-next/dashboard/src/hooks/api/promotions.tsx
  packages/admin-next/dashboard/src/providers/router-provider/v2.tsx
  packages/admin-next/dashboard/src/routes/invite/invite.tsx
  packages/admin-next/dashboard/src/v2-routes/promotions/common/edit-rules/components/edit-rules-form/edit-rules-form.tsx
  packages/admin-next/dashboard/src/v2-routes/promotions/common/edit-rules/components/edit-rules-form/index.ts
  packages/admin-next/dashboard/src/v2-routes/promotions/common/edit-rules/components/edit-rules-form/utils.ts
  packages/admin-next/dashboard/src/v2-routes/promotions/common/edit-rules/components/edit-rules-wrapper/edit-rules-wrapper.tsx
  packages/admin-next/dashboard/src/v2-routes/promotions/common/edit-rules/components/edit-rules-wrapper/index.ts
  packages/admin-next/dashboard/src/v2-routes/promotions/common/edit-rules/edit-rules.tsx
  packages/admin-next/dashboard/src/v2-routes/promotions/common/edit-rules/index.ts
  packages/admin-next/dashboard/src/v2-routes/promotions/edit-rules/components/edit-rules-form/edit-rules-form.tsx
  packages/admin-next/dashboard/src/v2-routes/promotions/promotion-add-campaign/components/add-campaign-promotion-form/add-campaign-promotion-form.tsx
  packages/admin-next/dashboard/src/v2-routes/promotions/promotion-create/components/create-promotion-form/constants.ts
  packages/admin-next/dashboard/src/v2-routes/promotions/promotion-create/components/create-promotion-form/create-promotion-form.tsx
  packages/admin-next/dashboard/src/v2-routes/promotions/promotion-create/components/create-promotion-form/form-schema.ts
  packages/admin-next/dashboard/src/v2-routes/promotions/promotion-create/components/create-promotion-form/index.ts
  packages/admin-next/dashboard/src/v2-routes/promotions/promotion-create/components/create-promotion-form/templates.ts
  packages/admin-next/dashboard/src/v2-routes/promotions/promotion-create/index.ts
  packages/admin-next/dashboard/src/v2-routes/promotions/promotion-create/promotion-create.tsx
  packages/admin-next/dashboard/src/v2-routes/promotions/promotion-edit-details/components/edit-promotion-form/edit-promotion-details-form.tsx
  packages/medusa/src/api-v2/admin/promotions/[id]/[rule_type]/route.ts
  packages/medusa/src/api-v2/admin/promotions/utils/rule-query-configuration.ts
  packages/medusa/src/api-v2/admin/promotions/validators.ts
  packages/types/src/http/campaign/admin/campaign.ts
  packages/types/src/http/campaign/admin/index.ts
  packages/types/src/http/campaign/index.ts
  packages/types/src/http/index.ts
  packages/types/src/http/promotion/admin/index.ts
  packages/types/src/http/promotion/admin/promotion-rule.ts
  packages/types/src/http/promotion/admin/rule-attribute-options.ts
  packages/types/src/http/promotion/admin/rule-operator-options.ts
  packages/types/src/http/promotion/index.ts
  packages/types/src/promotion/http.ts
Labels: area: admin, team: medusa

#6953 chore: remove team from generate docblock actions
  .github/workflows/generate-docblocks.yml
Labels: type: docs

#7129 chore(ui): added API reference comments for Toast component
  docs-util/packages/react-docs-generator/src/classes/typedoc-manager.ts
  packages/design-system/ui/README.md
  packages/design-system/ui/src/components/toast/toast.tsx
  packages/design-system/ui/src/components/toaster/toaster.tsx
  packages/design-system/ui/src/types.ts
Labels: type: docs, automerge, team: medusa

#7130 feat(medusa): migrate store cart endpoints to zod
  .changeset/three-mangos-judge.md
  packages/medusa/src/api-v2/store/carts/[id]/line-items/[line_id]/route.ts
  packages/medusa/src/api-v2/store/carts/[id]/line-items/[line_id]/validators.ts
  packages/medusa/src/api-v2/store/carts/[id]/line-items/route.ts
  packages/medusa/src/api-v2/store/carts/[id]/line-items/validators.ts
  packages/medusa/src/api-v2/store/carts/[id]/payment-collections/route.ts
  packages/medusa/src/api-v2/store/carts/[id]/promotions/route.ts
  packages/medusa/src/api-v2/store/carts/[id]/route.ts
  packages/medusa/src/api-v2/store/carts/[id]/taxes/route.ts
  packages/medusa/src/api-v2/store/carts/helpers.ts
  packages/medusa/src/api-v2/store/carts/middlewares.ts
  packages/medusa/src/api-v2/store/carts/route.ts
  packages/medusa/src/api-v2/store/carts/validators.ts
Labels: team: medusa

#7125 feat: V2 batch update products in categories
  integration-tests/api/__tests__/admin/product-category.ts
  packages/core-flows/src/product/steps/batch-link-products-in-category.ts
  packages/core-flows/src/product/workflows/batch-products-in-category.ts
  packages/core-flows/src/product/workflows/index.ts
  packages/medusa/src/api-v2/admin/product-categories/[id]/products/route.ts
  packages/medusa/src/api-v2/admin/product-categories/middlewares.ts
  packages/medusa/src/api-v2/admin/products/validators.ts
  packages/product/integration-tests/__tests__/services/product-module-service/product-categories.spec.ts
  packages/product/src/services/product-module-service.ts
  packages/product/src/services/product.ts
  packages/types/src/product/common.ts
  packages/types/src/workflow/index.ts
  packages/types/src/workflow/product-category/index.ts
Labels: team: medusa

#7128 fix(medusa,admin-ui): Remove forced backendUrl in development, and allow alternative host value.
  .changeset/fair-zoos-watch.md
  packages/admin-ui/src/node/actions/develop.ts
  packages/admin-ui/src/node/types.ts
  packages/medusa/src/commands/develop.js
Labels: team: medusa

#7087 refactor(dashboard): refresh domains
  packages/admin-next/dashboard/public/locales/en-US/translation.json
  packages/admin-next/dashboard/src/types/api-responses.ts
  packages/admin-next/dashboard/src/v2-routes/inventory/inventory-detail/components/adjust-inventory/adjust-inventory-drawer.tsx
  packages/admin-next/dashboard/src/v2-routes/inventory/inventory-detail/components/adjust-inventory/components/adjust-inventory-form.tsx
  packages/admin-next/dashboard/src/v2-routes/inventory/inventory-detail/components/edit-inventory-item-attributes/components/edit-item-attributes-form.tsx
  packages/admin-next/dashboard/src/v2-routes/inventory/inventory-detail/components/edit-inventory-item-attributes/edit-item-attributes-drawer.tsx
  packages/admin-next/dashboard/src/v2-routes/inventory/inventory-detail/components/edit-inventory-item/components/edit-item-form.tsx
  packages/admin-next/dashboard/src/v2-routes/inventory/inventory-detail/components/edit-inventory-item/edit-item-drawer.tsx
  packages/admin-next/dashboard/src/v2-routes/inventory/inventory-detail/components/inventory-item-general-section.tsx
  packages/admin-next/dashboard/src/v2-routes/inventory/inventory-detail/components/inventory-item-location-levels.tsx
  packages/admin-next/dashboard/src/v2-routes/inventory/inventory-detail/components/location-levels-table/location-list-table.tsx
  packages/admin-next/dashboard/src/v2-routes/inventory/inventory-detail/components/manage-locations/components/location-item.tsx
  packages/admin-next/dashboard/src/v2-routes/inventory/inventory-detail/components/manage-locations/components/manage-locations-form.tsx
  packages/admin-next/dashboard/src/v2-routes/inventory/inventory-detail/components/manage-locations/manage-locations-drawer.tsx
  packages/admin-next/dashboard/src/v2-routes/inventory/inventory-detail/components/reservations-table/reservation-list-table.tsx
  packages/admin-next/dashboard/src/v2-routes/inventory/inventory-detail/index.ts
  packages/admin-next/dashboard/src/v2-routes/inventory/inventory-detail/inventory-detail.tsx
  packages/admin-next/dashboard/src/v2-routes/inventory/inventory-list/components/inventory-list-table.tsx
  packages/admin-next/dashboard/src/v2-routes/invite/invite.tsx
  packages/admin-next/dashboard/src/v2-routes/locations/location-create/components/create-location-form/create-location-form.tsx
  packages/admin-next/dashboard/src/v2-routes/locations/location-detail/components/location-sales-channel-section/location-sales-channel-section.tsx
  packages/admin-next/dashboard/src/v2-routes/locations/location-detail/location-detail.tsx
  packages/admin-next/dashboard/src/v2-routes/locations/location-edit/components/edit-location-form/edit-location-form.tsx
  packages/admin-next/dashboard/src/v2-routes/locations/location-edit/location-edit.tsx
  packages/admin-next/dashboard/src/v2-routes/locations/location-list/components/locations-list-table/locations-list-table.tsx
  packages/admin-next/dashboard/src/v2-routes/locations/location-list/components/locations-list-table/use-location-table-query.tsx
  packages/admin-next/dashboard/src/v2-routes/login/login.tsx
  packages/admin-next/dashboard/src/v2-routes/profile/profile-detail/profile-detail.tsx
  packages/admin-next/dashboard/src/v2-routes/profile/profile-edit/components/edit-profile-form/edit-profile-form.tsx
  packages/admin-next/dashboard/src/v2-routes/profile/profile-edit/profile-edit.tsx
  packages/admin-next/dashboard/src/v2-routes/sales-channels/sales-channel-add-products/components/add-products-to-sales-channel-form.tsx
  packages/admin-next/dashboard/src/v2-routes/sales-channels/sales-channel-add-products/sales-channel-add-products.tsx
  packages/admin-next/dashboard/src/v2-routes/sales-channels/sales-channel-create/components/create-sales-channel-form/create-sales-channel-form.tsx
  packages/admin-next/dashboard/src/v2-routes/sales-channels/sales-channel-detail/components/sales-channel-general-section/sales-channel-general-section.tsx
  packages/admin-next/dashboard/src/v2-routes/sales-channels/sales-channel-detail/components/sales-channel-product-section/sales-channel-product-section.tsx
  packages/admin-next/dashboard/src/v2-routes/sales-channels/sales-channel-detail/sales-channel-detail.tsx
  packages/admin-next/dashboard/src/v2-routes/sales-channels/sales-channel-edit/components/edit-sales-channel-form/edit-sales-channel-form.tsx
  packages/admin-next/dashboard/src/v2-routes/sales-channels/sales-channel-edit/sales-channel-edit.tsx
  packages/admin-next/dashboard/src/v2-routes/sales-channels/sales-channel-list/components/sales-channel-list-table.tsx
  packages/admin-next/dashboard/src/v2-routes/store/store-add-currencies/components/add-currencies-form/add-currencies-form.tsx
  packages/admin-next/dashboard/src/v2-routes/store/store-add-currencies/store-add-currencies.tsx
  packages/admin-next/dashboard/src/v2-routes/store/store-detail/components/store-currency-section/store-currencies-section.tsx/store-currency-section.tsx
  packages/admin-next/dashboard/src/v2-routes/store/store-detail/components/store-general-section/store-general-section.tsx
  packages/admin-next/dashboard/src/v2-routes/store/store-detail/store-detail.tsx
  packages/admin-next/dashboard/src/v2-routes/store/store-edit/components/edit-store-form/edit-store-form.tsx
  packages/admin-next/dashboard/src/v2-routes/store/store-edit/store-edit.tsx
  packages/core-flows/src/stock-location/steps/delete-stock-locations.ts
  packages/currency/src/models/currency.ts
  packages/medusa/src/api-v2/admin/currencies/validators.ts
Labels: team: medusa

#7134 feat: Add local file provider and wire everything up in the file module
  integration-tests/api/__tests__/admin/upload.ts
  integration-tests/api/medusa-config.js
  integration-tests/api/package.json
  packages/core-flows/src/file/steps/upload-files.ts
  packages/core-flows/src/file/workflows/upload-files.ts
  packages/file-local/.gitignore
  packages/file-local/README.md
  packages/file-local/jest.config.js
  packages/file-local/package.json
  packages/file-local/src/index.ts
  packages/file-local/src/services/local-file.ts
  packages/file-local/tsconfig.json
  packages/file-local/tsconfig.spec.json
  packages/file/integration-tests/__fixtures__/providers/default-provider.ts
  packages/file/integration-tests/__fixtures__/providers/index.ts
  packages/file/integration-tests/__tests__/module.spec.ts
  packages/file/src/index.ts
  packages/file/src/loaders/providers.ts
  packages/file/src/module-definition.ts
  packages/file/src/services/file-module-service.ts
  packages/file/src/services/file-provider-service.ts
  packages/file/src/types/index.ts
  packages/medusa/src/api-v2/admin/uploads/[id]/route.ts
  packages/medusa/src/api-v2/admin/uploads/middlewares.ts
  packages/medusa/src/api-v2/admin/uploads/route.ts
  packages/medusa/src/api-v2/admin/uploads/validators.ts
  packages/types/src/file/common.ts
  packages/types/src/file/mutations.ts
  packages/types/src/file/provider.ts
  packages/types/src/file/service.ts
  packages/utils/src/file/abstract-file-provider.ts
  packages/utils/src/file/index.ts
  packages/utils/src/index.ts
  packages/utils/src/modules-sdk/definition.ts
  yarn.lock
Labels: team: medusa

#7142 docs: add details about the new host option of admin
  www/apps/docs/content/admin/configuration.mdx
Labels: type: docs, version: next, team: medusa

#7143 feat: Add s3-compatible plugin for the file module
  integration-tests/api/__tests__/admin/upload.ts
  packages/file-local/src/services/local-file.ts
  packages/file-s3/.gitignore
  packages/file-s3/README.md
  packages/file-s3/integration-tests/__fixtures__/catphoto.jpg
  packages/file-s3/integration-tests/__tests__/services.spec.ts
  packages/file-s3/jest.config.js
  packages/file-s3/package.json
  packages/file-s3/src/index.ts
  packages/file-s3/src/services/s3-file.ts
  packages/file-s3/tsconfig.json
  packages/file-s3/tsconfig.spec.json
  packages/file/src/services/file-module-service.ts
  packages/types/src/file/index.ts
  packages/types/src/file/providers/index.ts
  packages/types/src/file/providers/local.ts
  packages/types/src/file/providers/s3.ts
  yarn.lock
Labels: team: medusa

#7139 feat(docs-util): predefined OAS schemas
  docs-util/packages/docblock-generator/src/classes/helpers/oas-schema.ts
  docs-util/packages/docblock-generator/src/classes/helpers/schema-factory.ts
  docs-util/packages/docblock-generator/src/classes/kinds/oas.ts
  packages/oas/medusa-oas-cli/redocly/redocly-config.yaml
Labels: team: medusa

#7133 feat(order): bundled actions
  integration-tests/modules/__tests__/order/draft-order.spec.ts
  integration-tests/modules/__tests__/order/order.spec.ts
  packages/order/integration-tests/__tests__/create-order.ts
  packages/order/integration-tests/__tests__/order-edit.ts
  packages/order/integration-tests/__tests__/order-items-shipping.spec.ts
  packages/order/src/migrations/Migration20240219102530.ts
  packages/order/src/models/index.ts
  packages/order/src/models/order-change-action.ts
  packages/order/src/models/order-change.ts
  packages/order/src/models/order-item.ts
  packages/order/src/models/order-shipping-method.ts
  packages/order/src/models/order-summary.ts
  packages/order/src/models/order.ts
  packages/order/src/models/shipping-method.ts
  packages/order/src/services/__tests__/util/actions/exchanges.ts
  packages/order/src/services/order-change-service.ts
  packages/order/src/services/order-module-service.ts
  packages/order/src/types/utils/index.ts
  packages/order/src/utils/calculate-order-change.ts
  packages/order/src/utils/transform-order.ts
  packages/types/src/order/mutations.ts
  packages/types/src/order/service.ts
  packages/utils/src/common/trim-zeros.ts
Labels: team: medusa

#7149 feat: Add support for search to all endpoints
  integration-tests/api/__tests__/admin/api-key.spec.ts
  integration-tests/api/__tests__/admin/product.js
  integration-tests/api/__tests__/admin/sales-channels.js
  integration-tests/api/__tests__/admin/store.js
  integration-tests/api/__tests__/admin/user.js
  integration-tests/modules/__tests__/currency/admin/currency.spec.ts
  integration-tests/modules/__tests__/customer-group/admin/list-customer-groups.spec.ts
  integration-tests/modules/__tests__/customer/admin/list-customer-addresses.ts
  integration-tests/modules/__tests__/customer/admin/list-customers.spec.ts
  integration-tests/modules/__tests__/price-lists/admin/price-lists.spec.ts
  integration-tests/modules/__tests__/promotion/admin/list-campaigns.spec.ts
  integration-tests/modules/__tests__/promotion/admin/list-promotions.spec.ts
  integration-tests/modules/__tests__/regions/admin/regions.spec.ts
  integration-tests/modules/__tests__/tax/admin/tax.spec.ts
  packages/api-key/src/models/api-key.ts
  packages/api-key/src/services/api-key-module-service.ts
  packages/customer/src/models/address.ts
  packages/customer/src/models/customer-group.ts
  packages/inventory-next/src/models/inventory-item.ts
  packages/medusa/src/api-v2/admin/api-keys/validators.ts
  packages/medusa/src/api-v2/admin/campaigns/validators.ts
  packages/medusa/src/api-v2/admin/customers/validators.ts
  packages/medusa/src/api-v2/admin/payments/validators.ts
  packages/medusa/src/api-v2/admin/price-lists/validators.ts
  packages/medusa/src/api-v2/admin/regions/validators.ts
  packages/medusa/src/api-v2/admin/sales-channels/validators.ts
  packages/medusa/src/api-v2/admin/stores/validators.ts
  packages/medusa/src/api-v2/admin/tax-regions/validators.ts
  packages/medusa/src/api-v2/admin/users/validators.ts
  packages/payment/src/models/payment.ts
  packages/pricing/src/models/price-list.ts
  packages/promotion/src/models/campaign.ts
  packages/promotion/src/models/promotion.ts
  packages/region/src/models/region.ts
  packages/sales-channel/src/models/sales-channel.ts
  packages/stock-location/src/models/stock-location-address.ts
  packages/stock-location/src/models/stock-location.ts
  packages/store/src/models/store.ts
  packages/types/src/api-key/common/api-key.ts
  packages/types/src/currency/common/currency.ts
  packages/types/src/customer/common.ts
  packages/types/src/inventory/common/inventory-item.ts
  packages/types/src/payment/common.ts
  packages/types/src/pricing/common/price-list.ts
  packages/types/src/product/common.ts
  packages/types/src/promotion/common/campaign.ts
  packages/types/src/promotion/common/promotion.ts
  packages/types/src/region/common.ts
  packages/types/src/sales-channel/common.ts
  packages/types/src/store/common/store.ts
  packages/types/src/tax/common.ts
  packages/types/src/user/common.ts
Labels: team: medusa

#7132 Fixed logged-in-user.mdx example
  www/apps/docs/content/development/api-routes/example-logged-in-user.mdx
Labels: automerge

#7152 fix: Corrections to the store region endpoint for v2
  integration-tests/api/__tests__/store/regions.js
  integration-tests/modules/__tests__/payment/payments.spec.ts
  packages/medusa/src/api-v2/store/regions/[id]/payment-providers/route.ts
  packages/medusa/src/api-v2/store/regions/[id]/route.ts
  packages/medusa/src/api-v2/store/regions/middlewares.ts
  packages/medusa/src/api-v2/store/regions/query-config.ts
  packages/medusa/src/api-v2/store/regions/route.ts
  packages/medusa/src/api-v2/store/regions/validators.ts
  packages/orchestration/src/joiner/remote-joiner.ts
Labels: automerge, team: medusa

#7153 feat(modules-sdk): remote query context filter
  .changeset/six-rats-pretend.md
  integration-tests/modules/__tests__/link-modules/shipping-option-price-set.spec.ts
  packages/core-flows/src/definition/cart/workflows/add-shipping-method-to-cart.ts
  packages/link-modules/src/definitions/product-variant-price-set.ts
  packages/link-modules/src/definitions/shipping-option-price-set.ts
  packages/modules-sdk/src/remote-query.ts
  packages/pricing/src/services/pricing-module.ts
  packages/types/src/pricing/common/price-set.ts
  packages/utils/src/common/__tests__/remote-query-object-from-string.spec.ts
  packages/utils/src/common/remote-query-object-from-string.ts
Labels: automerge, team: medusa

#7150 feat(core-flows, medusa): add shipping methods to cart API
  .changeset/thick-bats-rescue.md
  integration-tests/modules/__tests__/cart/store/cart.workflows.spec.ts
  integration-tests/modules/__tests__/cart/store/carts.spec.ts
  packages/core-flows/src/common/steps/use-remote-query.ts
  packages/core-flows/src/definition/cart/steps/index.ts
  packages/core-flows/src/definition/cart/steps/refresh-cart-shipping-methods.ts
  packages/core-flows/src/definition/cart/steps/validate-cart-shipping-options.ts
  packages/core-flows/src/definition/cart/utils/fields.ts
  packages/core-flows/src/definition/cart/workflows/add-shipping-method-to-cart.ts
  packages/core-flows/src/definition/cart/workflows/add-to-cart.ts
  packages/core-flows/src/definition/cart/workflows/update-cart.ts
  packages/core-flows/src/definition/cart/workflows/update-line-item-in-cart.ts
  packages/medusa/src/api-v2/store/carts/[id]/shipping-methods/route.ts
  packages/medusa/src/api-v2/store/carts/middlewares.ts
  packages/medusa/src/api-v2/store/carts/validators.ts
  packages/types/src/cart/common.ts
  packages/types/src/cart/mutations.ts
  packages/types/src/cart/service.ts
  packages/utils/src/common/array-difference.ts
Labels: team: medusa

#7166 feat(medusa): Remove require id from update shipping options validator
  .changeset/great-stingrays-clap.md
  integration-tests/modules/__tests__/shipping-options/admin/shipping-options.spec.ts
  packages/medusa/src/api-v2/admin/shipping-options/[id]/route.ts
  packages/medusa/src/api-v2/admin/shipping-options/validators.ts
Labels: team: medusa

#7160 feat: Add missing endpoints and normalize customer and currency endpoints for storefront
  integration-tests/modules/__tests__/customer/store/create-customer-addresses.ts
  integration-tests/modules/__tests__/customer/store/list-customer-addresses.ts
  integration-tests/modules/__tests__/customer/store/update-customer-address.spec.ts
  packages/core-flows/src/customer/steps/maybe-unset-default-billing-addresses.ts
  packages/core-flows/src/customer/steps/maybe-unset-default-shipping-addresses.ts
  packages/core-flows/src/customer/steps/update-addresses.ts
  packages/core-flows/src/customer/steps/utils/unset-address-for-update.ts
  packages/core-flows/src/customer/workflows/update-addresses.ts
  packages/medusa/src/api-v2/admin/currencies/[code]/route.ts
  packages/medusa/src/api-v2/admin/customers/validators.ts
  packages/medusa/src/api-v2/store/currencies/[code]/route.ts
  packages/medusa/src/api-v2/store/currencies/middlewares.ts
  packages/medusa/src/api-v2/store/currencies/query-config.ts
  packages/medusa/src/api-v2/store/currencies/route.ts
  packages/medusa/src/api-v2/store/currencies/validators.ts
  packages/medusa/src/api-v2/store/customers/helpers.ts
  packages/medusa/src/api-v2/store/customers/me/addresses/[address_id]/route.ts
  packages/medusa/src/api-v2/store/customers/me/addresses/route.ts
  packages/medusa/src/api-v2/store/customers/me/route.ts
  packages/medusa/src/api-v2/store/customers/middlewares.ts
  packages/medusa/src/api-v2/store/customers/query-config.ts
  packages/medusa/src/api-v2/store/customers/route.ts
  packages/medusa/src/api-v2/store/customers/validators.ts
  packages/types/src/customer/mutations.ts
Labels: team: medusa

#7161 fix(orchestration): trigger awaiting event
  .changeset/twelve-crabs-clean.md
  packages/orchestration/src/transaction/transaction-orchestrator.ts
  packages/workflow-engine-redis/src/services/workflow-orchestrator.ts
Labels: team: medusa

#7176 fix(modules-sdk): load custom modules options
  .changeset/cold-birds-judge.md
  packages/modules-sdk/src/loaders/__tests__/register-modules.ts
  packages/modules-sdk/src/loaders/register-modules.ts
Labels: team: medusa

#7178 feat(medusa): add middleware filters + scope products
  .changeset/nervous-glasses-exercise.md
  integration-tests/modules/__tests__/product/store/index.spec.ts
  packages/medusa/src/api-v2/store/products/[id]/route.ts
  packages/medusa/src/api-v2/store/products/helpers.ts
  packages/medusa/src/api-v2/store/products/middlewares.ts
  packages/medusa/src/api-v2/store/products/route.ts
  packages/medusa/src/api-v2/utils/middlewares/common/apply-default-filters.ts
  packages/medusa/src/api-v2/utils/middlewares/products/set-pricing-context.ts
Labels: team: medusa

#7181 chore(orchestration): replace workflow definition in v1
  .changeset/strong-ravens-joke.md
  packages/orchestration/src/__tests__/workflow/local-workflow.ts
  packages/orchestration/src/workflow/workflow-manager.ts
Labels: team: medusa

#7177 chore: change minor bumps to patch
  .changeset/cold-jeans-shave.md
  .changeset/fifty-badgers-crash.md
  .changeset/fluffy-mugs-sort.md
  .changeset/warm-pumas-crash.md
Labels: team: medusa
