Repository medusajs/medusa, pull requests merged in 2024-05, with the labels that each got.

#7184 docs: fix for subscriber logic in digital products recipe
  www/apps/docs/content/recipes/digital-products.mdx
Labels: type: docs, automerge

#7182 fix: Ensure passed Id filters get applied on top of maybe link filter
  integration-tests/modules/__tests__/product/store/index.spec.ts
  packages/medusa/src/api-v2/utils/maybe-apply-link-filter.ts
  packages/utils/src/common/__tests__/array-intersection.spec.ts
  packages/utils/src/common/array-intersection.ts
  packages/utils/src/common/index.ts
Labels: team: medusa

#7193 chore: Update contibuting with new branching strategy
  CONTRIBUTING.md
Labels: team: medusa

#7196 fix: Correctly fetch cart when updating a line item
  packages/medusa/src/api-v2/store/carts/[id]/line-items/[line_id]/route.ts
Labels: automerge, team: medusa

#7200 fix(medusa): fix promotion not found error text
  packages/medusa/src/api-v2/admin/promotions/[id]/route.ts
Labels: team: medusa

#7117 feat(dashboard): metadata component
  packages/admin-next/dashboard/public/locales/en-US/translation.json
  packages/admin-next/dashboard/src/components/forms/metadata/index.ts
  packages/admin-next/dashboard/src/components/forms/metadata/metadata.tsx
  packages/admin-next/dashboard/src/lib/metadata.ts
  packages/admin-next/dashboard/src/lib/validation.ts
  packages/admin-next/dashboard/src/v2-routes/customers/customer-edit/components/edit-customer-form/edit-customer-form.tsx
  packages/admin-next/dashboard/src/v2-routes/customers/customer-edit/customer-edit.tsx
  packages/admin-ui/ui/src/domain/customers/groups/customer-group-modal.tsx
  packages/medusa/src/api-v2/admin/customers/middlewares.ts
  packages/medusa/src/api-v2/admin/customers/query-config.ts
  packages/medusa/src/api-v2/admin/customers/validators.ts
Labels: automerge, team: medusa

#7205 fix: Add shipping options for cart fix
  integration-tests/modules/__tests__/shipping-options/store/shipping-options.spec.ts
  packages/medusa/src/api-v2/store/shipping-options/[cart_id]/route.ts
Labels: automerge, team: medusa

#7204 fix(fulfillment): Update shipping options rules
  .changeset/shiny-apples-serve.md
  integration-tests/modules/__tests__/shipping-options/admin/shipping-options.spec.ts
  packages/fulfillment/integration-tests/__tests__/fulfillment-module-service/shipping-option.spec.ts
  packages/fulfillment/src/services/fulfillment-module-service.ts
Labels: automerge, team: medusa

#7169 feat(fulfillment): shipping options context field
  .changeset/witty-waves-wink.md
  integration-tests/modules/__tests__/cart/store/cart.workflows.spec.ts
  integration-tests/modules/__tests__/cart/store/carts.spec.ts
  integration-tests/modules/__tests__/link-modules/product-variant-price-set.spec.ts
  integration-tests/modules/__tests__/shipping-options/store/shipping-options.spec.ts
  packages/core-flows/src/common/steps/use-remote-query.ts
  packages/core-flows/src/definition/cart/steps/get-shipping-option-price-sets.ts
  packages/core-flows/src/definition/cart/steps/index.ts
  packages/core-flows/src/definition/cart/steps/link-cart-payment-collection.ts
  packages/core-flows/src/definition/cart/workflows/add-to-cart.ts
  packages/core-flows/src/definition/cart/workflows/create-carts.ts
  packages/core-flows/src/definition/cart/workflows/list-shipping-options-for-cart.ts
  packages/core-flows/src/definition/cart/workflows/refresh-payment-collection.ts
  packages/core-flows/src/definition/cart/workflows/update-line-item-in-cart.ts
  packages/fulfillment/src/services/fulfillment-module-service.ts
  packages/link-modules/src/definitions/product-variant-inventory-item.ts
  packages/link-modules/src/definitions/product-variant-price-set.ts
  packages/pricing/src/services/pricing-module.ts
  packages/types/src/fulfillment/service.ts
  packages/utils/src/common/__tests__/deep-flat-map.ts
  packages/utils/src/common/deep-flat-map.ts
  packages/utils/src/common/index.ts
Labels: team: medusa

#7207 chore: Update CI to trigger for v1.x
  .github/workflows/action.yml
Labels: team: medusa

#7203 fix(admin,admin-ui,medusa): Set default value for `host` + other minor fixes
  .changeset/unlucky-chairs-scream.md
  packages/admin-ui/package.json
  packages/admin-ui/src/node/actions/develop.ts
  packages/admin/src/commands/develop.ts
  packages/admin/src/utils/load-config.ts
  packages/medusa/src/commands/develop.js
  packages/medusa/src/commands/utils/resolve-admin-cli.ts
  yarn.lock
Labels: team: medusa

#7183 feat(workflows-sdk): Execute workflows as step in other workflows
  .changeset/gentle-zebras-poke.md
  packages/orchestration/src/workflow/local-workflow.ts
  packages/workflow-engine-inmemory/src/services/workflow-orchestrator.ts
  packages/workflow-engine-inmemory/src/services/workflows-module.ts
  packages/workflow-engine-redis/src/services/workflow-orchestrator.ts
  packages/workflows-sdk/src/helper/index.ts
  packages/workflows-sdk/src/helper/type.ts
  packages/workflows-sdk/src/helper/workflow-export.ts
  packages/workflows-sdk/src/utils/_playground.ts
  packages/workflows-sdk/src/utils/composer/__tests__/index.spec.ts
  packages/workflows-sdk/src/utils/composer/create-workflow.ts
  packages/workflows-sdk/src/utils/composer/helpers/step-response.ts
  packages/workflows-sdk/src/utils/composer/type.ts
Labels: team: medusa

#7201 feat(medusa,core-flows): complete cart [part-1]
  .changeset/honest-zoos-play.md
  integration-tests/modules/__tests__/cart/store/carts.spec.ts
  packages/core-flows/src/definition/cart/steps/create-order-from-cart.ts
  packages/core-flows/src/definition/cart/steps/index.ts
  packages/core-flows/src/definition/cart/utils/fields.ts
  packages/core-flows/src/definition/cart/utils/prepare-line-item-data.ts
  packages/core-flows/src/definition/cart/workflows/complete-cart.ts
  packages/core-flows/src/definition/cart/workflows/index.ts
  packages/core-flows/src/order/workflows/create-orders.ts
  packages/medusa/src/api-v2/store/carts/[id]/complete/route.ts
  packages/medusa/src/api-v2/store/carts/middlewares.ts
  packages/medusa/src/api-v2/store/carts/validators.ts
  packages/medusa/src/api-v2/store/orders/helpers.ts
  packages/medusa/src/api-v2/store/orders/query-config.ts
  packages/medusa/src/api-v2/store/orders/validators.ts
  packages/modules/order/src/types/order-detail.ts
  packages/modules/order/src/types/order.ts
  packages/types/src/cart/workflows.ts
  packages/types/src/order/mutations.ts
Labels: automerge, team: medusa

#7211 feat(medusa-cli): added v2 flag
  .changeset/olive-tigers-mate.md
  packages/medusa-cli/src/commands/new.ts
  packages/medusa-cli/src/create-cli.ts
Labels: team: medusa

#7216 chore: Remove legacy files plugins
  packages/medusa-file-local/.gitignore
  packages/medusa-file-local/CHANGELOG.md
  packages/medusa-file-local/README.md
  packages/medusa-file-local/package.json
  packages/medusa-file-local/src/api/index.ts
  packages/medusa-file-local/src/services/local-file-service.ts
  packages/medusa-file-local/tsconfig.json
  packages/medusa-file-minio/.babelrc
  packages/medusa-file-minio/.gitignore
  packages/medusa-file-minio/.npmignore
  packages/medusa-file-minio/CHANGELOG.md
  packages/medusa-file-minio/README.md
  packages/medusa-file-minio/index.js
  packages/medusa-file-minio/package.json
  packages/medusa-file-minio/src/services/minio.ts
  packages/medusa-file-minio/tsconfig.json
  packages/medusa-file-s3/.babelrc
  packages/medusa-file-s3/.gitignore
  packages/medusa-file-s3/.npmignore
  packages/medusa-file-s3/CHANGELOG.md
  packages/medusa-file-s3/README.md
  packages/medusa-file-s3/index.js
  packages/medusa-file-s3/package.json
  packages/medusa-file-s3/src/services/s3.ts
  packages/medusa-file-s3/tsconfig.json
  packages/medusa-file-spaces/.babelrc
  packages/medusa-file-spaces/.gitignore
  packages/medusa-file-spaces/.npmignore
  packages/medusa-file-spaces/CHANGELOG.md
  packages/medusa-file-spaces/README.md
  packages/medusa-file-spaces/index.js
  packages/medusa-file-spaces/package.json
  packages/medusa-file-spaces/src/services/digital-ocean.js
  yarn.lock
Labels: automerge, team: medusa

#7230 feat(fulfillment, core-flows): Apply correct address and context + cleanup
  .changeset/quick-beans-share.md
  packages/core/core-flows/src/definition/cart/workflows/list-shipping-options-for-cart.ts
  packages/modules/fulfillment/src/services/fulfillment-module-service.ts
Labels: automerge, team: medusa

#7226 fix: Retrieve ancestors and/or descendants on product categories
  integration-tests/api/__tests__/admin/product-category.ts
  packages/core/orchestration/src/joiner/remote-joiner.ts
  packages/medusa/src/api-v2/admin/product-categories/[id]/products/route.ts
  packages/medusa/src/api-v2/admin/product-categories/[id]/route.ts
  packages/medusa/src/api-v2/admin/product-categories/helpers.ts
  packages/medusa/src/api-v2/admin/product-categories/query-config.ts
  packages/medusa/src/api-v2/admin/product-categories/route.ts
  packages/medusa/src/api-v2/store/product-categories/[id]/route.ts
  packages/medusa/src/api-v2/utils/refetch-entity.ts
  packages/medusa/src/utils/get-query-config.ts
  packages/modules/product/src/repositories/product-category.ts
Labels: team: medusa

#7233 docs(v1.x): use correct branch name
  .github/workflows/docs-new-announcement.yml
  .github/workflows/docs-remove-announcement.yml
  .github/workflows/docs-test.yml
  .github/workflows/generate-docblocks-reference.yml
  .github/workflows/generate-docblocks.yml
  .github/workflows/generate-references.yml
  docs-util/packages/scripts/doc-change-release.ts
  docs-util/packages/scripts/freshness-check.ts
  www/apps/docs/content/contribution/_admin-translations.md
  www/apps/docs/content/contribution/docs.md
  www/apps/docs/docusaurus.config.js
Labels: team: medusa

#7209 feat(inventory): check stock to create reservation
  .changeset/shiny-pianos-hammer.md
  packages/core/types/src/inventory/mutations/reservation-item.ts
  packages/modules/inventory-next/integration-tests/__tests__/inventory-module-service.spec.ts
  packages/modules/inventory-next/src/migrations/Migration20240307132720.ts
  packages/modules/inventory-next/src/models/reservation-item.ts
  packages/modules/inventory-next/src/services/inventory.ts
Labels: team: medusa

#7227 chore: complete cart part 2
  integration-tests/modules/__tests__/cart/store/cart.workflows.spec.ts
  integration-tests/modules/__tests__/cart/store/carts.spec.ts
  packages/core/core-flows/src/definition/cart/steps/confirm-inventory.ts
  packages/core/core-flows/src/definition/cart/utils/fields.ts
  packages/core/core-flows/src/definition/cart/utils/prepare-confirm-inventory-input.ts
  packages/core/core-flows/src/definition/cart/workflows/add-to-cart.ts
  packages/core/core-flows/src/definition/cart/workflows/complete-cart.ts
  packages/core/core-flows/src/definition/cart/workflows/confirm-variant-inventory.ts
  packages/core/core-flows/src/definition/cart/workflows/create-carts.ts
  packages/core/core-flows/src/definition/cart/workflows/create-payment-collection-for-cart.ts
  packages/core/core-flows/src/definition/cart/workflows/update-line-item-in-cart.ts
  packages/core/types/src/cart/workflows.ts
  packages/core/workflows-sdk/src/utils/composer/create-workflow.ts
  packages/medusa/src/api-v2/store/carts/[id]/complete/route.ts
  packages/medusa/src/api-v2/store/shipping-options/[cart_id]/route.ts
  packages/modules/link-modules/src/definitions/index.ts
  packages/modules/link-modules/src/definitions/readonly/cart-customer.ts
  packages/modules/link-modules/src/definitions/readonly/cart-product.ts
  packages/modules/link-modules/src/definitions/readonly/cart-region.ts
  packages/modules/link-modules/src/definitions/readonly/cart-sales-channel.ts
  packages/modules/link-modules/src/definitions/readonly/index.ts
  packages/modules/link-modules/src/definitions/readonly/inventory-level-stock-location.ts
  packages/modules/link-modules/src/definitions/readonly/order-customer.ts
  packages/modules/link-modules/src/definitions/readonly/store-default-currency.ts
Labels: team: medusa

#7243 feat(link-module): Order Product link
  .changeset/strong-rabbits-exercise.md
  packages/medusa/src/api-v2/admin/draft-orders/query-config.ts
  packages/medusa/src/api-v2/admin/orders/query-config.ts
  packages/medusa/src/api-v2/store/orders/query-config.ts
  packages/modules/link-modules/src/definitions/readonly/index.ts
  packages/modules/link-modules/src/definitions/readonly/order-product.ts
Labels: automerge, team: medusa

#7242 feat(order): Add `display_id` to order
  integration-tests/modules/__tests__/order/order.spec.ts
  packages/medusa/src/api-v2/admin/orders/query-config.ts
  packages/modules/order/integration-tests/__tests__/create-order.ts
  packages/modules/order/src/migrations/.snapshot-medusa-order.json
  packages/modules/order/src/migrations/Migration20240219102530.ts
  packages/modules/order/src/models/order.ts
Labels: team: medusa

#7247 chore: Introduce release notes formatting + preview release action
  .github/release.yml
  .github/workflows/trigger-release.yml
  .github/workflows/trigger-staging-release.yml
Labels: automerge, team: medusa

#7245 fix(medusa-oas-cli, oas-github-ci): updated paths to docs directories following monorepo reorganization
  .changeset/nine-brooms-try.md
  .github/workflows/generate-docblocks.yml
  package.json
  packages/cli/oas/medusa-oas-cli/src/__tests__/command-oas.test.ts
  packages/cli/oas/medusa-oas-cli/src/command-docs.ts
  packages/cli/oas/medusa-oas-cli/src/command-oas.ts
  packages/cli/oas/oas-github-ci/package.json
  packages/cli/oas/oas-github-ci/scripts/build-openapi.js
  yarn.lock
Labels: type: chore, team: medusa

#7251 chore(dashboard): Remove feature flag and always load v2 admin
  packages/admin-next/dashboard/src/providers/router-provider/route-extensions.tsx
  packages/admin-next/dashboard/src/providers/router-provider/route-map.tsx
  packages/admin-next/dashboard/src/providers/router-provider/router-provider.tsx
  packages/admin-next/dashboard/src/providers/router-provider/settings-extensions.tsx
  packages/admin-next/dashboard/src/providers/router-provider/v1.tsx
Labels: type: chore, team: medusa

#7256 fix(dashboard): use backend url from env in new client
  packages/admin-next/dashboard/src/lib/client/common.ts
Labels: type: bug, team: medusa

#7253 fix(create-medusa-app): don't open browser to admin if v2 option is passed
  .changeset/soft-elephants-switch.md
  packages/cli/create-medusa-app/src/commands/create.ts
Labels: type: bug, team: medusa

#7249 fix: package.json run test integration in packages
  .changeset/real-rabbits-press.md
  package.json
  packages/core/utils/src/dal/mikro-orm/db-error-mapper.ts
  packages/medusa/src/api-v2/admin/product-categories/query-config.ts
  packages/modules/product/integration-tests/__tests__/services/product-category/index.ts
  packages/modules/product/src/repositories/product-category.ts
Labels: type: bug, team: medusa

#7248 feat(core-flows,typers,utils,medusa): add payment auth step to complete cart workflow - [complete cart part 3]
  .changeset/large-dots-beg.md
  integration-tests/modules/__tests__/cart/store/carts.spec.ts
  packages/core/core-flows/src/definition/cart/steps/index.ts
  packages/core/core-flows/src/definition/cart/steps/validate-cart-payments.ts
  packages/core/core-flows/src/definition/cart/workflows/complete-cart.ts
  packages/core/core-flows/src/payment/steps/authorize-payment-session.ts
  packages/core/types/src/cart/workflows.ts
  packages/core/types/src/payment/service.ts
  packages/core/utils/src/common/errors.ts
  packages/medusa/src/api-v2/store/carts/[id]/complete/route.ts
  packages/medusa/src/api-v2/store/carts/query-config.ts
  packages/medusa/src/api-v2/store/carts/validators.ts
  packages/medusa/src/api-v2/store/orders/query-config.ts
  packages/medusa/src/api-v2/store/payment-collections/query-config.ts
Labels: type: feature, team: medusa

#7252 docs: added advanced workflows documentation
  www/apps/book/app/advanced-development/workflows/access-workflow-errors/page.mdx
  www/apps/book/app/advanced-development/workflows/compensation-function/page.mdx
  www/apps/book/app/advanced-development/workflows/long-running-workflow/page.mdx
  www/apps/book/app/advanced-development/workflows/parallel-steps/page.mdx
  www/apps/book/app/advanced-development/workflows/retry-failed-steps/page.mdx
  www/apps/book/app/advanced-development/workflows/workflow-timeout/page.mdx
  www/apps/book/sidebar.mjs
  www/apps/resources/app/architectural-modules/page.mdx
  www/apps/resources/app/architectural-modules/workflow-engine/in-memory/page.mdx
  www/apps/resources/app/architectural-modules/workflow-engine/redis/page.mdx
  www/apps/resources/generated/files-map.mjs
  www/apps/resources/generated/sidebar.mjs
  www/apps/resources/sidebar.mjs
  www/packages/eslint-config-docs/content.js
Labels: type: docs, team: medusa

#7257 fix(dashboard,medusa): Minor clean-up of admin
  packages/admin-next/dashboard/src/components/layout/main-layout/main-layout.tsx
  packages/admin-next/dashboard/src/components/layout/settings-layout/settings-layout.tsx
  packages/admin-next/dashboard/src/hooks/api/customer-groups.tsx
  packages/admin-next/dashboard/src/lib/client/customer-groups.ts
  packages/admin-next/dashboard/src/providers/router-provider/route-map.tsx
  packages/admin-next/dashboard/src/v2-routes/customer-groups/customer-group-add-customers/components/add-customers-form/add-customers-form.tsx
  packages/medusa/src/api-v2/admin/price-lists/validators.ts
Labels: type: bug, team: medusa

#7258 docs: general fixes and overall changes
  www/apps/book/app/_more-resources/page.mdx
  www/apps/book/app/advanced-development/_services/data-management-tips/page.mdx
  www/apps/book/app/advanced-development/_services/data-management/page.mdx
  www/apps/book/app/advanced-development/_services/transactions/page.mdx
  www/apps/book/app/advanced-development/admin/widgets/page.mdx
  www/apps/book/app/advanced-development/api-routes/cors/page.mdx
  www/apps/book/app/advanced-development/api-routes/http-methods/page.mdx
  www/apps/book/app/advanced-development/api-routes/middlewares/page.mdx
  www/apps/book/app/advanced-development/api-routes/parameters/page.mdx
  www/apps/book/app/advanced-development/api-routes/protected-routes/page.mdx
  www/apps/book/app/advanced-development/api-routes/request-body-parsers/page.mdx
  www/apps/book/app/advanced-development/data-models/common-definitions/page.mdx
  www/apps/book/app/advanced-development/data-models/soft-deletable/page.mdx
  www/apps/book/app/advanced-development/events-and-subscribers/data-payload/page.mdx
  www/apps/book/app/advanced-development/loaders/outside-modules/page.mdx
  www/apps/book/app/advanced-development/modules/connection-loader/page.mdx
  www/apps/book/app/advanced-development/modules/container/page.mdx
  www/apps/book/app/advanced-development/modules/database-operations-in-services/page.mdx
  www/apps/book/app/advanced-development/modules/example-crud-module-service/page.mdx
  www/apps/book/app/advanced-development/modules/example-module-relationship/page.mdx
  www/apps/book/app/advanced-development/modules/link-modules/page.mdx
  www/apps/book/app/advanced-development/modules/module-relationships/page.mdx
  www/apps/book/app/advanced-development/modules/options/page.mdx
  www/apps/book/app/advanced-development/modules/queryable-modules/page.mdx
  www/apps/book/app/advanced-development/modules/remote-query/page.mdx
  www/apps/book/app/advanced-development/modules/service-factory/page.mdx
  www/apps/book/app/advanced-development/page.mdx
  www/apps/book/app/advanced-development/workflows/advanced-example/page.mdx
  www/apps/book/app/advanced-development/workflows/compensation-function/page.mdx
  www/apps/book/app/advanced-development/workflows/constructor-constraints/page.mdx
  www/apps/book/app/advanced-development/workflows/long-running-workflow/page.mdx
  www/apps/book/app/advanced-development/workflows/workflow-timeout/page.mdx
  www/apps/book/app/architectural-concepts/cache-module/page.mdx
  www/apps/book/app/basics/_services/page.mdx
  www/apps/book/app/basics/admin-customizations/page.mdx
  www/apps/book/app/basics/api-routes/page.mdx
  www/apps/book/app/basics/commerce-modules/page.mdx
  www/apps/book/app/basics/data-models/page.mdx
  www/apps/book/app/basics/events-and-subscribers/page.mdx
  www/apps/book/app/basics/loaders/page.mdx
  www/apps/book/app/basics/medusa-container/page.mdx
  www/apps/book/app/basics/modules-and-services/page.mdx
  www/apps/book/app/basics/modules-directory-structure/page.mdx
  www/apps/book/app/basics/page.mdx
  www/apps/book/app/basics/scheduled-jobs/page.mdx
  www/apps/book/app/basics/workflows/page.mdx
  www/apps/book/app/cheatsheet/page.mdx
  www/apps/book/app/deployment/page.mdx
  www/apps/book/app/first-customizations/page.mdx
  www/apps/book/app/more-resources/page.mdx
  www/apps/book/app/page.mdx
  www/apps/book/app/storefront-development/nextjs-starter/page.mdx
  www/apps/book/app/storefront-development/page.mdx
  www/apps/book/app/storefront-development/tips/page.mdx
  www/apps/book/sidebar.mjs
  www/packages/docs-ui/src/components/Card/index.tsx
  www/yarn.lock
Labels: type: docs, automerge, team: medusa

#7266 feat: Add order endpoints for store
  packages/medusa/src/api-v2/middlewares.ts
  packages/medusa/src/api-v2/store/carts/middlewares.ts
  packages/medusa/src/api-v2/store/orders/[id]/route.ts
  packages/medusa/src/api-v2/store/orders/middlewares.ts
  packages/medusa/src/api-v2/store/orders/query-config.ts
  packages/medusa/src/api-v2/store/orders/route.ts
  packages/medusa/src/api-v2/store/orders/validators.ts
Labels: type: feature, team: medusa

#7188 docs: fix code snippet for webpack custom configurations
  www/apps/docs/content/admin/configuration.mdx
Labels: type: docs, team: medusa

#7268 chore: Re-introduce CLI test
  .github/actions/test-server/action.yml
  .github/workflows/test-cli-with-database.yml
  integration-tests/scripts/cli/login.sh
Labels: type: chore, team: medusa

#7275 fix(medusa): import and use RequestQueryFields from types package
  .changeset/gorgeous-fireants-share.md
  packages/core/types/src/common/common.ts
  packages/medusa/src/types/common.ts
  packages/medusa/src/types/global.ts
  packages/medusa/src/utils/get-query-config.ts
  packages/medusa/src/utils/middlewares/transform-query.ts
Labels: type: bug, automerge

#7273 fix(dashboard): SC Add products table full width
  packages/admin-next/dashboard/src/v2-routes/sales-channels/sales-channel-add-products/components/add-products-to-sales-channel-form.tsx
Labels: type: bug, area: admin, team: medusa

#7280 chore(v1.x): fix build command in docs-util
  docs-util/packages/docblock-generator/package.json
  docs-util/packages/docblock-generator/src/commands/run-git-changes.ts
  docs-util/packages/docblock-generator/src/commands/run-git-commit.ts
  docs-util/packages/docblock-generator/src/commands/run-release.ts
  docs-util/packages/docblock-generator/src/commands/run.ts
  docs-util/packages/typedoc-plugin-custom/package.json
  docs-util/yarn.lock
Labels: type: chore, team: medusa

#7281 fix(docblock-generator): eslint errors + missing await
  www/utils/packages/docblock-generator/src/classes/helpers/formatter.ts
  www/utils/packages/docblock-generator/src/classes/kinds/default.ts
  www/utils/packages/docblock-generator/src/commands/run-git-changes.ts
  www/utils/packages/docblock-generator/src/commands/run-git-commit.ts
  www/utils/packages/docblock-generator/src/commands/run-release.ts
  www/utils/packages/docblock-generator/src/utils/dirname.ts
  www/utils/packages/docblock-generator/src/utils/get-monorepo-root.ts
Labels: team: medusa

#7277 feat(core-flows,types,medusa): API to add promotions to campaign
  .changeset/silver-lemons-fly.md
  integration-tests/modules/__tests__/promotion/admin/campaigns.spec.ts
  integration-tests/modules/__tests__/promotion/admin/create-campaign.spec.ts
  integration-tests/modules/__tests__/promotion/admin/delete-campaign.spec.ts
  integration-tests/modules/__tests__/promotion/admin/list-campaigns.spec.ts
  integration-tests/modules/__tests__/promotion/admin/list-promotions.spec.ts
  integration-tests/modules/__tests__/promotion/admin/retrieve-campaign.spec.ts
  integration-tests/modules/__tests__/promotion/admin/update-campaign.spec.ts
  packages/core/core-flows/src/promotion/steps/add-campaign-promotions.ts
  packages/core/core-flows/src/promotion/steps/index.ts
  packages/core/core-flows/src/promotion/steps/remove-campaign-promotions.ts
  packages/core/core-flows/src/promotion/workflows/add-or-remove-campaign-promotions.ts
  packages/core/core-flows/src/promotion/workflows/index.ts
  packages/core/types/src/promotion/common/campaign.ts
  packages/core/types/src/promotion/common/promotion.ts
  packages/core/types/src/promotion/mutations.ts
  packages/core/types/src/promotion/service.ts
  packages/medusa/src/api-v2/admin/campaigns/[id]/promotions/route.ts
  packages/medusa/src/api-v2/admin/campaigns/middlewares.ts
  packages/medusa/src/api-v2/admin/promotions/middlewares.ts
  packages/medusa/src/api-v2/admin/promotions/route.ts
  packages/medusa/src/api-v2/admin/promotions/validators.ts
  packages/modules/promotion/integration-tests/__tests__/services/promotion-module/campaign.spec.ts
  packages/modules/promotion/integration-tests/__tests__/services/promotion-module/compute-actions.spec.ts
  packages/modules/promotion/integration-tests/__tests__/services/promotion-module/promotion.spec.ts
  packages/modules/promotion/src/models/campaign.ts
  packages/modules/promotion/src/models/promotion.ts
  packages/modules/promotion/src/repositories/campaign.ts
  packages/modules/promotion/src/repositories/index.ts
  packages/modules/promotion/src/services/promotion-module.ts
  packages/modules/promotion/src/types/promotion.ts
Labels: automerge, team: medusa

#7285 chore: cleanup admin function
  .changeset/flat-timers-report.md
  packages/medusa/src/commands/utils/resolve-admin-cli.ts
Labels: type: chore, automerge, team: medusa

#7283 feat(dashboard): add promotions to campaign UI
  packages/admin-next/dashboard/public/locales/en-US/translation.json
  packages/admin-next/dashboard/src/hooks/api/campaigns.tsx
  packages/admin-next/dashboard/src/lib/client/campaigns.ts
  packages/admin-next/dashboard/src/providers/router-provider/route-map.tsx
  packages/admin-next/dashboard/src/v2-routes/campaigns/add-campaign-promotions/add-campaign-promotions.tsx
  packages/admin-next/dashboard/src/v2-routes/campaigns/add-campaign-promotions/components/add-campaign-promotions-form.tsx
  packages/admin-next/dashboard/src/v2-routes/campaigns/add-campaign-promotions/components/index.ts
  packages/admin-next/dashboard/src/v2-routes/campaigns/add-campaign-promotions/index.ts
  packages/admin-next/dashboard/src/v2-routes/campaigns/campaign-detail/campaign-detail.tsx
  packages/admin-next/dashboard/src/v2-routes/campaigns/campaign-detail/components/campaign-promotion-section/campaign-promotion-section.tsx
  packages/core/core-flows/src/promotion/steps/add-or-remove-campaign-promotions.ts
  packages/core/types/src/promotion/common/promotion.ts
  packages/medusa/src/api-v2/admin/campaigns/[id]/promotions/route.ts
Labels: team: medusa

#7282 feat: Add the basic implementation of notification module
  .changeset/moody-days-drive.md
  packages/core/modules-sdk/src/definitions.ts
  packages/core/types/src/bundles.ts
  packages/core/types/src/index.ts
  packages/core/types/src/notification/common.ts
  packages/core/types/src/notification/index.ts
  packages/core/types/src/notification/mutations.ts
  packages/core/types/src/notification/provider.ts
  packages/core/types/src/notification/providers/index.ts
  packages/core/types/src/notification/providers/local.ts
  packages/core/types/src/notification/service.ts
  packages/core/types/src/product/service.ts
  packages/core/utils/src/index.ts
  packages/core/utils/src/modules-sdk/definition.ts
  packages/core/utils/src/notification/abstract-notification-provider.ts
  packages/core/utils/src/notification/index.ts
  packages/modules/notification/.gitignore
  packages/modules/notification/CHANGELOG.md
  packages/modules/notification/README.md
  packages/modules/notification/integration-tests/__fixtures__/providers/default-provider.ts
  packages/modules/notification/integration-tests/__fixtures__/providers/index.ts
  packages/modules/notification/integration-tests/__tests__/notification-module-service/index.spec.ts
  packages/modules/notification/jest.config.js
  packages/modules/notification/mikro-orm.config.dev.ts
  packages/modules/notification/package.json
  packages/modules/notification/src/index.ts
  packages/modules/notification/src/joiner-config.ts
  packages/modules/notification/src/loaders/providers.ts
  packages/modules/notification/src/migrations/.snapshot-medusa-notification.json
  packages/modules/notification/src/migrations/Migration20240509083918_InitialSetupMigration.ts
  packages/modules/notification/src/models/index.ts
  packages/modules/notification/src/models/notification-provider.ts
  packages/modules/notification/src/models/notification.ts
  packages/modules/notification/src/module-definition.ts
  packages/modules/notification/src/repositories/index.ts
  packages/modules/notification/src/services/index.ts
  packages/modules/notification/src/services/notification-module-service.ts
  packages/modules/notification/src/services/notification-provider.ts
  packages/modules/notification/src/types/index.ts
  packages/modules/notification/src/utils/index.ts
  packages/modules/notification/tsconfig.json
  packages/modules/notification/tsconfig.spec.json
  yarn.lock
Labels: type: feature, team: medusa

#7286 chore(utils): Provide a mikro orm base entity
  .changeset/old-candles-cough.md
  packages/core/utils/src/dal/index.ts
  packages/core/utils/src/dal/mikro-orm/__tests__/base-entity.spec.ts
  packages/core/utils/src/dal/mikro-orm/base-entity.ts
  packages/core/utils/src/dal/repositories/index.ts
  packages/core/utils/src/dal/repositories/load-custom-repositories.ts
Labels: type: chore, automerge, team: medusa

#7296 chore(medusa): strict zod versions in workspace
  .changeset/happy-mirrors-decide.md
  packages/medusa/package.json
  yarn.lock
Labels: team: medusa

#7289 fix(medusa): Missing middlewares export
  .changeset/itchy-forks-relate.md
  packages/medusa/src/api-v2/admin/api-keys/middlewares.ts
  packages/medusa/src/api-v2/admin/campaigns/middlewares.ts
  packages/medusa/src/api-v2/admin/collections/middlewares.ts
  packages/medusa/src/api-v2/admin/currencies/middlewares.ts
  packages/medusa/src/api-v2/admin/customer-groups/middlewares.ts
  packages/medusa/src/api-v2/admin/customers/middlewares.ts
  packages/medusa/src/api-v2/admin/draft-orders/middlewares.ts
  packages/medusa/src/api-v2/admin/fulfillment-providers/middlewares.ts
  packages/medusa/src/api-v2/admin/fulfillment-sets/middlewares.ts
  packages/medusa/src/api-v2/admin/fulfillments/middlewares.ts
  packages/medusa/src/api-v2/admin/inventory-items/middlewares.ts
  packages/medusa/src/api-v2/admin/invites/middlewares.ts
  packages/medusa/src/api-v2/admin/orders/middlewares.ts
  packages/medusa/src/api-v2/admin/payments/middlewares.ts
  packages/medusa/src/api-v2/admin/price-lists/middlewares.ts
  packages/medusa/src/api-v2/admin/pricing/middlewares.ts
  packages/medusa/src/api-v2/admin/product-categories/middlewares.ts
  packages/medusa/src/api-v2/admin/product-types/middlewares.ts
  packages/medusa/src/api-v2/admin/products/middlewares.ts
  packages/medusa/src/api-v2/admin/promotions/middlewares.ts
  packages/medusa/src/api-v2/admin/regions/middlewares.ts
  packages/medusa/src/api-v2/admin/reservations/middlewares.ts
  packages/medusa/src/api-v2/admin/sales-channels/middlewares.ts
  packages/medusa/src/api-v2/admin/shipping-options/middlewares.ts
  packages/medusa/src/api-v2/admin/shipping-profiles/middlewares.ts
  packages/medusa/src/api-v2/admin/stock-locations/middlewares.ts
  packages/medusa/src/api-v2/admin/stores/middlewares.ts
  packages/medusa/src/api-v2/admin/tax-rates/middlewares.ts
  packages/medusa/src/api-v2/admin/tax-regions/middlewares.ts
  packages/medusa/src/api-v2/admin/uploads/middlewares.ts
  packages/medusa/src/api-v2/admin/users/middlewares.ts
  packages/medusa/src/api-v2/admin/workflows-executions/middlewares.ts
  packages/medusa/src/api-v2/auth/middlewares.ts
  packages/medusa/src/api-v2/store/carts/middlewares.ts
  packages/medusa/src/api-v2/store/customers/middlewares.ts
  packages/medusa/src/api-v2/store/orders/middlewares.ts
  packages/medusa/src/api-v2/store/payment-collections/middlewares.ts
  packages/medusa/src/api-v2/store/products/middlewares.ts
  packages/medusa/src/loaders/helpers/routing/index.ts
  packages/medusa/src/utils/index.ts
  packages/medusa/src/utils/middlewares/authenticate-middleware.ts
  packages/medusa/src/utils/middlewares/index.ts
Labels: type: bug, automerge, team: medusa

#7292 fix(docblock-generator): fix how type names created from Zod objects are inferred
  www/utils/packages/docblock-generator/src/classes/helpers/oas-schema.ts
  www/utils/packages/docblock-generator/src/classes/kinds/oas.ts
  www/utils/packages/docblock-generator/src/utils/get-correct-zod-type-name.ts
  www/utils/packages/docblock-generator/src/utils/is-zod-object.ts
Labels: type: docs, team: medusa

#7297 feat(api-ref): show schema of a tag
  package.json
  www/apps/api-reference/app/api/schema/route.ts
  www/apps/api-reference/components/Section/Container/index.tsx
  www/apps/api-reference/components/Tags/Operation/CodeSection/Responses/Sample/index.tsx
  www/apps/api-reference/components/Tags/Paths/index.tsx
  www/apps/api-reference/components/Tags/Section/Schema/index.tsx
  www/apps/api-reference/components/Tags/Section/index.tsx
  www/apps/api-reference/hooks/use-schema-example.ts
  www/apps/api-reference/types/openapi.ts
  www/apps/api-reference/utils/get-paths-of-tag.ts
  www/packages/docs-ui/src/providers/Sidebar/index.tsx
Labels: type: docs, team: medusa

#7290 feat: Add support for sendgrid and logger notification providers
  .changeset/perfect-fishes-listen.md
  integration-tests/modules/__tests__/notification/admin/notification.spec.ts
  integration-tests/modules/medusa-config.js
  packages/core/types/src/notification/providers/index.ts
  packages/core/types/src/notification/providers/logger.ts
  packages/core/types/src/notification/providers/sendgrid.ts
  packages/modules/providers/notification-local/.gitignore
  packages/modules/providers/notification-local/README.md
  packages/modules/providers/notification-local/integration-tests/__tests__/services.spec.ts
  packages/modules/providers/notification-local/jest.config.js
  packages/modules/providers/notification-local/package.json
  packages/modules/providers/notification-local/src/index.ts
  packages/modules/providers/notification-local/src/services/local.ts
  packages/modules/providers/notification-local/tsconfig.json
  packages/modules/providers/notification-sendgrid/.gitignore
  packages/modules/providers/notification-sendgrid/README.md
  packages/modules/providers/notification-sendgrid/integration-tests/__tests__/services.spec.ts
  packages/modules/providers/notification-sendgrid/jest.config.js
  packages/modules/providers/notification-sendgrid/package.json
  packages/modules/providers/notification-sendgrid/src/index.ts
  packages/modules/providers/notification-sendgrid/src/services/sendgrid.ts
  packages/modules/providers/notification-sendgrid/tsconfig.json
  packages/modules/providers/notification-sendgrid/tsconfig.spec.json
  yarn.lock
Labels: team: medusa

#7284 chore: add action to automatically label docs
  .github/labeler.yml
  .github/workflows/docs-pr-label.yml
Labels: type: chore, team: medusa

#7305 chore(ap-ref v1.x): add v2 rewrite + remove versioning snippets
  www/apps/api-reference/.env.sample
  www/apps/api-reference/app/_mdx/admin.mdx
  www/apps/api-reference/app/_mdx/store.mdx
  www/apps/api-reference/app/api/[area]/page.tsx
  www/apps/api-reference/app/api/base-specs/route.ts
  www/apps/api-reference/app/api/download/[area]/route.ts
  www/apps/api-reference/app/api/tag/route.ts
  www/apps/api-reference/components/PageHeading/index.tsx
  www/apps/api-reference/components/Tags/Paths/index.tsx
  www/apps/api-reference/components/Tags/index.tsx
  www/apps/api-reference/components/VersionNote/index.tsx
  www/apps/api-reference/components/VersionSwitcher/index.tsx
  www/apps/api-reference/next.config.mjs
  www/apps/api-reference/providers/index.tsx
  www/apps/api-reference/providers/version.tsx
  www/apps/api-reference/types/openapi.ts
  www/apps/api-reference/utils/get-paths-of-tag.ts
Labels: type: docs, automerge, team: medusa

#7304 chore(medusa-oas-cli,oas-github-ci): remove v2 option + generate v2 by default
  .changeset/cold-bikes-build.md
  .changeset/seven-suits-dream.md
  .github/workflows/generate-public-references.yml
  package.json
  packages/cli/oas/medusa-oas-cli/src/command-oas.ts
  packages/cli/oas/oas-github-ci/scripts/build-openapi.js
  www/utils/generated/oas-output/base-v2/admin.oas.base.yaml
  www/utils/generated/oas-output/base-v2/store.oas.base.yaml
  www/utils/generated/oas-output/base/admin.oas.base.yaml
  www/utils/generated/oas-output/base/store.oas.base.yaml
Labels: type: docs, team: medusa

#7278 docs: added file module docs
  www/apps/book/app/architectural-concepts/architectural-modules/page.mdx
  www/apps/book/app/architectural-concepts/cache-module/page.mdx
  www/apps/book/app/architectural-concepts/event-module/page.mdx
  www/apps/book/app/architectural-concepts/file-module/page.mdx
  www/apps/book/app/architectural-concepts/page.mdx
  www/apps/book/sidebar.mjs
  www/apps/resources/app/architectural-modules/cache/create/page.mdx
  www/apps/resources/app/architectural-modules/cache/page.mdx
  www/apps/resources/app/architectural-modules/event/create/page.mdx
  www/apps/resources/app/architectural-modules/event/page.mdx
  www/apps/resources/app/architectural-modules/file/local/page.mdx
  www/apps/resources/app/architectural-modules/file/page.mdx
  www/apps/resources/app/architectural-modules/page.mdx
  www/apps/resources/app/commerce-modules/payment/payment-provider/stripe/page.mdx
  www/apps/resources/generated/files-map.mjs
  www/apps/resources/generated/sidebar.mjs
  www/apps/resources/generated/slug-changes.mjs
  www/apps/resources/references/file/classes/file.AbstractFileProviderService/page.mdx
  www/apps/resources/references/file/classes/file.AbstractFileService/page.mdx
  www/apps/resources/references/file/interfaces/file.IFileService/page.mdx
  www/apps/resources/references/modules/file/page.mdx
  www/apps/resources/sidebar.mjs
  www/packages/docs-ui/src/components/ChildDocs/index.tsx
  www/utils/generated/typedoc-json-output/file.json
  www/utils/packages/typedoc-generate-references/src/constants/custom-options.ts
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/file.ts
  www/utils/packages/typedoc-plugin-markdown-medusa/src/render-utils.ts
  www/utils/packages/typedoc-plugin-markdown-medusa/src/resources/helpers/start-sections.ts
  www/utils/packages/typedoc-plugin-markdown-medusa/src/resources/templates/index.hbs
  www/utils/packages/typedoc-plugin-markdown-medusa/src/resources/templates/reflection.hbs
  www/utils/packages/typedoc-plugin-markdown-medusa/src/resources/templates/reflection.member.hbs
  www/utils/packages/types/lib/index.d.ts
Labels: type: docs, team: medusa

#7308 chore: fix docs PR label removing team label
  .github/workflows/docs-pr-label.yml
  .github/workflows/team-labeler.yml
Labels: team: medusa

#7303 Feat(order): return reason and transaction methods
  packages/core/core-flows/src/customer-group/steps/update-customer-groups.ts
  packages/core/core-flows/src/return-reason/index.ts
  packages/core/core-flows/src/return-reason/steps/create-return-reasons.ts
  packages/core/core-flows/src/return-reason/steps/delete-return-reasons.ts
  packages/core/core-flows/src/return-reason/steps/index.ts
  packages/core/core-flows/src/return-reason/steps/update-return-resons.ts
  packages/core/core-flows/src/return-reason/workflows/create-return-reasons.ts
  packages/core/core-flows/src/return-reason/workflows/delete-return-reasons.ts
  packages/core/core-flows/src/return-reason/workflows/index.ts
  packages/core/core-flows/src/return-reason/workflows/update-return-reasons.ts
  packages/core/types/src/order/common.ts
  packages/core/types/src/order/mutations.ts
  packages/core/types/src/order/service.ts
  packages/medusa/src/api-v2/store/return/middlewares.ts
  packages/medusa/src/api-v2/store/return/query-config.ts
  packages/medusa/src/api-v2/store/return/route.ts
  packages/medusa/src/api-v2/store/return/validators.ts
  packages/modules/order/integration-tests/__tests__/returns.ts
  packages/modules/order/src/joiner-config.ts
  packages/modules/order/src/migrations/Migration20240219102530.ts
  packages/modules/order/src/models/index.ts
  packages/modules/order/src/models/return-reason.ts
  packages/modules/order/src/services/order-module-service.ts
Labels: automerge, team: medusa

#7301 feat: Add publishable key scopes middleware
  integration-tests/modules/__tests__/cart/store/carts.spec.ts
  packages/core/core-flows/src/api-key/steps/index.ts
  packages/core/core-flows/src/api-key/workflows/index.ts
  packages/medusa/src/api-v2/store/carts/middlewares.ts
  packages/medusa/src/api-v2/utils/middlewares/common/ensure-pub-key-sales-channel-match.ts
  packages/medusa/src/api-v2/utils/middlewares/common/maybe-attach-pub-key-scopes.ts
Labels: automerge, team: medusa

#7311 docs: improve API testing feature
  www/packages/docs-ui/src/components/ApiRunner/ParamInputs/Array/index.tsx
  www/packages/docs-ui/src/components/ApiRunner/ParamInputs/Default/index.tsx
  www/packages/docs-ui/src/components/ApiRunner/ParamInputs/Object/index.tsx
  www/packages/docs-ui/src/components/ApiRunner/ParamInputs/index.tsx
  www/packages/docs-ui/src/components/ApiRunner/index.tsx
  www/packages/docs-ui/src/components/CodeBlock/index.tsx
  www/packages/docs-ui/src/components/index.ts
  www/packages/docs-ui/src/utils/index.ts
  www/packages/docs-ui/src/utils/set-obj-value.ts
  www/packages/docs-ui/tsconfig.json
Labels: type: docs, team: medusa

#7295 fix: Remove medusa v2 flag from the medusa app package
  packages/medusa/src/commands/migrate.js
  packages/medusa/src/commands/user.js
  packages/medusa/src/loaders/api.ts
  packages/medusa/src/loaders/express.ts
  packages/medusa/src/loaders/index.ts
  packages/medusa/src/loaders/medusa-app.ts
  packages/medusa/src/migrations/1692870898424-line-item-product-id.ts
  packages/medusa/src/migrations/1692870898425-add-timestemps-to-product-shipping-profiles.ts
  packages/medusa/src/migrations/1694602553610-drop-fks-isolated-product.ts
  packages/medusa/src/migrations/1698056997411-product-sales-channels-link.ts
  packages/medusa/src/migrations/1699371074198-drop-non-null-constraint-price-list.ts
  packages/medusa/src/migrations/1701860329931-order-sales-channels-link.ts
  packages/medusa/src/utils/get-query-config.ts
  packages/medusa/src/utils/middlewares/__tests__/transform-query.spec.ts
  packages/medusa/src/utils/middlewares/authenticate-customer.ts
  packages/medusa/src/utils/middlewares/authenticate.ts
Labels: team: medusa

#7315 chore(modules-sdk): Custom Module definition
  packages/core/modules-sdk/src/definitions.ts
  packages/core/modules-sdk/src/loaders/__tests__/register-modules.ts
  packages/core/modules-sdk/src/loaders/module-loader.ts
  packages/core/types/src/modules-sdk/index.ts
  packages/medusa/src/loaders/medusa-app.ts
  packages/medusa/src/utils/merge-modules-config.ts
Labels: team: medusa

#7324 fix(medusa): fix type of data in SubscriberArgs
  packages/medusa/src/types/subscribers.ts
Labels: team: medusa

#7325 chore: es target 2021
  packages/cli/medusa-cli/tsconfig.json
  packages/cli/medusa-dev-cli/tsconfig.json
  packages/core/core-flows/tsconfig.json
  packages/core/modules-sdk/tsconfig.json
  packages/core/orchestration/tsconfig.json
  packages/core/types/tsconfig.json
  packages/core/utils/src/dal/mikro-orm/__fixtures__/utils.ts
  packages/core/utils/tsconfig.json
  packages/core/workflows-sdk/tsconfig.json
  packages/medusa-interfaces/tsconfig.json
  packages/medusa/.swcrc
  packages/medusa/tsconfig.json
  packages/modules/api-key/tsconfig.json
  packages/modules/auth/tsconfig.json
  packages/modules/cache-inmemory/tsconfig.json
  packages/modules/cache-redis/tsconfig.json
  packages/modules/cart/tsconfig.json
  packages/modules/currency/tsconfig.json
  packages/modules/customer/tsconfig.json
  packages/modules/event-bus-local/tsconfig.json
  packages/modules/event-bus-redis/tsconfig.json
  packages/modules/file/tsconfig.json
  packages/modules/fulfillment/tsconfig.json
  packages/modules/inventory-next/tsconfig.json
  packages/modules/link-modules/tsconfig.json
  packages/modules/notification/tsconfig.json
  packages/modules/order/tsconfig.json
  packages/modules/payment/tsconfig.json
  packages/modules/pricing/tsconfig.json
  packages/modules/product/tsconfig.json
  packages/modules/promotion/tsconfig.json
  packages/modules/providers/file-local/tsconfig.json
  packages/modules/providers/file-s3/tsconfig.json
  packages/modules/providers/fulfillment-manual/tsconfig.json
  packages/modules/providers/notification-local/tsconfig.json
  packages/modules/providers/notification-sendgrid/tsconfig.json
  packages/modules/providers/payment-stripe/tsconfig.json
  packages/modules/region/tsconfig.json
  packages/modules/sales-channel/tsconfig.json
  packages/modules/stock-location-next/tsconfig.json
  packages/modules/store/tsconfig.json
  packages/modules/tax/tsconfig.json
  packages/modules/user/tsconfig.json
  packages/modules/workflow-engine-inmemory/tsconfig.json
  packages/modules/workflow-engine-redis/tsconfig.json
Labels: team: medusa

#7314 feat(order): receive return and additional calculations
  packages/core/types/src/order/mutations.ts
  packages/core/types/src/order/service.ts
  packages/core/utils/src/totals/__tests__/totals.ts
  packages/core/utils/src/totals/cart/index.ts
  packages/core/utils/src/totals/line-item/index.ts
  packages/modules/order/src/services/__tests__/util/actions/exchanges.ts
  packages/modules/order/src/services/order-module-service.ts
  packages/modules/order/src/types/utils/index.ts
  packages/modules/order/src/utils/calculate-order-change.ts
Labels: team: medusa

#7328 fix(medusa): use pre-defined type in subscriber args
  packages/medusa/src/types/subscribers.ts
Labels: team: medusa

#7334 chore(order): link order and payment collection
  integration-tests/modules/__tests__/cart/store/carts.spec.ts
  integration-tests/modules/__tests__/order/order.spec.ts
  packages/core/core-flows/src/definition/cart/workflows/complete-cart.ts
  packages/core/core-flows/src/order/steps/index.ts
  packages/core/core-flows/src/order/steps/link-order-payment-collection.ts
  packages/core/orchestration/src/joiner/remote-joiner.ts
  packages/core/utils/src/link/links.ts
  packages/medusa/src/api-v2/admin/orders/query-config.ts
  packages/medusa/src/api-v2/store/orders/query-config.ts
  packages/modules/link-modules/src/definitions/index.ts
  packages/modules/link-modules/src/definitions/order-payment-collection.ts
  packages/modules/link-modules/src/definitions/product-shipping-profile.ts
Labels: automerge, team: medusa

#7332 chore: More cleanup of medusa package
  packages/medusa/src/loaders/__tests__/__fixtures__/customizations/medusa-config.js
  packages/medusa/src/loaders/__tests__/__fixtures__/customizations/models/product.ts
  packages/medusa/src/loaders/api.ts
  packages/medusa/src/loaders/config.ts
  packages/medusa/src/loaders/database.ts
  packages/medusa/src/loaders/express.ts
  packages/medusa/src/loaders/helpers/get-model-extension-map.ts
  packages/medusa/src/loaders/helpers/routing/index.ts
  packages/medusa/src/loaders/load-medusa-project-apis.ts
  packages/medusa/src/loaders/passport.ts
  packages/medusa/src/loaders/pg-connection.ts
  packages/medusa/src/loaders/redis.ts
  packages/medusa/src/types/common.ts
  packages/medusa/src/types/global.ts
  packages/medusa/src/types/request.ts
  packages/medusa/src/utils/date-helpers.ts
  packages/medusa/src/utils/index.ts
  packages/medusa/src/utils/is-date.ts
  packages/medusa/src/utils/is-object.ts
  packages/medusa/src/utils/is-string.ts
  packages/medusa/src/utils/merge-modules-config.ts
  packages/medusa/src/utils/middlewares/await-middleware.ts
  packages/medusa/src/utils/middlewares/check-registered-modules.ts
  packages/medusa/src/utils/middlewares/feature-flag-enabled.ts
  packages/medusa/src/utils/middlewares/index.ts
  packages/medusa/src/utils/omit-deep.ts
  packages/medusa/src/utils/set-metadata.ts
  packages/medusa/src/utils/sleep.ts
Labels: team: medusa

#7306 feat(dashboard): add campaign create to promotion UI
  packages/admin-next/dashboard/src/hooks/api/promotions.tsx
  packages/admin-next/dashboard/src/types/api-payloads.ts
  packages/admin-next/dashboard/src/v2-routes/campaigns/campaign-create/components/create-campaign-form/create-campaign-form.tsx
  packages/admin-next/dashboard/src/v2-routes/campaigns/common/components/create-campaign-form-fields/create-campaign-form-fields.tsx
  packages/admin-next/dashboard/src/v2-routes/campaigns/common/components/create-campaign-form-fields/index.ts
  packages/admin-next/dashboard/src/v2-routes/promotions/promotion-add-campaign/components/add-campaign-promotion-form/add-campaign-promotion-form.tsx
  packages/admin-next/dashboard/src/v2-routes/promotions/promotion-add-campaign/components/add-campaign-promotion-form/campaign-details.tsx
  packages/admin-next/dashboard/src/v2-routes/promotions/promotion-create/components/create-promotion-form/create-promotion-form.tsx
  packages/admin-next/dashboard/src/v2-routes/promotions/promotion-create/components/create-promotion-form/form-schema.ts
  packages/medusa/src/api-v2/admin/promotions/validators.ts
Labels: team: medusa

#7340 fix(medusa, modules-sdk): Fix migrate command and fix revert support
  packages/core/modules-sdk/src/medusa-app.ts
  packages/medusa/src/commands/migrate.js
  packages/modules/link-modules/src/initialize/index.ts
  packages/modules/link-modules/src/migration/index.ts
Labels: team: medusa

#7339 chore: Update perfect-fishes-listen.md
  .changeset/perfect-fishes-listen.md
Labels: team: medusa

#7335 feat(payment): update payment collection status
  integration-tests/modules/__tests__/cart/store/carts.spec.ts
  packages/core/types/src/common/common.ts
  packages/core/utils/src/modules-sdk/build-query.ts
  packages/modules/payment/integration-tests/__tests__/services/payment-module/index.spec.ts
  packages/modules/payment/src/migrations/Migration20240225134525.ts
  packages/modules/payment/src/models/payment-collection.ts
  packages/modules/payment/src/models/payment.ts
  packages/modules/payment/src/services/payment-module.ts
Labels: automerge, team: medusa

#7342 chore(modules-sdk, medusa): Cleanup migration helpers
  packages/core/modules-sdk/src/medusa-app.ts
  packages/medusa/src/commands/migrate.js
  packages/medusa/src/loaders/medusa-app.ts
Labels: type: chore, automerge, team: medusa

#7338 docs: handle Card and CardList components in cross-links plugin
  www/packages/remark-rehype-plugins/src/cross-project-links.ts
  www/packages/remark-rehype-plugins/src/type-list-link-fixer.ts
  www/packages/remark-rehype-plugins/src/types/index.ts
  www/packages/remark-rehype-plugins/src/utils/estree-to-js.ts
  www/packages/remark-rehype-plugins/src/utils/expression-is-utils.ts
  www/packages/remark-rehype-plugins/src/utils/get-attribute.ts
Labels: type: docs, team: medusa

#7321 docs: update events reference
  www/apps/book/app/advanced-development/events-and-subscribers/data-payload/page.mdx
  www/apps/book/app/basics/events-and-subscribers/page.mdx
  www/apps/resources/app/commerce-modules/api-key/events/_events-table/page.mdx
  www/apps/resources/app/commerce-modules/api-key/events/page.mdx
  www/apps/resources/app/commerce-modules/auth/events/_events-table/page.mdx
  www/apps/resources/app/commerce-modules/auth/events/page.mdx
  www/apps/resources/app/commerce-modules/cart/events/_events-table/page.mdx
  www/apps/resources/app/commerce-modules/cart/events/page.mdx
  www/apps/resources/app/commerce-modules/currency/events/_events-table/page.mdx
  www/apps/resources/app/commerce-modules/currency/events/page.mdx
  www/apps/resources/app/commerce-modules/customer/events/_events-table/page.mdx
  www/apps/resources/app/commerce-modules/customer/events/page.mdx
  www/apps/resources/app/commerce-modules/fulfillment/events/_events-table/page.mdx
  www/apps/resources/app/commerce-modules/fulfillment/events/page.mdx
  www/apps/resources/app/commerce-modules/inventory/events/_events-table/page.mdx
  www/apps/resources/app/commerce-modules/inventory/events/page.mdx
  www/apps/resources/app/commerce-modules/order/events/_events-table/page.mdx
  www/apps/resources/app/commerce-modules/order/events/page.mdx
  www/apps/resources/app/commerce-modules/payment/events/_events-table/page.mdx
  www/apps/resources/app/commerce-modules/payment/events/page.mdx
  www/apps/resources/app/commerce-modules/pricing/events/_events-table/page.mdx
  www/apps/resources/app/commerce-modules/pricing/events/page.mdx
  www/apps/resources/app/commerce-modules/product/events/_events-table/page.mdx
  www/apps/resources/app/commerce-modules/product/events/page.mdx
  www/apps/resources/app/commerce-modules/promotion/events/_events-table/page.mdx
  www/apps/resources/app/commerce-modules/promotion/events/page.mdx
  www/apps/resources/app/commerce-modules/region/events/_events-table/page.mdx
  www/apps/resources/app/commerce-modules/region/events/page.mdx
  www/apps/resources/app/commerce-modules/sales-channel/events/_events-table/page.mdx
  www/apps/resources/app/commerce-modules/sales-channel/events/page.mdx
  www/apps/resources/app/commerce-modules/stock-location/events/_events-table/page.mdx
  www/apps/resources/app/commerce-modules/stock-location/events/page.mdx
  www/apps/resources/app/commerce-modules/store/events/_events-table/page.mdx
  www/apps/resources/app/commerce-modules/store/events/page.mdx
  www/apps/resources/app/commerce-modules/tax/events/_events-table/page.mdx
  www/apps/resources/app/commerce-modules/tax/events/page.mdx
  www/apps/resources/app/commerce-modules/user/events/_events-table/page.mdx
  www/apps/resources/app/commerce-modules/user/events/page.mdx
  www/apps/resources/app/events-reference/page.mdx
  www/apps/resources/generated/files-map.mjs
  www/apps/resources/generated/sidebar.mjs
  www/apps/resources/sidebar.mjs
  www/packages/docs-ui/src/components/Table/index.tsx
  www/packages/eslint-config-docs/content.js
Labels: type: docs, team: medusa

#7318 docs(v1.x): fix rewrites of api-reference
  www/apps/api-reference/next.config.mjs
Labels: type: docs, team: medusa

#7344 fix(core-flows): fix variant pricing validation for carts
  integration-tests/modules/__tests__/cart/store/cart.workflows.spec.ts
  packages/core/core-flows/src/definition/cart/steps/find-one-or-any-region.ts
  packages/core/core-flows/src/definition/cart/steps/validate-variant-prices.ts
  packages/core/core-flows/src/definition/cart/workflows/list-shipping-options-for-cart.ts
Labels: team: medusa

#7333 feat(dashboard): collection product management
  packages/admin-next/dashboard/src/components/layout/main-layout/main-layout.tsx
  packages/admin-next/dashboard/src/hooks/api/collections.tsx
  packages/admin-next/dashboard/src/lib/client/collections.ts
  packages/admin-next/dashboard/src/types/api-payloads.ts
  packages/admin-next/dashboard/src/v2-routes/collections/collection-add-products/components/add-products-to-collection-form/add-products-to-collection-form.tsx
  packages/admin-next/dashboard/src/v2-routes/collections/collection-detail/components/collection-product-section/collection-product-section.tsx
Labels: type: feature, team: medusa

#7345 fix(modules-sdk): Resolve discovery location properly
  packages/core/modules-sdk/src/loaders/utils/load-internal.ts
Labels: type: chore, team: medusa

#7276 feat: Create the Medusa API SDK as js-sdk package
  .changeset/weak-cherries-lie.md
  .eslintrc.js
  packages/core/js-sdk/CHANGELOG.md
  packages/core/js-sdk/jest.config.js
  packages/core/js-sdk/package.json
  packages/core/js-sdk/src/__tests__/client.spec.ts
  packages/core/js-sdk/src/admin/index.ts
  packages/core/js-sdk/src/client.ts
  packages/core/js-sdk/src/index.ts
  packages/core/js-sdk/src/store/index.ts
  packages/core/js-sdk/src/types.ts
  packages/core/js-sdk/tsconfig.json
  yarn.lock
Labels: type: feature, team: medusa

#7341 chore: Publish preview release + deploy staging every 3 hours
  .changeset/little-books-reply.md
  .github/workflows/trigger-release.yml
  .github/workflows/trigger-staging-deployment.yml
Labels: type: chore, team: medusa

#7331 feat: Add a simple configurable notifications subscriber
  integration-tests/modules/__tests__/notification/admin/notification.spec.ts
  packages/core/medusa-test-utils/src/events.ts
  packages/core/medusa-test-utils/src/index.ts
  packages/core/medusa-test-utils/src/module-test-runner.ts
  packages/core/modules-sdk/src/__mocks__/stock-location-module.ts
  packages/core/modules-sdk/src/definitions.ts
  packages/core/utils/src/modules-sdk/abstract-module-service-factory.ts
  packages/medusa/src/api-v2/hooks/payment/[provider]/route.ts
  packages/medusa/src/loaders/helpers/subscribers/__fixtures__/subscribers/order-notifier.ts
  packages/medusa/src/loaders/helpers/subscribers/__fixtures__/subscribers/product-updater.ts
  packages/medusa/src/loaders/helpers/subscribers/__fixtures__/subscribers/variant-created.ts
  packages/medusa/src/loaders/helpers/subscribers/__mocks__/index.ts
  packages/medusa/src/loaders/helpers/subscribers/__tests__/index.spec.ts
  packages/medusa/src/loaders/helpers/subscribers/index.ts
  packages/medusa/src/loaders/index.ts
  packages/medusa/src/loaders/load-medusa-project-apis.ts
  packages/medusa/src/loaders/subscribers.ts
  packages/medusa/src/subscribers/configurable-notifications.ts
  packages/medusa/src/subscribers/payment-webhook.ts
  packages/modules/api-key/src/types/index.ts
  packages/modules/currency/src/types/index.ts
  packages/modules/fulfillment/src/types/index.ts
  packages/modules/order/src/types/index.ts
  packages/modules/providers/notification-local/integration-tests/__tests__/services.spec.ts
  packages/modules/providers/notification-local/src/services/local.ts
  packages/modules/stock-location-next/src/services/stock-location-module.ts
  packages/modules/store/src/types/index.ts
Labels: type: feature, team: medusa

#7347 chore: Remove medusa interfaces package
  integration-tests/api/package.json
  integration-tests/modules/package.json
  packages/cli/medusa-dev-cli/README.md
  packages/medusa-interfaces/.babelrc
  packages/medusa-interfaces/.gitignore
  packages/medusa-interfaces/CHANGELOG.md
  packages/medusa-interfaces/package.json
  packages/medusa-interfaces/src/__tests__/base-service.js
  packages/medusa-interfaces/src/base-service.js
  packages/medusa-interfaces/src/file-service.js
  packages/medusa-interfaces/src/fulfillment-service.js
  packages/medusa-interfaces/src/index.js
  packages/medusa-interfaces/src/notification-service.js
  packages/medusa-interfaces/src/oauth-service.js
  packages/medusa-interfaces/src/payment-service.js
  packages/medusa-interfaces/src/search-service.js
  packages/medusa-interfaces/tsconfig.json
  packages/medusa/index.d.ts
  packages/medusa/package.json
  yarn.lock
Labels: type: chore, team: medusa

#7319 feat(core-flows, types): Create return order
  integration-tests/modules/__tests__/order/workflows/create-return.spec.ts
  packages/core/core-flows/src/common/index.ts
  packages/core/core-flows/src/common/steps/create-remote-links.ts
  packages/core/core-flows/src/order/steps/create-return.ts
  packages/core/core-flows/src/order/steps/get-item-tax-lines.ts
  packages/core/core-flows/src/order/workflows/create-return.ts
  packages/core/core-flows/src/order/workflows/index.ts
  packages/core/modules-sdk/src/remote-link.ts
  packages/core/types/src/common/index.ts
  packages/core/types/src/common/with-calculated.ts
  packages/core/types/src/order/common.ts
  packages/core/types/src/order/mutations.ts
  packages/core/types/src/workflow/index.ts
  packages/core/types/src/workflow/order/create-return-order.ts
  packages/core/types/src/workflow/order/index.ts
  packages/core/utils/src/link/links.ts
  packages/core/utils/src/modules-sdk/decorators/module.ts
  packages/core/workflows-sdk/src/utils/composer/helpers/resolve-value.ts
  packages/core/workflows-sdk/src/utils/composer/type.ts
  packages/modules/fulfillment/src/services/fulfillment-module-service.ts
  packages/modules/link-modules/src/definitions/fulfillment-set-location.ts
  packages/modules/link-modules/src/definitions/index.ts
  packages/modules/link-modules/src/definitions/order-fulfillment.ts
  packages/modules/order/src/services/order-module-service.ts
Labels: automerge, type: feature, team: medusa

#7351 fix: Retrieve region in loader
  packages/admin-next/dashboard/src/v2-routes/regions/region-detail/loader.ts
Labels: team: medusa

#7354 fix(dashboard): variants list query key
  packages/admin-next/dashboard/src/hooks/api/products.tsx
  packages/admin-next/dashboard/src/v2-routes/products/product-create-option/components/create-product-option-form/create-product-option-form.tsx
  packages/admin-next/dashboard/src/v2-routes/products/product-detail/components/product-variant-section/product-variant-section.tsx
Labels: type: bug, team: medusa

#7348 Fix issue related to removing last product from the collection
  packages/core/utils/src/modules-sdk/internal-module-service-factory.ts
  packages/modules/notification/integration-tests/__tests__/notification-module-service/index.spec.ts
  packages/modules/product/integration-tests/__tests__/services/product-module-service/product-collections.spec.ts
  packages/modules/product/src/services/product-module-service.ts
Labels: type: bug

#7349 feat: Add support for authentication to the sdk, and plug it in the admin
  .changeset/little-books-reply.md
  packages/admin-next/dashboard/package.json
  packages/admin-next/dashboard/src/hooks/api/auth.tsx
  packages/admin-next/dashboard/src/lib/api-v2/auth.ts
  packages/admin-next/dashboard/src/lib/client/auth.ts
  packages/admin-next/dashboard/src/lib/client/client.ts
  packages/core/js-sdk/src/__tests__/client.spec.ts
  packages/core/js-sdk/src/auth/index.ts
  packages/core/js-sdk/src/client.ts
  packages/core/js-sdk/src/index.ts
  packages/core/js-sdk/src/types.ts
  packages/core/js-sdk/tsconfig.json
  yarn.lock
Labels: type: feature, team: medusa

#7358 feat: Add back the subscribers API and load v2 subscribers
  packages/medusa/src/loaders/helpers/subscribers/__fixtures__/subscribers/order-notifier.ts
  packages/medusa/src/loaders/helpers/subscribers/__fixtures__/subscribers/product-updater.ts
  packages/medusa/src/loaders/helpers/subscribers/__fixtures__/subscribers/variant-created.ts
  packages/medusa/src/loaders/helpers/subscribers/__mocks__/index.ts
  packages/medusa/src/loaders/helpers/subscribers/__tests__/index.spec.ts
  packages/medusa/src/loaders/helpers/subscribers/index.ts
  packages/medusa/src/loaders/index.ts
  packages/medusa/src/loaders/subscribers.ts
  packages/medusa/src/subscribers/configurable-notifications.ts
  packages/medusa/src/subscribers/payment-webhook.ts
Labels: automerge, team: medusa

#7346 feat(dashboard): manage groups from customer details
  packages/admin-next/dashboard/src/hooks/api/customer-groups.tsx
  packages/admin-next/dashboard/src/hooks/table/filters/use-customer-table-filters.tsx
  packages/admin-next/dashboard/src/i18n/translations/en.json
  packages/admin-next/dashboard/src/lib/client/customer-groups.ts
  packages/admin-next/dashboard/src/providers/router-provider/route-map.tsx
  packages/admin-next/dashboard/src/v2-routes/customers/customer-detail/components/customer-group-section/customer-group-section.tsx
  packages/admin-next/dashboard/src/v2-routes/customers/customers-add-customer-group/components/add-customers-form/add-customer-groups-form.tsx
  packages/admin-next/dashboard/src/v2-routes/customers/customers-add-customer-group/components/add-customers-form/index.ts
  packages/admin-next/dashboard/src/v2-routes/customers/customers-add-customer-group/customer-add-customer-groups.tsx
  packages/admin-next/dashboard/src/v2-routes/customers/customers-add-customer-group/index.ts
  packages/design-system/ui/src/hooks/use-prompt/use-prompt.tsx
Labels: type: feature, team: medusa

#7336 feat: Destroy session + introduce `http` config
  integration-tests/api/__tests__/admin/auth.js
  integration-tests/api/medusa-config.js
  integration-tests/modules/__tests__/customer/store/create-customer.spec.ts
  integration-tests/modules/helpers/create-authenticated-customer.ts
  integration-tests/modules/medusa-config.js
  packages/admin-next/dashboard/src/components/layout/shell/shell.tsx
  packages/admin-next/dashboard/src/hooks/api/auth.tsx
  packages/core/js-sdk/src/auth/index.ts
  packages/core/js-sdk/src/client.ts
  packages/core/types/src/common/config-module.ts
  packages/medusa/src/api-v2/admin/users/route.ts
  packages/medusa/src/api-v2/auth/[scope]/[auth_provider]/callback/route.ts
  packages/medusa/src/api-v2/auth/[scope]/[auth_provider]/route.ts
  packages/medusa/src/api-v2/auth/middlewares.ts
  packages/medusa/src/api-v2/auth/session/route.ts
  packages/medusa/src/loaders/config.ts
  packages/medusa/src/loaders/express.ts
  packages/medusa/src/loaders/helpers/routing/__fixtures__/mocks/index.ts
  packages/medusa/src/loaders/helpers/routing/__fixtures__/server/index.js
  packages/medusa/src/loaders/helpers/routing/index.ts
  packages/medusa/src/loaders/medusa-app.ts
  packages/medusa/src/loaders/passport.ts
  packages/medusa/src/subscribers/payment-webhook.ts
  packages/medusa/src/utils/api/http-compression.ts
  packages/medusa/src/utils/middlewares/authenticate-middleware.ts
  packages/modules/auth/src/providers/email-password.ts
Labels: type: feature, team: medusa

#7367 fix: nullish BACKEND_URL in client
  packages/admin-next/dashboard/src/lib/client/client.ts
Labels: team: medusa

#7356 docs: fix code block highlighting for lines starting with spaces
  www/apps/book/app/advanced-development/events-and-subscribers/data-payload/page.mdx
  www/packages/docs-ui/src/components/CodeBlock/Line/index.tsx
Labels: type: docs, team: medusa

#7359 docs-util: add type argument of MedusaRequest as query parameter for get requests
  www/utils/packages/docblock-generator/src/classes/kinds/oas.ts
  www/utils/packages/docblock-generator/src/commands/clean-oas.ts
Labels: type: docs, team: medusa

#7260 feat: Add missing typings for the http layer
  packages/core/js-sdk/src/store/index.ts
  packages/core/types/src/common/common.ts
  packages/core/types/src/http/api-key/admin/api-key.ts
  packages/core/types/src/http/campaign/admin/campaign.ts
  packages/core/types/src/http/collection/admin.ts
  packages/core/types/src/http/collection/common.ts
  packages/core/types/src/http/collection/index.ts
  packages/core/types/src/http/collection/store.ts
  packages/core/types/src/http/common/deleted-response.ts
  packages/core/types/src/http/common/index.ts
  packages/core/types/src/http/common/paginated-response.ts
  packages/core/types/src/http/common/request.ts
  packages/core/types/src/http/common/response.ts
  packages/core/types/src/http/customer/admin/customer.ts
  packages/core/types/src/http/fulfillment/admin/fulfillment-address.ts
  packages/core/types/src/http/fulfillment/admin/fulfillment-item.ts
  packages/core/types/src/http/fulfillment/admin/fulfillment-label.ts
  packages/core/types/src/http/fulfillment/admin/fulfillment-provider.ts
  packages/core/types/src/http/fulfillment/admin/fulfillment-set.ts
  packages/core/types/src/http/fulfillment/admin/fulfillment.ts
  packages/core/types/src/http/fulfillment/admin/geo-zone.ts
  packages/core/types/src/http/fulfillment/admin/service-zone.ts
  packages/core/types/src/http/fulfillment/admin/shipping-option-rule.ts
  packages/core/types/src/http/fulfillment/admin/shipping-option-type.ts
  packages/core/types/src/http/fulfillment/admin/shipping-option.ts
  packages/core/types/src/http/fulfillment/admin/shipping-profile.ts
  packages/core/types/src/http/index.ts
  packages/core/types/src/http/inventory/inventory-level.ts
  packages/core/types/src/http/inventory/inventory.ts
  packages/core/types/src/http/order/admin/index.ts
  packages/core/types/src/http/product-category/admin.ts
  packages/core/types/src/http/product-category/common.ts
  packages/core/types/src/http/product-category/store.ts
  packages/core/types/src/http/product/admin.ts
  packages/core/types/src/http/product/common.ts
  packages/core/types/src/http/product/index.ts
  packages/core/types/src/http/product/store.ts
  packages/core/types/src/http/promotion/admin/promotion-rule.ts
  packages/core/types/src/http/promotion/admin/rule-attribute-options.ts
  packages/core/types/src/http/promotion/admin/rule-operator-options.ts
  packages/core/types/src/http/region/admin.ts
  packages/core/types/src/http/region/common.ts
  packages/core/types/src/http/region/index.ts
  packages/core/types/src/http/region/store.ts
  packages/core/types/src/http/reservation/admin/reservation.ts
  packages/core/types/src/http/sales-channel/admin/sales-channel.ts
  packages/core/types/src/http/tax/admin/tax-rates.ts
  packages/core/types/src/http/tax/admin/tax-regions.ts
Labels: type: feature, team: medusa

#7370 feat: expose backend url in admin options
  packages/admin-next/admin-sdk/src/lib/config.ts
  packages/admin-next/admin-sdk/src/types.ts
  packages/core/types/src/common/config-module.ts
Labels: team: medusa

#7262 feat(dashboard): order fulfillment UI
  .changeset/long-islands-press.md
  integration-tests/modules/__tests__/fixtures/fulfillment/index.ts
  integration-tests/modules/__tests__/fulfillment/fulfillment.workflows.spec.ts
  integration-tests/modules/__tests__/fulfillment/index.spec.ts
  packages/admin-next/dashboard/public/locales/en-US/translation.json
  packages/admin-next/dashboard/src/hooks/api/fulfillment.tsx
  packages/admin-next/dashboard/src/i18n/translations/en.json
  packages/admin-next/dashboard/src/lib/client/client.ts
  packages/admin-next/dashboard/src/lib/client/fulfillments.ts
  packages/admin-next/dashboard/src/lib/common.ts
  packages/admin-next/dashboard/src/lib/order-item.ts
  packages/admin-next/dashboard/src/providers/router-provider/route-map.tsx
  packages/admin-next/dashboard/src/types/api-responses.ts
  packages/admin-next/dashboard/src/v2-routes/inventory/inventory-detail/loader.ts
  packages/admin-next/dashboard/src/v2-routes/orders/order-create-fulfillment/components/order-create-fulfillment-form/constants.ts
  packages/admin-next/dashboard/src/v2-routes/orders/order-create-fulfillment/components/order-create-fulfillment-form/index.ts
  packages/admin-next/dashboard/src/v2-routes/orders/order-create-fulfillment/components/order-create-fulfillment-form/order-create-fulfillment-form.tsx
  packages/admin-next/dashboard/src/v2-routes/orders/order-create-fulfillment/components/order-create-fulfillment-form/order-create-fulfillment-item.tsx
  packages/admin-next/dashboard/src/v2-routes/orders/order-create-fulfillment/index.ts
  packages/admin-next/dashboard/src/v2-routes/orders/order-create-fulfillment/order-create-fulfillments.tsx
  packages/admin-next/dashboard/src/v2-routes/orders/order-detail/components/order-fulfillment-section/order-fulfillment-section.tsx
  packages/admin-next/dashboard/src/v2-routes/orders/order-detail/constants.ts
  packages/admin-next/dashboard/src/v2-routes/orders/order-detail/order-detail.tsx
  packages/core/core-flows/src/fulfillment/workflows/create-fulfillment.ts
  packages/core/core-flows/src/order/workflows/create-return.ts
  packages/core/types/src/workflow/fulfillment/create-fulfillment.ts
  packages/medusa/src/api-v2/admin/fulfillments/validators.ts
  packages/modules/link-modules/src/definitions/index.ts
  packages/modules/link-modules/src/definitions/order-fulfillment.ts
Labels: area: admin, type: feature, team: medusa

#7371 feat(sdk): Replace region calls with the SDK in admin, apply typings …
  .changeset/silver-coats-learn.md
  packages/admin-next/dashboard/src/hooks/api/auth.tsx
  packages/admin-next/dashboard/src/hooks/api/regions.tsx
  packages/admin-next/dashboard/src/hooks/table/columns/use-region-table-columns.tsx
  packages/admin-next/dashboard/src/hooks/table/query/use-region-table-query.tsx
  packages/admin-next/dashboard/src/lib/client/client.ts
  packages/admin-next/dashboard/src/lib/client/regions.ts
  packages/admin-next/dashboard/src/providers/router-provider/route-map.tsx
  packages/admin-next/dashboard/src/types/api-payloads.ts
  packages/admin-next/dashboard/src/types/api-responses.ts
  packages/admin-next/dashboard/src/v2-routes/regions/region-add-countries/components/add-countries-form/add-countries-form.tsx
  packages/admin-next/dashboard/src/v2-routes/regions/region-detail/components/region-country-section/region-country-section.tsx
  packages/admin-next/dashboard/src/v2-routes/regions/region-detail/components/region-general-section/region-general-section.tsx
  packages/admin-next/dashboard/src/v2-routes/regions/region-detail/loader.ts
  packages/admin-next/dashboard/src/v2-routes/regions/region-edit/components/edit-region-form/edit-region-form.tsx
  packages/admin-next/dashboard/src/v2-routes/regions/region-list/components/region-list-table/region-list-table.tsx
  packages/admin-next/dashboard/src/v2-routes/shipping/service-zone-areas-edit/components/edit-region-areas-form/edit-service-zone-areas-form.tsx
  packages/admin-next/dashboard/src/v2-routes/shipping/service-zone-create/components/create-service-zone-form/create-service-zone-form.tsx
  packages/admin-next/dashboard/src/v2-routes/shipping/shipping-options-create/components/create-shipping-options-form/create-shipping-options-prices-form.tsx
  packages/admin-next/dashboard/src/v2-routes/shipping/shipping-options-edit-pricing/components/create-shipping-options-form/edit-shipping-options-pricing-form.tsx
  packages/core/js-sdk/src/admin/index.ts
  packages/core/js-sdk/src/auth/index.ts
  packages/core/js-sdk/src/store/index.ts
  packages/core/types/src/http/index.ts
  packages/core/types/src/http/payment/admin.ts
  packages/core/types/src/http/payment/common.ts
  packages/core/types/src/http/payment/index.ts
  packages/core/types/src/http/payment/store.ts
  packages/core/types/src/http/region/admin.ts
  packages/core/types/src/http/region/common.ts
Labels: type: chore, automerge, team: medusa

#7373 chore(order): Paid Total and Refunded Total
  packages/core/core-flows/src/order/steps/archive-orders.ts
  packages/core/core-flows/src/order/steps/complete-orders.ts
  packages/core/core-flows/src/order/workflows/archive-orders.ts
  packages/core/core-flows/src/order/workflows/complete-orders.ts
  packages/core/types/src/http/order/admin/index.ts
  packages/core/types/src/order/common.ts
  packages/core/types/src/order/mutations.ts
  packages/core/types/src/order/service.ts
  packages/medusa/src/api-v2/admin/orders/[id]/archive/route.ts
  packages/medusa/src/api-v2/admin/orders/[id]/complete/route.ts
  packages/medusa/src/api-v2/admin/orders/[id]/refund/route.ts
  packages/medusa/src/api-v2/admin/orders/fulfillments/route.ts
  packages/medusa/src/api-v2/admin/returns/[id]/cancel/route.ts
  packages/medusa/src/api-v2/admin/returns/[id]/receive/route.ts
  packages/medusa/src/api-v2/admin/returns/[id]/route.ts
  packages/medusa/src/api-v2/store/return/validators.ts
  packages/modules/order/integration-tests/__tests__/create-order.ts
  packages/modules/order/src/migrations/Migration20240219102530.ts
  packages/modules/order/src/models/order-summary.ts
  packages/modules/order/src/models/transaction.ts
  packages/modules/order/src/services/__tests__/util/actions/exchanges.ts
  packages/modules/order/src/services/order-module-service.ts
  packages/modules/order/src/types/utils/index.ts
  packages/modules/order/src/utils/calculate-order-change.ts
Labels: team: medusa

#7378 fix: Minor updates to the http typings
  packages/core/types/src/http/cart/common.ts
  packages/core/types/src/http/order/admin.ts
  packages/core/types/src/http/order/common.ts
  packages/core/types/src/http/order/store.ts
Labels: team: medusa

#7376 feat(medusa,medusa-cli): add an exec command
  packages/cli/medusa-cli/src/create-cli.ts
  packages/core/types/src/common/index.ts
  packages/core/types/src/common/medusa-cli.ts
  packages/medusa/src/commands/exec.ts
  packages/medusa/src/loaders/index.ts
Labels: type: feature, team: medusa

#7372 Introduce directories.srcDir for configuring source code location
  packages/core/types/src/common/config-module.ts
  packages/core/types/src/currency/service.ts
  packages/core/types/src/dal/index.ts
  packages/core/types/src/dal/repository-service.ts
  packages/core/types/src/http/collection/common.ts
  packages/core/types/src/stock-location/common.ts
  packages/core/types/src/stock-location/service-next.ts
  packages/medusa/src/api/admin/api-keys/[id]/route.ts
  packages/medusa/src/api/admin/campaigns/[id]/route.ts
  packages/medusa/src/api/admin/collections/[id]/products/route.ts
  packages/medusa/src/api/admin/collections/[id]/route.ts
  packages/medusa/src/api/admin/customer-groups/[id]/route.ts
  packages/medusa/src/api/admin/customers/[id]/addresses/[address_id]/route.ts
  packages/medusa/src/api/admin/customers/[id]/addresses/route.ts
  packages/medusa/src/api/admin/price-lists/[id]/products/route.ts
  packages/medusa/src/api/admin/pricing/rule-types/[id]/route.ts
  packages/medusa/src/api/admin/products/[id]/options/[option_id]/route.ts
  packages/medusa/src/api/admin/products/[id]/options/route.ts
  packages/medusa/src/api/admin/products/[id]/variants/route.ts
  packages/medusa/src/api/admin/promotions/[id]/route.ts
  packages/medusa/src/api/admin/users/[id]/route.ts
  packages/medusa/src/loaders/admin.ts
  packages/medusa/src/loaders/api.ts
  packages/medusa/src/loaders/config.ts
  packages/medusa/src/loaders/helpers/register-workflows.ts
  packages/medusa/src/loaders/helpers/resolve-plugins.ts
  packages/medusa/src/loaders/helpers/routing/__fixtures__/mocks/index.ts
  packages/medusa/src/loaders/helpers/routing/__fixtures__/server/index.ts
  packages/medusa/src/loaders/helpers/routing/index.ts
  packages/medusa/src/loaders/index.ts
  packages/medusa/src/loaders/medusa-app.ts
  packages/medusa/src/loaders/pg-connection.ts
  packages/medusa/src/utils/format-registration-name.ts
  packages/medusa/src/utils/get-query-config.ts
  packages/medusa/tsconfig.json
Labels: type: feature

#7369 chore: pick the default store region
  integration-tests/helpers/seed-storefront-defaults.ts
  integration-tests/modules/__tests__/cart/store/cart.workflows.spec.ts
  integration-tests/modules/__tests__/cart/store/carts.spec.ts
  integration-tests/modules/medusa-config.js
  packages/core/core-flows/src/definition/cart/steps/find-one-or-any-region.ts
Labels: type: chore, team: medusa

#7357 feat(core-flows, fulfillment): Add create return specific method and add more tests
  integration-tests/modules/__tests__/order/workflows/create-return.spec.ts
  packages/core/core-flows/src/order/workflows/create-return.ts
  packages/core/types/src/fulfillment/service.ts
  packages/modules/fulfillment/integration-tests/__fixtures__/providers/default-provider.ts
  packages/modules/fulfillment/integration-tests/__tests__/fulfillment-module-service/fulfillment.spec.ts
  packages/modules/fulfillment/src/services/fulfillment-module-service.ts
  packages/modules/fulfillment/src/services/fulfillment-provider.ts
  packages/modules/order/src/joiner-config.ts
  packages/modules/providers/fulfillment-manual/src/services/manual-fulfillment.ts
Labels: type: feature, team: medusa

#7384 feat(medusa-cli): added branch option
  .github/workflows/test-cli-with-database.yml
  packages/cli/medusa-cli/src/commands/new.ts
  packages/cli/medusa-cli/src/create-cli.ts
Labels: automerge, type: feature, team: medusa

#7381 feat(create-medusa-app): install v2 by default
  packages/cli/create-medusa-app/package.json
  packages/cli/create-medusa-app/src/commands/create.ts
  packages/cli/create-medusa-app/src/index.ts
  packages/cli/create-medusa-app/src/utils/clone-repo.ts
  packages/cli/create-medusa-app/src/utils/facts.ts
  packages/cli/create-medusa-app/src/utils/nextjs-utils.ts
  packages/cli/create-medusa-app/src/utils/prepare-project.ts
  packages/cli/create-medusa-app/src/utils/start-medusa.ts
Labels: automerge, type: feature, team: medusa

#7272 fix(core-flows): set SalesChannels on Product update
  .changeset/spicy-panthers-exist.md
  integration-tests/api/__tests__/admin/product.js
  packages/core/core-flows/src/product/steps/update-products.ts
  packages/core/core-flows/src/product/workflows/update-products.ts
  packages/core/core-flows/src/sales-channel/steps/associate-products-with-channels.ts
Labels: type: bug, team: medusa

#7392 fix(core-flows,types): general fixes to workflow types
  packages/core/core-flows/src/fulfillment/workflows/create-shipping-profiles.ts
  packages/core/core-flows/src/product/workflows/create-products.ts
  packages/core/types/src/workflow/fulfillment/create-shipping-options.ts
  packages/core/types/src/workflow/fulfillment/shipping-profiles.ts
  packages/core/types/src/workflow/region/create-regions.ts
Labels: team: medusa

#7322 docs: fixes and changes based on latest updates
  www/apps/book/app/advanced-development/api-routes/cors/page.mdx
  www/apps/book/app/advanced-development/api-routes/protected-routes/page.mdx
  www/apps/book/app/advanced-development/custom-cli-scripts/page.mdx
  www/apps/book/app/advanced-development/data-models/common-definitions/page.mdx
  www/apps/book/app/advanced-development/data-models/soft-deletable/page.mdx
  www/apps/book/app/advanced-development/modules/connection-loader/page.mdx
  www/apps/book/app/advanced-development/modules/container/page.mdx
  www/apps/book/app/advanced-development/modules/database-operations-in-services/page.mdx
  www/apps/book/app/advanced-development/modules/link-modules/page.mdx
  www/apps/book/app/advanced-development/modules/module-relationships/page.mdx
  www/apps/book/app/advanced-development/modules/remote-link/page.mdx
  www/apps/book/app/advanced-development/modules/remote-query/page.mdx
  www/apps/book/app/advanced-development/modules/service-factory/page.mdx
  www/apps/book/app/advanced-development/page.mdx
  www/apps/book/app/architectural-concepts/architectural-modules/page.mdx
  www/apps/book/app/architectural-concepts/cache-module/page.mdx
  www/apps/book/app/architectural-concepts/event-module/page.mdx
  www/apps/book/app/architectural-concepts/file-module/page.mdx
  www/apps/book/app/basics/data-models/page.mdx
  www/apps/book/app/storefront-development/tips/page.mdx
  www/apps/book/sidebar.mjs
  www/apps/resources/app/architectural-modules/cache/page.mdx
  www/apps/resources/app/architectural-modules/event/page.mdx
  www/apps/resources/app/architectural-modules/file/page.mdx
  www/apps/resources/app/architectural-modules/file/s3/page.mdx
  www/apps/resources/app/architectural-modules/notification/local/page.mdx
  www/apps/resources/app/architectural-modules/notification/page.mdx
  www/apps/resources/app/architectural-modules/notification/send-notification/page.mdx
  www/apps/resources/app/architectural-modules/notification/sendgrid/page.mdx
  www/apps/resources/app/architectural-modules/workflow-engine/page.mdx
  www/apps/resources/app/commerce-modules/auth/examples/page.mdx
  www/apps/resources/app/commerce-modules/auth/module-options/page.mdx
  www/apps/resources/app/commerce-modules/auth/persisting-auth-user/page.mdx
  www/apps/resources/app/deployment/medusa-application/general/page.mdx
  www/apps/resources/app/medusa-cli/page.mdx
  www/apps/resources/app/troubleshooting/_sections/create-medusa-app-errors/forwarding.mdx
  www/apps/resources/app/troubleshooting/_sections/database-errors/docker.mdx
  www/apps/resources/generated/files-map.mjs
  www/apps/resources/generated/sidebar.mjs
  www/apps/resources/generated/slug-changes.mjs
  www/apps/resources/references/file/classes/file.AbstractFileProviderService/page.mdx
  www/apps/resources/references/modules/notification/page.mdx
  www/apps/resources/references/notification/classes/notification.AbstractNotificationProviderService/page.mdx
  www/apps/resources/references/notification/classes/notification.AbstractNotificationService/page.mdx
  www/apps/resources/references/notification/interfaces/notification.INotificationService/page.mdx
  www/apps/resources/references/notification/interfaces/notification.ReturnedData/page.mdx
  www/apps/resources/references/order/interfaces/order.UpdateOrderShippingMethodTaxLineDTO/page.mdx
  www/apps/resources/references/order/interfaces/order.UpdateOrderTaxLineDTO/page.mdx
  www/apps/resources/sidebar.mjs
  www/utils/generated/typedoc-json-output/file.json
  www/utils/generated/typedoc-json-output/notification.json
  www/utils/packages/typedoc-generate-references/src/constants/custom-options.ts
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/file.ts
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/notification.ts
  www/vale/styles/docs/ModuleNames.yml
Labels: type: docs, team: medusa

#7394 feat(medusa): add error handling to exec script
  packages/medusa/src/commands/exec.ts
Labels: type: feature, team: medusa

#7390 chore: fixes to ConfigModule's docblocks
  packages/core/types/src/common/config-module.ts
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/medusa-config.ts
  www/utils/packages/typedoc-generate-references/src/constants/references.ts
  www/utils/packages/typedoc-plugin-markdown-medusa/src/resources/helpers/comment-tag.ts
Labels: type: docs, team: medusa

#7397 fix(create-medusa-app): fix seed step to use seed script in package.json
  packages/cli/create-medusa-app/src/utils/prepare-project.ts
Labels: type: bug, automerge, team: medusa

#7401 fix(admin-sdk): error when admin needs build
  packages/admin-next/admin-sdk/src/lib/serve.ts
Labels: type: bug, automerge, team: medusa

#7403 fix(link-modules): fix warn on readonly links
  packages/modules/link-modules/src/utils/generate-schema.ts
Labels: automerge, team: medusa

#7405 fix(dashboard): fix reservation's button text + documentation links
  packages/admin-next/dashboard/src/components/layout/shell/shell.tsx
  packages/admin-next/dashboard/src/v2-routes/profile/profile-edit/components/edit-profile-form/edit-profile-form.tsx
  packages/admin-next/dashboard/src/v2-routes/reservations/reservation-list/create-reservation/components/create-reservation-form/create-reservation-form.tsx
Labels: type: bug, team: medusa

#7393 fix: Accept invite in admin
  packages/admin-next/dashboard/src/hooks/api/auth.tsx
  packages/admin-next/dashboard/src/hooks/api/invites.tsx
  packages/admin-next/dashboard/src/lib/api-v2/auth.ts
  packages/admin-next/dashboard/src/v2-routes/invite/invite.tsx
  packages/core/js-sdk/src/admin/index.ts
  packages/core/js-sdk/src/auth/index.ts
  packages/core/js-sdk/src/client.ts
  packages/core/types/src/http/index.ts
  packages/core/types/src/http/invite/admin.ts
  packages/core/types/src/http/invite/index.ts
  packages/core/types/src/http/user/admin.ts
  packages/core/types/src/http/user/common.ts
  packages/core/types/src/http/user/index.ts
Labels: team: medusa

#7410 fix: Remove log for read only links
  packages/modules/link-modules/src/utils/generate-schema.ts
Labels: team: medusa

#7412 fix(dashboard): settings navigation loop
  packages/admin-next/dashboard/src/components/layout/settings-layout/settings-layout.tsx
Labels: team: medusa

#7415 fix: Navigate to orders on signin
  packages/admin-next/dashboard/src/v2-routes/login/login.tsx
Labels: team: medusa

#7417 feat(create-medusa-app): remove admin email prompt
  packages/cli/create-medusa-app/src/commands/create.ts
  packages/cli/create-medusa-app/src/utils/prepare-project.ts
Labels: type: feature, team: medusa

#7416 fix(admin-next, utils, medusa): Handle db errors properly and fix form
  packages/admin-next/dashboard/src/lib/is-fetch-error.ts
  packages/admin-next/dashboard/src/routes/users/user-invite/components/invite-user-form/invite-user-form.tsx
  packages/core/js-sdk/src/client.ts
  packages/core/js-sdk/src/index.ts
  packages/core/utils/src/dal/mikro-orm/db-error-mapper.ts
  packages/medusa/src/api/admin/invites/route.ts
Labels: team: medusa

#7413 feat: Add copy invite action
  packages/admin-next/dashboard/src/lib/client/client.ts
  packages/admin-next/dashboard/src/routes/users/user-invite/components/invite-user-form/invite-user-form.tsx
Labels: automerge, team: medusa

#7422 fix(workflows-sdk): use loaded modules when container is empty
  packages/core/orchestration/src/joiner/remote-joiner.ts
  packages/core/types/src/joiner/index.ts
  packages/core/types/src/modules-sdk/index.ts
  packages/core/workflows-sdk/src/helper/workflow-export.ts
  packages/medusa/src/loaders/medusa-app.ts
  packages/medusa/src/utils/index.ts
  packages/medusa/src/utils/remote-query-fetch-data.ts
  packages/modules/link-modules/src/definitions/customer-auth.ts
  packages/modules/link-modules/src/definitions/product-sales-channel.ts
  packages/modules/link-modules/src/definitions/product-variant-price-set.ts
  packages/modules/link-modules/src/definitions/user-auth.ts
  packages/modules/link-modules/src/initialize/index.ts
  packages/modules/link-modules/src/utils/generate-schema.ts
Labels: team: medusa

#7423 chore(dashboard): Delete old translation files
  packages/admin-next/dashboard/public/locales/$schema.json
  packages/admin-next/dashboard/public/locales/en-US/translation.json
Labels: team: medusa

#7383 feat(dashboard,admin-sdk,admin-shared,admin-vite-plugin): Add support for UI extensions
  .eslintrc.js
  packages/admin-next/admin-sdk/package.json
  packages/admin-next/admin-sdk/src/index.ts
  packages/admin-next/admin-sdk/src/lib/build.ts
  packages/admin-next/admin-sdk/src/lib/config.ts
  packages/admin-next/admin-sdk/src/lib/develop.ts
  packages/admin-next/admin-sdk/src/lib/serve.ts
  packages/admin-next/admin-sdk/src/types.ts
  packages/admin-next/admin-sdk/tsconfig.json
  packages/admin-next/admin-sdk/tsup.config.cjs
  packages/admin-next/admin-shared/package.json
  packages/admin-next/admin-shared/src/extensions/config/index.ts
  packages/admin-next/admin-shared/src/extensions/config/types.ts
  packages/admin-next/admin-shared/src/extensions/config/utils.ts
  packages/admin-next/admin-shared/src/extensions/routes/constants.ts
  packages/admin-next/admin-shared/src/extensions/routes/index.ts
  packages/admin-next/admin-shared/src/extensions/routes/types.ts
  packages/admin-next/admin-shared/src/extensions/virtual/constants.ts
  packages/admin-next/admin-shared/src/extensions/virtual/index.ts
  packages/admin-next/admin-shared/src/extensions/virtual/utils.ts
  packages/admin-next/admin-shared/src/extensions/widgets/constants.ts
  packages/admin-next/admin-shared/src/extensions/widgets/index.ts
  packages/admin-next/admin-shared/src/extensions/widgets/types.ts
  packages/admin-next/admin-shared/src/extensions/widgets/utils.ts
  packages/admin-next/admin-shared/src/index.ts
  packages/admin-next/admin-shared/src/types.ts
  packages/admin-next/admin-shared/tsup.config.cjs
  packages/admin-next/admin-vite-plugin/package.json
  packages/admin-next/admin-vite-plugin/src/babel.ts
  packages/admin-next/admin-vite-plugin/src/index.ts
  packages/admin-next/admin-vite-plugin/src/plugin.ts
  packages/admin-next/admin-vite-plugin/tsup.config.cjs
  packages/admin-next/dashboard/package.json
  packages/admin-next/dashboard/src/components/layout/main-layout/main-layout.tsx
  packages/admin-next/dashboard/src/components/layout/nav-item/nav-item.tsx
  packages/admin-next/dashboard/src/components/layout/settings-layout/settings-layout.tsx
  packages/admin-next/dashboard/src/lib/extension-helpers.ts
  packages/admin-next/dashboard/src/module.d.ts
  packages/admin-next/dashboard/src/providers/router-provider/route-extensions.tsx
  packages/admin-next/dashboard/src/providers/router-provider/route-map.tsx
  packages/admin-next/dashboard/src/providers/router-provider/settings-extensions.tsx
  packages/admin-next/dashboard/src/routes/products/product-detail/product-detail.tsx
  packages/admin-next/dashboard/tsconfig.node.json
  packages/admin-next/dashboard/tsup.config.cjs
  packages/admin-next/dashboard/tsup.config.ts
  packages/admin-next/dashboard/vite.config.mts
  packages/medusa/src/commands/build.ts
  packages/medusa/src/loaders/admin.ts
  packages/medusa/src/loaders/index.ts
  yarn.lock
Labels: team: medusa

#7426 fix(admin-next): add admin packages to changeset
  .changeset/little-books-reply.md
Labels: team: medusa

#7425 chore(medusa): upgrade medusa build
  packages/medusa/package.json
  packages/medusa/src/commands/build.ts
  yarn.lock
Labels: team: medusa

#7428 feat(types,medusa,link-modules): add cart links to promotions/product
  packages/core/types/src/http/promotion/common.ts
  packages/core/types/src/http/promotion/index.ts
  packages/core/types/src/http/promotion/store.ts
  packages/medusa/src/api/store/carts/query-config.ts
  packages/modules/link-modules/src/definitions/cart-promotion.ts
  packages/modules/link-modules/src/definitions/readonly/index.ts
  packages/modules/link-modules/src/definitions/readonly/line-item-adjustment-promotion.ts
Labels: team: medusa

#7431 chore(modules-sdk): throw when failing to load module
  packages/core/modules-sdk/src/loaders/__tests__/module-loader.ts
  packages/core/modules-sdk/src/loaders/module-loader.ts
  packages/core/modules-sdk/src/loaders/utils/load-internal.ts
Labels: automerge, team: medusa

#7427 feat(dashboard,admin-vite-plugin): Add product zones and fix zone change effect
  packages/admin-next/admin-vite-plugin/src/plugin.ts
  packages/admin-next/dashboard/src/lib/extension-helpers.ts
  packages/admin-next/dashboard/src/module.d.ts
  packages/admin-next/dashboard/src/routes/products/product-detail/product-detail.tsx
  packages/admin-next/dashboard/src/routes/products/product-list/product-list.tsx
  packages/admin-next/dashboard/vite.config.mts
Labels: automerge, team: medusa

#7433 feat: Revert to using app_metadata for authentication
  integration-tests/helpers/create-admin-user.ts
  integration-tests/modules/helpers/create-authenticated-customer.ts
  packages/core/core-flows/src/auth/index.ts
  packages/core/core-flows/src/auth/steps/index.ts
  packages/core/core-flows/src/auth/steps/set-auth-app-metadata.ts
  packages/core/core-flows/src/customer/workflows/create-customer-account.ts
  packages/core/core-flows/src/index.ts
  packages/core/core-flows/src/invite/workflows/accept-invite.ts
  packages/core/core-flows/src/user/workflows/create-user-account.ts
  packages/core/types/src/auth/common/auth-identity.ts
  packages/core/types/src/auth/service.ts
  packages/core/utils/src/link/links.ts
  packages/medusa/src/api/admin/users/route.ts
  packages/medusa/src/api/auth/[actor_type]/[auth_provider]/callback/route.ts
  packages/medusa/src/api/auth/[actor_type]/[auth_provider]/route.ts
  packages/medusa/src/api/store/customers/route.ts
  packages/medusa/src/commands/user.js
  packages/medusa/src/types/routing.ts
  packages/medusa/src/utils/middlewares/authenticate-middleware.ts
  packages/modules/auth/src/index.ts
  packages/modules/auth/src/loaders/index.ts
  packages/modules/link-modules/src/definitions/customer-auth.ts
  packages/modules/link-modules/src/definitions/index.ts
  packages/modules/link-modules/src/definitions/user-auth.ts
Labels: team: medusa

#7434 fix(admin-sdk): Remove polyfills and unused dependencies
  packages/admin-next/admin-sdk/package.json
  packages/admin-next/admin-sdk/src/lib/config.ts
  yarn.lock
Labels: team: medusa

#7430 feat: Load custom link definitions
  packages/medusa/src/loaders/__tests__/resolve-plugins-links.spec.ts
  packages/medusa/src/loaders/helpers/resolve-plugins-links.ts
  packages/medusa/src/loaders/index.ts
  packages/medusa/src/loaders/medusa-app.ts
Labels: automerge, type: feature, team: medusa

#7437 chore: add auth-emailpass package to changeset
  .changeset/little-books-reply.md
Labels: type: chore, automerge, team: medusa

#7438 feat(medusa,core-flows,types): fix bugs with cart promotions
  packages/core/core-flows/src/definition/cart/steps/get-actions-to-compute-from-promotions.ts
  packages/core/core-flows/src/definition/cart/steps/get-promotion-codes-to-apply.ts
  packages/core/core-flows/src/definition/cart/steps/index.ts
  packages/core/core-flows/src/definition/cart/steps/prepare-adjustments-from-promotion-actions.ts
  packages/core/core-flows/src/definition/cart/steps/update-cart-promotions.ts
  packages/core/core-flows/src/definition/cart/utils/fields.ts
  packages/core/core-flows/src/definition/cart/workflows/update-cart-promotions.ts
  packages/core/core-flows/src/definition/line-item/workflows/delete-line-items.ts
  packages/core/types/src/promotion/common/compute-actions.ts
  packages/medusa/src/api/store/carts/[id]/line-items/[line_id]/route.ts
Labels: automerge, team: medusa

#7440 feat: Update customer related typings and sdk methods
  packages/admin-next/dashboard/src/hooks/api/customer-groups.tsx
  packages/admin-next/dashboard/src/hooks/api/customers.tsx
  packages/admin-next/dashboard/src/hooks/table/columns/use-customer-group-table-columns.tsx
  packages/admin-next/dashboard/src/hooks/table/columns/use-customer-table-columns.tsx
  packages/admin-next/dashboard/src/lib/client/client.ts
  packages/admin-next/dashboard/src/lib/client/customer-groups.ts
  packages/admin-next/dashboard/src/lib/client/customers.ts
  packages/admin-next/dashboard/src/providers/router-provider/route-map.tsx
  packages/admin-next/dashboard/src/routes/customer-groups/customer-group-add-customers/components/add-customers-form/add-customers-form.tsx
  packages/admin-next/dashboard/src/routes/customer-groups/customer-group-detail/components/customer-group-customer-section/customer-group-customer-section.tsx
  packages/admin-next/dashboard/src/routes/customer-groups/customer-group-detail/components/customer-group-general-section/customer-group-general-section.tsx
  packages/admin-next/dashboard/src/routes/customer-groups/customer-group-detail/loader.ts
  packages/admin-next/dashboard/src/routes/customer-groups/customer-group-edit/components/edit-customer-group-form/edit-customer-group-form.tsx
  packages/admin-next/dashboard/src/routes/customer-groups/customer-group-list/components/customer-group-list-table/customer-group-list-table.tsx
  packages/admin-next/dashboard/src/routes/customers/customer-detail/components/customer-general-section/customer-general-section.tsx
  packages/admin-next/dashboard/src/routes/customers/customer-detail/components/customer-group-section/customer-group-section.tsx
  packages/admin-next/dashboard/src/routes/customers/customer-detail/loader.ts
  packages/admin-next/dashboard/src/routes/customers/customer-edit/components/edit-customer-form/edit-customer-form.tsx
  packages/admin-next/dashboard/src/routes/customers/customer-list/components/customer-list-table/customer-list-table.tsx
  packages/admin-next/dashboard/src/routes/customers/customers-add-customer-group/components/add-customers-form/add-customer-groups-form.tsx
  packages/admin-next/dashboard/src/routes/pricing/pricing-create/components/pricing-create-form/pricing-details-form.tsx
  packages/admin-next/dashboard/src/types/api-payloads.ts
  packages/core/js-sdk/src/__tests__/client.spec.ts
  packages/core/js-sdk/src/admin/index.ts
  packages/core/js-sdk/src/auth/index.ts
  packages/core/js-sdk/src/client.ts
  packages/core/js-sdk/src/store/index.ts
  packages/core/types/src/http/customer/admin.ts
  packages/core/types/src/http/customer/admin/customer.ts
  packages/core/types/src/http/customer/admin/index.ts
  packages/core/types/src/http/customer/common.ts
  packages/core/types/src/http/customer/index.ts
  packages/core/types/src/http/customer/store.ts
  packages/core/types/src/http/index.ts
  packages/core/types/src/http/order/common.ts
  packages/core/types/src/http/order/store.ts
  packages/medusa/src/api/admin/customers/[id]/route.ts
  packages/medusa/src/api/admin/customers/route.ts
  packages/medusa/src/api/auth/[actor_type]/[auth_provider]/route.ts
  packages/medusa/src/api/store/orders/query-config.ts
  packages/medusa/src/utils/middlewares/authenticate-middleware.ts
Labels: team: medusa

#7441 fix(link-modules): remove duplicate fulfillment set location link
  packages/modules/link-modules/src/definitions/location-fulfillment-set.ts
Labels: type: bug, automerge, team: medusa

#7443 chore(medusa): Loader shutdown fixes
  packages/medusa/src/loaders/index.ts
Labels: type: bug, automerge, team: medusa

#7444 chore: Fixes somes command and migrate to ts
  packages/cli/medusa-cli/src/reporter/index.ts
  packages/medusa/src/commands/develop.ts
  packages/medusa/src/commands/migrate.js
  packages/medusa/src/commands/migrate.ts
  packages/medusa/src/commands/start-cluster.ts
  packages/medusa/src/commands/start.ts
  packages/medusa/src/commands/user.ts
  packages/medusa/src/loaders/index.ts
Labels: type: bug, automerge, team: medusa

#7448 feat(dashboard): Add more injection zones (customer, customer groups)
  packages/admin-next/dashboard/src/routes/customer-groups/customer-group-detail/customer-group-detail.tsx
  packages/admin-next/dashboard/src/routes/customer-groups/customer-group-list/customer-group-list.tsx
  packages/admin-next/dashboard/src/routes/customers/customer-detail/customer-detail.tsx
  packages/admin-next/dashboard/src/routes/customers/customer-list/customer-list.tsx
Labels: automerge, team: medusa

#7439 fix(customer): Unique constraint on customer email
  packages/core/utils/src/dal/mikro-orm/db-error-mapper.ts
  packages/core/utils/src/dal/mikro-orm/integration-tests/__tests__/mikro-orm-repository.spec.ts
  packages/modules/customer/integration-tests/__tests__/services/customer-module/index.spec.ts
  packages/modules/customer/mikro-orm.config.dev.ts
  packages/modules/customer/package.json
  packages/modules/customer/src/migrations/.snapshot-medusa-customer.json
  packages/modules/customer/src/migrations/Migration20240524123112.ts
  packages/modules/customer/src/models/address.ts
  packages/modules/customer/src/models/customer.ts
  packages/modules/customer/src/repositories/index.ts
  packages/modules/tax/integration-tests/__tests__/index.spec.ts
Labels: type: bug, automerge, team: medusa

#7435 docs: fix component title and description in alert.mdx
  www/apps/ui/src/content/docs/components/alert.mdx
Labels: type: docs, automerge

#7447 feat(dashboard,admin-shared): Add more injection zones (orders, collections, categories)
  packages/admin-next/admin-shared/src/extensions/widgets/constants.ts
  packages/admin-next/dashboard/src/routes/categories/category-detail/category-detail.tsx
  packages/admin-next/dashboard/src/routes/categories/category-list/category-list.tsx
  packages/admin-next/dashboard/src/routes/collections/collection-detail/collection-detail.tsx
  packages/admin-next/dashboard/src/routes/collections/collection-list/collection-list.tsx
  packages/admin-next/dashboard/src/routes/orders/order-detail/order-detail.tsx
  packages/admin-next/dashboard/src/routes/orders/order-list/order-list.tsx
  packages/admin-next/dashboard/src/routes/products/product-detail/product-detail.tsx
Labels: team: medusa

#7462 chore: Remove babel package from changeset
  .changeset/little-books-reply.md
Labels: team: medusa

#7453 docs: fix example code block
  www/apps/docs/content/development/workflows/index.mdx
Labels: type: docs, automerge

#7463 fix: Change num_code column from int to text
  packages/core/types/src/http/region/common.ts
  packages/core/types/src/region/common.ts
  packages/modules/region/src/migrations/.snapshot-medusa-region.json
  packages/modules/region/src/migrations/RegionModuleSetup20240205173216.ts
  packages/modules/region/src/models/country.ts
Labels: team: medusa

#7465 feat(dashboard,ui,types,admin-shared): Add more extension zones + pass data to widgets
  .changeset/little-books-reply.md
  packages/admin-next/admin-shared/src/extensions/widgets/constants.ts
  packages/admin-next/dashboard/src/module.d.ts
  packages/admin-next/dashboard/src/routes/campaigns/campaign-create/components/create-campaign-form/create-campaign-form.tsx
  packages/admin-next/dashboard/src/routes/campaigns/common/components/create-campaign-form-fields/create-campaign-form-fields.tsx
  packages/admin-next/dashboard/src/routes/categories/category-detail/category-detail.tsx
  packages/admin-next/dashboard/src/routes/collections/collection-detail/collection-detail.tsx
  packages/admin-next/dashboard/src/routes/customer-groups/customer-group-detail/customer-group-detail.tsx
  packages/admin-next/dashboard/src/routes/customers/customer-detail/customer-detail.tsx
  packages/admin-next/dashboard/src/routes/orders/order-detail/order-detail.tsx
  packages/admin-next/dashboard/src/routes/pricing/pricing-detail/pricing-detail.tsx
  packages/admin-next/dashboard/src/routes/pricing/pricing-list/pricing-list.tsx
  packages/admin-next/dashboard/src/routes/products/product-detail/product-detail.tsx
  packages/admin-next/dashboard/src/routes/promotions/promotion-detail/promotion-detail.tsx
  packages/admin-next/dashboard/src/routes/promotions/promotion-list/promotions-list.tsx
  packages/core/types/src/admin/extensions.ts
  packages/core/types/src/admin/index.ts
  packages/core/types/src/index.ts
  packages/design-system/ui/src/components/date-picker/date-picker.tsx
Labels: team: medusa

#7472 chore: remove duplicate package in changeset
  .changeset/little-books-reply.md
Labels: type: chore, automerge, team: medusa

#7382 docs-util: fixes to base OAS + circular-patch redocly plugin
  packages/cli/oas/medusa-oas-cli/redocly/plugins/medusa/decorators/circular-patch.js
  packages/cli/oas/medusa-oas-cli/redocly/redocly-config.yaml
  www/apps/api-reference/app/api/schema/route.ts
  www/apps/api-reference/components/Tags/Operation/Parameters/Types/Object/index.tsx
  www/apps/api-reference/components/Tags/Section/Schema/index.tsx
  www/apps/api-reference/package.json
  www/apps/api-reference/types/openapi.ts
  www/apps/api-reference/utils/dereference.ts
  www/apps/api-reference/utils/get-paths-of-tag.ts
  www/utils/generated/oas-output/base/admin.oas.base.yaml
  www/utils/generated/oas-output/base/store.oas.base.yaml
  www/utils/packages/docblock-generator/src/classes/helpers/oas-schema.ts
  www/utils/packages/docblock-generator/src/classes/helpers/schema-factory.ts
  www/utils/packages/docblock-generator/src/classes/kinds/oas.ts
  www/yarn.lock
Labels: type: docs, team: medusa

#7396 feat: Apply authentication middleware globally
  integration-tests/modules/__tests__/payment/payment-providers.spec.ts
  packages/medusa/src/api/admin/api-keys/middlewares.ts
  packages/medusa/src/api/admin/campaigns/middlewares.ts
  packages/medusa/src/api/admin/collections/middlewares.ts
  packages/medusa/src/api/admin/currencies/middlewares.ts
  packages/medusa/src/api/admin/customer-groups/middlewares.ts
  packages/medusa/src/api/admin/customers/middlewares.ts
  packages/medusa/src/api/admin/draft-orders/middlewares.ts
  packages/medusa/src/api/admin/fulfillment-providers/middlewares.ts
  packages/medusa/src/api/admin/fulfillment-sets/middlewares.ts
  packages/medusa/src/api/admin/fulfillments/middlewares.ts
  packages/medusa/src/api/admin/inventory-items/middlewares.ts
  packages/medusa/src/api/admin/invites/[id]/resend/route.ts
  packages/medusa/src/api/admin/invites/[id]/route.ts
  packages/medusa/src/api/admin/invites/accept/route.ts
  packages/medusa/src/api/admin/invites/middlewares.ts
  packages/medusa/src/api/admin/invites/route.ts
  packages/medusa/src/api/admin/orders/middlewares.ts
  packages/medusa/src/api/admin/payments/middlewares.ts
  packages/medusa/src/api/admin/price-lists/middlewares.ts
  packages/medusa/src/api/admin/pricing/middlewares.ts
  packages/medusa/src/api/admin/product-categories/middlewares.ts
  packages/medusa/src/api/admin/product-types/middlewares.ts
  packages/medusa/src/api/admin/products/middlewares.ts
  packages/medusa/src/api/admin/promotions/middlewares.ts
  packages/medusa/src/api/admin/regions/middlewares.ts
  packages/medusa/src/api/admin/reservations/middlewares.ts
  packages/medusa/src/api/admin/return-reasons/middlewares.ts
  packages/medusa/src/api/admin/returns/middlewares.ts
  packages/medusa/src/api/admin/sales-channels/middlewares.ts
  packages/medusa/src/api/admin/shipping-options/middlewares.ts
  packages/medusa/src/api/admin/shipping-profiles/middlewares.ts
  packages/medusa/src/api/admin/stock-locations/middlewares.ts
  packages/medusa/src/api/admin/stores/middlewares.ts
  packages/medusa/src/api/admin/tax-rates/middlewares.ts
  packages/medusa/src/api/admin/tax-regions/middlewares.ts
  packages/medusa/src/api/admin/uploads/middlewares.ts
  packages/medusa/src/api/admin/users/[id]/route.ts
  packages/medusa/src/api/admin/users/me/route.ts
  packages/medusa/src/api/admin/users/middlewares.ts
  packages/medusa/src/api/admin/users/route.ts
  packages/medusa/src/api/admin/workflows-executions/middlewares.ts
  packages/medusa/src/api/store/carts/middlewares.ts
  packages/medusa/src/api/store/orders/middlewares.ts
  packages/medusa/src/api/store/payment-collections/middlewares.ts
  packages/medusa/src/api/store/products/middlewares.ts
  packages/medusa/src/loaders/helpers/routing/__fixtures__/routers-middleware/store/customers/me/protected/route.ts
  packages/medusa/src/loaders/helpers/routing/__fixtures__/routers-middleware/store/customers/me/unprotected/route.ts
  packages/medusa/src/loaders/helpers/routing/__fixtures__/server/index.ts
  packages/medusa/src/loaders/helpers/routing/__tests__/index.spec.ts
  packages/medusa/src/loaders/helpers/routing/index.ts
  packages/medusa/src/loaders/helpers/routing/types.ts
Labels: team: medusa

#7474 fix: Listening events
  integration-tests/environment-helpers/bootstrap-app.js
  packages/core/medusa-test-utils/src/medusa-test-runner-utils/bootstrap-app.ts
  packages/medusa/src/commands/start-cluster.ts
  packages/medusa/src/commands/start.ts
Labels: team: medusa

#7471 feat(dashboard,admin-shared): InjectionZones for Profile, Store, Users and Login
  packages/admin-next/admin-shared/src/extensions/widgets/constants.ts
  packages/admin-next/dashboard/src/routes/login/login.tsx
  packages/admin-next/dashboard/src/routes/profile/profile-detail/profile-detail.tsx
  packages/admin-next/dashboard/src/routes/store/store-detail/store-detail.tsx
  packages/admin-next/dashboard/src/routes/users/user-detail/user-detail.tsx
  packages/admin-next/dashboard/src/routes/users/user-list/user-list.tsx
Labels: automerge, team: medusa

#7470 feat(core-flows,types,utils,medusa): Update existing line items when adding the same variant to cart
  integration-tests/modules/__tests__/cart/store/carts.spec.ts
  packages/core/core-flows/src/definition/cart/steps/add-to-cart.ts
  packages/core/core-flows/src/definition/cart/steps/create-line-items.ts
  packages/core/core-flows/src/definition/cart/steps/fetch-line-items-to-upsert
  packages/core/core-flows/src/definition/cart/steps/get-line-item-actions.ts
  packages/core/core-flows/src/definition/cart/steps/index.ts
  packages/core/core-flows/src/definition/cart/steps/update-line-items.ts
  packages/core/core-flows/src/definition/cart/workflows/add-to-cart.ts
  packages/core/core-flows/src/definition/cart/workflows/update-line-item-in-cart.ts
  packages/core/core-flows/src/definition/line-item/steps/update-line-items.ts
  packages/core/types/src/cart/mutations.ts
  packages/core/types/src/cart/workflows.ts
  packages/core/utils/src/common/deep-equal-obj.ts
  packages/medusa/src/api/store/carts/query-config.ts
  packages/medusa/src/api/store/carts/validators.ts
  packages/modules/cart/src/services/cart-module.ts
Labels: team: medusa
