Repository medusajs/medusa, pull requests merged in 2024-12, with the labels that each got.

#10372 fix: Ensure tax lines are generated for all items and shipping methods in cart
  integration-tests/http/__tests__/cart/store/cart.spec.ts
  integration-tests/modules/__tests__/cart/store/carts.spec.ts
  packages/core/core-flows/src/cart/workflows/add-shipping-method-to-cart.ts
  packages/core/core-flows/src/cart/workflows/add-to-cart.ts
  packages/core/core-flows/src/cart/workflows/refresh-cart-items.ts
  packages/core/core-flows/src/cart/workflows/update-tax-lines.ts
Labels: type: bug, team: medusa

#10374 feat(core-flows,framework,medusa): list shipping options pass in cart as pricing context
  .changeset/spicy-beds-rescue.md
  integration-tests/http/__tests__/shipping-option/admin/shipping-option.spec.ts
  integration-tests/http/__tests__/shipping-option/store/shipping-option.spec.ts
  integration-tests/modules/__tests__/cart/store/cart.workflows.spec.ts
  packages/core/core-flows/src/cart/workflows/list-shipping-options-for-cart.ts
  packages/core/core-flows/src/common/index.ts
  packages/core/core-flows/src/common/steps/validate-presence-of.ts
  packages/core/framework/src/http/types.ts
  packages/medusa/src/api/admin/shipping-options/validators.ts
  packages/medusa/src/api/store/shipping-options/route.ts
  packages/medusa/src/api/store/shipping-options/validators.ts
  packages/modules/pricing/integration-tests/__tests__/services/pricing-module/calculate-price.spec.ts
Labels: type: feature, team: medusa

#10370 chore(utils): Ensure DML name convention follow the same as the class name for simplicity
  packages/core/utils/src/dml/__tests__/entity-builder.spec.ts
  packages/core/utils/src/dml/entity.ts
  packages/core/utils/src/dml/integration-tests/__tests__/many-to-many.spec.ts
Labels: type: chore, automerge, team: medusa

#10361 docs: intro + basic chapter fixes
  www/apps/book/app/learn/advanced-development/admin/ui-routes/page.mdx
  www/apps/book/app/learn/advanced-development/admin/widgets/page.mdx
  www/apps/book/app/learn/basics/api-routes/page.mdx
  www/apps/book/app/learn/basics/commerce-modules/page.mdx
  www/apps/book/app/learn/basics/events-and-subscribers/page.mdx
  www/apps/book/app/learn/basics/loaders/page.mdx
  www/apps/book/app/learn/basics/medusa-container/page.mdx
  www/apps/book/app/learn/basics/modules/page.mdx
  www/apps/book/app/learn/basics/project-directories-files/page.mdx
  www/apps/book/app/learn/basics/scheduled-jobs/page.mdx
  www/apps/book/app/learn/basics/workflows/page.mdx
  www/apps/book/app/learn/installation/page.mdx
  www/apps/book/app/learn/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/packages/docs-ui/src/components/Heading/H2/index.tsx
  www/packages/docs-ui/src/components/Heading/H3/index.tsx
  www/packages/docs-ui/src/components/Note/Layout/index.tsx
Labels: type: docs, team: medusa

#10335 refactor: migrate pricing entities to DML models
  integration-tests/http/__tests__/price-list/admin/price-list.spec.ts
  integration-tests/http/__tests__/shipping-option/admin/shipping-option.spec.ts
  packages/modules/pricing/integration-tests/__fixtures__/price-list-rules/index.ts
  packages/modules/pricing/integration-tests/__fixtures__/price-list/index.ts
  packages/modules/pricing/integration-tests/__fixtures__/price-rule/index.ts
  packages/modules/pricing/integration-tests/__fixtures__/price-set/index.ts
  packages/modules/pricing/integration-tests/__fixtures__/price/index.ts
  packages/modules/pricing/integration-tests/__tests__/services/pricing-module/price-list.spec.ts
  packages/modules/pricing/integration-tests/__tests__/services/pricing-module/price-rule.spec.ts
  packages/modules/pricing/src/migrations/.snapshot-medusa-pricing.json
  packages/modules/pricing/src/migrations/Migration20241128055359.ts
  packages/modules/pricing/src/models/price-list-rule.ts
  packages/modules/pricing/src/models/price-list.ts
  packages/modules/pricing/src/models/price-preference.ts
  packages/modules/pricing/src/models/price-rule.ts
  packages/modules/pricing/src/models/price-set.ts
  packages/modules/pricing/src/models/price.ts
  packages/modules/pricing/src/services/pricing-module.ts
Labels: automerge, type: feature, team: medusa

#10387 feat(auth): Migrate auth module to DML
  .changeset/lazy-eagles-bow.md
  packages/modules/auth/src/migrations/.snapshot-medusa-auth.json
  packages/modules/auth/src/migrations/Migration20241202100304.ts
  packages/modules/auth/src/models/auth-identity.ts
  packages/modules/auth/src/models/index.ts
  packages/modules/auth/src/models/provider-identity.ts
  packages/modules/auth/src/services/auth-module.ts
Labels: type: chore, team: medusa

#10389 feat(user): Migrate user module to DML
  .changeset/rotten-tigers-worry.md
  packages/modules/user/integration-tests/__tests__/invite.spec.ts
  packages/modules/user/src/migrations/.snapshot-medusa-user.json
  packages/modules/user/src/migrations/Migration20241202103352.ts
  packages/modules/user/src/models/index.ts
  packages/modules/user/src/models/invite.ts
  packages/modules/user/src/models/user.ts
  packages/modules/user/src/services/user-module.ts
Labels: type: chore, team: medusa

#10391 feature: add support for check constraints in DML
  .changeset/hip-suns-sort.md
  packages/core/types/src/dml/index.ts
  packages/core/utils/src/dml/__tests__/entity-builder.spec.ts
  packages/core/utils/src/dml/entity.ts
  packages/core/utils/src/dml/helpers/create-mikro-orm-entity.ts
  packages/core/utils/src/dml/helpers/mikro-orm/apply-checks.ts
Labels: type: feature, team: medusa

#10402 docs: remove v2 branch of next js starter installation
  www/apps/resources/app/nextjs-starter/page.mdx
Labels: type: docs, team: medusa

#10390 docs: add missing import to db operations documentation
  www/apps/book/app/learn/advanced-development/modules/db-operations/page.mdx
Labels: type: docs, team: medusa

#10348 Fix French translation typos
  packages/admin/dashboard/src/i18n/translations/fr.json
Labels: automerge

#10373 feat(core-flows,medusa,order,types): update orders
  integration-tests/http/__tests__/fixtures/order.ts
  integration-tests/http/__tests__/order/admin/order.spec.ts
  packages/core/core-flows/src/order/steps/index.ts
  packages/core/core-flows/src/order/steps/register-order-changes.ts
  packages/core/core-flows/src/order/steps/update-orders.ts
  packages/core/core-flows/src/order/workflows/index.ts
  packages/core/core-flows/src/order/workflows/update-order.ts
  packages/core/types/src/order/common.ts
  packages/core/types/src/order/mutations.ts
  packages/core/types/src/order/service.ts
  packages/core/types/src/workflow/order/index.ts
  packages/core/types/src/workflow/order/update-order.ts
  packages/core/utils/src/core-flows/events.ts
  packages/core/utils/src/order/order-change-action.ts
  packages/medusa/src/api/admin/orders/[id]/route.ts
  packages/medusa/src/api/admin/orders/middlewares.ts
  packages/medusa/src/api/admin/orders/validators.ts
  packages/medusa/src/api/utils/common-validators/common.ts
  packages/modules/order/src/services/order-module-service.ts
  packages/modules/order/src/utils/actions/change-shipping-address.ts
  packages/modules/order/src/utils/actions/index.ts
Labels: automerge, type: feature, team: medusa

#10406 fix(stock-location): Fix export of StockLocation module
  packages/modules/stock-location/src/index.ts
Labels: type: bug, team: medusa

#10416 fix(dashboard): Fix broken number input in adjust inventory form
  .changeset/cuddly-news-battle.md
  packages/admin/dashboard/src/i18n/translations/$schema.json
  packages/admin/dashboard/src/i18n/translations/en.json
  packages/admin/dashboard/src/routes/inventory/inventory-detail/components/adjust-inventory/components/adjust-inventory-form.tsx
Labels: type: bug, team: medusa

#10412 fix(dashboard): Add default value to inventory item combobox
  .changeset/five-crews-rest.md
  packages/admin/dashboard/src/hooks/api/products.tsx
  packages/admin/dashboard/src/hooks/use-combobox-data.tsx
  packages/admin/dashboard/src/routes/product-variants/product-variant-manage-inventory-items/components/manage-variant-inventory-items-form/manage-variant-inventory-items-form.tsx
Labels: type: bug, automerge, team: medusa

#10422 fix(dashboard): Prevent language ptBR from breaking dashboard
  .changeset/odd-lamps-invite.md
  packages/admin/dashboard/src/i18n/translations/index.ts
  packages/admin/dashboard/src/providers/i18n-provider/i18n-provider.tsx
  packages/admin/dashboard/src/routes/profile/profile-edit/components/edit-profile-form/edit-profile-form.tsx
  packages/admin/dashboard/src/routes/profile/profile-edit/profile-edit.tsx
Labels: type: bug, team: medusa

#10352 docs: revise brand API route
  www/apps/book/app/learn/customization/custom-features/api-route/page.mdx
  www/apps/book/app/learn/customization/custom-features/module/page.mdx
  www/apps/book/app/learn/customization/custom-features/page.mdx
  www/apps/book/app/learn/customization/custom-features/workflow/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/sidebar.mjs
Labels: type: docs, team: medusa

#10419 chore(workflows-sdk): add unit test
  packages/core/workflows-sdk/src/utils/composer/__tests__/compose.ts
Labels: type: chore, automerge, team: medusa

#10423 docs-util: add user, pricing, and auth as modules with DML
  www/utils/packages/typedoc-generate-references/src/constants/references-details.ts
Labels: type: docs, team: medusa

#10339 fix(framework): Ensure that CORS and Auth middleware is applied for routes only defined in middlewares.ts
  .changeset/nice-tools-sell.md
  packages/core/framework/package.json
  packages/core/framework/src/http/router.ts
  yarn.lock
Labels: type: bug, team: medusa

#10418 feat(admin, js-sdk, types): update order forms
  integration-tests/http/__tests__/order/admin/order.spec.ts
  packages/admin/dashboard/src/components/common/user-link/user-link.tsx
  packages/admin/dashboard/src/hooks/api/orders.tsx
  packages/admin/dashboard/src/i18n/translations/$schema.json
  packages/admin/dashboard/src/i18n/translations/en.json
  packages/admin/dashboard/src/providers/router-provider/route-map.tsx
  packages/admin/dashboard/src/routes/orders/order-detail/components/order-activity-section/change-details-tooltip.tsx
  packages/admin/dashboard/src/routes/orders/order-detail/components/order-activity-section/order-timeline.tsx
  packages/admin/dashboard/src/routes/orders/order-edit-billing-address/components/edit-order-billing-address-form/edit-order-billing-address-form.tsx
  packages/admin/dashboard/src/routes/orders/order-edit-billing-address/components/edit-order-billing-address-form/index.ts
  packages/admin/dashboard/src/routes/orders/order-edit-billing-address/index.ts
  packages/admin/dashboard/src/routes/orders/order-edit-billing-address/order-edit-billing-address.tsx
  packages/admin/dashboard/src/routes/orders/order-edit-email/components/edit-order-email-form/edit-order-email-form.tsx
  packages/admin/dashboard/src/routes/orders/order-edit-email/components/edit-order-email-form/index.ts
  packages/admin/dashboard/src/routes/orders/order-edit-email/index.ts
  packages/admin/dashboard/src/routes/orders/order-edit-email/order-edit-email.tsx
  packages/admin/dashboard/src/routes/orders/order-edit-shipping-address/components/edit-order-shipping-address-form/edit-order-shipping-address-form.tsx
  packages/admin/dashboard/src/routes/orders/order-edit-shipping-address/components/edit-order-shipping-address-form/index.ts
  packages/admin/dashboard/src/routes/orders/order-edit-shipping-address/index.ts
  packages/admin/dashboard/src/routes/orders/order-edit-shipping-address/order-edit-shipping-address.tsx
  packages/core/core-flows/src/order/workflows/update-order.ts
  packages/core/js-sdk/src/admin/order.ts
  packages/core/types/src/http/order/admin/payload.ts
  packages/core/types/src/order/mutations.ts
  packages/core/types/src/workflow/order/update-order.ts
  packages/medusa/src/api/admin/orders/[id]/route.ts
  packages/modules/order/src/services/order-module-service.ts
Labels: type: feature, team: medusa

#10414 docs: fixes and improvements to Sanity guide
  www/apps/resources/app/integrations/guides/sanity/page.mdx
  www/apps/resources/generated/edit-dates.mjs
Labels: type: docs, team: medusa

#10430 fix(dashboard): Add Shipping Profile metadata route
  .changeset/rotten-spoons-brake.md
  packages/admin/dashboard/src/hooks/api/shipping-profiles.tsx
  packages/admin/dashboard/src/providers/router-provider/route-map.tsx
  packages/admin/dashboard/src/routes/shipping-profiles/shipping-profile-metadata/index.ts
  packages/admin/dashboard/src/routes/shipping-profiles/shipping-profile-metadata/shipping-profile-metadata.tsx
Labels: type: bug, team: medusa

#10431 fix(dashboard): Prevent order details page from crashing on no region
  .changeset/purple-tips-guess.md
  packages/admin/dashboard/src/routes/orders/order-detail/components/order-summary-section/order-summary-section.tsx
Labels: type: bug, automerge, team: medusa

#10432 fix(core-flows): Listing return shipping options
  integration-tests/modules/__tests__/cart/store/cart.workflows.spec.ts
  packages/core/core-flows/src/cart/workflows/list-shipping-options-for-cart.ts
Labels: type: bug, team: medusa

#10429 docs: revise extend models (features)
  www/apps/api-reference/markdown/admin.mdx
  www/apps/api-reference/markdown/store.mdx
  www/apps/book/app/learn/customization/customize-admin/widget/page.mdx
  www/apps/book/app/learn/customization/extend-features/create-links/page.mdx
  www/apps/book/app/learn/customization/extend-features/define-link/page.mdx
  www/apps/book/app/learn/customization/extend-features/extend-create-product/page.mdx
  www/apps/book/app/learn/customization/extend-features/page.mdx
  www/apps/book/app/learn/customization/extend-features/query-linked-records/page.mdx
  www/apps/book/app/learn/customization/extend-models/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/next.config.mjs
  www/apps/book/sidebar.mjs
  www/apps/resources/app/examples/page.mdx
Labels: type: docs, team: medusa

#10434 docs: revise define brand link
  www/apps/book/app/learn/customization/extend-features/define-link/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/sidebar.mjs
Labels: type: docs, team: medusa

#10425 docs: add documentation for check constraints
  www/apps/book/app/learn/advanced-development/data-models/check-constraints/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/sidebar.mjs
Labels: type: docs, team: medusa

#10426 docs: add note about default owner table in many-to-many
  www/apps/book/app/learn/advanced-development/data-models/relationships/page.mdx
  www/apps/book/generated/edit-dates.mjs
Labels: type: docs, team: medusa

#10385 refactor: migrate cart module to DML
  .changeset/sour-cats-sort.md
  packages/core/utils/src/dml/relations/index.ts
  packages/modules/cart/integration-tests/__fixtures__/cart/index.ts
  packages/modules/cart/src/migrations/.snapshot-medusa-cart.json
  packages/modules/cart/src/migrations/Migration20241205095237.ts
  packages/modules/cart/src/models/address.ts
  packages/modules/cart/src/models/adjustment-line.ts
  packages/modules/cart/src/models/cart.ts
  packages/modules/cart/src/models/line-item-adjustment.ts
  packages/modules/cart/src/models/line-item-tax-line.ts
  packages/modules/cart/src/models/line-item.ts
  packages/modules/cart/src/models/shipping-method-adjustment.ts
  packages/modules/cart/src/models/shipping-method-tax-line.ts
  packages/modules/cart/src/models/shipping-method.ts
  packages/modules/cart/src/models/tax-line.ts
  packages/modules/cart/src/services/cart-module.ts
Labels: automerge, type: feature, team: medusa

#10452 refactor: migrate sales-channel to DML
  .changeset/slimy-bugs-smell.md
  packages/modules/sales-channel/src/migrations/.snapshot-medusa-sales-channel.json
  packages/modules/sales-channel/src/models/sales-channel.ts
  packages/modules/sales-channel/src/services/sales-channel-module.ts
Labels: automerge, type: feature, team: medusa

#10449 fix(dashboard,types): Add missing Metadata form for Region domain and fix payload types
  .changeset/five-hairs-do.md
  packages/admin/dashboard/src/providers/router-provider/route-map.tsx
  packages/admin/dashboard/src/routes/regions/region-metadata/region-metadata.tsx
  packages/core/types/src/http/region/admin/payloads.ts
Labels: type: bug, automerge, team: medusa

#10446 fix(core/js-sdk) Add the credentials field in the fetch() only if supported
  packages/core/js-sdk/src/client.ts
Labels: type: bug, automerge

#10454 fix(dashboard): Cleanup unsafe accesses to possibly undefined values in order timeline
  .changeset/spicy-carrots-itch.md
  packages/admin/dashboard/src/routes/orders/order-detail/components/order-activity-section/order-timeline.tsx
  packages/admin/dashboard/src/routes/shipping-profiles/shipping-profile-create/shipping-profile-create.tsx
Labels: type: bug, automerge, team: medusa

#10193 fix(): Deleted default sales channel should be prevented
  .changeset/honest-cars-knock.md
  integration-tests/http/__tests__/sales-channel/admin/sales-channel.spec.ts
  packages/admin/dashboard/src/i18n/translations/$schema.json
  packages/admin/dashboard/src/i18n/translations/en.json
  packages/admin/dashboard/src/routes/sales-channels/sales-channel-list/components/sales-channel-list-table.tsx
  packages/core/core-flows/src/sales-channel/steps/can-delete-sales-channels.ts
  packages/core/core-flows/src/sales-channel/steps/index.ts
  packages/core/core-flows/src/sales-channel/workflows/delete-sales-channels.ts
  packages/core/types/src/store/common/store.ts
Labels: type: bug, automerge, team: medusa

#10450 refactor: migrate api key module to DML
  .changeset/cuddly-students-travel.md
  packages/modules/api-key/src/migrations/.snapshot-medusa-api-key.json
  packages/modules/api-key/src/migrations/Migration20241205122700.ts
  packages/modules/api-key/src/models/api-key.ts
  packages/modules/api-key/src/services/api-key-module-service.ts
Labels: automerge, type: feature, team: medusa

#10415 fix(utils): DML one to one definition
  .changeset/green-turkeys-fetch.md
  packages/core/utils/src/dml/__tests__/entity-builder.spec.ts
  packages/core/utils/src/dml/helpers/entity-builder/define-relationship.ts
  packages/core/utils/src/dml/integration-tests/__tests__/has-one-belongs-to.spec.ts
Labels: type: bug, automerge, team: medusa

#10459 fix(workflows-sdk): name for when/then step
  .changeset/calm-needles-buy.md
  packages/core/core-flows/src/cart/workflows/complete-cart.ts
  packages/core/core-flows/src/cart/workflows/list-shipping-options-for-cart.ts
  packages/core/utils/src/common/promise-all.ts
  packages/core/workflows-sdk/src/helper/workflow-export.ts
  packages/core/workflows-sdk/src/utils/composer/__tests__/index.spec.ts
  packages/core/workflows-sdk/src/utils/composer/create-workflow.ts
  packages/core/workflows-sdk/src/utils/composer/when.ts
  packages/modules/workflow-engine-redis/integration-tests/__fixtures__/index.ts
  packages/modules/workflow-engine-redis/integration-tests/__fixtures__/workflow_async.ts
  packages/modules/workflow-engine-redis/integration-tests/__fixtures__/workflow_when.ts
  packages/modules/workflow-engine-redis/integration-tests/__tests__/index.spec.ts
  packages/modules/workflow-engine-redis/src/services/workflow-orchestrator.ts
  packages/modules/workflow-engine-redis/src/utils/workflow-orchestrator-storage.ts
Labels: type: bug, team: medusa

#10464 feat(js-sdk): Make credentials configurable in SDK
  packages/core/js-sdk/src/client.ts
  packages/core/js-sdk/src/types.ts
Labels: type: feature, team: medusa

#10456 fix(framework): add missing query type argument in request types
  .changeset/thick-cars-smash.md
  packages/core/framework/src/http/types.ts
Labels: type: bug, team: medusa

#10472 docs: fix links in extend product guide
  www/apps/resources/app/commerce-modules/cart/extend/page.mdx
  www/apps/resources/app/commerce-modules/customer/extend/page.mdx
  www/apps/resources/app/commerce-modules/product/extend/page.mdx
  www/apps/resources/app/commerce-modules/promotion/extend/page.mdx
Labels: type: docs, team: medusa

#10468 docs-util: support new query type argument
  www/utils/packages/docs-generator/src/classes/helpers/schema-factory.ts
  www/utils/packages/docs-generator/src/classes/kinds/oas.ts
Labels: type: docs, team: medusa

#10473 fix(dashboard): Prevent sending off empty string as handle for product category
  .changeset/heavy-peaches-sniff.md
  packages/admin/dashboard/src/routes/categories/category-create/components/create-category-form/create-category-form.tsx
Labels: type: bug, team: medusa

#10467 refactor: migrate store module to DML
  .changeset/gold-birds-draw.md
  packages/modules/store/src/migrations/.snapshot-medusa-store.json
  packages/modules/store/src/migrations/Migration20241206083313.ts
  packages/modules/store/src/models/currency.ts
  packages/modules/store/src/models/store.ts
  packages/modules/store/src/services/store-module-service.ts
Labels: type: feature, team: medusa

#10476 fix(utils): avoid optional properties on graphql generated file
  .changeset/green-pants-remain.md
  packages/core/utils/src/graphql/graphql-to-ts-types.ts
Labels: type: bug, automerge, team: medusa

#10478 chore: locking-postgres provider dml
  .changeset/silly-waves-add.md
  packages/core/modules-sdk/src/remote-query/__fixtures__/remote-query-type.ts
  packages/core/types/src/index-data/__fixtures__/index-service-entry-points.ts
  packages/core/types/src/modules-sdk/__fixtures__/remote-query.ts
  packages/modules/providers/locking-postgres/src/models/locking.ts
Labels: type: chore, team: medusa

#10477 chore(workflow-engine): Migrate to DML
  .changeset/clean-paws-build.md
  packages/core/utils/src/modules-sdk/__tests__/joiner-config-builder.spec.ts
  packages/core/utils/src/modules-sdk/joiner-config-builder.ts
  packages/modules/workflow-engine-inmemory/integration-tests/__tests__/index.spec.ts
  packages/modules/workflow-engine-inmemory/src/migrations/.snapshot-medusa-workflows.json
  packages/modules/workflow-engine-inmemory/src/migrations/Migration20241206101446.ts
  packages/modules/workflow-engine-inmemory/src/models/index.ts
  packages/modules/workflow-engine-inmemory/src/models/workflow-execution.ts
  packages/modules/workflow-engine-inmemory/src/services/workflows-module.ts
  packages/modules/workflow-engine-redis/integration-tests/__tests__/index.spec.ts
  packages/modules/workflow-engine-redis/integration-tests/utils/database.ts
  packages/modules/workflow-engine-redis/src/migrations/.snapshot-medusa-workflows.json
  packages/modules/workflow-engine-redis/src/migrations/Migration20241206123341.ts
  packages/modules/workflow-engine-redis/src/models/index.ts
  packages/modules/workflow-engine-redis/src/models/workflow-execution.ts
  packages/modules/workflow-engine-redis/src/services/workflows-module.ts
Labels: type: chore, automerge, team: medusa

#10483 docs: support detecting broken link cross-projects
  www/apps/api-reference/markdown/admin.mdx
  www/apps/api-reference/markdown/client-libraries.mdx
  www/apps/api-reference/markdown/store.mdx
  www/apps/api-reference/next.config.mjs
  www/apps/api-reference/package.json
  www/apps/book/app/learn/basics/workflows/page.mdx
  www/apps/book/app/learn/customization/extend-features/query-linked-records/page.mdx
  www/apps/book/next.config.mjs
  www/apps/resources/app/admin-components/components/forms/page.mdx
  www/apps/resources/app/commerce-modules/payment/payment-flow/page.mdx
  www/apps/resources/app/commerce-modules/product/guides/price-with-taxes/page.mdx
  www/apps/resources/app/commerce-modules/promotion/extend/page.mdx
  www/apps/resources/app/recipes/b2b/page.mdx
  www/apps/resources/app/recipes/subscriptions/examples/standard/page.mdx
  www/apps/resources/generated/sidebar.mjs
  www/apps/resources/next.config.mjs
  www/apps/resources/sidebar.mjs
  www/apps/resources/utils/get-slugs.mjs
  www/packages/remark-rehype-plugins/src/broken-link-checker.ts
  www/packages/remark-rehype-plugins/src/constants.ts
  www/packages/remark-rehype-plugins/src/cross-project-links.ts
  www/packages/remark-rehype-plugins/src/types/index.ts
  www/packages/remark-rehype-plugins/src/utils/component-link-fixer.ts
  www/packages/remark-rehype-plugins/src/utils/cross-project-link-utils.ts
  www/packages/remark-rehype-plugins/src/utils/perform-action-on-literal.ts
  www/packages/types/src/build-scripts.ts
  www/packages/types/src/index.ts
  www/yarn.lock
Labels: type: docs, team: medusa

#10486 docs: fix self hosting deployments not showing
  www/apps/resources/app/deployment/page.mdx
Labels: type: docs, team: medusa

#10457 fix(dashboard,types): Fix TS errors
  .changeset/stale-eyes-float.md
  packages/admin/dashboard/src/components/common/action-menu/action-menu.tsx
  packages/admin/dashboard/src/components/common/button-menu/button-menu.tsx
  packages/admin/dashboard/src/components/common/button-menu/index.ts
  packages/admin/dashboard/src/components/common/date/index.ts
  packages/admin/dashboard/src/components/forms/address-form/address-form.tsx
  packages/admin/dashboard/src/components/forms/metadata-form/metadata-form.tsx
  packages/admin/dashboard/src/components/table/table-cells/common/created-at-cell/created-at-cell.tsx
  packages/admin/dashboard/src/components/table/table-cells/order/customer-cell/customer-cell.tsx
  packages/admin/dashboard/src/components/table/table-cells/order/payment-status-cell/payment-status-cell.tsx
  packages/admin/dashboard/src/components/table/table-cells/order/sales-channel-cell/sales-channel-cell.tsx
  packages/admin/dashboard/src/components/table/table-cells/region/countries-cell/countries-cell.tsx
  packages/admin/dashboard/src/extensions/dashboard-extension-provider/types.ts
  packages/admin/dashboard/src/hooks/api/auth.tsx
  packages/admin/dashboard/src/hooks/api/claims.tsx
  packages/admin/dashboard/src/hooks/api/collections.tsx
  packages/admin/dashboard/src/hooks/api/invites.tsx
  packages/admin/dashboard/src/hooks/api/price-lists.tsx
  packages/admin/dashboard/src/hooks/table/columns/use-order-table-columns.tsx
  packages/admin/dashboard/src/index.ts
  packages/admin/dashboard/src/routes/orders/order-create-edit/components/order-edit-create-form/order-edit-items-section.tsx
  packages/admin/dashboard/src/routes/orders/order-detail/components/order-summary-section/order-summary-section.tsx
  packages/admin/dashboard/src/routes/orders/order-detail/components/order-summary-section/return-info-popover.tsx
  packages/admin/dashboard/src/routes/tax-regions/common/hooks.ts
  packages/admin/dashboard/src/routes/users/user-edit/components/edit-user-form/edit-user-form.tsx
  packages/admin/dashboard/src/routes/users/user-invite/components/invite-user-form/invite-user-form.tsx
  packages/admin/dashboard/src/routes/users/user-metadata/user-metadata.tsx
  packages/core/types/src/http/invite/admin/entities.ts
Labels: type: bug, automerge, team: medusa

#10489 fix(promotion, core-flows): updating cart with removed promotion removes adjustments
  .changeset/empty-trees-walk.md
  integration-tests/http/__tests__/cart/store/cart.spec.ts
  packages/core/core-flows/src/cart/workflows/refresh-cart-items.ts
  packages/modules/promotion/integration-tests/__tests__/services/promotion-module/compute-actions.spec.ts
  packages/modules/promotion/src/services/promotion-module.ts
Labels: type: bug, team: medusa

#10382 feat(core-flows, types): update shipping methods upon cart ops
  integration-tests/http/__tests__/cart/store/cart.spec.ts
  integration-tests/http/__tests__/shipping-option/admin/shipping-option.spec.ts
  integration-tests/http/__tests__/shipping-option/store/shipping-option.spec.ts
  integration-tests/modules/__tests__/cart/store/cart.workflows.spec.ts
  integration-tests/modules/__tests__/cart/store/carts.spec.ts
  packages/core/core-flows/src/cart/steps/index.ts
  packages/core/core-flows/src/cart/steps/refresh-cart-shipping-methods.ts
  packages/core/core-flows/src/cart/steps/remove-shipping-method-from-cart.ts
  packages/core/core-flows/src/cart/steps/update-shipping-methods.ts
  packages/core/core-flows/src/cart/steps/validate-shipping-options-price.ts
  packages/core/core-flows/src/cart/utils/fields.ts
  packages/core/core-flows/src/cart/workflows/add-shipping-method-to-cart.ts
  packages/core/core-flows/src/cart/workflows/add-to-cart.ts
  packages/core/core-flows/src/cart/workflows/list-shipping-options-for-cart.ts
  packages/core/core-flows/src/cart/workflows/refresh-cart-items.ts
  packages/core/core-flows/src/cart/workflows/refresh-cart-shipping-methods.ts
  packages/core/core-flows/src/cart/workflows/update-line-item-in-cart.ts
  packages/core/types/src/cart/mutations.ts
  packages/core/types/src/cart/service.ts
  packages/medusa/src/api/admin/shipping-options/validators.ts
  packages/modules/fulfillment/integration-tests/__tests__/fulfillment-module-service/shipping-option.spec.ts
Labels: type: feature, team: medusa

#10469 fix(medusa): add query type argument to RequestWithContext
  .changeset/empty-snails-admire.md
  packages/medusa/src/api/store/products/helpers.ts
Labels: type: bug, team: medusa

#10503 docs: fix links to steps in workflow references
  www/utils/packages/typedoc-generate-references/src/constants/merger-options.ts
  www/utils/packages/typedoc-plugin-workflows/src/plugin.ts
Labels: type: docs, team: medusa

#10505 docs-util: normalize RelationNullableModifier in model references
  www/utils/packages/typedoc-plugin-custom/src/dml-types-normalizer.ts
Labels: type: docs, team: medusa

#10506 fix(payment): ensure that payment error is captured in logger
  .changeset/clever-experts-ring.md
  packages/modules/payment/src/services/payment-provider.ts
Labels: type: bug, automerge, team: medusa

#10511 chore: fix documentation links in TSDocs
  packages/core/core-flows/src/common/steps/create-remote-links.ts
  packages/core/core-flows/src/common/steps/dismiss-remote-links.ts
  packages/core/core-flows/src/common/steps/remove-remote-links.ts
  packages/core/core-flows/src/common/steps/use-query-graph.ts
  packages/core/core-flows/src/common/steps/use-remote-query.ts
  packages/core/types/src/auth/service.ts
  packages/core/types/src/payment/service.ts
  packages/core/types/src/tax/common.ts
  packages/core/types/src/tax/mutations.ts
  packages/core/types/src/tax/service.ts
  packages/core/workflows-sdk/src/utils/composer/create-hook.ts
  packages/core/workflows-sdk/src/utils/composer/create-workflow.ts
  packages/core/workflows-sdk/src/utils/composer/type.ts
  packages/core/workflows-sdk/src/utils/composer/when.ts
Labels: type: chore, team: medusa

#10481 fix(dashboard,ui): ConditionBlock styling
  .changeset/quick-items-march.md
  packages/admin/dashboard/src/components/inputs/combobox/combobox.tsx
  packages/admin/dashboard/src/routes/promotions/common/edit-rules/components/rule-value-form-field/rule-value-form-field.tsx
  packages/admin/dashboard/src/routes/promotions/common/edit-rules/components/rules-form-field/rules-form-field.tsx
  packages/admin/dashboard/src/routes/promotions/promotion-create/components/create-promotion-form/create-promotion-form.tsx
  packages/admin/dashboard/src/routes/promotions/promotion-detail/components/promotion-general-section/promotion-general-section.tsx
  packages/design-system/ui/src/components/copy/copy.tsx
  packages/design-system/ui/src/components/select/select.tsx
Labels: type: bug, automerge, team: medusa

#10513 fix(core-flows): Refresh cart when items are deleted
  packages/core/core-flows/src/line-item/workflows/delete-line-items.ts
Labels: type: bug, team: medusa

#10516 docs: fix file path in CMS integration example
  www/apps/book/app/learn/customization/integrate-systems/service/page.mdx
Labels: type: docs, team: medusa

#10520 docs: revise next.js starter docs
  www/apps/book/app/learn/storefront-development/nextjs-starter/page.mdx
  www/apps/book/app/learn/storefront-development/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/sidebar.mjs
  www/apps/book/utils/redirects.mjs
  www/apps/resources/app/nextjs-starter/page.mdx
  www/apps/resources/app/troubleshooting/_sections/common-installation-errors/module-x-error.mdx
  www/apps/resources/generated/edit-dates.mjs
  www/apps/resources/generated/sidebar.mjs
  www/apps/resources/sidebar.mjs
Labels: type: docs, team: medusa

#10522 docs: revise storefront development guide
  www/apps/resources/app/storefront-development/page.mdx
  www/apps/resources/generated/edit-dates.mjs
  www/apps/resources/generated/sidebar.mjs
  www/apps/resources/sidebar.mjs
  www/packages/docs-ui/src/components/ChildDocs/index.tsx
Labels: type: docs, team: medusa

#10482 chore(index): index dml
  .changeset/yellow-penguins-pay.md
  packages/core/types/src/dml/index.ts
  packages/core/utils/src/dml/__tests__/autoincrement-property.spec.ts
  packages/core/utils/src/dml/__tests__/entity-builder.spec.ts
  packages/core/utils/src/dml/entity-builder.ts
  packages/core/utils/src/dml/helpers/entity-builder/define-property.ts
  packages/core/utils/src/dml/helpers/entity-builder/define-relationship.ts
  packages/core/utils/src/dml/helpers/mikro-orm/apply-indexes.ts
  packages/core/utils/src/dml/properties/autoincrement.ts
  packages/core/utils/src/dml/properties/index.ts
  packages/modules/index/integration-tests/__tests__/index-engine-module.spec.ts
  packages/modules/index/src/migrations/.snapshot-medusa-index.json
  packages/modules/index/src/migrations/Migration20241209173313.ts
  packages/modules/index/src/models/index-data.ts
  packages/modules/index/src/models/index-relation.ts
  packages/modules/index/src/models/index.ts
  packages/modules/index/src/services/postgres-provider.ts
Labels: type: chore, automerge, team: medusa

#10523 fix(dashboard): Add FE validation for conditional prices
  .changeset/selfish-coats-pull.md
  packages/admin/dashboard/src/i18n/translations/$schema.json
  packages/admin/dashboard/src/i18n/translations/en.json
  packages/admin/dashboard/src/routes/locations/common/components/conditional-price-form/conditional-price-form.tsx
  packages/admin/dashboard/src/routes/locations/common/schema.ts
Labels: type: bug, team: medusa

#10510 docs: documented fetchCredentials options of JS SDK
  www/apps/resources/app/js-sdk/page.mdx
Labels: type: docs, team: medusa

#10413 docs: added restock notification guide
  www/apps/resources/app/integrations/guides/resend/page.mdx
  www/apps/resources/app/recipes/commerce-automation/page.mdx
  www/apps/resources/app/recipes/commerce-automation/restock-notification/page.mdx
  www/apps/resources/app/recipes/marketplace/examples/vendors/page.mdx
  www/apps/resources/app/storefront-development/products/categories/nested-categories/page.mdx
  www/apps/resources/generated/edit-dates.mjs
  www/apps/resources/generated/files-map.mjs
  www/apps/resources/generated/sidebar.mjs
  www/apps/resources/sidebar.mjs
  www/packages/docs-ui/src/components/WorkflowDiagram/Canvas/Depth/index.tsx
  www/packages/docs-ui/src/components/WorkflowDiagram/Common/Depth/index.tsx
  www/packages/docs-ui/src/components/WorkflowDiagram/List/Depth/index.tsx
Labels: type: docs, team: medusa

#10471 refactor: migration stock location module
  .changeset/purple-crabs-kick.md
  packages/modules/stock-location/integration-tests/__tests__/stock-location-module-service.spec.ts
  packages/modules/stock-location/src/migrations/.snapshot-medusa-stock-location.json
  packages/modules/stock-location/src/migrations/Migration20241210073813.ts
  packages/modules/stock-location/src/models/index.ts
  packages/modules/stock-location/src/models/stock-location-address.ts
  packages/modules/stock-location/src/models/stock-location.ts
  packages/modules/stock-location/src/services/stock-location-module.ts
Labels: automerge, type: feature, team: medusa

#10537 docs: fix page title in reference pagesnot showing + refactor workflows reference
  www/apps/resources/app/references/[...slug]/page.tsx
  www/apps/resources/generated/sidebar.mjs
  www/apps/resources/sidebar.mjs
  www/apps/resources/tsconfig.json
  www/utils/packages/typedoc-generate-references/src/constants/merger-options.ts
  www/utils/packages/typedoc-generate-references/src/utils/get-namespaces.ts
  www/utils/packages/typedoc-plugin-custom/src/generate-path-namespaces.ts
  www/utils/packages/typedoc-plugin-markdown-medusa/src/resources/helpers/workflow-diagram.ts
  www/utils/packages/typedoc-plugin-workflows/src/plugin.ts
  www/utils/packages/typedoc-plugin-workflows/src/utils/helper.ts
  www/utils/packages/utils/src/workflow-utils.ts
Labels: type: docs, team: medusa

#10535 fix(product): Only apply default order to products if user has not specified one
  .changeset/cold-suns-smell.md
  packages/modules/product/src/services/product-module-service.ts
Labels: type: bug, automerge, team: medusa

#10536 feat: added Ukrainian translations
  packages/admin/dashboard/src/i18n/languages.ts
  packages/admin/dashboard/src/i18n/translations/index.ts
  packages/admin/dashboard/src/i18n/translations/uk.json
Labels: automerge

#10499 feat: Migrate customer module to DML
  .changeset/healthy-ears-agree.md
  packages/core/types/src/dml/index.ts
  packages/core/utils/src/dml/__tests__/entity-builder.spec.ts
  packages/core/utils/src/dml/entity.ts
  packages/core/utils/src/dml/helpers/entity-builder/define-relationship.ts
  packages/modules/customer/integration-tests/__tests__/services/customer-module/index.spec.ts
  packages/modules/customer/src/migrations/.snapshot-medusa-customer.json
  packages/modules/customer/src/migrations/Migration20241211074630.ts
  packages/modules/customer/src/models/address.ts
  packages/modules/customer/src/models/customer-group-customer.ts
  packages/modules/customer/src/models/customer-group.ts
  packages/modules/customer/src/models/customer.ts
  packages/modules/customer/src/services/customer-module.ts
Labels: type: feature, team: medusa

#10543 docs: document when-then name
  www/apps/book/app/learn/fundamentals/api-routes/validation/page.mdx
  www/apps/book/app/learn/fundamentals/module-links/query/page.mdx
  www/apps/book/app/learn/fundamentals/workflows/conditions/page.mdx
  www/apps/book/app/learn/fundamentals/workflows/constructor-constraints/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/resources/app/commerce-modules/cart/extend/page.mdx
  www/apps/resources/app/commerce-modules/customer/extend/page.mdx
  www/apps/resources/app/commerce-modules/product/extend/page.mdx
  www/apps/resources/app/commerce-modules/promotion/extend/page.mdx
  www/apps/resources/app/examples/page.mdx
  www/apps/resources/app/integrations/guides/sanity/page.mdx
  www/apps/resources/app/recipes/commerce-automation/restock-notification/page.mdx
  www/apps/resources/app/recipes/digital-products/examples/standard/page.mdx
  www/apps/resources/app/troubleshooting/workflow-errors/page.mdx
  www/apps/resources/generated/edit-dates.mjs
  www/apps/resources/generated/files-map.mjs
  www/apps/resources/generated/sidebar.mjs
  www/apps/resources/sidebar.mjs
Labels: type: docs, team: medusa

#10528 feat(file-s3): Add support for IAM role authentication to file-s3 provider
  packages/core/types/src/file/providers/s3.ts
  packages/modules/providers/file-s3/package.json
  packages/modules/providers/file-s3/src/services/s3-file.ts
Labels: type: feature, team: medusa

#10546 docs: fix typo in code in module isolation documentation
  www/apps/book/app/learn/fundamentals/modules/isolation/page.mdx
Labels: type: docs, team: medusa

#10545 docs: revise recipe examples
  www/apps/resources/app/recipes/digital-products/examples/standard/page.mdx
  www/apps/resources/app/recipes/marketplace/examples/restaurant-delivery/page.mdx
  www/apps/resources/app/recipes/marketplace/examples/vendors/page.mdx
  www/apps/resources/app/recipes/subscriptions/examples/standard/page.mdx
  www/apps/resources/generated/edit-dates.mjs
Labels: type: docs, team: medusa

#10548 docs: revise architectural modules documentation
  www/apps/resources/app/architectural-modules/file/page.mdx
  www/apps/resources/app/architectural-modules/notification/page.mdx
  www/apps/resources/app/architectural-modules/page.mdx
  www/apps/resources/generated/edit-dates.mjs
  www/apps/resources/generated/sidebar.mjs
  www/apps/resources/sidebar.mjs
Labels: type: docs, team: medusa

#10547 fix(dashboard): Prevent fulfillment provider modal from re-rendering before form submission is complete
  .changeset/wicked-seas-beg.md
  packages/admin/dashboard/src/hooks/api/stock-locations.tsx
  packages/admin/dashboard/src/routes/locations/location-fulfillment-providers/components/edit-fulfillment-providers-form/edit-fulfillment-providers-form.tsx
  packages/admin/dashboard/src/routes/locations/location-fulfillment-providers/location-fulfillment-providers.tsx
Labels: type: bug, automerge, team: medusa

#10555 chore: fixes to tsdocs + docs-util related to providers
  packages/core/types/src/notification/common.ts
  packages/core/utils/src/fulfillment/provider.ts
  packages/core/utils/src/payment/abstract-payment-provider.ts
  www/apps/resources/references/auth_provider/classes/auth_provider.AbstractAuthModuleProvider/page.mdx
  www/apps/resources/references/file/classes/file.AbstractFileProviderService/page.mdx
  www/apps/resources/references/fulfillment_provider/classes/fulfillment_provider.AbstractFulfillmentProviderService/page.mdx
  www/apps/resources/references/notification/classes/notification.AbstractNotificationProviderService/page.mdx
  www/apps/resources/references/payment_provider/classes/payment_provider.AbstractPaymentProvider/page.mdx
  www/utils/generated/typedoc-json-output/fulfillment-provider.json
  www/utils/generated/typedoc-json-output/payment-provider.json
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/auth-provider.ts
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/file.ts
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/fulfillment-provider.ts
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/notification.ts
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/payment-provider.ts
Labels: type: docs, type: chore, team: medusa

#10553 chore(payment): Payment module DML
  .changeset/tame-snakes-doubt.md
  integration-tests/http/__tests__/payment/admin/payment.spec.ts
  packages/modules/payment/integration-tests/__tests__/services/payment-module/index.spec.ts
  packages/modules/payment/src/migrations/.snapshot-medusa-payment.json
  packages/modules/payment/src/migrations/Migration20241211151053.ts
  packages/modules/payment/src/models/capture.ts
  packages/modules/payment/src/models/payment-collection.ts
  packages/modules/payment/src/models/payment-method-token.ts
  packages/modules/payment/src/models/payment-provider.ts
  packages/modules/payment/src/models/payment-session.ts
  packages/modules/payment/src/models/payment.ts
  packages/modules/payment/src/models/refund-reason.ts
  packages/modules/payment/src/models/refund.ts
  packages/modules/payment/src/services/payment-module.ts
Labels: type: chore, team: medusa

#10551 feat: add support for float properties
  .changeset/popular-baboons-allow.md
  packages/core/types/src/dml/index.ts
  packages/core/utils/src/dml/__tests__/entity-builder.spec.ts
  packages/core/utils/src/dml/__tests__/float-property.spec.ts
  packages/core/utils/src/dml/entity-builder.ts
  packages/core/utils/src/dml/helpers/entity-builder/define-property.ts
  packages/core/utils/src/dml/integration-tests/__tests__/entity.spec.ts
  packages/core/utils/src/dml/properties/float.ts
  packages/core/utils/src/dml/properties/index.ts
Labels: type: feature, team: medusa

#10558 Nits
  www/apps/resources/app/recipes/commerce-automation/restock-notification/page.mdx
Labels: type: docs

#10532 feat(medusa, core-flows, fulfillment): calculate SO price endpoint
  packages/core/core-flows/src/fulfillment/steps/calculate-shipping-options-prices.ts
  packages/core/core-flows/src/fulfillment/steps/index.ts
  packages/core/core-flows/src/fulfillment/workflows/calculate-shipping-options-prices.ts
  packages/core/core-flows/src/fulfillment/workflows/index.ts
  packages/core/types/src/fulfillment/mutations/shipping-option.ts
  packages/core/types/src/fulfillment/provider.ts
  packages/core/types/src/fulfillment/service.ts
  packages/core/types/src/http/shipping-option/store/index.ts
  packages/core/types/src/http/shipping-option/store/payloads.ts
  packages/core/types/src/http/shipping-option/store/responses.ts
  packages/core/types/src/workflow/fulfillment/calculate-shipping-options-prices.ts
  packages/core/types/src/workflow/fulfillment/index.ts
  packages/core/utils/src/fulfillment/provider.ts
  packages/medusa/src/api/store/shipping-options/[id]/calculate/route.ts
  packages/medusa/src/api/store/shipping-options/middlewares.ts
  packages/medusa/src/api/store/shipping-options/query-config.ts
  packages/medusa/src/api/store/shipping-options/validators.ts
  packages/modules/fulfillment/src/services/fulfillment-module-service.ts
Labels: automerge, type: feature, team: medusa

#10567 docs: fix imports in createBrandStep
  www/apps/book/app/learn/customization/custom-features/workflow/page.mdx
Labels: type: docs, team: medusa

#10525 Feat/tax dml
  .changeset/unlucky-radios-fry.md
  packages/modules/tax/integration-tests/__tests__/index.spec.ts
  packages/modules/tax/src/migrations/.snapshot-medusa-tax.json
  packages/modules/tax/src/migrations/Migration20241212052837.ts
  packages/modules/tax/src/models/tax-provider.ts
  packages/modules/tax/src/models/tax-rate-rule.ts
  packages/modules/tax/src/models/tax-rate.ts
  packages/modules/tax/src/models/tax-region.ts
  packages/modules/tax/src/services/tax-module-service.ts
Labels: automerge, type: feature, team: medusa

#10577 docs: clarify that stripe module provider is available in application
  www/apps/resources/app/commerce-modules/payment/payment-provider/stripe/page.mdx
Labels: type: docs, team: medusa

#10582 docs: add documentation on sending requests to custom routes with JS SDK
  www/apps/book/app/learn/fundamentals/admin/tips/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/resources/app/js-sdk/page.mdx
  www/apps/resources/generated/edit-dates.mjs
Labels: type: docs, team: medusa

#10578 docs: updates to contribution guidelines
  www/apps/resources/app/contribution-guidelines/docs/page.mdx
  www/apps/resources/generated/edit-dates.mjs
Labels: type: docs, team: medusa

#10576 chore: small tsdoc update to dml float property.
  packages/core/utils/src/dml/entity-builder.ts
Labels: type: chore, team: medusa

#10590 docs: improve examples in module link direction
  www/apps/book/app/learn/fundamentals/module-links/directions/page.mdx
  www/apps/book/generated/edit-dates.mjs
Labels: type: docs, team: medusa

#10589 docs: add section on updating medusa
  www/apps/book/app/learn/installation/page.mdx
  www/apps/book/generated/edit-dates.mjs
Labels: type: docs, team: medusa

#10588 docs: document alternatives for conditional operators
  www/apps/book/app/learn/fundamentals/workflows/constructor-constraints/page.mdx
  www/apps/book/generated/edit-dates.mjs
Labels: type: docs, team: medusa

#10591 docs-util: support @version tag
  packages/core/utils/src/dml/entity-builder.ts
  www/utils/packages/typedoc-config/tsdoc.json
  www/utils/packages/typedoc-plugin-markdown-medusa/src/render-utils.ts
  www/utils/packages/typedoc-plugin-markdown-medusa/src/resources/helpers/comments.ts
  www/utils/packages/typedoc-plugin-markdown-medusa/src/resources/helpers/version.ts
  www/utils/packages/typedoc-plugin-markdown-medusa/src/resources/partials/member.declaration.hbs
  www/utils/packages/typedoc-plugin-markdown-medusa/src/resources/partials/member.react-query.signature.hbs
  www/utils/packages/typedoc-plugin-markdown-medusa/src/resources/partials/member.signature.hbs
  www/utils/packages/typedoc-plugin-markdown-medusa/src/resources/partials/member.step.hbs
  www/utils/packages/typedoc-plugin-markdown-medusa/src/resources/partials/member.workflow.hbs
Labels: type: docs, team: medusa

#10592 chore: fix docs freshness check action
  .github/workflows/docs-freshness-check.yml
  www/utils/packages/scripts/freshness-check.ts
Labels: type: docs, type: chore, team: medusa

#10599 breaking: pluralization rule for the info word
  packages/core/types/src/common/__tests__/pluralize.spec.ts
  packages/core/types/src/common/common.ts
  packages/core/utils/package.json
  packages/core/utils/src/common/__tests__/pluralize.spec.ts
  packages/core/utils/src/common/plurailze.ts
  yarn.lock
Labels: type: bug, team: medusa

#10569 chore(inventory): convert to dml
  .changeset/big-days-train.md
  integration-tests/http/__tests__/product/store/product.spec.ts
  packages/core/types/src/dml/index.ts
  packages/core/utils/src/dml/__tests__/array-property.spec.ts
  packages/core/utils/src/dml/__tests__/autoincrement-property.spec.ts
  packages/core/utils/src/dml/__tests__/base-property.spec.ts
  packages/core/utils/src/dml/__tests__/big-number-property.spec.ts
  packages/core/utils/src/dml/__tests__/boolean-property.spec.ts
  packages/core/utils/src/dml/__tests__/date-time-property.spec.ts
  packages/core/utils/src/dml/__tests__/enum-schema.spec.ts
  packages/core/utils/src/dml/__tests__/float-property.spec.ts
  packages/core/utils/src/dml/__tests__/id-property.spec.ts
  packages/core/utils/src/dml/__tests__/json-property.spec.ts
  packages/core/utils/src/dml/__tests__/number-property.spec.ts
  packages/core/utils/src/dml/__tests__/text-property.spec.ts
  packages/core/utils/src/dml/helpers/entity-builder/create-big-number-properties.ts
  packages/core/utils/src/dml/helpers/entity-builder/define-property.ts
  packages/core/utils/src/dml/properties/base.ts
  packages/core/utils/src/dml/properties/computed.ts
  packages/core/utils/src/dml/properties/index.ts
  packages/core/utils/src/dml/properties/nullable.ts
  packages/core/utils/src/pg/integration-tests/__tests__/pg_utils.spec.ts
  packages/modules/inventory/integration-tests/__tests__/inventory-module-service.spec.ts
  packages/modules/inventory/src/migrations/.snapshot-medusa-inventory.json
  packages/modules/inventory/src/migrations/Migration20241213063611.ts
  packages/modules/inventory/src/models/index.ts
  packages/modules/inventory/src/models/inventory-item.ts
  packages/modules/inventory/src/models/inventory-level.ts
  packages/modules/inventory/src/models/reservation-item.ts
  packages/modules/inventory/src/repositories/index.ts
  packages/modules/inventory/src/services/inventory-level.ts
  packages/modules/inventory/src/services/inventory-module.ts
  packages/modules/inventory/src/utils/apply-decorators.ts
Labels: type: chore, automerge, team: medusa

#10601 fix(core-flows): use customer create workflow to reuse the emit event
  packages/core/core-flows/src/customer/workflows/create-customer-account.ts
Labels: type: bug, automerge, team: medusa

#10556 feat(dashboard): Add UI for bulk editing inventory stock
  integration-tests/http/__tests__/inventory/admin/inventory.spec.ts
  packages/admin/dashboard/src/components/common/thumbnail/thumbnail.tsx
  packages/admin/dashboard/src/components/data-grid/components/data-grid-cell-container.tsx
  packages/admin/dashboard/src/components/data-grid/components/data-grid-duplicate-cell.tsx
  packages/admin/dashboard/src/components/data-grid/components/data-grid-readonly-cell.tsx
  packages/admin/dashboard/src/components/data-grid/components/data-grid-root.tsx
  packages/admin/dashboard/src/components/data-grid/components/data-grid-toggleable-number-cell.tsx
  packages/admin/dashboard/src/components/data-grid/hooks/use-data-grid-cell-snapshot.tsx
  packages/admin/dashboard/src/components/data-grid/hooks/use-data-grid-cell.tsx
  packages/admin/dashboard/src/components/data-grid/hooks/use-data-grid-form-handlers.tsx
  packages/admin/dashboard/src/components/data-grid/hooks/use-data-grid-keydown-event.tsx
  packages/admin/dashboard/src/components/data-grid/types.ts
  packages/admin/dashboard/src/hooks/api/inventory.tsx
  packages/admin/dashboard/src/hooks/api/products.tsx
  packages/admin/dashboard/src/providers/router-provider/route-map.tsx
  packages/admin/dashboard/src/routes/inventory/common/constants.ts
  packages/admin/dashboard/src/routes/inventory/inventory-detail/components/inventory-item-location-levels.tsx
  packages/admin/dashboard/src/routes/inventory/inventory-detail/components/inventory-item-reservations.tsx
  packages/admin/dashboard/src/routes/inventory/inventory-detail/components/location-levels-table/use-location-list-table-columns.tsx
  packages/admin/dashboard/src/routes/inventory/inventory-list/components/inventory-list-table.tsx
  packages/admin/dashboard/src/routes/inventory/inventory-list/components/use-inventory-table-columns.tsx
  packages/admin/dashboard/src/routes/inventory/inventory-stock/components/inventory-stock-form/index.ts
  packages/admin/dashboard/src/routes/inventory/inventory-stock/components/inventory-stock-form/inventory-stock-form.tsx
  packages/admin/dashboard/src/routes/inventory/inventory-stock/hooks/use-inventory-stock-columns.tsx
  packages/admin/dashboard/src/routes/inventory/inventory-stock/index.ts
  packages/admin/dashboard/src/routes/inventory/inventory-stock/inventory-stock.tsx
  packages/admin/dashboard/src/routes/inventory/inventory-stock/schema.ts
  packages/admin/dashboard/src/routes/locations/common/components/shipping-option-price-cell/shipping-option-price-cell.tsx
  packages/admin/dashboard/src/routes/price-lists/common/hooks/use-price-list-grid-columns.tsx
  packages/admin/dashboard/src/routes/products/common/constants.ts
  packages/admin/dashboard/src/routes/products/product-detail/components/product-variant-section/product-variant-section.tsx
  packages/admin/dashboard/src/routes/products/product-detail/components/product-variant-section/use-variant-table-columns.tsx
  packages/admin/dashboard/src/routes/products/product-inventory/components/product-inventory-form/index.ts
  packages/admin/dashboard/src/routes/products/product-inventory/components/product-inventory-form/product-inventory-form.tsx
  packages/admin/dashboard/src/routes/products/product-inventory/hooks/use-product-inventory-columns.tsx
  packages/admin/dashboard/src/routes/products/product-inventory/hooks/use-product-inventory-data.tsx
  packages/admin/dashboard/src/routes/products/product-inventory/index.ts
  packages/admin/dashboard/src/routes/products/product-inventory/product-inventory.tsx
  packages/admin/dashboard/src/routes/products/product-inventory/schema.ts
  packages/admin/dashboard/src/routes/products/product-inventory/types.ts
  packages/admin/dashboard/src/routes/products/product-inventory/utils.ts
  packages/core/core-flows/src/inventory/steps/create-inventory-levels.ts
  packages/core/core-flows/src/inventory/workflows/batch-inventory-item-levels.ts
  packages/core/core-flows/src/inventory/workflows/bulk-create-delete-levels.ts
  packages/core/core-flows/src/inventory/workflows/delete-inventory-levels.ts
  packages/core/core-flows/src/inventory/workflows/index.ts
  packages/core/js-sdk/src/admin/inventory-item.ts
  packages/core/types/src/http/inventory/admin/payloads.ts
  packages/core/types/src/inventory/mutations/inventory-level.ts
  packages/medusa/src/api/admin/inventory-items/location-levels/batch/route.ts
  packages/medusa/src/api/admin/inventory-items/middlewares.ts
  packages/medusa/src/api/admin/inventory-items/validators.ts
  packages/modules/inventory/src/services/inventory-module.ts
Labels: type: feature, team: medusa

#10605 docs: add pivotTable in digital product recipe
  www/apps/resources/app/recipes/digital-products/examples/standard/page.mdx
  www/apps/resources/generated/edit-dates.mjs
Labels: type: docs, team: medusa

#10602 feat(types,fulfillment): ability to delete a canceled fulfillment
  .changeset/spotty-moons-clean.md
  packages/core/types/src/fulfillment/service.ts
  packages/modules/fulfillment/integration-tests/__tests__/fulfillment-module-service/fulfillment.spec.ts
  packages/modules/fulfillment/src/services/fulfillment-module-service.ts
Labels: type: feature, team: medusa

#10616 docs: small wording fix
  www/apps/book/app/learn/customization/custom-features/workflow/page.mdx
Labels: type: docs, team: medusa

#10619 docs: remove unnecessary log
  www/apps/book/app/learn/customization/customize-admin/route/page.mdx
Labels: type: docs, team: medusa

#10618 docs: add stripe events to provider guide
  www/apps/resources/app/commerce-modules/payment/payment-provider/stripe/page.mdx
  www/apps/resources/generated/edit-dates.mjs
Labels: type: docs, team: medusa

#10621 docs: add example of Table component with pagination
  www/apps/resources/app/admin-components/components/table/page.mdx
  www/apps/resources/generated/edit-dates.mjs
Labels: type: docs, team: medusa

#10620 docs: fix expanding of custom relations in customer and product category routes
  www/apps/api-reference/specs/admin/openapi.full.yaml
  www/apps/api-reference/specs/admin/paths/admin_customers.yaml
  www/apps/api-reference/specs/admin/paths/admin_customers_{id}.yaml
  www/apps/api-reference/specs/admin/paths/admin_customers_{id}_addresses.yaml
  www/apps/api-reference/specs/admin/paths/admin_customers_{id}_addresses_{address_id}.yaml
  www/apps/api-reference/specs/admin/paths/admin_customers_{id}_customer-groups.yaml
  www/apps/api-reference/specs/admin/paths/admin_product-categories.yaml
  www/apps/api-reference/specs/admin/paths/admin_product-categories_{id}.yaml
  www/apps/api-reference/specs/admin/paths/admin_product-categories_{id}_products.yaml
  www/apps/resources/app/commerce-modules/customer/extend/page.mdx
  www/apps/resources/generated/edit-dates.mjs
  www/utils/generated/oas-output/operations/admin/delete_admin_customers_[id]_addresses_[address_id].ts
  www/utils/generated/oas-output/operations/admin/get_admin_customers.ts
  www/utils/generated/oas-output/operations/admin/get_admin_customers_[id].ts
  www/utils/generated/oas-output/operations/admin/get_admin_customers_[id]_addresses.ts
  www/utils/generated/oas-output/operations/admin/get_admin_customers_[id]_addresses_[address_id].ts
  www/utils/generated/oas-output/operations/admin/get_admin_product-categories.ts
  www/utils/generated/oas-output/operations/admin/get_admin_product-categories_[id].ts
  www/utils/generated/oas-output/operations/admin/post_admin_customers.ts
  www/utils/generated/oas-output/operations/admin/post_admin_customers_[id].ts
  www/utils/generated/oas-output/operations/admin/post_admin_customers_[id]_addresses.ts
  www/utils/generated/oas-output/operations/admin/post_admin_customers_[id]_addresses_[address_id].ts
  www/utils/generated/oas-output/operations/admin/post_admin_customers_[id]_customer-groups.ts
  www/utils/generated/oas-output/operations/admin/post_admin_product-categories.ts
  www/utils/generated/oas-output/operations/admin/post_admin_product-categories_[id].ts
  www/utils/generated/oas-output/operations/admin/post_admin_product-categories_[id]_products.ts
Labels: type: docs, team: medusa

#10626 fix(cart): tax rate data type
  .changeset/famous-mugs-grow.md
  packages/modules/cart/integration-tests/__tests__/services/cart-module/index.spec.ts
  packages/modules/cart/src/migrations/.snapshot-medusa-cart.json
  packages/modules/cart/src/migrations/Migration20241205095237.ts
  packages/modules/cart/src/migrations/Migration20241216183049.ts
  packages/modules/cart/src/models/line-item-tax-line.ts
  packages/modules/cart/src/models/shipping-method-tax-line.ts
Labels: type: bug, team: medusa

#10563 feat(core-flows): calculate SO price on cart ops
  integration-tests/http/__tests__/fulfillment/admin/fulfillment-provider.spec.ts
  integration-tests/http/__tests__/shipping-option/store/shipping-option-calculated.spec.ts
  integration-tests/http/medusa-config.js
  integration-tests/http/package.json
  integration-tests/http/src/utils/providers/fulfillment-manual-calculated/index.ts
  integration-tests/http/src/utils/providers/fulfillment-manual-calculated/services/manual-fulfillment.ts
  integration-tests/http/tsconfig.json
  packages/core/core-flows/src/cart/workflows/add-shipping-method-to-cart.ts
  packages/core/core-flows/src/cart/workflows/index.ts
  packages/core/core-flows/src/cart/workflows/list-shipping-options-for-cart-with-pricing.ts
  packages/core/core-flows/src/cart/workflows/refresh-cart-shipping-methods.ts
  packages/core/core-flows/src/fulfillment/steps/validate-shipping-option-prices.ts
  packages/core/core-flows/src/fulfillment/workflows/calculate-shipping-options-prices.ts
  packages/core/types/src/fulfillment/mutations/shipping-option.ts
  packages/core/types/src/fulfillment/provider.ts
  packages/core/types/src/http/shipping-option/store/payloads.ts
  packages/core/types/src/workflow/fulfillment/calculate-shipping-options-prices.ts
  packages/core/utils/src/fulfillment/provider.ts
  packages/medusa/src/api/store/shipping-options/[id]/calculate/route.ts
  packages/medusa/src/api/store/shipping-options/validators.ts
  packages/modules/fulfillment/src/services/fulfillment-provider.ts
Labels: type: docs, automerge, type: feature, team: medusa

#10579 feat(medusa,pricing): Cart pricing context with customer group
  .changeset/warm-comics-return.md
  integration-tests/http/__tests__/cart/store/cart.spec.ts
  integration-tests/http/__tests__/price-list/admin/price-list.spec.ts
  integration-tests/http/__tests__/product/store/product.spec.ts
  integration-tests/modules/__tests__/cart/store/cart.workflows.spec.ts
  integration-tests/modules/__tests__/link-modules/product-variant-price-set.spec.ts
  integration-tests/modules/__tests__/price-lists/admin/price-lists.spec.ts
  packages/admin/dashboard/src/routes/price-lists/price-list-configuration/components/price-list-configuration-form/price-list-configuration-form.tsx
  packages/admin/dashboard/src/routes/price-lists/price-list-configuration/price-list-configuration.tsx
  packages/admin/dashboard/src/routes/price-lists/price-list-create/components/price-list-create-form/price-list-create-form.tsx
  packages/core/core-flows/src/cart/utils/fields.ts
  packages/core/core-flows/src/cart/workflows/add-to-cart.ts
  packages/core/core-flows/src/cart/workflows/list-shipping-options-for-cart.ts
  packages/core/core-flows/src/cart/workflows/refresh-cart-items.ts
  packages/core/core-flows/src/cart/workflows/transfer-cart-customer.ts
  packages/core/core-flows/src/cart/workflows/update-line-item-in-cart.ts
  packages/core/types/src/cart/workflows.ts
  packages/core/types/src/pricing/common/pricing-context.ts
  packages/core/utils/src/common/__tests__/filter-object-by-keys.spec.ts
  packages/core/utils/src/common/__tests__/flatten-object-to-key-value-pairs.spec.ts
  packages/core/utils/src/common/filter-object-by-keys.ts
  packages/core/utils/src/common/flatten-object-to-key-value-pairs.ts
  packages/core/utils/src/common/index.ts
  packages/medusa/src/api/store/carts/[id]/line-items/[line_id]/route.ts
  packages/medusa/src/api/store/carts/[id]/line-items/route.ts
  packages/medusa/src/api/utils/middlewares/products/set-pricing-context.ts
  packages/modules/cart/src/index.ts
  packages/modules/pricing/src/migrations/Migration20241212190401.ts
  packages/modules/pricing/src/repositories/pricing.ts
Labels: type: feature, has: breaking changes, team: medusa

#10628 chore(utils): add comments + cleanup util functions
  packages/core/utils/src/common/filter-object-by-keys.ts
  packages/core/utils/src/common/flatten-object-to-key-value-pairs.ts
Labels: type: chore, automerge, team: medusa

#10575 docs: document float property (for v2.1.2)
  www/apps/book/app/learn/fundamentals/data-models/property-types/page.mdx
  www/apps/book/generated/edit-dates.mjs
Labels: type: docs, team: medusa

#10606 Add FilterableRefundReason filter by description and label
  .changeset/little-books-think.md
  packages/core/types/src/payment/common.ts
Labels: automerge

#10637 docs-util: infer resolved resources in workflow + steps
  www/utils/packages/typedoc-plugin-markdown-medusa/src/resources/helpers/frontmatter.ts
  www/utils/packages/typedoc-plugin-workflows/src/plugin.ts
  www/utils/packages/typedoc-plugin-workflows/src/utils/helper.ts
  www/utils/packages/utils/src/get-resolved-resources.ts
  www/utils/packages/utils/src/index.ts
  www/utils/packages/utils/src/str-utils.ts
  www/utils/packages/utils/src/tag-utils.ts
Labels: type: docs, team: medusa

#10640 fix(core-flows): export getItemTaxLinesStep
  .changeset/wet-queens-deliver.md
  packages/core/core-flows/src/tax/steps/index.ts
Labels: type: bug, team: medusa

#10642 chore: fix redocly circular dependencies
  packages/cli/oas/medusa-oas-cli/redocly/redocly-config.yaml
  www/apps/api-reference/specs/admin/components/schemas/AdminApplicationMethod.yaml
  www/apps/api-reference/specs/admin/components/schemas/AdminPromotion.yaml
  www/apps/api-reference/specs/admin/openapi.full.yaml
  www/apps/api-reference/specs/store/components/schemas/AdminApplicationMethod.yaml
  www/apps/api-reference/specs/store/components/schemas/AdminPromotion.yaml
  www/apps/api-reference/specs/store/openapi.full.yaml
Labels: type: docs, type: chore, team: medusa

#10651 fix(medusa): Missing metadata field on order
  integration-tests/modules/__tests__/order/order.spec.ts
  packages/medusa/src/api/admin/orders/query-config.ts
Labels: type: bug, team: medusa

#10408 feat: Custom line items
  .changeset/gorgeous-tools-enjoy.md
  integration-tests/http/__tests__/order/admin/order.spec.ts
  integration-tests/modules/__tests__/cart/store/cart.workflows.spec.ts
  integration-tests/modules/__tests__/order/draft-order.spec.ts
  packages/core/core-flows/src/cart/steps/validate-line-item-prices.ts
  packages/core/core-flows/src/cart/steps/validate-variant-prices.ts
  packages/core/core-flows/src/cart/utils/prepare-line-item-data.ts
  packages/core/core-flows/src/cart/workflows/add-to-cart.ts
  packages/core/core-flows/src/cart/workflows/complete-cart.ts
  packages/core/core-flows/src/cart/workflows/create-carts.ts
  packages/core/core-flows/src/cart/workflows/refresh-cart-items.ts
  packages/core/core-flows/src/cart/workflows/update-cart.ts
  packages/core/core-flows/src/cart/workflows/update-line-item-in-cart.ts
  packages/core/core-flows/src/common/steps/use-remote-query.ts
  packages/core/core-flows/src/order/utils/prepare-custom-line-item-data.ts
  packages/core/core-flows/src/order/workflows/add-line-items.ts
  packages/core/core-flows/src/order/workflows/create-order.ts
  packages/core/types/src/cart/common.ts
  packages/core/types/src/cart/mutations.ts
  packages/core/types/src/cart/workflows.ts
  packages/core/utils/src/common/deep-flat-map.ts
  packages/medusa/src/api/admin/draft-orders/validators.ts
  packages/modules/cart/integration-tests/__tests__/services/cart-module/index.spec.ts
  packages/modules/cart/src/migrations/.snapshot-medusa-cart.json
  packages/modules/cart/src/migrations/Migration20241218091938.ts
  packages/modules/cart/src/models/line-item.ts
Labels: type: feature, team: medusa

#10650 fix(dashboard): order details status
  packages/admin/dashboard/src/routes/orders/order-detail/components/order-general-section/order-general-section.tsx
Labels: type: bug, team: medusa

#10659 fix(notification): Only use enabled providers for notis
  packages/modules/notification/src/services/notification-provider.ts
Labels: type: bug, team: medusa

#10657 chore(types): Keep intelisense while being more loosen
  .changeset/pink-ways-count.md
  packages/core/types/src/modules-sdk/__tests__/remote-query.spec.ts
  packages/core/types/src/modules-sdk/remote-query-object-from-string.ts
Labels: type: chore, automerge, team: medusa

#10643 fix(core-flows): use useQueryGraphStep instead of useQueryStep
  .changeset/heavy-spies-thank.md
  packages/core/core-flows/src/cart/workflows/complete-cart.ts
  packages/core/core-flows/src/common/steps/use-query.ts
  packages/core/core-flows/src/payment/workflows/process-payment.ts
Labels: type: bug, automerge, team: medusa

#10660 fix(core-flows): data passed to to fulfillment provider context
  packages/core/core-flows/src/cart/utils/fields.ts
  packages/core/core-flows/src/cart/workflows/add-shipping-method-to-cart.ts
  packages/core/core-flows/src/cart/workflows/list-shipping-options-for-cart-with-pricing.ts
  packages/core/core-flows/src/cart/workflows/list-shipping-options-for-cart.ts
  packages/core/core-flows/src/fulfillment/workflows/calculate-shipping-options-prices.ts
Labels: type: bug, team: medusa

#10649 chore: improve tsdocs of fulfillment provider
  packages/core/types/src/fulfillment/mutations/shipping-option.ts
  packages/core/types/src/fulfillment/provider.ts
  packages/core/utils/src/fulfillment/provider.ts
Labels: type: chore, team: medusa

#10636 feat(order, types): Add Credit Line to order module
  packages/core/types/src/order/common.ts
  packages/core/utils/src/order/order-change-action.ts
  packages/modules/order/src/migrations/.snapshot-medusa-order.json
  packages/modules/order/src/migrations/Migration20241217162224.ts
  packages/modules/order/src/models/credit-line.ts
  packages/modules/order/src/models/index.ts
  packages/modules/order/src/models/order.ts
  packages/modules/order/src/services/__tests__/util/actions/credit-line-add.spec.ts
  packages/modules/order/src/services/__tests__/util/actions/exchanges.ts
  packages/modules/order/src/services/__tests__/util/actions/returns.ts
  packages/modules/order/src/services/order-module-service.ts
  packages/modules/order/src/types/utils/index.ts
  packages/modules/order/src/utils/actions/credit-line-add.ts
  packages/modules/order/src/utils/actions/index.ts
  packages/modules/order/src/utils/calculate-order-change.ts
Labels: type: feature, team: medusa

#10587 feat(dashboard): ability to locate new admin route under existing route
  packages/admin/admin-sdk/src/config/types.ts
  packages/admin/admin-shared/src/extensions/routes/constants.ts
  packages/admin/admin-shared/src/extensions/routes/index.ts
  packages/admin/admin-shared/src/extensions/routes/types.ts
  packages/admin/admin-shared/src/index.ts
  packages/admin/admin-vite-plugin/src/routes/__tests__/generate-menu-items.spec.ts
  packages/admin/admin-vite-plugin/src/routes/generate-menu-items.ts
  packages/admin/dashboard/src/components/layout/main-layout/main-layout.tsx
  packages/admin/dashboard/src/components/layout/nav-item/nav-item.tsx
  packages/admin/dashboard/src/extensions/dashboard-extension-manager/dashboard-extension-manager.tsx
  packages/admin/dashboard/src/extensions/types.ts
Labels: automerge

#10673 fix(core-flows): refresh payment collections upon shipping changes
  .changeset/slimy-seas-join.md
  integration-tests/http/__tests__/cart/store/cart.spec.ts
  packages/core/core-flows/src/cart/workflows/add-shipping-method-to-cart.ts
  packages/medusa/src/api/store/carts/query-config.ts
Labels: type: bug, team: medusa

#10668 fix(product): updating collections with products fix
  .changeset/eight-pigs-wave.md
  integration-tests/http/__tests__/collection/admin/colllection.spec.ts
  packages/modules/product/integration-tests/__tests__/product-module-service/product-collections.spec.ts
  packages/modules/product/src/services/product-module-service.ts
Labels: type: bug, team: medusa

#10665 feat(core-flows): pass fields variant details when creating fulfillment
  packages/core/core-flows/src/order/workflows/create-fulfillment.ts
Labels: type: feature, team: medusa

#10672 docs: support generating sidebar items with tags
  www/apps/book/.vercelignore
  www/apps/book/next.config.mjs
  www/apps/resources/next.config.mjs
  www/apps/resources/scripts/prepare.mjs
  www/apps/resources/utils/get-slugs.mjs
  www/package.json
  www/packages/build-scripts/package.json
  www/packages/build-scripts/src/generate-sidebar.ts
  www/packages/build-scripts/src/retrieve-mdx-pages.ts
  www/packages/build-scripts/src/utils/get-sidebar-item-link.ts
  www/packages/build-scripts/src/utils/parse-tags.ts
  www/packages/docs-utils/src/get-file-slug-sync.ts
  www/packages/docs-utils/src/get-file-slug.ts
  www/packages/docs-utils/src/index.ts
  www/packages/remark-rehype-plugins/package.json
  www/packages/remark-rehype-plugins/src/utils/fix-link.ts
  www/packages/types/package.json
  www/packages/types/src/sidebar.ts
  www/yarn.lock
Labels: type: docs, team: medusa

#10617 chore(fulfillment, utils): Migrate module to DML
  .changeset/clean-news-sin.md
  integration-tests/http/__tests__/shipping-option/admin/shipping-option.spec.ts
  integration-tests/http/__tests__/stock-location/admin/fulfillment-provider.spec.ts
  integration-tests/modules/__tests__/shipping-options/workflows/update-shipping-options.ts
  packages/core/types/src/dml/index.ts
  packages/core/types/src/fulfillment/mutations/shipping-option.ts
  packages/core/utils/src/dml/__tests__/entity-builder.spec.ts
  packages/core/utils/src/dml/entity-builder.ts
  packages/core/utils/src/dml/entity.ts
  packages/core/utils/src/dml/helpers/entity-builder/define-relationship.ts
  packages/core/utils/src/dml/relations/belongs-to.ts
  packages/core/utils/src/dml/relations/has-one-fk.ts
  packages/core/utils/src/modules-sdk/__tests__/joiner-config-builder.spec.ts
  packages/core/utils/src/modules-sdk/joiner-config-builder.ts
  packages/medusa/src/api/store/carts/query-config.ts
  packages/modules/fulfillment/integration-tests/__tests__/fulfillment-module-service/index.spec.ts
  packages/modules/fulfillment/integration-tests/__tests__/fulfillment-module-service/shipping-option.spec.ts
  packages/modules/fulfillment/src/migrations/.snapshot-medusa-fulfillment.json
  packages/modules/fulfillment/src/migrations/Migration20241217110416.ts
  packages/modules/fulfillment/src/models/address.ts
  packages/modules/fulfillment/src/models/fulfillment-item.ts
  packages/modules/fulfillment/src/models/fulfillment-label.ts
  packages/modules/fulfillment/src/models/fulfillment-provider.ts
  packages/modules/fulfillment/src/models/fulfillment-set.ts
  packages/modules/fulfillment/src/models/fulfillment.ts
  packages/modules/fulfillment/src/models/geo-zone.ts
  packages/modules/fulfillment/src/models/index.ts
  packages/modules/fulfillment/src/models/service-zone.ts
  packages/modules/fulfillment/src/models/shipping-option-rule.ts
  packages/modules/fulfillment/src/models/shipping-option-type.ts
  packages/modules/fulfillment/src/models/shipping-option.ts
  packages/modules/fulfillment/src/models/shipping-profile.ts
  packages/modules/fulfillment/src/repositories/fulfillment-set.ts
  packages/modules/fulfillment/src/repositories/index.ts
  packages/modules/fulfillment/src/services/fulfillment-module-service.ts
  packages/modules/fulfillment/src/utils/events.ts
  packages/modules/fulfillment/src/utils/utils.ts
  packages/modules/payment/integration-tests/__tests__/services/payment-module/index.spec.ts
  packages/modules/promotion/integration-tests/__tests__/services/promotion-module/promotion.spec.ts
Labels: type: chore, automerge, team: medusa

#10676 docs: remove duplicate parsed tag items
  www/apps/resources/package.json
  www/package.json
  www/packages/build-scripts/src/utils/parse-tags.ts
  www/packages/tags/src/tags/index.ts
  www/turbo.json
Labels: type: docs, team: medusa

#10661 fix(core-flows): select stock locations for reservation from correct SC
  integration-tests/modules/__tests__/cart/store/cart.workflows.spec.ts
  integration-tests/modules/__tests__/cart/store/carts.spec.ts
  packages/core/core-flows/src/cart/utils/prepare-confirm-inventory-input.ts
  packages/core/core-flows/src/cart/workflows/complete-cart.ts
  packages/core/core-flows/src/order/workflows/order-edit/confirm-order-edit-request.ts
Labels: type: bug, team: medusa

#10458 chore(ui,icons): Add React 19/19-rc to peer dependencies
  .changeset/grumpy-ladybugs-tickle.md
  packages/design-system/icons/package.json
  packages/design-system/ui/package.json
  yarn.lock
Labels: type: chore, automerge, team: medusa

#10623 docs: integrate shipstation guide
  www/apps/resources/app/integrations/guides/shipstation/page.mdx
  www/apps/resources/app/integrations/page.mdx
  www/apps/resources/app/js-sdk/page.mdx
  www/apps/resources/app/recipes/digital-products/examples/standard/page.mdx
  www/apps/resources/generated/edit-dates.mjs
  www/apps/resources/generated/files-map.mjs
  www/apps/resources/generated/sidebar.mjs
  www/apps/resources/sidebar.mjs
  www/packages/tags/src/tags/index.ts
Labels: type: docs, team: medusa

#10697 fix: pluralization of words ending in y, where y follows a vowel
  .changeset/unlucky-carpets-remain.md
  packages/core/types/src/common/__tests__/pluralize.spec.ts
  packages/core/types/src/common/common.ts
Labels: type: bug, automerge, team: medusa

#10702 docs: fix typo in CmsModuleService
  www/apps/book/app/learn/customization/integrate-systems/service/page.mdx
Labels: type: docs, team: medusa

#10708 docs-util: fix query params not retrieved correctly for some routes
  www/utils/generated/oas-output/operations/store/get_store_products.ts
  www/utils/packages/docs-generator/src/classes/kinds/oas.ts
Labels: type: docs, team: medusa

#10705 docs: split commerce modules sidebars
  www/apps/resources/app/commerce-modules/page.mdx
  www/apps/resources/generated/edit-dates.mjs
  www/apps/resources/generated/sidebar.mjs
  www/apps/resources/sidebar.mjs
  www/apps/resources/sidebars/api-key.mjs
  www/apps/resources/sidebars/architectural-modules.mjs
  www/apps/resources/sidebars/auth.mjs
  www/apps/resources/sidebars/cart.mjs
  www/apps/resources/sidebars/currency.mjs
  www/apps/resources/sidebars/customer.mjs
  www/apps/resources/sidebars/fulfillment.mjs
  www/apps/resources/sidebars/integrations.mjs
  www/apps/resources/sidebars/inventory.mjs
  www/apps/resources/sidebars/order-module.mjs
  www/apps/resources/sidebars/payment.mjs
  www/apps/resources/sidebars/pricing.mjs
  www/apps/resources/sidebars/product.mjs
  www/apps/resources/sidebars/promotion.mjs
  www/apps/resources/sidebars/recipes.mjs
  www/apps/resources/sidebars/references.mjs
  www/apps/resources/sidebars/region.mjs
  www/apps/resources/sidebars/sales-channel.mjs
  www/apps/resources/sidebars/sdk-tools.mjs
  www/apps/resources/sidebars/stock-location.mjs
  www/apps/resources/sidebars/store.mjs
  www/apps/resources/sidebars/storefront.mjs
  www/apps/resources/sidebars/tax.mjs
  www/apps/resources/sidebars/troubleshooting.mjs
  www/apps/resources/sidebars/user.mjs
  www/packages/docs-ui/src/components/Sidebar/Item/Category/index.tsx
  www/packages/docs-ui/src/components/Sidebar/Item/Link/index.tsx
  www/packages/docs-ui/src/components/Sidebar/Item/SubCategory/index.tsx
  www/packages/tags/src/tags/index.ts
  www/packages/types/src/sidebar.ts
Labels: type: docs, team: medusa

#10707 fix(medusa,types,js-sdk): fix request query parameter types for store product routes
  .changeset/dull-chairs-whisper.md
  packages/core/js-sdk/src/store/index.ts
  packages/core/types/src/http/product/store/queries.ts
  packages/medusa/src/api/store/products/[id]/route.ts
  packages/medusa/src/api/store/products/route.ts
Labels: type: bug, team: medusa

#10711 docs: split events reference across modules
  www/apps/resources/.content.eslintrc.mjs
  www/apps/resources/app/admin-components/components/table/page.mdx
  www/apps/resources/app/commerce-modules/auth/events/_content.mdx
  www/apps/resources/app/commerce-modules/auth/events/page.mdx
  www/apps/resources/app/commerce-modules/cart/events/_content.mdx
  www/apps/resources/app/commerce-modules/cart/events/page.mdx
  www/apps/resources/app/commerce-modules/customer/events/_content.mdx
  www/apps/resources/app/commerce-modules/customer/events/page.mdx
  www/apps/resources/app/commerce-modules/order/events/_content.mdx
  www/apps/resources/app/commerce-modules/order/events/page.mdx
  www/apps/resources/app/commerce-modules/product/events/_content/product-category.mdx
  www/apps/resources/app/commerce-modules/product/events/_content/product-collection.mdx
  www/apps/resources/app/commerce-modules/product/events/_content/product-option.mdx
  www/apps/resources/app/commerce-modules/product/events/_content/product-tag.mdx
  www/apps/resources/app/commerce-modules/product/events/_content/product-type.mdx
  www/apps/resources/app/commerce-modules/product/events/_content/product-variant.mdx
  www/apps/resources/app/commerce-modules/product/events/_content/product.mdx
  www/apps/resources/app/commerce-modules/product/events/page.mdx
  www/apps/resources/app/commerce-modules/region/events/_content.mdx
  www/apps/resources/app/commerce-modules/region/events/page.mdx
  www/apps/resources/app/commerce-modules/sales-channel/events/_content.mdx
  www/apps/resources/app/commerce-modules/sales-channel/events/page.mdx
  www/apps/resources/app/commerce-modules/user/events/_content/invite.mdx
  www/apps/resources/app/commerce-modules/user/events/_content/user.mdx
  www/apps/resources/app/commerce-modules/user/events/page.mdx
  www/apps/resources/app/events-reference/page.mdx
  www/apps/resources/app/integrations/guides/shipstation/page.mdx
  www/apps/resources/generated/edit-dates.mjs
  www/apps/resources/generated/files-map.mjs
  www/apps/resources/generated/sidebar.mjs
  www/apps/resources/sidebars/auth.mjs
  www/apps/resources/sidebars/cart.mjs
  www/apps/resources/sidebars/customer.mjs
  www/apps/resources/sidebars/order-module.mjs
  www/apps/resources/sidebars/product.mjs
  www/apps/resources/sidebars/region.mjs
  www/apps/resources/sidebars/sales-channel.mjs
  www/apps/resources/sidebars/user.mjs
Labels: type: docs, team: medusa

#10719 docs: split admin widget zone to pages
  www/apps/resources/app/admin-widget-injection-zones/page.mdx
  www/apps/resources/app/commerce-modules/api-key/admin-widget-zones/_content.mdx
  www/apps/resources/app/commerce-modules/api-key/admin-widget-zones/page.mdx
  www/apps/resources/app/commerce-modules/auth/admin-widget-zones/_content.mdx
  www/apps/resources/app/commerce-modules/auth/admin-widget-zones/page.mdx
  www/apps/resources/app/commerce-modules/customer/admin-widget-zones/_content/customer-group.mdx
  www/apps/resources/app/commerce-modules/customer/admin-widget-zones/_content/customer.mdx
  www/apps/resources/app/commerce-modules/customer/admin-widget-zones/page.mdx
  www/apps/resources/app/commerce-modules/fulfillment/admin-widget-zones/_content.mdx
  www/apps/resources/app/commerce-modules/fulfillment/admin-widget-zones/page.mdx
  www/apps/resources/app/commerce-modules/inventory/admin-widget-zones/_content/inventory.mdx
  www/apps/resources/app/commerce-modules/inventory/admin-widget-zones/_content/reservation.mdx
  www/apps/resources/app/commerce-modules/inventory/admin-widget-zones/page.mdx
  www/apps/resources/app/commerce-modules/order/admin-widget-zones/_content/order.mdx
  www/apps/resources/app/commerce-modules/order/admin-widget-zones/_content/return-reason.mdx
  www/apps/resources/app/commerce-modules/order/admin-widget-zones/page.mdx
  www/apps/resources/app/commerce-modules/pricing/admin-widget-zones/_content.mdx
  www/apps/resources/app/commerce-modules/pricing/admin-widget-zones/page.mdx
  www/apps/resources/app/commerce-modules/product/admin-widget-zones/_content/product-category.mdx
  www/apps/resources/app/commerce-modules/product/admin-widget-zones/_content/product-collection.mdx
  www/apps/resources/app/commerce-modules/product/admin-widget-zones/_content/product-variant.mdx
  www/apps/resources/app/commerce-modules/product/admin-widget-zones/_content/product.mdx
  www/apps/resources/app/commerce-modules/product/admin-widget-zones/page.mdx
  www/apps/resources/app/commerce-modules/promotion/admin-widget-zones/_content/campaign.mdx
  www/apps/resources/app/commerce-modules/promotion/admin-widget-zones/_content/promotion.mdx
  www/apps/resources/app/commerce-modules/promotion/admin-widget-zones/page.mdx
  www/apps/resources/app/commerce-modules/region/admin-widget-zones/_content.mdx
  www/apps/resources/app/commerce-modules/region/admin-widget-zones/page.mdx
  www/apps/resources/app/commerce-modules/sales-channel/admin-widget-zones/_content.mdx
  www/apps/resources/app/commerce-modules/sales-channel/admin-widget-zones/page.mdx
  www/apps/resources/app/commerce-modules/stock-location/admin-widget-zones/_content.mdx
  www/apps/resources/app/commerce-modules/stock-location/admin-widget-zones/page.mdx
  www/apps/resources/app/commerce-modules/store/admin-widget-zones/_content.mdx
  www/apps/resources/app/commerce-modules/store/admin-widget-zones/page.mdx
  www/apps/resources/app/commerce-modules/tax/admin-widget-zones/_content.mdx
  www/apps/resources/app/commerce-modules/tax/admin-widget-zones/page.mdx
  www/apps/resources/app/commerce-modules/user/admin-widget-zones/_content/profile.mdx
  www/apps/resources/app/commerce-modules/user/admin-widget-zones/_content/user.mdx
  www/apps/resources/app/commerce-modules/user/admin-widget-zones/page.mdx
  www/apps/resources/generated/edit-dates.mjs
  www/apps/resources/generated/files-map.mjs
  www/apps/resources/generated/sidebar.mjs
  www/apps/resources/sidebars/api-key.mjs
  www/apps/resources/sidebars/auth.mjs
  www/apps/resources/sidebars/customer.mjs
  www/apps/resources/sidebars/fulfillment.mjs
  www/apps/resources/sidebars/inventory.mjs
  www/apps/resources/sidebars/order-module.mjs
  www/apps/resources/sidebars/pricing.mjs
  www/apps/resources/sidebars/product.mjs
  www/apps/resources/sidebars/promotion.mjs
  www/apps/resources/sidebars/region.mjs
  www/apps/resources/sidebars/sales-channel.mjs
  www/apps/resources/sidebars/stock-location.mjs
  www/apps/resources/sidebars/store.mjs
  www/apps/resources/sidebars/tax.mjs
  www/apps/resources/sidebars/user.mjs
Labels: type: docs, team: medusa

#10726 docs: improve link docs for commerce modules
  www/apps/resources/app/commerce-modules/api-key/links-to-other-modules/page.mdx
  www/apps/resources/app/commerce-modules/cart/links-to-other-modules/page.mdx
  www/apps/resources/app/commerce-modules/currency/links-to-other-modules/page.mdx
  www/apps/resources/app/commerce-modules/customer/links-to-other-modules/page.mdx
  www/apps/resources/app/commerce-modules/fulfillment/links-to-other-modules/page.mdx
  www/apps/resources/app/commerce-modules/inventory/links-to-other-modules/page.mdx
  www/apps/resources/app/commerce-modules/order/links-to-other-modules/page.mdx
  www/apps/resources/app/commerce-modules/payment/links-to-other-modules/page.mdx
  www/apps/resources/app/commerce-modules/pricing/links-to-other-modules/page.mdx
  www/apps/resources/app/commerce-modules/product/links-to-other-modules/page.mdx
  www/apps/resources/app/commerce-modules/promotion/links-to-other-modules/page.mdx
  www/apps/resources/app/commerce-modules/region/links-to-other-modules/page.mdx
  www/apps/resources/app/commerce-modules/sales-channel/links-to-other-modules/page.mdx
  www/apps/resources/app/commerce-modules/stock-location/links-to-other-modules/page.mdx
  www/apps/resources/app/commerce-modules/store/links-to-other-modules/page.mdx
  www/apps/resources/generated/edit-dates.mjs
  www/apps/resources/generated/files-map.mjs
  www/apps/resources/generated/sidebar.mjs
  www/apps/resources/sidebars/currency.mjs
  www/apps/resources/sidebars/customer.mjs
  www/apps/resources/sidebars/store.mjs
Labels: type: docs, team: medusa

#10727 docs: fix multiple typos in customization chapters
  www/apps/book/app/learn/customization/customize-admin/route/page.mdx
  www/apps/book/app/learn/customization/integrate-systems/handle-event/page.mdx
  www/apps/book/app/learn/customization/integrate-systems/schedule-task/page.mdx
  www/apps/book/generated/edit-dates.mjs
Labels: type: docs, team: medusa

#10732 fix(core-flows): export updateTaxRegionsStep
  .changeset/chatty-zebras-smash.md
  packages/core/core-flows/src/tax/steps/index.ts
Labels: type: bug, automerge, team: medusa

#10737 feat(medusa): Add health endpoint for all running modes of medusa
  packages/core/framework/src/http/express-loader.ts
  packages/medusa/src/commands/start.ts
Labels: type: feature, team: medusa

#10739 chore(js-sdk): add tags to js-sdk
  packages/core/js-sdk/src/admin/index.ts
  packages/core/js-sdk/src/auth/index.ts
  packages/core/js-sdk/src/store/index.ts
Labels: type: chore, team: medusa

#10742 chore: improve payment provider tsdocs + generate reference
  packages/core/utils/src/fulfillment/provider.ts
  packages/core/utils/src/payment/abstract-payment-provider.ts
  www/apps/resources/generated/edit-dates.mjs
  www/apps/resources/references/payment_provider/classes/payment_provider.AbstractPaymentProvider/page.mdx
  www/packages/tags/src/tags/index.ts
  www/utils/generated/typedoc-json-output/payment-provider.json
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/payment-provider.ts
Labels: type: docs, type: chore, team: medusa

#10744 docs: fix and improve details on sending authenticated requests with API token
  www/apps/api-reference/markdown/admin.mdx
  www/apps/api-reference/markdown/client-libraries.mdx
  www/apps/api-reference/specs/admin/openapi.full.yaml
  www/apps/api-reference/specs/admin/openapi.yaml
  www/apps/api-reference/specs/store/openapi.full.yaml
  www/apps/api-reference/specs/store/paths/store_products.yaml
  www/utils/generated/oas-output/base/admin.oas.base.yaml
Labels: type: docs, team: medusa

#10748 docs: document how to calculate shipping prices in storefront
  www/apps/resources/app/storefront-development/cart/manage-items/page.mdx
  www/apps/resources/app/storefront-development/checkout/shipping/page.mdx
  www/apps/resources/app/storefront-development/products/retrieve/page.mdx
  www/apps/resources/generated/edit-dates.mjs
  www/apps/resources/generated/sidebar.mjs
  www/apps/resources/sidebars/storefront.mjs
Labels: type: docs, team: medusa

#10752 docs: allow scroll with keys
  www/packages/docs-ui/src/hooks/use-scroll-utils/index.tsx
Labels: type: docs, team: medusa

#10755 feat(create-medusa-app): allow passing project name on command line
  .changeset/light-dodos-knock.md
  packages/cli/create-medusa-app/src/commands/create.ts
  packages/cli/create-medusa-app/src/index.ts
  packages/cli/create-medusa-app/src/utils/log-message.ts
Labels: automerge, type: feature, team: medusa

#10768 feat: deprecate remote link
  .changeset/metal-weeks-retire.md
  packages/core/core-flows/src/api-key/steps/link-sales-channels-to-publishable-key.ts
  packages/core/core-flows/src/cart/steps/update-cart-promotions.ts
  packages/core/core-flows/src/common/steps/create-remote-links.ts
  packages/core/core-flows/src/common/steps/dismiss-remote-links.ts
  packages/core/core-flows/src/common/steps/remove-remote-links.ts
  packages/core/core-flows/src/common/steps/update-remote-links.ts
  packages/core/core-flows/src/fulfillment/steps/set-shipping-options-price-sets.ts
  packages/core/core-flows/src/inventory/steps/attach-inventory-items.ts
  packages/core/core-flows/src/inventory/steps/validate-singular-inventory-items-for-tags.ts
  packages/core/core-flows/src/product/steps/create-variant-pricing-link.ts
  packages/core/core-flows/src/product/steps/get-variant-pricing-link.ts
  packages/core/core-flows/src/region/steps/set-regions-payment-providers.ts
  packages/core/core-flows/src/sales-channel/steps/associate-locations-with-channels.ts
  packages/core/core-flows/src/sales-channel/steps/associate-products-with-channels.ts
  packages/core/core-flows/src/sales-channel/steps/detach-locations-from-channels.ts
  packages/core/core-flows/src/sales-channel/steps/detach-products-from-sales-channels.ts
  packages/core/core-flows/src/stock-location/steps/associate-locations-with-fulfillment-sets.ts
  packages/core/framework/src/medusa-app-loader.ts
  packages/core/framework/src/types/container.ts
  packages/core/modules-sdk/src/__tests__/remote-link.spec.ts
  packages/core/modules-sdk/src/index.ts
  packages/core/modules-sdk/src/link.ts
  packages/core/modules-sdk/src/medusa-app.ts
  packages/core/utils/src/common/container.ts
Labels: type: feature, team: medusa
