Repository medusajs/medusa, pull requests merged in 2025-03, with the labels that each got.

#11666 chore(): Improve cart update line items
  .changeset/fast-houses-invent.md
  packages/core/core-flows/src/cart/steps/get-line-item-actions.ts
  packages/core/core-flows/src/cart/steps/update-line-items.ts
  packages/core/core-flows/src/cart/utils/prepare-confirm-inventory-input.ts
  packages/core/core-flows/src/cart/workflows/add-to-cart.ts
  packages/core/types/src/cart/mutations.ts
  packages/core/types/src/cart/service.ts
  packages/core/types/src/cart/workflows.ts
  packages/modules/cart/integration-tests/__tests__/services/cart-module/index.spec.ts
  packages/modules/cart/src/services/cart-module.ts
Labels: type: chore, automerge, team: medusa

#11688 docs: fix examples in workflows reference
  www/apps/resources/references/workflows/functions/workflows.createStep/page.mdx
  www/apps/resources/references/workflows/functions/workflows.createWorkflow/page.mdx
  www/apps/resources/references/workflows/functions/workflows.parallelize/page.mdx
  www/utils/generated/typedoc-json-output/workflows.json
Labels: type: docs, team: medusa

#11669 fix(dashboard): variant inventory section
  packages/admin/dashboard/src/routes/products/product-detail/components/product-variant-section/product-variant-section.tsx
Labels: type: bug, automerge, team: medusa

#11690 fix(dashboard): bust variant inventory cache on inventory update
  .changeset/quiet-numbers-bow.md
  packages/admin/dashboard/src/hooks/api/inventory.tsx
Labels: type: bug, team: medusa

#11692 fix(types,medusa): calculate taxes for original price
  .changeset/chilled-kings-flow.md
  integration-tests/http/__tests__/product/store/product.spec.ts
  packages/core/types/src/http/pricing/common.ts
  packages/medusa/src/api/store/products/helpers.ts
Labels: type: bug, team: medusa

#11487 fix(dashboard): Use derived state in DataTable
  .changeset/breezy-bananas-kick.md
  packages/admin/dashboard/src/components/data-table/data-table.tsx
  packages/admin/dashboard/src/components/modals/hooks/use-state-aware-to.tsx
  packages/admin/dashboard/src/components/modals/route-drawer/route-drawer.tsx
  packages/admin/dashboard/src/components/modals/route-focus-modal/route-focus-modal.tsx
  packages/admin/dashboard/src/components/modals/route-modal-provider/route-provider.tsx
  packages/admin/dashboard/src/routes/products/product-detail/components/product-variant-section/product-variant-section.tsx
Labels: type: bug, automerge, team: medusa

#11694 docs: add section on row click in DataTable
  www/apps/book/public/llms-full.txt
  www/apps/resources/app/admin-components/components/data-table/page.mdx
  www/apps/resources/app/admin-components/components/table/page.mdx
  www/apps/resources/app/recipes/subscriptions/examples/standard/page.mdx
  www/apps/resources/generated/edit-dates.mjs
  www/apps/ui/package.json
  www/apps/ui/src/components/component-reference.tsx
  www/apps/ui/src/content/docs/components/data-table.mdx
  www/apps/ui/src/examples/data-table-row-click.tsx
  www/apps/ui/src/registries/example-registry.tsx
  www/packages/docs-ui/src/hooks/use-active-on-scroll/index.tsx
  www/yarn.lock
Labels: type: docs, team: medusa

#11695 docs: add more clarification to reset password in API reference
  www/apps/api-reference/specs/admin/openapi.full.yaml
  www/apps/api-reference/specs/admin/paths/auth_user_{auth_provider}_reset-password.yaml
  www/apps/api-reference/specs/admin/paths/auth_user_{auth_provider}_update.yaml
  www/apps/api-reference/specs/store/openapi.full.yaml
  www/apps/api-reference/specs/store/paths/auth_customer_{auth_provider}_reset-password.yaml
  www/apps/api-reference/specs/store/paths/auth_customer_{auth_provider}_update.yaml
  www/apps/resources/app/commerce-modules/auth/reset-password/page.mdx
  www/utils/generated/oas-output/operations/admin/post_auth_[actor_type]_[auth_provider]_reset-password.ts
  www/utils/generated/oas-output/operations/admin/post_auth_[actor_type]_[auth_provider]_update.ts
  www/utils/generated/oas-output/operations/store/post_auth_[actor_type]_[auth_provider]_reset-password.ts
  www/utils/generated/oas-output/operations/store/post_auth_[actor_type]_[auth_provider]_update.ts
Labels: type: docs, team: medusa

#11664 fix(dashboard, core-flows, medusa): prevent creation of empty fulfillments
  .changeset/violet-carrots-unite.md
  packages/admin/dashboard/src/routes/orders/order-create-fulfillment/components/order-create-fulfillment-form/order-create-fulfillment-form.tsx
  packages/core/core-flows/src/order/workflows/create-fulfillment.ts
  packages/medusa/src/api/admin/orders/validators.ts
Labels: type: bug, automerge, team: medusa

#11696 docs: Added a missing "/"
  www/apps/resources/app/medusa-workflows-reference/page.mdx
Labels: type: docs, automerge

#11701 docs: open prerequisite links in new tab
  www/packages/docs-ui/src/components/Prerequisites/Item/index.tsx
  www/packages/docs-ui/src/components/Prerequisites/index.tsx
Labels: type: docs, team: medusa

#11712 fix(order): summary raw totals
  .changeset/thick-readers-add.md
  packages/core/core-flows/src/payment/workflows/refund-payment.ts
  packages/modules/order/src/utils/apply-order-changes.ts
Labels: type: bug, automerge, team: medusa

#11711 docs: update OAS of reset password routes
  www/apps/api-reference/components/Tags/Operation/DescriptionSection/Security/index.tsx
  www/apps/api-reference/types/openapi.ts
  www/utils/generated/oas-output/base/admin.oas.base.yaml
  www/utils/generated/oas-output/base/store.oas.base.yaml
  www/utils/generated/oas-output/operations/admin/post_auth_[actor_type]_[auth_provider]_update.ts
  www/utils/generated/oas-output/operations/store/post_auth_[actor_type]_[auth_provider]_update.ts
Labels: type: docs, team: medusa

#11646 feat: Replace existing router with the new implementation
  .changeset/warm-spiders-smell.md
  packages/core/framework/package.json
  packages/core/framework/src/http/__fixtures__/server/index.ts
  packages/core/framework/src/http/__tests__/index.spec.ts
  packages/core/framework/src/http/__tests__/middleware-file-loader.spec.ts
  packages/core/framework/src/http/__tests__/routes-loader.spec.ts
  packages/core/framework/src/http/__tests__/routes-sorter.spec.ts
  packages/core/framework/src/http/middleware-file-loader.ts
  packages/core/framework/src/http/middlewares/apply-default-filters.ts
  packages/core/framework/src/http/middlewares/apply-params-as-filters.ts
  packages/core/framework/src/http/middlewares/bodyparser.ts
  packages/core/framework/src/http/middlewares/clear-filters-by-key.ts
  packages/core/framework/src/http/middlewares/ensure-publishable-api-key.ts
  packages/core/framework/src/http/middlewares/error-handler.ts
  packages/core/framework/src/http/router.ts
  packages/core/framework/src/http/routes-finder.ts
  packages/core/framework/src/http/routes-loader.ts
  packages/core/framework/src/http/routes-sorter.ts
  packages/core/framework/src/http/types.ts
  packages/core/framework/src/http/utils/define-middlewares.ts
  packages/core/framework/src/http/utils/maybe-apply-link-filter.ts
  packages/core/framework/src/http/utils/wrap-handler.ts
  packages/medusa/src/api/admin/inventory-items/middlewares.ts
  packages/medusa/src/api/admin/payments/middlewares.ts
  packages/medusa/src/api/admin/products/middlewares.ts
  packages/medusa/src/api/admin/promotions/middlewares.ts
  packages/medusa/src/api/admin/workflows-executions/middlewares.ts
  packages/medusa/src/instrumentation/index.ts
  packages/medusa/src/loaders/api.ts
  yarn.lock
Labels: type: feature, team: medusa

#11707 chore(framework): Unified resource loading and exclude non js/ts files
  .changeset/six-parrots-shave.md
  packages/core/framework/src/jobs/__fixtures__/plugin/jobs-with-other-files/order-summary.md
  packages/core/framework/src/jobs/__fixtures__/plugin/jobs-with-other-files/order-summary.txt
  packages/core/framework/src/jobs/__tests__/register-jobs.spec.ts
  packages/core/framework/src/jobs/job-loader.ts
  packages/core/framework/src/subscribers/__fixtures__/subscribers/order-notifier-md.md
  packages/core/framework/src/subscribers/__fixtures__/subscribers/order-notifier-txt.txt
  packages/core/framework/src/subscribers/subscriber-loader.ts
  packages/core/framework/src/utils/resource-loader.ts
  packages/core/framework/src/workflows/workflow-loader.ts
Labels: type: chore, team: medusa

#11714 fix(inventory): Wrong event emitted on reservation update
  .changeset/tall-mice-smile.md
  packages/modules/inventory/integration-tests/__tests__/inventory-module-service.spec.ts
  packages/modules/inventory/src/services/inventory-module.ts
Labels: type: bug, team: medusa

#11708 docs: changes for next release
  www/apps/book/app/learn/fundamentals/api-routes/middlewares/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/public/llms-full.txt
  www/apps/resources/app/commerce-modules/auth/authentication-route/page.mdx
  www/apps/resources/app/storefront-development/customers/reset-password/page.mdx
  www/apps/resources/generated/edit-dates.mjs
Labels: type: docs, team: medusa

#11737 docs-util: fix freshness check script
  www/utils/packages/scripts/freshness-check.ts
Labels: type: docs, team: medusa

#11724 chore(product): Improve product normalization and fix http router with tracing
  .changeset/heavy-items-own.md
  packages/core/framework/src/http/__fixtures__/routers/admin/fail/route.ts
  packages/core/framework/src/http/__tests__/index.spec.ts
  packages/core/framework/src/http/__tests__/routes-loader.spec.ts
  packages/core/framework/src/http/router.ts
  packages/medusa/package.json
  packages/medusa/src/instrumentation/__fixtures__/mocks/index.ts
  packages/medusa/src/instrumentation/__fixtures__/routers/admin/fail/route.ts
  packages/medusa/src/instrumentation/__fixtures__/routers/middlewares.ts
  packages/medusa/src/instrumentation/__fixtures__/server/index.ts
  packages/medusa/src/instrumentation/__tests__/index.spec.ts
  packages/medusa/src/instrumentation/index.ts
  packages/modules/product/integration-tests/__tests__/product-module-service/products.spec.ts
  packages/modules/product/src/services/product-module-service.ts
  yarn.lock
Labels: type: chore, automerge, team: medusa

#11742 fix(pricing): events
  .changeset/tender-horses-jog.md
  packages/modules/pricing/integration-tests/__tests__/services/pricing-module/price-list.spec.ts
  packages/modules/pricing/src/services/pricing-module.ts
  packages/modules/pricing/src/utils/events.ts
Labels: type: bug, team: medusa

#11747 docs: fix tag for JS SDK draft order + other fixes
  www/apps/resources/references/js_sdk/admin/Admin/properties/js_sdk.admin.Admin.draftOrder/page.mdx
  www/apps/resources/references/js_sdk/admin/Admin/properties/js_sdk.admin.Admin.product/page.mdx
  www/apps/resources/references/js_sdk/admin/Admin/properties/js_sdk.admin.Admin.productCollection/page.mdx
  www/apps/resources/references/js_sdk/admin/Product/methods/js_sdk.admin.Product.list/page.mdx
  www/apps/resources/references/js_sdk/admin/ProductCollection/methods/js_sdk.admin.ProductCollection.list/page.mdx
  www/packages/tags/src/tags/admin.ts
  www/packages/tags/src/tags/draft-order.ts
  www/packages/tags/src/tags/index.ts
  www/packages/tags/src/tags/js-sdk.ts
  www/packages/tags/src/tags/order.ts
  www/packages/tags/src/tags/workflow.ts
  www/utils/generated/typedoc-json-output/js-sdk.json
Labels: type: docs, team: medusa

#11748 chore(js-sdk): fix tsdocs for properties and methods
  packages/core/js-sdk/src/admin/index.ts
  packages/core/js-sdk/src/admin/product-collection.ts
  packages/core/js-sdk/src/admin/product.ts
Labels: type: chore, team: medusa

#11750 docs: changes to main docs sidebar
  .github/workflows/docs-test.yml
  www/apps/book/app/learn/debugging-and-testing/page.mdx
  www/apps/book/app/learn/fundamentals/admin/tips/page.mdx
  www/apps/book/app/learn/fundamentals/environment-variables/page.mdx
  www/apps/book/app/learn/more-resources/page.mdx
  www/apps/book/app/learn/resources/contribution-guidelines/admin-translations/page.mdx
  www/apps/book/app/learn/resources/contribution-guidelines/docs/page.mdx
  www/apps/book/app/learn/resources/usage/page.mdx
  www/apps/book/config/index.ts
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/generated/sidebar.mjs
  www/apps/book/next.config.mjs
  www/apps/book/public/llms-full.txt
  www/apps/book/sidebar.mjs
  www/apps/book/utils/redirects.mjs
  www/apps/resources/generated/edit-dates.mjs
  www/apps/resources/generated/files-map.mjs
  www/apps/resources/generated/sidebar.mjs
  www/apps/resources/next.config.mjs
  www/apps/resources/sidebar.mjs
  www/apps/user-guide/app/settings/profile/page.mdx
  www/apps/user-guide/app/tips/languages/page.mdx
  www/apps/user-guide/generated/edit-dates.mjs
  www/packages/build-scripts/src/utils/number-sidebar-items.ts
  www/packages/docs-ui/src/components/Breadcrumbs/index.tsx
  www/packages/docs-ui/src/components/Sidebar/Item/Link/index.tsx
  www/packages/docs-ui/src/components/Sidebar/Item/index.tsx
  www/packages/docs-ui/src/providers/Sidebar/index.tsx
  www/packages/tags/src/tags/index.ts
  www/packages/types/src/sidebar.ts
  www/vale/get-files.sh
  www/vale/run-vale.sh
Labels: type: docs, team: medusa

#11751 docs: add sidebar sorting logic
  www/apps/resources/app/storefront-development/guides/express-checkout/page.mdx
  www/apps/resources/generated/sidebar.mjs
  www/apps/resources/sidebar.mjs
  www/apps/resources/sidebars/api-key.mjs
  www/apps/resources/sidebars/architectural-modules.mjs
  www/apps/resources/sidebars/auth.mjs
  www/apps/resources/sidebars/cart.mjs
  www/apps/resources/sidebars/currency.mjs
  www/apps/resources/sidebars/customer.mjs
  www/apps/resources/sidebars/examples.mjs
  www/apps/resources/sidebars/fulfillment.mjs
  www/apps/resources/sidebars/inventory.mjs
  www/apps/resources/sidebars/order-module.mjs
  www/apps/resources/sidebars/payment.mjs
  www/apps/resources/sidebars/pricing.mjs
  www/apps/resources/sidebars/product.mjs
  www/apps/resources/sidebars/promotion.mjs
  www/apps/resources/sidebars/region.mjs
  www/apps/resources/sidebars/sales-channel.mjs
  www/apps/resources/sidebars/stock-location.mjs
  www/apps/resources/sidebars/store.mjs
  www/apps/resources/sidebars/tax.mjs
  www/apps/resources/sidebars/user.mjs
  www/packages/build-scripts/src/generate-sidebar.ts
  www/packages/build-scripts/src/utils/sidebar-sorting.ts
  www/packages/tags/src/tags/index.ts
  www/packages/tags/src/tags/js-sdk.ts
  www/packages/types/src/sidebar.ts
Labels: type: docs, team: medusa

#11755 docs-util: add exceptions for routes with custom auth middleware
  www/apps/api-reference/specs/admin/openapi.full.yaml
  www/apps/api-reference/specs/admin/paths/admin_invites.yaml
  www/apps/api-reference/specs/admin/paths/admin_invites_accept.yaml
  www/apps/api-reference/specs/admin/paths/admin_invites_{id}.yaml
  www/apps/api-reference/specs/admin/paths/admin_invites_{id}_resend.yaml
  www/apps/api-reference/specs/admin/paths/admin_users.yaml
  www/apps/api-reference/specs/admin/paths/admin_users_me.yaml
  www/apps/api-reference/specs/admin/paths/admin_users_{id}.yaml
  www/utils/generated/oas-output/operations/admin/delete_admin_invites_[id].ts
  www/utils/generated/oas-output/operations/admin/delete_admin_users_[id].ts
  www/utils/generated/oas-output/operations/admin/get_admin_invites.ts
  www/utils/generated/oas-output/operations/admin/get_admin_invites_[id].ts
  www/utils/generated/oas-output/operations/admin/get_admin_users.ts
  www/utils/generated/oas-output/operations/admin/get_admin_users_[id].ts
  www/utils/generated/oas-output/operations/admin/get_admin_users_me.ts
  www/utils/generated/oas-output/operations/admin/post_admin_invites.ts
  www/utils/generated/oas-output/operations/admin/post_admin_invites_[id]_resend.ts
  www/utils/generated/oas-output/operations/admin/post_admin_invites_accept.ts
  www/utils/generated/oas-output/operations/admin/post_admin_users_[id].ts
  www/utils/packages/docs-generator/src/classes/kinds/oas.ts
Labels: type: docs, team: medusa

#11753 docs: change link to cloud pricing
  www/apps/book/app/learn/deployment/general/page.mdx
  www/apps/book/app/learn/deployment/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/generated/sidebar.mjs
  www/apps/book/public/llms-full.txt
  www/apps/resources/generated/sidebar.mjs
  www/apps/resources/sidebar.mjs
Labels: type: docs, team: medusa

#11740 fix(workflow-engine-redis): Split the queues and respect worker mode for job executions
  .changeset/thick-steaks-wait.md
  packages/modules/workflow-engine-redis/src/loaders/redis.ts
  packages/modules/workflow-engine-redis/src/types/index.ts
  packages/modules/workflow-engine-redis/src/utils/workflow-orchestrator-storage.ts
Labels: type: bug, automerge, team: medusa

#11756 feat(workflows-sdk): Allow when then in parallelize
  .changeset/rich-drinks-punch.md
  packages/core/core-flows/src/product/workflows/batch-products.ts
  packages/core/workflows-sdk/src/utils/composer/__tests__/compose.ts
  packages/core/workflows-sdk/src/utils/composer/parallelize.ts
  packages/core/workflows-sdk/src/utils/composer/type.ts
Labels: automerge, type: feature, team: medusa

#11758 fix(core-flows): conditionally create, update or delete products when input is present
  integration-tests/http/__tests__/product/admin/product.spec.ts
  packages/core/core-flows/src/product/workflows/batch-products.ts
Labels: type: bug, automerge, team: medusa

#11765 Fix(framework): http cors middleware order and options
  .changeset/odd-cycles-destroy.md
  packages/core/framework/src/http/__fixtures__/routers/store/custom/route.ts
  packages/core/framework/src/http/__fixtures__/server/index.ts
  packages/core/framework/src/http/__tests__/index.spec.ts
  packages/core/framework/src/http/__tests__/routes-loader.spec.ts
  packages/core/framework/src/http/middlewares/ensure-publishable-api-key.ts
  packages/core/framework/src/http/router.ts
  packages/core/framework/src/http/routes-loader.ts
Labels: type: bug, automerge, team: medusa

#11759 chore: pin swc to 1.5.7
  .changeset/sharp-poems-impress.md
  packages/medusa/package.json
  yarn.lock
Labels: type: bug, automerge, team: medusa

#11770 docs: update UI docs to latest version
  www/apps/api-reference/package.json
  www/apps/ui/package.json
  www/yarn.lock
Labels: type: docs, team: medusa

#11735 fix(core-flows): fulfillment reservation check
  .changeset/many-cycles-count.md
  integration-tests/http/__tests__/claims/claims.spec.ts
  integration-tests/http/__tests__/exchanges/exchanges.spec.ts
  integration-tests/http/__tests__/order/admin/rma-flows.spec.ts
  integration-tests/http/__tests__/returns/returns.spec.ts
  integration-tests/modules/__tests__/order/workflows/create-fulfillment.spec.ts
  packages/core/core-flows/src/order/workflows/claim/claim-add-new-item.ts
  packages/core/core-flows/src/order/workflows/claim/confirm-claim-request.ts
  packages/core/core-flows/src/order/workflows/create-fulfillment.ts
Labels: type: bug, team: medusa

#11733 fix(dashboard): allow creating fulfillment for items without shipping profile
  packages/admin/dashboard/src/routes/orders/order-create-fulfillment/components/order-create-fulfillment-form/order-create-fulfillment-form.tsx
Labels: type: bug, team: medusa

#11785 docs: fix duplicate footer in user guide
  www/apps/user-guide/app/layout.tsx
Labels: type: docs, team: medusa

#11731 fix(dashboard): display minute instead of month
  .changeset/forty-bananas-tie.md
  packages/admin/dashboard/src/components/table/table-cells/common/date-cell/date-cell.tsx
Labels: type: bug, automerge, team: medusa

#11788 fix(medusa): Apply middleware to GET customers/:id/addresses/:address_id
  .changeset/gorgeous-rats-watch.md
  packages/medusa/src/api/admin/customers/middlewares.ts
  packages/medusa/src/api/admin/customers/validators.ts
Labels: type: bug, automerge, team: medusa

#11789 fix(medusa): Use correct query config
  .changeset/fair-kings-add.md
  packages/medusa/src/api/admin/customers/middlewares.ts
Labels: type: bug, automerge, team: medusa

#11741 feat: add Quote Management guide
  www/apps/resources/.content.eslintrc.mjs
  www/apps/resources/app/examples/guides/custom-item-price/page.mdx
  www/apps/resources/app/examples/guides/quote-management/page.mdx
  www/apps/resources/app/integrations/guides/sanity/page.mdx
  www/apps/resources/generated/edit-dates.mjs
  www/apps/resources/generated/sidebar.mjs
  www/apps/resources/sidebars/examples.mjs
  www/apps/resources/sidebars/recipes.mjs
  www/packages/tags/src/tags/cart.ts
  www/packages/tags/src/tags/order.ts
  www/packages/tags/src/tags/server.ts
Labels: type: docs, team: medusa

#11806 docs: fix restaurant-delivery recipe after latest update
  www/apps/resources/app/recipes/marketplace/examples/restaurant-delivery/page.mdx
  www/apps/resources/generated/edit-dates.mjs
Labels: type: docs, team: medusa

#11809 docs: add missing details related to links and migrations
  www/apps/book/app/learn/configurations/medusa-config/page.mdx
  www/apps/book/app/learn/fundamentals/data-models/write-migration/page.mdx
  www/apps/book/app/learn/fundamentals/module-links/custom-columns/page.mdx
  www/apps/book/app/learn/fundamentals/module-links/page.mdx
  www/apps/book/app/learn/fundamentals/modules/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/generated/sidebar.mjs
  www/apps/book/public/llms-full.txt
  www/apps/book/sidebar.mjs
Labels: type: docs, team: medusa

#11810 docs: improvement to sidebar
  www/apps/book/generated/sidebar.mjs
  www/apps/book/sidebar.mjs
  www/packages/docs-ui/src/providers/Sidebar/index.tsx
Labels: type: docs, team: medusa

#11812 docs: add worker mode documentation + improvements
  www/apps/book/app/learn/configurations/medusa-config/page.mdx
  www/apps/book/app/learn/deployment/general/page.mdx
  www/apps/book/app/learn/deployment/page.mdx
  www/apps/book/app/learn/fundamentals/module-links/query/page.mdx
  www/apps/book/app/learn/introduction/architecture/page.mdx
  www/apps/book/app/learn/production/worker-mode/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/generated/sidebar.mjs
  www/apps/book/public/llms-full.txt
  www/apps/book/sidebar.mjs
Labels: type: docs, team: medusa

#11802 refactor: use module name as the snapshot name
  .changeset/shy-pugs-cough.md
  packages/core/utils/src/dal/mikro-orm/mikro-orm-create-connection.ts
  packages/core/utils/src/migrations/index.ts
  packages/core/utils/src/migrations/integration-tests/__tests__/migrations-generate.spec.ts
  packages/core/utils/src/modules-sdk/__tests__/mikro-orm-cli-config-builder.spec.ts
  packages/core/utils/src/modules-sdk/migration-scripts/migration-generate.ts
  packages/core/utils/src/modules-sdk/mikro-orm-cli-config-builder.ts
Labels: automerge, type: feature, team: medusa

#11818 chore(types): add tsdocs for locking module and provider
  packages/core/types/src/locking/index.ts
Labels: type: chore, team: medusa

#11771 fix(workflow-engines): race condition when retry interval is used
  .changeset/fifty-pigs-sit.md
  integration-tests/modules/__tests__/workflow-engine/tests.ts
  packages/core/orchestration/src/transaction/distributed-transaction.ts
  packages/core/orchestration/src/transaction/errors.ts
  packages/core/orchestration/src/transaction/transaction-orchestrator.ts
  packages/core/orchestration/src/transaction/types.ts
  packages/core/utils/src/modules-sdk/medusa-internal-service.ts
  packages/core/workflows-sdk/src/helper/type.ts
  packages/core/workflows-sdk/src/utils/composer/create-step.ts
  packages/core/workflows-sdk/src/utils/composer/create-workflow.ts
  packages/modules/workflow-engine-inmemory/integration-tests/__tests__/index.spec.ts
  packages/modules/workflow-engine-inmemory/integration-tests/__tests__/race.spec.ts
  packages/modules/workflow-engine-inmemory/package.json
  packages/modules/workflow-engine-inmemory/src/services/workflow-orchestrator.ts
  packages/modules/workflow-engine-inmemory/src/services/workflows-module.ts
  packages/modules/workflow-engine-inmemory/src/types/index.ts
  packages/modules/workflow-engine-inmemory/src/utils/workflow-orchestrator-storage.ts
  packages/modules/workflow-engine-redis/integration-tests/__fixtures__/workflow_step_timeout.ts
  packages/modules/workflow-engine-redis/integration-tests/__fixtures__/workflow_transaction_timeout.ts
  packages/modules/workflow-engine-redis/integration-tests/__tests__/index.spec.ts
  packages/modules/workflow-engine-redis/integration-tests/__tests__/race.spec.ts
  packages/modules/workflow-engine-redis/src/services/workflow-orchestrator.ts
  packages/modules/workflow-engine-redis/src/services/workflows-module.ts
  packages/modules/workflow-engine-redis/src/utils/workflow-orchestrator-storage.ts
Labels: type: bug, team: medusa

#11823 chore(types): small fixes to locking TSDocs
  packages/core/types/src/locking/index.ts
Labels: type: chore, team: medusa

#11822 chore(workflow-engine-redis): remove repeatable jobs from old queue
  .changeset/selfish-singers-hammer.md
  packages/modules/workflow-engine-redis/src/utils/workflow-orchestrator-storage.ts
Labels: type: chore, automerge, team: medusa

#11821 chore: admin product list transform filter
  .changeset/nine-owls-cheer.md
  packages/medusa/src/api/admin/products/route.ts
  packages/modules/index/src/utils/query-builder.ts
Labels: type: chore, team: medusa

#11825 fix(dashboard): Include thumbnail in default product query
  .changeset/thin-schools-swim.md
  packages/admin/dashboard/src/hooks/table/query/use-product-table-query.tsx
Labels: type: bug, automerge, team: medusa

#11799 fix(promotion): percentage value is accounted for in buyget promotions
  .changeset/friendly-comics-sort.md
  packages/modules/promotion/integration-tests/__tests__/services/promotion-module/compute-actions.spec.ts
  packages/modules/promotion/src/utils/compute-actions/buy-get.ts
Labels: type: bug, automerge, team: medusa

#11841 Update page.mdx
  www/apps/resources/app/deployment/page.mdx
Labels: type: docs, automerge

#11839 fix(workflow-engine-inmemory): Fail trap for integration tests
  packages/modules/workflow-engine-inmemory/integration-tests/__tests__/index.spec.ts
  packages/modules/workflow-engine-inmemory/integration-tests/__tests__/race.spec.ts
Labels: type: bug, automerge, team: medusa

#11859 Update page.mdx
  www/apps/resources/app/medusa-cli/commands/new/page.mdx
Labels: type: docs, automerge

#11767 feat: add check for uniqueness when creating links with isList=false
  .changeset/late-shirts-begin.md
  integration-tests/modules/__tests__/link-modules/define-link.spec.ts
  packages/core/modules-sdk/src/link.ts
  packages/core/utils/src/modules-sdk/define-link.ts
  packages/modules/link-modules/src/services/link.ts
Labels: type: feature, team: medusa

#11844 chore(workflow-engine): export cancel method
  .changeset/good-wolves-travel.md
  packages/core/orchestration/src/transaction/transaction-orchestrator.ts
  packages/core/types/src/workflows-sdk/service.ts
  packages/modules/workflow-engine-inmemory/integration-tests/__fixtures__/index.ts
  packages/modules/workflow-engine-inmemory/integration-tests/__fixtures__/workflow_sync.ts
  packages/modules/workflow-engine-inmemory/integration-tests/__tests__/index.spec.ts
  packages/modules/workflow-engine-inmemory/src/services/workflow-orchestrator.ts
  packages/modules/workflow-engine-inmemory/src/services/workflows-module.ts
  packages/modules/workflow-engine-inmemory/src/types/index.ts
  packages/modules/workflow-engine-redis/integration-tests/__fixtures__/index.ts
  packages/modules/workflow-engine-redis/integration-tests/__fixtures__/workflow_sync.ts
  packages/modules/workflow-engine-redis/integration-tests/__tests__/index.spec.ts
  packages/modules/workflow-engine-redis/src/services/workflow-orchestrator.ts
  packages/modules/workflow-engine-redis/src/services/workflows-module.ts
Labels: type: chore, automerge, team: medusa

#11569 fix(types,order,medusa): Create credit lines + hooks
  .changeset/pretty-fishes-grow.md
  integration-tests/http/__tests__/order/admin/order.spec.ts
  integration-tests/http/__tests__/promotions/admin/promotions.spec.ts
  integration-tests/modules/__tests__/cart/store/carts.spec.ts
  integration-tests/modules/__tests__/order/order.spec.ts
  packages/core/core-flows/src/cart/workflows/complete-cart.ts
  packages/core/core-flows/src/cart/workflows/refresh-cart-items.ts
  packages/core/core-flows/src/order/steps/confirm-order-changes.ts
  packages/core/core-flows/src/order/workflows/create-order-credit-lines.ts
  packages/core/core-flows/src/order/workflows/index.ts
  packages/core/js-sdk/src/admin/order.ts
  packages/core/types/src/http/order/admin/entities.ts
  packages/core/types/src/order/common.ts
  packages/core/types/src/order/mutations.ts
  packages/core/types/src/order/service.ts
  packages/core/utils/src/totals/__tests__/totals.ts
  packages/core/utils/src/totals/cart/index.ts
  packages/medusa/src/api/admin/orders/[id]/credit-lines/route.ts
  packages/medusa/src/api/admin/orders/middlewares.ts
  packages/medusa/src/api/admin/orders/query-config.ts
  packages/medusa/src/api/admin/orders/validators.ts
  packages/medusa/src/api/store/carts/query-config.ts
  packages/medusa/src/api/store/orders/query-config.ts
  packages/modules/cart/integration-tests/__tests__/services/cart-module/index.spec.ts
  packages/modules/order/src/services/order-module-service.ts
  packages/modules/order/src/types/utils/index.ts
  packages/modules/order/src/utils/actions/credit-line-add.ts
  packages/modules/order/src/utils/apply-order-changes.ts
  packages/modules/order/src/utils/calculate-order-change.ts
  packages/modules/pricing/integration-tests/__tests__/services/pricing-module/calculate-price.spec.ts
  packages/modules/workflow-engine-redis/integration-tests/__tests__/race.spec.ts
Labels: type: docs, automerge, type: feature, team: medusa

#11776 feat(dashboard): Balance settlement UI with refunds + credit lines
  packages/admin/dashboard/src/i18n/translations/$schema.json
  packages/admin/dashboard/src/i18n/translations/en.json
  packages/admin/dashboard/src/providers/router-provider/route-map.tsx
  packages/admin/dashboard/src/routes/orders/order-balance-settlement/components/order-balance-settlement-form/index.ts
  packages/admin/dashboard/src/routes/orders/order-balance-settlement/components/order-balance-settlement-form/order-balance-settlement-form.tsx
  packages/admin/dashboard/src/routes/orders/order-balance-settlement/index.ts
  packages/admin/dashboard/src/routes/orders/order-balance-settlement/order-balance-settlement.tsx
  packages/admin/dashboard/src/routes/orders/order-create-refund/components/create-refund-form/create-refund-form.tsx
  packages/admin/dashboard/src/routes/orders/order-detail/components/order-credit-lines-section/order-credit-lines-section.tsx
  packages/admin/dashboard/src/routes/orders/order-detail/components/order-summary-section/order-summary-section.tsx
Labels: type: feature, team: medusa

#11792 feat(core-flows,types,utils): make payment optional when cart balance is 0
  integration-tests/http/__tests__/cart/store/cart.spec.ts
  packages/admin/dashboard/src/dashboard-app/routes/get-route.map.tsx
  packages/core/core-flows/src/cart/steps/validate-cart-payments.ts
  packages/core/core-flows/src/cart/workflows/complete-cart.ts
  packages/core/core-flows/src/payment/steps/authorize-payment-session.ts
  packages/core/types/src/cart/common.ts
  packages/core/utils/src/totals/cart/index.ts
Labels: type: feature, team: medusa

#11872 feat(core-flows,types,utils): make payment optional when cart balance is 0
  .changeset/tricky-zoos-perform.md
  integration-tests/http/__tests__/cart/store/cart.spec.ts
  integration-tests/http/__tests__/order/admin/order.spec.ts
  packages/core/core-flows/src/cart/steps/validate-cart-payments.ts
  packages/core/core-flows/src/cart/workflows/complete-cart.ts
  packages/core/core-flows/src/payment/steps/authorize-payment-session.ts
  packages/core/types/src/cart/common.ts
  packages/core/utils/src/totals/__tests__/totals.ts
  packages/core/utils/src/totals/cart/index.ts
Labels: automerge, type: feature, team: medusa

#11876 feat(medusa,types): add enabled plugins route
  .changeset/giant-llamas-study.md
  packages/core/js-sdk/src/admin/index.ts
  packages/core/js-sdk/src/admin/plugin.ts
  packages/core/types/src/http/index.ts
  packages/core/types/src/http/plugins/admin/responses.ts
  packages/core/types/src/http/plugins/index.ts
  packages/medusa/src/api/admin/plugins/route.ts
Labels: type: feature, team: medusa

#11878 docs: read-only links + other changes
  www/apps/book/app/learn/fundamentals/api-routes/protected-routes/page.mdx
  www/apps/book/app/learn/fundamentals/module-links/directions/page.mdx
  www/apps/book/app/learn/fundamentals/module-links/read-only/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/generated/sidebar.mjs
  www/apps/book/public/llms-full.txt
  www/apps/book/sidebar.mjs
  www/apps/resources/app/architectural-modules/locking/postgres/page.mdx
  www/apps/resources/app/architectural-modules/locking/redis/page.mdx
  www/apps/resources/generated/generated-commerce-modules-sidebar.mjs
  www/apps/resources/sidebars/api-key.mjs
  www/apps/resources/sidebars/auth.mjs
  www/apps/resources/sidebars/tax.mjs
  www/apps/resources/utils/get-sidebar-for-path.ts
  www/packages/build-scripts/src/generate-sidebar.ts
  www/vale/styles/docs/ModuleNames.yml
Labels: type: docs, team: medusa

#11879 chore: added / improved tsdocs to cache, event, file, and notification modules
  packages/core/types/src/cache/service.ts
  packages/core/types/src/event-bus/common.ts
  packages/core/types/src/event-bus/event-bus-module.ts
  packages/core/types/src/file/common.ts
  packages/core/types/src/file/mutations.ts
  packages/core/types/src/file/service.ts
  packages/core/types/src/notification/mutations.ts
  packages/core/types/src/notification/service.ts
Labels: type: chore, team: medusa

#11857 Update draft-orders.md
  www/apps/docs/content/modules/orders/draft-orders.md
Labels: type: docs, automerge

#11883 docs: added how-to guides for architectural modules
  www/apps/resources/app/architectural-modules/workflow-engine/how-to-use/page.mdx
  www/apps/resources/generated/edit-dates.mjs
  www/apps/resources/generated/files-map.mjs
  www/apps/resources/generated/generated-architectural-modules-sidebar.mjs
  www/apps/resources/generated/generated-how-to-tutorials-sidebar.mjs
  www/apps/resources/generated/slug-changes.mjs
  www/apps/resources/references/_index.mdx
  www/apps/resources/references/cache/interfaces/cache.ICacheService/page.mdx
  www/apps/resources/references/event/interfaces/event.IEventBusModuleService/page.mdx
  www/apps/resources/references/file_service/interfaces/file_service.IFileModuleService/page.mdx
  www/apps/resources/references/modules/cache/page.mdx
  www/apps/resources/references/modules/event/page.mdx
  www/apps/resources/references/modules/file_service/page.mdx
  www/apps/resources/references/modules/notification_service/page.mdx
  www/apps/resources/references/notification_service/interfaces/notification_service.INotificationModuleService/page.mdx
  www/apps/resources/sidebars/architectural-modules.mjs
  www/apps/resources/utils/get-sidebar-for-path.ts
  www/packages/tags/src/tags/cache.ts
  www/packages/tags/src/tags/event.ts
  www/packages/tags/src/tags/file.ts
  www/packages/tags/src/tags/how-to.ts
  www/packages/tags/src/tags/index.ts
  www/packages/tags/src/tags/notification.ts
  www/packages/tags/src/tags/server.ts
  www/packages/tags/src/tags/workflow-engine.ts
  www/packages/tags/src/utils/generate-tags.ts
  www/utils/generated/typedoc-json-output/cache.json
  www/utils/generated/typedoc-json-output/event.json
  www/utils/generated/typedoc-json-output/file-service.json
  www/utils/generated/typedoc-json-output/notification-service.json
  www/utils/packages/typedoc-generate-references/src/constants/custom-options.ts
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/cache.ts
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/event.ts
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/file-service.ts
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/index.ts
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/notification-service.ts
  www/utils/packages/typedoc-generate-references/src/constants/references.ts
Labels: type: docs, team: medusa

#11845 fix(dashboard): location injection zones
  packages/admin/admin-shared/src/extensions/widgets/constants.ts
  packages/admin/dashboard/src/routes/locations/location-list/location-list.tsx
Labels: type: bug, automerge, team: medusa

#11874 fix: register locking provider with its unique id
  .changeset/hot-dolls-promise.md
  packages/modules/locking/src/loaders/providers.ts
Labels: type: bug, team: medusa

#11886 fix: hooks auto-generated types to have precise input options
  .changeset/fifty-badgers-punch.md
  packages/core/workflows-sdk/src/utils/composer/helpers/workflow-response.ts
  packages/core/workflows-sdk/src/utils/composer/type.ts
Labels: type: bug, team: medusa

#11887 docs: cache revalidation in next.js storefront + storefront totals
  www/apps/resources/app/architectural-modules/locking/page.mdx
  www/apps/resources/app/architectural-modules/locking/postgres/page.mdx
  www/apps/resources/app/architectural-modules/locking/redis/page.mdx
  www/apps/resources/app/nextjs-starter/guides/revalidate-cache/page.mdx
  www/apps/resources/app/recipes/marketplace/examples/vendors/page.mdx
  www/apps/resources/app/storefront-development/cart/totals/page.mdx
  www/apps/resources/app/storefront-development/checkout/order-confirmation/page.mdx
  www/apps/resources/app/storefront-development/checkout/page.mdx
  www/apps/resources/generated/edit-dates.mjs
  www/apps/resources/generated/files-map.mjs
  www/apps/resources/generated/generated-commerce-modules-sidebar.mjs
  www/apps/resources/generated/generated-storefront-development-sidebar.mjs
  www/apps/resources/generated/generated-tools-sidebar.mjs
  www/apps/resources/sidebars/storefront.mjs
  www/apps/resources/sidebars/tools.mjs
  www/packages/tags/src/tags/cart.ts
  www/packages/tags/src/tags/order.ts
  www/packages/tags/src/tags/storefront.ts
Labels: type: docs, team: medusa

#11888 docs-util: collapse types in references
  www/utils/packages/typedoc-plugin-markdown-medusa/src/utils/reflection-type-parameters.ts
Labels: type: docs, team: medusa

#11895 docs: added to workflow legend + example improvements
  www/apps/book/app/learn/debugging-and-testing/testing-tools/integration-tests/api-routes/page.mdx
  www/apps/book/app/learn/debugging-and-testing/testing-tools/modules-tests/module-example/page.mdx
  www/apps/book/app/learn/debugging-and-testing/testing-tools/modules-tests/page.mdx
  www/apps/book/app/learn/fundamentals/data-models/manage-relationships/page.mdx
  www/apps/book/app/learn/fundamentals/events-and-subscribers/emit-event/page.mdx
  www/apps/book/app/learn/fundamentals/modules/container/page.mdx
  www/apps/book/app/learn/fundamentals/modules/db-operations/page.mdx
  www/apps/book/app/learn/fundamentals/modules/multiple-services/page.mdx
  www/apps/book/app/learn/fundamentals/modules/options/page.mdx
  www/apps/book/app/learn/fundamentals/modules/service-constraints/page.mdx
  www/apps/book/app/learn/fundamentals/modules/service-factory/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/public/llms-full.txt
  www/apps/resources/app/examples/page.mdx
  www/apps/resources/app/recipes/marketplace/examples/vendors/page.mdx
  www/apps/resources/app/test-tools-reference/moduleIntegrationTestRunner/page.mdx
  www/apps/resources/generated/edit-dates.mjs
  www/packages/docs-ui/src/components/WorkflowDiagram/Common/Legend/index.tsx
  www/packages/docs-ui/src/components/WorkflowDiagram/List/index.tsx
Labels: type: docs, team: medusa

#11790 feat(core-flows): revisit fulfillment flow reservations and support inventory kit
  .changeset/swift-cycles-judge.md
  integration-tests/http/__tests__/order/admin/order.spec.ts
  packages/core/core-flows/src/order/utils/build-reservations-map.ts
  packages/core/core-flows/src/order/workflows/cancel-order-fulfillment.ts
  packages/core/core-flows/src/order/workflows/create-fulfillment.ts
Labels: type: bug, team: medusa

#11442 fix(ui): Disable select cells if the row cannot be selected
  .changeset/pretty-flowers-float.md
  packages/design-system/ui/src/blocks/data-table/components/data-table-select-cell.tsx
  packages/design-system/ui/src/blocks/data-table/data-table.stories.tsx
  packages/design-system/ui/src/blocks/data-table/use-data-table.tsx
Labels: type: bug, team: medusa

#11850 feat: Add support for generating a production-ready config out of the…
  packages/core/utils/src/common/__tests__/define-config.spec.ts
  packages/core/utils/src/common/define-config.ts
  packages/core/utils/src/modules-sdk/definition.ts
Labels: type: feature, team: medusa

#11927 docs: added troubleshooting guides + improvements
  www/apps/book/app/learn/fundamentals/admin/page.mdx
  www/apps/book/app/learn/fundamentals/module-links/query/page.mdx
  www/apps/book/app/learn/fundamentals/module-links/read-only/page.mdx
  www/apps/book/app/learn/fundamentals/modules/db-operations/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/public/llms-full.txt
  www/apps/resources/app/deployment/storefront/vercel/page.mdx
  www/apps/resources/app/how-to-tutorials/tutorials/product-reviews/page.mdx
  www/apps/resources/app/service-factory-reference/tips/filtering/page.mdx
  www/apps/resources/app/troubleshooting/_sections/admin/blocked-request.mdx
  www/apps/resources/app/troubleshooting/_sections/api-routes/additional-data.mdx
  www/apps/resources/app/troubleshooting/_sections/data-models/default-fields.mdx
  www/apps/resources/app/troubleshooting/_sections/query/not-existing-property.mdx
  www/apps/resources/app/troubleshooting/_sections/query/service-list.mdx
  www/apps/resources/app/troubleshooting/_sections/storefront/pak-sc.mdx
  www/apps/resources/app/troubleshooting/_sections/storefront/pak.mdx
  www/apps/resources/app/troubleshooting/_sections/storefront/rewrites.mdx
  www/apps/resources/app/troubleshooting/_sections/workflows/step-x-defined.mdx
  www/apps/resources/app/troubleshooting/api-routes/page.mdx
  www/apps/resources/app/troubleshooting/data-models/default-fields/page.mdx
  www/apps/resources/app/troubleshooting/medusa-admin/blocked-request/page.mdx
  www/apps/resources/app/troubleshooting/nextjs-starter-rewrites/page.mdx
  www/apps/resources/app/troubleshooting/query/filter-linked/page.mdx
  www/apps/resources/app/troubleshooting/query/service-list/page.mdx
  www/apps/resources/app/troubleshooting/storefront-missing-pak/page.mdx
  www/apps/resources/app/troubleshooting/storefront-pak-sc/page.mdx
  www/apps/resources/app/troubleshooting/workflow-errors/page.mdx
  www/apps/resources/app/troubleshooting/workflow-errors/step-x-defined/page.mdx
  www/apps/resources/app/troubleshooting/workflow-errors/when-then/page.mdx
  www/apps/resources/generated/edit-dates.mjs
  www/apps/resources/generated/files-map.mjs
  www/apps/resources/generated/generated-commerce-modules-sidebar.mjs
  www/apps/resources/generated/generated-troubleshooting-sidebar.mjs
  www/apps/resources/next.config.mjs
  www/apps/resources/sidebars/troubleshooting.mjs
Labels: type: docs, team: medusa

#11928 docs: fix sitemap of ui docs
  www/apps/ui/src/app/sitemap.ts
  www/apps/ui/src/app/sitemap.xml
  www/packages/build-scripts/src/retrieve-mdx-pages.ts
Labels: type: docs, team: medusa

#11907 feat: add support for accessing step results via context
  .changeset/rotten-seals-happen.md
  packages/core/workflows-sdk/package.json
  packages/core/workflows-sdk/src/utils/_playground.ts
  packages/core/workflows-sdk/src/utils/composer/__tests__/index.spec.ts
  packages/core/workflows-sdk/src/utils/composer/create-hook.ts
  packages/core/workflows-sdk/src/utils/composer/helpers/create-step-handler.ts
  packages/core/workflows-sdk/src/utils/composer/type.ts
  yarn.lock
Labels: automerge, type: feature, team: medusa

#11929 docs: add a note to stripe customization in next.js starter
  www/apps/resources/app/nextjs-starter/guides/customize-stripe/page.mdx
Labels: type: docs, team: medusa

#11931 docs: add missing ui dependency
  www/apps/ui/package.json
  www/yarn.lock
Labels: type: docs, team: medusa

#11933 docs-util: add tool to generate mapping between JS SDK examples and routes
  www/utils/generated/route-examples-output/route-examples.json
  www/utils/packages/docs-generator/src/classes/generators/route-examples.ts
  www/utils/packages/docs-generator/src/classes/kinds/oas.ts
  www/utils/packages/docs-generator/src/classes/kinds/route-examples.ts
  www/utils/packages/docs-generator/src/commands/run-git-changes.ts
  www/utils/packages/docs-generator/src/commands/run-git-commit.ts
  www/utils/packages/docs-generator/src/commands/run-release.ts
  www/utils/packages/docs-generator/src/commands/run.ts
  www/utils/packages/docs-generator/src/index.ts
  www/utils/packages/docs-generator/src/types/index.d.ts
  www/utils/packages/types/lib/index.d.ts
Labels: type: docs, team: medusa

#11936 fix(js-sdk): fix the API route used in fulfillment.cancel method
  .changeset/old-comics-juggle.md
  packages/core/js-sdk/src/admin/fulfillment.ts
Labels: type: bug, automerge, team: medusa

#11533 feat(core-flows, types): calculated shipping in RMA flows
  integration-tests/modules/__tests__/fulfillment-providers/index.spec.ts
  integration-tests/modules/__tests__/order/workflows/__fixtures__/index.ts
  integration-tests/modules/__tests__/order/workflows/claim/claim-shipping.spec.ts
  integration-tests/modules/__tests__/order/workflows/exchange/exchange-shipping.spec.ts
  integration-tests/modules/__tests__/order/workflows/return/create-return-shipping.spec.ts
  integration-tests/modules/medusa-config.js
  integration-tests/modules/src/utils/providers/fulfillment-manual-calculated/index.ts
  integration-tests/modules/src/utils/providers/fulfillment-manual-calculated/services/manual-fulfillment.ts
  packages/core/core-flows/src/fulfillment/steps/calculate-shipping-options-prices.ts
  packages/core/core-flows/src/fulfillment/steps/validate-shipping-option-prices.ts
  packages/core/core-flows/src/order/utils/fetch-shipping-option.ts
  packages/core/core-flows/src/order/utils/maybe-refresh-shipping-methods.ts
  packages/core/core-flows/src/order/workflows/claim/claim-add-new-item.ts
  packages/core/core-flows/src/order/workflows/claim/claim-request-item-return.ts
  packages/core/core-flows/src/order/workflows/claim/create-claim-shipping-method.ts
  packages/core/core-flows/src/order/workflows/claim/refresh-shipping.ts
  packages/core/core-flows/src/order/workflows/claim/remove-claim-item-action.ts
  packages/core/core-flows/src/order/workflows/claim/update-claim-add-item.ts
  packages/core/core-flows/src/order/workflows/exchange/begin-order-exchange.ts
  packages/core/core-flows/src/order/workflows/exchange/create-exchange-shipping-method.ts
  packages/core/core-flows/src/order/workflows/exchange/exchange-add-new-item.ts
  packages/core/core-flows/src/order/workflows/exchange/exchange-request-item-return.ts
  packages/core/core-flows/src/order/workflows/exchange/refresh-shipping.ts
  packages/core/core-flows/src/order/workflows/exchange/remove-exchange-item-action.ts
  packages/core/core-flows/src/order/workflows/exchange/update-exchange-add-item.ts
  packages/core/core-flows/src/order/workflows/order-edit/create-order-edit-shipping-method.ts
  packages/core/core-flows/src/order/workflows/return/create-return-shipping-method.ts
  packages/core/core-flows/src/order/workflows/return/refresh-shipping.ts
  packages/core/core-flows/src/order/workflows/return/remove-item-return-action.ts
  packages/core/core-flows/src/order/workflows/return/request-item-return.ts
  packages/core/core-flows/src/order/workflows/return/update-request-item-return.ts
  packages/core/core-flows/src/payment/steps/refund-payments.ts
  packages/core/types/src/fulfillment/mutations/shipping-option.ts
Labels: type: feature, team: medusa

#11829 chore: fix links in contribution guidelines
  CONTRIBUTING.md
Labels: type: chore, team: medusa

#11937 fix(js-sdk): fix the return type of the `promotion.listRules` method
  .changeset/bright-oranges-obey.md
  packages/core/js-sdk/src/admin/promotion.ts
Labels: type: bug, team: medusa

#11954 docs: typos and examples fixes
  www/apps/book/app/learn/debugging-and-testing/testing-tools/modules-tests/page.mdx
  www/apps/book/app/learn/fundamentals/admin/environment-variables/page.mdx
  www/apps/book/app/learn/fundamentals/api-routes/middlewares/page.mdx
  www/apps/book/app/learn/fundamentals/api-routes/validation/page.mdx
  www/apps/book/app/learn/fundamentals/data-models/write-migration/page.mdx
  www/apps/book/app/learn/fundamentals/module-links/query/page.mdx
  www/apps/book/app/learn/fundamentals/modules/loaders/page.mdx
  www/apps/book/app/learn/fundamentals/workflows/parallel-steps/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/generated/sidebar.mjs
  www/apps/book/public/llms-full.txt
  www/apps/book/sidebar.mjs
  www/apps/resources/app/architectural-modules/notification/sendgrid/page.mdx
  www/apps/resources/generated/edit-dates.mjs
  www/apps/ui/src/examples/code-block-demo.tsx
  www/apps/ui/src/examples/code-block-no-header.tsx
  www/apps/ui/src/examples/code-block-no-lines.tsx
  www/apps/ui/src/examples/code-block-single.tsx
Labels: type: docs, team: medusa

#11959 docs: fixes to search in API references
  www/apps/api-reference/app/algolia/route.ts
  www/apps/api-reference/providers/area.tsx
Labels: type: docs, team: medusa

#11935 docs-util: add JS SDK examples to generated OAS
  .github/workflows/generate-public-references.yml
  www/utils/generated/route-examples-output/route-examples.json
  www/utils/packages/docs-generator/package.json
  www/utils/packages/docs-generator/src/classes/examples/oas.ts
  www/utils/packages/docs-generator/src/classes/generators/route-examples.ts
  www/utils/packages/docs-generator/src/classes/kinds/oas.ts
  www/utils/packages/docs-generator/src/classes/kinds/route-examples.ts
  www/utils/packages/docs-generator/src/utils/get-output-base-paths.ts
Labels: type: docs, team: medusa

#11976 docs-utils: support routes that include global variables
  www/utils/generated/route-examples-output/route-examples.json
  www/utils/packages/docs-generator/src/classes/kinds/oas.ts
  www/utils/packages/docs-generator/src/classes/kinds/route-examples.ts
Labels: type: docs, team: medusa

#11977 chore(core-flows): price list skip when no data
  .changeset/wicked-tomatoes-dream.md
  packages/core/core-flows/src/price-list/steps/create-price-list-prices.ts
  packages/core/core-flows/src/price-list/steps/create-price-lists.ts
  packages/core/core-flows/src/price-list/steps/update-price-list-prices.ts
  packages/core/core-flows/src/price-list/steps/update-price-lists.ts
  packages/core/core-flows/src/price-list/steps/validate-price-lists.ts
  packages/core/core-flows/src/price-list/steps/validate-variant-price-links.ts
Labels: type: chore, team: medusa

#11980 docs: clarify limitations in query brands guide
  www/apps/book/app/learn/customization/extend-features/query-linked-records/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/public/llms-full.txt
Labels: type: docs, team: medusa

#11975 fix(js-sdk, types): fixes types and deprecate duplicate methods
  .changeset/gorgeous-wombats-arrive.md
  packages/core/js-sdk/src/admin/return.ts
  packages/core/js-sdk/src/admin/sales-channel.ts
  packages/core/types/src/http/workflow-execution/admin/entities.ts
Labels: type: bug, team: medusa

#11986 docs-util: sort examples to show JS SDK first
  www/utils/packages/docs-generator/src/classes/kinds/oas.ts
Labels: type: docs, team: medusa

#11978 docs: small improvements to the general deployment guide
  www/apps/book/app/learn/deployment/general/page.mdx
  www/apps/book/app/learn/fundamentals/admin/environment-variables/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/public/llms-full.txt
Labels: type: docs, team: medusa

#11919 fix(order): caculate received total for pending difference
  packages/modules/order/src/utils/calculate-order-change.ts
Labels: type: bug, automerge, team: medusa

#11985 docs: add sitemap to API reference
  www/apps/api-reference/app/sitemap.ts
  www/apps/api-reference/app/sitemap.xml
Labels: type: docs, team: medusa

#11984 docs: remove custom searching mechanism
  www/apps/api-reference/providers/search.tsx
  www/apps/book/app/learn/fundamentals/module-links/page.mdx
  www/apps/book/providers/search.tsx
  www/apps/resources/app/sitemap.ts
  www/apps/resources/providers/search.tsx
  www/apps/ui/src/providers/search.tsx
  www/apps/user-guide/providers/search.tsx
  www/packages/docs-ui/src/components/Search/Hits/index.tsx
  www/packages/docs-ui/src/components/Search/index.tsx
  www/packages/docs-ui/src/providers/Search/index.tsx
Labels: type: docs, team: medusa

#11989 docs-util: add a prefix for JS SDK examples in OAS
  www/utils/packages/docs-generator/src/classes/examples/oas.ts
Labels: type: docs, team: medusa

#11991 docs: update storefront development guides to use JS SDK [1]
  www/apps/book/public/llms-full.txt
  www/apps/resources/app/storefront-development/page.mdx
  www/apps/resources/app/storefront-development/products/list/page.mdx
  www/apps/resources/app/storefront-development/products/price/examples/sale-price/page.mdx
  www/apps/resources/app/storefront-development/products/price/examples/show-price/page.mdx
  www/apps/resources/app/storefront-development/products/price/examples/tax-price/page.mdx
  www/apps/resources/app/storefront-development/products/price/page.mdx
  www/apps/resources/app/storefront-development/products/retrieve/page.mdx
  www/apps/resources/app/storefront-development/products/variants/page.mdx
  www/apps/resources/app/storefront-development/publishable-api-keys/page.mdx
  www/apps/resources/app/storefront-development/regions/context/page.mdx
  www/apps/resources/app/storefront-development/regions/list/page.mdx
  www/apps/resources/app/storefront-development/regions/store-retrieve-region/page.mdx
  www/apps/resources/app/storefront-development/tips/page.mdx
  www/apps/resources/generated/edit-dates.mjs
Labels: type: docs, team: medusa

#11994 feat(core-flows,types,order,cart): assign tax lines only to regular products
  .changeset/shaggy-cooks-wave.md
  integration-tests/http/__tests__/cart/store/cart.spec.ts
  integration-tests/modules/__tests__/cart/store/cart.workflows.spec.ts
  integration-tests/modules/__tests__/order/order.spec.ts
  packages/core/core-flows/src/cart/utils/fields.ts
  packages/core/core-flows/src/cart/utils/prepare-line-item-data.ts
  packages/core/core-flows/src/cart/workflows/upsert-tax-lines.ts
  packages/core/core-flows/src/order/workflows/create-order.ts
  packages/core/core-flows/src/order/workflows/update-tax-lines.ts
  packages/core/core-flows/src/tax/steps/get-item-tax-lines.ts
  packages/core/types/src/cart/common.ts
  packages/core/types/src/order/common.ts
  packages/modules/cart/integration-tests/__tests__/services/cart-module/index.spec.ts
  packages/modules/cart/src/migrations/.snapshot-medusa-cart.json
  packages/modules/cart/src/migrations/Migration20250326151602.ts
  packages/modules/cart/src/models/line-item.ts
  packages/modules/order/src/migrations/.snapshot-medusa-order.json
  packages/modules/order/src/migrations/Migration20250326151554.ts
  packages/modules/order/src/models/line-item.ts
Labels: automerge, type: feature, team: medusa

#11992 fix(utils,promotion): fix case where mutliple percentage promotions werent applied
  .changeset/witty-bees-pump.md
  packages/core/utils/src/totals/promotion/index.ts
  packages/modules/promotion/integration-tests/__tests__/services/promotion-module/compute-actions.spec.ts
Labels: type: bug, automerge, team: medusa

#11999 fix(dashboard): Product export fields
  packages/admin/dashboard/src/routes/products/product-export/product-export.tsx
Labels: type: bug, automerge, team: medusa

#12006 fix(medusa): skip index when tags or categories present
  .changeset/happy-baboons-cough.md
  packages/medusa/src/api/store/products/middlewares.ts
Labels: type: bug, team: medusa

#12015 docs: update storefront development guides to use JS SDK [2]
  www/apps/book/public/llms-full.txt
  www/apps/resources/app/storefront-development/cart/context/page.mdx
  www/apps/resources/app/storefront-development/cart/create/page.mdx
  www/apps/resources/app/storefront-development/cart/manage-items/page.mdx
  www/apps/resources/app/storefront-development/cart/retrieve/page.mdx
  www/apps/resources/app/storefront-development/cart/totals/page.mdx
  www/apps/resources/app/storefront-development/cart/update/page.mdx
  www/apps/resources/app/storefront-development/checkout/address/page.mdx
  www/apps/resources/app/storefront-development/checkout/complete-cart/page.mdx
  www/apps/resources/app/storefront-development/checkout/email/page.mdx
  www/apps/resources/app/storefront-development/checkout/order-confirmation/page.mdx
  www/apps/resources/app/storefront-development/checkout/payment/page.mdx
  www/apps/resources/app/storefront-development/checkout/payment/stripe/page.mdx
  www/apps/resources/app/storefront-development/checkout/shipping/page.mdx
  www/apps/resources/app/storefront-development/customers/addresses/page.mdx
  www/apps/resources/app/storefront-development/customers/context/page.mdx
  www/apps/resources/app/storefront-development/customers/log-out/page.mdx
  www/apps/resources/app/storefront-development/customers/login/page.mdx
  www/apps/resources/app/storefront-development/customers/profile/page.mdx
  www/apps/resources/app/storefront-development/customers/register/page.mdx
  www/apps/resources/app/storefront-development/customers/reset-password/page.mdx
  www/apps/resources/app/storefront-development/customers/retrieve/page.mdx
  www/apps/resources/app/storefront-development/customers/third-party-login/page.mdx
  www/apps/resources/app/storefront-development/guides/express-checkout/page.mdx
  www/apps/resources/app/storefront-development/page.mdx
  www/apps/resources/app/storefront-development/products/categories/list/page.mdx
  www/apps/resources/app/storefront-development/products/categories/nested-categories/page.mdx
  www/apps/resources/app/storefront-development/products/categories/products/page.mdx
  www/apps/resources/app/storefront-development/products/categories/retrieve/page.mdx
  www/apps/resources/app/storefront-development/products/collections/list/page.mdx
  www/apps/resources/app/storefront-development/products/collections/products/page.mdx
  www/apps/resources/app/storefront-development/products/collections/retrieve/page.mdx
  www/apps/resources/app/storefront-development/products/inventory/page.mdx
  www/apps/resources/app/storefront-development/products/list/page.mdx
  www/apps/resources/app/storefront-development/products/price/examples/sale-price/page.mdx
  www/apps/resources/app/storefront-development/products/price/examples/show-price/page.mdx
  www/apps/resources/app/storefront-development/products/price/examples/tax-price/page.mdx
  www/apps/resources/app/storefront-development/products/retrieve/page.mdx
  www/apps/resources/app/storefront-development/products/variants/page.mdx
  www/apps/resources/app/storefront-development/regions/context/page.mdx
  www/apps/resources/app/storefront-development/regions/list/page.mdx
  www/apps/resources/app/storefront-development/regions/store-retrieve-region/page.mdx
  www/apps/resources/generated/edit-dates.mjs
Labels: type: docs, team: medusa

#11993 fix(dashboard): refund form input
  packages/admin/dashboard/src/routes/orders/order-create-refund/components/create-refund-form/create-refund-form.tsx
Labels: type: bug, automerge, team: medusa

#12018 docs: add JS SDK snippets in API reference introduction sections
  www/apps/api-reference/markdown/admin.mdx
  www/apps/api-reference/markdown/store.mdx
Labels: type: docs, team: medusa

#11917 docs: added tutorial for abandoned cart
  www/apps/book/public/llms-full.txt
  www/apps/resources/app/how-to-tutorials/tutorials/abandoned-cart/page.mdx
  www/apps/resources/generated/edit-dates.mjs
  www/apps/resources/generated/files-map.mjs
  www/apps/resources/generated/generated-architectural-modules-sidebar.mjs
  www/apps/resources/generated/generated-commerce-modules-sidebar.mjs
  www/apps/resources/generated/generated-how-to-tutorials-sidebar.mjs
  www/apps/resources/sidebars/architectural-modules.mjs
  www/apps/resources/sidebars/cart.mjs
  www/apps/resources/sidebars/how-to-tutorials.mjs
  www/packages/tags/src/tags/cart.ts
  www/packages/tags/src/tags/notification.ts
  www/packages/tags/src/tags/product-category.ts
  www/packages/tags/src/tags/product.ts
  www/packages/tags/src/tags/region.ts
  www/packages/tags/src/tags/server.ts
  www/packages/tags/src/tags/storefront.ts
  www/packages/tags/src/tags/tutorial.ts
Labels: type: docs, team: medusa

#11971 docs: added algolia guide
  www/apps/book/public/llms-full.txt
  www/apps/resources/app/integrations/guides/algolia/page.mdx
  www/apps/resources/app/integrations/page.mdx
  www/apps/resources/generated/edit-dates.mjs
  www/apps/resources/generated/files-map.mjs
  www/apps/resources/generated/generated-integrations-sidebar.mjs
  www/apps/resources/sidebars/integrations.mjs
  www/packages/docs-ui/src/components/Note/Layout/index.tsx
  www/packages/docs-ui/src/components/Note/index.tsx
Labels: type: docs, team: medusa

#11418 docs: migrate magento to medusa guide
  www/apps/book/public/llms-full.txt
  www/apps/resources/app/integrations/guides/magento/page.mdx
  www/apps/resources/generated/edit-dates.mjs
  www/apps/resources/generated/files-map.mjs
  www/apps/resources/generated/generated-how-to-tutorials-sidebar.mjs
  www/apps/resources/generated/generated-integrations-sidebar.mjs
  www/apps/resources/sidebars/how-to-tutorials.mjs
  www/apps/resources/sidebars/integrations.mjs
Labels: type: docs, team: medusa

#11911 fix(dashboard): notification list scroll flickering
  packages/admin/dashboard/src/components/common/infinite-list/infinite-list.tsx
Labels: type: bug, team: medusa

#12004 fix(dashboard): trim some product create inputs to prevent creation error
  .changeset/fresh-windows-lay.md
  packages/admin/dashboard/src/routes/products/product-create/utils.ts
Labels: type: bug, team: medusa

#12007 fix(dashboard): return form pending diff
  .changeset/mean-swans-smoke.md
  packages/admin/dashboard/src/i18n/translations/$schema.json
  packages/admin/dashboard/src/i18n/translations/en.json
  packages/admin/dashboard/src/routes/orders/order-create-return/components/return-create-form/return-create-form.tsx
Labels: type: bug, automerge, team: medusa

#11891 feat: Set pricing context hook
  .changeset/flat-meals-rhyme.md
  integration-tests/modules/__tests__/cart/store/cart.workflows.spec.ts
  packages/core/core-flows/src/cart/utils/schemas.ts
  packages/core/core-flows/src/cart/workflows/add-to-cart.ts
  packages/core/core-flows/src/cart/workflows/create-carts.ts
  packages/core/core-flows/src/cart/workflows/list-shipping-options-for-cart.ts
  packages/core/core-flows/src/cart/workflows/refresh-cart-items.ts
  packages/core/core-flows/src/cart/workflows/update-line-item-in-cart.ts
  packages/core/core-flows/src/order/utils/fetch-shipping-option.ts
  packages/core/core-flows/src/order/workflows/add-line-items.ts
  packages/core/core-flows/src/order/workflows/claim/update-claim-shipping-method.ts
  packages/core/core-flows/src/order/workflows/create-order.ts
  packages/core/core-flows/src/order/workflows/exchange/update-exchange-shipping-method.ts
  packages/core/core-flows/src/order/workflows/order-edit/create-order-edit-shipping-method.ts
  packages/core/core-flows/src/order/workflows/order-edit/update-order-edit-shipping-method.ts
  packages/core/core-flows/src/order/workflows/return/create-complete-return.ts
  packages/core/core-flows/src/order/workflows/return/update-return-shipping-method.ts
  packages/core/workflows-sdk/src/utils/composer/create-hook.ts
Labels: type: feature, team: medusa

#12026 docs: updates and improvements to JS SDK guides
  www/apps/api-reference/markdown/admin.mdx
  www/apps/api-reference/markdown/store.mdx
  www/apps/book/app/learn/fundamentals/workflows/long-running-workflow/page.mdx
  www/apps/book/app/learn/fundamentals/workflows/retry-failed-steps/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/public/llms-full.txt
  www/apps/resources/app/js-sdk/auth/overview/page.mdx
  www/apps/resources/app/js-sdk/page.mdx
  www/apps/resources/app/storefront-development/customers/login/page.mdx
  www/apps/resources/app/storefront-development/customers/register/page.mdx
  www/apps/resources/app/storefront-development/customers/third-party-login/page.mdx
  www/apps/resources/generated/edit-dates.mjs
  www/apps/resources/generated/files-map.mjs
  www/apps/resources/generated/generated-tools-sidebar.mjs
  www/apps/resources/sidebars/tools.mjs
Labels: type: docs, team: medusa

#12029 docs: small fix to abandoned cart guide
  www/apps/book/public/llms-full.txt
  www/apps/resources/app/how-to-tutorials/tutorials/abandoned-cart/page.mdx
  www/apps/resources/app/integrations/guides/magento/page.mdx
  www/apps/resources/app/js-sdk/page.mdx
Labels: type: docs, team: medusa

#12030 fix(dashboard): Allow empty subpaths for route extensions
  .changeset/small-bananas-occur.md
  packages/admin/dashboard/src/dashboard-app/routes/utils.ts
Labels: type: bug, team: medusa

#11832 feat(core-flows, types): try payment cancelation if cart complete fails in the webhook
  .changeset/flat-keys-shave.md
  packages/core/core-flows/src/cart/steps/compensate-payment-if-needed.ts
  packages/core/core-flows/src/cart/workflows/complete-cart.ts
  packages/core/core-flows/src/payment/steps/authorize-payment-session.ts
  packages/core/core-flows/src/payment/workflows/process-payment.ts
  packages/core/types/src/payment/service.ts
Labels: type: bug, team: medusa

#12032 docs: sort API reference sidebar items and sections
  www/apps/api-reference/components/Tags/Paths/index.tsx
  www/apps/api-reference/providers/base-specs.tsx
  www/apps/api-reference/types/global.d.ts
  www/apps/api-reference/utils/get-tag-child-sidebar-items.tsx
  www/apps/api-reference/utils/sort-operations-utils.ts
Labels: type: docs, team: medusa

#12017 fix(utils): Enable Redis locking by default in Cloud
  .changeset/popular-rules-shake.md
  packages/core/utils/src/common/__tests__/define-config.spec.ts
  packages/core/utils/src/common/define-config.ts
Labels: type: bug, team: medusa

#12025 fix: validate module names to disallow unallowed characters
  .changeset/strange-sloths-hope.md
  packages/core/utils/src/common/__tests__/validate-module-name.spec.ts
  packages/core/utils/src/common/index.ts
  packages/core/utils/src/common/validate-module-name.ts
  packages/medusa/src/loaders/index.ts
Labels: type: bug, team: medusa

#12035 docs: added a routes summary section in API reference
  www/apps/api-reference/components/Tags/Section/RoutesSummary/index.tsx
  www/apps/api-reference/components/Tags/Section/index.tsx
Labels: type: docs, team: medusa
