Repository medusajs/medusa, pull requests merged in 2025-10, with the labels that each got.

#13648 docs: update Cloud sign up link
  www/apps/cloud/app/sign-up/page.mdx
Labels: type: docs, team: medusa

#13647 Updated the cost descriptions.mdx
  www/apps/cloud/app/comparison/page.mdx
Labels: type: docs

#13646 chore(): Add instrumentation to deps
  .changeset/two-bikes-compare.md
  packages/core/framework/package.json
  packages/core/framework/src/deps/opentelemetry-instrumentation-pg.ts
  packages/core/framework/src/deps/opentelemetry-resouces.ts
  packages/core/framework/src/deps/opentelemetry-sdk-node.ts
  packages/core/framework/src/deps/opentelemetry-sdk-trace-node.ts
  packages/deps/package.json
  packages/deps/src/opentelemetry-instrumentation-pg.ts
  packages/deps/src/opentelemetry-resources.ts
  packages/deps/src/opentelemetry-sdk-node.ts
  packages/deps/src/opentelemetry-sdk-trace-node.ts
  packages/deps/src/pg.js
  yarn.lock
Labels: type: chore, team: medusa

#13640 fix(index): preserve existing fields configuration (#13639)
  .changeset/mean-rockets-worry.md
  packages/modules/index/src/utils/build-config.ts
Labels: automerge

#13653 fix(medusa): fixes db setup command to not load connection before creating db
  .changeset/quick-clocks-happen.md
  packages/medusa/src/commands/db/setup.ts
Labels: type: bug, team: medusa

#13652 fix(medusa): plugin:db:generate skip modules with no data models
  .changeset/funny-sheep-vanish.md
  packages/medusa/src/commands/plugin/db/generate.ts
Labels: automerge

#13655 fix(): Transform map
  .changeset/witty-nails-drive.md
  packages/core/orchestration/src/transaction/distributed-transaction.ts
  packages/core/utils/src/dal/mikro-orm/integration-tests/__tests__/mikro-orm-repository.spec.ts
  packages/core/workflows-sdk/src/utils/composer/transform.ts
Labels: type: bug, automerge, team: medusa

#13597 feat(medusa): include user_metadata in auth routes jwt
  .changeset/soft-hotels-report.md
  packages/medusa/src/api/auth/[actor_type]/[auth_provider]/callback/route.ts
  packages/medusa/src/api/auth/[actor_type]/[auth_provider]/register/route.ts
  packages/medusa/src/api/auth/[actor_type]/[auth_provider]/route.ts
  packages/medusa/src/api/auth/utils/generate-jwt-token.ts
Labels: automerge

#13671 docs: improved analytics and tracking
  www/apps/api-reference/components/DetailedFeedback/index.tsx
  www/apps/api-reference/components/Feedback/index.tsx
  www/apps/api-reference/components/Tags/Operation/DescriptionSection/index.tsx
  www/apps/api-reference/components/Tags/Section/index.tsx
  www/apps/api-reference/instrumentation-client.ts
  www/apps/api-reference/markdown/admin.mdx
  www/apps/api-reference/markdown/store.mdx
  www/apps/api-reference/package.json
  www/apps/api-reference/providers/index.tsx
  www/apps/api-reference/vercel.json
  www/apps/book/instrumentation-client.ts
  www/apps/book/package.json
  www/apps/book/providers/index.tsx
  www/apps/cloud/instrumentation-client.ts
  www/apps/cloud/package.json
  www/apps/cloud/providers/index.tsx
  www/apps/resources/instrumentation-client.ts
  www/apps/resources/package.json
  www/apps/resources/providers/index.tsx
  www/apps/ui/instrumentation-client.ts
  www/apps/ui/package.json
  www/apps/ui/providers/index.tsx
  www/apps/user-guide/instrumentation-client.ts
  www/apps/user-guide/package.json
  www/apps/user-guide/providers/index.tsx
  www/packages/docs-ui/package.json
  www/packages/docs-ui/src/components/Feedback/index.tsx
  www/packages/docs-ui/src/components/Rating/index.tsx
  www/packages/docs-ui/src/components/Sidebar/Top/MedusaMenu/index.tsx
  www/packages/docs-ui/src/providers/Analytics/index.tsx
  www/packages/docs-ui/src/providers/LearningPath/index.tsx
  www/yarn.lock
Labels: type: docs, team: medusa

#13651 docs(): Add local development instructions in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: automerge

#13680 chore(): Downgrade mikro orm (performance regression)
  .changeset/pink-cobras-fetch.md
  packages/core/utils/src/dal/mikro-orm/mikro-orm-repository.ts
  packages/deps/package.json
  packages/modules/order/src/utils/base-repository-find.ts
  packages/modules/product/src/repositories/product-category.ts
  yarn.lock
Labels: automerge, team: medusa

#13675 fix(): caching better identify default provider
  .changeset/giant-countries-doubt.md
  packages/modules/caching/src/loaders/providers.ts
Labels: type: bug, team: medusa

#13696 chore: updated TSDocs of the Caching Module service + provider
  packages/core/types/src/caching/index.ts
Labels: type: chore, team: medusa

#13706 chore: Temporary patch to bypass changesets issue with too many commits
  .yarn/patches/changesets-github-info.patch
  package.json
  yarn.lock
Labels: type: chore, team: medusa

#13707 fix(): Workflow save to db + index integration instability
  .changeset/orange-forks-exercise.md
  integration-tests/helpers/wait-for-index.ts
  integration-tests/modules/__tests__/index/query-index.spec.ts
  packages/modules/workflow-engine-inmemory/src/utils/workflow-orchestrator-storage.ts
  packages/modules/workflow-engine-redis/integration-tests/__tests__/index.spec.ts
  packages/modules/workflow-engine-redis/integration-tests/__tests__/race.spec.ts
  packages/modules/workflow-engine-redis/src/utils/workflow-orchestrator-storage.ts
Labels: type: bug, automerge, team: medusa

#13699 fix(dashboard): nan in tax total
  .changeset/rude-adults-melt.md
  packages/admin/dashboard/src/routes/orders/order-detail/components/order-summary-section/order-summary-section.tsx
Labels: type: bug, automerge, team: medusa

#13702 chore(): Improve caching rollout
  .changeset/bright-cobras-complain.md
  packages/core/core-flows/src/cart/steps/find-one-or-any-region.ts
  packages/core/core-flows/src/cart/workflows/complete-cart.ts
  packages/core/core-flows/src/cart/workflows/list-shipping-options-for-cart-with-pricing.ts
  packages/core/core-flows/src/cart/workflows/transfer-cart-customer.ts
  packages/core/core-flows/src/order/workflows/list-shipping-options-for-order.ts
  packages/core/core-flows/src/order/workflows/maybe-refresh-shipping-methods.ts
  packages/core/modules-sdk/src/definitions.ts
  packages/core/modules-sdk/src/remote-query/remote-query.ts
  packages/core/orchestration/src/joiner/remote-joiner.ts
  packages/core/types/src/caching/index.ts
  packages/deps/package.json
  yarn.lock
Labels: type: chore, team: medusa
