Repository medusajs/medusa, pull requests merged in 2025-04, with the labels that each got.

#12039 feat: add `hasMany` flag to enforce in app link uniqueness
  integration-tests/modules/__tests__/link-modules/define-link.spec.ts
  packages/core/modules-sdk/src/__mocks__/inventory-module.ts
  packages/core/modules-sdk/src/__mocks__/inventory-stock-location-link.ts
  packages/core/modules-sdk/src/__mocks__/product-inventory-link.ts
  packages/core/modules-sdk/src/__mocks__/product-module.ts
  packages/core/modules-sdk/src/__mocks__/stock-location-module.ts
  packages/core/modules-sdk/src/link.ts
  packages/core/types/src/modules-sdk/index.ts
  packages/core/utils/src/modules-sdk/define-link.ts
  packages/modules/link-modules/src/definitions/cart-promotion.ts
  packages/modules/link-modules/src/definitions/customer-account-holder.ts
  packages/modules/link-modules/src/definitions/fulfillment-provider-location.ts
  packages/modules/link-modules/src/definitions/fulfillment-set-location.ts
  packages/modules/link-modules/src/definitions/order-claim-payment-collection.ts
  packages/modules/link-modules/src/definitions/order-exchange-payment-collection.ts
  packages/modules/link-modules/src/definitions/order-fulfillment.ts
  packages/modules/link-modules/src/definitions/order-payment-collection.ts
  packages/modules/link-modules/src/definitions/order-promotion.ts
  packages/modules/link-modules/src/definitions/order-return-fulfillment.ts
  packages/modules/link-modules/src/definitions/product-sales-channel.ts
  packages/modules/link-modules/src/definitions/product-shipping-profile.ts
  packages/modules/link-modules/src/definitions/product-variant-inventory-item.ts
  packages/modules/link-modules/src/definitions/publishable-api-key-sales-channel.ts
  packages/modules/link-modules/src/definitions/region-payment-provider.ts
  packages/modules/link-modules/src/definitions/sales-channel-location.ts
Labels: type: feature, team: medusa

#12062 chore(link-modules): backward compatible links
  .changeset/warm-lies-stare.md
  packages/modules/link-modules/src/definitions/cart-payment-collection.ts
  packages/modules/link-modules/src/definitions/order-cart.ts
Labels: type: chore, automerge, team: medusa

#11958 fix(core-flows,dashboard): handling authorized payment collection on OE
  .changeset/tiny-mice-move.md
  integration-tests/http/__tests__/order-edits/order-edits.spec.ts
  packages/admin/dashboard/src/lib/payment.ts
  packages/core/core-flows/src/order/workflows/create-or-update-order-payment-collection.ts
  packages/core/core-flows/src/order/workflows/order-edit/request-order-edit.ts
  packages/core/core-flows/src/payment-collection/steps/cancel-payment.ts
  packages/core/core-flows/src/payment-collection/workflows/cancel-payment-collection.ts
  packages/core/types/src/payment/common.ts
  packages/core/utils/src/payment/payment-collection.ts
Labels: type: bug, team: medusa

#12073 fix(dashboard): product create discountable flag
  .changeset/afraid-socks-refuse.md
  packages/admin/dashboard/src/components/common/switch-box/switch-box.tsx
  packages/admin/dashboard/src/routes/products/product-create/utils.ts
Labels: type: bug, team: medusa

#12099 docs-util: handle workflows with intersection hook types
  www/utils/packages/typedoc-plugin-markdown-medusa/src/resources/helpers/workflow-hooks.ts
  www/utils/packages/typedoc-plugin-workflows/src/plugin.ts
  www/utils/packages/utils/src/hooks-util.ts
Labels: type: docs, team: medusa

#12102 chore(types,utils): fixes to TSDocs for HTTP types and payment provider
  packages/core/types/src/http/product/common.ts
  packages/core/utils/src/payment/abstract-payment-provider.ts
Labels: type: chore, team: medusa

#12101 docs: fixes to content and UI
  www/apps/book/app/learn/resources/contribution-guidelines/docs/page.mdx
  www/apps/resources/app/architectural-modules/locking/page.mdx
  www/apps/ui/src/config/sidebar.tsx
Labels: type: docs, team: medusa

#12104 docs: update bulk editor user guide + add redirect from old v1 next js
  www/apps/book/app/learn/customization/integrate-systems/handle-event/page.mdx
  www/apps/book/app/learn/customization/integrate-systems/schedule-task/page.mdx
  www/apps/book/app/learn/customization/integrate-systems/service/page.mdx
  www/apps/book/public/llms-full.txt
  www/apps/book/utils/redirects.mjs
  www/apps/user-guide/app/tips/bulk-editor/page.mdx
  www/apps/user-guide/generated/edit-dates.mjs
Labels: type: docs, team: medusa

#12066 fix(orchestration): handle multiple shortcuts with same name
  .changeset/tame-hats-crash.md
  packages/core/orchestration/src/joiner/remote-joiner.ts
Labels: type: bug, team: medusa

#12106 chore(js-sdk, types): add TSDocs for plugin methods in JS SDK
  packages/core/js-sdk/src/admin/draft-order.ts
  packages/core/js-sdk/src/admin/plugin.ts
  packages/core/types/src/http/draft-order/admin/payloads.ts
  packages/core/types/src/http/draft-order/admin/responses.ts
  packages/core/types/src/http/plugins/admin/responses.ts
Labels: type: chore, team: medusa

#12108 docs: added missing information on plugin migrations
  www/apps/book/app/learn/fundamentals/plugins/create/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/public/llms-full.txt
Labels: type: docs, team: medusa

#12107 Fixed typo
  www/apps/resources/app/recipes/marketplace/examples/vendors/page.mdx
Labels: type: docs, automerge

#12097 chore(): Emit events in batch and index process event ids in batch
  .changeset/clever-pens-swim.md
  packages/core/types/src/event-bus/common.ts
  packages/core/utils/src/event-bus/utils.ts
  packages/core/utils/src/modules-sdk/event-builder-factory.ts
  packages/modules/fulfillment/integration-tests/__tests__/fulfillment-module-service/fulfillment-set.spec.ts
  packages/modules/fulfillment/integration-tests/__tests__/fulfillment-module-service/geo-zone.spec.ts
  packages/modules/fulfillment/integration-tests/__tests__/fulfillment-module-service/service-zone.spec.ts
  packages/modules/fulfillment/integration-tests/__tests__/fulfillment-module-service/shipping-option.spec.ts
  packages/modules/fulfillment/integration-tests/__tests__/fulfillment-module-service/shipping-profile.spec.ts
  packages/modules/index/integration-tests/__tests__/data-synchronizer.spec.ts
  packages/modules/index/integration-tests/__tests__/index-engine-module.spec.ts
  packages/modules/index/src/services/data-synchronizer.ts
  packages/modules/index/src/services/postgres-provider.ts
  packages/modules/index/src/utils/build-config.ts
  packages/modules/inventory/src/services/inventory-module.ts
  packages/modules/link-modules/src/services/link-module-service.ts
  packages/modules/pricing/integration-tests/__tests__/services/pricing-module/price-list.spec.ts
  packages/modules/pricing/src/services/pricing-module.ts
  packages/modules/user/integration-tests/__tests__/invite.spec.ts
  packages/modules/user/integration-tests/__tests__/user.spec.ts
  packages/modules/user/src/services/user-module.ts
Labels: type: chore, automerge, team: medusa

#12113 chore(framework): slightly improve maybe apply link filter middleware
  .changeset/fair-forks-pretend.md
  packages/core/framework/src/http/utils/maybe-apply-link-filter.ts
  packages/medusa/src/api/utils/middlewares/products/normalize-data-for-context.ts
Labels: type: chore, automerge, team: medusa

#11873 fix(workflow-engine-*): Prevent passing shared context reference
  .changeset/silent-glasses-enjoy.md
  integration-tests/modules/__tests__/index/search.spec.ts
  integration-tests/modules/__tests__/modules/remote-query.spec.ts
  packages/core/orchestration/src/joiner/remote-joiner.ts
  packages/core/orchestration/src/transaction/transaction-orchestrator.ts
  packages/core/orchestration/src/workflow/local-workflow.ts
  packages/core/types/src/shared-context.ts
  packages/core/workflows-sdk/src/helper/workflow-export.ts
  packages/core/workflows-sdk/src/utils/composer/create-workflow.ts
  packages/modules/workflow-engine-inmemory/integration-tests/__tests__/index.spec.ts
  packages/modules/workflow-engine-inmemory/integration-tests/__tests__/race.spec.ts
  packages/modules/workflow-engine-inmemory/src/services/workflows-module.ts
  packages/modules/workflow-engine-inmemory/src/utils/workflow-orchestrator-storage.ts
  packages/modules/workflow-engine-redis/integration-tests/__fixtures__/workflow_scheduled.ts
  packages/modules/workflow-engine-redis/integration-tests/__tests__/index.spec.ts
  packages/modules/workflow-engine-redis/integration-tests/__tests__/race.spec.ts
  packages/modules/workflow-engine-redis/src/services/workflows-module.ts
  packages/modules/workflow-engine-redis/src/utils/workflow-orchestrator-storage.ts
Labels: type: bug, team: medusa

#12120 chore(pricing): improve calculate prices performances
  .changeset/olive-horses-judge.md
  packages/modules/pricing/src/migrations/.snapshot-medusa-pricing.json
  packages/modules/pricing/src/migrations/Migration20250408145122.ts
  packages/modules/pricing/src/models/price-list-rule.ts
  packages/modules/pricing/src/models/price-rule.ts
  packages/modules/pricing/src/repositories/pricing.ts
Labels: type: chore, team: medusa

#12126 chore: retry util on tests
  integration-tests/helpers/retry.ts
  integration-tests/modules/__tests__/index/query-index.spec.ts
  integration-tests/modules/__tests__/index/search.spec.ts
Labels: type: chore, automerge, team: medusa

#12083 fix: allow backorder variants to be added to cart even if no locations
  integration-tests/http/__tests__/cart/store/cart.spec.ts
  integration-tests/modules/__tests__/index/query-index.spec.ts
  integration-tests/modules/__tests__/index/search.spec.ts
  integration-tests/modules/__tests__/order/draft-order.spec.ts
  packages/core/core-flows/src/cart/utils/__tests__/prepare-confirm-inventory-input.spec.ts
  packages/core/core-flows/src/cart/utils/prepare-confirm-inventory-input.ts
Labels: type: bug, team: medusa

#12137 chore(medusa-test-utils): Prevent waiting for event indefinately
  .changeset/wild-paws-learn.md
  packages/medusa-test-utils/jest.config.js
  packages/medusa-test-utils/src/__tests__/events.spec.ts
  packages/medusa-test-utils/src/events.ts
Labels: type: chore, automerge, team: medusa

#12138 fix(orchestrator): save checkpoint before async step
  .changeset/three-beans-fold.md
  integration-tests/modules/__tests__/index/query-index.spec.ts
  integration-tests/modules/__tests__/index/search.spec.ts
  packages/core/orchestration/src/transaction/transaction-orchestrator.ts
  packages/modules/workflow-engine-inmemory/integration-tests/__tests__/index.spec.ts
  packages/modules/workflow-engine-inmemory/src/services/workflow-orchestrator.ts
  packages/modules/workflow-engine-inmemory/src/services/workflows-module.ts
  packages/modules/workflow-engine-redis/src/services/workflow-orchestrator.ts
  packages/modules/workflow-engine-redis/src/services/workflows-module.ts
Labels: type: bug, automerge, team: medusa

#12129 chore(promotion): Improve performances [1]
  .changeset/nine-otters-carry.md
  packages/modules/promotion/src/services/promotion-module.ts
  packages/modules/promotion/src/utils/compute-actions/buy-get.ts
  packages/modules/promotion/src/utils/compute-actions/line-items.ts
  packages/modules/promotion/src/utils/validations/promotion-rule.ts
Labels: type: chore, automerge, team: medusa

#12144 chore: Cache available price rule attributes
  .changeset/mighty-stingrays-protect.md
  packages/modules/pricing/src/repositories/pricing.ts
  packages/modules/pricing/src/services/pricing-module.ts
Labels: type: chore, automerge, team: medusa

#12149 fix(dashboard): product type metadata form
  .changeset/many-tables-vanish.md
  packages/admin/dashboard/src/dashboard-app/routes/get-route.map.tsx
  packages/admin/dashboard/src/routes/product-types/product-type-metadata/index.ts
  packages/admin/dashboard/src/routes/product-types/product-type-metadata/product-type-metadata.tsx
Labels: type: bug, team: medusa

#12151 chore: Patch changesets to avoid major bumps
  .yarn/patches/changesets.patch
  package.json
  yarn.lock
Labels: type: chore, team: medusa

#12150 chore(product): Missing index in migration
  .changeset/silent-parrots-tickle.md
  packages/modules/product/src/migrations/.snapshot-medusa-product.json
  packages/modules/product/src/migrations/Migration20250411073236.ts
Labels: type: chore, team: medusa

#12098 docs: changes for next release
  www/apps/book/app/learn/fundamentals/module-links/link/page.mdx
  www/apps/book/app/learn/fundamentals/plugins/create/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/public/llms-full.txt
  www/apps/resources/app/commerce-modules/customer/links-to-other-modules/page.mdx
  www/apps/resources/app/commerce-modules/payment/account-holder/page.mdx
  www/apps/resources/generated/edit-dates.mjs
Labels: type: docs, team: medusa

#12145 docs: fix schema of product category
  www/apps/api-reference/specs/admin/components/schemas/StoreProductCategory.yaml
  www/apps/api-reference/specs/admin/openapi.full.yaml
  www/apps/api-reference/specs/store/components/schemas/StoreProductCategory.yaml
  www/apps/api-reference/specs/store/openapi.full.yaml
  www/utils/generated/oas-output/schemas/StoreProductCategory.ts
Labels: type: docs, team: medusa

#12012 chore(utils): fix TSDoc example for payment provider
  packages/core/utils/src/payment/abstract-payment-provider.ts
Labels: type: chore, automerge

#11983 docs: fixed POST request in code snippet for quotation acceptance
  www/apps/resources/app/examples/guides/quote-management/page.mdx
Labels: type: docs, automerge

#12155 fix(dashboard): display null sku
  packages/admin/dashboard/src/routes/product-variants/product-variant-manage-inventory-items/components/manage-variant-inventory-items-form/manage-variant-inventory-items-form.tsx
  packages/admin/dashboard/src/routes/products/product-create/components/product-create-inventory-kit-form/components/product-create-inventory-kit-section/product-create-inventory-kit-section.tsx
Labels: type: bug, team: medusa

#12156 docs: more updates after 2.7.0 update
  www/apps/book/app/learn/fundamentals/plugins/create/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/public/llms-full.txt
  www/apps/resources/app/commerce-modules/stock-location/admin-widget-zones/_content.mdx
  www/apps/resources/app/events-reference/page.mdx
  www/apps/resources/generated/generated-commerce-modules-sidebar.mjs
  www/apps/user-guide/app/customers/manage/page.mdx
  www/apps/user-guide/app/tips/languages/page.mdx
  www/apps/user-guide/generated/edit-dates.mjs
Labels: type: docs, team: medusa

#12159 chore: fixes to JS SDK TSDocs
  packages/core/js-sdk/src/admin/claim.ts
  packages/core/js-sdk/src/admin/draft-order.ts
  packages/core/js-sdk/src/admin/invite.ts
  packages/core/js-sdk/src/admin/order.ts
Labels: type: chore, team: medusa

#12161 docs: generate JS SDK reference with fixes
  www/apps/resources/generated/edit-dates.mjs
  www/apps/resources/references/js_sdk/admin/Admin/properties/js_sdk.admin.Admin.claim/page.mdx
  www/apps/resources/references/js_sdk/admin/Admin/properties/js_sdk.admin.Admin.draftOrder/page.mdx
  www/apps/resources/references/js_sdk/admin/Admin/properties/js_sdk.admin.Admin.invite/page.mdx
  www/apps/resources/references/js_sdk/admin/Admin/properties/js_sdk.admin.Admin.order/page.mdx
  www/apps/resources/references/js_sdk/admin/Claim/methods/js_sdk.admin.Claim.addOutboundShipping/page.mdx
  www/apps/resources/references/js_sdk/admin/DraftOrder/methods/js_sdk.admin.DraftOrder.addItems/page.mdx
  www/apps/resources/references/js_sdk/admin/DraftOrder/methods/js_sdk.admin.DraftOrder.addPromotions/page.mdx
  www/apps/resources/references/js_sdk/admin/DraftOrder/methods/js_sdk.admin.DraftOrder.addShippingMethod/page.mdx
  www/apps/resources/references/js_sdk/admin/DraftOrder/methods/js_sdk.admin.DraftOrder.beginEdit/page.mdx
  www/apps/resources/references/js_sdk/admin/DraftOrder/methods/js_sdk.admin.DraftOrder.cancelEdit/page.mdx
  www/apps/resources/references/js_sdk/admin/DraftOrder/methods/js_sdk.admin.DraftOrder.confirmEdit/page.mdx
  www/apps/resources/references/js_sdk/admin/DraftOrder/methods/js_sdk.admin.DraftOrder.convertToOrder/page.mdx
  www/apps/resources/references/js_sdk/admin/DraftOrder/methods/js_sdk.admin.DraftOrder.create/page.mdx
  www/apps/resources/references/js_sdk/admin/DraftOrder/methods/js_sdk.admin.DraftOrder.removeActionItem/page.mdx
  www/apps/resources/references/js_sdk/admin/DraftOrder/methods/js_sdk.admin.DraftOrder.removeActionShippingMethod/page.mdx
  www/apps/resources/references/js_sdk/admin/DraftOrder/methods/js_sdk.admin.DraftOrder.removePromotions/page.mdx
  www/apps/resources/references/js_sdk/admin/DraftOrder/methods/js_sdk.admin.DraftOrder.requestEdit/page.mdx
  www/apps/resources/references/js_sdk/admin/DraftOrder/methods/js_sdk.admin.DraftOrder.update/page.mdx
  www/apps/resources/references/js_sdk/admin/DraftOrder/methods/js_sdk.admin.DraftOrder.updateActionItem/page.mdx
  www/apps/resources/references/js_sdk/admin/DraftOrder/methods/js_sdk.admin.DraftOrder.updateActionShippingMethod/page.mdx
  www/apps/resources/references/js_sdk/admin/DraftOrder/methods/js_sdk.admin.DraftOrder.updateItem/page.mdx
  www/apps/resources/references/js_sdk/admin/DraftOrder/methods/js_sdk.admin.DraftOrder.updateShippingMethod/page.mdx
  www/apps/resources/references/js_sdk/admin/Invite/methods/js_sdk.admin.Invite.accept/page.mdx
  www/apps/resources/references/js_sdk/admin/Order/methods/js_sdk.admin.Order.createCreditLine/page.mdx
  www/utils/generated/typedoc-json-output/js-sdk.json
Labels: type: docs, team: medusa

#12160 fix(types): fix type of application_method_type filter
  .changeset/spotty-spies-act.md
  packages/core/types/src/http/promotion/admin/queries.ts
Labels: type: bug, automerge, team: medusa

#12115 fix(core-flows): draft order reservations
  .changeset/eleven-readers-film.md
  integration-tests/http/__tests__/draft-order/admin/draft-order.spec.ts
  packages/core/core-flows/src/draft-order/workflows/confirm-draft-order-edit.ts
  packages/core/core-flows/src/draft-order/workflows/convert-draft-order.ts
Labels: type: bug, team: medusa

#12183 fix(index): Default schema typings
  .changeset/great-eels-dress.md
  packages/modules/index/src/utils/default-schema.ts
Labels: type: bug, automerge, team: medusa

#12157 fix(): Event group id propagation and event managements
  .changeset/perfect-dolphins-attend.md
  integration-tests/http/__tests__/product/admin/product-import.spec.ts
  integration-tests/modules/__tests__/index/query-index.spec.ts
  integration-tests/modules/__tests__/index/search.spec.ts
  integration-tests/modules/__tests__/index/sync.spec.ts
  packages/core/core-flows/src/product/workflows/import-products.ts
  packages/core/framework/src/http/utils/wrap-handler.ts
  packages/core/modules-sdk/src/__tests__/remote-link.spec.ts
  packages/core/modules-sdk/src/link.ts
  packages/core/orchestration/src/__tests__/transaction/transaction-orchestrator.ts
  packages/core/orchestration/src/transaction/errors.ts
  packages/core/orchestration/src/transaction/transaction-orchestrator.ts
  packages/core/orchestration/src/workflow/global-workflow.ts
  packages/core/orchestration/src/workflow/local-workflow.ts
  packages/core/types/src/link-modules/service.ts
  packages/core/utils/src/event-bus/message-aggregator.ts
  packages/core/utils/src/modules-sdk/decorators/inject-manager.ts
  packages/core/utils/src/modules-sdk/decorators/inject-transaction-manager.ts
  packages/medusa-test-utils/src/database.ts
  packages/modules/event-bus-local/src/services/event-bus-local.ts
  packages/modules/index/src/services/postgres-provider.ts
  packages/modules/workflow-engine-redis/integration-tests/__tests__/race.spec.ts
Labels: type: bug, team: medusa

#12188 docs(resources): fix express checkout page for missing prop in CartContext Provider component
  www/apps/resources/app/storefront-development/guides/express-checkout/page.mdx
Labels: type: docs, automerge

#12190 docs: changes to plugins page
  www/apps/book/app/learn/fundamentals/plugins/create/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/public/llms-full.txt
Labels: type: docs, team: medusa

#12130 docs: add loyalty points guide
  www/apps/book/public/llms-full.txt
  www/apps/resources/app/how-to-tutorials/tutorials/loyalty-points/page.mdx
  www/apps/resources/app/how-to-tutorials/tutorials/product-reviews/page.mdx
  www/apps/resources/generated/edit-dates.mjs
  www/apps/resources/generated/files-map.mjs
  www/apps/resources/generated/generated-commerce-modules-sidebar.mjs
  www/apps/resources/generated/generated-how-to-tutorials-sidebar.mjs
  www/apps/resources/sidebars/customer.mjs
  www/apps/resources/sidebars/how-to-tutorials.mjs
  www/apps/resources/sidebars/order-module.mjs
  www/apps/resources/sidebars/promotion.mjs
  www/packages/tags/src/tags/admin.ts
  www/packages/tags/src/tags/cart.ts
  www/packages/tags/src/tags/customer.ts
  www/packages/tags/src/tags/index.ts
  www/packages/tags/src/tags/js-sdk.ts
  www/packages/tags/src/tags/order.ts
  www/packages/tags/src/tags/plugin.ts
  www/packages/tags/src/tags/promotion.ts
  www/packages/tags/src/tags/server.ts
  www/packages/tags/src/tags/tutorial.ts
Labels: type: docs, team: medusa

#12140 Add support for dynamoDB for storing sessions and some types cleanup
  .changeset/short-meals-bake.md
  packages/core/framework/package.json
  packages/core/framework/src/config/config.ts
  packages/core/framework/src/config/types.ts
  packages/core/framework/src/http/__fixtures__/server/index.ts
  packages/core/framework/src/http/express-loader.ts
  packages/core/framework/src/medusa-app-loader.ts
  packages/core/types/src/common/config-module.ts
  packages/core/utils/src/common/__tests__/define-config.spec.ts
  packages/core/utils/src/common/define-config.ts
  packages/core/utils/src/common/index.ts
  packages/core/utils/src/common/try-convert-to-number.ts
  yarn.lock
Labels: type: feature, team: medusa

#12194 fix: apply additional data validator using a global middleware
  .changeset/curvy-ravens-turn.md
  packages/core/framework/src/http/__fixtures__/mocks/index.ts
  packages/core/framework/src/http/__fixtures__/routers-middleware/middlewares.ts
  packages/core/framework/src/http/__tests__/index.spec.ts
  packages/core/framework/src/http/middleware-file-loader.ts
  packages/core/framework/src/http/router.ts
  packages/core/framework/src/http/types.ts
  packages/core/framework/src/http/utils/define-middlewares.ts
  packages/medusa/src/utils/__tests__/define-routes-config.spec.ts
Labels: type: bug, team: medusa

#12201 docs: add a note to loyalty points guide
  www/apps/resources/app/how-to-tutorials/tutorials/loyalty-points/page.mdx
Labels: type: docs, team: medusa

#12205 docs: hide colon when a note's title has a punctuation
  www/packages/docs-ui/src/components/Note/Layout/index.tsx
Labels: type: docs, team: medusa

#12206 docs: add framework to navbar
  www/apps/book/app/page.tsx
  www/packages/docs-ui/src/components/Menu/SubMenu/index.tsx
  www/packages/docs-ui/src/constants.tsx
  www/packages/types/src/menu.ts
Labels: type: docs, team: medusa

#12198 fix(dashboard): properly register settings custom routes
  .changeset/green-penguins-kiss.md
  packages/admin/dashboard/src/dashboard-app/routes/get-route.map.tsx
Labels: type: bug, automerge, team: medusa

#12207 docs: capitalize use of Framework across docs
  www/apps/book/app/learn/customization/custom-features/api-route/page.mdx
  www/apps/book/app/learn/customization/custom-features/workflow/page.mdx
  www/apps/book/app/learn/customization/extend-features/extend-create-product/page.mdx
  www/apps/book/app/learn/customization/extend-features/page.mdx
  www/apps/book/app/learn/customization/integrate-systems/handle-event/page.mdx
  www/apps/book/app/learn/customization/integrate-systems/page.mdx
  www/apps/book/app/learn/customization/integrate-systems/schedule-task/page.mdx
  www/apps/book/app/learn/customization/integrate-systems/service/page.mdx
  www/apps/book/app/learn/fundamentals/medusa-container/page.mdx
  www/apps/book/app/learn/fundamentals/workflows/page.mdx
  www/apps/book/app/learn/page.mdx
  www/apps/book/public/llms-full.txt
  www/apps/resources/app/commerce-modules/page.mdx
  www/apps/resources/app/examples/guides/custom-item-price/page.mdx
  www/apps/resources/app/examples/guides/quote-management/page.mdx
  www/apps/resources/app/how-to-tutorials/tutorials/abandoned-cart/page.mdx
  www/apps/resources/app/how-to-tutorials/tutorials/loyalty-points/page.mdx
  www/apps/resources/app/how-to-tutorials/tutorials/product-reviews/page.mdx
  www/apps/resources/app/integrations/guides/algolia/page.mdx
  www/apps/resources/app/integrations/guides/magento/page.mdx
  www/apps/resources/app/integrations/guides/resend/page.mdx
  www/apps/resources/app/integrations/guides/sanity/page.mdx
  www/apps/resources/app/plugins/guides/wishlist/page.mdx
  www/apps/resources/app/recipes/commerce-automation/restock-notification/page.mdx
  www/apps/resources/app/recipes/digital-products/examples/standard/page.mdx
  www/apps/resources/app/recipes/erp/odoo/page.mdx
  www/apps/resources/app/recipes/erp/page.mdx
  www/apps/resources/app/recipes/marketplace/examples/restaurant-delivery/page.mdx
  www/apps/resources/app/recipes/marketplace/examples/vendors/page.mdx
  www/apps/resources/app/recipes/personalized-products/page.mdx
  www/apps/resources/app/recipes/pos/page.mdx
  www/apps/resources/app/recipes/subscriptions/examples/standard/page.mdx
  www/apps/resources/app/storefront-development/checkout/complete-cart/page.mdx
  www/apps/resources/app/storefront-development/checkout/email/page.mdx
  www/apps/resources/app/storefront-development/checkout/payment/stripe/page.mdx
  www/vale/styles/docs/Tooling.yml
Labels: type: docs, team: medusa

#12211 docs: update introduction and homepage following Framework changes
  www/apps/book/app/learn/page.mdx
  www/apps/book/components/Homepage/TopSection/index.tsx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/public/llms-full.txt
Labels: type: docs, team: medusa

#12196 fix(): Properly handle workflow as step now that events are fixed entirely
  .changeset/sour-apples-talk.md
  packages/core/orchestration/src/transaction/transaction-orchestrator.ts
  packages/core/orchestration/src/transaction/types.ts
  packages/core/orchestration/src/workflow/local-workflow.ts
  packages/core/workflows-sdk/src/helper/workflow-export.ts
  packages/core/workflows-sdk/src/utils/composer/create-workflow.ts
  packages/core/workflows-sdk/src/utils/composer/helpers/create-step-handler.ts
  packages/core/workflows-sdk/src/utils/composer/type.ts
  packages/modules/workflow-engine-inmemory/integration-tests/__tests__/index.spec.ts
  packages/modules/workflow-engine-inmemory/src/services/workflows-module.ts
  packages/modules/workflow-engine-inmemory/src/utils/workflow-orchestrator-storage.ts
  packages/modules/workflow-engine-redis/integration-tests/__fixtures__/workflow_scheduled.ts
  packages/modules/workflow-engine-redis/integration-tests/__tests__/index.spec.ts
  packages/modules/workflow-engine-redis/integration-tests/__tests__/race.spec.ts
  packages/modules/workflow-engine-redis/src/services/workflows-module.ts
  packages/modules/workflow-engine-redis/src/utils/workflow-orchestrator-storage.ts
Labels: type: bug, automerge, team: medusa

#12214 docs: add new troubleshooting guides for Query and middlewares
  www/apps/book/public/llms-full.txt
  www/apps/resources/app/troubleshooting/_sections/api-routes/middleware-file-name.mdx
  www/apps/resources/app/troubleshooting/_sections/query/expression-type-error.mdx
  www/apps/resources/app/troubleshooting/api-routes/additional-data-error/page.mdx
  www/apps/resources/app/troubleshooting/api-routes/middleware-registration/page.mdx
  www/apps/resources/app/troubleshooting/query/expression-type-error/page.mdx
  www/apps/resources/generated/edit-dates.mjs
  www/apps/resources/generated/files-map.mjs
  www/apps/resources/generated/generated-troubleshooting-sidebar.mjs
  www/apps/resources/sidebars/troubleshooting.mjs
Labels: type: docs, team: medusa

#12213 chore(core-flows,types): fix links in TSDocs pointing to architectural modules
  packages/core/core-flows/src/file/steps/delete-files.ts
  packages/core/core-flows/src/file/steps/upload-files.ts
  packages/core/core-flows/src/file/workflows/delete-files.ts
  packages/core/core-flows/src/file/workflows/upload-files.ts
  packages/core/core-flows/src/notification/steps/notify-on-failure.ts
  packages/core/core-flows/src/product/steps/generate-product-csv.ts
  packages/core/core-flows/src/product/workflows/import-products.ts
  packages/core/types/src/common/config-module.ts
Labels: type: chore, team: medusa

#12027 feat(orchestration): skip on permanent failure
  .changeset/cyan-ladybugs-heal.md
  packages/core/orchestration/src/__tests__/transaction/transaction-orchestrator.ts
  packages/core/orchestration/src/transaction/transaction-orchestrator.ts
  packages/core/orchestration/src/transaction/types.ts
  packages/core/types/src/http/workflow-execution/admin/entities.ts
  packages/core/workflows-sdk/src/utils/composer/__tests__/compose.ts
  www/utils/generated/oas-output/schemas/AdminWorkflowExecutionExecution.ts
Labels: type: docs, automerge, type: feature, team: medusa

#12217 docs: document conditional shipping option prices + expand on price rules
  www/apps/book/public/llms-full.txt
  www/apps/resources/app/commerce-modules/fulfillment/shipping-option/page.mdx
  www/apps/resources/app/commerce-modules/pricing/price-rules/page.mdx
  www/apps/resources/app/how-to-tutorials/tutorials/loyalty-points/page.mdx
  www/apps/resources/generated/edit-dates.mjs
  www/apps/resources/generated/generated-commerce-modules-sidebar.mjs
  www/apps/resources/sidebars/fulfillment.mjs
  www/apps/resources/sidebars/product.mjs
  www/apps/user-guide/app/settings/locations-and-shipping/locations/page.mdx
  www/apps/user-guide/generated/edit-dates.mjs
  www/packages/tags/src/tags/concept.ts
  www/packages/tags/src/tags/fulfillment.ts
  www/packages/tags/src/tags/product.ts
Labels: type: docs, team: medusa

#12220 docs: fix links in submenu navigation
  www/packages/docs-ui/src/utils/get-navbar-items.ts
Labels: type: docs, team: medusa

#12222 chore: fixes and updates to promotion and shipping option TSDocs
  packages/core/core-flows/src/fulfillment/steps/add-shipping-options-prices.ts
  packages/core/core-flows/src/fulfillment/workflows/create-shipping-options.ts
  packages/core/core-flows/src/fulfillment/workflows/update-shipping-options.ts
  packages/core/core-flows/src/product/workflows/create-product-variants.ts
  packages/core/core-flows/src/product/workflows/create-products.ts
  packages/core/core-flows/src/product/workflows/update-product-variants.ts
  packages/core/core-flows/src/product/workflows/update-products.ts
  packages/core/core-flows/src/promotion/workflows/create-promotions.ts
  packages/core/types/src/promotion/service.ts
Labels: type: chore, team: medusa

#12218 docs: expand on promotion rules
  www/apps/book/public/llms-full.txt
  www/apps/resources/app/commerce-modules/promotion/concepts/page.mdx
Labels: type: docs, team: medusa

#12215 docs: fix step name in long-running workflow documentation
  www/apps/book/app/learn/fundamentals/workflows/long-running-workflow/page.mdx
Labels: type: docs

#12225 docs: updates to link to other modules docs
  www/apps/book/app/learn/fundamentals/framework/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/public/llms-full.txt
  www/apps/resources/app/commerce-modules/api-key/links-to-other-modules/page.mdx
  www/apps/resources/app/commerce-modules/cart/links-to-other-modules/page.mdx
  www/apps/resources/app/commerce-modules/currency/links-to-other-modules/page.mdx
  www/apps/resources/app/commerce-modules/customer/links-to-other-modules/page.mdx
  www/apps/resources/app/commerce-modules/fulfillment/links-to-other-modules/page.mdx
  www/apps/resources/app/commerce-modules/inventory/links-to-other-modules/page.mdx
  www/apps/resources/app/commerce-modules/order/links-to-other-modules/page.mdx
  www/apps/resources/app/commerce-modules/payment/links-to-other-modules/page.mdx
  www/apps/resources/app/commerce-modules/pricing/links-to-other-modules/page.mdx
  www/apps/resources/app/commerce-modules/product/links-to-other-modules/page.mdx
  www/apps/resources/app/commerce-modules/promotion/links-to-other-modules/page.mdx
  www/apps/resources/app/commerce-modules/region/links-to-other-modules/page.mdx
  www/apps/resources/app/commerce-modules/sales-channel/links-to-other-modules/page.mdx
  www/apps/resources/app/commerce-modules/stock-location/links-to-other-modules/page.mdx
  www/apps/resources/app/commerce-modules/store/links-to-other-modules/page.mdx
  www/apps/resources/generated/edit-dates.mjs
Labels: type: docs, team: medusa

#12229 docs: add some redirects from v1 to v2 docs
  www/apps/book/utils/redirects.mjs
Labels: type: docs, team: medusa

#12224 feat: Add support for uploading a file directly to the file provider from the client
  packages/core/types/src/file/common.ts
  packages/core/types/src/file/mutations.ts
  packages/core/types/src/file/provider.ts
  packages/core/types/src/file/service.ts
  packages/modules/file/integration-tests/__fixtures__/providers/default-provider.ts
  packages/modules/file/integration-tests/__tests__/module.spec.ts
  packages/modules/file/src/services/file-module-service.ts
  packages/modules/file/src/services/file-provider-service.ts
  packages/modules/providers/file-s3/integration-tests/__fixtures__/catphoto.jpg
  packages/modules/providers/file-s3/integration-tests/__tests__/services.spec.ts
  packages/modules/providers/file-s3/src/services/s3-file.ts
Labels: type: feature, team: medusa

#12186 chore: Pass more data to fulfillment provider
  packages/core/core-flows/src/order/workflows/create-fulfillment.ts
Labels: type: chore, team: medusa

#12178 Chore/orchestration storage improvements
  packages/modules/workflow-engine-inmemory/integration-tests/__tests__/index.spec.ts
  packages/modules/workflow-engine-inmemory/src/utils/workflow-orchestrator-storage.ts
  packages/modules/workflow-engine-redis/src/utils/workflow-orchestrator-storage.ts
Labels: type: chore, automerge, team: medusa

#12233 dos: add docs on overriding allowed fields in routes
  www/apps/api-reference/markdown/admin.mdx
  www/apps/api-reference/markdown/store.mdx
  www/apps/api-reference/specs/admin/openapi.full.yaml
  www/apps/api-reference/specs/admin/paths/admin_customers.yaml
  www/apps/api-reference/specs/admin/paths/admin_customers_{id}.yaml
  www/apps/api-reference/specs/admin/paths/admin_customers_{id}_addresses.yaml
  www/apps/api-reference/specs/admin/paths/admin_customers_{id}_addresses_{address_id}.yaml
  www/apps/api-reference/specs/admin/paths/admin_customers_{id}_customer-groups.yaml
  www/apps/api-reference/specs/admin/paths/admin_product-categories.yaml
  www/apps/api-reference/specs/admin/paths/admin_product-categories_{id}.yaml
  www/apps/api-reference/specs/admin/paths/admin_product-categories_{id}_products.yaml
  www/apps/api-reference/specs/store/openapi.full.yaml
  www/apps/api-reference/specs/store/paths/store_customers.yaml
  www/apps/api-reference/specs/store/paths/store_customers_me.yaml
  www/apps/api-reference/specs/store/paths/store_customers_me_addresses.yaml
  www/apps/api-reference/specs/store/paths/store_customers_me_addresses_{address_id}.yaml
  www/apps/book/app/learn/customization/extend-features/query-linked-records/page.mdx
  www/apps/book/app/learn/fundamentals/api-routes/retrieve-custom-links/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/generated/sidebar.mjs
  www/apps/book/public/llms-full.txt
  www/apps/book/sidebar.mjs
  www/utils/generated/oas-output/operations/admin/delete_admin_customers_[id]_addresses_[address_id].ts
  www/utils/generated/oas-output/operations/admin/get_admin_customers.ts
  www/utils/generated/oas-output/operations/admin/get_admin_customers_[id].ts
  www/utils/generated/oas-output/operations/admin/get_admin_customers_[id]_addresses.ts
  www/utils/generated/oas-output/operations/admin/get_admin_customers_[id]_addresses_[address_id].ts
  www/utils/generated/oas-output/operations/admin/get_admin_product-categories.ts
  www/utils/generated/oas-output/operations/admin/get_admin_product-categories_[id].ts
  www/utils/generated/oas-output/operations/admin/post_admin_customers.ts
  www/utils/generated/oas-output/operations/admin/post_admin_customers_[id].ts
  www/utils/generated/oas-output/operations/admin/post_admin_customers_[id]_addresses.ts
  www/utils/generated/oas-output/operations/admin/post_admin_customers_[id]_addresses_[address_id].ts
  www/utils/generated/oas-output/operations/admin/post_admin_customers_[id]_customer-groups.ts
  www/utils/generated/oas-output/operations/admin/post_admin_product-categories.ts
  www/utils/generated/oas-output/operations/admin/post_admin_product-categories_[id].ts
  www/utils/generated/oas-output/operations/admin/post_admin_product-categories_[id]_products.ts
  www/utils/generated/oas-output/operations/store/delete_store_customers_me_addresses_[address_id].ts
  www/utils/generated/oas-output/operations/store/get_store_customers_me.ts
  www/utils/generated/oas-output/operations/store/get_store_customers_me_addresses.ts
  www/utils/generated/oas-output/operations/store/get_store_customers_me_addresses_[address_id].ts
  www/utils/generated/oas-output/operations/store/post_store_customers.ts
  www/utils/generated/oas-output/operations/store/post_store_customers_me.ts
  www/utils/generated/oas-output/operations/store/post_store_customers_me_addresses.ts
  www/utils/generated/oas-output/operations/store/post_store_customers_me_addresses_[address_id].ts
Labels: type: docs, team: medusa

#12232 fix: expose beforeRefreshingPaymentCollection hook
  .changeset/curvy-chicken-explode.md
  packages/core/core-flows/src/cart/workflows/refresh-cart-items.ts
Labels: type: bug, automerge, team: medusa

#12235 docs: add LLM dropdown menu to documentation pages
  www/apps/api-reference/markdown/admin.mdx
  www/apps/api-reference/markdown/store.mdx
  www/apps/book/app/_not-found.mdx
  www/apps/resources/app/not-found.mdx
  www/apps/ui/src/app/(content)/[[...slug]]/page.tsx
  www/apps/ui/src/app/not-found.mdx
  www/apps/ui/src/app/not-found.tsx
  www/apps/user-guide/app/md-content/[[...slug]]/route.ts
  www/apps/user-guide/app/not-found.mdx
  www/packages/docs-ui/src/components/Heading/H1/index.tsx
  www/packages/docs-ui/src/components/Icons/Markdown/index.tsx
  www/packages/docs-ui/src/components/LlmDropdown/index.tsx
  www/packages/docs-ui/src/components/Menu/Item/index.tsx
  www/packages/types/src/menu.ts
Labels: type: docs, team: medusa

#12238 docs: fix redirect infrastructure modules
  www/apps/book/app/md-content/[...slug]/route.ts
  www/apps/book/middleware.ts
  www/apps/resources/app/md-content/[[...slug]]/route.ts
  www/apps/resources/next.config.mjs
  www/apps/ui/src/app/md-content/[[...slug]]/route.ts
  www/apps/user-guide/app/md-content/[[...slug]]/route.ts
Labels: type: docs, team: medusa

#12239 docs: improvements to admin, query, and read-only link docs
  www/apps/book/app/learn/fundamentals/admin/page.mdx
  www/apps/book/app/learn/fundamentals/events-and-subscribers/page.mdx
  www/apps/book/app/learn/fundamentals/module-links/query/page.mdx
  www/apps/book/app/learn/fundamentals/module-links/read-only/page.mdx
  www/apps/book/app/learn/installation/page.mdx
  www/apps/book/app/learn/storefront-development/nextjs-starter/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/public/llms-full.txt
  www/apps/resources/app/integrations/guides/resend/page.mdx
Labels: type: docs, team: medusa

#12240 chore(types): small tsdoc change to file service
  packages/core/types/src/file/common.ts
Labels: type: chore, team: medusa

#12243 docs: fix revalidate cache guide
  www/apps/book/public/llms-full.txt
  www/apps/resources/app/nextjs-starter/guides/revalidate-cache/page.mdx
  www/apps/resources/generated/edit-dates.mjs
Labels: type: docs, team: medusa

#12234 fix(medusa): sales_channel_id middleware manipulation leading to lost of the sc
  integration-tests/http/__tests__/product/store/product.spec.ts
  packages/medusa/src/api/utils/middlewares/products/__tests__/filter-by-valid-sales-channels.spec.ts
  packages/medusa/src/api/utils/middlewares/products/__tests__/variant-inventory-quantity.spec.ts
  packages/medusa/src/api/utils/middlewares/products/filter-by-valid-sales-channels.ts
  packages/medusa/src/api/utils/middlewares/products/variant-inventory-quantity.ts
Labels: type: bug, team: medusa

#12247 docs: Fix typo "documenation" in env vars page.mdx
  www/apps/book/app/learn/fundamentals/environment-variables/page.mdx
Labels: type: docs, automerge

#12248 docs: fix messy layout bug
  www/packages/docs-ui/src/hooks/use-recaptcha/index.tsx
Labels: type: docs, team: medusa

#12242 docs: Replace api_key_id with publishable_key_id
  www/apps/resources/app/commerce-modules/api-key/links-to-other-modules/page.mdx
  www/apps/resources/app/commerce-modules/sales-channel/links-to-other-modules/page.mdx
Labels: type: docs, automerge

#12227 fix(core-flows, link-modules): return fulfillment creation
  .changeset/smart-zoos-flash.md
  integration-tests/http/__tests__/claims/claims.spec.ts
  integration-tests/http/__tests__/exchanges/exchanges.spec.ts
  integration-tests/http/__tests__/returns/returns.spec.ts
  packages/admin/dashboard/src/routes/orders/order-detail/components/order-summary-section/order-summary-section.tsx
  packages/core/core-flows/src/fulfillment/steps/create-return-fulfillment.ts
  packages/core/core-flows/src/fulfillment/workflows/create-return-fulfillment.ts
  packages/core/core-flows/src/order/workflows/claim/cancel-claim.ts
  packages/core/core-flows/src/order/workflows/exchange/cancel-exchange.ts
  packages/core/core-flows/src/order/workflows/return/confirm-return-request.ts
  packages/modules/link-modules/src/definitions/order-return-fulfillment.ts
Labels: type: bug, team: medusa

#12260 docs: added a section on loader execution
  www/apps/book/app/learn/fundamentals/modules/loaders/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/public/llms-full.txt
Labels: type: docs, team: medusa

#12261 docs: fix badges and titles not showing in code tabs
  www/apps/book/app/learn/fundamentals/plugins/create/page.mdx
  www/apps/resources/app/how-to-tutorials/tutorials/loyalty-points/page.mdx
  www/apps/resources/app/plugins/guides/wishlist/page.mdx
  www/packages/docs-ui/src/components/CodeTabs/index.tsx
  www/packages/docs-ui/src/components/Npm2YarnCode/index.tsx
Labels: type: docs, team: medusa

#12266 feat: upgrade opentelemetry packages to support the latest release
  .changeset/gorgeous-clocks-talk.md
  packages/medusa/package.json
  packages/medusa/src/instrumentation/index.ts
  yarn.lock
Labels: automerge, type: feature, team: medusa

#12271 docs: fix reference of draft orders JS SDK methods
  www/apps/book/public/llms-full.txt
  www/apps/resources/references/js_sdk/admin/Admin/properties/js_sdk.admin.Admin.draftOrder/page.mdx
  www/apps/resources/references/js_sdk/admin/DraftOrder/methods/js_sdk.admin.DraftOrder.addItems/page.mdx
  www/apps/resources/references/js_sdk/admin/DraftOrder/methods/js_sdk.admin.DraftOrder.addPromotions/page.mdx
  www/apps/resources/references/js_sdk/admin/DraftOrder/methods/js_sdk.admin.DraftOrder.addShippingMethod/page.mdx
  www/apps/resources/references/js_sdk/admin/DraftOrder/methods/js_sdk.admin.DraftOrder.beginEdit/page.mdx
  www/apps/resources/references/js_sdk/admin/DraftOrder/methods/js_sdk.admin.DraftOrder.cancelEdit/page.mdx
  www/apps/resources/references/js_sdk/admin/DraftOrder/methods/js_sdk.admin.DraftOrder.confirmEdit/page.mdx
  www/apps/resources/references/js_sdk/admin/DraftOrder/methods/js_sdk.admin.DraftOrder.convertToOrder/page.mdx
  www/apps/resources/references/js_sdk/admin/DraftOrder/methods/js_sdk.admin.DraftOrder.create/page.mdx
  www/apps/resources/references/js_sdk/admin/DraftOrder/methods/js_sdk.admin.DraftOrder.removeActionItem/page.mdx
  www/apps/resources/references/js_sdk/admin/DraftOrder/methods/js_sdk.admin.DraftOrder.removeActionShippingMethod/page.mdx
  www/apps/resources/references/js_sdk/admin/DraftOrder/methods/js_sdk.admin.DraftOrder.removePromotions/page.mdx
  www/apps/resources/references/js_sdk/admin/DraftOrder/methods/js_sdk.admin.DraftOrder.removeShippingMethod/page.mdx
  www/apps/resources/references/js_sdk/admin/DraftOrder/methods/js_sdk.admin.DraftOrder.requestEdit/page.mdx
  www/apps/resources/references/js_sdk/admin/DraftOrder/methods/js_sdk.admin.DraftOrder.update/page.mdx
  www/apps/resources/references/js_sdk/admin/DraftOrder/methods/js_sdk.admin.DraftOrder.updateActionItem/page.mdx
  www/apps/resources/references/js_sdk/admin/DraftOrder/methods/js_sdk.admin.DraftOrder.updateActionShippingMethod/page.mdx
  www/apps/resources/references/js_sdk/admin/DraftOrder/methods/js_sdk.admin.DraftOrder.updateItem/page.mdx
  www/apps/resources/references/js_sdk/admin/DraftOrder/methods/js_sdk.admin.DraftOrder.updateShippingMethod/page.mdx
  www/utils/generated/typedoc-json-output/js-sdk.json
Labels: type: docs, team: medusa

#12270 chore(js-sdk): fix TSDocs of draft orders in JS SDK
  packages/core/js-sdk/src/admin/draft-order.ts
Labels: type: chore, team: medusa

#12283 chore(types): claify province code format in TSDocs
  packages/core/types/src/cart/common.ts
  packages/core/types/src/cart/mutations.ts
  packages/core/types/src/cart/workflows.ts
  packages/core/types/src/customer/common.ts
  packages/core/types/src/customer/mutations.ts
  packages/core/types/src/fulfillment/common/address.ts
  packages/core/types/src/fulfillment/common/geo-zone.ts
  packages/core/types/src/fulfillment/common/order.ts
  packages/core/types/src/fulfillment/common/shipping-option.ts
  packages/core/types/src/fulfillment/mutations/fulfillment-address.ts
  packages/core/types/src/fulfillment/mutations/geo-zone.ts
  packages/core/types/src/fulfillment/service.ts
  packages/core/types/src/http/cart/common.ts
  packages/core/types/src/http/cart/store/payloads.ts
  packages/core/types/src/http/customer/common.ts
  packages/core/types/src/http/fulfillment-set/admin/entities.ts
  packages/core/types/src/http/fulfillment-set/admin/payloads.ts
  packages/core/types/src/http/fulfillment/admin/entitites.ts
  packages/core/types/src/http/fulfillment/admin/payloads.ts
  packages/core/types/src/http/order/admin/payload.ts
  packages/core/types/src/http/order/common.ts
  packages/core/types/src/http/product/store/queries.ts
  packages/core/types/src/http/stock-locations/admin/payloads.ts
  packages/core/types/src/http/tax-region/admin/entities.ts
  packages/core/types/src/http/tax-region/admin/payloads.ts
  packages/core/types/src/http/tax-region/admin/queries.ts
  packages/core/types/src/order/common.ts
  packages/core/types/src/order/mutations.ts
  packages/core/types/src/order/service.ts
  packages/core/types/src/stock-location/common.ts
  packages/core/types/src/tax/common.ts
  packages/core/types/src/tax/mutations.ts
  packages/core/types/src/tax/service.ts
  packages/core/types/src/workflow/fulfillment/create-fulfillment.ts
Labels: type: chore, team: medusa

#12284 fix(medusa): Fix store return API
  integration-tests/http/__tests__/order/store/returns.spec.ts
  packages/medusa/src/api/middlewares.ts
  packages/medusa/src/api/store/middlewares.ts
  packages/medusa/src/api/store/returns/middlewares.ts
  packages/medusa/src/api/store/returns/query-config.ts
  packages/medusa/src/api/store/returns/route.ts
  packages/medusa/src/api/store/returns/validators.ts
Labels: type: bug, automerge, team: medusa

#12289 docs: add note to s3 guide
  www/apps/resources/app/infrastructure-modules/file/s3/page.mdx
  www/apps/resources/generated/generated-integrations-sidebar.mjs
  www/apps/resources/sidebars/integrations.mjs
Labels: type: docs, team: medusa

#12288 docs: improve documetation around error handling in workflows
  www/apps/book/app/learn/fundamentals/workflows/access-workflow-errors/page.mdx
  www/apps/book/app/learn/fundamentals/workflows/compensation-function/page.mdx
  www/apps/book/app/learn/fundamentals/workflows/constructor-constraints/page.mdx
  www/apps/book/app/learn/fundamentals/workflows/errors/page.mdx
  www/apps/book/app/learn/fundamentals/workflows/variable-manipulation/page.mdx
  www/apps/book/app/learn/fundamentals/workflows/workflow-timeout/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/generated/sidebar.mjs
  www/apps/book/public/llms-full.txt
  www/apps/book/sidebar.mjs
  www/apps/book/utils/redirects.mjs
Labels: type: docs, team: medusa

#12290 docs: added mark fulfillment delivered step in digital products recipe
  www/apps/book/public/llms-full.txt
  www/apps/resources/app/commerce-modules/promotion/concepts/page.mdx
  www/apps/resources/app/data-model-repository-reference/methods/create/page.mdx
  www/apps/resources/app/data-model-repository-reference/methods/delete/page.mdx
  www/apps/resources/app/data-model-repository-reference/methods/find/page.mdx
  www/apps/resources/app/data-model-repository-reference/methods/findAndCount/page.mdx
  www/apps/resources/app/data-model-repository-reference/methods/restore/page.mdx
  www/apps/resources/app/data-model-repository-reference/methods/softDelete/page.mdx
  www/apps/resources/app/data-model-repository-reference/methods/update/page.mdx
  www/apps/resources/app/data-model-repository-reference/methods/upsert/page.mdx
  www/apps/resources/app/data-model-repository-reference/methods/upsertWithReplace/page.mdx
  www/apps/resources/app/data-model-repository-reference/page.mdx
  www/apps/resources/app/data-model-repository-reference/tips/filtering/page.mdx
  www/apps/resources/app/recipes/digital-products/examples/standard/page.mdx
  www/apps/resources/generated/edit-dates.mjs
Labels: type: docs, team: medusa

#12292 docs-util: enable internal resolve for workflows sdk reference
  www/utils/packages/typedoc-generate-references/src/constants/custom-options.ts
Labels: type: docs, team: medusa

#12293 docs: improve resend guide
  www/apps/book/public/llms-full.txt
  www/apps/resources/app/integrations/guides/resend/page.mdx
  www/apps/resources/generated/edit-dates.mjs
  www/packages/tags/src/tags/auth.ts
Labels: type: docs, team: medusa

#12272 Update 6.3. Using TypeScript Aliases - Alias should run after build, not before
  www/apps/book/app/learn/configurations/ts-aliases/page.mdx
Labels: type: docs, automerge

#12296 docs: general improvements and additions
  www/apps/book/app/learn/build/page.mdx
  www/apps/book/app/learn/fundamentals/api-routes/retrieve-custom-links/page.mdx
  www/apps/book/app/learn/fundamentals/data-models/manage-relationships/page.mdx
  www/apps/book/app/learn/fundamentals/framework/page.mdx
  www/apps/book/app/learn/fundamentals/module-links/read-only/page.mdx
  www/apps/book/app/learn/fundamentals/modules/db-operations/page.mdx
  www/apps/book/app/learn/fundamentals/workflows/errors/page.mdx
  www/apps/book/app/learn/installation/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/public/llms-full.txt
  www/apps/resources/app/commerce-modules/payment/payment-provider/stripe/page.mdx
  www/apps/resources/app/commerce-modules/product/guides/variant-inventory/page.mdx
  www/apps/resources/app/commerce-modules/product/variant-inventory/page.mdx
  www/apps/resources/app/commerce-modules/sales-channel/publishable-api-keys/page.mdx
  www/apps/resources/app/troubleshooting/_sections/other/validation-error.mdx
  www/apps/resources/app/troubleshooting/validation-error/page.mdx
  www/apps/resources/generated/edit-dates.mjs
  www/apps/resources/generated/files-map.mjs
  www/apps/resources/generated/generated-commerce-modules-sidebar.mjs
  www/apps/resources/generated/generated-how-to-tutorials-sidebar.mjs
  www/apps/resources/generated/generated-troubleshooting-sidebar.mjs
  www/apps/resources/sidebars/product.mjs
  www/apps/resources/sidebars/troubleshooting.mjs
  www/packages/tags/src/tags/auth.ts
  www/packages/tags/src/tags/how-to.ts
  www/packages/tags/src/tags/inventory.ts
  www/packages/tags/src/tags/product.ts
  www/packages/tags/src/tags/sales-channel.ts
  www/packages/tags/src/tags/server.ts
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/auth-provider.ts
  www/utils/packages/typedoc-plugin-markdown-medusa/src/resources/helpers/source-code-link.ts
  www/utils/packages/typedoc-plugin-markdown-medusa/src/resources/partials/member.dml.hbs
Labels: type: docs, team: medusa

#12269 fix(core-flows): handle inventory kit items in mark-as-shipped/delivered flows
  .changeset/modern-apricots-chew.md
  integration-tests/http/__tests__/order/admin/order.spec.ts
  packages/core/core-flows/src/order/workflows/cancel-order-fulfillment.ts
  packages/core/core-flows/src/order/workflows/create-shipment.ts
  packages/core/core-flows/src/order/workflows/mark-order-fulfillment-as-delivered.ts
Labels: type: bug, team: medusa

#12305 docs: fix troubleshooting page
  www/apps/resources/generated/generated-troubleshooting-sidebar.mjs
  www/apps/resources/sidebars/troubleshooting.mjs
Labels: type: docs, team: medusa

#12306 docs-util: add sidebar link validation in prep script
  www/packages/build-scripts/src/generate-sidebar.ts
Labels: type: docs, team: medusa

#12307 docs: add troubleshooting guide for white screen issue on admin…
  www/apps/docs/content/troubleshooting/white-screen-on-admin.md
  www/apps/docs/sidebars.js
Labels: type: docs, automerge

#12278 test: use shared as integration-tests level
  .github/actions/setup-server/action.yml
  .github/workflows/action.yml
  .github/workflows/admin-i18n-validation.yml
  .github/workflows/codegen-test.yml
  .github/workflows/docs-freshness-check.yml
  .github/workflows/docs-test.yml
  .github/workflows/docs-update-version.yml
  .github/workflows/generate-public-references.yml
  .github/workflows/oas-test.yml
  .github/workflows/release-notifications.yml
  .github/workflows/release.yml
  .github/workflows/snapshot-this.yml
  .github/workflows/test-cli-with-database.yml
  .github/workflows/trigger-release.yml
  integration-tests/http/package.json
  integration-tests/modules/package.json
  package.json
  packages/modules/index/package.json
  packages/modules/inventory/package.json
  packages/modules/locking/package.json
  packages/modules/order/package.json
  packages/modules/product/package.json
  packages/modules/providers/locking-postgres/package.json
  packages/modules/providers/locking-redis/package.json
  packages/modules/stock-location/package.json
  scripts/run-workspace-unit-tests-in-chunks.sh
  turbo.json
Labels: team: medusa

#12310 docs: fix module name in product review guide
  www/apps/book/public/llms-full.txt
  www/apps/resources/app/how-to-tutorials/tutorials/product-reviews/page.mdx
  www/apps/resources/generated/edit-dates.mjs
Labels: type: docs, team: medusa

#12300 docs(algolia): rename instructed filename to fit code-block and preserve naming conflict instructions
  www/apps/resources/app/integrations/guides/algolia/page.mdx
Labels: type: docs, automerge

#12312 docs: improve installation documentation with diagrams
  www/apps/book/app/learn/installation/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/public/llms-full.txt
Labels: type: docs, team: medusa

#12317 docs: fix incorrect note usage in some workflow references
  www/apps/resources/references/core_flows/Fulfillment/Steps_Fulfillment/functions/core_flows.Fulfillment.Steps_Fulfillment.createShippingOptionsPriceSetsStep/page.mdx
  www/apps/resources/references/core_flows/Fulfillment/Workflows_Fulfillment/functions/core_flows.Fulfillment.Workflows_Fulfillment.createShippingOptionsWorkflow/page.mdx
  www/apps/resources/references/core_flows/Fulfillment/Workflows_Fulfillment/functions/core_flows.Fulfillment.Workflows_Fulfillment.updateShippingOptionsWorkflow/page.mdx
  www/apps/resources/references/core_flows/Product/Workflows_Product/functions/core_flows.Product.Workflows_Product.createProductVariantsWorkflow/page.mdx
  www/apps/resources/references/core_flows/Product/Workflows_Product/functions/core_flows.Product.Workflows_Product.createProductsWorkflow/page.mdx
  www/apps/resources/references/core_flows/Product/Workflows_Product/functions/core_flows.Product.Workflows_Product.updateProductVariantsWorkflow/page.mdx
  www/apps/resources/references/core_flows/Product/Workflows_Product/functions/core_flows.Product.Workflows_Product.updateProductsWorkflow/page.mdx
Labels: type: docs, team: medusa

#12318 chore(core-flows): fix note usage in TSDocs
  packages/core/core-flows/src/fulfillment/steps/add-shipping-options-prices.ts
  packages/core/core-flows/src/fulfillment/workflows/create-shipping-options.ts
  packages/core/core-flows/src/fulfillment/workflows/update-shipping-options.ts
  packages/core/core-flows/src/product/workflows/create-product-variants.ts
  packages/core/core-flows/src/product/workflows/create-products.ts
  packages/core/core-flows/src/product/workflows/update-product-variants.ts
  packages/core/core-flows/src/product/workflows/update-products.ts
Labels: type: chore, team: medusa

#11898 feat(index): add filterable fields to link definition
  .changeset/small-jokes-shake.md
  integration-tests/modules/__tests__/index/query-index.spec.ts
  integration-tests/modules/__tests__/index/search.spec.ts
  integration-tests/modules/__tests__/index/sync.spec.ts
  packages/core/framework/src/medusa-app-loader.ts
  packages/core/modules-sdk/src/loaders/utils/load-internal.ts
  packages/core/types/src/common/common.ts
  packages/core/types/src/http/common/response.ts
  packages/core/types/src/index-data/__tests__/index.spec.ts
  packages/core/types/src/index-data/common.ts
  packages/core/types/src/index-data/query-config/query-input-config-fields.ts
  packages/core/types/src/index-data/query-config/query-input-config.ts
  packages/core/types/src/joiner/index.ts
  packages/core/types/src/modules-sdk/index.ts
  packages/core/types/src/modules-sdk/remote-query-object-from-string.ts
  packages/core/types/src/modules-sdk/remote-query.ts
  packages/core/utils/src/dml/__tests__/create-graphql.spec.ts
  packages/core/utils/src/dml/helpers/graphql-builder/get-attribute.ts
  packages/core/utils/src/modules-sdk/define-link.ts
  packages/core/utils/src/modules-sdk/query-context.ts
  packages/medusa/src/api/admin/products/route.ts
  packages/medusa/src/api/store/products/route.ts
  packages/modules/index/integration-tests/__tests__/query-builder.spec.ts
  packages/modules/index/src/migrations/Migration20231019174230.ts
  packages/modules/index/src/services/index-module-service.ts
  packages/modules/index/src/services/postgres-provider.ts
  packages/modules/index/src/utils/__tests__/build-config.spec.ts
  packages/modules/index/src/utils/base-graphql-schema.ts
  packages/modules/index/src/utils/build-config.ts
  packages/modules/index/src/utils/create-partitions.ts
  packages/modules/index/src/utils/default-schema.ts
  packages/modules/index/src/utils/gql-to-types.ts
  packages/modules/index/src/utils/query-builder.ts
  packages/modules/index/src/utils/sync/configuration.ts
  packages/modules/link-modules/src/utils/generate-schema.ts
  packages/modules/pricing/src/joiner-config.ts
  packages/modules/pricing/src/schema/index.ts
Labels: type: feature, team: medusa

#12309 fix(design-system): filter/sorting menu error
  .changeset/perfect-penguins-pay.md
  packages/design-system/ui/src/blocks/data-table/components/data-table-filter-menu.tsx
  packages/design-system/ui/src/blocks/data-table/components/data-table-sorting-menu.tsx
Labels: type: bug, automerge, team: medusa

#12315 docs: fix missing quotation mark in marketplace vendor tutorial curl request
  www/apps/resources/app/recipes/marketplace/examples/vendors/page.mdx
Labels: type: docs, automerge

#12325 feat: add needed methods to the file module and providers
  packages/core/types/src/file/provider.ts
  packages/core/types/src/file/service.ts
  packages/core/utils/src/file/abstract-file-provider.ts
  packages/modules/file/src/services/file-module-service.ts
  packages/modules/file/src/services/file-provider-service.ts
  packages/modules/providers/file-local/src/index.ts
  packages/modules/providers/file-local/src/services/local-file.ts
  packages/modules/providers/file-s3/src/services/s3-file.ts
Labels: type: feature, team: medusa

#12320 feat(core-flows, utils): add OrderEdit events
  .changeset/green-papayas-explain.md
  packages/core/core-flows/src/order/workflows/order-edit/cancel-begin-order-edit.ts
  packages/core/core-flows/src/order/workflows/order-edit/confirm-order-edit-request.ts
  packages/core/core-flows/src/order/workflows/order-edit/request-order-edit.ts
  packages/core/utils/src/core-flows/events.ts
Labels: type: feature, team: medusa

#12334 docs-util: fix hook examples not showing in generated references
  www/utils/packages/typedoc-plugin-markdown-medusa/src/resources/helpers/workflow-hooks.ts
Labels: type: docs, team: medusa
