Repository medusajs/medusa, pull requests merged in 2025-09, with the labels that each got.

#13312 chore(framework,medusa): load custom flags before medusa config
  .changeset/good-meals-watch.md
  .github/workflows/test-cli-with-database.yml
  integration-tests/http/__fixtures__/feature-flag/medusa-config.ts
  integration-tests/http/__fixtures__/feature-flag/src/feature-flags/env-ff.ts
  packages/core/framework/src/feature-flags/feature-flag-loader.ts
  packages/core/modules-sdk/src/loaders/utils/load-internal.ts
  packages/core/utils/src/feature-flags/discover-and-register-feature-flags.ts
  packages/core/utils/src/feature-flags/index.ts
  packages/medusa-test-utils/src/medusa-test-runner-utils/config.ts
  packages/medusa/src/loaders/index.ts
Labels: type: chore, team: medusa

#13211 feat(admin): add configurable order views
  packages/admin/dashboard/src/components/data-table/data-table.tsx
  packages/admin/dashboard/src/components/table/save-view-dialog/save-view-dialog.tsx
  packages/admin/dashboard/src/components/table/view-selector/view-pills.tsx
  packages/admin/dashboard/src/hooks/api/views.tsx
  packages/admin/dashboard/src/hooks/table/columns/use-column-state.ts
  packages/admin/dashboard/src/hooks/table/columns/use-configurable-order-table-columns.tsx
  packages/admin/dashboard/src/hooks/table/columns/use-order-data-table-columns.tsx
  packages/admin/dashboard/src/hooks/use-view-configurations.tsx
  packages/admin/dashboard/src/lib/table-display-utils.tsx
  packages/admin/dashboard/src/routes/orders/order-list/components/order-list-table/components/save-view-dropdown.tsx
  packages/admin/dashboard/src/routes/orders/order-list/components/order-list-table/configurable-order-list-table.tsx
  packages/admin/dashboard/src/routes/orders/order-list/components/order-list-table/constants.ts
  packages/admin/dashboard/src/routes/orders/order-list/components/order-list-table/hooks/use-order-data-table-columns.tsx
  packages/admin/dashboard/src/routes/orders/order-list/components/order-list-table/hooks/use-required-fields.ts
  packages/admin/dashboard/src/routes/orders/order-list/components/order-list-table/order-list-table.tsx
  packages/admin/dashboard/src/routes/orders/order-list/components/order-list-table/use-order-table-filters.tsx
  packages/admin/dashboard/src/routes/orders/order-list/components/order-list-table/utils/column-utils.ts
  packages/admin/dashboard/src/routes/orders/order-list/components/order-list-table/utils/field-utils.ts
  packages/admin/dashboard/src/routes/orders/order-list/const.ts
  packages/core/types/src/http/view-configuration/admin/payloads.ts
  packages/design-system/ui/src/blocks/data-table/components/data-table-table.tsx
  packages/medusa/src/api/admin/views/[entity]/configurations/active/route.ts
Labels: automerge, type: feature, team: medusa

#13379 docs: change digial products to digital products
  www/apps/resources/app/recipes/digital-products/page.mdx
Labels: type: docs, automerge

#13325 chore(): faster serialization
  .changeset/short-birds-help.md
  packages/core/utils/src/dal/mikro-orm/mikro-orm-serializer.ts
Labels: type: chore, team: medusa

#13394 fix(utils): big bumber should give numeric value of 0 for small numbers
  .changeset/good-points-play.md
  integration-tests/modules/__tests__/order/order.spec.ts
  packages/core/utils/src/totals/big-number.ts
  packages/core/utils/src/totals/credit-lines/index.ts
  packages/core/utils/src/totals/math.ts
  packages/core/utils/src/totals/promotion/index.ts
Labels: type: bug, team: medusa

#13392 fix(dashboard, ui): ensure radix deps version
  packages/admin/dashboard/package.json
  packages/design-system/ui/package.json
  yarn.lock
Labels: type: bug, team: medusa

#13409 docs: fix scrollbar not clickable
  www/packages/docs-ui/src/components/ContentMenu/index.tsx
Labels: type: docs, team: medusa

#13396 chore(): only execute race execution checks and publish message only for async workflows
  .changeset/cyan-gorillas-poke.md
  packages/modules/workflow-engine-inmemory/integration-tests/__tests__/index.spec.ts
  packages/modules/workflow-engine-inmemory/integration-tests/__tests__/race.spec.ts
  packages/modules/workflow-engine-inmemory/src/utils/workflow-orchestrator-storage.ts
  packages/modules/workflow-engine-redis/integration-tests/__tests__/race.spec.ts
  packages/modules/workflow-engine-redis/src/services/workflow-orchestrator.ts
  packages/modules/workflow-engine-redis/src/utils/workflow-orchestrator-storage.ts
Labels: type: chore, team: medusa

#13364 chore(orchestration): remote joiner query planner
  integration-tests/modules/__tests__/__fixtures__/translation-test/medusa-config.ts
  integration-tests/modules/__tests__/__fixtures__/translation-test/src/links/option-translation.ts
  integration-tests/modules/__tests__/__fixtures__/translation-test/src/links/product-category-translation.ts
  integration-tests/modules/__tests__/__fixtures__/translation-test/src/links/product-translation.ts
  integration-tests/modules/__tests__/__fixtures__/translation-test/src/links/variants-translation.ts
  integration-tests/modules/__tests__/__fixtures__/translation-test/src/modules/translation/index.ts
  integration-tests/modules/__tests__/__fixtures__/translation-test/src/modules/translation/migrations/.snapshot-medusa-translation-module.json
  integration-tests/modules/__tests__/__fixtures__/translation-test/src/modules/translation/migrations/Migration20240907134741.ts
  integration-tests/modules/__tests__/__fixtures__/translation-test/src/modules/translation/models/index.ts
  integration-tests/modules/__tests__/__fixtures__/translation-test/src/modules/translation/models/translation.ts
  integration-tests/modules/__tests__/__fixtures__/translation-test/src/modules/translation/service.ts
  integration-tests/modules/__tests__/query-graph/query-graph.ts
  packages/core/modules-sdk/src/remote-query/remote-query.ts
  packages/core/orchestration/src/__tests__/joiner/remote-joiner-data.ts
  packages/core/orchestration/src/joiner/remote-joiner.ts
  packages/core/types/src/joiner/index.ts
Labels: type: chore, automerge, team: medusa

#13416 docs: add plan cancelation details
  www/apps/cloud/app/billing/manage/page.mdx
  www/apps/cloud/app/billing/page.mdx
  www/apps/cloud/generated/edit-dates.mjs
Labels: type: docs, team: medusa

#13414 fix(dashboard): customer `has_acccount` flag
  .changeset/pink-dots-unite.md
  packages/admin/dashboard/src/routes/customer-groups/customer-group-add-customers/components/add-customers-form/add-customers-form.tsx
Labels: type: bug, team: medusa

#13376 fix(draft-order, medusa, types): ui polish
  .changeset/blue-donuts-begin.md
  packages/core/types/src/http/order/common.ts
  packages/core/types/src/http/promotion/admin/queries.ts
  packages/core/types/src/order/mutations.ts
  packages/medusa/src/api/admin/promotions/validators.ts
  packages/medusa/src/api/utils/common-validators/common.ts
  packages/plugins/draft-order/src/admin/components/draft-orders/activity-section.tsx
  packages/plugins/draft-order/src/admin/lib/schemas/address.ts
  packages/plugins/draft-order/src/admin/routes/draft-orders/[id]/@items/page.tsx
  packages/plugins/draft-order/src/admin/routes/draft-orders/[id]/@promotions/page.tsx
Labels: type: chore, automerge, team: medusa

#13407 fix(dashboard): support more decimals for tx rates
  .changeset/large-months-yawn.md
  packages/admin/dashboard/src/components/inputs/percentage-input/percentage-input.tsx
  packages/admin/dashboard/src/lib/number-helper.ts
  packages/admin/dashboard/src/lib/percentage-helpers.ts
  packages/admin/dashboard/src/routes/tax-regions/tax-region-create/components/tax-region-create-form/tax-region-create-form.tsx
  packages/admin/dashboard/src/routes/tax-regions/tax-region-province-create/components/tax-region-province-create-form/tax-region-province-create-form.tsx
  packages/admin/dashboard/src/routes/tax-regions/tax-region-tax-override-create/components/tax-region-override-create-form/tax-region-tax-override-create.tsx
  packages/admin/dashboard/src/routes/tax-regions/tax-region-tax-override-edit/components/tax-region-tax-override-edit-form/tax-region-tax-override-edit-form.tsx
  packages/admin/dashboard/src/routes/tax-regions/tax-region-tax-rate-create/components/tax-region-tax-rate-create-form/tax-region-tax-rate-create-form.tsx
  packages/admin/dashboard/src/routes/tax-regions/tax-region-tax-rate-edit/components/tax-region-tax-rate-edit-form/tax-region-tax-rate-edit-form.tsx
Labels: type: bug, team: medusa

#13391 chore(orchestration): add support for autoRetry, maxAwaitingRetries, retryStep
  .changeset/many-paws-tease.md
  packages/core/orchestration/src/__tests__/transaction/transaction-orchestrator.ts
  packages/core/orchestration/src/transaction/errors.ts
  packages/core/orchestration/src/transaction/transaction-orchestrator.ts
  packages/core/orchestration/src/transaction/transaction-step.ts
  packages/core/orchestration/src/transaction/types.ts
  packages/core/orchestration/src/workflow/local-workflow.ts
  packages/core/types/src/http/workflow-execution/admin/entities.ts
  packages/core/types/src/workflows-sdk/service.ts
  packages/core/workflows-sdk/src/helper/type.ts
  packages/core/workflows-sdk/src/helper/workflow-export.ts
  packages/core/workflows-sdk/src/utils/composer/type.ts
  packages/modules/workflow-engine-inmemory/integration-tests/__fixtures__/workflow_1_auto_retries.ts
  packages/modules/workflow-engine-inmemory/integration-tests/__fixtures__/workflow_1_auto_retries_false.ts
  packages/modules/workflow-engine-inmemory/integration-tests/__fixtures__/workflow_1_manual_retry_step.ts
  packages/modules/workflow-engine-inmemory/integration-tests/__tests__/index.spec.ts
  packages/modules/workflow-engine-inmemory/integration-tests/__tests__/race.spec.ts
  packages/modules/workflow-engine-inmemory/src/services/workflow-orchestrator.ts
  packages/modules/workflow-engine-inmemory/src/services/workflows-module.ts
  packages/modules/workflow-engine-inmemory/src/utils/workflow-orchestrator-storage.ts
  packages/modules/workflow-engine-redis/integration-tests/__fixtures__/workflow_1_auto_retries.ts
  packages/modules/workflow-engine-redis/integration-tests/__fixtures__/workflow_1_auto_retries_false.ts
  packages/modules/workflow-engine-redis/integration-tests/__fixtures__/workflow_1_manual_retry_step.ts
  packages/modules/workflow-engine-redis/integration-tests/__tests__/index.spec.ts
  packages/modules/workflow-engine-redis/integration-tests/__tests__/race.spec.ts
  packages/modules/workflow-engine-redis/src/services/workflow-orchestrator.ts
  packages/modules/workflow-engine-redis/src/services/workflows-module.ts
  packages/modules/workflow-engine-redis/src/utils/workflow-orchestrator-storage.ts
Labels: automerge, type: feature, team: medusa

#13436 docs: update project creation steps
  www/apps/cloud/app/projects/page.mdx
  www/apps/cloud/generated/edit-dates.mjs
Labels: type: docs, team: medusa

#13456 fix(): Prevent ci to fail if lock file does not exists
  .github/workflows/test-cli-with-database.yml
Labels: type: bug, team: medusa

#13455 chore(): Cart fixes and opti
  .changeset/famous-shoes-yell.md
  packages/modules/cart/src/services/cart-module.ts
Labels: type: chore, automerge, team: medusa

#13296 chore(): Module Internal Events
  .changeset/angry-bikes-perform.md
  packages/core/utils/src/event-bus/message-aggregator.ts
  packages/core/utils/src/modules-sdk/__tests__/medusa-internal-service.ts
  packages/core/utils/src/modules-sdk/create-medusa-mikro-orm-event-subscriber.ts
  packages/core/utils/src/modules-sdk/index.ts
  packages/core/utils/src/modules-sdk/medusa-internal-service.ts
  packages/core/utils/src/modules-sdk/medusa-service.ts
  packages/core/utils/src/modules-sdk/types/medusa-service.ts
  packages/modules/api-key/src/services/api-key-module-service.ts
  packages/modules/cart/src/services/cart-module.ts
  packages/modules/customer/src/services/customer-module.ts
  packages/modules/fulfillment/integration-tests/__tests__/fulfillment-module-service/fulfillment-set.spec.ts
  packages/modules/fulfillment/integration-tests/__tests__/fulfillment-module-service/fulfillment.spec.ts
  packages/modules/fulfillment/integration-tests/__tests__/fulfillment-module-service/geo-zone.spec.ts
  packages/modules/fulfillment/integration-tests/__tests__/fulfillment-module-service/service-zone.spec.ts
  packages/modules/fulfillment/integration-tests/__tests__/fulfillment-module-service/shipping-option.spec.ts
  packages/modules/fulfillment/integration-tests/__tests__/fulfillment-module-service/shipping-profile.spec.ts
  packages/modules/fulfillment/src/services/fulfillment-module-service.ts
  packages/modules/inventory/integration-tests/__tests__/inventory-module-service.spec.ts
  packages/modules/inventory/src/services/inventory-module.ts
  packages/modules/notification/integration-tests/__tests__/notification-module-service/index.spec.ts
  packages/modules/notification/src/services/notification-module-service.ts
  packages/modules/notification/src/utils/events.ts
  packages/modules/notification/src/utils/index.ts
  packages/modules/order/src/services/order-module-service.ts
  packages/modules/payment/src/services/payment-module.ts
  packages/modules/pricing/integration-tests/__tests__/services/pricing-module/price-list.spec.ts
  packages/modules/pricing/src/services/pricing-module.ts
  packages/modules/pricing/src/utils/events.ts
  packages/modules/pricing/src/utils/index.ts
  packages/modules/product/integration-tests/__fixtures__/product/data/create-product.ts
  packages/modules/product/integration-tests/__tests__/product-category.spec.ts
  packages/modules/product/integration-tests/__tests__/product-module-service/events.spec.ts
  packages/modules/product/integration-tests/__tests__/product-module-service/product-categories.spec.ts
  packages/modules/product/integration-tests/__tests__/product-module-service/product-collections.spec.ts
  packages/modules/product/integration-tests/__tests__/product-module-service/product-tags.spec.ts
  packages/modules/product/integration-tests/__tests__/product-module-service/product-variants.spec.ts
  packages/modules/product/integration-tests/__tests__/product-module-service/products.spec.ts
  packages/modules/product/integration-tests/__tests__/product.spec.ts
  packages/modules/product/package.json
  packages/modules/product/src/repositories/product-category.ts
  packages/modules/product/src/repositories/product.ts
  packages/modules/product/src/services/product-category.ts
  packages/modules/product/src/services/product-module-service.ts
  packages/modules/product/src/utils/events.ts
  packages/modules/promotion/src/services/promotion-module.ts
  packages/modules/region/src/services/region-module.ts
  packages/modules/sales-channel/src/services/sales-channel-module.ts
  packages/modules/settings/src/services/settings-module-service.ts
  packages/modules/stock-location/src/services/stock-location-module.ts
  packages/modules/store/src/services/store-module-service.ts
  packages/modules/tax/src/services/tax-module-service.ts
  packages/modules/user/integration-tests/__tests__/invite.spec.ts
  packages/modules/user/integration-tests/__tests__/user.spec.ts
  packages/modules/user/src/services/user-module.ts
Labels: type: chore, team: medusa

#13466 fix(): product image missing index
  .changeset/stupid-worms-mate.md
  packages/modules/product/src/migrations/.snapshot-medusa-product.json
  packages/modules/product/src/migrations/Migration20250910154539.ts
  packages/modules/product/src/models/product-image.ts
Labels: type: bug, automerge, team: medusa

#13389 feat(dashboard): reusable config datatable
  packages/admin/dashboard/src/components/table/configurable-data-table/configurable-data-table.tsx
  packages/admin/dashboard/src/components/table/configurable-data-table/index.ts
  packages/admin/dashboard/src/components/table/configurable-data-table/save-view-dropdown.tsx
  packages/admin/dashboard/src/hooks/api/views.tsx
  packages/admin/dashboard/src/hooks/table/columns/use-column-state.ts
  packages/admin/dashboard/src/hooks/table/columns/use-configurable-order-table-columns.tsx
  packages/admin/dashboard/src/hooks/table/columns/use-configurable-table-columns.tsx
  packages/admin/dashboard/src/hooks/table/use-table-configuration.tsx
  packages/admin/dashboard/src/i18n/translations/$schema.json
  packages/admin/dashboard/src/i18n/translations/en.json
  packages/admin/dashboard/src/lib/table/entity-adapters.tsx
  packages/admin/dashboard/src/lib/table/entity-defaults.ts
  packages/admin/dashboard/src/lib/table/field-utils.ts
  packages/admin/dashboard/src/lib/table/table-adapters.ts
  packages/admin/dashboard/src/routes/orders/order-list/components/order-list-table/configurable-order-list-table.tsx
  packages/admin/dashboard/src/routes/orders/order-list/components/order-list-table/hooks/use-required-fields.ts
  packages/admin/dashboard/src/routes/orders/order-list/components/order-list-table/order-table-adapter.tsx
  packages/admin/dashboard/src/routes/orders/order-list/components/order-list-table/utils/column-utils.ts
  packages/core/types/src/http/view-configuration/admin/responses.ts
Labels: type: feature, team: medusa

#13503 chore(js-sdk): add ignore tag to views
  packages/core/js-sdk/src/admin/index.ts
Labels: type: chore, team: medusa

#13501 chore(core-flows): use directory convention for locking steps
  .changeset/tricky-bobcats-brake.md
  packages/core/core-flows/src/cart/workflows/complete-cart.ts
  packages/core/core-flows/src/locking/index.ts
  packages/core/core-flows/src/locking/steps/acquire-lock.ts
  packages/core/core-flows/src/locking/steps/release-lock.ts
Labels: type: chore, team: medusa

#13461 fix(types): pluralize words ending in s like status
  .changeset/slow-walls-attend.md
  packages/core/types/src/common/__tests__/pluralize.spec.ts
  packages/core/types/src/common/common.ts
Labels: type: bug, team: medusa

#13516 test(): test dynamic max workers and improve CI
  .changeset/lucky-shrimps-hang.md
  .github/actions/cache-deps/action.yml
  .github/workflows/action.yml
  .github/workflows/test-cli-with-database.yml
  integration-tests/api/package.json
  integration-tests/http/package.json
  integration-tests/modules/__tests__/index/query-index.spec.ts
  integration-tests/modules/__tests__/index/search.spec.ts
  integration-tests/modules/package.json
  packages/core/core-flows/package.json
  packages/core/framework/package.json
  packages/core/js-sdk/package.json
  packages/core/modules-sdk/package.json
  packages/core/orchestration/package.json
  packages/core/utils/package.json
  packages/core/workflows-sdk/package.json
  packages/medusa/package.json
  packages/modules/analytics/package.json
  packages/modules/api-key/package.json
  packages/modules/auth/package.json
  packages/modules/cart/package.json
  packages/modules/currency/package.json
  packages/modules/customer/package.json
  packages/modules/event-bus-local/package.json
  packages/modules/event-bus-redis/package.json
  packages/modules/file/package.json
  packages/modules/fulfillment/package.json
  packages/modules/index/integration-tests/__fixtures__/medusa-config.js
  packages/modules/index/package.json
  packages/modules/inventory/package.json
  packages/modules/link-modules/package.json
  packages/modules/locking/package.json
  packages/modules/notification/package.json
  packages/modules/order/package.json
  packages/modules/payment/package.json
  packages/modules/pricing/package.json
  packages/modules/product/package.json
  packages/modules/promotion/package.json
  packages/modules/region/package.json
  packages/modules/sales-channel/package.json
  packages/modules/settings/package.json
  packages/modules/stock-location/package.json
  packages/modules/store/package.json
  packages/modules/tax/package.json
  packages/modules/user/package.json
  packages/modules/workflow-engine-inmemory/package.json
  packages/modules/workflow-engine-redis/package.json
Labels: type: chore, team: medusa

#13533 test(): Try to reproduce automatic promotion adjustments being applied twice
  integration-tests/http/__tests__/promotions/admin/promotions.spec.ts
Labels: automerge, team: medusa

#13535 fix(core-flows): Lock cart on shipping + taxes update
  integration-tests/http/__tests__/fixtures/order.ts
  integration-tests/http/__tests__/order/admin/order.spec.ts
  packages/core/core-flows/src/cart/workflows/add-shipping-method-to-cart.ts
  packages/core/core-flows/src/cart/workflows/update-tax-lines.ts
Labels: type: chore, team: medusa

#13539 chore: add tsdocs for latest changes
  packages/core/core-flows/src/cart/workflows/list-shipping-options-for-cart-with-pricing.ts
  packages/core/core-flows/src/cart/workflows/list-shipping-options-for-cart.ts
  packages/core/js-sdk/src/admin/index.ts
  packages/core/js-sdk/src/admin/views.ts
  packages/medusa/src/api/admin/views/[entity]/columns/route.ts
  packages/medusa/src/api/admin/views/[entity]/configurations/[id]/route.ts
  packages/medusa/src/api/admin/views/[entity]/configurations/active/route.ts
  packages/medusa/src/api/admin/views/[entity]/configurations/route.ts
Labels: type: chore, team: medusa

#13540 fix(): Prevent promotion filtering to exceed psql limits
  .changeset/sour-rockets-grin.md
  packages/modules/promotion/integration-tests/__tests__/services/promotion-module/compute-actions.spec.ts
  packages/modules/promotion/src/services/promotion-module.ts
  packages/modules/promotion/src/utils/compute-actions/build-promotion-rule-query-filter-from-context.ts
Labels: type: chore, team: medusa

#13497 fix(utils,core-flows): subtotal calculation and returns location
  .changeset/rare-colts-warn.md
  integration-tests/http/__tests__/exchanges/exchanges.spec.ts
  integration-tests/http/__tests__/fixtures/order.ts
  integration-tests/http/__tests__/payment/admin/payment.spec.ts
  integration-tests/http/__tests__/returns/returns.spec.ts
  integration-tests/modules/__tests__/order/order.spec.ts
  packages/core/core-flows/src/order/steps/add-order-transaction.ts
  packages/core/core-flows/src/order/utils/order-validation.ts
  packages/core/core-flows/src/order/workflows/claim/claim-request-item-return.ts
  packages/core/core-flows/src/order/workflows/create-or-update-order-payment-collection.ts
  packages/core/core-flows/src/order/workflows/create-order-credit-lines.ts
  packages/core/core-flows/src/order/workflows/create-order-payment-collection.ts
  packages/core/core-flows/src/order/workflows/exchange/exchange-request-item-return.ts
  packages/core/core-flows/src/order/workflows/mark-order-fulfillment-as-delivered.ts
  packages/core/core-flows/src/order/workflows/payments/create-order-refund-credit-lines.ts
  packages/core/core-flows/src/order/workflows/payments/refund-captured-payments.ts
  packages/core/core-flows/src/order/workflows/return/confirm-receive-return-request.ts
  packages/core/core-flows/src/order/workflows/return/create-complete-return.ts
  packages/core/core-flows/src/payment/workflows/refund-payment.ts
  packages/core/types/src/order/mutations.ts
  packages/core/types/src/workflow/order/request-item-return.ts
  packages/core/utils/src/totals/__tests__/totals.ts
  packages/core/utils/src/totals/adjustment/index.ts
  packages/core/utils/src/totals/cart/index.ts
  packages/core/utils/src/totals/line-item/index.ts
  packages/core/utils/src/totals/shipping-method/index.ts
  packages/core/utils/src/totals/tax/index.ts
  packages/medusa/src/api/admin/claims/validators.ts
  packages/medusa/src/api/admin/draft-orders/query-config.ts
  packages/medusa/src/api/admin/exchanges/validators.ts
  packages/medusa/src/api/admin/orders/query-config.ts
  packages/medusa/src/api/store/orders/query-config.ts
  packages/modules/cart/integration-tests/__tests__/services/cart-module/index.spec.ts
  packages/modules/order/integration-tests/__tests__/create-order.spec.ts
  packages/modules/order/integration-tests/__tests__/order-edit.spec.ts
  packages/modules/order/src/services/order-module-service.ts
  packages/modules/order/src/utils/calculate-order-change.ts
Labels: type: bug, team: medusa

#13537 fix(auth-emailpass): better handle identity with same email error
  .changeset/blue-laws-argue.md
  packages/modules/providers/auth-emailpass/integration-tests/__tests__/services.spec.ts
  packages/modules/providers/auth-emailpass/src/services/emailpass.ts
Labels: type: bug, team: medusa

#13546 fix(medusa-test-utils): add health endpoint in test server
  .changeset/neat-pumas-promise.md
  packages/medusa-test-utils/src/medusa-test-runner-utils/bootstrap-app.ts
Labels: type: bug, team: medusa

#13552 docs: disable retrieving Cloud pricing data on preview + other changes
  www/apps/cloud/app/pricing/content.tsx
Labels: type: docs, team: medusa

#13558 fix(types): pluralize settings
  .changeset/hip-moles-tease.md
  packages/core/types/src/common/__tests__/pluralize.spec.ts
  packages/core/types/src/common/common.ts
Labels: type: bug, automerge, team: medusa

#13556 Chore/promo improve further
  .changeset/lazy-lemons-occur.md
  integration-tests/http/__tests__/cart/store/cart.spec.ts
  integration-tests/modules/__tests__/cart/store/add-promotions-to-cart.spec.ts
  integration-tests/modules/__tests__/cart/store/carts.spec.ts
  integration-tests/modules/__tests__/cart/store/remove-promotions-from-cart.spec.ts
  integration-tests/modules/__tests__/order/draft-order.spec.ts
  packages/modules/promotion/integration-tests/__tests__/services/promotion-module/compute-actions.spec.ts
  packages/modules/promotion/integration-tests/__tests__/services/promotion-module/promotion.spec.ts
  packages/modules/promotion/src/migrations/.snapshot-medusa-promotion.json
  packages/modules/promotion/src/migrations/Migration20250919122137.ts
  packages/modules/promotion/src/models/promotion-rule.ts
  packages/modules/promotion/src/utils/compute-actions/build-promotion-rule-query-filter-from-context.ts
Labels: type: chore, team: medusa

#13559 fix(types): missing service zone in shipping option
  .changeset/forty-foxes-live.md
  packages/core/types/src/http/fulfillment/store/index.ts
  packages/core/types/src/http/shipping-option/store/responses.ts
Labels: type: bug, team: medusa

#13561 fix(workflow-engine-redis): use worker connection
  .changeset/thirty-squids-swim.md
  packages/modules/workflow-engine-redis/src/utils/workflow-orchestrator-storage.ts
Labels: type: bug, automerge, team: medusa

#13568 chore(): remove ssl_mode from url and also use sslmode
  .changeset/tiny-guests-wait.md
  packages/core/framework/src/database/pg-connection-loader.ts
  packages/core/utils/src/modules-sdk/__tests__/load-database-config.spec.ts
  packages/core/utils/src/modules-sdk/load-module-database-config.ts
Labels: type: chore, team: medusa

#13570 fix(workflow-engine-redis): module option queueName wrongly used
  .changeset/light-parrots-explode.md
  packages/modules/workflow-engine-redis/src/loaders/redis.ts
Labels: type: bug, automerge, team: medusa

#13567 fix(order): save return's location ID from input
  .changeset/dull-dodos-kick.md
  packages/modules/order/src/services/actions/create-return.ts
Labels: type: bug, team: medusa

#13565 fix(dashboard): add offset and limit to query parameters in useTableConfiguration
  .changeset/spicy-swans-grab.md
  packages/admin/dashboard/src/hooks/table/use-table-configuration.tsx
Labels: automerge

#13564 Feat(): faster entity serializer
  integration-tests/http/__tests__/returns/returns.spec.ts
  packages/core/utils/package.json
  packages/core/utils/src/dal/mikro-orm/__tests__/mikro-orm-serializer.spec.ts
  packages/core/utils/src/dal/mikro-orm/big-number-field.ts
  packages/core/utils/src/dal/mikro-orm/mikro-orm-serializer-old.ts
  packages/core/utils/src/dal/mikro-orm/mikro-orm-serializer.ts
  yarn.lock
Labels: automerge, type: feature, team: medusa

#13573 Revert "fix(types): pluralize settings"
  .changeset/hip-moles-tease.md
  packages/core/types/src/common/__tests__/pluralize.spec.ts
  packages/core/types/src/common/common.ts
Labels: automerge, team: medusa

#13571 feat(dashboard): refactor location list UI to use data table
  .changeset/weak-candles-melt.md
  packages/admin/dashboard/src/components/data-table/data-table.tsx
  packages/admin/dashboard/src/i18n/translations/$schema.json
  packages/admin/dashboard/src/i18n/translations/en.json
  packages/admin/dashboard/src/routes/locations/location-edit/components/edit-location-form/edit-location-form.tsx
  packages/admin/dashboard/src/routes/locations/location-list/components/location-list-header/index.ts
  packages/admin/dashboard/src/routes/locations/location-list/components/location-list-header/location-list-header.tsx
  packages/admin/dashboard/src/routes/locations/location-list/index.ts
  packages/admin/dashboard/src/routes/locations/location-list/loader.ts
  packages/admin/dashboard/src/routes/locations/location-list/location-list.tsx
  packages/admin/dashboard/src/routes/locations/location-list/use-location-list-table-columns.tsx
  packages/admin/dashboard/src/routes/locations/location-list/use-location-list-table-query.tsx
  packages/admin/dashboard/src/routes/refund-reasons/refund-reason-list/components/refund-reason-list-table/refund-reason-list-table.tsx
  packages/modules/stock-location/src/models/stock-location-address.ts
  packages/modules/stock-location/src/models/stock-location.ts
Labels: type: feature, team: medusa

#13587 feat(dashboard): select refund reason in refund form
  .changeset/tame-gifts-provide.md
  packages/admin/dashboard/src/routes/orders/order-create-refund/components/create-refund-form/create-refund-form.tsx
Labels: automerge, type: feature, team: medusa

#13589 fix(dashboard): improve inventory level location management
  .changeset/spicy-timers-breathe.md
  packages/admin/dashboard/src/hooks/api/inventory.tsx
  packages/admin/dashboard/src/i18n/translations/$schema.json
  packages/admin/dashboard/src/i18n/translations/en.json
  packages/admin/dashboard/src/routes/inventory/inventory-detail/components/location-levels-table/use-location-list-table-columns.tsx
  packages/admin/dashboard/src/routes/inventory/inventory-detail/components/manage-locations/components/location-item.tsx
  packages/admin/dashboard/src/routes/inventory/inventory-detail/components/manage-locations/components/location-search-input.tsx
  packages/admin/dashboard/src/routes/inventory/inventory-detail/components/manage-locations/components/manage-locations-form.tsx
  packages/core/core-flows/src/inventory/workflows/delete-inventory-levels.ts
Labels: automerge, type: feature, team: medusa

#13596 fix(dashboard): copy phone on order customer info
  .changeset/chatty-garlics-kick.md
  packages/admin/dashboard/src/components/common/customer-info/customer-info.tsx
Labels: automerge

#13601 feat(cli): servers and workers in cluster mode
  .changeset/gorgeous-islands-double.md
  packages/cli/medusa-cli/src/create-cli.ts
  packages/medusa/src/commands/start.ts
Labels: type: feature, team: medusa

#13620 docs: general updates and fixes
  www/apps/resources/app/commerce-modules/order/edit/page.mdx
  www/apps/resources/app/commerce-modules/order/exchange/page.mdx
  www/apps/resources/app/commerce-modules/promotion/campaign/page.mdx
  www/apps/resources/app/commerce-modules/tax/tax-rates-and-rules/page.mdx
  www/apps/user-guide/app/customers/groups/page.mdx
  www/apps/user-guide/app/customers/manage/page.mdx
  www/apps/user-guide/app/inventory/inventory/page.mdx
  www/apps/user-guide/app/inventory/reservations/page.mdx
  www/apps/user-guide/app/orders/claims/page.mdx
  www/apps/user-guide/app/orders/draft-orders/create/page.mdx
  www/apps/user-guide/app/orders/draft-orders/manage/page.mdx
  www/apps/user-guide/app/orders/edit/page.mdx
  www/apps/user-guide/app/orders/exchanges/page.mdx
  www/apps/user-guide/app/orders/fulfillments/page.mdx
  www/apps/user-guide/app/orders/manage/page.mdx
  www/apps/user-guide/app/orders/payments/page.mdx
  www/apps/user-guide/app/orders/returns/page.mdx
  www/apps/user-guide/app/page.mdx
  www/apps/user-guide/app/price-lists/create/page.mdx
  www/apps/user-guide/app/price-lists/manage/page.mdx
  www/apps/user-guide/app/products/categories/page.mdx
  www/apps/user-guide/app/products/collections/page.mdx
  www/apps/user-guide/app/products/create/page.mdx
  www/apps/user-guide/app/products/edit/page.mdx
  www/apps/user-guide/app/products/export/page.mdx
  www/apps/user-guide/app/products/import/page.mdx
  www/apps/user-guide/app/products/variants/page.mdx
  www/apps/user-guide/app/promotions/campaigns/page.mdx
  www/apps/user-guide/app/promotions/manage/page.mdx
  www/apps/user-guide/app/settings/developer/page.mdx
  www/apps/user-guide/app/settings/developer/publishable-api-keys/page.mdx
  www/apps/user-guide/app/settings/developer/secret-api-keys/page.mdx
  www/apps/user-guide/app/settings/developer/workflows/page.mdx
  www/apps/user-guide/app/settings/locations-and-shipping/locations/page.mdx
  www/apps/user-guide/app/settings/locations-and-shipping/shipping-option-types/page.mdx
  www/apps/user-guide/app/settings/locations-and-shipping/shipping-profiles/page.mdx
  www/apps/user-guide/app/settings/product-tags/page.mdx
  www/apps/user-guide/app/settings/product-types/page.mdx
  www/apps/user-guide/app/settings/profile/page.mdx
  www/apps/user-guide/app/settings/regions/page.mdx
  www/apps/user-guide/app/settings/return-reasons/page.mdx
  www/apps/user-guide/app/settings/sales-channels/page.mdx
  www/apps/user-guide/app/settings/store/page.mdx
  www/apps/user-guide/app/settings/tax-regions/page.mdx
  www/apps/user-guide/app/settings/users/page.mdx
  www/apps/user-guide/app/tips/bulk-editor/page.mdx
  www/apps/user-guide/app/tips/lists/page.mdx
Labels: type: docs, team: medusa

#13626 fix(): Pricing preference context loss
  .changeset/cyan-horses-join.md
  packages/core/types/src/pricing/common/price-preference.ts
  packages/core/types/src/pricing/common/price-rule.ts
  packages/modules/pricing/src/repositories/pricing.ts
  packages/modules/pricing/src/services/pricing-module.ts
  packages/plugins/draft-order/package.json
  yarn.lock
Labels: type: bug, automerge, team: medusa

#13628 fix(): Module test runner lifecycle does not shutdown properly
  .changeset/late-feet-think.md
  packages/medusa-test-utils/src/init-modules.ts
Labels: type: bug, team: medusa

#13629 fix(): workflow engine migration issue
  .changeset/hip-brooms-listen.md
  packages/modules/workflow-engine-inmemory/src/migrations/Migration20250819104213.ts
Labels: type: bug, automerge, team: medusa
