Repository medusajs/medusa, pull requests merged in 2025-05, with the labels that each got.

#12302 docs: fix TypeScript errors in marketplace vendor tutorial
  www/apps/resources/app/recipes/marketplace/examples/vendors/page.mdx
Labels: type: docs, automerge

#12339 docs-util: support deprecated tag in OAS
  www/utils/packages/docs-generator/src/classes/kinds/oas.ts
Labels: type: docs, team: medusa

#12338 fix(core-flows,utils): move fulfillment workflow events
  .changeset/friendly-hairs-cross.md
  packages/core/core-flows/src/order/workflows/create-shipment.ts
  packages/core/core-flows/src/order/workflows/mark-order-fulfillment-as-delivered.ts
  packages/core/utils/src/core-flows/events.ts
  packages/core/utils/src/fulfillment/events.ts
Labels: type: bug, automerge, team: medusa

#12337 chore: add tsdocs for events
  packages/core/utils/src/core-flows/events.ts
Labels: type: chore, team: medusa

#12340 docs-util: add script to generate events info
  www/utils/generated/events-output.json
  www/utils/packages/docs-generator/package.json
  www/utils/packages/docs-generator/src/classes/generators/events.ts
  www/utils/packages/docs-generator/src/classes/kinds/events.ts
  www/utils/packages/docs-generator/src/commands/run-git-changes.ts
  www/utils/packages/docs-generator/src/commands/run-git-commit.ts
  www/utils/packages/docs-generator/src/commands/run-release.ts
  www/utils/packages/docs-generator/src/commands/run.ts
  www/utils/packages/docs-generator/src/index.ts
  www/utils/packages/docs-generator/src/types/index.d.ts
  www/utils/packages/docs-generator/src/utils/get-output-base-paths.ts
  www/utils/yarn.lock
Labels: type: docs, team: medusa

#12342 chore(utils): fixes to events TSDocs
  packages/core/utils/src/core-flows/events.ts
Labels: type: chore, team: medusa

#12333 fix: batch updates in upsertMany_
  packages/core/utils/src/dal/mikro-orm/mikro-orm-repository.ts
Labels: type: bug

#12328 feat: implement direct upload
  integration-tests/http/__tests__/upload/admin/__fixtures__/products.csv
  integration-tests/http/__tests__/upload/admin/presigned-urls.spec.ts
  packages/core/js-sdk/src/admin/product.ts
  packages/core/js-sdk/src/types.ts
  packages/core/types/src/file/provider.ts
  packages/core/types/src/file/service.ts
  packages/core/types/src/http/file/admin/payloads.ts
  packages/core/types/src/http/file/admin/responses.ts
  packages/core/types/src/http/product/admin/payloads.ts
  packages/core/types/src/http/product/admin/responses.ts
  packages/core/utils/src/file/abstract-file-provider.ts
  packages/medusa/src/api/admin/products/imports/[transaction_id]/confirm/route.ts
  packages/medusa/src/api/admin/products/imports/route.ts
  packages/medusa/src/api/admin/products/middlewares.ts
  packages/medusa/src/api/admin/products/validators.ts
  packages/medusa/src/api/admin/uploads/middlewares.ts
  packages/medusa/src/api/admin/uploads/presigned-urls/route.ts
  packages/medusa/src/api/admin/uploads/validators.ts
  packages/modules/file/src/services/file-module-service.ts
  packages/modules/file/src/services/file-provider-service.ts
  packages/modules/providers/file-local/src/services/local-file.ts
  packages/modules/providers/file-s3/src/services/s3-file.ts
Labels: type: feature, team: medusa

#12355 chore: Update teams.yml
  .github/teams.yml
Labels: automerge, team: medusa

#12358 docs: fix redirect on infrastructural modules
  www/apps/book/app/learn/fundamentals/modules/infrastructure-modules/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/public/llms-full.txt
  www/apps/book/utils/redirects.mjs
Labels: type: docs, team: medusa

#12359 docs: fix local links in UI docs
  www/apps/ui/src/content/docs/components/data-table.mdx
  www/apps/ui/src/content/docs/components/table.mdx
Labels: type: docs, team: medusa

#12357 fix: export ProductImage to allow for custom links to add alt text
  .changeset/lemon-bees-wave.md
  packages/core/utils/src/product/events.ts
  packages/modules/product/integration-tests/__tests__/product-module-service/products.spec.ts
  packages/modules/product/integration-tests/__tests__/product.ts
  packages/modules/product/src/joiner-config.ts
  packages/modules/product/src/services/product-module-service.ts
Labels: type: bug, team: medusa

#12361 docs: add script to catch bad redirects
  www/apps/api-reference/next.config.mjs
  www/apps/api-reference/package.json
  www/apps/book/next.config.mjs
  www/apps/book/utils/redirects.mjs
  www/apps/resources/next.config.mjs
  www/packages/build-scripts/package.json
  www/packages/build-scripts/src/catch-bad-redirects.ts
  www/packages/build-scripts/src/index.ts
  www/yarn.lock
Labels: type: docs, team: medusa

#12354 fix(product): Return updated collections
  .changeset/fair-turtles-end.md
  packages/modules/product/integration-tests/__tests__/product-module-service/product-collections.spec.ts
  packages/modules/product/src/services/product-module-service.ts
Labels: type: bug, automerge, team: medusa

#12365 docs: add troubleshooting for index.html error
  www/apps/book/public/llms-full.txt
  www/apps/resources/app/troubleshooting/_sections/admin/build-error.mdx
  www/apps/resources/app/troubleshooting/medusa-admin/build-error/page.mdx
  www/apps/resources/generated/edit-dates.mjs
  www/apps/resources/generated/files-map.mjs
  www/apps/resources/generated/generated-troubleshooting-sidebar.mjs
  www/apps/resources/sidebars/troubleshooting.mjs
Labels: type: docs, team: medusa

#12360 fix(create-medusa-app): updates to text and prompts
  .changeset/shiny-poets-smell.md
  packages/cli/create-medusa-app/src/utils/facts.ts
  packages/cli/create-medusa-app/src/utils/nextjs-utils.ts
  packages/cli/create-medusa-app/src/utils/project-creator/medusa-project-creator.ts
Labels: type: bug, team: medusa

#12374 docs: add missing details for tiered pricing
  www/apps/book/public/llms-full.txt
  www/apps/resources/app/commerce-modules/fulfillment/page.mdx
  www/apps/resources/app/commerce-modules/pricing/page.mdx
  www/apps/resources/app/commerce-modules/pricing/price-calculation/page.mdx
  www/apps/resources/app/commerce-modules/pricing/price-rules/page.mdx
  www/apps/resources/app/commerce-modules/product/page.mdx
  www/apps/resources/generated/edit-dates.mjs
  www/apps/resources/generated/generated-commerce-modules-sidebar.mjs
  www/apps/resources/sidebars/pricing.mjs
Labels: type: docs, team: medusa

#12376 docs-util: add events to workflows reference
  www/apps/resources/components/MDXComponents/index.tsx
  www/utils/generated/events-output.json
  www/utils/packages/typedoc-config/tsdoc.json
  www/utils/packages/typedoc-plugin-markdown-medusa/src/render-utils.ts
  www/utils/packages/typedoc-plugin-markdown-medusa/src/resources/helpers/comments.ts
  www/utils/packages/typedoc-plugin-markdown-medusa/src/resources/helpers/events-listing.ts
  www/utils/packages/typedoc-plugin-markdown-medusa/src/resources/helpers/workflow-events.ts
  www/utils/packages/typedoc-plugin-markdown-medusa/src/resources/partials/member.workflow.hbs
  www/utils/packages/typedoc-plugin-workflows/src/plugin.ts
  www/utils/packages/typedoc-plugin-workflows/src/utils/helper.ts
Labels: type: docs, team: medusa

#12362 feat(workflows-*): Allow to re run non idempotent but stored workflow with the same transaction id if considered done
  .changeset/stupid-wasps-greet.md
  packages/core/orchestration/package.json
  packages/core/orchestration/src/__tests__/transaction/transaction-orchestrator.ts
  packages/core/orchestration/src/transaction/datastore/abstract-storage.ts
  packages/core/orchestration/src/transaction/distributed-transaction.ts
  packages/core/orchestration/src/transaction/transaction-orchestrator.ts
  packages/core/orchestration/src/transaction/types.ts
  packages/core/orchestration/src/workflow/local-workflow.ts
  packages/core/types/src/shared-context.ts
  packages/core/workflows-sdk/src/helper/workflow-export.ts
  packages/modules/workflow-engine-inmemory/integration-tests/__fixtures__/index.ts
  packages/modules/workflow-engine-inmemory/integration-tests/__fixtures__/workflow_not_idempotent_with_retention.ts
  packages/modules/workflow-engine-inmemory/integration-tests/__tests__/index.spec.ts
  packages/modules/workflow-engine-inmemory/package.json
  packages/modules/workflow-engine-inmemory/src/migrations/.snapshot-medusa-workflows.json
  packages/modules/workflow-engine-inmemory/src/migrations/Migration20250505092459.ts
  packages/modules/workflow-engine-inmemory/src/models/workflow-execution.ts
  packages/modules/workflow-engine-inmemory/src/schema/index.ts
  packages/modules/workflow-engine-inmemory/src/services/workflow-orchestrator.ts
  packages/modules/workflow-engine-inmemory/src/utils/workflow-orchestrator-storage.ts
  packages/modules/workflow-engine-redis/integration-tests/__fixtures__/index.ts
  packages/modules/workflow-engine-redis/integration-tests/__fixtures__/workflow_not_idempotent_with_retention.ts
  packages/modules/workflow-engine-redis/integration-tests/__tests__/index.spec.ts
  packages/modules/workflow-engine-redis/integration-tests/__tests__/race.spec.ts
  packages/modules/workflow-engine-redis/package.json
  packages/modules/workflow-engine-redis/src/migrations/.snapshot-medusa-workflows.json
  packages/modules/workflow-engine-redis/src/migrations/Migration20250505101505.ts
  packages/modules/workflow-engine-redis/src/models/workflow-execution.ts
  packages/modules/workflow-engine-redis/src/services/workflow-orchestrator.ts
  packages/modules/workflow-engine-redis/src/utils/workflow-orchestrator-storage.ts
  yarn.lock
Labels: type: chore, team: medusa

#12385 docs: update import user guide text + add diagram in brand module guide
  www/apps/book/app/learn/customization/custom-features/module/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/public/llms-full.txt
  www/apps/user-guide/app/products/import/page.mdx
  www/apps/user-guide/generated/edit-dates.mjs
Labels: type: docs, team: medusa

#12297 feat(dashboard, js-sdk, medusa, tax, types): custom tax providers
  .changeset/hungry-cougars-reflect.md
  integration-tests/http/__tests__/order-edits/order-edits.spec.ts
  integration-tests/http/__tests__/product/store/product.spec.ts
  integration-tests/modules/__tests__/fixtures/tax/index.ts
  packages/admin/dashboard/src/dashboard-app/routes/get-route.map.tsx
  packages/admin/dashboard/src/hooks/api/tax-regions.tsx
  packages/admin/dashboard/src/i18n/translations/$schema.json
  packages/admin/dashboard/src/i18n/translations/en.json
  packages/admin/dashboard/src/routes/tax-regions/common/components/tax-region-card/tax-region-card.tsx
  packages/admin/dashboard/src/routes/tax-regions/tax-region-create/components/tax-region-create-form/tax-region-create-form.tsx
  packages/admin/dashboard/src/routes/tax-regions/tax-region-detail/tax-region-detail.tsx
  packages/admin/dashboard/src/routes/tax-regions/tax-region-detail/tax-region-provider-section/index.ts
  packages/admin/dashboard/src/routes/tax-regions/tax-region-detail/tax-region-provider-section/tax-region-provider-section.tsx
  packages/admin/dashboard/src/routes/tax-regions/tax-region-edit/components/tax-region-edit/index.ts
  packages/admin/dashboard/src/routes/tax-regions/tax-region-edit/components/tax-region-edit/tax-region-edit-form.tsx
  packages/admin/dashboard/src/routes/tax-regions/tax-region-edit/index.ts
  packages/admin/dashboard/src/routes/tax-regions/tax-region-edit/tax-region-edit.tsx
  packages/admin/dashboard/src/routes/tax-regions/tax-region-province-detail/components/tax-region-province-detail-section/tax-region-detail-section.tsx
  packages/core/core-flows/src/tax/steps/update-tax-regions.ts
  packages/core/core-flows/src/tax/workflows/update-tax-regions.ts
  packages/core/js-sdk/src/admin/index.ts
  packages/core/js-sdk/src/admin/tax-provider.ts
  packages/core/js-sdk/src/admin/tax-rate.ts
  packages/core/js-sdk/src/admin/tax-region.ts
  packages/core/types/src/http/index.ts
  packages/core/types/src/http/tax-provider/admin/entities.ts
  packages/core/types/src/http/tax-provider/admin/index.ts
  packages/core/types/src/http/tax-provider/admin/queries.ts
  packages/core/types/src/http/tax-provider/admin/responses.ts
  packages/core/types/src/http/tax-provider/index.ts
  packages/core/types/src/http/tax-region/admin/entities.ts
  packages/core/types/src/http/tax-region/admin/payloads.ts
  packages/core/types/src/tax/common.ts
  packages/core/types/src/tax/mutations.ts
  packages/core/types/src/tax/service.ts
  packages/medusa/src/api/admin/tax-providers/middlewares.ts
  packages/medusa/src/api/admin/tax-providers/query-config.ts
  packages/medusa/src/api/admin/tax-providers/route.ts
  packages/medusa/src/api/admin/tax-providers/validators.ts
  packages/medusa/src/api/admin/tax-regions/[id]/route.ts
  packages/medusa/src/api/admin/tax-regions/validators.ts
  packages/medusa/src/api/middlewares.ts
  packages/medusa/src/migration-scripts/migrate-tax-region-provider.ts
  packages/modules/tax/integration-tests/utils/setup-tax-structure.ts
  packages/modules/tax/src/loaders/providers.ts
  packages/modules/tax/src/services/index.ts
  packages/modules/tax/src/services/tax-module-service.ts
  packages/modules/tax/src/services/tax-provider.ts
Labels: type: feature, team: medusa

#12390 docs-util: add events to generated OAS
  www/utils/packages/docs-generator/src/classes/kinds/oas.ts
  www/utils/packages/docs-generator/src/types/index.d.ts
Labels: type: docs, team: medusa

#12380 fix(core-flows): export order-related utility workflows
  .changeset/good-kiwis-applaud.md
  packages/core/core-flows/src/draft-order/workflows/convert-draft-order.ts
  packages/core/core-flows/src/order/index.ts
  packages/core/core-flows/src/order/workflows/claim/create-claim-shipping-method.ts
  packages/core/core-flows/src/order/workflows/claim/refresh-shipping.ts
  packages/core/core-flows/src/order/workflows/exchange/create-exchange-shipping-method.ts
  packages/core/core-flows/src/order/workflows/exchange/refresh-shipping.ts
  packages/core/core-flows/src/order/workflows/fetch-shipping-option.ts
  packages/core/core-flows/src/order/workflows/index.ts
  packages/core/core-flows/src/order/workflows/maybe-refresh-shipping-methods.ts
  packages/core/core-flows/src/order/workflows/return/create-return-shipping-method.ts
  packages/core/core-flows/src/order/workflows/return/refresh-shipping.ts
  packages/core/core-flows/src/payment/workflows/process-payment.ts
  packages/core/types/src/workflow/order/request-transfer.ts
  packages/core/utils/src/core-flows/events.ts
Labels: type: bug, team: medusa

#12391 feat(product): search variants by product properties
  .changeset/dull-otters-cheer.md
  packages/modules/product/src/models/product-variant.ts
Labels: automerge, type: feature, team: medusa

#12393 fix(medusa): check if tax module is installed when running tax migration script
  .changeset/flat-paws-search.md
  packages/medusa/src/migration-scripts/migrate-tax-region-provider.ts
Labels: type: bug, team: medusa

#12395 chore(utils): fixes to events TSDocs
  packages/core/types/src/cart/workflows.ts
  packages/core/types/src/http/cart/store/payloads.ts
  packages/core/utils/src/core-flows/events.ts
Labels: type: chore, team: medusa

#12392 docs: show events emitted in an API route in the API reference
  www/apps/api-reference/components/Tags/Operation/DescriptionSection/Events/index.tsx
  www/apps/api-reference/components/Tags/Operation/DescriptionSection/index.tsx
  www/apps/api-reference/components/Tags/Operation/Parameters/Types/Object/index.tsx
  www/apps/api-reference/components/Tags/Operation/Parameters/index.tsx
  www/packages/types/src/openapi.ts
  www/utils/packages/docs-generator/src/classes/kinds/oas.ts
  www/utils/packages/docs-generator/src/types/index.d.ts
  www/utils/packages/types/lib/index.d.ts
Labels: type: docs, team: medusa

#12406 fix: Use logger in the test runner and migration commands
  packages/core/utils/src/modules-sdk/migration-scripts/migration-down.ts
  packages/core/utils/src/modules-sdk/migration-scripts/migration-generate.ts
  packages/core/utils/src/modules-sdk/migration-scripts/migration-up.ts
  packages/medusa-test-utils/src/medusa-test-runner-utils/use-db.ts
  packages/medusa-test-utils/src/medusa-test-runner.ts
Labels: type: bug, team: medusa

#12405 docs: add copy subscriber button
  www/apps/api-reference/components/Tags/Operation/DescriptionSection/Events/index.tsx
  www/apps/api-reference/package.json
  www/apps/book/package.json
  www/apps/book/public/llms-full.txt
  www/apps/book/scripts/prepare.mjs
  www/apps/resources/app/commerce-modules/pricing/price-calculation/page.mdx
  www/apps/resources/app/commerce-modules/pricing/price-rules/page.mdx
  www/apps/resources/app/recipes/bundled-products/examples/standard/page.mdx
  www/apps/resources/components/EventHeader/index.tsx
  www/apps/resources/components/MDXComponents/index.tsx
  www/apps/resources/generated/edit-dates.mjs
  www/apps/resources/package.json
  www/apps/ui/package.json
  www/apps/user-guide/package.json
  www/packages/docs-ui/package.json
  www/packages/docs-ui/src/components/CopyButton/index.tsx
  www/packages/docs-ui/src/components/CopyGeneratedSnippetButton/index.tsx
  www/packages/docs-ui/src/components/Heading/H1/index.tsx
  www/packages/docs-ui/src/components/Heading/H2/index.tsx
  www/packages/docs-ui/src/components/Heading/H3/index.tsx
  www/packages/docs-ui/src/components/Heading/H4/index.tsx
  www/packages/docs-ui/src/components/LlmDropdown/index.tsx
  www/packages/docs-ui/src/components/Menu/Dropdown/index.tsx
  www/packages/docs-ui/src/components/Menu/index.tsx
  www/packages/docs-ui/src/components/index.ts
  www/packages/docs-ui/src/hooks/index.ts
  www/packages/docs-ui/src/hooks/use-generate-snippet/index.tsx
  www/packages/docs-ui/src/hooks/use-generate-snippet/snippet-generators/subscriber.ts
  www/packages/docs-ui/src/utils/event-parser.ts
  www/packages/docs-ui/src/utils/index.ts
  www/packages/docs-utils/src/estree-to-js.ts
  www/packages/docs-utils/src/get-clean-md.ts
  www/packages/docs-utils/src/utils/parsers.ts
  www/packages/types/package.json
  www/packages/types/src/remark-rehype.ts
  www/utils/packages/typedoc-plugin-markdown-medusa/src/resources/helpers/events-listing.ts
  www/utils/packages/typedoc-plugin-markdown-medusa/src/resources/helpers/workflow-events.ts
  www/yarn.lock
Labels: type: docs, team: medusa

#12353 chore: Minor restructure of cart completion
  .changeset/beige-actors-tie.md
  packages/core/core-flows/src/cart/steps/compensate-payment-if-needed.ts
  packages/core/core-flows/src/cart/workflows/complete-cart.ts
  packages/core/core-flows/src/order/steps/add-order-transaction.ts
  packages/core/core-flows/src/payment/workflows/index.ts
  packages/core/core-flows/src/payment/workflows/process-payment.ts
  packages/medusa/src/subscribers/payment-webhook.ts
Labels: type: chore, team: medusa

#12411 chore: update generate references action to generate / commit events
  .github/workflows/generate-public-references.yml
Labels: type: chore, team: medusa

#12413 docs: add support for keywords in references
  www/apps/resources/app/references/[...slug]/page.tsx
  www/apps/resources/references/auth_provider/classes/auth_provider.AbstractAuthModuleProvider/page.mdx
  www/apps/resources/references/cache/interfaces/cache.ICacheService/page.mdx
  www/apps/resources/references/event/interfaces/event.IEventBusModuleService/page.mdx
  www/apps/resources/references/file/classes/file.AbstractFileProviderService/page.mdx
  www/apps/resources/references/locking/interfaces/locking.ILockingProvider/page.mdx
  www/apps/resources/references/notification_service/interfaces/notification_service.INotificationModuleService/page.mdx
  www/apps/resources/references/tax_provider/interfaces/tax_provider.ITaxProvider/page.mdx
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/auth-provider.ts
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/cache.ts
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/event.ts
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/file.ts
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/fulfillment-provider.ts
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/locking.ts
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/notification-service.ts
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/payment-provider.ts
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/tax-provider.ts
  www/utils/packages/types/lib/index.d.ts
Labels: type: docs, team: medusa

#12415 chore: update Medusa UI packages in docs on new release
  .github/workflows/generate-public-references.yml
  www/apps/ui/scripts/copy-colors.ts
  www/package.json
Labels: type: docs, team: medusa

#12416 docs: enable and send algolia events
  www/packages/docs-ui/src/components/Search/Hits/index.tsx
  www/packages/docs-ui/src/components/Search/index.tsx
  www/packages/docs-ui/src/providers/Search/index.tsx
Labels: type: docs, team: medusa

#12419 docs: updates to middlewares and protected API routes + new chapter
  www/apps/book/app/learn/fundamentals/api-routes/middlewares/page.mdx
  www/apps/book/app/learn/fundamentals/api-routes/override/page.mdx
  www/apps/book/app/learn/fundamentals/api-routes/protected-routes/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/generated/sidebar.mjs
  www/apps/book/public/llms-full.txt
  www/apps/book/sidebar.mjs
  www/apps/resources/app/commerce-modules/auth/create-actor-type/page.mdx
  www/apps/resources/generated/edit-dates.mjs
  www/apps/resources/generated/generated-commerce-modules-sidebar.mjs
Labels: type: docs, team: medusa

#12409 chore(utils): small fix to payload in TSDocs
  packages/core/utils/src/core-flows/events.ts
Labels: type: chore, team: medusa

#12424 chore(utils): add version tag to order edit events
  packages/core/utils/src/core-flows/events.ts
Labels: type: chore, team: medusa

#12427 test(workflow-engine): Ensure failed subscriber does not compensate workflows
  integration-tests/modules/__tests__/workflow-engine/workflow-engine.ts
Labels: type: chore, team: medusa

#12381 test(core-flows): Ensure productVariantUpdated failure compensate the workflow
  integration-tests/modules/__tests__/product/workflows/update-product-variants.spec.ts
  packages/core/workflows-sdk/src/utils/_playground.ts
Labels: team: medusa, bug

#12422 docs: support version in events reference
  www/apps/api-reference/specs/admin/openapi.full.yaml
  www/apps/api-reference/specs/admin/paths/admin_order-edits_{id}.yaml
  www/apps/api-reference/specs/admin/paths/admin_order-edits_{id}_confirm.yaml
  www/apps/api-reference/specs/admin/paths/admin_order-edits_{id}_request.yaml
  www/apps/api-reference/specs/store/code_samples/Shell/store_carts/post.sh
  www/apps/api-reference/specs/store/openapi.full.yaml
  www/apps/api-reference/specs/store/paths/store_carts_{id}.yaml
  www/apps/resources/components/EventHeader/index.tsx
  www/apps/resources/references/core_flows/Cart/Workflows_Cart/functions/core_flows.Cart.Workflows_Cart.updateCartWorkflow/page.mdx
  www/apps/resources/references/core_flows/Order/Workflows_Order/functions/core_flows.Order.Workflows_Order.cancelBeginOrderEditWorkflow/page.mdx
  www/apps/resources/references/core_flows/Order/Workflows_Order/functions/core_flows.Order.Workflows_Order.confirmOrderEditRequestWorkflow/page.mdx
  www/apps/resources/references/core_flows/Order/Workflows_Order/functions/core_flows.Order.Workflows_Order.requestOrderEditRequestWorkflow/page.mdx
  www/apps/resources/references/module_events/module_events.Cart/page.mdx
  www/apps/resources/references/module_events/module_events.Order/page.mdx
  www/apps/resources/references/modules/events/page.mdx
  www/utils/generated/events-output.json
  www/utils/generated/oas-output/operations/admin/delete_admin_order-edits_[id].ts
  www/utils/generated/oas-output/operations/admin/post_admin_order-edits_[id]_confirm.ts
  www/utils/generated/oas-output/operations/admin/post_admin_order-edits_[id]_request.ts
  www/utils/generated/oas-output/operations/store/post_store_carts_[id].ts
  www/utils/packages/docs-generator/src/classes/kinds/events.ts
  www/utils/packages/typedoc-plugin-markdown-medusa/src/resources/helpers/events-listing.ts
  www/utils/packages/typedoc-plugin-markdown-medusa/src/resources/helpers/workflow-events.ts
  www/utils/packages/typedoc-plugin-workflows/src/plugin.ts
Labels: type: docs, team: medusa

#12426 chore(js-sdk,types,utils): updates to file TSDocs
  packages/core/js-sdk/src/admin/product.ts
  packages/core/types/src/file/provider.ts
  packages/core/types/src/file/service.ts
  packages/core/types/src/http/file/admin/payloads.ts
  packages/core/types/src/http/product/admin/payloads.ts
  packages/core/utils/src/file/abstract-file-provider.ts
Labels: type: chore, team: medusa

#12428 chore(js-sdk, types): update TSDocs related to tax provider changes
  packages/core/js-sdk/src/admin/tax-provider.ts
  packages/core/js-sdk/src/admin/tax-region.ts
  packages/core/types/src/tax/provider.ts
  packages/core/types/src/tax/service.ts
Labels: type: chore, team: medusa

#12432 docs-util: add note for providers
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/auth-provider.ts
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/fulfillment-provider.ts
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/notification.ts
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/payment-provider.ts
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/tax-provider.ts
Labels: type: docs, team: medusa

#12433 docs: support showing version of API route in API reference
  www/apps/api-reference/components/Tags/Operation/DescriptionSection/Events/index.tsx
  www/apps/api-reference/components/Tags/Operation/DescriptionSection/index.tsx
  www/packages/types/src/openapi.ts
Labels: type: docs, team: medusa

#12436 chore(medusa): add version tag for new routes
  packages/medusa/src/api/admin/products/imports/[transaction_id]/confirm/route.ts
  packages/medusa/src/api/admin/products/imports/route.ts
  packages/medusa/src/api/admin/tax-providers/route.ts
  packages/medusa/src/api/store/returns/route.ts
Labels: type: chore, team: medusa

#12434 docs: fix keyboard navigation in search
  www/packages/docs-ui/src/components/Search/Hits/index.tsx
  www/packages/docs-ui/src/hooks/use-search-navigation/index.ts
Labels: type: docs, team: medusa

#12437 fix(dashboard): tax regions UI polish
  packages/admin/dashboard/src/dashboard-app/routes/get-route.map.tsx
  packages/admin/dashboard/src/i18n/translations/$schema.json
  packages/admin/dashboard/src/i18n/translations/en.json
  packages/admin/dashboard/src/routes/tax-regions/tax-region-create/components/tax-region-create-form/tax-region-create-form.tsx
  packages/admin/dashboard/src/routes/tax-regions/tax-region-edit/tax-region-edit.tsx
Labels: type: bug, team: medusa

#12435 fix(workflow-engine-*): q text search
  integration-tests/http/__tests__/workflow-engine/admin/index.spec.ts
  packages/core/types/src/http/workflow-execution/admin/queries.ts
  packages/core/types/src/workflows-sdk/common.ts
  packages/medusa/src/api/admin/workflows-executions/validators.ts
  packages/modules/workflow-engine-inmemory/src/services/workflows-module.ts
  packages/modules/workflow-engine-redis/src/services/workflows-module.ts
Labels: type: feature, team: medusa

#12397 fix(core-flows): use product title for line item title
  integration-tests/http/__tests__/cart/store/cart.spec.ts
  integration-tests/modules/__tests__/cart/store/cart.workflows.spec.ts
  integration-tests/modules/__tests__/cart/store/carts.spec.ts
  integration-tests/modules/__tests__/order/draft-order.spec.ts
  packages/admin/dashboard/src/routes/orders/order-create-claim/components/claim-create-form/claim-outbound-item.tsx
  packages/admin/dashboard/src/routes/orders/order-create-edit/components/order-edit-create-form/order-edit-item.tsx
  packages/admin/dashboard/src/routes/orders/order-create-exchange/components/exchange-create-form/exchange-outbound-item.tsx
  packages/core/core-flows/src/cart/utils/prepare-line-item-data.ts
Labels: type: bug, has: breaking changes, team: medusa

#12425 feat(core-flows): Emit cart trasnferred customer
  .changeset/serious-plums-hope.md
  packages/core/core-flows/src/cart/workflows/transfer-cart-customer.ts
  packages/core/utils/src/core-flows/events.ts
Labels: automerge, type: feature, team: medusa

#12371 fix(dashboard): inventory kit combobox state
  .changeset/large-clocks-decide.md
  packages/admin/dashboard/src/hooks/use-combobox-data.tsx
  packages/admin/dashboard/src/routes/product-variants/product-variant-manage-inventory-items/components/manage-variant-inventory-items-form/manage-variant-inventory-items-form.tsx
  packages/admin/dashboard/src/routes/products/product-create/components/product-create-inventory-kit-form/components/product-create-inventory-kit-section/product-create-inventory-kit-section.tsx
Labels: type: bug, team: medusa

#12430 fix(core-flows): use transform as input to account holder step
  integration-tests/http/__tests__/payment-collection/admin/payment-sessions.spec.ts
  packages/core/core-flows/src/payment-collection/workflows/create-payment-session.ts
Labels: type: bug, team: medusa

#12383 fix(dashboard): call route modal onClose only on route change
  .changeset/loud-drinks-juggle.md
  packages/admin/dashboard/src/components/modals/route-modal-form/route-modal-form.tsx
Labels: type: bug, team: medusa

#12438 docs: support deprecated in API reference
  www/apps/api-reference/components/Tags/Operation/DescriptionSection/DeprecationNotice/index.tsx
  www/apps/api-reference/components/Tags/Operation/DescriptionSection/index.tsx
  www/packages/types/src/openapi.ts
  www/utils/packages/docs-generator/src/classes/kinds/default.ts
  www/utils/packages/docs-generator/src/classes/kinds/oas.ts
  www/utils/packages/docs-generator/src/types/index.d.ts
Labels: type: docs, team: medusa

#12445 docs-util: fix dependencies passed to auth providers
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/auth-provider.ts
Labels: type: docs, team: medusa

#12441 fix(tax): Make system provider registration backward compatible
  integration-tests/http/__tests__/order-edits/order-edits.spec.ts
  integration-tests/http/__tests__/product/store/product.spec.ts
  integration-tests/modules/__tests__/fixtures/tax/index.ts
  integration-tests/modules/__tests__/tax/admin/tax.spec.ts
  integration-tests/modules/medusa-config.js
  packages/medusa/src/migration-scripts/migrate-tax-region-provider.ts
  packages/modules/tax/integration-tests/__tests__/local-providers.spec.ts
  packages/modules/tax/integration-tests/utils/setup-tax-structure.ts
  packages/modules/tax/src/loaders/providers.ts
Labels: type: bug, team: medusa

#12450 fix(dashboard, medusa): validate provider for top level tax regions
  .changeset/old-carrots-develop.md
  integration-tests/http/__tests__/tax-region/admin/tax-region.spec.ts
  packages/admin/dashboard/src/i18n/translations/$schema.json
  packages/admin/dashboard/src/i18n/translations/en.json
  packages/admin/dashboard/src/routes/tax-regions/tax-region-create/components/tax-region-create-form/tax-region-create-form.tsx
  packages/medusa/src/api/admin/tax-regions/validators.ts
Labels: type: bug, team: medusa

#12446 Update page.mdx to correct "th" to "the"
  www/apps/book/app/learn/fundamentals/admin/page.mdx
Labels: type: docs, automerge

#12447 fix(core-flows, dashboard): reservation recreation on fulfilment cancel + allocation button display
  .changeset/orange-boats-rescue.md
  integration-tests/http/__tests__/order/admin/order.spec.ts
  packages/admin/dashboard/src/hooks/api/orders.tsx
  packages/admin/dashboard/src/routes/orders/order-detail/components/order-summary-section/order-summary-section.tsx
  packages/core/core-flows/src/order/workflows/cancel-order-fulfillment.ts
Labels: type: bug, automerge, team: medusa

#12257 docs: added saved payment methods with Stripe tutorial
  www/apps/book/public/llms-full.txt
  www/apps/resources/app/commerce-modules/payment/payment-provider/stripe/page.mdx
  www/apps/resources/app/how-to-tutorials/tutorials/saved-payment-methods/page.mdx
  www/apps/resources/app/storefront-development/checkout/payment/stripe/page.mdx
  www/apps/resources/generated/edit-dates.mjs
  www/apps/resources/generated/files-map.mjs
  www/apps/resources/generated/generated-commerce-modules-sidebar.mjs
  www/apps/resources/generated/generated-how-to-tutorials-sidebar.mjs
  www/apps/resources/generated/generated-tools-sidebar.mjs
  www/apps/resources/sidebars/how-to-tutorials.mjs
  www/apps/resources/sidebars/tools.mjs
  www/packages/tags/src/tags/cart.ts
  www/packages/tags/src/tags/concept.ts
  www/packages/tags/src/tags/event-bus.ts
  www/packages/tags/src/tags/index.ts
  www/packages/tags/src/tags/inventory.ts
  www/packages/tags/src/tags/link.ts
  www/packages/tags/src/tags/locking.ts
  www/packages/tags/src/tags/nextjs.ts
  www/packages/tags/src/tags/payment.ts
  www/packages/tags/src/tags/remote-query.ts
  www/packages/tags/src/tags/server.ts
  www/packages/tags/src/tags/tutorial.ts
  www/packages/tags/src/tags/workflow.ts
Labels: type: docs, team: medusa

#12455 chore: Add missing minor bump changeset
  .changeset/grumpy-nails-behave.md
Labels: type: chore, team: medusa

#12431 docs: tax provider updates for next release
  www/apps/book/public/llms-full.txt
  www/apps/resources/app/commerce-modules/auth/auth-providers/page.mdx
  www/apps/resources/app/commerce-modules/fulfillment/fulfillment-provider/page.mdx
  www/apps/resources/app/commerce-modules/payment/payment-provider/page.mdx
  www/apps/resources/app/commerce-modules/tax/module-options/page.mdx
  www/apps/resources/app/commerce-modules/tax/page.mdx
  www/apps/resources/app/commerce-modules/tax/tax-calculation-with-provider/page.mdx
  www/apps/resources/app/commerce-modules/tax/tax-provider/page.mdx
  www/apps/resources/app/commerce-modules/tax/tax-region/page.mdx
  www/apps/resources/generated/edit-dates.mjs
  www/apps/resources/generated/files-map.mjs
  www/apps/resources/generated/generated-commerce-modules-sidebar.mjs
  www/apps/resources/sidebars/auth.mjs
  www/apps/resources/sidebars/fulfillment.mjs
  www/apps/resources/sidebars/payment.mjs
  www/apps/resources/sidebars/tax.mjs
  www/apps/user-guide/app/settings/tax-regions/page.mdx
  www/apps/user-guide/generated/edit-dates.mjs
Labels: type: docs, team: medusa

#12396 feat: create CSV normalizer to normalize a CSV file
  .changeset/friendly-roses-wait.md
  packages/core/core-flows/src/product/steps/index.ts
  packages/core/core-flows/src/product/steps/normalize-products-v1.ts
  packages/core/utils/package.json
  packages/core/utils/src/common/index.ts
  packages/core/utils/src/common/try-convert-to-boolean.ts
  packages/core/utils/src/product/__tests__/__fixtures__/multiple-products-multiple-variants.json
  packages/core/utils/src/product/__tests__/__fixtures__/same-product-multiple-rows.json
  packages/core/utils/src/product/__tests__/__fixtures__/same-product-multiple-variant-options.json
  packages/core/utils/src/product/__tests__/__fixtures__/single-row-create.json
  packages/core/utils/src/product/__tests__/csv-normalizer.spec.ts
  packages/core/utils/src/product/csv-normalizer.ts
  packages/core/utils/src/product/index.ts
Labels: type: feature, team: medusa

#12464 chore(types,utils): add featureFlag and version tags
  packages/core/types/src/http/common/response.ts
  packages/core/types/src/index-data/query-config/query-input-config.ts
  packages/core/utils/src/core-flows/events.ts
Labels: type: chore, team: medusa

#12468 docs: update read-only links
  www/apps/book/app/learn/fundamentals/module-links/read-only/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/public/llms-full.txt
  www/apps/resources/app/examples/guides/quote-management/page.mdx
  www/apps/resources/app/integrations/guides/sanity/page.mdx
  www/apps/resources/app/plugins/guides/wishlist/page.mdx
  www/apps/resources/app/recipes/commerce-automation/restock-notification/page.mdx
  www/apps/resources/app/recipes/marketplace/examples/restaurant-delivery/page.mdx
  www/apps/resources/app/recipes/marketplace/examples/vendors/page.mdx
  www/apps/resources/app/recipes/subscriptions/examples/standard/page.mdx
  www/apps/resources/generated/edit-dates.mjs
Labels: type: docs, team: medusa

#12475 docs: fix client side error in references
  www/apps/book/public/llms-full.txt
  www/apps/resources/generated/edit-dates.mjs
  www/apps/resources/references/auth_provider/classes/auth_provider.AbstractAuthModuleProvider/page.mdx
  www/apps/resources/references/fulfillment_provider/classes/fulfillment_provider.AbstractFulfillmentProviderService/page.mdx
  www/apps/resources/references/notification/classes/notification.AbstractNotificationProviderService/page.mdx
  www/apps/resources/references/payment_provider/classes/payment_provider.AbstractPaymentProvider/page.mdx
  www/apps/resources/references/tax_provider/interfaces/tax_provider.ITaxProvider/page.mdx
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/auth-provider.ts
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/fulfillment-provider.ts
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/notification.ts
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/payment-provider.ts
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/tax-provider.ts
Labels: type: docs, team: medusa

#12439 Chore/test runner improvements
  .changeset/sour-comics-relate.md
  packages/medusa-test-utils/src/__tests__/events.spec.ts
  packages/medusa-test-utils/src/database.ts
  packages/medusa-test-utils/src/events.ts
  packages/medusa-test-utils/src/init-modules.ts
  packages/medusa-test-utils/src/medusa-test-runner-utils/bootstrap-app.ts
  packages/medusa-test-utils/src/medusa-test-runner-utils/use-db.ts
  packages/medusa-test-utils/src/medusa-test-runner-utils/utils.ts
  packages/medusa-test-utils/src/medusa-test-runner.ts
  packages/medusa/src/commands/start.ts
  packages/modules/index/src/services/data-synchronizer.ts
  packages/modules/locking/src/providers/in-memory.ts
  packages/modules/workflow-engine-redis/src/services/workflows-module.ts
Labels: type: chore, automerge, team: medusa

#12449 fix(workflows-sdk): Miss match context usage within run as step
  packages/core/orchestration/src/transaction/errors.ts
  packages/core/orchestration/src/transaction/transaction-orchestrator.ts
  packages/core/orchestration/src/workflow/local-workflow.ts
  packages/core/workflows-sdk/src/utils/composer/create-step.ts
  packages/core/workflows-sdk/src/utils/composer/create-workflow.ts
  packages/modules/workflow-engine-inmemory/integration-tests/__fixtures__/workflow_1.ts
  packages/modules/workflow-engine-inmemory/integration-tests/__fixtures__/workflow_2.ts
  packages/modules/workflow-engine-inmemory/integration-tests/__fixtures__/workflow_conditional_step.ts
  packages/modules/workflow-engine-inmemory/integration-tests/__fixtures__/workflow_idempotent.ts
  packages/modules/workflow-engine-inmemory/integration-tests/__fixtures__/workflow_not_idempotent_with_retention.ts
  packages/modules/workflow-engine-inmemory/integration-tests/__fixtures__/workflow_sync.ts
  packages/modules/workflow-engine-inmemory/integration-tests/__tests__/index.spec.ts
  packages/modules/workflow-engine-inmemory/src/utils/workflow-orchestrator-storage.ts
  packages/modules/workflow-engine-redis/integration-tests/__fixtures__/workflow_1.ts
  packages/modules/workflow-engine-redis/integration-tests/__fixtures__/workflow_2.ts
  packages/modules/workflow-engine-redis/integration-tests/__fixtures__/workflow_not_idempotent_with_retention.ts
  packages/modules/workflow-engine-redis/integration-tests/__fixtures__/workflow_sync.ts
  packages/modules/workflow-engine-redis/integration-tests/__tests__/index.spec.ts
  packages/modules/workflow-engine-redis/src/utils/workflow-orchestrator-storage.ts
Labels: type: bug, automerge, team: medusa

#12480 fix(index): query builder handle json array
  .changeset/long-games-beg.md
  integration-tests/modules/__tests__/index/query-index.spec.ts
  packages/modules/index/src/utils/default-schema.ts
  packages/modules/index/src/utils/query-builder.ts
Labels: type: bug, team: medusa

#12486 fix: returned updates order in upsertWithReplace
  .changeset/tame-insects-marry.md
  integration-tests/http/__tests__/product/admin/product.spec.ts
  packages/core/utils/src/dal/mikro-orm/integration-tests/__tests__/mikro-orm-repository.spec.ts
  packages/core/utils/src/dal/mikro-orm/mikro-orm-repository.ts
  packages/modules/product/src/repositories/product.ts
Labels: type: bug, team: medusa

#12487 docs-util: fix incorrect relations in data model references + other fixes
  www/apps/resources/references/notification/classes/notification.AbstractNotificationProviderService/page.mdx
  www/apps/resources/references/pricing_models/variables/pricing_models.Price/page.mdx
  www/apps/resources/references/pricing_models/variables/pricing_models.PriceList/page.mdx
  www/apps/resources/references/pricing_models/variables/pricing_models.PriceListRule/page.mdx
  www/apps/resources/references/pricing_models/variables/pricing_models.PriceRule/page.mdx
  www/apps/resources/references/pricing_models/variables/pricing_models.PriceSet/page.mdx
  www/utils/generated/typedoc-json-output/pricing-models.json
  www/utils/generated/typedoc-json-output/pricing.json
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/notification.ts
  www/utils/packages/typedoc-plugin-custom/src/dml-relations-resolver.ts
  www/utils/packages/typedoc-plugin-markdown-medusa/src/resources/helpers/events-listing.ts
Labels: type: docs, team: medusa

#12496 fix(types): change update signature of IAuthProvider
  .changeset/eighty-moles-occur.md
  packages/core/types/src/auth/provider.ts
Labels: type: bug, automerge, team: medusa

#12502 docs: improve payment related guides
  www/apps/book/public/llms-full.txt
  www/apps/resources/app/commerce-modules/payment/payment-checkout-flow/page.mdx
  www/apps/resources/app/commerce-modules/payment/payment-flow/page.mdx
  www/apps/resources/app/commerce-modules/payment/payment-session/page.mdx
  www/apps/resources/app/commerce-modules/payment/payment/page.mdx
  www/apps/resources/app/commerce-modules/payment/webhook-events/page.mdx
  www/apps/resources/generated/edit-dates.mjs
  www/apps/resources/generated/files-map.mjs
  www/apps/resources/generated/generated-commerce-modules-sidebar.mjs
  www/apps/resources/generated/slug-changes.mjs
  www/apps/resources/references/payment_provider/classes/payment_provider.AbstractPaymentProvider/page.mdx
  www/apps/resources/sidebars/payment.mjs
  www/packages/tags/src/tags/admin.ts
  www/packages/tags/src/tags/event-bus.ts
  www/packages/tags/src/tags/fulfillment.ts
  www/packages/tags/src/tags/js-sdk.ts
  www/packages/tags/src/tags/link.ts
  www/packages/tags/src/tags/logger.ts
  www/packages/tags/src/tags/order.ts
  www/packages/tags/src/tags/payment.ts
  www/packages/tags/src/tags/query.ts
  www/packages/tags/src/tags/remote-query.ts
  www/packages/tags/src/tags/step.ts
  www/packages/tags/src/tags/tax.ts
  www/packages/tags/src/tags/workflow.ts
  www/utils/generated/typedoc-json-output/payment-provider.json
Labels: type: docs, team: medusa

#12498 chore(types, utils): TSDoc improvements for providers
  packages/core/types/src/file/provider.ts
  packages/core/types/src/fulfillment/provider.ts
  packages/core/types/src/payment/provider.ts
  packages/core/utils/src/payment/abstract-payment-provider.ts
Labels: type: chore, team: medusa

#12504 docs: update examples in sendgrid guide
  www/apps/book/public/llms-full.txt
  www/apps/resources/app/infrastructure-modules/file/local/page.mdx
  www/apps/resources/app/infrastructure-modules/notification/send-notification/page.mdx
  www/apps/resources/app/infrastructure-modules/notification/sendgrid/page.mdx
  www/apps/resources/generated/edit-dates.mjs
Labels: type: docs, team: medusa

#12500 fix: fix weight/length/height/width types in updates
  integration-tests/http/__tests__/product/admin/product.spec.ts
  packages/modules/product/integration-tests/__tests__/product-module-service/products.spec.ts
  packages/modules/product/src/repositories/product.ts
Labels: type: bug, team: medusa

#12503 fix(core-flows): fulfilment cancelation with shared inventory kit item
  .changeset/ten-laws-scream.md
  integration-tests/http/__tests__/order/admin/order.spec.ts
  packages/core/core-flows/src/order/workflows/cancel-order-fulfillment.ts
Labels: type: bug, team: medusa

#12507 fix: Skip migration if module is not installed
  packages/medusa/src/migration-scripts/migrate-product-shipping-profile.ts
Labels: type: bug, team: medusa

#12512 fix(types): IndexOperatorMap optional operators
  packages/core/types/src/index-data/__tests__/index.spec.ts
  packages/core/types/src/index-data/index-operator-map.ts
  packages/core/types/src/index-data/query-config/query-input-config-filters.ts
  packages/modules/index/integration-tests/__tests__/query-builder.spec.ts
  packages/modules/index/src/utils/query-builder.ts
Labels: type: bug, team: medusa

#12514 test(workflow-engine-redist): Update tests to ensure behaviour validation properly
  packages/modules/workflow-engine-redis/integration-tests/__fixtures__/workflow_transaction_timeout.ts
  packages/modules/workflow-engine-redis/integration-tests/__tests__/index.spec.ts
Labels: type: chore, team: medusa

#12515 docs: update recipe contents
  www/apps/book/public/llms-full.txt
  www/apps/resources/app/recipes/b2b/page.mdx
  www/apps/resources/app/recipes/bundled-products/page.mdx
  www/apps/resources/app/recipes/commerce-automation/page.mdx
  www/apps/resources/app/recipes/digital-products/page.mdx
  www/apps/resources/app/recipes/ecommerce/page.mdx
  www/apps/resources/app/recipes/marketplace/page.mdx
  www/apps/resources/app/recipes/multi-region-store/page.mdx
  www/apps/resources/app/recipes/omnichannel/page.mdx
  www/apps/resources/app/recipes/oms/page.mdx
  www/apps/resources/app/recipes/page.mdx
  www/apps/resources/app/recipes/personalized-products/page.mdx
  www/apps/resources/app/recipes/pos/page.mdx
  www/apps/resources/app/recipes/subscriptions/page.mdx
  www/apps/resources/generated/edit-dates.mjs
Labels: type: docs, team: medusa

#12517 docs: add vale rule for Next.js Starter Storefront
  www/apps/book/app/learn/fundamentals/events-and-subscribers/page.mdx
  www/apps/book/app/learn/installation/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/public/llms-full.txt
  www/apps/resources/app/deployment/page.mdx
  www/apps/resources/app/deployment/storefront/vercel/page.mdx
  www/apps/resources/app/examples/guides/custom-item-price/page.mdx
  www/apps/resources/app/examples/guides/quote-management/page.mdx
  www/apps/resources/app/how-to-tutorials/tutorials/abandoned-cart/page.mdx
  www/apps/resources/app/how-to-tutorials/tutorials/product-reviews/page.mdx
  www/apps/resources/app/how-to-tutorials/tutorials/saved-payment-methods/page.mdx
  www/apps/resources/app/integrations/guides/algolia/page.mdx
  www/apps/resources/app/integrations/guides/contentful/page.mdx
  www/apps/resources/app/integrations/guides/magento/page.mdx
  www/apps/resources/app/integrations/guides/resend/page.mdx
  www/apps/resources/app/integrations/guides/sanity/page.mdx
  www/apps/resources/app/integrations/guides/shipstation/page.mdx
  www/apps/resources/app/nextjs-starter/guides/customize-stripe/page.mdx
  www/apps/resources/app/plugins/guides/wishlist/page.mdx
  www/apps/resources/app/recipes/commerce-automation/restock-notification/page.mdx
  www/apps/resources/app/recipes/erp/odoo/page.mdx
  www/apps/resources/app/recipes/erp/page.mdx
  www/apps/resources/app/recipes/marketplace/examples/restaurant-delivery/page.mdx
  www/apps/resources/app/recipes/marketplace/examples/vendors/page.mdx
  www/apps/resources/app/recipes/marketplace/page.mdx
  www/apps/resources/app/recipes/subscriptions/examples/standard/page.mdx
  www/apps/resources/app/storefront-development/guides/express-checkout/page.mdx
  www/apps/resources/app/troubleshooting/_sections/nextjs/cma-option.mdx
  www/apps/resources/generated/edit-dates.mjs
  www/vale/styles/docs/Tooling.yml
Labels: type: docs, team: medusa

#12518 fix(utils): Missing zod deps
  .changeset/smart-dancers-fry.md
  packages/core/utils/package.json
  yarn.lock
Labels: type: bug, team: medusa

#12520 docs: change recipes on homepage
  www/apps/book/components/Homepage/RecipesSection/index.tsx
  www/packages/docs-ui/src/components/Icons/BundledProduct/index.tsx
  www/packages/docs-ui/src/components/Icons/index.tsx
  www/yarn.lock
Labels: type: docs, team: medusa

#12529 chore(test-cli-with-database): Update cli tag from latest to preview
  .github/workflows/test-cli-with-database.yml
Labels: type: chore, team: medusa

#12530 feat(index): Only run the synchronisation in worker/shared mode
  .changeset/dirty-trees-smoke.md
  packages/modules/index/src/services/index-module-service.ts
Labels: type: feature, team: medusa

#12476 fix(dashboard): refund payment formatting
  .changeset/kind-countries-beg.md
  packages/admin/dashboard/src/routes/orders/order-create-refund/components/create-refund-form/create-refund-form.tsx
  packages/admin/dashboard/src/routes/products/product-create/components/product-create-organize-form/components/product-create-sales-channel-stacked-modal/product-create-sales-channel-drawer.tsx
Labels: type: bug, team: medusa

#12508 chore(product, modules-sdk): Add missing index for select-in strategy + allow to pass top level strategy to force the behaviour
  .changeset/real-beans-provide.md
  packages/core/modules-sdk/src/remote-query/__tests__/to-remote-query.ts
  packages/core/modules-sdk/src/remote-query/query.ts
  packages/core/modules-sdk/src/remote-query/remote-query.ts
  packages/core/modules-sdk/src/remote-query/to-remote-query.ts
  packages/core/types/src/modules-sdk/remote-query-object-from-string.ts
  packages/modules/product/src/migrations/.snapshot-medusa-product.json
  packages/modules/product/src/migrations/Migration20250516081326.ts
  packages/modules/product/src/models/product-variant.ts
Labels: automerge, type: feature, team: medusa

#12505 feat: Add an analytics module and local and posthog providers
  packages/core/framework/src/types/container.ts
  packages/core/types/src/analytics/index.ts
  packages/core/types/src/analytics/mutations.ts
  packages/core/types/src/analytics/provider.ts
  packages/core/types/src/analytics/providers/index.ts
  packages/core/types/src/analytics/providers/local.ts
  packages/core/types/src/analytics/providers/posthog.ts
  packages/core/types/src/analytics/service.ts
  packages/core/types/src/bundles.ts
  packages/core/types/src/index.ts
  packages/core/utils/src/analytics/abstract-analytics-provider.ts
  packages/core/utils/src/analytics/index.ts
  packages/core/utils/src/index.ts
  packages/core/utils/src/modules-sdk/definition.ts
  packages/medusa/package.json
  packages/medusa/src/modules/analytics-local.ts
  packages/medusa/src/modules/analytics-posthog.ts
  packages/medusa/src/modules/analytics.ts
  packages/modules/analytics/.gitignore
  packages/modules/analytics/CHANGELOG.md
  packages/modules/analytics/README.md
  packages/modules/analytics/integration-tests/__fixtures__/providers/default-provider.ts
  packages/modules/analytics/integration-tests/__fixtures__/providers/index.ts
  packages/modules/analytics/integration-tests/__tests__/module.spec.ts
  packages/modules/analytics/jest.config.js
  packages/modules/analytics/package.json
  packages/modules/analytics/src/index.ts
  packages/modules/analytics/src/loaders/providers.ts
  packages/modules/analytics/src/services/analytics-service.ts
  packages/modules/analytics/src/services/provider-service.ts
  packages/modules/analytics/src/types/index.ts
  packages/modules/analytics/tsconfig.json
  packages/modules/providers/analytics-local/.gitignore
  packages/modules/providers/analytics-local/CHANGELOG.md
  packages/modules/providers/analytics-local/README.md
  packages/modules/providers/analytics-local/jest.config.js
  packages/modules/providers/analytics-local/package.json
  packages/modules/providers/analytics-local/src/index.ts
  packages/modules/providers/analytics-local/src/services/local-analytics.ts
  packages/modules/providers/analytics-local/tsconfig.json
  packages/modules/providers/analytics-posthog/.gitignore
  packages/modules/providers/analytics-posthog/CHANGELOG.md
  packages/modules/providers/analytics-posthog/README.md
  packages/modules/providers/analytics-posthog/jest.config.js
  packages/modules/providers/analytics-posthog/package.json
  packages/modules/providers/analytics-posthog/src/index.ts
  packages/modules/providers/analytics-posthog/src/services/posthog-analytics.ts
  packages/modules/providers/analytics-posthog/tsconfig.json
  yarn.lock
Labels: type: feature, team: medusa

#12467 fix(medusa): add estimate count to admin products
  .changeset/shaggy-ghosts-taste.md
  packages/medusa/src/api/admin/products/route.ts
Labels: type: bug, automerge, team: medusa

#12501 fix(index): Apply various fixes to the index engine
  .changeset/plenty-shirts-smash.md
  packages/core/modules-sdk/src/remote-query/query.ts
  packages/core/types/src/index-data/__tests__/index.spec.ts
  packages/core/types/src/index-data/index-operator-map.ts
  packages/core/types/src/index-data/query-config/query-input-config-filters.ts
  packages/core/types/src/index-data/query-config/query-input-config.ts
  packages/core/utils/src/common/__tests__/compress-name.spec.ts
  packages/core/utils/src/common/compress-name.ts
  packages/core/utils/src/common/index.ts
  packages/core/utils/src/event-bus/utils.ts
  packages/modules/index/integration-tests/__tests__/query-builder.spec.ts
  packages/modules/index/src/migrations/Migration20250515161913.ts
  packages/modules/index/src/services/postgres-provider.ts
  packages/modules/index/src/types/index.ts
  packages/modules/index/src/utils/build-config.ts
  packages/modules/index/src/utils/create-partitions.ts
  packages/modules/index/src/utils/index.ts
  packages/modules/index/src/utils/normalze-table-name.ts
  packages/modules/index/src/utils/query-builder.ts
  packages/modules/link-modules/src/utils/generate-entity.ts
Labels: type: bug, team: medusa

#12363 docs: added re-order guide
  www/apps/book/public/llms-full.txt
  www/apps/resources/app/how-to-tutorials/tutorials/re-order/page.mdx
  www/apps/resources/app/nextjs-starter/page.mdx
  www/apps/resources/generated/edit-dates.mjs
  www/apps/resources/generated/files-map.mjs
  www/apps/resources/generated/generated-commerce-modules-sidebar.mjs
  www/apps/resources/generated/generated-how-to-tutorials-sidebar.mjs
  www/apps/resources/sidebars/how-to-tutorials.mjs
  www/packages/tags/src/tags/fulfillment.ts
  www/packages/tags/src/tags/order.ts
  www/packages/tags/src/tags/product.ts
  www/packages/tags/src/tags/region.ts
  www/packages/tags/src/tags/sales-channel.ts
  www/packages/tags/src/tags/server.ts
  www/packages/tags/src/tags/step.ts
  www/packages/tags/src/tags/tutorial.ts
Labels: type: docs, team: medusa

#12542 fix: Correctly import MedusaError in the analytics module
  packages/modules/analytics/src/services/analytics-service.ts
Labels: type: bug, team: medusa

#12543 chore(index): return ids only
  .changeset/shaggy-pillows-cough.md
  integration-tests/modules/__tests__/index/query-index.spec.ts
  integration-tests/modules/__tests__/product/workflows/batch-products.spec.ts
  packages/core/modules-sdk/src/remote-query/query.ts
  packages/core/orchestration/src/joiner/remote-joiner.ts
  packages/core/types/src/index-data/index.ts
  packages/core/types/src/index-data/query-config/query-input-config.ts
  packages/core/types/src/index-data/storage-provider.ts
  packages/core/types/src/joiner/index.ts
  packages/modules/index/integration-tests/__tests__/query-builder.spec.ts
  packages/modules/index/src/services/postgres-provider.ts
  packages/modules/index/src/utils/query-builder.ts
Labels: type: chore, team: medusa

#12538 fix(product): Deep update data retrieval bottleneck
  .changeset/shiny-spiders-matter.md
  packages/modules/product/integration-tests/__tests__/product-module-service/products.spec.ts
  packages/modules/product/src/repositories/product.ts
Labels: type: bug, team: medusa

#12545 fix(js-sdk): allow passing custom request body parameters in auth.register method
  .changeset/beige-carrots-care.md
  packages/core/js-sdk/src/auth/index.ts
Labels: type: bug, automerge, team: medusa

#12547 chore(docs): Update npm command
  www/apps/book/app/learn/deployment/general/page.mdx
Labels: type: docs, automerge

#12554 docs-util: extract feature flags in generated OAS
  www/utils/packages/docs-generator/src/classes/kinds/default.ts
  www/utils/packages/docs-generator/src/classes/kinds/oas.ts
  www/utils/packages/docs-generator/src/types/index.d.ts
Labels: type: docs, team: medusa

#12555 chore(core-flows): add tsdocs for hooks in complete cart
  packages/core/core-flows/src/cart/workflows/complete-cart.ts
Labels: type: chore, team: medusa

#12540 fix(core-flows): skip location check if inventory is not managed
  .changeset/tough-bats-walk.md
  packages/core/core-flows/src/cart/utils/__tests__/prepare-confirm-inventory-input.spec.ts
  packages/core/core-flows/src/cart/utils/prepare-confirm-inventory-input.ts
Labels: type: bug, team: medusa

#12560 Fix: Incorrect Example File Name in Subscriber Section
  www/apps/book/app/learn/fundamentals/events-and-subscribers/page.mdx
  www/apps/book/public/llms-full.txt
Labels: type: docs, automerge

#12557 chore(index): Few adjustments
  .changeset/proud-carrots-punch.md
  packages/modules/index/integration-tests/__tests__/orchestrator.spec.ts
  packages/modules/index/src/services/data-synchronizer.ts
  packages/modules/index/src/utils/sync/configuration.ts
  packages/modules/index/src/utils/sync/orchestrator.ts
Labels: type: chore, automerge, team: medusa

#12565 docs: improve module isolation chapter
  www/apps/book/app/learn/fundamentals/modules/container/page.mdx
  www/apps/book/app/learn/fundamentals/modules/isolation/page.mdx
  www/apps/book/app/learn/fundamentals/modules/loaders/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/public/llms-full.txt
Labels: type: docs, team: medusa

#12566 docs: show when condition in workflows reference
  www/packages/docs-ui/src/components/CodeBlock/Actions/index.tsx
  www/packages/docs-ui/src/components/CodeBlock/index.tsx
  www/packages/docs-ui/src/components/WorkflowDiagram/Common/Node/index.tsx
Labels: type: docs, team: medusa

#12567 fix(core-flows, types): export steps and types related to credit lines
  .changeset/old-dancers-retire.md
  packages/core/core-flows/src/cart/workflows/create-cart-credit-lines.ts
  packages/core/core-flows/src/cart/workflows/delete-cart-credit-lines.ts
  packages/core/core-flows/src/common/index.ts
  packages/core/core-flows/src/common/steps/create-entities.ts
  packages/core/core-flows/src/common/steps/delete-entities.ts
  packages/core/types/src/cart/workflows.ts
Labels: type: bug, automerge, team: medusa

#12478 fix(product, utils): handle metadata key deletion on product update
  .changeset/tall-beans-shave.md
  integration-tests/http/__tests__/product/admin/product.spec.ts
  packages/core/utils/src/common/index.ts
  packages/core/utils/src/common/set-metadata.ts
  packages/modules/product/src/repositories/product.ts
Labels: type: bug, team: medusa

#12582 fix(framework): Fix compiler to create the dist after clean-up
  .changeset/angry-stingrays-fetch.md
  packages/core/framework/src/build-tools/compiler.ts
Labels: type: bug, team: medusa

#12584 chore(modules-sdk): Log full error when a loader fail to run
  .changeset/blue-ties-bow.md
  packages/core/modules-sdk/src/loaders/utils/load-internal.ts
Labels: type: chore, team: medusa

#12592 fix: module import paths to contain unix slash
  .changeset/plenty-apricots-remain.md
  packages/core/utils/src/modules-sdk/modules-to-container-types.ts
Labels: type: bug, automerge, team: medusa

#12595 docs: fix example in marketplace recipe
  www/apps/resources/app/recipes/marketplace/examples/vendors/page.mdx
Labels: type: docs, team: medusa

#11963 feat: run workflow hooks inside a when/then block
  packages/core/workflows-sdk/src/utils/composer/__tests__/compose.ts
  packages/core/workflows-sdk/src/utils/composer/create-hook.ts
  packages/core/workflows-sdk/src/utils/composer/create-step.ts
  packages/core/workflows-sdk/src/utils/composer/create-workflow.ts
  packages/core/workflows-sdk/src/utils/composer/type.ts
  packages/core/workflows-sdk/src/utils/composer/when.ts
Labels: type: feature, team: medusa

#12600 chore(core-flows): ignore hooks in complete cart workflow
  packages/core/core-flows/src/cart/workflows/complete-cart.ts
Labels: type: chore, team: medusa

#12612 fix: expand method ALL for bodyparser config and additional validator
  .changeset/serious-worms-suffer.md
  packages/core/framework/src/http/__fixtures__/routers-middleware/middlewares.ts
  packages/core/framework/src/http/__tests__/middleware-file-loader.spec.ts
  packages/core/framework/src/http/middleware-file-loader.ts
Labels: type: bug, automerge, team: medusa

#12619 docs: add setup details to contribution guidelines
  www/apps/book/app/learn/resources/contribution-guidelines/docs/page.mdx
  www/apps/book/generated/edit-dates.mjs
Labels: type: docs, team: medusa

#12614 feat: introduce bulkDelete method for IFileProvider
  .changeset/brown-fans-draw.md
  packages/core/types/src/file/provider.ts
  packages/core/utils/src/file/abstract-file-provider.ts
  packages/modules/file/src/services/file-module-service.ts
  packages/modules/file/src/services/file-provider-service.ts
  packages/modules/providers/file-local/src/services/local-file.ts
  packages/modules/providers/file-s3/integration-tests/__tests__/services.spec.ts
  packages/modules/providers/file-s3/src/services/s3-file.ts
Labels: automerge, type: feature, team: medusa

#12544 docs: phone authentication + otp guide
  www/apps/book/public/llms-full.txt
  www/apps/resources/app/how-to-tutorials/tutorials/phone-auth/page.mdx
  www/apps/resources/app/integrations/page.mdx
  www/apps/resources/generated/files-map.mjs
  www/apps/resources/generated/generated-commerce-modules-sidebar.mjs
  www/apps/resources/generated/generated-how-to-tutorials-sidebar.mjs
  www/apps/resources/generated/generated-integrations-sidebar.mjs
  www/apps/resources/sidebars/auth.mjs
  www/apps/resources/sidebars/how-to-tutorials.mjs
  www/apps/resources/sidebars/integrations.mjs
  www/packages/tags/src/tags/auth.ts
  www/packages/tags/src/tags/customer.ts
  www/packages/tags/src/tags/server.ts
  www/packages/tags/src/tags/tutorial.ts
Labels: type: docs, team: medusa

#12623 chore(types): fix example for createProductOptionValues in TSDocs and docs
  packages/core/types/src/product/service.ts
  www/apps/resources/references/product/IProductModuleService/methods/product.IProductModuleService.createProductOptionValues/page.mdx
Labels: type: docs, type: chore, team: medusa

#12522 fix(dashboard): combobox initial item cache
  .changeset/slow-toes-fetch.md
  packages/admin/dashboard/src/hooks/use-combobox-data.tsx
  packages/admin/dashboard/src/routes/product-variants/product-variant-manage-inventory-items/components/manage-variant-inventory-items-form/manage-variant-inventory-items-form.tsx
Labels: type: bug, team: medusa

#12546 fix(core-flows): reservation management on order edit and draft order confirm
  .changeset/calm-items-mix.md
  integration-tests/http/__tests__/draft-order/admin/draft-order.spec.ts
  integration-tests/http/__tests__/order-edits/order-edits.spec.ts
  packages/core/core-flows/src/draft-order/workflows/confirm-draft-order-edit.ts
  packages/core/core-flows/src/order/workflows/order-edit/confirm-order-edit-request.ts
Labels: type: bug, team: medusa

#12636 fix(utils): move payment events to core flows events
  .changeset/famous-kangaroos-dress.md
  packages/core/utils/src/core-flows/events.ts
  packages/core/utils/src/payment/events.ts
  packages/core/utils/src/payment/index.ts
Labels: type: bug, team: medusa

#12646 fix(core-flows): complete cart improvements
  .changeset/proud-dancers-film.md
  integration-tests/modules/__tests__/cart/store/cart.completion.ts
  packages/core/core-flows/src/cart/steps/update-carts.ts
  packages/core/core-flows/src/cart/workflows/complete-cart.ts
  packages/core/core-flows/src/index.ts
  packages/core/core-flows/src/locking/acquire-lock.ts
  packages/core/core-flows/src/locking/index.ts
  packages/core/core-flows/src/locking/release-lock.ts
  packages/core/core-flows/src/payment/steps/complete-cart-after-payment.ts
  packages/core/core-flows/src/payment/workflows/process-payment.ts
  packages/core/utils/src/common/__tests__/get-selects-and-relations-from-object-array.spec.ts
  packages/core/utils/src/common/get-selects-and-relations-from-object-array.ts
  packages/core/workflows-sdk/src/utils/composer/create-hook.ts
  packages/core/workflows-sdk/src/utils/composer/helpers/resolve-value.ts
Labels: type: bug, team: medusa
