Repository medusajs/medusa, pull requests merged in 2025-07, with the labels that each got.

#12870 chore: Bump Kapa SDK
  www/packages/docs-ui/package.json
  www/yarn.lock
Labels: type: docs, type: chore, team: medusa

#12882 feat(create-medusa-app): Allow to create project with specific medusa version
  .changeset/smart-singers-dress.md
  packages/cli/create-medusa-app/src/index.ts
  packages/cli/create-medusa-app/src/utils/nextjs-utils.ts
  packages/cli/create-medusa-app/src/utils/prepare-project.ts
  packages/cli/create-medusa-app/src/utils/project-creator/creator.ts
  packages/cli/create-medusa-app/src/utils/project-creator/medusa-project-creator.ts
  packages/cli/create-medusa-app/src/utils/update-package-versions.ts
Labels: type: feature, team: medusa

#12889 fix(): Order constraint and receive return
  .changeset/sour-ladybugs-check.md
  packages/modules/api-key/package.json
  packages/modules/auth/package.json
  packages/modules/cart/package.json
  packages/modules/currency/package.json
  packages/modules/file/package.json
  packages/modules/fulfillment/package.json
  packages/modules/index/package.json
  packages/modules/inventory/package.json
  packages/modules/locking/package.json
  packages/modules/notification/package.json
  packages/modules/order/integration-tests/__tests__/create-order.spec.ts
  packages/modules/order/integration-tests/__tests__/order-claim.spec.ts
  packages/modules/order/integration-tests/__tests__/order-edit.spec.ts
  packages/modules/order/integration-tests/__tests__/order-exchange.spec.ts
  packages/modules/order/integration-tests/__tests__/order-return.spec.ts
  packages/modules/order/integration-tests/__tests__/returns.spec.ts
  packages/modules/order/package.json
  packages/modules/order/src/migrations/.snapshot-medusa-order.json
  packages/modules/order/src/migrations/Migration20250704120229.ts
  packages/modules/order/src/models/order.ts
  packages/modules/order/src/services/order-module-service.ts
  packages/modules/payment/package.json
  packages/modules/pricing/package.json
  packages/modules/product/package.json
  packages/modules/promotion/package.json
  packages/modules/providers/locking-postgres/package.json
  packages/modules/region/package.json
  packages/modules/sales-channel/package.json
  packages/modules/stock-location/package.json
  packages/modules/store/package.json
  packages/modules/tax/package.json
  packages/modules/user/package.json
  packages/modules/workflow-engine-inmemory/package.json
  packages/modules/workflow-engine-redis/package.json
Labels: type: bug, automerge, team: medusa

#12875 fix(order, core-flows): Tax inclusive order line item adjustments
  integration-tests/http/__tests__/promotions/admin/promotions.spec.ts
  integration-tests/modules/__tests__/order/order.spec.ts
  packages/core/core-flows/src/cart/utils/prepare-line-item-data.ts
  packages/core/types/src/order/mutations.ts
  packages/modules/order/src/migrations/.snapshot-medusa-order.json
  packages/modules/order/src/migrations/Migration20250702095353.ts
  packages/modules/order/src/models/line-item-adjustment.ts
Labels: type: bug, team: medusa

#12897 fix(dashboard): show TIP flag only for fixed promotions
  .changeset/empty-apricots-confess.md
  packages/admin/dashboard/src/routes/promotions/promotion-create/components/create-promotion-form/templates.ts
  packages/admin/dashboard/src/routes/promotions/promotion-detail/components/promotion-general-section/promotion-general-section.tsx
Labels: type: bug, team: medusa

#12885 fix(medusa, core-flows): Update TIP on promotions
  .changeset/warm-rings-look.md
  integration-tests/http/__tests__/promotions/admin/promotions.spec.ts
  packages/admin/dashboard/src/i18n/translations/en.json
  packages/admin/dashboard/src/routes/promotions/promotion-edit-details/components/edit-promotion-form/edit-promotion-details-form.tsx
  packages/core/types/src/http/promotion/admin/payloads.ts
  packages/core/types/src/promotion/common/promotion.ts
  packages/medusa/src/api/admin/promotions/validators.ts
Labels: type: bug, team: medusa

#12920 fix(link-modules,core-flows): Carry over cart promotions to order promotions
  .changeset/odd-apricots-marry.md
  integration-tests/http/__tests__/cart/store/cart.spec.ts
  packages/core/core-flows/src/cart/utils/fields.ts
  packages/core/core-flows/src/cart/workflows/complete-cart.ts
  packages/core/core-flows/src/draft-order/utils/fields.ts
  packages/core/core-flows/src/draft-order/workflows/add-draft-order-items.ts
  packages/core/core-flows/src/draft-order/workflows/add-draft-order-shipping-methods.ts
  packages/core/core-flows/src/draft-order/workflows/cancel-draft-order-edit.ts
  packages/core/core-flows/src/draft-order/workflows/remove-draft-order-action-item.ts
  packages/core/core-flows/src/draft-order/workflows/remove-draft-order-action-shipping-method.ts
  packages/core/core-flows/src/draft-order/workflows/remove-draft-order-shipping-method.ts
  packages/core/core-flows/src/draft-order/workflows/update-draft-order-action-item.ts
  packages/core/core-flows/src/draft-order/workflows/update-draft-order-action-shipping-method.ts
  packages/core/core-flows/src/draft-order/workflows/update-draft-order-item.ts
  packages/core/core-flows/src/draft-order/workflows/update-draft-order-shipping-method.ts
  packages/modules/link-modules/src/definitions/order-promotion.ts
Labels: type: bug, automerge, team: medusa

#12934 docs: add missing prop to kapa
  www/packages/docs-ui/src/providers/AiAssistant/index.tsx
Labels: type: docs, team: medusa

#12945 docs: changes for new releases + fixes
  www/apps/book/app/learn/configurations/medusa-config/page.mdx
  www/apps/book/app/learn/fundamentals/api-routes/retrieve-custom-links/page.mdx
  www/apps/book/app/learn/fundamentals/workflows/long-running-workflow/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/public/llms-full.txt
  www/apps/resources/app/create-medusa-app/page.mdx
  www/apps/resources/app/recipes/commerce-automation/restock-notification/page.mdx
  www/apps/resources/app/recipes/marketplace/examples/restaurant-delivery/page.mdx
  www/apps/resources/generated/edit-dates.mjs
  www/packages/docs-ui/src/components/CodeBlock/Collapsible/Button/index.tsx
Labels: type: docs, team: medusa

#12938 chore: upgrade to latest zod v3
  packages/admin/admin-sdk/package.json
  packages/admin/dashboard/package.json
  packages/core/framework/package.json
  packages/core/framework/src/http/__fixtures__/routers-middleware/middlewares.ts
  packages/core/framework/src/http/__tests__/validate-body.spec.ts
  packages/core/utils/package.json
  packages/core/workflows-sdk/package.json
  packages/medusa/package.json
  packages/medusa/src/api/admin/products/validators.ts
  packages/medusa/src/api/store/products/validators.ts
  packages/medusa/src/api/utils/common-validators/common.ts
  yarn.lock
Labels: type: chore, automerge, team: medusa

#12948 docs: updates to long-lived environment and billing docs
  www/apps/cloud/app/billing-usage/page.mdx
  www/apps/cloud/app/environments/long-lived/page.mdx
  www/apps/cloud/app/faq/page.mdx
  www/apps/cloud/generated/edit-dates.mjs
Labels: type: docs, team: medusa

#12950 docs: added a note linking to create-medusa-app reference
  www/apps/book/app/learn/installation/page.mdx
Labels: type: docs, team: medusa

#12919 fix(core-flows): updating tax lines when draft order shipping is removed
  .changeset/chilled-masks-shout.md
  integration-tests/http/__tests__/draft-order/admin/draft-order.spec.ts
  packages/core/core-flows/src/draft-order/workflows/remove-draft-order-shipping-method.ts
Labels: type: bug, automerge, team: medusa

#12952 docs: update next.js to 15.3.5
  www/apps/api-reference/package.json
  www/apps/book/package.json
  www/apps/cloud/package.json
  www/apps/resources/package.json
  www/apps/ui/package.json
  www/apps/user-guide/package.json
  www/package.json
  www/packages/build-scripts/package.json
  www/packages/docs-ui/package.json
  www/packages/docs-ui/src/components/MainNav/Items/Dropdown/index.tsx
  www/packages/docs-ui/src/components/MainNav/index.tsx
  www/yarn.lock
Labels: type: docs, team: medusa

#12953 docs: fix complete cart workflow in marketplace vendors recipe
  www/apps/book/public/llms-full.txt
  www/apps/resources/app/recipes/marketplace/examples/vendors/page.mdx
  www/apps/resources/generated/edit-dates.mjs
Labels: type: docs, team: medusa

#12974 docs: add a troubleshooting section on creating a payment session with zero total
  www/apps/api-reference/specs/store/openapi.full.yaml
  www/apps/api-reference/specs/store/paths/store_payment-collections_{id}_payment-sessions.yaml
  www/apps/resources/app/storefront-development/checkout/payment/page.mdx
  www/apps/resources/app/storefront-development/checkout/payment/stripe/page.mdx
  www/apps/resources/app/troubleshooting/_sections/payment/zero-total.mdx
  www/apps/resources/app/troubleshooting/payment/page.mdx
  www/apps/resources/generated/edit-dates.mjs
  www/apps/resources/generated/files-map.mjs
  www/apps/resources/generated/generated-troubleshooting-sidebar.mjs
  www/apps/resources/sidebars/troubleshooting.mjs
  www/utils/generated/oas-output/operations/store/post_store_payment-collections_[id]_payment-sessions.ts
Labels: type: docs, team: medusa

#12973 docs: use mappedBy property for all relationship types
  www/apps/book/app/learn/fundamentals/data-models/relationships/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/public/llms-full.txt
  www/apps/resources/app/examples/page.mdx
  www/apps/resources/app/plugins/guides/wishlist/page.mdx
  www/apps/resources/app/recipes/marketplace/examples/restaurant-delivery/page.mdx
  www/apps/resources/app/recipes/marketplace/examples/vendors/page.mdx
  www/apps/resources/generated/edit-dates.mjs
Labels: type: docs, team: medusa

#12700 docs: add examples to price rules and tiers
  www/apps/book/public/llms-full.txt
  www/apps/resources/app/commerce-modules/pricing/price-rules/page.mdx
  www/apps/resources/generated/edit-dates.mjs
Labels: type: docs, team: medusa

#12976 chore(workflow-engine-*): Align event subscribers management
  .changeset/nervous-eels-build.md
  packages/modules/workflow-engine-inmemory/src/services/workflow-orchestrator.ts
  packages/modules/workflow-engine-redis/src/services/workflow-orchestrator.ts
Labels: type: bug, team: medusa

#12969 fix: accepted values in import with template
  .changeset/six-dryers-listen.md
  packages/core/core-flows/src/product/steps/generate-product-csv.ts
  packages/core/utils/src/product/__tests__/csv-normalizer.spec.ts
  packages/core/utils/src/product/csv-normalizer.ts
Labels: type: bug, automerge, team: medusa

#12958 fix(core-flows): properly delete variant inventory item
  .changeset/cuddly-dragons-attend.md
  integration-tests/http/__tests__/product/admin/product.spec.ts
  packages/core/core-flows/src/product/workflows/create-product-variants.ts
  packages/core/core-flows/src/product/workflows/delete-product-variants.ts
Labels: type: bug, team: medusa

#12954 chore: remove codegen action
  .github/workflows/codegen-test.yml
Labels: type: chore, team: medusa

#12982 fix(wfe): should notify when finished + add state info
  .changeset/rude-windows-boil.md
  packages/modules/workflow-engine-inmemory/src/services/workflow-orchestrator.ts
  packages/modules/workflow-engine-redis/integration-tests/__tests__/index.spec.ts
  packages/modules/workflow-engine-redis/src/services/workflow-orchestrator.ts
Labels: type: bug, team: medusa

#12992 docs: improvements to the "Expose a Workflow Hook" documentation
  www/apps/book/app/learn/fundamentals/workflows/add-workflow-hook/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/public/llms-full.txt
Labels: type: docs, team: medusa

#12993 docs: add inject dependencies section in module tests + improvements
  www/apps/book/app/learn/debugging-and-testing/testing-tools/modules-tests/module-example/page.mdx
  www/apps/book/app/learn/debugging-and-testing/testing-tools/modules-tests/page.mdx
  www/apps/book/app/learn/debugging-and-testing/testing-tools/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/generated/sidebar.mjs
  www/apps/book/public/llms-full.txt
  www/apps/book/sidebar.mjs
  www/apps/book/utils/redirects.mjs
Labels: type: docs, team: medusa

#12994 docs: fix spacing between workflow steps and tooltip
  www/packages/docs-ui/src/components/WorkflowDiagram/Common/Legend/index.tsx
  www/packages/docs-ui/src/components/WorkflowDiagram/List/index.tsx
Labels: type: docs, team: medusa

#12995 docs: fix input type of some hooks in workflow reference
  www/apps/resources/generated/edit-dates.mjs
  www/apps/resources/references/core_flows/Cart/Workflows_Cart/functions/core_flows.Cart.Workflows_Cart.addToCartWorkflow/page.mdx
  www/apps/resources/references/core_flows/Cart/Workflows_Cart/functions/core_flows.Cart.Workflows_Cart.refreshCartItemsWorkflow/page.mdx
  www/apps/resources/references/core_flows/Cart/Workflows_Cart/functions/core_flows.Cart.Workflows_Cart.updateLineItemInCartWorkflow/page.mdx
  www/utils/packages/typedoc-plugin-markdown-medusa/src/resources/helpers/workflow-hooks.ts
  www/utils/packages/utils/src/hooks-util.ts
Labels: type: docs, team: medusa

#12996 docs: add section on type aliases in admin + note for removing items from orders
  www/apps/api-reference/specs/admin/openapi.full.yaml
  www/apps/api-reference/specs/admin/paths/admin_order-edits_{id}_items_item_{item_id}.yaml
  www/apps/book/app/learn/configurations/ts-aliases/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/public/llms-full.txt
  www/utils/generated/oas-output/operations/admin/post_admin_order-edits_[id]_items_item_[item_id].ts
Labels: type: docs, team: medusa

#12997 chore: add to TSDocs note about removing item from order edit
  packages/core/core-flows/src/order/workflows/order-edit/order-edit-update-item-quantity.ts
  packages/core/js-sdk/src/admin/order-edit.ts
Labels: type: chore, team: medusa

#12989 fix(dashboard): allocation UI for orders with more than 20 reservation items
  .changeset/perfect-penguins-chew.md
  packages/admin/dashboard/src/lib/orders.ts
  packages/admin/dashboard/src/routes/orders/order-create-fulfillment/components/order-create-fulfillment-form/order-create-fulfillment-form.tsx
  packages/admin/dashboard/src/routes/orders/order-detail/components/order-summary-section/order-summary-section.tsx
Labels: type: bug, automerge, team: medusa

#12981 fix(pricing): fix pricing query when max_quantity is null
  .changeset/dry-bikes-burn.md
  packages/modules/pricing/integration-tests/__tests__/services/pricing-module/calculate-price.spec.ts
  packages/modules/pricing/src/repositories/pricing.ts
Labels: type: bug, automerge, team: medusa

#12999 docs: fix jest.config.js
  www/apps/book/app/learn/debugging-and-testing/testing-tools/page.mdx
Labels: type: docs

#12998 docs: improve alt of images
  www/apps/book/app/learn/deployment/page.mdx
  www/apps/book/app/learn/fundamentals/api-routes/middlewares/page.mdx
  www/apps/book/app/learn/fundamentals/modules/page.mdx
  www/apps/book/app/learn/installation/page.mdx
  www/apps/book/app/learn/introduction/architecture/page.mdx
  www/apps/book/app/learn/production/worker-mode/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/public/llms-full.txt
  www/apps/cloud/app/deployments/page.mdx
  www/apps/cloud/app/organizations/page.mdx
  www/apps/resources/app/examples/guides/quote-management/page.mdx
  www/apps/resources/app/infrastructure-modules/analytics/page.mdx
  www/apps/resources/app/integrations/guides/resend/page.mdx
  www/apps/resources/app/integrations/guides/slack/page.mdx
  www/apps/resources/app/recipes/bundled-products/examples/standard/page.mdx
  www/apps/resources/app/storefront-development/checkout/payment/page.mdx
  www/apps/resources/app/storefront-development/guides/express-checkout/page.mdx
  www/apps/resources/references/payment_provider/classes/payment_provider.AbstractPaymentProvider/page.mdx
Labels: type: docs, team: medusa

#13007 fix: fix script migrations order
  .changeset/loud-terms-share.md
  packages/core/framework/src/migrations/migrator.ts
Labels: type: bug, team: medusa

#13013 docs: remove non-existing sidebar items
  www/apps/resources/generated/generated-commerce-modules-sidebar.mjs
  www/apps/resources/generated/generated-tools-sidebar.mjs
Labels: type: docs, team: medusa

#12926 fix(workflows-sdk): fix step name config used before default
  .changeset/quick-weeks-press.md
  packages/core/workflows-sdk/src/utils/composer/__tests__/compose.ts
  packages/core/workflows-sdk/src/utils/composer/create-step.ts
  packages/core/workflows-sdk/src/utils/composer/create-workflow.ts
  packages/core/workflows-sdk/src/utils/composer/type.ts
Labels: type: bug, team: medusa

#13017 docs: fix typos in learn and recipes
  www/apps/book/app/learn/fundamentals/admin/page.mdx
  www/apps/book/app/learn/page.mdx
  www/apps/book/public/llms-full.txt
  www/apps/book/public/llms.txt
  www/apps/resources/app/recipes/b2b/page.mdx
  www/apps/resources/app/recipes/marketplace/page.mdx
  www/apps/resources/app/recipes/subscriptions/page.mdx
Labels: type: docs

#13018 docs: add MCP server
  www/apps/book/.env.sample
  www/apps/book/app/learn/introduction/build-with-llms-ai/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/next.config.mjs
  www/apps/book/public/llms-full.txt
Labels: type: docs, team: medusa

#12984 docs: added pre-orders guide
  www/apps/resources/app/how-to-tutorials/tutorials/preorder/page.mdx
  www/apps/resources/generated/edit-dates.mjs
  www/apps/resources/generated/files-map.mjs
  www/apps/resources/generated/generated-commerce-modules-sidebar.mjs
  www/apps/resources/generated/generated-how-to-tutorials-sidebar.mjs
  www/apps/resources/generated/generated-tools-sidebar.mjs
  www/apps/resources/sidebars/how-to-tutorials.mjs
  www/packages/tags/src/tags/nextjs.ts
  www/packages/tags/src/tags/order.ts
  www/packages/tags/src/tags/product.ts
  www/packages/tags/src/tags/server.ts
  www/packages/tags/src/tags/tutorial.ts
Labels: type: docs, team: medusa

#13022 docs: added Docker local installation guide
  www/apps/book/app/learn/configurations/ts-aliases/page.mdx
  www/apps/book/app/learn/debugging-and-testing/testing-tools/modules-tests/page.mdx
  www/apps/book/app/learn/debugging-and-testing/testing-tools/page.mdx
  www/apps/book/app/learn/fundamentals/data-models/write-migration/page.mdx
  www/apps/book/app/learn/installation/docker/page.mdx
  www/apps/book/app/learn/installation/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/generated/sidebar.mjs
  www/apps/book/public/llms-full.txt
  www/apps/book/sidebar.mjs
Labels: type: docs, team: medusa

#13023 docs: update order promotion link details
  www/apps/book/public/llms-full.txt
  www/apps/resources/app/commerce-modules/order/links-to-other-modules/page.mdx
Labels: type: docs, team: medusa

#13024 docs: fix vale lint errors
  www/apps/book/app/learn/installation/docker/page.mdx
Labels: type: docs, team: medusa

#13031 docs: fix bug in layout change when using some chrome extensions
  www/packages/docs-ui/src/layouts/main-content.tsx
  www/packages/docs-ui/src/layouts/root.tsx
Labels: type: docs, team: medusa

#13037 fix(core-flows): guest customer updates email to another guest account
  .changeset/cool-nails-provide.md
  integration-tests/modules/__tests__/cart/store/carts.spec.ts
  packages/core/core-flows/src/cart/steps/find-or-create-customer.ts
Labels: type: bug, team: medusa

#13052 docs: document checks examples + migrations naming convention
  www/apps/book/app/learn/fundamentals/data-models/check-constraints/page.mdx
  www/apps/book/app/learn/fundamentals/data-models/properties/page.mdx
  www/apps/book/app/learn/fundamentals/data-models/write-migration/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/public/llms-full.txt
Labels: type: docs, team: medusa

#13065 docs: handle recaptcha loading before submitting AI assistant queries
  www/packages/docs-ui/src/components/AiAssistant/ChatWindow/Input/index.tsx
  www/packages/docs-ui/src/providers/AiAssistant/index.tsx
Labels: type: docs, team: medusa

#13099 docs: document JSON properties
  www/apps/api-reference/generated/generated-admin-sidebar.mjs
  www/apps/api-reference/generated/generated-store-sidebar.mjs
  www/apps/api-reference/markdown/admin.mdx
  www/apps/api-reference/markdown/store.mdx
  www/apps/book/app/learn/fundamentals/data-models/json-properties/page.mdx
  www/apps/book/app/learn/fundamentals/data-models/properties/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/generated/sidebar.mjs
  www/apps/book/public/llms-full.txt
  www/apps/book/sidebar.mjs
  www/apps/resources/app/service-factory-reference/methods/update/page.mdx
  www/apps/resources/generated/edit-dates.mjs
  www/apps/resources/generated/generated-commerce-modules-sidebar.mjs
  www/apps/resources/generated/generated-tools-sidebar.mjs
Labels: type: docs, team: medusa

#13104 docs: improve instructions to install Medusa UI in standalone projects
  www/apps/book/public/llms-full.txt
  www/apps/ui/src/content/docs/components/data-table.mdx
  www/apps/ui/src/content/docs/installation/standalone-project.mdx
Labels: type: docs, team: medusa

#13107 docs: update list of resources in module containers + conventions on loaders
  www/apps/book/app/learn/fundamentals/data-models/json-properties/page.mdx
  www/apps/book/app/learn/fundamentals/modules/container/page.mdx
  www/apps/book/app/learn/fundamentals/modules/service-factory/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/public/llms-full.txt
  www/apps/resources/app/medusa-container-resources/page.mdx
  www/apps/resources/app/service-factory-reference/page.mdx
  www/apps/resources/generated/edit-dates.mjs
Labels: type: docs, team: medusa
