Repository medusajs/medusa, pull requests merged in 2025-08, with the labels that each got.

#13100 chore: add links to package.json
  packages/medusa/package.json
Labels: type: chore, team: medusa

#13119 docs: fix code block titles not showing in UI docs
  www/apps/ui/contentlayer.config.ts
  www/apps/ui/package.json
  www/yarn.lock
Labels: type: docs, team: medusa

#13122 docs: added guide on sending invite user emails + updates to reset password guide
  www/apps/book/public/llms-full.txt
  www/apps/resources/app/commerce-modules/auth/reset-password/page.mdx
  www/apps/resources/app/commerce-modules/cart/cart-totals/page.mdx
  www/apps/resources/app/commerce-modules/order/order-totals/page.mdx
  www/apps/resources/app/commerce-modules/user/invite-user-subscriber/page.mdx
  www/apps/resources/app/infrastructure-modules/notification/local/page.mdx
  www/apps/resources/app/integrations/guides/resend/page.mdx
  www/apps/resources/generated/edit-dates.mjs
  www/apps/resources/generated/files-map.mjs
  www/apps/resources/generated/generated-commerce-modules-sidebar.mjs
  www/apps/resources/generated/generated-how-to-tutorials-sidebar.mjs
  www/apps/resources/generated/generated-infrastructure-modules-sidebar.mjs
  www/apps/resources/generated/generated-tools-sidebar.mjs
  www/apps/resources/sidebars/user.mjs
  www/apps/user-guide/app/settings/users/invites/page.mdx
  www/apps/user-guide/generated/edit-dates.mjs
  www/packages/tags/src/tags/how-to.ts
  www/packages/tags/src/tags/notification.ts
  www/packages/tags/src/tags/server.ts
Labels: type: docs, team: medusa

#13125 docs: document the fetchStream method of the JS SDK
  www/apps/book/app/learn/fundamentals/api-routes/responses/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/public/llms-full.txt
  www/apps/resources/app/js-sdk/page.mdx
  www/apps/resources/generated/edit-dates.mjs
Labels: type: docs, team: medusa

#13126 chore: use since instead of version tag in TSDocs
  packages/core/framework/src/http/types.ts
  packages/core/framework/src/types/container.ts
  packages/core/js-sdk/src/admin/product.ts
  packages/core/js-sdk/src/admin/tax-provider.ts
  packages/core/js-sdk/src/admin/tax-region.ts
  packages/core/types/src/file/service.ts
  packages/core/types/src/http/common/response.ts
  packages/core/types/src/index-data/query-config/query-input-config.ts
  packages/core/types/src/payment/provider.ts
  packages/core/types/src/tax/service.ts
  packages/core/utils/src/common/container.ts
  packages/core/utils/src/core-flows/events.ts
  packages/core/utils/src/dml/entity-builder.ts
  packages/core/utils/src/file/abstract-file-provider.ts
  packages/medusa/src/api/admin/draft-orders/[id]/route.ts
  packages/medusa/src/api/admin/products/imports/[transaction_id]/confirm/route.ts
  packages/medusa/src/api/admin/products/imports/route.ts
  packages/medusa/src/api/admin/tax-providers/route.ts
  packages/medusa/src/api/store/returns/route.ts
Labels: type: chore, team: medusa

#13127 docs: change from detecting version to since tag
  www/apps/api-reference/components/Tags/Operation/DescriptionSection/Events/index.tsx
  www/apps/api-reference/components/Tags/Operation/DescriptionSection/index.tsx
  www/apps/api-reference/specs/admin/openapi.full.yaml
  www/apps/api-reference/specs/admin/paths/admin_draft-orders_{id}.yaml
  www/apps/api-reference/specs/admin/paths/admin_order-edits_{id}.yaml
  www/apps/api-reference/specs/admin/paths/admin_order-edits_{id}_confirm.yaml
  www/apps/api-reference/specs/admin/paths/admin_order-edits_{id}_request.yaml
  www/apps/api-reference/specs/admin/paths/admin_products_imports.yaml
  www/apps/api-reference/specs/admin/paths/admin_products_imports_{transaction_id}_confirm.yaml
  www/apps/api-reference/specs/admin/paths/admin_tax-providers.yaml
  www/apps/api-reference/specs/store/openapi.full.yaml
  www/apps/api-reference/specs/store/paths/store_carts_{id}_customer.yaml
  www/apps/api-reference/specs/store/paths/store_returns.yaml
  www/apps/book/app/learn/update/page.mdx
  www/apps/book/public/llms-full.txt
  www/packages/types/src/openapi.ts
  www/utils/generated/events-output.json
  www/utils/generated/oas-output/operations/admin/delete_admin_draft-orders_[id].ts
  www/utils/generated/oas-output/operations/admin/delete_admin_order-edits_[id].ts
  www/utils/generated/oas-output/operations/admin/get_admin_tax-providers.ts
  www/utils/generated/oas-output/operations/admin/post_admin_order-edits_[id]_confirm.ts
  www/utils/generated/oas-output/operations/admin/post_admin_order-edits_[id]_request.ts
  www/utils/generated/oas-output/operations/admin/post_admin_products_imports.ts
  www/utils/generated/oas-output/operations/admin/post_admin_products_imports_[transaction_id]_confirm.ts
  www/utils/generated/oas-output/operations/store/post_store_carts_[id]_customer.ts
  www/utils/generated/oas-output/operations/store/post_store_returns.ts
  www/utils/packages/docs-generator/src/classes/kinds/default.ts
  www/utils/packages/docs-generator/src/classes/kinds/events.ts
  www/utils/packages/docs-generator/src/classes/kinds/oas.ts
  www/utils/packages/docs-generator/src/types/index.d.ts
  www/utils/packages/typedoc-plugin-markdown-medusa/src/resources/helpers/comments.ts
  www/utils/packages/typedoc-plugin-markdown-medusa/src/resources/helpers/events-listing.ts
  www/utils/packages/typedoc-plugin-markdown-medusa/src/resources/helpers/version.ts
  www/utils/packages/typedoc-plugin-markdown-medusa/src/resources/helpers/workflow-events.ts
  www/utils/packages/typedoc-plugin-workflows/src/plugin.ts
  www/utils/packages/types/lib/index.d.ts
Labels: type: docs, team: medusa

#13128 docs: general updates to documentation pages
  www/apps/book/app/learn/fundamentals/workflows/multiple-step-usage/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/public/llms-full.txt
  www/apps/resources/app/admin-components/components/action-menu/page.mdx
  www/apps/resources/app/admin-components/components/container/page.mdx
  www/apps/resources/app/admin-components/components/forms/page.mdx
  www/apps/resources/app/admin-components/components/header/page.mdx
  www/apps/resources/app/admin-components/components/json-view-section/page.mdx
  www/apps/resources/app/admin-components/components/section-row/page.mdx
  www/apps/resources/app/admin-components/layouts/single-column/page.mdx
  www/apps/resources/app/admin-components/layouts/two-column/page.mdx
  www/apps/resources/app/commerce-modules/api-key/concepts/page.mdx
  www/apps/resources/generated/edit-dates.mjs
Labels: type: docs, team: medusa

#13134 feat: Add MCP instructions for Claude Code
  www/apps/book/app/learn/introduction/build-with-llms-ai/page.mdx
Labels: type: docs, automerge

#13079 fix(pricing): Calculate prices with multiple rule values
  .changeset/dirty-boats-add.md
  packages/modules/pricing/integration-tests/__tests__/services/pricing-module/calculate-price.spec.ts
  packages/modules/pricing/src/repositories/pricing.ts
  packages/modules/pricing/src/services/pricing-module.ts
Labels: type: bug, team: medusa

#13078 Made in operator work as In insted of equal logic
  .changeset/khaki-buses-look.md
  packages/modules/promotion/integration-tests/__tests__/services/promotion-module/evaluate-rule-value-condition.spec.ts
  packages/modules/promotion/src/utils/validations/promotion-rule.ts
Labels: automerge

#13140 chore(core-flows): throw error on invalid promo code
  .changeset/ninety-kangaroos-grin.md
  integration-tests/http/__tests__/cart/store/cart.spec.ts
  packages/core/core-flows/src/cart/steps/get-promotion-codes-to-apply.ts
Labels: type: chore, team: medusa

#13150 fix(dashboard): variants disappearing when removing an option on product creation
  .changeset/tasty-donuts-laugh.md
  packages/admin/dashboard/src/routes/products/product-create/components/product-create-details-form/components/product-create-details-variant-section/product-create-details-variant-section.tsx
Labels: type: bug, team: medusa

#13151 fix(workflow-engine-inmemory): fix cron job schedule
  .changeset/warm-poems-fly.md
  packages/modules/workflow-engine-inmemory/src/utils/workflow-orchestrator-storage.ts
Labels: type: bug, team: medusa

#13185 fix(types): remove order_id in apis that do not handle it
  .changeset/fair-mice-invent.md
  packages/core/types/src/order/common.ts
Labels: type: bug, team: medusa

#13196 feat(dashboard): add view management UI components
  packages/admin/dashboard/src/components/table/save-view-dropdown/index.ts
  packages/admin/dashboard/src/components/table/save-view-dropdown/save-view-dropdown.tsx
  packages/admin/dashboard/src/hooks/table/columns/use-column-state.ts
  packages/admin/dashboard/src/utils/column-utils.ts
Labels: type: feature, team: medusa

#13197 chore(core-flows): import zod
  packages/core/core-flows/package.json
  packages/core/workflows-sdk/package.json
  yarn.lock
Labels: type: chore, team: medusa

#13195 fix(tax): Use correct rule reference for shipping
  integration-tests/http/__tests__/cart/store/cart.spec.ts
  packages/modules/tax/integration-tests/__tests__/index.spec.ts
  packages/modules/tax/src/services/tax-module-service.ts
Labels: type: bug, team: medusa

#13171 feat: view config feature flag
  integration-tests/http/__tests__/feature-flags/admin/feature-flags.spec.ts
  packages/admin/dashboard/src/hooks/api/feature-flags.tsx
  packages/admin/dashboard/src/providers/feature-flag-provider/index.tsx
  packages/admin/dashboard/src/providers/providers.tsx
  packages/admin/dashboard/src/routes/orders/order-list/components/order-list-table/configurable-order-list-table.tsx
  packages/admin/dashboard/src/routes/orders/order-list/components/order-list-table/order-list-table.tsx
  packages/medusa/src/api/admin/feature-flags/route.ts
  packages/medusa/src/loaders/feature-flags/view-configurations.ts
Labels: type: feature, team: medusa

#13175 feat: add settings module
  packages/core/modules-sdk/src/definitions.ts
  packages/core/types/src/bundles.ts
  packages/core/types/src/index.ts
  packages/core/types/src/settings/common.ts
  packages/core/types/src/settings/index.ts
  packages/core/types/src/settings/mutations.ts
  packages/core/types/src/settings/service.ts
  packages/core/utils/src/common/__tests__/define-config.spec.ts
  packages/core/utils/src/common/define-config.ts
  packages/core/utils/src/modules-sdk/definition.ts
  packages/medusa/package.json
  packages/medusa/src/modules/settings.ts
  packages/modules/settings/README.md
  packages/modules/settings/integration-tests/__tests__/settings-module.spec.ts
  packages/modules/settings/jest.config.js
  packages/modules/settings/mikro-orm.config.dev.ts
  packages/modules/settings/package.json
  packages/modules/settings/src/index.ts
  packages/modules/settings/src/migrations/.snapshot-medusa-settings.json
  packages/modules/settings/src/migrations/Migration20250717162007.ts
  packages/modules/settings/src/models/index.ts
  packages/modules/settings/src/models/user-preference.ts
  packages/modules/settings/src/models/view-configuration.ts
  packages/modules/settings/src/services/index.ts
  packages/modules/settings/src/services/settings-module-service.ts
  packages/modules/settings/src/types/index.ts
  packages/modules/settings/tsconfig.json
  yarn.lock
Labels: type: feature, team: medusa

#13220 docs: add regions supported by Cloud
  www/apps/cloud/app/faq/page.mdx
  www/apps/cloud/app/projects/page.mdx
  www/apps/cloud/generated/edit-dates.mjs
  www/apps/cloud/generated/sidebar.mjs
  www/apps/cloud/sidebar.mjs
Labels: type: docs, team: medusa

#13200 chore(utils): round to zero credit lines
  .changeset/lovely-tips-know.md
  packages/core/utils/src/totals/credit-lines/index.ts
  packages/core/utils/src/totals/promotion/index.ts
Labels: type: chore, team: medusa

#13224 docs: connect to database updates
  www/apps/cloud/app/database/page.mdx
  www/apps/cloud/app/environments/environment-variables/page.mdx
  www/apps/cloud/app/environments/long-lived/page.mdx
  www/apps/cloud/generated/edit-dates.mjs
Labels: type: docs, team: medusa

#13226 feat(dashboard, core-flows): associate shipping option to type
  .changeset/gorgeous-cameras-own.md
  integration-tests/http/__tests__/shipping-option/admin/shipping-option.spec.ts
  packages/admin/dashboard/src/i18n/translations/$schema.json
  packages/admin/dashboard/src/i18n/translations/en.json
  packages/admin/dashboard/src/routes/locations/location-service-zone-shipping-option-create/components/create-shipping-options-form/create-shipping-option-details-form.tsx
  packages/admin/dashboard/src/routes/locations/location-service-zone-shipping-option-create/components/create-shipping-options-form/create-shipping-options-form.tsx
  packages/admin/dashboard/src/routes/locations/location-service-zone-shipping-option-create/components/create-shipping-options-form/schema.ts
  packages/admin/dashboard/src/routes/locations/location-service-zone-shipping-option-edit/components/edit-region-form/edit-shipping-option-form.tsx
  packages/core/core-flows/src/fulfillment/steps/upsert-shipping-options.ts
  packages/core/core-flows/src/fulfillment/steps/validate-shipping-option-prices.ts
  packages/core/core-flows/src/fulfillment/workflows/create-shipping-options.ts
  packages/core/framework/src/http/utils/validate-body.ts
  packages/core/types/src/fulfillment/mutations/shipping-option.ts
  packages/core/types/src/http/shipping-option/admin/payloads.ts
  packages/core/types/src/workflow/fulfillment/create-shipping-options.ts
  packages/core/types/src/workflow/fulfillment/update-shipping-options.ts
  packages/medusa/src/api/admin/shipping-options/validators.ts
  packages/modules/fulfillment/src/services/fulfillment-module-service.ts
Labels: type: feature, team: medusa

#12572 fix(core-flows, dashboard, types): improve allocation flows on Admin
  .changeset/cool-kiwis-hear.md
  integration-tests/http/__tests__/order/admin/order.spec.ts
  packages/admin/dashboard/src/i18n/translations/$schema.json
  packages/admin/dashboard/src/i18n/translations/en.json
  packages/admin/dashboard/src/routes/locations/location-sales-channels/components/edit-sales-channels-form/edit-sales-channels-form.tsx
  packages/admin/dashboard/src/routes/orders/order-allocate-items/components/order-create-fulfillment-form/order-allocate-items-form.tsx
  packages/admin/dashboard/src/routes/orders/order-allocate-items/components/order-create-fulfillment-form/order-allocate-items-item.tsx
  packages/admin/dashboard/src/routes/orders/order-allocate-items/components/order-create-fulfillment-form/utils.ts
  packages/admin/dashboard/src/routes/orders/order-create-fulfillment/components/order-create-fulfillment-form/order-create-fulfillment-form.tsx
  packages/admin/dashboard/src/routes/orders/order-create-fulfillment/components/order-create-fulfillment-form/order-create-fulfillment-item.tsx
  packages/admin/dashboard/src/routes/orders/order-detail/components/order-summary-section/order-summary-section.tsx
  packages/admin/dashboard/src/routes/reservations/reservation-list/components/reservation-list-table/use-reservation-table-query.tsx
  packages/core/core-flows/src/order/workflows/create-fulfillment.ts
  packages/core/types/src/http/product/admin/entitites.ts
  packages/core/types/src/http/reservation/admin/queries.ts
Labels: type: bug, automerge, team: medusa

#13248 chore(docs): fix ignore build script
  www/ignore-build-script.sh
Labels: type: docs, team: medusa

#13254 docs: add a section on preview environment URL format
  www/apps/cloud/app/environments/preview/page.mdx
  www/apps/cloud/generated/edit-dates.mjs
Labels: type: docs, team: medusa

#13267 fix(dashboard): zero in float currency inputs
  .changeset/brown-cats-yell.md
  packages/admin/dashboard/src/routes/orders/order-balance-settlement/components/order-balance-settlement-form/order-balance-settlement-form.tsx
  packages/admin/dashboard/src/routes/orders/order-create-claim/components/claim-create-form/claim-create-form.tsx
  packages/admin/dashboard/src/routes/orders/order-create-exchange/components/exchange-create-form/exchange-create-form.tsx
  packages/admin/dashboard/src/routes/orders/order-create-refund/components/create-refund-form/create-refund-form.tsx
  packages/admin/dashboard/src/routes/orders/order-create-return/components/return-create-form/return-create-form.tsx
Labels: type: bug, automerge, team: medusa

#13263 feat(dashboard,core,modules): free shipping promotion in dashboard
  .changeset/chilled-tomatoes-vanish.md
  packages/admin/dashboard/src/hooks/api/promotions.tsx
  packages/admin/dashboard/src/i18n/translations/$schema.json
  packages/admin/dashboard/src/i18n/translations/en.json
  packages/admin/dashboard/src/routes/promotions/common/edit-rules/components/edit-rules-form/edit-rules-form.tsx
  packages/admin/dashboard/src/routes/promotions/common/edit-rules/components/edit-rules-form/form-schema.ts
  packages/admin/dashboard/src/routes/promotions/common/edit-rules/components/rule-value-form-field/rule-value-form-field.tsx
  packages/admin/dashboard/src/routes/promotions/common/edit-rules/components/rules-form-field/rules-form-field.tsx
  packages/admin/dashboard/src/routes/promotions/promotion-create/components/create-promotion-form/create-promotion-form.tsx
  packages/admin/dashboard/src/routes/promotions/promotion-create/components/create-promotion-form/templates.ts
  packages/admin/dashboard/src/routes/promotions/promotion-detail/components/promotion-conditions-section/promotion-conditions-section.tsx
  packages/admin/dashboard/src/routes/promotions/promotion-detail/promotion-detail.tsx
  packages/admin/dashboard/src/routes/promotions/promotion-edit-details/components/edit-promotion-form/edit-promotion-details-form.tsx
  packages/core/core-flows/src/cart/utils/fields.ts
  packages/core/js-sdk/src/admin/promotion.ts
  packages/core/types/src/http/promotion/admin/queries.ts
  packages/modules/link-modules/src/definitions/readonly/cart-shipping-option.ts
  packages/modules/link-modules/src/definitions/readonly/index.ts
  packages/modules/promotion/integration-tests/__tests__/services/promotion-module/compute-actions.spec.ts
  packages/modules/promotion/src/utils/compute-actions/index.ts
  packages/modules/promotion/src/utils/compute-actions/line-items.ts
  packages/modules/promotion/src/utils/compute-actions/shipping-methods.ts
Labels: type: feature, team: medusa

#13251 fix(): Cart operation should calculate item prices accounting for quantity
  .changeset/warm-dancers-allow.md
  integration-tests/http/__tests__/cart/store/cart.spec.ts
  integration-tests/http/__tests__/promotions/admin/promotions.spec.ts
  integration-tests/modules/__tests__/cart/store/cart.workflows.spec.ts
  integration-tests/modules/__tests__/order/draft-order.spec.ts
  integration-tests/modules/__tests__/order/order.spec.ts
  packages/core/core-flows/src/cart/steps/get-variant-price-sets.ts
  packages/core/core-flows/src/cart/utils/fields.ts
  packages/core/core-flows/src/cart/workflows/add-to-cart.ts
  packages/core/core-flows/src/cart/workflows/create-carts.ts
  packages/core/core-flows/src/cart/workflows/list-shipping-options-for-cart.ts
  packages/core/core-flows/src/cart/workflows/refresh-cart-items.ts
  packages/core/core-flows/src/cart/workflows/refresh-cart-shipping-methods.ts
  packages/core/core-flows/src/cart/workflows/refresh-payment-collection.ts
  packages/core/core-flows/src/cart/workflows/transfer-cart-customer.ts
  packages/core/core-flows/src/cart/workflows/update-cart-promotions.ts
  packages/core/core-flows/src/cart/workflows/update-cart.ts
  packages/core/core-flows/src/cart/workflows/update-line-item-in-cart.ts
  packages/core/core-flows/src/cart/workflows/update-tax-lines.ts
  packages/core/core-flows/src/cart/workflows/upsert-tax-lines.ts
  packages/core/core-flows/src/common/steps/__fixtures__/remote-query.ts
  packages/core/core-flows/src/common/steps/__tests__/use-query-graph-step.spec.ts
  packages/core/core-flows/src/common/steps/use-query-graph.ts
  packages/core/core-flows/src/draft-order/workflows/refresh-draft-order-adjustments.ts
  packages/core/core-flows/src/order/utils/fields.ts
  packages/core/core-flows/src/order/workflows/add-line-items.ts
  packages/core/core-flows/src/order/workflows/create-order.ts
Labels: type: bug, team: medusa

#13280 fix(fulfillment): don't cascade shipping option delete to shipping option type
  .changeset/light-cats-lie.md
  packages/core/core-flows/src/shipping-options/workflows/delete-shipping-option-types.ts
  packages/modules/fulfillment/integration-tests/__tests__/fulfillment-module-service/index.spec.ts
  packages/modules/fulfillment/src/migrations/.snapshot-medusa-fulfillment.json
  packages/modules/fulfillment/src/migrations/Migration20250822130931.ts
  packages/modules/fulfillment/src/models/shipping-option.ts
Labels: type: bug, automerge, team: medusa

#13222 docs: updates to billing and usage guides
  www/apps/cloud/app/billing-usage/page.mdx
  www/apps/cloud/app/billing/manage/page.mdx
  www/apps/cloud/app/billing/page.mdx
  www/apps/cloud/app/environments/long-lived/page.mdx
  www/apps/cloud/app/organizations/page.mdx
  www/apps/cloud/app/projects/page.mdx
  www/apps/cloud/app/usage/page.mdx
  www/apps/cloud/generated/edit-dates.mjs
  www/apps/cloud/generated/sidebar.mjs
  www/apps/cloud/next.config.mjs
  www/apps/cloud/sidebar.mjs
  www/vale/styles/docs/Tooling.yml
Labels: type: docs, team: medusa

#13292 docs: fix request example in restaurant marketplace recipe
  www/apps/resources/app/recipes/marketplace/examples/restaurant-delivery/page.mdx
  www/apps/resources/generated/edit-dates.mjs
Labels: type: docs, team: medusa

#13294 chore(promotion): cleanup old unused promotion codebase
  .changeset/hungry-ducks-remain.md
  packages/modules/promotion/src/utils/compute-actions/line-items.ts
Labels: type: chore, team: medusa

#13309 chore: improve ignore build script to ignore branches not starting with docs/
  www/ignore-build-script.sh
Labels: type: docs, type: chore, team: medusa

#13076 fix(core-flows): pass backorder flag when recreating reservations after fulfilment cancelation
  .changeset/silver-spoons-switch.md
  integration-tests/http/__tests__/order/admin/order.spec.ts
  packages/core/core-flows/src/order/workflows/cancel-order-fulfillment.ts
Labels: type: bug, team: medusa

#13318 chore: Revert #13189
  .changeset/empty-pillows-promise.md
  integration-tests/http/__tests__/order-edits/order-edits.spec.ts
  packages/core/core-flows/src/order/workflows/order-edit/begin-order-edit.ts
  packages/core/core-flows/src/order/workflows/order-edit/cancel-begin-order-edit.ts
  packages/core/core-flows/src/order/workflows/order-edit/order-edit-add-new-item.ts
  packages/core/core-flows/src/order/workflows/order-edit/order-edit-update-item-quantity.ts
  packages/core/core-flows/src/order/workflows/order-edit/refresh-order-edit-adjustments.ts
  packages/core/core-flows/src/order/workflows/order-edit/remove-order-edit-item-action.ts
  packages/core/core-flows/src/order/workflows/order-edit/request-order-edit.ts
  packages/core/core-flows/src/order/workflows/order-edit/update-order-edit-add-item.ts
  packages/core/core-flows/src/order/workflows/order-edit/update-order-edit-item-quantity.ts
Labels: type: chore, team: medusa

#13289 feat(index): $nin and $not operators
  .changeset/odd-emus-cheat.md
  integration-tests/modules/__tests__/index/sync.spec.ts
  packages/core/types/src/index-data/index-operator-map.ts
  packages/modules/index/integration-tests/__fixtures__/schema.ts
  packages/modules/index/integration-tests/__fixtures__/update-removed-schema.ts
  packages/modules/index/integration-tests/__fixtures__/updated-schema.ts
  packages/modules/index/integration-tests/__tests__/query-builder.spec.ts
  packages/modules/index/src/utils/query-builder.ts
Labels: type: feature, team: medusa

#13236 chore: idempotent cart operations
  .changeset/lemon-buttons-look.md
  integration-tests/http/__tests__/promotions/admin/promotions.spec.ts
  integration-tests/modules/__tests__/workflow-engine/workflow-engine.ts
  packages/core/core-flows/src/cart/workflows/add-to-cart.ts
  packages/core/core-flows/src/cart/workflows/create-payment-collection-for-cart.ts
  packages/core/core-flows/src/cart/workflows/refresh-cart-items.ts
  packages/core/core-flows/src/cart/workflows/refresh-cart-shipping-methods.ts
  packages/core/core-flows/src/cart/workflows/refresh-payment-collection.ts
  packages/core/core-flows/src/cart/workflows/refund-payment-recreate-payment-session.ts
  packages/core/core-flows/src/cart/workflows/transfer-cart-customer.ts
  packages/core/core-flows/src/cart/workflows/update-cart-promotions.ts
  packages/core/core-flows/src/cart/workflows/update-cart.ts
  packages/core/core-flows/src/cart/workflows/update-line-item-in-cart.ts
  packages/core/core-flows/src/line-item/workflows/delete-line-items.ts
  packages/core/orchestration/src/transaction/transaction-orchestrator.ts
  packages/core/orchestration/src/workflow/local-workflow.ts
  packages/core/types/src/shared-context.ts
  packages/core/workflows-sdk/src/utils/composer/create-workflow.ts
  packages/core/workflows-sdk/src/utils/composer/helpers/create-step-handler.ts
  packages/core/workflows-sdk/src/utils/composer/type.ts
  packages/medusa/src/api/store/carts/[id]/customer/route.ts
  packages/medusa/src/api/store/carts/[id]/line-items/[line_id]/route.ts
  packages/medusa/src/api/store/carts/[id]/line-items/route.ts
  packages/medusa/src/api/store/carts/[id]/promotions/route.ts
  packages/medusa/src/api/store/carts/[id]/route.ts
  packages/medusa/src/api/store/payment-collections/route.ts
  packages/modules/workflow-engine-inmemory/integration-tests/__fixtures__/workflow_idempotent.ts
  packages/modules/workflow-engine-inmemory/integration-tests/__fixtures__/workflow_sync.ts
  packages/modules/workflow-engine-inmemory/src/migrations/.snapshot-medusa-workflows.json
  packages/modules/workflow-engine-inmemory/src/migrations/Migration20250819104213.ts
  packages/modules/workflow-engine-inmemory/src/models/workflow-execution.ts
  packages/modules/workflow-engine-inmemory/src/services/workflows-module.ts
  packages/modules/workflow-engine-inmemory/src/utils/workflow-orchestrator-storage.ts
  packages/modules/workflow-engine-redis/integration-tests/__fixtures__/workflow_sync.ts
  packages/modules/workflow-engine-redis/src/migrations/.snapshot-medusa-workflows.json
  packages/modules/workflow-engine-redis/src/migrations/Migration20250819110923.ts
  packages/modules/workflow-engine-redis/src/models/workflow-execution.ts
  packages/modules/workflow-engine-redis/src/utils/workflow-orchestrator-storage.ts
Labels: type: chore, has: breaking changes, team: medusa

#13323 chore(dashboard): move shipping option type page
  .changeset/shaggy-gifts-grow.md
  packages/admin/dashboard/src/components/layout/settings-layout/settings-layout.tsx
  packages/admin/dashboard/src/dashboard-app/routes/get-route.map.tsx
  packages/admin/dashboard/src/i18n/translations/$schema.json
  packages/admin/dashboard/src/i18n/translations/en.json
  packages/admin/dashboard/src/routes/locations/location-list/location-list.tsx
  packages/admin/dashboard/src/routes/shipping-option-types/common/hooks/use-delete-shipping-option-type-action.tsx
  packages/admin/dashboard/src/routes/shipping-option-types/shipping-option-type-create/components/create-shipping-option-type-form/create-shipping-option-type-form.tsx
  packages/admin/dashboard/src/routes/shipping-option-types/shipping-option-type-edit/components/edit-shipping-option-type-form/edit-shipping-option-type-form.tsx
  packages/admin/dashboard/src/routes/shipping-option-types/shipping-option-type-list/components/shipping-option-type-list-table/shipping-option-type-table-row-actions.tsx
Labels: type: chore, team: medusa

#13332 docs: added shipping option type injection zones
  www/apps/resources/app/admin-widget-injection-zones/page.mdx
  www/apps/resources/app/commerce-modules/fulfillment/admin-widget-zones/_content/shipping-option-type.mdx
  www/apps/resources/app/commerce-modules/fulfillment/admin-widget-zones/_content/shipping-profile.mdx
  www/apps/resources/app/commerce-modules/fulfillment/admin-widget-zones/page.mdx
  www/apps/resources/generated/edit-dates.mjs
Labels: type: docs, team: medusa

#13331 chore: add since tag to shipping option type events
  packages/core/utils/src/core-flows/events.ts
Labels: type: chore, team: medusa

#13336 chore(core-flows): revert idempotent cart
  .changeset/big-coins-fail.md
  integration-tests/http/__tests__/promotions/admin/promotions.spec.ts
  packages/core/core-flows/src/cart/workflows/add-to-cart.ts
  packages/core/core-flows/src/cart/workflows/create-payment-collection-for-cart.ts
  packages/core/core-flows/src/cart/workflows/refresh-cart-items.ts
  packages/core/core-flows/src/cart/workflows/refresh-cart-shipping-methods.ts
  packages/core/core-flows/src/cart/workflows/refresh-payment-collection.ts
  packages/core/core-flows/src/cart/workflows/refund-payment-recreate-payment-session.ts
  packages/core/core-flows/src/cart/workflows/transfer-cart-customer.ts
  packages/core/core-flows/src/cart/workflows/update-cart-promotions.ts
  packages/core/core-flows/src/cart/workflows/update-cart.ts
  packages/core/core-flows/src/cart/workflows/update-line-item-in-cart.ts
  packages/core/core-flows/src/line-item/workflows/delete-line-items.ts
Labels: type: chore, team: medusa

#13342 docs-util: fix workflows not picked for some routes + generate OAS
  www/apps/api-reference/specs/admin/components/schemas/AdminCreateShippingOptionType.yaml
  www/apps/api-reference/specs/admin/components/schemas/AdminUpdateShippingOption.yaml
  www/apps/api-reference/specs/admin/components/schemas/AdminUpdateShippingOptionType.yaml
  www/apps/api-reference/specs/admin/openapi.full.yaml
  www/apps/api-reference/specs/admin/paths/admin_feature-flags.yaml
  www/apps/api-reference/specs/admin/paths/admin_shipping-option-types_{id}.yaml
  www/apps/api-reference/specs/admin/paths/admin_shipping-options_{id}.yaml
  www/apps/api-reference/specs/store/components/schemas/AdminCreateShippingOptionType.yaml
  www/apps/api-reference/specs/store/components/schemas/AdminUpdateShippingOption.yaml
  www/apps/api-reference/specs/store/components/schemas/AdminUpdateShippingOptionType.yaml
  www/apps/api-reference/specs/store/openapi.full.yaml
  www/utils/generated/oas-output/operations/admin/get_admin_feature-flags.ts
  www/utils/generated/oas-output/operations/admin/post_admin_shipping-option-types_[id].ts
  www/utils/generated/oas-output/operations/admin/post_admin_shipping-options_[id].ts
  www/utils/generated/oas-output/schemas/AdminCreateShippingOptionType.ts
  www/utils/generated/oas-output/schemas/AdminUpdateShippingOption.ts
  www/utils/generated/oas-output/schemas/AdminUpdateShippingOptionType.ts
  www/utils/packages/docs-generator/package.json
  www/utils/packages/docs-generator/src/classes/helpers/oas-schema.ts
  www/utils/packages/docs-generator/src/classes/kinds/default.ts
  www/utils/packages/docs-generator/src/classes/kinds/oas.ts
  www/utils/packages/docs-generator/src/commands/clean-oas.ts
  www/utils/yarn.lock
Labels: type: docs, team: medusa

#13305 feat(promotion): Allow buyget promotion to apply multiple times on cart
  integration-tests/http/__tests__/promotions/admin/promotions.spec.ts
  packages/admin/dashboard/src/routes/promotions/promotion-create/components/create-promotion-form/create-promotion-form.tsx
  packages/modules/promotion/integration-tests/__tests__/services/promotion-module/compute-actions.spec.ts
  packages/modules/promotion/integration-tests/__tests__/services/promotion-module/promotion.spec.ts
  packages/modules/promotion/package.json
  packages/modules/promotion/src/migrations/Migration20250828075407.ts
  packages/modules/promotion/src/utils/compute-actions/buy-get.ts
  packages/modules/promotion/src/utils/validations/application-method.ts
Labels: automerge, type: feature, team: medusa
