Repository medusajs/medusa, pull requests merged in 2025-02, with the labels that each got.

#11195 chore(ui,dashboard): Use `radix-ui` package
  .changeset/twenty-maps-walk.md
  packages/admin/dashboard/package.json
  packages/admin/dashboard/src/components/common/form/form.tsx
  packages/admin/dashboard/src/components/data-grid/components/data-grid-keyboard-shortcut-modal.tsx
  packages/admin/dashboard/src/components/layout/main-layout/main-layout.tsx
  packages/admin/dashboard/src/components/layout/nav-item/nav-item.tsx
  packages/admin/dashboard/src/components/layout/settings-layout/settings-layout.tsx
  packages/admin/dashboard/src/components/layout/shell/shell.tsx
  packages/admin/dashboard/src/components/layout/user-menu/user-menu.tsx
  packages/admin/dashboard/src/components/search/search.tsx
  packages/admin/dashboard/src/components/table/data-table/data-table-filter/data-table-filter.tsx
  packages/admin/dashboard/src/components/table/data-table/data-table-filter/date-filter.tsx
  packages/admin/dashboard/src/components/table/data-table/data-table-filter/filter-chip.tsx
  packages/admin/dashboard/src/components/table/data-table/data-table-filter/number-filter.tsx
  packages/admin/dashboard/src/components/table/data-table/data-table-filter/select-filter.tsx
  packages/admin/dashboard/src/components/table/data-table/data-table-filter/string-filter.tsx
  packages/admin/dashboard/src/routes/locations/common/components/conditional-price-form/conditional-price-form.tsx
  packages/admin/dashboard/src/routes/orders/order-detail/components/order-activity-section/order-timeline.tsx
  packages/admin/dashboard/src/routes/products/common/components/category-combobox/category-combobox.tsx
  packages/admin/dashboard/src/routes/tax-regions/common/components/tax-override-card/tax-override-card.tsx
  packages/admin/dashboard/src/routes/workflow-executions/workflow-execution-detail/components/workflow-execution-history-section/workflow-execution-history-section.tsx
  packages/design-system/ui/package.json
  packages/design-system/ui/src/blocks/data-table/components/data-table-action-cell.tsx
  packages/design-system/ui/src/blocks/data-table/components/data-table-select-cell.tsx
  packages/design-system/ui/src/components/avatar/avatar.tsx
  packages/design-system/ui/src/components/badge/badge.tsx
  packages/design-system/ui/src/components/button/button.tsx
  packages/design-system/ui/src/components/calender/calendar.stories.tsx
  packages/design-system/ui/src/components/checkbox/checkbox.tsx
  packages/design-system/ui/src/components/checkbox/types.ts
  packages/design-system/ui/src/components/command-bar/command-bar.tsx
  packages/design-system/ui/src/components/copy/copy.tsx
  packages/design-system/ui/src/components/date-picker/date-picker.stories.tsx
  packages/design-system/ui/src/components/drawer/drawer.tsx
  packages/design-system/ui/src/components/dropdown-menu/dropdown-menu.tsx
  packages/design-system/ui/src/components/focus-modal/focus-modal.tsx
  packages/design-system/ui/src/components/hint/hint.tsx
  packages/design-system/ui/src/components/icon-badge/icon-badge.tsx
  packages/design-system/ui/src/components/icon-button/icon-button.tsx
  packages/design-system/ui/src/components/label/label.tsx
  packages/design-system/ui/src/components/popover/popover.tsx
  packages/design-system/ui/src/components/progress-accordion/progress-accordion.tsx
  packages/design-system/ui/src/components/progress-tabs/progress-tabs.tsx
  packages/design-system/ui/src/components/prompt/prompt.tsx
  packages/design-system/ui/src/components/radio-group/radio-group.tsx
  packages/design-system/ui/src/components/select/select.tsx
  packages/design-system/ui/src/components/skeleton/skeleton.tsx
  packages/design-system/ui/src/components/switch/switch.tsx
  packages/design-system/ui/src/components/tabs/tabs.tsx
  packages/design-system/ui/src/components/text/text.tsx
  packages/design-system/ui/src/components/textarea/textarea.tsx
  packages/design-system/ui/src/components/toast/toast.tsx
  packages/design-system/ui/src/components/tooltip/tooltip.tsx
  yarn.lock
Labels: type: chore, team: medusa

#11268 docs: fix typo in sales channel links docs
  www/apps/resources/app/commerce-modules/sales-channel/links-to-other-modules/page.mdx
Labels: type: docs, team: medusa

#11267 docs: fix link to sales channel docs
  www/apps/resources/app/recipes/omnichannel/page.mdx
Labels: type: docs, team: medusa

#11271 docs: fix link to promotion actions
  www/apps/resources/app/commerce-modules/order/promotion-adjustments/page.mdx
Labels: type: docs, team: medusa

#11270 docs: document onesided one-to-one relationship
  www/apps/book/app/learn/fundamentals/data-models/relationships/page.mdx
  www/apps/book/generated/edit-dates.mjs
Labels: type: docs, team: medusa

#11274 docs: update railway deployment docs
  www/apps/resources/app/deployment/medusa-application/railway/page.mdx
  www/apps/resources/generated/edit-dates.mjs
Labels: type: docs, team: medusa

#11200 chore(medusa): clear workflow execution
  .changeset/nice-ads-taste.md
  packages/modules/workflow-engine-inmemory/integration-tests/__tests__/index.spec.ts
  packages/modules/workflow-engine-inmemory/src/migrations/.snapshot-medusa-workflows.json
  packages/modules/workflow-engine-inmemory/src/migrations/Migration20250128174331.ts
  packages/modules/workflow-engine-inmemory/src/models/workflow-execution.ts
  packages/modules/workflow-engine-inmemory/src/services/workflows-module.ts
  packages/modules/workflow-engine-inmemory/src/utils/workflow-orchestrator-storage.ts
  packages/modules/workflow-engine-redis/integration-tests/__tests__/index.spec.ts
  packages/modules/workflow-engine-redis/src/migrations/.snapshot-medusa-workflows.json
  packages/modules/workflow-engine-redis/src/migrations/Migration20250128174354.ts
  packages/modules/workflow-engine-redis/src/models/workflow-execution.ts
  packages/modules/workflow-engine-redis/src/services/workflows-module.ts
  packages/modules/workflow-engine-redis/src/utils/workflow-orchestrator-storage.ts
Labels: type: chore, automerge, team: medusa

#11263 feat(orchestration): hydrate resultset
  .changeset/honest-ants-guess.md
  packages/core/orchestration/src/__tests__/joiner/remote-joiner-data.ts
  packages/core/orchestration/src/joiner/remote-joiner.ts
  packages/core/types/src/joiner/index.ts
Labels: automerge, type: feature, team: medusa

#11272 fix: issues with peer dependencies
  .changeset/selfish-waves-taste.md
  packages/admin/admin-bundler/package.json
  packages/admin/admin-sdk/package.json
  packages/medusa/package.json
  yarn.lock
Labels: type: bug, team: medusa

#11283 chore(framework): add example of admin's vite configurations
  packages/core/framework/src/config/types.ts
Labels: type: chore, team: medusa

#11282 docs: add troubleshooting for admin optimizeDeps
  www/apps/resources/app/troubleshooting/medusa-admin/no-widget-route/page.mdx
  www/apps/resources/generated/edit-dates.mjs
Labels: type: docs, team: medusa

#11216 feat: make AbstractModuleService create method type-safe
  .changeset/green-insects-invite.md
  packages/core/utils/src/modules-sdk/__tests__/medusa-service-typings.spec.ts
  packages/core/utils/src/modules-sdk/types/medusa-service.ts
  packages/core/utils/src/product/events.ts
  packages/modules/api-key/src/services/api-key-module-service.ts
  packages/modules/auth/src/services/auth-module.ts
  packages/modules/cart/src/services/cart-module.ts
  packages/modules/customer/src/services/customer-module.ts
  packages/modules/fulfillment/src/services/fulfillment-module-service.ts
  packages/modules/inventory/src/services/inventory-module.ts
  packages/modules/notification/src/services/notification-module-service.ts
  packages/modules/order/src/services/order-module-service.ts
  packages/modules/payment/src/services/payment-module.ts
  packages/modules/pricing/src/services/pricing-module.ts
  packages/modules/product/src/services/product-module-service.ts
  packages/modules/product/src/utils/events.ts
  packages/modules/promotion/src/services/promotion-module.ts
  packages/modules/region/src/services/region-module.ts
  packages/modules/sales-channel/src/services/sales-channel-module.ts
  packages/modules/stock-location/src/services/stock-location-module.ts
  packages/modules/store/src/services/store-module-service.ts
  packages/modules/tax/src/services/tax-module-service.ts
  packages/modules/user/src/services/user-module.ts
Labels: type: feature, team: medusa

#11280 docs: document variant inventory conceptual guide
  www/apps/resources/app/commerce-modules/inventory/links-to-other-modules/page.mdx
  www/apps/resources/app/commerce-modules/product/links-to-other-modules/page.mdx
  www/apps/resources/app/commerce-modules/product/variant-inventory/page.mdx
  www/apps/resources/generated/edit-dates.mjs
  www/apps/resources/generated/files-map.mjs
  www/apps/resources/generated/sidebar.mjs
  www/apps/resources/sidebars/inventory.mjs
  www/apps/resources/sidebars/product.mjs
  www/apps/resources/sidebars/sales-channel.mjs
  www/apps/resources/sidebars/stock-location.mjs
  www/packages/tags/src/tags/concept.ts
  www/packages/tags/src/tags/index.ts
  www/packages/tags/src/tags/inventory.ts
  www/packages/tags/src/tags/locking.ts
  www/packages/tags/src/tags/order.ts
  www/packages/tags/src/tags/sales-channel.ts
  www/packages/tags/src/tags/step.ts
  www/packages/tags/src/tags/stock-location.ts
Labels: type: docs, team: medusa

#11288 docs: add storefront guide select customer address during checkout
  www/apps/resources/app/storefront-development/checkout/address/page.mdx
  www/apps/resources/generated/edit-dates.mjs
  www/apps/resources/generated/sidebar.mjs
  www/apps/resources/sidebars/storefront.mjs
  www/packages/tags/src/tags/cart.ts
  www/packages/tags/src/tags/storefront.ts
Labels: type: docs, team: medusa

#11289 docs: document Query Context
  www/apps/book/app/learn/fundamentals/module-links/query-context/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/generated/sidebar.mjs
  www/apps/book/sidebar.mjs
  www/vale/styles/docs/ModuleNames.yml
Labels: type: docs, team: medusa

#11285 fix(dashboard,core-flows,types,medusa): Allow editing Order metadata
  .changeset/unlucky-pumpkins-nail.md
  packages/admin/dashboard/src/providers/router-provider/route-map.tsx
  packages/admin/dashboard/src/routes/orders/order-detail/constants.ts
  packages/admin/dashboard/src/routes/orders/order-detail/order-detail.tsx
  packages/admin/dashboard/src/routes/orders/order-metadata/index.ts
  packages/admin/dashboard/src/routes/orders/order-metadata/order-metadata.tsx
  packages/core/core-flows/src/order/workflows/update-order.ts
  packages/core/types/src/http/order/admin/payload.ts
  packages/core/types/src/workflow/order/update-order.ts
  packages/medusa/src/api/admin/orders/[id]/route.ts
  packages/medusa/src/api/admin/orders/validators.ts
Labels: type: bug, automerge, team: medusa

#11254 fix(ui): Prevent Command from triggering while a editable field has focus
  .changeset/spicy-bees-boil.md
  packages/design-system/ui/src/components/command-bar/command-bar.tsx
  packages/design-system/ui/src/utils/is-input-element.ts
Labels: type: bug, automerge, team: medusa

#10984 feat(core-flows): cart complete shipping validate
  integration-tests/http/__tests__/cart/store/cart.spec.ts
  integration-tests/http/__tests__/fixtures/order.ts
  integration-tests/http/__tests__/order/admin/order.spec.ts
  integration-tests/modules/__tests__/cart/store/cart.workflows.spec.ts
  integration-tests/modules/__tests__/cart/store/carts.spec.ts
  packages/core/core-flows/src/cart/steps/index.ts
  packages/core/core-flows/src/cart/steps/validate-shipping.ts
  packages/core/core-flows/src/cart/utils/fields.ts
  packages/core/core-flows/src/cart/workflows/complete-cart.ts
Labels: automerge, type: feature, team: medusa

#11294 docs: fix metadata destructure in query.graph
  www/apps/book/app/learn/customization/customize-admin/route/page.mdx
  www/apps/book/app/learn/fundamentals/module-links/query/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/resources/app/examples/page.mdx
  www/apps/resources/app/integrations/guides/sanity/page.mdx
  www/apps/resources/app/recipes/digital-products/examples/standard/page.mdx
  www/apps/resources/app/recipes/subscriptions/examples/standard/page.mdx
  www/apps/resources/generated/edit-dates.mjs
Labels: type: docs, team: medusa

#11293 docs: fix import of defineMiddleware
  www/apps/book/app/learn/fundamentals/api-routes/middlewares/page.mdx
Labels: type: docs, team: medusa

#11295 feat: map container types for core services to interface
  .changeset/witty-lies-burn.md
  packages/core/types/src/common/common.ts
  packages/core/utils/src/modules-sdk/__tests__/modules-to-container-types.spec.ts
  packages/core/utils/src/modules-sdk/modules-to-container-types.ts
  packages/core/utils/src/modules-sdk/types/medusa-service.ts
Labels: type: feature, team: medusa

#11307 fix: Use the correct currency for edit promotions form
  packages/admin/dashboard/src/routes/promotions/promotion-edit-details/components/edit-promotion-form/edit-promotion-details-form.tsx
Labels: type: bug, automerge, team: medusa

#11308 docs: add clean markdown version of all documentation pages
  www/apps/book/app/learn/fundamentals/plugins/create/page.mdx
  www/apps/book/app/learn/page.mdx
  www/apps/book/app/learn/storefront-development/page.mdx
  www/apps/book/app/md-content/[...slug]/route.ts
  www/apps/book/middleware.ts
  www/apps/book/package.json
  www/apps/resources/app/md-content/[[...slug]]/route.ts
  www/apps/resources/middleware.ts
  www/apps/ui/contentlayer.config.ts
  www/apps/ui/package.json
  www/apps/ui/src/app/md-content/[[...slug]]/route.ts
  www/apps/ui/src/middleware.ts
  www/apps/ui/src/props/hooks/usePrompt.tsx
  www/apps/ui/src/props/hooks/useToggleState.tsx
  www/apps/ui/src/registries/example-registry.tsx
  www/apps/ui/src/registries/hook-registry.tsx
  www/apps/ui/src/registries/hook-values.ts
  www/apps/ui/src/types/hooks.ts
  www/apps/user-guide/app/md-content/[...slug]/route.ts
  www/apps/user-guide/middleware.ts
  www/packages/docs-utils/package.json
  www/packages/docs-utils/src/get-clean-md.ts
  www/packages/docs-utils/src/utils/parsers.ts
  www/packages/remark-rehype-plugins/src/index.ts
  www/packages/remark-rehype-plugins/src/ui-rehype-plugin.ts
  www/packages/types/src/frontmatter.ts
  www/packages/types/src/index.ts
  www/packages/types/src/remark-rehype.ts
  www/packages/types/src/ui.ts
  www/yarn.lock
Labels: type: docs, team: medusa

#11313 docs: document admin environment variables
  www/apps/book/app/learn/customization/customize-admin/route/page.mdx
  www/apps/book/app/learn/customization/customize-admin/widget/page.mdx
  www/apps/book/app/learn/fundamentals/admin/environment-variables/page.mdx
  www/apps/book/app/learn/fundamentals/admin/tips/page.mdx
  www/apps/book/app/learn/fundamentals/environment-variables/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/generated/sidebar.mjs
  www/apps/book/sidebar.mjs
  www/apps/resources/app/integrations/guides/sanity/page.mdx
  www/apps/resources/app/js-sdk/page.mdx
  www/apps/resources/app/plugins/guides/wishlist/page.mdx
  www/apps/resources/generated/edit-dates.mjs
Labels: type: docs, team: medusa

#11304 fix(medusa, types): fix promotion HTTP types in cart
  .changeset/friendly-jars-matter.md
  packages/core/types/src/http/cart/store/entities.ts
  packages/core/types/src/http/cart/store/payloads.ts
  packages/medusa/src/api/store/carts/[id]/promotions/route.ts
Labels: type: bug, team: medusa

#11316 chore(types): add @version to new payment provider methods
  packages/core/types/src/payment/provider.ts
Labels: type: chore, team: medusa

#11323 docs: add generator for llms-full.txt
  www/apps/api-reference/package.json
  www/apps/api-reference/utils/get-paths-of-tag.ts
  www/apps/book/.env.sample
  www/apps/book/app/md-content/[...slug]/route.ts
  www/apps/book/public/llms-full.txt
  www/apps/book/scripts/prepare.mjs
  www/apps/resources/app/md-content/[[...slug]]/route.ts
  www/apps/ui/src/app/md-content/[[...slug]]/route.ts
  www/apps/user-guide/app/md-content/[...slug]/route.ts
  www/packages/build-scripts/package.json
  www/packages/build-scripts/src/generate-llms-full.ts
  www/packages/build-scripts/src/index.ts
  www/packages/build-scripts/src/utils/custom-llms-generators.ts
  www/packages/docs-utils/src/get-clean-md.ts
  www/packages/docs-utils/src/index.ts
  www/packages/docs-utils/src/oas-file-to-path.ts
  www/yarn.lock
Labels: type: docs, team: medusa

#11322 fix(core-flows): shipping profile update
  integration-tests/http/__tests__/product/admin/product.spec.ts
  packages/admin/dashboard/src/routes/products/product-detail/components/product-shipping-profile-section/product-shipping-profile-section.tsx
  packages/core/core-flows/src/product/workflows/update-products.ts
Labels: type: bug, automerge, team: medusa

#11324 docs: clarify steps for medusa build
  www/apps/book/app/learn/build/page.mdx
Labels: type: docs, team: medusa

#11327 docs: fix appending index.html.md to api reference links
  www/apps/book/public/llms-full.txt
  www/apps/book/scripts/prepare.mjs
  www/packages/build-scripts/src/utils/custom-llms-generators.ts
  www/packages/docs-utils/src/get-clean-md.ts
  www/packages/remark-rehype-plugins/src/change-links-md.ts
  www/packages/remark-rehype-plugins/src/index.ts
Labels: type: docs, team: medusa

#11329 docs: update text in LLM editors section
  www/apps/book/app/learn/page.mdx
  www/apps/book/generated/edit-dates.mjs
Labels: type: docs, team: medusa

#11178 feat(index): full sync operations
  .changeset/honest-emus-smell.md
  integration-tests/modules/__tests__/index/sync.spec.ts
  packages/core/modules-sdk/src/definitions.ts
  packages/core/utils/src/modules-sdk/build-query.ts
  packages/core/utils/src/modules-sdk/medusa-internal-service.ts
  packages/modules/index/integration-tests/__fixtures__/medusa-config.js
  packages/modules/index/integration-tests/__fixtures__/update-removed-schema.ts
  packages/modules/index/integration-tests/__tests__/config-sync.spec.ts
  packages/modules/index/integration-tests/__tests__/data-synchronizer.spec.ts
  packages/modules/index/integration-tests/__tests__/index-engine-module.spec.ts
  packages/modules/index/integration-tests/__tests__/orchestrator.spec.ts
  packages/modules/index/integration-tests/__tests__/query-builder.spec.ts
  packages/modules/index/src/migrations/.snapshot-medusa-index.json
  packages/modules/index/src/migrations/Migration20231019174230.ts
  packages/modules/index/src/migrations/Migration20250127144442.ts
  packages/modules/index/src/migrations/Migration20250128132404.ts
  packages/modules/index/src/models/index-data.ts
  packages/modules/index/src/models/index-metadata.ts
  packages/modules/index/src/models/index-relation.ts
  packages/modules/index/src/models/index-sync.ts
  packages/modules/index/src/models/index.ts
  packages/modules/index/src/services/data-synchronizer.ts
  packages/modules/index/src/services/index-data.ts
  packages/modules/index/src/services/index-metadata.ts
  packages/modules/index/src/services/index-module-service.ts
  packages/modules/index/src/services/index-relation.ts
  packages/modules/index/src/services/index-sync.ts
  packages/modules/index/src/services/postgres-provider.ts
  packages/modules/index/src/utils/create-partitions.ts
  packages/modules/index/src/utils/default-schema.ts
  packages/modules/index/src/utils/index.ts
  packages/modules/index/src/utils/query-builder.ts
  packages/modules/index/src/utils/sync/configuration.ts
  packages/modules/index/src/utils/sync/data-synchronizer.ts
  packages/modules/index/src/utils/sync/orchestrator.ts
Labels: automerge, type: feature, team: medusa

#11240 docs: added custom item price guide
  www/apps/resources/app/examples/guides/custom-item-price/page.mdx
  www/apps/resources/generated/edit-dates.mjs
  www/apps/resources/generated/files-map.mjs
  www/apps/resources/generated/sidebar.mjs
  www/apps/resources/sidebar.mjs
  www/apps/resources/sidebars/examples.mjs
  www/packages/docs-ui/src/components/WorkflowDiagram/Common/Node/index.tsx
  www/packages/tags/src/tags/cart.ts
  www/packages/tags/src/tags/index.ts
  www/packages/tags/src/tags/pricing.ts
  www/packages/tags/src/tags/server.ts
Labels: type: docs, team: medusa

#11343 docs: fix empty return in references
  www/apps/resources/references/auth_provider/classes/auth_provider.AbstractAuthModuleProvider/page.mdx
  www/apps/resources/references/file/classes/file.AbstractFileProviderService/page.mdx
  www/apps/resources/references/notification/classes/notification.AbstractNotificationProviderService/page.mdx
  www/apps/resources/references/payment_provider/classes/payment_provider.AbstractPaymentProvider/page.mdx
  www/apps/resources/references/workflows/StepResponse/methods/workflows.StepResponse.permanentFailure/page.mdx
  www/utils/packages/typedoc-plugin-markdown-medusa/src/resources/helpers/returns.ts
  www/utils/packages/typedoc-plugin-markdown-medusa/src/resources/partials/member.signature.hbs
  www/utils/packages/typedoc-plugin-markdown-medusa/src/utils/reflection-type-parameters.ts
Labels: type: docs, team: medusa

#11345 chore(types): add TSDocs for retentionTime
  packages/core/orchestration/src/transaction/types.ts
Labels: type: chore, team: medusa

#11346 docs: add railway troubleshooting for host
  www/apps/book/app/learn/fundamentals/admin/environment-variables/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/public/llms-full.txt
  www/apps/resources/app/deployment/medusa-application/railway/page.mdx
  www/apps/resources/generated/edit-dates.mjs
Labels: type: docs, team: medusa

#11342 chore: Remove unused payment method token model
  packages/modules/payment/src/migrations/.snapshot-medusa-payment.json
  packages/modules/payment/src/migrations/Migration20250206105639.ts
  packages/modules/payment/src/models/index.ts
  packages/modules/payment/src/models/payment-method-token.ts
Labels: type: chore, team: medusa

#11347 docs: update llms.txt
  www/apps/book/public/llms.txt
Labels: type: docs, team: medusa

#11335 fix(dashboard): Ensure conditional prices are assigned to region
  .changeset/small-dodos-attack.md
  packages/admin/dashboard/src/routes/locations/location-service-zone-shipping-option-pricing/components/create-shipping-options-form/edit-shipping-options-pricing-form.tsx
Labels: type: bug, team: medusa

#11312 fix(test): update flaky fulfillment test
  integration-tests/http/__tests__/order/admin/order.spec.ts
Labels: type: bug, team: medusa

#11351 docs: generate OAS after cart promotion fixes
  www/apps/api-reference/specs/admin/components/schemas/StoreCart.yaml
  www/apps/api-reference/specs/admin/components/schemas/StoreCartAddPromotion.yaml
  www/apps/api-reference/specs/admin/components/schemas/StoreCartPromotion.yaml
  www/apps/api-reference/specs/admin/openapi.full.yaml
  www/apps/api-reference/specs/store/components/schemas/StoreCart.yaml
  www/apps/api-reference/specs/store/components/schemas/StoreCartAddPromotion.yaml
  www/apps/api-reference/specs/store/components/schemas/StoreCartPromotion.yaml
  www/apps/api-reference/specs/store/openapi.full.yaml
  www/apps/api-reference/specs/store/paths/store_carts_{id}_promotions.yaml
  www/utils/generated/oas-output/operations/store/post_store_carts_[id].ts
  www/utils/generated/oas-output/operations/store/post_store_carts_[id]_promotions.ts
  www/utils/generated/oas-output/schemas/StoreCart.ts
  www/utils/generated/oas-output/schemas/StoreCartAddPromotion.ts
  www/utils/generated/oas-output/schemas/StoreCartPromotion.ts
Labels: type: docs, team: medusa

#11358 docs: update intro of custom item price
  www/apps/resources/app/examples/guides/custom-item-price/page.mdx
  www/apps/resources/generated/edit-dates.mjs
Labels: type: docs, team: medusa

#11359 fix(actions): Use correct branch for CI
  .github/workflows/test-cli-with-database.yml
Labels: team: medusa

#11238 fix(admin): loadConfig does not allow `serve` to be truly configurable
  .changeset/stale-ghosts-carry.md
  packages/admin/src/utils/load-config.ts
Labels: automerge

#11360 docs: document module providers in plugins
  www/apps/book/app/learn/fundamentals/plugins/create/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/public/llms-full.txt
  www/apps/resources/generated/edit-dates.mjs
  www/apps/resources/references/auth_provider/classes/auth_provider.AbstractAuthModuleProvider/page.mdx
  www/apps/resources/references/file/classes/file.AbstractFileProviderService/page.mdx
  www/apps/resources/references/fulfillment_provider/classes/fulfillment_provider.AbstractFulfillmentProviderService/page.mdx
  www/apps/resources/references/notification/classes/notification.AbstractNotificationProviderService/page.mdx
  www/apps/resources/references/payment_provider/classes/payment_provider.AbstractPaymentProvider/page.mdx
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/auth-provider.ts
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/file.ts
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/fulfillment-provider.ts
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/notification.ts
  www/utils/packages/typedoc-generate-references/src/constants/merger-custom-options/payment-provider.ts
Labels: type: docs, team: medusa

#11363 docs: added authentication in integration tests
  www/apps/book/app/learn/debugging-and-testing/testing-tools/integration-tests/api-routes/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/public/llms-full.txt
Labels: type: docs, team: medusa

#11364 docs: add help dropdown
  www/packages/docs-ui/src/components/MainNav/DesktopMenu/index.tsx
  www/packages/docs-ui/src/components/MainNav/Items/Dropdown/index.tsx
  www/packages/docs-ui/src/components/MainNav/index.tsx
Labels: type: docs, team: medusa

#11336 fix:(dashboard) pending difference rounding on order details page
  packages/admin/dashboard/src/lib/money-amount-helpers.ts
  packages/admin/dashboard/src/routes/orders/order-create-refund/components/create-refund-form/create-refund-form.tsx
  packages/admin/dashboard/src/routes/orders/order-detail/components/order-summary-section/order-summary-section.tsx
Labels: type: bug, automerge, team: medusa

#11344 fix(utils): add static identifier to AbstractNotificationProviderService
  .changeset/good-hornets-protect.md
  packages/core/utils/src/notification/abstract-notification-provider.ts
Labels: type: bug, team: medusa

#11362 fix(core-flows): Fix broken import of MedusaError
  .changeset/strong-chicken-wink.md
  packages/core/core-flows/src/cart/steps/validate-shipping.ts
Labels: type: bug, automerge, team: medusa

#11357 feat(ui,dashboard): Move Divider component to UI package
  .changeset/lucky-terms-hammer.md
  packages/admin/dashboard/src/components/layout/main-layout/main-layout.tsx
  packages/admin/dashboard/src/components/layout/settings-layout/settings-layout.tsx
  packages/admin/dashboard/src/routes/inventory/inventory-create/components/inventory-create-form/inventory-create-form.tsx
  packages/admin/dashboard/src/routes/locations/common/components/conditional-price-form/conditional-price-form.tsx
  packages/admin/dashboard/src/routes/locations/location-detail/components/location-general-section/location-general-section.tsx
  packages/admin/dashboard/src/routes/locations/location-service-zone-shipping-option-create/components/create-shipping-options-form/create-shipping-option-details-form.tsx
  packages/admin/dashboard/src/routes/locations/location-service-zone-shipping-option-edit/components/edit-region-form/edit-shipping-option-form.tsx
  packages/admin/dashboard/src/routes/price-lists/price-list-configuration/components/price-list-configuration-form/price-list-configuration-form.tsx
  packages/admin/dashboard/src/routes/price-lists/price-list-create/components/price-list-create-form/price-list-details-form.tsx
  packages/admin/dashboard/src/routes/product-variants/product-variant-edit/components/product-edit-variant-form/product-edit-variant-form.tsx
  packages/admin/dashboard/src/routes/products/common/components/category-combobox/category-combobox.tsx
  packages/admin/dashboard/src/routes/products/product-create/components/product-create-details-form/product-create-details-form.tsx
  packages/admin/dashboard/src/routes/products/product-import/components/import-summary.tsx
  packages/admin/dashboard/src/routes/promotions/promotion-create/components/create-promotion-form/create-promotion-form.tsx
  packages/admin/dashboard/src/routes/tax-regions/common/components/tax-override-card/tax-override-card.tsx
  packages/admin/dashboard/src/routes/tax-regions/tax-region-tax-override-create/components/tax-region-override-create-form/tax-region-tax-override-create.tsx
  packages/admin/dashboard/src/routes/tax-regions/tax-region-tax-override-edit/components/tax-region-tax-override-edit-form/tax-region-tax-override-edit-form.tsx
  packages/design-system/ui/src/components/divider/divider.stories.tsx
  packages/design-system/ui/src/components/divider/divider.tsx
  packages/design-system/ui/src/components/divider/index.ts
  packages/design-system/ui/src/index.ts
Labels: type: feature, team: medusa

#11361 fix(admin-vite-plugin,icons,ui,dashboard): Upgrade vitest in all packages and align Vite version
  .changeset/dirty-laws-scream.md
  packages/admin/admin-vite-plugin/package.json
  packages/admin/dashboard/package.json
  packages/design-system/icons/package.json
  packages/design-system/ui/package.json
  yarn.lock
Labels: type: bug, team: medusa

#11356 fix: Minor fixes and cleanup to the payments setup
  integration-tests/http/__tests__/claims/claims.spec.ts
  integration-tests/http/__tests__/order/admin/rma-flows.spec.ts
  packages/core/core-flows/src/payment/steps/capture-payment.ts
  packages/core/core-flows/src/payment/steps/refund-payment.ts
  packages/core/types/src/http/payment/common.ts
  packages/core/types/src/payment/common.ts
  packages/core/types/src/payment/provider.ts
  packages/core/types/src/payment/service.ts
  packages/core/utils/src/payment/payment-collection.ts
  packages/core/utils/src/payment/webhook.ts
  packages/medusa/src/subscribers/payment-webhook.ts
  packages/modules/payment/integration-tests/__tests__/services/payment-module/index.spec.ts
  packages/modules/payment/src/migrations/.snapshot-medusa-payment.json
  packages/modules/payment/src/migrations/Migration20250207132723.ts
  packages/modules/payment/src/models/payment.ts
  packages/modules/payment/src/services/payment-module.ts
  packages/modules/providers/payment-stripe/src/core/stripe-base.ts
Labels: type: bug, automerge, team: medusa

#11372 docs: fix typo in installation page.mdx
  www/apps/book/app/learn/installation/page.mdx
Labels: automerge

#11349 fix(core-flows): variants update unsets prices
  integration-tests/http/__tests__/product/admin/product.spec.ts
  packages/core/core-flows/src/product/workflows/update-product-variants.ts
Labels: type: bug, team: medusa

#11368 fix(ui): add missing use client directives
  .changeset/tender-rings-melt.md
  packages/design-system/ui/src/components/alert/alert.tsx
  packages/design-system/ui/src/components/calender/calendar.tsx
Labels: automerge

#11379 docs: fix some index.html.md links resulting 404
  www/apps/book/middleware.ts
  www/apps/book/public/llms-full.txt
  www/packages/remark-rehype-plugins/src/change-links-md.ts
  www/packages/tags/src/tags/index.ts
Labels: type: docs, team: medusa

#11387 docs: fix path to modules in plugin
  www/apps/book/app/learn/fundamentals/plugins/create/page.mdx
Labels: type: docs, team: medusa

#11388 fix: add foreign keys to the generated query types output
  .changeset/stale-bees-beam.md
  packages/core/utils/src/dml/__tests__/create-graphql.spec.ts
  packages/core/utils/src/dml/helpers/create-graphql.ts
  packages/core/utils/src/dml/helpers/entity-builder/define-relationship.ts
  packages/core/utils/src/dml/helpers/entity-builder/index.ts
  packages/core/utils/src/dml/helpers/entity-builder/relationship-helpers.ts
Labels: type: bug, team: medusa

#11381 chore(types,framework): pick ssl types from tls lib
  packages/core/framework/src/config/types.ts
  packages/core/types/src/common/config-module.ts
Labels: type: bug, team: medusa

#11390 chore: Revert version range to ^
  packages/admin/admin-bundler/package.json
  packages/admin/admin-sdk/package.json
  packages/admin/dashboard/package.json
  packages/cli/create-medusa-app/package.json
  packages/cli/medusa-cli/package.json
  packages/cli/oas/medusa-oas-cli/package.json
  packages/core/core-flows/package.json
  packages/core/framework/package.json
  packages/core/js-sdk/package.json
  packages/core/modules-sdk/package.json
  packages/core/orchestration/package.json
  packages/core/utils/package.json
  packages/core/workflows-sdk/package.json
  packages/design-system/icons/package.json
  packages/design-system/ui-preset/package.json
  packages/design-system/ui/package.json
  packages/medusa-test-utils/package.json
  packages/medusa/package.json
  packages/modules/api-key/package.json
  packages/modules/auth/package.json
  packages/modules/cache-inmemory/package.json
  packages/modules/cache-redis/package.json
  packages/modules/cart/package.json
  packages/modules/currency/package.json
  packages/modules/customer/package.json
  packages/modules/event-bus-local/package.json
  packages/modules/event-bus-redis/package.json
  packages/modules/file/package.json
  packages/modules/fulfillment/package.json
  packages/modules/index/package.json
  packages/modules/inventory/package.json
  packages/modules/link-modules/package.json
  packages/modules/locking/package.json
  packages/modules/notification/package.json
  packages/modules/order/package.json
  packages/modules/payment/package.json
  packages/modules/pricing/package.json
  packages/modules/product/package.json
  packages/modules/promotion/package.json
  packages/modules/providers/auth-emailpass/package.json
  packages/modules/providers/auth-github/package.json
  packages/modules/providers/auth-google/package.json
  packages/modules/providers/file-local/package.json
  packages/modules/providers/file-s3/package.json
  packages/modules/providers/fulfillment-manual/package.json
  packages/modules/providers/locking-postgres/package.json
  packages/modules/providers/locking-redis/package.json
  packages/modules/providers/notification-local/package.json
  packages/modules/providers/notification-sendgrid/package.json
  packages/modules/providers/payment-stripe/package.json
  packages/modules/region/package.json
  packages/modules/sales-channel/package.json
  packages/modules/stock-location/package.json
  packages/modules/store/package.json
  packages/modules/tax/package.json
  packages/modules/user/package.json
  packages/modules/workflow-engine-inmemory/package.json
  packages/modules/workflow-engine-redis/package.json
  yarn.lock
Labels: type: chore, team: medusa

#11391 docs: update default for medusa start
  www/apps/book/app/learn/fundamentals/environment-variables/page.mdx
Labels: type: docs, team: medusa

#11242 docs: document payment changes + account holder
  www/apps/resources/app/commerce-modules/customer/links-to-other-modules/page.mdx
  www/apps/resources/app/commerce-modules/payment/account-holder/page.mdx
  www/apps/resources/app/commerce-modules/payment/links-to-other-modules/page.mdx
  www/apps/resources/app/commerce-modules/payment/page.mdx
  www/apps/resources/generated/edit-dates.mjs
  www/apps/resources/generated/files-map.mjs
  www/apps/resources/generated/sidebar.mjs
  www/apps/resources/sidebars/payment.mjs
Labels: type: docs, team: medusa

#11397 docs: add documentation for product <> shipping profile link
  www/apps/book/public/llms-full.txt
  www/apps/resources/app/commerce-modules/fulfillment/links-to-other-modules/page.mdx
  www/apps/resources/app/commerce-modules/product/links-to-other-modules/page.mdx
  www/apps/resources/generated/edit-dates.mjs
Labels: type: docs, team: medusa

#11369 refactor(ui): rename folder for calendar components
  packages/design-system/ui/src/components/calendar/_internal-calendar.tsx
  packages/design-system/ui/src/components/calendar/calendar-button.tsx
  packages/design-system/ui/src/components/calendar/calendar-cell.tsx
  packages/design-system/ui/src/components/calendar/calendar-grid.tsx
  packages/design-system/ui/src/components/calendar/calendar.stories.tsx
  packages/design-system/ui/src/components/calendar/calendar.tsx
  packages/design-system/ui/src/components/calendar/index.ts
  packages/design-system/ui/src/components/date-picker/date-picker.tsx
  packages/design-system/ui/src/index.ts
Labels: automerge

#11365 fix(dashboard): secret key display
  packages/admin/dashboard/src/routes/api-key-management/api-key-management-detail/components/api-key-general-section/api-key-general-section.tsx
Labels: type: bug, automerge, team: medusa

#11402 docs: general updates after 2.5.0 update
  www/apps/book/app/learn/customization/customize-admin/route/page.mdx
  www/apps/book/app/learn/debugging-and-testing/testing-tools/integration-tests/api-routes/page.mdx
  www/apps/book/app/learn/debugging-and-testing/testing-tools/integration-tests/workflows/page.mdx
  www/apps/book/app/learn/fundamentals/data-models/manage-relationships/page.mdx
  www/apps/book/app/learn/fundamentals/module-links/query-context/page.mdx
  www/apps/book/app/learn/fundamentals/workflows/store-executions/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/public/llms-full.txt
  www/apps/resources/app/examples/guides/custom-item-price/page.mdx
  www/apps/resources/app/plugins/guides/wishlist/page.mdx
  www/apps/resources/app/recipes/commerce-automation/restock-notification/page.mdx
  www/apps/resources/app/recipes/marketplace/examples/restaurant-delivery/page.mdx
  www/apps/resources/app/recipes/marketplace/examples/vendors/page.mdx
  www/apps/resources/app/recipes/subscriptions/examples/standard/page.mdx
  www/apps/resources/app/storefront-development/checkout/address/page.mdx
  www/apps/resources/app/troubleshooting/medusa-admin/no-widget-route/page.mdx
  www/apps/resources/generated/edit-dates.mjs
Labels: type: docs, team: medusa

#11414 fix(admin-vite-plugin,admin-bundler,ui,icons,dashboard,framework,types): Update Vite dependencies
  .changeset/two-pumpkins-look.md
  packages/admin/admin-bundler/package.json
  packages/admin/admin-vite-plugin/package.json
  packages/admin/dashboard/package.json
  packages/core/framework/package.json
  packages/core/types/package.json
  packages/design-system/icons/package.json
  packages/design-system/ui/package.json
  yarn.lock
Labels: type: bug, automerge, team: medusa

#11413 chore(admin-sdk): Pin Zod version
  .changeset/few-ravens-mix.md
  packages/admin/admin-sdk/package.json
  yarn.lock
Labels: type: chore, automerge, team: medusa

#10810 docs: added express checkout guide
  www/apps/resources/.content.eslintrc.mjs
  www/apps/resources/app/storefront-development/guides/express-checkout/page.mdx
  www/apps/resources/generated/edit-dates.mjs
  www/apps/resources/generated/files-map.mjs
  www/apps/resources/generated/sidebar.mjs
  www/apps/resources/sidebars/storefront.mjs
  www/packages/tags/src/tags/cart.ts
  www/packages/tags/src/tags/checkout.ts
  www/packages/tags/src/tags/example.ts
  www/packages/tags/src/tags/fulfillment.ts
  www/packages/tags/src/tags/index.ts
  www/packages/tags/src/tags/js-sdk.ts
  www/packages/tags/src/tags/link.ts
  www/packages/tags/src/tags/order.ts
  www/packages/tags/src/tags/payment.ts
  www/packages/tags/src/tags/product.ts
  www/packages/tags/src/tags/query.ts
  www/packages/tags/src/tags/region.ts
  www/packages/tags/src/tags/step.ts
  www/packages/tags/src/tags/storefront.ts
Labels: type: docs, team: medusa

#11421 docs: small fixes to workflow constraints chapter
  www/apps/book/app/learn/fundamentals/workflows/constructor-constraints/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/generated/sidebar.mjs
  www/apps/book/public/llms-full.txt
  www/apps/book/sidebar.mjs
  www/packages/docs-ui/src/constants.tsx
Labels: type: docs, team: medusa

#11422 docs: fix managing relationship for hasOne
  www/apps/book/app/learn/fundamentals/data-models/manage-relationships/page.mdx
Labels: type: docs, team: medusa

#11276 docs: Fix typos in productsCreated hook
  packages/core/core-flows/src/product/workflows/create-products.ts
  www/apps/book/app/learn/customization/extend-features/extend-create-product/page.mdx
  www/apps/book/app/learn/fundamentals/workflows/workflow-hooks/page.mdx
Labels: automerge

#11428 docs-util: fix inline code escape in generated references
  www/utils/packages/utils/src/str-utils.ts
Labels: type: docs, team: medusa

#11433 docs: add section on middleware registration
  www/apps/book/app/learn/fundamentals/api-routes/middlewares/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/public/llms-full.txt
Labels: type: docs, team: medusa

#11432 docs: add section on pagination for query context
  www/apps/book/app/learn/fundamentals/module-links/query-context/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/public/llms-full.txt
Labels: type: docs, team: medusa

#11436 docs: Include `shipping_profile_id` in product creation request
  www/apps/book/app/learn/customization/extend-features/extend-create-product/page.mdx
Labels: type: docs, automerge

#11403 fix(core-flows, types): reservation of shared inventory item
  integration-tests/http/__tests__/cart/store/cart.spec.ts
  packages/core/core-flows/src/cart/steps/reserve-inventory.ts
  packages/core/core-flows/src/cart/steps/update-carts.ts
  packages/core/core-flows/src/cart/utils/prepare-confirm-inventory-input.ts
  packages/core/core-flows/src/inventory/steps/adjust-inventory-levels.ts
  packages/core/core-flows/src/reservation/steps/create-reservations.ts
  packages/core/types/src/cart/mutations.ts
Labels: type: bug, automerge, team: medusa

#11410 fix(payment): update payment session data
  packages/modules/payment/src/services/payment-module.ts
Labels: type: bug, automerge, team: medusa

#11398 fix(medusa): Fix draft order validator, and endpoint
  .changeset/little-geese-wave.md
  packages/medusa/src/api/admin/draft-orders/route.ts
  packages/medusa/src/api/admin/draft-orders/validators.ts
Labels: type: bug, automerge, team: medusa

#11443 docs: add missing shipping_profile_id in create product snippets
  www/apps/book/app/learn/customization/extend-features/extend-create-product/page.mdx
  www/apps/book/app/learn/fundamentals/api-routes/additional-data/page.mdx
  www/apps/book/app/learn/fundamentals/custom-cli-scripts/seed-data/page.mdx
  www/apps/resources/app/commerce-modules/inventory/inventory-kit/page.mdx
  www/apps/resources/app/commerce-modules/product/extend/page.mdx
Labels: type: docs, team: medusa

#11439 chore(core-flows): update TSDocs of createProductsWorkflow
  packages/core/core-flows/src/product/workflows/create-products.ts
  packages/core/js-sdk/src/admin/product.ts
Labels: type: chore, team: medusa

#11448 docs: fix link to troubleshooting
  www/packages/docs-ui/src/components/MainNav/index.tsx
Labels: type: docs, team: medusa

#11441 fix: listVariantsList types
  .changeset/nervous-dryers-swim.md
  packages/core/types/src/product/common.ts
Labels: type: bug, team: medusa

#11455 docs: add how to upload files in tests
  www/apps/book/app/learn/debugging-and-testing/testing-tools/integration-tests/api-routes/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/public/llms-full.txt
Labels: type: docs, team: medusa

#11305 feat(dashboard,admin-vite-plugin): Add support for outlet routes, loader, and handle
  .changeset/rude-balloons-report.md
  packages/admin/admin-vite-plugin/src/routes/__tests__/generate-routes.spec.ts
  packages/admin/admin-vite-plugin/src/routes/generate-routes.ts
  packages/admin/dashboard/src/extensions/routes/utils.ts
  packages/admin/dashboard/src/extensions/types.ts
  packages/admin/dashboard/src/providers/router-provider/route-extensions.tsx
Labels: automerge, type: feature, team: medusa

#11399 fix: relationships to accept ids
  .changeset/great-badgers-play.md
  packages/core/types/src/dml/index.ts
  packages/core/utils/src/modules-sdk/__tests__/medusa-service-typings.spec.ts
  packages/core/utils/src/modules-sdk/types/medusa-service.ts
Labels: type: bug, automerge, team: medusa

#11423 chore: add an action that generates documentation files in PRs
  .github/workflows/generate-doc-files.yml
Labels: type: chore, team: medusa

#11460 feat: allow all NodeSDK options via registerOtel
  .changeset/kind-lobsters-swim.md
  packages/medusa/src/instrumentation/index.ts
Labels: type: feature, team: medusa

#11473 chore: fix the generate action by passing the token
  .github/workflows/generate-doc-files.yml
Labels: type: chore, team: medusa

#11475 chore: remove action to generate prep files for docs
  .github/workflows/generate-doc-files.yml
Labels: type: chore, team: medusa

#11464 fix(medusa): Re throw error in instrumentation after reporting it
  .changeset/wicked-roses-appear.md
  packages/medusa/src/instrumentation/index.ts
Labels: type: bug, automerge, team: medusa

#11463 docs: document configuring request body parsing
  www/apps/book/app/learn/debugging-and-testing/testing-tools/integration-tests/api-routes/page.mdx
  www/apps/book/app/learn/fundamentals/api-routes/parameters/page.mdx
  www/apps/book/app/learn/fundamentals/api-routes/parse-body/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/generated/sidebar.mjs
  www/apps/book/public/llms-full.txt
  www/apps/book/sidebar.mjs
Labels: type: docs, team: medusa

#11472 fix(medusa): Allow filtering by handle and title as arrays
  .changeset/loud-pets-own.md
  integration-tests/http/__tests__/product/store/product.spec.ts
  packages/medusa/src/api/utils/common-validators/products/index.ts
Labels: type: bug, automerge, team: medusa

#11465 fix(core-flows): Fix line item ids passed to deleteReservationsByLineItemsStep
  .changeset/wet-lobsters-relate.md
  packages/core/core-flows/src/order/workflows/order-edit/confirm-order-edit-request.ts
Labels: type: bug, team: medusa

#11453 fix(types): fix shipping profile type optional in create type / method
  packages/core/types/src/fulfillment/mutations/shipping-profile.ts
  packages/core/types/src/fulfillment/service.ts
Labels: type: bug, team: medusa

#11306 feat(dashboard): Pickup option changes
  packages/admin/dashboard/src/i18n/translations/$schema.json
  packages/admin/dashboard/src/i18n/translations/en.json
  packages/admin/dashboard/src/routes/locations/location-detail/components/location-general-section/location-general-section.tsx
  packages/admin/dashboard/src/routes/locations/location-service-zone-shipping-option-create/components/create-shipping-options-form/create-shipping-option-details-form.tsx
  packages/admin/dashboard/src/routes/locations/location-service-zone-shipping-option-create/components/create-shipping-options-form/create-shipping-options-form.tsx
  packages/admin/dashboard/src/routes/locations/location-service-zone-shipping-option-create/components/create-shipping-options-form/create-shipping-options-prices-form.tsx
  packages/admin/dashboard/src/routes/locations/location-service-zone-shipping-option-create/location-service-zone-shipping-option-create.tsx
  packages/admin/dashboard/src/routes/locations/location-service-zone-shipping-option-edit/components/edit-region-form/edit-shipping-option-form.tsx
  packages/admin/dashboard/src/routes/locations/location-service-zone-shipping-option-edit/location-service-zone-shipping-option-edit.tsx
  packages/admin/dashboard/src/routes/orders/order-detail/components/order-fulfillment-section/order-fulfillment-section.tsx
  packages/admin/dashboard/src/routes/orders/order-detail/constants.ts
  packages/core/core-flows/src/cart/workflows/list-shipping-options-for-cart-with-pricing.ts
  packages/core/core-flows/src/cart/workflows/list-shipping-options-for-cart.ts
Labels: automerge, type: feature, team: medusa

#11474 docs: update user guide introduction page
  www/apps/book/public/llms-full.txt
  www/apps/user-guide/app/globals.css
  www/apps/user-guide/app/layout.tsx
  www/apps/user-guide/app/page.mdx
  www/apps/user-guide/css/globals.css
  www/apps/user-guide/eslint.config.mjs
  www/apps/user-guide/generated/edit-dates.mjs
  www/apps/user-guide/generated/sidebar.mjs
  www/apps/user-guide/providers/index.tsx
  www/apps/user-guide/providers/main-nav.tsx
  www/apps/user-guide/scripts/prepare.mjs
  www/packages/docs-ui/src/components/AiAssistant/ChatWindow/Footer/index.tsx
  www/packages/docs-ui/src/components/InlineIcon/index.tsx
  www/packages/docs-ui/src/components/Kbd/index.tsx
Labels: type: docs, team: medusa

#11477 docs: update tips in user guide
  www/apps/user-guide/app/tips/bulk-editor/page.mdx
  www/apps/user-guide/app/tips/languages/page.mdx
  www/apps/user-guide/app/tips/lists/page.mdx
  www/apps/user-guide/generated/edit-dates.mjs
Labels: type: docs, team: medusa

#11366 fix(dashboard): Fix size of buttons and use Link to navigate
  .changeset/thick-deers-guess.md
  packages/admin/dashboard/src/routes/orders/order-detail/components/order-summary-section/order-summary-section.tsx
Labels: type: bug, automerge, team: medusa

#11478 docs: add array filter with comma in requests
  www/apps/api-reference/markdown/admin.mdx
  www/apps/api-reference/markdown/store.mdx
  www/apps/book/public/llms-full.txt
Labels: type: docs, team: medusa

#11485 refactor: remove host from the server ready log
  .changeset/flat-rockets-notice.md
  packages/medusa/src/commands/start.ts
Labels: team: medusa

#11469 feat(): Backport metadata management
  .changeset/kind-chairs-cough.md
  integration-tests/http/__tests__/customer/admin/customer.spec.ts
  packages/core/utils/src/common/__tests__/merge-metadata.spec.ts
  packages/core/utils/src/common/index.ts
  packages/core/utils/src/common/merge-metadata.ts
  packages/core/utils/src/modules-sdk/__tests__/medusa-internal-service.ts
  packages/core/utils/src/modules-sdk/medusa-internal-service.ts
Labels: automerge, type: feature, team: medusa

#11462 feat(ui,dashboard): Move InlineTip to UI package
  .changeset/seven-nails-sleep.md
  packages/admin/dashboard/src/components/common/inline-tip/inline-tip.tsx
  packages/admin/dashboard/src/components/forms/metadata-form/metadata-form.tsx
  packages/admin/dashboard/src/extensions/forms/form-extension-zone/form-extension-zone.tsx
  packages/admin/dashboard/src/routes/locations/location-service-zone-create/components/create-service-zone-form/create-service-zone-form.tsx
  packages/admin/dashboard/src/routes/locations/location-service-zone-edit/components/edit-region-form/edit-service-zone-form.tsx
  packages/admin/dashboard/src/routes/products/product-create/components/product-create-details-form/components/product-create-details-variant-section/product-create-details-variant-section.tsx
  packages/design-system/ui/src/components/inline-tip/index.ts
  packages/design-system/ui/src/components/inline-tip/inline-tip.spec.tsx
  packages/design-system/ui/src/components/inline-tip/inline-tip.stories.tsx
  packages/design-system/ui/src/components/inline-tip/inline-tip.tsx
  packages/design-system/ui/src/index.ts
Labels: automerge, type: feature, team: medusa

#11468 fix: generate posix paths for migrations
  .changeset/unlucky-buses-cheat.md
  packages/core/utils/src/common/index.ts
  packages/core/utils/src/common/to-unix-slash.ts
  packages/medusa/src/commands/plugin/db/generate.ts
Labels: type: bug, automerge, team: medusa

#11498 docs: update orders user guide
  www/apps/user-guide/app/orders/claims/page.mdx
  www/apps/user-guide/app/orders/drafts/page.mdx
  www/apps/user-guide/app/orders/edit/page.mdx
  www/apps/user-guide/app/orders/exchange/page.mdx
  www/apps/user-guide/app/orders/exchanges/page.mdx
  www/apps/user-guide/app/orders/export/page.mdx
  www/apps/user-guide/app/orders/fulfillments/page.mdx
  www/apps/user-guide/app/orders/manage/page.mdx
  www/apps/user-guide/app/orders/page.mdx
  www/apps/user-guide/app/orders/payments/page.mdx
  www/apps/user-guide/app/orders/returns/page.mdx
  www/apps/user-guide/generated/edit-dates.mjs
  www/apps/user-guide/generated/sidebar.mjs
  www/apps/user-guide/sidebar.mjs
Labels: type: docs, team: medusa

#11494 feat: Add support for idempotency key in payments
  packages/core/types/src/payment/provider.ts
  packages/modules/payment/src/services/payment-module.ts
  packages/modules/providers/payment-stripe/src/core/stripe-base.ts
Labels: type: feature, team: medusa

#11489 feat(framework): Improve production structured logging with more valuable information as well
  .changeset/new-ligers-heal.md
  packages/core/framework/src/http/express-loader.ts
Labels: type: feature, has: breaking changes, team: medusa

#11434 feat(core-flows, dashboard, medusa, types): optional shipping profile
  integration-tests/http/__tests__/cart/store/cart.spec.ts
  integration-tests/http/__tests__/fixtures/order.ts
  integration-tests/http/__tests__/order/admin/order.spec.ts
  integration-tests/modules/__tests__/cart/store/cart.workflows.spec.ts
  integration-tests/modules/__tests__/cart/store/carts.spec.ts
  packages/admin/dashboard/src/components/inputs/combobox/combobox.tsx
  packages/admin/dashboard/src/routes/products/product-create/components/product-create-form/product-create-form.tsx
  packages/admin/dashboard/src/routes/products/product-create/components/product-create-organize-form/components/product-create-organize-section/product-create-details-organize-section.tsx
  packages/admin/dashboard/src/routes/products/product-create/constants.ts
  packages/admin/dashboard/src/routes/products/product-create/utils.ts
  packages/admin/dashboard/src/routes/products/product-shipping-profile/components/product-organization-form/product-shipping-profile-form.tsx
  packages/core/core-flows/src/cart/utils/fields.ts
  packages/core/core-flows/src/cart/utils/prepare-line-item-data.ts
  packages/core/core-flows/src/cart/workflows/add-to-cart.ts
  packages/core/core-flows/src/product/workflows/create-products.ts
  packages/core/core-flows/src/product/workflows/update-products.ts
  packages/core/types/src/http/product/admin/payloads.ts
  packages/core/types/src/workflows/products/mutations.ts
  packages/medusa/src/api/admin/products/validators.ts
Labels: type: feature, team: medusa

#11499 feat: Add support to update account holder
  packages/core/types/src/payment/mutations.ts
  packages/core/types/src/payment/provider.ts
  packages/core/types/src/payment/service.ts
  packages/modules/payment/src/services/payment-module.ts
  packages/modules/payment/src/services/payment-provider.ts
  packages/modules/providers/payment-stripe/src/core/stripe-base.ts
Labels: type: feature, team: medusa

#11488 fix(dashboard): Allow using the Enter key in product create Textarea
  .changeset/ninety-planets-bake.md
  packages/admin/dashboard/src/routes/products/product-create/components/product-create-form/product-create-form.tsx
Labels: type: bug, automerge, team: medusa

#11466 fix(dashboard): Properly delete metadata keys, and fix number parsing
  .changeset/fluffy-vans-matter.md
  packages/admin/dashboard/src/components/forms/metadata-form/metadata-form.tsx
Labels: type: bug, automerge, team: medusa

#11431 feat(medusa): Rollout index engine behind feature flag
  .changeset/silver-baboons-drop.md
  integration-tests/modules/__tests__/index/query.index.ts
  packages/core/modules-sdk/src/remote-query/query.ts
  packages/core/modules-sdk/src/remote-query/remote-query.ts
  packages/core/utils/src/common/__tests__/unflatten-object-keys.spec.ts
  packages/core/utils/src/common/index.ts
  packages/core/utils/src/common/unflatten-object-keys.ts
  packages/medusa/src/api/admin/products/middlewares.ts
  packages/medusa/src/api/admin/products/route.ts
  packages/medusa/src/api/store/products/middlewares.ts
  packages/medusa/src/api/store/products/route.ts
  packages/medusa/src/api/utils/common-validators/products/index.ts
  packages/medusa/src/loaders/feature-flags/index-engine.ts
  packages/modules/index/integration-tests/__fixtures__/schema.ts
  packages/modules/index/integration-tests/__tests__/config-sync.spec.ts
  packages/modules/index/integration-tests/__tests__/data-synchronizer.spec.ts
  packages/modules/index/integration-tests/__tests__/index-engine-module.spec.ts
  packages/modules/index/integration-tests/__tests__/query-builder.spec.ts
  packages/modules/index/src/migrations/Migration20250218132404.ts
  packages/modules/index/src/models/index-data.ts
  packages/modules/index/src/services/index-module-service.ts
  packages/modules/index/src/services/postgres-provider.ts
  packages/modules/index/src/types/index.ts
  packages/modules/index/src/utils/build-config.ts
  packages/modules/index/src/utils/default-schema.ts
  packages/modules/index/src/utils/gql-to-types.ts
  packages/modules/index/src/utils/query-builder.ts
Labels: automerge, type: feature, team: medusa

#11506 docs: update products user guide
  www/apps/user-guide/app/inventory/page.mdx
  www/apps/user-guide/app/products/categories/page.mdx
  www/apps/user-guide/app/products/collections/page.mdx
  www/apps/user-guide/app/products/create/bundle/page.mdx
  www/apps/user-guide/app/products/create/multi-part/page.mdx
  www/apps/user-guide/app/products/create/page.mdx
  www/apps/user-guide/app/products/edit/page.mdx
  www/apps/user-guide/app/products/export/page.mdx
  www/apps/user-guide/app/products/gift-cards/customer-gift-card/page.mdx
  www/apps/user-guide/app/products/gift-cards/page.mdx
  www/apps/user-guide/app/products/gift-cards/product-gift-card/page.mdx
  www/apps/user-guide/app/products/import/page.mdx
  www/apps/user-guide/app/products/manage/page.mdx
  www/apps/user-guide/app/products/page.mdx
  www/apps/user-guide/app/products/variants/page.mdx
  www/apps/user-guide/generated/edit-dates.mjs
  www/apps/user-guide/generated/sidebar.mjs
  www/apps/user-guide/sidebar.mjs
Labels: type: docs, team: medusa

#11509 docs: update inventory user guide
  www/apps/user-guide/app/inventory/inventory/page.mdx
  www/apps/user-guide/app/inventory/page.mdx
  www/apps/user-guide/app/inventory/reservations/page.mdx
  www/apps/user-guide/app/products/categories/page.mdx
  www/apps/user-guide/app/products/collections/page.mdx
  www/apps/user-guide/generated/edit-dates.mjs
  www/apps/user-guide/generated/sidebar.mjs
  www/apps/user-guide/sidebar.mjs
Labels: type: docs, team: medusa

#11512 docs: update customers user guide
  www/apps/user-guide/app/customers/groups/page.mdx
  www/apps/user-guide/app/customers/manage/page.mdx
  www/apps/user-guide/app/customers/page.mdx
  www/apps/user-guide/app/orders/manage/page.mdx
  www/apps/user-guide/generated/edit-dates.mjs
  www/apps/user-guide/generated/sidebar.mjs
  www/apps/user-guide/sidebar.mjs
Labels: type: docs, team: medusa

#11510 docs: add sections on predefined environment and global variables
  www/apps/book/app/learn/fundamentals/admin/tips/page.mdx
  www/apps/book/app/learn/fundamentals/environment-variables/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/public/llms-full.txt
Labels: type: docs, team: medusa

#11511 fix(framework): add missing storefrontUrl from configuration type
  .changeset/dull-tigers-dress.md
  packages/core/framework/src/config/types.ts
Labels: type: bug, automerge, team: medusa

#11507 fix(core-flows): add no_notification to fulfillment created event
  packages/core/core-flows/src/order/workflows/cancel-order-fulfillment.ts
  packages/core/core-flows/src/order/workflows/create-fulfillment.ts
Labels: type: bug, automerge, team: medusa

#11519 fix: allow setting DB_PORT and DATABASE_URL env variables
  .changeset/sixty-frogs-matter.md
  packages/medusa/src/commands/plugin/db/generate.ts
Labels: type: bug, automerge, team: medusa

#11493 feat(core-flows, types): add has missing inventory flag when listing shipping options
  integration-tests/http/__tests__/shipping-option/store/shipping-option.spec.ts
  packages/admin/dashboard/src/routes/locations/location-service-zone-shipping-option-create/components/create-shipping-options-form/create-shipping-option-details-form.tsx
  packages/admin/dashboard/src/routes/locations/location-service-zone-shipping-option-edit/components/edit-region-form/edit-shipping-option-form.tsx
  packages/core/core-flows/src/cart/workflows/list-shipping-options-for-cart.ts
  packages/core/types/src/http/fulfillment/store/index.ts
Labels: automerge, type: feature, team: medusa

#11527 docs: add missing details in product import user guide
  www/apps/user-guide/app/products/import/page.mdx
Labels: type: docs, team: medusa

#11524 docs: update promotions user guide
  www/apps/user-guide/app/customers/page.mdx
  www/apps/user-guide/app/discounts/create/page.mdx
  www/apps/user-guide/app/discounts/manage/page.mdx
  www/apps/user-guide/app/discounts/page.mdx
  www/apps/user-guide/app/promotions/campaigns/page.mdx
  www/apps/user-guide/app/promotions/create/page.mdx
  www/apps/user-guide/app/promotions/manage/page.mdx
  www/apps/user-guide/app/promotions/page.mdx
  www/apps/user-guide/generated/edit-dates.mjs
  www/apps/user-guide/generated/sidebar.mjs
  www/apps/user-guide/sidebar.mjs
Labels: type: docs, team: medusa

#11528 docs: update price lists user guides
  www/apps/user-guide/app/customers/manage/page.mdx
  www/apps/user-guide/app/customers/page.mdx
  www/apps/user-guide/app/price-lists/create/page.mdx
  www/apps/user-guide/app/price-lists/manage/page.mdx
  www/apps/user-guide/app/price-lists/page.mdx
  www/apps/user-guide/app/pricing/_import/page.mdx
  www/apps/user-guide/app/pricing/create/page.mdx
  www/apps/user-guide/app/pricing/manage/page.mdx
  www/apps/user-guide/app/pricing/page.mdx
  www/apps/user-guide/app/products/categories/page.mdx
  www/apps/user-guide/app/products/create/page.mdx
  www/apps/user-guide/app/products/edit/page.mdx
  www/apps/user-guide/app/promotions/create/page.mdx
  www/apps/user-guide/generated/edit-dates.mjs
  www/apps/user-guide/generated/sidebar.mjs
  www/apps/user-guide/sidebar.mjs
Labels: type: docs, team: medusa

#11522 Chore(index): Sync logs management
  .changeset/nice-seas-hunt.md
  packages/modules/index/integration-tests/__fixtures__/medusa-config.js
  packages/modules/index/integration-tests/__tests__/config-sync.spec.ts
  packages/modules/index/src/services/data-synchronizer.ts
  packages/modules/index/src/services/index-module-service.ts
  packages/modules/index/src/utils/sync/configuration.ts
Labels: type: chore, automerge, team: medusa

#11531 docs: update users user guide
  www/apps/user-guide/app/settings/page.mdx
  www/apps/user-guide/app/settings/users/invites/page.mdx
  www/apps/user-guide/app/settings/users/page.mdx
  www/apps/user-guide/generated/edit-dates.mjs
  www/apps/user-guide/generated/sidebar.mjs
  www/apps/user-guide/sidebar.mjs
Labels: type: docs, team: medusa

#11532 fix(dashboard): Prevent overfetching data
  .changeset/sixty-kangaroos-accept.md
  packages/admin/dashboard/src/hooks/table/query/use-product-table-query.tsx
  packages/admin/dashboard/src/routes/products/product-detail/components/product-variant-section/product-variant-section.tsx
  packages/admin/dashboard/src/routes/products/product-prices/product-prices.tsx
Labels: type: bug, automerge, team: medusa

#11534 chore(cli): Prevent swallowing error in non production env
  packages/cli/medusa-cli/cli.js
Labels: type: chore, team: medusa

#11525 fix(utils): Handle 0 correctly in build query
  packages/core/utils/src/modules-sdk/__tests__/build-query.spec.ts
  packages/core/utils/src/modules-sdk/build-query.ts
Labels: type: bug, automerge, team: medusa

#11536 docs: many improvements to settings user guides
  www/apps/user-guide/app/inventory/inventory/page.mdx
  www/apps/user-guide/app/inventory/page.mdx
  www/apps/user-guide/app/products/create/page.mdx
  www/apps/user-guide/app/products/variants/page.mdx
  www/apps/user-guide/app/settings/locations-and-shipping/locations/page.mdx
  www/apps/user-guide/app/settings/locations-and-shipping/page.mdx
  www/apps/user-guide/app/settings/locations-and-shipping/shipping-profiles/page.mdx
  www/apps/user-guide/app/settings/locations/page.mdx
  www/apps/user-guide/app/settings/page.mdx
  www/apps/user-guide/app/settings/product-tags/page.mdx
  www/apps/user-guide/app/settings/product-types/page.mdx
  www/apps/user-guide/app/settings/regions/countries/page.mdx
  www/apps/user-guide/app/settings/regions/manage/page.mdx
  www/apps/user-guide/app/settings/regions/page.mdx
  www/apps/user-guide/app/settings/regions/providers/page.mdx
  www/apps/user-guide/app/settings/regions/shipping-options/page.mdx
  www/apps/user-guide/app/settings/return-reasons/page.mdx
  www/apps/user-guide/app/settings/sales-channels/manage/page.mdx
  www/apps/user-guide/app/settings/sales-channels/page.mdx
  www/apps/user-guide/app/settings/sales-channels/products/page.mdx
  www/apps/user-guide/app/settings/tax-regions/page.mdx
  www/apps/user-guide/app/settings/taxes/manage/page.mdx
  www/apps/user-guide/app/settings/taxes/page.mdx
  www/apps/user-guide/app/settings/taxes/tax-rates/page.mdx
  www/apps/user-guide/generated/edit-dates.mjs
  www/apps/user-guide/generated/sidebar.mjs
  www/apps/user-guide/sidebar.mjs
Labels: type: docs, team: medusa

#11543 docs: fix typos + clarify example in UI docs
  www/apps/book/public/llms-full.txt
  www/apps/resources/app/recipes/marketplace/examples/restaurant-delivery/page.mdx
  www/apps/resources/app/recipes/marketplace/examples/vendors/page.mdx
  www/apps/resources/generated/edit-dates.mjs
  www/apps/ui/src/examples/command-bar-demo.tsx
Labels: type: docs, team: medusa

#11514 fix(medusa,js-sdk,types): Add basic draft order operations to js-sdk
  .changeset/shaggy-donkeys-pay.md
  integration-tests/http/__tests__/draft-order/admin/draft-order.spec.ts
  packages/core/js-sdk/src/admin/draft-order.ts
  packages/core/js-sdk/src/admin/index.ts
  packages/core/types/src/http/draft-order/admin/entities.ts
  packages/core/types/src/http/draft-order/admin/index.ts
  packages/core/types/src/http/draft-order/admin/payloads.ts
  packages/core/types/src/http/draft-order/admin/queries.ts
  packages/core/types/src/http/draft-order/admin/responses.ts
  packages/core/types/src/http/draft-order/index.ts
  packages/core/types/src/http/index.ts
  packages/core/types/src/http/order/admin/responses.ts
  packages/medusa/src/api/admin/draft-orders/[id]/route.ts
  packages/medusa/src/api/admin/draft-orders/middlewares.ts
  packages/medusa/src/api/admin/draft-orders/query-config.ts
  packages/medusa/src/api/admin/draft-orders/route.ts
  packages/medusa/src/api/admin/draft-orders/validators.ts
Labels: type: bug, automerge, team: medusa

#11551 docs: fixes to wishlist plugin guide
  www/apps/resources/app/plugins/guides/wishlist/page.mdx
  www/apps/resources/generated/edit-dates.mjs
Labels: type: docs, team: medusa

#11544 fix(): handle empty q filters - allow to query deleted records from graph API - staled_at fixes
  .changeset/strong-houses-marry.md
  integration-tests/modules/__tests__/index/query-index.spec.ts
  packages/core/modules-sdk/src/remote-query/__tests__/to-remote-query.ts
  packages/core/modules-sdk/src/remote-query/to-remote-query.ts
  packages/core/types/src/modules-sdk/remote-query-object-from-string.ts
  packages/medusa/src/api/store/products/helpers.ts
  packages/medusa/src/api/store/products/route.ts
  packages/modules/index/src/services/data-synchronizer.ts
  packages/modules/index/src/services/postgres-provider.ts
  packages/modules/index/src/utils/query-builder.ts
Labels: type: bug, team: medusa

#11504 fix(core-flows): Allow adding shipping methods through order edits
  .changeset/shaggy-ravens-wonder.md
  integration-tests/http/__tests__/order-edits/order-edits.spec.ts
  packages/core/core-flows/src/order/workflows/order-edit/create-order-edit-shipping-method.ts
Labels: type: bug, team: medusa

#11572 fix(js-sdk): Export Draft Order methods
  .changeset/tall-houses-attend.md
  packages/core/js-sdk/src/admin/index.ts
Labels: type: bug, team: medusa

#11575 chore(ui): explicitely specify the props type of InlineTip
  .changeset/old-lizards-reply.md
  packages/design-system/ui/src/components/inline-tip/inline-tip.tsx
Labels: type: chore, automerge, team: medusa

#11576 chore: update TSDocs of account holder additions
  packages/core/types/src/payment/provider.ts
  packages/core/types/src/payment/service.ts
Labels: type: chore, team: medusa

#11571 docs: fix start command in deployment guides
  www/apps/book/app/learn/deployment/general/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/public/llms-full.txt
  www/apps/resources/app/deployment/medusa-application/railway/page.mdx
  www/apps/resources/generated/edit-dates.mjs
Labels: type: docs, team: medusa

#11574 docs: updates for 2.5.1 release
  www/apps/book/app/learn/debugging-and-testing/instrumentation/page.mdx
  www/apps/book/app/learn/fundamentals/admin/routing/page.mdx
  www/apps/book/app/learn/fundamentals/admin/tips/page.mdx
  www/apps/book/app/learn/fundamentals/admin/ui-routes/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/generated/sidebar.mjs
  www/apps/book/public/llms-full.txt
  www/apps/book/sidebar.mjs
  www/apps/resources/app/js-sdk/page.mdx
  www/apps/resources/app/plugins/guides/wishlist/page.mdx
  www/apps/resources/app/recipes/digital-products/examples/standard/page.mdx
Labels: type: docs, team: medusa

#11586 docs: fix to recipe after latest update
  www/apps/resources/app/recipes/marketplace/examples/restaurant-delivery/page.mdx
  www/apps/resources/generated/edit-dates.mjs
Labels: type: docs, team: medusa

#11589 Update configuration.mdx
  www/apps/docs/content/admin/configuration.mdx
Labels: automerge

#11446 docs: document different ways of selling products
  www/apps/book/public/llms-full.txt
  www/apps/resources/app/commerce-modules/inventory/concepts/page.mdx
  www/apps/resources/app/commerce-modules/product/selling-products/page.mdx
  www/apps/resources/app/commerce-modules/product/variant-inventory/page.mdx
  www/apps/resources/generated/edit-dates.mjs
  www/apps/resources/generated/files-map.mjs
  www/apps/resources/generated/sidebar.mjs
  www/apps/resources/sidebars/fulfillment.mjs
  www/apps/resources/sidebars/product.mjs
  www/packages/tags/src/tags/concept.ts
  www/packages/tags/src/tags/fulfillment.ts
  www/packages/tags/src/tags/index.ts
Labels: type: docs, team: medusa

#11597 chore(types): change payment provider types to interfaces
  .changeset/brown-buttons-buy.md
  packages/core/types/src/http/inventory-level/admin/payloads.ts
  packages/core/types/src/payment/provider.ts
Labels: type: chore, team: medusa

#11426 docs: document swc dependency for plugins
  www/apps/book/app/learn/fundamentals/plugins/create/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/public/llms-full.txt
Labels: type: docs, team: medusa

#11599 docs: fix incorrect link in tax-inclusive-pricing
  www/apps/resources/app/commerce-modules/pricing/tax-inclusive-pricing/page.mdx
Labels: type: docs, team: medusa

#11580 chore(ui): updates to InlineTip's TSDocs
  packages/design-system/ui/src/components/inline-tip/inline-tip.tsx
Labels: type: chore, team: medusa

#11603 docs: finish user guide updates
  www/apps/user-guide/app/customers/groups/page.mdx
  www/apps/user-guide/app/customers/manage/page.mdx
  www/apps/user-guide/app/customers/page.mdx
  www/apps/user-guide/app/inventory/inventory/page.mdx
  www/apps/user-guide/app/inventory/page.mdx
  www/apps/user-guide/app/inventory/reservations/page.mdx
  www/apps/user-guide/app/not-found.mdx
  www/apps/user-guide/app/orders/claims/page.mdx
  www/apps/user-guide/app/orders/edit/page.mdx
  www/apps/user-guide/app/orders/exchanges/page.mdx
  www/apps/user-guide/app/orders/fulfillments/page.mdx
  www/apps/user-guide/app/orders/manage/page.mdx
  www/apps/user-guide/app/orders/page.mdx
  www/apps/user-guide/app/orders/payments/page.mdx
  www/apps/user-guide/app/orders/returns/page.mdx
  www/apps/user-guide/app/page.mdx
  www/apps/user-guide/app/price-lists/create/page.mdx
  www/apps/user-guide/app/price-lists/manage/page.mdx
  www/apps/user-guide/app/price-lists/page.mdx
  www/apps/user-guide/app/products/categories/page.mdx
  www/apps/user-guide/app/products/collections/page.mdx
  www/apps/user-guide/app/products/create/bundle/page.mdx
  www/apps/user-guide/app/products/create/multi-part/page.mdx
  www/apps/user-guide/app/products/create/page.mdx
  www/apps/user-guide/app/products/edit/page.mdx
  www/apps/user-guide/app/products/export/page.mdx
  www/apps/user-guide/app/products/import/page.mdx
  www/apps/user-guide/app/products/page.mdx
  www/apps/user-guide/app/products/variants/page.mdx
  www/apps/user-guide/app/promotions/campaigns/page.mdx
  www/apps/user-guide/app/promotions/create/page.mdx
  www/apps/user-guide/app/promotions/manage/page.mdx
  www/apps/user-guide/app/promotions/page.mdx
  www/apps/user-guide/app/settings/developer/api-key-management/page.mdx
  www/apps/user-guide/app/settings/developer/api-key-management/sales-channels/page.mdx
  www/apps/user-guide/app/settings/developer/executions/page.mdx
  www/apps/user-guide/app/settings/developer/page.mdx
  www/apps/user-guide/app/settings/developer/publishable-api-keys/page.mdx
  www/apps/user-guide/app/settings/developer/secret-api-keys/page.mdx
  www/apps/user-guide/app/settings/developer/workflows/page.mdx
  www/apps/user-guide/app/settings/locations-and-shipping/locations/page.mdx
  www/apps/user-guide/app/settings/locations-and-shipping/page.mdx
  www/apps/user-guide/app/settings/locations-and-shipping/shipping-profiles/page.mdx
  www/apps/user-guide/app/settings/page.mdx
  www/apps/user-guide/app/settings/product-tags/page.mdx
  www/apps/user-guide/app/settings/product-types/page.mdx
  www/apps/user-guide/app/settings/profile/page.mdx
  www/apps/user-guide/app/settings/regions/page.mdx
  www/apps/user-guide/app/settings/return-reasons/page.mdx
  www/apps/user-guide/app/settings/sales-channels/page.mdx
  www/apps/user-guide/app/settings/store/page.mdx
  www/apps/user-guide/app/settings/tax-regions/page.mdx
  www/apps/user-guide/app/settings/users/invites/page.mdx
  www/apps/user-guide/app/settings/users/page.mdx
  www/apps/user-guide/app/tips/bulk-editor/page.mdx
  www/apps/user-guide/app/tips/languages/page.mdx
  www/apps/user-guide/app/tips/lists/page.mdx
  www/apps/user-guide/generated/edit-dates.mjs
  www/apps/user-guide/generated/sidebar.mjs
  www/apps/user-guide/sidebar.mjs
Labels: type: docs, team: medusa

#11604 fix(types, medusa): remove fulfillment and payment status filters from validator + http types
  .changeset/big-spiders-cheat.md
  packages/core/types/src/http/order/admin/queries.ts
  packages/medusa/src/api/admin/orders/validators.ts
Labels: type: bug, team: medusa

#11581 fix(types): Allow providing either vite@5 or vite@6 for the peer dependency
  .changeset/neat-feet-change.md
  packages/core/types/package.json
  yarn.lock
Labels: type: bug, automerge, team: medusa
