Repository medusajs/medusa, pull requests merged in 2025-06, with the labels that each got.

#12654 fix(docs): correct module reference in useQueryGraphStep tip
  www/apps/resources/app/how-to-tutorials/tutorials/product-reviews/page.mdx
Labels: type: docs, automerge

#12663 docs: add an example of injecting dependencies in module providers
  www/apps/book/app/learn/fundamentals/events-and-subscribers/emit-event/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/public/llms-full.txt
Labels: type: docs, team: medusa

#12675 fix(workflow-sdk): Async/nested runAsStep propagation
  .changeset/twelve-bears-wait.md
  packages/core/workflows-sdk/src/utils/composer/__tests__/index.spec.ts
  packages/core/workflows-sdk/src/utils/composer/create-step.ts
  packages/core/workflows-sdk/src/utils/composer/create-workflow.ts
  packages/core/workflows-sdk/src/utils/composer/helpers/create-step-handler.ts
  packages/core/workflows-sdk/src/utils/composer/type.ts
  packages/modules/workflow-engine-inmemory/src/services/workflow-orchestrator.ts
  packages/modules/workflow-engine-redis/integration-tests/__fixtures__/workflow_async_compensate.ts
  packages/modules/workflow-engine-redis/integration-tests/__tests__/index.spec.ts
  packages/modules/workflow-engine-redis/src/services/workflow-orchestrator.ts
Labels: type: bug, automerge, team: medusa

#12643 feat: wire up direct uploads with local file provider
  .changeset/bright-parents-know.md
  integration-tests/http/__tests__/product/admin/product-imports.spec.ts
  integration-tests/http/__tests__/upload/admin/presigned-urls.spec.ts
  packages/admin/dashboard/src/hooks/api/products.tsx
  packages/core/core-flows/src/product/steps/normalize-products-to-chunks.ts
  packages/core/core-flows/src/product/steps/process-import-chunks.ts
  packages/core/js-sdk/src/admin/product.ts
  packages/modules/providers/file-local/src/services/local-file.ts
Labels: type: feature, team: medusa

#12693 docs: fixes to references for draft orders and files
  www/apps/resources/references/core_flows/Draft_Order/Workflows_Draft_Order/functions/core_flows.Draft_Order.Workflows_Draft_Order.deleteDraftOrdersWorkflow/page.mdx
  www/apps/resources/references/file/classes/file.AbstractFileProviderService/page.mdx
Labels: type: docs, team: medusa

#12701 docs: ensure files are always sorted when generating llms-full.txt
  www/apps/book/public/llms-full.txt
  www/packages/build-scripts/src/generate-llms-full.ts
Labels: type: docs, team: medusa

#12704 docs: add missing export for CreateBundledProduct component
  www/apps/resources/app/recipes/bundled-products/examples/standard/page.mdx
Labels: type: docs

#12644 fix(promotion, types): non discountable items check
  .changeset/proud-shirts-leave.md
  integration-tests/http/__tests__/cart/store/cart.spec.ts
  integration-tests/modules/__tests__/cart/store/add-promotions-to-cart.spec.ts
  packages/core/types/src/promotion/common/compute-actions.ts
  packages/modules/promotion/src/utils/compute-actions/line-items.ts
Labels: type: bug, team: medusa

#12712 fix: remote query types
  .changeset/eleven-falcons-return.md
  packages/core/modules-sdk/src/remote-query/query.ts
  packages/core/modules-sdk/src/remote-query/to-remote-query.ts
  packages/core/types/src/modules-sdk/remote-query-object-from-string.ts
  packages/core/types/src/modules-sdk/to-remote-query.ts
Labels: type: bug, team: medusa

#12493 fix(core-flows): cart complete order address creation
  .changeset/mighty-spoons-bow.md
  packages/core/core-flows/src/cart/workflows/complete-cart.ts
Labels: type: bug, team: medusa

#12696 docs: added slack integration guide
  www/apps/book/public/llms-full.txt
  www/apps/resources/app/infrastructure-modules/analytics/local/page.mdx
  www/apps/resources/app/infrastructure-modules/analytics/posthog/page.mdx
  www/apps/resources/app/integrations/guides/segment/page.mdx
  www/apps/resources/app/integrations/guides/slack/page.mdx
  www/apps/resources/generated/edit-dates.mjs
  www/apps/resources/generated/files-map.mjs
  www/apps/resources/generated/generated-infrastructure-modules-sidebar.mjs
  www/apps/resources/generated/generated-integrations-sidebar.mjs
  www/apps/resources/sidebars/integrations.mjs
  www/packages/tags/src/tags/notification.ts
  www/packages/tags/src/tags/product.ts
  www/packages/tags/src/tags/server.ts
  www/packages/tags/src/tags/tutorial.ts
Labels: type: docs, team: medusa

#12719 docs: fixed a typo in variable name from currnetProductPage to currentProductPage
  www/apps/resources/app/recipes/bundled-products/examples/standard/page.mdx
Labels: type: docs, automerge

#12721 docs: add link to the Slack tutorial in the integrations page
  www/apps/resources/app/integrations/page.mdx
Labels: type: docs, team: medusa

#12715 fix(utils): medusa internal service returned data should match typings
  .changeset/big-olives-do.md
  packages/core/utils/src/modules-sdk/medusa-internal-service.ts
  packages/core/utils/src/modules-sdk/medusa-service.ts
  packages/modules/auth/src/services/auth-module.ts
  packages/modules/customer/src/services/customer-module.ts
  packages/modules/fulfillment/src/services/fulfillment-module-service.ts
  packages/modules/inventory/src/services/inventory-module.ts
  packages/modules/payment/src/services/payment-module.ts
  packages/modules/product/integration-tests/__tests__/product.ts
Labels: type: bug, automerge, team: medusa

#12684 fix: keep enum values in types generation
  packages/core/modules-sdk/src/medusa-app.ts
  packages/core/utils/src/dml/__tests__/create-graphql.spec.ts
  packages/core/utils/src/dml/helpers/create-graphql.ts
  packages/core/utils/src/dml/helpers/graphql-builder/get-attribute.ts
  packages/core/utils/src/graphql/__tests__/.gitignore
  packages/core/utils/src/graphql/__tests__/gql-schema-to-types.spec.ts
  packages/core/utils/src/graphql/graphql-to-ts-types.ts
  packages/core/utils/src/modules-sdk/__tests__/joiner-config-builder.spec.ts
  packages/modules/index/src/utils/build-config.ts
Labels: team: medusa

#12729 fix(utils): Typecasting non-text fields in FTS
  integration-tests/http/__tests__/order/admin/order.spec.ts
  packages/core/utils/src/dal/mikro-orm/mikro-orm-free-text-search-filter.ts
  packages/core/utils/src/dml/properties/autoincrement.ts
  packages/modules/order/src/models/order.ts
Labels: type: bug, team: medusa

#12730 docs: add cloud projects documentation
  www/apps/cloud/app/projects/page.mdx
  www/apps/cloud/generated/edit-dates.mjs
  www/apps/cloud/generated/sidebar.mjs
  www/apps/cloud/sidebar.mjs
Labels: type: docs, team: medusa

#12714 fix(create-medusa-app): ensure the same package manager is used consistently
  .changeset/shy-nails-enjoy.md
  packages/cli/create-medusa-app/src/utils/execute.ts
  packages/cli/create-medusa-app/src/utils/package-manager.ts
  packages/cli/create-medusa-app/src/utils/prepare-project.ts
  packages/cli/create-medusa-app/src/utils/project-creator/creator.ts
  packages/cli/create-medusa-app/src/utils/project-creator/medusa-plugin-creator.ts
  packages/cli/create-medusa-app/src/utils/project-creator/medusa-project-creator.ts
Labels: type: bug, team: medusa

#12750 docs: added cloud environments documentation
  www/apps/cloud/app/environments/page.mdx
  www/apps/cloud/app/projects/page.mdx
  www/apps/cloud/generated/edit-dates.mjs
  www/apps/cloud/generated/sidebar.mjs
  www/apps/cloud/sidebar.mjs
Labels: type: docs, team: medusa

#12752 chore: Remove source maps for icons
  packages/design-system/icons/rollup.config.mjs
Labels: type: chore, team: medusa

#12755 docs: added cloud deployments guide
  www/apps/cloud/app/deployments/page.mdx
  www/apps/cloud/app/environments/page.mdx
  www/apps/cloud/app/organizations/page.mdx
  www/apps/cloud/app/projects/page.mdx
  www/apps/cloud/generated/edit-dates.mjs
  www/apps/cloud/generated/sidebar.mjs
  www/apps/cloud/sidebar.mjs
Labels: type: docs, team: medusa

#12758 docs: add cloud database guides
  www/apps/cloud/app/database/page.mdx
  www/apps/cloud/app/deployments/page.mdx
  www/apps/cloud/app/environments/page.mdx
  www/apps/cloud/generated/edit-dates.mjs
  www/apps/cloud/generated/sidebar.mjs
  www/apps/cloud/sidebar.mjs
Labels: type: docs, team: medusa

#12753 fix(core, medusa-test-utils): Fix medusa test runner plugin modules loading
  packages/core/framework/src/build-tools/compiler.ts
  packages/medusa-test-utils/src/medusa-test-runner.ts
Labels: type: bug, team: medusa

#12760 docs: added cloud redis documentation
  www/apps/cloud/app/redis/page.mdx
  www/apps/cloud/generated/edit-dates.mjs
  www/apps/cloud/generated/sidebar.mjs
  www/apps/cloud/sidebar.mjs
Labels: type: docs, team: medusa

#12764 fix(dashboard, types): loyalty UI changes
  packages/admin/dashboard/src/routes/orders/order-balance-settlement/components/order-balance-settlement-form/order-balance-settlement-form.tsx
  packages/core/types/src/order/mutations.ts
Labels: type: feature, team: medusa

#12766 docs: add cloud billing docs
  www/apps/cloud/app/billing-usage/page.mdx
  www/apps/cloud/app/environments/page.mdx
  www/apps/cloud/generated/edit-dates.mjs
  www/apps/cloud/generated/sidebar.mjs
  www/apps/cloud/sidebar.mjs
Labels: type: docs, team: medusa

#12774 chore: remove ignore tag for import function + update version tag
  packages/core/js-sdk/src/admin/product.ts
  packages/medusa/src/api/admin/products/imports/[transaction_id]/confirm/route.ts
  packages/medusa/src/api/admin/products/imports/route.ts
Labels: type: chore, team: medusa

#12776 fix(dashboard): fix subtitle for tax inclusive fields in promotions
  packages/admin/dashboard/src/i18n/translations/en.json
Labels: type: bug, team: medusa

#12779 docs: added cloud connect storefront guide
  www/apps/cloud/app/billing-usage/page.mdx
  www/apps/cloud/app/connect-storefront/page.mdx
  www/apps/cloud/app/database/page.mdx
  www/apps/cloud/app/deployments/page.mdx
  www/apps/cloud/app/draft-order-plugin/page.mdx
  www/apps/cloud/app/environments/page.mdx
  www/apps/cloud/app/loyalty-plugin/page.mdx
  www/apps/cloud/app/organizations/page.mdx
  www/apps/cloud/app/page.mdx
  www/apps/cloud/app/projects/page.mdx
  www/apps/cloud/app/redis/page.mdx
  www/apps/cloud/app/s3/page.mdx
  www/apps/cloud/generated/edit-dates.mjs
  www/apps/cloud/generated/sidebar.mjs
  www/apps/cloud/sidebar.mjs
Labels: type: docs, team: medusa

#12775 fix(workflow-engine-redis): Ensure PK is set without errors
  packages/modules/workflow-engine-inmemory/src/migrations/Migration20250505092459.ts
  packages/modules/workflow-engine-redis/src/migrations/Migration20250505101505.ts
Labels: type: bug, team: medusa

#12784 docs: prepare cloud docs
  www/apps/api-reference/next.config.mjs
  www/apps/book/app/learn/deployment/general/page.mdx
  www/apps/book/app/learn/deployment/page.mdx
  www/apps/book/app/learn/page.mdx
  www/apps/book/app/page.tsx
  www/apps/book/components/Homepage/CloudSection/index.tsx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/middleware.ts
  www/apps/book/next.config.mjs
  www/apps/book/public/images/cloud.png
  www/apps/book/public/llms-full.txt
  www/apps/cloud/providers/search.tsx
  www/apps/resources/app/deployment/page.mdx
  www/apps/resources/app/how-to-tutorials/tutorials/loyalty-points/page.mdx
  www/apps/resources/app/infrastructure-modules/cache/redis/page.mdx
  www/apps/resources/app/infrastructure-modules/event/redis/page.mdx
  www/apps/resources/app/infrastructure-modules/file/s3/page.mdx
  www/apps/resources/app/infrastructure-modules/locking/redis/page.mdx
  www/apps/resources/app/infrastructure-modules/workflow-engine/redis/page.mdx
  www/apps/resources/app/recipes/ecommerce/page.mdx
  www/apps/resources/generated/edit-dates.mjs
  www/apps/resources/generated/generated-commerce-modules-sidebar.mjs
  www/apps/resources/generated/generated-how-to-tutorials-sidebar.mjs
  www/apps/resources/mdx-options.mjs
  www/apps/resources/next.config.mjs
  www/apps/resources/sidebars/how-to-tutorials.mjs
  www/apps/user-guide/next.config.mjs
  www/packages/docs-ui/src/components/Icons/CloudSolid/index.tsx
  www/packages/docs-ui/src/components/Icons/index.tsx
  www/packages/docs-ui/src/constants.tsx
Labels: type: docs, team: medusa

#12786 docs: fix padding when AI assistant is open on some screens
  www/packages/docs-ui/src/layouts/main-content.tsx
Labels: type: docs, team: medusa

#12769 fix: Return and set the correct status when a session is created with…
  packages/core/types/src/payment/provider.ts
  packages/modules/payment/src/services/payment-module.ts
  packages/modules/providers/payment-stripe/src/core/stripe-base.ts
Labels: type: bug, team: medusa

#12744 docs: added sentry guide
  www/apps/book/app/learn/debugging-and-testing/instrumentation/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/generated/sidebar.mjs
  www/apps/book/public/llms-full.txt
  www/apps/book/sidebar.mjs
  www/apps/resources/app/integrations/guides/algolia/page.mdx
  www/apps/resources/app/integrations/guides/sentry/page.mdx
  www/apps/resources/app/integrations/page.mdx
  www/apps/resources/app/recipes/bundled-products/examples/standard/page.mdx
  www/apps/resources/generated/edit-dates.mjs
  www/apps/resources/generated/files-map.mjs
  www/apps/resources/generated/generated-integrations-sidebar.mjs
  www/apps/resources/sidebars/integrations.mjs
Labels: type: docs, team: medusa

#12795 fix(workflow-engine-*): Cleanup expired executions and reduce redis storage usage
  .changeset/sixty-years-invite.md
  packages/core/orchestration/src/transaction/datastore/abstract-storage.ts
  packages/core/orchestration/src/transaction/datastore/base-in-memory-storage.ts
  packages/core/utils/src/dml/__tests__/entity-builder.spec.ts
  packages/core/utils/src/dml/helpers/entity-builder/define-property.ts
  packages/modules/workflow-engine-inmemory/integration-tests/__fixtures__/workflow_scheduled.ts
  packages/modules/workflow-engine-inmemory/integration-tests/__tests__/index.spec.ts
  packages/modules/workflow-engine-inmemory/src/services/workflow-orchestrator.ts
  packages/modules/workflow-engine-inmemory/src/services/workflows-module.ts
  packages/modules/workflow-engine-inmemory/src/utils/workflow-orchestrator-storage.ts
  packages/modules/workflow-engine-redis/integration-tests/__tests__/index.spec.ts
  packages/modules/workflow-engine-redis/integration-tests/__tests__/race.spec.ts
  packages/modules/workflow-engine-redis/src/services/workflows-module.ts
  packages/modules/workflow-engine-redis/src/utils/workflow-orchestrator-storage.ts
Labels: type: bug, team: medusa

#12807 docs: added malchimp integration guide
  www/apps/book/public/llms-full.txt
  www/apps/resources/app/integrations/guides/mailchimp/page.mdx
  www/apps/resources/app/integrations/page.mdx
  www/apps/resources/generated/edit-dates.mjs
  www/apps/resources/generated/files-map.mjs
  www/apps/resources/generated/generated-how-to-tutorials-sidebar.mjs
  www/apps/resources/generated/generated-integrations-sidebar.mjs
  www/apps/resources/sidebars/how-to-tutorials.mjs
  www/apps/resources/sidebars/integrations.mjs
Labels: type: docs, team: medusa

#12812 fix(dashboard): fix currency input locale formatting
  packages/admin/dashboard/src/lib/format-currency.ts
  packages/admin/dashboard/src/routes/orders/order-balance-settlement/components/order-balance-settlement-form/order-balance-settlement-form.tsx
  packages/admin/dashboard/src/routes/orders/order-create-claim/components/claim-create-form/claim-create-form.tsx
  packages/admin/dashboard/src/routes/orders/order-create-exchange/components/exchange-create-form/exchange-create-form.tsx
  packages/admin/dashboard/src/routes/orders/order-create-refund/components/create-refund-form/create-refund-form.tsx
  packages/admin/dashboard/src/routes/orders/order-create-return/components/return-create-form/return-create-form.tsx
Labels: type: bug, team: medusa

#12788 fix(utils): build query withDeleted remove auto detection
  integration-tests/http/__tests__/product/admin/product.spec.ts
  packages/core/framework/src/http/types.ts
  packages/core/framework/src/http/utils/get-query-config.ts
  packages/core/framework/src/http/utils/refetch-entities.ts
  packages/core/framework/src/http/utils/validate-query.ts
  packages/core/types/src/common/common.ts
  packages/core/types/src/product/common.ts
  packages/core/utils/src/modules-sdk/__tests__/build-query.spec.ts
  packages/core/utils/src/modules-sdk/build-query.ts
  packages/medusa/src/api/admin/products/route.ts
  packages/medusa/src/api/utils/validators.ts
  packages/modules/product/integration-tests/__tests__/product-module-service/products.spec.ts
Labels: type: bug, automerge, team: medusa

#12720 feat: add cookie options
  .changeset/lemon-birds-switch.md
  packages/admin/admin-bundler/src/utils/config.ts
  packages/core/framework/src/http/express-loader.ts
  packages/core/types/src/common/config-module.ts
Labels: type: feature, team: medusa

#12820 docs: wording and structural changes to cloud
  www/apps/cloud/app/billing-usage/page.mdx
  www/apps/cloud/app/connect-storefront/page.mdx
  www/apps/cloud/app/database/page.mdx
  www/apps/cloud/app/deployments/page.mdx
  www/apps/cloud/app/draft-order-plugin/page.mdx
  www/apps/cloud/app/environments/environment-variables/page.mdx
  www/apps/cloud/app/environments/long-lived/page.mdx
  www/apps/cloud/app/environments/page.mdx
  www/apps/cloud/app/environments/preview/page.mdx
  www/apps/cloud/app/faq/page.mdx
  www/apps/cloud/app/infrastructure/page.mdx
  www/apps/cloud/app/loyalty-plugin/page.mdx
  www/apps/cloud/app/notifications/page.mdx
  www/apps/cloud/app/organizations/page.mdx
  www/apps/cloud/app/page.mdx
  www/apps/cloud/app/projects/page.mdx
  www/apps/cloud/app/redis/page.mdx
  www/apps/cloud/app/s3/page.mdx
  www/apps/cloud/app/support/page.mdx
  www/apps/cloud/app/update-medusa/page.mdx
  www/apps/cloud/generated/edit-dates.mjs
  www/apps/cloud/generated/sidebar.mjs
  www/apps/cloud/next.config.mjs
  www/apps/cloud/sidebar.mjs
Labels: type: docs, team: medusa

#12821 fix: Add missing migration for payment statuses
  packages/modules/payment/src/migrations/.snapshot-medusa-payment.json
  packages/modules/payment/src/migrations/Migration20250625084134.ts
Labels: type: bug, team: medusa

#12598 doc: Updated cloudflare R2 description
  www/apps/resources/app/infrastructure-modules/file/s3/page.mdx
Labels: type: docs, automerge, Stale

#12829 chore: add version and deprecated tags to import routes and methods
  packages/core/js-sdk/src/admin/product.ts
  packages/medusa/src/api/admin/products/import/[transaction_id]/confirm/route.ts
  packages/medusa/src/api/admin/products/import/route.ts
Labels: type: chore, team: medusa

#12831 fix: do not apply prefix when getting file contents as buffer or stream
  .changeset/spotty-mayflies-bathe.md
  packages/modules/providers/file-s3/src/services/s3-file.ts
Labels: type: bug, team: medusa

#12835 chore: add missing types in TSDocs example
  packages/core/utils/src/fulfillment/provider.ts
Labels: type: chore, team: medusa

#12842 docs: fix step detection of useQueryGraphStep
  www/apps/resources/references/core_flows/Common/Steps_Common/functions/core_flows.Common.Steps_Common.useQueryGraphStep/page.mdx
  www/apps/resources/references/helper_steps/functions/helper_steps.useQueryGraphStep/page.mdx
  www/utils/packages/utils/src/step-utils.ts
Labels: type: docs, team: medusa

#12843 docs: small typo fix
  www/apps/book/app/learn/fundamentals/modules/options/page.mdx
Labels: type: docs, team: medusa

#12841 docs: documet withDeleted
  www/apps/book/app/learn/fundamentals/module-links/query/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/public/llms-full.txt
Labels: type: docs, team: medusa

#12747 docs: design fixes to toc and related elements
  www/apps/book/config/index.ts
  www/apps/book/public/images/release-dark.png
  www/apps/book/public/images/release.png
  www/apps/cloud/config/index.ts
  www/apps/cloud/public/images/release-dark.png
  www/apps/cloud/public/images/release.png
  www/apps/resources/config/index.ts
  www/apps/resources/public/images/release-dark.png
  www/apps/resources/public/images/release.png
  www/apps/user-guide/config/index.ts
  www/apps/user-guide/public/images/release-dark.png
  www/apps/user-guide/public/images/release.png
  www/packages/docs-ui/src/components/Card/Layout/Mini/index.tsx
  www/packages/docs-ui/src/components/Card/index.tsx
  www/packages/docs-ui/src/components/ContentMenu/Products/index.tsx
  www/packages/docs-ui/src/components/ContentMenu/Toc/index.tsx
  www/packages/docs-ui/src/components/ContentMenu/Version/index.tsx
  www/packages/docs-ui/src/components/Heading/H1/index.tsx
  www/packages/docs-ui/src/components/Heading/H2/index.tsx
  www/packages/docs-ui/src/components/Heading/H3/index.tsx
  www/packages/docs-ui/src/components/Link/index.tsx
  www/packages/docs-ui/src/components/MDXComponents/index.tsx
  www/packages/docs-ui/src/components/MainNav/Items/Dropdown/index.tsx
  www/packages/docs-ui/src/components/MainNav/Version/index.tsx
  www/packages/docs-ui/src/components/MainNav/index.tsx
  www/packages/docs-ui/src/components/Menu/SubMenu/index.tsx
  www/packages/docs-ui/src/layouts/main-content.tsx
  www/packages/tailwind/base.tailwind.config.js
  www/packages/tailwind/theme-presets.js
Labels: type: docs, team: medusa

#12833 docs: added gift message guide
  www/apps/resources/app/how-to-tutorials/tutorials/first-purchase-discounts/page.mdx
  www/apps/resources/app/how-to-tutorials/tutorials/gift-message/page.mdx
  www/apps/resources/generated/edit-dates.mjs
  www/apps/resources/generated/files-map.mjs
  www/apps/resources/generated/generated-how-to-tutorials-sidebar.mjs
  www/apps/resources/sidebars/how-to-tutorials.mjs
  www/packages/tags/src/tags/cart.ts
  www/packages/tags/src/tags/file.ts
  www/packages/tags/src/tags/nextjs.ts
  www/packages/tags/src/tags/server.ts
  www/packages/tags/src/tags/tutorial.ts
Labels: type: docs, team: medusa

#12845 docs: sort events in reference alphabetically
  www/apps/book/public/llms-full.txt
  www/apps/resources/generated/edit-dates.mjs
  www/apps/resources/references/module_events/module_events.Order/page.mdx
  www/apps/resources/references/module_events/module_events.Product/page.mdx
  www/apps/resources/references/module_events/module_events.User/page.mdx
  www/apps/resources/references/modules/events/page.mdx
  www/utils/packages/typedoc-plugin-markdown-medusa/src/resources/helpers/events-listing.ts
Labels: type: docs, team: medusa

#12846 docs-util: throw when schema parsing fails
  www/utils/generated/oas-output/schemas/AdminShippingOptionRule.ts
  www/utils/generated/oas-output/schemas/AdminWorkflowExecutionExecution.ts
  www/utils/packages/docs-generator/src/classes/helpers/oas-schema.ts
Labels: type: docs, team: medusa

#12844 docs: remove empty storefront guides
  www/apps/resources/app/storefront-development/cart/page.mdx
  www/apps/resources/app/storefront-development/customers/page.mdx
  www/apps/resources/app/storefront-development/products/categories/page.mdx
  www/apps/resources/app/storefront-development/products/collections/page.mdx
  www/apps/resources/app/storefront-development/products/page.mdx
  www/apps/resources/next.config.mjs
Labels: type: docs, team: medusa

#12834 Fix(): test utils events + workflow storage
  .changeset/gentle-teachers-doubt.md
  integration-tests/http/__tests__/auth/admin/auth-asymetric.spec.ts
  integration-tests/http/__tests__/auth/admin/auth.spec.ts
  packages/core/orchestration/src/transaction/transaction-orchestrator.ts
  packages/core/utils/src/dml/__tests__/entity-builder.spec.ts
  packages/core/utils/src/dml/helpers/entity-builder/define-property.ts
  packages/medusa-test-utils/src/__tests__/events.spec.ts
  packages/medusa-test-utils/src/events.ts
  packages/medusa-test-utils/src/medusa-test-runner-utils/wait-workflow-executions.ts
  packages/medusa-test-utils/src/medusa-test-runner.ts
  packages/modules/workflow-engine-inmemory/src/utils/workflow-orchestrator-storage.ts
  packages/modules/workflow-engine-redis/integration-tests/__tests__/index.spec.ts
  packages/modules/workflow-engine-redis/src/utils/workflow-orchestrator-storage.ts
Labels: type: bug, team: medusa
