Repository medusajs/medusa, pull requests merged in 2025-01, with the labels that each got.

#10785 docs: fix selected variant in storefront guide
  www/apps/resources/app/storefront-development/products/variants/page.mdx
Labels: type: docs, team: medusa

#10792 chore: fix links to contribution guidelines
  CONTRIBUTING.md
  www/apps/api-reference/README.md
  www/vale/styles/docs/Npm2Yarn.yml
  www/vale/styles/docs/NpmCommands.yml
  www/vale/styles/docs/NpmGlobal.yml
Labels: type: docs, type: chore, team: medusa

#10771 fix(pricing): pricing context calculations only takes into account existing rule attributes
  .changeset/real-pianos-eat.md
  integration-tests/http/__tests__/cart/store/cart.spec.ts
  packages/modules/pricing/src/repositories/pricing.ts
Labels: type: bug, team: medusa

#10793 docs: fix highlights in checkout storefront guide
  www/apps/resources/app/storefront-development/checkout/payment/page.mdx
  www/apps/resources/generated/edit-dates.mjs
Labels: type: docs, team: medusa

#10794 docs: fix cross-project link for Card components
  www/packages/remark-rehype-plugins/src/broken-link-checker.ts
  www/packages/remark-rehype-plugins/src/cross-project-links.ts
  www/packages/remark-rehype-plugins/src/utils/component-link-fixer.ts
Labels: type: docs, team: medusa

#10791 feat: generate modules mappings at runtime
  .changeset/angry-coats-warn.md
  packages/core/modules-sdk/src/medusa-app.ts
  packages/core/modules-sdk/src/medusa-module.ts
  packages/core/types/src/modules-sdk/index.ts
  packages/core/utils/src/modules-sdk/__tests__/modules-to-container-types.spec.ts
  packages/core/utils/src/modules-sdk/index.ts
  packages/core/utils/src/modules-sdk/modules-to-container-types.ts
  packages/medusa/src/commands/start.ts
  packages/medusa/src/loaders/index.ts
Labels: type: feature, team: medusa

#10808 Fix/product variants filter
  .changeset/silver-comics-give.md
  packages/medusa/src/api/admin/products/validators.ts
Labels: type: bug, automerge, team: medusa

#10811 docs: handle product deletion in digital products recipe
  www/apps/resources/app/recipes/digital-products/examples/standard/page.mdx
  www/apps/resources/generated/edit-dates.mjs
Labels: type: docs, team: medusa

#10812 feat(create-medusa-app): improve by adding depth to clone commands
  .changeset/two-bananas-switch.md
  packages/cli/create-medusa-app/src/utils/clone-repo.ts
  packages/cli/create-medusa-app/src/utils/execute.ts
  packages/cli/create-medusa-app/src/utils/nextjs-utils.ts
Labels: automerge, type: feature, team: medusa

#10674 fix(): Workflow cancellation + gracefully handle non serializable state
  .changeset/beige-ligers-yawn.md
  packages/core/orchestration/src/__tests__/transaction/transaction-orchestrator.ts
  packages/core/orchestration/src/transaction/distributed-transaction.ts
  packages/core/orchestration/src/transaction/errors.ts
  packages/core/workflows-sdk/src/utils/composer/__tests__/index.spec.ts
  packages/core/workflows-sdk/src/utils/composer/create-workflow.ts
  packages/modules/workflow-engine-redis/integration-tests/__fixtures__/index.ts
  packages/modules/workflow-engine-redis/integration-tests/__fixtures__/workflow_async_compensate.ts
  packages/modules/workflow-engine-redis/integration-tests/__tests__/index.spec.ts
Labels: type: bug, automerge, team: medusa

#10825 Update README.md
  README.md
Labels: automerge

#10795 fix(promotion): don't evaluate rule condition if conditions to evaluate is empty
  .changeset/selfish-coats-drop.md
  packages/modules/promotion/integration-tests/__tests__/services/promotion-module/compute-actions.spec.ts
  packages/modules/promotion/src/utils/validations/promotion-rule.ts
Labels: type: bug, team: medusa

#10837 chore: small tsdoc changes for remoteLink and remoteQueryConfig
  packages/core/framework/src/http/types.ts
  packages/core/framework/src/types/container.ts
  packages/core/utils/src/common/container.ts
Labels: type: chore, team: medusa

#10753 chore(ui): general updates and fixes to TSDocs and types
  .changeset/moody-ladybugs-melt.md
  packages/design-system/ui/src/components/calender/calendar.tsx
  packages/design-system/ui/src/components/drawer/drawer.tsx
  packages/design-system/ui/src/components/focus-modal/focus-modal.tsx
  packages/design-system/ui/src/components/select/select.tsx
Labels: type: chore, team: medusa

#10829 feat(auth-google,auth-github): Allow passing a custom callbackUrl to …
  packages/core/modules-sdk/src/definitions.ts
  packages/core/types/src/auth/common/provider.ts
  packages/core/types/src/auth/provider.ts
  packages/modules/auth/src/services/auth-module.ts
  packages/modules/providers/auth-github/integration-tests/__tests__/services.spec.ts
  packages/modules/providers/auth-github/src/services/github.ts
  packages/modules/providers/auth-google/integration-tests/__tests__/services.spec.ts
  packages/modules/providers/auth-google/src/services/google.ts
Labels: type: feature, team: medusa

#10832 fix(stock-location,core-flows,types): updates existing address when updating stock location
  .changeset/five-roses-swim.md
  integration-tests/http/__tests__/stock-location/admin/stock-location.spec.ts
  packages/core/core-flows/src/stock-location/steps/upsert-stock-location-addresses.ts
  packages/core/core-flows/src/stock-location/workflows/update-stock-locations.ts
  packages/core/types/src/stock-location/common.ts
  packages/core/types/src/stock-location/service.ts
  packages/modules/stock-location/src/migrations/.snapshot-medusa-stock-location.json
  packages/modules/stock-location/src/migrations/Migration20250106142624.ts
  packages/modules/stock-location/src/models/stock-location-address.ts
  packages/modules/stock-location/src/services/stock-location-module.ts
Labels: type: bug, team: medusa

#10843 docs: update storefront development snippets for next.js 15 compatibility
  www/apps/resources/app/storefront-development/cart/context/page.mdx
  www/apps/resources/app/storefront-development/cart/create/page.mdx
  www/apps/resources/app/storefront-development/cart/retrieve/page.mdx
  www/apps/resources/app/storefront-development/cart/update/page.mdx
  www/apps/resources/app/storefront-development/checkout/address/page.mdx
  www/apps/resources/app/storefront-development/customers/addresses/page.mdx
  www/apps/resources/app/storefront-development/customers/retrieve/page.mdx
  www/apps/resources/app/storefront-development/customers/third-party-login/page.mdx
  www/apps/resources/app/storefront-development/products/categories/nested-categories/page.mdx
  www/apps/resources/app/storefront-development/products/categories/products/page.mdx
  www/apps/resources/app/storefront-development/products/categories/retrieve/page.mdx
  www/apps/resources/app/storefront-development/products/collections/products/page.mdx
  www/apps/resources/app/storefront-development/products/collections/retrieve/page.mdx
  www/apps/resources/app/storefront-development/products/inventory/page.mdx
  www/apps/resources/app/storefront-development/products/price/examples/sale-price/page.mdx
  www/apps/resources/app/storefront-development/products/price/examples/show-price/page.mdx
  www/apps/resources/app/storefront-development/products/price/examples/tax-price/page.mdx
  www/apps/resources/app/storefront-development/products/retrieve/page.mdx
  www/apps/resources/app/storefront-development/products/variants/page.mdx
  www/apps/resources/app/storefront-development/regions/list/page.mdx
  www/apps/resources/generated/edit-dates.mjs
  www/apps/resources/generated/sidebar.mjs
  www/apps/resources/next.config.mjs
  www/apps/resources/sidebars/storefront.mjs
Labels: type: docs, team: medusa

#10847 Update page.mdx
  www/apps/book/app/learn/fundamentals/workflows/conditions/page.mdx
Labels: type: docs, automerge

#10677 feat(core-flows,fulfillment, fulfillment-manual, types): make fulfillment typings more specific
  integration-tests/http/src/utils/providers/fulfillment-manual-calculated/services/manual-fulfillment.ts
  packages/core/core-flows/src/cart/steps/validate-shipping-methods-data.ts
  packages/core/types/src/fulfillment/common/cart.ts
  packages/core/types/src/fulfillment/common/index.ts
  packages/core/types/src/fulfillment/common/order.ts
  packages/core/types/src/fulfillment/mutations/shipping-option.ts
  packages/core/types/src/fulfillment/provider.ts
  packages/core/types/src/fulfillment/service.ts
  packages/core/utils/src/fulfillment/provider.ts
  packages/modules/fulfillment/src/services/fulfillment-module-service.ts
  packages/modules/fulfillment/src/services/fulfillment-provider.ts
  packages/modules/providers/fulfillment-manual/src/services/manual-fulfillment.ts
Labels: type: bug, automerge, team: medusa

#10856 chore: fix version number in tsdocs
  packages/core/framework/src/http/types.ts
  packages/core/framework/src/types/container.ts
  packages/core/utils/src/common/container.ts
Labels: type: chore, team: medusa

#10853 fix(create-medusa-app): add default storefront url to auth CORS
  .changeset/grumpy-adults-relate.md
  packages/cli/create-medusa-app/src/utils/prepare-project.ts
Labels: type: bug, team: medusa

#10859 docs: document registering user with existing email
  www/apps/resources/app/commerce-modules/auth/auth-flows/page.mdx
  www/apps/resources/app/commerce-modules/auth/auth-identity-and-actor-types/page.mdx
  www/apps/resources/app/commerce-modules/auth/authentication-route/page.mdx
  www/apps/resources/app/storefront-development/customers/register/page.mdx
  www/apps/resources/generated/edit-dates.mjs
Labels: type: docs, team: medusa

#10831 chore: rename remote-query-entry-points.d.ts to query-entry-points.d.ts
  .changeset/slow-garlics-accept.md
  packages/medusa/src/commands/start.ts
Labels: type: chore, team: medusa

#10858 fix(dashboard): cancel order notifications
  packages/admin/dashboard/src/i18n/translations/$schema.json
  packages/admin/dashboard/src/i18n/translations/en.json
  packages/admin/dashboard/src/routes/customers/customer-detail/components/customer-group-section/customer-group-section.tsx
  packages/admin/dashboard/src/routes/orders/order-detail/components/order-general-section/order-general-section.tsx
Labels: type: bug, team: medusa

#10836 docs: rename remoteLink and remoteQueryConfig
  www/apps/book/app/learn/customization/customize-admin/route/page.mdx
  www/apps/book/app/learn/customization/extend-features/extend-create-product/page.mdx
  www/apps/book/app/learn/fundamentals/module-links/custom-columns/page.mdx
  www/apps/book/app/learn/fundamentals/module-links/link/page.mdx
  www/apps/book/app/learn/fundamentals/module-links/query/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/scripts/prepare.mjs
  www/apps/book/utils/redirects.mjs
  www/apps/resources/app/commerce-modules/api-key/links-to-other-modules/page.mdx
  www/apps/resources/app/commerce-modules/cart/links-to-other-modules/page.mdx
  www/apps/resources/app/commerce-modules/fulfillment/links-to-other-modules/page.mdx
  www/apps/resources/app/commerce-modules/inventory/links-to-other-modules/page.mdx
  www/apps/resources/app/commerce-modules/order/links-to-other-modules/page.mdx
  www/apps/resources/app/commerce-modules/payment/links-to-other-modules/page.mdx
  www/apps/resources/app/commerce-modules/payment/payment-flow/page.mdx
  www/apps/resources/app/commerce-modules/pricing/links-to-other-modules/page.mdx
  www/apps/resources/app/commerce-modules/product/links-to-other-modules/page.mdx
  www/apps/resources/app/commerce-modules/promotion/links-to-other-modules/page.mdx
  www/apps/resources/app/commerce-modules/region/links-to-other-modules/page.mdx
  www/apps/resources/app/commerce-modules/sales-channel/links-to-other-modules/page.mdx
  www/apps/resources/app/commerce-modules/stock-location/links-to-other-modules/page.mdx
  www/apps/resources/app/examples/page.mdx
  www/apps/resources/app/medusa-container-resources/page.mdx
  www/apps/resources/app/recipes/digital-products/examples/standard/page.mdx
  www/apps/resources/app/recipes/digital-products/page.mdx
  www/apps/resources/app/recipes/marketplace/examples/vendors/page.mdx
  www/apps/resources/app/recipes/subscriptions/examples/standard/page.mdx
  www/apps/resources/generated/edit-dates.mjs
Labels: type: docs, team: medusa

#10867 docs-util: fixes to OAS generator + generate OAS
  www/apps/api-reference/specs/admin/components/schemas/AdminOrder.yaml
  www/apps/api-reference/specs/admin/components/schemas/AdminOrderPreview.yaml
  www/apps/api-reference/specs/admin/components/schemas/BaseOrder.yaml
  www/apps/api-reference/specs/admin/components/schemas/StoreOrder.yaml
  www/apps/api-reference/specs/admin/openapi.full.yaml
  www/apps/api-reference/specs/admin/paths/auth_user_{auth_provider}.yaml
  www/apps/api-reference/specs/store/components/schemas/AdminOrder.yaml
  www/apps/api-reference/specs/store/components/schemas/AdminOrderPreview.yaml
  www/apps/api-reference/specs/store/components/schemas/BaseOrder.yaml
  www/apps/api-reference/specs/store/components/schemas/StoreOrder.yaml
  www/apps/api-reference/specs/store/openapi.full.yaml
  www/apps/api-reference/specs/store/paths/auth_customer_{auth_provider}.yaml
  www/utils/generated/oas-output/operations/admin/post_auth_[actor_type]_[auth_provider].ts
  www/utils/generated/oas-output/operations/store/post_auth_[actor_type]_[auth_provider].ts
  www/utils/generated/oas-output/schemas/AdminOrder.ts
  www/utils/generated/oas-output/schemas/AdminOrderPreview.ts
  www/utils/generated/oas-output/schemas/BaseOrder.ts
  www/utils/generated/oas-output/schemas/StoreOrder.ts
  www/utils/packages/docs-generator/src/classes/kinds/oas.ts
Labels: type: docs, team: medusa

#10497 docs: added Cloudflare R2 guide for Object Storage
  www/apps/resources/app/architectural-modules/file/s3/page.mdx
Labels: type: docs, automerge

#10870 docs: fix typo
  www/apps/book/app/learn/fundamentals/events-and-subscribers/emit-event/page.mdx
Labels: type: docs, automerge

#10873 docs: added llms.txt
  www/apps/book/public/llms.txt
Labels: type: docs, team: medusa

#10876 docs: general fixes and additions
  www/apps/book/app/learn/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/sidebar.mjs
  www/apps/resources/app/architectural-modules/cache/page.mdx
  www/apps/resources/app/architectural-modules/event/page.mdx
  www/apps/resources/app/architectural-modules/file/page.mdx
  www/apps/resources/app/architectural-modules/notification/page.mdx
  www/apps/resources/app/architectural-modules/page.mdx
  www/apps/resources/app/architectural-modules/workflow-engine/page.mdx
  www/apps/resources/app/commerce-modules/inventory/inventory-in-flows/page.mdx
  www/apps/resources/app/commerce-modules/payment/payment-flow/page.mdx
  www/apps/resources/generated/edit-dates.mjs
Labels: type: docs, team: medusa

#10880 feat: add default retry strategy for redis
  .changeset/afraid-experts-walk.md
  packages/core/utils/src/common/__tests__/define-config.spec.ts
  packages/core/utils/src/common/define-config.ts
Labels: automerge, type: feature, team: medusa

#10874 feat: remove dead code and refactor the logic of resolving plugins
  .changeset/tiny-moles-build.md
  packages/core/types/src/common/config-module.ts
  packages/core/utils/src/common/define-config.ts
  packages/core/utils/src/common/read-dir-recursive.ts
  packages/medusa-test-utils/src/medusa-test-runner-utils/use-db.ts
  packages/medusa/package.json
  packages/medusa/src/commands/db/generate.ts
  packages/medusa/src/commands/db/migrate.ts
  packages/medusa/src/commands/db/rollback.ts
  packages/medusa/src/commands/db/sync-links.ts
  packages/medusa/src/loaders/__tests__/get-resolved-plugins.spec.ts
  packages/medusa/src/loaders/helpers/resolve-plugins.ts
  packages/medusa/src/loaders/index.ts
Labels: type: feature, team: medusa

#10891 docs: add inventory kit conceptual guide
  www/apps/resources/app/commerce-modules/inventory/inventory-kit/page.mdx
  www/apps/resources/app/commerce-modules/inventory/page.mdx
  www/apps/resources/app/commerce-modules/product/page.mdx
  www/apps/resources/generated/edit-dates.mjs
  www/apps/resources/generated/files-map.mjs
  www/apps/resources/generated/sidebar.mjs
  www/apps/resources/sidebars/inventory.mjs
  www/apps/resources/sidebars/product.mjs
  www/packages/tags/src/tags/auth.ts
  www/packages/tags/src/tags/cart.ts
  www/packages/tags/src/tags/concept.ts
  www/packages/tags/src/tags/customer.ts
  www/packages/tags/src/tags/event-bus.ts
  www/packages/tags/src/tags/index.ts
  www/packages/tags/src/tags/inventory.ts
  www/packages/tags/src/tags/link.ts
  www/packages/tags/src/tags/locking.ts
  www/packages/tags/src/tags/logger.ts
  www/packages/tags/src/tags/order.ts
  www/packages/tags/src/tags/payment.ts
  www/packages/tags/src/tags/product.ts
  www/packages/tags/src/tags/query.ts
  www/packages/tags/src/tags/remote-query.ts
  www/packages/tags/src/tags/step.ts
  www/packages/tags/src/tags/stock-location.ts
  www/packages/tags/src/tags/storefront.ts
  www/packages/tags/src/tags/tax.ts
  www/packages/tags/src/tags/workflow.ts
Labels: type: docs, team: medusa

#10882 fix(pricing): PriceLists of type Sale should not override lower prices
  .changeset/quick-buttons-raise.md
  integration-tests/http/__tests__/product/store/product.spec.ts
  packages/modules/pricing/integration-tests/__tests__/services/pricing-module/calculate-price.spec.ts
  packages/modules/pricing/src/services/pricing-module.ts
Labels: type: bug, automerge, team: medusa

#10893 docs: fix colon in api key header
  www/apps/api-reference/markdown/admin.mdx
Labels: type: docs, team: medusa

#10896 fix(pricing): add null conditions for deleted at during price calculations
  .changeset/nasty-poets-pretend.md
  packages/modules/pricing/integration-tests/__tests__/services/pricing-module/calculate-price.spec.ts
  packages/modules/pricing/src/repositories/pricing.ts
Labels: type: bug, team: medusa

#10900 fix(modules): Fix miss leading provider resolution error
  packages/modules/auth/integration-tests/__tests__/auth-module-service/index.spec.ts
  packages/modules/auth/src/services/auth-provider.ts
  packages/modules/fulfillment/src/services/fulfillment-provider.ts
  packages/modules/locking/src/services/locking-provider.ts
  packages/modules/notification/src/services/notification-provider.ts
  packages/modules/payment/src/services/payment-provider.ts
Labels: type: bug, automerge, team: medusa

#10892 fix(types): add missing inventory_items to input of createProductsWorkflow
  .changeset/angry-jobs-prove.md
  packages/core/types/src/product/common.ts
Labels: type: bug, automerge, team: medusa

#10895 feat: Merge plugin modules
  .changeset/thin-games-worry.md
  packages/core/modules-sdk/src/medusa-app.ts
  packages/core/types/src/common/config-module.ts
  packages/core/utils/src/common/__tests__/define-config.spec.ts
  packages/core/utils/src/common/__tests__/transform-modules.spec.ts
  packages/core/utils/src/common/define-config.ts
  packages/core/utils/src/common/index.ts
  packages/core/utils/src/common/merge-plugin-modules.ts
  packages/medusa/src/commands/db/generate.ts
  packages/medusa/src/commands/db/migrate.ts
  packages/medusa/src/commands/db/rollback.ts
  packages/medusa/src/commands/db/sync-links.ts
  packages/medusa/src/loaders/__tests__/get-resolved-plugins.spec.ts
  packages/medusa/src/loaders/helpers/resolve-plugins.ts
  packages/medusa/src/loaders/index.ts
Labels: automerge, type: feature, has: breaking changes, team: medusa

#10904 chore: move build utilities to Compiler class
  .changeset/wild-parrots-lie.md
  packages/core/framework/package.json
  packages/core/framework/src/build-tools/compiler.ts
  packages/core/framework/src/build-tools/index.ts
  packages/medusa/src/commands/build.ts
Labels: type: chore, automerge, team: medusa

#10913 fix(orchestration): avoid retry when finished
  .changeset/chilled-schools-collect.md
  packages/core/orchestration/src/transaction/distributed-transaction.ts
Labels: type: bug, team: medusa

#10911 docs: typo fixes in execute workflow section
  www/apps/book/app/learn/fundamentals/workflows/page.mdx
Labels: type: docs, team: medusa

#10914 docs-util: add examples generator for workflows and steps
  www/apps/resources/components/MDXComponents/index.tsx
  www/utils/packages/docs-generator/package.json
  www/utils/packages/docs-generator/src/classes/examples/oas.ts
  www/utils/packages/docs-generator/src/classes/helpers/formatter.ts
  www/utils/packages/typedoc-plugin-markdown-medusa/package.json
  www/utils/packages/typedoc-plugin-markdown-medusa/src/render-utils.ts
  www/utils/packages/typedoc-plugin-markdown-medusa/src/resources/helpers/step-examples.ts
  www/utils/packages/typedoc-plugin-markdown-medusa/src/resources/helpers/workflow-examples.ts
  www/utils/packages/typedoc-plugin-markdown-medusa/src/resources/partials/member.step.hbs
  www/utils/packages/typedoc-plugin-markdown-medusa/src/resources/partials/member.workflow.hbs
  www/utils/packages/typedoc-plugin-workflows/src/plugin.ts
  www/utils/packages/typedoc-plugin-workflows/src/utils/examples.ts
  www/utils/packages/typedoc-plugin-workflows/src/utils/helper.ts
  www/utils/packages/utils/package.json
  www/utils/packages/utils/src/examples-utils.ts
  www/utils/packages/utils/src/index.ts
  www/utils/yarn.lock
Labels: type: docs, team: medusa

#10924 docs: update breaking changes for google auth storefront
  www/apps/resources/app/storefront-development/customers/third-party-login/page.mdx
Labels: type: docs, automerge

#10928 chore(core-flows,types): add tsdocs for create cart workflow
  packages/core/core-flows/src/cart/workflows/create-carts.ts
  packages/core/types/src/cart/workflows.ts
  packages/core/types/src/http/common/additional_data.ts
Labels: type: chore, team: medusa

#10925 docs: fix validation in restaurant-delivery marketplace recipe
  www/apps/resources/app/recipes/marketplace/examples/restaurant-delivery/page.mdx
Labels: type: docs, team: medusa

#10869 feat(admin-bundler,admin-vite-plugin,medusa): Add support for loading Admin Extensions from plugins
  .changeset/stupid-plums-buy.md
  packages/admin/admin-bundler/package.json
  packages/admin/admin-bundler/src/lib/config.ts
  packages/admin/admin-bundler/src/lib/plugin.ts
  packages/admin/admin-vite-plugin/src/babel.ts
  packages/admin/admin-vite-plugin/src/routes/generate-menu-items.ts
  packages/admin/admin-vite-plugin/src/routes/generate-routes.ts
  packages/admin/admin-vite-plugin/src/routes/helpers.ts
  packages/admin/admin-vite-plugin/src/utils.ts
  packages/admin/admin-vite-plugin/src/widgets/generate-widgets.ts
  packages/medusa/src/loaders/admin.ts
  packages/medusa/src/loaders/index.ts
  yarn.lock
Labels: automerge, type: feature, team: medusa

#10926 Feat/plugin develop
  .changeset/forty-lamps-fly.md
  packages/cli/medusa-cli/src/create-cli.ts
  packages/core/framework/src/build-tools/compiler.ts
  packages/medusa/package.json
  packages/medusa/src/commands/plugin/develop.ts
  yarn.lock
Labels: automerge, type: feature, team: medusa

#10933 docs: add a note about promotion types support in Medusa Admin
  www/apps/resources/app/commerce-modules/promotion/concepts/page.mdx
  www/apps/resources/generated/edit-dates.mjs
Labels: type: docs, team: medusa

#10932 docs: fix authentication callback descriptions to include all query parameters
  www/apps/api-reference/specs/admin/openapi.full.yaml
  www/apps/api-reference/specs/admin/paths/auth_user_{auth_provider}_callback.yaml
  www/apps/api-reference/specs/store/openapi.full.yaml
  www/apps/api-reference/specs/store/paths/auth_customer_{auth_provider}_callback.yaml
  www/apps/resources/app/commerce-modules/auth/auth-flows/page.mdx
  www/apps/resources/app/commerce-modules/auth/auth-providers/emailpass/page.mdx
  www/apps/resources/app/commerce-modules/auth/auth-providers/github/page.mdx
  www/apps/resources/app/commerce-modules/auth/auth-providers/google/page.mdx
  www/apps/resources/app/commerce-modules/auth/authentication-route/page.mdx
  www/apps/resources/app/commerce-modules/inventory/inventory-kit/page.mdx
  www/apps/resources/app/commerce-modules/payment/payment-flow/page.mdx
  www/apps/resources/app/recipes/digital-products/examples/standard/page.mdx
  www/apps/resources/app/storefront-development/checkout/shipping/page.mdx
  www/apps/resources/app/storefront-development/customers/register/page.mdx
  www/apps/resources/app/storefront-development/customers/third-party-login/page.mdx
  www/apps/resources/generated/edit-dates.mjs
  www/utils/generated/oas-output/operations/admin/post_auth_[actor_type]_[auth_provider]_callback.ts
  www/utils/generated/oas-output/operations/store/post_auth_[actor_type]_[auth_provider]_callback.ts
Labels: type: docs, team: medusa

#10908 feat: Scaffold plugin in create-medusa-app
  .changeset/silent-keys-sniff.md
  packages/cli/create-medusa-app/src/commands/create.ts
  packages/cli/create-medusa-app/src/index.ts
  packages/cli/create-medusa-app/src/utils/clone-repo.ts
  packages/cli/create-medusa-app/src/utils/prepare-project.ts
  packages/cli/create-medusa-app/src/utils/project-creator/creator.ts
  packages/cli/create-medusa-app/src/utils/project-creator/index.ts
  packages/cli/create-medusa-app/src/utils/project-creator/medusa-plugin-creator.ts
  packages/cli/create-medusa-app/src/utils/project-creator/medusa-project-creator.ts
  packages/cli/create-medusa-app/src/utils/project-creator/project-creator-factory.ts
Labels: automerge, type: feature, team: medusa

#10938 feat(cli): Add plugin:publish and plugin:add commands support
  .changeset/grumpy-papayas-call.md
  packages/cli/medusa-cli/src/create-cli.ts
  packages/medusa/src/commands/plugin/add.ts
  packages/medusa/src/commands/plugin/publish.ts
Labels: automerge, type: feature, team: medusa

#10940 chore(core-flows,types): improve tsdocs of workflows [1]
  packages/core/core-flows/src/cart/workflows/create-carts.ts
  packages/core/core-flows/src/cart/workflows/update-cart.ts
  packages/core/core-flows/src/customer/workflows/create-addresses.ts
  packages/core/core-flows/src/customer/workflows/create-customers.ts
  packages/core/core-flows/src/customer/workflows/update-addresses.ts
  packages/core/core-flows/src/customer/workflows/update-customers.ts
  packages/core/core-flows/src/order/workflows/cancel-order-fulfillment.ts
  packages/core/core-flows/src/order/workflows/complete-orders.ts
  packages/core/core-flows/src/order/workflows/create-fulfillment.ts
  packages/core/core-flows/src/order/workflows/create-order.ts
  packages/core/core-flows/src/order/workflows/create-shipment.ts
  packages/core/core-flows/src/product/workflows/create-product-options.ts
  packages/core/core-flows/src/product/workflows/create-product-variants.ts
  packages/core/core-flows/src/product/workflows/create-products.ts
  packages/core/core-flows/src/product/workflows/update-product-options.ts
  packages/core/core-flows/src/product/workflows/update-product-variants.ts
  packages/core/core-flows/src/product/workflows/update-products.ts
  packages/core/core-flows/src/promotion/workflows/create-campaigns.ts
  packages/core/core-flows/src/promotion/workflows/create-promotions.ts
  packages/core/core-flows/src/promotion/workflows/update-campaigns.ts
  packages/core/core-flows/src/promotion/workflows/update-promotions.ts
  packages/core/types/src/cart/workflows.ts
  packages/core/types/src/http/common/additional_data.ts
  packages/core/types/src/workflow/order/cancel-fulfillment.ts
  packages/core/types/src/workflow/order/create-fulfillment.ts
  packages/core/types/src/workflow/order/create-shipment.ts
  packages/core/types/src/workflows/products/mutations.ts
Labels: type: chore, team: medusa

#10923 fix(core-flows): return refunded when all captured payments have been refunded
  .changeset/sixty-peaches-hug.md
  packages/core/core-flows/src/order/utils/aggregate-status.ts
Labels: type: bug, automerge, team: medusa

#10888 fix(dashboard, core-flows): improvements to order page on canceled orders
  .changeset/eleven-rules-battle.md
  integration-tests/http/__tests__/order/admin/order.spec.ts
  packages/admin/dashboard/src/routes/orders/order-create-refund/components/create-refund-form/create-refund-form.tsx
  packages/admin/dashboard/src/routes/orders/order-detail/components/order-fulfillment-section/order-fulfillment-section.tsx
  packages/admin/dashboard/src/routes/orders/order-detail/components/order-payment-section/order-payment-section.tsx
  packages/admin/dashboard/src/routes/orders/order-detail/components/order-summary-section/order-summary-section.tsx
  packages/core/core-flows/src/order/workflows/cancel-order.ts
  packages/core/core-flows/src/order/workflows/payments/create-order-refund-credit-lines.ts
  packages/medusa/src/api/admin/orders/[id]/cancel/route.ts
Labels: type: bug, automerge, team: medusa

#10942 docs-util: remove duplicate union children
  www/utils/packages/utils/src/get-type-children.ts
Labels: type: docs, team: medusa

#10941 feat(medusa,framework,cli,admin-bundler): Integrate admin extensions into medusa build:plugin
  .changeset/eight-nails-act.md
  packages/admin/admin-bundler/package.json
  packages/admin/admin-bundler/src/index.ts
  packages/admin/admin-bundler/src/lib/plugin.ts
  packages/cli/medusa-cli/package.json
  packages/core/framework/src/build-tools/compiler.ts
  packages/medusa/src/commands/plugin/build.ts
  yarn.lock
Labels: automerge, type: feature, team: medusa

#10956 docs: small typo fix
  www/apps/resources/app/commerce-modules/product/links-to-other-modules/page.mdx
Labels: type: docs, team: medusa

#10954 docs: handle step tooltip bug in safari
  www/packages/docs-ui/src/components/WorkflowDiagram/Common/Node/index.tsx
  www/packages/docs-ui/src/utils/get-os-shortcut.ts
  www/packages/docs-ui/src/utils/index.ts
  www/packages/docs-ui/src/utils/os-browser-utils.ts
Labels: type: docs, team: medusa

#10963 docs-util: add exception for workflow examples modification + show summary instead of comment
  www/utils/packages/typedoc-plugin-markdown-medusa/src/resources/helpers/workflow-diagram.ts
  www/utils/packages/typedoc-plugin-markdown-medusa/src/resources/helpers/workflow-examples.ts
  www/utils/packages/utils/src/examples-utils.ts
Labels: type: docs, team: medusa

#10968 feat(core-flows): validate cart complete shipping
  integration-tests/http/__tests__/cart/store/cart.spec.ts
  packages/core/core-flows/src/cart/steps/validate-shipping.ts
  packages/core/core-flows/src/cart/utils/fields.ts
  packages/core/core-flows/src/cart/workflows/complete-cart.ts
Labels: type: feature, team: medusa

#10945 feat(dashboard, core-flows, medusa, types): select Shipping Option when creating fulfillment
  packages/admin/dashboard/src/i18n/translations/$schema.json
  packages/admin/dashboard/src/i18n/translations/en.json
  packages/admin/dashboard/src/routes/orders/order-create-fulfillment/components/order-create-fulfillment-form/constants.ts
  packages/admin/dashboard/src/routes/orders/order-create-fulfillment/components/order-create-fulfillment-form/order-create-fulfillment-form.tsx
  packages/admin/dashboard/src/routes/orders/order-create-fulfillment/components/order-create-fulfillment-form/order-create-fulfillment-item.tsx
  packages/admin/dashboard/src/routes/orders/order-create-fulfillment/order-create-fulfillments.tsx
  packages/core/core-flows/src/order/workflows/create-fulfillment.ts
  packages/core/types/src/http/order/admin/payload.ts
  packages/core/types/src/workflow/order/create-fulfillment.ts
  packages/medusa/src/api/admin/orders/validators.ts
Labels: type: feature, team: medusa

#10958 fix(core-flows): missing variable of when condition
  .changeset/gorgeous-comics-compete.md
  packages/core/core-flows/src/payment/workflows/process-payment.ts
Labels: type: bug, team: medusa

#10966 chore(core-flows,types): improve TSDocs of product workflows
  packages/core/core-flows/src/product/steps/batch-link-products-collection.ts
  packages/core/core-flows/src/product/steps/batch-link-products-in-category.ts
  packages/core/core-flows/src/product/steps/create-product-options.ts
  packages/core/core-flows/src/product/steps/create-product-variants.ts
  packages/core/core-flows/src/product/steps/create-products.ts
  packages/core/core-flows/src/product/steps/create-variant-pricing-link.ts
  packages/core/core-flows/src/product/steps/delete-collections.ts
  packages/core/core-flows/src/product/steps/delete-product-options.ts
  packages/core/core-flows/src/product/steps/delete-product-tags.ts
  packages/core/core-flows/src/product/steps/delete-product-types.ts
  packages/core/core-flows/src/product/steps/delete-product-variants.ts
  packages/core/core-flows/src/product/steps/delete-products.ts
  packages/core/core-flows/src/product/steps/generate-product-csv.ts
  packages/core/core-flows/src/product/steps/get-all-products.ts
  packages/core/core-flows/src/product/steps/get-products.ts
  packages/core/core-flows/src/product/steps/get-variant-availability.ts
  packages/core/core-flows/src/product/steps/get-variant-pricing-link.ts
  packages/core/core-flows/src/product/steps/group-products-for-batch.ts
  packages/core/core-flows/src/product/steps/index.ts
  packages/core/core-flows/src/product/steps/parse-product-csv.ts
  packages/core/core-flows/src/product/steps/update-collections.ts
  packages/core/core-flows/src/product/steps/update-product-options.ts
  packages/core/core-flows/src/product/steps/update-product-tags.ts
  packages/core/core-flows/src/product/steps/update-product-types.ts
  packages/core/core-flows/src/product/steps/update-product-variants.ts
  packages/core/core-flows/src/product/steps/update-products.ts
  packages/core/core-flows/src/product/steps/wait-confirmation-product-import.ts
  packages/core/core-flows/src/product/workflows/batch-link-products-collection.ts
  packages/core/core-flows/src/product/workflows/batch-product-variants.ts
  packages/core/core-flows/src/product/workflows/batch-products-in-category.ts
  packages/core/core-flows/src/product/workflows/batch-products.ts
  packages/core/core-flows/src/product/workflows/create-collections.ts
  packages/core/core-flows/src/product/workflows/create-product-tags.ts
  packages/core/core-flows/src/product/workflows/create-product-types.ts
  packages/core/core-flows/src/product/workflows/create-products.ts
  packages/core/core-flows/src/product/workflows/delete-collections.ts
  packages/core/core-flows/src/product/workflows/delete-product-options.ts
  packages/core/core-flows/src/product/workflows/delete-product-tags.ts
  packages/core/core-flows/src/product/workflows/delete-product-types.ts
  packages/core/core-flows/src/product/workflows/delete-product-variants.ts
  packages/core/core-flows/src/product/workflows/delete-products.ts
  packages/core/core-flows/src/product/workflows/export-products.ts
  packages/core/core-flows/src/product/workflows/import-products.ts
  packages/core/core-flows/src/product/workflows/update-collections.ts
  packages/core/core-flows/src/product/workflows/update-product-tags.ts
  packages/core/core-flows/src/product/workflows/update-product-types.ts
  packages/core/core-flows/src/product/workflows/upsert-variant-prices.ts
  packages/core/types/src/common/batch.ts
  packages/core/types/src/workflow/product-category/index.ts
  packages/core/types/src/workflow/product/export-products.ts
  packages/core/types/src/workflow/product/import-products.ts
  packages/core/utils/src/product/get-variant-availability.ts
Labels: type: chore, team: medusa

#10978 docs: fixes to database transaction docs
  www/apps/book/app/learn/fundamentals/modules/db-operations/page.mdx
Labels: type: docs, team: medusa

#10960 feat(core, medusa, cli): Enable migration scripts
  .changeset/six-bears-vanish.md
  packages/cli/medusa-cli/src/create-cli.ts
  packages/core/framework/package.json
  packages/core/framework/src/index.ts
  packages/core/framework/src/migrations/__tests__/run-migration-scripts.spec.ts
  packages/core/framework/src/migrations/index.ts
  packages/core/framework/src/migrations/migrator.ts
  packages/core/framework/src/migrations/run-migration-scripts.ts
  packages/medusa/src/commands/db/migrate.ts
  packages/medusa/src/commands/db/run-scripts.ts
  packages/medusa/src/commands/db/setup.ts
Labels: type: feature, team: medusa

#10970 fix: Include is default billing and shipping fields in the address re…
  packages/medusa/src/api/store/customers/query-config.ts
Labels: type: bug, team: medusa

#10961 chore(dashboard,icons): Update icons and switch icon in CategoryTree
  .changeset/weak-poems-run.md
  packages/admin/dashboard/src/components/common/sortable-tree/tree-item.tsx
  packages/design-system/icons/src/components/__tests__/house-star.spec.tsx
  packages/design-system/icons/src/components/__tests__/shield-check.spec.tsx
  packages/design-system/icons/src/components/__tests__/tag-illustration.spec.tsx
  packages/design-system/icons/src/components/house-star.tsx
  packages/design-system/icons/src/components/index.ts
  packages/design-system/icons/src/components/shield-check.tsx
  packages/design-system/icons/src/components/square-blue-solid.tsx
  packages/design-system/icons/src/components/square-green-solid.tsx
  packages/design-system/icons/src/components/square-grey-solid.tsx
  packages/design-system/icons/src/components/square-orange-solid.tsx
  packages/design-system/icons/src/components/square-purple-solid.tsx
  packages/design-system/icons/src/components/square-red-solid.tsx
  packages/design-system/icons/src/components/tag-illustration.tsx
Labels: type: bug, team: medusa

#10967 feat(core-flows): validate hook
  .changeset/quiet-beers-compare.md
  integration-tests/modules/__tests__/cart/store/cart.workflows.spec.ts
  packages/core/core-flows/src/cart/steps/validate-cart.ts
  packages/core/core-flows/src/cart/workflows/add-shipping-method-to-cart.ts
  packages/core/core-flows/src/cart/workflows/add-to-cart.ts
  packages/core/core-flows/src/cart/workflows/complete-cart.ts
  packages/core/core-flows/src/cart/workflows/create-carts.ts
  packages/core/core-flows/src/cart/workflows/refresh-cart-items.ts
  packages/core/core-flows/src/cart/workflows/refresh-cart-shipping-methods.ts
  packages/core/core-flows/src/cart/workflows/refresh-payment-collection.ts
  packages/core/core-flows/src/cart/workflows/transfer-cart-customer.ts
  packages/core/core-flows/src/cart/workflows/update-cart-promotions.ts
  packages/core/core-flows/src/cart/workflows/update-cart.ts
  packages/core/core-flows/src/cart/workflows/update-line-item-in-cart.ts
Labels: type: feature, team: medusa

#10899 fix(index): Add type casting to raw order by
  .changeset/nice-tigers-visit.md
  packages/modules/index/integration-tests/__fixtures__/schema.ts
  packages/modules/index/integration-tests/__tests__/query-builder.spec.ts
  packages/modules/index/src/utils/query-builder.ts
Labels: type: bug, automerge, team: medusa

#10975 feat: add support for loading admin extensions from the source
  .changeset/neat-lamps-check.md
  packages/core/framework/src/build-tools/compiler.ts
  packages/core/types/src/common/config-module.ts
  packages/medusa/src/loaders/__tests__/get-resolved-plugins.spec.ts
  packages/medusa/src/loaders/admin.ts
  packages/medusa/src/loaders/helpers/resolve-plugins.ts
Labels: type: feature, team: medusa

#10912 fix: Put routes loader error inline
  packages/medusa/src/loaders/api.ts
Labels: type: bug, team: medusa

#10980 feat: Improvements to payment module and Stripe provider
  packages/core/utils/src/payment/abstract-payment-provider.ts
  packages/modules/payment/integration-tests/__tests__/services/payment-module/index.spec.ts
  packages/modules/payment/src/services/payment-provider.ts
  packages/modules/providers/payment-stripe/src/core/stripe-base.ts
Labels: type: feature, team: medusa

#10987 feat: Remove fields from payment models that were leftovers from v1
  integration-tests/modules/__tests__/payment/payment-session.workflows.spec.ts
  packages/core/core-flows/src/cart/steps/create-payment-collection.ts
  packages/core/core-flows/src/cart/workflows/create-payment-collection-for-cart.ts
  packages/core/core-flows/src/cart/workflows/refresh-payment-collection.ts
  packages/core/core-flows/src/order/workflows/create-order-payment-collection.ts
  packages/core/types/src/http/payment/common.ts
  packages/core/types/src/payment/common.ts
  packages/core/types/src/payment/mutations.ts
  packages/core/types/src/payment/service.ts
  packages/modules/payment/integration-tests/__fixtures__/data.ts
  packages/modules/payment/integration-tests/__tests__/loaders/providers.spec.ts
  packages/modules/payment/integration-tests/__tests__/services/payment-module/index.spec.ts
  packages/modules/payment/src/migrations/.snapshot-medusa-payment.json
  packages/modules/payment/src/migrations/Migration20250115160517.ts
  packages/modules/payment/src/models/payment-collection.ts
  packages/modules/payment/src/models/payment.ts
Labels: type: feature, has: breaking changes, team: medusa

#10995 chore(core-flows,types): improve tsdocs of fulfillment
  packages/core/core-flows/src/fulfillment/steps/add-shipping-options-prices.ts
  packages/core/core-flows/src/fulfillment/steps/calculate-shipping-options-prices.ts
  packages/core/core-flows/src/fulfillment/steps/cancel-fulfillment.ts
  packages/core/core-flows/src/fulfillment/steps/create-fulfillment-set.ts
  packages/core/core-flows/src/fulfillment/steps/create-fulfillment.ts
  packages/core/core-flows/src/fulfillment/steps/create-return-fulfillment.ts
  packages/core/core-flows/src/fulfillment/steps/create-service-zones.ts
  packages/core/core-flows/src/fulfillment/steps/create-shipping-profiles.ts
  packages/core/core-flows/src/fulfillment/steps/delete-fulfillment-sets.ts
  packages/core/core-flows/src/fulfillment/steps/delete-service-zones.ts
  packages/core/core-flows/src/fulfillment/steps/delete-shipping-options.ts
  packages/core/core-flows/src/fulfillment/steps/index.ts
  packages/core/core-flows/src/fulfillment/steps/set-shipping-options-price-sets.ts
  packages/core/core-flows/src/fulfillment/steps/set-shipping-options-prices.ts
  packages/core/core-flows/src/fulfillment/steps/update-fulfillment.ts
  packages/core/core-flows/src/fulfillment/steps/update-service-zones.ts
  packages/core/core-flows/src/fulfillment/steps/update-shipping-option-rules.ts
  packages/core/core-flows/src/fulfillment/steps/update-shipping-profiles.ts
  packages/core/core-flows/src/fulfillment/steps/upsert-shipping-options.ts
  packages/core/core-flows/src/fulfillment/steps/validate-fulfillment-providers.ts
  packages/core/core-flows/src/fulfillment/steps/validate-shipment.ts
  packages/core/core-flows/src/fulfillment/steps/validate-shipping-option-prices.ts
  packages/core/core-flows/src/fulfillment/workflows/batch-shipping-option-rules.ts
  packages/core/core-flows/src/fulfillment/workflows/calculate-shipping-options-prices.ts
  packages/core/core-flows/src/fulfillment/workflows/cancel-fulfillment.ts
  packages/core/core-flows/src/fulfillment/workflows/create-fulfillment.ts
  packages/core/core-flows/src/fulfillment/workflows/create-return-fulfillment.ts
  packages/core/core-flows/src/fulfillment/workflows/create-service-zones.ts
  packages/core/core-flows/src/fulfillment/workflows/create-shipment.ts
  packages/core/core-flows/src/fulfillment/workflows/create-shipping-options.ts
  packages/core/core-flows/src/fulfillment/workflows/create-shipping-profiles.ts
  packages/core/core-flows/src/fulfillment/workflows/delete-fulfillment-sets.ts
  packages/core/core-flows/src/fulfillment/workflows/delete-service-zones.ts
  packages/core/core-flows/src/fulfillment/workflows/delete-shipping-options.ts
  packages/core/core-flows/src/fulfillment/workflows/mark-fulfillment-as-delivered.ts
  packages/core/core-flows/src/fulfillment/workflows/update-fulfillment.ts
  packages/core/core-flows/src/fulfillment/workflows/update-service-zones.ts
  packages/core/core-flows/src/fulfillment/workflows/update-shipping-options.ts
  packages/core/core-flows/src/fulfillment/workflows/update-shipping-profiles.ts
  packages/core/types/src/fulfillment/provider.ts
  packages/core/types/src/fulfillment/workflows.ts
  packages/core/types/src/pricing/common/price-rule.ts
  packages/core/types/src/workflow/fulfillment/calculate-shipping-options-prices.ts
  packages/core/types/src/workflow/fulfillment/create-fulfillment.ts
  packages/core/types/src/workflow/fulfillment/create-shipping-options.ts
  packages/core/types/src/workflow/fulfillment/delete-shipping-options.ts
  packages/core/types/src/workflow/fulfillment/service-zones.ts
  packages/core/types/src/workflow/fulfillment/shipping-profiles.ts
  packages/core/types/src/workflow/fulfillment/update-shipping-options.ts
Labels: type: chore, team: medusa

#10993 chore(core-flows): improve TSDocs of customer and customer groups workflows / steps
  packages/core/core-flows/src/cart/workflows/add-shipping-method-to-cart.ts
  packages/core/core-flows/src/cart/workflows/add-to-cart.ts
  packages/core/core-flows/src/cart/workflows/complete-cart.ts
  packages/core/core-flows/src/cart/workflows/create-carts.ts
  packages/core/core-flows/src/cart/workflows/refresh-cart-items.ts
  packages/core/core-flows/src/cart/workflows/refresh-cart-shipping-methods.ts
  packages/core/core-flows/src/cart/workflows/refresh-payment-collection.ts
  packages/core/core-flows/src/cart/workflows/transfer-cart-customer.ts
  packages/core/core-flows/src/cart/workflows/update-cart-promotions.ts
  packages/core/core-flows/src/cart/workflows/update-cart.ts
  packages/core/core-flows/src/cart/workflows/update-line-item-in-cart.ts
  packages/core/core-flows/src/customer-group/steps/create-customer-groups.ts
  packages/core/core-flows/src/customer-group/steps/delete-customer-groups.ts
  packages/core/core-flows/src/customer-group/steps/link-customer-groups-customer.ts
  packages/core/core-flows/src/customer-group/steps/link-customers-customer-group.ts
  packages/core/core-flows/src/customer-group/steps/update-customer-groups.ts
  packages/core/core-flows/src/customer-group/workflows/create-customer-groups.ts
  packages/core/core-flows/src/customer-group/workflows/delete-customer-groups.ts
  packages/core/core-flows/src/customer-group/workflows/link-customer-groups-customer.ts
  packages/core/core-flows/src/customer-group/workflows/link-customers-customer-group.ts
  packages/core/core-flows/src/customer-group/workflows/update-customer-groups.ts
  packages/core/core-flows/src/customer/steps/create-addresses.ts
  packages/core/core-flows/src/customer/steps/create-customers.ts
  packages/core/core-flows/src/customer/steps/delete-addresses.ts
  packages/core/core-flows/src/customer/steps/delete-customers.ts
  packages/core/core-flows/src/customer/steps/index.ts
  packages/core/core-flows/src/customer/steps/maybe-unset-default-billing-addresses.ts
  packages/core/core-flows/src/customer/steps/maybe-unset-default-shipping-addresses.ts
  packages/core/core-flows/src/customer/steps/update-addresses.ts
  packages/core/core-flows/src/customer/steps/update-customers.ts
  packages/core/core-flows/src/customer/steps/validate-customer-account-creation.ts
  packages/core/core-flows/src/customer/workflows/create-customer-account.ts
  packages/core/core-flows/src/customer/workflows/delete-addresses.ts
  packages/core/core-flows/src/customer/workflows/delete-customers.ts
  packages/core/core-flows/src/customer/workflows/remove-customer-account.ts
Labels: type: chore, team: medusa

#10990 fix(framework): Exclude .d.ts files from the glob search and fix insert query
  .changeset/tall-gorillas-smash.md
  packages/core/framework/src/migrations/__tests__/run-migration-scripts.spec.ts
  packages/core/framework/src/migrations/migrator.ts
  packages/core/framework/src/migrations/run-migration-scripts.ts
Labels: type: bug, automerge, team: medusa

#10996 chore: lazy import admin-bundler and run scripts during publish
  .changeset/thick-books-walk.md
  packages/medusa/src/commands/plugin/build.ts
  packages/medusa/src/commands/plugin/publish.ts
Labels: type: chore, team: medusa

#10994 feat: Add support for listing saved payment methods in module and Stripe
  packages/core/types/src/payment/common.ts
  packages/core/types/src/payment/provider.ts
  packages/core/utils/src/payment/abstract-payment-provider.ts
  packages/modules/payment/src/joiner-config.ts
  packages/modules/payment/src/providers/system.ts
  packages/modules/payment/src/services/payment-module.ts
  packages/modules/payment/src/services/payment-provider.ts
  packages/modules/providers/payment-stripe/src/core/stripe-base.ts
Labels: type: feature, team: medusa

#11000 chore(core-flows,types): improve tsdocs of pricing-related workflows
  packages/core/core-flows/src/price-list/steps/create-price-list-prices.ts
  packages/core/core-flows/src/price-list/steps/create-price-lists.ts
  packages/core/core-flows/src/price-list/steps/delete-price-lists.ts
  packages/core/core-flows/src/price-list/steps/get-existing-price-lists-price-ids.ts
  packages/core/core-flows/src/price-list/steps/remove-price-list-prices.ts
  packages/core/core-flows/src/price-list/steps/update-price-list-prices.ts
  packages/core/core-flows/src/price-list/steps/update-price-lists.ts
  packages/core/core-flows/src/price-list/steps/validate-price-lists.ts
  packages/core/core-flows/src/price-list/steps/validate-variant-price-links.ts
  packages/core/core-flows/src/price-list/workflows/batch-price-list-prices.ts
  packages/core/core-flows/src/price-list/workflows/create-price-list-prices.ts
  packages/core/core-flows/src/price-list/workflows/create-price-lists.ts
  packages/core/core-flows/src/price-list/workflows/delete-price-lists.ts
  packages/core/core-flows/src/price-list/workflows/remove-price-list-prices.ts
  packages/core/core-flows/src/price-list/workflows/update-price-list-prices.ts
  packages/core/core-flows/src/price-list/workflows/update-price-lists.ts
  packages/core/core-flows/src/pricing/steps/create-price-preferences.ts
  packages/core/core-flows/src/pricing/steps/create-price-sets.ts
  packages/core/core-flows/src/pricing/steps/delete-price-preferences.ts
  packages/core/core-flows/src/pricing/steps/update-price-preferences-as-array.ts
  packages/core/core-flows/src/pricing/steps/update-price-preferences.ts
  packages/core/core-flows/src/pricing/steps/update-price-sets.ts
  packages/core/core-flows/src/pricing/workflows/create-price-preferences.ts
  packages/core/core-flows/src/pricing/workflows/delete-price-preferences.ts
  packages/core/core-flows/src/pricing/workflows/update-price-preferences.ts
  packages/core/types/src/pricing/workflows.ts
  packages/core/types/src/workflow/pricing/index.ts
Labels: type: chore, team: medusa

#11005 chore(js-sdk): update TSDocs of auth callback
  packages/core/js-sdk/src/auth/index.ts
  www/apps/resources/references/js_sdk/auth/Auth/methods/js_sdk.auth.Auth.callback/page.mdx
Labels: type: docs, type: chore, team: medusa

#10950 feat(promotion,dashboard,types,utils,medusa): Add statuses to promotions
  .changeset/long-tigers-sparkle.md
  integration-tests/http/__tests__/campaigns/admin/campaigns.spec.ts
  integration-tests/http/__tests__/cart/store/cart.spec.ts
  integration-tests/http/__tests__/promotions/admin/promotions.spec.ts
  integration-tests/modules/__tests__/cart/store/add-promotions-to-cart.spec.ts
  integration-tests/modules/__tests__/cart/store/carts.spec.ts
  integration-tests/modules/__tests__/cart/store/remove-promotions-from-cart.spec.ts
  packages/admin/dashboard/src/components/search/use-search-results.tsx
  packages/admin/dashboard/src/components/table/table-cells/promotion/status-cell/status-cell.tsx
  packages/admin/dashboard/src/hooks/api/campaigns.tsx
  packages/admin/dashboard/src/i18n/translations/$schema.json
  packages/admin/dashboard/src/i18n/translations/en.json
  packages/admin/dashboard/src/lib/promotions.ts
  packages/admin/dashboard/src/routes/promotions/promotion-create/components/create-promotion-form/create-promotion-form.tsx
  packages/admin/dashboard/src/routes/promotions/promotion-create/components/create-promotion-form/form-schema.ts
  packages/admin/dashboard/src/routes/promotions/promotion-detail/components/promotion-general-section/promotion-general-section.tsx
  packages/admin/dashboard/src/routes/promotions/promotion-edit-details/components/edit-promotion-form/edit-promotion-details-form.tsx
  packages/core/core-flows/src/promotion/workflows/index.ts
  packages/core/core-flows/src/promotion/workflows/update-promotions-status.ts
  packages/core/core-flows/src/promotion/workflows/update-promotions.ts
  packages/core/types/src/http/promotion/admin/payloads.ts
  packages/core/types/src/http/promotion/common.ts
  packages/core/types/src/promotion/common/promotion.ts
  packages/core/utils/src/promotion/index.ts
  packages/medusa/src/api/admin/promotions/query-config.ts
  packages/medusa/src/api/admin/promotions/validators.ts
  packages/modules/promotion/integration-tests/__fixtures__/promotion/index.ts
  packages/modules/promotion/integration-tests/__tests__/services/promotion-module/compute-actions.spec.ts
  packages/modules/promotion/integration-tests/__tests__/services/promotion-module/promotion.spec.ts
  packages/modules/promotion/integration-tests/__tests__/services/promotion-module/register-usage.spec.ts
  packages/modules/promotion/integration-tests/__tests__/services/promotion-module/revert-usage.spec.ts
  packages/modules/promotion/src/migrations/.snapshot-medusa-promotion.json
  packages/modules/promotion/src/migrations/Migration20250113094144.ts
  packages/modules/promotion/src/models/promotion.ts
  packages/modules/promotion/src/services/promotion-module.ts
Labels: automerge, type: feature, team: medusa

#11004 fix(dashboard): delete user messages
  packages/admin/dashboard/src/i18n/translations/$schema.json
  packages/admin/dashboard/src/i18n/translations/en.json
  packages/admin/dashboard/src/routes/users/user-detail/components/user-general-section/user-general-section.tsx
Labels: type: bug, automerge, team: medusa

#11011 chore: fix manage customer groups of customer OAS
  www/utils/generated/oas-output/operations/admin/post_admin_customers_[id]_customer-groups.ts
Labels: type: docs, team: medusa

#11013 chore(core-flows,types): improve TSDocs of inventory-related workflows
  packages/core/core-flows/src/inventory/steps/adjust-inventory-levels.ts
  packages/core/core-flows/src/inventory/steps/attach-inventory-items.ts
  packages/core/core-flows/src/inventory/steps/create-inventory-items.ts
  packages/core/core-flows/src/inventory/steps/create-inventory-levels.ts
  packages/core/core-flows/src/inventory/steps/delete-inventory-items.ts
  packages/core/core-flows/src/inventory/steps/delete-inventory-levels.ts
  packages/core/core-flows/src/inventory/steps/update-inventory-items.ts
  packages/core/core-flows/src/inventory/steps/update-inventory-levels.ts
  packages/core/core-flows/src/inventory/steps/validate-inventory-items.ts
  packages/core/core-flows/src/inventory/steps/validate-inventory-locations.ts
  packages/core/core-flows/src/inventory/steps/validate-singular-inventory-items-for-tags.ts
  packages/core/core-flows/src/inventory/workflows/batch-inventory-item-levels.ts
  packages/core/core-flows/src/inventory/workflows/create-inventory-items.ts
  packages/core/core-flows/src/inventory/workflows/create-inventory-levels.ts
  packages/core/core-flows/src/inventory/workflows/delete-inventory-items.ts
  packages/core/core-flows/src/inventory/workflows/delete-inventory-levels.ts
  packages/core/core-flows/src/inventory/workflows/update-inventory-items.ts
  packages/core/core-flows/src/inventory/workflows/update-inventory-levels.ts
  packages/core/core-flows/src/payment-collection/workflows/create-refund-reasons.ts
  packages/core/core-flows/src/payment-collection/workflows/delete-refund-reasons.ts
  packages/core/core-flows/src/payment-collection/workflows/update-refund-reasons.ts
  packages/core/core-flows/src/reservation/steps/create-reservations.ts
  packages/core/core-flows/src/reservation/steps/delete-reservations-by-line-items.ts
  packages/core/core-flows/src/reservation/steps/delete-reservations.ts
  packages/core/core-flows/src/reservation/steps/update-reservations.ts
  packages/core/core-flows/src/reservation/workflows/create-reservations.ts
  packages/core/core-flows/src/reservation/workflows/delete-reservations.ts
  packages/core/core-flows/src/reservation/workflows/update-reservations.ts
  packages/core/core-flows/src/stock-location/steps/associate-locations-with-fulfillment-sets.ts
  packages/core/core-flows/src/stock-location/steps/create-stock-locations.ts
  packages/core/core-flows/src/stock-location/steps/delete-stock-locations.ts
  packages/core/core-flows/src/stock-location/steps/update-stock-locations.ts
  packages/core/core-flows/src/stock-location/steps/upsert-stock-location-addresses.ts
  packages/core/core-flows/src/stock-location/workflows/create-location-fulfillment-set.ts
  packages/core/core-flows/src/stock-location/workflows/create-stock-locations.ts
  packages/core/core-flows/src/stock-location/workflows/delete-stock-locations.ts
  packages/core/core-flows/src/stock-location/workflows/link-sales-channels-to-stock-location.ts
  packages/core/core-flows/src/stock-location/workflows/update-stock-locations.ts
  packages/core/types/src/inventory/mutations/inventory-item.ts
  packages/core/types/src/inventory/mutations/inventory-level.ts
  packages/core/types/src/inventory/mutations/reservation-item.ts
  packages/core/types/src/stock-location/common.ts
  packages/core/types/src/workflow/reservation/create-reservations.ts
  packages/core/types/src/workflow/reservation/update-reservations.ts
  packages/core/types/src/workflows/stock-locations/mutations.ts
Labels: type: chore, team: medusa

#11012 fix(core-flows,medusa): use deleteRefundReasonsWorkflow in delete /admin/refund-reasons/:id
  .changeset/five-candles-dress.md
  packages/core/core-flows/src/payment-collection/workflows/index.ts
  packages/medusa/src/api/admin/refund-reasons/[id]/route.ts
Labels: type: bug, team: medusa

#11014 chore(core-flows,types): update TSDocs related to promotion workflows
  packages/core/core-flows/src/promotion/steps/add-campaign-promotions.ts
  packages/core/core-flows/src/promotion/steps/add-rules-to-promotions.ts
  packages/core/core-flows/src/promotion/steps/create-campaigns.ts
  packages/core/core-flows/src/promotion/steps/create-promotions.ts
  packages/core/core-flows/src/promotion/steps/delete-campaigns.ts
  packages/core/core-flows/src/promotion/steps/delete-promotions.ts
  packages/core/core-flows/src/promotion/steps/register-usage.ts
  packages/core/core-flows/src/promotion/steps/remove-campaign-promotions.ts
  packages/core/core-flows/src/promotion/steps/remove-rules-from-promotions.ts
  packages/core/core-flows/src/promotion/steps/update-campaigns.ts
  packages/core/core-flows/src/promotion/steps/update-promotion-rules.ts
  packages/core/core-flows/src/promotion/steps/update-promotions.ts
  packages/core/core-flows/src/promotion/workflows/add-or-remove-campaign-promotions.ts
  packages/core/core-flows/src/promotion/workflows/batch-promotion-rules.ts
  packages/core/core-flows/src/promotion/workflows/create-promotion-rules.ts
  packages/core/core-flows/src/promotion/workflows/delete-campaigns.ts
  packages/core/core-flows/src/promotion/workflows/delete-promotion-rules.ts
  packages/core/core-flows/src/promotion/workflows/delete-promotions.ts
  packages/core/core-flows/src/promotion/workflows/update-promotion-rules.ts
  packages/core/core-flows/src/promotion/workflows/update-promotions-status.ts
  packages/core/types/src/promotion/workflows.ts
Labels: type: chore, team: medusa

#11017 chore(core-flows,types): improve TSDocs of user-related workflows
  packages/core/core-flows/src/auth/steps/set-auth-app-metadata.ts
  packages/core/core-flows/src/auth/workflows/generate-reset-password-token.ts
  packages/core/core-flows/src/invite/steps/create-invites.ts
  packages/core/core-flows/src/invite/steps/delete-invites.ts
  packages/core/core-flows/src/invite/steps/refresh-invite-tokens.ts
  packages/core/core-flows/src/invite/steps/validate-token.ts
  packages/core/core-flows/src/invite/workflows/accept-invite.ts
  packages/core/core-flows/src/invite/workflows/create-invites.ts
  packages/core/core-flows/src/invite/workflows/delete-invites.ts
  packages/core/core-flows/src/invite/workflows/refresh-invite-tokens.ts
  packages/core/core-flows/src/user/steps/create-users.ts
  packages/core/core-flows/src/user/steps/delete-users.ts
  packages/core/core-flows/src/user/steps/update-users.ts
  packages/core/core-flows/src/user/workflows/create-user-account.ts
  packages/core/core-flows/src/user/workflows/create-users.ts
  packages/core/core-flows/src/user/workflows/delete-users.ts
  packages/core/core-flows/src/user/workflows/remove-user-account.ts
  packages/core/core-flows/src/user/workflows/update-users.ts
  packages/core/types/src/workflow/invite/accept-invite.ts
  packages/core/types/src/workflow/invite/create-invite.ts
  packages/core/types/src/workflow/invite/delete-invite.ts
  packages/core/types/src/workflow/invite/resend-invite.ts
  packages/core/types/src/workflow/user/create-user.ts
  packages/core/types/src/workflow/user/update-user.ts
Labels: type: chore, team: medusa

#10988 Feat(medusa, cli): plugin db generate
  .changeset/seven-gorillas-smile.md
  packages/cli/medusa-cli/src/create-cli.ts
  packages/medusa/package.json
  packages/medusa/src/commands/plugin/db/generate.ts
  packages/medusa/src/commands/plugin/db/integration-tests/__fixtures__/plugins-1-no-default/src/modules/module-1/index.ts
  packages/medusa/src/commands/plugin/db/integration-tests/__fixtures__/plugins-1-no-default/src/modules/module-1/models/module-model-1.ts
  packages/medusa/src/commands/plugin/db/integration-tests/__fixtures__/plugins-1/src/modules/module-1/index.ts
  packages/medusa/src/commands/plugin/db/integration-tests/__fixtures__/plugins-1/src/modules/module-1/models/module-model-1.ts
  packages/medusa/src/commands/plugin/db/integration-tests/__tests__/plugin-generate.spec.ts
Labels: automerge, type: feature, team: medusa

#9848 fix: Don't store JWT token in an SSR environment
  packages/medusa-js/src/jwt-token-manager.ts
Labels: automerge

#11018 chore(core-flows, types): improve TSDocs of tax and region related workflows
  packages/core/core-flows/src/region/steps/create-regions.ts
  packages/core/core-flows/src/region/steps/delete-regions.ts
  packages/core/core-flows/src/region/steps/index.ts
  packages/core/core-flows/src/region/steps/set-regions-payment-providers.ts
  packages/core/core-flows/src/region/steps/update-regions.ts
  packages/core/core-flows/src/region/workflows/create-regions.ts
  packages/core/core-flows/src/region/workflows/delete-regions.ts
  packages/core/core-flows/src/region/workflows/update-regions.ts
  packages/core/core-flows/src/tax/steps/create-tax-rate-rules.ts
  packages/core/core-flows/src/tax/steps/create-tax-rates.ts
  packages/core/core-flows/src/tax/steps/create-tax-regions.ts
  packages/core/core-flows/src/tax/steps/delete-tax-rate-rules.ts
  packages/core/core-flows/src/tax/steps/delete-tax-rates.ts
  packages/core/core-flows/src/tax/steps/delete-tax-regions.ts
  packages/core/core-flows/src/tax/steps/get-item-tax-lines.ts
  packages/core/core-flows/src/tax/steps/list-tax-rate-ids.ts
  packages/core/core-flows/src/tax/steps/list-tax-rate-rule-ids.ts
  packages/core/core-flows/src/tax/steps/update-tax-rates.ts
  packages/core/core-flows/src/tax/steps/update-tax-regions.ts
  packages/core/core-flows/src/tax/workflows/create-tax-rate-rules.ts
  packages/core/core-flows/src/tax/workflows/create-tax-rates.ts
  packages/core/core-flows/src/tax/workflows/create-tax-regions.ts
  packages/core/core-flows/src/tax/workflows/delete-tax-rate-rules.ts
  packages/core/core-flows/src/tax/workflows/delete-tax-rates.ts
  packages/core/core-flows/src/tax/workflows/delete-tax-regions.ts
  packages/core/core-flows/src/tax/workflows/set-tax-rate-rules.ts
  packages/core/core-flows/src/tax/workflows/update-tax-rates.ts
  packages/core/core-flows/src/tax/workflows/update-tax-regions.ts
  packages/core/types/src/workflow/region/create-regions.ts
Labels: type: chore, team: medusa

#11010 docs: fix select code blocks in UI docs
  www/packages/docs-ui/src/components/CodeBlock/index.tsx
  www/packages/tailwind/base.tailwind.config.js
Labels: type: docs, team: medusa

#10992 docs: update payment docs after removing fields
  www/apps/resources/app/commerce-modules/payment/page.mdx
  www/apps/resources/app/commerce-modules/payment/payment-flow/page.mdx
  www/apps/resources/generated/edit-dates.mjs
Labels: type: docs, team: medusa

#10991 chore(framework): update the TSDocs for a plugin in the medusa config
  packages/core/framework/src/config/types.ts
Labels: type: chore, team: medusa

#11024 fix(core-flows): cart validate sales channel
  integration-tests/http/__tests__/shipping-option/store/shipping-option.spec.ts
  packages/core/core-flows/src/cart/steps/validate-sales-channel.ts
  packages/core/core-flows/src/cart/workflows/create-carts.ts
  packages/core/core-flows/src/cart/workflows/update-cart.ts
Labels: type: bug, team: medusa

#11022 fix(cli): fix command description for plugin:db:generate
  .changeset/warm-pianos-design.md
  packages/cli/medusa-cli/src/create-cli.ts
Labels: type: bug, team: medusa

#10999 fix(dashboard): invite UI tweaks
  packages/admin/dashboard/src/components/common/logo-box/avatar-box.tsx
  packages/admin/dashboard/src/routes/invite/invite.tsx
Labels: type: bug, team: medusa

#11046 chore(core-flows): general fixes to core-flows TSDocs
  packages/core/core-flows/src/api-key/workflows/link-sales-channels-to-publishable-key.ts
  packages/core/core-flows/src/fulfillment/workflows/create-return-fulfillment.ts
  packages/core/core-flows/src/order/workflows/claim/remove-claim-item-action.ts
  packages/core/core-flows/src/order/workflows/create-or-update-order-payment-collection.ts
  packages/core/core-flows/src/order/workflows/create-order.ts
  packages/core/core-flows/src/order/workflows/return/cancel-return.ts
  packages/core/core-flows/src/payment/workflows/refund-payments.ts
  packages/core/core-flows/src/price-list/workflows/delete-price-lists.ts
  packages/core/core-flows/src/product/workflows/batch-product-variants.ts
  packages/core/core-flows/src/promotion/workflows/create-promotion-rules.ts
  packages/core/core-flows/src/region/workflows/create-regions.ts
  packages/core/core-flows/src/reservation/workflows/delete-reservations-by-line-items.ts
  packages/core/core-flows/src/store/workflows/delete-stores.ts
Labels: type: chore, team: medusa

#11049 fix: missing dependencies in the framework package
  .changeset/witty-mugs-confess.md
  packages/core/framework/package.json
  packages/core/framework/src/zod/zod-helpers.ts
  yarn.lock
Labels: type: bug, automerge, team: medusa

#11054 docs: add search to workflows reference
  www/apps/book/components/Homepage/TopSection/index.tsx
  www/apps/resources/app/medusa-workflows-reference/page.mdx
  www/packages/docs-ui/package.json
  www/packages/docs-ui/src/components/Card/Layout/Default/index.tsx
  www/packages/docs-ui/src/components/Card/index.tsx
  www/packages/docs-ui/src/components/Icons/Book/index.tsx
  www/packages/docs-ui/src/components/Icons/index.tsx
  www/packages/docs-ui/src/components/Input/Search/index.tsx
  www/packages/docs-ui/src/components/Kbd/index.tsx
  www/packages/docs-ui/src/components/MainNav/DesktopMenu/index.tsx
  www/packages/docs-ui/src/components/index.ts
  www/packages/docs-ui/src/hooks/use-child-docs/index.tsx
  www/packages/docs-ui/src/utils/get-local-search.ts
  www/packages/docs-ui/src/utils/index.ts
  www/yarn.lock
Labels: type: docs, team: medusa

#11019 fix(dashboard): create sales channel toast type
  packages/admin/dashboard/src/routes/sales-channels/sales-channel-create/components/create-sales-channel-form/create-sales-channel-form.tsx
Labels: automerge

#11039 feat: Add translations for Macedonian
  packages/admin/dashboard/src/i18n/languages.ts
  packages/admin/dashboard/src/i18n/translations/index.ts
  packages/admin/dashboard/src/i18n/translations/mk.json
Labels: automerge, type: feature, team: medusa

#11055 fix(medusa): use correct request and response types for batch location levels route
  .changeset/purple-schools-listen.md
  packages/core/types/src/http/inventory-level/admin/payloads.ts
  packages/core/types/src/http/inventory-level/admin/responses.ts
  packages/medusa/src/api/admin/inventory-items/location-levels/batch/route.ts
Labels: type: bug, automerge, team: medusa

#10964 fix(dashboard,js-sdk,types): Remove redundant body for markAsDelivered
  .changeset/brave-students-sneeze.md
  packages/admin/dashboard/src/hooks/api/orders.tsx
  packages/admin/dashboard/src/routes/orders/order-detail/components/order-fulfillment-section/order-fulfillment-section.tsx
  packages/core/js-sdk/src/admin/order.ts
  packages/core/types/src/http/order/admin/payload.ts
Labels: type: bug, automerge, team: medusa

#11072 fix(framework): migration scripts regexp
  .changeset/nervous-carrots-draw.md
  packages/core/framework/package.json
  packages/core/framework/src/migrations/__fixtures__/project/migration-scripts/test.d.ts
  packages/core/framework/src/migrations/__fixtures__/project/migration-scripts/test.ts
  packages/core/framework/src/migrations/__tests__/run-migration-scripts.spec.ts
  packages/core/framework/src/migrations/migrator.ts
  packages/medusa/src/commands/plugin/db/generate.ts
Labels: type: bug, automerge, team: medusa

#11071 fix(create-medusa-app): fix database name from input not used in setup
  .changeset/light-fireants-attend.md
  packages/cli/create-medusa-app/src/utils/create-db.ts
  packages/cli/create-medusa-app/src/utils/project-creator/medusa-project-creator.ts
Labels: type: bug, team: medusa

#11063 feat: Add support for creating payment methods to payment module
  integration-tests/modules/__tests__/cart/store/cart.workflows.spec.ts
  integration-tests/modules/__tests__/cart/store/carts.spec.ts
  packages/core/types/src/payment/common.ts
  packages/core/types/src/payment/mutations.ts
  packages/core/types/src/payment/provider.ts
  packages/core/types/src/payment/service.ts
  packages/core/utils/src/payment/abstract-payment-provider.ts
  packages/modules/payment/src/providers/system.ts
  packages/modules/payment/src/services/payment-module.ts
  packages/modules/payment/src/services/payment-provider.ts
  packages/modules/providers/payment-stripe/src/core/stripe-base.ts
Labels: automerge, type: feature, team: medusa

#11047 fix(event): Subscriber ID miss usage
  .changeset/green-poets-teach.md
  packages/core/utils/src/event-bus/__tests__/abstract-event-bus-module.spec.ts
  packages/core/utils/src/event-bus/index.ts
  packages/modules/event-bus-local/src/services/event-bus-local.ts
Labels: type: bug, automerge, team: medusa

#11048 fix: Unique constraint should account for soft deleted records
  .changeset/red-mangos-complain.md
  packages/core/utils/src/dml/__tests__/entity-builder.spec.ts
  packages/core/utils/src/dml/helpers/entity-builder/define-relationship.ts
  packages/core/utils/src/modules-sdk/mikro-orm-cli-config-builder.ts
  packages/modules/cart/src/migrations/.snapshot-medusa-cart.json
  packages/modules/cart/src/migrations/Migration20250120115059.ts
  packages/modules/fulfillment/src/migrations/.snapshot-medusa-fulfillment.json
  packages/modules/fulfillment/src/migrations/Migration20250120115002.ts
  packages/modules/notification/src/migrations/.snapshot-medusa-notification.json
  packages/modules/notification/src/migrations/Migration20250120110514.ts
  packages/modules/payment/src/migrations/.snapshot-medusa-payment.json
  packages/modules/payment/src/migrations/Migration20250120110552.ts
  packages/modules/promotion/src/migrations/.snapshot-medusa-promotion.json
  packages/modules/promotion/src/migrations/Migration20250120110700.ts
  packages/modules/region/src/migrations/.snapshot-medusa-region.json
  packages/modules/region/src/migrations/Migration20250120110744.ts
  packages/modules/stock-location/src/migrations/.snapshot-medusa-stock-location.json
  packages/modules/stock-location/src/migrations/Migration20250120110820.ts
  packages/modules/workflow-engine-inmemory/src/models/workflow-execution.ts
  packages/modules/workflow-engine-redis/src/migrations/.snapshot-medusa-workflows.json
  packages/modules/workflow-engine-redis/src/migrations/Migration20250120111059.ts
  packages/modules/workflow-engine-redis/src/models/workflow-execution.ts
Labels: type: bug, automerge, team: medusa

#11073 fix(dashboard): Use date util to properly format date in order details view
  .changeset/slimy-beans-vanish.md
  packages/admin/dashboard/src/routes/orders/order-detail/components/order-general-section/order-general-section.tsx
Labels: type: bug, automerge, team: medusa

#11061 fix(core-flows): change some types to interfaces
  .changeset/dry-mugs-bake.md
  packages/core/core-flows/src/fulfillment/workflows/batch-shipping-option-rules.ts
  packages/core/core-flows/src/inventory/workflows/batch-inventory-item-levels.ts
  packages/core/core-flows/src/product/workflows/batch-product-variants.ts
  packages/core/core-flows/src/product/workflows/batch-products.ts
  packages/core/core-flows/src/promotion/workflows/batch-promotion-rules.ts
Labels: type: bug, team: medusa

#11086 fix(admin-bundler): Fix Vite imports to prevent deprecation warnings
  .changeset/tidy-books-double.md
  packages/admin/admin-bundler/src/lib/plugin.ts
Labels: type: bug, team: medusa

#11074 fix(dashboard): Persist variant_rank
  .changeset/neat-rabbits-teach.md
  packages/admin/dashboard/src/routes/products/product-create/components/product-create-details-form/components/product-create-details-variant-section/product-create-details-variant-section.tsx
  packages/admin/dashboard/src/routes/products/product-create/utils.ts
  packages/admin/dashboard/src/routes/products/product-detail/components/product-variant-section/product-variant-section.tsx
Labels: type: bug, automerge, team: medusa

#11075 fix(ui): Fix position of Checkbox indicator
  .changeset/beige-steaks-clean.md
  packages/design-system/ui/src/components/checkbox/checkbox.tsx
Labels: type: bug, automerge, team: medusa

#10981 fix(dashboard): Add global errorElement
  .changeset/tasty-plums-tan.md
  packages/admin/dashboard/src/providers/router-provider/route-map.tsx
Labels: type: bug, automerge, team: medusa

#11058 feat(dashboard): Refactor Users table to use the new DataTable block
  .changeset/loud-geese-report.md
  packages/admin/dashboard/src/components/data-table/data-table.tsx
  packages/admin/dashboard/src/components/data-table/hooks/general/use-data-table-date-filters.tsx
  packages/admin/dashboard/src/hooks/filters/use-date-filter-options.tsx
  packages/admin/dashboard/src/i18n/translations/$schema.json
  packages/admin/dashboard/src/i18n/translations/en.json
  packages/admin/dashboard/src/routes/customer-groups/customer-group-list/components/customer-group-list-table/customer-group-list-table.tsx
  packages/admin/dashboard/src/routes/products/product-detail/components/product-variant-section/product-variant-section.tsx
  packages/admin/dashboard/src/routes/users/user-list/components/user-list-table/use-user-table-columns.tsx
  packages/admin/dashboard/src/routes/users/user-list/components/user-list-table/use-user-table-query.tsx
  packages/admin/dashboard/src/routes/users/user-list/components/user-list-table/user-list-table.tsx
  packages/admin/dashboard/src/routes/users/user-list/components/user-list-table/user-row-actions.tsx
Labels: automerge, type: feature, team: medusa

#11041 refactor(ui-preset): replace defaultTheme import
  .changeset/wise-spiders-reflect.md
  packages/design-system/ui-preset/src/constants.ts
Labels: automerge

#11087 chore(ui): add tsdocs for DataTable components
  packages/design-system/ui/src/blocks/data-table/components/data-table-action-cell.tsx
  packages/design-system/ui/src/blocks/data-table/components/data-table-command-bar.tsx
  packages/design-system/ui/src/blocks/data-table/components/data-table-filter-bar.tsx
  packages/design-system/ui/src/blocks/data-table/components/data-table-filter-menu.tsx
  packages/design-system/ui/src/blocks/data-table/components/data-table-filter.tsx
  packages/design-system/ui/src/blocks/data-table/components/data-table-pagination.tsx
  packages/design-system/ui/src/blocks/data-table/components/data-table-search.tsx
  packages/design-system/ui/src/blocks/data-table/components/data-table-select-cell.tsx
  packages/design-system/ui/src/blocks/data-table/components/data-table-sorting-icon.tsx
  packages/design-system/ui/src/blocks/data-table/components/data-table-sorting-menu.tsx
  packages/design-system/ui/src/blocks/data-table/components/data-table-table.tsx
  packages/design-system/ui/src/blocks/data-table/components/data-table-toolbar.tsx
  packages/design-system/ui/src/blocks/data-table/data-table.tsx
Labels: type: chore, automerge, team: medusa

#11109 fix(fulfillment): migration so rules
  .changeset/six-walls-smell.md
  packages/modules/fulfillment/src/migrations/Migration20250113122235.ts
Labels: type: bug, automerge, team: medusa

#11113 fix(fulfillment): migration so rules
  packages/modules/fulfillment/src/migrations/Migration20250113122235.ts
Labels: type: bug, automerge, team: medusa

#11110 fix: switch from tsc watch to chokidar
  .changeset/dry-insects-burn.md
  packages/core/framework/package.json
  packages/core/framework/src/build-tools/compiler.ts
  packages/medusa/src/commands/plugin/develop.ts
  yarn.lock
Labels: type: bug, team: medusa

#11112 fix(admin-bundler): Optimize tanstack/react-query
  .changeset/fluffy-cars-yawn.md
  packages/admin/admin-bundler/package.json
  packages/admin/admin-bundler/src/lib/config.ts
  packages/admin/admin-bundler/src/lib/plugin.ts
  packages/admin/dashboard/package.json
  yarn.lock
Labels: type: bug, automerge, team: medusa

#11107 fix(dashboard): Format i18n schema with Prettier
  .changeset/dirty-dancers-cough.md
  packages/admin/dashboard/scripts/i18n/generate-schema.js
Labels: type: bug, automerge, team: medusa

#11116 docs: added note in API reference clarifying what schemas are
  www/apps/api-reference/components/Tags/Section/Schema/index.tsx
  www/apps/api-reference/providers/area.tsx
  www/apps/api-reference/providers/page-title.tsx
  www/packages/docs-ui/src/components/Link/index.tsx
  www/yarn.lock
Labels: type: docs, team: medusa

#11119 docs: update list of routes accepting additional data
  www/apps/book/app/learn/fundamentals/api-routes/additional-data/page.mdx
  www/apps/book/generated/edit-dates.mjs
Labels: type: docs, team: medusa

#11111 fix(core-flows, dashboard): handling fulfillment rules
  packages/admin/dashboard/src/routes/locations/location-service-zone-shipping-option-create/components/create-shipping-options-form/create-shipping-options-form.tsx
  packages/core/core-flows/src/cart/workflows/list-shipping-options-for-cart-with-pricing.ts
  packages/core/core-flows/src/cart/workflows/list-shipping-options-for-cart.ts
Labels: type: bug, automerge, team: medusa

#11108 fix(medusa,cli): Resources not correctly loaded when running the migration scripts
  packages/cli/medusa-cli/src/create-cli.ts
  packages/medusa/src/commands/db/migrate.ts
  packages/medusa/src/commands/db/run-scripts.ts
Labels: type: bug, automerge, team: medusa

#11123 docs: add a note about installing tanstack query as a dev dependency
  www/apps/book/app/learn/customization/customize-admin/route/page.mdx
  www/apps/book/app/learn/customization/customize-admin/widget/page.mdx
  www/apps/book/app/learn/fundamentals/admin/tips/page.mdx
  www/apps/resources/app/admin-components/components/table/page.mdx
  www/apps/resources/app/integrations/guides/sanity/page.mdx
  www/apps/resources/app/js-sdk/page.mdx
Labels: type: docs, team: medusa

#11120 docs-util: fix incorrect workflow extracted in OAS
  www/apps/api-reference/specs/admin/openapi.full.yaml
  www/apps/api-reference/specs/admin/paths/admin_products_import_{transaction_id}_confirm.yaml
  www/utils/generated/oas-output/operations/admin/post_admin_products_import_[transaction_id]_confirm.ts
  www/utils/packages/docs-generator/src/classes/kinds/oas.ts
Labels: type: docs, team: medusa

#11125 docs: clarify condition / variable manipulation restriction for workflows and steps
  www/apps/book/app/learn/fundamentals/workflows/conditions/page.mdx
  www/apps/book/app/learn/fundamentals/workflows/variable-manipulation/page.mdx
Labels: type: docs, team: medusa

#11128 typo
  www/apps/resources/app/commerce-modules/cart/events/_content.mdx
Labels: type: docs, automerge

#11138 docs: document workflow retention
  www/apps/book/app/learn/fundamentals/workflows/long-running-workflow/page.mdx
  www/apps/book/app/learn/fundamentals/workflows/store-executions/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/sidebar.mjs
Labels: type: docs, team: medusa

#11136 chore(utils): patch unique index migration
  .changeset/fifty-geckos-end.md
  packages/core/utils/src/dal/mikro-orm/__tests__/ts-migration-generator.spec.ts
  packages/core/utils/src/dal/mikro-orm/mikro-orm-create-connection.ts
Labels: type: chore, team: medusa

#11143 docs: add troubleshooting for cloudflare s3
  www/apps/resources/app/architectural-modules/file/s3/page.mdx
  www/apps/resources/app/troubleshooting/_sections/s3/cloudflare-checksum.mdx
  www/apps/resources/app/troubleshooting/s3/page.mdx
  www/apps/resources/generated/edit-dates.mjs
  www/apps/resources/generated/files-map.mjs
Labels: type: docs, team: medusa

#11122 docs: fix sidebar items not showing if they have same title in API reference
  www/apps/api-reference/components/Tags/Paths/index.tsx
  www/apps/api-reference/components/Tags/Section/Schema/index.tsx
  www/apps/api-reference/providers/base-specs.tsx
  www/packages/docs-ui/src/providers/Sidebar/index.tsx
  www/packages/types/src/sidebar.ts
Labels: type: docs, team: medusa

#11139 docs: generate sidebar for main docs
  www/apps/book/config/sidebar.tsx
  www/apps/book/generated/sidebar.mjs
  www/apps/book/scripts/prepare.mjs
  www/apps/book/sidebar.mjs
  www/packages/build-scripts/src/generate-sidebar.ts
  www/packages/build-scripts/src/utils/number-sidebar-items.ts
Labels: type: docs, team: medusa

#11155 docs: fix current sidebar not found
  www/packages/docs-ui/src/providers/Sidebar/index.tsx
Labels: type: docs, team: medusa

#11057 feat(medusa,product,types): product type & tag store missing endpoints
  integration-tests/http/__tests__/product-tag/store/product-tag.spec.ts
  integration-tests/http/__tests__/product-type/store/product-type.spec.ts
  packages/core/types/src/http/product-category/store/queries.ts
  packages/core/types/src/http/product-tag/store/index.ts
  packages/core/types/src/http/product-tag/store/responses.ts
  packages/core/types/src/http/product-type/common.ts
  packages/core/types/src/http/product-type/store/index.ts
  packages/core/types/src/http/product-type/store/queries.ts
  packages/core/types/src/http/product-type/store/responses.ts
  packages/medusa/src/api/middlewares.ts
  packages/medusa/src/api/store/product-tags/[id]/route.ts
  packages/medusa/src/api/store/product-tags/middlewares.ts
  packages/medusa/src/api/store/product-tags/query-config.ts
  packages/medusa/src/api/store/product-tags/route.ts
  packages/medusa/src/api/store/product-tags/validators.ts
  packages/medusa/src/api/store/product-types/[id]/route.ts
  packages/medusa/src/api/store/product-types/middlewares.ts
  packages/medusa/src/api/store/product-types/query-config.ts
  packages/medusa/src/api/store/product-types/route.ts
  packages/medusa/src/api/store/product-types/validators.ts
  packages/modules/product/src/models/product-type.ts
  packages/modules/product/src/models/product.ts
Labels: type: feature, team: medusa

#11146 docs: add updates documentation
  www/apps/book/app/learn/installation/page.mdx
  www/apps/book/app/learn/update/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/generated/sidebar.mjs
  www/apps/book/sidebar.mjs
  www/apps/ui/src/content/docs/installation/standalone-project.mdx
Labels: type: docs, automerge, team: medusa

#11162 docs: fix tanstack query version
  www/apps/book/app/learn/customization/customize-admin/route/page.mdx
  www/apps/book/app/learn/customization/customize-admin/widget/page.mdx
  www/apps/book/app/learn/fundamentals/admin/tips/page.mdx
  www/apps/resources/app/admin-components/components/table/page.mdx
  www/apps/resources/app/integrations/guides/sanity/page.mdx
  www/apps/resources/app/js-sdk/page.mdx
Labels: type: docs, team: medusa

#11095 docs: add documentation for DataTable
  www/apps/api-reference/package.json
  www/apps/book/app/learn/customization/customize-admin/route/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/resources/app/admin-components/components/data-table/page.mdx
  www/apps/resources/app/admin-components/components/table/page.mdx
  www/apps/resources/generated/edit-dates.mjs
  www/apps/resources/generated/files-map.mjs
  www/apps/resources/generated/sidebar.mjs
  www/apps/ui/package.json
  www/apps/ui/src/components/component-example.tsx
  www/apps/ui/src/config/docs.tsx
  www/apps/ui/src/content/docs/components/data-table.mdx
  www/apps/ui/src/content/docs/components/table.mdx
  www/apps/ui/src/examples/data-table-commands.tsx
  www/apps/ui/src/examples/data-table-custom-cell.tsx
  www/apps/ui/src/examples/data-table-demo.tsx
  www/apps/ui/src/examples/data-table-filters-date.tsx
  www/apps/ui/src/examples/data-table-filters-initial.tsx
  www/apps/ui/src/examples/data-table-filters.tsx
  www/apps/ui/src/examples/data-table-pagination.tsx
  www/apps/ui/src/examples/data-table-search.tsx
  www/apps/ui/src/examples/data-table-sorting-initial.tsx
  www/apps/ui/src/examples/data-table-sorting.tsx
  www/apps/ui/src/registries/example-registry.tsx
  www/apps/ui/src/specs/DataTable/DataTable.ActionCell.json
  www/apps/ui/src/specs/DataTable/DataTable.CommandBar.json
  www/apps/ui/src/specs/DataTable/DataTable.Filter.json
  www/apps/ui/src/specs/DataTable/DataTable.FilterBar.json
  www/apps/ui/src/specs/DataTable/DataTable.FilterMenu.json
  www/apps/ui/src/specs/DataTable/DataTable.Pagination.json
  www/apps/ui/src/specs/DataTable/DataTable.Search.json
  www/apps/ui/src/specs/DataTable/DataTable.SelectCell.json
  www/apps/ui/src/specs/DataTable/DataTable.SortingIcon.json
  www/apps/ui/src/specs/DataTable/DataTable.SortingMenu.json
  www/apps/ui/src/specs/DataTable/DataTable.Table.json
  www/apps/ui/src/specs/DataTable/DataTable.json
  www/apps/ui/src/specs/DataTableContextProvider/DataTableContextProvider.json
  www/apps/ui/src/specs/DataTableEmptyStateDisplay/DataTableEmptyStateDisplay.json
  www/apps/ui/src/specs/DataTableFilterBarSkeleton/DataTableFilterBarSkeleton.json
  www/apps/ui/src/specs/DataTableFilterDateContent/DataTableFilterDateContent.json
  www/apps/ui/src/specs/DataTableFilterMenuSkeleton/DataTableFilterMenuSkeleton.json
  www/apps/ui/src/specs/DataTableFilterRadioContent/DataTableFilterRadioContent.json
  www/apps/ui/src/specs/DataTableFilterSelectContent/DataTableFilterSelectContent.json
  www/apps/ui/src/specs/DataTablePaginationSkeleton/DataTablePaginationSkeleton.json
  www/apps/ui/src/specs/DataTableSearchSkeleton/DataTableSearchSkeleton.json
  www/apps/ui/src/specs/DataTableSelectHeader/DataTableSelectHeader.json
  www/apps/ui/src/specs/DataTableSortingMenuSkeleton/DataTableSortingMenuSkeleton.json
  www/apps/ui/src/specs/DataTableTableSkeleton/DataTableTableSkeleton.json
  www/apps/ui/src/specs/DataTableToolbar/DataTableToolbar.json
  www/apps/ui/src/specs/DefaultEmptyStateContent/DefaultEmptyStateContent.json
  www/apps/ui/src/specs/OptionButton/OptionButton.json
  www/apps/ui/src/specs/Skeleton/Skeleton.json
  www/packages/docs-ui/package.json
  www/packages/tailwind/package.json
  www/yarn.lock
Labels: type: docs, team: medusa

#11096 docs: update links to MikroORM docs following update
  www/apps/book/app/learn/fundamentals/modules/db-operations/page.mdx
  www/apps/resources/app/medusa-container-resources/page.mdx
  www/apps/resources/app/test-tools-reference/moduleIntegrationTestRunner/page.mdx
Labels: type: docs, team: medusa

#10989 docs: added plugins documentation
  www/apps/book/app/learn/customization/reuse-customizations/page.mdx
  www/apps/book/app/learn/fundamentals/data-models/manage-relationships/page.mdx
  www/apps/book/app/learn/fundamentals/data-models/relationships/page.mdx
  www/apps/book/app/learn/fundamentals/modules/options/page.mdx
  www/apps/book/app/learn/fundamentals/modules/page.mdx
  www/apps/book/app/learn/fundamentals/plugins/create/page.mdx
  www/apps/book/app/learn/fundamentals/plugins/page.mdx
  www/apps/book/app/learn/introduction/architecture/page.mdx
  www/apps/book/generated/edit-dates.mjs
  www/apps/book/generated/sidebar.mjs
  www/apps/book/sidebar.mjs
  www/apps/resources/app/create-medusa-app/page.mdx
  www/apps/resources/app/medusa-cli/commands/exec/page.mdx
  www/apps/resources/app/medusa-cli/commands/plugin/page.mdx
  www/apps/resources/app/medusa-cli/commands/start-cluster/page.mdx
  www/apps/resources/app/medusa-cli/commands/telemtry/page.mdx
  www/apps/resources/app/plugins/guides/wishlist/page.mdx
  www/apps/resources/app/plugins/page.mdx
  www/apps/resources/app/recipes/commerce-automation/restock-notification/page.mdx
  www/apps/resources/generated/edit-dates.mjs
  www/apps/resources/generated/files-map.mjs
  www/apps/resources/generated/sidebar.mjs
  www/apps/resources/sidebar.mjs
  www/apps/resources/sidebars/plugins.mjs
  www/packages/docs-ui/src/components/WorkflowDiagram/List/index.tsx
  www/packages/docs-ui/src/components/WorkflowDiagram/index.tsx
Labels: type: docs, automerge, team: medusa

#11161 feat: Add tasks orchestrator
  packages/modules/index/integration-tests/__tests__/orchestrator.spec.ts
  packages/modules/index/src/orchestrator/index.ts
Labels: automerge, type: feature, team: medusa

#11121 chore(index): config changes
  packages/modules/index/integration-tests/__fixtures__/update-removed-schema.ts
  packages/modules/index/integration-tests/__fixtures__/updated-schema.ts
  packages/modules/index/integration-tests/__tests__/config-sync.spec.ts
  packages/modules/index/src/migrations/.snapshot-medusa-index.json
  packages/modules/index/src/migrations/Migration20250122154720.ts
  packages/modules/index/src/models/index-metadata.ts
  packages/modules/index/src/models/index.ts
  packages/modules/index/src/services/index-module-service.ts
  packages/modules/index/src/utils/index-metadata-status.ts
Labels: type: chore, automerge, team: medusa

#11169 Feat/index sync data
  packages/core/types/src/modules-sdk/remote-query-object-from-string.ts
  packages/modules/index/integration-tests/__tests__/data-synchronizer.spec.ts
  packages/modules/index/src/migrations/.snapshot-medusa-index.json
  packages/modules/index/src/migrations/Migration20250127105159.ts
  packages/modules/index/src/models/index-relation.ts
  packages/modules/index/src/services/postgres-provider.ts
  packages/modules/index/src/utils/sync/data-synchronizer.ts
Labels: automerge, type: feature, team: medusa

#11172 fix(js-sdk,admin-bundler): Fix qs import
  .changeset/nasty-parrots-push.md
  packages/admin/admin-bundler/src/lib/config.ts
  packages/core/js-sdk/src/client.ts
Labels: type: bug, automerge, team: medusa

#11180 docs-util: fix issue with creating StoreProductType OAS schema
  www/apps/api-reference/specs/admin/components/schemas/StoreProduct.yaml
  www/apps/api-reference/specs/admin/components/schemas/StoreProductType.yaml
  www/apps/api-reference/specs/admin/components/schemas/StoreProductTypeListResponse.yaml
  www/apps/api-reference/specs/admin/components/schemas/StoreProductTypeResponse.yaml
  www/apps/api-reference/specs/admin/openapi.full.yaml
  www/apps/api-reference/specs/store/components/schemas/StoreProduct.yaml
  www/apps/api-reference/specs/store/components/schemas/StoreProductType.yaml
  www/apps/api-reference/specs/store/components/schemas/StoreProductTypeListResponse.yaml
  www/apps/api-reference/specs/store/components/schemas/StoreProductTypeResponse.yaml
  www/apps/api-reference/specs/store/openapi.full.yaml
  www/apps/api-reference/specs/store/openapi.yaml
  www/utils/generated/oas-output/base/store.oas.base.yaml
  www/utils/generated/oas-output/schemas/StoreProduct.ts
  www/utils/generated/oas-output/schemas/StoreProductType.ts
  www/utils/generated/oas-output/schemas/StoreProductTypeListResponse.ts
  www/utils/generated/oas-output/schemas/StoreProductTypeResponse.ts
  www/utils/packages/docs-generator/src/classes/helpers/oas-schema.ts
Labels: type: docs, team: medusa

#11184 docs: fix tables design + update icons package
  www/apps/book/package.json
  www/apps/resources/package.json
  www/apps/user-guide/package.json
  www/packages/docs-ui/src/components/Table/index.tsx
  www/packages/types/package.json
  www/yarn.lock
Labels: type: docs, team: medusa

#11185 docs: add section in update chapter for plugin projects
  www/apps/book/app/learn/update/page.mdx
Labels: type: docs, team: medusa
